<h1> New Nom </h1>

<form action="/noms" method="post">
  <label for="nom">
    Nom:
    <input type="text" name="nom">
  </label>

  <input type="submit" value="Post nom">
</form>

<form action="/noms" method="get">
  <input type="submit" value="See noms">
</form>
