<div>
  <% if session[:user_id] %>
    <p><form action="/peeps/new" method="post">
      Post a Peep:<input type="text" name="peep">
      <input type="submit" value="Pop that peeper">
    </form></p>
  <% end %>
  <h2>Here's what's peeping:</h2>
    <ul id="peeps">
      <% (Peep.all.reverse).each do |peep| %>
        <li>
          <h6><%= name_finder(peep.user_id) %> (<%= username_finder(peep.user_id) %>)
          <p><%= peep.content %></p>
        </li>
      <% end %>
    </ul>
</div>