<% if @user %>
  <h1>Congratulations, <%= @user.email %>! You've successfully signed up to Chitter!</h1>
<% end %>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.peep %><br>
      <i>Peeptime: <%= peep.peeptime %></i>
    </li>
  <% end %>
</ul>
<br>
<br>
<textarea name="newpeep" form="peepform">Write something in here...</textarea>
<form action="/peep" method="post" id="peepform">
  <input type="submit" name="Submit">
</form>
