<h4>Post a new peep:</h4>
<div id="new-peep">
  <form action="/peeps" method="post">
    <textarea type="text" name="text"></textarea>
    <input type="submit" value="post">
  </form>
</div>
<ul>
  <% @peeps.reverse.each do |peep| %>
    <li><%= peep.text %>
    <p>Posted by: @<%= peep.user.username %></p></li>
  <% end %>
</ul>
