<h1><center>Chitter</center></h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.content %></li>
  <% end %>
</ul>

<div id='new-peep'>
  <form action='/peeps' method='post'>
    Message: <input type='text' name='content'>
    <input type='submit' value='Add peep'>
  </form>
</div>
