<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter</title>
  </head>
  <body>
    <h1><%= @current_user.username %>'s Peeps</h1>
    <p>Peeps</p>
    <p><%= @peeps.all_by(@current_user.id).count %></p>
    <table>
      <% @peeps.all_by(@current_user.id).map do |peep| %>
        <tr>
          <td><%= peep.body %></td>
        </tr>
      <% end %>
    </table>
    <form action="/send-peep" method="POST">
      <input type="textarea" class="new-peep" name="new-peep">
      <input type="submit" id="send-peep" value="Send Peep">
    </form>
  </body>
</html>
