<h1>Welcome to Chitter!</h1>
<h3>Log in or sign up below</h3>
<br>
<br>
<form action='/users/new' method='get'>
<input type='submit' name='Sign up' value='Sign up' />
</form>
<br>
<form action='/sessions/new' method='get'>
<input type='submit' name='Sign In' value='Sign In' />
</form>
