<h1><center><img src='http://www.getchitter.com/images/chitter_logo.svg'></center></h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.content %></li>
  <% end %>
</ul>

<div id='new-peep'>
  <form action='/peeps' method='post'>
    Message: <input type='text' name='content'>
    <input type='submit' value='Add peep'>
  </form>
</div>

<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with your registration:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
