<h1><u>WELCOME TO CHITTER!</u></h1>

<h2><u>To submit a new post please use the button below <3!</u></h2>

<form action="/add-post" method="post">
<input type="text" name="add-post">
<input type="submit" value="POST NOW :)">