<div id='new-peep'>
	<form action="/peeps" method="post">
		Add a peep!
		<input type="text" name="peep_text" id="entry-box">
		<input type="submit" value="Peep Peep!" id="submit-buttons">
	</form>
</div>

<div id="peepfeed">Peepfeed:</div>
<ul id="peep-list">
  <% @peeps.reverse_each do |peep| %>
  	<li>
		<div id="text"><%= peep.peep_text %></div>
		Peeped by </span><span id="username"><%= peep.username %>,</span>
		<span id="name"><%= peep.name %></span>
	</li>
   <% end %>
 </ul>