Welcome to Chitter! Please sign in.

<form action='/signin' method='post'>
  Name: <input type='text' name='username'> <br>
  Password: <input type='password' name='password' > <br>
  <input type='submit' value='Sign in'>
</form>

New to Chitter? <a href='/users/new'>Sign up here</a>
