<center>
<br>
<h1 class="title">Welcome to the Chitter</h1>
<br>
<h2 class="currentPeeps">current peeps:</h2>
<br>
<ul>

  <% if current_user %>
    <form id='new-peep' action="/peeps" method="post">
    Peep here: <input type="text" name="message">
    <input type="submit" value="Add peep">
  </form>
  <% end %>

  <% @peeps.reverse.each do |peep| %>
    <% @peeps %> <br>
    <li><%= peep.message %></li>
    <%= peep.created_at.strftime("%I:%M %p") %><br>


  <% end %>
</ul>
<br>



</center>