<% if current_user %>
	<div id='new-peep'>
  		<form action='/peeps' method='post'>
    		<input type='text' size="40" style="font-size: 16px" name='message'>
   			 <input type='submit' value='Peep'>
  		</form>
	</div>
<% end %>
<section class="signupbox">
	<main>
		<ul>
			<% @peeps.each do |peep| %>
				<div class="peep">
    				<li class="name"><%= peep.name %></li> <li class="username">@<%= peep.username %></li>
    				<article><%= peep.message %></article>
    			</div>
  			<% end %>
		</ul>
	</main>
</section>