<center>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<br>
<h1 class="title">Welcome to the Chitter</h1>
<br>
<h2 class="currentPeeps">current peeps:</h2>
<br>
<ul>
  <% @peeps.each do |peep| %>
    <% @peeps %>
    <li><%= peep.message %></li>
  <% end %>
</ul>
<br>

  <form id='new-peep' action="/peeps" method="post">
    Peep here: <input type="text" name="message">
    <input type="submit" value="Add peep">
  </form>

</center>