<html>
  <head>
    <title> Chitter </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body>

      <h1> Chitter </h1>
      <%= yield %>

  </body>

</html>