<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <% if (flash[:errors] != nil) && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if (flash[:notice] != nil) && flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if current_user %>
    Welcome, <%= current_user.email %>
      <form method="POST" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
      <a href="/peeps/new">Create new peep</a>
    <% else %>
      <a href="/users/new">Sign up for Chitter</a><br>
      <a href="/sessions/new">Sign in to Chitter</a>
    <% end %>

    <%= yield %>
  </body>

</html>