<body>
  <% if current_user %>
    Hello <%= current_user.username %>
    <div id='new-peep'>
      <form action='/peeps' method='post'>
      Post a peep: <input type='text' name='content'>
      <input type='submit' value='Add peep'>
      </form>
    </div>

    <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
    </form>
  <% end %>

  <%= yield %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    Sorry, there were the following problems with your registration:
    <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>
</body>