<!DOCTYPE html>
<html>
  <head>
    <title> Tweeter </title>
    <link rel="stylesheet" href="/index.css" type="text/css" />
  </head>
  <body>
    <center>
      <div id='header'>
        <h1> Tweeter </h1>
      </div>
    </center>
    <%=yield %>
  </body>
</html>
