<body>
  <% if current_user %>
    <h1> Welcome, <%= current_user.email %> </h1>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form.
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

<%= yield %>





</body>
