<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <p><a href="/users/new"><button type="button">Become a Chitter Peeper</button></a></p>
    <% if current_peeper %>
    <p> What's peeping <%= current_peeper.name %>?</p>
    <% end %>
    <% if flash[:notice] %>
      <div id="notice" > <%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>