<html>
  <head>
    <title> Chitter </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body>

    <% if session[:user_id] %>
      Welcome <%= User.get(session[:user_id]).username %>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>

     <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <h1> Chitter </h1>
    <%= yield %>

  </body>

</html>