<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <%= @message %>
    <% unless @user.nil? %>
      <p>
      Welcome <%= @user.name %> |
      <a href='/logout'>Log out</a>
      </p>
    <% else %>
      <a href='/users/new'>Sign up</a> |
      <a href='/login'>Log in</a>
    <%end%>

    <%= yield if block_given? %>
  </body>
</html>
