<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <p><a href="/sessions/new"><button type="button">Get back to Peeping</button></a>
      <a href="/users/new"><button type="button">Become a Chitter Peeper</button></a></p>
    <% if current_peeper %>
    <p> What's peeping <%= current_peeper.name %>?</p>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please see the following errors:
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>