<html>
<body>

<h1> Please log in to continue </h1>

<form name ='log_in' action='/sessions/new' method='post'>
  <label for='email'>
  Email <br />
    <input type="text" name="email" required placeholder="Enter a valid email address"><br />
  <label for='password'>
  Password <br />
    <input type="password" name="password" required placeholder="Enter password"> <br />
<button type="submit">Log in</button>
</body>
</html>
