<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
  <h1>Chitter</h1>
    <form action="/log-in" method="POST">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" name="submit" value="Log In">
    </form>
    <a href="/sign-up">Sign Up</a>
  </body>
</html>