<form action='/login' method='post'>
  Username:
  <input type='text' name='username' placeholder='Username'><br>
  Password:
  <input type='password' name='password'><br>
  <input type='submit' value='Log in'>
</form>
