<form action='/user/login' method='post'>
  <label>Username:
  <input type='text' name='username'></label><br>
  <label>Password:
  <input type='password' name='password'></label><br>
  <input type='submit' value='Log in'>
</form>
