<h1> Chitter Log in </h1>
<h2> Welcome back! </h2>

<form action="/login" method="post">
  Email: <input type="text"  name="email_2">
  Password: <input type="password"  name="password_2">
  <button type="submit">Sign up</button>
</form>
