<h2>Welcome to Chitter! Please sign in.</h2>

<form action='/sessions' method='post'>
  Name: <input type='text' name='username'> <br>
  Password: <input type='password' name='password' > <br>
  <input type='submit' value='Sign in'>
</form>