Thank you for joining Chitter! Please enter your information below

<form action='/users/new' method='post'>
  Email:  <input type='email' name='email' > <br>
  Password: <input type='password' name='password' > <br>
  Name: <input type='text' name='name'> <br>
  Username: <input type='text' name='username' > <br>
  <input type='submit' value='Sign up'>
</form>







