<html>
    <head>
        <title>Peep here:</title>
    </head>
    <body>
        <form action="/newpeep" method="POST">
        Type here: <input type='text' name='contents'> <br>
        <input type='submit' value='Submit the form'>
        </form>
    </body>
</html>