<html>
<center>
  <head>
    <link rel='stylesheet' type='text/css' href='style.css' />
  </head>

<container>
  <h1> Peeps</h1>

<form action="/peeps" method='post'>
  <input type="text" name="peep">
  <input type="submit" value="Post">
</form>

<% @peeps.each do |peep| %>
<li> <%= peep %> </li>
 <% end %>

</container>
</center>
</html>
