<title>Chitter!</title>
<head>
  <link rel="shortcut icon" type="image/png" href="https://png.icons8.com/metro/1600/spy-male.png"/>
</head>
<body>
  <div id="navbar">
    <a href="/">Log out ⁉️</a>
  </div>
  <div class="inner">
    <h3 class="title">Message successfully posted!</h3>
    <p class="sub">Status posted! 👍</p>
  </div>

  <div class="inner container">
    <div class="message">

    </div>
  </div>

  <div class="footer">
    <p>&copy; 2017 - 2018 The Best Team 😎 All Rights Reserved</p>
  </div>
</body>

<style>
#navbar {
  overflow: hidden;
  background-color: #48414124;
  width: 100%;
}
/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

body{
  background-color: lightblue;
  margin: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #48414124;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.inner{
  max-width: 940px;
  margin: 0 auto;
}

.title{
  font: 600 2em/1 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  vertical-align: middle;
  line-height: 90px;
  margin: 0;
}

.sub{
  font: 600 20px 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  vertical-align: middle;
}

.container{
  font-size: 16px;
  background: #495C70;
  padding: 30px 5px 400px 5px;
  border: 5px solid #53687E;
}
</style>
