<h1>Welcome to Chitter!</h1>

Please sign up for an account using the form below:
<form action='/users' method='POST'>
  <label for="un">User Name:</label>
  <input type="text" id="un" name="un" required><br>
  <label for="pw">Password:</label>
  <input type="text" id="pw" name="pw" required><br>
  <label for="e-mail">E-mail:</label>
  <input type="email" id="e-mail" name="e-mail" required><br>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br>
  <input type="submit" value="Create account"><br><br>
</form>
