<!DOCTYPE html>
<meta charset=“UTF-8”>
<html>
  <head>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
  </body>
</html>
