<div>
  <form action="/users" method="post">
    Name:<input type="text" name="name" value="<%= @user.name %>">
    Email:<input type="text" name="email" value="<%= @user.email %>">
    Username:<input type="text" name="username" value="<%= @user.username %>">
    Password:<input type="password" name="password">
    Password Confirmation:<input type="password" name="password_confirmation">
    <input type="submit" value="Sign up"
  </form>
</div>