<div>Sign in to Chitter!</div>
<form action="/sign-in" method="post">
  Enter a username: <input type="text" name="username" autofocus />
  Enter a password: <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>
