<form action='/users' method='post'>
  <label>Name:
  <input type='text' name='name' value='<%= @user.name %>'></label><br>
  <label>Email Address:
  <input type='text' name='email' value='<%= @user.email %>' required></label><br>
  <label>Username:
  <input type="text" name="username" value='<%= @user.username %>'></label><br>
  <label>Password:
  <input type="password" name="password"></label><br>
  <label>Confirm Password:
  <input type="password" name="password_confirmation"></label><br>
  <input type='submit' value='Sign up'>
</form>
