<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/new-profile" method="POST">
  <input type="text" name="new email" placeholder="Enter Your Email">
    <input type="text" name="new username" placeholder="Enter a Username">
    <input type="text" name="new password" placeholder="Enter a Password">
    <input type="submit" name="submit" value="Sign Up">
  </form>
</body>
</html>