<div>Fill in the form below to sign-up for Chitter!</div>
<form action="/sign-up" method="post">
  Enter your name: <input type="text" name="name" autofocus />
  Enter your email address: <input type="text" name="email" />
  Enter a username: <input type="text" name="username" />
  Enter a password: <input type="password" name="password" />
  <input type="submit" value="Sign up" />
</form>
