<h1> Chitter Sign Up </h1>
<h2> Sell us your soul, for free </h2>

<form action="/signup" method="post">
  Username: <input type="text" name="Username" value="Username">
  Email: <input type="text" name="Email" value="email">
  Password: <input type="text" name="Password" value="password">
</form>
