<h1> Chitter Sign Up </h1>
<h2> Sell us your soul, for free </h2>

<form action="/signup" method="post">
  Email: <input type="text" name="email" value="email">
  Password: <input type="text" name="password" value="password">
</form>
