<form action='/user/new' method='post'>
  <label>Name:
  <input type='text' name='name'></label><br>
  <label>Email Address:
  <input type='text' name='email'></label><br>
  <label>Username:
  <input type="text" name="username"></label><br>
  <label>Password:
  <input type="password" name="password"></label><br>
  <input type='submit' value='Sign up'>
</form>
