#form_wrapper {
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#form {
  padding: 5px;
  margin-top: 50%;
  text-align: center;
}

#form ul {
  margin: 0 auto;
  padding: 0;
}

#form li {
  list-style: none;
  width: 100%;
  height: 45px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

#form input[type="text"] {
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 3px solid #bbc9db;
  text-decoration: none;
  outline: none;
  color: hsla(257, 96%, 56%, 0.74);
  font-size: 30px;
}

#form input[type="text"]:focus {
  border-color: hsla(258, 96%, 56%, 1);
}

#form ::-webkit-input-placeholder {
  color: #bbc9db;
  font-size: 20px;
}

#form button {
  height: 100%;
  border: none;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  padding: 0;
  background-color: hsla(258, 96%, 56%, 1);
  color: white;
  text-decoration: none;
  outline: none;
  width: 100%;
}

#form button:hover {
  background-color: hsla(257, 96%, 56%, 0.74);
  border-color: white;
  cursor: pointer;
}