body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: left;
  background-color: white;
  color: black;
  margin: 70px auto;
  background-color: hsl(0, 0%, 93%);
}

#home_button {
  background-color: transparent;
  height: 100%;
  border: none;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.03em;
  padding: 0;
  color: white;
  text-decoration: none;
  outline: none;
}

#home_button:hover {
  cursor: pointer;
}

header {
  margin: 0px auto;
  background-color: hsla(258, 96%, 56%, 1);
  height: 40px;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

header > div {
  height: 100%;
  margin: 0;
  float: left;
  width: 42%;
  font-size: 30px;
  color: white;
  letter-spacing: 0.03em;
}

#sessions {
  width: 57%;
}

#new_peep {
  width: 14%;
  text-align: center;
}

header p {
  float: left;
  margin: 0;
}

header nav {
  text-align: right;
  height: 100%;
}

header ul {
	list-style: none;
  padding-left: 0;
  margin: 0;
  height: 100%;
  margin-right: 3%;
}

header li {
  display: inline;
	margin-left: 1%;
  color: grey;
}

#sign_up {
  float: right;
}

#log_in {
  float: right;
  width: 80%;
}

#sessions input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid hsl(257, 90%, 68%);
  height: 20px;
  width: 130px;
  outline: none;
}

#sessions input[type="text"]:focus {
  border-color: white;
}

#sessions ::-webkit-input-placeholder {
  color: hsl(257, 90%, 68%);
  font-size: 12px;
}

#sessions button {
  background-color: transparent;
  border: none;
  height: 37px;
  width: 80px;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.03em;
  padding: 2px;
  color: hsl(257, 90%, 68%);
  text-decoration: none;
  outline: none;
}

#sessions button:hover {
  cursor: pointer;
  color: white;
}

