body
{
    line-height: 1.6em;
}

h1 {
    color: #2A1959;
    border-bottom: 2px solid #2A1959;
}

h2 {
    color: #474B94;
    font-size: 1.2 em;
}

#footer {
    clear: both;
    border-top: 1px solid #2A1959;
    text-align: left;
    height: 50px;
    font-size: 70%;
    width: 100%;
}

#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-a th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
    color: #669;
    padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
    color: #009;
}