#new_user_wrapper {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

#new_user_form {
  margin-top: 50%;
  text-align: center;
}

#new_user_form ul {
  margin: 0 auto;
  padding: 0;
}

#new_user_form li {
  list-style: none;
}

#new_user_form input[type="text"] {
  background-color: transparent;
  height: 40px;
  width: 100%;
  margin: 5px;
  border: none;
  border-bottom: 3px solid #bbc9db;
  text-decoration: none;
  outline: none;
  color: rgba(96, 35, 250, 0.74);
  font-size: 30px;
}

#new_user_form input[type="text"]:focus {
  border-color: hsla(258, 96%, 56%, 1);
}

#new_user_form ::-webkit-input-placeholder {
  color: #bbc9db;
  font-size: 20px;
}