<% if current_user %>
  <form action="/comment" method="post">
    <input type="hidden" name="peep_id" value="<%= peep.id %>">
    <input type="text" name="text">
    <input type="submit" value="Insert comment">
  </form>
<% end %>