<h1>
  Just a few steps away
</h1>

<form action='/sign/up' method='post'>
  <input type='text' name='name' placeholder="Name">
  <input type='text' name='email' placeholder="Email@email.com">
  <input type='text' name='username' placeholder="Username">
  <input type='text' name='password' placeholder="Password">
  <input type='submit' name='submit'>
</form>
