<h1> Welcome to Chitter </h1>

<ul id='homepage'>
  <% @homepage.reverse.each do |homepage| %>
    <li>
      Message: <%= homepage.message %>
      Posted at: <%= homepage.posted_at %>
      <%= Time.now.strftime("%d/%b/%Y %H:%M") %>
    </li>
  <% end %>
</ul>

<form action="/homepage/new_message" method="get">

  <input type="submit" value="Add new message">

</form>

<!-- <a href="/homepage/new_message">Add new message</a> -->
