<h1> New Message </h1>

<form action="/homepage" method="post">
  <label for="message">
  Peep:
  <input type="text" name="message" />
  </label>
  <input type="submit" value="Submit Message">
</form>
