<h1> Register a new user </h1>
<form action = '/user' method = 'POST'>

  <label for="full_name"> full name: </label>
  <input type = "string" name = "full_name"/ id = "full_name">
  <br>
  <label for="user_name"> user name: </label>
  <input type = "string" name = "user_name" id = "user_name"/>
  <br>
  <label for="email"> email: </label>
  <input type = "email" name = "email"/>
  <br>
  <label for="password"> password: </label>
  <input type = "password" name = "password"/>
  <br>
  <label for="password_confirmation"> password confirmation: </label>
  <input type = "password" name = "password_confirmation"/>
  <br>
  <input type = "submit" value = "sign up"/>
</form>
