Please sign up<br><br>

<form action='/user/new' method='post'>
  Email: <input type='text' name='email'><br><br>
  Username: <input type='text' name='username'><br><br>
  Password: <input type='password' name='password'><br><br>
  Password confirmation: <input type='password' name='password_confirm'><br><br>
  Name: <input type='text' name='name'><br><br>
  <input type='submit' value='Sign up'>
</form>
