 <div class="container">
  <div class="columns is-centered">
    
    <form action="/sessions" method="post"> 
      
      <label for="email">Email:
        <input class="input" type="email" name="email"/>
      </label> <br>

      <label for="password">Password:
        <input class="input" type="password" name="password" />
      </label> <br>

      <input class="input is-info has-background-info has-text-white mt-2 pl-2 pr-2 pt-1 pb-1" type="submit" value="Submit" />
    </form>
  </div>
</div>