 <h1>Sign in!</h2>
 <form action="/sessions" method="post"> 
  
  <label for="email">Email:
    <input type="email" name="email"/>
  </label> <br>

  <label for="password">Password:
    <input type="password" name="password" />
  </label> <br>

  <input type="submit" value="Sign in" />
</form>