<html>
<head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 10px;
  text-align: left;
  background: #00BFFF;
  color: Solid #00BFFF;
  font-size: 30px;
}
h1 {
  color: white;
}

.content { 
    max-width: 500px;
    margin: auto;
}
</style>
</head>
<body>

<div class="header">
  <h1>Chitter</h1> 
</form>
</div>
<br>
<div class ="content">
<h2>New cheep</h2>
<form action="/" method="post">
  <textarea row = "5" cols = "40" name="cheep">
  </textarea><br>
  <input type="submit" value="Submit">
</form>
</div>
</body>
</html>