<h1>Feed</h1>

<h3>Hey <%= @user ? @user : 'there' %>!</h3>

<% if @user %>

<p>Check out your feed below</p>

<form action='/sign-out' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Sign out'>
</form>

<p><a href='/user/peep'>Post a peep</a></p>
<% end %>

<% if !@user %>

<p>New user? Why not <a href='/sign-up'>sign up</a>, or <a href='/sign-in'>sign in</a> if you're already registered</p>

<% end %>


<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
  <li>
    <div>
    <%= peep.message %>
  </div>
  <div>
    Posted by: <%= peep.user %>
  </div>
  </li>
<% end %>
</ul>
