<h1> Peep Feed </h1>

<% if current_user %>
<ul id="peep">
  <% @peepsall.reverse.each do |peepall| %>
    <li>
      @<%= peepall.username %>:
       <%= peepall.content %>
      <p><%= peepall.time %></p>
    </li>
  <% end %>
</ul>
  <form action = '/feed/new'>
    <input type='submit' value='Post'>
  </form>
<% end %>
