<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,500' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Chitter Feed</title>
</head>

<body>
  <header class='header'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-md-12'>
          <% if @user %>
            <div class='sign-out'>
              <form action='/sign-out' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <input type='submit' value='Sign out' class='btn'>
              </form>
            </div>
          <% end %>
          <h1 class='text-center'><a href='/'>Chitter</a></h1>
        </div>
      </div>
    </div>
  </header>

  <section class='main'>
    <div class='container'>
      <div class='row'>
        <h1 class='text-center'>Your Chitter Feed</h1>
        <div class='main-content'>
          <div class='col-sm-6 col-xs-12 text-center'>
            <div class='welcome-message col-sm-12'>
              <h3>Hey <%= @user ? @user : 'there' %>!</h3>

              <% if @user %>

              <p>Got something to say?</p>

              <form action='/user/peep' method='get'>
                <input type='submit' value='Post a peep' class='btn btn-lg peep-button'>
              </form>
              <% end %>

              <% if !@user %>

              <p>New user? Why not <a href='/sign-up'>sign up</a>, or <a href='/sign-in'>sign in</a> if you're already registered</p>

              <% end %>
            </div>
          </div>
          <div class='col-sm-6 col-xs-12'>
            <div class='col-sm-12 peep-feed'>
              <ul id='peeps'>
                <% @peeps.reverse.each do |peep| %>
                <li>
                  <div class='each-peep'>
                    <div class='peep-message'>
                      <%= peep.message %>
                    </div>
                    <div class='peep-poster'>
                      Posted by: <%= peep.username %> Time: <%= peep.time_posted.strftime("%I:%M%p,%e %b %Y") %>
                    </div>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </body>
  </html>
