<h1>Feed</h1>
<h3>Hey <%= @user %>!</h3>
<p>Check out your feed below</p>

<form action='/sign-out' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Sign out'>
</form>

<p><a href='/user/peep'>Post a peep</a></p>

<% if @user %>
<ul>
  <% @peeps.each do |peep| %>
  <li>
    <%= peep.message %>
  </li>
<% end %>
</ul>
<% end %>
