<h1> Feed </h1>

<ul id="feed">
  <% @peeps.each do |peep| %>
    <li>
      Message: <%= peep.message %>
      Time: <%= peep.time %>
    </li>
  <% end %>
</ul>

<form action = '/feed/new'>
  <input type='submit' value='Write peep'>
</form>
