<h1> Compose your peep: </h1>

<form action="/feed" method="post">
  <textarea name="textbox" cols="50" rows="5" style="background-color:#FCF5D8;color:#AD8C08;" placeholder="Enter text here">
  </textarea>
<br/>
<input type="submit" value="Post!"/>
</form>
