<h1>Chitter</h1>
<h2>Register now</h2>
<form action="/register/confirm" method="post">
  <input type="hidden" name="date" value="<%= DateTime.now %>">
  First name: <input type="text" name="first_name"/>
  Last name: <input type="text" name="last_name"/>
  <input type="submit" value="Register"/>
</form>
