<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Welcome to Chitter</h1>

      <%= link_to "Create New account", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
