<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="peep_form">
          <%= render 'shared/peep_form' %>
        </section>
      </aside>
      <div class="col-md-8">
      <h3>Peep Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    </div>
    <% else %>
    <div class="center jumbotron">
      <h1>Welcome to Chitter</h1>

      <%= link_to "Create New Account", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <% end %>
  </body>
</html>
