<form action='/maker' method="POST">
  <label for='name'><b>Name</></label>
  <input type='name' name='name'/>
  <label for='email'><b>Email</></label>
  <input type='email' name='email'/>
  <input type='submit' value='Submit'>
</form>