
<fieldset>
  <legend>Messages</legend>

  <ul id='messages'>
  <% @messages.reverse.each do |message| %>
  <li><%= message.sender%>: <%= message.message %><br>(<%=message.time_stamp%>)</li>
  <% end %>
</ul>

</fieldset>


<form action='/messages/new' method='get'>
  <input type='submit' value='New Message'>
</form>
