<h1> Peeps </h1>

<ul id='messages'>
  <% @messages.reverse.each do |msg| %>
    <li>
      <%= msg.message %>,
        by <strong><%= msg.email %></strong>,
        on <%= msg.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
    </li>
  <% end %>
</ul>
