<h1> Messages </h1>

<ul id='messages'>
  <% @messages.reverse.each do |msg| %>
    <li>
      Peep: <%= msg.message %>,
              by <strong><%= msg.email %></strong>,
              on <%= msg.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
    </li>
  <% end %>
</ul>
