
<fieldset>
  <legend>Messages</legend>

  <ul>
  <% @messages.each do |message| %>
  <li><%= message.sender%>: <%= message.message %></li>
  <% end %>
</ul>

</fieldset>


<form action='/messages/new' method='get'>
  <input type='submit' value='New Message'>
</form>
