<h1> Messages </h1>

<ul id='messages'>
  <% @messages.reverse.each do |message| %>
    <li>
      Posted at: <%= message.posted_at %>
      Peep: <%= message.peep %>
      Name:   <%= message.name   %>
      Username: <%= message.username  %>
    </li>
  <% end %>
</ul>
<% if !current_user %>
  <p>Not already a Chitterer? <a href='users/new'>Sign up here</a>
<% end %>
