
<fieldset>
  <legend>Messages</legend>

  <ul id='messages'>
    <% @messages.reverse.each do |message| %>
    <li><%=message.sender_name%>(<%=message.sender_username%>): <%= message.message %>
      <span id="time">(<%=message.time_stamp%>)</span></li>
      <% end %>
    </ul>

  </fieldset>


  <form action='/messages/new' method='get'>
    <input type='submit' value='New Message'>
  </form><br>
