
<fieldset>
  <legend>Messages</legend>

  <% if current_user %>

  <%current_user.messages.each do |message|%>
  <ul>
    <li><%= current_user.username%>: <%= @message %></li>
  </ul>
  <% end %>

  <%end%>
</fieldset>


<form action='/messages/new' method='get'>
  <input type='submit' value='New Message'>
</form>
