<h1>Peeps:</h1>

 <!-- <h4> <%= @user %> Peeped </h4> -->
 <ul id='messages'>
  <% @messages.each do |message| %>
    <li>
      Message: <%= message.message %><br/>
      Creation Time: <%= message.created_at %>
    </li>
  <% end %>
</ul>
