<h1>Peeps:</h1>

 <ul id='messages'>
  <% @messages.each do |message| %>
    <li>
      Message: <%= message.message %><br/>
      Creation Time: <%= message.created_at %><br/>
      by: <%= User.first(id: message.user_id).user_name %>
    </li>
  <% end %>
</ul>
