<h1>Peep your message here!</h1>
<form action="/messages/add" method="post">
  <label for="title">
    <input type="text" name="message" maxlength="140">
  </label>
  <input type="submit" name="submit" value="Add">
</form>
<br>
<a href="/messages">Back</a>
