<form action="/messages/new" method="post" id="create-message">
  <fieldset>
    <legend>Write a message</legend>
    <p>
      <label>140 characters of text:</label>
      <input type="text" name="text">
    </p>
    <input type="submit" name="publish" value="publish">
  </fieldset> 
</form>