<h1> New Link </h1>

<form action='/messages' method='POST'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Create message'>

</form>
