<form action='/messages/new' method='post'>
   User Name:</br>
   <input type='text' name='user_name'></br>
   Message: </br>
   <textarea name='message' rows='4' cols='36'></textarea> </br>
   <input type ='submit' value='Peep'>
 +</form>
