<p>Your chirps:</p>
<ul id="chirps"><% @user_messages.each do |message| %>
  <li>
  <%= message.time
      message.content %>
  <br>
<% end %></ul>

<form action="/dashboard" method="get">
  <input type="submit" value="Dashboard" />
</form>
