<div id='kweets'>
  <% @kweets.each do |kweet| %>
    <div class ='kweet'>
      <p class ='message'>   <%= kweet.message %></p>
      <P class ='owner'> - <%= kweet.owner %></p>
    </div>
  <% end %>
</div>
