<script language = "Javascript">
/**
* DHTML textbox character counter script. Courtesy of SmartWebby.com (http://www.smartwebby.com/dhtml/)
*/

maxL=140;
var bName = navigator.appName;
function taLimit(taObj) {
  if (taObj.value.length==maxL) return false;
  return true;
}

function taCount(taObj,Cnt) {
  objCnt=createObject(Cnt);
  objVal=taObj.value;
  if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
  if (objCnt) {
    if(bName == "Netscape"){
      objCnt.textContent=maxL-objVal.length;}
      else{objCnt.innerText=maxL-objVal.length;}
    }
    return true;
  }
  function createObject(objId) {
    if (document.getElementById) return document.getElementById(objId);
    else if (document.layers) return eval("document." + objId);
    else if (document.all) return eval("document.all." + objId);
    else return eval("document." + objId);
  }
  </script>

  <div class= "mainstyle">
    <center>

      <h3 class="title">Kweet on!</h3>
    </br>
    <form action='/kweet' method='post'>
      <font> Maximum Number of characters for this text box is 140.<br>
        <textarea onKeyPress="return taLimit(this)" onKeyUp="return taCount(this,'myCounter')" name="message" rows=2 wrap="physical" cols=70>
        </textarea>
        <P><input class="form" type='submit' value='Kweet'></p>
          <br>
          You have <B><SPAN id=myCounter>140</SPAN></B> characters remaining
          for your description...</font>

        </form>
      </center>
    </div>
