<form action="/chitter/account/new" method="post">
  Name:
  <input type="text" name="full_name">
  Username:
  <input type="text" name="username">
  Email:
  <input type="text" name="email">
  Password:
  <input type="text" name="password">
  <input type="submit" value="Sign Up">
</form>