<form action="/chitter/account/new" method="post">

  <input type="text" name="full_name" placeholder="Name">
  <br>
  <input type="text" name="username" placeholder="Username"> <%= flash[:notice] %>
  <br>
  <input type="text" name="email" placeholder="Email">
  <br>
  <input type="text" name="password" placeholder="Password">
  <br>
  <input type="submit" value="Sign Up">
</form>