<form class="form-inline signin-form" action="/sessions" method="POST">
  <div class="form-group">
    <label class="sr-only" for="email">Email:</label>
    <input type="email" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Sign In</button>
</form>