<h1>Goodbye!</h1>

<form action = '/sessions/new'>
  <input type='submit' value='Sign in'>
</form>
<form action = '/users/new'>
  <input type='submit' value='Register'>
</form>

<a href="/feed">Feed</a>
