<center>
  <table>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Sign in">
    </form>
    <form action="/users/new" method="get">
      <input type="submit" value="Sign up">
    </form>
  </table>
</center>
