<h1>Hello Again!</h1>
<p class='lead'>We knew you would come back!.</p>

<form action='/sessions' method='post' class='form-signin'>
  <h2 class='form-signin-heading'>Log In</h2>
  <div class='form-group'>
    <label for='email'>
      Email: <input name='email' type='email' placeholder='hello@chitter.com' class='form-control'>
    </label>
    <label for='password'>
      Password: <input name='password' type='password' placeholder='Password' class='form-control'>
    </label>
    <input type='submit' value='Log In' class='btn btn-default'>
  </div>
</form>
