<h1>Log In</h1>

<form action='/sessions' method='post' class='form-signin'>
  <label for='email'>
    Email: <input name='email' type='email' placeholder='hello@chitter.com' class='form-control'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password' placeholder='Password' class='form-control'>
  </label>
  <input type='submit' value='Log In' class='btn btn-default'>
</form>
