<h1>Welcome to Chitter</h1>
<h2>Please log in by filling in your details below:</h2>

<form action="/" method="post">
  <label for="email">
    Email: <input type="email" name="email">
  </label>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <input type="submit" value="Log in">
</form>
