<h3><%= flash[:notice] %></h3>

<form class="sessions-form" action="/sessions" method="post">

  <h2>Login to Chitter</h2>

  <input type="text" id="email" name="email" placeholder="Email">
  <input type="password" id="password" name="password" placeholder="Password">

  <input type="submit" value="Login">

</form>

<div class="bottom-nav">

  <form action="/users/register">
    <input type="submit" value="Sign Up" />
  </form>

  <form action="/">
    <input type="submit" value="Go Back" />
  </form>

</div>
