<h2><%= flash[:notice] %></h2>

<form action='/sessions' method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br>
  <br>
  <input type="submit" value="Login">
</form>

<form action="/users/register">
  <input type="submit" value="Sign Up" />
</form>

<form action="/">
  <input type="submit" value="Go Back" />
</form>
