<div>
  <form action='/sessions/login' method="post">
    Email: <input type="text" name="email" />
    Password: <input type="password" name="password" />
    <input type="submit" value="Login" />
  </form>
</div>