<h1>Log in section</h1>

<form action="/sessions" method = "post">

  Username <input type="text" name="user">
  Password <input type="password" name="pass" >

  <input type="submit" value="Log in">
</form>
<br>
<a href="/">Back</a>