
<div class='rowSec'>
  <section id='login'>
    <h1>Welcome Back</h1>
    <form action='/sessions' method='post'>
      <label for='username'>Username
        <input type='text' name='username' required />
      </label>
      <label for='password'>Password
        <input type='password' name='password' required  />
      </label>
        <input type='submit' value='Log In' id='button'  />
    </form>
  </section>
</div>
