Please sign in or sign up.

<form action='/sessions/new' method = 'post'>
  Email: <input type='text' name='email'>
  Password: <input type='text' name='password'>
  <input type=submit value='Sign in'>
</form>
