Please sign in

<form action='/sessions' method='post'>
  <input name='email' type='text' placeholder='email'>
  <input name='password' type='password' placeholder='password'>
  <input type='submit' value='Sign in'>
</form>

<br>

Or sign up<br>

<form action='/users/new'>
  <input type='submit' value='Sign up'>
</form>