<h1>Please sign in</h1>

<form action="/sessions" method="POST">
  <input type="email" name="email"  required placeholder="TYPE EMAIL HERE"/>
  <input type="password" name="password" placeholder="TYPE PASSWORD HERE"/>
  <input type="submit" value="Sign in"/>
</form>
