<h1>Sign in</h1>

<% if flash[:error] %>
  <ul  class="error">
      <li><%= flash[:error] %></li>
  </ul>
<% end %>

<form action="/sessions" method="post">
  <ul>
    <li><input type="email" name="email" placeholder="email"></li>
    <li><input type="password" name="password" placeholder="password"></li>
  </ul>
  <p>
    <input type="submit" value="Log in">
  </p>
</form>
