<!DOCTYPE html>
<html>
  <head>
    <link href='//fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet'>
    <style>
      body {
          font-family: 'Josefin Slab';font-size: 22px;
          background-color: lightblue;
        }
    </style>
  </head>
    <form action="/sessions" method="POST" align="left">
      <p><label for="email">Email Address:<label>
        <input type="email" name="email"></p>
      <p><label for="password">Password:<label>
        <input type="password" name="password"></p>
      <input type="submit" value="Log In">
    </form>
</html>
