
<h3>Please sign in:</h3>

<form class="signform" action="/sessions/new" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" required/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" required/>
  </div>
  <div>
    <button type="submit">Sign in</button>
  </div>
</form>
