<h1>Log in to peep to your buddies</h1>

<form action='/sessions' method='post'>
    Email: <input name='email' type='email' required><br>
    Password: <input name='password' type='password' required><br>
  <input type='submit' value='Log in'>
</form>
