
<h1>Please sign in.</h1>

<section id='sign-in'>
  <form method='post' action='/sessions'>
    Email: <input type='text' name='email'>
    Password: <input type='password' name='password'>
    <input type='submit' value='Sign in'>
  </form>
</section>


<!-- Forgot password?

<section id='forgot'>
  <form method='post' action='/users/reset_password'>
    Email: <input type='text' name='email'>
    <input type='submit' value='Request new password'>
  </form>
</section> -->