<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Chitter</title>
    <!-- <link rel='stylesheet' href='styles.css'/> -->
  </head>
  <body>
    <h2>Log into your account</h2>
    <form method='post' action='/sessions'>
      Username or email: <input type='text' name='username_or_email' required>
      Password: <input type='password' name='password' required>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
