<h1>Please sign in</h1>

<div id='peeps-container'>

  <form method='post' action='/sessions' class='peep_form'>
    <label>
      e-mail: <input type='text' name='email' size='100'/>
    </label>
    <label>
      Password: <input type='password' name='password' size='100'/>
    </label>
    <input type='submit' value='Sign in' class='button'>
  </form>

</div>