<h1>Please Sign In</h1>
<form action="/sessions" method="post">
  <p>
    <input name="handle" type="text" placeholder='@user_name'>
  </p>
  <p>
    <input name="password" type="password" placeholder='Password'>
  </p>
  <p>
  <input type="submit" value="Sign in" class="button">
  </p>
</form>
