<h3>Please sign in</h3>

<form action="/sessions" method="post">
  <label>
    Email: <input name='email' type='email' class="field">
  </label>
  <label>
    Password: <input name="password" type="password" class="field">
  </label>
  <input type="submit" value="Sign in" class="btn">
</form>
<br>
<a href="/users/recover">Forgot password</a>
