<h1>Sign In to Chitter</h1>

<form action='/sessions' method='post'>
  <label for='username'>
    Username: <input type='text' name='username' placeholder='Your Username'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password' placeholder='Your Password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
<br>
<a href='/users/new'>Don't have an account yet?</a>
<br>
<a href='/users/recover'>Forgot your password?</a>
