<h1> Log in </h1>
<form action='/sessions/new' method='POST'>
  <input type ='email' name='email' required value='<%= @email %>'/>
  <input type ='password' name='password' />
  <input type='submit' value='Log in' />
</form>
