<h2>Log in into your Chitter account:</h2>
<form action = '/sessions' method = 'post'>
  Email:
  <input type = 'text' id = 'loginemail' name = 'email'><br>
  Password:
  <input type = 'password' id = 'loginpass' name = 'password'>
  <input type = 'submit' value = 'Log In'>
</form>
