<h1>Please sign in</h1>
<form action="/sessions" method="post">
  Email:
  <input type="email" name="email" required>
  Password:
  <input type="password" name="password" required>
  <input type="submit" value="Sign in">
</form>
<form action='/'>
  <input type='submit' value='Back'>
</form>
