<h1>Please sign in</h1>
<form action="/sessions" method="post">
  <p>
    <input type="email" name="email" placeholder="Email" required>
  </p>
  <p>
    <input type="password" name="password" placeholder="Password" required>
  </p>
  <p>
    <button type="submit">Sign in</button>
  </p>
</form>
