<form action="/sessions" method="post">
  <input type="email" name="email" value="email">
  <input type="text" name="username" value="username">
  <input type="password" name="password" value="password" required>
  <input type="submit" value="Sign in">
</form>
