<h1>Sign in</h1>

<form action="/sessions" method='post'>
	<input class='sign' type='email' name='email' placeholder='Email' required><br>
	<input class='sign' type='password' name='password'placeholder='Password'><br>
	<input class='sign' type='submit' value='Log in'>
</form>