<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' required="required">
  </label>
  <label for='password'>
    Password: <input name='password' type='password' required="required">
  </label>
  <button>Log in</button>
</form>
