<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <input type='text' name='username' placeholder='username'>
  <br>
  <input type='password' name='password' placeholder='password'>
  <br>
  <input type='submit' value='Log in'>
</form>