<form action='/sessions' method='post'>
  <div>
    <label for='email'></label>
    <input type='email' name='email' placeholder='email' required >
  </div>
  <div>
    <label for='password'></label>
    <input type='password' name='password' placeholder='password' required >
  </div>
  <br>
  <div class='button'>
    <button type='submit'>sign in</button>
</form>
