Welcome to Chitter! Please sign in:
<form method='post' action='/sessions'>
  Email: <input name='email' type='text'>
  Password: <input name='password' type='password'>
  <input type='submit' value='Sign in'>
</form>
