<h1>Enter your username and password to sign in:</h1>
<form action="/sessions" method="post">
  <label for="username">
    Username:
    <input type="text" name="username" id="username">
  </label>
  <label for="password">
    password:
    <input type="text" name="password" id="password">
  </label>
  <input type="submit" value="Sign in">
</form>
