<h3>Please sign in</h3>

<form action='/sessions' method='post'>
<div class="form-group">
  <label for='email' class="control-label">
    Email <input class="form-control" name='email' type='email'>
  </label>
  </br>
  <label for='password' class="control-label">
    Password <input class="form-control" name='password' type='password'>
  </label>
  </br>
  <input type='submit' class="btn btn-success" value='&nbsp;Sign In&nbsp;'>
</div>
</form>
<a class="btn btn-primary" href="/users/new">Sign Up</a>