<h1> Please sign-in... </h1>

<form action='/sessions' method='POST'>
  <label for='username'>
    <p>Username:
    <input type='text' name='username' >
  </label>
  <label for='password'>
    <p>Password:
    <input type='password' name='password'>
  </label>
  <p><input type='submit' value='Sign in'>
</form>
