<form action='/sessions' method='post'>
  <input type='email' placeholder='Email address' name='email'/>
  <input type='password' placeholder='password' name='password'/>
  <input type='submit' value='Login'/>
</form>
