<h1> Please Log In! </h1>
<h2> it's not even getting beyond this erb </h2>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Log In'>
</form>
