<form action='/sessions' method='post'>
  <input type='text' name='username' placeholder='Username'/>
  <input type='password' name='password' placeholder='Password'/>
  <button class="button-submit" type="submit">Sign in!</button>
</form>

<form action='/users/new'>
  Not registered?
  <button class="button-submit" type="submit">Sign up!</button>
</form>
