<h1>Sign in</h1>

<form method='post' action='/sessions'>
  Email: <input type='text' name='email' required>
  Password: <input type='password' name='password' required>
  <input type='submit' value='Sign in'>
</form>