<HTML>
<Head>
  <Title>
    Sign into Chitter
  </title>
</head>
<body>

  <form id='sign_in' action='/sessions' method='post'>
    <label>
      Enter Email
    </label>
    <input type='email' name='email'>
    <label for="password">
      Password
      <input type="password" name="password">
    </label>
    <input type="submit" value="Sign in">
  </input>

  </form>

</body>

</HTML>
