<h2>Sign in</h2>
<form action = '/sessions/new' method = 'post'>
  <label>Username: </label>
  <input type = 'text' name = 'username' required/><br>
  <label>Password: </label>
  <input type = 'password' name = 'password'/><br>
  <button type="submit">Submit</button>
</form>
