<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="sign"><h1>Please sign in</h1>
      <form method="post" action="/sessions">
        <div id="email"><input type="text" name='email' placeholder="Email..." id="password_box"></div>
        <div id="password"><input type="password" name='password' placeholder="Password..." id="password_box"></div>
        <input type="submit" value="Sign in" id="signin_button">
      </div>
    </form>
  </body>
</html>