<h1>Please sign in:</h1>

<% if flash[:errors] %>
  <div id= 'notice'><%= flash[:errors] %></div>
<% end %>

<form method='post' action='/sessions'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>