<div id="register_container">
<form action="/sessions" method="post">    
  <p>
    <input type="text" name="email" placeholder="Email" required>
  </p>
  <p>
    <input type="text" name="password" placeholder="Password" required>  
  </p>
  <p>
    <input type="submit" value="Sign in" class='button'>  
  </p>    
</form>
</div>

