<h1>Please Sign In</h1>
<br>
<form method='post' action='/sessions'>
  <ul>
  <li>Username: <br><input name='handle' type='text'></li></br>
  <li>Password: <br><input name='password' type='password'></li></br>
  <li><br><input type='submit' value='Sign In'></li></br>
</form>
