<% if session[:user_id] == nil %>
  Please sign in.

  <form action='/sessions' method='post'>
    Email: <input type='text' name='email'>
    Password: <input type='password' name='password'>
    <input type='submit' value='Sign in'>
  </form>
<% end %>
