<h1>Sign in to Chitter!</h1>
<div>
  <form action='/sessions' method='post'>
    <input name='email' type='text' placeholder='emails'>
    <input name='password' type='text' placeholder='password'>
    <button name='Sign in' type='submit'>Sign in</button>
    <button name='Sign out' type='submit'>Sign out</button>
  </form>
