<h1> Sign in to Chitter</h1>
<form action='/sessions' method="post">
  <label for="email">
    Enter your email
    <input name="email" type="email">
  </label>
  <label for="password">
    Enter your password
    <input name="password" type="password">
  </label>
  <input type="submit" value="Sign in">
</form>
