<body>
  <form class="add_form" action="/sessions" method="post">
  <div class="">
    <input type="email" name="email" placeholder="Email" required >
  </div>
  <div class="">
    <input type="password" name="password" placeholder="Password" >
  </div>
  <div class="">
    <input type="submit" value="Submit">
  </div>
  </form>
</body>
