<h1 class='center'>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input class='button' type='text'name='email'>
  </label>
  <label for='password'>
    Password: <input class='button' type='text' name='password'>
  </label>
  <input class='button' type='submit' value='Sign in'>
</form>

<form action='/users/new'>
  <label for='email'>
    Click here to <input class='button' type='submit' value='Sign Up'>
  </label>
</form>
