Please sign in

<form action='/sessions' method='post'>
  <input name='email' type='text' placeholder='email'>
  <input name='password' type='password' placeholder='password'>
  <input type='submit' value='Sign in'>
</form>