<h1>Please sign in to your account</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Log in'>
</form>

<a href="/users/recover">I've forgotten my password</a>
