<h1>Please sign in</h1>

<form action='/sessions' method='POST'>
  <label for='nickname'>
    Nickname: <input type='text' name='nickname'>
  </label>
  <label for='password'>
    Password: <input type='password' name='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
