<h1 id="content_header">Log in now to start Peeping!</h1>
<section id="form_element_container">
  <form action='/sessions' method='post'>
    <label for='email'>
      <input name='email' placeholder="Email"type='email'>
    </label>
    <label for='password'>
      <input name='password' placeholder="Password" type='password'>
    </label>
    <input id="form_button" type='submit' value='Log in'>
  </form>
</section>
