<form action=/sessions/new method=post>
  <label for=user_name>
    <input type=text name=user_name>
  </label>

  <label for=password>
    <input type=password name=password>
  </label>

  <input type=submit value='Sign in'>
</form>
