<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
<h1> If you are not register with us, please sign up</h1>
<form action='/users/new'>
<input type='submit' value='sign up'>
</form>
