Please sign in:

<form method-'post' action='/sessions'>
  <input type='text' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Sign in' class='button highlighted'>
</form>