<form action="/sessions" method="post">
  Email: <input type="text" name='email'>
  Password: <input type="password" name='password'>
  <input  id="awesomebutton" type="submit" value="Sign in">
</form>