<h1>Sign-In Page</h1>
<!-- In the walkthrough this post method  called just /sessions -->
<form action='/sessions' method='post'>
  <label>
    Email:<input type='text' name='email'>
  </label>
  <br>
  <label>
    Password:<input type='password' name='password'>
  </label>
  <br>
  <input type='submit' name='Sign In' value='Sign In'>

</form>
<a href='/users/recover'>I forgot my password</a>
