<link rel="stylesheet" type="text/css" href="/css/style.css">
<h1>Welcome to Peeps - Please sign in</h1>

<form action='/sessions' method='post'>
  <p><label for='email'>
    Email: <input name='email' type='email'>
  </label></p>
  <p><label for='password'>
    Password: <input name='password' type='password'>
  </label></p>
  <p><input type='submit' value='Sign in'></p>
</form>
