<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<div class='login_box'>
  <h2>Please log in</h2>
  <form action='/sessions' method='post'>
    Email: <input name='email' type='email'>
    Password: <input name='password' type='password'>
    <input type='submit' value='Enter'>
  </form>
</div>

<!-- /*<style>

  .login_box {
    background-color: antiquewhite;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

</style>*/ -->
