<%= erb :header %>

<h2>Please sign in</h2>

<div ='sign_in'>
  <form action='/sessions' method='post'>
    <input name='email' type='email' placeholder ='Email'>
    <br>
    <br>
    <input name='password' type='password' placeholder='Password'>
    <br>
    <br>
    <input type='submit' value='Sign In'>
  </form>
</div>
