<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>
<h1> Sign In Here! </h1>

<form action='/sessions' method='post'>
  <input name='email' type='email' value='email'>
  <input name='password' type='password'>
  <input type='submit' value='Sign In'>
</form>
