<h2> Please Log In </h2>
<br><br>
<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' required>
  </label>
  <br>
  <label for='password'>
    Password: <input name='password' type='password' required>
  </label>
  <input type='submit' value='Log in'>
  <br><br>
  <a href='/users/new'>or sign up</a>
</form>
