<div id='log_in'>
  <h2>Log in to Chitter</h2>
  <form class='aligned-form' action='/sessions' method='post'>
    <fieldset>
      <div class="pure-control-group">
        <input name="email" type="email" placeholder="Email">
      </div>

      <div class="pure-control-group">
        <input name="password" type="password" placeholder="Password">
        <button type="submit" class="pure-button pure-button-primary">Log in</button>
      </div>
    </fieldset>
  </form>
</div>
