<form action='/sessions' method='post'>
  <input type='text' name='username' placeholder='Username'/>
  <input type='password' name='password' placeholder='Password'/>
  <input type='submit' value='Sign in'/>
</form>

<form action='/users/new'>
  Not registered?
  <input type='submit' value='Sign up'/>
</form>
