<h1>Sign in to Chitter:</h1>

<form action='/users/sign_up'>
  <label for='Sign up'>
    Don't have an account? <input type='submit' value='Sign up'>
  </label>
</form>
<form action='/peeps'>
  <label for='Continue as guest'>
    See Chitter feed as guest: <input type='submit' value='Continue as guest'>
  </label>
</form><br><br>

<form action='/sessions' method='post'>
  <label for='username'>
    Username: <input type='text' name='username' required>
  </label>

  <label for='password'>
    Password: <input type='password' name='password'>
  </label>

  <label for='sign in'>
    <input type='submit' value='Sign in'>
  </label>
</form>
