<h2 class="hotpink"> Log In </h2>

<div class="form">
  <form method='post' action='/sessions'>

    <label for='email'>
      Email:
    </label>
    <input type='email' name='email' required>

    <label for='password'>
      Password:
    </label>
    <input type='password' name="password" required>

    <button type='submit'>Sign in</button>

  </form>
</div>
