<section class='form2'>
   <form action='/sessions' method='post'>
    	<fieldset>
			Please Sign In:
    		<p class='in_main'> Email: <input type='email' name='email' required> </p>
    		<p class='in_main'> Password: <input type='password' name='password' required>
    		<p class='in_main'> <input class='button' type='submit' value='Sign In'> </p>
    	</fieldset>
   </form>
</section>