<form action="/sessions" method="post">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" id="password"  required>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-default" id="sign_in" value="Sign In">
  </div>
</form>
<a href="/users/new">Sign Up</a>
