<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

    <h1>Log in and keep peeping!</h1>

    <form action='/sessions' method='post'>
      <label for='user_name'>
        Nickname: <input name='user_name' type='text'>
      </label>
      <label for='password'>
        Password: <input name='password' type='password'>
      </label>
      <input type='submit' value='Log In'>
    </form>

  </body>
</html>
