<h1> Log in to Chitter </h1>

<form action="/sessions" method="post" >

<label for="email">
  Email:
  <input type="email" name="email" >
</label >
<br>
<br>

<label for="password">
  Password:
  <input type="password" name="password" >
</label >
<br>
<br>

<input type='submit' value='Log in to Chitter'>
</form>
