<!DOCTYPE html>
<html>
  <body>

    <h1> Sign In </h1>

    <form action='/sessions' method='POST'>
      <div>
        <label for='email'>Email:</label>
        <input type='email' name='email' required>
      </div>
      <div>
        <label for='password'>Password:</label>
        <input type='password' name='password' required>
      </div>
        <input type='submit' value='Submit'>
    </form>

  </body>
</html>
