<head>
<link href="../style.css" rel="stylesheet" type="text/css" />
  <title>T-CHAT (CHITTER)</title>
</head>

Log in plz
<form action='/sessions' method='post'>
  <label for='email'>
    email: <input name='email' type='email'>
  </label>
  <label for='password'>
    password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
