<html>
  <head></head>

  <body>
    <h1>Please sign in to use Chitter:</h1>
    <form action="/sessions" method="post">
      <label for="username">Email: </label><input type="email" value="email" name="email" placeholder="Please enter email">
      <label for="username">Password: </label><input type="password" value="password" name="password" placeholder="Please enter a password">
      <button type="submit" value="Sign in">Sign in</button>
    </form>

  </body>

</html>
