<html>
<body>
  <center><h1>Sign In to Chitter</h1>
  <form style="bodyform" action="/sessions" method="post">
    <label for="username">
      Username:<br>
    </label>
    <input name="username" type="text"><br><br>
    <label for="password">
      Password:<br>
    </label>
    <input name="password" type="password"><br><br>
    <button type="submit">Sign in</button>
  </form></center>
</body>
</html>
