<form action='/sessions/new' method='post'>
  <label for='email'>Email: </label>
  <input type='text' name='email'>
  <label for='password'>Password</label>
  <input type='password' name='password'>
  <input type='submit' value='Sign In'>
</form>

