<form action="/sessions" method="post">
  
  <fieldset>
    <legend>Log in with password and username or email</legend>
    <label>username or email</label>
    <input type="text" name="auth" >
    <label>password</label>
    <input type="password" name="password">
    <input type="submit" name="login" value="log in">
  </fieldset>
</form>