<div class="row">
  <div class="col-md-12">
    <h2>Log in</h2>
  </div>
</div>
<% if @invalid_login %>
  <div class="alert alert-danger" role="alert">
    Invalid email address or password.
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <form action="/sessions" method="POST">
      <div class="form-group">
        <label for="email">Email address </label>
        <input type="email" class="form-control" name="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input type="password" class="form-control" name="password" placeholder="Password" />
      </div>
      <input type="submit" class="btn btn-default" value="Log in" />
    </form>
  </div>
</div>
