<p>
<div class="wrapper">
  <form action="/sessions/new" method="post" class="user-form">
    <label for='email' class="emphasise-black">Email:</label>
    <input type="text" name="email" required>
    <p>
    <label for='password' class="emphasise-black">Password:</label>
    <input type="password" name="password" required>
    <p>
    <input type="submit" value="Sign in" class="button">
  </form>
</div>
