<!DOCTYPE html>
<html>
<head>
</head>
<body>

<form align='center' action='/sessions' method='post'>
  <h2>Username:</h2> <input class='entry' type='text' name='username' id='username' required>
  <h2>Password:</h2> <input class='entry' type='password' name='password' id='password' required>
  <br><br><input class='button' type='submit' value='Submit'>
</form>
</body>
</html>
