  <form id="sign_in" action='/sessions' method="post">
    <h2> Sign in to Chitter</h2>
    <label for="email">
      Enter your email
    </label>
    <br>
      <input name="email" type="email"  autofocus="autofocus">
    <br>
    <label for="password">
      Enter your password
    </label>
    <br>
      <input name="password" type="password">
    <br>
      <input class ="submit" type="submit" value="Sign in">
      <br>
      <a href="/users/recover">Forgotten password?</a>
  </form>
