<section <%= "id='form_wrapper'" if request.path_info == '/sessions/new' %>>
  <form action='/sessions/new' method="post" <%= "id='form'" if request.path_info == '/sessions/new' %>>
    <ul>
      <li>
        <input type="text" name="email" placeholder="Email">
      </li>
      <li>
        <input type="text" name="password" placeholder="Password">
      </li>
      <li>
        <button type="submit">Log in</button>
      </li>
    </ul>
  </form>
</section>