<h1> Please sign-in... </h1>

<form action='/sessions' method='POST'>
  <label for='email'>
    Email:
    <input type='text' name='email'>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password'>
  </label>
</form>
