<div class="headings">
  <h1> Sign In </h1>
</div>

<div class="container">

  <form action="/sessions" method="post">
    <label for="email">
      email:
      <p> <input type="email" name="email"> </p>
    </label>

    <label for="password">
      password:
      <p> <input type="password" name="password"> </p>
    </label>

    <input type="submit" value="Sign In">
  </form>
  
</div>
