<form action='/users/signin' method='post'>
  <label for='username'>
    Username:
    <input type='text' name='username'>
  </label>
  <label for='password'>
    Password:
    <input type='text' name='password'>
  </label>
  <input type='submit' value="Sign in">
</form>
