<% if !current_user %>
  <form action="/users/new" >
    <input type='submit' value='sign up'>
  </form>
<% end %>

<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='username'>
    Username: <input type='text' name='username'>
  </label>
  <br/>
  <label for='password'>
    Password: <input type='password' name='password'>
  </label>
  <br/>
  <label for='signin'>
    <input type='submit' name='signin' value='sign in'>
  </label>
</form>
