<h1>Please Sign up</h1>
<div class='container'>
  <form action='/sessions' method='post'>
    <label for='username'>
      Username: <input name='username' autocomplete="off" type='username'>
    </label>
    <label for='password'>
      Password: <input name='password' autocomplete="off" type='password'>
    </label>
    <input type='submit' value='Sign in'>
  </form>
</div>
