<!DOCTYPE html>
<html>
<head>

  <style>
    #sign_in {
      margin: 0px;
      padding: 0px;
      font-size: 15px;
      font-weight: normal;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0px;
      color: #fff;
      clear: both;
      padding-bottom: 6px; }

  body { background-color: Black; }

</style>
</head>


<body>
<DIV id='sign_in'>
<h1>Welcome to Chitter</h1>
<h2>Please sign in</h2>

<form action="/sessions" method="post">
  <label for='email'>
    Email: <input type="email" name="email">
  </label>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <input type="submit" value="Sign in">
</form>

<h2>New user? </h2>
<form action="/users/new">
  <input type="submit" name="sign_up" value="Sign up">
</form>
</DIV>
