<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>

<h2> Not got an account? </h2>
<div id='sign_up'>
  <a href='/users/new'><button name='sign_up'>Sign up</button></a>
</div>
<h2> Just want to read Peeps? </h2>
<div id='peeps'>
  <a href='/peeps'><button name='peeps'>See Peeps</button></a>
</div>
