<!DOCTYPE html>
<html>
  <style>
    body {
        text-align: center;
        background-color: #2BCE88
      }
  </style>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>

    <h1>Please sign in</h1>

    <form action='/sessions' method='post'>
      <label for='email'>
        <strong>Email:</strong> <input type='email' name='email' >
      </label>
      <label for='password'>
        <strong>Password:</strong> <input type='password' name='password'>
      </label>
      <input type='submit' value='Sign in'>
    </form></br>

    <form action="../users/new">
      <input type="submit" value="Go back">
    </form>

  </body>
</html>
