<form action='/sessions' method='post'>
  <label for='name'>
    Username: <input type='text' id='name' name='username'>
  </label>
  <label for='pword'>
    Password:<input type='password' id='pword' name='password'>
  </label>
  <input class='button' type='submit' value='Sign in'>
</form>