<h3>Sign in:</h3>
<form action='/sessions' method='post'>
  username: <input type='text' name='username'>
  password: <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>
