Hi! Please sign in :)

<form method="post" action="/sessions">
  email: <input type="text" name='email'>
  password: <input type="password" name='password'>
  <input type="submit" value="Sign in">
</form>

