<form action="/sessions" method="post">    
  <p>
    <input type="text" name="email" placeholder="Email">
  </p>
  <p>
    <input type="text" name="password" placeholder="Password">  
  </p>
  <p>
    <input type="submit" value="Sign in" class='button'>  
  </p>    
</form>


