<div id="wrapper">
  <div id="content">
    <h1>Log in</h1>
    <form action='/sessions' method='POST'>
      <label for='username'>Username:</label>
      <input name='username' type='text'>
      <label for='password'>Password:</label>
      <input name='password' type='password'>
      <input type="submit" value="Log in">
    </form>
  </div>
</div>
