<form action="/users" method="POST">
  Username:<input type="text" name="username">
  </br>
  Email:<input type="emai" name="email">
  </br>
  Password:<input type="password" name="password">
  </br>
  Confirm Password:<input type="password" name="password_confirmation">
  </br>
  <input type="submit" value="Sign up">
</form>
