<form action='/sessions' method='post'>
  <input type='email'  name='email' placeholder="Email:">
  <br>
  <br>
  <input type='password' name='password' placeholder="Password:">
  <br>
  <br>
  <input type='submit' value='Sign in'>
</form>
