<!DOCTYPE html>

<html>
<body>

	<h1>Sign in to your Chitter account</h1>

	<form action="/sessions" method="post">
		<label for='email'>Email Address: </label>
			<input type="email" name="email" required>
		<br>
		<label for='password'>Password: </label>
			<input type="text" name="password" required>
		<br>
			<input type="submit" value="Sign In!">
	</form>

</body>
</html>