<h1>Sign in</h1>

<form action='/sessions/new' method='post'>
<label>
  <input type="text" name="username" placeholder='username' required >
</label>

<label>
  <input type="password" name="password" placeholder='password' required >
</label>

<input type='submit' value='sign in'>
</form>
