<head> Please enter your details to login </head>
<form action="/sessions/new" method="post">
  <input type="text" name="username"/>
  <input type="password" name="password" />
  <input type="submit" value="Sign in"/>
</form>
