<h1>Signin</h1>
  <form action='/sessions' method='POST'>
  <label for='title'>Email:</label>
  <input type='text' name='email'/>
  <label for='url'>Password:</label>
  <input type='password' name='password' />
  <button type="submit">Signin</button>
</form>