      <div class="login-form">
        <p class="text-center">Please login to Chitter's account</p>
        <form action="/sessions" method="post">
          <div class="form-group">
              <input type="email" placeholder="Email" name="email" required>
          </div>
          <div class="form-group">
              <input type="password" placeholder="Password" name="password" required>
          </div>
          <button type="submit" class="btn btn-color block">Log in</button>
          <p class="text-center">Don't have an account yet?</p>
          <a href="/users/new" class="btn btn-default block" >Create an account</a>
        </form>
      </div>