<link rel="stylesheet" href="/reset.css">
<link rel="stylesheet" href="/styles.css">

<h1>Please sign in</h1>

<form class="forms" action="/sessions" method="post">
  <div class="form_element">
    <h4>Email</h4><input class="input" type="email" name="email">
  </div>
  <div class="form_element">
    <h4>Password</h4><input class="input" type="password" name="password">
  </div>
  <div class="form_element">
    <input class="button" type="submit" value="Sign in">
  </div>

</form>
