<h3>Please sign in</h3>
<form action='/sessions' method='post'>
<div class="form-group">
  <label for='email' class="control-label">  </label>
    Email <input class="form-control" name='email' type='email'>
  </br>
  <label for='password' class="control-label"></label>
    Password <input class="form-control" name='password' type='password'>
  </br>
  <input type='submit' class="btn btn-success btn-block" value='&nbsp;Sign In&nbsp;'>
</div>
</form>
