<h1>Please sign in.</h1>

<div id='peeps-container'>

  <form method='post' action='/sessions' class='peep_form'>
    e-mail: <input type='text' name='email' size='70'>
    Password: <input type='password' name='password' size='70'>
    <input type='submit' value='Sign in'>
  </form>

</div>