<h1 class="form-title">Welcome back</h1>
<form action="/sessions" method="post">
  <p>
    <input type="email" name="email" placeholder="Email" required>
  </p>
  <p>
    <input type="password" name="password" placeholder="Password" required>
  </p>
  <p>
    <button type="submit" class="form-button">Log in</button>
  </p>
</form>

<form action="/peeps">
  <button type="submit"  class="white-button">Back</button>
</form>
