<%= flash[:warning] %>

<form action="/sessions" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type='submit' name='submit' value='Submit'>
</form>