<div class="container-fluid">
  <form class="form-signup" action="/sessions" method="post">
    <h2>Log in</h2>
    <input type="text" name="username" required class="form-control"
            placeholder="Username">
    <input type="password" name="password" required class="form-control"
            placeholder="Password">
    <br>
    <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block">
  </form>
</div>
