<h2>Sign in</h2>
<form action="/sessions" method="post">
  <div>
    <input type="email" name="email" placeholder="Email" required>
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" required>
  </div>

  <div>
    <input type="submit" value="Sign in">
  </div>
</form>
