<form action="/sessions" method="post">
    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" />
    </div>
    <div class="button">
        <button type="submit">Sign in</button>
    </div>
</form>
