<h1>Chitter sign in</h1>

<form action='/sessions' method='post'>
  <p>Email: <input type='text' name='email'></p>
  <p>Password: <input type='password' name='password'></p>
  <button>Sign in</button>
</form>
