<center>
  <fieldset width='500'>
    <legend>Sign In</legend>
    <form action='/sessions' method="post">
      <label for='username'>
        Username:
        <input type="text" name="username">
      <label for='password'>
        Password:
        <input type="password" name="password">
      </label>
      <br><br>
      <input type='submit' value='Sign in'>
    </form>
  </fieldset>
</center>