<h2>Login<h2>

<form action="/sessions" method="post">
  <input name="email" type="text" placeholder="email"></input><br>
  <input name="password" type="password" placeholder="password"></input><br>  <input type="submit" value="Login"></input>
</form>