<html>
<body>
  <h1>Sign In to Chitter</h1>
  <form action="/sessions" method="post">
    <label for="username">
      Username:<br>
    </label>
    <input name="username" type="text"><br>
    <label for="password">
      Password:<br>
    </label>
    <input name="password" type="password"><br><br>
    <input type="submit" value="Sign in">
  </form>
</body>
</html>
