<center>
<form action='/sessions' method='post'>
    <input name='email' placeholder='email' type='email' required>
    <input name='password' placeholder='Password' type='password' required>
  <div style="vertical-align: middle">
    <button>Log in</button>
  </div>
</form>
</center>
