<h2> Please sign-in... </h2>

<form class="form" action='/sessions' method='POST'>
  <label for='username'>
    <p>Username:
    <input type='text' name='username' >
  </label>
  <label for='password'>
    <p>Password:
    <input type='password' name='password'>
  </label>
  <label for="submit">
    <p><input type='submit' value='Sign in'>
  </label>
  <a href="/users/recover">I forgot my password</a>
</form>
