<form action="/sessions" method="post">
  <label for="email">
    <input name="email" type="email" required>
  </label>
  <label for="password">
    <input name="password" type="password" required>
  </label>
  <input type="submit" value="Sign in">
</form>