<div class="col-sm-6 col-sm-offset-3 well">
  <h1 class="text-center">Please sign in</h1>

  <form action="/sessions" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" type="password" name="password" required>
    </div>

    <input class="btn btn-primary pull-right" type="submit" value="Sign in">
  </form>
</div>
