<h2>Please sign in</h2>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
<h2> If you are not registered with us, please sign up</h2>
<form action='/users/new'>
<input type='submit' value='sign up'>
</form>
