<html>
  <h1>Please log in</h1>

  <form action="/sessions" method="post">
    <label for="email"> Email: <br>
      <input type="email" name="email" required autofocus>
    </label> <br>

    <label for="password"> Password: <br>
      <input type="password" name="password" required>
    </label> <br>

    <input type="submit" value="Log in">
  </form>
</html>
