<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Chitter</title>
</head>
<body>
  <div class="main__container">
    <h1>Sign in</h1>
    <h2>
      <%= flash[:notice] %>
    </h2>
    <form action="/sessions" method="post">
      <input type="email" name="email" placeholder="email" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Sign in" />
    </form>

  </div>
</body>

</html>