<h2>Please sign in.</h2>

<form method="post" action="/sessions">
  <label>Email:</label> 
  <input type="text" name='email'>
  <label>Password:</label> 
  <input type="password" name='password'>
  <input class="hvr-buzz-out" type="submit" value="Sign in">
</form>