<form action='/sessions' method="post">
  <h3>User Name:</h3>
    <input type="text" name="user_name">
  <h3>Password:</h3>
    <input type="password" name="password">
    <input type="submit" value="Sign in">
</form>