<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        color: white;
        background-color: lightblue;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
      <body>
        <h1><center>Please sign in</center></h1>

        <form action='/sessions' method=POST>
          <label for='user_email'>
            Email: <input name='user_email' type='email'>
          </label><p>
          <label for='password'>
            Password: <input name='password' type='password'>
          </label><p>
          <input type='submit' value='Sign in'>
        </form>
      </body>
</html>
