<link rel="stylesheet" href="../style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


Please sign in.

<form method='post' action='/sessions'>
  Email: <input type='email' name='email'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Sign In'>
</form>