<h1>please sign in</h1>
<div class="container">
<form action='/sessions' method='post'>
  <label>
    Username
    <input type='text' name='username' required><br />
  </label>

  <label>
    Password
    <input type='password' name='password'><br />
  </label>

  <button type='submit'>
    Sign In
  </button>
</div>
</form>
