<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Username: <input name='username' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>