<!DOCTYPE html>
<html>
  <form action='/sessions' method='POST'>
    Username:
    <label for='username'>
      <input type='text' name='username' id='username' required>
    </label>
    Password:
    <label for='password'>
      <input type='password' name='password' id='password' required>
    </label>
    <button type='submit'> Log In </button>
  </form>
</html>
