<h1>Please log in</h1>

<form action='/sessions' method='post'>
  <p>
    <label for='username'>Username: </label>
    <input name='username' type='text'>
  </p>
  <p>
    <label for='password'>Password: </label>
    <input name='password' type='password'>
  </p>
  <p>
    <input type='submit' value='Confirm'>
  </p>
</form>
