<h1>Please sign in: </h1>

<form action="/sessions" method="post">
  <label for="email">
    <input type="email" name="email">
  </label>
  <label for="email">
    <input type="password" name="password">
  </label>
  <input type="submit" value="Sign in">
</form>
