<div class="container-fluid text-center">
  <h2>Sign in</h2>

  <form action="/sessions" method="post">
    <div class="text-center">
    <div class="text-center">
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="text-center">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign In">
  </form>
</div>
