<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Chitter - by Joe Sweeny</title>
      </head>

      <style>

        #main {
          width: 100px;
          height: 100%;
          padding-left: 375px;
        }

        #box {
          border-radius: 10px;
          width: 510px;
          height: 200px;
          background-color: #D7D6D6;
        }
        .header {
          border-radius: 10px 10px 0 0;
          padding-left: 10px;
          background-color: #bfbfbf;
          border-bottom: 1px solid black;
          width: 500px;
          font-size: 20px;
          height: 40px;
          text-indent: 5px;
          color: #595959;
          padding-top: 6px;
        }

        .middle {
          padding-left: 10px;
          background-color: #D7D6D6;
          border-bottom: 1px solid black;
          width: 495px;
          font-size: 15px;
          height: 100px;
          text-indent: 2px;
          font-style: italic;
          padding-top: 30px;
          text-align: left;
          padding-left: 15px;
        }

        .footer {
          padding-left: 10px;
          background-color: #bfbfbf;
          border-bottom: 2.5px;
          width: 480px;
          font-size: 20px;
          text-indent: 10px;
          border-right: 5px;
          border-left: 5px;
          height: 35px;
          padding-top: 3px;
          color: #595959;
          border-radius: 0 0 10px 10px;
          text-align: right;
          padding-right: 20px;
        }

      </style>
      <body>
        <div></div><br><br>
        <div id="main">

            <div id="box">
            <div class="header"><span>Enter your sign in details below:</span></div>
            <div class="middle"><span><form action='/sessions' method='post' >
              <label for='username'>
                Username: <input name='username' type='text'>
              </label><br><br>
              <label for='password'>
                Password: <input name='password' type='password'>
              </label>
                </span></div>
            <div class="footer"><input type='submit' value='Sign in'></form></div>
            <br></div><br>


        </div>
      </body>
    </html>
