<form class="form-horizontal" action='/sessions' method='post'>
  <div class="col-sm-6 col-md-4 col-md-offset-4 text-center">
    <div class="form-group">
      <input type="text" class="form-control" id="inputEmail3" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Sign in!</button>
    </div>
    <a href="/users/new" class="text-center">Not registered?</a>
  </div>
</form>
