<h1>Sign in to rejoin the fold and put your bottle in the stream</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input type='password' name='password'>
  </label>
  <input type='submit' value='Rejoin the fold'>
  </form>
