<form action='/sessions' method='post'>
  <label for='email'>Email:<br>
    <input type='email' name='email' required><br>
  </label>
  <label for='password'>Password:<br>
    <input type='password' name='password' required><br>
  </label>
    <input type='submit' value='Log in'>
</form>
