<section id="log_in">
  <form action="/sessions" method="post">
    <label for="username">
      <input type="text" name="username" placeholder="Username" required>
    </label>
    <label for="password">
      <input type="password" name="password" placeholder="Password" required>
    </label>
    <input type="submit" value="Log in">
  </form>
</section>
