<head>
  <title>Sign in to Chitter</title>
</head>
<div class='outer_container'>
  <div class='inner_container'>
    <div class='centered_content'>
      <h1>
        Log in to Chitter
      </h1>
      <form action='/sessions' method='post'>
        <label for='email_or_username'>Email / Username</label>
        <input type='text' name='email_or_username' required />
        <br>
        <label for='password'>Password</label>
        <input type='password' name='password' required />
        <br>
        <label></label>
        <br>
        <label></label>
        <br>
        <label></label>
        <br><br>
        <input class='button' type='submit' value='Sign In'>
      </form>
    </div>
  </div>
</div>
