Please sign in

<form action='/sessions' method='post'>
  Username: <input name='username' type='text'>
  Password: <input name='password' type='password'>
  <input type='submit' value='Sign in'>
</form>
