<h1>please sign in</h1>

<form action='/sessions' method='post'>

  <label>
    Username
    <input type='text' name='username' required>
  </label>

  <label>
    Password
    <input type='password' name='password'>
  </label>

  <button type='submit'>
    Sign In
  </button>

</form>
