<p>
<div class="wrapper">
  <form action="/sessions/new" method="post" class="user-form">
    Email:
    <input type="text" name="email" required>
    <p>
    Password:
    <input type="password" name="password" required>
    <p>
    <input type="submit" value="Log in" class="button">
  </form>
</div>
