<section class="form-container">
  <form id="sign-in" action="/sessions/new" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign in">
  </form>
</section>