<p> Welcome to Chitter</p>

  <form action= '/sessions/new' method='post'>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" name="password" />
    </div>

    <div class="button">
      <button type= 'submit'>Sign in</button>
    </div>
  </form>
