<h2>Sign in</h2>
<form action='/sessions/new' method='post'>
	<label for='email'>
		E-mail:	<input type='email' name='email'  required>
	</label>
	<label for='password'>
		Password:	<input type='password' name='password'>
	</label>
	<input type='submit' value='Sign in'>
</form>