<center><h1> Please log in </h1>

<form action='/sessions' method='POST'>
  <p><b>Username: </b><input type='text' name='username'></p>
  <p><b>Password: </b><input type='password' name='password'></p>
  <p><b><input type='submit' value='Log in'></p>
</form></center>