<body class = "container">
<h1>Chitter - Please sign in </h1>



<form method='post' action='/sessions'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <br>
  <input type='submit' class="btn btn-info" value='Sign in'>
</form>
 <br>
 <br>
<a href="users/new" class="btn btn-info" role="button">Sign Up for Chitter</a>


</body>
