<form action='/sessions' method='post'>
  <label for='user_name'>
    User Name
    <input type='text' name='user_name'>
  </label>
  <label for='password'>
    Password
    <input type='password' name='password'>
  </label>
  <input type='submit' value='submit'>
</form>
