Please enter your username and password:

<form action="/sessions" method="post">
  <ul>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </ul>
  <ul>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
  </ul>

  <input type="submit" value="Submit">
</form>