<!DOCTYPE html>
<html>

<head>

  <link rel='stylesheet' type='text/css' href='normalize.css'/>
  <link rel='stylesheet' type='text/css' href='/style.css'/>

</head>

<body>

<h1>sign in</h1>

<form id="sign_in" action='/sessions' method='post'>
  <label for='email'>
    email <br> <input class='form_field' name='email' type='email'>
  </label>
  <br>
  <label for='password'>
    password <br> <input class='form_field' name='password' type='password'>
  </label>
  <br>
  <input id=sign_in_button class="button" type='submit' value='sign in'>
</form>

</body>

</html>
