<h2>Please sign in</h2>

<form method='post' action='/sessions'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <br/><br/>
  <button type='submit' value='Sign in'>Sign in</button>
</form>
