<h1>Log in to Chitter</h1>

<form action='/sessions' method='post'>
	<p>
		<input type='email' placeholder='Email' name='email' required>	
	</p>
	<p>
		<input type='password' placeholder='Password' name='password' required>	
	</p>
		<input type='submit' value='Log in'>
</form>