<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Sign In</title>
  </head>
  <body>
    <form action="/sessions" method="post">
      <label>Username</label>
        <input type="text" name="username">
      <label>Password</label>
        <input type="text" name="password">
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
