<h2>Please Sign in</h2>

<div class="post-form">
  <form method="post" action="/sessions">
    <div class="form">
      <label>Email:</label>
      <input type="text" name='email' placeholder="Email address">
    </div>
    <div class="form">
      <label>Password:</label>
      <input type="password" name='password' placeholder="Password">
    </div>
    <button class="button" type="submit">Sign in</button>
    <button class="button" type="submit">Sign out</button>
  </form>
</div>
