<h1> Please Log In! </h1>

<form action='/home' method='post'>
  <label for='email'>
    email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Log In'>
</form>
