<h1>Please sign in</h1>
<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email"><br/>
  <input type="password" name="password" placeholder="password"><br/><br/>
  <input type="submit" value="Sign in">
</form>
