<h3>Sign in<h3>

<form action='/sessions' method='post'>
  <div>
    <label for='email'>Email: </label>
    <input type='email' name='email' value='<%= "#{flash[:email]}" %>'required >
  </div>
  <div>
    <label for='password'>Password: </label>
    <input type='password' name='password' required >
  </div>
  <br>
  <div class='button'>
    <button type='submit'>Log in</button>
</form>
