<!DOCTYPE html>
<html>
  <form action="/sessions" method="POST" align="left">
    <p><label for="email">Email Address:<label>
      <input type="email" name="email"></p>
    <p><label for="password">Password:<label>
      <input type="password" name="password"></p>
    <input type="submit" value="Log In">
  </form>
</html>
