<div>
	<center>
		<img height="500 px" src='http://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png/revision/latest?cb=20100722020455'>
		<h1>Please sign in</h1>
		<form action='/sessions' method='post'>
			<label for='username'>
				Username: <input name='username' type='username'>
			</label>
			<label for='password'>
				Password: <input name='password' type='password'>
			</label>
			<input type='submit' value='Sign in'>
		</form>
	</center>
</div>
