<div class="user-form">
  <form action="/sessions/new" method="post">
    Email:
    <input type="text" name="email" required>
    <br>
    Password:
    <input type="password" name="password" required>
    <br>
    <input type="submit" value="Log in">
  </form>
</div>
