<h3>Please sign in</h3>
<form method='post' action='/sessions/new'>
  Email:    <input type='text'     name='email' value='<%= @email %>'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>
