<head>
  <link rel="stylesheet" type="text/css" href="../index.css">
</head>

<h1>Welcome back, friend!</h1>
<h2>Deets below plz...</h2>

<form action='/sessions' method='post'>
  Email: <input type="email" name="email">
  Password: <input type="text" name="password">
  <input type="submit" value='Sign in'>
</form>
