<h1>please sign in</h1>

<form action='/sessions' method='post'>

  <label>
    Email
    <input type='text' name='username' required>
  </label>

  <label>
    Password
    <input type='password' name='password'>
  </label>

  <input type='submit' value='Sign In'/>

</form>

<a href="/users/recover">Forgot my password</a>

