<!-- TODO: extract to partial -->
<% if flash[:errors] && !flash[:errors].empty? %>
  <ul id="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/sessions" action="post">
  <label for="email">Email:</label>
  <input type="email" name="email" required />
  <label for="password">Password:</label>
  <input type="password" name="password" required  />
  <input type="submit" value="Submit" />
</form>
