<h3>Sign in:</h3>
<form action='/sessions' method='post'>
  <input type='text' name='username' placeholder='username'>
  <input type='password' name='password' placeholder='password'>
  <input type='submit' value='Sign in'>
</form>
