<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'> Email: </label>
     <input name='email' type='email'>
  <label for='password'> Password: </label>
     <input name='password' type='password'>
  <input type='submit' value='Sign in'>
</form>
