<head>
  <style type="text/css">
  body {
    background-color: #a2c8e8
  }
  </style>
</head>
<h1> Please sign in </h1>

<form action='/sessions' method='post'>
  <label for='username'>
    Username: <input name='username' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
