<h1>Sign in to Chitter:</h1>

<form action='/sessions' method='post'>
  <label for='username'>
    Username: <input type='text' name='username' required>
  </label>

  <label for='password'>
    Password: <input type='password' name='password'>
  </label>

  <label for='sign in'>
    <input type='submit' value='Sign in'>
  </label>

</form>
