<center>
<br>
<h1>Please sign in</h1>
<br>
<form method="post" action="/sessions">
  Username: <input type='text' name='username' required>
  Password: <input type='text' name='password' required>
  <input type='submit' value='Sign in'>
</form>

</center>