<div class="container">
  <form class="form-signin" action="/sessions" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="email">
      Email
      <input type="email" id="inputEmail" name="email" class="form-control" required autofocus/>
    </label>
    <label for="password">
      Password
      <input type="password" name="password" class="form-control" required/>
    </label>
    <label for="log in">
      <input class="btn btn-primary" type="submit" value="Log in" />
    </label>
  </form>
  <a href="/users/recover">I forgot my password</a>
</div>
