<div align="center">
  <h2>Please sign in</h2>
  <form action='/sessions' method='post'>

    <label for='email'>
      <p>
        Email
      </p>
      <input name='email' type='email' required>
    </label>

    <label for='password'>
      <p>
        Password
      </p>
      <input name='password' type='password' required>
    </label>
    <input type='submit' value='Sign in'>
  </form>

  <h2>Not a Spitter? No problem, sign up here!</h2>

  <form action="/users/new">
    <button>Sign up</button>
  </form>

  <form action="/">
    <button>Home</button>
  </form>

</div>
