<h1> Please sign in </h1>
<form action-'/sessions' method='post'>
  <label for='email'>
    <h1>Email: <input name='email' type='email'></h1>
  </label>
  <label for='password'>
    <h1>Password: <input name='password' type='password'></h1>
  </label>
  <input class='button' type='submit' value='Sign in'>
</form>
