<h1>Sign In</h1>

<form class="" action="/sessions" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="sign_in">Sign In</button>
</form>
