<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="../style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>

    <form id="new_user" action="/sessions" method="post">
      <label for="email"> Email:<input type="email" name="email" class="form_input"></label>
      <label for="password"> Password:<input type="password" name="password" class="form_input"></label>
      <input type="submit" value="Sign in" id="sign_up_button">
    </form>

  </body>

</html>
