<h1>Sign in to Chitter</h1>

<% if flash[:errors] %>
  <div class="flash"><%= flash[:errors] %></div>
<% end %>

<form action="/sessions" method="post">
  <label for="email">Email </label>
  <input name="email" type="email" required>

  <label for="password">Password </label>
  <input name="password" type="password" required>

  <input type="submit" value="Log in">
</form>
