<h1>Session</h1>
<br><br>
<form action='/sessions' method='post'>
  <label for='username'>
    Username: <input name='username' type='text'>
  </label><br><br>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='sign in'>
</form>
