<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>

<h1>Please enter your username and password:</h1>

<form action="/sessions" method="post">
  <ul>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </ul>
  <ul>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
  </ul>

  <input type="submit" value="Submit">
</form>
</html>