<h2 class="welcome">Please sign in</h2>

<form class="signin_form" action='/sessions' method='post'>
  <p>
    <label for='email'>
      <input name='email' type='email' placeholder="Email">
    </label>
  </p>
  <p>
    <label for='password'>
      <input name='password' type='password' placeholder="Password">
    </label>
  </p>
  <p>
    <input class="button" type='submit' value='Sign in'>
  </p>
</form>
