<h1> Sign In </h1>

<form action="/sessions" method="post">
  <label for="email">
    email:
    <input type="email" name="email" required>
  </label>

  <label for="password">
    password:
    <input type="password" name="password" required>
  </label>

  <input type="submit" value="Sign In" required>

</form>
