<h3>Please sign in</h3>

<form action='/sessions' method='post'>
  Email: </br>
  <input type='text' name='user_email'></br>
  Password: </br>
  <input type='password' name='password'></br>
  <% if flash[:log_in_notice] %> <%= flash[:log_in_notice] %> <% end %> </br>
  <input type='submit' value='Submit'>
</form></br>
<form method='get' action='/messages'>
  <input type='submit' value='cancel'>
</form>
