<h1> Log in </h1>

<form action='/users' method='POST'>

  <label for='email'>
    Username: <input type='text' name='username'>
  </label>

  <label for='password'>
    Password: <input type='password' name='password'>
  </label>

  <input type='submit' value='Log in'

</form>
