<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id='peeps'>
<br>
<br>
<h2>Please log in to Peep!</h2>
<form action='/sessions/new' method='post'>
  <label for='username'> Username: <input type='text' name='username' required></label>
  <label for='password'> Password: <input type='password' name='password'></label>
  <input type='submit' value='Log in'>
</form>

</div>