<% if current_user %>
  <h1>Hi <%= current_user.name %>, here are your Peeps</h1>

  <form id='peep' method='POST' action='/peeps'>
    <input type='text' name='peep' />
    <input type='submit' value='Peep' />
  </form>

<% end %>

<% if @peeps %>
  <ul id='peep_list'>
  <% @peeps.each do |peep| %>
    <li><%= peep.text %>
      <p><%= current_user.username %>: <%= peep.time_stamp.strftime('%a, %I:%M:%S %p') %></p>
    </li>
  <% end %>
</ul>
<% else %>
  <p>User has not peeped yet</p>
<% end %>
