<h1> Sign in below </h1>

<form action="/sessions" method="post">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  <input type="submit" value="Submit">
</form>
