<h1>Signup section</h1>

<form action="/users/new" method = 'post' id = 'signup'>

Name: <input type="text" name="name">
<br>
Username: <input type="text" name="username">
<br>
Email: <input type="text" name="email">
<br>
Password: <input type="password" name="password">
<br>
<input type="submit" value="Submit">

</form>
<br>
<br>
<a href="/">Back</a>