<form action='/sessions/sign_in' method='post'>
  username
  <input type='test' name='username'>
  password
  <input type='password' name='password'>
  <input type='submit' value='sign in'>
</form>

<%=flash[:error]%>

don't have chitter account?  sign up <a href='/makers/sign_up'>here</a>.
