Please sign in.
<form action="/sessions" method="post">
  <input type="text" placeholder="Email" name="email"><br><br>
  <input type="password" placeholder="Password" name="password"><br><br>
  <input type="submit" value="Sign in">
</form>
