<h1> Sign in </h1>

<form action="/sessions" method="post">
  <label for="name">
    <h1> Name </h1>
    <input type="text" name="name" placeholder="Enter your name" required/>
  </label>
  <label for="username">
    <h1> Username </h1>
    <input type="text" name="username" placeholder="Enter your username" required/>
  </label>
  <label for="email">
    <h1> E-mail </h1>
    <input type="email" name="email" placeholder="Enter your e-mail" required/>
  </label>
  <label for="password">
    <h1> Password </h1>
    <input type="password" name="password" placeholder="Please enter a password" required/>
  </label>
  <input type="submit" value="Sign in!"/>
</form>
