<h1>Sign in</h1>

<form action='/sessions' method='POST'>
  <label for='username'>Email:
    <input name='username' required type='username'>
  </label>
  <label for='password'>Password:
    <input name='password' required type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
