<html>
  <form action="/session" method="post">
    <ul>
      <li>
        Enter email
        <label for="email">
          <input type="email" name="email" placeholder="Email" required/>
        </label>
      </li>
      <li>
        Enter password
        <label for="password">
          <input type="password" name="password" placeholder="Password" required/>
        </label>
      </li>
      <button type="submit">Sign in</button>
    </ul>
  </form>
  <a href="/user/recover">I forgot my password</a>
</html>
