<center>
<h1> Welcome, <%= current_user.email %></h1>
<br>
<br>
<h2>You are currently logged into Chitter</h2>

<h3> Want to post a peep? </h3>

<form action='/chitter/index' method='get'>
  <!-- <label for='Peep'>
  Peep:
  <input type ='text' width='60' maxlength='120' name='message'>
</label> -->
  <input type='submit' value='Yes' >
</form>
<br>
<br>
<% if current_user %>
<form method='get' action='/'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Sign out'>
</form>
<% end %>
</center>
