<h1>Welcome To Chitter</h1>

<div>
    <h2>Sign up</h2>
    <form action='/registrations/confirmation' method='post' >
    <div style="border: 1px solid black; background-color: #ebebeb;">
      <labe>Name
      <br />
      <input type='text' name='name'
      </label>
      <br />
      <label>Email
      <br />
      <input type='text' name='email'
      </label>
      <br />
      <label>Password 
      <br />
      <input type='text' name='password'
      </label>
      <input type='submit' value='Submit' />
    </form>
      

  <style>
    h1 {color:orange;}
  <style/>
