<html>
  <head>
  <title>Chitter</title>
  <style>
      input {
              display: block;
              height: 30px;
              margin: 10px;
            }
  </style>

  </head>


  <body>

    <form action='/registrations' method='post'>
      <h1>Nice to meet you!<h1>
      <input type='text' name='name' placeholder='enter name' />
      <input type='text' name='username' placeholder='enter username' />
      <input type='password' name='password' placeholder='enter password' />
      <input type='text' name='email' placeholder='enter email' />
      <input type='submit' value='Sign Up' />
    </form>

  </body>

</html>