
    <div @class="new-peep">
      <h4>Post a new peep!</h4>
      <form action="/peeps/new" method="post">
        <label>Peep content:<input name="content" type="text"></label>
        <button type="submit">Post Peep!</button>
      </form>
    </div>