<div align="center">
  <h2> Spits </h2>
  <div align="left">
    <ul id='spits'>
      <% @spits.reverse.each do |spit| %>
      <li>
        <%= spit.content %>
        <p>
          Posted by <%= spit.user.username %> at <%= spit.created_at %> 
        </p>
      </li>
      <% end %>
    </ul>
  </div>

  <form action="/sessions/new">
    <button>Sign in</button>
  </form>

  <form action="/users/new">
    <button>Sign up</button>
  </form>
</div>
