<div align="center">
  <form action="/spits" method="post"
    <label for="content">
      <input type="text" name="content"/>
      <input type="submit" name="Spit it!" value="Spit it!"></button>
    </label>
  </form>
</div>
