<head>
  <link href="css/bootstrap.css" type='text/css' rel="stylesheet">
  <link href="css/bootstrap-responsive.css" type='text/css' rel="stylesheet">
</header>

<div align="center">
  <div class="wrapper">
    <form action="/spits" method="post"
    <label for="content">
      <textarea name="content"/></textarea>
      <p>
        <input type="submit" class="btn" name="Spit it!" value="Take a shit!"></button>
      </p>
    </label>
    </form>
  </div>

</div>
