<div class="wrapper">

  <div align="center">
    <form action="/spits" method="post"
    <label for="content">
      <input type="text" name="content"/>
      <p>
        <input type="submit" class="btn" name="Spit it!" value="Take a shit!"></button>
      </p>
    </label>
  </form>
</div>

</div>
