<link rel="stylesheet" type="text/css" href="css/normalize.css">
<body align='left'>
<h1> Poops </h1>

<ul style='list-style: none;'id='poops'>
  <% Poop.all.reverse.each do |poop| %>
    <li>
    <%= poop.user.name %>
    <font size=2 color='#C0C0C0'> 
     @<%= poop.user.username %>
    - pooped at <%= poop.created_at.strftime("%H:%M  %d-%b-%Y") %> </font>
  <div>
    <big><%= poop.poop_msg %></big>
  </div>
  ___________________________________________
    </li>
  <% end %>
</ul>
</body>
