
<h1> Poops </h1>

<ul id='poops'>
  <% Poop.all.reverse.each do |poop| %>
    <li>
    <font size=2 color='#C0C0C0'> 
    - pooped at <%= poop.created_at.strftime("%H-%M  %d-%b-%Y") %> </font>
  -->    <h3> <%= poop.poop_msg %></h3>
    </li>
  <% end %>
</ul>

