<div>
  <br><br><br>
  <form action='/poops' method='post'>
    <input name='poop_msg' type='text' placeholder='Poop it all out here.....' style="width: 300px; height: 40px;" required>
    <button name='poop' type='submit'>Poop</button>
  </form>
</div>


