<h1>Create a Shitter account!</h1>
<div>
  <form action='/poops' method='post'>
    <input name='poop_msg' type='text' placeholder='poop_msg' required>
    <button name='poop' type='submit'>Poop</button>
  </form>
</div>


