<h1> Post Poop </h1>

<form action="/poops" method="POST">
  <label for="poop">Poop:</label>
  <input type="text" name="poop">
  <!-- <label for="tags">Website Tags:</label>
  <input type="text" name="tags"> -->
  <input type="submit" value="Post Poop">
</form>
