// Import Bootstrap styles
@import "bootstrap"
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900)
@import url(https://fonts.googleapis.com/css?family=Varela+Round)

body
  color: #282c37
  font-family: 'Lato', sans-serif

h1, h2, h3, h4, h5, h6
  font-family: 'Varela Round', sans-serif
  margin-top: 0

.navbar-brand
  font-weight: 900

.flash-messages
  padding-left: 0
  padding-right: 0

.navbar
  border-radius: 0
  margin-bottom: 50px

.welcome
  text-align: center
  margin-bottom: 50px

ul#peeps
  li:nth-of-type(2n)
    background-color: #f9f9f9

  hr
    margin-top: 7px
    margin-bottom: 7px
    border-top: 1px dotted #d9e1e8
