<!-- This page will eventually list all of my meows -->

<h1>Kitter</h1>

<h2>What are your feline friends up to?</h2>

<% if current_user %>
Welcome <%= current_user.username %>
<% end %>

<ul id='meows'>
<% @meows.each do |meow| %>
    <li>
      <%= meow.message %>



<!-- HAVE A WEE LOOK AT YOUR NOTEBOOK FOR THE PSEUDO TIME METHOD -->




    </li>
  <% end %>
</ul>
