<h1>Meow kitty! Please fill your message in here.</h1>

<p>Please we warned kitties we have a 140 character limit</p>

<form action='/meows' method='post'>
  <label for='message'>
    <p>Message/Meow:</p>
    <input type='text' name='message' maxlength="140">
  </label>
    <input type='submit' value='Send meow!'>





  <!-- CANCEL BUTTON -->
</form>
