<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<center><br>
<h3>Write a new peep!</h3><br>

<form action = "/chitters" method = "post"><div><h2> name <input type = "text" name = "user_id" style="border:none"> message <input type = "text" name = "message" style="border:none"><input type = "submit" value = "Submit" class="button" style="border:none"></h2></div></form>

<br><br><h6><a href="/">Go back to main</a></h6>
</center>
