<body>

<style type="text/css">
ul{
  display:flex;
  flex-direction: column-reverse;
}
</style>

<% if @user %>
  <h1>Welcome to Chitter <%= @user.name %></h1>
  <% else %>
  <h1>Welcome to Chitter</h1>
  <h2>Sign up today.</h2>
  <% end %>
<form action='/users/new' method='get'>
<input type='submit' value="Sign up">
</form>

<br>


  <h3>Already have an account?</h3>
  <form action="/sign_in" method="post">
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Sign in">
  </form>

<form action='/chitters' method='post'>
<label>Write your peep below: </label><br>
<input type='text' name='peep'>
<input type='submit' value='Peep'>
</form>

<ul>
<% @peeps.each do |peep| %>
<li><% if @user %><%= @user.name %><% end %>
<%= peep.created_at %><br><%= peep.peep %></li><br>
<% end %>
</ul>