<h1> Invalid login details. Please try again. </h1>

<form action="/sign_in" method="post">
  <label>Username:</label>
  <input type="text" name="username"><br>
  <label>Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
  </form>