  <form method="post" action="/chitters">
    <input type="text" name="text" placeholder="Chitter Message Please" />
    <input type="text" name="message" placeholder="Chitter Message Please" />
    <input type="submit" value="Submit" />
  </form>