
<body style="background-color:powderblue;">
<ul>
  <% @peeps.reverse.each do |peeps| %>
    <li><%= peeps %></li>
  <% end %>
</ul>

<form action="/" method="Get"> 
<input type="submit" value="Go to homepage" style = "color:blue; font-family: Courier New;">
</form>
</body>
