<h2>What's on your mind today? Post a peep!</h2>

<form action="/peeps" method="post">
  <input type="text" name="username" placeholder="USERNAME">
  <input type="text" name="message" placeholder="MESSAGE">
  <input type="submit" value="Post">
  </form>
</div>