<head>
  <title>Chitter</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<div>
<nav class="navbar">
  <a class="brand" href="#">Chitter</a>
  <ul>
    <li>
      <a href="#">Sign-up</a>
    </li>
    <li>
      <a href="#">Log-in</a>
    </li>
  </ul>
</nav>
  <ul style="list-style: none;">
    <% @peeps.reverse.each do |peep| %>
      <li><%= peep.content %></li>
      <li style="font-size: 70%" ><%= peep.time_stamp %></li><br>
    <% end %>
  </ul>
</div>
