<ul>
<% @peeps.each do |peeps| %>
  <br>
  The id number of the user who submitted this is: <%= peeps.user_id %>
  <li><%= peeps.title %>
  <li><%= peeps.body %>
  <br>
<% end %>
<ul>

Click <a href='/peeps/new'>here</a> to make a new peep!