
<ul>
  <% @peeps.each do |peep| %>
      <li>
      <%= peep.message %> <br>
        written: <%= peep.time %>
      </li>
  <% end %>
</ul>


<form action=/peeps/message action='get'>
  <input type='submit' value='New message'/>
</form>
