<ul>
  <% @peeps.each do |peep| %>
      <%= peep.message %>, <%= peep.date %>, <%= peep.time %>
  <% end %>
</ul>

<form action='/peeps/new' method='post'>
  <input type='submit' name='Send new peep'
</form>
