<h3>Please enter your new peep</h3>

<form action = '/peeps/<%= @peep.id %>' method = 'post'>
  <input id="hidden" type="hidden" name="_method" value="patch"

  <label for='content'>Content:</label>
  <input type = 'text' name = 'content' maxlength="200" value="<%= @peep.content %>" required>

  <input type = 'submit' value = 'Submit'>
</form>
