<form action="/<%= @peep.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="text" name="peep" value="<%= @peep.peep %>"/>
  <input type="submit" value="Edit Peep" />
</form>
