<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter: Edit peep</title>
  </head>
  <body>
    <form class="" action="/peeps/<%= @peep.id %>" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <label for="">
      Edit peep...
      <br>
      <input type="text" name="text" value="<%= @peep.text %>">
      </label>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>





