<form class="" action="/peeps/<%= @peep.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="">
    Edit peep...
    <br>
    <input type="text" name="text" value="<%= @peep.text %>">
  </label>
  <input type="submit" name="" value="Submit">
</form>
