<h1> Chitter Feed: </h1>
<ul>
  <% @peeps.each do |peep| %>
  <li><%= peep.comment %> @ <%= peep.created_at %></li>
  <% end %>
</ul>
<div>
  <form method='get' action='/peeps/new'>
    <input type='submit' name='New Peep' value='New Peep' />
  </form>
</div>
