<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <ul>
    <% @peeps.each do |peep| %>
      <li> 
        <%= peep.text %><br>
        <div id="time">
          <%= peep.timestamp %>
        </div>
        <div id="username">
        <%= peep.username %>
      </div>
      </li>
    <% end %>
    </ul>
  </body>
</html>