<h1>
 <%= flash[:notice] %>
</h1>

<% if @user %>
<h1> Welcome, <%= @user.name %> </h1>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
  <div id="message">
    <li><%= peep.message %></li>
    <li><%= peep.time %></li>
    </div>
  <% end %>
</ul>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign Out" />
</form>
