<ul>
<%= flash[:notice] %>
<% if @user %>
  Welcome, <%= @user.username %>!
  <form action='/sessions/destroy' method='post'>
    <input type='submit' value='Sign out'/>
  </form>

  <form action = '/peeps/new'>
    <input type = 'submit' value = 'New Peep'/>
  </form>
<% end %>

  <% @peeps.each do |peep| %>
    <li>
     <%= peep.message %>
     <br>
     <%= peep.time[0..18] %>
    </li>
  <% end %>
</ul>
