<h1>Here are all Chitter peeps!</h1>
<br>
<br>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep %> Posted at: <%= peep.timestamp.to_s[10, 6]%> on <%= peep.timestamp.to_s[0, 10]%> </li>
  <% end %>
</ul>
