<div class="center-block">
  <h2> What's on your mind? </h2> 
  <div class="form"> 
    <div class="form-group-wrap"> 
      <form action="/peeps" method="post">
        <div class="form-group">
          <textarea id="peeptextarea" name="text" rows="5" cols="30" placeholder="peep..."></textarea>
        </div> 
         <div class="form-group">  
          <input type="submit" class="button" value="Submit">
        </div> 
      </form>
    </div>  
  </div>
</div>


