<ul style="list-style-type:none">
  <% @peeps.each do |post| %>
    <li>
      <%= post.peep %>
    </li>
    <li>
      @<%= post.user_id %> at <%= post.created_time %> 
      
    </li>
  <% end %>
</ul>

<form action="/peeps/new">
  <input type="submit" value="New Peep">
</form>


<h1> Join Chitter today </h1>
<form action="/sessions/login">
<input type="submit" value="sign in">
<input type="submit" value="sign up" formaction="/registrations/sign_up">
</form>
<% if @user ==nil %>
<h3> Not signed in </h3>
<% else %>
<h3> Signed in as <%= @user.first_name %> </h3>
<% end %>
<a href="/sessions/log_out" > log out </a>