<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightskyblue;

}
</style>
</head>
<h2>Chitter</h2>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.message %>  -  <%= peep.time[5..15] %></li>
  <% end %>
</ul>

<a href="/peeps/new">Create new peep!</a>
<br>
<br>
<a href="/signup">Sign up</a>
