<form action='peeps/new'>
  <input type="submit" value="+" class="w3-button w3-xlarge w3-circle w3-theme-action"
  style="position:fixed;top:48px;right:24px;"></input>
</form>

<ul class="w3-ul w3-border-top">
  <% @peeps.each do |peep| %>
  <li class="peep" id="peep-<%= peep.id %>">
    <a><%= "#{peep.user_name} at #{peep.time.strftime("%H:%M")}" %></a>
    <h3> <%= peep.message %></h3>
  </li>
  <% end %>
</ul>
