<form action='/users/new'>
  <input type='submit' value='Sign up'>
</form>
<br>

CHITTER
<% if !@user.nil? %>
  <br>
  Welcome, <%= @user.username %>!
<% end %>
<br>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %>
      <%= peep.sent_time %>
    </li>
  <% end %>
</ul>

<br>

<form action='/peeps/new'>
  <input type='submit' value='New'>
</form>
