<!DOCTYPE html>
<html>
<center>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <h1> Chitter Feed </h1>
  </head>
  <body>
    <form id="peeper" action="/chitter/create" method="post">
      <input type="text" name="message" placeholder="What's the peep?">
      <input type="text" name="name" placeholder="Enter your name">
      <input type="submit" value="Peep!">
    </form>
    <div>
      <% @peeps.each do |peep| %>
      <blockquote class="peep" id="peep-<% peep.id %>">
        <a><%= peep.message %></a><p>- <%= peep.name %></p><b><%= peep.time[0..15] %></b></blockquote>
      <% end %>
    </div>
  </body>
</center>
</html>
