<% require 'time' %>

<h1>Welcome to Chitter Hagrid! <%= "#{@user}!" %> </h1>

<h3> Peeps Bonanza </h3>
<ul>
  <% @peeps.reverse_each do |peep| %>
    <p><br><%= peep.text %><br>
      <%= Time.parse(peep.time).strftime("%H:%M, %d %B") %>
    </br></p>
  <% end %>
</ul>


<a href="/peeps/new">New Peep!</a>



<div>
  <a href="/users/new">
    <button>Sign Up</button>
  </a>
</div>
<div>
  <a href="/users/login">
    <button>Log In</button>
  </a>
</div> 
