<body>
  <form action="/peeps" method="post">
    <input type="text" name="peep" placeholder="Your peep here"/>
    <input type="submit" value="Peep That" />
  </form>
  <ul>
  <% @peeps.reverse.each do |peep| %>
    <li>
    <%= peep.content %>
    <p>Posted at <%= peep.time %></p>
    </li>
  <% end %>
</ul>
</body>