<!DOCTYPE hmtl>
<html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter Index Page</title>
  </head>
  <body>
    <form action='/peeps/add_peep' method='post'>
      <label for='new_peep_text'>
        New peep:
        <input type='text' name='new_peep_text'>
      </label>
      <button type='submit'>Post</button>
    </form>
    <ul style="list-style-type:none">
      <%@peeps.each do |peep|%>
      <li id="<%=peep.id%>">
        <h3><%=peep.time%></h3>
        <%=peep.text%>
      </li>
      <%end%>
    </ul>
  </body>
</html>
