<form action='/users/new'>
  <input type='submit' value='Create new user'>
</form>
<h1>What did you peep?</h1>
<ul>
<% Peep.list.each do |peep| %>
<h2> By <%= User.find(peep.user_id).name%> at <%= peep.time%> </h2>
<h3> <%= peep.content%> </h3>
<% end %>
</ul>
