<h2>Chitter</h2>
<br>
<% if @user_name %>
  <h3>
    Welcome, <%= "#{@user_name}" %>
  </h3>
<% end %>


<p2>
  Click below to post a new peep
  <br>
  <br>
  <form action="/peeps/new">
    <button>Post a peep</button>
  </form>
</p2>
<br>


<p3>
  Peeps are listed below
  <ul>
    <% @peeps.each do |peep| %>
      <li>  <%= "#{peep.text} at #{peep.time}" %>
    <% end %>
  </ul>
</p3>
