<h1>Timeline</h1>
<form action="/peeps/new">
  <input type="submit" value="Post a Peep" />
</form>
<ul>
<% @peeps.reverse_each do |peep| %>
<ol>
    <b><%= peep.message %></b>
    <br>
    Posted at: <%= peep.peep_timestamp %>
</ol>
<% end %>
</ul>
