<ul>
  <% @peeps.each do |message| %>
    <li>
      <h3><%= message.name %></h3>
          <%= message.handle %>
        <p><%= message.message %></p>
    </li>
  <% end %>
</ul>
<form action="/peeps/new">
  <input type="submit" value="New peep" />
</form>
