<% if @current_user %>
  <h1>Hello <%= @current_user.handle %>
<% end %>
<h2>What's on your mind?</h2>
  <form action="/peeps" method="post">
    <input type="text" name="message" placeholder="Write your message here..." />
    <input type="submit" value="Submit" />
  </form>
<ul>
  <% @peeps.each do |message| %>
    <% if message.user_id == @current_user.id %>
      <h4><%= @current_user.handle %>: </h4>
    <% else %>
      <span></span>
    <% end %>
        <p><%= message.message %></p>
        <br>Posted at: <%= message.timestamp %></br>
        --------------------
  <% end %>
</ul>
