<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <% @peeps.each do |peep| %>
    <div id="peep">
      <%= peep.text %><br>
      <div id="time">
        Posted At: <%= peep.timestamp %>
      </div>
      <div id="username">
        Posted By: <%= peep.username %>
      </div>
      </div>
    <% end %>
  </body>
</html>