<h1 style="text-align:center;">CHITTER</h1>

<% if @user %>
  <h3>Signed in as: <%= @user.name %></h3>
<% end %>

<form action= "/peeps/new" >
  <input type="submit" value="New Peep">
</form>

<ul>
  <% @peeps.reverse.each do |a_peep| %>
    <li>
      <%= a_peep.user_id %>
      <%= a_peep.peep %>
      (<%= a_peep.time %>)
    </li>
  <% end %>
</ul>

<form action= "/" >
  <input type="submit" value="Back to homepage">
</form>
