<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>

  <form action="/" >
    <button type="submit">HOME</button>
  </form>

  <form action="/peeps/new" >
    <button type="submit">NEW PEEP</button>
  </form>

  <form action="/users/new" >
    <button type="submit">SIGN UP</button>
  </form>

  <form action="/users" >
    <button type="submit">USERS</button>
  </form>


  <% @peeps.each do |peep| %>
  <div class="message-box">
    <%= peep.peep %> <br>
    <div class="user-handle">
    <%= peep.username %>
    <%= peep.time %> </div>
    </div>

  <% end %>

</body>
</html>
