<h2>
  <%= flash[:notice] %>
</h2>
<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>
<ul>
  <%@peeps.each do |peep| %>
    <li>
      <%=peep.peep%>
      <%=peep.created_at%>
    </li>
  <%end%>
</ul>

<form action="/sessions/delete" method="post">
  <input type="submit" value="Sign out" />
</form>