<body>
  <h1>Welcome to Chitter!</h1>
  <br>
  <ul>
    <% @peeps.each do |peep| %>
      <li class="peep" id="peep-<%= peep.id %>">
        <%= peep.post %> | <%= peep.time %>
      </li>
      <br>
    <% end %>
  </ul>
</body>

<h2>Make a new peep!</h2>
<form action="peeps/new" method="get">
  <input type="submit" class="button" value="Make a Peep">
</form>
