<ul style="list-style-type:none">
  <% @peeps.each do |post| %>
    <li>
      <%= post.peep %>
    </li>
    <li>
      <%= post.created_time %> 
    </li>
  <% end %>
</ul>

<form action="/peeps/new">
  <input type="submit" value="New Peep">
</form>

<h1> Signed in as <%= @user.first_name %> </h1>
<a href="/sessions/log_out" > log out </a>