<!DOCKTYPE html>
<html>
<head>
</head>
<body>
  <form action='/peeps/create' method='post'>
    <textarea type='text' name='peep' placeholder='Got something on your mind?'></textarea>
    <input type='submit' value='Peep it'>
  </form>
  <% @peep.each do |result| %>
    <p>
      <%= result[:message] %>
      <sub><%= result[:posted] %><sub>
    </p>
  <% end %>
</body>
</html>