<h1>Chitter</h1>
<% if session[:user] %>
  <p>Hello, <%= session[:user].username %>
  <form action="/accounts/logout" method="post">
    <input type="submit" value="Log out!">
  </form>
  </p>

  <form action="/peeps/new" method="get">
    <input type="submit" value="Make a Peep">
  </form>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
    <li class="peep"><%= peep.text %> <p> Chitted by: <%= peep.user.username %> (<%= DateTime.parse(peep.created_at).strftime("%e/%_m/%Y @ %H:%M:%S") %>)</p></li>
  <% end %>
</ul>