  <style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
    font-size:30px;
}
</style>
<center>
  <ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %><br><br></li>
  <% end %>
</ul>
</center>