
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
</head>
<body>

	<h1> Welcome to Chitter! </h1>

	<ul>
		<% @peeps.reverse_each do |peep|%>
		<li> <%= peep.message%> created at: <span style='color:gray'> <%=peep.time%> </span></li>
		<% end %>
	</ul>
	
</body>
</html>