<% if @profile %>
  <h1>Welcome, <%= @profile.name %></h1>
<% end %>
<ul>
  <% @peeps.reverse_each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.peep %> peeped at:<%= peep.peeped_at %>
    </li>
  <% end %>
</ul>
