<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <div class="peep_box">
    <li>
  		Created at: <%= peep.created_at %>
  		<br>
      Title: <%= peep.title %>
      <br>
      Body:   <%= peep.body  %>
    </li>
  <% end %>
</ul>

<form action='/peeps/new' method='get'>
<input type='submit' value='Post new peep'>

</form>