<ul>
  <% peeps.reverse.each do |peep| %>
    <li><%= peep.message %></li>
  <% end %>
</ul>

<form action="/peeps" method="post">
  <input type="text" name="message"/><br/>
  <input type="submit" value="Peep!"/>
</form>
