<div>
  <h1>Peep it all the way!</h1>
</div>

<div>
  <p>This is a peep from a feature test!</p>
</div>

<textarea form="peep" name="peep"></textarea>

<form id="peep" action="/peeps" method="post">
  <input type="submit" value="Peep it"/>
</form>
