<style>
  * {
    font-family: "Courier new", times, serif;
  }
  div { width: 60% }
</style>

<center>
<% if @current_user %>
  <h1>Welcome to Chitter <%= @current_user.handle %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" /> 
  </form>
<% end %>
<h3>What's on your mind?</h3>
  <form action="/peeps" method="post">
    <input type="text" name="message" placeholder="Write your peep here" />
    <input type="submit" value="Submit" />
  </form>
<ul>
  <% @peeps.each do |message| %>
    <% if message.user_id == @current_user.id %>
      <h4><%= @current_user.handle %>: </h4>
    <% else %>
      <span></span>
    <% end %>
        <p><%= message.message %></p>
        <br>Posted at: <%= message.timestamp %></br>
        --------------------
    <br></br>
  <% end %>
</ul>
</center>
