<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home / Chitter</title>
  </head>
  <body>
    <h2>Chitter</h2>
    <h4>Welcome, <%= @username %></h4>
    <ul>
      <% @peeps.each do |peep| %>
        <li><%= peep.message %>  -  <%= DateTime.parse(peep.time).strftime('%e-%m-%y %H:%M') %></li>
      <% end %>
    </ul>

    <a href="/peeps/new">Create new peep!</a><br>
    <br><a href="/users/new">Sign up</a>

  </body>
</html>
