<% if !current_user %>
  <form method='get' action='/sessions/new'>
    <input type='submit' value ='Sign in'>
  </form>
  <form method='get' action='/users/new'>
    <input type='submit' value ='Sign up'>
  </form>
<% end %>
<h1> Welcome to Chitter! </h1>
<form method='get' action='/peeps/new'>
  <input type='submit' value='Post a peep!'>
</form>
Peeps:
<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.username %>: <%= peep.content %>
    </li>
  <% end %>
</ul>
