<ul>
<%@peeps.each do |peep| %>
<li><%=peep.peeps%><br> submitted:<%=peep.time%></li>
<%end%>
</ul>

<div>
<form action="/add_peep" method='post'>
  <input type="text" name="new_peep"><br>
  <input type="submit" value="Add Peep">
</form> 
</div>

