<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Chitter</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>Welcome to Chitter</h1>
    </header>

      <div class="center">
      <h2>All the peeps so far</h2>
      <ul>
      <% @peeps.each do |peep| %>
      <li class="peeps"><%= peep.message %>, <%= peep.time %></li>
      <% end %>
      </ul>
      <h2>What's in yor mind, Maker?</h2>
      <br>
        <div>
          <p><a class="button" href="peeps/new">Write Peep</a></p>
        </div>
      </div>
  </body>
</html>
