
<div class="sign-up-form">
  <button class="submit-button" onclick="location.href='/peeps/new'"> Post Peep</button>
</div>
<div align="center" style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">
  <%= flash[:notice] %>
</div>
<div class="peeps">
  <ul style="list-style: none;">
    <% @peeps.reverse.each do |peep| %>
     <ul class="peep">
        <li><%= peep.content %></li>
        <li style="font-size: 70%" ><%= peep.time_stamp %></li><br>
      </ul>
    <% end %>
  </ul>
</div>