<h1> Welcome, <%= @user.email %> </h1>
<h1> Chitter Feed: </h1>
<ul class="feed">
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.datetime %>: <%= peep.message %>
    </li>
  <% end %>
</ul>

<form action="/peeps/new" method="get">
  <button class="button" type="submit">+</button>
</form>

<form action="/users/new" method="get">
  <button class="button" type="submit">Logout</button>
</form>