<!DOCTYPE html>

<html>

<head>
<style>
div{
     height: 400px;
     width: 800px;
     background: lightgray;
     line-height: 200px;
     text-align: center;
}

</style>
</head>


<body>

<div>
<h1>Welcome to Chitter, You have signed up successfully!</h1>
</div>

</body>
</html>
