<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.timestamp %> <%= peep.message %></li>
  <% end %>
  <a href="/peeps/new">New Peep!</a>
  <a href="/registration/signup">Sign Up</a>
  <a href="/sessions/login">Log in!</a>
</ul>

<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
  <a href="/sessions/logout">Log Out</a>
<% end %>