  <style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>
<center>
  <ul>
  <% @peeps.reverse_each.each do |peep| %>
    <li><%= peep.text %> 
    <br>
    <%= peep.time %> 
    <br><br>
    </li>
  <% end %>
</ul>
</center>