<h3>
<%= flash[:notice] %>
</h3>
<% if @user %>
<h1>Welcome, <%= @user.email %></h1>
<div>
  <h3>Add your peep here</h3>
  <form action="/peeps" method="post">
    <input class="form-control" type="text" name="message" placeholder="What's happening?"/>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit"/>
  </form>
</div>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
<% end %>

<ul class="list-group">
  <h3>Peeps Timeline</h3>
    <% @peeps.reverse_each do |peep| %>
      <ol class="list-group-item">
        <b><%= peep.message %></b>
        <br>
        Posted at:
        <%= peep.created_at %>
      </ol>
    <% end %>
