<!DOCTYPE html>
<html>
  <head>
    <style>
      p.groove {border-style: groove;}
    </style>
  </head>
  <body>

    <h1 style="text-align:center;">CHITTER</h1>

    <% if @user %>
      <h3>Signed in as: <%= @user.name %></h3>
      
      <form action= "/peeps/new" >
        <input type="submit" value="New Peep">
      </form>
    <% end %>

    <ul>
      <% @peeps.reverse.each do |a_peep| %>
          <p class="groove">
            User ID: <%= a_peep.user_id %> / Message: <%= a_peep.peep %> / Time:<%= a_peep.time %>
          </p>
      <% end %>
    </ul>

    <form action= "/">
      <input type="submit" value="Back to homepage">
    </form>
  </body>
</html>
