<body style="background-color:powderblue; text-align: center;>
<div class="header">
  <h1> Welcome to Chitter </h1>
</div>


<form action="/peeps/new" method="Get"> 
<input type="submit" value="Peep" style = "color:blue; font-family: Courier New;">
</form>

<form action="/peeps" method="Get"> 
<input type="submit" value="See Peep's" style = "color:blue; font-family: Courier New;">
</form>
</body>
