<% require 'time' %>

<% if @user %>
  <h1>Welcome <%= @user.email %></h1>
<% end %>

<ul>
  <% @peeps.reverse_each do |peep| %>
    <p><br><%= peep.text %><br>
      <%= Time.parse(peep.time).strftime("%H:%M, %d %B") %>
    </br></p>
  <% end %>
</ul>


<a href="/peeps/new">New Peep!</a>