<!DOCTYPE hmtl>
<html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter Index Page</title>
  </head>
  <body>
    <form action='/peeps/add_peep' method='post'>
      <label for='new_peep_text'>
        New peep:
        <input type='text' name='new_peep_text'>
      </label>
      <button type='submit'>Post</button>
    </form>
    <p><%=session[:peep_text]%></p>
    <p> I am peep 1 <br>
      I am peep 2 <br>
      I am peep 3 </p>
  </body>
</html>
