<!-- <% if !current_user %>
  <form method='get' action='/sessions/new'>
    <input type='submit' value ='Sign in'>
  </form>
  <form method='get' action='/users/new'>
    <input type='submit' value ='Sign up'>
  </form>
<% end %> -->

<div class="archie-header">
  <h4> Chitter :: Welcome </h4>
  Peeps:
</div>


<ul class="trwh-list-group">
  <% @peeps.reverse.each do |peep| %>
    <li class="list-group-item"><b><%= peep.username %>:</b> <%= peep.content %> <br><i>Date: <%= peep.created_at %></i></li>
  <% end %>
</ul>
