<!DOCKTYPE html>
<html>
<head>
</head>
<body>
  <form action='' method='post'>
    <textarea type='text' name='peep' placeholder='Got something on your mind?'></textarea>
    <input type='submit' value='Peep it'>
  </form>
</body>
</html>