<% unless @user.nil? %>
You are currently logged in as <%= @user.username %>
<% end %>

<ul>
<% @result.each do |row| %>
<li><%= row['content'] %>, peeped at <%= row['time'] %> on <%= row['date'] %></li>
<% end %>
<% unless @user.nil? %>
<a href= "/peeps/new">New Peep</a>
<% end %>
<a href= "/users/new">Sign up for Chitter</a> to start adding peeps!
