<% if current_user %>
  <p>enter peep</p>
  <form action="/peep" method="post">
  <input type="text" name="peep_body"><br>
  <input type="submit" value="Create peep">
<%  else %>
  <p>you must be logged in to peep</p>
<% end %>
<div id="peeps">
  <% @peeps.each do |peep| %>
    <div class="peep">
      <span class="author">
        <%= peep.user.user_name %>
        <%= peep.user.name %>
      </span>
      <span class="time">
        <%= peep.time.strftime("%H:%M %d/%m/%Y")%>
      </span>
      <%= peep.body %>
    </div>
  <% end %>
</div>
