<h1>Chitter</h1>

<% if @user %>
  <h2>Welcome, <%= @user.name %> (@<%= @user.username %>)</h2>
  <form action="/peeps/new" method="GET">
    <input type="submit" value="New Peep">
  </form>
  <form action="/sessions/destroy" method="POST">
    <input type="submit" value="Sign out">
  </form>
<% else %>
  <form action="/sessions/new" method="GET">
    <input type="submit" value="Sign in">
  </form>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peeped_on %> <%= peep.peep_text %></li>
  <% end %>
</ul>
