<% @peeps.each do |peep| %>
<p> <%= peep.user_handle %> (<%= peep.user_name %>) peeped at <%= peep.time_stamp %>:
<br>
<%= peep.message %>
</p>
<% end %>
<br><br>
<form action="/peeps/new">
    <input type="submit" value="Add your own peep!" />
</form>
