<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  font-size: 12px;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<!-- <link rel="stylesheet" type="text/css" href="/styles.css"/> -->
</head>
<body>

<table>
  <tr>
    <th>Peep</th>
    <th>Username</th>
    <th>Time</th>
  </tr>
  <% @peeps.each do |peep| %>
  <tr>
    <td><%= peep.peep %></td>
    <td><%= peep.username %></td>
    <td><%= peep.time %></td>
    </tr>
  <% end %>
</table>

<form action="/" >
  <input type="submit" value="Home"/>
</form>

<form action="/peeps/new" >
  <input type="submit" value="New Peep"/>
</form>

<form action="/users/new" >
  <input type="submit" value="New User"/>
</form>

<form action="/users" >
  <input type="submit" value="Show Users"/>
</form>

</body>
</html>
