<% if flash[:message] %>
  <div style="font-weight: bold; color: green"><%= flash[:message] %></div>
<% end %>
<div style="float: left">
  <ul>
    <% @peeps.each do |peep| %>
      <p style="font-weight: bold"> <%= peep.content %></p>
      <p style="font-style: italic"> <%= peep.time %></p>
    <% end %>
  </ul>
</div>
<% if session[:user] %>
  <div style="float: right">
    <form action='/users/logout' method='post'>
      <input type="submit" value="Log out">
    </form>
  <div>
<% end %>
