<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h1> Peeps</h1>
      </center>
    <ul>
      <% @peeps.each do |peep| %>
        <li>
          <%=peep.message%>
        </li>
      <% end %>
    </ul>
    <form action="/peeps/new" method="get">
        <button type="button">New Peep</button>
    </form>
  </body>
</html>
