<ul>
<%= flash[:notice] %>
<% if @user %>
  Welcome, <%= @user.username %>!
  <form action='/sessions/destroy' method='post'>
    <input type='submit' value='Sign out'/>
  </form>
<% end %>
  <% @peeps.each do |peep| %>
    <li>
     <%= peep.message %>
     <br>
     <%= peep.time %>
    </li>
  <% end %>
</ul>
