<h1>
  <ul><% @peeps.each do |peep| %>
    <li><%= peep.message %> - <%= peep.date_time %></li>
  <% end %>
  </ul>
</h1>

<% if @user %>
<form action="/sessions/destroy" method="post">
  <button type="submit" value="Sign Out" style="text-align:center; width:300px; font-size:30px;">Sign Out</button>
</form>
<% end %>
