<ul>
  <% @peeps.each do |peep| %>
    <li class='list'>
      <%= peep.description %><br>
      <%= peep.format_time %>
    </li>
    <br>
  <% end %>
</ul>

<form action='/peeps/new' method='post'>
  <label for='description'>Enter your peep text here:</label>
  <input type='text' name='description'>
  <input type='submit' value='Post'>
</form>
