<!DOCTYPE html>
<html>
  <head>
    <style>

      h1 {
        color: white;
        letter-spacing: 8px;
        font: arial, sans-serif;
      }
      h3 {
        color: white;
      }
      body {
        color: white;
        background-color: #003a73;
        padding: 20px;
      }
      p.groove {
        border-style: groove;
        border-color: white;
        border-width: 1px;
        border-radius: 5px;
        padding: 12px;
        background-color: #002040;
      }
    </style>
  </head>
  <body>

    <h1 style="text-align:center;">CHITTER</h1>

    <% if @user %>
      <h3>Signed in as: <%= @user.name %></h3>

      <form action= "/peeps/new" >
        <input type="submit" value="New Peep">
      </form>
    <% end %>

    <ul>
      <% @peeps.reverse.each do |a_peep| %>
          <p class="groove">
            User ID: <%= a_peep.user_id %> / Message: <%= a_peep.peep %> / Time:<%= a_peep.time %>
          </p>
      <% end %>
    </ul>

    <form action= "/">
      <input type="submit" value="Back to homepage">
    </form>
  </body>
</html>
