<h2>Chitter Timeline</h2>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      Peeped by: @<%= peep.user.username %>
      <br>
      "<%= peep.peep %>"
      <br>
      At: <%= peep.time %>
    </li>
  <% end %>
</ul>
