<ul>
  <% @peeps.each do |message| %>
    <li>
      <h4><%= message.name %><br><%= message.handle %></br></h4>
        <p><%= message.message %></p>
    </li>
  <% end %>
</ul>
<form action="/peeps/new">
  <input type="submit" value="New peep" />
</form>
