<% require 'time' %>

<% unless @user == nil %>
  <h1> Welcome to Chitter <%= @user.username %>!</h1>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Log Out" />
  </form>
<% end %>

<h3> Peeps Bonanza </h3>
<ul>
  <% @peeps.reverse_each do |peep| %>
    <p><br><%= peep.text %><br>
      <%= Time.parse(peep.time).strftime("%H:%M, %d %B") %>
    </br></p>
  <% end %>
</ul>

<% if @user != nil %>
  <a href="/peeps/new">New Peep!</a>
<% else %>
    <div>
      <a href="/users/new">
        <button>Sign Up</button>
      </a>
    </div>
    <br>
    <div>
      <a href="/sessions/new">
        <button>Log In</button>
      </a>
    </div>

<% end %> 

