<!DOCTYPE html>
<html>
  <body>
    <style>
      h1 {
        text-align: center;
        background-color: yellow;
        color: black;
      }
      div {
        text-align: center;
        background-color: yellow;
        color: black;
      }
    </style>
    <h1>Say how you feel: &#9925</h1>
    <div>
      <form action='/peeps/message' method='post'>
        <input type='text' name='message'/>
        <input type='submit' value='Submit'/>
      </form>
    </div>
  </body>
</html>
