<h1>New Peep</h1>
<form class="new-peep" action="/peeps" method="post">
  Message<br>
  <input type="text" name="message" value=""><br><br>
  <input type="submit" name="submit" value="Submit">
</form>
