<h2> Write a Peep </h2>
<form action="/peeps/timeline" method="post">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="text" placeholder="What's on your mind?" />
  <input type="submit" value="Post" />
</form>

<a href="http://localhost:9292/peeps/timeline"><input type=button value='return without peeping?'></a>