
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<body>

<h1>
<% if @username %>
Welcome back, <%= @username %>!
<% end %>
<br>
<form action="/" >
  <button type="submit">HOME</button>
</form>
<br>
 Let's peep!
</h1>

<form action="/peeps" method="post">
<textarea rows="10" cols="100" name="peep" placeholder="Enter peep here...">
</textarea>
<br><br>
<input type="text" name="username" placeholder="username"/>
<br><br>
  <button type="submit">Submit</button>
</form>


</body>
</html>
