<form method="post" action="/peeps">
  <input type="text" name="username" placeholder="USERNAME" />
  <input type="text" name="text" placeholder="PEEP" minlength='2' maxlength='140'size='50' required />
  <button type='submit'>Submit</button>
</form>