<center>
  <h3> Peep Peep </h3>
  <form action='/peeps' method='post'>
    <label>
      Type here:
    <input type='text' name='content'>
    </label>
    <input type='submit' value='Post'>
  </form>
</center>
