<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>What's on your mind?</h1>

<form action="/peeps" method="post">
  <input type="text" name="script" />
  <input type="submit" value="Submit" />
</form>

</body>
</html>
