<form action="/peeps" method="post">
  <input type="text" name="content" />
  <input type="submit" value="Post" />
</form>


<%# <form action='/peeps' method='post'>
  <label for='peep'> Peep!</label> <input type='text' name='peep'>
  <input class='button' type='submit' value='Post peep'>
</form> %>