<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>

    <p>Welcome, <%= @user.first_name %> </p>

    <form action="/peeps/new" method='post'>
      <textarea rows="4" cols="57" name="content" placeholder="What's on your mind?"></textarea>
      <div>
        <button type="submit" name='submit_peep'>Submit</button>
      </div>
    </form>
    

  </body>
</html>