<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-light bg-light" class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="http://image.flaticon.com/icons/png/512/23/23931.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Chitter
  </a>
  <form action="/sessions/destroy" method="post">
    <input type="submit" class="btn btn-dark" value="Sign Out" />
  </form>
</nav>

<div style="margin: 35px;">
  <h2>What's happening?</h2><br>
  <form action="/peeps/new" method="post">
    <input style="height:200px;width:400px;font-size:14pt;" type="text" name="content" placeholder="Write your peep here..."/><br><br>
    <input type="submit" class="btn btn-dark" value="Create" />
  </form>
</div>
