<head>
  <title>Add</title>
</head>

<body>
  <h1>Please enter a peep</h1>

  <form action='/peeps' method='post'>
    <input type="text" name="content" placeholder="Content" />
    <br>
    <input type="text" name="username" placeholder="Username" >
    <br>
    <button type="submit">Submit</button>
  </form>

  </body>
</html>
