<h2>Create a new Peep</h2>
<div class='form-container'>
  <form action='/peeps' method='post'>
    <div class='form-child'>
      <input type='text' name='peep' placeholder='Type your peep here!' />
    </div>
    <div class='form-submit'>
      <input type='submit' value='Submit' />
    </div>
  </form>
</div>
<div class='bottom-nav'>
  <a href="/">Chitter homepage</a>
</div>
