<form action="/peeps" method='post'>
<label for='author'>Author:</label>
<input type='text' id='author' name='author'/><br><br>
<label for='body'>Peep:</label>
<input type='text' id='body' name='body'><br><br>
<label for='body'>Date:</label>
<input type='text' id='date' name='date' placeholder="YYYY-MM-DD HH:MI:SS"><br><br>
<input type='submit' value='post'/>
</form>