<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h2>What's happening?</h2>
    <form action="/peeps" method="post">
      <input type="text" name="message" >
      <input type="submit" value="Peep">
    </form>
  </body>
</html>
