<form action="/peeps" method="post">
  Please type a new Peep
  <input type="text" name="peep">
  <input type="submit" value="Submit">
</form>
<style>
body {
  background-image: url('https://techcrunch.com/wp-content/uploads/2018/07/fake-twitter-accounts.png?w=1390&crop=1');
}
</style>
