
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>What's Happening?</h1>
    <form action="/peeps" method="post">
      <input type="text" name="peep" />
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
