<!DOCTYPE html>
<html>
  <head>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <form action='/peeps' method='POST'>
      <textarea
        rows = "3" cols = "50" maxlength='141' wrap='soft' name='content'>
      </textarea>
      <!-- <input class='peep' type='text' name='content' maxlength='141'> -->
      <input type='submit' value='Peep!'>
    </form>
  </body>
</html>
