
<!DOCTYPE html>
<html>
<body>

<h1> Let's peep! </h1>

<form action="/peeps" method="post">
<input type="text" name="username" placeholder="username"/>
<br><br>
<textarea rows="10" cols="100" name="peep" placeholder="Enter peep here...">
</textarea>
<br>
<input type="submit" value="Submit"/>
</form>


</body>
</html>
