<!DOCTYPE html>
<html>
  <head>
    <title>New peep</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Create a new peep</h1>
    <h2>Type what you want to say, and hit submit to peep!</h2>
      <form action="/peeps" method="post">
        <input type="text" name="content" /> 
        <input type="submit" value="Submit" /> 
      </form>
  </body>
</html>
