<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  </head>

  <body>

    <form action="new-peep" method="post">
      <label for="message"><h1>Whatcha peeping?:</h1></label>
      <input type="text" name="message"></input>
      <button class="button" type="submit">Post</button>
    </form>
    <br><br>
    <form action="/peeps">
        <input class="button" type="submit" value="See what the world is peeping!" />
    </form>

  </body>
</html>
