<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Post a peep:</h1>
    <form class="new" action="/create" method="post">
      <!-- <label for="user_name">User:
      <input type="text" name="user_name">
      </label> -->
      <label for="text"><br>Text:<br>
      <textarea name="text" rows="5" cols="51"></textarea>
      </label>
      <input type="submit" value="post">
    </form>
  </body>
</html>
