<style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>
<center>
<br><br>
<h1> Create a new peep! </h1>
<form action="/index" method="post">
  <input style="height:30px;font-size:14pt;" type="text" name="peep" />
  <input type="submit" value="Submit" />
</form>
<br><br>
 <input type="button" value="Never mind" onclick="history.back()">
 <br><br>
<img src="https://cdn2.iconfinder.com/data/icons/minimal-critter/256/minimal_critter_9-512.png" width="200" height="200" alt= "Squirrel and Acorn!">
</center>