<form action='/peeps' method='post'>
  <label for='peep'>Enter what you would like to peep:</label>
  <input type='text' name='peep'>
  <label for='time_of_peep'>Please enter the time:</label>
  <input type='text' name='time_of_peep' placeholder='hh:mm:ss e.g 14:35:20'>
  <input type='submit' value='Submit'>
</form>