<form action="new-peep" method="post">
  <label for="message">Whatcha peeping?:</label>
  <input type="text" name="message"></input>
  <button type="submit">Post</button>
</form>
<br><br>
<form action="/peeps">
    <input type="submit" value="See what the world is peeping!" />
</form>
