<form action='/peeps/new' method='post'>
  <h4>Please enter details below...</h4>
  <p><label>Heading:</label> <input type='text' name='heading'>
  <p><label>Message:</label> <input type='text' name='message'>
  <input type='submit' value='Post peep!'>
</form>