<!DOCKTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content="width=device-width, intial-scale=1.0">
  <title>Add New Chitter</title>
</head>
<body>
  <h1>Add your new peep</h1>
  <form action="/peeps" method="post">
    <input type="text" id="content" name="content" placeholder="Content"/>
    <input type="submit" value="Add Peep"/>
  </form>
</body>
</html>