<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
        <p><form action="/peeps/new" method="post">
          <label for="player_name">
            <h2>Enter peep:</h2>
          <input type="text" name="peep" />
        </label></p>
          <input type="submit" value="Submit" />
        </form>
</body>
</html>
