
<!DOCTYPE html>
<html>
  <head>
    <style>
    input {
      width: 90%;
    }
    </style>
  </head>
  <body>

    <h1 style="text-align:center;">CHITTER</h1>

    <h3>New Peep:</h1>

    <form action="/peeps" method="post">
      <input type="text" name="peep" placeholder="Peep"/>
      <input type="submit" value="Submit" />
    </form>

    <form action= "/" >
      <input type="submit" value="Back to peeps">
    </form>
  </body>
</html>
