<br>
<div class="replyform">
	<form action='/peeps' method='post'>
	  Peep!:    <input type='text' name='peep'>
	            <input type='submit' value='peep'>
	</form>
</div>
<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>