<h3>Post a message onto Chitter</h3>
<form action='/peep_post' method='POST'>
  <textarea type='text' name='message' maxlength='240' cols='50' rows='4'></textarea>
  <input type='submit' name='post'>
</form>
