<form action='/peeps' method='post'>
  <label for='content'>
    Enter Post: <input name='content' type='text'>
  </label>
  <input type='submit' value='Submit Peep' name="myButton" onsubmit="myButton.disabled = true; return true;">
</form>
