<form action='/peeps' method='post'>
  <div class="w3-container w3-text-theme">
  <textarea name="message" placeholder="New Peep here..."
            rows="8" cols="80"  class="w3-text-theme" ></textarea>
  <input type='submit' name='new' value='Peep'
         class="w3-container w3-theme w3-large">
</form>
