<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Chitter</title>
  
</head>
<body>
  <form action="/peeps" method="post">
    <input type="text" name="message" />
    <input type="text" name="name" placeholder="Name" />
    <input type="submit" value="Submit" />
  </form>
</body>
