<form action="/peeps" method="post">
  <input type="text" name="user_id" placeholder="Name"/>
  <input type="text" name="peep_text" placeholder="What's up?">
  <input type="submit" value="Peep" />
</form>