<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h2>What's happening?</h2>
    <form action="/peeps" method="post">
      <textarea name="message" rows="4" cols="60"></textarea><br>
      <div class="peep-button">
        <input type="submit" value="Peep">
      </div>
    </form>
  </body>
</html>
