<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>
  
  <body>
    <form action='/peeps' method='post'>
      <label for='content'>Write your peep here</label>
      <input type= 'text' name='content' placeholder='Type here' />
      <input type='submit' value='Post' />
    </form>
  </body>
</html>