<body style="background-color:powderblue; text-align: center;">
<form action="/peeps" method="post">
  <textarea name="message" rows="4" cols="20"
 placeholder="What's happening?"></textarea>
 <br>
 <br>
 <input type="submit" value="Peep" style = "color:blue; font-family: Courier New;"/>
</form>
</body>