<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container">
  <h1>Peep!</h1>
  <br>
  <form action="/peeps" method="post">
    <input class="form-control" type="text" name="message" placeholder="What's happening?"/>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit"/>
  </form>
</div>
