<form action='/peeps' method='post'>
	<input type='text' name='content'>
	<input type='hidden' name='created_at' value='<%= DateTime.now %>'>
	<button type='submit' name='submit' value='submit'>
</form>