<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compose Peep</title>
</head>
<body>
  
  <form action="/peeps" method="post">
    <input type="text" name="content" maxlength="240">
    <input type="submit" value="Peep">
  </form>

</body>
</html>