<h2>Chitter</h2>
<p>Fille in this form to post a peep</p>

<form action="/peeps/post_peep" method="post">
  <input type="text" name="peep" placeholder="Enter your peep here">
  <input type="submit" value="Peep!">
</form>
