<form action='/peeps' method='post'>
  <input type="text" name="peep" placeholder="What would you like to say?"/><br>
  <input type="submit" value="Submit" />
</form>

<form action='/peeps'>
  <input type="submit" value="View all peeps" />
</form>
