<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <title>Chitter: new peep</title>
  </head>
  <body>
    <form class="" action="/peeps" method="post">
      
      <h4>Compose new peep:</h4>
      <br>
      <input type="text" name="text" placeholder="say something...">
      <br>
      <br>
      <input class="button" type="submit" value="Submit">
    </form>
  </body>
</html>

