<br>
<form action='/peeps' method='post'>
  <div class="w3-container w3-text-theme">
  <textarea name="message" placeholder="What's happening?"
            rows="5" cols="56" ></textarea>
  <input type='submit' name='new' value='Peep'
         class="w3-container w3-theme w3-large">
  <br>
</form>
<br>
