<centre>
  
  <h1> What is on your mind?</h1>
  <button name='Post Peep' type="submit" value="Post"></button>
  <form action="/peeps" method="post"></form>

<form action="/peeps" method="post">
  <input type="text" name="peep" required="required" placeholder="Post Peep"></input>
  <button name='post' type="submit" value="Post"></button>
</form>
</centre>
