<form action="/peeps/new" method="post">
  <input type="text" name="url" placeholder="URL" />
  <input type="text" name="title" placeholder="Title" />
  <input type="submit" value="Submit" />
</form>
