<form action = '/peeps' method = 'post'>
  <label for 'peep'> Peep: </label>
  <input type = 'text' name = 'peep' placeholder = "Write your peep here"/>
  <input type= 'submit' value = 'Peep!'>
</form >