<link rel="stylesheet" type="text/css" href="/stylesheets/chitter.css" />
<div class="form">
  <form action='/save_peep' method='post'>
    Write new peep here:
    <input type='text' name='peep[message]'>
    <input type='submit' value='Post Peep'>
  </form>
</div>
