<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='title'>
    Title:
    <input type='text' name='title' />
  </label>
  <label for='body'>
    Body:
    <input type='text' name='body' />
  </label>
  <input type='submit' value='Create peep'>

</form>