<!DOCTYPE html>
<html>
<style>

</style>
<body>

  <form action="/peeps/new" method="post">
    <input type="text" name="message">
    <input type="submit" name="new_peep" value="Post">
  </form>

</body>
</html>
