<form action="/peeps" method="post" id="usrform">
  <input type="text" name="title" placeholder="your peep title"/>
  <input type="text" name="author" placeholder="author of your peep">
  <input type="text" name="url" placeholder="www.example.com">
  <input type="text" name="message" placeholder="enter your peep :)">
  <input type="submit" name="Submit" value="Submit">
</form>
