<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
  </head>

  <body>
    <form action="/peeps" method="post">
      <input type="text" name="content" placeholder="peep"/>
      <input type="text" name="user_name" placeholder="Maker"/>
      <input type="submit" value="Peep">
    </form>
  </body>
</html>