<body>
<h2> What's on your mind? </h2>

<form action='/chitter/peeps' method='POST'>
<p><label for="message"> Write your peep here:</label></p>
<textarea id="message" name="message" rows="4" cols="50" maxlength="300"></textarea><br><br>

<button type="submit" class="submit" name="submit">Submit</button>
</form>

<p>When you've finished writing your peep, click the "Submit" button 
and you should be able to see your peep on our homepage, along with other people's peeps.</p>
</body>
