<body style="background-color:powderblue;">

<img src="public/images/Chitter_logo.png" alt="Chitter Logo">

<head>
<style>
body {
  font-family: 'Courier New'
}
</style>
</head>
<body>

<h1>Welcome to Chitter!</h1>

<h2>Post your peep below!</h2>

<form action="/peeps" method="post">
  <input type="text" name="text" />
  <input type="submit" value="Post">
</form>