<form action='/peeps' method='post'>
Please put your peep message here:
<br>
<br>
  <label for='message'>
    <input type='text' name='message' required>
  </label>
  <button type='submit'>Post Peep</button>
  <br>
  <br>
  (remember limit of 140 characters)
</form>
