<!DOCTYPE html>
<html>
<center>
  <head>
  <link rel="stylesheet" href="../style.css">
    <title>Chitter Home Page</title>
  </head>
  <body>
  <div class="container">
  <img src="../chitter.png" alt="Chitter Icon" width="300" height="300">
  </div>
  <form action="/peeps">
  <button>Home</button>
  </form>
  <h1>Chitter</h1>
   <form action="/peeps" method="post">
   What would you like to peep?<br>
   <input type="text" name="content">
   <br>
   <input type="submit" value="Submit">
  </body>
</html>