<form action="/peeps" id="peep" method="POST">
  <textarea name="new_peep" form="peep" style="resize: none; width: 300px; height: 80px;">
  </textarea>

  <input type="submit" value="Publish peep">
</form>