<h1>Please write your peep below!</h1>
<form action="/peeps/<%= @user.id %>" method="post">
  <label>Peep:</label>
  <input type="peep" name="peep" />
  <input type="submit" value="Submit" />
</form>
