<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add peep</title>
  </head>
  <body>


    <form class="" action="/peeps" method="post">
      <label for="">
        Compose new peep:
        <br>
        <input type="text" name="text" placeholder="say something...">
      </label>

      <input type="submit" value="Submit">
    </form>

  </body>
</html>
