<form action="/peeps" method="post">
  <label for="content">Your peep:</label>
  <input type="text" name="content" />
  <label for="name">Your name:</label>
  <input type="text" name="name" />
  <input type="submit" value="Post" />
</form>