<form action="/peeps" method="post">
  <p>
  Create a peep ... 
  <input type="peep" name="peep" placeholder="Peep">
  </p>
  <p>
  <input class="button" type="submit" value="Post Peep">
  </p>
</form>

