<h1>Add a peep</h1>
<form action="/peeps/new" method="post">
  <label for "content">Peep:</label>
  <input type="text" id="content" name="content" maxlength="140"/>
  <input type="submit" value="Submit"/>
</form>
