<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <form style='text-align:center' action='/peeps' method=post>
    Enter Your Peep:<br>
    <input type=text name=text>
    <input type=hidden name=time id="time" value=Time.now>
    <input type=hidden name=user_id id="user_id" value=<%=@user_id%>>
    <input type=submit value='Share Peep'/>
  </form>

  </body>
</html>