<div class="enter_form_peep">
  <form action="/peeps/new" method="POST" class="form">
    <input type="text" name="text" placeholder="Enter your peep" class="main_page_input">
    <input type="submit" value="Add Peep" class="main_page_input">
  </form>
</div>
