<div class="enter_form">
  <form action="/peeps/new" method="POST" class="post_peep">
    <input type="text" name="text" placeholder="Enter your peep">
    <input type="submit" value="Add Peep" class="main_page_input">
  </form>
</div>
