<div class="form">
  <form action="/peeps" id="peep" method="POST">
    <h2>Type your peep below!</h2>
    <textarea name="new_peep" form="peep"></textarea>

    <br>
    
    <input type="submit" value="Publish peep">
  </form>
</div>