<a href="/peeps" style="color: black;  padding-left:30%; padding-right:30%;">Back to Peeps</a>
<div style="margin: 5px; background-color:white; color:blue; padding:10px; padding-left:30%; padding-right:30%;">
<h1 style="padding-left:30%; padding-right:30%;">Add a Peep</h1>

  <form action="/peeps" method="post">
    <textarea name="peep_input" rows="3" cols="67" maxlength="141"></textarea>
    <br>
    <input type="submit" value="Peep!">
  </form>
</div>