
<form action="/peeps" method="post">
  <input type="text" name="peep" placeholder="Peep"/>
  <input type="text" name="username" placeholder="Username" />
  <input type="submit" value="Submit" />
</form>
