<form action="/peeps" method='post'>
  <input type="text" name="user_name" placeholder='Enter your User Name:'/>
  <input type="text" name="message" placeholder='Peep away:' />
  <input type="submit" value="Send" />
</form>

