<center>
<h1>Write your peep!</h1>
<h2>
  <%= flash[:notice] %>
</h2>
<h2>
<form action="/peeps" method="post">
  <input type="text" name="peep" required="required" placeholder="Peep" style="font-size:20px; width:300px; height:30px; text-align:center"/>
  <input name="taggeduser" type="text" placeholder="tag someone?" style="font-size:20px; width:300px; height:30px; text-align:center"/>
<h2>
  <button name="post" type="submit" value="Post" style="text-align:center; width:200px; font-size:20px;">Post!</button>
</h2>
</form>
</h2>
</center>
