<form action='/peeps' method='post'>
  <input type='text' size="100" name='text' 
  minlength='1' maxlength='240'placeholder='MAX LENGTH = 240 Characters'>
  <input type='submit' value='Post your Peep!'>
</form>