<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #peep {
      border: 3px solid red;
      margin: 5px;
      padding: 5px;
      list-style-type: none;
      width: 25%;
      border-radius: 20px;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome, <%=@username%></h1>
  <form action="/peeps" method='post'>
    <input type="text" name="content" />
    <button type="submit" name='submit_peep'>Submit Peep</button>
  </form>
  <% @peeps.each do |peep| %>
    <li id="peep">
      <p><%=@username%></p>
      <p><%=peep['content']%></p>
    </li>
  <% end %>
</body>
</html>