<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone - Final</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
<body>

<div class="feed">
      <div class="feed__header">
        <h2>Home</h2>
      </div>
<div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            <img
              src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
              alt=""
            />
            
          </div>
          
        </form>
      </div>
<div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Baljit Singh Rakhra
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@bsrakhra</span
                >
              </h3>
            </div>
<h2>Add new peep here </h2>

<form action="/peeps/new/add" method = 'post' >
  <label for="peeps">New peeps:</label><br>
  <input type="text"  name="peeps" placeholder="Peeps" ><br>
  <input type="submit" value="Submit">
</form> 