<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/peeps" method="post">
      <input type="text" name="message" placeholder="Type your peep">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
