

<form action="/peeps" method="post">
  <label for="message">Message: </label>
  <input type="text" name="message" >
  <input type="submit" value="Post peep!"/>
</form>

<a href="/peeps">Go back to peeps</a>