<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-7 col-lg-10 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body" style="text-align:center;">

          <h3>What would you like to peep?</h3>

          <form action="/peeps" method="post">
            <p><textarea rows="4" cols="40" type="text" name="content"></textarea></p>
            <input type="submit" value="Post">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>