<form action="/peeps/new" method="post">
  <label for="peep text">
    peep text
  <input type="text" name="peep text" />
  </label>
  <label for="name">
    name
    <input type="text" name="name" />
  </label>
    <input type="submit" value="Submit" />
</form>
