<style> 
input[type=submit] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #1DA1F2;  
  color: white;
  font-family: system-ui;
}
</style>

<form action="/peeps" method="post">
  <input type="text" name="content" placeholder="peep"/>
  <input type="text" name="user_name" placeholder="Maker"/>
  <input type="submit" value="Peep">
</form>