<div>
  <h1>Peep!</h1>
  <br>
  <form action="/peeps" method="post">
    <input class="form-control" type="text" name="message" placeholder="What's happening?"/>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit"/>
  </form>
</div>
