<style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>
<form action="/peeps/index" method="post">
  <input type="text" name="peep" />
  <input type="submit" value="Submit" />
</form>