<!DOCTYPE html>
<html>
<center>
  <head>
    <title>Chitter Home Page</title>
  </head>
  <body>
  <h1>Chitter</h1>
   <form action="/peeps" method="post">
   <input type="text" name="content">
   <input type="submit" value="Submit">
  </body>
</html>