<h1> Create your first peep!</h1>

<form action='/peeps' method='post'>
  <label for="message">
    Message:
    <input type="text" name="message">
  </label>

<label for="Add peep">
    Add peep:
    <input type="submit" name="peep" value="Add peep">
</label>

    <!-- Compose peep:
    <label for="Compose peep">
    <input type="text" name="message"/>
  </label>
  <input type="submit" value="Post peep"
</form> -->
