<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightskyblue;

}
</style>
</head>
<body>

<h2>What's happening?</h2>
<form action="/peeps" method="post">

  <input type="text" name="message" >

  <input type="submit" value="Peep">
</form>

</body>
</html>
