<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<meta content= "width=device-width, height=device-height, initial-scale=1" name="viewport">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css">

  <title>New Peep</title>
</head>
<body>

  <form action="/peeps" method="post">
    <input type="text" name="content" maxlength="240">
    <input type="submit" value="Peep">
  </form>

</body>
</html>
