<h1>Chitter<h1>

<form action="/peeps" method="post"> 
  <label for="peep">What's happening?</label>
  <textarea id="peep" name="peep" row="5" cols="40"></textarea>
  <input type="submit" value="Peep">
</form>

<%= @peep %>
