<form action="/peeps" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="handle" placeholder="Handle" />
  <input type="text" name="message" placeholder="Write your message here..." />
  <input type="submit" value="Submit" />
</form>
