
<form action="/peeps" method="post">
  Message
  <label for='message'>
    <input type='textbox' name='message' placeholder="What's happening?" required>
  </label>
  <br>
  <input type='submit' value='submit'></input>
</form>
