<%= flash[:n] %>
<form action="/peeps/new" method="POST">
  <input type="text" name="text" placeholder="Enter your peep">
  <input type="text" name="author" placeholder="Enter your name">
  <input type="submit" value="Add Peep">
</form>
