<!DOCTYPE html>

<html>

<head>
<style>
div{
     height: 400px;
     width: 800px;
     background: lightgray;
     line-height: 200px;
     text-align: center;
}

</style>
</head>


<body>

<div>
<form action="/peeps" method="post">
    <label for="text"> Enter New Peep: </label>
    <input type="text" name="text">
    <input type="submit" value="Submit">
</form> 
</div>

</body>
</html>