<h1>Add a new peep</h1>

<form action="/save-new-peep" method="post">
  <input type="text" name="content" id="">
  <input type="submit" value="Peep It" name="submit" class="button peep-it" id="button-peep-it">
</form>