<!DOCTYPE html>
<html>

<head>
  <style>body{background-color: #66b3ff;}
</style>
</head>

<form action="/peeps" method="post">
  <input type="text" name="peep" />
  <input type="submit" value="Submit" />
</form>

</html>