<style>

body {
  height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    background-opacity: 80%
}

  .button {
    margin-top: 40px;
    display: inline-block;
    background-color: #4AA0EB;
    border: none;
    font-weight: 300
    font-family: 'Helvetica Neue';
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .textbox {
    border-radius: 20px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


</style>


<form action='/peeps' method='post'>
  <input class="textbox" type="text" name="text" placeholder="What's happening?">
  <button class="button" type="submit" id="text" value="Post" style="vertical-align:middle">
    <span>Post </span></button>
</form>
