<h1>Peeps</h1>

  <% @peeps.reverse.each do |peep| %>
    <div>
      <%= peep.message %> <%= peep.time.strftime("%H:%M %d/%m/%Y") %> Author: <%= User.get(peep.user_id).username %> (<%= User.get(peep.user_id).name %>)
    </div>

<% end %>