<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h1> Peeps</h1>
      </center>
    <ul>
      <% @peeps.each do |peep| %>
        <li>
          <%=peep.message%> ---
          Peeped on <%=peep.created_at%>.
        </li>
      <% end %>
    </ul>
    <form action="/peeps/new" method="get">
        <input type="submit" value="New Peep" />
    </form>
  </body>
</html>
