<!DOCTYPE html>
<html>

<body>

<h1>These are your posted peeps</h1>

<ul style="list-style-type:none;">
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>" >
      <%= peep.message %>
    </li>
    <br>
  <% end %>
</ul>


</body>
</html>
