<% if @maker.nil? %>
  <h1>Not currently logged in</h1>
    <div>
      <form action="/sessions/new" method="get">
        <input type="submit" value="Log in">
      </form>
    </div>
<% else %>
  <h1> Hello <%= @maker.username %>!</h1>
  <div>
    <form action="/sessions/destroy" method="get">
      <input type="submit" value="Log out">
    </form>
  </div>
  <div>
    <form action="/peeps/new" method="get">
      <input type="submit" value="New peep">
    </form>
  </div>
<% end %>

<% @peeps.each do |peep| %>
  <div>
    <%= peep.text %>
  </div>
<% end %>