Welcome, <%= "#{User.find_by_user_id(@session_id).username}" %>

<div class="title_text">
  <h1>Peeps<h1>
</div>
      
<% @all_peeps.each do |peep| %>
  <div class="peep" id="peep-<%= peep.peep_id%>">
    Content: <br>
    <%= peep.peep %> <br>
  </div>
<%end%>
    
</div>