<!DOCTYPE html>

<html>

  <head>
    <title>Create User</title>
    <link href="/styles_peep.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="peep-box"> 
      <h2>Run your peep off!!!</h2>     
      <form class="peep-form" action="/peeps/post" method="post">
        <label for="peep">
          <p>
            Peep Text:
          <p>
          <input type="text" name="peep_text" placeholder="What are you peeping about?" />
        </label>
        <input type="submit" value="Peep" />
      </form>
    </div>
  </body>
</html>
