<h3>Let people know what you're up to:</h3>
<form action="/peeps" method="get">
  <p>Name:</p>
  <input type="text" name="name" />
  <p>Username:</p>
  <input type="text" name="username" />
  <p>Peep:</p>
  <input type="text" name="message" />
  <input type="submit" value="Post" />
</form>
