<form action="/peeps" method="post" id="post_peep_form">
  <div>
    <label for="peep_message">Peep Message:</label>
    <input type="text" name="message" id="peep_message" required>
  </div>
  <div>
    <input type="submit" value="Post">
  </div>
</form>