
<form action='/post_peep' method='post'>
  Message: <input type='text' name='message' placeholder='Message'><br>
  Handle: <input type='text' name='handle' placeholder="Handle"><br>
  <input type='submit' value='Add'>
</form>
