Use this form to post your peep!
</p><form action='/peeps' method='post'>
  <label> Enter message here: </label>
  <input type="text" name="message" placeholder="message"/>
    <!-- <input type="text" name="timestamp" placeholder="time"/> -->
  <input type="submit" value="Submit"/>
</form>
