<h3>Let people know what you're up to:</h3>

<form action="/peeps" method="post">
  <p>Name:</p>
  <input type="text" name="name" />
  <p>Username:</p>
  <input type="text" name="username" />
  <p>Peep:</p>
  <input type="text" name="message" />
  <input type="submit" value="Post" />
</form>

<h3>Sign Up to Chitter here:</h3>
<form action="/users/new" method="get">
  <input type="submit" value="Sign Up" />
</form>

<h5>You must be an existing user to post</h5>
