<!DOCKTYPE html>
<html>
<head>
</head>
<body>
  <form action='/peeps/create_user' method='post'>
    <label for='handle' >Enter username:</label>
    <input type='text' name='handle' placeholder='Enter username' required>
    <label for='handle' >Enter email address:</label>
    <input type='text' name='email' placeholder='Enter email address' required>
    <label for='password' >Enter password:</label>
    <input type='text' name='password' placeholder='Enter password' required>
    <input type='submit' value='Sign Up'>
  </form>
</body>
</html>