<h1> Fill in the form to sign up... </h1>

<form method='post' action='/signup'>

  <label for='name'>Name:</label>
  <input type='text' name='name' placeholder='e.g: Kendrick Lamar' required/>
  <br>
  <label for='username'>Username:</label>
  <input type='text' name='username' placeholder='e.g: King Kenny' required/>
  <br>
  <label for='email'>Email:</label>
  <input type='email' name='email' placeholder='e.g: kdot@gmail.com' required/>
  <br>
  <label for='password'>Password:</label>
  <input type='password' name='password' placeholder='e.g: backseatfreestyle' required/>
  <br>
  <br>
  <input type='submit' name='submit' value='submit' />

</form>
