  <h1> Welcome to Chitter </h1>

  <a href="http://localhost:9292/peeps/new"><input type=button value='Post a Peep'></a>
  
  <h2> Timeline </h2>
  <% @peeps.each do |peep| %>
    <%= peep %> <br>
  <% end %>
