
    <form action="/user/create" method ='post'>
      <input type="name" name="name" placeholder="Enter Name" />
      <input type="email" name="email" placeholder="Enter Email" />
      <input type="text" name='username' placeholder="Enter Username" />
      <input type="password" name="password" placeholder="Enter Password" />
      <input type='submit' value="Create account">
    </form>
 