rvm: '2.5.0'

script:
  - mkdir -p spec && bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
  - psql -c 'create database chitter_test;' -U postgres
  - psql chitter_test -c "CREATE TABLE peeps(id SERIAL PRIMARY KEY, peep VARCHAR(140), timestamp timestamp);" -u postgres
  - psql chitter_test -c "ALTER TABLE peeps ADD timestamp timestamp with time zone;" - u postgres
  - psql chitter_test -c "CREATE TABLE users(id SERIAL PRIMARY KEY, email VARCHAR(60), password VARCHAR(60));" -u postgres