rvm: '2.5.0'

services:
  - postgresql

script:
  - mkdir -p spec && bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
  - psql -c 'create database chitter_test;' -U postgres
  - psql -c 'CREATE TABLE posts (id serial PRIMARY KEY, message VARCHAR(280));' -U postgres
  - psql -c 'ALTER TABLE posts ADD COLUMN created_at TIMESTAMPTZ NOT NULL;' -U postgres
  - psql -c 'CREATE TABLE users ( id serial PRIMARY KEY, first_name VARCHAR(140), last_name VARCHAR(140), email VARCHAR(60) UNIQUE,
 password VARCHAR(140), user_name VARCHAR(60) UNIQUE);' -U postgres
