language: ruby

services:
  - postgresql

before_script:
  - psql -U postgres -c 'CREATE DATABASE chitter_test;'
  - psql -U postgres -d chitter_test -f ./db/migrations/02_create_peep_tables.sql
  -psql -U postgres -d chitter_test -f ./db/migrations/01_create_chitter_tables.sql

script:
  - bundle exec rspec
