rvm: '2.2.3'

script:
  - mkdir -p spec && bundle exec rspec spec
  - "bundle exec rake db:auto_migrage RACK_ENV = test"

before_install:
- sed -i '2d' Gemfile
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
  - psql -c 'create database chitter_test;' -U postgres

