rvm: '2.2.1'
script: 
  - bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.4

before_script:
- psql -c 'create database chittter_test;' -U postgres
