language: ruby

services:
  - postgresql

before_script:
  - psql -U postgres -c 'CREATE DATABASE chitter_test;'
  # - psql -U postgres -c 'CREATE TABLE peeps(id SERIAL PRIMARY KEY, author VARCHAR(60), content VARCHAR(200), created_at TIME);'
  # - psql -U postgres -c 'CREATE TABLE users(id SERIAL PRIMARY KEY, email VARCHAR(60), password VARCHAR(60), name VARCHAR(80), username VARCHAR(60));'
  - "rake db:migrate"

script:
  - bundle exec rspec
