services:
  - postgresql

before_script:
  - psql -c 'CREATE DATABASE chitter_test;' -U postgres
  - psql -d chitter_test -U postgres -f db/migrations/01_create_peeps.sql

script:
  - bundle exec rspec
