rvm: '2.2.1'
script:
  - bundle exec rspec spec
  - bundle exec cucumber

before_script:
  - psql -c 'create database chitter_test;' -U postgres

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq postgresql-server-dev-9.3