language: ruby

services:
  - postgresql

before_script:
  - psql -U postgres -c 'CREATE DATABASE chitter_test;'
  - psql -U postgres -d chitter_test -f db/migrations/table.sql

script:
  - bundle exec rspec
