language: ruby

services:
  - postgresql

before_script:
  - psql -U postgres -c 'CREATE DATABASE chitter_test;'
   - psql -U postgres -d chitter_test -f db/migrations/01_create_peeps_table.sql
   - psql -U postgres -d chitter_test -f db/migrations/02_create_users_table.sql
   - psql -U postgres -d chitter_test -f db/migrations/03_adding_a_new_column_to_peeps_table.sql

script:
  - bundle exec rspec
