language: ruby

rvm:
  - 3.0.2

before_install:
  - gem install bundler
  - gem update --system
  - gem --version

services:
  - postgresql

before_script:
  - psql -U postgres -c 'CREATE DATABASE peeps_test;'
  - psql -U postgres -c 'CREATE TABLE peeps(id SERIAL PRIMARY KEY, body VARCHAR(280));'
  - psql -U postgres -c 'ALTER TABLE peeps ADD COLUMN time_record TIMESTAMP;'
  - psql -U postgres -c 'CREATE TABLE userdb(id SERIAL PRIMARY KEY, username VARCHAR(20), password VARCHAR(20));'

script:
  - bundle config set --local deployment 'true'
  - bundle exec rspec
