rvm: '2.5.0'

script:
  - mkdir -p spec && bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
  - psql -c 'create database chitter_manager_test;' -U postgres
  - psql -d chitter_manager_test -c 'CREATE TABLE users(id SERIAL PRIMARY KEY, email VARCHAR(255), password VARCHAR(255), name VARCHAR(255), username VARCHAR(255));' -U postgres
  - psql -d chitter_manager_test -c 'CREATE TABLE peeps(id SERIAL PRIMARY KEY, message VARCHAR(255), time TIMESTAMPTZ, user_id INT);' -U postgres
