rvm: '2.5.0'

script:
  - mkdir -p spec && bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
  - psql -c 'create database chitter_test;' -U postgres


  - psql -c 'CREATE TABLE peeps(id SERIAL PRIMARY KEY, text VARCHAR(240), date TIMESTAMP, author VARCHAR(50));'
  - psql -c 'CREATE TABLE users(id SERIAL PRIMARY KEY, email VARCHAR(40), password VARCHAR(40), name VARCHAR(40), username VARCHAR(40));'
  - psql -c 'CREATE TABLE comments(id SERIAL PRIMARY KEY, text VARCHAR(240), peep_id INTEGER REFERENCES peeps (id));'
