rvm: '2.5.0'

services:
  - postgresql

script:
  - mkdir -p spec && bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
- psql -c 'create database peep_database_test;' -U postgres
- psql -d peeps_test -c 'CREATE TABLE peeps (id SERIAL PRIMARY KEY, peep VARCHAR(60));' -U postgres

  # - psql -c 'create database chitter_test;' -U postgres
