language: ruby
rvm:
 - 2.6.5

services:
  - postgresql

before_script:
  - psql -c 'create database hitter_test;' -U postgres
  - psql -U postgres -d chitter_test -f db/migrations/01_create_peeps_table.sql
  - psql -U postgres -d chitter_test -f db/migrations/02_create_users_table.sql

script:
  - bundle exec rspec
