<html>
  <h1> welcome to chitter! </h1>
  <h2> to view current peeps - click below </h2>
  <form action="/peeps" method="get">>
    <input type="peeps">
  </form>
  <h2> want to become a peep-pl person? sign up here: </h2>
  
</html>
