/* Coolors Exported Palette - coolors.co/cbdfee-ebf5ff-74d721-1fce60-bb8272 */

/* HSL */

$color1: hsla(206%, 51%, 86%, 1); //bluey grey
$color2: hsla(210%, 100%, 96%, 1); // light grey
$color3: hsla(93%, 73%, 49%, 1); //light green
$color4: hsla(142%, 74%, 46%, 1); //dark green
$color5: hsla(13%, 35%, 59%, 1); //brown

/* RGB */
$color1: rgba(203, 223, 238, 1);
$color2: rgba(235, 245, 255, 1);
$color3: rgba(116, 215, 33, 1);
$color4: rgba(31, 206, 96, 1);
$color5: rgba(187, 130, 114, 1);
