Compose your Cheep:

<form id='new_cheep' action ='/cheeps' method='post'>
  <input type='text' name='cheep' maxlength='147'
        style='width:600px;'>
  <input type='submit' value='Cheep!' >
  </form>
