form {
  input,
  textarea {
    display: block;
    color: $text-color;
    font-family: monospace;
    border: none;
    font-size: 1em;
    border: solid 2px $dark-grey;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      border: solid 2px $highlight-color;
    }
  }

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    background-color: $white;
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: transparent;
    padding: 10px 20px;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }
}

.logout-form {
  input[type="submit"] {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      border: none;
      color: $highlight-color;
    }
  }
}
