body {
  background-color: $bg-color;
  margin: 0;
}

header {
  background-color: #fff;
  padding: 1rem;
  border: solid 2px $dark-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  @media screen and (min-width: 600px) {
    margin-bottom: 2rem;
  }

  .title {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 0;
  }
}

footer {
  padding: ($nav-height * 2) 0 ($nav-height);
  text-align: center;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}
