.timeline {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 auto 1rem;
    padding: 1rem;
    background-color: #fff;

    @media screen and (min-width: 600px) {
      margin: 0 auto 2rem;
    }
  }

  .peep {
    margin: 0;
  }

  .peep-meta {
    margin: 0 auto 0.5rem;
    line-height: 1;
  }
}
