<h1>Listing Peeps</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Peep</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.peep %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'New peep', new_post_path %>
