<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Public/style_sheets/style.css">
  </head>
  <body>
    <h1>Sign Up!</h1>
    <form action="/sign-up-authorisation" method="post">
      <input type="text" name="new_user_name">
      <input type="text" name="new_user_password">
      <button type="submit" name="Sign-Up">Submit Details</button>
    </form>
  <body>
</html>
