<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Public/style_sheets/style.css">
  </head>
  <body>
    <% if @sign_up_check == true %>
      "Successful sign-up, please go back to the login page by clicking the button below!"
    <% end %>
    <form action="/" method="get">
      <button type="submit" name="Home Page">Home</button>
    </form>
  <body>
</html>
