<div class="peep-container">
  <form action="/reset_password/<%= @token %>" method="get">
    New password:<br>
    <input type="text" name="password"><br>
    New password confirmation:<br>
    <input type="text" name="confirmation"><br>
    <button type="submit" class="btn">
      Change password
    </button>
  </form>
</div>