<form action="/reset_password/<%= @token %>" method="get">
  New password:<br>
  <input type="text" name="password"><br>
  New password confirmation:<br>
  <input type="text" name="confirmation"><br>
  <input type="submit" value="Change password">
</form>