<div class="peep-container">
  <h1>Request for password change</h1>

  <form action="/reset_password" method="get">
    Email: <br>
    <input type="text" name="email"><br><br>
    <button type="submit" class="btn">
      Request token
    </button>
  </form>
</div>
