<form method="post" action="/users/new">
  <label for="name">Name: </label>
  <input name="name" type="text" required>

  <label for="email">Email address: </label>
  <input name="email" type="email" required>

  <label for="handle">Handle: </label>
  <input name="handle" type="text" required>

  <label for="password">Password: </label>
  <input name="password" type="text" required>

  <label for="password_confirmation">Password: </label>
  <input name="password_confirmation" type="text" required>

  <input type="submit" value="Complete">
</form>
