<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<form method="post" action="/users/new">
  <label for="name">Name: </label>
  <input name="name" type="text" value="<%= user.name %>" required>

  <label for="email">Email address: </label>
  <input name="email" type="email" value="<%= user.email %>" required>

  <label for="handle">Handle: </label>
  <input name="handle" type="text" value="<%= user.handle %>" required>

  <label for="password">Password: </label>
  <input name="password" type="password" required>

  <label for="confirmation">Password: </label>
  <input name="confirmation" type="password" required>

  <input type="submit" value="Complete">
</form>
