<div class="peep-container log-forms">
<h1>Sign up!</h1>
<br>
<%= partial :flash %>
<form action="/sign_up" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  Username:<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password<br>
  <input type="password" name="password"><br>
  Password Confirmation:<br>
  <input type="password" name="confirmation"><br>
  <br>
  <button type="submit" class="btn">
    Sign up
  </button>
</form>
</div>
