<h3>Comment on a peep</h3>
<form action="/comments" method="post">
  <input type="hidden" name="peep_id" value="<%= @peep_id %>">
  <p>
    <textarea type="text" name="content" placeholder="Write a comment..." required></textarea>
  </p>
  <p>
    <button type="submit" id="peep">Add</button>
  </p>
</form>
<form action="/peeps">
  <button type="submit"  class="white-button">Back</button>
</form>
