<!-- <link rel="stylesheet" type="text/css" href="/css/style.css">
<h1> Comment on peep </h1>

<form action='/peeps' method='POST'>
  <label for='comment'>
    Comment:
    <textarea rows="4" cols="50" placeholder = 'Peep here!' name='message'></textarea>
  </label>
  <input type='submit' value='Create link' />
</form> -->
