<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter - delete account</title>
  </head>
  <body>
    <h1>Delete account</h1>
    <h3><em>"We are sorry to see you go"</em></h3>
    <p>
      You are about to delete your account. <br>
      You will lose your data and all your peeps. This action is not reversible. <br>
      If you still want to proceed, type "confirm delete account" in the field below along with your password.
    </p>
    <p><%= @message unless @message.nil? %></p>
    <form action="/<%= @username %>/delete_account" method="post">
      <div>
        <label for="confirmation"></label>
        <input type="text" id="confirmation" name="confirmation" placeholder="confirm delete account" required><span> *</span>
      </div>
      <div>
        <label for="password"></label>
        <input type="text" id="password" name="password" placeholder="password" required><span> *</span>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
      <div>
        <a href="/">Back to Home Page</a>
      </div>
  </body>
</html>