<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Login</h1>
    <p><%= @message %></p>
    <form action="/login" method="post">
      <div>
        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="email" required><span>*</span>
      </div>
      <div>
        <label for="password"></label>
        <input type="text" id="password" name="password" placeholder="password" required><span>*</span>
      </div>
      <div>
        <input type="submit" value="Log in">
      </div>
    </form>
       <div>
        <p>Not registered yet? <a href="/signup">Sign up</a> here.</p>
      </div>
      <div>
        <a href="/">Back to Home Page</a>
      </div>
  </body>
</html>