<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Create your account</h1>
    <p><%= @message unless @message.nil? %></p>
    <form action="/signup" method="post">
      <div>
        <p>The full name can not be changed.</p>
        <label for="fullname"></label>
        <input type="text" id="fullname" name="fullname" placeholder="Full name" required><span> *</span>
      </div>
      <div>
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="username" required><span> *</span>
      </div>
      <div>
        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="email" required><span> *</span>
      </div>
      <div>
        <label for="password"></label>
        <input type="text" id="password" name="password" placeholder="password" required><span> *</span>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
      <div>
        <p>Already have a account? <a href="/login">Login</a> here.</p>
      </div>
      <div>
        <a href="/">Back to Home Page</a>
      </div>
  </body>
</html>