<form method="post" action="/signup">
  <label for="Display Name">
    <input type="text" name="display_name" placeholder="Display Name" required>
  </label>
  <label for="Username">
    <input type="text" name="username" placeholder="Username" required>
  </label>
  <label for="Email Address">
    <input type="email" name="email" placeholder="Email" required>
  </label>
  <label for="Password">
    <input type="password" name="password" placeholder="Password" required>
  </label>
  <input type="submit" value="Create account">
</form>
