<h1> Sign up to Chitter </h1>
fewJKLFHGEWSZJKABF GJKSZAGKFEADFSZBH,VBJKNCX
2017-05-07T12:46:45.183074+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/favicon.ico" host=chitter-chrisjmit.herokuapp.com request_id
