<form action='/signup' method='post'>
  <input type='text' name='username'/>
  <input type='text' name='email'/>
  <input type='password' name='password'/>
  <input type='password' name='password_confirmation'/>
  <input type='submit' value='Sign up'/>
</form>

<%= flash[:error] if flash[:error] %>
