<div class='pageheading' id='pleasesignup'>
  <h3>Register your details:</h3>
</div>

<div id='signupform'>

<form action='/signup' method='post'>
  Name:<br>
  <input type='text' name='name' value='<%=@user.name%>' required/><br>
  Username:<br>
  <input type='text' name='username' value='<%=@user.username%>' required/><br>
  Email:<br>
  <input type='text' name='email' value='<%=@user.email%>' required/><br>
  <% if flash[:notice] %>
    <div class='noticebox'>
      <div id='notice'><%= flash[:notice] %></div>
    </div>
  <% end %>
      Password:<br>
      <input type='password' name='password'/><br>
      Confirm password:<br>
      <input type='password' name='password_confirmation'/><br>


  <input class='signbutton' type='submit' value='Register'/>

</form>


</div>
