<div id='pleasesignup'>
  <h3>Register your details:</h3>
</div>

<div id='signupform'>

<form action='/signup' method='post'>
  Name:<br>
  <input type='text' name='name' value='<%=@user.name%>'/><br>
  Username:<br>
  <input type='text' name='username' value='<%=@user.username%>'/><br>
  Email:<br>
  <input type='text' name='email' value='<%=@user.email%>'/><br>
  <% if flash[:notice] %>
    <div id='noticebox'>
      <div id='notice'><%= flash[:notice] %></div>
      Password:<br>
      <input type='text' name='password'/><br>
      Retype your password:<br>
      <input type='text' name='password_confirmation'/><br>
    </div>
  <% else %>
      Password:<br>
      <input type='text' name='password'/><br>
      Retype your password:<br>
      <input type='text' name='password_confirmation'/><br>
  <% end %>
  <input type='submit' value='Register'/>

</form>


</div>
