<%= @peep.content %>

<h2>Reply to this peep</h2>
<form method='post' action='/comments'>
<textarea name='comment_content' rows="4" cols="140" class="form-control"></textarea>
<input type='hidden' name='peep_id' value="<%=@peep.id%>">
<input type='submit' value='Reply' class="btn btn-default">
</form>
