<div class="enter_form_peep_comment">
  <form action="/comments/new" method="POST" class="form">
    <input type="text" name="id" placeholder="Enter id of a peep you want to make a comment on" class="main_page_input">
    <input type="text" name="comment" placeholder="Enter your comment" class="main_page_input">
    <input type="submit" value="Submit a comment" class="main_page_input">
  </form>
</div>
