<head>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>
  <h1> Sorry, you've taken a wrong turn.<br> Click <a href='/'> here </a> to go back to Chitter. </h1>
</body>
