<head>
  <link rel="stylesheet" type="text/css" href="<%= url('/style.css') %>">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
</head>

<body>
  <h1> Sorry, you've taken a wrong turn.<br> Click <a href='/'> here </a> to go back to Chitter. </h1>
</body>
