<form action="/signin" method="post">
    <label for="message">Message:</label>
    <input type="text" name="message"  placeholder= '....message goes here'>
    <input type="submit" value="post">
</form>
