<form action="/add_comment" method="post" id='comment_form'>
    <label for="comment">comment:</label>
    <input type="text" name="comment"  placeholder= '....it think'>
    <input type="submit" value="add comment">
</form>
