<header>
  <div id='logo'>Chitter!</div>
  <div id='user-links'>

    <% if current_user %>

      <span id='welcome-message'>
        Welcome to Chitter, <%= current_user.username %>!
      </span>
      <form id='new-peep' action='/peeps/new'>
        <input type='submit' value='New peep!'>
      </form>
      <form id='sign-out' action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>

    <% else %>

      <span id='welcome-message'>
        Welcome to Chitter!
      </span>
      <a href='/sessions/new' id='log-in' class='button'>Log in</a>
      <a href='/users/new' id='sign-up' class='button'>Sign up</a>

    <% end %>

  </div>
</header>