<header>
<% if session[:user_id] %>
  <h1> <%= "welcome #{@user.username}"%> </h1>
  <a href="/logout">logout</a> 
<% else %>
  <a href="/signin">Sign in</a>
  <a href="/signup">Sign up</a> 
<% end %>
</header>
