<div class="modal fade " id="SignInModal" tabindex="-1" aria-labelledby="SignInModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/images/logo_blue.png" height="40" />
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="SignInModalLabel">Sign In</h5>
        <h2>
          <%= flash[:notice] %>
        </h2>
        <form action="/sessions" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" name="username" class="form-control" id="username" aria-describedby="username">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>