<div class="bg-light rounded p-3 pt-3">
  <div class="d-flex flex-row justify-content-between">
    <h4 style="font-family: 'Raleway', sans-serif;">Trending</h4>
    <h4><i class="bi bi-hash"></i></h4>
  </div>
  <% @tags.each do |tag|%>
  <form action="/tags/<%= tag.id %>/peeps" method="get">
    <button class="btn btn-sm m-2 btn-link bg-white" type="submit" value="<%= tag.id %>">
      <h6><%= tag.text %></h6>
    </button>
  </form>
  <% end %>
</div>