You account details are below<br>
<hr>
<%= "name: #{@user.name}" %><br>
<%= "sername: #{@user.username}" %><br>
<%= "email: #{@user.email}" %>

<form class="button" action="/" method="get">
  <input type="submit" value="Return to Chitter Feed">
</form>
