<html>
  <head></head>

  <body>
    <h1><%= @account.name %></h1>

    <h3><a href="#">@<%=
    @account.username %></a></h3>
    
    <h4><%= @account.bio %></h4>
  </body>

  <footer>
    <h4><a href="/home">Return home!</a></h4>
  </footer>

</html>