<html>
    <head> </head>
    <body>

    <h1>Hi <%=@user.username%></h1>

    <h2>my peeps</h2>
    
    <a href="/shoutybox">Shouty Box - see what people are peeping</a><br>
    <a href="/peep/new">new peep</a>
    <a href="/">back to homepage</a>
    <a href="/account_page">my account</a><br>
    <a href="/logout">logout</a><br>
    </body>

</html>
