<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
      <h2>Well done! Account created!</h2>
      <div class='links'>
        <a href="/login"> Please login</a><br>
      </div>
    </body>
    </html>

