<style>
    div.a {text-align: center;
}
div.b {
  font-family: Arial, Tahoma, Serif;
}
      </style>
<div class="b"><div class="a"><h2>Your account has been created!</h2>
<div>
<h3><a href="/peeps"> Click here to see the peeps</a></h3>
<h3><a href="/">Back to homepage</a></h3>
</div>
</div>
</div>