<%="Your account has been created, #{@username}!"%>
<br><br>
Do you want to post your first peep?
<br><br>
<form action="/send_peep" method="post">
  <input type="submit" value="Yep, let's do it!">
</form>
  <br>
<form>
  <input type="submit" value="Show me peeps instead">
</form>
