<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header id="header">
    <div class="icon">
      <img id="icon" src="icon.png">
    </div>
    <div class="text">Chitter</div>
  </header>
  <div></div>
  <div id="input-form">What would you like to say?<form action="/account_page" method="POST">
  <input type="text" name="message">
  <input type="submit" value="Post a message!">
  </form> <div id="container" >
  <% @@posts.each do |post| %>
    <div class="post">
      <%= post %><br>
    </div>
  <% end %>
</div>
</div>
    <a href="http://localhost:9292/logout">Logout</a>
  </body>
</html>
