<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header id="header">
    <div class="icon">
      <img id="icon" src="icon.png">
    </div>
    <div class="text">Chitter</div>
  </header>
  <div>What would you like to say?</div>
  <div><form action="/account_page" method="POST">
  <input type="text" name="message">
  <input type="submit" value="Post a message!">
  </form></div>
    <% @@posts.each do |post| %>
      <%= post %><br />
    <% end %>
    <a href="http://localhost:9292/logout">Logout</a>
  </body>
</html>
