<h1> Add peep </h1>

<form action='/peeps' method='post'>
  <label for='peep_content'>
    Peep:
    <input type='text' name='peep_content' />
  </label>
  <input type='submit' value='Add peep'>

</form>
