<h1>Post a peep</h1>
<form action="/signout">
  <input type="submit" value="Sign out" />
</form>
<form action="/peeps/add" method="POST">
  <input type="text" name="body" placeholder="Enter your peep" />
  <input type="submit" value="Post" />
</form>
