<html>
<h2>Enter your peep</h2>

<form action="/add_peep", method= "post">
<textarea id="addpeep" name="add" rows="4" cols="50" maxlength="280">
  </textarea>
  <br><br>
  <input type="submit" value="Peep">
</form>

</html>