<form action="/temp" method="post">
  URL <input type="url" name="URL"><br>
  <input type="submit" value="Add">
</form>

<form action="/bookmarks" method="get">
  <input type="submit" value="View">
</form>
