<h1>Chitter</h1>
<h3>Add a new peep</h3>
<form action="/add" method="post">
  <textarea name="peep_text" rows="3" columns="50"
    maxlength="140" placeholder="Type your peep here"
    style="resize: none;" autofocus></textarea><br>
  <input type="submit" value="Post">
</form>
