<h1>What are you peeping?</h1>

<form action="/add_peep" method="post">
<div>
    <label for="name">
    Enter your name:
  <input type="text" name="name" placeholder="Name" />
</div>
<p>

</p> 
<div> 
  <label for="message">
    Peep here:
  <input type="text" name="message" placeholder="Message" />
</div>
<p>

</p> 
<div> 
  <input type="submit" value="Peep!"/>
</div>
</form>

