<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>peep:</h1>
    </header>
    <h2><%= @peep %> </h2>
    <form action='/view_history' method="get">
      <input type="submit" value="view history">
    </form>
  </body>
</html>
