<html>
  <head></head>
  <body>
    <h1>Add a peep</h1>
    <div><a href="/">Back to home</a></div><br />
      <form action="/new" method="POST">
        <div>
          <label>Username:</label><br />
          <select name="user_id" required><br /><br />
              <option value="" selected disabled hidden>Select</option>
            <% @users.each do |user|%>
              <option value="<%= user.id %>"><%= user.username %></option>
            <%end%>
          </select>
        </div>
        <br />
        <div>
          <label>Peep:</label><br />
          <textarea rows = "5" cols = "60" name="content" maxlength="280" required></textarea><br /><br />
        </div>
        <input type="submit">
      </form>
      <p><%= @char_error_message%></p> 
  </body>
</html>