
<form action=/add_submit method='post'>
    Enter Your Peep: (240 char max)
  <input type='text' name='message' value='Enter Peep' maxlength=240>
  <input type='submit' name="Post Peep Bookmark">
</form>