<head>
  <link rel="stylesheet" href="/style.css">
</head>

<form class="" action="/new-peep" method="post">
  <label for="new-chitter-message">Enter Message: </label>
  <input type="text" name="new_chitter_message" value="">
  <br>
  <input type="submit" name="create-peep" value="Create Peep">
</form>
