<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
}

.active {
    background-color: red;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="/add_new_peep">Add New Peep</a></li>
  <li><a href="/view_peeps_descending">View Most Recent Peeps First</a></li>
</ul>

<ul>
  <br>
  <br>
     <form method="post" action="/save_peep" >
        <input type="text" name="peep" placeholder="Peep" />
        <input value="Submit" type="submit" name="Submit" />
     </form>
   <br>
   <br>
</ul>
