<center>
  <h1>Add a new Peep</h1>
  <br><br>

   <form method="post" action="/save_peep" >
      <input type="text" name="peep" placeholder="Peep" />
      <input value="Submit" type="submit" name="Submit" />
   </form>
</center>
