<h1> Add a peep to Chitter </h1>

<form action='/add_peep' method= 'post'>
  <input type='text' name='new_peep' placeholder='Say something here...'>
  <br>
  <input type='submit' name='add_peep' value='Add Peep'>
</form>
