<form class="" action="/new-peep" method="post">
  <label for="new-chitter-user">Enter User Name: </label>
  <input type="text" name="chitter_user" value="">
  <br>
  <label for="new-chitter-message">Enter Message: </label>
  <input type="text" name="new_chitter_message" value="">
  <br>
  <input type="submit" name="create-peep" value="Create Peep">
</form>
