<link rel="stylesheet" type="text/css" href="/styles.css"/>
<h1>Chitter</h1>
<h2>Sign up</h2>
<div class="sign-up"> 
  <form method='post' action='/users/add' type='submit'>
    Name:<br>
    <input type="text" name="name"><br><br>
    Username: <br>
    <input type="text" name="username"><br><br>
    Email: <br>
    <input type="email" name="email"><br><br>
    Password: <br>
    <input type="text" name="password"><br><br>
    <input type ="submit" value="Sign up">
</div>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>