<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #56A9B4;
    }
  </style>

<link rel="stylesheet" type="text/css" href="/style-sheet.css">
</head>
<body>

  <h1> Add a peep to Chitter </h1>


<form action='/add_peep' method= 'post' id="addpeep">
  <textarea name="new_peep" form="addpeep" placeholder="add a peep..." required></textarea>
  <br>
  <input class='submit' type='submit' name='add_peep' value='Add Peep'>
</form>

</body>
</html>
