<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>cheeter message:</h1>
    <h2><%= @add_post %></h2>
    <h3> peep history: </h3>
    <% @peeps.each do |cheet|%>
    <h3>
      <li><%= cheet.text %></li>
      <% end %>
    </h3>
  </body>
</html>
