
<link rel="stylesheet" href="style.css">

<body>

<h1>Add Peep</h1>

<form action=/add_submit method='post'>
    Enter Your Peep: (240 char max)
  <textarea name="message" rows="10" cols="30" maxlength=240>
  </textarea>
  <input type='submit' name="Post Peep">
</form>

</body>