<h1> Here you can write and submit your peep </h1>
<h2> The world is waiting </h2>

<form action="/peeps/create_new_peep" method="post">
  <input type="text" name="new_peep" value="Today I went for a walk and it was lovely!">
  <input type="submit" value="Submit your peep!">
</form>

<!--<h2><%= flash[:notice] %></h2>-->
