<% @makerall.each do |info| %>

<h1>Welcome<%= info.name %>!</h1>
<h3>Add your peep below...</h3>
<% end %>

<form action="/add_peep" method="post">
  <label>Peep:</label>
<input type="text" name="peep" placeholder="add peep here"/>
<label>Username:</label>
  <input type="text" name="username">
  <input type="submit" value="Add Peep!"/>
</form>


<% time = Time.now %>
<% time_format = "#{time.strftime("%I:%M %p")}, #{time.strftime("%d/%m/%Y")}" %>
<input type="text" name="datetime" value=<%= time_format %>/>
