<div class="container">
	<form action="/added" method="post">
		<br>
		<input id="body" type="text" name="body" placeholder="Please enter peep here.">
		<br>
		<br>
		<input class="myButton" type="submit" name="submit" value="Submit">
	</form>	
</div>
