<h2>Sign up</h2>
<div class="sign-up"> 
  <form method='post' action='/users/add' type='submit'>
    Name:<br>
    <input type="text" name="name"><br>
    Username: <br>
    <input type="text" name="username"><br>
    Email: <br>
    <input type="text" name="email"><br>
    Password: <br>
    <input type="text" name="password"><br><br>
    <input type ="submit" value="Sign up">
</div>