<h3>Please tell me your peep:<h3>


<form action="/create_peep" method="post">
  <textarea name="peepbox" rows="5" cols="60" placeholder="Your peep here"></textarea>
  <input type="submit" name="submit" value="Post it!"/>
  </form>
