<html>
  <head></head>
  <body>
    <div>
      <h2>What's your peep?</h2>
      <form method="POST" action="/add_peep">
      <p><input type="text" name="contents" /><br>
      <br>
      <input type="submit" value="Post my peep!"/></p>
      </div>
  </form>
  </body>
</html>