<h1>Welsome to Chitter</h1>
<h3>Please enter your peep below</h3>
<br />
<form action="/add" method="post">
  <input type="text" placeholder="Peep" name="peep_text" />
  <input type="submit" value="Add Peep" />
</form>
