<!DOCTYPE html>
<html>
  <head>
    <title>Chitter - Add a peep</title>
  </head>
  <body>
    <div align='center'>
      <form action="/" method="post">
        <input type="text" name="Peep" placeholder="Whatcha wanna peep?"><br>
        <input type="submit" name="" value="Let's peep!">
      </form>
    </div>
  </body>
</html>
