<body style="background-color:honeydew;">
  
  <header>
  <h3 style="
  font-family:verdana"> Something on your mind ? Write your own peep below and see it on the feed. </h3>
  <h4 style="
  font-family:verdana"> There is a 100 character limit however :) </h4>
  </header>

  <form action="/feed" method="post">
    <input type="text" name="peep">
    <input type=submit value="Submit">
  </form>



  <p>
    <form action="/">
      <input type=submit value="Return to Homepage">
    </form>
  <p>
</body>
