<body style="background-color:honeydew;">
  <h3 style="
  font-family:verdana"> Something on your mind ? Write your own peep below and see it on the feed.</h1>

<form action="/feed" method="post">
  <input type="text" name="peep">
  <input type=submit value="Submit">
</form>

</body>
