<body style="background-color:honeydew;">
  
  <p>
    <h3 style="font-family:verdana"> Something on your mind ? Write your own peep below and see it on the feed. </h3>
  </p>
  
  <p>
    <h4 style="font-family:verdana"> There is a 100 character limit however :) </h4>
  </p>

  <form action="/feed" method="post">
    <input style="font-family:verdana" size="60" type="text" name="peep">
    <input style="font-family:verdana" type=submit value="Submit">
  </form>

  <p>
    <form action="/">
      <input style="font-family:verdana" type=submit value="Return to Homepage">
    </form>
  <p>

</body>
