<form action="/addfilm" method="post">
  Title: <br>
  <input type="text" name="title">
  <br>
  Rating: <br>
  <input type="text" name="rating">
  <br><br>
  <input type="submit" value="Submit">
</form>

<%= styled_flash %>
