<div></div>

<form action="/addpeep" method="post">
<label for="peep_text">Title: </label>
<input type="text" name="peep_text" placeholder="peep_text"/>
<input type="hidden" name="time" placeholder="time"/>
<input type="submit" value="Add Peep"/>
</form>