      <% if @user %>
<h1>Welcome, <%=@user.username%></h1>
      <% end %>
<form action="/peeps/new" method="post">
  <input type="text" name="body" />
  <input type="submit" value="Post new peep" />
</form>

<ul>
<% @peeps.each do |peep| %>
  <li>
    <%= peep.body %>
    <%= peep.username %>
    <%= peep.created_at.strftime("%H:%M:%S, %A %d %B %Y") %>
  </li>
<% end %>
</ul>
