<html>
<head></head>
<body>
  <h1>Peeps</h1>

  <% @peeps.each do |peep| %>
  <div>
    <a href="/users/<%= peep.user_id %>"><p><%= peep.content %></p></a> -
    <%= peep.date_time[0..-8] %>
  </div>
  <% end %>

</body>
</html>