<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <h1>Chitter Feed</h1>
</head>
<% @peeps.each do |peep| %>
<div>
<body>
  <%# <%= user.username ><br>   <------ TALK TO EOIN TOMORROW %>
  @<%= peep.user_id %> said:<br>
  <%= peep.content %><br>
  <%= peep.time%> <br><br>
  <% end %>
</body>
</div>
</html>

<a href= '../'> home</a>
<a href= '../peeps/new'> compose</a>