<h1>All peeps</h1>

Sign up successfully <%= @username %>

<form action="/log_out" method="post">
  <input class="button" type="submit" value="Log out">
</form>


<div class="button_container">
  <form action="/all_peeps" method="post">
      <input class="sendp" type="text" name="peep" placeholder="peep" /> <br /><br />
      <input class="button" type="submit" value="Submit">
  </form>

  <form action="/" method="get">
    <input class="button" type="submit" value="Home">
  </form>
</div>


  <ul>
    <% @peeps.each do | peep | %>
      <li>
        <div class="allp">
          <div class="peep"><%= peep.peep %></div><br>
          <div class="time">sent at <%= peep.created_at.strftime("%H:%M:%S - %d/%m/%Y") %></div>
        </div>
      </li>
    <% end %>
  </ul>
