<html>
  <head></head>
  <body>
<form method="get" action="/peeps">

  <h1 style="color: 800080">Peeps</h1>
    <% @peeps.each do |peep| %>
    <br>
    <div>
    Peep: <%= peep.content %>
    </div>
    <div>
    Time: <%= peep.time %>
    <br>
    <%end%>
    </div>
    </form>
  </body>
</html>
