<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <h1>User list</h1>
</head>
<% @users.each do |user| %>
  <div>
  <body>
    Name: <%= user.first_name%> <%= user.last_name%><br>
    Username: @<%= user.username %><br>
    Email: <%= user.email %><br>
  </body>
  </div><br>
  <% end %>
</html>

<a href= '../'> home</a>