<body style="background-color:#e6ffff;">
<style>
 h1 {text-align: center;}
 form {text-align: center;}
 body {text-align: center;}
 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

</style>
<h1 style="font-family:verdana;"> The Peeps!</h1>
<picture>
 <img src="avatar.png" style="width:120px;" class="center">
</picture>
<body>
  <h1> do you wanna PEEP! </h1>
  <form action="/add_peep" method="post">
   <button type="submit">PEEP</button>
</body>
