<center>
<head>
 <style>
 body {background-color: lightblue;}
 p {border: outset 2px; border-radius: 3px;}
 </style>
 </head>

<h2> Incorrect details, please try again </h2>
<h3> <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> Click below to take you back to the log in page <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> </h3>
<form action="/log_in" method='get'>
<input type="submit" value="Log In">
</form>