<head><link rel="stylesheet" href="styles.css" /></head>
  
  <div><h1>Chitter</h1></div>  

<h1>That user already exists!</h1>
<h1>Please enter your details:</h1>
<form action="/sign_up" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email_address">Email Address:</label><br>
  <input type="text" id="email_adress" name="email_address"><br>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br>
  <input type="submit" value="Submit">
</form>