<html>
 <head></head>
  <body>
    <h1>Chitter Board!</h1>
    <div>
        <% @posts.each do |post| %>
        <br><br>
            <a> <%= post.message %></a><br>
            <%= post.timestamp %></a>
        <% end %>
    </div>
    <div>
        <a href='/signup'>Sign up to join the converstion</a><br>
        <br>
        <a href='/login'>Log In</a><br>
        <br>
        <a href='/'>Return to Homepage</a><br>
        <br>
    </div>
  </body>
</html