<html>

<head>
  <title> Chitter </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div class="messages">


  <div class="cheet_block" %>
    <li> <%= @cheet.cheet %></li>
    <li><sub>  <%= @cheet.user %> @ <%= @cheet.timestamp[0...-7] %></sub></li>
  </div>
</body>
</html>
  </div>
