<form action="/chirrup" method="post">
  <textarea name="chirrup" rows="4" cols="40" placeholder="Warble away!">
  </textarea><br>
  <input type="submit" value="Post">
</form>


<% @chirrups.reverse.each do |chirrup| %>
  <div>
    <%= chirrup.content %>
  </div>
<% end %>
