<h1>Chitter</h1>
<form action='/new-peep'>
  <input type='submit' value='Give us a peep'>
</form>
<% @peeps.reverse_each.with_index do |peep, index| %>
  <p>
    <%= @peeps.length - index %>. <%= peep['text'] %>
  </p>
<% end %>
