<ul>
  <% @peeps.each do |post| %>
    <li>
        <%= post.peep + " written at " + post.time %> 
    </li>
  <% end %>
</ul>
<form action="/chitter_feed/new_peep">
    <input type="submit" value="New peep" />
</form>