<h1>What's happening?</h1>
<form action='/chitter' method='post'>
  <input type='text' name='post'>
  <input type='submit' value='Peep'>
</form>  

<ul>
  <%  @peeps.each do |peep| %>
     <li>
        <body> <%= peep.body %> <%= peep.post_time %>
    </li>
    <% end %>
</ul>
