<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Chitters</h1>


    <% @chitters.each do |chitter| %>
    <h2>User <%= @users.find_by_user_id(chitter.user_id).username %></h2><br />
    <p>Time: <%= chitter.created_at.strftime("%m-%d %H:%M:%S") %> Chitter: <%= chitter.peep %></p><br />
    <hr>
    <% end %>

    <h2>Write new chitter <a href="/chitters/new">here</a></h2>
    <h2>Return to <a href="/">homepage</a></h2>
  </body>
</html>