<html>

<head>
<style>
body {background-color: lightsteelblue;}
h1   {color: teal;}
h2   {color: teal;}
p    {color: teal;}
</style>
</head>
<center>
<body>
    <h1>Welcome to Chitter! Please select what you would like to do below.</h1>
    <img src="https://drive.google.com/file/d/1B8WdxmvIi9oSWqbvqNcAEgiivEtdzNIh/view?usp=sharing" width="75" height="75">

        <h2>See all Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="PEEPS" />
        </form>

            <h2>Login and post your own Peep</h2>
        <form action="/peeps/login">
            <input type="submit" value="LOGIN" />
        </form>

         <h2>Sign up to Chitter</h2>
        <form action="/peeps/signup">
            <input type="submit" value="SIGN UP" />
        </form>
</body>
</center>
</html>