<html>

<head>
<style>
body {font-family: Verdana, sans-serif;}
body {background-color: lightsteelblue;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
</style>
</head>
<center>
<body>
    <h1><span style='font-size:100px;'>&#128019;</span>WELCOME TO THE CHITTER FARM! <span style='font-size:100px;'>&#128019;</span></h1>
<iframe src="https://giphy.com/embed/WwB4oPyd6UxwfV9ZGU" width="350" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/WwB4oPyd6UxwfV9ZGU"></a></p>
        <h2>See All Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="PEEPS" />
        </form>

        <h2>Login And Post Your Own Peep</h2>
        <form action="/peeps/login">
            <input type="submit" value="LOGIN" />
        </form>

         <h2>Sign Up To Chitter</h2>
        <form action="/peeps/signup">
            <input type="submit" value="SIGN UP" />
        </form>
</body>
</center>
</html>