<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"><link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="top_bar">
    <a href='/'><h1>Chitter.</h1></a>
  </div>

  <div class =peepalign>
    <div class=peeps>
      <% @db.display.reverse_each do |peep| %>
        <div class="peep">
          <%= peep["message"] %> <br>
          <br>
          <%= peep["name"] %> <br>
          <div class =time>
            <%= peep["timestamp"] %>
          </div>
          <br>
        </div>
          <br>
          <br>
        <% end %>
    </div>
  </div>

  <form action="/" method="get">
    <input type="submit" value="Home">
  </form>

</body>

</html>