<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h2> What's happening?
    <form action="/peeps" method = "post">
      <input type"text" name="peep">
      <input type="submit" value="submit">
    </form>
  </h2>
  <% @peeps.each do |peep| %>
  <h2><%= peep.peep %> </h2><h6><%= peep.time %></h6>
    <% end %>
</h3>
  </body>
</html>
