<h1>Chitter Newsfeed</h1>
<% if current_user %>
  <form action="/messages" method="post" >
    <textarea name="message_content" cols="70" rows="2" ></textarea>
    <input type="submit" value="Submit" >
  </form>
<% end %>
<div id='posts'><%= @message.print_messages %></div>
    
