<html style="text-align: center; font-family: Tahoma"> </html>
<body>
  <h1>- Chitter -</h1>
 	<h2>Welcome <% if current_user %><%= current_user.user_name %><% end%>!</h2>
 	<div>
 		<% if current_user %>
 		<form action='/create-peep' method="post" >
			<textarea name="post" rows="3" cols="50">
			Enter text here
			</textarea>
			<div>
				<input type="submit" value="Post your peep">
			</div>
		</form>
  	<% end %>
  	<div>
  	<% @posts.each do |peep| %>
  		<div>
  			<p><%= peep.time %>   <%= find_user_name(peep.user_id) %></p>
  		</div>
  		<div>
  			<%= peep.post %> 
  		</div>
  	<% end %>
  	</div>
 	</div>
</body>