<font size="6">Welcome to Chitter<br><br></font>
<font size="4">Enter a peep below<br><br></font>

<form action="/add_peep" method="post">
  Peep: <input type="text" name="peep">
  <br><br>
  <input type="submit" value="Submit">
</form>

<title>Peeps</title>
<% @list_peeps.each do |peep| %>
  <%= peep.peeps %><br>
  <%= peep.date %><br>
<% end %>