<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>CHITTER</h1>
    <% if @user %>
      <h2>Hello <%= @user.username %></h2>
      <form action="/chitter/peep" method="POST">
        <input type="text" name="peep" value="Chitter your heart away!">
        <input type="submit" value="PEEP!">
      </form>
    <% else %>
      <form action="/chitter/user/new" method="GET">
        <input type="submit" value="Sign Up">
      </form>
    <% end %>
    <% @peeps.each do |peep| %>
      <div class="peep">
        <p>
          <%= peep.body %> <br>
          <%= peep.author %> @ <%= peep.created_at.strftime(TIME_FORMAT) %>
        </p>
      </div>
    <% end %>
  </body>
</html>