<h1> This is Chitter </h1>
<h2> Tell the world what you are up to </h2>
<form action='/' method='post'>
  <input type="text" name="text" placeholder="What is up?" />
  <input type="submit" value="Post" />
</form> 