<h1>Welcome to Chitter!</h1>
<body>
<form action="/peeps" method="post">
<input type="text" name="peep" placeholder="What's on your mind?"> </input>
<input type="submit" name="submit" </input>
</form>

</body>
