<body style="background-color:#e6ffff;">
<style>
 h1 {text-align: center;}
 form {text-align: center;}
 body {text-align: center;}
 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

</style>
<h1 style="font-family:verdana;"> The Peeps!</h1>
<picture>
 <img src="avatar.png" style="width:120px;" class="center">
</picture>
<body>
<form action="/peep_added" method="post">

  <label for="chit">PEEP: </label>
  <textarea name="chit" id="chit"
      rows="5" cols="20">
      </textarea>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

   <button type="submit">PEEP</button>
</form>
