<h1>Welcome to Chitter, <%= @user.username %>! </h1> 
<body>
<form action="/peeps" method="POST">
<input type="text" name="message" placeholder="What's on your mind?"> </input>
<input type="submit" name="submit" </input>
</form>

</body>
