<form action="/chitter" method="post">
<form>
  <body>
  <h1>Hello <%= @username %></h1>
  <table border="0">
    <tr>
      <td>
        <textarea id="textarea" name="chitter" maxlength="255"></textarea>
      </td>
      <td><input type="submit" name="submit" value="Submit" /></td>
      <td><input type="submit" name="submit" value="CANCEL" /></td>
    </tr>
  </table>
  </body>
</form>

