<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"><link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <div class="top_bar">
    <h1>Chitter.</h1> 
  </div>

  <div class=peeps>
    <% @db.display.each do |peep| %>
      <div class="peep">
        <%= peep["name"] %> <br>
        <%= peep["message"] %> <br>
        <%= peep["timestamp"] %> <br>
        <br>
      </div>
      <% end %>
  </div>

    <form action="/" method="get">
      <input type="submit" value="Home">
    </form>

  </body>

</html>