<div style="text-align:center"><font size="6"><br>Welcome to Chitter<br><br></font>
<p><font size="5">Enter a peep below<br><br></font></p>

<form action="/add_peep" method="post">
  Peep: <input type="text" name="peep">
  <br><br>
  <input type="submit" value="Submit">
</form>
<br>
</div>

<div style="text-align:center;margin:auto;padding:0 490px">
  <% @list_peeps.each do |peep| %>
      <div id='page' style='width: 450px'>
        <h1 style='border:2px red solid; font-size:20px;'>Post: <%= peep.peeps %><br>Date: <%= peep.date %><br></h1>
      </div>
  <% end %>
</div>
