<button> <a href='/chitter/sign_up'> Sign Up </a> </button>

<ul>
  <% @peeps.reverse.each do |peep| %>
  <li> <b> <%= peep.peep %> </b> <i> Posted on <%= peep.post_date %> at <%= peep.post_time %> </i> </li>
  <% end %>
</ul>
