<html>

<head>
<style>
body {background-color: lightsteelblue;}
h1   {color: teal;}
h2   {color: teal;}
p    {color: teal;}
</style>
</head>
<center>
<body>
    <h1>Welcome to Chitter! Please select what you would like to do below.</h1>
<iframe src="https://giphy.com/embed/WwB4oPyd6UxwfV9ZGU" width="350" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/WwB4oPyd6UxwfV9ZGU"></a></p>
        <h2>See all Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="PEEPS" />
        </form>

            <h2>Login and post your own Peep</h2>
        <form action="/peeps/login">
            <input type="submit" value="LOGIN" />
        </form>

         <h2>Sign up to Chitter</h2>
        <form action="/peeps/signup">
            <input type="submit" value="SIGN UP" />
        </form>
</body>
</center>
</html>