<h1>Welcome to Chitter</h1>

<h2>Please see below for the most recent peeps</h2>

<p>To create a new peep, <a href="/chitter/new">visit here</a>.</p>

<ul>
  <% @chitter.reverse_each do |chitter| %>
  <li> <b>Post:</b> <%= chitter.post %> <br> <b>Time of peep:</b> <%= chitter.time[0, 16] %></li>
  <% end %>
  <style>
        ul {
  list-style-type: none;
  border: none;
}
li {
  border: 3px solid blue;
  vertical-align: top;
  height: 50px;
  width: 400px;
  margin-bottom: 5px;
}
    </style>
</ul>