<h1>chitter</h1>

<form action='/create-peep' method='post'>
  <label for='message'>
    message
    <input type='text' name='message'/>
  </label>
  <input type='submit' value='peep'>
</form>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      peep: <%= peep.message %>
    </li>
  <% end %>
</ul>
