<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <% # bootstrap %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="bg-dark" id="navbarHeader"> 
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 py-4 d-flex justify-content-between">
                        <h4 class="text-white">Chitter</h4>
                        <div class="mr">
                            <p>Login | Sign up</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form action="/post" method="post">
        <textarea name="post" placeholder="What are you thinking?"></textarea>
        <input type="submit" value="Post" />
    </form>
    <ul>
        <% @posts.each do |post| %>
            <li class="post" id="post-<%= post.id %>">
                <%= post.post  %>  Posted on <%= post.date %>
            </li>
        <% end %>
    </ul>
   
</html>