<form action="/chitter" method="get">
  <font size="7">Thank you for registering <%= @name %>!<br><br></font>
  <font size="5">Please see your details below:<br><br></font>
  <br><br>
  <font size="5">User name: <%= @user_name %><br><br></font>
  <font size="5">Email Address: <%= @email_address %><br><br></font>
</form>