<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
  <title>Chitter</title>
</head>

<body class="chitter">
  <h1>Chitter</h1>
  <% @peeps.each do |peep| %>
  <li>
  <%= peep.content %> <br> Peep was posted at: <%= peep.time %>
  </li>
  <br>
  <% end %>
</body>
