<h2>Compose your peep</h2>
<form action="/add_peep" method="post" id='peep_text'>
  <textarea rows='4' cols='60' form='peep_text' name='peep_text'>
    Type your thoughts here
    </textarea>
    <br>
  <input type="submit" form='peep_text' value='Submit'>
  </form>
