<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Write a Peep!</title>
  </head>
  <body>
    <h1>Write a Peep!</h1>
  </body>
  <div>
    <form action="/" method="post">
      <textarea name="peep_content" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Post Peep">
    </form>

  </div>
</html>
