<h2>Compose your peep</h2>
<form action="/add_peep" method="post">
  <label for="peep_text">
  <input type="text" name="peep_text" placeholder="Type here">
  </label>
  <input type="submit" value='Submit'>
  </form>
