<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>

  <body>
    <h2>Whats happening?</h2>
    <form action="/" method="post">
      <input type="text" name="message" placeholder="Type here" />
      <input type="submit" value="Post" />
    </form>
  </body>
</html>