<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1> Compose Peep </h1>
      <form method="POST" action="/new-peep">
        <label> Text: </label> 
        <input type="text" name="text"> <br>
        <input type="submit", value="submit the form">
      </form>      
  </body>
</html>