<html>
<center>
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheet_compose.css">
    <title>Chitter</title>
    <h1>Chitter</h1>
  </head>


  <body>
    <h2>Compose a new peep</h2>
  </body>

  <form action="/message/new" method="post">
  <input type="text" name="peep" />
  <input type="submit" value="Submit" />
</form>

</html>
