<center>
<head>
 <style>
 body {background-color: lightblue;}
 p {border: outset 2px; border-radius: 3px;}
 </style>
 </head>

<h2> Thanks for signing up for Chitter <%= @user_sign_up.user_name %>! </h2>
<h3> <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> Click below to take you to the homepage <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> </h3>
<form action="/" method='get'>
<input type="submit" value="Home">
</form>


