<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>Welcome fellow chitter, Cheet you later :) </h1>
<p>
  <form method="get" action="/">
    <input type="submit" value="Return to homepage"/>
  </form>
</p>