<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id = 'confirm'>
<h1>Thanks for signing up for Chitter, <%= session[:username] %></h1>

<form action='/' method='get'>
  <input type='submit' class='peep_button' value='Home'>
</form>
</div>
