<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <form action="/cheep/new" method="post">
      Name: <input type="text" name="name"><br>
      Handle: <input type="text" name="handle"><br>
      Message: <textarea rows="4" cols="50" name="message">
      </textarea><br>
      <input type="submit" value="Cheep!">
    </form>
  </body>
</html>
