
<html>
 <body style="background-color:aquamarine;">
<h1> <p style="font-family:arial"> Enter details to sign up </p> </h1>
<form action='/peeps' method='post'>
  <input type='text' name='username' placeholder='Enter Username' />
  <input type='text' name='name' placeholder='Enter Name' />
  <input type='email' name='email' placeholder='Enter email' />
  <input type='password' name='password' placeholder='Enter Password' />
  <input type='submit' name='Sign_up' />
</form>

<h1> <p style="font-family:arial"> Enter Peep text (Character limit: 100) </p>  </h1>
<form action='/peeps' method='post'>
  <input type='text' name='peep_text' size="100" placeholder='Enter Peep Text' />
  <input type='text' name='time' value='NOW' placeholder='Enter Time' />
  <input type='submit' name='Submit' />
</form>
</html>
