<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chitter: Write a cheep!</title>
    <meta name="description" content="Write a cheep">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <form action="/cheep_feed" method="post">
    <h1>Write a cheep!</h1><p>
      Username: <input type="text" name="author" /><p>
      Message: <input type="text" name="message" /><p>
      <input type="submit" value="Submit" />
    </form>
  
  </body>
</html>