<h1>Please fill in the details below to create your account</h1>
<form action="/chitter/account_creation" method="post">
  <h1> Name </h1> <input type="text" name="name" /> 
  <h1> Username </h1> <input type="text" name="username" />
  <h1> Password </h1> <input type="text" name="password" />
  <h1> Email </h1> <input type="text" name="email" />
  <input type="submit" value="Submit" />
</form>