<h1 align='center'> Awesome, lets get you signed up! </h1>

<form align='center' action='/peep'>
Bang in a username here:
  <input type='text' value='username'>
We want to sell your contact details, so put your email address in here too:
  <input type='text' action='email'>

  <input type='submit' value='Sign up'>
</form>
