<div class="container-sm">
  <p>What would you like to post?</p>
</div>
<form action='/create_post' method='POST'>
  <textarea type='text' placeholder='your ramblings' name='content' maxlength=140 required cols=50 rows=10></textarea>
  <br>
  <input type='submit' value='post it!'>
</form>
<br>
<a href='/'>Take me back</a>
