<form action="/peeps/new" method="POST">
<h1>Post your peep here!</h1>
  <p>Message: <input type="text" name="content"></p>

  <p>Click here to post: <input type="submit" value="Peep"></p>
</form>

<% if invalid_param? %>
  <p>Please type your peep</p>
<% end %>