<h1>Welcome to Chitter <%= @user["name"] unless @user.nil? %> <h1>
<br>
<form action="/chitter/create" method="POST">
  <input type=text name="text">
  <input type=submit value="Send">
</form>
<br>

<h2>Posts</h2>

<form action="/chitter" method="GET" >
  <label>Display:</label>
  <select name="Display">
    <option value="new">New First</option>
    <option value="old">Old First</option>
  </select>
<input type=submit value="Ok" >
</form>

<table>
  <tr>
    <th>Post</th>
    <th>Created At</th>
  </tr>
  <% @posts.map do |each| %>
    <tr>
      <td><%= each["post"]%></td>
      <td><%= each["created_at"][0..18]%></td>
    </tr>
  <% end %>
</table>