<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <style>
      body {
        background-image: url("/bg.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
      }
     </style>

  </head>

  <body>
    <div class="container">
      <div class="left_column">
        <div class = "header" style="display: flex;">
          <a href ="/">
          <img src="/chitter_logo.png" style ="width: 140px; height: 140px; padding-top:40px; padding-right:10px;"></a>
          <h1 style="font-size: 45px">Welcome<br>to<br>Chitter</h1>
        </div>
      </div>
  </body>
</html>