<!DOCTYPE html>
<html lang="en">
  <h1>Create a new peep</h1>
  <form action="/peeps" method="post">
    <div>
      <label for="message">Peep:</label>
      <input id="message" type="text" name="message" />
    </div>
    <div>
      <p>Hard code user id until implement sessions</p>
      <label for="user">User Id:</label>
      <input id="user" type="text" name="user_id" />
    </div>
    <input type="submit" value="Send Peep" />
  </form>
  <a href="/">Go to Peeps</a>
</html>
