<div class="create-new">
  <h1>Create a new peep</h1>
  <form action="/peeps" method="post">
    <div>
      <label for="message">Your peep:</label>
      <input id="message" type="text" name="message" required />
    </div>
    <input type="submit" value="Send Peep" />
  </form>
  <a href="/">Go to Peeps</a>
</div>
