Welcome to Chitter!

<form action="/peeps" method="post">
  <input type="text" id="username" placeholder="Username" />
  <br>
  <br>
  <label for="peep">What are you doing?</label>
  <br>
  <textarea id="peep" name="peep" rows="4" cols="50"></textarea>
  <br>
  <br>
  <input type="test" id="chittered_on" placeholder="Chittered On" />
  <br>
  <br>
  <input type="submit" value="Post Peep!" />
</form>