<form action='/peeps' method='post'>
  <input type='text' name='peep_text' placeholder='Peep Text' />
  <input type='text' name='time' placeholder='Time' />
  <input type='submit' name='Submit' />
</form>
