<h1>Create a new peep</h1>
<form action="/new" method="POST">
  <div>
    <label>Enter your message: </label>
    <input type="text" name="content">
  </div>
  <div>
    <label>Enter your name: </label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Enter your username: </label>
    <input type="text" name="username">
  </div>
  <input type="submit" value="Submit the form">
</form>