<form action='/logged_in' method='post'>
  <label for='email_address'><strong>Email Address:</strong></label>
  <input type='text' name='email_address'>
  <label for='password'><strong>Password:</strong></label>
  <input type='text' name='password'>

  <br><br>
  <button type='button'> <input type='submit' value='Submit'</button>
</form>
