<div class= 'form' id='peep-form'>
<form action='/create-peep' method=POST>
  <input type='text' name='message' placeholder="What's happening today, <%= session[:username] %>?"/>
  <input type='submit' value='Peep It!' class='center-button'/>
</form>
</div>
