<body>
<head>
  <title>Chitter App</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<h1>Welcome to Chitter</h1>
<h2>
  <br>
  <form method='post' action='/peep'> 
      <input type='text' name='peep_content'>
      <input type='submit' value='Peep' />
  </form>
</h2>
</body>