<h1 align='center'> Awesome, lets get you signed up! </h1>

<form align='center' action='/created' action='POST'>
Username:
  <input type='text' name='username'>
Email:
  <input type='text' name='email'>

  <input type='submit' name='submit' value='Create Account'>
</form>
