<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  <title>Messaging</title>
  </head>
  <body>
    <br>
    <section class="col-md-6 mx-auto card">
      <br>
      <form action="/storage" method="post">
        <div class="form-group">
          <p>Please enter your message:</p>
          <textarea class="form-control" name='message' id="exampleTextarea" rows="3"></textarea>
        </div>
        <div>
          <input type="submit" value="Submit" name="Submit" class="btn btn-outline-primary btn-lg btn-block">
        </div>
        <br>
      </form>
    </section>
  </body>
</html>
