<form action="/create_post" method="POST">
    <h1>Share your thoughts!</h1>
    <div><p>User ID:</p> <input type="text" name="user_id"></div>
    <div><p>Your post:</p> <input type="text" name="content"></div>

  <div><p> </p> <input type="submit" value="Post"></div>
</form>