<b><h1>Welcome to Chitter!</h1>
<h2><em>-THE place to be</em></h2>
<br>
<h3>Enter your details below to create an account, you'll be peeping in no time!</h3></b>

<form action='/new_user' method='post'>
  <input type='text' name='username' placeholder='Enter a username'>
  <input type='email' name='email' placeholder='Enter your email address'>
  <input type='password' name='password' placeholder='Enter a password'>
  <input type='submit' value='Submit'>
</form>