<center><h1>Please create an account.</h1></center>
<center><form action="/account_created" method="post">
  <input type="text" name="name" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <h1></h1>
  <input type="text" name="email" placeholder="example@gmail.com">
  <h1></h1>
  <input type="submit" value="Create Account">
</form></center>
<center><h3>Already have an account?</h3></center>
<center><a href="http://localhost:2345/">
  Sign in
</a></center>
