<form action='/create-peep' method=POST>
  <input type='text' name='message' placeholder='Type your peep!'/>
  <input type='text' name='username' placeholder='Enter Username'/>
  <input type='submit' value='Peep It!'/>
</form>
