<body>
<head>
  <title>Chitter App</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<h1>Welcome to Chitter</h1>
<img src='https://thesaurus.plus/img/synonyms/450/chitter.png'>
<h2>
  <br>
  <form method='post' action='/peep' class='new-peep-input'> 
      <input type='text' name='peep_content' placeholder='Chitter Chatter'>
      <input type='submit' value='Peep' />
  </form>
</h2>
</body>