<h2>Sign Up!</h2>

<form action="/create_account_post" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="name" placeholder="Name">
  <input type="submit" value ='Create account'>
</form>
