<h1>Create a new account</h1>
<form action="/signup" method="POST">
  <div>
    <label>Enter your e-mail address: </label>
    <input type="text" name="email">
  </div>
  <div>
    <label>Choose a password: </label>
    <input type="text" name="password">
  </div>
  <div>
    <label>Enter your name: </label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Choose a username: </label>
    <input type="text" name="username">
  </div>
  <input type="submit" value="Submit the form">
</form>