Please enter your message below
<div class="create_peep_div">
  <form class="create_peep_form" action="/peeps" method="post">
    <input type="text" name="body" placeholder="Please enter your message up to 180 Characters" maxlength="180">
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
