<div>
  <form action='/submit_peep' method='post'>
    <label>Your name <input name='user_name' type='text' maxlength='60' minlength='1'></label>
    <label>Your peep <input name='content' type='text' maxlength='240' minlength='1'></label>
    <button name='submit'>Peep it!</button>
  </form>
</div>