<html>
  <head>
    <title>Delete a peep</title>
  </head>
  <body>
    <h1>Unable to delete a peep</h1>
    <div>
      <p>To delete an exiting peep of yours, please login or create an account</p>
    </div>
    <div>
      <a href="/signup">Sign up page</a>
    </div>
    <div>
      <a href="/loginpage">Login page</a>
    </div>
  </body>
</html>