<html>
  <head>
    <title>Delete a peep</title>
    <h1>Delete a selected peep</h1>
  </head>
  <body>
    <div>
      <p>Please input the title of the peep you would like to delete</p>
    </div>
    <form method="POST" action="/delete_peep">
    <div>
      <label>Title of peep:</label>
    </div> 
    <div>
      <input type="text" name="title"/>
    </div>
      <input type="submit"/>
    </form>
  </body>
</html>
