<p>Are you sure you want to delete your account?</p>

<form action=<%="/delete_profile/#{@user.id}"%> method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="I'm done Warbeling, delete me!" value="I'm done Warbeling, delete me!">
</form>
