<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @peep.content %>
    <br>
    <br>
    <br>
    <%= @peep.time %>
    <br>
    <br>

    <form action="/profile" method="get">
      <input type="submit" value="Back to Profile">
    </form>

  </body>
</html>
