

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("/interior.jpeg");
        font-family: "Verdana", sans-serif;
      }

      h1 {
        color: white;
        font-size: 75px;
        text-align: center;
      }

      h2 {
        color: white;
        text-align: center;
      }

      div {
        font-size: 20px;
      }

      input {
        width: 20%;
        text-align: center;
        height: 30px;
        margin-bottom: 4px;
      }

    </style>
  <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> MakersBnB </h1>
  <div class= "transbox">
    <h2> Sign Up </h2>


        <form style="text-align: center">
          <input type="text" name="name" placeholder="Name" /><br>
          <input type="text" name="email" placeholder="Email"/><br>
          <input type="text" name="password" placeholder="Password"/><br>
          <input style="background-color: #FC7003; border-radius: 25px; height: 40px; width: 22%; font-size: 23px" type="submit" value="Submit" />
        </form>

      <br>

    <h2> Log In </h2>

      <form style="text-align: center">
        <input type="text" name="name" placeholder="Name"/><br>
        <input type="text" name="password" placeholder="Password"/><br>
        <input style="background-color: #FC7003; border-radius: 25px; height: 40px; width: 22%; font-size: 23px" type="submit" value="Submit" />
        <br>
      </form>
    </body>
</html>
