<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="style.css">
    <title>Message</title>
  </head>
  <body>
  <div class="container-fluid" align="center" style="padding: 20px"> 
  <% @posts.each do | post|%>
  <div class="container-fluid" style="padding: 20px" align="left">
  <div class="card" style="width: 40rem; padding: 20px;">
    <div class="card-body">
    <h5 class="card-title">Name: <%= post.name %></h5>
    <h5 class="card-title">Message: <%= post.message %></h5>
    <h5 class="card-title">Blog date: <%= post.date %></h5>
    </div>
    </div>
  </div>
    <%end%>
  </div>
  </div>
  </body>
</html>
