
<center>
<h1 class='subtitle'>Edit Message</h1>
<div class='form-container'>
  <form action='/message/<%= @id %>' method='post'>
    <input type='hidden' name='_method' value='PATCH'>
    <textarea name='message' id='edit-box'><%= @message %></textarea><br>
    <input type='submit' value='Submit'>
  </form>
</div>
