
<center>
<form action='/message/<%= @id %>' method='post'>
  <input type='hidden' name='_method' value='PATCH'>
  <input type='text' name='message' value='<%= @message %>'>
  <input type='submit' value='Submit'>
</form>
