<div>
  <center>
  <body bgcolor="#E6E6FA">

  <h2> Please submit your message </h2>

  <form action="/enter_msg" method="post">
    <input type="text" name="message">
    <input type="submit" value="Submit">
  </form>

  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNbeovHpKwloK_nUkRXG16ST848rO-wooQzrXv-U_7_oAzto3A' style='border: 3px solid black'>

  </center>
</div>
