
<% require 'sinatra/flash' %>
<h2>
  <%= flash[:notice] %>
</h2>

<form action="/users/authenticate" method="post">
  <fieldset>
    <legend> Please enter your details </legend>
    Enter your username
    <input type="text" name="username">
    Enter your password
    <input type="password" name="password">
    <input type="submit" value="Log In" >
  </fieldset>
</form>
