Enter your peep below:<br>
<hr>
<form action="/new_peep" method="post">
  <input type="text" name="username" placeholder="Username"> <br>
  <input type="text" name="peep" size="60" placeholder="Enter peep here"><br>
  <input type="submit" value="Post peep">
</form>
