<h1>Error!</h1>

<h2>Sorry, that <%=@error.to_s%> is already associated with an account<h2>

<form action ='/sign-up' method='GET'>
  <input type='submit' value='Try Again'>
</form>
<br>
<form action ='/' method='GET'>
  <input type='submit' value='Homepage'>
</form>

