<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter: Oops!</title>
  </head>
    <center>
  <header>
    <%= erb(:title) %>
  </header>
  <body>
    <h4>That didn't work! Want to <a href="/signup">sign up</a> or <a href="/signin">sign in</a>?</h4>
  </body>
  </center>
</html>
