<html>
  <head></head>
  <body>
    <div>
      <a href="/login">Login</a>
      <a href="/">Home</a>
    </div>
    <h1>Chitter: Error posting Peep!</h1>
    <p>Error details: <%= @error %></p>
  </body>
</html>