<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    </head>
   <p> There must be an error</p> 
<p> Please enter your credential again </p>
<div id='sign_in' class='sign_in'>
<div id="register" class='register'>
<form action="/register" method="post">
      <div>
        <label for="fname">First Name:</label>
        <br>
        <input type="text" id="fname" name="fname">
      </div>
      <div>
        <label for="lname">Last Name:</label>
        <br>
        <input type="text" id="lname" name="lname">
      </div>
      <div>
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" placeholder="Enter email" name="email">
      </div>
      <div>
        <label for="pwd">Password:</label>
        <br>
        <input type="password" id="pwd" placeholder="Enter password" name="pwd">
        </div>
          <input type="submit" value="Sign in">
    </form>
</div>

      
<div id="login" class="login">
  <p>Login:</p>
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="Username" name="username">
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" placeholder="Enter password" name="pwd">
  <input type="submit" value="Login">
  </form>
</div>
</div>


</html>
