<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="/">Chitter</a></h1>
    <h2 style="background: #E3FF47;">Something wentasdf wrong - sorry!</h2>
    <div class="peep" style="text-align: center; color: red;">
      <p>Were you trying to create an account?</p>
      <p>The email or username might already be used!</p>           
    </div>      
    <h2><a href="/peeps">See all Peeps!</a></h2>
    <h2><a href="/peeps/new">Post a Peep!</a></h2>
    <h2><a href="/users/signup">Sign up!</a></h2>
  </body>
  <footer>
    &copy; <a href="/">Chitter</a> <%= @current_year %>
  </footer>
</html>