<html>
  <head></head>
  <body>
    <h1>ERROR</h1>

    <div>
      <p>
      Something went wrong.
      <p>
      Login error: Your username and password were not found. Please try again.
      <p>
      Sign-up error: Please note that all fields must be filled in. Your password must be over 8 characters.
      <p>
      Try again:
      <p><a href="/">Home</a>
    </div>

  </body>
</html>
