<html>
  <head></head>
  <body>
    <h1>Login</h1>
    <div>Username or password incorrect</div>
    <form action="/login" method="POST">
    <input type="text" name ="username" placeholder="Username"></br>
    <input type="password" name="password" placeholder="Password"></br>
    <input type="submit" value="Login">
    </form>
    <a href="/signup">Sign Up</a>
  </body>
  <footer>
    <a href="/">Home</a>
  </footer>
</html>