
<ul>
  <% @feed.each do |message| %>
  <li> <%= message.content %> <%= message.created_at %> </li>
  <% end %>
</ul>

<form action="/feed/new" method="get">
 <input type="submit" name="add">
</form>
