<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <p><a href="/maker/new">Register for Chitter</a></p>
    <p><a href="/peep/new">Peep!</a></p>
    <% @peeps.each do |peep| %>
    <div>
      <p>
      Posted by: <%= peep.maker_name %><br  />
      Time: <a href="/peep/<%= peep.id %>"><%= peep.time %></a><br  />
      Content: <%= peep.content %><br  />
      </p>
    </div>
    <% end %>

  </body>
</html>
