<div><% @peeps.each do |peep| %> 
<div>
<%= peep.body%> 
<%= peep.timestamp%> 
</div>
<% end %>
</div>
<br>

<form action="/sessions/new" method="get">
  <input type="submit" value="Log in" />
</form>

<form action="/peeps/new" method="get">
  <input type="submit" name='Add peep' value="Add peep"/>
</form>