Welcome back <%= "#{@user.name}" %>!

<form action="/peep" method="post"><br>
Share your peep here: <br>
<textarea rows = "5" cols = "60" name = "peep">
</textarea>
<br>
<input type="submit" value="Peep!"><br>
</form>


<ul>
  <% Peep.all.reverse.each do |peep| %>
    <li><h1><%= peep.message %></h1> <br> written by <%= peep.author %> at <%= peep.time %></a></li>
  <% end %>
</ul>