<h2>Signed in as @<%= @username %></h2>
<br>
<form action="/feed" method="get">
  <label for="username">
    Have a lil peep:
    <input type="text" name="peep" placeholder ="What's on your mind?">
  </label>
    <input type="submit" value="Submit">
  </form>
