<!DOCTYPE html>
  <head>
    <title>Home/Chitter</title>
    <style>
      body {
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        background-color: white;
        background-image: url("https://wallpaperaccess.com/full/1459046.png")
      }
      img {
        max-width: 10%;
        max-height: auto;
      }
      .header {
        display: flex;
        justify-content: flex-start;
      }
      #h1 {
        margin: 10px;
      }
      .bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .feed {
        border-radius: 15px;
        max-width: 600px;

      }
      .peep {
        border: 1px solid #55acee;
        margin-top: 10px;
        border-radius: 15px;
        padding: 5px;
        display: flex;
        flex-direction:column;
        position: relative;
        background-color: white;
      }
      .username {
        color: #5B7083;
        position: absolute;
        margin: 3px;
      }
      .time {
        display: flex;
        justify-content: flex-end;
        margin: 3px;
      }
      .content {
        margin: 3px;
      }
  </style>
  </head>

  <body>
    <div class="header">
      <img src="https://png2.cleanpng.com/sh/7a7c41f4b45d27275b5bb2264256a082/L0KzQYi4UsE3N2c3fJGAYUO4RbWBgcdnbGk8T5C9NEa0RoaBWcE2OWQ5TKgCOUS4QoSATwBvbz==/5a355d8a7fd877.4461658915134467945237.png" alt="twitter">
      <h1>Home</h1>
    </div>

      <div class="">
        <form class="" action="/feed/<%= @username %>" method="post">
          <input style="margin: 5px; width: 475px; height: 50px; border-color: #1b95e0; border-radius: 15px; type="text" name="content" placeholder="What's happening?">
          <input style="height: 50px; width: 100px; border-color: #1b95e0; color:#1b95e0; font-weight:300; border-radius: 15px" type="submit" value="Post">
        </form>
      </div>
  <div class="feed">
      <% @chitter.reverse.each do |peep| %>

      <div class="peep">
        <div class="username">@<%= peep.username %></div>
        <div class="time"><%= peep.posted_time[0..18] %></div>
        <div class="content"><%= peep.content %></div>
      </div>
      <%end%>
    </div>
  </body>

</html>
