<form action="/send_peep" method="post">
  <label for="peep_content"> What would you like to say? </label>
  <input type="text" name="create peep">
  <input type="submit" value="send peep">
</form>

<!-- # <%= Peep.all %> -->
