<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Chitter Feed </h1>
    <h2>Welcome, <%= @user.name %></h2>
    <ul>
      <% @peeps.each do |peep| %>
        <li>
        <% peep_user = User.find(peep.user) %>
        <%=peep_user.name%>:
        <%=peep.body%> --- <%= peep.time%> </li>
      <% end %>
      </ul>

      <h2>Peep now</h2>
      <form method= get action='/feed/new_peep'>
      <input type = "submit" value = "New Peep">
      </form>

  </body>

  <br>

  <form action= '/users/logout' method = gets>
    <input type = 'submit' value = 'Log out'
  </form>
</html>
