<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Chitter Feed</h1>
    <ul>
      <% @peeps.each do |peep| %>
      <li><%=peep.body%> --- <%= peep.date%> </li>
      <% end %>
      </ul>

      <h2>Peep now</h2>
      <form method= get action='/feed/new_peep'>
      <input type = "submit" value = "New Peep">
      </form>

  </body>
</html>
