<body>
  <h1>Chitter</h1>

  <form action="/feed" method="/post">
    <input type="text" name="peep" placeholder="Write a new peep...">
    <input type="submit" value="Post">
  </form>

  <%@peep.each do |peep|%>
    <%=peep%><br>
  <%end%>

</body>

