<html>
  <head> </head>
  <body>
    <h1>Chitter</h1>
    
    <div>
      <% @peeps.each do |peep| %>
       <div>
       <h3><span><%= @user_repo.find(peep.user_id).name %>
       </span> <span>@<%= @user_repo.find(peep.user_id).username %></span></h3>
       <p><%= peep.message %></p>
       <p><%= peep.time %></p>
       </div>
      <% end %>
    </div>
   
    
  </body>
</html>