<form action="/feed" method="post">
  <input type="text" name="peep">
  <input type="submit" name="submit" value="Send Peep">
</form>
<% @peeps = $feed.peeps.reverse %>
<div>
  Peeps: <% @peeps.each do |peep| %>
  <div>
    <br>
    <%= peep.text %>
    <br>
    posted at: <%= peep.time %>
    <br>
  </div>
  <% end %>
</div>
