<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <% @peeps.each do |peep| %>
    <div>
      <p>
      Posted by: <%= peep.maker_name %><br  />
      Time: <%= peep.time %><br  />
      Content: <%= peep.content %><br  />
      </p>
    </div>
    <% end %>

  </body>
</html>
