<html>
  <head></head>
  <body>
    <h1>Chitter feed:</h1>
    <div>
      <form action="/feed" method="POST">
      <label for="content">Send a peep:</label>
      <input type="text" id="content" name="content"><br>
      <input type="submit" value="Peep!">
      </form>
    </div>
    <% @peeps.all.each do |peep|%>
      <div>
        <p> <%= peep.content %> </p>
      </div>
    <% end %>
  </body>
</html>