<body>
  <h1>Chitter</h1>
  <h1><%=@peep%></h1>

  <form action="/feed" method="/post">
    <input type="text" name="peep" placeholder="Write a new peep...">
    <input type="submit" value="Post">
  </form>

</body>

