


<form action = '/sign_up' method ='push'>
  <button name="Sign up to Chitter" type='submit' value='Sign up to Chitter'>Sign up to Chitter</button>
</form>

<form action='/login' method ='get'>
  <input type='submit' value='Login to Chitter'>
</form>

<form action='/cheeps' method= 'post'>
  <input type= 'submit' value= 'See cheeps'>
  </form>
