<h1>Sign up for Chitter now!</h1>
<form action="/type_peeps" method="post">
Username: <input type="text" name="username"><br><br>
Password: <input type="password" name="password"><br><br>
Confirm Password: <input type="password" name="password_confirmation"><br><br>
<input type="submit" value="Submit">
</form>