<div id='main'>
    <div id='left'>
    </div>

    <div id= 'right'>
    
      <div class='form-group form-container'>
        <form class='form-inline'>
         <input class='form-control' type='text' placeholder='Username, email address'>
         <input class='form-control ml-1 mt-1' type='password' placeholder='Password'>
       </form>
      </div>

      <div class='regslink'>
        <a href='/user/new' class='btn btn-primary'>Sign up</a>
        <a href='#' class='btn btn-primary'>Log in</a>
      </div>

    </div>
</div>

<footer>
  <ul>
    <li class='text-muted'><a href='#'>About</a></li>
    <li class='text-muted'><a href='#'>Help centre</a></li>
    <li class='text-muted'><a href='#'>Blog</a></li>
    <li class='text-muted'><a href='#'>Jobs</a></li>
    <li class='text-muted'><a href='#'>Terms</a></li>
    <li class='text-muted'><a href='#'>Apps</a></li>
    <li class='text-muted'><a href='#'>Privacy Policy</a></li>
    <li class='text-muted'><a href='#'>Languages</a></li>
  </ul>
</footer>