<head>
  <meta charset="utf-8">
  <title>Chitter</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<div class="w3-bar w3-blue-grey">
  <a href="/" class="w3-bar-item w3-button">Posts</a>
  <a href="/login" class="w3-bar-item w3-button">Login</a>
  <a href="/logout" class="w3-bar-item w3-button">Logout</a>
</div>
