<head>
  <meta charset="utf-8">
  <title>Chitter</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<div class="w3-bar w3-sand">
  <span class="w3-bar-item">Chitter</span>
  <a href="/" class="w3-bar-item w3-button">Posts</a>
  <% if session[:logged_in] %>
    <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
  <% else %>
    <a href="/login" class="w3-bar-item w3-button w3-right">Login</a>
  <% end %>

</div>
