<center><h4>________________________</h4>
<h1>Chitter</h1>
<h4>________________________</h4></center>
<center><form action="/post">
  <input type="submit" value="New Peep">
</form></center>
<h4><%= @peeps %></h4>
