<h1> Welcome to Chitter </h1>

<h3> what's on your mind? </h3>

<form action="/homepage/add" method='post'>
  <input type="text" name="what's on your mind?" />
  <input type=submit value='post' />
</form>

<h3> I'm cleaning my house </h3>
