<h1>Welcome to Chitter</h1>

<h2>What would you like to peep?</h2>
<form action='/peeplist' method='post'>
    <input type='text' name='peep' placeholder='Write your peep here'>
    <input type='submit' value='Peep'>
</form>
<form action='/peeplist'>
<input type='submit' value='View Peeps'>
</form>
<form action='/sign_up'>
<input type='submit' value='Sign Up'>
</form>
<%# <form action='/sign_in'>
<input type='submit' value='Sign In'>
</form> %>