Welcome to Chitter
<br>
<ul>
<% @chitters.reverse.each do |chitter| %>
<li><%= chitter.peep %> posted at <%= chitter.time %> </li>
<br>
<% end %>
</ul>

<br>
<form action="/post_peep" method='post'>
<input type="text" name="peep" placeholder="Post your peep here">
<input type="submit" value="Post Peep">
</form>
