<html>
  <head></head>
  <body>
    <h1>Welcome To Chitter</h1>
    <h2>Options</h2>
    <div>
      <a href='peeps'> See all peeps </a>
    </div>
    <br>
    <div>
      <p> Want to peep? </p>
        <a href='login'> Login </a><br>
        <a href='users/new'> Sign up </a><br>
        <%# <a href='peeps/new'> Compose a peep </a><br> %>
    </div>
  </body>
</html>