<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter Chatter!</title>
  </head>
  <body>

  <% if session[:user_id] %>
    <!-- Logged in content -->
    <h1>Welcome <%= @user.username %>!</h1>
    <a href="/logout">Logout</a>
    <h2>Recent Peeps:</h2>
    <% @peeps.each do |peep| %>
      <p><%= peep.contents %></p>
    <% end %>
  <% else %>
    <!-- Logged out content -->
    <h1>Welcome to Chitter!</h1>
    <p>Options:</p>
    <a href="/register">Sign Up</a><br>
    <a href="/login">Login</a><br>
    <h2>Recent Peeps:</h2>
    <% @peeps.each do |peep| %>
      <p><%= peep.contents %></p>
    <% end %>
  <% end %>
  
  </body>
</html>
