<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="homepage_body">
    <h1>Chitter</h1>
    <div>See what's happening in the Makers sphere right now</div>
    </br>
    <div class="homepage_image">
      <img width="500" src='http://clipart-library.com/images/kTKoxpgBc.png' alt="twitter-logo" width="50vw"/>
    </div>
    </br>
    <a href="/peeps"><button type="button">Enter website</button></a>
  </body>
</html>