<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Homepage</title>
  </head>
  <body style="background-color:powderblue;">
    <style>
      body {
        text-align:center;
        margin-top: 200px;
        margin-bottom: 200px;
      }

    </style>

    <h1>Welcome to Chitter</h1>

    <form action="/peep">
      Sign up: <input type="submit" value="Sign Up" />
    </form>

    <form action="/Login">
      Login: <input type="submit" value="Login" />
    </form>

  </body>
</html>
