<h1> Welcome to Chitter! Please choose from the below options: </h1>
<form action="/chitter/view" method="get">
  <input type="submit" value="View Chitts" />
</form>
<form action="/chitter/login" method="get">
  <input type="submit" value="Log In" />
</form>
<form action="/chitter/post" method="get">
  <input type="submit" value="Post Chitt" />
</form>
<form action="/chitter/logout" method="get">
  <input type="submit" value="Log Out" />
</form>
<h1> <%= Chitter_Model.username %> is currently logged in </h1>