<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Homepage</title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <form class="" action="/sessions/new" method="get">
      <input type="submit" name="" value="Have an Account? Log in">
    </form>
    <form class="" action="/users/new" method="get">
      <input type="submit" name="" value="Register for Chitter">
    </form>
  </body>
</html>
