<h1 align='center'> Login completed, what do you want to do next <%= @user %> ? </h1>

<form align='center' action='/peep'>
  Need to get something off your chest?
  <input type='submit' value='Peep!'>
</form>

<form align='center' action='/mypeep'>
  Want to see your old peeps?
  <input type='submit' value='My Peeps'>
</form>

<form align='center' action='/view'>
  My chest is fine, I want to see what everyone else is whining about!
  <input type='submit' value='The wall'>
</form>
