<h2> This is YOUR Homepage </h2>
<form method="post" action="/home">
  <ul>
    <% @peep.each do |peep| %>
      <li> <%= peep %> </li>
    <% end %>
  </ul>
  <input type="submit" value="Send Peep!" />
  <input type="submit" value="Log Out" />

</form>
