<form class="" action="/login" method="get">
  <input type="submit" name="" value="Sign In">
</form>

<form class="" action="/Register" method="get">
  <input type="submit" name="" value="Sign Up">
</form>
