<h1>Welcome to Chitter</h1>

<h2>What would you like to peep?</h2>
<form action='/peeplist' method='post'>
    <input type='text' name='peep' placeholder='Write your peep here'>
    <input type='submit' value='Peep'>
</form>