<!DOCTYPE html>
<html>
<head>
    <title>Chitter - Home</title>
</head>
<body>
    <ul>
      <li><a><%= @current_user.user_name%> </a></li>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/create">Create</a></li>
    </ul>

<div class="text">
    <div class="welcome-div">
        <h1>Your Chitter Updates</h1>
    </div>

    <% @posts.each do |peep| %>
    <div>
    	<h2> <%= peep.post %> </h2>
    	<h4> <%= peep.poster %> </h4>
    	<h5> <%= peep.time %> </h5>
    </div>
    <% end %> 

</div>
</body>
</html>