<div class="topnav">
    <a>Welcome to Chitter</a>
    <a class=" active" href="/homepage">Home</a>
    <a class="hover" href="/homepage/account">Account</a>
    <a class="hover" href="/homepage/postpeep">Post</a>
    <a class="hover" href="/homepage/messages">Messages</a>
    <input type='text' placeholder="Search Chitter..">
</div>