<h1> Welcome to chitter </h1>
<% if session[:user_id] %>
   <%=  erb :"_add_post" %>
<% end %>

<div id = 'messages-container'>
    <% counter = 1 %>
    <% @messages.reverse.each do |message| %>
    <div class = 'message'>
        <%= message.created_at %>:<p><%= message.twenty_chars %></p>
        <%message.users.each do |user| %>
            <%= user.name %>
        <% end %>
        <% if session[:user_id] %>
           <button class='comment' id='#{counter}' onClick='show_form(this.id)'>comment</button>
           <form class='comment_form' id="form-#{counter}" action='/comment' method='post'>
             <input type='text' name='comment'>
             <input type='submit' value='comment!'>
            </form>
            <% counter += 1%>
        <% end %>
    </div>
    <% end %>
</div>