<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter Inc. // Daniel Campos</title>
  </head>
  <body>
    <h1>CHITTER</h1>
    <hr>
    <br>
    <br>
    <form action="/new_peep" method="post">
      <input type="submit" value="New Peep">
    </form>
    <%if new_peep_status%>
      <form action="/new_peep_update" method="post">
        <input placeholder="Name" type="text" name="name">
        <input placeholder="Username" type="text" name="username">
        <input placeholder="Peep" type="text" name="peep">
        <input type="submit" value="PEEP">
      </form>
    <%end%>
    <%@peeps_channel.each do |peep|%>
      <p><hr>
        <%=peep.peep%><br>
        <%=peep.name%><%=peep.username%><br>
        <%=peep.time%>
        <hr>
      </p>
    <%end%>
  </body>
</html>
