<h1>Howdy, Stranger! Welcome to Chitter.<h1>

<form action="/register">
  <input type="submit" value="Register">
</form>

<h2>Already registered?<h2>

<form action="/log_in">
  <input type="submit" value="Log in">
</form>
