<title>chitter - home</title>
<h1>chitter</h1>

<a href="/sign-up">sign up</a>

<br>

<h4>new peep</h4>
<form action="/" method="post">
  <input type="text" name="text" placeholder="what's up?"></input>
  <input type="submit" value="peep it!">
</form>

<br>
