<html>
  <h1>Welcome to Chitter!</h1>
  <body style="background-color:rgb(66, 190, 194)"><br>
      <div>
        <center><a href='/users' style="float: right;"> Sign-up! </a><br><br>
        <a href='/sessions/new' style="float: right;"> Login! </a><br><br></center>
    </div>
  </body>
</html>