<html>
<head>
<style>
.button { 
  font-family: Arial, Helvetica, sans-serif;
  float: right; 
  }

#header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 2%;
  }

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 2%;
}
</style>
</head>
<body>

<% if @session == nil %>
  <h1><a href='/login' class='button'>login</a></h1>
<% else %>
  <h1><a href='/logout' class='button'>logout</a></h1>
<% end %>

  <h1 id='header'>Welcome to Chitter!</h1>

  <p>
    New to Chitter? Create an account <a href="/users/new">here</a>.
  </p>

   <p>
    If you're no stranger to chittering, login <a href="/login">here</a>.
  </p>

   <p>
    Or if you simply want to see what the Chitter community is saying, go <a href="/peeps">here</a>.
  </p>
 
</body>
</html>