<html>
  <head>
    <style type= >

    </style>
  </head>
  <body>
    <h1> Chitter </h1>
    <% if @logged_in == true %>
    <h3> Write a peep </h3>
    <div class="form">
    <form action="/peep" method="POST">

      <label for="message">Write your message</label>
      <input type="text" name="message" id="message"><br>
    </form>
    </div>
    <% end %>

    <% @peeps.each do |peep| %>
    <div style = "border: 4px solid #000;">
      <%= peep.username%><br>
      <%= peep.message%><br>
      <%= peep.post_date%> @ <%= peep.post_time%> <br>
    </div>
    <br>
    <% end %>

  </body>
</html>