<html>
  <head>
    <title>Chitter Homepage</title>
  </head>
  <body>
    <h1>Welcome to Chitter!</h1>
    
    <form method="POST" action="/post">
      <label>Post a Peep:</label>
      <input type="text" name="message"><br>

      <input type="submit"><br>
    </form>

    <hr/>

    <section>
      <% @peeps.each do |record| %>
        <div>
        <%=record.time%>
        <%=record.message%>
        </div>
      <% end %>
    </section>

  </body>
</html>