    <div class="homepage">
        <h1 class="display-2">Hello and Welcome to Chitter!</h1> 
        <blockquote class="blockquote">
            <p>The home of peeps...</p>
        </blockquote>
        
        <a href="/peeps" class="btn btn-lg">See Peeps</a>
    <div>
    