
<form action='/' method='post'>
  <label for="name">
  <input type='text' name='name'>
  </label>
  <label for="username">
  <input type='text' name='username'>
  </label>
  <label for="peep">
  <input type='text' name='peep'>
  </label>
  <input type='submit' value='Post'>
</form>


<% @peeps.each do |x| %>
  <%= x['name'] %>  @<%= x['username'] %>   <%= x['time'] %>
 <br> <%= x['peep'] %> <br>
<% end %>

Sign up for Chitter:
<form action='/users/new' method='post'>
  </label>
  <input type='submit' value='Sign Up'>
</form>
