<html>
  <head></head>
  <body>
    <h1>Chitter</h1>

    <div>
        <br> <a href="/login">Login </a>
        <br> <a href="/new_account">Create an account </a>
        <br> <a href="/all_peeps">View all peeps </a>
    </div>
  </body>
</html>