<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet"
   type = "text/css"
   href = "style.css" </link>
 </head>
<body>
  <center>
  <br>
  <br>
  <h1>Welcome to Chitter</h1>
  <br>
  <br>
    <form action="/peeps" method="post">
    <input type="text" name="postbox">
    <input type="submit" value="Post my peep" name="peep">
  </form>
  </center>
</body>
