<body>
<head>
  <title>Chitter App</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<h1>Welcome to Chitter</h1>
<h2>
  <br>
  <form method='get' action='/peep'> 
    <label for= 'create a peep'>
      <input type='submit' value='Create A Peep' />
    </label>
  </form>
</h2>
</body>