<html>
  <head>
    <title>No one is safe in the Chitter-Sphere</title>
    <link rel="stylesheet" href="/style.css"/>
    <h1>Welcome to the Chitter-Sphere!</h1>
  </head>
  <body>
    <div>
      <a href="/peeps"><button>View all peeps</button></a>
    </div>
    <div>
      <a href="/peep/new"><button>Post a new peep</button></a>
    </div>
    <div>
      <a href="/loginpage"><button>Log in</button></a>
    </div>
    <div>
      <a href="/signup"><button>Sign up</button></a>
    </div>
    <div>
      <a href="/userpage"><button>My account</button></a>
    </div>
    <div>
      <img src="/logo.jpg"></img>
    </div>
  </body>
<html>
