<html>
  <head></head>
  <body>
  <h1>Chitter</h1>
  <h2>Your place to peep</h2>

    <div>
      <%%>
    </div>

    <div>
      <% @posts.each do |post|%>
        <p>
        <%= post.id %>
        </p>
        <p>
          <%= post.content %>
        </p>
        <p>
        <%= post.date_time %>
        </p>
      <% end %>
    </div>
    <div>

      <a href="/log_in">Log In to Chitter</a><br>
      <a href="/sign_up">Sign up for Chitter</a>
    </div>
  </body>
</html>