<header>
  <h1>Chitter</h1>
  <% if @user %>
    <span>Hey, <%= @user.name %>!</span>
  <% else %>
    <a href="/user/login" class="button">Log In</a>
    <a href="/user/register" class="button">Register</a>
  <% end %>
</header>
