Welcome to chitter

<br>My first peep
<br> <%= @new_peep %>

<form action ="/peep" method = "post">
  <input type ="text" name="peep" value placeholder = "What's on your mind?" >
  <input type ="submit" name="submit" value="submit">
</form>
