<h1> Welcome to Chitter </h1>

<form action='/view_peeps' method='get'>
  <button type='button'> <input type='submit' value='View Peeps'</button>
  <button type='button'> <input type='submit' value='Create Peep'</button>
</form>
