<h1>Welcome to Chitter</h1>

<h2>Sign up for Chitter</h2>

<form action="/user/new" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="username" placeholder="Username" />
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="password"/>
  <input type="submit" value="Sign up for Chitter" />
</form>
