<h1>Chitter</h1>

<h2>Sign Up for an Account</h2>
<form action="/signup" method="post">
  <label for="email">
    Email Address
  <input type="text" name="email">
  </label>
  <label for="password">
    Password
    <input type="text" name="password">
  </label>
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <label>
  <label for="username">
    Username
  <input type="text" name="username">
  </label>
  <input type="submit" value="Sign Up">
</form>
