<!DOCTYPE html>
<html>
  <%# <head>
    <link rel="stylesheet" href="styles.css">
  </head>  %>
  
  <style>
    body {
      background-color: whitesmoke;
    }
    h1 {
      color: black;
      font-size: 80px;
    }
  </style>

  <body>
    <h1>Chitter <img src="images/noun-chat.png"/> </h1> 
    <hr>
    <% @peeps.each do |record| %>
    <div>
    <p> <%= record.time %> </p>
    <p> <%= record.content %> </p>
    <br>
    </div>
    <% end %>
  </body>
</html>