<style>
      html {
        height: 100%;
        background: lightblue;
        color: black;
        text-align: center;
      }
      br {
        color: black;
      }

     
    </style>  
<html lang="en">
    <head> 
        <h1>  Welcome to Chitter! </h1>
        <br>
        <meta charset="UTF-8">
        <meta name="Author" content = "Sonjay Kumar">
        <meta name="Description" content = "creation of a mock twitter page">
    </head>
    <body>
        <%@contents.reverse.each do |p|%>
            <h2><%=p%></h2>
            <br>
        <%end%>
    <body>
</html>