<h1>Sign up to post your Peep!</h1>
<form action='/' method='post'>
  Choose a username: <input type='text' name='username'>
  Enter your real name: <input type='text' name='real_name'>
  Please give us your email: <input type='email' name='email'>
  And a password: <input type='password' name='password'>
  <input type='submit' value='Register'>
</form>

<h2>Welcome to Chitter, <%=@username%>. You have signed up.</h2>
