<html>
<div>
  <head><h1>Chitter! Like twitter, but only not as good!</h1></head>
  </div>
  <body>
  <div> <h3>Logged in as <%=@username%></h3>
  <br><a href="/logout"><h3>Logout</h3></a>
    <h3><a href = "/peep">Write new peep!</a></h3>
  </div>
  <div> 

  <% @posts.each do |post| %>
    <p><h1><%= post.content %></h1>
    <h2><%= post.author %>-<%=post.time %></h3>
    </p>
  <% end %>

  </div>
  </body>
</html>