<html>
<div>
  <head><h1>Chitter! Like twitter, but only not as good!🤣</h1></head>
  </div>
  <body>
  <div><% if @loggedin == false || @loggedin == nil then %>
  <h3><a href = "/signup">Sign up here!</a></h3>
  </div>
    <div>
  <h3><a href = "/login">Log in here!</a></h3>
  </div>
  <div>
  <% end%>
  <% if @Loggedin == true then%>
  <div> <h3>Logged in as <%=@username%></h3>
  <% end %>
    <h3><a href = "/peep">Write new peep!</a></h3>
  </div>
  <div> 

  <% @posts.each do |post| %>
    <p><h1><%= post.content %></h1>
    <h2><%= post.author %>-<%=post.time %></h3>
    </p>
  <% end %>

  </div>
  </body>
</html>