<% if @name.nil? %>
<center><h1>You must sign in or create an account first.</h1>
<h3>Please check that the information you have entered is correct.</h3></center>
<center><form action="/">
  <input type="submit" value="Okay">
</form></center>
<% else %>
<center><h4>Signed in as <%= @name %>.</h4>
<h4>________________________</h4>
<h1>Chitter</h1>
<h4>________________________</h4></center>
<center><form action="/post">
  <input type="submit" value="New Peep">
</form></center>
<ul>
  <% @peeps.each do |peep| %>
    <h4><%= peep.name %> says: <%= peep.post %></h4>
    <h5>Posted at <%= peep.time %></h5>
  <% end %>
</ul>
<% end %>
