<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
<body>
<h2>Chitter</h2>
<form action="/credentials_checker" method="post">

  <div class="container">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
  <div>
    <a href="/signup">
      <button type="button">Sign Up</button>
    </a>
  </div>
</form>

<h3>Peeps</h3>
  <% @peep_repository.all.reverse.each do |peep| %>
    <div>
      <% user = @user_repository.find_by_id(peep.user_id) %>
      <p> <%= user.username %> - <%= peep.content %> </p><br>
      <p> <%= peep.time_posted %>
    </div>
    <div>
    <form action="/replies/<%= peep.id %>" method="get">
       
          <button type="submit">View Replies</button>
     
    </form>
  </div>
  <% end %>
</body>
</html>