<html>
  <head></head>
  <body>
  <style>
  #roundedcorners {
  border-radius: 25px;
  border: 2px solid #1DA1F2;
  padding: 20px;
  width: 200px;
  height: 75px;
}
  body {
  background-color: lightblue;
  font-family: verdana;
}
  </style>

    <p><h1 id="roundedcorners"> Welcome to Chitter!</h1></p>

    <% if session[:account_id] == nil %>
      <h2>Please sign up here:</h2>
      <button onclick="window.location.href='/sign_up';">
        Sign up
      </button>
      <br>
      <h2>Or please login here:</h2>
      <button onclick="window.location.href='/login';">
        Log in
      </button>
      <% else %>
       <h2>What's on your mind?</h2>
      <input type='button' value='Post a peep!' onclick="window.location.href='/add_peep';"><br>
      <%end%>

    <h2> Latest peeps...</h2>
     <div>
     <% @peeps.each do |peep|%>
     <p>
     <b><%= peep.find_name%> </b> (<%= peep.find_username %>) says...<br>
     <%= peep.contents %> <br>
     <h7> <%= peep.time %> </h7>
     </p>
     <% end %>
     <br>
     <br>
     <% if session[:account_id] != nil %>
     <form method="POST" action="/log_out">
          <input type="submit" value="Sign out"/>
      </form>
     <br>
     <% end %>
    </div>
  </body>
</html>