<html>
  <head>
    <title>No one is safe in the Chitter-Sphere</title>
  </head>
  <body>
    <h1>Welcome to the Chitter-Sphere!</h1>
    <div>
      <a href="/peeps">View all peeps</a>
    </div>
    <div>
      <a href="/peep/new">Post a new peep</a>
    </div>
    <div>
      <a href="/loginpage">Log in</a>
    </div>
    <div>
      <a href="/signup">Sign up</a>
    </div>
    <div>
      <img src=></img>
    </div>
  </body>
<html>
