<html>
  <head>
    <title>Chitter Homepage</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Chitter!</h1>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </header>
    
    <section>
      <form method="POST" action="/post">
        <label>Post a Peep:</label>
        <input type="text" name="message" placeholder="type a peep message" required><br>

        <button type="submit">submit</button><br>
      </form>
    </section>

    <hr/>

    <section>
      <% @peeps.each do |record| %>
        <div>
        <%=record.time%>
        <%=record.message%>
        </div>
      <% end %>
    </section>

  </body>
</html>