<div>
  <% if @user != nil %>
    <h1>
      Welcome to Chitter, <%= @user.name %>!
    </h1>
  <% else %>
    <h1>
      Welcome to Chitter!
    </h1>
  <% end %>
  <h3>Follow <a href='/peeps'>this link</a> to enter Chitter.</h3>

  <h3><a href="/users/new">Create an account</a></h3>
</div>
