<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">
  <h1>CHITTER</h1>

  <div class="form_div">
    <% if @current_user.nil? %>
      <a href="/login">Log In</a>
      <a href="/sign_up">Sign Up</a>
    <% else %>
      <form action="/logout" method="POST">
        <input type="submit" value="Logout" class="logout_button">
      </form>
    <% end %>

    <a href="/posts">Peep Board</a>
  </div>
</div>
