<html>
  <head></head>
  <body>
    <h1>Chitter</h1>

    <div>
        <br> <a href="/login">Login </a>
        <br> <a href="/post/new">Post a Peep </a>
        <br> <a href="/new_account">Create an account </a>
        
    </div>
  </body>
</html>