<% @peeps = Peep.all.reverse  %>
<h1> Welcome <%= @current_user %> </h1>
<% @peeps.each do  |peep|   %>
  <li>
    <a>
      <%= peep.peep %>
      <br>
      <p style="font-size: 10px" >
        <%= peep.format_date_from_timestamp %> at <%=peep.format_time_from_timestamp%>
      </p>
    </a>
  </li>
  <%end%>

  <form action="/new_peep" method="get">
  <input type="submit" value="New Peep">
  </form>


