<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter Chatter!</title>
  </head>
  <body>
    <h1>Welcome to Chitter Chatter!</h1>
    <p>Here are the recent peeps:</p>
    <ul>
      <% @peeps.each do |peep| %>
        <li><%= peep.contents %></li>
      <% end %>
    </ul>

    <p>Options:</p>
    <!-- adjust based on user login status -->
    <a href="/register">Sign up to Chitter Chatter!</a><br>
    <a href="/login">Log in</a><br>
    <a href="/logout">Log out</a><br>
    <a href="/post">Post a peep</a><br>
  </body>
</html>
