<h1> Welcome to Chitter - Poor Man's Twitter </h1>

<form action="/signup" method="get">
  <input type="submit" name="button" value="Sign Up"/>
</form>


<form action="/login" method="get">
  <input type="submit" name="button" value="Sign In"/>
</form>
