<title>chitter - home</title>

<h1>chitter</h1>

<a href="/sign-up">sign up</a>
<a href="/sign-in">sign in</a>

<br>
<br>

<h4>new peep</h4>
<form action="/new-peep" method="post">
  <input type="text" name="text" placeholder="what's up?"></input>
  <input type="submit" value="peep it!">
</form>

<br>

<% @peeps = Peep.all %>

<ul>
  <% @peeps.each do |peep| %>
  <%= Users.where(peep.user_id) %>
    <p class="peep_time"> <%= peep.time %> </p>
    <p class="peep_text"> <%= peep.text %> </p>
  <% end %>
</ul>
