<html>
  <head></head>
    <body>
      <h1>div { text-align: center; }Welcome to Chitter!</div></h1>
      <h3><a href="/peeps">Peeps</a></h3>
      <h3><a href="/signup">Sign up</a></h3>
      <% if session[:user] == nil %>
      <h3><a href="/login">Login</a></h3>
      <% else %>
      <h3><a href="/peeps/new">Add a new peep</a></h3>
      <h3><a href="/logout">Logout</a></h3>
      <% end %>
    </body>
</html>