<style>
 a { display: inline; }
 form { display: inline; }
</style>
<center>
<br>
<br>
<h1> Welcome to Chitter!</h1>
<form action="peeps" method="get">
 <input type="submit" value="Let's go!">
</form>
</center>
