<div class="topnav">
    <a>Welcome to Chitter</a>
    <a class=" active" href="/homepage">Home</a>
    <a class="hover" href="/account">Account</a>
    <a class="hover" href="/postpeep">Post</a>
    <a class="hover" href="/messages">Messages</a>
    <input type='text' placeholder="Search Chitter..">
</div>