
<form action="/post_message" method="post">

<h2>Chitter!</h2>
<br>



<label for="username">
Username:
<input type="text" name="username">
</label>

<label for="name">
Name:
<input type="text" name="name">
</label>
<br>
<br>
<label for="message">
Peep:<br>
<textarea rows="5" cols="60" type="text" name="message">

</textarea>
</label>
<br>
<input type="submit" value="Submit">
<br>
<br>
<br>
<h2>Messages</h2>





</form>
