<head>
  <title>Welcome to Chitter</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto&display=swap" 
        rel="stylesheet"/>
  <style> 
    h1 {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 50px;
      color: white;
      text-align: center;
      padding: 150px
    }
    h3 {
      font-family: 'Noto Sans JP', sans-serif;
      color: white;
    }
    li {
      font-family: 'Roboto', sans-serif;
      color: white;
      list-style-type: none;
      outline-style: solid;
      outline-width: thin;
      margin-right: 500px;
      padding: 25px 50px;
    }
    body {
      background-color: #1DA1F2;
    }
    footer {
      color: white;
      background-color: rgb(21, 32, 43);
      text-align: center;
      padding: 10px;
      font-family: 'Noto Sans JP', sans-serif;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    form {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Welcome to Chitter</h1>
  <form action="/peeps" method="get">
    <input type="submit" value="See what's going on"/>
  </form>
  <footer>
    Chitter Challenge | JR-G | Makers 2020
  </footer>
</body>