<html>
  <head></head>
  <body>
    <h1>Peeps</h1>

    <% @peeps.map do |peep| %>
   <div> <%= peep.username %> <%= peep.peep_content %> <%= peep.id %> <%= peep.peep_date %> </div>
      <% end %>

  </body>
</html>  

