<form action='/view_peep' method="post">
  <h1>Hi, let's Chitter!!!</h1>
  <h2>What would you like to peep?</h2
  <input type="text"
  <button type="submit" name="url" value="View Bookmarks">View Bookmarks</button>
</form>
