<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h2>What's on your mind?</h2>
    <input type ='button' value='Post a peep!' onclick="window.location.href='/add_peep';"><br>
    <h2> Latest peeps...</h2>
     <div>
     <% @peeps.each do |peep|%>
     <p>
     <b><%= peep.find_name%> </b> (<%= peep.find_username %>) says... <br>
     <%= peep.contents %> <br>
     time: <%= peep.time %>
     </p>
     <% end %>
    </div>
  </body>
</html>