 <html>
    <center>
        <head>
            <link rel="stylesheet" type="text/css" href="/stylesheet.css">
            <title> Chitter </title>
            <meta charset="utf-8">
        </head>

        <body>
             <h1>Chitter</>
             <h2>Click here to see peeps!</>
            <input type="submit" value="peeps!" 
            onclick="window.location='/peepfeed';" />  
            <h3> click here to make peeps!</>
            <input type="submit" value="make a peep!" 
            onclick="window.location='/makepeep';" />  
        </body>
    </centre>
</html>
