<h1>Hello Gordon</h1>
<div>
  <form method=post action=/new_peep>
    <input type="text" name="peep">
    <input type="submit" value="Post">
  </form>
</div>
<div>
  <form method=get action='/sign_up'>
  <input type=submit value='Sign up'>
</form>
</div>

<div>
<p>This is my first ever peep!<p>
</div>
