<h1>Welcome to Chitter!</h1>

<form method="post" action="/post_message">
  <input type="text" name="content" placeholder="CONTENT" />
  <input type="submit" value="Submit" />
</form>

 <% Post.all.reverse.each do |post| %>
<div>
<%= post.content %> <%= post.created_at.strftime("%H:%M%p") %>
</div>
<% end %>
