<head>
  <center>
  <h1>Chitter!💬</h1>
  Welcome to the cheap version of twitter!
  </center>
</head>
<form method='get' action='/signup'>
  <input type='submit' name='sign up' value='Register now!' />
</form>
