<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter Chatter!</title>
  </head>
  <body>
    <h1>Welcome to Chitter Chatter!</h1>
    <p>Here are the recent peeps:</p>
    <ul>
      <% @peeps.each do |peep| %>
        <li><%= peep.contents %></li>
      <% end %>
    </ul>
  </body>
</html>
