<form action="/add_new_peep" method="get">
  <input value="Add New Peep" type="submit" name="Add Peep">
</form>

<ul>
  <% @peeps.each do |peep| %>
  <%= peep.username %>
  <br>
    <textarea disabled rows="3" cols="50">
      <%= peep.content %>
    </textarea>
    <br><br>
  <% end %>
</ul>
