<!DOCTYPE html>
<html>
<head>
    <title>Chitter - Home</title>
</head>
<body>
    <ul>
      <li> <%= @current_user.user_name%> </li>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/create">Create</a></li>
    </ul>

<div class="text">
    <div class="welcome-div">
        <h1>Your Chitter Updates</h1>
    </div>


</div>
</body>
</html>