<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: whitesmoke;
    }
    h1 {
      color: black;
      font-size: 80px;
    }

    p {
      color: black;
      font-size: 15px;
    }
  </style>

  <body>
    <h1>Chitter <img src="images/noun-chat.png"/></h1> 
    <hr>
    <br>
    <div>
      <form action="/" method="POST">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="password" placeholder="password">

      <input type="submit" value="Login">
    </form>
    </div>

    <div>
      <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
  </body>
</html>