<html>
<head></head>
<body>
  <h1>Welcome to Chitter!</h1>

  <p>
    New to Chitter? Create an account <a href="/users/new">here</a>.
  </p>

   <p>
    If you're no stranger to chittering, login <a href="/login">here</a>.
  </p>
 
</body>
</html>