<div class='card'>
  <div class='peep-compose'>
    <form action='/peeps' method='post'>
      <div class='card-body'>
        <div class="form-group">
          <label></label> 
          <textarea name="peep-compose-content" cols="40" rows="2" class="form-control" placeholder="What's Crappening?" ></textarea>
        </div> 
        <div class="form-group">
          <div class='row'>
            <div class='col-9 '></div>
            <div class='col'>
              <button name="peep-submit" type="submit" class="btn btn-primary">Peep</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>