<h1>Hello</h1>
<div>
  <form method=get action='/sign_up'>
  <input type=submit value='Sign up'>
</form>
</div>

<div>
  <ul>
    <% @peeps.map do |peep| %>
      <li>
          <p><h2><%= peep.peep %></h2></p>
          <p>User: <%= peep.username %>  Posted: <%= peep.time %></p>
      </li>
    <% end %>
  </ul>
</div>
