<% if @name.nil? %>
<center><h1>You must sign in first.</h1></center>
<% else %>
<center><h4>Signed in as <%= @name %>.</h4>
<h4>________________________</h4>
<h1>Chitter</h1>
<h4>________________________</h4></center>
<center><form action="/post">
  <input type="submit" value="New Peep">
</form></center>
<ul>
  <% @peeps.each do |peep| %>
  <li>
    <%= peep.time %>: <%= peep.post %>
  </li>
  <% end %>
</ul>
<% end %>
