<h1 align='center'> Login completed, what do you want to do next, <%= @user.username %> ? </h1>

<p>Need to get something off your chest? <a href="/peep">Peep!</a></p>

<p>Want to see your old peeps?  <a href='/mypeeps'>My Peeps</a></p>

<p>My chest is fine, I want to see what everyone else is whining about! <a href='/view'>The Wall</a></p>
