<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Home</title>
  </head>
  <body>
    <font face="courier new">
    <center><h2> Welcome on Chitter dude! </h2></center><br>
    <center><h2><a href="/users/user_new"> Register </h2></center>
    <center><h2><a href="/sessions/session_new"> Sign in </h2></center>
    <center><h2><a href="/peeps_page"> Have a look first! </h2></center>
    </font>
  </body>
</html>
