<h1>Hi, let's Chitter!!!</h1>
<h2>Would you like to sign up or sign in?</h2>

<form action='/write_peep' method='post'>
  <button type="submit" name="sign_up" value="Sign up"/button>
  <button type="submit" name="sign_in" value="Sign in"/button>
</form>
