<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

<h1 align='center'> Welcome to chitter, what do you want to do today? </h1>

<h2>
<form align='center' action='/login'>
  Existing member? Click here to sign in
  <input type='submit' value='Sign in'>
</form>

<form align='center' action='/create'>
  New member? Sign up here:
  <input type='submit' value='Sign up'>
</form>
</h2>
</head>
