<!DOCTYPE html>
<html>
<head>
  <title>Chitter Posts on QP insights</title>
   <style>
   h1 {
      text-align: center;
      color: #0B234F;
      font-size: 40px;
     }
    h2 {
       text-align: center;
       color: #0B222F;
       font-size: 20px;
      }
   label {
    width: 250px;
    float: left;
    margin: 0 30px 0 30px;
  }
  span {
      display: block;
    }

    input[type=submit] {
      padding: 10px 20px;
      margin: 20px 450px;
      background:#0B2;
      border:2
      -webkit-border-radius: 12px;
      border-radius: 5px;
      font-size: 20px;
    }

  </style>
</head>
<body>

  <h1>Welcome to Chitter</h1>
  <h2>The Home of Insightful Quips on Quantum Physics</h2>

<form action = '/home' method = "POST" >
  <input type='submit' value = "Yes I like my own opinions and know others will too">
</form>
