<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" >
  </head>
  <body>
    <div class='signup_form'>
      <h1>Welcome to Chitter!</h1>
      <p>Sign up <a href="/accounts/new">here</a></p>
      <p>Or log in <a href="/login">here</a></p>
    </div>
  </body>
</html>