<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter</h1>
    <div>
      <a href='/signup'>New here? Click to create an account</a>
      <br>
      <br>
      <a href='/new'>Add a new peep</a>
      <br>
      <br>
      <a href='/peeps'>Go to peep board</a>
    </div>
  </body>
</html>