<h1>Welcome to Chitter</h1>

<form action='/signup' method='get'>
  <input type='submit' value='Sign Up'>
</form>

<form action='/new' method='get'>
  <input type='submit' value='New Peep'>
</form>

<h2>Timeline:</h2>
<ul> 
  <% @peeps.each do |peep| %>
      <li><%= peep.body %></li>
  <% end %>
</ul> 