<header>
  <h1>Chitter</h1>
  <% if @user %>
    <span>Hey, <%= @user.name %>!</span>
    <a href="/peep/create" class="button">Create Peep</a>
  <% else %>
    <a href="/user/login" class="button">Log In</a>
    <a href="/user/register" class="button">Register</a>
  <% end %>
</header>
<h2>All Peeps</h2>
<% @peeps.each do |peep| %>
  <div>
    <p><%= peep.peep %></p>
    <p><%= peep.user.name %> on <%= peep.peep_time.strftime("%-d %b %Y at %H:%m:%S") %></p>
  </div>
<% end %>
