<body>
<head>
  <title>Chitter App</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <img scr=https://github.com/s-dousse/chitter-challenge/blob/main/screenshots/chitter.png >
</head>
<h1>Welcome to Chitter</h1>
<h2>check out the lastest Peeps</h2>
  <% @all_peeps.each do |peep| %>
<dl>
  <div><%= peep.content %></div>
  <dt>created on <%= peep.created_at%></dt>
</dl>
  <% end %>
<h3>
  <form method='get' action='/peep'> 
    <label for= 'create a peep'>
      <input type='submit' value='Create A Peep' />
    </label>
  </form>
</h3>
</body>