<html>
 <head></head>
    <body>
    <style>
    div.a {text-align: center;
    }
    div.b {
      font-family: Arial, Tahoma, Serif;
    }
    body {background-color: azure;}
      </style>
    
      <div class="b"><div class="a"><h1>Chitter</h1>
      <h3><a href="/peeps">See peeps</a></h3>
      <h3><a href="/signup">Sign-up</a></h3>
    </body>
</html>