<html>
<head></head>
<body>
  <h1>Welcome to Chitter!</h1>

  <p>
    New to Chitter? Create an account <a href="/users/new">here</a>.
  </p>

   <p>
    If you're no stranger to chittering, you can peep <a href="/peeps/new">here</a>.
  </p>

  <p>
    Go <a href="/peeps">here</a> to see what the Chitter community is saying.
  </p>
 
</body>
</html>