<h1>Chitter</h1>

<form action='/post-message' method="post">
  <input type="text" name="content" placeholder="message">
  <input type="submit" value="post"/>
</form>

<ul>
  <% @feed.each do |message| %>
    <li><%=message.content%></li>
  <% end %>
</ul>