<style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>

<center>
<br>
<br>
<h1> Welcome to Chitter!</h1>
   <br>
   <img src="https://cdn3.iconfinder.com/data/icons/autumn-21/32/squirrel-animal-autumn-512.png" width="200" height="200" alt= "Squirrel!">
   <br><br>
<form action="/index" method="get">
 <input type="submit" value="Let's go!">
</form>
</center>
