<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css?version=1" />
  <link rel="shortcut icon" type="image/x-icon" href="lo.png?version=1">
  <title>Twitter</title>
  </head>
  <body>
    <h1>Welcome to Twitter!</h1>
    <div>
        <a href='/signup'>Sign up</a><br>
        <br>
        <a href='/login'>Log in</a><br>
        <br>
        <a href='/tweets'>View Tweets</a><br>
        <br>
    </div>
  </body>
</html