<html>
  <head></head>
  <body>
    <h1>Welcome To Chitter</h1>
    <h2>Options</h2>
    <div>
      <a href='peeps'> See all peeps </a>
    </div>
    <br><br>
    <div>
      <a href='peeps/new'> Compose a peep </a>
    </div>
  </body>
</html>