<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Chitter</h1>
    <h2>Homepage</h2>
    <% if @user %>
      <h3>Welcome, <%= "#{@user.username}" %></h3>
    <% end %>
    <ul>
      <% @posts.each do |post| %>
        <div><%= post.content %>
          --- (<%= post.date %>)</div><br>
      <% end %>
    </ul>
    <form action="/posts/new">
      <input type="submit" value="New Post">
    </form>
    <br>
    <form action="/users/new">
      <input type="submit" value="Create account">
    </form>
  </body>
</html>
