
<form action="/post_message" method="post">

  <style>

    .left {
    background-color: #ADD8E6
;
    width: 50%;
    border: 1px solid black;
    margin: 50;
    text-indent: 20px;
    /* position: absolute;
    top: 30%;
    left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }

  </style>




<h2>Chitter!</h2>
<br>



<label for="username">
Username:
<input type="text" name="username">
</label>

<label for="name">
Name:
<input type="text" name="name">
</label>
<br>
<br>
<label for="message">
Peep:<br>
<textarea rows="5" cols="60" type="text" name="message">

</textarea>
</label>
<br>
<input type="submit" value="Submit">
<br>
<br>
<br>
<h2>Messages</h2>


<ul>
  <left>
  <div class="left">
  <% @messages.each do |message| %>

  <p> By: <%= message.name %> (<%= message.username %>)</p>
  <p>        <%= message.message %></p>
  <p><%= message.time[0..15] %></p>
<p> --------------------------------------- </p>
  <% end %>
</left>

</ul>
</form>
