<html>
  <head>
    <title>Chitter Homepage</title>
  </head>
  <body>
    
      <% if session[:username] %>
        <header>
          <h1>Chitter</h1>
          <a href="/logout">Log out</a>
        </header>

        <h3>Hi <span><%=session[:username]%></span>,</h3>

        <form method="POST" action="/post">
          <label>Post a Peep here:</label>
          <input type="text" name="message" placeholder="type a peep message" required><br>

          <button type="submit">submit</button><br>
        </form>

      <% else %>
        <header>
          <h1>Welcome to Chitter!</h1>
          <a href="/login">Log In</a>
          <a href="/signup">Sign Up</a>
        </header>

      <% end %>  
    
    

    <hr/>

    <section>
      <% @list.each do |record| %>
        <div>
        <p>posted on: <%=record[:time]%></p>
        <p>by: <%=record[:username]%></p>
        <p><%=record[:message]%></p>
        </div>
      <% end %>
    </section>

  </body>
</html>