<h1>Welcome to Chitter!</h1>

<body>
<p> Click on a link below </p>
<a href='/show_peeps'>Read all peeps</a>
<br>
<a href='/peep/new'>Post a new peep</a>
<br>
<a href='/signup/new'>Sign up</a>
</body>

