<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Homepage</title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
      <form class="" action="/new" method="post">
        <input type="text" name="peep_content"/>
        <input type="submit" name="" value="Make A Peep">
      </form>
    <h2><%= @peep %></h2>

    <ul>
    <% @peeps.each do |peep| %>
      <li>
        <h2>
          <%= peep.timestamp %>
          <%= peep.content %>
        </h2
      </li>
    <% end %>
    </ul>
  </body>
</html>
