<h1> Username: <%=@user[0].username%> </h1>

<ul>
  <% @peep.each do |peep| %>
    <h3>
    <%= peep.body %>
    </h3>
    <div></div>
  <% end %>
</ul>


<form action='/addpeep'>
<button action='/addpeep' name="Add Peep" >Add Peep </button>
</form>

<form action='/deletepeep'>
<button action='/deletepeep' name="Delete Peep" >Delete Peep </button>
</form>