<center><img src='title.jpg'><height: 10> <width: 10>
<p>

<center><font size=5>
<h1>Welcome to Chitter! :)</h1>
<h2>Please sign in</h2>
<form action="/peepsname" method="post">
  <label for="player_name">
    Username
    <input type="text" name="user_name">
  </label>
</form>
