<h1> Welcome to chitter </h1>
<% if session[:user_id] %>
   <%=  erb :"_add_post" %>
<% end %>

<div id = 'messages-container'>
    <% @messages.reverse.each do |message| %>
    <div class = 'message'>
        <%= message.created_at %>:<p><%= message.twenty_chars %></p>
        <% if session[:user_id] %>
           <button id='comment'>comment</button>
           <form id='comment_form' action='/comment' method='post'>
             <input type='text' name='comment'>
             <input type='submit' value='comment!'>
            </form>
        <% end %>
    </div>
    <% end %>
</div>