<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <%if @@login%>
      <p>
      What's on your mind <%=@@login.username%>?
      </p>
      <form method="post" action="/new_cheep">
        Cheep here! <input type="text" name="content">
        <input type="submit" value="Submit" />
      </form>
      <a href="/logout">Log out</a> <br>
    <%else%>
      <a href="/login">Log in</a> <br>
      <a href="/new_user">Sign Up</a>

    <%end%>
    <% @cheeps.zip(@corresponding_users).each do |cheep, user| %>
    <article class="cheep">
      <p>
        <%= user.username %> <br>
        <%= cheep.content %> <br>
        Posted at: <%= cheep.created_at %>
      </p>
    </article>
    <% end %>
  </body>
</html>