<link rel="stylesheet" type="text/css" href="/style.css" />

<h1> Welcome to Chitter! </h1>

<div class= "right_buttons">
  <form action= "/signup" method= "get">
    <input type= "submit" value= "Sign up" id="main_button">
  </form>

  <form action= "/signin" method= "get">
    <input type= "submit" value= "Sign in" id="main_button">
  </form>
</div
