<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div id='feed_border'>

<div id='feed'>
<form id='sign_in_form' action='/sign_in' method='post'></form>
<div id='break'></div>
<input class='form' id='sign_in' form='sign_in_form' type='text' name='email' placeholder='email'>
<div id='break'></div>
<input class='form' id='sign_in' form='sign_in_form' type='password' name='password' placeholder='password'>
<div id='break'></div>
<button class='form' form='sign_in_form' type='submit' value='submit'>sign in</button>
<div id='break'></div>
<div class='form' >go <a href='/'>back</a></div>
<div id='break'></div>
<div class='form' ><%= flash[:sign_in] %></div>
</div>

</div>
</body>
