<html>

    <h1><%="Chitter"%></h1>

      <form action="/" method="get">
        <label for="user_email">
          <h3> Email
            <input type="text" name="user_email">
          </h3>
        </label>
        <label for="password">
          <h3> Password
            <input type="text" name="password">
          </h3>
          </label>
          <button type="submit">Login</button>
      </form>
      <form action="/register" >
        <button type="submit">Sign Up</button>
      </form>

</html>
