<center>
<form action="/users/new">
  <input type="submit" value="Sign Up">
</form>
<form action="/sessions/new">
  <input type="submit" value="Sign In">
</form>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign Out">
</form>
</center>
