<center><h1>Welcome to Chitter!</h1>

<form action= '/peeps/new' method = 'post'>
<input type= 'text' name= peep placeholder= 'Whats happening?'>
<input type= 'submit' name= 'Peep' value= 'Peep'>
</form></center>