<h3>New user? Please sign up</h3>

<div>

  <form method='POST'>

    <label for="sign_up_name">Name: </label>
    <input name='sign_up_name' type='text'></br>

    <label for="sign_up_email">Email: </label>
    <input name='sign_up_email' type='text'></br>

    <label for="sign_up_username">Username: </label>
    <input name='sign_up_username' type='text'></br>

    <label for="sign_up_password">Password:</label>
    <input name='sign_up_password' type='password'></br></br>

    <input type='submit' value='Sign up'>

  </form>

</div>