<form action="/" method="post">
  <input type="text" name="peep">
  <input type="submit" name="sumbit" value="Post Peep!">
</form>

<br>

<% @peeps.each do |peep| %>
  <p> <%= peep.body %> @ <%= peep.time %></p>
  <br><br>
<% end %>
