<h1>Welcome to Chitter. Like twitter, only shitter</h1>
<%= @tweets %>

<form action="/tweets" method="post">

  <input type="text" name="tweet"</input>
  

  <input type="submit" value="Tweet"></input>
</form>