<h1>Welcome to Chitter!</h1>
<h3>Sign up or log in to peep what's on your mind</h3>

<form action='/login'>
  <input type='submit' value='Sign In' />
</form>

<form action='/join'>
  <input type='submit' value='Join' />
</form>

<img src='https://images.assetsdelivery.com/compings_v2/sacajawa60/sacajawa601806/sacajawa60180600061.jpg'
height='500px' width='750px' />
