<div>
  <form action='/sessions/new'>
    <input type='submit' value='Log in'>
  </form>
</div>
<div>
  <form action='/sessions' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>
</div>
<div>
  <form action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>
</div>
