<h1>Welcome to Chitter</h1>
<br>
<form action="/add_peep" method="post">
  <input type="text" name="peep_content" placeholder="peep"/>
  <input type="hidden" id="time_posted" name="time_posted" value="now">
  <input type="submit" value="Post"/> 
</form>