<form action='/' method='post'>
  <input type='text' name='add_peep' placeholder="What's on your mind?" required>
  <input type='submit' name='Submit' value='post'>
</form>
<h2>Latest Peeps</h2>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep %>, <%= peep.date %></li>
  <% end %>
</ul>