<h1> Welcome to Chitter!!! </h1>

<h2> Please enter your name and press start to begin </h2>

<form action="/user_name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Start">
</form>
