<h1> Welcome to Chitter! <h2>




<form action="/new-chitter" method="post">
<label> Type your first Chit below </label>
<br>
<label> New chit </label>
<textarea name="add_chitter_chit" cols="20" rows="4"> Enter your Chit...</textarea>
<br>
<label> Username </label>
<input name="add_chitter_name">
<input type="submit" value="Post">
</form>
