
<center>
  <form action=/stored method=post>
    <label for=name>Name:</label>
    <input type=text name=name>
    <p></p>
    <label for=username>Username:</label>
    <input type=text name=username>
    <p></p>
    <label for=password>Password:</label>
    <input type=text name=password>
    <p></p>
    <label for=email>email:</label>
    <input type=text name=email>
    <p></p>
    <button type=submit class="btn btn-warning">Submit</button>
      <!--label>URL</label>
    <input type="text" username="url" >
    <p></p>
    <label>Tag</label>
    <input type="text" name="tags" >
    <p></p>
    <br>
    <button type=submit value=links class="btn btn-warning">Submit Links!</button> -->
  </form>
</center>
