<div class="row align-items-start">
  <div class="col-4">
    <%= partial :news_feed %>
  </div>
  <div class="col-5">
    <%= partial :timeline %>
  </div>
  <div class="col-3">
    <%= partial :trending %>
  </div>
</div>