<%= flash[:notice] %>
<br>
<a href='/peeps'>Peeps</a>
<br>
<% if session[:user] %>
  <a href='/peeps/new'>Create new peep</a>
  <br>
  <form action='/users/logout' method='post'>
    <input type='submit' value='Log out'>
  </form>
<% else %>
  <a href='/users/login'>Log in</a>
  <a href='/users/new'>Sign up</a>
<% end %>
