<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= erb(:'partials/navigation') %>

    <h2>Submit a peep</h2>
      <form action="/peep" method="post">
        <textarea name="peep" rows="3" cols="40"
          placeholder="Type peep here"></textarea><br>
        <input type="submit" value="Submit">
      </form>

    <h2>Peep History</h2>
    <% @peeps.reverse.each do |peep| %>
      <div>
        <%= peep.text %> -- <%= peep.format_time %>
      </div>
    <% end %>

  </body>
</html>
