<h1>Chitter</h1>

<form action="/create_account">
  <input type="submit" value="Sign Up!">
</form>

<form action="/login_post" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value ='Login'>
</form>
