<html>
  <head> </head>
  <body>
    <h1>Chitter</h1>
    
    <div>
    New to Chitter? <a href="/sign_up"> Sign up here</a>
    </div>
    <div>
    Don't miss what's happening. People on Chitter are the first to know. <a href="/login">Login here</a>
    </div>
    <div>
    Just want to browse? <a href="/feed"> View feed here</a>
    </div>
   
    
  </body>
</html>