<header>
  <h1>CHITTER</h1>
</header>
<body>
  <h3>Your Feed:</h3>
  <div>
    <% @messages.each do |message| %>
    <div>
      <p><%= message.user %></p>
      <p><%= message.time %></p>
      <p><%= message.content %></p>
    </div><br>
    <% end %>
  </div>
</body>
