<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>Welcome to Chitter ! What would you like to do ?</h1>
</body>
  <form method="get" action="/add_post">
    <input type="submit" value="Add post"/>
  </form>
  <p>
    <form method="get" action="/cheets">
      <input type="submit" value="Cheets"/>
    </form>
  </p> 
  <p>
    <form method="get" action="/sign_up">
      <input type="submit" value='Sign up for chitter here!'/>
    </form> 
</html>
