<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"><link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Welcome to Chitter</h1> 
  <form action="/message" method="post">
    <input type="text" name="message">
    <input type="submit" value="Submit">
  </form>
</body>

</html>
