<% @peeps.each do |peep| %>
  <div class="card peep container my-4">
    <div class="card-header row align-items-center">
      <h5 class="mb-0 mr-2"><%= peep.author_name %></h5>
      <h6 class="mb-0 mr-2 text-muted"><%= peep.author_handle %> at <%= peep.time %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= peep.content %></p>
    </div>
  </div>
<% end %>