<html>
<head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 10px;
  text-align: left;
  background: #00BFFF;
  color: Solid #00BFFF;
  font-size: 30px;
}
h1 {
  color: white;
}

.button {
  background-color: #FFFFFF; /* White */
  border: none;
  color: #00BFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.content { 
    background-color: AliceBlue;
    width: 300px;
    border: 5px  Solid #00BFFF;
    padding: 10px;
    margin: 5px;
    max-width: 500px;
    margin: auto;
}
</style>
</head>
<body>

<div class="header">
<form action="/cheep/new">
  <input class="button" type="submit" value="New cheep" style="float: right;">
</form>
<h1>Chitter</h1> 
  
</div>
<br>


  <% @cheeps.reverse.each do |cheep| %>
  <div class="content">
      <%= cheep.cheep %>
      <br>
      <%= cheep.timestamp %>
  </div>
  <br>
  <% end %>
</body>
</html>