<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
<h1>Chitter</h1>

<% if session[:logged_in_user] != nil %>
  
<% end %>

<form action="/sign-up" method="get">
  <input type="submit" value="Sign Up">
</form>

<form action="/log-in" method="get">
  <input type="submit" value="Log In">
</form>
<h2>Peep Feed</h2>
<ul>
  <li>Most recent peep goes here</li>
  <li>Second most recent peep goes here</li>
  <li>etc...</li>
</ul>
  
</body>
</html>