
<form action='/sign_up' method='post'>
  <input placeholder='Full-name' type='text' name='name'>
  <input type='text' placeholder='Email' name='email'>
  <input type='text' placeholder='username' name='username'>
  <input type='text' placeholder='password' name='password'>
  <input type='submit' value='sign-in'>
</form>



<% @peeps.each do |peep| %>
    <div>
      <%= peep.time %>
      <p> <%=peep.peep%>
    </div>
    <%end%>