<h1 style='color: darkslategrey; font-family: sans-serif; font-variant: small-caps'> Welcome to Chitter </h1>

<ul>
    <li style='color: blue; font-family: sans-serif; font-variant: small-caps; text-align: center' > <%= @peep %></li>
</ul>
