<!DOCTYPE html>
<html>
  <center>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container">
      <div class="alert alert-info" role="alert">
        <h1>What's Everyone saying?</h1><br>
      </div>
      <div>
        <p class="text-left">
          <ul>
            <% @peeps.each do |peep| %>
              <li><%= peep %></li>
            <% end %>
          </ul>
        </p>
      </div>
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
  </body>
  </center>
</html>
