<h1> Chitty Chitty Bang Bang! </h1>

<form action='/chitter' method='post'>
  Write a peep:
  <input type='text' name='content'> <br>
  <input type='submit' value='Peep peep'> <br>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li> <%= peep.content %> <br> Created at: <%= peep.created_at %> </li>
  <% end%>
</ul>
