 <html>
    <center>
        <head>
            <link rel="stylesheet" type="text/css" href="/stylesheet.css">
            <title> Chitter </title>
            <meta charset="utf-8">
        </head>
            <body>
                <h2>Peeps</>
                <ul>
                <% @peeps.each do |peep| %>
                <li><%= peep %></li>
                <% end %>
                </ul>
             </body>
    </centre>
</html>

        