<!DOCTYPE HTML>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="/index.css">
      <title>Chitter Challenge!</title>
    </head>
      <body>
        <center>
          <div class="interface">
            <h1>Chitter Challenge!</h1>
              <form action="/create_peep" method="post">
              <input type="text" name="textbox" placeholder="peep peep peep!" class="userentry">
              <input type="submit" value="Peep" class="submit-buttons">
              </form>
