<form action="/users/new" method="get">
  <input class="button" type="submit" value="sign up" />
</form>
<form action="/sessions/new" method="get">
  <input class="button" type="submit" value="sign in" />
</form>
