<!DOCTYPE html>
<html>
  <head>
    <style>
    button {
  background-color: green;
  color: white;
  font-weight: bold;
}
</style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><font face="verdana" color="green">Welcome to Chitter!</font></h1>
    <form action="/users/new" method="get">
      <button type="submit" value="register">Register</button>
    </form>
  </body>
</html>
