<!DOCTYPE html>
<html>
<%= erb :head_with_style %>
<body>
  <%= erb :navbar %>
  <div class="page-container">
    <h3>Sign up to get started.</h3>
    <form class="sign-up-form" action="/sign_up" method="post">
      <label for="name">
      Name
      <input type="text" name="name">
      </label>
      <label for="username">
      Username
      <input type="text" name="username">
      </label>
      <label for="email">
      Email
      <input type="email" name="email">
      </label>
      <label for="password">
      Password
      <input type="password" name="password">
      </label>
      <button class="sign-up-button" type="submit" name="Sign Up">Sign Up</button>
    </form>
  </div>
  <% if !@unique_user %>
    <%= erb :"errors/unique_user" %>
  <% end %>
</body>
</html>
