<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>




<body>

<div id="logo">
<h1> Chitter </h1>
</div>
<div id="button">
  <button id = "inner_button">sign up</button>
  <button id = "inner_button">login</button>
</div>


</div>

</body>


</html>
