<h1>WELCOME TO CHITTER</h1><br>
<form action='/users/new' method='get'>
<input type="submit" value="sign up">
</form> <br>
<form action='/sign_in' method='get'>
<input type="submit" value="sign in">
</form> <br>

