<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <h2>Please add a message</h2>

    <form action="/">
    <input type="text" name="Message">
    <br><br>
    <input type="submit" value="Submit">
    </form>

  </body>
</html>
