<% if @user %>
  <h1>Welcome to Chitter, <%= @user.name %>!</h1>
<% else %>
  <h1>Welcome to Chitter!</h1>
  <h2>
    <a href='/sessions/new'>Sign In</a>
  </h2>
  <h2>
    <a href='/users/new'>Sign Up</a>
  </h2>
<% end %>
<h2>
  <a href='/peeps'>View Peeps</a>
</h2>
