<style>
body {
    background-image: url("http://wallpaper-gallery.net/images/backgrounds/backgrounds-20.jpg");
}

h1 {
    font-size: 7em;
    text-align: center;
vertical-align: middle;
line-height: 90px;
color: white;
}

h2 {
    font-size: 2em;
    text-align: left;
vertical-align: top;
line-height: 45px;
color: white;
}

li {
  font-size: 1em;
  text-align: left;
vertical-align: top;
line-height: 45px;
color: white;

}

ul {
    transform: rotate(180deg);
}
ul > li {
    transform: rotate(-180deg);
}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 460;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


</style>

<h1>WELCOME TO CHITTER</h1>

<form action="/signup" method="get">
<input type="submit" value="Sign Up Here" id="">
</form>

<form action="/signin" method="get">
<input type="submit" value="Sign In Here" id="">
</form>

<h2> Cheets </h2>

<ul id='cheets'>
  <% @cheet.each do |link| %>
    <li>
      Cheets: <%= link.write %>
      Time: <%= link.time %>
    </li>
  <% end %>
</ul>

<% if current_user %>
   Welcome, <%= current_user.username %>
   <form method='post' action='/signin_user'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Sign out'>
   </form>

   <form action="/home" method="get">
   <input type="submit" value="Post a Cheet" id="">
   </form>

 <% end %>
