<html>
  <head></head>
    <body>

      <% if @user %>
        <h1><%= "#{@user.firstname} #{@user.lastname}: @#{@user.username} "%></h1>
        <form action="/peep" method="post">
        <fieldset>
          <input type="text" name='content' id='peep' placeholder = "What's happening?">
          <input type="submit" name="Peep" value="Peep">
        </fieldset>
      </form>
        <% @peeps.each do |peep| %>
          <li class="peep" id="peep-<%= peep.id %>">
              <%= "#{peep.content} @ #{peep.time}"%>
          </li>
        <% end %>
      <% else %>
        <h1>
          <form action="/sessions/login">
            <input type="submit" value="Log In">
          </form>
          <form action="/users/sign_up">
            <input type="submit" value="Sign Up">
          </form>
        </h1>
      <% end %>
      <% if @user %>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Sign out" />
        </form>
      <% end %>
    </body>
</html>