<h1> Chitter </h1>
<h2> Post a peep: </h2>
<form action='/post_peep' method='post'>
    <label for="title">  </label>
    <input type="text" name="content"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Post">
</form>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li class="peeps" id="<%= peep.id %>">
        <%= peep.content %>
        <br>
        <small><b> @<%= peep.username %> <%= peep.timestamp[0..18] %> </b></small>      
    </li>
    <br>
  <% end %>
</ul>
