<h1>Welcome to Chitter! May I please have your username and email?</h1>

<section id='box'>
    <form action='/chitter/menu' method='post'>
    <input type='text' id='username' placeholder='Please enter a username' name='username'><br>
    <input type='text' id='email' placeholder='Please enter your email' name='email'><br>
    <input type='submit' name='submit_user_data' value='Submit User Data'>
    </form>
</section>