<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <style>
      body {
        background-color: white;
        background-image: url("https://img.fireden.net/tg/thumb/1462/43/1462430221995s.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
      h1  {color: black; font-family: sans-serif;; font-size: 40px}
    </style>
  <body>
    <h1>WELCOME TO CHITTER</h1>
    <%@messages.reverse.each do |message|%>
    <%=message%>
    <br>
    <%end%>
    <form action="/new_message" method="post">
      <label for="message">
        <input type="text" name="message">
      </label>
      <input type="submit" value="Peep">
    </form>
  </body>
</html>
