<h1>Welcome to Chitter!</h1>
<form action="/" method="post">
  <input type="text" id="peep" name="peep">
  <input type="submit" value ="Peep">
</form>
<ul>
  <% @messages.reverse.each do |peep| %>
    <li>
    <%= peep.peep %> - <%= peep.time %>
    </li>
  <%end%>
</ul>