<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
      <p>
        <div><a href="/signup">Sign up</a></div>
      </p>
      <% @posts.each do |post| %>
        <div>
        Post: <%= "#{post.content}" %><br />
        <%= "Time: #{post.time} | Name: #{post.name} | Username: #{post.username}" %><br />
        <br />
        </div>
      <% end %> 
  </body>
</html>