<form action="/user_details" method="post">
  <div style="text-align:center"><font size="6">Good morning!<p></font>
  <font size="4">Please enter your details below to register for Chitter:<p></font>
  <br>
  <br>
  Name: <input type="text" name="name">
  <br><br>
  User name: <input type="text" name="user_name">
  <br><br>
  Email Address: <input type="email" name="email_address">
  <br><br>
  Password: <input type="password" name="password">
  <br><br>
  <br>
  <input type="submit" value="Register">
</form>
</div>
