<h1>Welcome to Chitter!</h1>
<form action = '/peep' method = 'post'>
  <div>
    <label for="name">Name: </label>
    <br>
    <input type = "text" name = "name"/>
  </div>
  <br>
  <div>
    <label for="username">Username: </label>
    <br>
    <input type = "text" name = "username"/>
  </div>
  <br>
  <div>
    <label for="peep">Post Peep: </label>
    <br>
    <input type = "text" name = "peep"/>
  </div>
  <br>
  <input type = "submit" value = "Submit"/>
</form>
