<h1 style=color:Blue;> Chitter</h1>

<h2 style=color:Grey;> Write your peep! </h2>

<form action="/peeps" method="post">
  <label for="peep">
    <input type="text" name="peep">
    <input type="submit" value="Post">
  </label>
</form>