<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Chitter</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="row">
      <h1> Chitter </h1>
    </div>
    <div class="container">
      <div class="row greeting">
        <% if @current_user %>
          <div class="col left">
            <p>Welcome <%= @current_user.username %></p>
          </div>
          <div class="col right">
            <p>Click here to make a new peep</p>
          </div>
        <% else %>
          <p>Not signed in - click <a href='/user/new'>here</a> to sign up</p>
        <% end %>
      </div>
    </div>
  </body>

</html>
