'This is my first peep'
<form action='/post' method='post'>
  <label>Compose a new Peep</label><br>
  <textarea cols="50" rows="10" type='text' name='content'></textarea><br>
  <input type='submit' value='Post'>
</form>
