<h1>Welcome to Chitter!</h1>

<form id="msg" action="/new" method="post">
  <textarea name="message" form="msg" rows="4" cols="50" placeholder="What's on your mind?"></textarea>
  <input type="submit" value="Peep">
</form>

<div class="feed">
  <% @comments.reverse.each do |peep| %>
  <p><strong><%= peep.comment %></strong> - <i>Sent at: <%= peep.created_at.strftime "%H:%M" %></i></p>
  <% end %>
</div>
