<% if @user %>
  <h2>Welcome, <%= @user.email %></h2>
<% end %>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li class="message"><%= peep.message %></li>
    <p class="time"><%= peep.time %></p>
  <% end %>
</ul>

<% if @user %>
  <form method="get" action="/peeps/new">
      <input type="submit" value="Post a message">
  </form>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Log out">
  </form>
<% else %>
  <form method="get" action="/sessions/new">
    <input type="submit" value="Log in">
  </form>
<% end %>
