<h2>Welcome to Chitter</h2>
<br>
<h3>Sign up to Chitter here</h3>
<br>
<form action= "/users" method="post">
  <label for="email">
    Your email:
    <input type="text" name="email">
  </label>
  <label for="password">
    Your password:
    <input type="text" name="password">
  </label>

   <input type="submit" value="Submit">
</form>
