
<html>

<head>
  <title> Chitter </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<h1 style="text-align: center;"> Chitterfeed </h1>

<div class ="logging_in">
  <form class="login" action="/login"  method="post">
    <li><input type="text" name="Username" placeholder="Username"></li>
    <li><input type="text" name="Password" placeholder="Password"></li>
    <li><input type="submit" name="Log In" Value="Log In"></li>
  </form>
  <form class="register" action="/register"  method="get">
    <input type="submit" name="Register" Value="Register">
  </form>
</div>

<div class=messages>

  <div class=new_cheet >
    <form action="/new-cheet" method="post">
      <input type="text" name="cheet" placeholder="Cheet">
      <input type="submit" value="Submit" >
    </form>
  </div>

  <ul class=cheet_block>
    <% @cheets.each do |cheet| %>
    <li>
      <ul>
        <li> <%= cheet.cheet %> </li>
        <li><sub> <%= cheet.user %> @ <%= cheet.timestamp[0...-7] %></sub></li>
      </ul>
    </li>
    <% end %>
  <ul>
</div>
