<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Chitter</h1>
    <h2>See all Peeps!</h2>
    <h2>Post a Peep!</h2>
    <h2>Sign up!</h2>
  </body>
  <footer>&copy; Chitter <%= @current_year %> </footer>
</html>