<form action='/action' method=POST>
  <button type='submit' name='submit' value='select_user'>Select user to post</button>
  <button type='submit' name='submit' value='view_peeps'>View peep stream</button>
  <button type='submit' name='submit' value='post_peep'>Post a new peep</button>
  <!-- <button type='submit' name='submit' value='add_tag'>Add tag</button> -->
</form>
