<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Chitter</title>
    <h1>Welcome to Chitter.<h1>
      <div class='nav_bar'>
        <a class="edit_button" href='/post_peep'>Post Peep</a>
        <a class="buttons" href='/register'>Sign up</a>
      </div>
  </head>

  <body>
    <h2>Posts</h2>

      

    <br>
    <div class="peeps_list">
      <% @peeps.each do |peep| %>
        <div class='peep_row'>
          <div class='peep_attr'><%= peep.username %></div>
          <div class='peep_context'><%= peep.context %></div>
          <div class='peep_attr'><%= peep.time %></div>
        </div>
    </div>
    <% end %>
  </body>
</html>
