<center><h1>Chitter</h1>
<a href = '/chitter_feed'>See Chitter Feed</a><br>
<% if @logged_in == true %>
<a href = '/new_message' method = 'get'>Post Message</a><br>
<% end %>
<a href = '/account'>Create Account</a><br>
<% if @logged_in == nil %>
<a href = '/account/log_in'>Log in</a><br>
<% else %>
<a href = '/account/log_out'>Log out</a>
<% end %>
