<center><h1>Welcome, to Chitter, a place for all!</h1></center>
<center><h2>To begin, enter your name below!!</h2></center>
<center><form action="/name" method="post">
  <label for="username">
    <input type="text" name="username">
  </label>
  <input type="submit" value="Start Chitter!">
</form></center>
