<!DOCTYPE html>
<html>
<center>
  <head>
    <title>Chitter Home Page</title>
  </head>
  <body>
  <h1>Chitter</h1>
    <a href='/peeps'><button>Show Peeps</button></a>
    <br>
    <a href='/peeps/new'><button>Create a new peep</button></a>
    </br>
  </body>
</html>