<div align='right'>
    <a href='/signup'>Sign Up</a>
    <a href='/login'>Log In</a>
</div>
<h4>post a message</h4>
<form action='/post_msg' method='post'>
  <textarea rows='8' cols='50' name='msg'></textarea><br>
  <input type='submit', value='send'>
</form>
<br><br>
<div>
<%@messages.reverse.each do |msg|%>
<%=msg.peep%>  ||
<%=msg.time.upcase%><br>
<%end%>
</div>
