<h1>Welcome to Chitter!</h1>

<form action="/users/new" method="get">
  <input type="submit" value="Sign up" />
</form>

<form action="/sessions/new" method="get">
  <input type="submit" value="Log in" />
</form>
