<h1> Welcome to Chitter! </h1>

<form action='/form' method='post'>
  Enter your Peep:
  <input type='text' name='peep'>
  <br><br>
  Enter your username:
  <input type='text' name='username'>
  <br> <br>
  <button> Share Peep!</button>
</form>

<ul> <% @peeps.each do |peep| %>
  <ul><%= peep.peep  %> </ul>
  <ul><%= peep.time  %> </ul>
  <ul><%= peep.username  %> </ul>
  <br> <br>
  <% end %>
</ul>
