<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
  <div class="container">
    <div class="left_column">
      <div class = "header" style="display: flex;">
        <a href ="/">
        <img src="/chitter_logo.png" style ="width: 140px; height: 140px; padding-top:34px;"></a>
        <h1 style="font-size: 45px">Welcome<br>to<br>Chitter</h1>
      </div>

      <div class="posting_form">
        <h2>Hi, @{username}!</h2>
        <form method="POST" action="/">
          <label><h4>Peep something!</h4></label>
          <label><h5>Username:</h6></label>
          <input type="text" name="username" />
          <label><h5>Peep:</h6></label>
          <input type="text" name="peep" />
          <input type="submit" value="Peep this!">
        </form>
      </div>
    </div>

    <div class = "feed">
      <h4>Recent Peeps:</h4>
        <table>
        <% @top_peeps[0..9].each do |content, timestamp, username, userid| %>
          <tr>
            <td>
              <div class="peep_container">
                <img src="/user_icon.png" class="user_icon">
                <div style="padding-bottom: 10px;"> 
                  <a href = "/users/<%= userid %>">@<%= username %></a>: 
                  <br>
                  <%= content %>
                  <br>
                  <%= timestamp %>
                </div>
                <br><br>
              </div>
            </td>
          </tr>
        <% end %>
        </table>
    </div>
    
  </div>
  </body>
</html>