<center>
<h1> Welcome to Chitter </h1>
<br>
<br>
<h2> Please make you selection from the below </h2>
<br>
<br>
<form method='get' action='/session/new'>
<input type='submit' value='Sign in'>
</form>
<br>
<br>
<form method='get' action='/users/new'>
<input type='submit' value='Sign up'>
</form>
</center>
