<style>
body{
background-image: url("https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family : Helvetica;
color: white;
}
</style>
<body>
<ul>
<% @peeps.each do |peep| %>
<li><%= peep %></li>
<% end %>
</ul>
</body>