<h1> Chitter </h1>
<h1> </h1>

  <p> Sign Up </p>
  <form action="/sign_up" method="post">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email">
    Username: <input type="text" name="username">
    Password: <input type="text" name="password">
    <input type="submit" value="Sign Up" name="submit">
  </form>

  <p> Already a member? </p>
  <p> Log In </p>

  <form action="/log_in" method="post">
    Username: <input type="text" name="existing_username">
    Password: <input type="text" name="existing_password">
    <input type="submit" value="Log In" name="log_in">
  </form>
