<!doctype html>
<html>
<div style = "margin-bottom: 1em"> Welcome to Chitter. Share your life with the world and spy the life of others ... This gonna become you favorite chitchat place ever!</div>
  <a class="btn btn-dark" href="/login">Log in</a>
  <a class="btn btn-dark" href="/signup">Sign up</a>
</html>
