<!DOCTYPE html>
<html>
  <head>
  <title>Chitter</title>
  <%# <link rel="stylesheet" type="text/css" href="style.css"> %>
  </head>
  
  <body class="main-box">
  <h1> Welcome to Chitter! </h1> <br>

  <a href ='peeps'> Chitter Feed </a> <br><br>

  <a href ='/users/new'> Signup </a>



</body>
</html>