<html>
<head>
<style>

body {
  background-color: #F3F1F1
}

.list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 20px;
  width: 800px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38A1F3;
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: black;
  background-color: #F3F1F1;
}

.active {
  background-color: #0000FF;
  color:white;
}
</style>
</head>

<body><center>

<ol>
  <li><a style="float: left;" class="active" href="/">Home</a></li>
  <li><a style="float: left" href="/peeps">Timeline</a></li>
  <% if @user %>
  <li><form action="/sessions/destroy" method="post">
    <button style="float:right; color:white; background-color: #0000FF" type="submit" value="Sign Out">Sign Out</button>
  </form></li>
  <% else %>
  <li><a style="float: left" href="/users/new?">Sign Up</a></li>
  <li><a style="float: left" href="/sessions/new?">Sign In</a></li>
  <% end %>
  <a href="/"><img src="https://www.bou.org.uk/wp-content/uploads/2012/08/twitter-white-on-black-cube.jpg" alt="Chitter Logo" style="height:46px; float: left"></a>
</ol>

<h1 style="font-size:100px;color:#0000FF;">Chitter</h1>

<img src="https://www.bou.org.uk/wp-content/uploads/2012/08/twitter-white-on-black-cube.jpg" alt="Chitter Logo">

<h2>
  <%= flash[:notice] %>
</h2>

<% if @user %>
<h1>Welcome, <%= @user.name %></h1>
<form action="/peeps">
  <button type="submit" value="View Peeps" style="text-align:center; width:300px; font-size:30px;color:white; background-color: #0000FF">View Peeps</button>
</form>
<form action="/peeps/new">
  <button type="submit" value="Post Peep" style="text-align:center; width:300px; font-size:30px;color:white; background-color:#759DFF">Post Peep</button>
</form>
<% else %>
<form action="/peeps">
  <button type="submit" value="View Peeps" style="text-align:center; width:300px; font-size:30px;color:white; background-color: #0000FF">View Peeps</button>
</form>
<form action="/sessions/new">
  <button type="submit" value="Sign In" style="text-align:center; width:300px; font-size:30px;">Sign In</button>
</form>
<form action="/users/new">
  <button type="submit" value="Sign Up" style="text-align:center; width:300px; font-size:30px;">Sign Up</button>
</form>
<% end %>

</center></body>
</html>
