<head>
  <title> Chitter </title>
   <link href='style.css' type='text/css' rel='stylesheet'>
</head>
<body>
  <div>
    <form action="/user/new" method="get">
      <input type="submit" value="Sign up">
    </form>
  </div>
  <div >
    <form action="/sessions/new" method="get">
      <input type="submit" value="Log in">
    </form>
  </div>
</body>
