<body style="background-color:grey;">

<h1 style="color:white;text-align:center">Chitter</h1>
<br/>
<br/>
<p style="text-align:center;">Click here to <a href="/post_peep">Post a new Peep</a></p>
<br/>
<br/>
<p style="text-align:center;">Click here to <a href="/peeps">See Peeps</a></p>
</body>
