<html>

  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="heading">
      <h1>CHITTER</h1>
    </div>

    <div class="body-text">
      <% if @current_user %>
      <h2>You are logged in as <%= @current_user %></h2> 
      <form method="post" action="/">
        <input type="submit" value="logout">
      </form>
      <% else %>
      <a href="/sign-up"><h2>Sign Up to Chitter</h2></a>
      <a href="/log-in"><h2>Log In to Chitter</h2></a>
      <% end %>
    </div>

    <div class="body-text">
      <a href="/about">Go to the about page</a><br />
      <a href="/chitters">View peeps</a><br />
      <a href="/chitters/new">Write a peep</a><br />
      <a href="/users">View users</a><br />
    </div>
  </body>
</html>