
<form action="/peep" method="post">
  <input type="text" name="messsage" placeholder="What's happening?" />
  <input type="submit" value="Peep" />
</form>
<% @peeps.reverse.each do |peep| %>
<li><%= peep.message %>
<%= peep.time %></p>
<% end %>
