Chitter
<ul>
  <% @messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

<form action="/" method="post">
  <input type=text name="message">
  <input type=submit value="Submit">
</form>
