<style> 
  input[type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #1DA1F2;  
    color: white;
    font-family: system-ui;
  }

  h1 {
    font-family: system-ui;
    text-align:center;
  }

  form {
    font-family: system-ui;
  }

  div {
    font-family: system-ui;
    padding: 10px;
    text-align:center;
  }  

  input {
     
    font-family: system-ui;
    padding: 10px;
  
  }
</style>

<h1>Welcome to Chitter</h1>
<br>
<div>
  <form action="http://localhost:9292/peeps">
    <input type="submit"  class="active" value="See the lastest Peeps">
  </form>
<div>
