<!doctype html>

<html lang='en'>
  <head>
     <link rel="stylesheet" href="/style.css" />
     <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
  </head>
  <body>
    <% if @user %>
    <div id="navigation">
      <form action="/session/delete" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value='log out' class='sign-up-submit-btn'/>
      </form>
    </div>
    <br>
    <br>
    <br>
    <% else %>
    <div id="navigation">
      <form action="/sessions/new">
        <input id="logIn" type="submit" value='log in' class='sign-up-submit-btn' />
      </form>
      <form action="/users/new">
        <input id="signUp" type="submit" value='sign up' class='sign-up-submit-btn' />
      </form>
    </div>
    <br>
    <br>
    <br>
    <% end %>
    <h1>chitter</h1>
    <% if @user %>
      <h1>welcome, <%= @user.name %></h1>
    <% end %>
    <form action="/peep" method="post" >
      <textarea type='text' name='peep' rows="4" cols="40" placeholder="peep your heart out here.." class="peep-entry"></textarea>
      <br/>
      <input type='submit' value='wall it!' class="peep-submit-btn" />
    </form>
    <br/>
    <h1>peep wall</h1>
    <% @peeps.each do |peep| %>
      <div class="peep-tile" >
        <blockquote>
          <%= peep.content %>
          <% if user = User.get(peep.user_id) %>
          <div class="user-info" >
            <%= user.username %>
          </div>
          <% end %>
          <div class="peep-date" >
            <%= peep.creation_time.strftime "%a %b %d, %H:%M" %>
          </div>
        </blockquote>
      </div>
      <% end %>

  </body>
</html>
