chitters post here...
<br>
<br>
<form class="" action="/add-peep" method="get">
  <input type="submit" name="add-peep" value="Add Peep">
</form>

<ul>
  <% Peep.all.each do |peep| %>
    <li><%= peep.content %>
      <br>
      <i><%= peep.username %> at <%= peep.timestamp %></i>
      <br>
      <br>
    </li>
  <% end%>
</ul>
