<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
   <div class="row">
      <div class="neons col-12">
         <h1><em>&#128037; WELCOME TO CHITTER!!! &#128037;</em></h1>
      </div>
   </div>
</div>

<% if @user %>
  <h2> Hi <%= @user %> select an option </h2>
<% end %>
<% if !@user %>
  <h2> Hi peeper select an option </h2>
<% end %>


<form action="/view">
  <input type="submit" value="View Peeps" id="View Peeps">
</form>
<form action="/new">
  <input type="submit" value="Post a Peep" id="Post a Peep">
</form>
<form action="/reverse">
  <input type="submit" value="New Peeps First" id="New Peeps First">
</form>
<form action="/sign_up">
  <input type="submit" value="Sign Up" id="Sign Up">
</form>

</body>
</html>