<!DOCTYPE html>
<html>
<center>
  <head>
  <link rel="stylesheet" href="style.css">
    <title>Chitter Home Page</title>
  </head>
  <body>
  <h1>Chitter</h1>
    <form action="/sign_up">
    <button class="sign_up" id='signup-btn'>Sign Up</button>
    </form>
    <form action="/session/new">
    <button class="sign_in">Sign In</button>
    </form>
    <br>
  </body>
</html>