<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
      <h1>Welcome to Chitter</h1>
      <h2>Peeps</h2>
    <p><form action="/peeps" method="get">
      <button class="button" type="submit" value="view peeps">View peeps</button>
    </form>
  </p>

    <p><form action="/peeps/new" method="get">
      <button class="button" type="submit" value="new peep">New peep</button>
    </form>
  </p>

</body>
</html>
