<h1>&#128037; WELCOME TO CHITTER!!! &#128037;</h1>
<form action="/view">
  <input type="submit" value="View Peeps" id="View Peeps">
</form>
<form action="/new">
  <input type="submit" value="Post a Peep" id="Post a Peep">
</form>
<form action="/reverse">
  <input type="submit" value="New Peeps First" id="New Peeps First">
</form>