<h1> Welcome to Chitter </h1>

<h2>
  <%= flash[:notice] %>
</h2>

<form action='/user/new' method='get'>
  <input type='submit' value='Sign up'>
</form>

<form action='/sessions/new' method='get'>
  <input type='submit' value='Sign in'>
</form>

<p> Built by CodeRed30 </p>
