

<h1 style="text-align:center; font-family:verdana"> Welcome to Chitter! </h1>

<h2 style="text-align:center; font-family:verdana"> To sign up, please fill in your full name and username below</h2>

<form action="/peeps" style="text-align:center;">
  <input type="submit" value="View peeps">
</form>

<form action="/signup" method="post" style="text-align:center;">
  <input type="submit" value="Sign up">
</form>