<!DOCTYPE html>
<html lang="en" dir="ltr"
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/signin">Sign in</a>
    <a href="/signup">Sign up</a>
  </body>
</html>
