<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="" rel="stylesheet">
  </head>
  <body>
    <a href="/sign-up">SIGN UP</a>
    <div>
      <form method='POST' action='/new-post'>
          <div>
            <textarea name="content" rows="4" cols="50" placeholder="What's happening?"></textarea>        
          </div>          
          <div>
            <input type="submit">
          </div>
      </form>
    </div>
    <% @posts_list.each do |post| %>
        <div>
          <p><span><%= post[:name] %></span><span>@<%= post[:username] %></span><span> - <%= post[:time_diff] %></span></p>
          <p><%= post[:content] %></p>
        </div>
        <% end %>
  </body>
</html>
