<%= flash[:notice] %>
<p>
    --- Chitter ---
</p>
<p>
    Please signin or login
</p>
<form action='/users/log_in' method='get'>
  <input type="submit" value="Log in">
</form>
<form action='/users/sign_up' method='get'>
  <input type="submit" value="Sign up">
</form>
