<h2>Chitter</h2>
<p>..don't ask...</p>
<hr>
<div class="geezmrgn">
<h3> nothing exciting will happen if you sign up here because
this table is useless, but your details will be stored </h3>
</div>
<div class="geezmrgn">
<h4> if you decide to sign up, 
do not use your usual password, 
be smart, this is just a toy app </h4>
</div>
<div class="geezmrgn">
<form action="/user-in" method="POST">
	<input type="string" name="username" placeholder="username" />
	<input type="string" name="password" placeholder="password" />
    <input type="submit" value="go to peeps" />
</form>
</div>

<h4> or you can just go to the <a href="/peeps"> peeps page</a> </h4>