<form action="/peeps" method="post">
  <input type="text" name="peep" placeholder="TYPE YOUR PEEP!" />
  <input type="submit" value="Submit" />
</form>

<ul>
<% @peeps.each do |peep| %>

<li><%= peep %></li>
<p>
<script> document.write(new Date().toLocaleDateString()); </script>
</p>
  <% end %>
</ul>