<h1>Welcome to Chitter!</h1>

<h2>
<%= flash[:notice] %>
</h2>

<form action="/users/new" method="get">
  <input type="submit" value="Sign up" />
</form>

<form action="/sessions/new" method="get">
  <input type="submit" value="Log in" />
</form>
