<% if !@user %>
<a href='/register'>
   <button>Register</button>
</a>
<% end %>
<% if @user %>
<p>
Signed in as: <%= @user['first_name'] %>
</p>
<% end %>
<form action="/" method='post'>
  <label for="message">Add Message:</label>
  <input type="text" name='peep'>
  <input type="submit" value='Post'>
</form>
<ul>
<% @peeps.each do |peep| %>
  <li><p><%= peep.content %> posted at: <%= peep.date_posted%></p></li>
<% end %>
</ul>