<h1>Welcome to Chitter!</h1>
<form action='/welcome' method='post'>
  <input name='name' type='text'></input>
  <input name='username' type='text'></input>
  <input name='email' type='text'></input>
  <input name='password' type='password'></input>
  <input type='submit' value='Submit'></input>
</form>
