<h1> Welcome to Chitter! </h1>
<br>
<h2> Please sign up using the form below: </h2>

<form method="post" action="/chitter">
  Enter your name:
  <input type="text" name="name" placeholder="Name" />
  Enter your username:
  <input type="text" name="username" placeholder="Username" />
  Enter your email address:
  <input type="text" name="email" placeholder="Email" />
  Finally, enter your password and hit sign up:
  <input type="text" name="password" placeholder="Password" />
  
  <input type="submit" value="Sign up!" />
</form>
