<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter</h1>
    <%# <p>
      <a href = '/artists'>List of artists</a><br>
      <a href = '/albums'>List of albums</a><br>
      <a href = '/artists/new'>Add artist</a><br>
      <a href = '/albums/new'>Add album</a><br>
    </p> %>
  </body>
</html>