<h1>Log in</h1><br>
<form action="/log_in" method="post">
  <input type="text" name="email" value="email here please">
  <input type="text" name="password" value="password here please">
  <input type="submit" value="Sign In">
</form><br>
<h1>Not registered? Sign up here</h1><br>
<form action="/sign_up" method="get">
  <input type="submit" value="Sign Up">
</form><br>