<form action="/new" method="get">
  <input id="new_post" type="submit" value="New" />
</form>

<form action="/mainpage" method="get">
  <input id="main_page" type="submit" value="Mainpage" />
</form>
