<style>
body {
  background-color: grey;
}
</style>

<h1 style = "color: purple;">
  Chitter</h1>

  <form action="/chitter" method="post">
    <input type="text" name="peep" placeholder="------ Write peep here ------" />
    <input type="submit" value="Post Peep" />
  </form>

<h4 style = "color: black;">
  <ul>
  <% @messages.each do |message| %>
    <li>
        <%= message %>
      </a>
    </li>
  <% end %>
</ul>
