<h1>Chitter</h1>
<form action='/peep'>
  <input type='submit' value='Peep'>
</form>

<%# <form action='/peep'>
  <input type='text' name='name'>
  <input type='text' name='username'>
  <input type='text' name='message'>
  <input type='submit' value='Peep'>
</form> %>