<html>
  <head><h1>CHITTER</h1></head>
  <head><h2>makers chit chat</h2></head>
<a href='/signup'> SIGN UP </a><br/>
<a href='/login'> LOG IN </a><br/><br/>

  <body>

  <%@peeps.map do |peep|%>
    <div>
      <p><%=@user_repo.find(peep.user_id).name%></p>
      <p>@<%=@user_repo.find(peep.user_id).username%></p>
      <p><%=peep.content%></p><br/>
      <p><%=Time.parse(peep.time).strftime("%k:%M %p %d %b %y")%></p>
      </div>
    <%end%>
  </body>
</html>
