<h1>Welcome to Chitter<% if @user %>, <%= @user.username %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out">
  </form>
  <% end %></h1>
  
  <%= flash[:notice] %>

<form action="/user/new">
  <input type="submit" value="Sign up to Chitter"/>
</form>
<form action="/user/sign-in">
  <input type="submit" value="Sign in">
</form>
<ul><% @peeps.each do |peep| %>
  <li><%= peep.content %><br>
    <%= peep.time.strftime("%H:%M, %d %B") %></li>
  <% end %>
</ul>
<form action="chitter/new">
  <input type="submit" value="New peep">
</form>
