<h1> Welcome to Chitter</h1>
<h2>Please insert your details to sign in:</h2>
<form  action="/" method="get">
  <input type="email" name="email" placeholder= 'example@mail.com'> <br>
  <input type="text" name='name' placeholder="name"> <br>
  <input type="password" name='password' placeholder="password"> <br>
  <button type="submit">Sign in</button>
</form>
