<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
</head>
<body>
  <form action="/signup" method="post">
    <input type="text" name="name"> 
    <input type="text" name="user_name">   
    <input type="text" name="email">   
    <input type="text" name="password">   
    <input type="submit" value="Sign up">      
  </form>
</body>
</html>