<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <form action="/users/new">
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
