<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <div>
      <h1>Welcome to Chitter</h1>
      <a href="/new-peep">Post a new peep!</a><br>
      <a href="/login">Login to Chitter!</a><br>
      <a href="/new-user">Register as a new user!</a>
      <% @peeps.order(created_date_time: :desc).each do |peep| %>
        <p>
        <%= peep.content %><br>
        <%= peep.created_date_time %>
        </p>
      <% end %>
    </div>
  </body>
</html>
