<!DOCTYPE html>
<html>
<head>
<style> 

html {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  background-color: #6BCAF6;
  background-size: 50%;
  text-align: center;
  border-radius: 40px;
}

</style>
</head>
<body>
<br>
<% if @user != nil%>
  <h1>Welcome back to Chitter <%= @user.username %>!</h1>
  <h2> Get peepin'... </h2>
  <form action='/add_peeps' method='post'>
    <label for='new - content'>
      Write a message to the world: &emsp; <input type='text' name='content' placeholder="Peep peep">
    </label>
    &emsp; <input type='submit' value='Peep it!'>
  </form>
<% else %>
  <h1> Welcome to Chitter!</h1><br>
  <form action='/sign_up' method='get'>
    Not yet a member? &emsp; <input type='submit' value='Sign up here...'>
  </form>
  <br>
  <form action='/log_in' method='get'>
    Already a member? &emsp; <input type='submit' value='Log in here...'>
  </form>
<% end %>
<br><br>
<ul>
    <% @peeps.each do |peep|%>
    <li>
      <strong> <%= peep.content %> </strong> &emsp; &emsp; &emsp; <em> at <%= peep.posted %> </em>
    </li>
    <% end %>
</ul>

</body>

</html>
