<h2>This is Chitter, your instant message service!</h2>

<form action="/peeps/new" method="post">
  <input type="text" name=peep placeholder="Post your peep" required>
  <input type="submit" value="New peep">
