<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Chitter</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> -->
  </head>

  <body>
    <header>
      <h1>Welcome to Chitter</h1>
    </header>

      <div class="center">
      <h2>What's in yor mind, Maker?</h2>
        <form action='/peeps' method='post'>
        Message
          <label for='new_peep'>
            <input type='text' name='new_peep' required>
          </label>
          <button type='submit' name='Send peep' value='Send peep'>Send Peep</button>
        </form>
      </div>
  </body>
</html>
