<form method="POST" action="/create">
    <label>Peep: </label>
    <input type="text" name="the_peep" />
    
    <label>time: </label>
    <input type="float" name="peep_time" />
    
    <label>id: </label>
    <input type="int" name="the_user_id" />
    <input type="submit" />

    


</form>