<h1>Welcome to Chitter!</h1>
<%= flash[:notice] %>
<br>
<% if session[:user_id] != nil %>
<form action='/create'>
<input type = 'submit' name='Create Peeps' value='Create Peeps'>
</form>
<% end %>

<form action='/view'>
<input type = 'submit' name='View Peeps' value='View Peeps'>
</form>

<form action='/sign_up'>
<input type = 'submit' name='Sign Up Here!' value='Sign Up Here!'>
</form>


