<h1> Chitter </h1>
<h2> Something on your mind? </h2>
<form action='/new-peep' method='post'>
  <input type='text' name='peep' placeholder='you were always on my mind'>
  <input type='submit' value='Tell The World'>
</form>
<h2> Peeps </h2>
<ul>
  <% @peeps.each do |each_peep| %>
  <li>
    <a><%= each_peep.peep %></a>
  </li>
  <% end %>

</ul>
