<%= flash[:notice] %>

<h1>Welcome on Chitter</h1>

<form action="/signup" method="get">
  <input class="button" type="submit" value="Sign up">
</form>
<form action="/send_peep" method="get">
  <input class="button" type="submit" value="Send peep">
</form>
