<h1> Welcome to Chitter </h1>

<h3> The place to get all the latest peeps!</h3>
<br>
<form  action="/homepage/sign_in" method="get">
  <button type="submit" name="Sign In">Sign in</button>
</form>
<form  action="/homepage/sign_up" method="get">
  <button type="submit" name="Sign Up">Sign up</button>
</form>
