<h1> Faldo-Movie-Ratings </h1>

<form action="/addfilm" method="get">
  <input type="submit" id="addfilm" value="Add Film">
</form>

<form action="/" method="get">
  <button type="submit" id="sort-alphabetically" name="sort_by" value="a_to_z">Sort A-Z</button>
</form>

<ul>
  <% @films.each do |film| %>
  <div class ='row'>
    <div class = 'col-lg-1'>
      <%= film.title %>
      <%= film.rating %>/10
    </div>
  </div>
  <% end %>
  <%= @bookmark_to_add %>
</ul>

<%= styled_flash %>

<!-- when the button is clicked I want the order to be
changed to aplha.
- currently its just whatever the order is in the database

* I could do it in the database before I pull it out
(and specify this is a Film.all(sort_by: alphabetical))
OR
 -->

<!-- one option is to redirect to another page that sorts out the logic -->
<!-- another option is to have a class method that  -->
