<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/site.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<header class="nav">
  <div class="navHome"><a href="/"><img src="" />Home</a></div>
</header>
<body>
  <h1>Peep Board</h1>

    <div class="messagesBlockContainer">
      <div class="messageBlockHeader">
        <h3>Peeps</h3>
      </div>
      <div class="messagesSection">
      </div>
    </div>
</body>
<footer>
  <p>© 2019 Megan Goode</p>
</footer>
