<body style="background-color:honeydew;">
    
  <h1 style="
  font-family:verdana"> Welcome to Chitter (the other twitter).</h1>
  
  <form action="/feed">
  <input type="submit" value="View the feed"> 

  </form>
  <p>
  <button type="button"> Add your own (peep) to the feed </button>
  </p>
  <p>
  <button type="button"> Sign in </button>
  </p>

</body>




