<style>
  div {
    margin: 10 auto;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    width: 30%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

  h1 {
    margin: 10 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  form {
    margin: 10 auto;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
  }

</style>

<h1>The latest chits</h1>
<form method="get" action="/post_chit">
<input type="submit" name="go_to_post_chit" value="get chitting!"/>
<form method="get" action="/sign_up">
<input type="submit" name="go_to_sign_up" value="sign up!"/>
</form>
  <% @chits.reverse.each do |chit|%>
    <div>
      <%= chit.handle %><br>
      "<%= chit.content %>"<br>
      <%= chit.timestamp %><br>
    </div>
  <% end %>
