<h1>Chitter</h1>

<% if @peeps.empty? %>
<p>There are not peeps yet.</p>
<% else %>
<ul>
  <% @peeps.each do |peep| %>
  <li>
    <h2><%= peep.message %></h2>
    <p>x long ago - <%= peep.timestamp %></p>
    <p>name: <%= peep.user.name %></p>
    <p>username: <%= peep.user.username %></p>
  </li>
  <% end %>
</ul>
<% end %>
<a href="/peeps/new">Click here to create a new peep</a>
