<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% else %>
  <form action="/users/new" method="get">
    <input type='submit' value="Sign up" />
  </form>
  <form action="/sessions/new" method="get">
  <input type='submit' value="Login" />
</form>
<% end %>




<form action='/peep' method='post'>
  <input type='text' name='peep'>
  <input type='submit' value='Peep'>
</form>

<section>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep %>  </li>
    <li><%= peep.created_at%> </li>
  <% end %>
</section>
