<html>
  <head>
    <title>
      Chitter
      <h1>
        Twitter, spelled differently
      </h1>
  </title>
</head>

<body>
  <form action="/compose" method="get">
    <input type="submit" value="Make a Peep">
  </form>
  <br>
  <ul>
    <% @peeps.each do |peep| %>
    <li>
      <%= peep.content %>
    </li>
    <% end %>
  </ul>

</body>
</html>
