<center><h1>Welcome to Chitter!</h1>
<br>
<br>
<br>
<h2>Please signup:</h2>
<br>
<br>
 <form action= '/log_in' method= 'post'>
 Name:
 <input type= 'text' name= name placeholder=Name required>
 Email:
 <input type= 'text' name= email size= 50 placeholder=Email required>
 Password:
 <input type="password" id="pass" name="password"
           minlength="8" required>
  <input type="submit" value= 'Sign up' placeholder= 'Sign up'>
</form></center>


