<h1>Welcome to Chitter!</h1>
<div>
  <form method="get" action="/Peeps">
    <input type="submit" value="Go to Peeps!"/>
  </form>
  <form method="get" action="/sign_up">
    <input type="submit" value="Sign up for a Chitter Account"/>
  </form>
</div>