<h1>Welcome to Chitter!!!</h1>
<br><br><br>
<h2>Please enter your peep:</h2>
<form action="/message" method="post">
  <input type="textbox" name="message">
  <input type="submit" value="Post">
</form>
