<html>
 <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <div>
        <a href='/signup'>Sign Up</a><br>
        <br>
        <a href='/login'>Log In</a><br>
        <br>
        <a href='/board'>View Chitter Board</a><br>
        <br>
    </div>
  </body>
</html