<h1> Welcome to Chitter!</h1>

<form action='/composepeep' method='GET'>
  <label for="message">
    Message:
    <input type="text" name="message">
  </label>

  <label for="composepeep">
    Compose Peep:
  </label>
<input type="submit" value="Compose Peep">
</form>

<label for="peeps">
  View all Peeps:
<input type="text" name="View all Peeps">
</label>
