<h1>Welcome to Chitter!!!</h1>
<br><br><br>
<h2>Please enter your peep:</h2>
<form action="/message" method="post">
  <textarea name="message" rows ="10" cols ="30"></textarea>
  <input type="submit" value="Post">
</form>


    <% @chitter.each do |chitter| %>
    <p><%= chitter %></p>
    <% end %>
