<center>
<body style='background-color:powderblue;'>
<h1 style='color:white;' align='center'> CHITTER </h1>

<form name='input' action='/users/new' method='GET'>
  <input type='submit' value='Register'>
</form>

</body>
</center>
