<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<h1 style= 'position:absolute; top: 37%; left: 50%; transform:translate(-50%, -50%); font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;'>Welcome to Chitter! </h1>


<body style='background-color: #87CEFA'>
<button style= 'padding:10px; border-radius: 10px; 
 background-color: #00008B; color: white; margin: auto; 
 display:grid; font-size: large; position:absolute; top: 50%; left: 30%; transform: translate(-50%, -50%);' ><a href="/peeps" style= 'text-decoration: none; color: white'>Click here to view your peeps!</a> </button>

 <button style= 'padding:10px; border-radius: 10px; 
 background-color: #00008B; color: white; margin: auto; 
 display:grid; font-size: large; position:absolute; top: 50%; left: 70%; transform: translate(-50%, -50%);' ><a href="/new_peep" style= 'text-decoration: none; color: white'>Click here to post a new peep!</a> </button>



</body>




