<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Chitter | Homepage </title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">
				  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
					Chitter
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/peeps">All Peeps</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Log in</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/peeps/new">Add a new Peep</a>
						</li>
					</ul>
				</div>
		</nav>

		<div class="jumbotron">
		<div class="container">
			<h1>Ready. Set. Peep.</h1>
			<p>
				From breaking news and entertainment to sports and politics, from big events to everyday interests. If it's happening anywhere, it's happening on Chitter. Join Chitter today.
			</p>
			<br />
			<p>
				<a class="btn btn-primary btn-lg" href="/peeps" role="button">See all Peeps »</a>
				<a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up now »</a>
			</p>
			</div>
		</div>

	</body>
</html>