<h1>Log in here</h1><br>
<form action="/sign_in" method="get">
  <input type="submit" value="Sign In">
</form><br>
<h1>Not registered? Sign up here</h1><br>
<form action="/sign_up" method="get">
  <input type="submit" value="Sign Up">
</form><br>