<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div>
      <button class="btn btn-primary float-right mr-3 mt-3 ml-auto">Register</button>
      <button class="btn btn-primary float-right mr-3 mt-3 ml-auto">Login</button>
      <button class="btn btn-primary float-right mr-3 mt-3 ml-auto">Home</button>
      </div>
      <h1>Welcome to Chitter!</h1>
      <br>
      <% @posts.each do |post| %>
        <div><b>Chit:</b> <%=post.content%> <b>By:</b> <%=post.username%> <b>At:</b> <%=post.created_at.strftime("%F / %H:%M")%> </div>
      <% end %>
  </body>
</html>