<!DOCTYPE html>
<head>
</head>
<body>
  <h2>Welcome to Chitter</h2>

  <form>
    <input class="button" type="submit" name="sign up" value="Sign up">
  </form>


  <ul>
  <% @current_peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>

  <p><%= @new_peep %></p>
    <form action="/send_compose_peep" method="post">
      <input class="button" type="submit" name="Post a new Peep" value="Compose Peep">
    </form>

</body>
</html>
