<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>Welcome to Chitter ! What would you like to do ?</h1>
</body>
  <form method="get" action="/add_post">
    <input type="submit" value="Add post"/>
  </form>
</html>
