<div class='row'>
  <div class='col'>
    <div class='index-left'>
      <div class='row lv-mid'>
        <div class='col-5'></div>
        <div class='col-5'>
          <h5>Do some stuff.</h5>
          <div class='buffer'></div>
          <h5>And other interesing things.</h5>
          <div class='buffer'></div>
          <h5>As well as yes.</h5>
        </div>
        <div class='col'></div>
      </div>
    </div>
  </div>
  <div class='col'>
    <form action='/sessions' method='POST'>
      <div class='index-right'>
        <div class='row'>
          <div class='col'></div>
          <div class='col-8'>
            <div class='row'>
              
              <div class='col'>
                <div class="form-group">
                  <label></label> 
                  <input id="handle" name="email" placeholder="Email" type="text" class="form-control index-login">
                </div>
              </div>
              <div class='col'>
                <div class="form-group">
                  <label></label> 
                  <input id="password" name="password" placeholder="Password" type="password" class="form-control index-login">
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='buffer-sm'></div>
                <div class="form-group">
                  <button style="text-decoration:none" name="submit" type="submit" class="btn btn-link index-login-btn mpad"><strong>Log In</strong></button>
                </div>
              </div>
            </div>
            <div class='row rv-mid'>
              <div class='col-sm-2'></div>
              <div class='col-7'>
                <h3><strong>See what's crappening in the world right now</strong></h3>
                <div class='buffer'></div>
                <h5><strong>Join Chitter today</strong></h5>
                <div class='buffer-xsm'></div>
                <div class='row'>
                  <div class='col'>
                    <a class='btn btn-primary index-login-btn index-login-main-btn' href='sign_up'><strong>Sign Up</strong></a>
                  </div>
                </div>
                <div class='buffer-xsm'></div>
                <div class='row'>
                  <div class='col'>
                    <a style="text-decoration:none" class='btn btn-link index-login-btn index-login-main-btn' href='login'><strong>Log In</strong></a>
                  </div>
                </div>
              </div>
              <div class='col'></div>
            </div>
          </div>
          <div class='col'></div>
        </div>
      </div>
    </form>
  </div>
</div>