<h1> Welcome to Chitter! <h2>

<form action="/new-bookmark" method="post">
<label> Type your first Chit below </label>
<br>
<textarea name="comments" cols="20" rows="4"> Enter your Chit...</textarea>
<br>
<input type="submit" value="Post">
</form>