	<h1> Welcome to Chitter! </h1>

	<form action='/sign-up' method='get'>
		<input type ='submit' id='sign-up-sign-in' value = 'Sign up'>
	</form>
	<br>
	<form action='/sign-in' method='get'>
		<input type ='submit' id='sign-up-sign-in' value = 'Sign in'>
	</form>
	<br>
	<br>
	<br>
	<div id="bordered">
  <h2> Chitter feed </h2> 
  <% @peeps.reverse.each do | peep | %>
  
  <div id="bold-username"> @<%= peep.user.username %></div>
  <div> <%= peep.display %> </div>
  <div id="peep-time"> <%= peep.time_created %> </div>
  <br>
  <%end%>
  </div> 
 </div>
	