<h1>Chitter</h1>

<span class="user">
  <% if session[:current_user] == nil %>
    <a href="/sign-up"><button>Sign Up</button></a>
  <% else %>
    <h2>Hi, <%= @user.name %>!</h2>

    <a href="/logout"><button>Logout</button></a>

    <form action="/post" method="post">
      <input type="text" id="peep_content" name="peep_content">
      <input type="submit" value="Post">
    </form>
  <% end %>
</span>

<ol class="peeps" style="list-style-type:none">
  <% @peeps.reverse.each do |peep| %>
    <div class="peep">
      <%= peep.message %>
      <%= peep.time %>
    </div>
  <% end %>
</ol>
