<h1 style="text-align:center">Welcome to Chitter</h1>

<div class="" style="text-align:center">
  <form class="" action="/signup">
    <input type="submit" name="sign_up" value="Sign up">
  </form>
  <form class="" action="/login">
    <input type="submit" name="log_in" value="Log in">
  </form>
</div>
