<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>What's Happening?<span> Chitter</span></h1>

    <div class="signup_home">
      <h3>Sign up to post!</h3>
      <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Full name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="password" placeholder="Password" />

        <input type="submit" value="submit">
      </form>
    </div>

    <div class="login_home">
        <a href="/login">Log In</a>
    </div>
  </body>
</html>
