<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bad Ass App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
  h1, h2 {font-family: helvetica;}
</style>

<center>
  <br>
  <br>
  <form action=/stored method=post>
    <label for="first_name">Name:</label>
    <input type="text" name="name" >
    <br>

    <label for=username>Username:</label>
    <input type=text name=username>
    <br>
    <label for=password>Password:</label>
    <input type=text name=password>
    <br>
    <label for=email>email:</label>
    <input type=text name=email>
    <br>
    <br>
    <button type=submit class="btn btn-warning">Submit</button>
  </form>
</center>
