<h1>Chitter</h1>
<h2>Sign up!</h2>
<form action="/user" method="post">
  <label for="user">
    name:
    <input type="text" name="name">
    username:
    <input type="text" name="username">
    E-mail:
    <input type="text" name="email">
    password:
    <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
