<h1>Welcome to Chitter!</h1>

<form action='/create'>
<input type = 'submit' name='Create Peeps' value='Create Peeps'>
</form>

<form action='/view'>
<input type = 'submit' name='View Peeps' value='View Peeps'>
</form>
