<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <div class="app">
  <header>
    <h1>Welcome to <s>twitter</s> Chitter!</h1>
    <nav>
      <div class="signup/login">
        <h2>Sign-up or Login</h2>
        <form action='/user/new' method='POST'>
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <input type="submit" value="Sign up">
          <input type="submit" value="Login">
        </form>
      </div>

      <h2>Messages</h2>
    <div class="messagescontainer">
      <!--In here i gotta post a list of messages.-->
      <div class="messages">
        <ul>
          
        </ul>  
      </div> 
    </div>
  </div>
    </nav>
  </header>
</body>
</html>