<html>
  <body>
    <h1>Welcome to Chitter</h1>
    <br>
    <form action="/peeps" method"get">
      <input type="submit" value="Chitter Feed" />
    </form>
    <form action="/users/new" method"get">
      <input type="submit" value="Sign Up" />
    </form>
    <br>
  </body>
</html>