<h1>Chitter Chat</h1>
<form action ='/index' method ='get'>
<input type = 'text' name ='tweet' placeholder= 'Enter tweet here...'>
<input type ='submit' value ='Tweet'/>
</form>

<form action ='/new' method ='post'>
<input type = 'submit' value='View tweets'>
</form>

<%= @chitter %>
<style>

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
}