<html>
  <head>
<style>
.nav-bar {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;


}
.nav-item {
  padding: 10px;
}

.a:link {
  text-decoration: none;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post {
  display: flex;
  width: 500px;
  min-height: 200px;
  background-color: red;
  margin: 5px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.post-item:nth-child(1) {
  font-size: 30px;
}
.post-item:nth-child(2) {
  font-size: 20px;
}
.post-item:nth-child(3) {
  font-size: 10px;
}

</style>
  </head>
  <body>
  <div class="nav-bar">
    <nav-item>CHITTER-BOT</nav-item>
    <nav-item><h1><a href="/" style="
      text-decoration: none;
      color: black;
    ">Posts</a></h1></nav-item>
    <nav-item><a href="/login">Log in</a> <a href="/register">Register</a></nav-item>

  </div>
  <div class='post-form'>
    <form action="/create_random" method="post">
     <input type="text" name="message" placeholder="Message">
     <input type="submit" value="Add post">
    </form>
  </div>
  <div class='posts-container'>
    <% @posts.all.reverse_each do |post|  %>
     <div class='post'>
        <div class='post-item'><%= post.name %></div>
        <div class='post-item'><%= post.message %></div>
        <div class='post-item'><%= post.post_time %></div>
     </div>
   <% end %>
  </div>

  </body>
</html>
