<h2> Chitty chitty bang bang... </h2>
<h1> Welcome to Chitter! </h1>

<h3> Sign up for Chitter: </h3>
<form action='/chitter' method='post'>
  Name:
  <input type='text' name='name' placeholder='Jill Smith' maxlength='50' required> <br>
  User Handle:
  <input type='text' name='user-handle' placeholder='Jilly S' maxlength='50' required> <br>
  Email:
  <input type='email' name='email' placeholder='test@hotmail.com' required> <br>
  Password (minimum 8 characters):
  <input type='password' name='password' minlength='8' required> <br>
  <input type='submit' value='Sign up'> <br>
</form>

<h3> Already signed up? </h3>
<h4> <a href='/chitter/sign-in'>Sign in here</a></h4>

<h2> Peeps </h2>

<ul>
  <% @peeps.each do |peep| %>
    <li> <%= peep.content %> <br>
      Posted by: <%= peep.user.user_handle%> (<%= peep.user.user_name%>) <br>
      Posted on: <%= peep.created_at %> <br>
    </li>
  <% end%>
</ul>
