<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users/new" method="get">
      <input type='submit' value='Sign Up'/>
    </form>
    <br>
    <form action="/users/sign_in" method="get">
      <input type='submit' value='Log In'/>
    </form>
  </body>
</html>
