<form action="/new-cheet" method="post">
  <input type="text" name="cheet" placeholder="Cheet">
  <input type="submit" value="Submit" >
</form>

<ul>
  <% @cheets.each do |cheet| %>
  <li>
    <%= cheet.cheet %>
  </li>
  <% end %>
<ul>
