<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlyPhans</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <section>
      <div class="login">
        <img src="public/avatar.jpeg" alt="Bob Ross" class="avatar" />
        <h1>OnlyPhans</h1>
        <form>
          <p>Username</p>
          <input type="text" id="username" placeholder="Enter Username" />
          <p>Password</p>
          <input type="password" id="password" placeholder="Enter Password" />
          <input type="submit" value="Login" />
          <a href="#">Forgotten password?</a></br>
          <a href="#">Create New Account</a>
        </form>
      </div>
    </section>
  </body>
</html>
