<div class='peeplist'>
    <ul>
    <% @sorted.each do |peep| %>
      <li><%=peep.user%> peeps: "<%= peep.content %>"<li>
          <% p peep.replys.last %>
         <a href="/reply/<%=peep.id%>">reply</a>
    <% end %>
  <ul>
</div>
