<form action='/post' method='POST'>
  Input your cheep below...
  <div>
    <input type='text' name='content'/>
    <input type='submit' value='Post'/>
  </div>
</form>

<div>
  Live Feed:
  <ul>
    <% @posts.each do |cheep| %>
      <li> <%= cheep.post %> </li>
    <% end %>
  </ul>
</div>
