<h1> Welcome to chitter </h2>
<h2> What would you like to do today? </h2>

<form action='/users/new' method="get">
  <button type="submit">Sign up</button>
</form>

<form action='/sessions/new' method="get">
  <button type="submit">Sign in</button>
</form>

<form action='/posts' method="get">
  <button type="submit">View posts</button>
</form>
