<div>
  <h1>Welcome to Chitter!</h1>
  <h3>Sign up or login below.</h3>
</div>

<div id="button_1">
  <a href="/register"><button>Newbie</button></a>
</div>

<div id="button_2">
<a href="/login"><button>Member</button></a>
</div>
