<h1> Welcome to Chitter!</h1>

<form action="/peep" method="post">
  <label for="peep">
    What would you like to peep?
    <input type="text" name="peep">
  </label>
  <input type="submit" value="Peep!">
</form>
