<ul>
  <% @peeps.reverse.each do |peep| %>
    <li><%= peep.peep %>
        (<%= peep.time %>)
    </li>
  <% end %>
</ul>

<form action='/post' method='gets'>
  <input type='submit' value='Post a Peep'>
</form>


