<%= erb :'partials/header' %>
<form action='/peeps' method='get'>
  <button type='submit'>View all peeps</button>
</form>
<form action='/sign_up' method='get'>
  <button type='submit'>Sign up</button>
</form>
