<%= styled_flash %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign Out">
</form>

<% if @user %>
  <h2>Hello, <%= @user.email %></h2>
<% end %>

<h1>Chitter</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.post %><br>
      <%= peep.time %><br>
    </li>
  <% end %>
</ul>
