<h1> Chitter Chatter Pitta Patta</h1>
<div>
  <form action="/message" method="post">
    <textarea name='message' cols='40' rows='10'></textarea><br>
      <input type='submit' value='Post'>
  </form>

</div>
<div>
<% @messages.each do |message| %>
<%= message.created_at %>
<br>
<%= message.content %>

<% end %> 

</div>
