<h1><center> Welcome to Chitter </center></h1>


<% @all_peeps.each do |peep| %>
  <li>
    <%= peep.peep %>
    <br>
    <font size="1.5"> peeped at: <%= peep.time %> </font>
  </li>
<% end %>

<br>

<form action="/peep" method="post">
  <input type="text" name="new_peep" placeholder="What's on your mind?" />
  <input type="submit" value="Peep!" />
</form>
