<!DOCTYPE html>

<html lang="en">
<head>
<style>
body {
  background-color: lightblue;
}
h1 {
  text-align: center;
}
form {
  text-align: center;
}
</style>
</head>

<h1>Welcome to Chitter</h1>
<form action="/view" method="get">
  <label for="View">
  <input type="submit" name="View" value="View Peeps">
  </label>
  <br>
</form>
  <form action="/post" method="get">
  <label for="Post">
  <input type="submit" name="Post" value="Post a Peep">
  </label>
</form>
