<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  </head>

  <body>

    <h1> Welcome, <%= @user.handle %>! </h1>

    <form action="/peeps/new">
        <input class="button" type="submit" value="Start peeping!" />
    </form>

    <form action="/peeps">
        <input class="button" type="submit" value="See what the world is peeping!" />
    </form>

  </body>
</html>
