<html>
<h1> Welcome to Chitter </h1>
<ul>
<% @posts.each do |post| %>
 <li><%= post.username %>  --  <%= Time.now.asctime %><br></li>
 <%= post.message %>
<% end %>
</ul>
<div id='new-post'>
  <form action='/posting' method='post'>
    Username: <input type='text' name='username'>
    Message: <input type='text' name='message'>
    Hashtag: <input type='text' name='hashtag'>
    <input type='submit' value='Post'>
  </form>
</div>
</html>
