<h2 class="error"><%= @error %></h2>
<form action='/login' method='POST'>
  <input type='text' name='username' value='username'>
  <input type='password' name='password' value='password'>
  <button type='submit'>Login</button>
</form>