<form action="/account_created" method="post">

  Enter your email address and password below to create your acccount: 
  <br><br>
  <input type="text" name="username" placeholder="Enter your email address">
  <br><br>
  <input type="password" name="password" placeholder="Enter your password">
  <br><br>
  <input type="submit" value="Submit">

</form>