<head>
	<title>Chitter</title>
</head>
<body>

  <h1>Chitter</h1>

  <ul>
    <% @peeps.each do |peep| %>
      <li><%= peep['description'] %></li>
    <% end %>
  </ul>

	<form action='/peeps/new' method='post'>
		<input type='text' id='peep' name='peep' placeholder="What's happening?">
		<input type='submit' name='submit' value='submit'>
  </form>
  
</body>
