<body>
  <div>
    Signup:
    <br>
    <form action="/signup" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" name="submit" value="Sign Up">
    </form>
  </div>
  <div>

  </div>
</body>
