<h1>Chitter</h1>
<p><% if session[:username]%> Hello, <%= session[:username] %>!<% end %></p>

<div><a href="/">Home</a></div>
<div><a href="/peeps">Latest peeps</a></div>
<div><a href="/peeps/new">Create a new peep</a></div>
<div><a href="/signup">Sign up</a></div>
<div><a href="/login">Log in</a></div>
<div><a href="/logout">Log out</a></div>