<%# Message confirming user registration %>
 <% if session[:new_user?] %>
 Successfuly created account <%=session.delete(:new_user?)%>, log in to post peeps!
 <% end %>

 <%# Login error message %>
 <% if session[:login_invalid] %>
 Your username or password was not recognised, try again
 <% session.delete(:login_invalid) %>
 <% end %>

 <%# Displays welcome back after logging in %>
 <% if session[:logged_in?] %>
 <h1>Welcome back to Chitter <%=session.delete(:logged_in?)%>! </h1>
 <% end %>

 <%# Displays users Chitter feed when logged in %>
 <% if session[:user_id] %>
 <h1><%=session[:user_id]%>'s Chitter feed</h1>
 <% else %>
 <h1>Welcome to Chitter!</h1>
 <% end %>

 <%# If user is not logged in %>
 <% if session[:user_id].nil? %>
   <form action='/login' method='post'>
     <label for='username'>Enter your username:</label>
     <input type='text' id='username' value='username' name='username'>

     <label for='password'>Enter your password:</label>
     <input type='text' id='password' value='password' name='password'>

     <input type='submit' id='sign_in' value='Sign in'>
   </form>

   <form action='/register' method='get'>
     <label for='sign_up'>Click to sign up to Chitter!</label>
     <input type='submit' id='sign_up' value='Register'>
   </form>

 <%# If user is logged in %>
 <% else %>
   <form action='/logout' method='post'>
     <input type='submit' value='Sign out'>
   </form>

   <form action='/peep' method='post'>
     <label for='peep_box'>Write a peep - 240 characters max!</label>
     <input type='text' id='peep_box' name='peep_text'>
     <input type='submit' value='Submit peep'>
   </form>
 <% end %>

 <%# Display Chitter feed %>
 <h3> <%= Twitter.display_messages %> </h3>