<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container_div">
    <div class="title_div">
      <h1>Chitter</h1>
    </div>
    <div class="message_div">
      <ul>
        <% @peeps.reverse_each do |peep| %>
        <div class="peep_box">
          <li class="peep" id="peep-<%= peep.id %>" >
          <%= peep.message %>
          <br>
          Posted at <%= peep.timeofpeep %> By <%= peep.user_name %>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</body>
