<h1>Welcome to Chitter</h1>

<section class="homepage-buttons">

<form action="/peeps">
<input type="submit" value="View all Peeps" name="view_peeps">
</form>

<form action="/peeps/new">
<input type="submit" value="Write new Peep" name="write_peeps">
</form>

</section>