<html>

  <head>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <center>
      <h1>Welcome to Chitter!</h1>
      <h2>
        <a href="/peeps/new">Add Peep</a>
      </h2>
    </center>
  </body>

</html>
