<h1> Welcome to Chitter! </h1>

<h2> To sign up, please fill in your full name and username below</h2>

<form action="/signin" method="post">
  <input type="submit" value="Sign in">
</form>

<form action="/peeps">
  <input type="submit" value="View peeps">
</form>

<form action="/signup" method="post">
  <input type="submit" value="Sign up">
</form>