<h1>Welcome to Chitter</h1>

<h1> Please log in: </h1>
<br>
<form action = "/" method = "post">
  <label for="user_name">Enter your name:</label><br>
  <input type="text" name="user_name" ><br>
  <label for="password">Enter your password:</label><br>
  <input type="text" name="password"><br>
  <input type="submit" value="Log in">
</form> 