<%require 'time'%>
<center>
<head>
  <link rel="stylesheet" href="style.css">
  </head>


  <h1>Latest Peeps</h1>
  <img src="https://image.flaticon.com/icons/svg/141/141737.svg" alt="chick" height="100" width="100">
  <br></br>
  <h3>Hey <%= @name %>!</h3>

  <form action="/peeps/new">
  <input class="button" type="submit" value="Post a Peep!"/>
  </form>

<ul>
  <% @peeps.each do |peep| %>
    <p><br><%= peep.text %><br>
      <%= Time.parse(peep.time).strftime("%H:%M, %d %B") %>
    </br></p>
  <% end %>
</ul>

</center>
