
<form action='/sign_in/new' method='get'>
  <input type='submit' value='sign-in'>
</form>



<% @peeps.each do |peep| %>
    <div>
      <%= peep.time %>
      <p> <%=peep.peep%>
      <p> <%=peep.username%>
    </div>
    <%end%>