<header>
  <h1>CHITTER</h1>
  <% if @user %>
    <h1>Welcome, <%= @user.username %></h1>
  <% end %>
</header>
<body>
  <h3>Post a new message!</h3>
  <form action="/" method="post">
    <input type="text" name="username" placeholder="Who are you?">
    <input type="text" name="message" placeholder="What's going on?">
    <button name="Send">Send</button>
  </form>
  <h3>Your Feed:</h3>
  <div>
    <% @messages.each do |message| %>
    <div>
      <p><%= message.username %></p>
      <p><%= message.time %></p>
      <p><%= message.content %></p>
    </div><br>
    <% end %>
  </div>
</body>
