	<h1> Welcome to Chitter! </h1>

	<form action='/sign-up' method='get'>
		<input type ='submit' id='sign-up-sign-in' value = 'Sign up'>
	</form>
	<br>
	<form action='/sign-in' method='get'>
		<input type ='submit' id='sign-up-sign-in' value = 'Sign in'>
	</form>
	