<html>
<body>

<h1>Chitter</h1>

<form action="/newpeep" method='post'>
<label for="message"> 
<i class='fas fa-user-alt' style='font-size:36px'></i>

<textarea name="message" rows="6" cols="30" placeholder="What's happening?"></textarea>
</label>
  <input type="submit" value="Peep">
  </input>
</form>

</body>
</html>