<h1 i class="fa fa-twitter" style="font-size:40px;color:blue">Welcome to Peep</h1>
<br>
<br>
<br>
<div class="row">
<div class="col-sm-4">
<form action='/users/new'>
<input class="btn btn-primary btn-md" type='submit' value='Sign in'><i class="fa fa-user"></i></input>
</form>
</div>
<div class="col-sm-8">
<form action='/sessions/new'>
  <input class="btn btn-primary btn-md" type='submit' value='Log in'></input>
</form>
</div>
