<style>
body {
  font-family: Helvetica Neue;
  background-color: #003459;
  overflow-x:hidden ;
}

header {
  width: 100%;

  padding: 8px 20px 8px 20px;
  background-color: #007EA7;
}

header h1 {
  padding-left: 20px;
  font-weight: 800px;
  font-size: 68px;
  color: #fff;
}

.buttons { 
  float: right;
}

section { 
  width: 80%;

  color: #fff;
  padding: 40px;
}

input[type=text] {
  padding: 8px;
  width:  360px;
}

input[type=submit] {
  padding: 8px;
}

a {
  display: block;
}

</style>


<header>
<% if !@username %>
<form class='buttons' action='/sign-up' method='get'>
  <input type='submit' value='Sign Up'>
</form>


<form class='buttons' action='/sign-in' method='get'>
  <input type='submit' value='Sign In'>
</form>
<% end %>

<% if @username %>
<form class='buttons' action='/sign-out' method='get'>
  <input type='submit' value='Sign Out'>
</form>
<% end %>

<h1> Chitter </h1>

</header>
<section>

<h2> Hello <%= @username %>, something on your mind? </h2>
<form action='/new-peep' method='post'>
  <input type='text' name='peep' placeholder='you were always on my mind'>
  <input type='submit' value='Tell The World'>
</form>
<h2> Peeps </h2>
<ul>
  <% @peeps.each do |each_peep| %>
  <li>
    <h3><%= each_peep.peep %></h3>
    <a><%= each_peep.time %></a>
    <a><%= each_peep.username %></a>
  </li>
  <% end %>
</ul>
</section>
