<div>

Sign up to Chitter

<form action= '/peep_index' method='post'>
  Email <input type="text" name="email"> <br />
  Password <input type="text" name="password"> <br />
  First Name <input type="text" name="first_name"> <br />
  Last Name <input type="text" name="last_name"> <br />
  Username <input type="text" name="username"> <br />
  <input type='submit' value='Sign Up'>
</form>

</div>
