<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="<%= url('./stylesheets/index.css')%>">
</head>
<body>

  <h1>Chitter</h1>

  <form action='/peeps/new' method='post'>
		<input type='text' id='peep' name='peep' placeholder="What's happening?">
		<input type='submit' name='submit' value='submit'>
  </form>

  <ul>
    <% @peeps.each do |peep| %>
      <li class="w3-panel w3-card"><%= peep['description'] %></li>
    <% end %>
  </ul>
  
</body>
