<body>
  <h1>Welcome to Chitter</h1>
  <form action="user/new" method="get">
    <input type="submit" name="" value="Sign up">
  </form>
  <form action="sessions/new" method="get">
    <input type="submit" name="" value="Sign in">
  </form>
</body>
