<!DOCTYPE HTML>
<html>
  <head>
    <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
    <link href="/css/buttons.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 7]> 
      <style type="text/css" media="all"> 
      @import url("cssbuttons/ieBrowserHacks.css");
      </style>
    <![endif]--> 
  </head>
  <body>
    <div class="wrapper">
      <header class="header">Hey, it's Chitter. Let's Peep!</header>
      <menu class="menu">
        <% if @user %>
          <h1>Welcome, <%= @user.username %></h1>
        <% else %>
          <div class="form">
            <form action="/users/new">
              <div class="cssbutton colors blue">
                <input type="submit" value="Sign-up">
              </div>
            </form>
          </div>
          <div class="form">
            <form action="/sessions/new">
              <div class="cssbutton colors blue">
                <input type="submit" value="Log-in">
              </div>
            </form>
          </div>
        <% end %>
      </menu>

      <main class="peeps">
        <div>Peep Away</div>
        <div class="form">
          <form action="/new" method="post">
            <label for="username">Enter username</label>
            <input type="text" id="username" name="username" />
            <label for="peep">Enter Peep</label>
            <input type="text" id="peep" name="peep"/>
            <div class="cssbutton colors blue">
              <input type="submit" value="add_peep">
            </div>
          </form>
        </div>
      </main>
      <footer class="footer">Footer</footer>

    </div>
  </body>
</html>
