<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% @peeps.each do |peep| %>
      <div class="peep"><h2><%= peep[:text] %></h2></div>
      <div class="author">-- <%= peep[:author] %></div>
      <form action="/delete" method="post">

      </form>
    <% end %>
    <form action="/peeps/new" method="GET">
      <input type="submit" value="Create a peep">
    </form>
  </body>
</html>
