<h1>Welcome to Chitter!</h1>

<form action="/new-peep" method="post">
  <input type="text" name="peep">
  <input type="submit" value="Post">
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
