<h2>Chitter</h2>
<h3>Welcome to Chitter</h3>
<p>Sign in to view and post peeps</p>

<form action="/peeps">
  <button>Sign in</button>
</form>

<form action="/users/new">
  <button>Sign up</button>
</form>