<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Welcome to Chitter <%=@user%></h1>
    <% if @user != nil %>
      <a href='/peeps/new'>Write a Peep</a>
    <% else %>
      <a href='/sessions/new'>Sign In</a>
      <a href='/users/new'>Sign Up</a>
    <% end %>
    <a href='/peeps'>View Peeps</a>
  </body>
</html>
