<h1> Welcome to Chitter </h1>

<form action='/user/signup'>
  <input type='submit' value='Sign Up'>
</form>

<form action='/peeps/post'>
  <input type='submit' value='Post a Peep'>
</form>

<form action='/peeps'>
  <input type='submit' value='View Peeps'>
</form>

