<div align='right'>
    <a href='/signup'>Sign Up</a>
    <a href='/login'>Log In</a>
</div>
<h6><br></h6>
<form action='/post_msg' method='post'>
  <textarea rows='8' cols='50' name='msg'></textarea><br>
  <input type='submit', value='send'>
</form>
