<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% if @user != nil %>
    <h1>Welcome to Chitter, <%= @user.name %>!</h1>
    <h2>We saved you your favourite branch. Peep away!</h2>
  <% else %>  
    <h1>Welcome to Chitter!</h1>
    <h2>Thanks for picking our branch (heh, get it?)</h2>
  <% end %>  
  <form action="/add-peep" method="post">
    <input type="text" name="new_peep">
    <input type="submit" value="Peep">
  </form>
  <ul>
    <% @peeps.each do |peep| %>
      <li><b>Peep:</b>
        <p><%= peep.content %></p></li>
      <p><b>Posted:</b></p>
      <p><%= peep.time.strftime "%D at %H:%M" %></p></li>
    <% end %>
  </ul>
  <form action="/sign-in" method="get">
    <input type="submit" value="sign in">
  </form>
</body>
</html>