<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Chitter</h1>
<h2>Please Sign in</h2>
<form action="/peeps" method="post">
  <input type="text" name="username" id="username-input">
  <button type="submit" name='login'>Login</button>
</form>
  
</body>
</html>