<div>
<h4 style="text-align:center;">Welcome to Chitter!</h4>
<div>

<div>
<a href='/peeps'>
<h4>See all peeps<h4>
</a>
<a href='/peeps/new' name="post a new peep">
<h4>Post a new peep<h4>
</a>

</div>