<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <header>
      <h1>Chitter</h1>
      <p class='subHeader'>A place to peep what everyone's thinking.</p>
    </header>
  </div>
</div>
<div class="container">
  <img src="speech.png" class="rounded mx-auto d-block">
</div>
<div class="container d-flex justify-content-center">
  <a class="btn btn-primary btn-lg" href="/peeps">See peeps</a>
<div>
