<html>
<body style="background-color:powderblue;">
<head>
  <title>HTML Elements Reference</title>
</head>
<body>
<h1>Welcome to Chitter! (NOT Twitter)</h1>
<div>
<a href="/signup">
<button type="button">Sign Up</button>
</a>
<a href="/home">
<button type="button">Home</button>
</a>
