<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Dosis|Josefin+Slab" rel="stylesheet">
<body>

<a href="/users/new"> Register</a>

<div>
<h1>Chitter</h1>

<h2>What's on your mind?</h2>

<form action="/peeps/new" method="post">
  <input type="text", name="peep", placeholder="Enter your peep here..." size="100">
  <input type ="submit" value="Submit">
</form>


<h2>Older peeps</h2>

<ul>
  <% @peeps.each do |peep| %>
  <strong><p><%= peep.date%> <%= peep.time%></strong> | <%= peep.peep %> </p>
  <%end%>
</ul></div>
</body>
