<center>
<h1> Chitter Feed </h1>
<h1> Welcome, <%= @username %> </h1>

<ul>
  <% @result.sort! { |a, b|  b.time <=> a.time } %>
  <% @result.each do |peep| %>
    <li><%= peep.peep %> <%= peep.time %></li>
  <% end %>
</ul>
</center>
