<h1>Welcome to Chitter App</h1>

<form action='/user/sign-up' method='get' >
  <input value='Sign Up' type='submit' >
</form>

<form action='/user/log-in' method='get' >
  <input value='Log In' type='submit' >
</form>