<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div class='navbar'>
<ul>
  <li class='navlink' id='navlogo'><a href="/">Chitter</a></li>
  <li class='navlink'>Hi, <%= session[:username] %>!</li>
  <li class='navlink'><a href="/logout">Log Out</a></li>
</ul>
</div>

<ul>
  <div class='peepform'>
    <form action='/' method='post'>
      <input type='textarea' name='peep' class='peep-area'><br>
      <input type='submit' class='peep-button' value='Peep'>
    </form>
  </div>
  <% @peeps.each do |peep| %>
  <div id='peep'>
    <p><span class="username"><%= peep.username %></span>
      <span class="peeptime"><%= peep.time %></span>
      <br><%= peep.peep %>
    </p>
  </div>
    <% end %>
</ul>
