<!DOCTYPE html>

<h1><center>WELCOME TO CHITTER</center></h1>

<form action='/message/new' method='post'>
  Enter your message:
  <input type="text" placeholder="Your message here" name="message" required>
  <button type="submit" value="message">Publish</button>
</form>