<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Welcome to Chitter!</title>
</head>
<body>
  <h3>Do you have something to peep?</h3>
  <form method="post" action="/peeps">
    <label>Content: </label>
    <input type="text" name="peep_content" />
    <label>Posted at: </label>
    <input type="timestamp" name="time_posted" />
    <label>by user: </label>
    <input type="int" name="user_id" />
    <input type="submit" value="Submit"/>
  </form>
<a href="/login">Login</a>
</body>
</html>