<center>
<body style='background-color:powderblue;'>
<h1 style='color:white;' align='center'>Welcome to CHITTER </h1>

<form name='input' action='/users/new' method='GET'>
  <input type='submit' value='Register'>
</form>

<form name='input' action='/users/login' method='GET'>
  <input type='submit' value='Sign in'>
</form>

</body>
</center>
