<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container">
  <form action='/sign-up' method='get'>
    <input type='submit' value='Sign-up'>
  </form>
  
  <form
  <% if @user %>
  action='/new'
  <% end %>

  <% if !@user %>
  action='/sign-up'
  <% end %>

  method='get'>
    <input type='submit' name='new-peep' value="New peep">
  </form>

  <h1>New peeps:</h1>

  <ul>
    <% @peeps.reverse.each do |peep| %>
    <div id="peep">
      <%= peep.username %> || <%= peep.content %> || <%= (peep.time)[0...16] %>
    </div>
    <% end %>
  </ul>
</div>
