<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <h1>Chitter</h1>

  <a href="/register">Register</a>
  <% if !logged_in? %><a href="/login">Login</a><% end %>

  <%# If Logged in then give the option to write a peep %>

  <% if logged_in? %>
    <div class="welcome-message">Logged in as <%= @username %></div>
    <a href="/logout">Logout</a>

    <div data-alert><%= flash[:failed_peep] %></div>
    <form action="/add_peep" method="POST">
      <label for="content">Peep: </label><input type="text" name="content">
      <input type="submit" value="Add Peep">
    </form>
  <% end %>


  <h2>Peeps:</h2>

  <% @peeps.each do |peep| %>
    <div class="peep__container">
      <div class="peep__content">
        <%=peep.content%>
      </div>
      <div class="peep__footer">
        <%=peep.user.username%>
      </div>
    </div>
  <% end %>



</body>
</html>