<ul>
  <% @blabs.reverse.each do |blab| %>
  <li><%= blab.timestamp[0..15] %><br><%= blab.content %></li>
  <% end %>
</ul>

<form action="/blabs" method="post">
  <textarea name="content" rows="3" cols="50" placeholder="enter your inane thoughts here"></textarea><br>
  <input type="submit" value="blab">
</form>
