<h1>Your list of peeps</h1>
<ul>
    <% @peeps.each do |peep| %>
    <li><%= peep.content %> was posted on: <%= peep.created_on %></li>
    <% end %>
</ul>
<h1> Post a new Peep! </h1>

<form action="/chitter" method="post">
  <input type="text" name="content" />
  <input type="submit" value="Add peep" />
</form>
<br>
<h1>Sign up to Chitter</h1>
<form action="/chitter/users" method="get">
  <input type="submit" value="Add user" />
</form>
<p>
<%= flash[:notice] %>
</p>
