<center><h1>Welcome to Chitter!</h1></center>

<center><form action="/peeps/new" method="post">
<textarea name=peep rows="4" cols="50" maxlength="100" placeholder="Write Peep Here..." required></textarea></center>
<center><input type='submit' value='Post Peep!'></form></center>
<br>
<center><form action="/peeps">
<input type='submit' value='View Peeps!'></center>
<br>