<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <% @peeps_list.reverse_each do |peep| %>
      <div>
        <p><%= @users.find(peep.user_id).name %> @<%= @users.find(peep.user_id).username %> - <%= peep.time %></p>
        <p><%= peep.content %></p>
        <br />
      </div>
    <% end %>
    <div>
      <a href="/peeps/new">Add a new peep</a>
    </div>
  </body>
</html>
