<h1>Welcome to Chitter</h1>
<p>Join our community</p>

<form action='/login' method='post'>
  <input type='text' name='name' placeholder='name' required><br><br>
  <input type='text' name='username' placeholder='username' required><br><br>
  <input type='email' name='email' placeholder='email' required><br><br>
  <input type='password' name='password' placeholder='password' required><br><br>
  <input type='submit' name='sign up'>
</form>

