<!DOCTYPE html>
<html>
<head>
  <link href="users/style.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
<% end %>

</body>
</html>
