<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="" rel="stylesheet">
  </head>
  <body>
      <% @posts.each do |post| %>
        <div>
          <p><%= post.content %></p>
        </div>
        <% end %>
  </body>
</html>
