<h1>Welcome to Chitter! </h1>


<body style='background-color: grey'>
<button style= 'padding:10px; border-radius: 10px; 
 background-color: teal; color: #FFFFFF; margin: auto; 
 display:grid; font-size: large; position:absolute; top: 50%; left: 30%; transform: translate(-50%, -50%)' ><a href="/peeps">Click here to view your peeps!</a> </button>

 <button style= 'padding:10px; border-radius: 10px; 
 background-color: teal; color: #FFFFFF; margin: auto; 
 display:grid; font-size: large; position:absolute; top: 50%; left: 70%; transform: translate(-50%, -50%)' ><a href="/new_peep">Click here to post a new peep!</a> </button>



</body>




