<!DOCTYPE html>
<html>
        <head>
	</head>
	<body>
		<div align="center"><h1 style="color: blue" > Welcome to Chitter! </h1>
	</body>

<form action="/"  method='post'>
  <label for='peep'> Write a new Peep!</label> <input type='text' name='peep'>
  <input class='button' type='submit' value='Post Peep'>
</form>
</html>