<h1> Chitter Chatter Pitta Patta</h1>
<div>
  <form action="/signup" method="get">
    <input type="submit" value="Sign Up">
  </form>
</div>
<div>
  <form action="/login" method="get">
    <input type="submit" value="Log In">
  </form>
</div>

<div>
  <form action="/message" method="post">
    <%= erb :text_box %>
  </form>

</div>
<div>
<% @messages.reverse.each do |message| %>
<%= message.created_at %> | : : : | <%= message.content %><br><br>

<% end %>

</div>
