 <%= styled_flash %>

<form action='/posts' method='post' />
  <input type= 'text' name='peep' />
  <input type='submit' value='Post' />
</form>

<form action='/' method='post'>
  <input type='submit' value='Post again' />
</form>
