<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Chitter app</title>
</head>
<body>
  <h1>Welcome to Chitter!</h1>
  <h2>What would you like to do?</h2>
  <h3><a href= '/users/new'>Sign up!</a></h3>
  <h3><a href= '/login'>Sign in!</a></h3>
</body>
</html>