<body style='background-color: grey'>
<button style= 'padding:10px; border-radius: 10px; 
 background-color: teal; color: #FFFFFF; margin: auto; 
 display:grid; font-size: large; position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)' ><a href="/bookmarks">Welcome to Chitter, click to post your peep!</a> </button>
 <a href='bookmarks.erb'>
</body>