<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chitter App</title>
  <head>

<body>

  <h1> Welcome to Chitter Ver1 </h1>
  <h3> Please enter your message.</h3>
  <br>
  <form action="/chitter" method="post">
    <input type="text" name="message" placeholder="Add message" size="80" />
    <input type="submit" value="Submit" />
  </form>
  <br>
  <%= @message %>
  <br>
  <h3> Click to add your message to Chitter. </h3>
  <button type="button" name="add_message">Add Message</button>
  <br>
  <hr>
  <br>
</body>
</html>
