<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title> Welcome to Chitter </title>
  </head>
  <body>
    <h1> Welcome to Chitter </h1>
    <img src="https://illustoon.com/photo/3088.png" alt="Cartoon Chicken"
    style="width:120px;height:142px;">
    <h3> The place to get all the latest peeps!</h3>
    <br>
    <form  action="/homepage/sign_in" method="get">
      <button type="submit" name="Sign In">Sign in</button>
    </form>
    <form  action="/homepage/sign_up" method="get">
      <button type="submit" name="Sign Up">Sign up</button>
    </form>

  </body>
</html>
