<h1>Welcome to Chitter!</h1>

<form action=/peeps method="get">
<input type="submit" name="peeps" value="See Peeps"><br>
<input type="submit" name="login" value="Login to Post New Peep" formaction="/login"><br>
<input type="submit" name="register" value="Create New Account" formaction="/new_account">
</form>
