<h1>Welcome to Chitter!</h1>

<form action='/peeps' method='get'>
  <label for='Enter'>Click here to enter Chitter</label>
  <input type='submit' value='Enter'>
</form>

<form action='/sign_up' method='get'>
  <label for='Sign up'>Don't have an account yet?</label>
  <input type='submit' value='Sign up'>
</form>