
<h1 style="text-align:center;color:purple">Welcome to Chitter</h1>

<br>

<form action="/add_peep" method="post">
<label for="name">Add your name:</label>
<input type="text" name="name"> <br>
<label for="username"> Add your username:</label>
<input type="text" name="username"> <br>
<label for="message"> Write your message:</label>
<input type="text" name="message"><br>
<input type="submit" value="Peep!">
</form>

