<head>
  <style>
  body {
    background-color: lightgrey;
  }

  .peep {
    text-align: center;
    border-style: solid;
    
  }
  .peep_style {
    font-size: 2em;
    font-family: 'Abel';
  }
  .formclass {
    display: inline;
  }
  </style>
</head>
<body>

<ul>
  <div style="text-align: center;">
    <a href="/new"> <button type="button">New Peep!</button> </a>
  </div>
  <% @peeps.reverse.each do |peep| %>
    <div class="peep" id="peep-<%= peep.id %>">
      Peep from: <%= peep.display_name %> <br>
      <%= peep.peep %> <br>
      Time of peep: <%= peep.time %>
      </a>
    <div>
  <% end %>
</ul>
