<form action="/sign_up" method="post">
  <input type="text" name="email" value="enter your email here please">
  <input type="text" name="email" value="enter your password here please">
  <input type="submit" value="Sign Up">
</form>