<h1>Welcome to Chitter</h1>

<form>
  <input type='text' name='name' placeholder='name' required>
  <input type='text' name='username' placeholder='username' required>
  <input type='email' name='email' placeholder='email' required>
  <input type='password' name='password' placeholder='password' required>
  <input type='submit' name='sign up'>
</form>

