<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Chitter Homepage</title>
    </head>
    <body>
        <h1>Chitter Homepage</h1>
        <% @complete_peep_info.each do |peep_info| %>
            <div>
                Name: <%= peep_info[:name] %><br>
                Username: @<%= peep_info[:username] %><br>
                Content: <%= peep_info[:peep].content %><br>
                Time posted: <%= peep_info[:peep].time %>
            </div><br>
        <% end %>

        <p>
            <a href="/peeps/new">Create a Peep</a>
            <a href="/signup">Sign up</a>
            <a href="/login">Log in</a>
            <a href="/logout">Log out</a>
        </p>
    </body>
</html>
