<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container-sm">
        <% if @current_user %>
          <p>Welcome, <%= @current_user.username %>!</p>
          <a href="/logout">Log Out</a>
          <a href="/create_post">Create Post</a>
        <% else %>
          <a href="/login">Log in</a>
          <a href='/register'>Register</a>
        <% end %>
      </div>
      <h1>Welcome to Chitter!</h1>
      <br>
      <% @posts.each do |post| %>
        <div><b>Chit:</b> <%=post.content%> <b>By:</b> <%=post.username%> <b>At:</b> <%=post.created_at.strftime("%F / %H:%M")%> </div>
      <% end %>
  </body>
</html>