<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

  <h1>Welcome to Chitter <%=@user%></h1>

  <form id="signUp" action="/registration" method="get">
    <input type="submit" value="Sign up" />
  </form>
  <form id="signUp" action="/sessions/new" method="get">
    <input type="submit" value="Log in" />
  </form>
  <form id="newPeep" action="/messages" method="post">
    <input type="message" name="message" placeholder="say something..."/>
    <input type="submit" value="Post" />
  </form>

  <ul>
    <% @peeps.each do |peep| %>
      <li id="peep"> <%= "#{ peep.peep }" %> </li>
      <p id="time"> <%= "Posted: #{ peep.time }" %> </p>
    <% end %>
  </ul>

</body>
</html>
