<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <ul><%= @peep %></ul>
    <form action="chitter/new">
	     <input type="submit" value="New Peep">
     </form>
  </body>
</html>
