<html>
  <form action="/create_new_peep" method="post">
    <input type="text" name="txt" />
    <input type="submit" value="Submit" />
  </form>
  <ul>
    <% @peeps.each do |peep| %>
      <li><%= peep.txt %><br><%= peep.ts %></li>
    <% end %>
  </ul>
</html>
