<h2> Welcome to Chitter </h2>
<h3> Let's get tweeting, uh I mean peeping </h3>
<form action="/peep" method='post'>
  <input type="text" name="text" placeholder='Insert peep'>
  <input type="text" name="user" placeholder='User'>
  <input type="text" name="handle" placeholder='Chitter handle'>
  <input type="submit" value="Submit">
</form>
