Chitter
<ul>
  <% @messages.each do |message|%>
    <li><%= message %> </li>
  <% end %>
</ul> 

<form action "/messages" method = "post" >
<input type="text" name="message">
<input type="submit" value="peep">
</form>

