<h1> WELCOME TO CHITTER </h1>

<p> Please see the most current peeps below: </p>

<ul id='peeps'>
  <% peeps.reverse.each do |peep| %>
    <li>
      <%= peep.content %>
      <i>Created: <%= peep.created_at.strftime("%A, %b %d %r") %> by <b> <%= User.get(peep.user_id).username %> </b> </i>
    </li>
  <% end %>
</ul>
