<ul>
  <h1>Greetings <%= @user_name %>!</h1>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <a>
        <%= peep.message %>
      </a>
      <form action="/peeps/<%= peep.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>
