<!DOCTYPE html>
<html>

<body>
<div>
<!-- <a href='/users/signin'>Sign in</a> |  <a href='/users/login'>Log in</a>  | <a href='/users/logoff'>Log off</a> -->
</div>

<h1>Peeps</h1>
<!-- <a href='/write_peep'>Write a new peep</a> -->
<div>
<% @peeps.each do |peep| %>
        <div>
        <b>By: <%= peep.find_maker_username %> At: <%= peep.created_at %></b>
        <p>
        <%= peep.content %> 
        </p>
        </div> 
         <% end %>  
</div>
</body>
</html>