<h1>Hi there! Welcome to chitter.</h1>

<form action="/postmessage">
    <input type="submit" value="post message" />
</form>

<br>
<ul>
  <% @peeps.each do |peep| %>
<li> <%= peep %> </li>
   <% end %>
 </ul>
