<div class='peeplist'>
    <ul>
    <% @sorted.each do |peep| %>
      <li><%=peep.user%> peeps: "<%= peep.content %>" <a href="/reply/<%=peep.id%>">reply</a></li>
          <% peep.replys.each do |reply| %>
            <li><%= reply.reply %></li>
          <% end %>
    <% end %>
  <ul>
</div>
