<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<table>
  <tr>
    <th style='text-align: left; colspan="2";'> Chitter </th>
    <th style='width:9%; text-align: right'> Sign Up </th>
    <th style='width:9%; text-align: right'> Login </th>
  </tr>
</table>
</body>

</html>