<head>
  <title>Chitter - Home</title>
  <style>
    body{
      background: linear-gradient(lightblue, green);
      margin: 50px;
      font-family: Comic Sans MS;
    }
    header{
      background: white;
      overflow: hidden;
      margin-left: -50px;
      margin-right: -50px;
      font-family: Times New Roman;
    }
  </style>
</head>

<body>
  <header>
    <h1 style ="margin-left: 50px;">Chitter</h1>
  
  </header>

  <h1>Welcome to Chitter!!!</h1>
  <br><br><br>
  <h2>Please enter your peep:</h2>
  <form action="/message" method="post">
    <textarea name="message" rows ="10" cols ="30"></textarea>
    <input type="submit" value="Post">
  </form>
  <br><br>

  <h2>Peeps:</h2>
  <div >
    <% @chitter.each do |chitter| %>
    <p>Peep: <%= chitter.message %>
      <br>
      Time: <%= chitter.time %></p>
    <% end %>
  </div>
</body>
