<form class="" action="post-peep" method="post">
  <input type="text" name="peep" value="peep">
  <input type="submit" name="Submit" value="Submit">
</form>

<ul>
  <% @peeps.each do |peep| %>
  <li><%= peep.string %></li>
  <% end %>
</ul>
