<h1 style="text-align:center;">CHITTER</h1>

<h3>Sign up to Chitter</h3>
<form action= "/users/new" >
  <input type="submit" value="Sign Up">
</form>

<h3>View Peeps:</h3>
<form action= "/peeps" >
  <input type="submit" value="View all Peeps">
</form>
