<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li><%= peep.time %> - <%= peep.message %></li>
  <% end %>
</ul>