<h3>New user? Please sign up</h3>

<div>

  <form method='POST'>

    <label for="sign_up_name">Name: </label>
    <input name='sign_up_name' type='text' required></br>

    <label for="sign_up_email">Email: </label>
    <input name='sign_up_email' type='text' required></br>

    <label for="sign_up_username">Username: </label>
    <input name='sign_up_username' type='text' required></br>

    <label for="sign_up_password">Password:</label>
    <input name='sign_up_password' type='password' required></br></br>

    <input type='submit' value='Sign up'>

  </form>

</div>

<a href='/log_in'><h4>I have already an account, I want to log in</h4>

<a href='/peeps'><h4>Go to main page without log in</h4>




