<h2>Chitter</h2>
<ul>
  <% @messages.each do |message| %>
    <%= message.text %> <span style="font-weight: bold;">created at: </span><%= message.time %>
  <% end %>
</ul>
<form action="/new_post" method="post">
  <input type="text" name="text" placeholder="message">
  <input type="submit" value="Post">
</form>