<ul>
  <% @cheets.each do |cheet| %>
  <li><%= cheet.message %><%= cheet.created_at %></li>
  <% end %>
</ul>

<div id="post-cheet">
  <form action="/cheets" method="post">
    Message: <input type="text" name="message">
    Posted on: <input type="date" name="date">
    <input type="hidden" name="user_id" id="user_id"value="1">
    <input type="submit" value="Post Cheet">
  </form>
</div>

