<html>
   <head>
      <link rel="stylesheet" href="/styles.css" />
   </head>
   <body>
      <div class="float-container">
         <div class="float-child">
            <div class="logo">
               <img src="logo.png" alt="Chitter logo" width="600" height="200">
            </div>
         </div>
         <div class="float-child">
            <div class="form">
               <h1>Log in:</h1>
               <form action="/" method="post">
                  <label for="username">Username:</label><br>
                  <input type="text" id="username" name="username" class="input-box"><br>
                  <label for="password">Password:</label><br>
                  <input type="password" id="password" name="password" class="input-box"><br>
                  <input class="button" type="submit" value="Log in">
               </form>
               <form action="/sign_up" method="get">
                  <a href="/sign_up">Click here to register for an account</a>
               </form>
            </div>
         </div>
      </div>
      <h1 class="peeps-header">Timeline</h1>
      <% @peep_repo.all.reverse.each do |peep| %>
      <div class="peep">
         <p class="peep-name"><%= @user_repo.find(peep.user_id).name %> </p>
         <div class="peep-text">
            <p>
            <div class=user-tag>@<%= @user_repo.find(peep.user_id).username %></div>
            : <%= peep.content %></p> 
         </div>
         <p class="timestamp"><%= peep.time_posted %></p>
         <button type="button" class="comments-button" onclick="alert('You have to be signed in to see the comments')">View comments</button>
      </div>
      <% end %>
   </body>
</html>