
<h1 style="text-align:center;color:purple">Welcome to Chitter</h1>

<br>

<form action="/add_peep" method="post">
<label for="name">Add your name:</label>
<input type="text" name="name"> <br>
<label for="username"> Add your username:</label>
<input type="text" name="username"> <br>
<label for="message"> Write your message:</label>
<input type="text" name="message"><br>
<input type="submit" value="Peep!">
</form>

<h2 style="text-align:right"> What everyone's saying </h2>
<ul style="text-align:right">
<ul>
  <% @peeps.each do |peep| %>
    <li style="text-align:right">
   <%= peep.name %> (<%=peep.username %>) : "<%=peep.message %>", at time <%= peep.time %>
    </li>
  <% end %>
</ul>
