<form action="/add" method="post">
  <label for="peep">
    What's on your mind?
    <input type="text" name="peep">
  </label>
  <input type="submit" value="Peep">
  </form>

  <form action="/sign_up" method="post">
      Join Chitter here:
    <input type="submit" value="Create an account">
  </form>
