<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% @peeps.each do |peep| %>
      <div class="peep"><%= peep[:text] %></div>
      <div class="author"><%= peep[:author] %></div>
    <% end %>

  </body>
</html>
