Chitter

<form action="/new_post" method="POST" >
<input type="text" name="message">
<input type="submit" name="submit" value="Peep!">
</form>

<ul>
  <% @posts.each do |post| %>
    <li><%= post %></li>
  <% end %>
</ul>