<form action="/new_post" method="post">
  What are you thinking?
  <br>
<textarea name="text" cols="40" rows="4" style="border: 2px solid black"></textarea>
<br/>
<input type="submit" value="Peep!"/>

</form>


<%= session[:post] %>