<ul> 
  <% @posts.each do |post| %>
  
<%= post.content %>
    
  <% end %>

  <form action="/new" method="post">
      <input type="text" value='content' name ='content'>
      <input type="submit" value='POST' name ='post'>
      </form>
</ul> 