<!DOCTYPE html>
<html>
  <body>

    <h2>Chitter</h2>
    <button onclick="location.href = '/peep/view';" id="viewPeepButton" class="submit-button" >View all peeps</button>
    <button onclick="location.href = '/peep/new';" id="newPeepButton" class="submit-button" >Add new peep</button>

  </body>
</html>
