<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter: Log in</title>
  </head>
  <body>
    <h3>Chitter</h3>
    <form class="" action="/users/new" method="get">
      <input type="submit" name="" value="Log in / Register">
    </form>
  </body>
</html>
