<div>

  <style>
    h1 {outline-color:green;}
    h1.outset {outline-style: outset;}
  </style>

  <center>
  <body bgcolor="#E6E6FA">


  <h1 class="outset"> Welcome to Chitter!!! </h1>

  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpnvr6JRhuu9EV0CtvyCv76gOaomxD7YQwkSVXvG5uU5l9JuxK' style='border: 3px solid black'>

  <h2> Please enter your name and press start to begin </h2>

  <form action="/user_name" method="post">
    <input type="text" name="name">
    <input type="submit" value="Start">
  </form>

  </center>
</div>
