<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1><%= styled_flash %></h1>
    <% if @user %>
      <h1>Logged in as <%= @user.handle %></h1>
      <a href="/sessions/destroy">Sign out</a>
    <% else %>
      <a href="/users/new">Sign up</a>
      <a href="/sessions/new">Sign in</a>
    <% end %>

    <% @peeps.each do |peep| %>
      <div class="peep"><h2><%= peep[:text] %></h2></div>
      <div class=""><h3><%= peep[:time] %> </h3></div>

      <form action="/delete" method="post">

      </form>
    <% end %>

  </body>
</html>
