<link rel="stylesheet" type="text/css" href="/stylesheets/chitter.css" />
<body>
  <div class="header">
    <% if @user %>
      <h1>Welcome to Chitter, <%= @user.name %>!</h1>
    <% else %>
      <h1>Welcome to Chitter!</h1>
    <% end %>
  </div>
  <div class="topnav">
    <% if !@user %>
      <a href='/sessions/new'>Sign In</a>
      <a href='/users/new'>Sign Up</a>
    <% end %>
      <a href='/peeps'>View Peeps</a>
  </div>
</body>
