'Hello, world!'
<div>
  <form action="/create" method="get">
    <input type="submit" name="create" value="Create Peep">
  </form>
  <form action="/peeps" method="get">
    <input type="submit" name="view_peeps" value="View Peeps">
  </form>
</div>
