<h1>Welcome to Chitter</h1>

<% if @user %>
    <h1>Welcome <%= @user.email %></h1>
  <% end %>

<ul>
  <% @peeps.reverse_each do |peep| %>
    <li id="peep-<%= peep.id %>">
      <%= peep.post %>
        <%= peep.time %>
      </li>
  <% end %>
</ul>

<form action="/post">
  <input type="submit" value="Post peep">
</form>
