<h1> Welcome to Chitter! </h1>

<form action='/register/new' method='get'>
<label for="register">Register for an account:</label>
  <input type="submit" name="Register" />
  </form>
<br>
<br>

<h2>View all Peeps:</h2>
<form action='/peeps' method='get'>
  <input type="submit" name="View Peeps" />
</form>
