<h1>Chitter Machine</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Players name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" name="submit">
</form>


