<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chitter</title>
<link rel = "stylesheet" href="styles.css"/>
</head>
<body>
<nav>
<div class = "logo"> CHITTER</div>
<div class = "nav-items">
<a href="/">HOME</a>
<a href="/">ABOUT</a>
<a href="/">CONTACT</a>
</div>
</nav>
<section class="hero">
<div class="hero-container">
<div class="column-left">
    <h1>Chit chit, chat chat <h1>
    <p> Tell the world how you feel <p>
    <p> completely free <p>  
     <form action="users/new" method="get">
        <button type="submit" value="Get Started">Get Started</button>
      </form> 
 </div>
 <div class="column-right">
 <img src ="images/birdchit.png" alt="chitter" class="hero-image">
 </div>
</div>

</body>
</html>

