<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<br><h1><p class="text-success">Chitter</p></h1>
<center><br><h1>Welcome to Chitter!<h1>
<a class="btn btn-success" href = '/sign_up' role="button">Sign Up</a>

</center>