<html>
  <head>
    <link type='text/css' rel='stylesheet' href='./css/style.css'>
  </head>
  <body>
    
    <h1>Welcome to Chitter App</h1>
    
    <div class='main_div'>
      <div class='flex_div'>
        <form action='/user/sign-up' method='get' >
          <input value='Sign Up' type='submit' >
        </form>
      </div>
      <div class='flex_div'>
        <form action='/user/log-in' method='get' >
          <input value='Log In' type='submit' >
        </form>
      </div>
    </div>

    <div>
      <img id='img' src='../images/chitchat.jpg' alt='chitter'>
    </div>

  </body>
</html>
