<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"><link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

  <div class="top_bar">
    <h1>Chitter.</h1> 
  </div>

    <form action="/chitter_board" method="post">
      <legend>Make a peep below:</legend>
      <br>
      <label>Name: <input type="text" name="user"></label>
      <label>Message: <input type="text" name="message"></label>
      <input type="submit" value="Submit">
    </form>
  </body>

</html>
