<center>
<div id="jumbotron-override" class="jumbotron">
  <h1 id="index_heading" class="display-4">Welcome to Chitter</h1>
  <p class="lead">Head on over to the Chitter feed to see what's going down.</p>
  <hr class="my-4">
  <p>Log in to send messages or click sign up button below for a free account.</p>
  <span>
  <form class="btn" action="/chitter/sign_up" method="get">
    <input id="sign_up_btn" class="btn btn-primary" type="submit" name="" value="Sign up">
  </form>
  </span>
</div>
