<html><br><br><br><br><br><br>
  <body style="background-color: #1DA1F2; text-align:center">
    <link rel="stylesheet" href="./stylesheets/application.css">
      <div class="layout">
        <img id="main-image" src="/img/chitter2.png" alt="Chitter logo" width="500px">
          <form action="/" method="get">
            <input type="submit" value="Login" />
              <form action="/" method="get">
                <input type="submit" value="Sign up" /></form>
              <form action="/peeps" method="get">
                <input type="submit" value="Post as guest" />
              </form>
            </form>
          </form>
            <h2><strong>Currently Trending:</strong></h2>
              <h4><%= ["#ALIENSDISCOVERED", "#TRUMP2024", "#COVIDISNTGOOD"].sample %></h4>
              <h4><%= ["#DATASBASESAREFUN", "#STUTURNS30", "#MAKERSSPRINGBREAK"].sample %></h4>
              <h4><%= ["#WORLDPEACE", "#WORLDWARIII", "#ESKIMOVARIANT"].sample %></h4>
              <h4><%= ["#COMMUNISMSUCKS", "#CAPITALISMSUCKS", "#EVERYTHINGSUCKS"].sample %></h4>
          </div>
        </html>