<html>
  <head>
  </head>

  <body>

    <h2>Welcome to Chitter</h2>

    <div class="sign_in">
      <form action="/sessions/new" method="get">
        <input type="submit" value="Sign In" />
      </form>
    </div>

    <div class="sign_up">
      <form action="/users/new" method="get">
        <input type="submit" value="Sign Up" />
      </form>
    </div>

  </body>
</html>
