<a href="https://github.com/DanGyi23/chitter-challenge">
  <img align ='right' height='50' width='50' style='margin:10px;margin-left: -60px' src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>

<h1> Welcome to Chitter. Log In or Sign Up </h1>

<form action='/login' method='post'>
  <label for='email'>Email</label>
  <input type='text' name='email' placeholder='Email'>
  <br>
  <label for='password'>Password</label>
  <input type='text' name='password' placeholder='Password'>
  <br>
  <button type='submit' name='Log In'>Log In</button>
</form>

<h3>
 <em><%= flash[:notice] %></em>
</h3>

<br>
<a href="/signup">Sign Up Here</a>