<h1>Chitter</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>

<form action="/peeps" method="post">
  <input type="text" name="new_peep" placeholder="What's on your mind?">
  <input type="submit" value="Post Peep">
</form>
