<h1> Welcome to Chitter! </h1>

<% if @user %>
Welcome <%= @user.name %> - <%= @user.handle %>
<% end %>

<form action='/create_peep' method="get">
  <input type='submit' value='New Peep'>
</form>
<form action='/sign_up' method="get">
  <input type='submit' value='Sign Up'>
</form>
<ul>
  <% @peeps.each do |peep| %>
  <%= peep.message %><br>
  Posted: <%= peep.timestamp %><br>
  <% end %>
</ul>
