<!DOCTYPE html>
<html>
<title>chitter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
<h1>chitter</h1>

<% if session[:user] == nil %>
<a href="/sign_in">sign in</a><p>
<a href="/sign_up">sign up</a>
<% else %>
  <h2> welcome <%= session[:user] %> </h2>
  <div class="hot-container">
    <form action="/log_out">
      <input class="btn" type="submit" value="log out" name="log_out">
    </form>
  <form action="/peep" method="post">
    <input type="text" name="peep" placeholder="new peep" size="100">
    <input class="btn" type="submit" value="submit">
  </form>
</div>
<% end %>

<ul id='links' border="1px">
  <% @peeps.each do |peep| %>
    <li>
      <h5><%= @users.get(peep.user_id).name %> <br> </h5>
      <h3><%= peep.text %></h3>
      <%= peep.date_time.strftime("%d-%m-%Y %H:%M") %>
    </li>
  <% end %>
</ul>

</html>
