
<html lang="en">
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Chitter</title>
    
  </head>
  <body class="d-flex flex-column">
    <div id="page-content">
    <div class="container">
    <div class="row">
      <div class="col-sm">
      <a href="/signup" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Sign up</a>
      </div>
      <div class="col-sm">
      <a href="/peeps" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">See all peeps</a>
      </div>
      <div class="col-sm">
      <a href="/peeps/new" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Post a peep</a>
      </div>
    </div>
  </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Chitter</small>
      </div>
    </footer>
  </body>
</html>
