<!-- GET / -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <h1>Chitter</h1>
  <div>
    <% if @status == false %>
      <a class="btn btn-primary"  href="/login" role="button">Log in</a>
      <a class="btn btn-primary" href="/signup"  role="button">Sign up</a>
    <% else %>
      <a class="btn btn-primary" href="/logout"  role="button">Log out</a>
      <a class="btn btn-primary" href="/peep"  role="button"><b>Peep</b></a>
    <% end %>
  </div>

  <% @peeps.zip(@name, @username).reverse_each do |peep, name, username| %>
    <div>
      <p><%=name%> | <em>@<%=username%></em></p>
      <a href="/peep/<%=peep.id%>"><%=peep.content%></a>
      <br />
    </div>
      <% end %>
    
</body>
</html>