<header>
<% if !@user %>
<form class='buttons' action='/sign-up' method='get'>
  <input type='submit' value='Sign Up'>
</form>


<form class='buttons' action='/sign-in' method='get'>
  <input type='submit' value='Sign In'>
</form>
<% end %>

<% if @user %>
<form class='buttons' action='/sign-out' method='get'>
  <input type='submit' value='Sign Out'>
</form>
<% end %>

<h1> Chitter </h1>

</header>
<section>

<% if @user %>
<h2> Hello <%= @user.username %>, something on your mind? </h2>
<% end %>

<form action='/new-peep' method='post'>
  <input type='text' name='peep' placeholder='you were always on my mind'>
  <input type='submit' value='Tell The World'>
</form>
<h2> Peeps </h2>
<ul>
  <% @peeps.each do |each_peep| %>
  <li>
    <h3><%= each_peep.peep %></h3>
    <a><%= each_peep.time %></a>
    <a><%= each_peep.username %></a>
  </li>
  <% end %>
</ul>
</section>
