<h1>Chitter</h1>
<form action='/peep' method='get'>
  <input type='submit' value='Peep'>
</form>
<form action='/sign_up' method='get'>
  <input type='submit' value='Sign Up'>
</form>
<ul>
  <% @peeps.each do |peep| %>
    <p><%= peep.username %> says:
      <%= peep.peep %><br>
      <%= peep.time %>
    </p>
  <% end %>
</ul>
