<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlyPhans</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <section>
      <h1>OnlyPhans</h1>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" />
        <label for="password">Password</label>
        <input type="text" id="password" />
        <button id="login">Login</button>
      </form>
    </section>
  </body>
</html>
