<h1>Chitter</h1>
<form action='/users/signup' method='get'>
  <input type='submit' value='Sign up'/>
</form>
<% @peeps.each do |peep| %>
  <article>
  <br>
  <% user = peep.user_info %>
  <%= user['name'] %> @<%= user['username'] %>
  <br>
  <%= peep.text  %>
  <br>
  <%= peep.time %>
  <br>
  </article>
<% end %>
<br>
<% if @signed_up %>
<form action='/peeps/post' method='get'>
  <input type='submit' value='Post'/>
</form>
<% end %>
