<h2>Welcome to Chitter!</h2>
<h5>
  <p>
    <form action = "/chitter/peep/all" method="GET">
      <button type = "submit">View all Peeps</button>
    </form>
  </p>
  <p>
   OR
  </p>
  <p>
    <form action = "/chitter/signup" method="GET">
      <button type = "submit">Signup</button>
    </form>

    <form action = "/chitter/login" method="GET">
      <button type = "submit">Login</button>
    </form>
  </p>
  <p>
    to post a peep!
  </p>
</h5>
