<!-- greeting -->
<img src="http://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png">

<!-- log-in textbox -->
<form method="get" action="/newsfeed">
<input type="submit" value="Log-in" />
</form>

<!-- sign-up textbox -->
