<html>
<head>
  <title>Chitter!</title>
</head>
<body>
  <h1>Welcome to Chitter</h1>
  <ul>
    <% @peeps.reverse_each do |peep| %>
      <li id="peep-<% peep.id %>">
        <%= peep.text %>
      </li>
    <% end %>
  </ul>

  <form action="/chitter/new" method="GET">
    <input type="submit" value="New peep">
  </form>
</body>
</html>
