<head>
  <title>Twatter</title>
</head>
<style>
  body{
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.prfile {
  position: relative;
  border-style: outset;
}
.message_new {
  transform: skew(5deg, 0deg);
  margin-right: 45%;
  margin-left: 25%;
  position: relative;
  border-radius:0px 50% 0% 50%;
  background:radial-gradient(ellipse farthest-side at center center, rgb(245, 245, 245) 0%, rgb(80, 161, 241) 80%);
  border-width:5px;
  border-style:outset;
  border-color:lime;

}
.message_box {
  transform: skew(-5deg, 0deg);
  position: relative;
  padding: 2%;
  width: 70%;
  height: 20%;
  border-radius: 0px 20% 20% 20%;
  box-sizing: border-box;
  
}
.message_sub {
  transform: skew(-5deg, 0deg);
  position: relative;
  background-color: blue;
  color: white;
  padding: 1.5%;
  border-radius:0px 10% 50% 50%;
}
.twats {
  border-width:8px;
  border-style:solid;
  border-radius: 20px 20px 30px 0px;
  margin-left: 20%;
  margin-right: 30%;
  background:radial-gradient(circle farthest-side at center center, rgb(245, 238, 238) 0%, rgb(235, 237, 186) 80%); 
}
.date {
  color: teal;
  background:radial-gradient(circle farthest-side at center center, rgb(237, 152, 152) 0%, rgb(214, 237, 214) 80%);
  border-style: dashed;
  border-color: teal;
  border-radius: 0px 30px 30px 0px;
}
.logo {
  position: relative;
  text-shadow: 7px 5px 11px rgba(28,110,164,0.79);
  font-family: Impact, Charcoal, sans-serif;
  font-size: 400%;
  letter-spacing: 3.2px;
  word-spacing: 5.2px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: overline;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.profile {
  margin-top: 4%;
  border-style: outset;
  position: relative;
  margin-right: 20%;
  height: 80%;
}
.leftcol {
  font-family: Georgia, serif;
  font-size: 22px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  float: left;
  width: 25%;
}
.centercol {
  overflow:hidden;
}
}
.rightcol {
  
  float:right;
  width: 50%;
}
.profilehead {
  margin-top: 0%;
  background-color: blue;
  border-style: solid;
  text-shadow: 7px 5px 11px rgba(28,110,164,0.79);
  font-family: Impact, Charcoal, sans-serif;
  font-size: 100%;
  letter-spacing: 3.2px;
  word-spacing: 5.2px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.flash{
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ddd;
  color: #666;
  border: 1px solid #ccc;
}
.success {
  background: #B1FF35;
  color: green;
  border: 1px solid #D6E9C6;
}
.fail {
  background: red;
  color: red;
  border: 1px solid #D6E9C6;
}
</style>
<body>
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
  <div class="logo">Twatter</div>
<div class=leftcol>
  <div class="profile"align="center">
  <h1 class="profilehead"align="center">Your Profile</h1>
  <br>
  <form id="new_account"action="/new"method="post">
    Username
    <input name="username"type="text">
    <br>
    Password
    <input name="password"type="text">
    <br>
    email
    <input name="email"type="text">
    <br>
    name
    <input name="name"type="text">
    <br><br>
    <input id="create_account"value="Create Account"type="submit">
  </form>
  <form id="login"action="/login"method="post">
    Username
    <input name="login_username"type="text">
    <br>
    Password
    <input name="login_password"type="text">
    <br>
    <input id="create_account"value="Login"type="submit">
  </form>
  </div>
</div>
<form action="send-message" method="post">
<div class="message_new"align="center">
    <br><br>
    <textarea id="new_message" class="message_box" name="new"rows="5"cols="5"></textarea>
   <input type="submit" class="message_sub" value="Send">
   <br><br>
  </div>
</form>
<div id="messages"class="messages">
    <% unless @messages.nil? %>
    <% @messages.reverse.each do |entry| %>
    <div id="twats"class="twats">
    <h1 class="date"><%= entry[:date] %></h1>
    <h2><%= entry[:msg] %></h2>
    </div>
    <% end %>
    <% end %>
</div>
</body>

    