<ul>
  <% @peeps.each do |peep| %>
  <li class="peep" >
    <%= peep.text %>
    <% end %>
    </ul>

    <form action="/peeps/new" method="get">
      <input type="submit" value="Add a new peep" />
    </form>
