<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Chitter!</title>
</head>
<body>
  <h1>Welcome to Chitter!</h1>

  <form method="post" action="/sign_up">
    <a href="/sign-up">Sign Up</a>
</form>
</form>
  <form method="post" action="/sign_in">
    <a href="/sign-in">Sign In</a>
</form>
</body>
</html>