<h1> Chitty Chitty Bang Bang! </h1>

<h3> Sign up for Chitter: </h3> <br>
<form action='/chitter' method='post'>
  Name:
  <input type='text' name='name' placeholder='Jill Smith' required> <br>
  User Handle:
  <input type='text' name='user-handle' placeholder='Jilly S' required> <br>
  Email:
  <input type='text' name='email' placeholder='j.smith@hotmail.com' required> <br>
  Password:
  <input type='password' name='password' minlength='8' required> <br>
  (Minimum length of 8 characters) <br>
  <input type='submit' value='Sign in'> <br>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li> <%= peep.content %> <br> Created at: <%= peep.created_at %> </li>
  <% end%>
</ul>
