<h1> Welcome to Chitter!</h1>

<h2>Sign Up!</h3>
  <form action="/users/new1" method="post">
    Username: <input type="text" name="username" /> <p></p>
    Name: <input type="text" name="name" /> <p></p>
    Email: <input type="text" name="email" /> <p></p>
    Password: <input type="text" name="password" /> <p></p>
    <input type="submit" value="Submit!" />
  </form>
