<h1 i class="fa fa-twitter" style="font-size:40px;color:blue">Welcome to Peep</h1>
<br>
<form action='/users/new'>
<input type='submit' value='Sign in'><i class="fa fa-user"></i></input>
</form>
<br>

<form action='/sessions/new'>
  <input type='submit' value='Log in'></input>
</form>
