<h1>Chitter</h1>
<% if @user %>
<p>Logged in as <%= @user.name %>!</p>
<form action="users/logout" method="get">
  <input type="submit" value="Log out">
</form>
<% else %>
<h2>Please log in or sign up:</h2>
<form action="users/login" method="get">
  <input type="submit" value="Log in">
</form>
<form action="users/new" method="get">
  <input type="submit" value="Sign up">
</form>
<% end %>

<% if @user %>
<h2> Post a peep</h2>
<form action="/peep" method="post">
<input type="text" name="content">
<input type="submit" value="Peep!">
</form>
<% end %>

<h3> Timeline </h3>
<% @timeline.each do |peep| user = User.find_id(peep.user_id) %>
  <p> <%=peep.content %></p>
  <p> Posted by <%= user.username %> at <%= peep.time %></p>
<% end %>
