<h1>Chitter Chat</h1>
<form action ='/tweets' method ='get'>
<input type = 'text' name ='tweet' placeholder= 'Enter tweet here...'>
<input type ='submit' value ='Tweet'/>
</form>

<form action ='/index' method ='post'>
<input type = 'submit' name ='view' value='View tweets'>
</form>

<% if params[:view] %>
<% @chitter.each do |tweet| %>
<div class ='tweet'>
<%= tweet.tweet %> <%= tweet.time %> 
</div>
<% end %>

<% end %>


<style>

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
}

.tweet {
  display: flex;
  flex-direction: column;
  padding: 10px;
}