<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter!</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <form action='/users/new'>
      <input type='submit' value='Sign up!'>
    </form><br>
    <form action='/sessions/new'>
      <input type='submit' value='Log in!'>
    </form><br>
    
    Last peeps:
    <ul id='peeps'>
      <% @peeps.each do |peep| %>
        <li><%=User.get(peep.user_id).username%>: '<%=peep.message%>' --> <%=peep.time%></li>
      <% end %>
    </ul>
  </body>
</html>
