<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chitter</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link rel="icon" href="img/favicon-32x32.png">
</head>
<body>
  <h1>Chitter</h1>

  <section id="new-peep">
    <h2>Create Peep</h2>
    <form action='/add_peep' method="POST">
      <label for="peep">Peep: </label>
      <input type="text" maxlength="280" name="peep">
      <input type="hidden" value="1" name="user">
      <input type="submit" value="Submit">
    </form>
  </section>
  <section id="timeline">
    <h2>Peep Timeline</h2>
    <ul>
      <% @peeps.each do |peep| %>
        <li class="timeline">
          <div class="timeline_peep"><%= peep.peep %></div>
          <div class="timeline_user"><%= peep.user %></div>
          <div id=<%"#{peep.peep_id}"%> class="timeline_timestamp"><%= peep.timestamp %></div>
        </li>
      <% end %>
    </ul>
  </section>
</body>
</html>
