<h1>Chitter</h1>
<p><a href="/messages/new">Add a message</a></p>
<ul>
  <% @messages.each do |peep| %>
    <li>
      <h2><%= peep.message %></h2>
      <p>Date and time of peep: <%= peep.date %></p>
    </li>
  <% end %>
</ul>
