<h1> Welcome to Chitter</h1>
<p>Enter your message:</p>
<form action="/message" method="post">
  <input type="text" name="content" size=100 placeholder="Your message">
  <input type="submit" value="Submit">
</form>
