<div class='peeplist'>
    <ul>
    <% @sorted.each do |peep| %>
      <li><%=peep.user%> peeps: "<%= peep.content %>"<li>
          <% peep.replys.each do |reply| %>
            <%= reply.reply %>
          <% end %>
         <a href="/reply/<%=peep.id%>">reply</a>
    <% end %>
  <ul>
</div>
