<div class="home-page-text form-container">
  <h3> New to Chitter?  </h3>

  <form action='/users/new' method='get'>
      <input class="button" type="submit" value="Sign up"/>
  </form>

<h3> Already a user? </h3>
  <form action='/sessions/new' method='get'>
      <input class="button" type="submit" value="Log in"/>
  </form>

<form action="/sessions/destroy" method="post">
  <input class="button" type="submit" value="Log out" />
</form>

</div>

