<body style="text-align: center">
  <h2 style="text-align: center">Chitter feed</h2>
  <%= flash[:user] %>
  <% @peeps.each do |peep| %>
    <h3><%= "#{peep.time_stamp} - #{peep.author}: "%></h3><ul><%= "#{peep.text}" %><br></ul>
  <% end %>
</body>

<br>

<form style="text-align: center" action="/add" method="post">
  <p>New Peep: (max 140 chars)</p>
  <input type="text" name="text">
  <p>Your name:</p>
  <input type="text" name="author">
  <input type="submit" value="Post new Peep">
</form>

<form action="/sign_up" method="get">
  <input type="submit" value="Sign Up">
</form>

<%= flash[:user_error] %>
