<h1>Welcome to chitter!</h1>
<br>
<form action='/sign-up' method='GET'>
  <input type='submit' value='Sign up'>
</form>
<form action='/log-in' method='GET'>
  <input type='submit' value='Log in'>
</form>
<form action='/peeps' method='GET'>
  <input type='submit' value='See peeps'>
</form>
