<h1> Welcome <%=@id%> to your homepage </h1>
<h2> Below are all the peeps from yourself and those you follow! </h2>

<form action="/peeps/add_peeps" method="post">
  <input type="submit" value="Add new peep">
</form>

<ul>
  <li
  <h3> <%=@peeps%> </h3>
  </li>
</ul>