<% if @user %>
  <h1>Welcome to Chitter, <%= @user.username %>!</h1>
  <br>
  <br>
<% else %>
  <form class="" action="/user/signup" method="get">
    <input type="submit" name="signup" value="Sign Up">
  </form>
  <form class="" action="/user/login" method="get">
    <input type="submit" name="login" value="Log In">
  </form>
<% end %>
chitters post here...
<br>
<br>


<ul>
  <% Peep.all.each do |peep| %>
    <li><%= peep.content %>
      <br>
      <i><%= peep.username %> at <%= peep.timestamp %></i>
      <br>
      <br>
    </li>
  <% end%>
</ul>
<br>
<form class="" action="/add-peep" method="get">
  <input type="submit" name="add-peep" value="Add Peep">
</form>
