<h1>Chitter</h1>

<% if !@user %>
  <form action="/sessions/create" method="post">
    <input type="submit" name="type" value="Log In">
    <input type="submit" name="type" value="Sign Up">
  </form>

<% else @user %>
  <h2>Welcome <%= @user.username %> </h2>

  <form action="/peeps/create">
    <input type="submit" name="send" value="Write a Peep">
  </form>
<% end %>

<% if !@peeps.empty? %>
  <% @peeps.each do |peep| %>
    <div class='container'>
      <div class="card" style="width: 50%; margin: 2px auto;">
        <div class="card-body">
          <h6 class="card-subtitle"><%= peep.username %></h6>
          <h6 class="card-subtitle"><%= peep.timestamp %></h6>
          <p class="card-text"><%= peep.peep %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<form action="/sessions/delete" method="post">
  <input type="submit" value="Log Out">
</form>