<h1>Welcome to Chitter!</h1>

<form action="/peep" method="post">
  <label for="your peep">Start peeping!</label><br>
  <input type="text" id="peep" name="peep" placeholder="start typing!"><br>
  <input type="submit" value="Submit">
</form>
