
<form action="/post" method="post">
  <input type="text" name="posts_a_peep">
  <input type="submit" value="Post">
</form>

<ul>
  <% @peeps.each do |peep| %>
  <li><%= peep.posts_a_peep  %></li>
  <% end  %>
</ul>
s
