<!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
  </head>

  <body>
    <div id='container'>
      <div id='image_logo'>
      </div>
      <h1>Chitter</h1>
      <h3>Login in or Sign in to have fun</h3>

      <form action='/home'>
        <input type='submit' value='Login' id='button'>
      </form>
    </div>
  </body>
</html>