<center>
<div>
<h1>Welcome to Chitter</h2>
  <%= styled_flash %>
  <form action="/users/new" method='get'>
    <input type="submit" value="Sign Up" />
  </form>
  <form action="/sessions/new" method='get'>
    <input type="submit" value="Log in" />
  </form>
</div>

<div>
  <h2>What are member's peeping about today?</h2>
  <% @peeps.each do |peep| %>
    <div>
        <ul>
          <p> <font size='3'> <%= peep.comment %> </font> </br>
            <font size='1'>  posted on <%= peep.time %> by <%= peep.user %> </font>
          </p>
       </ul>
    </div>
  <% end %>
</div>


</center>
