<h1>Welcome to my Chitter!<h1>

<form action='/peeps' method='post'>
  <label for="peeps">
    Please fill in your peeps:
    <input type="text" name="peeps">
  </label>
  <input type="submit" value="Tweet">
</form>
