  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>CHITTER</h1>
      </div>
      <div id="content">
        <form action="/users/new" method="get">
          <input type="submit" value="sign up">
        </form>
        <br>
        <% @peeps.each do |chit| %>
          <font size="4"><%= chit.peep %></font>  <font size="1"> by anon at <%= chit.time %></font>
          <br><br>
        <% end %>
      </div>
    </div>
  </body>
