<h1>Chitter!</h1>

<form action="/users/sign-up" method="get">
  <input type="submit" value="Sign Up" />
</form>

<form action="/users/sign-in" method="get">
  <input type="submit" value="Sign In" />
</form>

<% if @user %>
  <h2>Welcome, <%= @user.name %>
<% end %>

<h2>Posts:</h2>

<ul>
  <% @messages.reverse.each do |message| %>
    <p class="message">
      <%= DateTime.parse(message.time).strftime("%d/%m/%y %H:%M") %>:
      <%= message.content %></p>
    <br>
  <% end %>
</ul>

<form action="/write-peep" method="get">
  <input type="submit" value="Write Peep" />
</form>
