<h1> Welcome to Chitter! </h1>

<h2> To sign up, please fill in your full name and username below</h2>

<form action="/signin" method="post">
  <h3>Name</h3>
  <input type="text" name="name">
  <h3>Username</h3>
  <input type="text" name="user">
  <input type="submit" value="Sign up">
</form>

<form action="/peeps">
  <input type="submit" value="View peeps">
</form>