<html>
  <head>

  </head>
  <body>
    <p>testing</p>
    <form action="/peep" method="post">
      <input type="text" name="user" placeholder="Enter your username">
      <input type="text" name="peep" placeholder="Peep here">
      <input type="submit" value="Peep">
    </form>
    <ul>
      <% @peeps.each do |peep| %>
      <li>
        <%= peep %>
      </li>
      <% end %>
    </ul>
    <% connection = PG.connect(dbname: "chitter_test") %>
    <% peeps = connection.exec("SELECT * FROM peeps") %>
    <% peeps = peeps.map { |row| row } %>
    <ul>
    <% peeps.each do |row| %>
    <li>
      <%= row['peep'] %>
    <% user = connection.exec("SELECT * FROM users WHERE id = '#{row['user_id']}'") %>
    <% user = user.map { |user| user['author'] } %>
    <%= p user %>
    <% end %>

  </li>
</ul>
  </body>
</html>
<!-- <form action="/getlink" method="get">
  <input type="submit" value="Add link">
</form> -->
