<center><h1>Welcome to Chitter</h1>
<form action='/all_peeps' method='post'>
  <input type='submit' value='See All Peeps'>
</form>
<br>
<div>
  <form action='/home' method='post'>
    <input type='text' name='peep' placeholder='Just Peep It Man'>
    <input type='submit' name='Make Peep'>
  </form>
</div></center>

