<form method="POST" action="/create">
    <label>Peep: </label>
    <input type="text" name="the_peep" />
    <input type="submit" />
    
    <label>User name: </label>
    <input type="text" name="user_name" />
    <input type="submit" />


</form>