<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/chitter_style.css">
  </head>
  <body>
  <h3>Chitter <%="- #{User.logged_in_name} logged in" if User.logged_in_name%></h3>
  <form action="/login" method="get">
    <input type="submit" value="Login">
  </form>
  <form action="/logout" method="get">
    <input type="submit" value="Logout">
  </form>
  <form action="/signup" method="get">
    <input type="submit" value="Signup">
  </form>
  <form action="/new" method="get">
    <input type="submit" value="New Peep!">
  </form>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.message %><br><br>
      <small><%= peep.created_at %></small>
      </li>
  <% end %>
  <br>
  <form action="/" method="post">
    <input type="text" name="message">
    <input type="submit" value="Peep!">
  </form>
  </body>
</html>
