<!DOCTYPE html>
<html>
<head>
  <title>CyberTwitter</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/index_style.css">
</head>
<body>
  <div class="container">
    <div class="overlay"></div>
    <div class="content">
      <h1 class="heading">Welcome to CyberTwitter</h1>
      <p class="tagline">Connect and share in a cyberpunk world</p>
      <div class="buttons">
        <a href="/signup" class="signup-button">Sign Up</a>
        <a href="/login" class="login-button">Log In</a>
      </div>
    </div>
  </div>
</body>
</html>
