<h1>WELCOME TO CHITTER</h1>

<h3>Add your Peep below!</h3>

<form action='peep_page' method='post'>
    <input type='text' name='text' placeholder='type here' />
    <input type='submit' name='Submit' />
</form>


