<h1 style="color:blue;">Chitter</h1>
<form action="/peep" method="post">
  <label for="message">
    What is your Peep?
    <input type="text" name="message">
  </label>
  <input type="submit" value="Submit">
</form>