<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>

	<form action="/users/new" method="get">
		<input type="submit" value="Register">
	</form>
  </body>
</html>
