<h1>Chitterz</h1>
<div>
<% @peeps.each do |peep| %>
<span><%= peep.body %></span><br>
<span><%= peep.created_at %></span><br>
<span>PEEPED BY to_be_implemented </span><br>
<% end %>
</div>
<a href="/peepery">You can Peep again</a>