<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Feed</title>
  </head>
  <body>
    <h1>Chitter Feed</h1>
    <div class="new_peep">
      <form class="peep_entry" action="/new_peep" method="post">
        <label for="new_peep">Enter Peep</label>
        <input type="text" name="new_peep">
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="feed">
      Hey everyone, just smashing out some code.
    </div>
  </body>
</html>
