<h1>Welcome to Chitter</h1>
<form action="/new_post" method="post">
  <input type="text" name="message">
  <input type="submit" name="post_message" value="Submit">
</form>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h3>Posted: <%= post[:created_at] %></h3>
      <p><%= post[:message] %></p>
      </li>
    <% end %>
</ul>
