<h1> Chitter </h1>
<h1> </h1>

  <p> Sign Up </p>
  <form action="/sign_up" method="post">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email">
    Username: <input type="text" name="username">
    Password: <input type="text" name="password">
    <input type="submit" value="Sign Up" name="submit">
  </form>

  <p> Already a member? Log In </p>
<!--
  <h2> Log In </h2>
  <p> Enter your names to battle each other! </p>
  <form action="/two_player_name" method="post">
    <input type="text" name="player_2_name">
    <input type="text" name="player_3_name">
    <input type="submit" value="Let's Battle!" name="submit">
  </form> -->
