<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<div class="header">
  Chitter
</div>

<div class="row">
  <div class="column left">
    <span class="user">
      <% if session[:current_user] == nil %>
        <a href="/sign-up"><button>Sign Up</button></a>
        <a href="/login"><button>Login</button></a>
      <% else %>
        <h2>Hi, <%= @user.username %>!</h2>

        <a href="/logout"><button>Logout</button></a>

        <form action="/post" method="post">
          <input type="text" class="peep_content" id="peep_content" name="peep_content">
          <input type="submit" value="Post">
        </form>
      <% end %>
    </span>
  </div>
  <div class="column right">
    <ol class="peeps" style="list-style-type:none">
      <% @peeps.reverse.each do |peep| %>
        <div class="peep">
          <%= peep.message %>
          <%= peep.time %>
        </div>
      <% end %>
    </ol>
  </div>
</div>

<div class="footer">
  © Aimee Craig, 2018
</div>
