<html>
  <head></head>
  <body>

  <h1 style="color: 800080">Peeps</h1>
  <div>
  <a href = "/login"><input type="submit" value="Login"></a>
  </div>
  <br>
  <div>
  <a href = "/signup"><input type="submit" value="Sign Up"></a>
  </div>
  </body>
</html>