<h1> Welcome to Chitter! </h1>

<% if !current_maker %>
<div id='header'>
  <h3> Please Register for a Chitter Account </h3>
  <a href="/sign_up"> Register </a>
  <% if !current_maker %>
  <h3> Existing Users: Please sign in </h3>
  <div class="form-group">
  <form action="/home" method="post">
    Username:       <input type="text" name="username">
    Password:       <input type="password" name="password">
                    <input type="submit" value="Sign in">
  </form>
</div>
  <% end %>
</div>
<% end %>

<form action="/home">
  <input type="submit" value="View Peeps">
</form>
