<h1> Welcome to Chitter </h1>


<form action="/signup" method="get">
  <input type="submit" value="Sign up">
</form>

<form action="/login" method="get">
  <button type="submit">Back to login</button>
</form>
