<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="<%= url('./stylesheets/index.css')%>">
</head>
<body>

<div id="header">
  <h1>Chitter </h1>
  
</div>
  <a href="/login" id="login_signup"><div id="login_signup_container">Log in / Sign up</div></a>
<div class='page'>
</div>
</body>
