<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <div>Signup Here: <a href="http://localhost:9292/signup">Signup</a><br />Login here: <a href="http://localhost:9292/login">Login</a></div>
    <% @@posts.each do |post| %>
      <%= post %><br />
    <% end %>
  </body>
</html>