<h1>This is Chitter!</h1>

<div id="new-chit">
  <form action="/chits" method="post">
    Username: <input type="text" name="username">
    Text: <input type="text" name="text">
    <input type="submit" value="Add new Chit!'">
  </form>
</div>

Current Chits
<ul>
  <% @chit.each do |chit| %>
    <li><a href="<%= chit.username %>"><%= chit.username %></a>
  <% end %>
    <% @chit.each do |chit| %>
    <a href="<%= chit.text %>"><%= chit.text %></a></li>
  <% end %>
</ul>

