Welcome to Chitter!
<br>
<br>

<form action = '/sign-up' method = 'post'>
  <input type = 'submit' value = 'Sign up!'>
</form>

<br>
<br>

<form action = '/peeps' method = 'post'>
  <input type = 'text' name = 'peep'>
  <input type = 'submit' value = 'Peep'>
</form>

<% @peeps.reverse.each do |peep| %>
  <%= peep.content %>
  <br>
  <%= peep.author_name %>
  <br>
  <%= peep.author_handle %>
  <br>
  <%= peep.time %>
  <br>
  <br>
  <br>
<% end %>
