<link rel="stylesheet" type="text/css" href="/stylesheets/chitter.css" />
<body>
  <% if @user %>
    <h1>Welcome to Chitter, <%= @user.name %>!</h1>
  <% else %>
    <h1>Welcome to Chitter!</h1>
    <li>
      <a href='/sessions/new'>Sign In</a>
    </li>
    <li>
      <a href='/users/new'>Sign Up</a>
    </li>
  <% end %>
  <li>
    <a href='/peeps'>View Peeps</a>
  </li>
</body>
