<head>
<link rel='stylesheet' type='text/css' href='style.css'>
</head>

<body>
  <div id='feed-border'>

    <div id='left-column'>
      <div id='links-i'>sign <a href='in'>in</a> / <a href='up'>up</a></div>
    </div>

    <div id='right-column'>
      <% @peeps.each do |peep| %>
        <div id='username'><%= peep.username %></div>
        <div id='content'><%= peep.content %></div>
        <div id='since'><%= peep.since %></div>
      <% end %>
    </div>

  </div>
</body>
