<html>
<body>
<p> Welcome to Chitter </p>
<form action = '/login' method = "GET">
<input type = "submit" value = "Login">
</form>
<form action = "/signup" method = "GET">
<input type = "submit" value = "Sign Up">
</form>
</body>
</html>