<h1><center>"Welcome to Chitter! The whole world's at your fingerchits!"</center></h1>

<center>
  <form action="/new-peep" method="get">
    <input type="submit" value="Post a new Peep!">
  </form>
</center>
