<h1> Welcome, <%= @user.handle %>! </h1>

<form action="/peeps/new">
    <input type="submit" value="Start peeping!" />
</form>

<form action="/peeps">
    <input type="submit" value="See what the world is peeping!" />
</form>
