<style>
  body {
     background-image: url("https://i.redd.it/qngpcp04gklx.jpg");
     background-size: cover;
  }
</style>

<h1>Chitter</h1>

<form action='/incoming' method='post'>
  <input type='text' name='message' placeholder='message'>
  <input type='submit' value='post'>
</form>

<ul>
  <% @timeline.each do |message| %>
    <li><%= message.message %>:<%= message.time %></li>
  <% end %>
</ul>
