<head>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <title>Welcome to Chitter</title>
</head>

<h2>Make a peep!</h2>

<form id="peep-form" action="/" method="POST">
  <input id="peep-date" name="peep-date" type="date" value="2019-03-03" />
  <input id="peep-time" name="peep-time" type="time" value="10:00:42" />
  <input id="peep-msg" name="message" type="text" placeholder="Go on, peep something!" />
  <button id="peep-submit" name="submit" type="submit">Peep!</button>

</form>

<% if @zero_length_msg %>
<div id="notice">To peep, you have to say something!</div>
<% end %>

<h2>Previous peeps </h2>

<% @peeps.each do |peep| %>
  <p><span class="timestamps"><%= peep[:timestamp] %></span> <%= peep[:message] %></p>
<% end %>