<h1> Welcome to Chitter. Log In or Sign Up </h1>

<form action='/login' method='post'>
  <label for='Username'>Username</label>
  <input type='text' name='Username' placeholder='Username'>
  <br>
  <label for='Password'>Password</label>
  <input type='text' name='Password' placeholder='Password'>
  <br>
  <button type='submit' name='Log In'>Log In</button>
</form>

<br>
<a href="/signup">Sign Up Here</a>