<h1>CHITTER</h1>

<ul style="list-style-type:none">
<% @peeps.each do |peep| %>
  <% user = User.retrieve(user_id: peep.user_id) %>
  <%= "<li>#{peep.message}" %>
  <ul style="list-style-type:none">
  <%= "<li><strong>#{user.handle}</strong> (#{user.display_name})" %>
  <%= "<li><em>at #{peep.date}</em>" %>
  </ul>
<% end %>
</ul>
