<h1>Hi! Welcome to Chitter!</h1>


<form action="/peep" method="post"> 
<label for="user_id">
Who is peeping?!</label>
<input type="text" name="user_id" required>
<input type="submit" value="Log in">
</form>


<ul style="list-style-type:none;">
<% Peep.all_peep.map do |element| %>
    <li class="peep">
       <%= element.user_id %> :
       <%= element.status %>
    </li>
<% end %>
</ul>
