<div align="center">
<h1> Welcome to Twi..Chitter <h1>
<h2> Please enter a username: <h2> 
<form action = "/username" method = "post">
<label for "username"> name:</label>
<input type = "text" name = "username">
<input type = "submit" value = "Enter">
</form>
</div>