
<form action="/peeps/new" method="post">
  <input type="text" name="content" placeholder="New Peep"/>
  <input type="submit" value="Post" />
</form>

<ul class="peeps_list">
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
        <%= peep.content %>
        <%= peep.created_at.strftime("%d %b %Y at %I:%M %p") %> 
    </li>
  <% end %>
</ul>
