<form action="/sign_up" method="post">
  <h1>
  Sign up for Chitter!
  </h1>
  <p>
    <label>Name: </label> 
    <input type="text" name="name">
  </p>
  <p>
    <label>Username: </label> 
    <input type="text" name="username">
  </p>
  <p>
  <label>Email: </label> 
  <input type="text" name="email">
  </p>
  <p>
    <label>Password: </label> 
    <input type="text" name="password">
  </p>  
  <input type="submit" value="Sign up!">
</form>