<h1>Welcome to Chitter!</h1>

<h2>Create an account</h2>

<form action="/signup" method="post">
  <input type="text" name="username" placeholder="username" />
  <br>
  <input type="text" name="email" placeholder="email" />
  <br>
  <input type="password" name="password" placeholder="password" />
  <br>
  <input type="submit" value="Create account">
</form>
