<h1>Welcome to Chitter</h1>

<div>
  <form action="/peep" method="get">
    <input type="text" name="peep">
    <input type="submit" value="Submit">
  </form>
  <br>
  <br>
  <ul>
    <% @cheets.each do |peep| %>
    <li><%= peep.body %></li>
    <% end %>
  </ul>
