<h1>chitter</h1>
<p><form action='/peep' method='post'>
  <fieldset>
    <input type='text' name='message' placeholder='type your peep...'> 
    <input type='submit' value='peep'>
  </fieldset>
</form></p>
<% @peeps.each do |peep| %>
  <fieldset>
    <%= peep.message %>
  </fieldset>
<% end %>  
