<head>
	<title>Chitter</title>
</head>
<body>

  <h1>Chitter</h1>

  <%= @peeps.each do |peep| %>
  <% end %>

	<form action='/peeps/new' method='post'>
		<input type='text' name='peep' placeholder="What's happening?">
		<input type='submit' name='submit' value='submit'>
  </form>
  
</body>
