<h1>Welcome to Chitter!</h1>
<form action='/welcome' method='post'>
  Name:<input name='name' type='text'></input>
  Username:<input name='username' type='text'></input>
  Email:<input name='email' type='text'></input>
  Password:<input name='password' type='password'></input>
  <input type='submit' value='Submit'></input>
</form>
