<%if current_user.nil?%>
<h1> Welcome to Chitter! </h1>
<%end%>


<h1> Peeps </h1>
<ul id='username'>
  <% @users.each do |user| %>
  <li>
    <% user.peeps.each do |peep| %>
      <%=peep.message%>
      <% end %>
  </li>
  <% end %>
</ul>
