<h1>Welcome to Chitter</h1>
<form action="/new_post" method="post">
  <input type="text" name="message">
  <input type="submit" name="post_message" value="Submit">
</form>
<ul>
<li><%= @post %></li>  
</ul>
