<html>
    <head><head>
    <body>
        <h1>Welcome to Chitter!</h1>
        <p>
            <form action="/peeps" method="GET"/>
                <div>
                    <label>Username</label>
                    <input type="text" name="username"/>
                </div><br>

                <div>
                    <label>Password</label>
                    <input type="text" name="password"/>
                </div><br>
            
                <input type="submit" value="Log in">
            </form>
        </p>
    </body>
</html>