<!DOCTYPE HTML>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="/index.css">
      <title>Chitter Challenge!</title>
    </head>
      <body>
        <center>
          <div class="interface">
            <h1>Chitter Challenge!</h1>
              <form action="/peep/new" method="post">
              <input type="text" name="new_peep" placeholder="peep peep peep!" class="userentry">
              <input type="submit" value="peep" class="submit-buttons">
              </form>
              <% @peeps.each do |message| %>
              <h2><%= message.text %></h2>
              <% end %>
