<p>Please log in:</p>
<form action='/users' method='post'>
  Name:<br>
  <input type='text' name='Name'><br>
  Email:<br>
  <input type='text' name="Email"><br>
  Username:<br>
  <input type='text' name='Username'><br>
  <br>
  <input type='submit' value='Submit'>
</form>
