<h1>Welcome to Chitter</h1>

<div><a href="/">Home</a></div>
<div><a href="/peeps">Latest peeps</a></div>
<div><a href="/peeps/new">Create a new peep</a></div>
<div><a href="/signup">Sign up</a></div>