<h1> <p align="center">Quackie's Duckboard</p>
<p align="center"><img src="https://slack-imgs.com/?c=1&o1=gu&url=https%3A%2F%2Femoji.slack-edge.com%2FT03ALA7H4%2Frubberducking%2F1e5dc51b1afe3651.png" alt="Picture of Quackie, the Makers Academy Duck" width="10%"/></p>
<h2> Welcome unknown user :)
<br>
<h3> Latest quacks:</h3>
<ul>
  <% @quacks.each do |quack| %>
    <li>
    <i>"<%= quack.message %>"</i>
    quacked by <%= quack.display_name %>,
    at <%= quack.time_stamp %>
    </li>
  <% end %>
</ul>