<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  </head>
  <body>
  <div class="header"
  <h3>Chitter: Latest peeps</h3>
  </div>
  <div class="sidebar">
    <% if User.logged_in_name %>
    <a href="/login"><i class="fa fa-user"></i> <%= User.logged_in_name%></a>
    <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
      <a href="/new"><i class="fa fa-commenting"></i> New Peep!</a>
    <% else %>
    <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
    <a href="/signup"><i class="fa fa-user-plus"></i> Signup</a>
    <% end %>
  </div>
  <div class="peeps">
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.message %><br><br>
      <small><%= "#{peep.created_at} #{peep.forename} #{peep.surname} @#{peep.username}"%></small>
      </li>
  <% end %>
  <br>
  </div>
  </body>
</html>
