<html>
  <head>

  </head>
  <body>
    <p>testing</p>
    <form action="/peep" method="post">
      <input type="text" name="user" placeholder="Enter your username">
      <input type="text" name="peep" placeholder="Peep here">
      <input type="submit" value="Peep">
    </form>
  </body>
</html>
<!-- <form action="/getlink" method="get">
  <input type="submit" value="Add link">
</form> -->
