<!DOCTYPE html >

<html>
  <head>
    <title> Chitter </title>
  </head>

<form action="/chitter" method="post">
  <input type="text" name="peep" />
  <input type="submit" value="Peep" />
</form>

</html>
