<form action='/signup' method='post'>
  <input type='text' name='email' id='email' placeholder='Email'/>
  <input type='text' name='password' id='password' placeholder='Password'/>
  <input type='text' name='name' id='name' placeholder='Name'/>
  <input type='text' name='username' id='username' placeholder='Username'/>
  <input type='submit' value='Submit'/>
</form>