<!DOCTYPE HTML>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="/index.css">
      <title>Chitter Challenge!</title>
    </head>
      <body>
        <center>
          <div class="interface">
            <h1>Chitter Challenge!</h1>
              <form action="/peep/new" method="post">
              <input type="text" name="new_peep" placeholder="say something!" class="userentry">
              <input type="submit" value="submit" class="submit-buttons">
              </form>
              <% @peeps.each do |peep| %>
              <h2><%= peep.text %></h2>
              <h3>Peeped at: <%= peep.time %></h3>
              <% end %>
