<h2>Wellcome to chitter!</h2>

<form action='/signup' method='get'>
  <label>Don't have an account? Sign up here to be able to post to Chitter:</label>
  <input type='submit' value='Sign up'>
</form>

<ul style="list-style-type: none">
  <% @peeps.each do |peep| %>
    <li id = "peep-<%= peep.id %>">
      <div style='background-color:#ecf2f9'>
        <%= peep.content %>
        <p style='background-color:#fff2e6'>Posted at: <%= peep.timestamp %> by <%= peep.username %>
        </p>
      </div>
    </li>
    <br>
  <% end %>
</ul>
