<body style=background-color:lightyellow;>
<h1 style="font-family: Tahoma" >
Welcome to Chitter
</h1>
<a style="font-family: Tahoma" href="/peeps">See the latest peeps</a>

<a href="/users/new"><button>Sign up</button></a>
<a href="/sessions/new"><button>Sign in</button></a>
</body>