<html>
  <body>
    <form action='/new_user' method='get'>
      <input type='submit' value='Sign up'>
    </form>

    <form action='/log_in' method='get'>
      <input type='submit' value='Log in'>
    </form>
  </body>
</html>