<%= flash[:notice] %>

<form action='/users/new' method='GET'>
  <input type='submit' value='Register'>
</form>

<form action='/sessions/new' method='GET'>
  <input type='submit' value='Sign in'>
</form>

<form action='/sessions/destroy' method='POST'>
  <input type='submit' value='Sign out'>
</form>

<% if @user %>
<h2> Welcome, <%= @user.username %></h2>
<% end %>

<form action='/' method='POST'>
  <label for='new_comment'>
    Post a comment:
    <input type='text' name='comment'>
  </label>
  <input type='submit' value='Post'>
</form>


<% @messages.reverse.each do |message| %>
<p class='message'>
<%= message.comment %> - Created:
<%= message.creation %>
</p>
<% end %>
