<div class="row align-items-start">
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    <% @peeps.each do |peep| %>
    <div class="card m-2" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"><%= peep.text %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= format_time(peep.time) %></h6>
        <p class="card-text">@<%= peep_username(peep.user_id) %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col">
    <% if @user %>
      <div class="toast m-2" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Chitter</strong>
          <small>just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Welcome, <%= @user.username %>
        </div>
      </div>
      <% end %>
  </div>
</div>