<style>
.content {
  max-width: 500px;
  margin: auto;
}
body { 
    background-color: #ffcc99; 
    }
</style>
<body>

<div class="content">
  <h1>Welcome to Chitter</h1>
  
  <h2>Post a message</h2>

  <form action="/peeps/new" method="post">
    <label for="message">Message:</label><br>
    <input type="text" name="message"/><br>
    <input type="submit" value="Post"/>
</div>

</body>