<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <% if @user %>
    <p><%= @user.handle %></p>
    <form action="">
      <input type="submit" value="Log out">
    </form>
    <a href="/peeps/new">Compose Peep</a>
  <% else %>
    <a href="/users/new">Sign up</a>
    <a href="/sessions/new">Log in</a>
  <% end %>

  <ul>
    <% @peeps.each do |peep| %>
      <li class="peep">
        <p><%= peep.content %></p>
        <p><%= peep.time %></p>
      </li>
    <% end %>
  </ul>
</body>
</html>