<h2> Welcome to Chitter </h2>
<br>
<form action='/chitter_feed'>
  <input type='submit' value='Open Public Feed'>
</form>

<form action='/login'>
  <input type='text' placeholder='Username' name='username'>
  <input type='password' placeholder='Password' name='password'>
  <input type='submit' value='Login'>
</form>

<form action='/create_account' method='post'>
  <input type='submit' value='Create Account'>
</form>
