<html>
  <head></head>
  <body>
  <div class='nav-bar'>
    <h2>Chitter Bot logo</h2>
    <h1>Posts</h1>
    <h1>Links</h1>
  </div>
  <div class='post-form'>
    <form action="/create_random" method="post">
     <input type="text" name="message" placeholder="Message">
     <input type="submit" value="Submit the form">
    </form>
  </div>
  <div class='posts-container'>
    <% @posts.all.each do |post|  %>
     <div class='post'>
        <%= post.name ? post.name : nil %>
        <%= post.message %>
        <%= post.username ? post.username : nil %>
        <%= post.post_time %>
     </div>
   <% end %>
  </div>

  </body>
</html>
