<!DOCTYPE html>
<html>
 <center>
 <head>
  <title>Chitter</title>
  <style>
</style>
 </head>
<body>
	<form action='/sign-up' method='get'>
		<input type = 'submit' id='sign-up' value = 'Sign up'>
	</form>
	<form action='/sign-in' method='get'>
		<input type = 'submit' id='sign-in' value = 'Sign in'>
	</form>
  

</body>
</center>
</html>