<html>
  <body style="background-color:rgb(66, 190, 194)">
    <h1><center>Chitter</center></h1>
    <div class="right">
      <a href='/users' style="float: right;"> Sign-up! </a><br><br>
      <a href='/sessions/new' style="float: right;"> Login! </a><br><br>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
      </form>
    </div>
    <form action="/post-peep" method="post">
        <label for="peep">
         <center>Whats on your mind?
        <input type="text" name="peep">
        <input type="submit" value="Post">
      </form></center>
      <ul>
        <% if @user %>
          <h1>Welcome, <%= @user.username %></h1>
        <% end %>
        <% @peeps.reverse.each do |peep| %>
          <li><%= peep.peep %><br><%= peep.time %>
          </li><br>
        <% end %>
      </ul>
  </body>
</html>

<%= flash[:notice] %>