<h1>Chitter</h1>
<form action="/users" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Username" required>
  </div>
  <div>
    <label for="password">Password (min. 8 characters):</label>
    <input type="password" id="pass" name="password" minlength="8" placeholder="Password" required>
  </div>
  <input id="login" type="submit" value="Log In">
</form>

<h2>Sign up</h2>
<form action="/register" method="get">
  <input id="register" type="submit" value="Create New Account">
</form>