<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if @current_user %>
      <form method='post' action="/session/end">
        <input type="submit" value='log out'>
      </form>
      <form method='get' action="/peep/new">
        <input type="submit" value='New Peep'>
      <div>

      </div>
    <% else %>
      <form method='get' action="/session/new">
        <input type="submit" value='sign in'>
      </form>
      <form method='get' action="/register">
        <input type="submit" value='Register'>
      </form>
    <% end %>
<h3> Chitter conversations... </h3>
    <% if @peeps %>
      <% @peeps.each do |peep| %>
      <div>
        <%= peep.message %>
      </div>
      <% end %>
    <% end %>
  </body>
</html>
