<!DOCTYPE html>
<html>

<head>
  <style>body{background-color: #66b3ff;}
</style>
</head>

<h1>Welcome to Chitter</h1>

 <form action="/peeps" method="get">
     <button type="submit">View Peeps</button>
 </form>
 
 </html>