<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>This is Chitter</h2>
    <form action="/new" method="GET">
      <input type="submit" name="Add" value="Add">
    </form>
  </body>
</html>
