<h1> Welcome to Chitter </h1>

<h3> The place to get all the latest peeps!</h3>
<br>
<form  action="/homepage/sign_in" method="get">
  <input type="submit" name="Sign in" value="Sign in">
</form>
<form  action="/homepage/sign_up" method="get">
  <input type="submit" name="Sign Up" value="Sign Up" >
</form>
