<% @posts.each do |peep| %>
Date: <%=  peep.content[:datetime] %><br>
Name: <%=  peep.content[:username] %><br>
Post:<br><%=  peep.content[:post] %><br><br>
<% end %>
<form action="/create" method="POST">
  <input type="submit" value="Create Post">
</form>
