<body style='background-color: silver'>
<center>
<h1>Chitter</h1>
<h3>Time to get chatting on Chitter</h3>
<form action="/sign_in" method="post">
  <input type="submit" value="sign_in">
</form>
</center>
</body>