Welcome to Chitter
Peeps
<form action="/peeps" method="get">
<button type="submit" value="view peeps">View peeps</button>
</form>

<form action="/peeps/new" method="get">
<button type="submit" value="new peep">New peep</button>
</form>
