<head>
<title>Welcome to Chitter</title>
</head>

<body>
<h1> Welcome to Chitter!</h1>
<h3> A place where you can post peeps and also read other peoples peeps! </h3>

<p>What is a peep?<br>
    Well a peep is a 300 character limit message that you can post on chitter for others to read. <br>
</p>


<% if @success_message %>
  <div id="success" style="color: green">
  <b> <%= @success_message %> </b>
  </div>
<% end %>


<h3>Have a look at the latest peeps:</h3>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.message %></li>
  <% end %>
</ul>

 <%# sign up button  %>
  <form action="/chitter/account/new" method="get">
  <P><b>Do you want to post a peep?</b></P>
  <label for="sign_up1">All you need to do is join our community and sign up:</label><br>
      <input type="submit" name="sign_up" value="Sign Up" />
  </form>
  

<%# log in button 
   <form action="/chitter/login" method="get">
  <label for="log_in1">Already a member? Log in here:</label><br>
      <input type="submit" name="log_in1" value="Log In" />
  </form>
<body> %>
