
<form action="/post-a-peep" method="post">
  <input type="text" name="peep" />
  <input type="submit" value="Post" />
</form>

<ul>
  <% @peeps.each do |peep| %>
  <li><%= peep.user_handle %> <%= peep.peep %></li>
  <% end %>
</ul>
