<title>Chitter</title>

<body>
  <h1>Chitter</h1>
    <%@peeps.each_with_index do |peep, index|%>
    <div class='peep' id=<%=index%> >
      <p>Peep <%=peep.id%>: <%=peep.text%></p>
      <p><%=peep.time_format%>
    </div>
    <%end%>

  <form action='/peeps/new' method='get'>
    <input type='submit' value='Make Peep'>
  </form>
</body>
