<html>
<head>
  <style type="text/css">
    h1 {text-align: center;}
    h4 {text-align: center;}
    form {text-align: center;}
  body {
    color: white;
    Font-size: 35px;
    font-family: arial;
    background-color: #00acee
   }
  </style>
</head>
<body>
    <h1>Chitter</h1>
    <h4> See what’s peepin' in the world right now </h4>
    <h4> Create your account </h4>
    <div>
      <form action="/sign_up" method="post">

        <input type='text' placeholder='Username' name='username'>

        <input type='password' placeholder='Password' name='password'>

        <input type="submit" value="Sign up">
      </div>
</form>
</body>
</html>
