 <h1 class="largeHeader">Join Chitter Today</h1>
    <form class="signupForm" action="/sign_up" method="post">

       <label for="name">Full name</label><br>
       <input class="shortInput" id="name" type="text"><br>

       <label for="email"> Phone or Email</label><br>
       <input class="shortInput" id="email" type="text"><br>

       <label for="password">Password</label><br>
       <input class="shortInput" id="password" type="text"><br>

       <label for="ConfirmPassword"> Confirm Password</label><br>
       <input class="shortInput" id="password" type="text"><br>

       <input type="submit" value="Sign Up">

    </form>
