<h1>Welcome to Chitter!</h1>
<form action="/" method="post">
  <input type="text" id="peep" name="peep">
  <input type="submit" value ="PEEP">
</form>
<%if @messages != nil
    @messages.reverse.each do |peep| %>
    <li><%= peep %></li>
    <% end 
  end %>