<h1>Chitter Sign up page</h1>
<h2>Sign up</h2>
<form action="/names" method="post">
  <label for="user_name">
    User name
    <input type="text" name="user_name">
  </label>
  <label for="password">
  User password
    <input type="password" name="psw">
  </label>
  <input type="submit" value="Submit">
</form>
