<h1> Chitter </h1>

<p><%= @peep %></p>
  

<% if @peep %>
  <p><%= @peep %></p>
<% end %>

<form action='/' method="POST">
  <input type="text" name="peep" placeholder="What's on your mind?" />
  <input type="submit" value="Post Peep" />
</form>






