<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

<body class="w3-light-grey">

<header class="w3-container w3-center w3-padding-48 w3-white">
  <h1 class="w3-xxxlarge"><b>Chitter!</b></h1>
</header>

<header class="w3-container w3-center w3-padding-48 w3-white">
  <h1 class="w3-xxlarge"><b> <form action='/chitter' method='post'>
    What's your Peep?
    <input type='text' name='peep'>
    <br><br>
    Username:
    <input type='text' name='username'>
    <br> <br>
    <button> Share my Peep!</button>
  </form> </b></h1>

</header>


<header class="w3-container w3-center w3-padding-48 w3-light-grey">
<ul> <% @peeps.each do |peep| %>
  <ul><%= peep.peep %> </ul>
  <ul><%= peep.time %> </ul>
  <ul><%= peep.username %> </ul>
  <br> <br>
  <% end %>
</ul>


</body>
</html>
