<% if session[:session_user_id] %>
  Welcome, <%= @user.username %>

  <form action="/new_post" method="post">
    <br/>
  <textarea placeholder="What are you thinking?" name="post[text]" cols="40" rows="5" maxlength="280" style="border: 2px solid black; resize: none"></textarea>
  <br/>
  <input placeholder="Name" type="text" name="post[author_name]">
  <br/>
  <input type="submit" value="Peep!"/>

  </form>
  <br/>




<% else %>

  <form action="/new_user">
    <input type="submit" value="Join Chitter"/>
  </form>
  <br/>

  <form action="/sessions/new">
    <input type="submit" value="Sign in"/>
  </form>
  <br/>

  <% end %>


<% if @posts %>
  <% @posts.each do |post| %>


    <div class="post" style="width: 320px; word-wrap: break-word; border: 1px solid black; background-color: honeydew">
    <%= post.text %>
    </div>
    Peeped by <%= post.author_name %> at 
    <%= post.created_at.strftime("%k:%M, %e %b %Y") %>
    <br/>
    <br/>
  <% end %>

<% end %>