<p>
  <form action="/addfilm" method="get">
    <input type="submit" id="addfilm" value="Add Film">
  </form>

  <form action="/" method="get">
    <button type="submit" id="sort-alphabetically" name="sort_by" value="a_to_z">Sort A-Z</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td><%= film.title %></td>
          <td><%= film.rating %>/10</td>
          <td><%= film.date_added %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= styled_flash %>
</p>
