<%= @peeps.join("\n") %>

<form>
<form action="peeps/post">
  Your Peep: <input type="text" name="Write">
  Your username: <input type="text" name="Author"><br>
  <input type="submit" value="Post">

  </form>
