<center><h1> Peeps! </h1>

<form action= '/chitter/new' method = 'post'>
<input type= 'text' name= peep placeholder= 'Whats happening?'>
<input type= 'submit' name= 'Peep' value= 'Peep'>
</form></center>