<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Chitter!</title>
</head>
<body>
  <h1>Welcome to Chitter!</h1>
  <form action="/timeline/new" method="post">
  <input type="text" name="text" placeholder="Peep Here!" />
  <input type="submit" value="Submit" />
</form>
</body>
</html>