<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
  </head>
  <body>

    <div id="nav1">
      <h1 class="top_space">Chitter<h1/>
    </div>

    <br>
    <br>
    <br>

    <br>

    <form style="text-align: center;" action="/posts" class="top_space" method="get">
      <input type="submit" value="Go To Peeps">
    </form>


  </body>

</html>
