<!DOCTYPE html>
<html>
 <center>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Chitter</title>
  </head>
  <center>
  <body>

      <h1>Welcome to Chitter</h1>

      <div>
        <h2>Peepdeck</h2>
        <center>

          <div >
            <ul>
    <% @peepdeck.reverse.each do |peeps| %>
      <li>
      <%= peeps.peep %>
      </li>
      <% end %>
  </ul>
  <center>

      <div1>
      <a href="/message/new">Compose Peep</a>
    </div1>

  </body>
</html>
