<!DOCTYPE html>

<html>
<head>
<style>
  body {
    background-color: #99ccff;
  }
</style> 
</head>
<form action="/signup" method="get">
  <input type="submit" value="Sign Up">
</form>
<form action="/signin" method="get">
  <input type="submit" value="Sign In">
</form>

<center>
<body>
  <h1>Chitter</h1>
  
    <h2>Peeps</h2>
    <% @messages.reverse.each do |message| %>
    <div>
      <%= message.content %><br>
      <%= message.user.name %></a> - @<%= message.user.username %>
      Posted at: <%= message.timestamp %><br><br>
    <%end%>  
</body>
</center>
</html>