<form action="peeps/post" method="post">
  <input type="text" name="write">
  <input type="submit" value="post">
</form>


<% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%=peep.message%>
      <% end %>
