<html>
  <body>
  <h1>Welcome to Chitter</h1>
  <form>
  <h2>Send a message</h2>
  </form>
  
  <% @messages.each do |message| %>
    <div>
      <p><%= message.message %></p>
      <p style="font-size: 12px;font-style:italic" ><%= message.time %> // <%= message.handle %></p>
      <br>
    </div>
    <% end %>
  </body>
</html>