<h2>Chitter</h2>
<ul>
  <% @messages.each do |message| %>
    <li><%= message.text %></li>
  <% end %>
</ul>
<form action="/new_post" method="post">
  <input type="text" name="text" placeholder="message">
  <input type="submit" value="Post">
</form>