<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div>
    <%= flash[:incorrect_password] %>
    <%= flash[:incorrect_username] %>
  </div>
  <div>
    <form action='/session' method='post'>
      <input type='text' name='username' placeholder='username'>
      <input type='password' name='password' placeholder='password'>
      <input type='submit' value='Log in'>
    </form>
  </div>
  <div>
    <a href='/users/new'>Sign up</a>
  </div>
</body>
</html>
