<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Twittarr</title>
</head>
<body>
  <h1>Welcome to Twittarr.</h1>

  <form action="/new" method="post">
    <input type="text" name="tweet">
    <input type="submit" value="Arr, new tweet">
  </form>

  <% @messages.each do |message| %>
    <p><%= message.message %></p>
    <p><%= message.created_at %></p>
  <% end %>

</body>
</html>