<html>
<h1>Welcome to Chitter</h1>

<form action="/add">
Add Peep
<input type="submit" value="Add peep"> 
</form>

<form action="/display">
Display Peeps
<input type="submit" value="Display peeps"> 
</form>

</html>