<h1>Chitter</h1>
<form action="/register" method="post">
  <label for="current_username">Username</label>
  <input type="text" name="current_username">
  <input type="submit" value="Register">
</form>