<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>
        <h1>cheeter</h1>
    </header>
    <h2>Enter your peep and share it with the world!</h2>
    <form action="/first_peep" method="post">
      <input type="text" name="peep" placeholder="Enter your tweep" value = "Hello! I'm having lunch">
      <input type="submit" value="post">
    </form>
  </body>
</html>
