<!DOCTYPE html>
<html>
<h1> 'Welcome to Chitter!'</h1>
<br>
<div>
<form action="/peeps" method="post">
  <input type="submit" value="View Peeps">
</form>
<br>
<button type="button"> Post a Peep </button>
</div>

</html>