<ul> 
  <% @posts.each do |post| %>
  <li>
<%= post.content %> : <%= post.time %> 
    </li>
  <% end %>

  <form action="/new" method="post">
      <input type="text" value='' name ='content'>
      <input type="submit" value='POST' name ='post'>
      </form>
</ul> 


