<p>'Post your peep to Chitter'</p>

<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>" >
      <%= peep.message %>
      <%= peep.user_name %>
      <form action="/<%= peep.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="Delete"/>
      </form>
    </li>
  <% end %>
</ul>
