<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <nav class="navbar navbar-light bg-light">

  <% if @user.nil? || !@user %>
  <form class="form-inline" action="/users/new">
    <button class="btn btn-outline-info sign-up" type="submit">Sign up</button>
  </form>
  <a class="navbar-brand">
    Chitter
  </a>

  <form class="form-inline" action="/users/user">
     <button class="btn btn-outline-info sign-in" type="submit">Sign in</button>
  </form>

<% else %>
  <form class="form-inline" action="/" method="post">
    <div class="form-group">
      <input type="text" class="form-control mr-sm-2" name="message" id="message" placeholder="Peep a message:">
    </div>
    <button class="btn btn-outline-info peeps" type="submit">Peeps</button>
  </form>
  
  <a class="navbar-brand">
    Chitter
  </a>

  <form class="form-inline" action="/users/log_out" method="post">
     <button class="btn btn-outline-info log-out" type="submit">Log out</button>
  </form>
<% end %>
</nav>

<br>
  <% @chitter.show_all_messages.each do |message| %>
  <div class="card mb-3">
    <div class="card-header border-info"><%= message.user %> <small class="text-muted"> at <%= message.time %></small></div>
    <div class="card-body bg-light">
      <div class="card-text text-info"><%= message.text %></div>
    </div>
  </div>
  <% end %>



</div>
