<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
<h1>Chitter <img src="./poo.png" alt="poo" width=30px> </h1>
<p>Peeps:</p>
<ul>
  <% @peeps.each do |peep| %>
    <li> <%= peep %> </li>
  <% end %>
</ul>


  </body>
</html>
