Welcome to Chitter 
<br> 
<form action='/homepage' method="post">
    <input type="text" name="input" placeholder="Chit here" >
    <input type="submit" value='Submit'>
</form>
<br>
<%= @peep.display %>
