<html>
<head>
<style>
body {background-color: midnightblue;
      font-family: sans-serif;
      color: peru
}
h5 {font-style: italic;
}
</style>
</head>
<body>
<h1> Chitter! </h1>
<h5> Pronounced like CHampagne or CHef or maCHine </h5>

<p> Click the button below to enter Chitter! </p>

<a href='/peeps'>
  <button>Enter</button>
</a>
</body>
</html>