<center>

  <h1>Welcome to Chitter! The whole world's at your fingerchits!</h1>

  <form action="/new-peep" method="get">
    <input type="submit" value="Post a new Peep!">
  </form>

  <form action="/sorted-by-newest" method="get">
    <input type="submit" value="Sort peeps by most recent">
  </form>


  <% @peeps.each do |post| %>
  <li>
    <%= post.peep %>
  </li>
  <% end %>

</center>
