<h1>Welcome to Chitter!</h1>

<form action="/feed" method="post">
  <label for="peep">
    Enter your Peep
    <input type="text" name="peep">
  </label>
  <input type="submit" value="Send Peep">
</form>