<head>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div class="container">
    <h2> Welcome to Chitter! </h1>
    <% @peeps.each do |peep| %>
    <li> <%= p peep %> </li>
    <% end %>
  <br>

  <div class="button">
    <form action="/add-peep" method="post">
      <label for="peep">
        PEEP:
        <input type="text" name="peep">
      </label>
      <label for="maker">
        MAKER: 
        <input type="text" name="maker"> 
      </label>
      <input type="submit" value="Peep">
    </form> 
    </div>
  </div>
</body>