<html>
<body>
  <h1>Welcome to Chitter!</h1>

  <form action='/peeps'>
  <button name="my_peeps" type="submit">My Peeps</button>
</form>

  <form action='/send_peeps' method='post'>
    <input type="text" name="username" placeholder="Type your username...">
    <input type="text" name="peep" placeholder="Write a peep...">
    <input type="submit" value="Peep"/>
  </form>

</body>
</html>
