<h1>Welcome to Chitter</h1>

<form action="/peeps" method = 'post'>
  <label for="peep">
    New Peep:
  </label>
  <input type="text" name='peep'>
  <button type='submit' name='Peep'>Peep</button>
</form>

<br>
<%= @peep %> 
