<h1>Welcome to Chitter</h1>

<form action='/sign_up' method ="post">
  <input type="email" placeholder="email" name="email"><br>
  <input type="password" placeholder="password" name="password"><br>
  <input type="text" placeholder="name" name="name"><br>
  <input type="text" placeholder="user name" name="user_name"><br>
  <input type="submit" value="Submit">
</form>
