
<h1>Chitter</h1>


<form action="/login_option" method="post">
  <label for="login_choice">
    Register an account here
  </label>
  <input type="submit" name="login_choice" value="Register">
</form>

<h3>or</h3>

<form action="/login_option" method="post">
  <label for="login_choice">
    Log into your account here
  </label>
  <input type="submit" name="login_choice" value="Log in">
</form>
