<h1>Welcome to Chitter</h1>
<form action="/users/new" method="get">
  <h2>Sign in to Chitter</h2>
  <input type="submit" value="Sign in">
</form>

<form action="/sessions/new" method="get">
  <h2>Already a user? Login to Chitter</h2>
  <input type="submit" value="Login">
</form>
<form action="/peeps" method="get">
  <h2>See our Makers's peeps</h2>
  <input type="submit" value="See peeps">
</form>
