<h1 style="background-color:rgb(134, 207, 190);">
<br>
<h1>Welcome to Chitter!</h1>

<form action='/peeps' method='POST'>
  <input type="submit" value="Post a Peep!">
</form>
<br>
<h1 style="background-color:rgb(255, 99, 71);">