<form action='/users/new' method='get'>
<input type="submit" value="sign up">
</form> <br>
<form action='/peeps/new' method='get'>
<input type="submit" value="New Peep">
</form> <br>
<form action='/peeps' method='get'>
<input type="submit" value="View Peeps">
</form>
