<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
  <style>
  
  </style>
</head>
<body>
  <h1>Welcome to Chitter</h1>
  <h3>Live Chitter Feed</h3>
  <ul>
  <% @recent_posts.each do |post| %>
    <li>
      <p>
        <%= post.message %> <br>
        from @<%= post.username %> at <%= post.time_posted %>
        
      </p>
    </li>
  <% end %>
  </ul>
  <form action="/new_post">
    <input type="submit" value="New post">
  </form>
</body>
</html>