
    <h1> What is on your mind? </h1>
    
 <form action='/chitterapp' method="post">
 <input type="text" name="message">
  <input type="submit" value="Send it!">
 </form>
<ul>
 <% @peeps.reverse.each do |peep| %>
 <li>
  <%= peep.peeps %>  
  <%= peep.created_at %>
 <%end %>
  </body>
</html>
</ul> 

  