<div class="container">
  <h1>Chitter</h1>

  <form action="/peep/new">
    <input type="submit" value="Post a Peep">
  </form>

  <% @peeps.each do |peep| %>
    <p>
    <%= peep.username %>
    <br>
    <%= peep.text %>
    <br>
    <br>
    <%= peep.time %> - <%= peep.date %>
    </p>
    <br>
  <% end %>

</div>
