<h1>Chitter, home of the peeps</h1>
<% if @user %>
  <h2>Get Peeping, <%= @user.email %></h2>
<% end %>

<ul>
  <% @peeps.reverse_each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <b><%= peep.peep %></b>
      <sub><%= peep.posted_time %></sub>
    </li>
  <% end %>
</ul>

<form action="/peep/new">
  <input type="submit" value="Compose Peep">
</form>
      