<center>
<div style="background-color:#1DA1F2;
color:white;
font-family:rockwell;"><br>
<h1 >      Chitter</h1><br>
</div>
<br><br>
<form action='/create_peep' method='get'>
<input type=submit value='Peep' style= "background-color:#1DA1F2; 
border-radius: 12px; 
color:white; 
padding: 12px 28px; 
font-family:rockwell;" />
</form>
<form action='/view_peeps' method='get'>
<input type=submit value='View peeps' style= "background-color:#1DA1F2; 
border-radius: 12px; 
color:white; 
padding: 12px 28px; 
font-family:rockwell;" />
</form>
<form action='/users' method='get'>
<input type=submit value='Sign up' style= "background-color:#1DA1F2; 
border-radius: 12px; 
color:white; 
padding: 12px 28px; 
font-family:rockwell;" />
</form>