<html>
<!-- <body style="background-color: #7E7E7E;"> -->

<h1 style="color: #234F1E;">CHITTER</h1>

<% @list.reverse.each do |tweet| %>
<h3>  <%= tweet.peep %> </h3>
<h4> posted:<%= tweet.time[0..15] %> </h4>
  <br>
<% end %>


<form action='/sign_up'>
  <input class="btn" type ="submit" id="sign_up" value="Sign Up"> <h4> to post or </h4>
</form>

<form action='/sign_in'>
  <input class="btn" type ="submit" id="sign_in" value="Sign In"> <h4> if you already have an account </h4>
</form>
