<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1> Welcome to Chitter! </h1>
    <div>
      <a href="/signup"> Sign up </a>
    </div>
    <div>
      <a href="/login"> Log in </a>
    </div>
  </body>
</html>