<h1>Chitter</h1>

<% if @user %>
  <h2>Welcome, <%= @user.username %></h2>
<% end %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>

<form action="/peep/new" method="post">
  <input type="text" name="message" />
  <input type="submit" value="Peep" />
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %> - created at: <span id="<%= peep.id %>-peep-time"><%= peep.formatted_peep_time %></span>
    </li>
  <% end %>
</ul>
