
<h1>Chitter</h1>

<h2>Login</h2>
<form action="/sessions" method="post">
  <input class="input-box" id="email" type="email" name="email" placeholder="Enter email"/>
  <input class="input-box" type="password" name="password"  placeholder="Enter password"/>
  <button class="login-btn" type="submit" value="Login"> Login </button>

  <p>OR</p>

  <p> <a href="/users/register"> Sign up </p>

</form>

