<%= erb :partials_header %>

<h1>You're on Chitter – Let's Peep!</h2>

<form action="/peep" method="post">
  <input type="text" name="peep" placeholder="Peep to the world!">
  <input type="button" value="Submit">
</form>

<!--render tweet here-->
<!--the first simplest thing to pass the test-->
<!--is saving the params and displaying--> 
