<h1>Welcome to Chitter!</h1>

<% if @user %>
  <h2>You are signed in as <%= @user.username %></h2>
<% else %>
  <form action='/users/new' method='post'>
    <input type='submit' value='Sign Up'>
  </form>
<% end %>

<form action='/posts' method='post'>
  <input type='text' name='peep' />
  <input type='submit' value='Post' />
</form>
