<h1> Welcome to Chitter. Log In or Sign Up </h1>

<form action='/login' method='post'>
  <label for='email'>Email</label>
  <input type='text' name='email' placeholder='Email'>
  <br>
  <label for='password'>Password</label>
  <input type='text' name='password' placeholder='Password'>
  <br>
  <button type='submit' name='Log In'>Log In</button>
</form>

<h2>
  <%= flash[:notice] %>
</h2>

<br>
<a href="/signup">Sign Up Here</a>