<html>
<head>
  <title>Chitter</title>
</head>
  <body style="background-color: grey; text-align: center; font-size:40px; color:white">
    <hr width="50%"></hr>
    <h2>Welcom to Chitter</h2>
    <hr width="50%"></hr>
    <div style="margin-right: 215px; margin-left: 215px; background-color: grey">
    </div>
    <p style="text-align:center;">Click here to <a href="/post_peep">Post a new Peep</a></p>
    <br/>
    <p style="text-align:center;">Click here to <a href="/peeps">See Peeps</a></p>
    <br/>
    <p style="text-align:center;">Click here to <a href="/register">Sign up</a></p>
  </body>
</html>
