<head>
  <style>
  body { background-color: deepskyblue; }
  h1   { color: floralwhite;
         font-family: helvetica;
       }
  div   { border: 1px solid;
          background-color: floralwhite;
          font-family: helvetica;
        }
  </style>
</head>

<h1>Welcome to Chitter</h1>


What's on your mind?<br>
  <form action="/peep" method="post">
    <input type="text" name="peep">
    <input type="submit" value="Peep!">
  </form>
  <br>
  <br>
  <div>
    <ul>
      <% @cheets.each do |peep| %>
      <li><%= peep.body %></li>
      <%= peep.created_at %>
      <% end %>
    </ul>
</div>
