<body bgcolor="#C0C0C0">

<h1>
  <p style="color: #000000; font-size: 70px; text-align: center; font-family: monaco;"> Welcome to Chitter </p>
  <h1>

    <form action='/signup' method='post'>

  <label for='email'>
    Email: <input name='email' type='text'>
  </label>

  <label for='password'>
    Password: <input name='password' type='password'>
  </label>

  <label for='name'>
    Name: <input name='name' type='text'>
  </label>

  <label for='username'>
    Username: <input name='username' type='text'>
  </label>

  <input type='submit' value='Register'>
</form>
