<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <div>
      <form action='/chitter/sign_up'>
        <input type="submit" value="Sign up"/>
      </form>
    </div>
  </body>
</html>
