<%= @greeting %>

<%if @posts %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        Post: <%= post.message %>
        Created at <%= post.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
      </li>
    <% end %>
  </ul>
<%end%>
