<link rel="stylesheet" href="/style.css"/>

<h1>Welcome to Chitter</h1>
<h2>Sign up to start peeping</h2>
<div id="sign_up">
    <form action="/user/signup" method='get'>
      <input type="submit" value="Sign up">
    </form>
</div>
