Chitter

<form action='/users/new' method='get'>
  <button name='sign_up' value='sign_up'>Sign up</button>
</form>

<form action='/log_in' method='get'>
  <button name='log_in' value='log_in'>Log in</button>
</form>

<form action='/chitter/feed' method='get'>
  <button name='feed' value='feed'>View feed</button>
</form>