<h1>Chitter!</h1>

<form action='/peep' method='post'>
  <textarea name='message' Placeholder='What&#39;s on your mind?'
  maxlength="512" rows="9" cols="60" required></textarea><br><br>
  <input type='submit' value='Peep'>
</form>