<!DOCTYPE html>
  <head></head>
  <body>
    <table>
      <% @all_peeps.each do |peep| %>
        <tr>
          <td>Author: @<%= peep.user.username%> - <%= peep.user.name%></td>
        </tr>
        <tr>
          <td><%= peep.message %></td>
        </tr>
        <tr>
          <td>On <%= peep.posted_at %></td>
        </tr>
      <% end %>
    </table>
  <body>
</html>
