<h1>Welcome to Chitter.</h1>
<h2>Scream into the void.</h2>

<form method="post" action="/chitter">
  <input type="text" name="peep" placeholder="Peep away, friendo" />
  <input type="submit" value="Peep!" />
</form>

<h2>Here are some peeps from you and your 'friends'.</h2>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
