<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
</head>
<body>

<form action="/peeps" method="post">
  <label for="peep_message">Post a Peep:</label><br>
  <input type="text" name="peep_message" maxlength="30"><br>
  <input type="submit" name="post" value="Post">
</form>

<h2>Peeps</h2>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %><br>
      Posted by <%= peep.author_id %> at <%= peep.created_at %>
    </li>
  <% end %>
</ul>
</body>

</html>