<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  
  <body style="background-image: url('https://i.imgur.com/oCQQlse.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;">
    <h1>Welcome to Chitter</h1>
    <a href="/peeps">Chitter peeps </a><br />
    <a href="/sign_up">Sign up </a><br />
    <a href="/log_in">Log in </a><br />
    <a href="/log_out">Log out </a><br />
  </body>
</html>