<h1>Welcome to Chitter!</h1>

<form action="/sending" method="post">
  <input type="text" placeholder="Name" name="name" />
  <br />
  <input type="text" placeholder="Enter your peep here!" name="peep" style="width:350px;height:150px;"/>

  <input type="submit" value="Peep!" style="width:350px;height:180px;"/>

</form>

<style>
div {
    width: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
}
</style>

<% @chit.reverse_each do |name,peep,timestamp| %>
<p>
<div>
<b><%= name %>:</b>
<%= peep %>
</div>
<font color="grey"><sub><%= timestamp  %></sub></font>
</p>
<% end %>
