<% if current_user %>

  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
  <form action="/peeps/new" method="get">
    <input type="submit" value="New Peep">
  </form>
<% else %>
  <form action="/sessions" method="post">
    Email:<input type="text" name="email", required>
    Password: <input type="password" name="password", required>
    <input type="submit" value="Sign In">
  </form>

  <form action="/users/new" method="get">
    <input type="submit" value="Register">
  </form>
<% end %>
 
<ul>
  <% if @peeps %>
    <% @peeps.each do |peep| %>
      <li><%= peep.user.email %><br>
        <%= peep.content %></li>
    <% end %>
  <% end %>
</ul>