<html>
  <body>
  <h1>Welcome to Chitter</h1>
  <form method="POST" action="/">
      <input type="text" name="message" />
      <input type="number" name="person_id" />
      <input type="submit" value="Submit the form" />
    </form>

  <% @messages.each do |message| %>
    <div>
      <p><%= message.message %></p>
      <p style="font-size: 12px;font-style:italic" ><%= message.time %> // <%= message.handle %></p>
      <br>
    </div>
    <% end %>
  </body>
</html>