<% unless current_user %>
<form action="/" method="post">
  <label for="email">
    Email:
    <input type="email" id="email" name="email" required>
  </label>
  <label for="password">
    Password:
    <input type="password" id="password" name="password" required>
  </label>
  <input type="submit" value="Sign in">
</form>
or <a href="/users/new">Sign up</a>
<% end %>
<ul id="menu">
  <li><a href="/peeps">View peeps</a></li>
  <li><a href="/peeps/new">Add new peep</a></li>
</ul>
