<div>

<h1 align='center'> Chitter </h1>



<h2 align='center'> 
<% @messages.each do |message| %>
<li>
<%= message.text%>
</li>
<% end %>
</h2>
<form action="/post_peep" method='post'>
<input type='text' name='peep' aria-placeholder="Type your message" >
<input type='submit' value='submit' />
</form>
</div>