<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="chitter.css">
</head>
<body>
<h1>Welcome to Chitter!</h1>

<form action="/add" method="post">
  <input type="text" name="add_peep"></input>
  <input type="submit" value="Peep!">
</form>

<h2>Peeps!</h2>
<% @peeps.each do |peep| %>
<div align="center" id="peep_wrapper">
  <div align="left" id="message"><%= peep.message %></div>
  <div align="right" id="created"><%= peep.created %></div>
</div>
<% end  %>
</body>
