<div class="row align-items-start">
  <div class="col-4 d-none d-lg-block">
    <%= partial :news_feed %>
  </div>
  <div class="col-8 col-lg-5">
    <%= partial :timeline %>
  </div>
  <div class="col-4 col-lg-3">
    <%= partial :trending %>
  </div>
</div>
