<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>CHITTER!!1!!!11!</h1>
        <% if @user.nil? %>
            <p><a href="/sign-up">Sign Up</a></p>
            <p><a href="/login">Log In</a></p>
        <% else %>
            <p><a href="/logout">Log Out</a></p>
            <p><a href="/new-peep">Add new peep</a></p>
        <% end %>

        <h2>All Peeps</h2>
        <% @peeps.each do |peep| %>
            <div class="peep-container">
                <p><%=peep.content %></p>
                <p><%=peep.formatted_time %></p>
                <p><%=peep.user.name %></p>
                <p>@<%=peep.user.username %></p>
            <br>
            </div>
        <% end %>
    </body>
</html>