<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body { font-family: "Arial"; font-size: 16px;}
      .btn {
        background-color: #99CCFF;
        font-size: 16px;
        cursor:pointer;
      }
    </style>
  </head>
  <body>
      <h2 style= 'color: blue'> Recent peeps </h2>
      <form action='/names' method='post'>


      </form>
    </body>
</html>
