<center>
<body bgcolor="beige">
<font face="Arial" size="4" color="cadetblue">

Hi! Welcome to Chitter

<br>
<br>

<form action="/new">
  <input type="submit" value="Make a peep">
</form>

<form action="/peeps">
  <input type="submit" value="See all peeps">
</form>
