<h1>Welcome to Chitter!</h1>

<form action="/send" method="post">
  <input type="text" name="name" />
  <input type="text" name="peep" />

  <input type="submit" value="Submit" style="width:350px;height:180px;"/>

</form>

message placeholder
