<header>
  <h1>CHITTER</h1>
</header>
<body>
  <h3>Your Feed:</h3>
  <div>
    <div>
      <p>I went to the grocery store.</p>
    </div>
    <div>
      <p>Just saw Angelina Jolie at the chippie.</p>
    </div>
  </div>
</body>
