<h1>Its a fake twitter bitch</h1>
<form action='/add_peep'>
<button type='submit'>Add Peep!</button>
</form>

<%=@peep_message%>

<ul>
  <% @timeline.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
