<h2>Enter a username to sign in and "peep"</h2>

<form action="/username" method="post">
    <label for="username">
        Username:
        <input type="text" name="username"> 
    </label> 
        <input type="submit" value="Submit"> 
</form> 
