<% if session[:session_user_id] %>
  Welcome, <%= @user.username %>

  <form action="/new_post" method="post">
    <br/>
    <input type="text" name="post"/>
    <input type="submit"> 


  </form>

  <form action="/logout" method="post">
  <input type="submit" value="Sign out"/>
</form>
  <br/>




<% else %>

  <form action="/new_user">
    <input type="submit" value="Join Chitter"/>
  </form>
  <br/>

  <form action="/sessions/new">
    <input type="submit" value="Sign in"/>
  </form>
  <br/>

  

  <% end %>

  <% if @peeps %>
 
  <% @peeps.each do |peep| %>


    <div class="post" style="width: 320px; word-wrap: break-word; border: 1px solid black; background-color: #8AC7DB">
    <%= peep.post %>
    <div/>

    Posted by <%= User.find(peep.user_id).username %> at 
    <%= peep.created_at.strftime("%k:%M, %e %b %Y") %>

    <br/>
    <br/>
  <% end %>
  <% end %>

