<h1 style="color:blue;">Chitter</h1>
<form action="/peeps" method="post">
  <label for="peep">
    What is your Peep?
    <input type="text" name="peep">
  </label>
  <input type="submit" value="Submit">
</form>