<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1>CHITTER</h1>
    <form action="peeps" method="get">
      <input type="submit" value="View Peeps">
    </form>
    <form action="users/new" method="get">
      <input type="submit" value="Register">
    </form>
  </body>
</html>
