<div class="container mw-50">
  <form action='/' method='post'>
    <div class="input-group input-group-lg">
      <input type="text" name="peep" class="form-control" placeholder="post something boring ...">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" value="peep"><i class="glyphicon glyphicon-hand-down"></i></button>
      </div>
    </div>
  </form>
</div>
<% @peeps.each do |output| %>
<p><%= output.peep %>  ----   <%= output.time %></p>
<% end %>