<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <form action="/users/new">
        <button type="submit">Sign Up</button>
      </form>
    </header>

    <form class="new_peep" action="/chitter" method="post">
      <input type="text" name="peep" placeholder="type your peep here">
      <button type="submit" name="submit">Send Peep</button>
    </form>

    <% @peeps.each do |peep| %>
    <article>
      <time><%= peep.timestamp %></time>
      <p><%= peep.peep %></p>
    </article>
    <% end %>
  </body>
</html>
