<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div id="content">
  <h1>Welcome to Chitter!</h1>
  <h2>Please sign up</h2>

  <form action="/signup" method="post">

    <label for="email">Email:</label>
    <input type="text" name="email"/><br/>

    <label for="password">Password:</label>
    <input type="text" name="password"/><br/>

    <label for="name">Name:</label>
    <input type="text" name="name"/><br/>

    <label for="username">Username:</label>
    <input type="text" name="username"/><br/>

    <input type="submit" value="Sign up"/>
  </form>
</div>
