<html>
<body>

<h1>Chitter</h1>

<form action="/peeps" method='post'>

<textarea name="message" rows="4" cols="20"
 placeholder="What's happening?"></textarea>
  <input type="submit" value="Post Peep">
  </input>
</form>

</body>
</html>