<h1> Welcome to Chitter!</h1>

  <fieldset>
    <legend>Sign In!</legend>
      <p>
        <label>Username</label>
        <input type = "text"
                id = "myText" />
      </p>
      <p>
        <label>Password</label>
        <input type = "text"
                id = "myPwd" />
      </p>
  </fieldset>
