<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id='flash' class='notice'>
   <!-- <a class="close" data-dismiss="alert">&#215;</a> -->
   <%= flash[:notice] %>
  </div>
  <h1>Welcome to Chitter <%= "#{ @user.username }" unless @user == nil %></h1>
  <form id="signUp" action="/registration" method="get">
    <input type="submit" value="Sign up" />
    <br></br>
    <a id="or">Or</a>
  </form>
  <form id="signUp" action="/sessions/new" method="get">
    <input type="submit" value="Log in" />
  </form>

</body>
</html>
