<html>
  <body style = "background-image: linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89));">

  <h1 align = "center", style="color: 800080">Chitter</h1>
  <div>
  <a href = "/login"><input type="submit" value="Login"></a>
  </div>
  <br>
  <div>
  <a href = "/signup"><input type="submit" value="Sign Up"></a>
  </div>
  </body>
</html>