<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
</head>
<body>
  <h1>Chitter</h1>
  <form action="/signup" method="post">
    <p><input type="text" name="name" placeholder="Name"> </p>
    <p><input type="text" name="user_name" placeholder="Username"> </p>
    <p><input type="text" name="email" placeholder="Email address"> </p>
    <p><input type="text" name="password" placeholder="Password"></p>
    <p><input type="submit" value="Sign up">   </p>
  </form>
</body>
</html>