<body style="background-color:honeydew;">
    
  <h1 style="font-family:verdana"> Welcome to Chitter (the other twitter).</h1>

  <form action="/feed">
    <input style="font-family:verdana" type="submit" value="View the feed"> 
  </form>
  
  <form action='/feed/comment'>
    <input style="font-family:verdana" type="submit" value="Add your own message (peep) to the feed"> 
  </form>

  <form action='/signup'>
    <input style="font-family:verdana" type="submit" value="Sign up"> 
  </form>

</body>




