<h1> Welcome to Chitter </h1><br>
<form action='/peeps' method='get'>
  <button type='submit'>Go to Peeps feed</button>
</form>
<br>
<form action='/signup' method='get'>
  <button type='submit'>Sign up</button>
</form>
<br>
<form>
  <button type='submit'>Login</button>
</form>
