<link rel="stylesheet" href="/style.css"/>

<body>
  <%= flash[:welcome] %>
  <form action="/sign-up" method='get'>
    <input type="submit" value="Sign Up">
  </form>

  <form action="/" method='post'>
    What's on your mind?<br>
    <input type="hidden" name="user" value="???">
    <input type="text" name="content"><br>
  </form>

</body>
