<h1> Type your peep below: </h1>
<form action='/send' method='post'>
  <input type='text' name='username' placeholder='Your name'>
  <input type='text' name='peep' placeholder='Peep text'>
  <input type='submit' value='Send'>
</form>