<!DOCTYPE html>
<html>
<head>
<style>

  .button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 6px 3px;
    cursor: pointer;
  }

  body {
    background-color: lightblue;
  }
  {
    background-color: lightblue;
  }

  h1 {
    color: white;
    text-align: center;
  }
  </style>  
</head>
<body>
<center><h1 style="color:red;font-size:100px;">Welcome to Chitter!</h1></center>
<br>
<form action='/sign_up' method='get'>
  <center><input type='submit' class="button" value='Start'></center>
</form>
</body>
