<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <img src="/pic2.jpeg" alt="Description of cover"/>
    <h1>Welcome to Chitter</h1>
    <a href="/peeps">Chitter peeps </a><br />
    <a href="/sign_up">Sign up </a><br />
    <a href="/log_in">Log in </a><br />
    <a href="/log_out">Log out </a><br />
  </body>
</html>