<% if @user %>
  <h1>Welcome to Chitter, <%= @user.username %>!</h1>
<% else %>
  <h1>Welcome to Chitter!</h1>
<% end %>

<form action="/users/new">
  <input type="submit" value="Sign up">
</form>

<div style="text-align: center;">
  <% @peeps.each do |peep| %>
    <div class="peeps" style="margin-top: 10px;">
      <%= peep['peep'] %>
    </div>
  <% end %>
</div>