<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<h1 class="intro"> Sign in </h1>

<form action="/signin" method="post">
  <div style="font-size:20px;margin:20px 0"><label for="username">Username:</label><input type="text" name="username" required></div>
  <div style="clear:both;font-size:20px;margin:20px 0"><label for="password">Password:</label><input type="password" name="password" required/></div>
  <input style="background-color:#ddd;border-radius:5%;margin-top:20px; padding:3px 20px;font-size:24px;" type="submit" value="Sign in">
</form>

<h5> New to Chitter? Create an account <a href="/signup">here</a> </h5>
