<h1 style="text-align:center"> <b> Welcome to Chitter! </b> </h1>

<form action='/sessions/new' style="text-align:center">
  <input type='submit' value = 'Log in'>
</form>

<form action='/users/new' style="text-align:center">
  <input type='submit' value = 'Sign Up'>
</form>

<form action='/peeps' style="text-align:center">
  <input type='submit' value = 'Continue as Guest'>
</form>

<i><%=  flash[:notice] %> </i> 
