<!DOCTYPE html>
<html>
  <body>

    <h2>Chitter</h2>

    <button onclick="location.href = '/peep/new';" id="myButton" class="submit-button" >New peep</button>

    <ul>
      <%= @peep %>
    </ul>


 </body>
</html>
