<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter6.css">
</head>

<body>

<div class="bi-column-one">
</div>

<div class="bi-column-two">
  <div class="signup-login-container">
    <div class="signup-box">
      <h2 class="signup-heading">Join Chitter here</h2>
      <div class="login-box">
        <form action="/sign_up" method="get">
        <input type="submit" name="go_to_sign_up" value="sign up!"/>
        </form>
      </div>
      <h2 class="signup-heading">Already got an account?</h2>
      <div class="signup-box">
        <form method="get" action="/post_chit">
        <input type="submit" name="go_to_post_chit" value="get chitting!"/>
      </form>
      </div>
    </div>
  </div>
  <h6>Photo by <a href="https://unsplash.com/@maritafox?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marita Kavelashvili</a> on <a href="https://unsplash.com/s/photos/forest?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></h6>
</div>
</body>