<h1>Welcome to Chitter!</h1>

Current Chits
<ul>
  <% @chit.each do |chit| %>
    <li><a href="<%= chit.username %>"><%= chit.username %></a></li>
  <% end %>
</ul>

<ul>
  <% @chit.each do |chit| %>
    <li><a href="<%= chit.text %>"><%= chit.text %></a></li>
  <% end %>
</ul>