<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <p>
      <a href= "/signup/new">Sign up to Chitter now.</a>  
    </p>

    <p>
      <a href= "/posts">See what people are saying!</a>  
    </p>
  </body>
</html>