<html>
<head>
<style>
.center {
  padding: 70px 0;
  text-align: center;
}
body {
  background-color: lightblue;
}
h1 {
  color: hotpink;
  text-align: center;
  font-family: verdana;
}
h2 {
  color: white;
  text-align: center;
  font-family: verdana;
}
a {
  color: white;
  text-align: center;
}
</style>
</head>
<body>

<div class="center">
<h1>Welcome to Chitter!</h1>
  <p>
  <b><a href="http://localhost:9292/view-peeps" target="_blank">Click here to view all Peeps</a></b>
  </p>
  <p>
  <b><a href="http://localhost:9292/post-peep" target="_blank">Click here to post a peep</a></b>
  </p>
</div>
</div>

</body>
</html>
