<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <center>
      <h1>Chitter</h1>
      <form action='/peeps'>
        <button>Go to peeps</button>
      </form>
    </center>
  </body>
</html>
