<div>
<h4 style="text-align:center;">Welcome to Chitter!</h4>
<div>

<div>
<h6>Use the input bellow to post your peep!</h6>
<form>
<input type="text" name="peep" placeholder="It's rainy today...">
<input type="submit" value="post">
</form>
</div>