<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <a href="/signup">Sign up</a>
    <a href="/signin">Sign in</a>
    <br>
    <br>
    <h3>Peeps</h3>
    <br>
    <div class="peeps" style="border-style: ridge; width:500px;">
      <br>
      <% @peeps.reverse.each do |peep| %>
        <br>
        <div>
          <%= peep.content %>
        </div>

          <%= peep.time %>
          <br>
      <% end %>
      <br>
    </div>
  </body>
</html>
