<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <div align='center'>
      <h1>Welcome to Chitter</h1>
      <% @peeps.each do |peep| %>
        <p><%= peep.body %></p>
        <p>Posted at: <%= peep.posted_at %></p>
      <% end %>
    </div>
    <div align='center'>
      <form action="/add_peep" method="get">
        <input type="submit" value="Add a peep">
      </form>
    </div>
    <div class="sign_up">
      <form action="/sign_up" method="get">
        <input type="submit" name="sign_up" value="Sign up">
      </form>
    </div>
  </body>
</html>
