<!DOCTYPE html>
  <head>
    <title></title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <%= flash[:notice] %>
    <h1>Welcome to Chitter <%=@user%></h1>
    <% if @user != nil %>
      <form action='/peeps/new'>
        <input type=submit value='Write a Peep'>
      </form>

      <form action='/sessions/destroy' method='post'>
        <input type=submit value='Log Out'>
      </form>

    <% else %>
      <form action='/sessions/new'>
        <input type=submit value='Sign In'>
      </form>

      <form action='/users/new'>
        <input type=submit value='Sign Up'>
      </form>
    <% end %>

      <form action='/peeps'>
        <input type=submit value='View Peeps'>
      </form>
  </body>
</html>
