<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("/peace.jpeg");
        font-family: "Verdana", sans-serif;
      }

      nav
       {
       background-color: #FFFFFF;
       width: 100%;
       height: 70px;

       position: relative;
       top:  0px;
      }

    </style>
  </head>
  <nav style ="text-align: right">
    Howdy
  </nav>
  <body>

  </body>
</html>
