
<% if @user %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" id="sign_out" value="Sign out" />
  </form>
  <center><h1>Welcome, <%= @user.name %></h1></center>
  <center><form action="/peep/new" method="post">
    <input type="text" name="text" style="height:100px;width:440px;font-size:10pt;text-align:justify;background-color:lightgrey;"/>
    <center><input type="submit" id="submit" value="Submit" /></center>
  </form></center>
  <% @peeps.sort.each do |peep| %>
  <center> <div><p><%= peep %></p></div></center>
  <% end %>
<% end %>

<% if @user == nil  %>
  <center><h1>Log in first<h1></center>
  <center><form action='/sessions/new' method='get'>
    <button type='submit' id='sign_in'>Sign in</button>
  </form></center>
<% end %>


<style>
#submit {
  margin-top: 1vh;
  font-size: 24px;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  background-color: #4CAF50;
  width: 8em;
  border-color: rgba(255,255,255,1);
  border-radius:2em;
  border:0.16em solid rgba(255,255,255,0);
}
#sign_out {
  font-size: 24px;
  background-color: #f44336;
  cursor: pointer;
  text-align:center;
  width: 8em;
  border-color: rgba(255,255,255,1);
  border-radius:3em;
  border:0.16em solid rgba(255,255,255,0);
}
#sign_in {
  font-size: 24px;
  background-color: #f44336;
  cursor: pointer;
  text-align:center;
  width: 8em;
  border-color: rgba(255,255,255,1);
  border-radius:3em;
  border:0.16em solid rgba(255,255,255,0);
}
div {
  background-color: lightgrey;
  width: 500px;
  border: 5px solid black;
  padding: 30px;
  margin: 40px;
}
p {
  letter-spacing: 1px;
  color: 	#C71585;
  font-family: "Lucida Console", Monaco, monospace;
}
body {
background-color: #ffb31a;
}

</style>
<body>
</body>