<!DOCTYPE html>
<html>

<body>
<div>
This username is already in use, please choose a different one :)
</div>
<p>
<a href='/signin/maker'>Go back to signin page</a> 
</p>
<!-- <a href='/users/login'>Log in</a> -->
</body>
</html>