<!DOCTYPE html>
<html>

<body>
This email is already in use, please choose a different one :)

<a href='/signin/maker'>Go back to signin page</a> 
<!-- <a href='/users/login'>Log in</a> -->
</body>
</html>