<h3>Joining Chitter is mad easy. Just choose the name you'd like your peeps to appear under, and a memorable password.</h3>
<form action='/join' method='post'>
  <input type='text' name='handle' placeholder='your chitter handle'/>
  <input type='password' name='password' placeholder='password'/>
  <input type='password' name='confirmation' placeholder='confirm password'/>
  <input type='submit' value='Submit'/>
</form>
