<!DOCTYPE html>
<html>
  <head>
    <title>Chitter | Visualize other's minds</title>
    <meta
      name="description"
      content="This page allows users to sign up, log in to view and post peeps"
    />
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <%# <link rel="icon" href="/img/kind_pixel_emoticon_emoji_icon_189297.ico" /> %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <h3 class="first-title">We care about peeps more than anything!</h3>
		<h3> But we also care about privacy, so please sign up and log in before using our application:</h3>
    
    <a id="sign_up" href="/sign_up">Sign up</a>
   
  </body>
</html>