<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>

  <title>Chitter Welcome</title>
</head>
<nav>
    <div class="nav-wrapper navigation">
      <a href="/" class="brand-logo">Chitter</a>
      
    </div>
  </nav>

<body>
<div class="row" style="justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10em;">
<div class="col s8" style="text-align:center;">
  <h1>Chitter</h1>
  <p> Have I seen you here before ?</p>
  <p> <a href="/sign-up"  class="waves-effect waves-light btn">Sign Up</a>
    <a href="/log-in"  class="waves-effect waves-light btn">Log In</a>  </p>
    </div>
  <div class="col s12">
  <img alt="Peeps" src="/images/fieldofpeeps.jpg">
    </div>
    </div>
</body>
</html>