<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <% if current_user %>
      <h1>Welcome, <%= current_user.username %>!<h1>
    <% end %>

    <%= yield %>
  </body>
</html>
