<!DOCTYPE html>
<html>
  <head>
    <title>Chitterv2 by Toby!</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
