<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' type='css/text' href= "<%=url("css/main.css")%>"/>
    <meta charset="utf-8">
    <title>  </title>
  </head>
    <body bgcolor="#8ffado">
    <center>
    <h1>  C H I T T E R </h1>
    <%= yield %>

    </center>
  </body>
</html>
