<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-pink.css">
    <title>Chitter</title>
  </head>
  <body>
    <div class="w3-card-4">
    <div class="w3-container w3-theme w3-card">
      <h1><a href="/peeps">Chitter</a> <% if @user %><%= @user.name %><% end %></h1>
    </div>
      <div class="w3-text-theme">
    </div>
  <%= flash[:notice] %>
  <%= yield %>
  </body>
</html>
