<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if @current_user %>
      <h1> Welcome, <%= @current_user.username %> </h1>
    <% end %>
    <% if flash[:errors] %>
    <h3> Sorry, couldn't register </h3>
      <div id='notice'><%flash[:errors].each do |error|%></div>
        <ul>
          <li> <%= error %>
        </ul>
      <% end %>
    <% end %>
  <%= yield %>
</body>

</html>
