<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Athiti' rel='stylesheet'>
<style>
body {
font-family: 'Athiti';
font-size: 22px;
color: #00264D;
background: rgb(255,127,80);
background: linear-gradient(180deg, rgba(255,127,80,1) 50%, rgba(255,255,255,1) 100%);
}
h1 {
font-size: 150px;
margin-bottom: -7px;
}

h2 {
  font-size: 100px;
}
h3 {
  font-size: 40px;
  margin-bottom: -3px;
}

h4 {
  font-size: 18px;
  margin-bottom: -3px;
}
html{
    border: 20px solid #00264D;
    outline: 5px solid white;
}


</style>
</html>

<body>
  <%= yield %>
</body>
