<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chitter</title>
   <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
</head>
<center>
  <div class="welcome">
    <h1> Welcome to Chitter App 2019 </h1>
  </div>
<body>
  <img src="https://library.kissclipart.com/20181217/vgq/kissclipart-chat-icon-transparent-background-clipart-computer-6bcaff462f65a09a.png">
  <%= yield %>
</body>
</center>
</html>
