<html>
  <head>
      <meta charset="utf-8">
     <title>Chitter</title>
  </head>
<center>
  <body bgcolor="Crimson">
    <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
      <%= yield %>
  </body>
  </center>
  <center>
  <img src="https://scentofagamer.files.wordpress.com/2015/06/forest_avacynrestored_eytanzana.jpg">
  </center>
</html>
