<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/chitter.css"/>
  <title>Chitter</title>
</head>
<body>
  <%= erb :errors %>
  <%= erb :welcome %>
  <%= yield %>
</body>
</html>