<!DOCTYPE html>
<html>
<head></head>
<body>

  <% if current_user %>
   <h3> Welcome <%= current_user.username %>! </h3>
  <% end %>







  <%= yield %>

  <br>
  <br>
  <a href="http://localhost:9292">RACKUP</a>

</body>
</html>
