<!DOCTYPE html>
<html>
  <head>
    <title>Chitter!</title>
  </head>

  <body>

    <div>
      <% if @user %>
        <h1>Welcome to Chitter, <%= @user.username %>!</h1>
      <% else %>
        <h1>Welcome to Chitter!</h1>
      <% end %>
    </div>
    <div id='notice' >
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <div id='error' >
      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>