<head>

 <link rel="stylesheet" href="css/foundation.css">

  <!-- This is how you would link your custom stylesheet -->
  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr.js"></script>

</head>

<body>

  <%= yield %>

</body>