<!DOCTYPE html>
<html>
  <head>
    <title>Chitter!</title>
  </head>

  <body>

    <div>
      <% if current_user %>
        <h1>Welcome to Chitter, <%= current_user.username %>!</h1>
        <div>
          <form action='/sessions' method='post'>
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Sign out'>
          </form>
        </div>
      <% else %>
        <h1>Welcome to Chitter!</h1>
        <div>
          <form action='/sessions/new'>
            <input type='submit' value='Log in'>
          </form>
          <form action='/users/new'>
            <input type='submit' value='Sign up'>
          </form>
        </div>
      <% end %>
    </div>
    <div id='notice' >
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <div id='error' >
      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>