<!DOCTYPE html>
<html>
 <center>
 <head>
  <title>Chitter</title>
  <style>
  h1 {
  color: blue;
  font-family: helvetica;
  font-size: 300%;
}
 h2 {
  color: blue;
  font-family: helvetica;
  font-size: 200%;
}

h3 {
  color: blue;
  font-family: helvetica;
  font-size: 175%;
}

p {
  color: blue;
  font-family: helvetica;
}
a {
  color: blue;
  font-family: helvetica;
}
div {
  color: blue;
  font-family: helvetica;
}
input {
  color: blue;
  font-family: helvetica;
  text-align: center;
  border-color: blue;
  width: 20em; height: 2em;
  border-radius: 20px;
  border-width: 1px;
}

label {
  color: blue;
  font-family: helvetica;
}


#log-out,  {
 border-width: 1px;
 border-radius: 10px;
 width: 15em;  height: 2em;
 font-size: 100%;
}

#post {
 border-width: 1px;
 border-radius: 10px;
}
#sign-up-sign-in  {
 border-width: 1px;
 border-radius: 20px;
 width: 15em;  height: 2em;
 font-size: 100%;
}

 #bordered {
 border: 1px blue;
 border-style: solid none;
 }

 #header {
  padding-top: 1px;
  text-align: left;
  color: blue;
  font-family: helvetica;
  margin: 0;
 }

 #sign-out-header {
  color: blue;
  font-family: helvetica;
  border-radius: 20px;
  width: 6em;  height: 2em;
  margin-top: 1em;
 }

 #bold-username {
  font-weight: bold;
 }

 #peep-time {
  font-weight: lighter;
 }

 




</style>
 </head>
<body>
<h3 id="header"> Chitter </h3>

  <%= yield %>
</body>
</center>
</html>