<html>
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Chitter</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
    </header>
    <%=yield%>
  </body>
</html>