<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Chitter!</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <% if session[:user_id] %>
      <p>You are logged in</p>
      <a href="/logout">Logout</a>
      <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
      <% end %>
    </header>
    <main><%= yield %></main>
    <footer>Made by Sarah 💙</footer>
  </body>
</html>
