<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
    <h1>Welcome <%= current_user.email %></h1>
    <% end %>
    <%= yield %>
  </body>
  </html>
