<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styling.css">
  <title>Chitter</title>
</head>

<body>
  <header>
    <h1><a href="/">Chitter</a></h1>
    <nav>

    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <h4>Thanks for visiting!</h4>
  </footer>
</body>
</html>