<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <% if flash[:error] %>
      <div><%= flash[:error] %></div>
    <% end %>
    <% if current_user && session[:user_id]%>
      Hi, <%= current_user.username %>
    <% end %>
    <%= yield %>
  </body>
</html>