<!DOCTYPE html>
<!-- prepared a layout file if I get time to beautify this webpage -->
<html style = "background-color: white">
  <head>
    <title> Chitter </title>
  </head>
  <!-- style for web page body  -->
  <body>
    <style>
      h1 {
        color: red;
        display: inline;
      }
      img {
        display: inline;
      }
    </style>
    <!-- yields to index.erb -->
    <div>
       <%= yield %>
    </div>
  </body>
</html>
