<!DOCTYPE html>
<html>
  <head>
    <title>Welcome To Chitter!</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.user_name %>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
