<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/interface.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style media="screen">
      <%# generic styling %>
      #body {
        background-image: url("https://newevolutiondesigns.com/images/freebies/abstract-background-60.jpg");
        font-family: helvetica;
        margin: 0 0;
      }
      nav {
        background-color: black;
        height: 45px;
      }
      #index_heading{
        color: black;
      }
      #jumbotron-override {
        background-color: rgb(224, 228, 229, 0.5);
        color: black;
      }
      #login{
        width: 101px;
        margin-right: 3px;
      }
      span {
        display: inline-block;
      }
      ul {
      list-style-type: none;
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      color: white;
      }
      li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }
      li a:hover:not(.active) {
      background-color: rgb(121, 167, 242, 0.3);
      cursor: pointer;
      }
      .active {
      background-color: #4CAF50;
      }
      #nav-li {
      float: right;
      }
      #home {
        float: left;
      }
      #flash-notice{
        margin-bottom: 0;
      }

      <%# index styling %>
      #login_btn{
        padding: 14px 33px;
        background-color: #007bff;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
      }
      #sign_up_btn{
        padding: 11px 40px;
        font-size: 18px;
      }

      <%# sign up erb styling %>
      input {
        margin: 10px;
      }
      #sign_up_heading{
        color: white;
        margin-top: 30px;
        padding-bottom: 50px;;
      }
      #post_button {
        margin-top: 20px;
      }
      #sign_up_labels {
        color: white;
        float: left;
      }
      .container {
        width: 500px;
        clear: both;
        margin-top: 80px;
      }

      .container input {
        width: 100%;
        clear: both;
      }
      <%# messaging styling %>
      #messaging_header{
        color: white;
        padding-bottom: 10%;
      }
      #post {
        width: 600px;
        height: 400px
        padding-bottom: 10px;
      }
      #post_message_button {
        margin-top: 20px;
        width: 20%;
      }
      <%# feed styling %>
      .peeps {
        background-color: rgb(66, 188, 244, 0.6);
        border-radius: 25px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 7px;
        padding: 5px;
      }
      h1 {
        color: white;
      }

      hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }

      .feed_form {
        width: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 25px;
        margin-bottom: 20px;
      }
      label {
        color: white;
      }
      #feed_label
        padding-right: 5px;
        color: white;
      }
      #sort {
        margin-left: 7px;
        width: 70px;
      }
      .peeps {

      }
      #newest {
        margin-right: 10px;
      }
      #oldest {
        margin-right: 10px;
      }
      #time{
        float: right;
        margin-right: 10px;
      }
      #username{
        float: left;
        margin-left: 10px;
      }
      <%# nav %>
      #cross{
        float: right;
      }
      .fas fa-bars{
        color: white;
      }
      #panel {
        padding: 5px;
        text-align: center;
        background-color: rgb(0, 0, 0, 0.5);
        color: white;
        display: none;
        position: absolute;
        left: 80%;
        border-radius: 4px;
      }
      .menu{
        width: 300px;
        list-style-type: none;
      }
      .menu-item{
        padding: 10px;
      }
    </style>
  </head>
  <body id = "body">
    <ul>
      <li id="home" class="">
        <a class="" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li id="nav-li" class="">
        <a id="flip" class=""><i class="fas fa-bars"></i></a>
      </li>
      <% if session[:username] %>
      <li id="nav-li" class="">
        <a class=""><i class="fas fa-user-circle"></i> <%= session[:forename] %></a>
      </li>
      <% end %>
    </ul>
    <span id="panel">
      <span class="menu">
        <li class= "menu-item"><a href="/chitter/messaging"><i class="fas fa-paper-plane"></i>  Post a message</a></li>
        <li class= "menu-item"><a href="/chitter/feed"><i class="fas fa-th-list"></i>  Message feed</a></li>
        <hr color="white">
        <% if session[:username].nil? %>
        <li class= "menu-item"><a href="/sessions/new"><i class="fas fa-sign-in-alt"></i>  Login</a></li>
        <% else %>
        <li class= "menu-item"><a href="/sessions/destroy"><i class="fas fa-sign-out-alt"></i>  Log out</a></li>
        <% end %>
      </span>
    </span>
    <% if flash[:error] %>
      <div id="flash-notice" class="alert alert-danger" role="alert">
        <%= flash[:error] %> <span id="cross"><i class="fas fa-times-circle"></i></span>
      </div>
    <% elsif flash[:success] %>
      <div id="flash-notice" class="alert alert-success" role="alert">
        <%= flash[:success] %> <span id="cross"><i class="fas fa-times-circle"></i></span>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
