<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter - Where Peeping is OK</title>
  </head>

<body>

  <div style="background-color:black; padding-bottom: 20px; padding-top: 10px; padding-left: 20px; height: 2000px">
  <h1 style="color:green">Chitter - Peeps</h1>
  <%= yield %>
  </div>
</body>
</html>

