<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Chitter!</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <div>
        <% if session[:user_id] %>
        <p>You are logged in</p>
        <a class="button" href="/logout">Logout</a>
        <% else %>
        <a href="/">Sign Up</a>
        <a href="/login">Log In</a>
        <% end %>
      </div>
    </header>
    <main><%= yield %></main>
    <footer>Made by Sarah 🐥</footer>
  </body>
</html>
