<!DOCTYPE html>
<html>
 <head>
 <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
   <link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
   <title> Chitter </title>
 </head>
 <body>
   <div class="container">
     <%= yield %>
   </div>
 </body>
</html>