<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="chitter.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Roboto" rel="stylesheet">
    <title>Chitter</title>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
