<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CHITTER</title>
  </head>

  <body>
  <!-- Change these Google fonts with your own choice -->
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">

     <div class="header">
        <a href="/">Homepage</a>
        <% if session[:user_id] == nil %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a><br>
        <% else %>
        <a href="/logout">Logout</a>
        <a href="/account_page">My Account</a><br>

        <a href="/peep/new">New Peep</a>
        
        
        <%end%>
    </div>

    <main><%= yield %></main>

    <p>
    <a href="/shoutybox">Shouty Box<br> see what people are peeping </a>
    </p>

  </body>
</html>
