<!DOCTYPE html>

<!-- prepared a layout file if I get time to beautify this webpage -->

<html style = "background-color: white">
  <head>
    <style>
    </style>
    <title> Chitter </title>
  </head>
  <body>
    <style>
      h1 {
        color: red;
        display: inline;
      }
    </style>
    <div>
       <%= yield %>
    </div>
  </body>
</html>
