<%= erb :header %>

<% if logged_in_user %>
  <div class="welcome_message">
    <span class="msg">Welcome to Chitter, <b><%= logged_in_user.name %></b>.</span><a href="/logout" id="log-out" class="chitter-button"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </div>
<% end %>
<%= yield %>
