<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title><%= @title %></title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-xl">
      <a class="navbar-brand" href="/">Chitter</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <% if @user %>
            <li class="nav-item active">
              <div class="nav-link m-2"> <%= @user.handle %></div>
            </li>
            <li class="nav-item">
              <a class="btn btn-light m-2" href="/peeps/new">Compose Peep</a>
            </li>
            <li class="nav-item">
              <form action="/sessions/destroy" method="post">
                <input class="btn btn-light m-2" type="submit" value="Log out">
              </form>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="btn btn-light m-2" href="/users/new">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-light m-2" href="/sessions/new">Log in</a>
            </li>
          <% end %>
        </ul>
      </div>

<!--


      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav ml-auto">
          <% if @user %>
            <%# <div class="btn-group" role="group" aria-label="Compose and Log Out" > %>
              <form action="/sessions/destroy" method="post">
                <input class="btn btn-light" type="submit" value="Log out">
              </form>
              <a class="btn btn-light" href="/peeps/new">Compose Peep</a>
            <%# </div> %>
          <% else %>
            <%# <div class="btn-group" role="group" aria-label="Sign in or Log in" > %>
              <a class="btn btn-light" href="/users/new">Sign up</a>
              <a class="btn btn-light" href="/sessions/new">Log in</a>
            <%# </div> %>
          <% end %>
        </div>
      </div>

-->


    </div>
  </nav>

  <div class="container">
    <% if flash[:notice] %>
      <h2 class="alert alert-primary my-4" role="alert">
        <%= flash[:notice] %>
      </h2>
    <% end %>
    <%= yield %>
  </div>

<%# Bootstrap JS %>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>



