<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter - A makers twitter</title>
  </head>
  <body>

    <% if current_user %>
      Welcome <%= current_user.username %>
      <form action="/logout" method="post">
        <input type="submit" value="Log out">
      </form>
    <% end %>

    <% if flash[:logout] %>
      <%= flash[:logout] %>
    <% end %>
    <br>

    <%= yield %>

  </body>
</html>
