<!DOCTYPE html>
<html>
<body>
  <head>
    <style>
      body{
        background-color: #B0C4DE;
      }
      img{
        width: 230px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    </head>
<div>
  <h1 style="font-family:Comic Sans MS; color:#000080;" align="center">Welcome to Chitter</h1>
  <p style="font-family:Comic Sans MS; color:#6495ED; font-size:17px;" align="center">Share your life with the world and spy the life of others ...<br>
  This gonna become your favorite chitchat place ever!</p>
</div>
<img src="https://img.freepik.com/vecteurs-libre/illustration-de-personnage-de-personnes-tenant-des-bulles_53876-43081.jpg?size=338&ext=jpg">
<%= yield %>
</body>
</html>

<!-- <p style="font-family:Comic Sans MS; color:#000080; font-size:15px;">If you are already one of our member, just :</p> -->
