<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Chitter</title>
  </head>
  <body>
    <div class="header">
      <h2>Chitter</h2>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>