<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chittr Application </title>
    <link rel="stylesheet" href="./stylesheets/application.css">
  </head>
  <body>
  <div class="header">
    Chitter Application
  </div>
  <div class="layout">
  </div>
    <%=yield%>
    </body>
  <div class="footer">
    <p>@gunelmehdiyeva-chau.com</p>
    <a href="mailto:gunel.mehdiyev@gmail.com">gunel.mehdiyev@gmail.com</a></p>
  </div>
  </html>
