<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <meta name="description" content="Chitter">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
  </head>

<body>
  <%= yield %>
</body>
</html>
