<html>
  <head>
      <meta charset="utf-8">
     <title>Chitter</title>
  </head>
<center>
  <body bgcolor="Crimson">
      <%= yield %>
  </body>
  </center>
  <center>
  <img src="https://scentofagamer.files.wordpress.com/2015/06/forest_avacynrestored_eytanzana.jpg">
  </center>
</html>
