<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Chitter</title>
  </head>
  <header>
    <div class="pagelogo">
      <img src="http://www.clipartbest.com/cliparts/niX/BA5/niXBA5oAT.png">

    </div>
    <div class="nav">
      <a href="/new_user"> Sign up</a>
      <a href="/log_in"> Log in</a>
    </div>
  </header>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.name %>!
    <% end %>
    <%= yield %>
  </body>
</html>
