 <!DOCTYPE html>
<html>
<center>
  <head>
  <link rel="stylesheet" href="/css/master.css">
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
  <%= yield %>
  </body>
  </center>
</html>