<!DOCTYPE html>
<html>
<head></head>
<body>

  <% if current_user %>
   <h3> Welcome <%= current_user.username %>! </h3>

   <form id="sign-out" method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log out" class="button">
    </form>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    Sorry, there were the following problems with your registration:
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>






  <%= yield %>

  <br>
  <br>
  <a href="http://localhost:9292">RACKUP</a>

</body>
</html>
