<!DOCTYPE html>
<html>
<head>
    <title>Chitter!</title>
  <link href="/styles/reset.css" rel="stylesheet" />
  <link href="/styles/styles.css" rel="stylesheet" />
</head>

<body>

  <%= partial :header %>
  <%= partial :flash %>
  <%= yield %>

</body>

</html>