<!DOCTYPE html>
<html>
<body>
<div>
  <h1>Welcome to Chitter. Share your life with the world and spy the life of others ... This gonna become you favorite chitchat place ever!</h1>
</div>
<%= yield %>
</body>
</html>
