<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
    <title>Chitter</title>
  </head>
  <body>
    <div class="header">
      <h2>Chitter</h2>
    </div>
    <div class="container">
      <h2>
        <%= flash[:notice] %>
      </h2>
      <%= yield %>
    </div>
  </body>
</html>