<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter - Where Peeping is OK</title>
  </head>

<body>
  <div style="background-color:#E6ECF0; padding-bottom: 10px; padding-top: 10px;">
    <div style="margin: 5px; background-color:white; color:blue; padding:10px">
      <h1 style="color:blue; padding-left:30%; padding-right:30%;">Chitter - Where Peeping is OK</h1>
    </div>
  <%= yield %>
  </div>
</body>
</html>

