<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if @current_user %>
      <h1> Welcome, <%= @current_user.username %> </h1>
    <% end %>
    <h1> Test </h1>
    <% if flash[:errors] %>
    <div id='notice'><%=flash[:errors]%></div>
    <% end %>

    <%= yield %>

  </body>

</html>
