<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar">
      <h1 class="navbar-item">Chitter<a href="/"></a></h1>
      <%# <h2 class="navbar-item">Sign Up<a href="#"></a></h1>
      <h2 class="navbar-item">Log In<a href="#"></a></h1> %>
    </div>
    <%= yield %>
  </body>
</html>
