<!DOCTYPE html>
<html>
<title>Chitter</title>
<center>
  <h1> Chitter </h1>
  <div>
    <h3> Want to send a message? Look no further - send your messages faster than on Jethro's repo right here at Chitter! </h3>
  </div>
<body>
  <%= yield %>
</body>
</center>
</html>
