<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1>Chitter</h1>
    <% if current_user %>
      Welcome, <%= current_user.real_name %>
    <% end %>
    <%= yield %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul id="errors"><% flash[:errors].each do |error| %>
		      <li> <%= error %> </li>
      <% end %></ul>
    <% end %>
  </body>
</html>
