<!DOCTYPE html>
<html>
  <head>
    <title>Chitter Chatter</title>
  </head>

  <body>
    <%if current_user%>
      Welcome, <%=current_user.user_name%>
      <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
    <form method='get' action='/peeps_new'>
    <input type='submit' value='press button to Peep'>
  </form>

    <%end%>
    <%if flash[:errors]%>
      <div id='notice'><%=flash[:errors]%></div>
    <%end%>
    <% if flash[:notice] %>
   <div id='notice'>
     <%= flash[:notice] %>
   </div>
 <% end %>
      <%=yield%>
  </body>
</html>
