<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
    <title>Chitter</title>
  </head>
  <body>
    <div class="header">
      <h2>Chitter</h2>
    </div>
    <div class="container">
      <h2>
        <%= flash[:notice] %>
      </h2>
      <%= yield %>
    </div>
  </body>
</html>
