<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      .jumbotron{
        background-color:#6f42c1a6;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1> Faldo-Movie-Ratings </h1>
      </div>
      <div class="jumbotron">


        <%= yield %>



      </div>
    </div>
  </body>
</html>
