<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P&display=swap">
    <title>Chitter Challenge</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" id='nav-brand' href="/">THE 411</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        <% if @user && @user != :email_clash && @user != :handle_clash %>
          <li class="nav-item">
            <a class="nav-link" href="/user">My Posts</a>
          </li>
          <li class="nav-item">
            <form action='/log-out' method='post'>
              <button type='submit' class='nav-link btn'>Log Out</button>
            </form>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/log-in">Login</a>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>

</html>
