<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" /> 
</head>
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<body>
<%= yield %>
</body>
</html>
