<!DOCTYPE html>
<html>
  <head>
    <title>Guillaume 's Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">  
    <link rel="stylesheet" type="text/css" href="/css/application.css">  
  </head>
  <body>
    <img class="logo" src='https://www.subpng.com/png-gwswfw/download.html'><br>
    <%= partial :header %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>