<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/application.css">

  <title>Chitter!</title>
</head>

<body>
  <header class="center">
    <h1><a href="/">Chitter!</a></h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>
</body>

</html>
