<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <div class="navigation">
      <a href="/">Return Home</a>
      <a href="/peeps/new">Add Peep</a>
      <a href="/users/new">Sign Up</a>
    </div>
  </body>
  <%= yield %>
</html>