<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
  <div class="wrapper">
    <div id='container'>
    <h1>This is Chitter</h1>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>
</body>
</html>


