<html lang='en'>

  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="./stylesheets/main.css">
  </head>

  <body>
    <div id=header>
      <h1>Chitter</h1>
    </div>
    <div id="navbar">
      <a href="/">Home</a>
      <% if @logged_in == true %>
      <a href = '/new_message' method = 'get'>Post Message</a>
      <a href = '/account/log_out'>Log out</a>
      <% else %>
      <a href = '/account'>Create Account</a>
      <a href = '/log_in'>Log in</a>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
