<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Using Erb Templates</title>
  </head>

<body>

  <div style="background-color:black; padding-bottom: 20px; padding-top: 50px; padding-left: 490px; height: 2000px">
  <h2>Erb Templates</h2>
  <%= yield %>
  </div>
</body>
</html>

