

<ul>
  <% @peeps.each do |peep| %>
   <%= peep.username %>
   <%= peep.peep %>
   <%= peep.datetime %>
  <% end %>
</ul>




<form action="/sign_up" type="get">
  <input type="submit" value="Sign Up">
</form>

<form action="/login" type="get">
  <input type="submit" value="login">
</form>
