Please enter your email address and password:<br><br>

<form action='/logged_in' method = 'post'>
  <label for="email">Email address:</label>
  <input type="string" name="email">
  <label for="password">Password:</label>
  <input type="string" name="password">
  <input type="submit" name="Submit">
</form>
