<link href="<%= url('/global.css') %>" rel="stylesheet" type="text/css" />

<body class='body'>
    <div class='log_in_form'>
        <form action='/log_in' method='post'>
        <input type='text' placeholder='username' name='username'>
        <input type='text' placeholder='password' name='password'>
        <input type='submit' value='log-in'>
        </form>
    </div>
</body>
