<% if @alert %>
  <p>Check your email or password.</p>
<% end %>

<form action="/authenticate" method="post">
 <input type="submit" name="sign_in" value="sign_in">
 <input type="text" name="email">
 <input type="text" name="password">
</form>
