<body style="text-align: center; background-color: #B0B0B0; font-family: DejaVu Sans mono, monospace">

  <form action="/log_in" method="post">
    <p>Username:</p>
    <input type="text" name="username">
    <p>Password:</p>
    <input type="text" name="password">
    <input type="submit" value="Log In" style="border: none; color: white; background-color: #00BFFF; border-radius: 4px; padding: 4px 10px; margin: 4px 2px; cursor: pointer">
  </form>

  <%= flash[:login_error] %>

</body>
