<center>
<head>
 <style>
 body {background-color: lightblue;}
 p {border: outset 2px; border-radius: 3px;}
 </style>
 </head>

<h2> Welcome back! </h2>
<h3> <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> Please input details below to log in <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> </h3>
<form action="/confirm_log_in" method='post'>
<input type="text" name="email" placeholder='Email'>
<input type="text" name="password" placeholder='Password'>
<input type="submit" value="Submit">
</form>

<h3> Don't have a log in? Sign up here </h4>
<form action="/sign_up" method='get'>
  <input type="submit" value="Sign up">
</form>

