<form class="" action="/chitter" method="post">
  username <input type="text" name="username"><br>
  password <input type="text" name="password"><br>
  <input type="submit" name="log_in" value="Log in">
</form>
