<%= styled_flash %>

<form action='/users' method='post'>
  <label for="username">
  <input type='text' name='username' placeholder="username">
  </label>
  <label for="password">
  <input type='text' name='password' placeholder="password">
  </label>
  <input type='submit' value='log_in'>
</form>
