<div class="log_in">
<form action="/log_in" method="post">
<label for ="player_one">Username</label><br>
<input type="text" name="username" maxlength="16"><br>
<label for ="player_one">Password</label><br>
<input type="password" name="password"><br>
<input type="submit" value="Log In">
</form>
</div>