<!DOCTYpe html>
<html>
<head>
<title>Chitter</title>
</head>
<body>
    <h3>Please lon in to your account:</h3>
    <form method="POST" action="/log_in">
        <div class="sing_in">
            <label>Email : </label>
            <input type="text" name="email"/> <br> <br>
            <label>Password : </label>
            <input type="password" name="password"/>
        </div>
        <input type="submit" value="Log In!"/>
    </form>

</body>
</html>