<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <div class="pagelogo">
    <img src="http://www.clipartbest.com/cliparts/niX/BA5/niXBA5oAT.png">

  </div>
  <div class="nav">
    <a href="/new_user"> Sign up</a>
    <a href="/log_in"> Log in</a>
  </div>
</header>
  <body>

    <form class="log_in" action="/sessions" method="post">
      <input type="text" placeholder="Username" name="user_name" value='' required>
      <input type="password" placeholder="Password" name="password" required>
      <input type="submit" value="Log in!">
    </form>

  </body>
</html>
