<form method="POST" action='/log_in'>

<div>
  <label>User Name: </label>
  <input type="text" name="user_name" /><br>
</div>

<div>
  <label>Password: </label>
  <input type="text" name="password" /><br>
</div>
  <input type="submit" value="Log In"/>
</form>