<head>
  <link rel="stylesheet" href="styles.css">
</head>

<h2>
  LOG IN
</h2>

<form action="/log_in/check_details" method="post">
  USER NAME:<input type="text" name="user_name" size="30" maxlength="60" required />
  </br></br>
  PASSWORD:<input type="password" name="password" size="30" maxlength="60" required />
</br></br>
  <input type="submit" value="Submit" />
</form>

<%= flash[:log_in_fail] %>

<form action="/" method="get">
  <input type="submit" value="MAIN MENU">
</form>
