<form action="/log-in" method="post">
  <label for="username">Username:</label><br>
  <input type="text" name="username" value="">
  <label for="password">Name:</label><br>
  <input type="password" name="password" value="">
  <input type="submit" name="log in" value="Log In">
</form>
