<h3>Please Sign in</h3>

<div>

  <form method='POST'>

    <label for="sign_in_username" required>Username: </label>
    <input name='sign_in_username' type='text'></br>

    <label for="sign_in_password" required>Password:</label>
    <input name='sign_in_password' type='password'></br></br>

    <input type='submit' value='Sign in'>

  </form>

</div>