<h1> Log in </h1>

<form action="/log_in" method="post">
  <label for="username"> Username: </label>
  <input type="text" name="username">
  <label for="password"> Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
