<%= flash[:notice] %>

<form action='log_in' method='post'>
  Username:
  <input type='text' name='username' placeholder='username'>
  <br>
  Password:
  <input type='password' name='password' placeholder='password'>
  <br>
  <input type='submit' value = 'Submit'>
</form>