<h1> LOGIN </h1>

<% if @error == true %>
  <div class="alert alert-danger" role="alert">
    Email or password are incorrect. Please try again.
  </div>
<% end %>

<form action='/log-in' method='post'>
  <input type='email' name='email' placeholder='Email' required> <br>
  <input type='password' name='password' placeholder='Password' minlength='8' required> <br>
  <input class='start-btn submit' type='submit' value='RIGHTEOUS'> <br>
</form>
