<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1> Welcome back to Chitter, <%= session[:name] %>! </h1>
    <a href="/<%=@user.name.split(" ").join("-")%>/page"> Click here to access your user page </a>
  </body>
</html>