<form action="/log_in/check_details" method="post">
  USER NAME:<input type="text" name="user_name" size="60" maxlength="60" required /></br>
  PASSWORD:<input type="password" name="password" size="60" maxlength="60" required /></br>
  <input type="submit" value="Submit" />
</form>

<%= flash[:log_in_fail] %>

<form action="/" method="get">
  <input type="submit" value="BACK TO MAIN MENU">
</form>
