<!DOCTYPE html>
<html>

<form action='/log_in' method='post'>
  <input type='email' name='email' placeholder='Enter your email....'/>
  <input type='password' name='password' placeholder='Enter your password....'/>
  <input type='submit' value='Log in'/>
  </form>

  </html>
