<center>
<body style='background-color:powderblue;'>
<h1 style='color:white;' align='center'> CHITTER </h1>

<form action= '/users' method='POST'>
  <label for='username'>
    <input type='text' name='username' placeholder='username'>
  </label>
  <label for='password'>
    <input type='text' name='password' placeholder='password'>
  </label>
    <input type='submit' value='Log in'>
</form>
<%= styled_flash%>
</body>
</center>
