<center>
<form action = '/log_in' method = 'post'>
  <input type = 'text' name = 'username' placeholder = 'Username' required><br>
  <input type = 'password' name = 'password' placeholder = 'Password' requirede><br>
  <input type = 'submit' value = 'Sign in'>
</form>