<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <h1>Log In Here</h1>
    <form method="POST" action="/log-in">
      <p><label>Email: </label>
      <input type="email" name="email" required /></p>
      <p><label>Password: </label>
      <input type="password" name="password" required /></p>

      <p><input type="submit" /></p>
    </form>
  </body>
</html>