<h2>Welcome to Chitter</h2>
<h3>Log in</h3>

<form method="post" action="/log-in">
  Username: <input type="text" name="username" />
  Password: <input type="text" name="pass" />

  <input type="submit" value="Log in" />
</form>