<h1> Welcome to Chitter! </h1>
<h2> Please sign up below </h2>

<form action="/log_in" method="post">
  <input type="text" name="id" value="@username">
  <input type="text" name="password" value="password">
  <input type="submit" value="Submit">
</form>
