<h1>Please log in below.</h1>

<form action="/logged_in" method="post">
  <input type="text" name="name" placeholder="Username"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Submit"/>
</form>
