<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-colour : white;
}

h2 {
  color: lightblue;
  text align: center;
}

body {
  font-family: verdana;
  font-size: 20px
}
</style>
</head>
<body>
<h2>Login Successful</h2>
</body>
</html>