<html>
  <head></head>
  <body>
    <h1>Chitter</h1>

    <div>
      You are Logged in.
        <br> <a href="/account_page">View Account </a>
        <br> <a href="/all_peeps">View all peeps </a>
        <br> <a href="/post/new">Post a new Peep </a>
        <br> <a href="/logout">Logout </a>
    </div>
  </body>
</html>