<%= "Welcome #{@user_name}" %>

<form action = '/logged_in' method ='post'>
  <input type ='text' name = 'post'>
  <input type = 'submit' value ='post to Chitter'>
</form>
<%if !@post.nil?%>
<% @post.each do |post| %>
<li>
  Post: <%=post.post%>
  at: <%=post.created_at%>
</li>
<% end %>
<% end %>
<form action ='/' method = 'get'>
  <input type ='submit' value = 'Log out'>
</form>
