<html>
  <head>
    <style>
      #roundedcorners {
      border-radius: 25px;
      border: 2px solid #1DA1F2;
      padding: 20px;
      width: 625px;
      height: 45px;
      }
      body {
      background-color: lightblue;
      font-family: verdana;
      }
    </style>  
  </head>
  <body>
    <h1 id="roundedcorners">See ya! You have been logged out</h1>
    <button onclick="window.location.href='/';">
      Return to homepage
    </button>
    <br>    
    <br>
    <br>
    <br>
    <button onclick="window.location.href='/login';">
      Log in again
    </button>
    <br> 
  </body>
</html>