<div>
  <p>Welcome, <%= User.first(id: session[:user_id]).email %></p>
  <form action='/peep/new/process/' method='post'>
    <input type='text' name='peep_text'>
    <input type='submit' value='Post'>
  </form>

  <form action='/mypeeps/'>
    <input type='submit' value='My Peeps'>
  </form>

  <div>
    <% Peep.all.each do |peep| %>
      <%= peep.text %>
      <!-- Consider showing who posted (usernames!) -->
    <% end %>
  </div>
</div>
