<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome <%=session["username"]%></h1>
    <form action="logout" method="post">
      <input type="submit" value="Log Out!"/>
    </form>
    <form action="peep" method="post">
      <input type="text" name="peep"/>
      <input type="submit", value="Peep!"/>
    </form>
    <%Peep.all.each do |peep|%>
    <%=peep.text%>
    <%end%>
  </body>
</html>
