Hi, <%= @name %>! <a href="/log_out">Log Out</a>

<form action="/post_peep" method="post">
  New Peep:<input type="text" name="peep"> <br>
  <input type="submit" name="submit" value="Post peep!">
</form>

my new peep
