<html>
  <head></head>

  <body>
    <a name="top"></a>
    <h1>Welcome to Chitter!</h1>

    <form method="POST" action="/peep">
      <div>
        <label>Content</label>
        <input type="text" name="content">
      </div>

      <input type="submit" />
    </form>
  </body>

  <footer>
    <h4><a href ="#top">Back to top!</a></h4>
  </footer>
</html>