<html>
  <head>
  <title>Chitter</title>
  <link href="/style.css" rel="stylesheet" /></head></head>
  <body>
    <h1>Login</h1>
      <div>
        <form action="/login" method="POST">
          <div>
          <label>Email</label>
          <input type="text" name="email">
          </div>
          <div>
          <label>Password</label>
          <input type="text" name="password">
          </div>
          <input type="submit" value="Log me in">
      </form>
    </div>
    </body>
</html>