<html>
  <head><title>Chitter</title>
  <link href="/style.css" rel="stylesheet" /></head>
  <body>
    <h1>Logged in as <%= @username %></h1>
      <div>
      <a href="/index">Browse new peeps</a>
      <a href="/peeps/new">Post a new peep</a>
    </div>
    </body>
</html>