<html>

<head>
<style>
body {font-family: Verdana, sans-serif;}
body {background-color: FFFFFF;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
</style>
</head>
<center>

<body>


    <h1>Logged in successfully! Please click here to write a new peep:</h1>

        <form action="/peeps/new">
            <input type="submit" value="NEW PEEP" />
        </form>

            <h2>Or here to return to the homepage</h2>
        <form action="/">
            <input type="submit" value="HOME" />
        </form>

          <h2>Or here to see all Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="PEEPS" />
        </form>

<form action="/logout">
  <input name="submit2" type="submit" id="submit2" value="LOGOUT">
  </label>
</form>

</body>
 <img src= https://static01.nyt.com/images/2014/01/28/science/28SLOT_SPAN/28SLOT-superJumbo.jpg width="300" height="250">

</center>

</html>