<div>
  <h3><a href="/">home</a>
</div>
<form action="/log-in" method="POST">
  <input type="text" name="email" placeholder="email" />
  <input type="text" name="password" placeholder="password" />
  <input type="submit" value="Submit" />
</form>