<form action='/' method='post'>
  <div>
    <p>
      <label for='username'>Username: </label>
      <input type='text' name='username'>
    </p>
    <p>
      <label for='password'>Password: </label>
      <input type='password' name='password'>
    </p>
      <input type='submit' value='login'>
  </div>
</form>
