<style>
  body {
    color: purple
  }
</style>

<h1 style='font-family:Trebuchet MS;font-size:72'> Chitter™ </h1>
<h2 style='font-family:Trebuchet MS;font-size:48'>Login </h2>
<p> Don't have a <b> Chitter </b> account? <a style='color:blue' href="/sign_up">sign up!</a> </p>
