<div class = "alert alert-danger pb-0 pt-0 mt-0 mb-0" role ="alert">
  <h4 class =" text-center pb-0 pt-0 mt-0 mb-0"> <%= flash[:not_found] %></h4>
</div>

<form action="/login" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Log In">
</form> 