<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ｃｈｉｔｔｅｒ　（なゅ温）</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="login.css">
  </head>
  <style>
    body {
      background-color: lightgrey;
    }
  </style>
  <body>
    <header>
      <h1 class="logo">Chitter</h1>
    </header>
    <div class="window login-box" style="width: 300px">
      <div class="title-bar">
        <div class="title-bar-text">Ｃｈｉｔｔｅｒ　なゅ温</div>
        <div class="title-bar-controls">
          <button disabled aria-label="Minimize"></button>
          <button disabled aria-label="Maximize"></button>
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <img src="images/kawaii.png" class="login-friend">
        <div class="field-row">
          <label for="username">Username</label>
          <input id="username" type="text" />
        </div>
        <div class="field-row">
          <label for="password">Password</label>
          <input id="username" type="text" />
        </div>
        <br>
        <button><u>G</u>o Online</button>
        <button><u>R</u>egister</button>
      </div>
    </div>
    <div class="info">
      <p>An internet enabled Application for concise
        communication with your friends and colleagues</p>
    </div>
  </body>
</html>
