<html>

<head></head>

<body>
    <h1>Please log in</h1>

    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email Address">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>

</body>

</html>