<html>
    <head>
    <link rel="stylesheet" type="text/css" href="style.css?version=1" />
    <link rel="shortcut icon" type="image/x-icon" href="lo.png?version=1">
      <title>Login</title>
    </head>
    <body>
      <div>
        <h1>Something went wrong!</h1>
        <p>Please check that your details are correct</a>
        <br><br>
        <p><a href="/login">Try logging in again</p>
        <br>
        <p><a href="/signup">Create an account</p>
      </div>
    </body>
</html>