<div class="login-container">
    <p>Log in</p>
    <form action="/login" method="POST">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="submit" value="Log in">
    </form>
</div>