<html>
    <head></head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <h1>Log In</h1>
        <form action="/login" method="POST">
            <label>Email: </label>
            <input type="text" name="email">
            <label>Password: </label>
            <input type="text" name="password">
            <input type="submit">
        </form>
    </body>
</html>