<html>
  <head>
    <style>
      #roundedcorners {
      border-radius: 25px;
      border: 2px solid #1DA1F2;
      padding: 20px;
      width: 200px;
      height: 75px;
      }
      body {
      background-color: lightblue;
      font-family: verdana;
      }
    </style>
  </head>
  <body>
    <h1>Sorry! Your details did not match, please click below to try again</h1>
    <button onclick="window.location.href='/';">
      Return to homepage
    </button>
    <br>    
  </body>
</html>