<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id='login_or_sign_up'>
<h1 class='logo'>Chitter</h1>
<form action='/login' method='get'>
  <input type='submit' class='peep_button' value='Log In'>
</form>

<form action='/sign_up' method='get'>
  <input type='submit' class='peep_button' value='Sign Up'>
</form>
</div>
