 <style>
  div.a {text-align: center;
  height: 200px;
  width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  }
  div.b {
    font-family: Arial, Tahoma, Serif;
  }
body {background-color: paleturquoise;}
</style>
<div class="b"><div class="a"><h3>Welcome <%= @user.name%>!</h3>

<h3><a href="/">Back to homepage</a></h3></div></div>