<h1> Welcome to Chitter!</h1>

  <h3>Login</h3>

  <form action='/feed' method='post'>
    <label for="username">Username<label/>
    <input type="text" name="username"/>
    <br>
    <br>
    <label for="password">Password<label/>
    <input type="text" name="password"/>
    <br>
    <br>
    <input type='submit' value='Submit'/>
    <br>
    <br>
    <a href="/signup">Sign up</a>
  </form>
