<% if error_message %>
  <p><%= error_message %></p>
<% end %>
<form class="login-form" action="/login" method="POST">
    <h2>Login</h2>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>

