<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Chitter</h1>

    <% if @error %>
        <div class="error">Login failed.</div>
    <% end %>
    
    <form action="/login" method="post">
    
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
    
        <input type="submit" name="button" value="Login" />
    
    </form>
    <a href="/">Return to homepage</a>
  </body>
</html>