<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/chitter_style.css">
  </head>
  <form action="/loginresult" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>
</html>
