<html>

<head>
<style>
body {background-color: lightsteelblue;}
h1   {color: teal;}
h2   {color: teal;}
p    {color: teal;}
</style>
</head>
<center>
  <body>
  <h1> Sign Up for Chitter! You filthy animal</h1>
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email Address"><br><br>
        <input type="password" name="password" placeholder="Password"> <br> <br>
        <input type="submit" value="Login">

        <form action="/">
      <input type="submit" value="Home" />
  </form>
    </form>
  </body>
  </center>
</html>

