<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: whitesmoke;
    }
    h1 {
      color: black;
      font-size: 80px;
    }
  </style>

  <body>
    <h1>Incorrect email or password. <a href="/">Try again</a></h1>'
  </body>
</html>