<!DOCTYPE html>
<html>
<head>
    <title>Chitter - Login</title>
</head>
<body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/create">View</a></li>
      <li><a href="/create">Create</a></li>
    </ul>

<div class="text">
    <div class="welcome-div">
        <h1>Welcome to Chitter</h1>
        <h3 id="message">Please Login to post</h3>
    </div>

    <div class="login-form">
        <form action="/load_user" method="POST">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>