<html>
  <head></head>
  <body>
    <h1> Successful login! </h1>
    <br>
    <div>
      <p> Want to peep? </p>
        <a href='login/new_peep'> Compose a Peep</a>
        <a href='..'> Homepage </a><br>
        <a href='../peeps'> Chitter Feed</a><br>
    </div>
  </body>
</html>