<%# # Welcome <%= @username %>  

<h1>Welcome <%= @chitter_account.username %> </h1>

<%# 
<form action='/post' method='post'>
  <input type='text' name='peep' placeholder='peep message' required><br><br>
  <input type='submit' name='send peep'>
</form> %>
