<html>
<link rel="stylesheet" href="/styles.css"/>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/account/new">Sign Up</a>
  <a href="/login">Log In</a>
  </div>
  <head></head>
  <div class="header">
    <h1>Log in to your account </h1>
  </div>
    <form method="POST" action="/login">
      
      <p><label><b>Email Address:</b></label>
      <input type="text" name="email_address"/>
      <p><label><b>Password:</b></label>
      <input type="password" name="password"/>
      <input type="submit">
    </form>
  </body>
</html>