<%= flash[:password] %>
<form action="/signed_in" method="post">
<input type="text" name="username" placeholder="username">
<input type="Password" name="password" placeholder="password">
<input type="submit" value="login" >
</form>