<html>
    <head> </head>
    <body>
    <h1>Login Error please try again</h1>
        <form action="/login" method="POST">
            <label>email</label>
            <input type="text" name="email">
            <label>password</label>
            <input type="text" name="password">
            
            <input type="submit" value="Login">
        </form>
        
        <a href="/">back to homepage</a>
    </body>

</html>