<h2>Please enter your email and password:</h2>
<form action='/login' method='post'>
  <input type='text' value='log_username'>
  <input type='text' value='log_password'>
  <input type='submit' value='Log in'>
</form>
