<head>
  <link rel="stylesheet" href="login.css">
</head>

<body>

<h2>Login Form</h2>

<form action="/login" method='post'>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
        
    <button type="submit">Log In</button>

    <div class="cancel">
      <a href='/'>Cancel</a>
    </div>
  </div>
  
</form>

</body>
