<div class="container">
  <h1>Login</h1>

  <% flash.keys.each do |notice| %>
    <div>
      <%= flash[notice] %>
    </div>
  <% end %>

  <form  action="/session" method="post">
    <label for="email">Email
      <input class="form-control" type="text" name="email" >
    </label>

    <label for="password">Password
      <input class="form-control" type="password" name="password" >
    </label>

    <input type="submit" value="Login">
  </form>
</div>
