<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<div class="header">
  Login
</div>

<br>

<form action="/login" method="post">
  <label>
    Username
    <input type="text" name="username"><br>
  </label>
  <label>
    Password
    <input type="password" name="password"><br>
  </label>
  <br>
  <input type="submit" value="Login">
</form>

<div class="footer">
  © Aimee Craig, 2018
</div>
