<html>
  <head>
    <title>Welcome to Chitter</title>

    <!-- Load the CSS file at path /style.css -->
    <link ref="stylesheet" href="/style.css" />
  </head>
  <h1>Your attempt to log in has failed. Either your password is incorrect, or your username does not exist.</h1>
  <p>Please return to the <a href="/">home page</a> to try logging in again, or to sign up to Chitter.</p>
</html>