<html>
   <body>
    <h1>You are sucessuful login</h1>
    <a href="/new_peep">Post a new peep </a><br />
    <a href="/peeps">Chitter peeps </a><br />
    <a href="/log_out">Log out </a><br />
    <form action="/" >
        <input type="submit" value="Go back to the main page" />
    </form>
  </body>
</html>
