<h1> Welcome to the Chitterverse </h1>

<h2> Please enter a email and password to sign up </h2>


<form action="/User/new" method='post'>
  <input type="text" name='email' />
  <input type="password" name='password' />
  <input type=submit value='login' />
</form>
