<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <form action="/login" method="POST">
    <fieldset>
      <legend>Login to your account using username or email</legend>
        <label for="uname">Username</label>
        <input type="text" id="uname" name="username"><br><br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="pword">Password</label>
        <input type="password" id="pword" name="password"><br><br>

        <input type="Submit" value="Login">
      </fieldset>
    </form>
  </body>
</html>