<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <div>Please log in below</div>
    <div><form action="/login" method="POST">
    <div>Username</div>
    <input type="text" name="username">
    <div>Password</div>
    <input type="password" name="password">
    <input type="submit" value="Login">
  </body>
</html>
