<h1 align='center'> Awesome, lets get you signed in! </h1>

<form align='center' action='/loggedin' action='POST'>
  Username:
    <input type='text' name='username'>
  Email:
    <input type='text' name='email'>

  <input type='submit' name='submit' value='Sign in'>
</form>
