<html lang="en">
<head>
</head>
<body>
  <h1>Log in to your Chitter account</h1>
  <form method="post" action="/login">
    Username: <input type="text" name="username"/>
    Password: <input type="text" name="password"/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>