<link href='/css/application.css' rel='stylesheet' type='text/css'>
<h1 class='logo'>Chitter</h1>
<div class='login-form'>
<form action='/login' method='post'>
  Username:
  <input class='form-inputs' type='text' name='username'><br>
  Password:
  <input class='form-inputs' type='text' name='password'><br>
  <input class='form-inputs' type='submit' class='peep_button' value='Log In'>
</form>
</div>
