<html>

<head></head>

<body>
    <h1>Logged in successfully! Please click here to write a new peep:</h1>

        <form action="/peeps/new">
            <input type="submit" value="New Peep" />
        </form>

            <h2>Or here to return to the homepage</h2>
        <form action="/peeps">
            <input type="submit" value="Home" />
        </form>


</body>

</html>