<html>
  <head></head>
    <style>
  #roundedcorners {
  border-radius: 25px;
  border: 2px solid #1DA1F2;
  padding: 20px;
  width: 200px;
  height: 75px;
}
  body {
  background-color: lightblue;
  font-family: verdana;
}
  </style>  
  <body>
    <h1>Welcome back!</h1>
    <h2>Click below to see the latest peeps</h2>
    <input type ="button" value="Return to homepage" onclick="window.location.href='/';"><br>    
    <br>
    <input type ='button' value='Sign out' onclick="window.location.href='/sessions';"><br> 
  </body>
</html>