<html>
  <head>
    <title>Login</title>
    <a href='/'>Back to Homepage</a><br>
    <br>
    <h1>Please enter your login credentials</h1>
  </head>
  <body>
    <form action="/login" method="POST">
      <div>
        <label>Username</label><br>
        <input type="text" id="username" name="username"><br>
      </div>
      <div>
        <label>Password</label><br>
        <input type="password" id="password" name="password"><br>
      <div>
        <input type="submit" value="Submit">
      </div>      
    </form>
  </body>
</html>