<h3> Log back into Chitter! </h3>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Login">
</form>
