<h1> Welcome to Chitter </h1>
<h1 style="color: red;" > <%= flash[:login_warning] %> </h1>
<form action="/login" method="get">
<input type="submit" value="login">
</form>
<form action="/signup" method="get">
<input type="submit" value="signup">
</form>