
<form action="/login" method="post">
  <input type="text" name="login1" placeholder="username"/>
  <input type="text" name="login2" placeholder="password"/>
  <input type="submit" value="Login"/>
</form>
