<div class="login-container">
    <h2>Log in</h2>
    <form action="/login" method="POST">
        <label for="/email">Email</label>
        <input class="input-text" type="text" name="email">
        <label for="/email">Password</label>
        <input class="input-text" type="password" name="password">
        <input class="input-submit" type="submit" value="Log in">
    </form>
    <a class="link-login" href="/signup">Don't have an account? Sign up here</a>
</div>