<h1> Please log in below </h1>

  <form action="/user/page" method="post">
    <label for="email">Insert Email</label>
    <input type="text" name="email">
    <label for="password">Insert Password</label>
    <input type="text" name="password">
    <input type="submit" name="login" value="Login">
  </form>
