<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header id="header">
      <div class="icon">
      <a href="http://localhost:9292/"><img id="icon" src="icon.png" alt="Icon"></a>
      </div>
      <div class="text">Chitter</div>
    </header>
    <div id="container">
      <h1>Login failure</h1>
      <div><a href="http://localhost:9292/login">click here to try again</a></div>
    </div>
  </body>
</html>