<form action='/login' method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br>
  <label for="encrypted_password">Password:</label>
  <input type="text" id="encrypted_password" name="encrypted_password"><br>
  <br>
  <input type="submit" value="Login">
</form>
