<h1>Why dont you login?</h1>
<br>
<form action='/login' method='POST'>
  <input type='text' placeholder='username' name='username' required>
  <input type='password' placeholder='password' name='password' required>
  <input type='submit' value='log me in'>
</form>
<a href='/'>Take me back</a>
