<html>
  <head></head>

  <body>
    <h1>Sign in to Chitter</h1>

    <form action="/login" method="POST">
      <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" />
      </div>

      <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
      </div>

      <div>
        <input type="submit" name="Submit" />
      </div>
    </form>

    <div>
      Don't have an account? <a href="/signup">Sign up here</a>
    </div>
    <div>
      <a href="/peeps">Continue as a guest</a>
    </div>
  </body>
</html>