<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Log in</title>
    </head>
    <body>
        <h1>Log in</h1>
        <form action="/login" method="POST">
            <label>Email address:</label>
            <input type="text" name="email">
            <label>Password:</label>
            <input type="password" name="password">

            <input type="submit" value="Log in">
        </form>
    </body>
</html>
