<h3> Please Login</h3>
<form action = "/chitter/login" method="POST">

  <p>
    <label for="email">EmailId:</label>
    <input type = "email" name = "email" required/>
  </p>

  <p>
    <label for="password">Password:</label>
    <input type = "password" name = "password" required />
  </p>

  <p>
    <button type = "submit">Submit</button>
  </p>
</form>
