<form class="" action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value="">

  <label for="password">Password</label>
  <input type="text" name="password" value="">

  <input type="submit" name="" value="Login">
</form>
