<html>
    <head> </head>
    <body>
    <h1>Login</h1>
        <form action="/login" method="POST">
            <label>email</label>
            <input type="email" name="email">
            <label>password</label>
            <input type="password" name="password">
            
            <input type="submit" value="Login">
        </form>
        
        <a href="/">back to homepage</a><br>
        <a href="/signup">signup to create an account and peep</a>
    </body>

</html>