<h2 class='login_error'>
   <%= flash[:notice] %>
</h2>
<form action='/login' method='post'>
  Username <input type='text' name='username'>
  Password <input type='password' name='password'>
  <input type='submit' value='Submit'>
</form>