<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <h2>Login to chitter!</h2>
    <form method="POST" action="/login">
      <label>Username:</label>
      <input type="text" name="username">
      <label>Password:</label>
      <input type="text" name="password">
      <input type="submit" value="login">
    </form>
    <a href="/">Back to homepage</a>
  </body>
</html>