<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id='login_or_sign_up'>
<%= flash[:notice] %>
<h1 class='logo'>Chitter</h1>
<form class="login-signup-buttons" action='/login' method='get'>
  <input type='submit' class='button' value='Log In'>
</form>

<form class="login-signup-buttons" action='/sign_up' method='get'>
  <input type='submit' class='button' value='Sign Up'>
</form>
</div>
