<h2>
  <%= flash[:notice] %>
</h2>
<form action="/login" method="post">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" value="Log in" />
</form>