<html>
  <head></head>
  <body>
    <h1>Log in to your Chitter account</h1>
    <form method="POST" action="/login">
    <p><label>Email: </label> <input type="email" name="email" required placeholder="Enter your email address"></p>
    <p><label>Password: </label><input type="password" name="password" required placeholder="Enter your password"></p>
    <p><input type="submit" value="Sign up"/></p>
  </body>
</html>