<h1>Login</h1>
  <h2>
  <%= flash[:notice] %>
  </h2>
  <body>
    <form action="/sessions" method="post">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
