<form action="/login" method = "post">
  <input type="text" name="username" placeholder="Username"/>
  <input type ="text" name="email" placeholder="Email"/>
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Login" />
</form>