<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
      <form method="POST" action="/login_attempt">
        <label for="username">Username:</label>
        <input type="text" name="username" />
        <label for="password">Password:</label>
        <input type="text" name="password" />
        <input type="submit" />
      </form>
  <body>
</html>
