<html>
    <head></head>
    <body>
      <div>
        <h2>Something went wrong!</h2>
        <p>Please check that your username and password are correct</a>
        <p><a href="/login">Try logging in again</p>
        <p><a href="/signup">Create an account</p>
      </div>
    </body>
</html>