<html>
  <head>
    <title>Welcome to Chitter</title>
    <link rel="stylesheet" type="text/css" href="style.css?version=1" />
  </head>

  <header>
    <div class="header">
      <div class="navbar">
        <a href="/">Chitter</a>
        <a href="/signup" class="right">Sign Up</a>
      </div>
      <h1>Chitter</h1>
      <p>Welcome to Chitter!</p>
    </div>
  </header>

  <h1>Your attempt to log in has failed. Either your password is incorrect, or your username does not exist.</h1>
  <p>Please return to the <a href="/">home page</a> to try logging in again, or to sign up to Chitter.</p>
</html>