<form action="/login" method="post">

    <div style = "margin-bottom: 1em">
    <label for="email">Email:</label>
    <div><input type="text" name="email"></div>

    <label for="password">Password:</label>
    <div><input type="password" name="password"></div>
    </div>

    <input class = "btn btn-dark" type="submit" value="Log in">
</form>

<form action="/" method="get">
  <p> <input type="submit" value="Homepage"></p>
</form>
