<h1> Enter username and password to start Peeping </h1>
</div>
  <form action="/login" method="post">
    <label for="log_username">
      Username:
      <input type="text" name="log_username">
    </label>
    <label for="log_password">
      Password:
      <input type="text" name="log_password">
    </label>
    <input type="submit" value="Login">
  </form>
