<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Chitter // Login</title>
    <style>
      /* Set a style for all buttons */
      button {
        background-color: #e9241d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }

      button:hover {
        opacity:1;
      }
    </style>
  </head>
  <body>
    <form action="/login_portal" method="get">
    <button type="submit" name="action" value="signup" formaction="/signup">Sign Up</button>
    <button type="submit" name="action" value="signin" formaction="/signin_portal">Sign In</button>
    <button type="submit" name="action" value="guest">Guest</button>
  </form>
  </body>
</html>
