<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
      <h3>Log in</h3>
      <form action="/login" method="POST">

        <div>
          <label>Your username</label>
          <input type="text" name="username">
        </div>

        <div>
          <label>Your password</label>
          <input type="text" name="password">
        </div>
        
        <input type="submit" value="Submit">
      </form>
  </body>
</html>