<html>
    <head></head>
    <body>
        <form method="POST" action="/login">

        <label>EMAIL</label>
        <input type="text" name="email" />

        <label>PASSWORD</label>
        <input type="text" name="password" />

        <input type="Submit" />
    </body>
</html>