<form action="/login_details" method="post">
  <label for="email"> Email: </label>
  <input type="text" name="email" placeholder="Example@mail.co.uk" />
  <br>
  <label for="password"> Password: </label>
  <input type="text" name="password" placeholder="******" />
  <br>
  <input type="submit" value="Login!" />
</form>
