<form action="/login" method="POST">
  <h1>Login</h1>
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="login">
</form>