<form action="/wall" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" />
  <label for="password">Password:</label>
  <input type="text" name="password" />
  <input type="submit" value="Submit" />
</form>
