<html>
    <head>
      <link href="<%= url('/style.css') %>"rel="stylesheet" type="text/css" />
    </head>
    <body>
        <form method="POST" action="/login">

        <label>EMAIL</label>
        <input type="email" name="email" />

        <label>PASSWORD</label>
        <input type="password" name="password" />

        <input type="Submit" />
    </body>
</html>