<html>
<head>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>

  <h1>You logged in, Nice One!!</h1>

  <p>You can now post your own chitters</p>

  <a href="/"><p>back</p></a>

</body>
</html>