<html>
  <head></head>

  <body>
    <a name="top"></a>
    <h1>Welcome to Chitter!</h1>

    <form method="POST" action="/peep">
      <div>
        <input type="text" name="content" placeholder="Tell everyone your thoughts!">
      </div>

      <input type="submit" />
    </form>

    <% @peeps.each do |peep| %>
      
      <div>
        <strong><%= peep.name %></strong>
        @<%= peep.username %></a>
        </br>

        <%= peep.content %>
        <br>

        Posted: <%= peep.post_time %>
        </br>
        </br>

      </div>
    <% end %>

  </body>
  </body>

  <footer>
    <h4><a href ="#top">Back to top!</a></h4>
  </footer>
</html>