<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="chitter.css">
</head>
<body>

<h1>Welcome to Chitter!</h1>

<h1>User Login</h1>
<form action="/login" method="post">
  <input type="text" name="user_email" placeholder="Enter Email"> <br>
  <input type="text" name="user_password" placeholder="Enter Password"> <br>
  <input type="submit" value="Login"> <br>
  </form>
<form action ="/">
    <input type="submit" value="Cancel">
</form>
<form action ="/add_user">
    <input type="submit" value="Register!">
</form>
