<link rel="stylesheet" href="/css/style_sheet2.css" type="text/css" />
<html>
<head>
  <style>
    body {
      background-color: #202e3e;
      font-family: "Arial";
      color: white;
    }
    </style>
    </head>
    <body>
    <div class="login_bg">
      <img src="/images/login_bg.png">
    <div class="loginform">
      <form action="/loginuser" method="post">
        <label for ="username">
          Username
          <div class="textbox">
        <input type="text" name="username">
        </div>
        </label><br><br>
        <label for ="password">
          Password
          <div class="textbox">
        <input type="password" name="password">
        </div>
        </label><br><br><br>
        <input type="submit" value="Submit">
      </form>
      </div>
      </div>
    </body>
    </html>
