<form action="/login" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Log In">
</form> 