<form action="/:parameters" method="post">
<h1> Log in here </h1>
  <label>Username:</label>
  <input type="text" name="username"><br>
  <label>Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="DISPLAY THOSE PEEPS!">
</form>