<h3>Log in to Chitter</h3>

<form action="/login" method="POST">
  <div><label for="email">E-mail:</label><input type="email" id="email" name="email"></div>
  <div><label for="password">Password:</label><input type="password" id="password" name="password"></div>
  <div><input type="submit" value="Sign in"></div>
</form>