<head>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>SHORE - LOGIN</h1>
  <form method='post' action='/'>
    <input type='text' name='username' placeholder='username'>
    <input type='text' name='name' placeholder='name'>
    <input type='text' name='email' placeholder='email'>
    <input type='text' name='password' placeholder='password'>
    <input type='submit' value='Register'>
  </form>

</body> 