<html>
  <head></head>
  <body>
    <h1>Welcome! Sign-in successful</h1>
    <p>
    <h2>What would you like to do?</h2>
    <h3><a href= '/peeps/new'>Create a new peep</a></h3>
    <h3><a href= '/peeps'>View peeps</a></h3>
    <h3><a href= '/'> Logout and exit to login page</a><h3>
    </p>
  </body>
</html>