<html>
  <head></head>
  <body>
<form method="post" action="/signup">

<a href = "/"><h1 style="color: 800080">Peeps</h1></a>
<div>
<label>Wrong Password! </label>
</div>
<div>
  <a href = "/login"><input type="submit" value="Login"></a>
  </div>
  <br>
  <div>
  <a href = "/signup"><input type="submit" value="Sign Up"></a>
  </div>
    </form>
  </body>
</html>
