 <style>
    div.a {text-align: center;
}
div.b {
  font-family: Arial, Tahoma, Serif;
}
</style>
<div class="b"><div class="a"><h3>Welcome <%= @user.name%>!</h3>

<h3><a href="/">Back to homepage</a></h3></div></div>