<h1>login page</h1>

<form action="/login" method="post">
  <input type="text" name="handle" placeholder="handle">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>
