<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="chitter.css">
</head>

<body>
<header>
  <h1>Welcome to Chitter!</h1>
</header>

<div align="center" id="wrapper">
<h2>User Login:</h2>
<form action="/" method="post">
  <input type="text" name="user_em" placeholder="Enter Email" required> <br>
  <input type="password" name="user_pw" placeholder="Enter Password" required> <br>
  <input class="login" type="submit" value="Login">
  <form action ="/">
      <input class="cancel" type="submit" value="Cancel" formnovalidate>
  </form>
</form>

<form action ="/register" method="get">
    <input class="register" type="submit" value="Register!">
</form>
</div>

</body>
</html>
