<!--Login form -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
    <header>
      <nav>
        <div>
            <a href="/signup">Signup</a>
        </div>
      </nav>
    </header>
    <h1>Login</h1>
        <form action="/sessions/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Login">
        </form>
</body>
</html>
