<html>
  <head>
    <style>
      #roundedcorners {
      border-radius: 25px;
      border: 2px solid #1DA1F2;
      padding: 20px;
      width: 200px;
      height: 75px;
      }
      body {
      background-color: lightblue;
      font-family: verdana;
      }
    </style>  
  </head>
  <body>
    <h1>Welcome back!</h1>
    <h2>Click below to see the latest peeps</h2>
    <button onclick="window.location.href='/';">
      Return to homepage
    </button>
    <br>    
    <br>
    <button onclick="window.location.href='/log_out';">
      Sign out
    </button>
    <br> 
  </body>
</html>