<div class="login_home">
      <h3>Login</h3>
      <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
     

        <input type="submit" value="submit">
      </form>
    </div>