<html>

<head>
<style>
body {background-color: lightsteelblue;}
h1   {color: teal;}
h2   {color: teal;}
p    {color: teal;}
</style>
</head>
<center>

<body>
    <h1 style="color:Teal;">Logged in successfully! Please click here to write a new peep:</h1>

        <form action="/peeps/new">
            <input type="submit" value="New Peep" />
        </form>

            <h2 style="color:Teal;">Or here to return to the homepage</h2>
        <form action="/">
            <input type="submit" value="Home" />
        </form>

          <h2 style="color:Teal;">Or here to see all Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="Peeps" />
        </form>

<form name="form1" method="post" action="log_out.php">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="log out">
  </label>

</form>

</body>
 <img src= https://static01.nyt.com/images/2014/01/28/science/28SLOT_SPAN/28SLOT-superJumbo.jpg width="300" height="250">

</center>

</html>