<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">

  <h1>CHITTER</h1>

  <a href="/posts">Peep Board</a>

  <div class="form_div">

  <h1>Log In</h1>

    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="text" name="password">

      <input type="submit" value="Log In" class="button">
    </form>

    <a href="/sign_up">Sign Up</a>

  </div>


</div>
