<!DOCTYPE html>
<html>
  <head>
      <title>Chitter</title>
      <link rel="stylesheet" href="/style.css" >
  </head>
  <body>
    <h2>Please enter your details below:</h2>
    <form action="/login" method="POST">
    <div class='signup_form'>
      <label>Email:</label>
      <input type="text" name="email" required><br/><br/>
      <label>Password:</label>
      <input type="text" name="password" required><br/><br/>
      <input type="submit" value="Submit" class='button'/>
      </div>
    </form>
      </body>
</html>