<html>
  <head></head>
  <body>
  <h1> Chitter </h1>
    <h2> Create a Chitter Account </h2>
    <form action="/login" method="POST">
      <div>
        <label>Username:</label>
        <input type="text" name="login_username">
      </div></br>

      <div>
        <label>Password:</label>
        <input type="text" name="login_password">
      </div></br>
      
      <input type="submit" value="Login">
    </form>
    <h4><a href="/">return to homepage</a></h4>
    </body>
  </html>