<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
<div class="outer_div">
<%= flash[:notice] %>
<form style="display: flex; flex-direction: column; justify-content: center; margin-top: 5em" action="/user/login" method="POST" >
  <div>
  <input class="text_field" placeholder="email" tupe=email name="email">
  <input class="text_field" placeholder="password" tupe=password name="password">
  </div>
  <div>
  <input class="a_btn" style="margin-top: 1em"  type=submit value="GO">
  </div>
</form>
</div>