<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Log in successful</title>
    </head>
    <body>
        <h1>Log in successful!</h1>
        
        <p>
            <a href="/">Go back to the homepage.</a>
        </p>
    </body>
</html>
