<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Chitter // Login</title>
    <style>

      h1 {
        font-family: "Courier New";
        text-align: center;
        font-size: 72px;
        letter-spacing: 5px;
      }

      p {
        font-family: "Courier New";
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: 400;
      }

      /* Set a style for all buttons */
      button {
        font-family: "Courier New";
        text-align: center;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: bolder;
        background-color: #e9241d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }

      button:hover {
        opacity:1;
      }
    </style>
  </head>
  <body>
    <h1>CHITTER</h1>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="/login_portal" method="get">
    <button type="submit" name="action" value="signup" formaction="/signup">Sign Up</button>
    <button type="submit" name="action" value="signin" formaction="/signin_portal">Sign In</button>
    <button type="submit" name="action" value="guest">Guest</button>
  </form>
  </body>
</html>
