<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css?version=1" />
    <link rel="shortcut icon" type="image/x-icon" href="lo.png?version=1">
    <title>Login</title>
  </head>
  <body>
    <h3><a href='/'>Twitter</a></h3>
    <br>
    <h3>Please enter your login details: </h3>
    <br>
    <form action="/login" method="POST">
        <label>Username:</label> <input type="text" id="username" name="username" maxlength="10" placeholder='harith'>
        <br><br>
        <label>Password:</label> <input type="password" id="password" name="password" maxlength="10" placeholder='password123'>
        <br>
        <br>
        <input type="submit" value="Log in">
    </form>
  </body>
</html>