<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <h1>Success!</h1>
        <h2>Hello <%=@user.name%>! You are logged in as <%=@user.username%></h2>
    </body>
</html>