<html>
    <head>
      <link href="<%= url('/style.css') %>"rel="stylesheet" type="text/css" />
    </head>
    <body>
        <p>The login information you entered is incorrect.</p>
        <a href="/">Click here to go back to the homepage and login!</a>
    </body>
</html>