<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <style>
   .form {
      color:#884ec7;
      font-size: 20px;
      border-radius: 25px;
    }
    .input {
      color:#884ec7;
      width: 20%;
      height: 7%;
      padding: 9px;
      border-radius: 25px;
    }
    </style>
</head>

<%= flash[:notice] %>
<table>
  <tr>
  <td><form class=form style='text-align: center' action='/login' method=post>
    <br>
    <input class=input placeholder='Username or email address' type=text name=login>
    <br><br>
    <input class=input placeholder='Password' type=text name=password>
    <br><br>
    <input class=input style='width: 7%; background-color: #ffffff; color: #884ec7;' type=submit value = Login>
    <br>
  </form></td>
  </tr>
</table>

</html>