<!doctype html>

<html lang='en'>
  <head>
     <link rel = "stylesheet" href = "/style.css" />
     <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="navigation">
      <form action="/">
        <input id="peepWall" type="submit" value='peep wall' class='sign-up-submit-btn' />
      </form>
      <form action="/users/new">
        <input id="signUp" type="submit" value='sign up' class='sign-up-submit-btn' />
      </form>
    </div>
    <br>
    <br>
    <br>
    <h1>chitter log in</h1>
    <%= flash[:incorrect_details] %>
    <br>
    <br>
    <form action="/sessions" method='post'>
      <label for="email">email:</label>
      <input type='text' name='email' placeholder="peeper@chitter.com" />
      <br>
      <label for="password">password:</label>
      <input type='password' name='password' placeholder="password123" />
      <br>
      <input type="submit" value='log in' class='join-submit-btn' />
    </form>
  </body>
</html>
