<html>
  <head> </head>
  <body>
    <h1>Chitter</h1>
    
    <div>
     <h2>Login now</h2>
     <form method="POST" action="/home">
     <label>Enter Email: </label>
     <input type="text" email="email" autocomplete="off"/><br />
     <label>Enter Password: </label>
     <input type="password" password="password" autocomplete="off"/><br />
     <br >
     <input type="submit" />
     </form>
     
    </div>
   
    
  </body>
</html>