<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id='login'>
<form action='/login' method='post'>
  Username:
  <input type='text' name='username'>
  Password:
  <input type='text' name='password'>
  <input type='submit' class='peep_button' value='Log In'>
</form>
</div>
