<html>

<head>
<style>
body {font-family: Verdana, sans-serif;}
body {background-color: FFFFFF;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
</style>
</head>
<center>
<body>
  <h1> Log in to Chitter!</h1>
  <form action="/login" method="POST">
  <input type="text" name="email" placeholder="Email Address"><br><br>
  <input type="password" name="password" placeholder="Password"> <br> <br>
  <img src=https://i.pinimg.com/originals/cd/61/5f/cd615f9cfd02d8d16f5c85a4dca08c29.jpg width="250" height="300"> <br><br>

  <input type="submit" value="LOGIN">
  </form>
  <form action="/">
  <input type="submit" value="HOME" /> 
  </form>
</body>
</center>
</html>

