<h1> Login to Chitter </h1>

<form action='/peeps' method= 'post'>
  <input type='text' name='username' placeholder='Username'>
  <br>
  <input type='text' name='email' placeholder='Email'>
  <br>
  <input type='submit' name='login' value='Login'>
</form>
