<form action="/access" method="post">

  E-mail:<br>
  <input type="email" name="email"><br><br>

  Password:<br>
  <input type="password" name="password"><br><br>

  <input type="submit" value="Submit">

</form>
