<head>
  <link rel="stylesheet" href="./style.css">
</head>

<div>
  <h1 class="chitter_header">Chitter</h1>
  <ul class="login_list">
  <form action='/feed' method='post'>
    <li>
      <label for=username>username:</label>
      <input type=text name=username>
    </li>
    <li>
      <label for=password>password:</label>
      <input type=text name=password>
    </li>
    <li>
      <input type=submit name=login value=Login>
    </form>
    <form action='/sign_up' method=post>
      <input type=submit name=sign_up value="Sign up">
    </form>
    </li>

  </div>
