<form method="POST" action="/login"> <html>
  <head><h1>Chitter Login</h1></head>
  <div><label><h3>Username:</h3></label>
    <input type="text" name ="username" />
  </div>
  <div><label><h3>Password:</h3></label>
    <input type="text" name ="password" />
    <input type="submit" />
    </div>
</html> </form>