<!DOCTYPE html>
<html>
    <head>
        <title>CHITTER</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class='login_done'>
          <p>LOGIN SUCCESSFULLY COMPLETE!</p>
        </div>
        <div class='login_done_link'>
          <a class='button' href="/peeps"> PEEPS PAGE </a>
        </div>
    </body>
</html>
          