<style>

  body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: Helvetica Neue;
    font-weight: 500
    border-radius: 7px;
    height: 100vh;
  }

  h1 {
    margin-top: 50px;
    font-size: 40px;
  }

  form {
    margin-top: 10px;
    font-size: 30px;

  }

  .button {
    margin-top: 10px;
    display: inline-block;
    background-color: #4AA0EB;
    border: none;
    font-weight: 300
    font-family: 'Helvetica Neue';
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .username {
    border-radius: 20px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .password {
    border-radius: 20px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

p {
  color: red;
  font-size: 20px;
}

#bird {
  text-align: center;
}

img {
  height: 100px;
}

</style>

<section id="bird">
 <h1>Chitter</h1>
  <img src='https://freesvg.org/img/frame-2v.png' alt="Bird img" />
</section>

<h2>Log in to start peeping</h2>

<form action="/login_user" method="post">
  <input class="username" type="text" name="username" placeholder="username" />
  <br>
  <br>
  <input class="password" type="password" name="password" placeholder="password" />
  <br>
  <br>
  <p><%= flash[:notice] %></p>
  <button class="button" value="login" style="vertical-align:middle; width: 500px;">
    <span>Log in</span></button>
</form>
<form action="/" method="get">
<button action="/" method="get" class="button" value="signup" style="vertical-align:middle; width: 500px; background-color: black;">
  <span>Don't have an account? Sign up here. </span></button>
</form>
