<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter Login</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <h4>Log into Chitter</h4>
      <form action="/login" method="post">
        <label>Email address: </label>
        <input type="text" name="email_address" required>&nbsp
        <label>Password: </label>
        <input type="password" name="password" required>&nbsp
        <input type="submit" value="Log in">
      </form>
    </header>

    <hr>
    
    <p><a href="/">Return to homepage</a></p>
    <p><a href="/signup">Sign up</a></p>

    <footer>Chitter © 2022</footer>
  </body>
</html>