<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <p>Don't have an account? <a href="/sign-up">Sign up here</a></p>

    <h3>Login</h3>
    <form method="POST" action="/login">
      <p>Email: <input type="text" name="email"/></p>
      <p>Password: <input type="password" name="password"/></p>

      <input type="submit" value="Submit" />
    </form>

  </body>
</html>