<html>
    <head></head>
    <body>
        <p>The login information you entered is correct!.</p>
        <a href="/account_page">Click here to go to your account page (and poost some peeps)!!</a>
    </body>
</html>