<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chitter Login</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <p>Invalid login details</p>
      <p><a href="/login">Try again</a></p>
    </header>

    <hr>
    
    <p><a href="/">Return to homepage</a></p>

    <footer>Chitter © 2022</footer>
  </body>
</html>