<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

<header>
  <h1><a href="/">Chitter</a></h1>
</header>

<main>

  <form action="/login" method="POST">
    <input class="box" name="username" placeholder="Username" required/>
    <input class="box" type="password" name="password" placeholder="Password" required/>
    <button class="button" type="submit">Log in</button>
  </form>

  <p class="content">
    <span>Don’t have an account?</span>
    <a class="link" href="/signup">Sign up</a>
  </p>

  <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>

</main>
</body>
</html>




