<%= flash[:notice] %>
<form action="/user/login" method="POST" >
  <input placeholder="email" tupe=email name="email">
  <input placeholder="password" tupe=password name="password">
  <input type=submit value="GO">
</form>