<html>
  <head></head>
  <body>


  <h3>Log in</h3>

  <form method="POST" action="/login">
    Email: <input type="text" name="email" />
    Password: <input type="text" name="password" />


    <input type="submit" value="Log in" />
  </form>

  </body>
</html>
