<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Log in</h1>
    <form action="login" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username">
      <br>
      <label for="password">Password: </label>
      <input type="text" name="password">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
