<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header id="header">
      <div class="icon">
        <img id="icon" src="icon.png">
      </div>
      <div class="text">Chitter</div>
    </header>
    <h1>Login failure</h1>
    <div><a href="http://localhost:9292/login">click here to try again</a></div>
  </body>
</html>