<div>
  <form action="/login" method="post">
    <label for="Username">Username:</label>
    <input type="text" name="Username">
    <br>
    <label for="Password">Password:</label>
    <input type="password" name="Password">
    <br>
    <input type="submit" value="Log In">
  </form>
</div>
