<form method="POST" action="/login">
  <div>
  <h1>Enter your details to login!</h1>
      <label>Email:</label>
      <input type="text" name="email"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="text" name="password"/>
    </div>
    <input type="submit"/>
</form>