<html>
  <head>
    <%= erb(:header) %>
  </head>
  <body>
    <h1>Log in</h1>
    <div>
        <form action="/maker/login" method="POST">
        <div><label>Email address</label>
        <input type="text" name="email"></div>
        
        <div><label>Password</label>
        <input type="password" name="password"></div>
        
        <input type="submit" value="Log in">
    </div>
  </body>
</html>
