<h2>Enter your credentials to pick up peeping where you left off</h2>
<form>
  <input type='text' name='handle' placeholder='your chitter handle'/>
  <input type='password' name='password' placeholder='password'/>
  <input type='submit' value='Submit'/>
</form>
