<h1>chit in</h1>
<form method='POST' action='/login'>  
  <div>  
    <label>your email:</label>
    <input type='text' name='email'/>  
  </div>   

  <div>  
    <label>your password:</label>
    <input type='text' name='password'/>  
  </div>   
  <div>  
  <input type='submit'/>
  </div>  
</form>

<div>  
  <a href= "/">keep on reading us</a>
</div>  