<center><h2>Login!</h2>

  <form action="/login" method="post">
  <input type="text" name="login1" placeholder="username"/>
  <input type="text" name="login2" placeholder="password"/>
  <input type="submit" value="Login"/>
</form>

<style>
  input[type=submit] {
   box-sizing: border-box; width: 15%;
   font-family: 'Athiti';
   font-size: 25px;
   border: 0.3rem outset white;
   border-radius: 10px;
   background: #FFFFCC;
   outline-offset: 0.5rem;
 }
 input[type=text] {
  font-family: 'Athiti';
  font-size: 15px;
  border: 0.2rem outset white;
  border-radius: 5px;
  background: #FFFFCC;
  outline-offset: 0.5rem;
}
 </style>
</center>
