<html>
  <head>
    <title>Login unsuccessful</title>
  </head>
  <body>
    <h1>Login Failed</h1>
    <div>
      <p>Please return to the login page and try again</p>
    </div>
    <div>
      <a href="/loginpage">Login page</a>
    </div>
  </body>
</html>