<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login to your account</h1>
    <form method="POST" action="/loginpage">
    <div>
      <label>Username:</label>
      <input type="text" name="username"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="text" name="password"/>
    </div>
      <input type="submit"/>
    </form>
  </body>
</html>