<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter: Log-in</title>
</head>
<body>
  <form action="/log-in" method="post">
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="submit" value="Log In">
  </form>

  <form action="/sign-up" method="get">
    <input type="submit" value="Sign Up"> 
  </form>
</body>
</html>