<h1>Log In</h1>
<form method="post" action="login">
  <input type="name" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>