<center><h1> Welcome to Chitter </h1></center>
<br>
<h3>Please Enter Your Username and Password</h3>
<br>
<form action='/signup' method='get'>
  <input type='submit' value='Sign Up'>
</form>
<br>
<form action='/authenticate' method="post">
  <input type='text' name='Username'>
  <input type='password' name='Password'>
  <br>
  <input type='submit' value='Sign In'>
</form>