<h1>Please enter your details below:</h1>
<form action="/login" method="POST">
  <label>Email:</label>
  <input type="text" name="email" required><br/>
  <label>Password:</label>
  <input type="text" name="password" required><br/>
  <input type="submit" value="Submit" />
</form>