<h1>Login</h1>
  <form action="/login" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" required minlength="10" maxlength="25">
      <label for="password">Password</label>
      <input type="password" name="password" required minlength="5" maxlength="15">
      <input type="submit" value="Login">
  </form>

