<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>

<body>
  <h3>Please enter your details to log in:</h3>
  <form action='/welcome' method='post'>
    Email:<input id='details' name='email' type='text'></input>
    Password:<input id='details' name='password' type='password'></input>
    <input type='submit' value='Log in'></input>
  </form>
</body>
