<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  </head>
  <form action="/login" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Submit">
  </form>
  <%= flash[:failure] %>
</html>
