<h1> Welcome to Chitter!</h1>

  <h3>Login</h3>

  <form action='/feed' method='post'>
    <label for="username">Username<label/>
    <input type="text" name="title"/>
    <br>
    <br>
    <label for="password">Password<label/>
    <input type="text" name="url"/>
    <br>
    <br>
    <input type='submit' value='Submit'/>
  </form>
