<h2>Welcome to chitter!</h2>
<form action="/feed" method="post">
  <label for="username">
    Your Name:
    <input type="text" name="username">
  </label>
    <input type="submit" value="Submit">
  </form>
