 <style>
    div.a {text-align: center;
}
div.b {
  font-family: Arial, Tahoma, Serif;
}
  </style>
<div class="b"><form action="/login" method="POST">
<div class="a"><h1>Login here</h1>
  <p>Email address: <input type="text" name="email_address"></p>
  <p>Password: <input type="password" name="password"></p>

  <p><input type="submit" value="Login"></p>
</form></div></div>

<% if invalid_param? %>
  <p>Please enter all fields</p>
<% end %>