<html>
  <head></head>
  <body>
    <h1> We couldn't log you in. </h1>
    <br>
    <div>
      <p> Try again: </p>
        <a href='..'> Login </a>
        <a href='../..'> Homepage </a><br>
        <a href='../../peeps'> Chitter Feed</a><br>
    </div>
  </body>
</html>