<h1>Welcome to Chitter</h1>
<h3>Log in below</h3>

<form>
<input type="text" name="name">
<input type="password" name="password">
<input type="submit">
</form>

<h5>Haven't got an account? Click here to signup</h5>
