<body>
<div class="login">
<div class="form-container">
<h1>Login</h1>
        <form action="/login" method="POST">
            <label>email</label>
            <input type="email" name="email">
            <label>password</label>
            <input type="password" name="password">
            
            <input type="submit" value="Login">
        </form>
    </div>
</div>
</body>