<head>
  <title>| Chitter |</title>
  <h1>Chitter</h2>
</head>
<body>
  <div>
    <p>Sign up Below!</p>
    <form action ="/createaccountsuccess" method="post">
      Your Name: <input type="text" name="username"></br>
      Your Email: <input type="email" name="user_email"></br>
      Your Password: <input type="password" name="password">
      <input type="submit" value="Create Account">
    </form>
    <p>Existing user? Log in here!</p>
    <p>*We are sorry this feature is not avaliable currently!*</p>
    <form action ="/loginsuccess" method="post">
      Your Name: <input type="text" name="username"></br>
      Your Password: <input type="password" name="password">
      <input type="submit" value="Log in">
    </form>
  </div>
</body>
