<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter: Log-in</title>
</head>
<body>
<!-- Log in section -->
  <form action="/log-in" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
  </form>

<!-- Sign Up option -->
  <p>Don't have an account?</p>
  <form action="/sign-up" method="get">
    <input type="submit" value="Sign Up"> 
  </form>
</body>
</html>