<h1>Login Page</h1>
<p>New to Chitter? Create an account <a href='/users/new'>here</a>.</p>

<form method="POST" action="/login">
<label>Enter Email: </label>
<input type="text" name="email_address" /><br />
<label>Enter Password: </label>
<input type="text" name="password" /><br />
<br >
<input type="submit" />
</form>