<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <a href='/'>Home</a>
    <h1>Enter you Login details</h1>
  </head>

  <body>
    <form action="/login" method="POST">

      <label for="email">Email Address:</label><br>
      <input type="text" id="email" name="email"><br>

      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password"><br>

      <input type="submit" value="Submit">
    </form>
  </body>


</html>