<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">
  <h1>CHITTER</h1>

  <a href="/posts">Peep Board</a>

  <p>You have successfully logged in!</p>

  <form action="/logout" method="POST">
    <input type="submit" value="Logout" class="logout_button">
  </form>


</div>
