<html>
  <head></head>
  <body>
    <h1>Chitter Login</h1>
    <form action="/login" method="POST">
      <div>
        <label>Email address: </label>
        <input type="text" name="email">
      </div>
      <div>
        <label>Password: </label>
        <input type="text" name="password">
      </div>
      <input type="submit" value="submit">
    </form>
  </body>
</html>