<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Chitter</h1>
    <a href="/logout">Logout</a>
    <h3>Start peeping now</h3>

    <form action="/peeps" method="post">
    
    <input type="text" name="message"/>

    <input type="submit" name="button" value="Submit" />

</form>
    <div>
      <% @peeps.each do |peep| %>
       <div>
       <h3><span><%= @user_repo.find(peep.user_id).name %>
       </span> <span>@<%= @user_repo.find(peep.user_id).username %></span></h3>
       <p><%= peep.message %></p>
       <p><%= peep.time %></p>
       </div>
      <% end %>
    </div>
   
    
  </body>
</html>