<div class="form-container">
    <h1>Login</h1>
    <p>Error - please try again</p>
        <form action="/login" method="POST">
            <label>email</label>
            <input type="text" name="email">
            <label>password</label>
            <input type="text" name="password">
            
            <input type="submit" value="Login">
        </form>
        </div>
