<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Chitter App</title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <h3>Login failed</h3>
    <h2>Please enter your details to login</h2>
    <form method="POST" action="/login">
    <div>
      <label>email: </label>
      <input type="text" name="email" />
      <label>password: </label>
      <input type="password" name="password" />
      <input type="submit" value="Login"/>
    </div>
    </form>
  </body>
</html>