
<h1>Chitter</h1>


<h2>Log in</h2>

<form action="/login_credentials" method="post">
  <label for="username">
    Username
    <input type="text" name="username">
  </label>
  <label for="password">
    Password
    <input type="text" name="password">
  </label>
  <input type="submit" value="Log in">
</form>