<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Log in to your account!</h1>
    <!-- Add in somewhere about minimum character length -->
    <% if @error %>
        <div class="error">Login failed. Please try again.</div>
    <% end %>

    <form method="POST" action="/login">
        <label>Enter your email address:</label><input type="text" name="email_address" required><br>
        <label>Enter your password:</label><input type="text" name="password" minlength= 5 required><br>
        <input type="submit">
    </form>
</body>
</html>