<form action="/user/existing" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" value="">
  <input type="submit" name="login" value="Log In">
</form>
