<h1>Please enter your details below:</h1>
Invalid details, please try again<br>
If you don't have an account, sign up <a href="/accounts/new">here</a>
<form action="/login" method="POST">
  <label>Email:</label>
  <input type="text" name="email" required><br/>
  <label>Password:</label>
  <input type="text" name="password" required><br/>
  <input type="submit" value="Submit" />
</form>