<form action='/user/login' method='post' id='login'>
  <input type='text' name='user' placeholder='Username' id='user'>
  <input type='text' name='password' placeholder='password' id='password'>
  <input type='submit' id='submit' value='Login'>
</form>
