<h2>Welcome to chitter!</h2>
<form action="/username" method="post">
  <label for="username">
    Username:
    <input type="text" name="username">
  </label>
  <label for="password">
    Password:
    <input type="text" name="password">
  </label>
    <input type="submit" value="Submit">
  </form>
<br>
New to chitter?
<a href="/signup"> Sign up </a>
