<html>
  <head></head>
  <body>
    <h1>Log in to your account </h1>
    <form method="POST" action="/login">
      
      <p><label><b>Email Address:</b></label>
      <input type="text" name="email_address"/>
      <p><label><b>Password:</b></label>
      <input type="password" name="password"/>
      <input type="submit">
    </form>
  </body>
</html>