<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1>Login</h1>
  <body>
    <form action="/sessions" method="post">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
