<div class="">
  <form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </p>
    <input type="submit" value="Sign In">
  </form>
  <br>

  <form action="/" method="get">
    <input type="submit" value="Homepage">
  </form>
</div>
