<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form action="/sessions/new" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">
      <input type="text" name="password">
      <input type="submit" value="Login">
      <button type="button" name="register"><a href="/users/new"></a></button>
    </form>
  </body>
</html>
