<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style-sheet.css">
</head>
<body>


<h1> Login to Chitter </h1>

<form action='/peeps' method= 'post'>
  <input type='text' name='username' placeholder='Username' required>
  <br>
  <input type='text' name='email' placeholder='Email'>
  <br>
  <input class='submit' type='submit' name='login' value='Login'>
</form>
</body>
</html>
