<div align='right'>
    <a href='/signup'>Sign Up</a>
</div>
<h4>Log In</h4>
<form action='/login' method='post'>
  Username: <input type=text name=username>  Password: <input type=password name=password>  <input type='submit' value='Submit'>
</form>
<br><br>
