<h1>Log In</h1>
<form method="post" action="login">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>
<% if @credentials %>
  <%= @credentials %>
<% end %>