<h4>Hey! Welcome back to Chitter! Please enter the relevant information below:</h4>

<form method="POST" action="/login">
  <div>
    <input type="text" name="username" placeholder="Enter a username">
  </div>

  <div>
    <input type="password" name="password" placeholder="Enter a password">
  </div>

  <input type="submit" />
</form>

<h4>Don't feel like logging in right now? Please feel free to <a href='/'>return home</a> for now</h4>