<h1>Log In</h1>

<form action="/login" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email">
   <label for="password">Password</label>
  <input type="text" name="password">

  <input type="submit" value="Submit the form">
</form>

<a href="/posts">Peep Board</a>
