<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter sign up</title>
  </head>
  <body style="background-color:powderblue;">
    <style>
      body {
        text-align:center;
        margin-top: 200px;
        margin-bottom: 200px;
      }

    </style>

    <h1>Sign up for Chitter!</h1>

    <form action="/peep" method="post">
      Name: <input type="text" name="name" />
      Username: <input type="text" name="usernname" />
      Email: <input type="text" name="email" />
      Password: <input type="text" name="password" />
      <input type="submit" value="Sign Up" />
    </form>

  </body>
</html>
