<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
<body style="background-image: url('https://i.imgur.com/axiZlbT.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 1000px;">
<form method="GET" action="/signup">
  <input type="submit" value="Signup!" style="float: right;">
</form>
<br><br><br><br><br><hr>
<form method='POST' action='/login'>
  Username:<input type='text' name='username'>
  Password:<input type='text' name='password'>
  <input type='submit' value='Login'>
</form>
</body>