<form action = '/login_info' method = 'post'>
  Username <input type = "text" name = "Username" >
  Password <input type = "text" name = "Password" >

  <input type = "submit" value = "Login">
</form>