<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/peeps" method="post">
      Name: <input type="text" name="name" />
      Username: <input type="text" name="usernname" />
      Email: <input type="text" name="email" />
      Password: <input type="text" name="password" />
      <input type="submit" value="Sign Up" />
    </form>

  </body>
</html>
