<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter6.css">
</head>

<body>

<div class="bi-column-one">
</div>

<div class="bi-column-two">
  <div class="signup-login-container">
    <h1>Login to Chitter</h1>
    <form action='login' method="post">
      <input type="text" name="handle" placeholder="enter your username"/><br>
      <input type ="password" name="password" placeholder="enter your password"/><br>
      <input type ="submit" name="submit" />
    </form>
    <h6><%= session[:error_message]%></h6>
  </div>
  <h6>Photo by <a href="https://unsplash.com/@maritafox?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marita Kavelashvili</a> on <a href="https://unsplash.com/s/photos/forest?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></h6>
</div>
</body>
