<html>
  <head>
    <style>
      #roundedcorners {
      border-radius: 25px;
      border: 2px solid #1DA1F2;
      padding: 20px;
      width: 600px;
      height: 45px;
      }
      body {
      background-color: lightblue;
      font-family: verdana;
      }
    </style>
  </head>
  <body>
    <h1 id="roundedcorners">Sorry! Your details did not match</h1> 
    <h2>Please click below to try again</h2>
    <button onclick="window.location.href='/';">
      Return to homepage
    </button>
    <br>    
  </body>
</html>