<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
  <head>
    <title>Chitter</title>
    <link href="<%= url('') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <%# <img src="" /> %>
    <h1>Chitter</h1>

    <br />
    <br />
    <br />

    <h2>Please login</h2>

    <form action="/login" method="post">
      <div class="input">
        <input type="text" name="user_name" placeholder="User name..." />
      </div>
      <br />
      <div class="input">
        <input type="text" name="password" placeholder="Password..." />
      </div>

      <br />

      <div class="button1 action_btn1">
        <button name="login" class="action_btn submit" type="submit" value="Login">Login</button>
      </div>
    </form>

  </body>

  <br />

  <%# <footer id="footer" class="contacts">
    <a class="icons" href="https://www.linkedin.com/in/yaroslava-yates-629517221/" target="_blank">
        <img class="icons" src="https://i.postimg.cc/CKhnxt4D/link.png" alt="Linkedin">
    </a>
  </footer> %>

</html>