<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <title></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <% if @logged_in %>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href='/new-peep'>Add a new peep</a>
                            </li>
                        <%end%>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href='/sign-up'>Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href='/log-in'>Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 style='text-align: center;'>You have just logged out, see you later!</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>
</html>