<html>

<head></head>

<body>
    <h1>Logout Successful. click below to return to chitter:</h1>
    
        <form action="/peeps">
            <input type="submit" value="Homepage" />
        </form>


</body>

</html>