<html>
<head>
    <style>
    body {font-family: Verdana, sans-serif;}
    body {background-color: lightsteelblue;}
    h1   {color: black;}
    h2   {color: black;}
    p    {color: black;}
    </style>
</head>
<center>
<body>
    <h1>Logged out successfully! Hope to see you again soon.</h1>
    <form action="/">
    <input type="submit" value="HOME" />
    </form>
</body>
    <iframe src="https://giphy.com/embed/tuvMgAPzxaQBq" width="480" height="371" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/waving-cat-tuvMgAPzxaQBq"></a></p>
</center
</html>