<link rel="stylesheet" href="/style.css"/>

<div class="flexbox">

  <section class="flex-item flex-1">
    <h3>Press confirm to log out?</h3>

    <form method="POST" action="/logout">
      <button type="submit">confirm</button><br>
    </form>
  </section>

</div>