<h1>Are you sure you want to logout?</h1>
If not, use this <a href="/feed">link</a> to go to main feed<br>
If yes, hit the button below
<form action="/logout" method="POST">
  <input type="submit" value="Yes" />
</form>