<html>

<head></head>

<body>
    <h1>Logged out successfully! Hope to see you again soon. You cheeky little blighter</h1>
    <form action="/">
        <input type="submit" value="Home" />
    </form>
</body>

</html>