<ul>
  <% @posts.each do |post| %>
    <li class="post" id="post-<%= post.id %>">
      <%= post.msg %>
      <h1>Time Added<%= post.time %> </h1>
    </li>
  <% end %>
</ul>
<p>Hello</p>
  <form action="mainpage/new" method="get">
    <input id="new_post" type="submit" value="New" />
  </form>
