<h1>CHIITT POSTS </h1>

<ul>
  <% @posts.reverse_each do |post| %>
    <li class="post" id="post-<%= post.id %>">
      <h3><%= post.msg %></h3>
      Time Added <%= post.time %>
    </li>
  <% end %>
</ul>


  <form action="/new" method="get">
    <input id="new_post" type="submit" value="New" />
  </form>

  <form action="/order" method="post">
    <input id="new_post" type="submit" value="Sort by VERBOSIVENESS" />
  </form>

  <form action="/mainpage" method="post">
    <input id="new_post" type="submit" value="Sort by Newness" />
  </form>
