<h> Welcome to Chitter </h>

<form action='/chitter/new_peep' method="get">
  <input type='submit' value='new_post' >
</form> 

<ul>
  <% @peep.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>