<h> Welcome to Chitter </h>

<form action='/chitter/new_peep' method="get">
  <input type='submit' value='new_post' >
</form> 

<ul>
  <% @peep.each do |peep| %>
    <li> <li class="peep" id="peep-<%= peep.id %>">
    
    
      <%= peep %>
    
    </li>
  <% end %>
</ul>