<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheet.css")%>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <%# HEADER %>
  <div>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/chitter">Posts</a>
      <a href="/users/new">Sign Up</a>
    </div>
    <%= yield %>
  </div>
  
  </body>
<html>