<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheet.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
  <div>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/chitter">Posts</a>
    </div>
    <%= yield %>
  </div>
  </body>

<html>