<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheet.css")%>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <%# HEADER %>
  <div>
    <div class="topnav">
      <a href="/chitter">Timeline</a>
      
       <% if !@user %>
        <a href="/sessions/new">Login</a>
      <% end %>

      <% if !@user %>
        <a href="/users/new">Sign Up</a>
      <% end %>

      <% if @user %>
        <a href="/chitter/new">New Post</a>
      <% end %>

      <% if @user %>
        <a href="/sessions/destroy">Logout</a>
      <% end %>
      
    </div>
    <%= yield %>
  </div>
  
  </body>
<html>