<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" >
  </head>
    <body>
      <h2> Make your peep! </h2>
      <form method="POST" action="/peeps" class="button" >
      <div class='make_peep'>
        <label>Message:</label>
        <input type="text" name="message" />
      </div>
    </body>
  </html>