<form action="/signup" method="POST">
    name: <input type="text" name="name" /><br />
    username: <input type="text" name="username" /><br />
    email:  <input type="text" name="email" /><br />
    password:  <input type="password" name="password" /><br />

    <input type="submit" value="submit">


    <%# <div>
        <label>name</label>
        <input type="text" placeholder="post[name]" />
    </div>

    <div>
        <label>username</label>
        <input type="text" placeholder="post[username]" />
    </div>

    <div>
        <label>email</label>
       
    </div>

    <div>
        <label>password</label>
        <input type="text" placeholder="post[password]" />
    </div> %>

    <%# <input type="submit" /> %>
</form>