<form action="/signup" method="POST">
    <input type="text" name="name" placeholder="name" /><br />
    <input type="text" name="username" placeholder="username" /><br />
    <input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,}$" placeholder="valid email" /><br />
    <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z).{8,}" placeholder="password" /><br />
    <input type="submit" value="submit">


    <%# <div>
        <label>name</label>
        <input type="text" placeholder="post[name]" />
    </div>

    <div>
        <label>username</label>
        <input type="text" placeholder="post[username]" />
    </div>

    <div>
        <label>email</label>
       
    </div>

    <div>
        <label>password</label>
        <input type="text" placeholder="post[password]" />
    </div> %>

    <%# <input type="submit" /> %>
</form>