<h1> Make a new peep! </h1>
 <br>
 <form>
   <label for="user">Enter your name:</label><br>
   <input type="text" id="user"><br>
   <label for="new_peep">Type below:</label><br>
   <input type="text" id="new_peep"><br>
   <input type="submit" value="Submit peep">
 </form> 