<form method="POST" action="/peeps/new">
    <h1>Make a peep</h1>

    <div>
        <label>message</label>
        <input type="text" name="message"/>
    </div>

    <input type="submit"/>

 
</form>