<h1> Make a new peep! </h1>
<br>
<form action = "/make_a_peep" method = "post">
  <label for="user_name">Enter your name:</label><br>
  <input type="text" name="user_name" ><br>
  <label for="peep">Type below:</label><br>
  <input type="text" name="peep"><br>
  <input type="submit" value="Submit peep">
</form> 

