<html>
  <head></head>
  <body>
    <h1> Welcome <%= @makers.name %>!</h1>
    <p>
      username: <%= @makers.username %>
      email: <%= @makers.email %>
      password: <%= @makers.password %>
    </p>
  </body>
</html>
