<!-- GET /chitter/member_new_peep -->

<html>
  <head><head>
  <body>
    <h1>Home</h1>

    <form method="POST" action="/chitter_home/"> 
      <label>What's happening? </label>
      <input type="text" name="peep" />
      <br>
      <input type="submit" value="Post peep!">
    </form>
  <body>
<html>  

<!-- add peep after and show others peeps -->