<form method="post" action="/peeps/new">
    <input type="text" name="message" placeholder="message"/>
    
    <input type="submit" value="Submit" />

    <select class="intl_drop" name="select_locale">
  <option value="0">- Select One -</option>
  <option value="1">United States - English</option>
  <option value="2">United States - Español</option>
  <option value="3">Canada - English</option>

</form>