<form action='/messages' method='post'>
  <input type='text' name='text' placeholder='Enter a message'>
  <input type='submit' name='Submit'>
</form>
<form action='/messages' method='get'>
  <input type='submit' value='View by newest'>
</form>
<ul>
  <% @messages.each do |message|  %>
  <li>
    <h3><%= message.text %></h3>
  </li>
  <% end %>
</ul>