<!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/messages.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
  </head>

  <body>
    <div id='container'>
      <div id='image_logo'>
      </div>
      <h2>Home</h2>
      <form action='/post_message' method='post'>
        <input type='text' name="message" placeholder="What's up?"> 
        <br>
        <input type='submit' value='Peep' id='button'>
      </form>

      <ul>
        <% @peeps.each do |peep| %>
          <li> <%= peep.message %> </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>