<form action='/messages' method='post'>
  <input type='text' name='text' placeholder='Enter a message'>
  <input type='submit' name='Submit'>
</form>
<form action='/messages-by-oldest' method='get'>
  <input type='submit' value='View by oldest'>
</form>
<ul>
  <% @messages.each do |message|  %>
  <li>
    <h3 id="message"><%= message.text %></h3>
    <h4 id="author">Posted by <%= message.username %></h4>
    <h4 id="time"><%= message.created_at %></h4>
  </li>
  <% end %>
</ul>