<h1>What's on your mind?</h1>
<form action='/create' method='post'>
  <label for="user">Enter your user name</label>
    <input type="text" name="user" id="user" value="user"><br></br>
  <label for='user_handle'>Enter your handle</label>
    <input type='text' name='user_handle' id="user_handle" value="user_handle"><br></br>
  <label for='message'>Enter your message</label>
    <input type='text' name='message'><br></br>
  <input type='submit' value='Peep'>
</form>