<style>
  h1 {
    color: #212922;
    text-align: center;
  }

  .button {
    background-color: #AEF6C7;
    border-radius: 10px;
    color: #212922;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>

Type your post below (240 ch)
<form action="/message" method="post">
  <input type="text" name="message" placeholder="message">
  <input type="submit" class="button" value="Post">
</form>
