<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chitter Board</title>
  </head>
  <body>
    <nav>
      <li><%= @username.capitalize %></li>
      <li>
        <form action="/" method="get">
          <input type="submit" name="logout" value="Logout">
        </form>
      </li>
    </nav>
    <h1>Chitter</h1>
    <form action="/message" method="post">
      <input placeholder="message here" required ='true' type="text" name="message">
      <input type="submit" name="post" value="Post!">
    </form>
    <ul>
      <% @messageboard.each do |message| %>
      <li>
        <div>
          <h4><%=message[:username].capitalize%></h4>
          <h4><%=message[:time]%></h4>
        </div>
        <p><%=message[:body]%></p>
      </li>
    <% end %>
  </ul>
  </body>
</html>
