<html>
<head>
<title>Chitter: Where we never steal other people's intellectual property</title>
</head>
<body>
   <form action="/message" method="post">
        <textarea name="message" placeholder="Chit in the box"></textarea>
        <input type="submit" Value="Chit on it!">
   </form>
</body>
</html>