<!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/messages.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
  </head>

  <body>
    <div id='home-container'>
      <div id='image_logo'>
      </div>
      <h2>Home</h2>
      <form action='/post_message' method='post'>
        <input type='text' name="message" placeholder="What's up Makers?" id='message'> 
        <br>
        <div id='peep-btn'>
          <input type='submit' value='Peep' id='button'>
        </div>
      </form>

      <% @peeps.each do |peep| %>
        <div id='peep-time'>
          <%= @username %> -
          <%= peep.created_at[0..4] %>
        </div>
        <div id='peep-msg'>
          <%= peep.message %> 
        </div>
      <% end %>

    </div>
  </body>
</html>