<ul>
  <li><%= erb(:button, :locals => { :action => "signup", :name => "Sign Up", :method => nil, :value => nil }) %></li>
  <li><%= erb(:button, :locals => { :action => "signin", :name => "Sign In", :method => nil, :value => nil  }) %></li>
  <li><%= erb(:button, :locals => { :action => "profile", :name => "Profile", :method => nil, :value => nil  }) %></li>
</ul>
