<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/global-fonts.css" />
    <link rel="stylesheet" href="stylesheets/blocks/layout.css" />
    <link rel="stylesheet" href="stylesheets/blocks/brand.css" />
    <link rel="stylesheet" href="stylesheets/blocks/left-navbar.css" />
    <link rel="stylesheet" href="stylesheets/blocks/new-peep.css" />
    <link rel="stylesheet" href="stylesheets/blocks/peep-history.css" />
    <link rel="stylesheet" href="stylesheets/blocks/trending.css" />
    <link rel="stylesheet" href="stylesheets/blocks/who-to-follow.css" />
  </head>
  <body>
  
    <div class="layout">
    
      <img src="./images/not-twitter-icon.svg" class="logo" />
      <div class="left-navbar">

        <div class="left-navbar__item left-navbar__item--active">
          <img src="./images/home-icon.svg" class="left-navbar__item-icon" />
          Home
        </div>

        <div class="left-navbar__item">
          <img src="./images/explore-hash-icon.svg" class="left-navbar__item-icon" />
          Explore
        </div>

        <div class="left-navbar__item">
          <img src="./images/notifications-icon.svg" class="left-navbar__item-icon" />
          Notifications
        </div>
          
        <div class="left-navbar__item">
          <img src="./images/profile-icon.svg" class="left-navbar__item-icon" />
          <% if @user %>
              <%= @user.first_name.capitalize %> <%= @user.surname.capitalize %>
              <%= "@#{@user.username}" %>
          <% end %>
        </div>
      
        <div class="left-navbar__item">
          <img src="./images/logout-icon.svg" class="left-navbar__item-icon" /> 
          <a href="/sessions/destroy">Logout</a>
         </div>

      </div>
      
    </div>
  </body>
<html>
