<div class="nav-bar">
  <ul>
    <li><a href="/" style="font-size: xx-large;">🐧 chitter</a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/peeps">Peeps</a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/log-in" id="log-in-navbar">Log In</a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/log-out">Log Out</a></li>
  </ul>
</div>
