<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User registration</title>
    <link rel="stylesheet" type="text/css" href="/style.css" href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>
  </head>
  <body class="centered-wrapper">
    <form id="peep-form" action="/users" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
