<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User registration</title>
    <link rel="stylesheet" type="text/css" href="/style.css" href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>
  </head>
  <body>
    <form action="/users" method="post">
      <input type="email" name="email" />
      <input type="password" name="password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
