<h1>Hello</h1>
<form action="/chitter" method="post">
  <h2>Enter your post</h2>
  <input type="text" name="message" />
  <h2>Enter the time</h2>
  <input type="text" time="time" />
  <input type="submit" value="Submit" />
</form>
