
<h2>Compose a new peep!</h2>
<form action="/index" method="post">
  <label for="display_name">
    Please enter your name
    <input type="text" name="display_name" placeholder="display_name" />
  </label>
  <label for="peep">
    Enter your peep
    <input type="text" name="peep" placeholder="Peep" />
  </label>
  <input type="submit" value="Post peep" />
</form>