<!DOCTYPE html>
<html>
  <head>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <form action='/' method='POST'>
      <input type='text' name='content'>
      <input type='submit' value='Peep!'
    </form>
  </body>
</html>
