<!DOCTYPE html>

<head>
  <style>
    body {
      background-color: #719FF4;
      text-align: center;
    }


    </style>
  </head>

  <body>
    <form action="/chitter" method="post">
      <input type='text' name='peep' placeholder='Write your peep!'/>
      <button type='submit'>Create Peep</button>
      </form>

    </body>
