<h1>Add new peep</h1>
<form action="/peeps/new" method="post">
  <!-- <input type="text" name="author" value="" placeholder="Name"> -->
  <input type="text" name="content" value="" placeholder="Content">
  <input type="submit" value="Submit">
</form>
