<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter - New Peep</title>
</head>
<body>
  <h3>What's on your mind?</h3>
  <form action="/" method="post">
    <input type="text" name="content" maxlength="280">
    <button type="submit" name="post" value="Post">Post</button>
  </form>
</body>
</html>