<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/peep" method="post">
      <input type="text" name="url" />
      <<input type="text" name="title" >
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
