<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/new" method="post">
      <input type="text" name="peep" value="Write your peep here">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
