<form action="/mainpage/new" method="post">
  <input type="text" name="msg" placeholder="CHITT"/>
  <input type="datetime-local" name="TimeAdded">
  <input type="submit" value="Submit" />
</form>
<p>Hello</p>
