<%= erb :base %>
<% if @user != nil %>
  <div class="container">
  <form action="/chitter/save_new" method="post">
    <div class="form-group">
      <label for="exampleInputContent">Enter Post</label>
      <input type="content" name="content" class="form-control" id="exampleInputContent" aria-describedby="emailHelp" placeholder="Enter post">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
  Please <a href="/chitter/login">log in</a> to post new peeps.
  </div>
<% end %>
