<style>
.header {
  text-align:center;
  padding:40px;
  color:#1DA1F2;
  text-size:5px;
  font-size: 40px;
  font-family:arial;
}
input {
  padding: 5px;
  width: 200px;
  margin-left:25%;
  margin-top:10px;
}

.header-button {
  border-radius: 25px;
  color: white;  
  background-color:#1DA1F2;
  font-family:arial;
  padding:5px;
  border: none;
  margin: 0 auto;
  width:100px;
  margin-top:10px;
}

.container {
  display: flex;
  justify-content: center;
}
</style>

<%# <script>
function toggle() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script> %>

<h1 class="header">Sign Up to Chitter</h1>

<%# <div class="container">
<button class="header-button" onclick="toggle()">New User</button>
</div> %>

<div class="container">
<form method="post" action="/users">
  <div id="myDIV">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  </div>
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <div class="container">
    <input type="submit" class="header-button" value="Sign Up" />
  </div>
</form>
</div>
