<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter - Add</title>
  </head>

  <body>
    <h1>Enter your peep</h1>

    <form action='/add-peep' method='post'>
      <input type="text" name="username" placeholder="Your username" />
      <br>
      <input type="text" name="content" placeholder="Some content" >
      <br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
