<body style=background-color:lightyellow;>
<h2 style="font-family: Tahoma" >
What's on your mind?
</h2>
<form action="/peeps" method="post">
<input type="text" name="text">
<input type="submit" value="Peep">
</form>