<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url('stylesheets/style.css') %>" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<h1>New user registration
<form action="/users/new" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>

</html>