<form action="/new" method="post">
  <input type="text" name="message" placeholder="Message"/>
  <input type="text" name="user_name" placeholder="Username"/>
  <input type="submit" value="Submit"/>
</form>
