<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta charset="utf-8">
    <title>Chitter - Submit new peep</title>
  </head>
  <body>

    <form action="/" method="post">
      <input type="text" name="message" placeholder="Peep it!" />
      <input type="submit" value="Peep" />
    </form>

  </body>
</html>
