
<html>
<body>

<h1>Leave your peep on the wall:</h1>

<form action="/wall" method ="post" id="userid">

Peep:
<br>
<br>
<textarea rows="4" cols="50" name="peep">
</textarea>
<br>
<br>
<input type="submit" value="Submit" />
</form>
<br>
<br>


</body>
</html>
