<center>
<body bgcolor="beige">
<font face="Arial" size="4" color="cadetblue">

<form action="/peeps" method="post">

  <label for="peep"><font size="2">
    Write peep here
  </label>

  <input type="text" name="text">
  <input type="submit" value="Submit">

</form>

<br>
<br>

<form action="/peeps">
  <input type="submit" value="See all peeps">
</form>

<form action="/">
  <input type="submit" value="Go home">
</form>
