<form action="/peeps" method="post" style="color: #cd0a0a; opacity: 80; font-family: Helvetica; text-align: center;">
  <h3>New peep!</h3>
  <input type="text" name="new_peep">
  <input type="submit" value="Submit">
</form>