<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="peep" >
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
