<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="message">
      <input type="submit" value="Peep!">
    </form>
  </body>
</html>
