<%= erb :base %>
<body class="bg-light">
  <main role="main" class="container">
    <% if @user != nil %>
      <div class="mx-auto" style="width: 400px;">
      <%# <form action="/chitter/save_new" method="post"> %>
      <form action="/chitter" method="post">
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="/images/megaphone_icon.png" alt="" width="72" height="72">
          <h2>Post a New Peep</h2>
        </div>
        <div class="form-group">
          <textarea type="content" name="content" class="form-control" id="InputContent" rows="3" placeholder="Enter post"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    <% else %>
      <div class="container mt-3">
        <div class="alert alert-info" role="alert">
        Please <a href="/chitter/sessions/new">log in</a> to post new peeps.
        </div>
      </div>
    <% end %>
  </main>
</body>
