<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  body { font-family: "Arial"; font-size: 16px;}
  .btn {
    background-color: #99CCFF;
    font-size: 16px;
    cursor:pointer;
  }
</style>
</head>

<h1 style= 'color: blue'> Welcome to Chitter</h1>
<p style= 'color: blue'>Add a new peep</p>

<form action='/peeps' method='post'>
  <input type='post' placeholder='peep' name='post' />
  <input style= 'color: blue' type='submit' value='Submit' />
</form>
</html>
