<h1>&#128037; WELCOME TO CHITTER!!! &#128037;</h1>
<h2> Write your peep here: </h2>
<form action="/view" method="post" >
<textarea id="message" name="message" rows="5" cols="20">
What's on your mind?
</textarea>
<br>
<input type="submit" value="Post Peep" id="Post Peep">
</form>
<br>
<form action="/">
  <input type="submit" value="Homepage" id="Homepage">
</form>
<form action="/view">
  <input type="submit" value="View Peeps" id="View Peeps">
</form>
