<html>

  <form action='/redirect/new_peep' method="POST" >
    <input type="text" name="title" placeholder="Title"/>
    <input type="text" name="body" placeholder="Body"/>
    <input type="submit", value="submit" />
  </form>
</html>