<html>
  <head>
    <title>Write a new peep</title>
  </head>
  <body>
    <h1>Post a new peep to Chitter</h1>
    <form method="POST" action="/peep/new">
    <div>
      <label>Title:</label>
      <input type="text" name="title" autocomplete="off"/>
    </div>
    <div>
      <label>Content:</label>
      <input type="text" name="content" autocomplete="off"/>
    </div>
      <input type="submit"/>
    </form>
  </body>
</html>
