<center>
<br><br>
<form action="/submit_peep" method="post">
<textarea name="peep" 
  placeholder="What is on your mind?" cols="50" rows="10" 
  max_length="280"></textarea><br><br>
<input type="submit" value="Peep peep" style= "background-color:#1DA1F2; 
  border-radius: 12px; 
  color:white; 
  padding: 12px 28px; 
  font-family:rockwell;" />
</form>
</center>