
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Chitter</title>
      <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="row">
      <h1> Chitter </h1>
    </div>
    <div class="container">
      <div class="peep-box">
        <form action="/peep/new" method="post">
          <textarea name="content" placeholder="Max 180 chars." maxlength="180" rows="5" cols="31"></textarea>
          <input type="submit" value="Peep">
        </form>
      </div>
    </div>
  </body>
</html>
