<html>
  <head></head>
  <body>
    <h1>Welcome, your Chitter account has been created!</h1>
    <input type ="button" value="Return to homepage" onclick="window.location.href='/';"><br>    
  </body>
</html>