<p>What do you want to say?</p>

<form method="POST" action="/new_peep">
    <label>Type your peep: </label><input type="text" name="contents" minlength=2 maxlength=180><br>
    <input type="Submit"></input>
</form>