<h1>Time for a new Peep!</h1>
<form action="/peeps" method="post">
  <div>
    <label for='body_entry'>Peep Content:</label>
    <input type='text' id='body_entry' name='body'>
  </div>
  <div>
    <input type='submit' value='Submit Peep!'>
  </div>
</form>
