<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<br><h1><p class="text-success">Chitter</p></h1>
<center>
<div class="container">
<form action='/new_post' method='post'>
<h2>Add a new post</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Date</label>
      <input type="text" name="date" class="form-control" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">userID</label>
      <input type="text" name="userID" class="form-control" id="inputPassword4">
    </div>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Content</label>
    <input type="text" name="content" row= "10" class="form-control" id="formGroupExampleInput2">
  </div>
 <button type="submit" class="btn btn-primary">Upload</button>
</form>
</div>
</center>