<html>

<head></head>

<body>
    <h1>Please enter your peep here</h1>

    <form action="/peeps" method="POST">
        <input type="text" name="content">
        <input type="submit" value="Submit Form">
    </form>

</body>

</html>