<html>
  <head></head>
  <body>
    <h1>New peep:</h1>

  <form action="/new_peep" method="POST">
    <p><label>Type here:</label>
    <input type="text" name="content" />

    <p><input type="submit" value="Post">
  </form>

  </body>
</html>
