<!DOCTYPE html>
<html>
<head>
<style>
  body {
    font-family: verdana;
    min-height: 100%;
    background-color:#D7A5D9;
    margin: auto;
    overflow: auto;
    text-align: center;
  }
  h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color:lightseagreen;
    font-weight: bolder;
  }
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=submit] {
      padding:20px 20px;
      background:#2A7EDB;
      font-size: 30px;
      color: white;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      align: center;
  }
</style>
</head>
<body>
  <h2>Welcome to Chitter! Please enter your details:</h2>
  <div>
    <form action="/user" method="post">
      <input type="text" name="email" placeholder="Email">
      <input id="hidden" type="password" name="password" placeholder="Password">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="username" placeholder="Username">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
