<html>
  <head></head>
  <body>
    <h1>Uh oh!</h1>
    <div>Sorry, this <%= @error_message%></div>
    <div>Please try <a href="/new_user">signing up</a> again with a unique username</div>
    <div>Or return to the <a href="/">home page</a></div>
  </body>
</html>