Sign up

<form action="/users" method="post">
  Username
  <input type="text" name="username" />
  Email
  <input type="email" name="email" />
  Password
  <input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>
