<html>
  <body>
    <form action="/new" method="POST">
      <input type="text" name="message" placeholder="Message"></br>
      <input type="submit" value="Submit">
    </form>
  </body>
  <footer>
    <a href="/">Home</a>
  </footer>
</html>