<html>
<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>

  <form method="POST" action="/chitters">
    <p><label>Peep: </label>
    <input type="text" name="peep" /></p>

    <p><input type="submit" /></p>
  </form>

  <a href="/">return</a>

</body>
</html>