<html>

<head></head>

<body>
    <h1>Please enter your peep here</h1>

    <form action="/peeps" method="POST">
        <input type="text" name="content" placeholder="Eg: My first peep">
        <input type="submit" value="Send Peep">
    </form>

</body>

</html>