<!DOCTYPE html>
<html>
    <head>
        <title>What's in your mind?</title>
        <base href="../try-it/">
        <link rel="stylesheet" type="text/css" href="login-style.css">
    </head>
    <body>	  
        <form action="/new_peep" method="POST">
            <h2>What's in your mind?</h2>
            <label><b>Content</b></label>
            <input type="text" name="content">
            <button type="submit">Tweet</button>
        </form>
    </body>
</html>
