<!DOCTYpe html>
<html>
<head>
<title>Chitter</title>
</head>
<body>
    <h3>Please lon in to your account:</h3>
    <form method="POST" action="/new_peep">
        <div class="peep">
            <p>Type what is on your mind today</p>
        </div>
        <div class="new_peep">
        <label>Your peep:</label> <br>
        <input type="text" name="message"/> <br>
        <label>Date:</label> <br>
        <input type="text" name="date"/> <br>
        <label>Your user id: </label> <br>
        <input type="text" name="user_id"/> <br>
        </div>
        <input type="submit" value="Add"/>
    </form>

</body>
</html>