<html>
  <head></head>
  <body>
    <h1>Create a new account</h1>
    <form method="POST" action="/account">
      <p><label><b>Username:</b></label>
      <input type="text" name="username"/>
      <p><label><b>Email Address:</b></label>
      <input type="text" name="email_address"/>
      <p><label><b>Password:</b></label>
      <input type="password" name="password"/>
      <p><label><b>Full Name :</b></label>
      <input type="text" name="full_name"/>
      <input type="submit">
    </form>
  </body>
</html>