<div class="container text-center">
  <form class="form-signin" action = '/new_peep' method = 'post'>
    <img class="mb-4" src="\images\logo.png" alt="" width="144" height="144">
    <h1 class="h3 mb-3 font-weight-normal">Make a new peep</h1>

    <input type="text" name = "peep" class="form-control" style="height:100px"  height = '100px'required autofocus>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Make Peep</button>
  </form>
</div>
