
<h2>
  <%= flash[:notice] %>
</h2>

<form action="/sessions" method="post">
  <label for = "email">
    <h4>Enter your email</h4>
    <input type = "email" name = "email">
  </label>
  <label for = "password">
    <h4>Enter your email</h4>
    <input type = "password" name = "password">
  </label>
  <input type="submit" value="Sign in" />
</form>
