<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <form method="post" action="/session/new">
      <input type="text" name='username' placeholder='Username'>
      <input type="Password" name='password' placeholder='Password'>
      <input type="submit" value='sign in'>
    </form>
  </body>
</html>
