<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/chitter/user" method="POST">
      <label for="username">Username: </label>
      <input type="text" name="username"><br>
      <label for="name">Name: </label>
      <input type="text" name="name"><br>
      <label for="email">Email Address: </label>
      <input type="text" name="email"><br>
      <label for="password">Password: </label>
      <input type="text" name="password"><br>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>