<link rel="stylesheet" type="text/css" href="/styles.css"/>
<h1>Chitter</h1>
Welcome, <%= @name %>
<form type="submit" method="get" action='/users/login'>
  <button>Click here to log in</button>
</form>