<form action="/peep/new" method="post">

  <br><br>

  Write your peep:<br>
  <input type="text" name="This is a new peep"><br><br>

  <input type="submit" value="Submit">

</form>


<p> This is the new peep <%= @new_peep%> that you are sharing with the world!</p>