<html>
  <head>
    <%= erb(:header) %>
  </head>
  <body>
    <h1>Register for Chitter</h1>
    <div>
        <form action="/maker" method="POST">
        <div><label>Name</label>
        <input type="text" name="name"></div>
        
        <div><label>Email</label>
        <input type="text" name="email"></div>
        
        <div><label>Password</label>
        <input type="password" name="password"></div>
        
        <input type="submit" value="Register">
    </div>
  </body>
</html>
