<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up | Chitter</title>
</head>
<body>
<div>
    <ul>
      <li><a href="/feed">Home</a></li>
    </ul>
</div>
<div>
  <form method="POST" action="/users">
  <div>  
    <label>Name:</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="email" />
  </div>
  <div>
    <label>Username:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
    <input type="submit" />
  </form>
</div>
  
</body>
</html>