<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <div>
    <form action="/new-peep" method="POST">
      <label>What would you like to peep?</label>
      <input type="text" name="content">

      <input type="Submit" value="Post your Peep">
    </form>
    </div>
  </body>
</html>