<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New peep</title>
  </head>

  <body>
    <h1>Share your thoughts!</h1>
    <form action='/chitter' method='post'>
      <label for='text'>Text</label>
      <input type='text' name='text'>
      <input type='submit' value='Post'>
    </form>
  </body>
</html>
