
<html>
<link rel="stylesheet" href="/styles.css"/>
 <div class="topnav">
    <a href="/" >Home</a>
    <a href="/login">Log In</a>
  </div>
 <div class="header">
    <h1>New account created: <%= @username %></h1>
  </body>
</html>