<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Peep away!</h1>
    <form method=post action= '/feed'>
      <input type = "text" name = "new_peep" placeholder ="take a peep">
      <input type = "submit" value = "Peep">
      </form>
  </body>
</html>
