<html>
<head>
    <style>
    body {font-family: Verdana, sans-serif;}
    body {background-color: FFFFFF;}
    h1   {color: black;}
    h2   {color: black;}
    p    {color: black;}
</style>
</head>
<center>
<body>
    <h1>Please enter your peep here. #maintaincomposure</h1>
    <form action="/peeps" method="POST">
    <input type="text" name="content" placeholder="What's on your mind?">
    <input type="submit" value="POST PEEP">
    </form>
    </form>
    <form action="/">
    <input type="submit" value="HOME" />
    </form>
    <img src = "https://i.etsystatic.com/15332298/r/il/da85ac/1935059239/il_fullxfull.1935059239_l0ky.jpg" width = 350 length =400>
</body>
</center>
</html>