<h1>Create an Account</h1>

<form method="POST" action="/users">
<label>Enter Username: </label>
<input type="text" name="name" /><br />
<label>Enter Email: </label>
<input type="text" name="email_address" /><br />
<label>Enter Password: </label>
<input type="text" name="password" /><br />
<br >
<input type="submit" />
</form>