<div class="container margin-top">
  <h1>Peep your thoughts.</h1>
</div>
<div class=container>
  <form action="/peep" method="post" class="form-group">
    <textarea name="peep">
    </textarea>
    <div>
      <input type="submit" value="Peep that!" class="btn btn-primary btn-lg">
    </div>
  </form>
</div>