<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>New Peep</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <form method="POST" action="/peeps">
    <label>Peep Title: </label>
    <input type="text" name="title" /> 
    <label>Peep Content: </label>
    <input type="text" name="content" /> 
    <input type="submit" />
  </form>
</body>
</html>