<h2>Share your thoughts with the world!</h2>
<form action='/new-peep' method='post'>
  <p>
    <input type='text' name='peep_message' placeholder='Message'>
  </p>
  <p>
    <input type='text' name='username' placeholder='Username'>
  </p>
  <p>
    <input type='submit' value='Peep it!'>
  </p>
</form>
