<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=font1|font2|etc"
      type="text/css"
    />
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <form action="/new" method="post">
      <input type="text" name="username" />
      <input type="text" name="name" />
      <input type="text" name="body" />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>