 <html>
  <head></head>
    <body style="background-image: url('https://i.imgur.com/lOe7KH6.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;">
    <form action="/sign_up" method="POST">
    <div>
    <h1>Create a new user</h1>
    </div>

    <div>
    <label>Name: </label>
    <input type="text" name="name">
    </div>

    <div>
    <label>Username: </label>
    <input type="text" name="username">
    </div>

    <div>
    <label>Email: </label>
    <input type="text" name="email">
    </div>

    <div>
    <label>Password: </label>
    <input type="text" name="password">
    </div>

    <div>
    <input type="submit" value="Submit the form">
    </div>

    </form>
   </body>
</html>