<html>
  <head><h1>CHITTER</h1></head>
  <head><h2>makers chit chat</h2></head>
 
  <body>
<p>Welcome to CHITTER, <%=@user.name%>!</p>
<a href='/new_peep'>share your thoughts with other Makers here</a>
  
  </body>
</html>

