<html>
<link rel="stylesheet" href="/styles.css"/>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/account/new">Sign Up</a>
  <a href="/login">Log In</a>
  </div>
  
 
  <div class="header">
    <h1>Create a new account</h1>
  </div>
    <form method="POST" action="/account">
      <p><label><b>Username:</b></label>
      <input type="text" name="username"/>
      <p><label><b>Email Address:</b></label>
      <input type="text" name="email_address"/>
      <p><label><b>Password:</b></label>
      <input type="password" name="password"/>
      <p><label><b>Full Name:</b></label>
      <input type="text" name="full_name"/>
      <button type="submit">Submit</button>
    </form>

</html>