<html>
  <head></head>
  <body>
    <h1>Create a Peep</h1>
    <form method="POST" action="/peep/new">
      <p><label><b>Message:</b></label>
      <input type="text" name="content"/>
      <p><label><b>Username:</b></label>
      <input type="text" name="username"/>
      <input type="submit">
    </form>
  </body>
</html>