<head>
  <title>Chitter new user cofirmation</title>
  <link rel="stylesheet" type="text/css" href="stylesheet/style.css"/>
</head>

<html>
<body>
  <div class="container">
    <h1>chitter</h1>

    <div class=subcontainer>
      <h2>makers chit chat</h2>
    </div>
      
    <div class=login-container>
      <h5>Welcome to chitter, <%=@user.name%>!</h5>
      <div class=button-container>
        <a href='/login' class=button-new-user>log in to share your thoughts</a>
      </div>
    </div>
  </div>
    <div class=index-button>  
      <a href= "/" class=index-button>keep on reading us without posting</a>
    </div>  
  # </div>
</body>
</html>

