<h1>Time for a new Peep!</h1>
<form action="/users" method="post">
  <div>
    <label for='email_entry'>Email:</label>
    <input type='text' id='email_entry' name='email'>
  </div>
  <div>
    <label for='password_entry'>Password:</label>
    <input type='text' id='password_entry' name='password'>
  </div>
  <div>
    <label for='name_entry'>Name:</label>
    <input type='text' id='name_entry' name='name'>
  </div>
  <div>
    <label for='username_entry'>Username:</label>
    <input type='text' id='username_entry' name='username'>
  </div>
  <div>
    <input type='submit' value='Confirm'>
  </div>
</form>
