<form method="POST" action="/peep">
  <div>
  <h1>Enter your peep below!</h1>
    <label>Title:</label>
    <input type="text" name="title"/>
    </div><div>
    <label>Content:</label>
    <input type="text" name="content"/>
    </div>
    <input type="submit"/>
</form>