<!DOCTYPE html>
<html>
<style>
<head>
h1 {
   text-align: center;
   color: #0B234F;
   font-size: 40px;
  }
 h2 {
    text-align: center;
    color: #0B222F;
    font-size: 25px;
   }

   h3 {
      text-align: center;
      color: #0B222F;
      font-size: 25px;
     }
     h4 {
        text-align: center;
        color: #0B222F;
        font-size: 15px;
       }
label {
 width: 250px;
 float: left;
 margin: 0 30px 0 30px;
}
span {
   display: block;
   margin: 20px 10px;
 font-size: 1.2em;
 font-weight: bold;
 font-family:  Georgia;
 }
 input {
 width: 250px;
 border: 1px solid #000;
 padding: 5px;
}

 input[type=submit] {
   padding: 10px 20px;
   width: auto;
   size: auto;
   margin: auto;
   background:#0B2;
   border: auto;
   -webkit-border-radius: 12px;
   border-radius: 5px;
   font-size: 20px;
   font-family:  Georgia;
   display: block;
 }
</style>
</head>


<body>
<h1> Do Go On .....</h1>
  <h2>The World Cannot Wait Any Longer to Hear about You: </h2>
<form action = '/home' method = "POST" >
   <label for="title"> Title:
      <input type ="text" id = "title" name="title" value= "title">
   </label>
   <label for="text"> Your Post:
  <textarea rows="4" cols="50" name="chit">
   Tell the world your brilliant opinion: </textarea>
   <br>
    </label>
    <br>
  <input type="submit" value = "Everyone will be so pleased to hear about me!">
</form>

</body>
</html>
