<form action="/user" method="post">
  <input type="text" name="email" placeholder="Email">
  <input id="hidden" type="text" name="password" placeholder="Password">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Submit">
</form>
