<form method='post' action='/users/new'>
  <label for='first_name'>FIRST NAME</label>
  <input type='text'name='first_name'/>
  <label for='last_name'>LAST NAME</label>
  <input type='text'name='last_name'/>
  <label for='username'>USERNAME</label>
  <input type='text' name='username'/>
  <label for='ui_password'>PASSWORD</label>
  <input type='password' name='ui_password'/>
  <label for='password1'>REPEAT PASSWORD</label>
  <input type='password' name='ui_password1'/>
  <label for='email'>EMAIL</label>
  <input type='text'name='email'/>
  <input type='submit' value='submit'/>
</form>
