<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <form action="/new-user" method="POST">
    <fieldset>
      <legend>Register as a new user</legend>
        <label for="uname">Username</label>
        <input type="text" id="uname" name="username"><br><br>
        <label for="fname">Full name</label>
        <input type="text" id="fname" name="full_name"><br><br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="pword">Password</label>
        <input type="text" id="pword" name="password"><br><br>

        <input type="Submit" value="Register">
      </fieldset>
    </form>
  </body>
</html>