<html>
<head>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
</head>

<body>

  <form method="POST" action="/chitters">
    <p><label>Peep: </label>
    <input type="text" name="peep" /></p>

    <p><input type="submit" /></p>
  </form>

  <a href="/">return</a>

</body>
</html>