<html>
  <head><title>Chitter</title>
  <link href="/style.css" rel="stylesheet" /></head>
  <body>
    <h1>New Peep</h1>
      <div>
        <form action="/peeps/new" method="POST">
          <div>
          <label>Content</label>
          <input type="text" name="content">
          </div>
          <input type="submit" value="Post">
      </form>
    </div>
    </body>
</html>