<html>
  <head>
    <body>
      <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/new_peep">Create</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
      <form action='/redirect/new_peep' method="POST" >
        <input type="text" name="title" placeholder="Title"/>
        <input type="text" name="body" placeholder="Body"/>
        <input type="submit", value="submit" />
      </form>
    </body>
  </head>
</html>