<html>
<link rel="stylesheet" href="/styles.css"/>
<div class="topnav">
    <a href="/" class="website-name">Chitter</a>
    <a href="/">Home</a>
    <a href="/peep/new" action="/peep/new" method="get">New Peep</a>
    </div>

  <head></head>
    <div class="header">
      <h1>New peep created: <%= @message_content %></h1>
    </div>
</html>