<h1>Chitter</h1><a href="/">Home</a>
<form method="POST" action="/post">
<label>What would you like to share with others? </label><br />
<textarea rows="4" cols="50" name="peep"></textarea>
<br /><br />
<label>What is your name?</label>
<br />
<input type="text" name="user">
<br /><br />
<input type="submit" value="Send a peep">
<input type="reset">


</form>