<form action="/albums" method="POST">
  Title: <input type="text" name="title">
  Release Year:<input type="text" name="release_year">
  Artist id: <input type="text" name="artist_id">

  <input type="submit" value="Submit the form">
</form>