<!-- GET /members/new -->

<html>
  <head><head>
  <body>
    <h1>Join Chitter today!</h1>

    <form method="POST" action="/members">
      <label>Your name: </label>
      <input type="text" name="name" />
      <br>
      <br>
      <label>Your username: </label>
      <input type="text" name="username" />
      <br>
      <br>
      <label>Your email: </label>
      <input type="text" name="email" />
      <br>
      <br>
      <label>Your password: </label>
      <input type="text" name="password" />
      <br>
      <br>
      <input type="submit" value="Submit the form">
    </form>
  <body>
<html>  