<html>
  <head>
    <title>Sign up!</title>
  </head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h2>Fill in your details to sign up:</h2>
    <form method="POST" action="/user">
      <label>Email:</label>
      <input type="text" name="email">
      <label>Password:</label>
      <input type="text" name="password">
      <label>Display name:</label>
      <input type="text" name="name">
      <label>Username:</label>
      <input type="text" name="username">
      <input type="submit" value="Make account">
    </form>
  </body>
</html>