<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <form action="/peep/new" method="POST">
      <h1 style="color:#2C3E50">Let's peep</h1>
      <textarea id="peep" name="content" rows="6" cols="40" maxlength="150" placeholder="Make your peep!"></textarea>
      <br >
      <input type="submit" value="Post">
    </form>

    <p style="color:#E97979">Click the "Post" to share your peep.</p>
    </div>

  </body>
</html>