<h1>New User</h1>
<form action="/users" method="post" id="new_user">
  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="Your Name">
    <label for="username">User Name:</label>
  <input type="text" name="username" placeholder="Funky_User_42">
    <label for="email_address">Email Address:</label>
  <input type="text" name="email_address" placeholder="you@example.co.uk">
    <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Create User">
  </form>
