<!DOCTYPE html>
<html>
<style>
<head>
label {
    width: 250px;
    float: left;
    margin: 0 30px 0 30px;
  }
  input {
    width: 250px;
    border: 1px solid #000;
    padding: 5px;
    margin: auto;
  }
  input[type=submit] {
    font-size: 20px;
    padding: 10px 24px;
    margin: 40px;
    background:#4CAF50;
    border:3
    -webkit-border-radius: 12px;
    border-radius: 10px;
    width: 90%;
    font font-family: Georgia;
  }
  h1 {
     text-align: center;
     color: #0B234F;
     font-size: 40px;
    }
    h2 {
       text-align: center;
       color: #0B222F;
       font-size: 20px;
      }
</style>
</head>


<body>
<h1> Do Go On .....</h1>
  <h2>The World Cannot Wait Any Longer to Hear about You: </h2>
<form action = '/home' method = "POST" >
   <label for="title"> Title:
      <input type ="text" id = "title" name="title" value= "title">
   </label>
   <label for="text"> Your Post:
  <textarea rows="4" cols="50" name="chit">
   Tell the world your brilliant opinion: </textarea>
    </label>
  <input type="submit" value = "Everyone will be so pleased to hear about me!">
</form>

</body>
</html>
