
<form action="/posts" method="POST">
  <h1>Tweeting Time !</h1>
  <h4><label>Title:</label></h4>
  <input type="text" name="title" />
  <br>
  <h4><label>Contents:</label></h4>
  <input type="text" name="contents" />
  <br>
  <br>
  <input type="submit" name="Submit Form" />
</form>
