<html lang="en">
<head>
</head>
<body>
  <h1>Sign up for Chitter</h1>
  <form method="post" action="/new_user">
    Name <input type="text" name="name"/>
    Username: <input type="text" name="username" />
    email: <input type="text" name="email" />
    Password: <input type="text" name="password" />
    <input type="submit" value="Submit" />
  </form>
</body>
</html>