<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <h1>Error!</h1>
        <h2>One or more of your inputs was invalid</h2>
        <p><a href="/new-peep">Try again</a></p>

    </body>
</html>