
<html>
 <head>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
 <div class="topnav">
    <a href="/" class="website-name">Chitter</a>
    <a href="/" >Home</a>
    <a href="/login">Log In</a>
  </div>
 <div class="header">
    New account created: <%= @username %>
  </body>
</html>