<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Create a new Peep</title>
    </head>
    <body>
        <h1>Create a new Peep</h1>
        <form action="INSERT PATH" method="POST">
            <label>Content:</label>
            <input type="text" name="content">

            <input type="submit" value="Post">
        </form>
    </body>
</html>
