<h1> Welcome to Chitter </h1>
<p> Please register by entering in the following details below </p>

<form action = '/completed_reg_form' method = post>
  <input type = 'text' name = 'Username' placeholder='Username' >
  <input type = 'text' name = 'Email_Address' placeholder='Email Address' >
  <input type = 'text' name = 'Password' placeholder='Password' >
  <input type = 'submit' value = 'Submit'>
  </form>
