<html>
    <head></head>
    <body>
        <p>You have posted a new peep!</p>
        <a href="/home/<%=@post.user_id%>">Click here to go to back to your personal Chitter page!</a>
    </body>
</html>