<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="new_peep.css">
  </head>
  <header class="header">
    <h1 style="flex: 3;">New Peep</h1>
    <a style="flex: 1;" href="/">
      <div class="blue-outline-button">Home</div>
    </a>
  </header>
  <hr>
  <body>
    <form action="/new-peep" method="post" class="form-wrapper">
      <div style="display: flex; gap: 1rem;">
        <img src="images/user-icon.png" height="50px" width="50px" alt="User Icon">
        <textarea placeholder="What's happening?" name="content" rows="8"></textarea>
      </div>
      <hr>
      <% if flash.has?(:message) %>
        <div class="message-container error-msg">
          <%= flash[:message].gsub(/\n/, '<br>') %>
        </div>
        <br>
      <% end %>
      <div style="display:flex; justify-content: end">
        <button class="blue-button btn-adjusted" type="submit">Post</button>
      </div>
    </form>
  </body>
</html>
