<head>
label {
    width: 250px;
    float: left;
    margin: 0 30px 0 30px;
  }
</head>

<body>

<form action = '/home' method = "POST" >
   <label for="title"> Title:
      <input type ="text" id = "title" name="title" value= "title">
   </label>
   <label for="text"> Your Post:
  <textarea rows="4" cols="50" name="chit">
   Go on, tell the world your brilliant opinion: </textarea>
    </label>
  <input type="submit" value = "Everyone will be so pleased to hear about me!">
</form>

</body>
