<h1>What do you have to say?</h1>
  <form action="/chitter/new_peep" method="post">
    <input type="text" name="message" value="Your peep in here" />
    <input type="submit" value="Submit" />
  </form>