<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
</head>
<body>
	<form action="/new_peep" method="post">
		<textarea name="message_content" rows="5" cols="50" placeholder="What's on your mind?">
		</textarea>
		<input type="submit" name="Post" value="Post">
	</form>
</body>
</html>