<style>
  body {
     background-image: url("https://i.imgur.com/gAKZM4vr.png");
     background-size: cover;
     text-align: center;
     font-family: cursive;
  }
  </style>

  <h1>New Chitter Account</h1>

<form action='/details' method='post'>
  <input type='text' name='first_name' placeholder='First name'><br>
  <input type='text' name='last_name' placeholder='Last name'><br>
  <input type='text' name='user_name' placeholder='Username'><br>
  <input type='text' name='password' placeholder='password'><br>
  <input type='text' name='email' placeholder='email'><br>
  <input type='submit' value='proceed'>
</form>
