
<h1>What do you wanna peep about?</h1>
<form action="/new_peep/:user_id" method="post">
  <label for="content">Enter your peep::</label><br>
  <input type="text" id="content" name="content"><br>
  <input type="submit" value="Peep">
</form>