<html>
<body>

<form method="post" action="/peeps">
<div>
  <h2><b><i>Share a peep: </i></b></h2>
</div>
<br>
<div>
  Peep: <input type="text" name="content">
</div>
<br>
<input type="submit" value="Submit">
</form>

</body>
</html>