<html>
  <head></head>
    <style>
  #roundedcorners {
  border-radius: 25px;
  border: 2px solid #1DA1F2;
  padding: 20px;
  width: 200px;
  height: 75px;
}
  body {
  background-color: lightblue;
  font-family: verdana;
}
  </style>
  <body>
    <h1>Welcome, your Chitter account has been created!</h1>
    <input type ="button" value="Return to homepage" onclick="window.location.href='/';"><br>    
  </body>
</html>