<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <h1>New Peep</h1>
        <form action="/new-peep" method="POST">
            <label>PEEP: </label>
            <input type="textarea" name="content">
            <input type="submit">
        </form>
    </body>
</html>