<div>
  <form action='/users' method='post'>
    <label>Username <input name='user_name' type='username' maxlength='60' minlength='1'></label>
    <label>Email <input name='email' type='email' maxlength='240' minlength='1'></label>
    <label>Password <input name='password' type='password' maxlength='240' minlength='1'></label>
    <button name='submit'>Sign Up</button>
  </form>
</div>