<div class = 'container text-center'>
  <img class="mb-4" src="\images\logo.png" alt="" width="144" height="144">
  <h1 class="h3 mb-3 font-weight-normal">Welcome, <%= @user.name %></h1>
  <p>Thank you for signing up for an account on Chitter</p>
  <a href = '/' class = 'btn btn-link' role = 'button'>Return to Chitter</a>
</div>
