<!DOCTYPE html>
<head>
  <meta charset = 'utf-8'>
  <title> SIGN UP! </title>
 <link type="text/css" rel="stylesheet" href="/signup.css">
</head>
<body>
  <h1> Welcome to the signup page </h1>


  <form class = "box" action='/users' method='POST'>
    <input type=text name ='name' id='name' placeholder="Name">
    <input type=text name ='username' id='username' placeholder="Username">
    <input type=text name ='email' id='email' placeholder="Email">
    <input type=password name ='password' id='password' placeholder = "Password">
    <input type=text name ='confirmpassword' id='confirmpassword' placeholder="Password">
    <input class = "submit "type="submit" value='Signup'>
  </form>
  </body>

</html>