<html>
  <body style = "background-image: linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89));">

<form method="get" action="/logout">
<input type="submit" value="Log Out">
</form>
<h1 align = "center", style="color: 800080">Chitter</h1>

<form method="post" action="/peeps">
<div>
  <h2><b><i>Share a peep: </i></b></h2>
</div>
<br>
<div>
  Peep: <input type="text" name="content">
</div>
<br>
<input type="submit" value="Submit">
</form>

</body>
</html>