<html>
    <head></head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <form action="/new-peep" method="POST">
            <label>Content: </label>
            <input type="text" name="content">
            <label>User ID: </label>
            <input type="text" name="user_id">
            <input type="submit">
        </form>
    </body>
</html>