<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Chitter | Peeps </title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">
				  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
					Chitter
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/peeps">All Peeps</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sessions/new">Log in</a>
						</li>
            <li class="nav-item active">
							<a class="nav-link" href="/peeps/new">Add a new Peep</a>
						</li>
					</ul>
				</div>
		  </nav>
      
      <div class="jumbotron">
		    <div class="container">
        <h1>Add a new Peep</h1>
          <form action="/peeps/new/submit" method="post">
            <div class="form-group">
              <label for="InputAuthor">Name</label>
              <input type="text" class="form-control" id="author" name="author" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="InputHandle">Chitter Handle</label>
              <input type="text" class="form-control" id="handle" name="handle" placeholder="What's your @chitterhandle?">
            </div>
            <div class="form-group">
              <label for="InputContent">Peep message</label>
              <input type="text" class="form-control" id="content" name="content" placeholder="What's your chitter?">
              <small id="HelpContent" class="form-text text-muted">Max characters per Peep: 180 characters</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit a new peep</button>
          </form>
  			</div>
		</div>
	</body>
</html>