Complete all the fields below then click 'Create account'.
<form action='/new-account' method='post'>
  <p>
    <input type='text' name='username' placeholder='Choose a username'>
  </p>
  <p>
    <input type='text' name='email' placeholder='Your email address'>
  </p>
  <p>
    <input type='text' name='name' placeholder='Your name'>
  </p>
  <p>
    <input type='text' name='password' placeholder='Choose a password'>
  </p>
  <p>
    <input type='submit' value='Create account'>
  </p>
</form>
