<link rel="stylesheet" href="style.css"/>
<div class="question-peep">
<p>What do you want to say?</p>
</div>

<form method="POST" action="/new_peep">
    <label>Type your peep: </label><input type="text" name="contents" minlength=2 maxlength=180 required><br>
    <input type="Submit" value="Post Peep!"></input>
</form>