
<body style='background-color: #87CEFA'>

<div style= 'padding:10px; border-radius: 10px; 
 color: white; margin: auto; display:grid; font-size: large; 
 position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);'>
<form style= 'padding:30px'
    action="/peeps" method="post">
   <input type="text" name="message" style= 'padding:15px' >
   <input type="submit" value="Peep!" style= 'padding:8px'/>
 </form>
 </div>

 <button style= 'padding:10px; border-radius: 10px; 
 background-color: #00008B; color: white; margin: auto; 
 display:grid; font-size: large; position:absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);' ><a href="/peeps" style= 'text-decoration: none; color: white''><a href="/" style= 'text-decoration: none; color: white'>Return to homepage</button>

 </body>