<form method="POST" action="/posts">

  <div>
    <label>Post title</label>
    <input type="text" name="title" />
  </div>

  <div>
    <label>Post content</label>
    <input type="text" name="content" />
  </div>

  <div>
    <label>Post time</label>
    <input type="text" name="create_at" />
  </div>

  <div>
    <label>User id</label>
    <input type="text" name="user_id" />
  </div>

  <input type="submit" />
</form>