<head>
  <title> Playing time </title>
  <link href='style.css' type='text/css' rel='stylesheet'>
</head>
<body>
  <h2>What's it gonna peep?</h2>
  <form  action="/peeps" method="post">
    <input type="textarea" name="new_peep">
    <br>
    <input type="submit" value="New peep">
  </form>
</body>
