<html>
    <body>
        <h1>Add your peep!</h1>
        <div>
            <form method='POST' action='/'>
                <label for='message'>Enter your message</label>
                <input type='text' name='message' id='message'>

                <label for='date'>Enter the date</label>
                <input type='text' name='date' id='date'>

                <label for='author_id'>Enter author id</label>
                <input type='text' name='author_id' id='author_id'>

                <input type="submit" value='Submit your peep!'>
            </form>
        </div>

    </body>
</html>