<form method="POST" action="/user">
  <div>
  <h1>Please enter your details below!</h1>
    <label>Name:</label>
    <input type="text" name="name"/>
    </div><div>
    <label>Username:</label>
    <input type="text" name="username"/>
    </div><div>
    <label>Email::</label>
    <input type="text" name="email"/>
    </div><div>
    <label>Password:</label>
    <input type="text" name="password"/>
    </div>
    <input type="submit"/>
</form>