<h1> Write a new peep!</h1>

<form action = '/homepage' method = 'post'>
  <label for="peep">
    Peep:
    <input type = "text" name = "peep">
  </label>
  <input type = "submit" Value = 'Peep!'>
</form>
