<html>
  <head>
    <style>
      #roundedcorners {
      border-radius: 25px;
      border: 2px solid #1DA1F2;
      padding: 20px;
       width: 365px;
      height: 45px;
      }
      body {
      background-color: lightblue;
      font-family: verdana;
      }
    </style>
  </head>
  <body>
    <h1 id="roundedcorners">Welcome to Chitter!</h1>
    <h2>Your account has been created.</h2>
    <button onclick="window.location.href='/';">
      Return to homepage
    </button>
    <br>    
    <br>
    <br>
    <br>
    <input type ='button' value='Sign out' onclick="window.location.href='/log_out';"><br>
  </body>
</html>