<h2 align="center">
  Please complete the form below, to join chitter!
</h2><br>
<form align="center" action='/new_user' method="post">
  <h4 align="center">
  Username
  <input type="text" name="username" required>
  <br>
  Name
  <input type="text" name="name" required>
  <br>
  Email
  <input type="text" name="email" required>
  <br>
  Password
  <input type="password" name="password" required>
  <br>
  <input type="submit" value="all done!">
  </h4>
</form>
