<h2> create new cheep? </h2>
<form action="/new_cheep_submitted" method="post">
  <button type="submit" value="submit!">submit cheep</button>
</form>

<a href="http://localhost:9292/view_all"><input type=button value='return without saving?'></a>