<form method="POST" action="/posts">
    <div>
        <label>What is your post?</label>
        <input type="text" name="content" />
    </div>

    <div>
        <label>What is the date?</label>
        <input type="date" name="date" />
    </div>

    <div>
        <label>What is the time?</label>
        <input type="time" name="time" />
    </div>

    <div>
        <label>What is your user ID?</label>
        <input type="int" name="user_id" />
    </div>

    <input type="submit" />
</form>    