<link rel="stylesheet" type="text/css" href="/style.css" />

<h1> Sign up to Chitter </h1>

<form action= "/users/new" method= "post">
  First name: <input type= "text" name= "first_name"><br>
  Last name: <input type= "text" name= "last_name"><br>
  Username: <input type= "text" name= "username"><br>
  Email: <input type= "text" name= "email"><br>
  Password: <input type= "password" name= "password"><br>
  <input type= "submit" value= "Sign up">
</form>
