<form method="POST" action="/users">
<label>Enter Username: </label>
<input type="text" name="name" /><br />
<label>Enter Email: </label>
<input type="text" name="email_address" /><br />

<input type="submit" />
</form>