<!DOCTYPE html>
<html>
        <head>
	</head>
	<body>
		<div align="center"><h1 style="color: blue" > Welcome to Chitter! </h1>
	</body>

<div align="center"><h1 style="color: blue" > Post a new Peep! </h1>
<form action="/peeps" method="post">
  <input type="text" name="message" />
  <input type="submit" value="Post Peep" />
</form>
</html>