<form method="POST" action="/peeps">
<label>Peep: </label>
<input type="text" name="content" /><br />
<label>User id: </label>
<input type="text" name="user_id" /><br />

<input type="submit" />
</form>