
<html>
  <head>
    <title>Spriggly-Wiggly</title>
    <style>
      p, h1, h2, h3, h4, ul, li, a, label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #157DA6;
        text-align: left;
      }
      .centered {
        text-align: left;
      }
    </style>
  </head>
  <body>
<form action="/messages" method="post" />
<h2> what is on your mind?...... </h2>
  <input type="text", name="message" placeholder="Hi Chitter..." />
  <input type="submit", value="add", name="add" />
</form>
  </body>
</html>