<h3>Create a new peep</h3>

<form action="/peeps" method="POST">
  <div><label for="peep">Peep:</label></div>
  <div><textarea id="peep" name="peep" rows="10" cols="50"></textarea></div>
  <div><input type="submit" value="Submit Peep"></div>
</form>