<html>
  <head></head>
  <body>
    <h1>Welcome <%= @account.name%>, lets start peeping! </h1>
    <input type ='button' value='Return to homepage' onclick="window.location.href='/';"><br>    
  </body>
</html>