<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<header>
  <h1><a class="heading" href="/">Chitter</a></h1>
</header>
<section>

  <form action="/new_post" method="POST">
    <textarea name="content" placeholder="Your peep here..." rows="4" maxlength="140" required></textarea>
    <input class="submit" type="submit" value="Post">
  </form>

</section>
</body>
</html>




