<h2> create new peep? </h2>
<form action="/new_peep_submitted" method="post">
  write your peep! <input type="text" name="content" />
  <button type="submit" value="submit!">submit peep</button>
</form>

<a href="http://localhost:9292/view_all"><input type=button value='never mind'></a>
