<form action ="/peeps" method ="post">
  <label>
    Enter and post your peep here:
    <input type = "text" name = "peep"/>
  </label>
  <label>
    Post your peep
    <input type = "submit" value = "submit"/>
  </label>
</form>
