<html>
<body>
<form method="post" action="/peeps">

<div>
  <label>Share a peep:</label>
</div>
<div>
  Peep: <input type="text" name="content">
  User ID: <input type="int" name="user_id">

</div>

<input type="submit" value="Submit">
</form>
</body>
</html>