<form method='post' action='/sessions/new'>
  <label for='username'>USERNAME</label>
  <input type='text' name='username'/>
  <label for='password'>PASSWORD</label>
  <input type='password' name='password'/>
  <input type='submit'value='Submit'/>
</form>
