<form method="POST" action="/peeps">
<label>Enter Username: </label>
<input type="text" name="name" /><br />
<label>Make a Peep: </label>
<input type="text" name="content" /><br />


<input type="submit" />
</form>