<center>
<div style="background-color:#1DA1F2;
color:white;
font-family:rockwell;"><br>
<h2> 
<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %></h2
</div>
<div>
<br><br>
</div>
<br>
<form action="/submit_peep" method="post">
<textarea name="peep" 
  placeholder="What is on your mind?" cols="50" rows="10" 
  max_length="280"></textarea><br>
<div><br>
<input type="submit" value="Peep peep" style= "background-color:#1DA1F2; 
  border-radius: 12px; 
  color:white; 
  padding: 12px 28px; 
  font-family:rockwell;" /><br><br>
</form>

  </div>
</center>