<div class="form-container">
  <h3>Create a new peep</h3>
  <form action="/peeps" method="POST">
    <p><textarea id="peep" name="peep"></textarea></p>
    <input type="submit" value="Submit" class="btn">
  </form>
</div>