<html>
  <head>
    <%= erb(:header) %>
  </head>
  <body>
    <h1>New Peep</h1>
    <div>
        <form action="/peep" method="POST">
        <div><label>Maker ID</label>
        <input type="text" name="maker_id" value="1"></div>
        
        <div><label>Content</label>
        <input type="text" name="content"></div>
        
        <input type="submit" value="Peep!">
    </div>
  </body>
</html>
