<form method="POST" action="/chitters">
  <p><label>Chitter peep: </label>
  <input type="text" name="peep" /></p>
  <p><label>time: </label>
  <input type="text" name="peep_time" /></p>

  <p><input type="submit" /></p>
</form>