<form method="POST" action="/new_post">
  <div>
    <h1>Create a Peep</h1>
  </div><br />
  
  <div>
    <label>Message:  </label>
    <input type="text" name="message" />
  </div><br />
  
  <input type="submit" />
</form>