<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peep something | Chitter</title>
</head>
<body>
<div>
    <ul>
      <li><a href="/feed">Home</a></li>
    </ul>
</div>
<div>
  <form method="POST" action="/feed">
  <div>  
    <label>What's on your mind?</label>
    <input type="text" name="content" />
  </div>
    <input type="submit" />
  </form>
</div>
  
</body>
</html>