<html>
  <head></head>
  <body>
    <h1>Add a new Peep</h1>
    <form method="POST" action="/peeps">
    <p><input type="text" name="content" style="height: 50px; width:280px;"/></p>
    <p><input type="submit" value="Peep"/></p>
  </body>
</html>