<form method="POST" action="/new_maker">

<div>
  <label>email</label>
  <input type="text" name="email" />
</div>

<div>
  <label>password</label>
  <input type="text" name="password" />
</div>

<div>
  <label>your name</label>
  <input type="text" name="name" />
</div>

<div>
  <label>desired username</label>
  <input type="text" name="username" />
</div>

  <input type="submit" />
</form>