<form method="POST" action="/peep">
  <div>
  <h1>Enter your peep below!</h1>
      <label>Title:</label>
      <input type="text" name="title"/>
    </div>
    <div>
      <label>Content:</label>
      <input type="text" name="content"/>
    </div>
    <div>
      <label>Please enter the time:</label>
      <input type="time" name="time" step="1">
    </div>
    <input type="submit"/>
    <button onclick="history.back()">Go Back</button>
</form>