<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
  </head>

  <body>
    <main class="page-container">
      <h1 class="title">Chitter</h1>
      <form action="/users" method="post">
        <label for="username">
          Username
          <input type="text" name="username">
        </label>
        <br>
        <label for="name">
          Name
          <input type="text" name="name">
        </label>
        <br>
        <label for="email-address">
          Email address
          <input type="email" name="email-address">
        </label>
        <br>
        <label for="password">
          Password
          <input type="text" name="password">
        </label>
        <br>
        <input type="submit" name="post" value ="Sign in">
      </form>
    </main>
  </body>
</html>
