<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Verdana:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="/main.css" />
  </head>
  <body>

    <h1> SIGN UP! </h1>

    <form method="POST" action="/users" class="form__login">
      <Label>Name</Label>
      <input type="text" name="name">
      <br>
      <Label>Email</Label>
      <input type="text" name="email">
      <br>
      <Label>Username</Label>
      <input type="text" name="username">
      <br>
      <Label>Password</Label>
      <input type="text" name="password">

      <input type="Submit" class="input__signup" />
    </form>
  </body>
</html>