<h1> what is on your mind?...... </h1>

<form action="/messages" method="post" />
  <input type="text", name="message" placeholder="Hi Chitter..." />
  <input type="submit", value="add", name="add" />
</form>