<html>

<head>
<style>
body {background-color: lightsteelblue;}
h1   {color: teal;}
h2   {color: teal;}
p    {color: teal;}
</style>
</head>
<center>
<body>
    <h1>Please enter your peep here. #maintaincompsure</h1>
    <form action="/peeps" method="POST">
        <input type="text" name="content" placeholder="What's on your mind?" name="tags" placeholder="#friyay">
        <input type="submit" value="Post Peep">
    </form>
  <form name="form1" method="get" action="/logout">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="log out">
  </label>
</form>
  <form action="/">
      <input type="submit" value="Home" />
  </form>
  <img src = "https://i.etsystatic.com/15332298/r/il/da85ac/1935059239/il_fullxfull.1935059239_l0ky.jpg" width = 350 length =400>
</body>
</center>
</html>