<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>Add your post to the text box below</h1>
</body>
<p>
  <form method="post" action="/confirmed">
    <input type="text" name="post"/>
    <input type="submit" value="Submit cheet"/>
  </form>
</p>


