<html>
  <body>
    <h2> Post your peep here! </h2>
    <p></p>
    <form method="POST" action="/newpeep">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Content</label>
    <input type="text" name="content">
    <input type="submit" value="Submit">
  </body>
</html>    