<html>
  <head></head>
  <body>
    <h1>What's Happening:</h1>
    <form action="/newpeep" method="POST">
    <div>
      <label></label>
      <input type ="textbox" name="peep">
    </div>
    </form>
  </body>
</html>