<head>
  <link rel="stylesheet" href="skeleton.css">
</head>

<center>
<form action="/peeps" method="post">
  <input type="text" name="text" />
  <input class="button" type="submit" value="Post Peep"/>
</form>
</center>
