<h1>Current Events!</h1>
<% if @users.length > 0 %>
<h2><%= @users[0][2] %></h2>
<% end %>
<ul>
  <% @statuses.reverse.each { |status_info| %>
    <div>
      <p><%= status_info[1] %></p>
      <li>by <em><%= status_info[0] %></em> at <strong><%= status_info[2] %></strong></li>
    </div>
  <% } %>
</ul>
