<form action="/chitter/newuser" method="post">
  Enter a user name and password:
  <input type="text" name="username" />
  <input type="text" name="password">
  <input type="submit" value="Submit" />
</form>
