<h2>No username registered: please sign up</h2>
<form action='/sign_up' method='post'>
  <input type='text' id='new_username' name='new_username' placeholder='choose username' />
  <input type='text' id='new_password' name='new_password' placeholder='choose password' />
  <input type='submit' id ='submit_2' value='Submit' />
</form>
