<h1> You can't post while not logged in - please log in below </h1>
<form action="/chitter/validation" method="post">
  <h1> Username </h1> <input type="text" name="username" />
  <h1> Password </h1> <input type="text" name="password" />
  <input type="submit" value="Submit" />
</form>

<h1> Or create an account: </h1>
<form action="/chitter/create_account" method="get">
  <input type="submit" value="Create Account" />
</form>

<form action="/chitter/homepage" method="get">
  <input type="submit" value="Back to home" />
</form>
