<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <title>Tests</title>
  </head>
  <body>
    <div id="content">
      <section id="section" class="col-md-5 ml-auto">
        <div id="text">
          <h1 id="logo">@</h1>
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
          <br>
          <p><b>Join Chitter today.</b></p>
        </div>
        <div>
          <form action="/start">
            <input type="submit" value="Sign up!" class="btn btn-primary btn-lg btn-block">
          </form>
          <br>
          <form action="/messages2">
            <input type="submit" value="Chitts" class="btn btn-outline-primary btn-lg btn-block">
          </form>
        <div>
      </section>
    </div>
    <div id="background">
      <h1 id="bckg_logo"><b>@</b></h1>
    </div>
  </body>
</html>
