<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <% if @current_user %>
  <div>
    <p><%= @current_user.name %></p>
    <p>@<%= @current_user.username %></p>
  </div>
  <% end %>
  <% @peeps.each do |peep| %>
    <div>
      <p><%= peep.text %></p>
      <p><%= peep.time %></p>
    </div>
  <% end %>
  <a href='/peeps/new'>New peep</a>
</body>
</html>
