<html>
  <head>
    <title>Peep deleted successfully</title>
  </head>
  <body>
    <div>
      <h1>The peep "<%= @selected.title %>" was removed from chitter</h1>
    </div>
    <div>
      <a href="/userpage">Your account</a>
    </div>
    <div>
      <a href="/">Homepage</a>
    </div>
  </body>
</html>
