<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <style type="text/css">

    h1 {
      text-align: center;
      font-size: 60px;
    }

    input {
      position: absolute;
      left: 50%;
    }

    li {
    list-style-type: none;
    border: solid;
    padding: 20px;
    margin: 10px;
    }

    </style>

    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <ul>
      <% @peeps.reverse_each do |peep| %>
        <li>
          <br>
        <%= peep.peep %>
        <br>
         <p>Posted On: <%= peep.created_at %></p>
        </li>
      <% end %>
    </ul>
    <form action="/peeps/new" method="get">
      <input type="submit" value="New Peep" />
    </form>
  </body>
</html>
