<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>
  <title>Chitter Line</title>
</head>
<nav>
  <div class="nav-wrapper navigation">
    <a href="/home" class="brand-logo">Chitter</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/log-in">Sign Out</a></li>
    </ul>
  </div>
</nav>
<body style="text-align:center;">
  <h1> Welcome @<%= @username %>!</h1>


</body>
</html>