<html>
    <head> </head>
    <body>
    

    <h2>new peep</h2>
        <form action="/peep" method="POST">
            <label>peep</label>
            <input type="text" name="peep">

            <input type="submit" value="post">
        </form>

        <a href="/">back to homepage</a>
    </body>
</html> 