<style>
div.b {
  font-family: Arial, Tahoma, Serif;
}
      </style>
<div class="b">

<h2>Your peep has been added!</h2>
<div>
<h3><a href="/peeps"> Click here to see your peep</a></h3>
</div>
<h3><a href="/">Back to homepage</a></h3></div></div>