<html>

  <head>
  </head>

  <body>
    <center>
        <h1>Add Peep:</h1>
        <form action="/peeps" method="post">
          <input type="text" name="peep_content">
          <input type="submit" value="Peep">
        </form>
    </center>
  </body>

</html>
