
<h1>Welcome,
      <%= @user.email %></h1>
    <h2>@<%= @user.username %></h2>
  <% end %>

<ul class="list-group">
   <% @peeps.reverse_each do |peep| %>
     <ol class="list-group-item">
       <b><%= peep.message %></b>
       <br>
       Posted at:
       <%= peep.created_at %>
     </ol>
   <% end %>
 </ul>
