<form action="/post_peep" method="get">
  <input type="submit" name="PEEP" value="PEEP" />
</form>
<% @peeps.reverse.each do |peep| %>
  <div class="boxed">
    <%= peep.values[1] %>
  </div>
  <%= peep.values[2] %>
  </br>
</br>
<% end %>
