<main>
  <div>
    <% if current_user %>
        Welcome, <%= current_user.username %>


  <div>
    <form action='/peeps' method="POST">
      <label>Write your peep here</label>
      <input type="text" name="peep" required>
      <input type="submit" value="Peep">
    </form>
  </div>

  <% end %>
  </div>

  <section>
    <% @peeps.each do |peep| %>
      <%= peep.message %></br></br>
    <% end %>
  </section>

</main>