<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>
<h1>Welcome to Chitter</h1>
<form action="/peep/new" method="post">
  <textarea name="peep"></textarea>
  <button type="submit" value="Peep">Peep</button>
  </form>

  </body>
</html>
