<h3> you are signed in</h3>
<a href="/logout">Logout</a>

<h1>Peeps</h1>
<br>
<h3>You are signed in as <%= @username %></h3>

<a href="/add_peep">Add Peep</a>

<ul>
<% @peeps.reverse.each do |peep| %>
  <li class="peep" id="peep-<%= peep.id %>">
    <p><%=peep.body%></p>
    <p><%=peep.time%></p>
  </li>
<% end %>
</ul>
