<form method="POST" action="/peep">
<html>
  <div>
    <head><h1>Chitter</h1><head>
  </div>
  <div>
    <body> <label>Write peep here!</label>
      <input type="text" name="content" />
      <input type="hidden" name="author_id" value=<%=session[:id]%>/>
      <input type="hidden" name="time_posted" value=<%=DateTime.now%>/>
      <input type="submit"/>
    </body>
  </div>
  <div>
  <br><a href="/">Return home</a>
  </div>
</html>
</form>