<%# <h1>All Peeps</h1>
<a href="/peep">Post new peep!</a> %>

<% if session[:user_id].nil? %>
  <!-- Login form -->
  <form action="/login" method="GET">
    <!-- Input fields for email and password -->
    <!-- ... -->
    <input type="submit" value="Log in">
  </form>
<% else %>
  <!-- New Peep form -->
  <div>
    <h2>Peeps</h2>
    <form action="/peep" method="POST">
      <!-- Textarea and input fields for peep content -->
      <!-- ... -->
      <input type="submit" value="Post">
    </form>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  </div>
<% end %>



<ul>
  <% @peeps_repo.all_with_users.each do |peep| %>
    <li>
      <p><%= peep.peep_content %></p>
      <% user = @user_repo.find(peep.user_id) %>
      <small>Posted by <%= user.username %> at <%= Time.parse(peep.time_of_peep).strftime('%H:%M %d/%m/%Y') %></small>
    </li>
  <% end %>
</ul>




