<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <h3><a href="/">Sign up</a> if you want to post a peep
    <br><br>
    peeeeeeps! <br>
    <% @peeps.each do |peep| %>
    <%= peep.username %> at <%= peep.time %><br>
    <%= peep.message %><br>

    <% end %>

  </body>
</html>
