<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
</head>
<body>
	<ul class="timeline">
		<% @peeps.each do |peep| %>
			<li>
  			<h3><%= peep.author %></h3>
  			<p><%= peep.message_content %></p>
  		</li>
  	<% end %>
  </ul>
</body>
</html>