<h1>Your Feed</h1>
<ul> 
  <% @peeps.each do |peep| %>
  <li><%= peep %></li>
  <% end %>
</ul>
<form action="/peeps" method="post">  
  <input type="text" name="content" placeholder="New Peep" />
  <input type="submit" name="Submit" />
</form>
