<h1>Peep created!: <%= @new_peep.title %></h1>
<h2>What would you like to do now?</h2>
    <h3><a href= '/peeps/new'>Create another new peep</a></h3>
    <h3><a href= '/peeps'>View peeps</a></h3>
    <h3><a href= '/'> Logout and exit to login page</a><h3>