<head>
Message
</head>

<body style ="background-image:url(https://pixabay.com/get/52e3d6444255aa14f6d1867dda6d49214b6ac3e45657724c77287ad49f/blossom-4337876_1920.jpg)">

<body>
<h1>
<%= @peep %>
</h1>
</body>
