
<ul>
  <% @peeps.each do |peep| %>
    <li class='peep'>
      <p class='text'>
        <%= peep.text %>
      </p>
      <p class='datetime'>
        <%= peep.format_created_at %>
      </p>
      <p class='username'>
        <%= peep.user.username %>
      </p>
    </li>
  <% end %>
</ul>

<a href='/post'>Post a peep</a>

<form action='/logout' method='POST'>
  <button type='submit'>Logout</button>
</form>
