<head>
  <script src="https://kit.fontawesome.com/48e6684c73.js" crossorigin="anonymous"></script>
</head>

<h1>Peeps:</h1>
<form action='/peeps/new_peep'>
  <button class="btn" value='new_peep' name='new_peep'><i class="far fa-plus-square"></i> New peep</button>
</form>

<ul>
  <% @peeps.reverse.each do |peep| %>
      <h2> <%= peep.text %> </h2>
        <p>Posted at: <%= peep.posted_at %></p>
        <br>
  <% end %>
</ul>
