<ul>
  <% @peeps.each do |peep|  %>
    <div>
      <%= peep.text %>
    </div>
  <% end %>
</ul>

<form action='/chitter/add_peep' method=get>
  <input type='submit' name='new' value='new peep'/>
</form>
