<html>
<head></head>
<body>
<h1> Post a Peep </h1>

<form action="/peep" method="POST">
    <div>
    <label>what do you want to peep? </label>
      <input type="text" name="email">
    </div>
    
      <form>
      <input type="submit" value="Submit the form">
    </form>
</body>
</html>