<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter: peeps!</title>
  </head>
  <body>
    <h2>Chitter</h2>

    <form class="" action="/peeps/add" method="get">
      <input type="submit" name="" value="Add peep">
    </form>



    <ul>
      <% @peeps.each do |peep| %>
      <li><%= peep.text %></li>
      <% end %>
    </ul>
  </body>
</html>
