<h1 style="background-color:DodgerBlue;"> Welcome to the PEEP Page! </h1>
<ul>
  <% @peeps.each do |peep| %>
    <p style="border:2px solid Violet;">
    <%=  peep['peep'] %>
    <br>
    <br>
    Username: <%= peep['username'] %> Sent on: <%= peep['date']%>
    </p>
    <% end %>
</ul>