<ul>
    <% @peeps.reverse.each do |peep| %>
        <li>
          <%= peep.message %> <br>
          <%= peep.time.strftime("posted at %I:%M %p on %d/%m/%Y") %>
        </li>
    <% end %>
</ul>

<form action="/post_peep">
  <input type="submit" value="New Peep">
</form>