<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id = 'peep'>
<form action='/peep' method='post'>
  <input type='text' name='peep'>
  <input type='submit' class='peep_button' value='Peep'>
</form>
</div>
