<link rel="stylesheet" href="css.css" type="text/css" />

<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
<h1> Got something to say? </h1>
<body class="centered-wrapper">
    <div>
  <% if current_user %>
        <div id='peep_form'>
  <form action='/peep' method='post'>
    <label for='peep'>
      Peep:
        <textarea type='text' maxlength="120" name="peep" placeholder='Peep here...' cols='35' rows='4'></textarea>
          </label>
            <input class'button' type='submit' value='Submit peep'>
          </form>
  <% else %>
    <h3> <a href="/session/new"> Sign in </a> to post a peep </h3>
  <% end %>
        </div><br>
          <div>
            <dl id='peeps' >
              <% @peeps.each do |peep| %>
              <dt>Peep: "<%= peep.peep %>" </dt>
              <dd>by: <%= peep.user.user_name %> - <%= peep.creation_date %></dd>
              <br>
              <% end %>
      </div>
  </div>
</body>
</html>
