<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <h2>Peeps</h2>

    <% @peeps.each do |peep| %>
      <p>
        Message: <%= peep.message %>
        <br>
        Created at: <%= peep.created_at %>
        <br>
        User: <%= peep.user.email_address %>
      </p>
    <% end %>

    <p>
    <a href="/peeps/create">Create a new Peep</a>
  </body>
</html>