<center>
<body bgcolor="beige">
<font face="Arial" size="4" color="cadetblue">

Hi! Welcome to Chitter
<br>
<br>

<form action="/peeps" method="post">

  <label for="peep"><font size="2">
    Write peep here
  </label>

  <input type="text" name="text">
  <input type="submit" value="Submit">

</form>

My first peep

</center>
