<center>
  <h2> Peep feed: </h2>
  <% @peeps.each do |peep| %>
  <ul>
    <%= peep.content %> - <%= peep.date %>
  </ul>
  <% end %>
  <form action='peeps/new' method='get'>
    <input type=submit value='Write a new peep'>
  </form>
</center>

<style>
body {
  height:100%;
}
body {
  margin:50px;
  font-size:100%;
  line-height:1.5;
  font-family: Roboto;
  background:#617478;
  background: radial-gradient(circle, lighten(#617478,1%), darken(#617478,20%));
}
</style>
