<html>
  <head>
    <title>Peep created successfully</title>
  </head>
  <body>
    <div>
      <h1>Your Peep was successfully posted!</h1>
    </div>
    <div>
      <a href="/userpage">Your account</a>
    </div>
    <div>
      <a href="/">Homepage</a>
    </div>
  </body>
</html>
