<% if @user %>
  <h1> Welcome, <%= @user.username %>! </h1
<% end %>

<h2> Your Peep Feed: </h1> 

<ul>
  <% @peeps.reverse_each do |peep| %>
  <li class="peep" id="peep-<%=peep.id %>">
    Guest at <%= peep.time %>:
    <%= peep.content %>
  </li>
  <% end %>
</ul>

   

<form action="/peeps/new" method="post">
  <input type="text" name="New_peep">
  <input type="submit" value="Submit new peep">
</form>