<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <% @peeps.each do |peep| %>
    <div>
      <p><%= peep.text %></p>
      <p><%= peep.time %></p>
    </div>
  <% end %>
  <a href='/peeps/new'>New peep</a>
</body>
</html>
