<ul>
  <% @peeps.each do |peep| %>  
    <li class='peep'>
      <%= peep.peep %>
      <ul>
        <li class='peeped_at'>
          <%= peep.peeped_at %>
        </li>
      </ul>
    </li>
  
  <% end %>
</ul>

<form action='/peeps' method='post'>
  <input type='text' name='peep' placeholder='peep..peep peep..peep'>
  <input type='submit' value='Peep!'>
</form>