<ul>

  <h1> What's up Peeps? </h1>

  <% if @user %>
    <h2>Welcome back, <%= @user.username %></h2>

    <form action="/logout" method='get'>
      <input type="submit" value="Logout">
    </form>

    <h3>Peep here:</h3>
  </div>
    <form action="/peeps" method="post">
      <label for="peep_username">
        Write Username (I know, We're working on it):
        <input type="text" name="peep_username">
      </label>
      <label for="peep_content">
        Peep here:
        <input type="text" name="peep_content">
      </label>
      <input type="submit" value="Peep">
    </form>

  <% end %>

  <% @peeps.reverse.each do |peep| %>
    <li>
    Peep: "<%= peep.content %>"
    <br>
    Username: <%= peep.username %>
    <br>
    Time: <%= peep.created_at %>
    <br>
    </li>
  <% end %>
</ul>

<form action="/signup" method='get'>
  <input type="submit" value="Sign Up to Peep">
</form>

<form action="/login" method='get'>
  <input type="submit" value="Log in to start Peeping">
</form>
