    <h1>CHITTER</h1>

    <h3> ALL PEEPS </h3>

    <a href="/post_peep">Post a Peep!</a><br />

    <br>
    <% @peeps.reverse.each do |peep|%>

      <div>
        <%= peep.username %> 
      </div>

      <div>
        <%= peep.message %> 
      </div>

      <div>
        <%= peep.time_created %>
      </div>

      <div>
        <%# <%= peep.user_id %>
      </div>
    <br>
    <%end%>

    <%# <a href="/login"> login</a><br /> %>