
<!-- <form action="/newpeep" method="post">
  Message:
  <input type="text" name="peep">
  User:
  <input type="text" name="user">
  <input type="submit" value="Post Peep!">
</form> -->


<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>


<%# <%= @peeps %> %>
