<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Peep Details</title>
    <style>
      body {
        font-family: 'Century Gothic', sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Peep Details</h1>
    <h2>Peep Content:</h2>
    <p><%= @peep.peep_content %></p>
    <h2>User ID:</h2>
    <p><%= @peep.user_id %></p>
    <h2>Time of Peep:</h2>
    <p><%= @peep.time_of_peep %></p>
    <h2>Username:</h2>
    <p><%= @peep.username %></p>
  </body>
</html>


