<center>
<body bgcolor="beige">
<font face="Arial" size="2" color="cadetblue">

<% @peeps.each do |peep| %>
  <li><%= peep.text %>
  </li>
  <% end %>

<br>

<form action="/new">
  <input type="submit" value="Make a peep">
</form>

<form action="/">
  <input type="submit" value="Go home">
</form>

</center>
