<form action="/peeps" method="post" >
  <input type="text" name="body" />
  <input type="submit" value="Peep" />
</form>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.body %>,  <%= peep.timestamp %> </li>
  <% end %>
</ul>
