<html>
  <head></head>
    <body>
      <h1>Chit: <%= @peep.message %></h1>
        <p>
          Time of post: <%= @peep.time_of_post %>
          Username: <%= @user.username %>
        </p>
    </body>
</html>