<html>
  <head></head>
  <body style="background-color: #ff6347;">
    <h1>New Peep!</h1>
    <form action="/peeps" method="POST">
      What do you want to say?
      </br>   
      <input type="text" name="content">
      </br>
      Chitter is under maintenance.
      For now, please enter your first name and username:
      </br>
      Your first name:
      <input type="text" name="user_f_name">
      </br>
      Your username:
      <input type="text" name="user_handle">
      </br>
      <input type="submit" value="Peep!">
    </form>
  </body>
</html>