<form method="post" action="/peeps">
    <div>
        <input type="text" name="peep" placeholder="write your peep here" />
    </div>

    <div>
        <input type="text" name="maker_id" placeholder="maker_id" />
    </div>

    <input type="submit" />
</form>
