<center>
  <h2> Peep feed: </h2>
  <% @peeps.each do |peep| %>
    <%= peep %>
  <% end %>
  <form action='peeps/new' method='get'>
    <input type=submit value='Write a new peep'>
  </form>
</center>
