<!DOCTYPE html>
<html>
  <head>
    <title>Peeps</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Peep</th>
      </tr>
      <% @peeps.each do |peep| %>
      <tr><td><%= peep %></td></tr>
      <% end %>
    </table>
  </body>
</html>
