<!DOCTYPE html>
<html>
<head>
  <title>Peeps</title>
</head>
<body>
  <h1>Peeps</h1>
  <ul> <% @peeps.each do |peep| %>
    <li> <%= peep.peep %> <%= peep.time %>
    </li>
    <% end %> 
  </ul>
</body>
</html>