<h1>Welcome to Chitter</h1>

<h3>Most Recent Peeps</h3>

<% @peeps.each do |peep| %>
  <div class="peep">
    <span class="timestamp"><%= peep.timestamp.strftime("%H:%M:%S on %B %d, %Y") %></span>
    <p><%= peep.text %></p>
  </div>
<% end %>

<div>
    <a href="/post_peep">Post a Peep</a>
</div>