<form action='peep' method='post'>
  <div>
    <input type='text' name='title' placeholder='Title'>
  </div>
  <div>
    <textarea type='text' name='content' placeholder="What's Happening"></textarea>
  </div>
  <input type='submit' value='Peep'>
</form>