<form method="post" action="/peeped">
  <input type="text" name="maker" placeholder="Name" />
  <input type="text" name="time" placeholder="Time" />
  <input type="text" name="message" placeholder="What's on your mind?" />
  <input type="submit" value="Peep!" />
</form>