<form action='/new_peep' method='post'>
What do you want to peep? <input type='text' name='message'>
<input type='submit' value='Post'>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep %>
    </li>
  <% end %>
</ul>