<html>

  <head>
  </head>

  <body>
    <h1>Latest Peeps:</h1>
    <ul>
      <% @peep.each do |peep| %>
      <li>
        <%= peep.get_username(peep.user_id) %>:
        "<%=peep.content%>"
        <small><i>(<%=peep.time%>)</i></small>
      </li>
      <%end%>
    </ul>
    <p>
      <a href="/">Back to homepage</a>
    </p>
  </body>

</html>
