<html>

<head>
<style>
body {font-family: Verdana, sans-serif;}
body {background-color: lightsteelblue;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
</style>
</head>
<center>

<body>
    <h1>Peep posted! Click below to post another Peep, you dirty tart</h1>

        <form action="/peeps/new">
            <input type="submit" value="NEW PEEP" />
        </form>

            <h2>Or here to return to the homepage</h2>
        <form action="/">
            <input type="submit" value="HOME" />
        </form>

          <h2>Or here to see all Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="PEEPS" />
        </form>



<form action="/logout">
  <input name="submit2" type="submit" id="submit2" value="LOGOUT">
  </label>
</form>
<iframe src="https://giphy.com/embed/3oEjHP8ELRNNlnlLGM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mountaindew-commercial-mountain-dew-mtndew-3oEjHP8ELRNNlnlLGM"></a></p></body>
</centre>

</html>