<%# <form action='/peep' method='post'> %>
      <h1>All Peeps</h1>
  <%# <label for='message'>
    <input type='text' name='message' required>
  </label>
  <button type='submit'>Create Peep</button>
</form> %>