<a href="https://github.com/DanGyi23/chitter-challenge">
  <img align ='right' height='50' width='50' style='margin:10px;margin-left: -60px' src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>

<h1> Chitter - Get your Daily Peeps </h1>

<form action="/peeps/signout" method="post">
  <input type="submit" value="Sign out" />
</form>

<form action='/postpeep' method='post' id='Peepform'>
  <label for='content'>What do you want to say?</label>
</form>

<textarea rows='5' cols='80' name="content" form='Peepform'>
  Write Peep here...
</textarea>
<br>
<br>
<button type='submit' form='Peepform' name='Post Peep'>Post Peep</button>

<br>
<br>
<br>
<h2> Peeps </h2>

<% if @peeps != nil 
@peeps.each do |peep| %>

<div style='border:4px outset blue;margin:10px;padding:5px;width:400px'>
  <%= peep[1] %>
  <br>
  <%= peep[2] %>
  <br>
  Posted by <strong><%= peep[0] %></strong>
  </div>
  <br>
  <br>
  <br>
  

<% end %>
<% end %>
    

