<html>
  <head></head>
  <body>
    <h1>Peep from <%= @peep.maker_name %></h1>
    <div>
      <p>
      Time: <%= Time.new(@peep.time).strftime('%e %b %Y at %I:%M').strip %><br  />
      Content: <%= @peep.content %><br  />
      </p>
      <p><a href="/">Back to the Feed</a></p>
    </div>
  </body>
</html>
