<body style=background-color:lightyellow;>
<div style="font-family: Tahoma">

  <h1>Welcome <% if @user %>
  <%= @user.username %></h1>
<% end %>
</div>
<ul style="font-family: Tahoma">
  <% @peeps.each do |peep| %>
    <li> <%= peep.text %><br>
    Posted <%= Time.parse(peep.timestamp).strftime("%A, %R") %>
    </li>
  <% end %>
</ul>
<a style="font-family: Tahoma" href="/peeps/new">Add a peep</a>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>

<a href="/users/new"><button>Sign up</button></a>
<a href="/sessions/new"><button>Sign in</button></a>
</body>

<%= flash[:notice]%>
