<main>
  <h1>Peeps</h1>
  <ul class="peeps">
    <% @peeps.each do |peep| %>
      <li class="peep">
        <p class="peep__content"><%= peep.content %></p>
        <p class="peep__username">by <%= peep.username %></p>
        <p class="peep__time"><%= peep.created_at %></p>
      </li>
    <% end %>
  </ul>
</main>

<footer>
  <p>Chitter &copy; 2023</p>
</footer>
