<style>
.center {
  text-align: center;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>

<div class="center">
  <%= flash[:notice] %>
  
  <h1>Welcome<% if @user %>, <%= @user.username %><% end %></h1>

  <form action="/peeps/new" method="GET">
    <button type="submit">Peep</button>
  </form>

  <ul class="ul">
    <% @peeps.each do |peep| %>
      <li>
        <h3> <%= peep.message %> </h3>
        <div style="font-size: 12px"> Peeped: <%= peep.created %> </div>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <% if @user %>
    <form action ="/sessions/destroy" method="POST">
      <button type="submit" style="float: right;">Sign out</button>
    </form>
  <% end %>
</div>
