<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>New Peep!</h1>
    <form action="/peeps" method="POST">
      <input type="text" name="content" placeholder="What do you want to say?">
      </br>
      Chitter is under maintenance.
      </br>
      For now, please enter your first name and username:
      </br>
      <input type="text" name="user_f_name" placeholder="Your first name?">
      </br>
      <input type="text" name="user_handle" placeholder="Your username">
      </br>
      <input type="submit" value="Peep!">
    </form>
  </body>
</html>