<!DOCTYPE html>
<html>
  <title> Chitter </title>

  <body>
    <form action="/post_peep" method="POST">
      <h1> Peep! </h1>
      <br>
      <input type="text" name="peep">
      <input type="submit" value="Post">
    </form>
        <% @peeps.each do |peep| %>
      
        <h2><%= peep.content %> </h2>
        Posted at:
        <%= peep.post_time %>
        <% end %>
      
    
  </body>