<main>
<div>
  <form action='/peeps' method="POST">
    <label>Write your peep here</label>
    <input type="text" name="peep">
    <input type="submit" value="Peep">
  </form>
</div>

<section>
  <% @peeps.each do |peep| %>
    <%= peep.message %></br></br>
  <% end %>
</section>

</main>