<style>



h1 {
  font-size: 30px;
}

img {
  height: 100px;
}

body {
  font-family: Helvetica Neue;
}

h2 {
  text-align: center;
}

ul {
  color: black;
  font-family: Helvetica Neue;
  border-radius: 7px;
  height: 100vh;
}

h2 {

}

.button {
  margin-top: 40px;
  display: inline-block;
  background-color: #4AA0EB;
  border: none;
  font-family: 'Helvetica Neue';
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20x;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\002B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

p {
  font-size: 10px;
}

#name_and_button {
  text-align: center;
}



</style>

  <img src='https://freesvg.org/img/frame-2v.png' alt="Bird img" />
  <h1>Chitter</h1>


<section id="name_and_button">
  <h2><%= @user %></h2>
    <form action='/peeps/new_peep'>
      <button class="button" alue='new_peep' name='new_peep' style="vertical-align:middle">
        <span>New peep </span>
      </button>
    </form>
</section>

<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
<ul>
  <% @peeps.reverse.each do |peep| %>
      <h3> <%= peep.text %> </h3>
        <p>Posted at: <%= peep.posted_at %></p>
        <br>
  <% end %>
</ul>
</div>
</div>
