<body style=background-color:lightyellow;>
<ul style="font-family: Tahoma">
  <% @peeps.each do |peep| %>
    <li> <%= peep %></li>
  <% end %>
</ul>
<a style="font-family: Tahoma" href="/peeps/new">Add a peep</a>
</body>
