<!DOCTYPE html>
<html>
<center>
  <head>
    <title>Chitter Peeps</title>
  </head>
  <body>
  <h1>Chitter Peeps:</h1>
        <% @peeps.each do |peep| %>
            <li>
                <%=peep.content%>
                <br>
                <%=peep.created_at%>
                <br>
                <br>
            </li>
        <% end %>
  </body>
</html>