<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
</head>
<body>
	<ul class="timeline">
		<% @peeps.each do |peep| %>
			<li>
  			<h3><%= peep.author %> @ <%= Helpers.format_datetime(peep.created_at) %></h3>
  			<p><%= peep.message_content %></p>
  		</li>
  	<% end %>
  </ul>
  <form action="/create_peep" method="post">
  	<input type="submit" value="Post a Peep" name="Submit">
  </form>
</body>
</html>