<head>
    <link href='/style.css' rel="stylesheet" type="text/css" />
</head>

<body> 
    <div id="cats_background"> </div>

  <!-- <h2 id="welcome">Welcome to Chitter! <%=@user.name%></h2>
  <div id="cats_background"> </div> -->

  <div class="peep_box_left" style="overflow: scroll">
    <p>Peeps:</p>
    <ul>
      <% @peeps.each do |peep| %>
        <li>
          <div class="peep"> 
            <%= peep.content%> 
            <%= peep.date%>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="peep_box_right">
      <form action="/peeps" method="POST">
        <p id="welcome">Welcome to Chitter! <%=@user.name%>!</p>
        <p>peep about ... </p>
        <input id="new_content" type="text" name="content">
        <p>
          <input type="submit" value="Peep!">
        </p> 
      </form>
    

    <form action="/" method="get">
      <input type="submit" value="Log out">
    </form>
  </div>
</body>
