<form method="POST" action="/peeps">
    <div>
        <label>peep here</label>
        <input type="text" user="peep" />
    </div>

    <div>
        <label>time</label>
        <input type="text" user="time" />
    </div>

    <div>
        <label>maker_id</label>
        <input type="text" name="maker_id" />
    </div>

    <input type="submit" />
</form>