<h1> Chitter App! </h1>
<form action="/post" method="post">
  <input type="text" name="name">
  <input type="text" name="username">
  <input type="text" name="post">
  <input type="submit" value="submit">
</form>
<ul id="peeps">
  <% @peeps.each do |peep| %>
  <li>
    <%= peep.name %>, <%= peep.username %>: <%= peep.post %>: <%= peep.time %>
  </li>
  <% end %>
</ul>
