
<% @peeps = @peeps.reverse%>
<%@peeps.each do |x| %>
<li>
<%= x.content %>
</li>
<%end%>


<form action="/new_peep" method="post">
  
            <input type="text" name="peep_content">
        
            <input type="submit" value="Post">
    
</form>