<form action='/peep' method="post">
  <input type='text' name='post' placeholder='Get your peep on!' />
  <input type='submit' value='Peep' />
</form>

<ul>
  <% @posts.each do |post| %>
  <li><%= post %></li>
  <% end %>
</ul>
<ul>
  <% @time.each do |time| %>
  <li><%= time %></li>
  <% end %>
</ul>
