<form action="/post_peep" method="get">
  <input type="submit" name="PEEP" value="PEEP" />
</form>
<% @peeps.reverse.each do |peep| %>
  <div class="boxed">
    <%= peep.peep %>
  </div>
  <%= peep.created_at %>
  </br>
</br>
<% end %>
