<h3>Here's what peeps are saying</h3>
<ul>
  <% @peeps.reverse.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      @anonymous_user says: <%= peep.peep %>
    </li>
  <% end %>
</ul>