<html>
  <head>
    <title>Chitter</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <form action="/peep" method="post">

      <div class='bold-line'></div>
        <div class='container'>
          <div class='window3'>
            <div class='overlay3'></div>
            <div class='content'>
              <div class='welcome'>Chitter</div>
              <br />
              <div class='subtitle'>Please add your peep here</div>
              <div class='input-fields'>
                <textarea type="text" name="peep_text" cols="40" rows="6" style="resize: none;" class='input3'></textarea>
              </div>
              <div class='spacing'></div>
              <div><button name="submit" type="submit" value="Submit" class='ghost-round full-width3'>Submit</button></div>
          </div>
        </div>
      </div>

    </form>

    <div id="footer" class="contacts">
      <a class="icons" href="https://www.linkedin.com/in/yaroslava-yates-629517221/" target="_blank">
          <img class="icons" src="https://i.postimg.cc/CKhnxt4D/link.png" alt="Linkedin">
      </a>
    </div>

  </body>

</html>
