<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>
<h1>Welcome to Chitter</h1>
<form action="/peep/new" method="post">
  <p>
  <textarea name="peep" required></textarea>
</p><p>

  <button type="submit" class="peep_only_btn" value="Peep"><span class="icon"></span>Peep</button>
</p>
  </form>

  </body>
</html>
