<html>
  <head></head>
  <body>
    <p><%= @name %> <%= @username %> - <%= @time %></p>
    <p><%= @content %></p>
    <p><a href="/"><button type="button">Back to home</button></a></p>
  </body>
</html>