<h1>Chitter</h1>

<form id="peep_form" action="/peeps" method="post">
  <input type="submit" value="Peep">
</form>
<textarea name="name" rows="4" cols="60" form="peep_form">
</textarea>
<label for="peep_form">create peep</label>
