<form method="post" action="/peeped">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="peep" placeholder="What's on your mind?" />
  <input type="submit" value="Peep!" />
</form>