<html>
<head>
<style>
  body {font-family: Verdana, sans-serif;}
  body {background-color: FFFFFF;}
  h1   {color: black;}
  h2   {color: black;}
  p    {color: black;}
</style>
</head>
<center>
<body>
  <h1>PEEPS</h1>
  <div>
  <% @sorted_peeps.each do |peep| %>
    <a href="/peeps/<%= peep.id %>"> PEEP: - '<%= peep.content %>' - <%= peep.peep_date %><br><br></a>      
    <% end %>
  </div>
  <iframe src="https://giphy.com/embed/hFmIU5GQF18Aw" width="150" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/loop-problem-hFmIU5GQF18Aw"></a>
  <form action="/">
  <input type="submit" value="HOME" />
  </form>
  <form action="/peeps/login">
  <input type="submit" value="LOGIN" />
  </form>
  <form action="/peeps/signup">
  <input type="submit" value="SIGN UP" />
  </form>
  <form action="/peeps/new">
  <input type="submit" value="NEW PEEP" />
  </form>
</center>
</body>
</html>