<div>
  <% @peeps.each do |peep| %>
    <%= peep.time.strftime("%d/%m/%Y %H:%M") %> <%= peep.message %> <br/>
  <% end %>
</div>
<div>
  <form action="/peeps" method="post" >
    Post a new peep: <input type="text" name="new_peep" />
    <input type="submit" value="Peep" />
  </form>
</div>
<div>
  <% if @current_user != nil %>
  Welcome <%= @current_user %>
  <% end %>
  </br>
  Not already registered?  Enter your details to sign up: </br>
  <form action='/makers' method='post' >
    Name: <input type="text" name="name" />
    Username: <input type="text" name="username" />
    Email: <input type="text" name="email" />
    Password: <input type="text" name="password" />
    <input type="submit" value="Sign up" />
  </form>
</div>
