<ul>

  <h1> What's up Peeps? </h1>

  <% if @user %>
    <h2>Welcome back, <%= @user.username %></h2>
  <% end %>

  <% @peeps.reverse.each do |peep| %>
    <li>
    Peep: "<%= peep.content %>"
    <br>
    Username: <%= peep.username %>
    <br>
    Time: <%= peep.created_at %>
    <br>
    </li>
  <% end %>
</ul>

<form action="/signup" method='get'>
  <input type="submit" value="Sign Up to Peep">
</form>

<form action="/login" method='get'>
  <input type="submit" value="Log in to start Peeping">
</form>
