<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <form action='/users/<%= @current_user.id %>/peeps' method='post'>
    <label for='peep'>New peep:</label>
    <input type='text' name='peep'>
    <input type='submit' value='Submit'>
  </form>
</body>
</html>
