<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <%@peeps.each do | peep | %>
      <%=peep%><br>
      <%end%>
    </div><br><br>
    Make a peep!
    <form action="/peeps" method="post">
      <input type="text" name="peep" placeholder="enter peep here">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
