<h1 align='center'> Hey there chitterer, want do you want to Peep today? </h1>

<form align='center' action='/wall' method='POST'>
  Peep:
  <input type='text' name='peep'>

  <input type='submit' value='Submit'>
</form>
