<h1> Chitter - Get your Daily Peeps </h1>

<form action='/postpeep' method='post' id='Peepform'>
  <label for='Peepbox'>What do you want to say?</label>
</form>

<textarea rows='5' cols='80' name="Peepbox" form='Peepform'>
  Write Peep here...
</textarea>
<br>
<br>
<button type='submit' form='Peepform' name='Post Peep'>Post Peep</button>

<br>
<br>
<br>
<h2> Peeps </h2>
