<html>
  <head></head>
  <body>
    <h1>Peeps by <%= @user.name %></h1>

   
    <% @peeps.reverse.each do |peep| %>
      <div>
        <p><%= peep.content %></p> -
        <%= peep.date_time[0..-8] %>
      </div>
      <% end %>
  </body>
</html>