<%= erb :'partials/header' %>

<% if @username %>
  <h2>Hello <%= @username %>
<% else %>
  <h2>Hello guest</h2>
<% end %>

<%= flash[:message] %>
My first peep

<% if @username %>
  <form action='/peeps' method='post'>
    <input id='peep_entry' type='text' placeholder='Peep away!'>
    <button type='Submit'>Peep</button>
  </form>
<% end %>
