<%= flash[:notice] %>

<h1> Welcome to Chitter </h1>

<form action="/peeps/new" method="post">
  <textarea name="content" placeholder="Your peep"></textarea>
  <input type="submit" value="Peep!">
</form>

<ul>
  <% @peeps.each do |peep| %>
  <p><%= peep.content %></p>
  <p><%= peep.created_at.strftime('%R - %F') %></p>
  <%end%>
</ul>


<form action="/user/new" method="get">
  <input type="submit" value="Sign up to Chitter!">
</form>
