<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<h1>Welcome to Chitter, <%=session[:user].name%>!</h1>

<form action="/peep_feed/new_peep" method="get">
  <input type="submit" value="New Peep">
</form>

<p>
  <%@peeps.reverse.each do |peep|%>
    <font size="6"><%=peep.text%></font><br>
    <font size="1"><%=peep.time%></font><br><br>
  <%end%>
</p>
