<html>
  <head></head>
  <body>
    <h1>Peep away</h1>
    <div>
        <p>Your Peep is now live:</p>
        <blockquote><%= @peep.content %></blockquote>
        <p><a href="/">Back to the Feed</a></p>
    </div>
  </body>
</html>
