<h2>Logged in as: <%= @userg %></h2>

<ul id ='peeplist'>
  <% @peeps.each do |peep| %>
      <li>
        <%= peep.content %>
        <%= peep.created_at %>
      </li>
  <% end %>
</ul>

<form action="/new">
  <input type="submit" value="Create new link">
</form>