<!DOCTYPE html>
<html>
  <head>
    <title>Peeps</title>
  </head>
  <body>
    <center>
      <form action='/peeps' method='post'>
        <input type='text' name='peep' placeholder="Type your peep here" maxlength='140'></input>
        <button type='submit'>Submit</button>
      </form>
      <table>
        <tr>
          <th>Peep</th>
        </tr>
        <% @peeps.each do |peep| %>
        <tr><td><%= peep %></td></tr>
        <% end %>
      </table>
    </center>
  </body>
</html>
