<html>
  <head></head>
  <body>
    <h1>Peep from <%= @peep.maker_name %></h1>
    <div>
      <p>
      Time: <%= @peep.time %><br  />
      Content: <%= @peep.content %><br  />
      </p>
    </div>
  </body>
</html>
