<!DOCTYPE html>
<html>
  <title> Chitter </title>

  <body>
    <form action="/post_peep" method="POST">
      Peep!
      <br>
      <input type="text" name="peep">
      <input type="submit" value="Post">
    </form>
        <% @peeps.each do |peep| %>
      <li>
        <%= peep.content %>
        <% end %>
      </li>
    
  </body>