<div class="leftbox">
<h1> Welcome <%=session[:username]%> </h1>
<form>
<label for "user_peep">Do a peep:</label><br>
<textarea name = "user_peep" class ="peepinput" >
the peeps
</textarea>
</form> 
</div>
<div class="rightbox">
<h3> These be the peeps </h3>
<%= Peep.all%>
<div>