<head>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link rel="stylesheet" type="text/css" href="/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style ="background-image:url(https://pixabay.com/get/52e3d6424251a914f6d1867dda6d49214b6ac3e45657724c772878d09f/ocean-4331835_1920.jpg)">

<h2> Back in Your world of Chitter </h2>

<body>
<h1>
<%= @peep %>
</h1>
</body>


  <footer>
    <h2>Posted by: Kaja</h2>
    <h2>Contact information: <a href="kaja.polkowska@gmail.com">
    someone@example.com</a>.</h2>
  </footer>
