<html>
  <head></head>
  <body>
    <h1>Chitter</h1>

    <a href="/signup"><h2>Signup to Chitter</h2></a>

    <a href="/peeps/new"><h2>Post a new peep</h2></a>

    <% @peeps.zip(@authors).each do |peep, author| %>
      <div>
        <%= author.username %><br>
        <%= peep.contents %><br>
        <%= peep.time_posted %><br><br>
      </div>
    <% end %>
  </body>
</html>