<h1 style="background-color:rgb(134, 207, 190);">
<br>
<h2>Enter your Peep Below:</h2>
<form method='POST' action='/peeps'>
  <input type="text" name="peep" label="new_peep">
  <br>
  <input type="submit" name="Submit" value="Post">
</form>
<br>
<br>
<h2>Your Most recent peeps: </h2>
<div>
<% @pip.each do |peeper| %>
  <%= peeper%>
  <br>
<% end %>
</div>

<div>
<h5> posted on:</h5> 
<% @time_updated.each do |tu| %>
  <%= tu%>
  <br>
<% end %>
</div>
