<!DOCTYPE html>
<html>
  <title> Chitter </title>

  <body>
    <form action="/post_peep" method="POST">
      Peep!
      <br>
      <input type="text" name="peep">
      <input type="submit" value="Post">
    </form>
    <li>
      <%= @peeps.each do |peep| peep['peep'] end %>
    </li>
  </body>