<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
<% end %>

<form action="/peeps" method="post">
  <input type="text" name="peep" placeholder="Enter peep" />
  <input type="submit" value="Submit" />
</form>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li><%= peep.peep %> : <%= peep.time %> </li>
  <% end %>
</ul>
