
<html>
  <head></head>
  <body>
    <h1><%=CHITTER CHATTER %></h1>
    <p> Wanna read what our peeps have got to say?
    <% @peeps.each do |peep| %>
     <%= peep.title%>
    <%= peep.username %>
    <%= peep.content %>
<% end %>
      </p>
  </body>
</html>

