<head>
 <link href="<%= url('/stylesheet.css') %>" rel="stylesheet" type="text/css" />
  <%# <link rel="stylesheet" href="stylesheet.css"> %>
</head>
  <body>
    <div class="container">
    <h1> Your peeps</h1>
    <p>
      peep: <%= @peeps.peep %>
      time: <%= @peeps.time %>
    </p>
      <div class="container">
  </body>
</html>
