<html>

<head></head>

<body>
    <h1>Peep successfully posted! Click to return to homepage</h1>
            <form action="/peeps">
            <input type="submit" value="Home" />
        </form>


</body>

</html>