<html>
  <head>
    <%= erb(:header) %>
  </head>
  <body>
    <h1>Peep from <%= @peep.maker_name %></h1>
    <div>
      <blockquote>
        <%= @peep.content %>
      </blockquote>
      <p>
      <small><%= Time.new(@peep.time).strftime('%e %b %Y at %H:%M').strip %></small>
      </p>
      <p><a href="/">Back to the Feed</a></p>
    </div>
  </body>
</html>
