<h2><%= @peeps %></h2>
<h2><%= @peep %></h2>

<form action="/peeps" method="post">
<input type="text" name="peep">
<input type="submit" value="peep it!">
</form>

<form action="/" method="get">
<input type="submit" value="logout">
</form>