<html>
  <head></head>
  <body>
    <h1> Chitter </h1>
      <h2><p>Your peep has been posted!</p></h2>
       <h4><a href="/<%= @user.username %>">return to homepage</a></h4> 
       <button onclick="location.href='/'"> Sign out </button>
  </body>
</html>