
<form action="/home" method="post">
  <textarea rows="2" cols="25" <input type="text" name="enter_peep" placeholder="What's on your mind?" required></textarea>
  <input type="submit" name="peep" value="Peep">
</form>


