<h1> Chitter </h1>
<% if @username == nil %>
<form action='/new_user' method=get>
  <input type='submit' value='new user'>
</form>
<% else %>
<h2> username: <%= @username %> </h2>
<% end %>

<ul>
  <% @piepjes.each do |piepje|  %>
    <div>
      <%= piepje.user %>: <%= piepje.text %> <%= piepje.time %>
    </div>
  <% end %>
</ul>

<form action='/chitter/add_piepje' method=get>
  <input type='submit' name='new' value='new piepje'/>
</form>
