<% @beeps.each do |beep| %>
<div class="a_beep">
<%= beep.body %><br><small><%= beep.time %></small><br>
</div>
<% end %>
<form action="/" method="post">
  <input type=text name="beep" value="beep">
  <input type=submit name = beep-boop value= beep-boop>
</form>
