<div id="createaccount">
<form action="/signup" method="get">
  New to ChipChune? <input type=submit name = beep-boop value= "sign-up">
</form>
</div>
<div id="userdisplay">
  <% if @user == nil %>
  <form action='/session' method='post'>
    <input type="submit" name='sign in' value='sign in'>
  </form>
  <% end %>
  <% if @user != nil %>
   signed in as <%= @user %>
   <form action='/session' method='post'>
     <input type='hidden' name='_method' value='DELETE'>
     <input type="submit" name='sign out' value='sign out'>
   </form>
   <% end %>
</div>
<% @beeps.each do |beep| %>
<div class="a_beep">
<%= beep.body %><br><br>
  <small>✧ʕ̢̣·͡˔·ོɁ̡̣✧ :<%= @users.find_by(id: beep.authorid).username %>
  <br><small><%= beep.time %></small></small><br>
</div>
<% end %>
<% if @user != nil %>
  <form action="/" method="post">
    <input type=text name="beep" value="beep">
    <input type=submit name = beep-boop value= beep-boop>
  </form>
<% end %>
