<% @beeps.each do |beep| %>
<%= beep.body %><br>
<% end %>
<form action="/" method="post">
  <input type=text name="beep" value="beep">
  <input type=submit name = beep-boop value= beep-boop>
</form>
