<div id="main_body" align="center" style="background-image: linear-gradient(#900C3F, orange);">

<div id="userdisplay" align="right">
  <% if @user == nil %>
  <div id="signupin">
  <form action='/session' method='post'>
    <input type="text" name="username" value="username">
    <input type="password" name="password" value="password">
    <input type="submit" name='sign in' value='sign in'>
  </form>
  <form action="/signup" method="get">
    New to ChipChune? <input type=submit name = beep-boop value= "sign-up">
  </form>
  </div>
  <% end %>
  <% if @user != nil %>
   signed in as <%= @user %>
   <form action='/session' method='post'>
     <input type='hidden' name='_method' value='DELETE'>
     <input type="submit" name='sign out' value='sign out'>
   </form>
   <% end %>
</div>
<% if @user != nil %>
  <form action="/" method="post">
    <input type=text name="beep" value="beep">
    <input type=submit name = beep-boop value= beep-boop>
  </form>
<% end %>
<div id="beepstream" align=left style="max-width: 700px; margin: auto;"">
<% @beeps.each do |beep| %>
<div class="a_beep">
<%= beep.body %><br><br>
  <small>✧ʕ̢̣·͡˔·ོɁ̡̣✧ :<%= @users.find_by(id: beep.authorid).username %>
  <br><small><%= beep.time %></small></small><br>
</div>
<% end %>
</div

</div>
