<form method="POST" action="/peeps">
<div>
    <label> username: </label>
    <input type="text" name="name" />
  </div>
  <div>
    <label> message: </label>
    <input type="text" name="message" />
  </div>

  <input type="submit" value="Submit" />
</form>