<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="app">
    <form action='/post' method='POST'>
      <input type="hidden" name="peep_id", value="<%= @peep_id %>"">
      <input type="text" name="text" class="text">
      <input type='submit' value="Submit" class="button">
    </form>
  </div>
</body>