<h1>Tell us what is on your mind.</h1>
<form action="/post-tweet" method="post">
  <textarea name="tweet" id="tweet" rows="4" maxlength="250">What's on your mind</textarea>
  <button>Tweet!</button>
</form>