<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter4.css">
</head>
<div class="post-body">
  <div class='main-column'>

    <div class="inner-column-three-posts">
      <div class="links">
        <div class="home-button">
          Home
        </div>
        <div class="notifications-button">
          Notifications
        </div>
        <div class="messages-button">
          Messages
        </div>
        <div class="bookmarks-button">
          Bookmarks
        </div>
        <div class="profile-button">
          Profile
        </div>
      </div>
    </div>
    
    <div class="bi-column-one-post">
    <div class="page-title">
      Home
    </div>
    <div class="post-chit-box">
            <form class="post-form" action="post_chit" method="post">
              <textarea class="post-input" type="text" name="chit" placeholder="Type your chit here"></textarea><br>
              <div class="input-box">
                <%# <div class="divider">
                </div> %>
              </div>
              <div class="handle-and-submit-container">
              <input class="handle-input" type="text" name="handle" placeholder="type your handle here"><br>
              <input type="submit" value="post chit!" />
              </div>
            </form>
        </div>
      <% @chits.reverse.each do |chit|%>
      <div class="chit-container">
        <div class="handle">
          <%= chit.handle %>
        </div>
        <div class="content">
          <%= chit.content %>
        </div>
        <div class="timestamp">
          <%= chit.timestamp%>
        </div>
      </div>
    <% end %>
    </div>

    <div class="bi-column-two-post">
      <div class="what-is-happening">
        <div class="what-is-happening-header">
        What is happening?
        </div>
      </div>
      <div class="people-you-know">
        <div class="people-you-know-header">
          People you might know
        </div>
      </div>
    </div>
  </div>
</div>
