<h1> Peep what you are doing, what you are thinking or just a emoji! </h1>

<label for="peep">Write your peep:</label>
<br>

<form action="/postmessage" method='post'>
  <textarea placeholder="Let the world hear your peep.." id="peep" name="peep" rows="4" cols="50" maxlength="280">
  </textarea>
  <br>
    <button type='submit' name='post peep' value='submit'>Post peep</button>
</form>
