<h1>Post your peep!</h1>
<form action='/peeps' method='post'>
  <label for="user_peep">
    Your peep
    <input type='text' name="user_peep">
  </label>
  <input type='submit' value='Send peep'>
</form>
