<html>
  <head></head>
  <body>
    <% @post.each do |item|%>
      <div class="space">
      <p>Title: <%= item.id%></p>
      <p>Release year: <%=item.message%></p>

      <% end %>\
      </div>
  </body>
</html>