<form action="/peeps" method="post">
  <label for="peep">What are you doing?</label>
  <input type="text" id="peep" name="peep">
  <input type="submit" value="Peep">
</form>

<div>
    <a href="/peeps">Return to Homepage</a>
</div>



