<% if !@logged_in %>
  <h2> you must be logged in to post </h2>
<% end %>

<% if @logged_in %>
  <form action="/log_out" method="get">
    <input type="submit" value="Log-out">
  </form>

  <form action="/posts" method="post">
    <label for="tag"> Tag a user: </label>
    <input type="text" name="tag">
    <label for="content"> Content: </label>
    <input type="text" name="content">
    <input type="submit" value="Submit">
  </form>
<% end %>
