<form method="POST" action="/peeps">
<div>
    <label> Username: </label>
    <input type="text" name="name" />
  </div>
  <div>
    <label> Message: </label>
    <input type="text" name="message" />
  </div>

  <input type="submit" value="Submit" />
</form>