<html>
  <head> 
  </head>
  <body>
    <h1>Chitter</h1>
    <form action="/post" method="POST" style="margin:5rem 0;">
      <label> Write your peep! </label>
      <input type="text" name="content" style="height:100px;display:block;margin:2rem 0;width:150px;"/><br>
      <input type="submit" class="submit_button" value="Post!"/>
    </form>
  </body>
</html>