<h1>What would you like to say?</h1>
<form action='/post' method='get'>
  <textarea name='peep' type='text'></textarea>
  <input type='submit' value='Peep'></input>
</form>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
