<ul>
  <% @peeps.reverse_each do |peeps| %>
    <li><%= peeps.peep %>, by <%= peeps.user %> (posted at: <%= peeps.created_at %>)</li>
  <% end %>
</ul>

<form action='/' method='post'>
  <input type='submit' value='Write another peep' />
</form>
