<html>
  <head></head>
  <body>
    <h2>Nice one, your peep has been posted!</h2>
    <input type ='button' value='Return to homepage' onclick="window.location.href='/';"><br>    
    <br>
    <input type ='button' value='Post another peep' onclick="window.location.href='/add_peep';"><br>
  </body>
</html>