<h1>Post a Peep</h1>

<form action="/logout" method="POST">
  <input type="submit" value="logout">
</form>

<form action="/posts" method="POST">
  <label for="content">content</label>
  <input type="text" name="content">

  <input type="submit" value="Submit the form">
</form>

<a href="/posts">Peep Board</a>
