<html>
  <head>
    <title>Unable to post a new peep</title>
  </head>
  <body>
    <h1>Login required</h1>
    <div>
      <p>To post a new peep please login or create an account</p>
    </div>
    <div>
      <a href="/signup">Sign up page</a>
    </div>
    <div>
      <a href="/loginpage">Login page</a>
    </div>
  </body>
</html>