<form action="post_chit" method="post">
  <input type="text" name="handle" placeholder="type your handle here">
  <input type="text" name="chit" placeholder="type your chit here" />
  <input type="submit" value="post chit!" />
</form>
