<%= styled_flash %>


<h2>Peep Peep!</h2>

<ul>
  <% @peeps.reverse_each do |peeps| %>
    <li><%= peeps.peep %>, by <%= peeps.user %> (posted at: <%= peeps.created_at %>)</li>
  <% end %>
</ul>

<form action='/' method='post'>
  <input class='btn btn-primary' type='submit' value='Write another peep' />
</form>
