<!DOCTYPE html>
<html>
<head>
  <title>Post</title>
</head>
<body>
  <h3>Welcome to Chitter
    <%if @user %>
     <%= @user.username %></h3>  
    <% end %>
  <form action="/peeps" method="post">
    <input type="text" name="message" placeholder="Peep here!">
    <input type="submit" value="Post">    
  </form>
</body>
</html>