<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter4.css">
</head>
<%# 
<h1>Post a chit</h1>
<form action="post_chit" method="post">
  <input type="text" name="handle" placeholder="type your handle here"><br>
  <input type="text" name="chit" placeholder="type your chit here" /><br>
  <input type="submit" value="post chit!" />
</form>
</body>
</html> %>
<div class="post-body">
  <div class='main-column'>
    <div class="bi-column-one-post">
    <div class="page-title">
      Home
    </div>
    <div class="post-chit-box">
            <form class="post-form" action="post_chit" method="post">
              <textarea class="post-input" type="text" name="chit" placeholder="Type your chit here"></textarea><br>
              <div class="input-box">
                <%# <div class="divider">
                </div> %>
              </div>
              <div class="handle-and-submit-container">
              <input class="handle-input" type="text" name="handle" placeholder="type your handle here"><br>
              <input type="submit" value="post chit!" />
              </div>
            </form>
        </div>
      <% @chits.reverse.each do |chit|%>
      <div class="chit-container">
        <div class="handle">
          <%= chit.handle %>
        </div>
        <div class="content">
          <%= chit.content %>
        </div>
        <div class="timestamp">
          <%= chit.timestamp%>
        </div>
      </div>
    <% end %>
    </div>

    <div class="bi-column-two-post">
      <%# <div class="post-chit-main-container">
        <div class="post-chit-box">
            <form class="post-form" action="post_chit" method="post">
              <textarea class="post-input" type="text" name="chit" placeholder="type your chit here"> </textarea><br>
              <div class="input-box">
                <div class="divider">
                </div>
                <input class="input" type="text" name="handle" placeholder="type your handle here"><br>
              </div>
              <input type="submit" value="post chit!" />
            </form>
        </div>
      </div> %>
    </div>
  </div>
</div>
