<title> Post successful </title>
<h1> <center> Post successful!<center> </h1>
  <body><center> You submitted the following peep: <br>
   <%=@users_peep%> <br>
  Please click the homepage button to return to you chitter feed. <center>
  <form action="/">
  <input type="submit" value="Homepage"> <form </body>
  <style> body {background-color: Skyblue;} </style>
