<html>
<head>
  <title>New Message</title>
</head>
  <body style="background-color: grey; text-align: center; font-size:40px; color:white">
    <hr width="50%"></hr>
    <h2>Create new Post</h2>
    <hr width="50%"></hr>
    <div style="margin-right: 215px; margin-left: 215px; background-color: grey">
      <form action="/message" method="post">
        MESSAGE <input type="text" name="MESSAGE">
        TAG <input type="text" name="TAG">
        <button name="Submit Post" type="submit"</button <h2>Add</h2>>
      </form>
    </div>
  </body>
</html>
