<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

  <body>
    <br>
    <a class="buttons" href='/peeps'>See Peeps</a>
    <br>
    <h1>Add Peep</h1>
    <br>
    <div class='form_container'>
      <form action='/peeps' method="post">

        <label for='context'>Content</label>
        <input type='text' name='context'>

        <button type="submit">Post peep!</button>
      </form>
    </div>
      <br>
      <br>
  </body>
</html>
