<html>
<head>
<style>
.center {
  padding: 70px 0;
  text-align: center;
}
body {
  background-color: lightblue;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
}
h1 {
  color: hotpink;
  text-align: center;
  font-family: verdana;
}
h2 {
  color: white;
  text-align: center;
  font-family: verdana;
}
a {
  color: white;
  text-align: center;
}
</style>
</head>
<body>

<div class="center">

<form action="/save-peep" method="post">

  <label for="peep">What's on your mind? (140 characters max)</label>
  <input type="text" name="peep" placeholder="Peep">
  <input type="submit" value="Submit">
</form>

</div>

</body>
</html>
