<!DOCTYPE html>

<html lang="en">
<head>
<style>
body {
  background-color: lightblue;
}
h1 {
  text-align: center;
}
form {
  text-align: center;
}
</style>
</head>

<form action="/view" method="post">
  <label for="message">
    Please enter your peep:
    <input type="text" name="message"/>
  </label><br>
  <input type="submit" value="Submit">
</form>
