<h1>What would you like to say?</h1>
<form action='/post' method='post'>
  <textarea name='peep' type='text'></textarea>
  <input type='submit' value='Peep'></input>
</form>

<% flash.keys.each do |post| %>
  <div data-alert class="flash <%= post %> alert-box radius">
    <%= flash[post] %>
  </div>
<% end %>
