<!DOCTYPE html>
<html>

<style>
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: black;
    color: white;
}
input[type=text] {
    background-color: white;
    background-image: url('robin-simple.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
</style>
<head>

</head>

<body>
<center>
  <div class='container'>

          <img src="/images/robin-simple.png">
</div>

<form action="/peep" method="post">
  <div>
    <textarea id="text" name="message"></textarea>
  </div>
  <div>

  <input type='submit' value='Peep'>
</div>

</form>

</center>
</body>
</html>
