<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<h1>Please post your chitt below:</h1>
<form action="/chitter/posting" method="post">
  <input type="text" name="chitt" />
  <h1></h1><input type="submit" value="Submit" />
</form>
