<h1> Peep what you are doing, what you are thinking or just a emoji! </h1>

<label for="peep">Write your peep:</label>

<textarea placeholder="Let the world hear you peep.." id="peep" name="peep" rows="4" cols="50" maxlength="280">
</textarea>
<input type='submit' value='post peep!'></input>
