<html>
  <head></head>
    <style>
  #roundedcorners {
  border-radius: 25px;
  border: 2px solid #1DA1F2;
  padding: 20px;
  width: 200px;
  height: 75px;
}
  body {
  background-color: lightblue;
  font-family: verdana;
}
  </style>
  <body>
    <h2>Nice one, your peep has been posted!</h2>
    <input type ='button' value='Return to homepage' onclick="window.location.href='/';"><br>    
    <br>
    <input type ='button' value='Post another peep' onclick="window.location.href='/add_peep';"><br>
  </body>
</html>