<div>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Sign Out" value="Sign Out">
  </form>
</div>

<%= @user.username %>

<footer>
  <a href=<%= "/delete_profile/#{@user.id}" %>>Delete Account</a>
</footer>
