<div>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Sign Out" value="Sign Out">
  </form>
</div>

<%= @user.username %>

<form action="/chirrup-board" method="get">
  <input type="submit" name="View Chirrups" value="View Chirrups"</input>
</form>

<footer>
  <a href=<%= "/delete_profile/#{@user.id}" %>>Delete Warble Account</a>
</footer>
