<!DOCTYPE html>
<html>
<%= erb :head_with_style %>
<body>
  <%= erb :navbar %>
  <div class="page-container">
    Welcome, <%= @name %>! Your username is <%= @username %>.
  </div>
</div>
</body>
</html>
