<!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title>Chitter: Profile</title>
   </head>
   <body>
     Hello <%= current_user.fullname %>
   </body>
 </html>
