  <form action='/sign-out' method='post'>
    <input name='_method' type='hidden' value='delete'>
    <input type = 'submit' id='log-out' value = 'Log out'>
  </form>

  <br>
  <h1>Hello, <%= current_user.name %>!</h1>
  <br>

  <form action='/profile' method='post'>
     <br> 
     <label>Write your next peep in the field below</label>
     <br>
     <br>
    <input type='text' name='content' style="height:40px;width:200px" placeholder="  Enter peep ">
     <br>
     <br> 
     <input id='post' type='submit' value='Post my peep!'style="height:20px;width:100px">
     <br>
  </form>

  <h2> Chitter feed </h2> 
  <% @peeps.reverse.each do | peep | %>
  <div>
   @<%= peep.user.username %><br>
   <%= peep.display %><br>
   <%= peep.time_created %> </div>
  <br>
  <%end%>
    
 </div>


