
<html>

<head>
  <title> Chitter </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<h1 style="text-align: center;"><a href="/" style="text-decoration:none;color:black;"> Chitterfeed</a></h1>

<% unless @current_user.nil? %>
  <aside style="text-align: center;"> Welcome, <%= @current_user.name %>!</aside>
<% end %>

<div class ="logging_in">
  <form class="logout" action="/logout"  method="get">
    <input type="submit" name="Logout" Value="Logout">
  </form>
</div>

<div class=messages>

  <div class=new_cheet >
    <form action="/new-cheet" method="post">
      <input type="text" name="cheet" placeholder="Cheet">
      <input type="submit" value="Submit" >
    </form>
  </div>

  <ul class=cheet_block>
    <% @cheets.each do |cheet| %>
    <li>
      <ul>
        <li> <%= cheet.cheet %> </li>
        <li><sub> <%= cheet.user %> @ <%= cheet.timestamp[0...-7] %></sub></li>
      </ul>
    </li>
    <% end %>
  <ul>
</div>
