<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome, <%= current_user.username %></h2>
    <br>
    <h4>Would you like to leave a Peep?</h4>
    <%= erb(:textarea, :locals => {
      :object => "peep",
      :content => nil,
      :value => nil
    }) %>
    <br>

    <div class="peeps" style="border-style: ridge; width:500px;">
      <br>
      <% @peeps.reverse.each do |peep| %>
        <br>
        <div>
          <%= peep.content %>
        </div>

          <%= peep.time %>
          <br>
      <% end %>
      <br>
    </div>

    <br>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log out">
    </form>
  </body>
</html>
