  <form action='/sign-out' method='post'>
    <input name='_method' type='hidden' value='delete'>
    <input type = 'submit' id='log-out' value = 'Log out'>
  </form>

  <h1>Hello, <%= current_user.name %>!</h1>

