<h3><%= @username %>'s peeps</h3>

<form action="/" method="get">
    <input type="submit" value="home">
</form>

<form action = '/log_out' method = 'post'>
    <input type='hidden' id='hidden' name='_method' value='delete'>
    <input type="submit" value="Log Out">
</form>
