<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= erb(:'partials/navigation') %>

    <h2>Profile</h2>
    <div>
      Welcome, <%= @current_user.name %> <br>
    </div>

    <h3>Your details:</h3>
    <div>
      Email: <%= @current_user.email %><br>
      Username: <%= @current_user.username %><br>
    </div>

    <div class="">
      <form action="/signin" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out">
      </form>
    </div>
  </body>
</html>
