<h2> Welcome <%= current_user.username %> </h2>

<form action="/peep" method="post">
  <textarea name="peep" rows="3" cols="40" place_holder="What is happening?"></textarea>
  <p> <input type="submit" value="Submit your peep"> </p>
</form>

<% @peep.reverse.each do |peep| %>
<p> <%=peep.id%> <%= peep.content %> at: <%= peep.created_at.strftime('%a, %d %b %Y, %H:%M:%S') %> </p>
<% end %>

<form action="/" method="get">
  <input type="submit" value="Homepage">
</form>
<br>
<form action="/sessions" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log out">
</form>
