<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= url('css/message_view.css') %>">
    <title>Chitter Profile</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Chitter</h1>
        <h2>Welcome <%=@user.name%></h2>
      </header>

      <div>
        <form action="/peep" method="post">
          <textarea id="text_input" name="message" rows="2" ></textarea>
          <br>
          <input id ="enter" type="submit" name="Enter" value="Enter">
        </form>
      </div>

      <div class="message_area">
        <% @peeps.reverse.each do |message| %>
        <div class="message_content">
          <div class="message">
            <%=message.content%>
          </div>
          <br>
          <div id="time">
            <%= message.display_time%>
          </div>
          <br>
        </div>
        <% end %>
      </div>
    </div>


  </body>
</html>
