<!DOCTYPE html>
<html>
<%= erb :head_with_style %>
<body>
  <%= erb :navbar %>
  <div class="page-container">
    <div class="welcome-user">
      Welcome, <%= @name %>! Your username is <%= @username %>.
    </div>
    <div class="form-container">
      <form class="new-peep-form" action="/peeps/new" method="post">
        <input type="text" name="new_peep" placeholder="What's happening?">
        <button class="peep-button" type="submit" name="Peep">Peep</button>
      </form>
    </div>
  </div>
</body>
</html>
