<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/reset.css" />
    <link rel="stylesheet" href="css/form.css" />
  </head>
  <body>
    <div class="header">
      <h1>Chitter:</h1>
    </div>
    <div class="welcome">
      <h2>Sorry, this email address is already signed up</h2><br>
      </br><h2>Please try logging in</h2>
    </div>
    <div class="input">
      <form action="user-login" method="post">
        <div class="line">
          <h2>Username: </h2><input type="text" name="username"/>
        </div>
        <div class="line">
          <h2>Password: </h2><input type="text" name="password"/>
        </div>
        <input type="submit", value="log in"/>
      </form>
    </div>
  </body>
</html>
