<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sorry, the username "<%=params[:usedname]%>" has already been taken</h1>
    <h2>Please try again with a different username</h2>
    <form action="new-user" method="post">
      <h2>Name: </h2><input type="text" name="name"/>
      <h2>Username: </h2><input type="text" name="username"/>
      <h2>Email: </h2><input type="text" name="email"/>
      <h2>Password: </h2><input type="text" name="password"/>
      <input type="submit", value="Sign Up!"/>
    </form>
  </body>
</html>
