<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
</head>
<body>
    <h1>Join Chitter Chatter today!</h1>
    <!-- Add in somewhere about minimum character length -->
    <form method="POST" action="/register">
        <label>Enter your email:</label><input type="text" name="email_address" required><br>
        <label>Enter a username:</label><input type="text" name="username" required><br>
        <label>Enter a password:</label><input type="text" name="password" required><br>
        <input type="submit">
    </form>
</body>
</html>
