<!DOCTYPE html>
<html>
<head>
  <link href='/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Welcome to Chitter!</h1>
  <br>
  <p> please click the button below to go back to the home page<p>
  <form action='/view' method='GET'>
    <input type='submit' value='Time to Peep'>
  </form>
</body>
<html>