<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <label for="username">Username: </label><input type="text" name="username">
    <label for="name">Name: </label><input type="text" name="name">
    <label for="email">Email: </label><input type="text" name="email">
    <label for="password">Password: </label><input type="password" name="password">
    <input type="submit" value="Create user">
  </form>
</body>
</html>