<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

  <h1>Congtratulations @<%= @username %>, you successfully signed up for Chitter!</h1>
  <p>
    <a href='/login'>Login here</a> to start Chittering.
  </p>
  <body>
</html>



