<head>
   <link rel="stylesheet" href="styles.css" />
</head>
<a href="/logged_in"><button class="sign-out-button" type="button">Go back to homepage</button></a>
<div class="float-container">
   <div class="float-child">
      <div class="logo">
         <img src="logo.png" alt="Chitter logo" width="600" height="200">
      </div>
   </div>
   <div class="float-child">
      <div class="form">
         <h1>Please enter your details:</h1>
         <form action="/sign_up" method="post">
            <label for="name">Name:</label><br>
            <input class="input-box" type="text" id="name" name="name"><br>
            <label for="email_address">Email Address:</label><br>
            <input class="input-box" type="text" id="email_adress" name="email_address"><br>
            <label for="username">Username:</label><br>
            <input class="input-box" type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input class="input-box" type="password" id="password" name="password"><br>
            <input class="button" type="submit" value="Submit">
         </form>
      </div>
   </div>
</div>
