<div class="container">
  <h1>Registration</h1>

  <form action="/user" method="post">
    <label for="name">
      Enter your full name
      <input class="form-control" type="text" name="name">
    </label>

    <label for="username">
      Username
      <input class="form-control" type="text" name="username" value="@">
    </label>

    <label for="email">
      Email
      <input class="form-control" type="text" name="email">
    </label>

    <label for="password">
      Password
      <input class="form-control" type="password" name="password">
    </label>

    <label for="confirm_password">
      Confirm Password
      <input class="form-control" type="password" name="confirm_password">
    </label>

    <input type="submit" value="Register">
  </form>
</div>
