<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
    </script>
  </head>
  <body>
    <form action="/users/new" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" required>
      <label for="display_name">Display name</label>
      <input type="text" name="display_name" required>
      <label for="email">Email address</label>
      <input type="text" name="email" required>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" required>
      <label for="conf_password">Confirm password</label>
      <input type="text" name="conf_password" oninput="check(this)" required>
      <input type="submit" value="Register">
    </form>
    <% if flash[:notice] %>
    <div class="notices">
      <h3><%= flash[:notice].first %></h3>
    </div>
    <% end %>
  </body>
</html>
