<h2>Welcome to Chitter</h2>
<h3>To register, please enter your details</h3>

<form method="post" action="/register">
  Full name: <input type="text" name="full_name" />
  Email: <input type="text" name="email" />
  Username: <input type="text" name="username" />
  Password: <input type="text" name="pass" />

  <input type="submit" value="Submit" />
</form>