<!DOCTYPE html>
<html>
<head>
  </<head>
  <body>
    <h2> New here? Register for an account </h2>
    <form id="register_form" action="/register" method="post">
      <input type="text" name="email" placeholder="Enter your email"/>
      <input type="text" name="name" placeholder="Enter your name"/>
      <input type="text" name="password" placeholder="Create a password"/>
      <input type="text" name="username" placeholder="Create a username"/>
      <input type="submit" value="Register"/>
      </form>
    </body>
    </html>
