<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="app">
    <form action='/register' method='POST'>
      <input type='text' name='username' value='username' onfocus="this.value=''">
      <input type='password' name='password' value='password' onfocus="this.value=''">
      <input type='submit' class="button" value="Sign up">
    </form>
  </div>
</body>