<html>
<head>
<title>Please give us your personal data</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="user_id" placeholder="Choose a user id">
        <input type="text" name="name" placeholder="What is your name?">
        <input type="text" name="email" placeholder="What is your email address?">
        <input type="password" name="password" placeholder="Choose a password"> 
        <input type="submit" value="Submit">
    </form>
</body>
</html>