<form action="/users/register" method="post">
  Name: <input type='text' name='name'>
  UserName: <input type='text' name='Username'>
  Email: <input type='text' name='email'>
  Password: <input type='text' name='password'>
  <input type='submit' id='Submit'>
</form>
