<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter Register</title>
</head>
<body>
  <nav>
    <div>
      <p><a href="/">Home</a></p>
      <p><a href="/peeps/new">Add Peep</a></p>
      <p><a href="/login/form">Log in</a></p>
      <p>Log out</p>
    </div>
    </div>
  </nav>
  <h1>Log in to Chitter</h1>
  <form method="POST" action="/register">
    <label for="name">Full name: </label>
    <input type="text" name="name" /><br><br>
    <label for="username">Username: </label>
    <input type="text" name="username" /><br><br>
    <label for="email">Email address: </label>
    <input type="text" name="email" /><br><br>
    <label for="password">Password: </label>
    <input type="text" name="password" /><br><br>
    <input type="submit" />
  </form>
</body>
</html>