<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h1>Join Chitter Chatter today!</h1>
    <!-- Add in somewhere about minimum charatcer length -->
    <form method="POST" action="/">
    <label>Enter your email:</label><input type="text" name="email_address"><br>
    <label>Enter a username:</label><input type="text" name="username"><br>
    <label>Enter a password:</label><input type="text" name="password"><br>
    <input type="submit">
    </form>
</body>
</html>