<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

  <h1 id="signUpHeader">Sign up for Chitter</h1>

  <form id="signUp" action="/sign_up" method="post">
    <label for="username">User Name:</label>
    <input id="textField" type="text" name="username" placeholder="username"/>
    <br></br>
    <label for="email">Email address:</label>
    <input id="textField" type="text" name="email" placeholder="email address"/>
    <br></br>
    <label for="password">Password:</label>
    <input id="textField" type="password" name="password" placeholder="password"/>
    <br></br>
    <input type="submit" value="Submit" />
  </form>

</body>
</html>
