Fill in details below
<form action='/registered' method='post'>
  User name<input name="name" type="text" placeholder="User name">
  Email<input name="email" type="text" placeholder="example@gmail.com">
  Password<input name="password" type="text" placeholder="password">
  <input type="submit" value="Sign up">
</form>
