<h3>Register Below</h3>
<form action="/register/new" method="post">
  Username:
  <input type="text" name="username">
  <br>
  Password:
  <input type="text" name="password">
  <br>
  E-Mail:
  <input type="text" name="email">
  <br>
  <input type="submit" name="Submit">
</form>