<h3> Create a new Chitter account! </h3>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="text" name="email" placeholder="email">
  <input type="submit" value="Register">
</form>
