<center><h1>Register</h1></center>
<form action="/register" method="post">
  <center><input type="text" name="username" placeholder='username' style="margin-top:0.5vh;height:25px;width:200px;font-size:10pt;text-align:justify;background-color:lightgrey;"/></center>
  <center><input type="text" name="name" placeholder='name' style="margin-top:0.5vh;height:25px;width:200px;font-size:10pt;text-align:justify;background-color:lightgrey;"/></center>
  <center><input type="email" name="email" placeholder='email' style="margin-top:0.5vh;height:25px;width:200px;font-size:10pt;text-align:justify;background-color:lightgrey;"/></center>
  <center><input type="password" name="password" placeholder='password' style="margin-top:0.5vh;height:25px;width:200px;font-size:10pt;text-align:justify;background-color:lightgrey;"/></center>
  <center><input type="submit" id='submit' value="Submit" /></center>
</form>

<style>
#submit {
  margin-top: 2vh;
  font-size: 24px;
  background-color: #f44336;
  cursor: pointer;
  text-align:center;
  width: 8em;
  border-color: rgba(255,255,255,1);
  border-radius:3em;
  border:0.16em solid rgba(255,255,255,0);
}

body {
background-color: #ffb31a;
}
</style>
<body>
</body>