<form method="post" action="/new_user">
  <label for="email">Email address:</label>
  <input type="email" name="email"/>

  <label for="real_name">Name:</label>
  <input type="text" name="real_name"/>

  <label for="username">Username:</label>
  <input type="text" name="username"/>

  <label for="password">Password:</label>
  <input type="text" name="password"/>

  <input type="submit" value="Register"/>
</form>
