<head>
  <link rel="stylesheet" href="skeleton.css">
  </head>
<center>
<form action='/users' method='post'>
<h3>Please enter your name</h3>
  <input type= 'text' name= 'name'>
<h3>Please enter your email</h3>
  <input type= 'text' name= 'email'>
<h3>Please enter a password</h3>
  <input type= 'password' name= 'password'><br><br>
<input type= 'submit' value = "Submit" class = "button" style="border:none">
</form>
</center>
