<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>
<body>

<h1>Register Here</h1>
<form action='/registering' method='post'>
  Username: <br>
  <input type="text" name="user_name" placeholder="user_name"><br>
  Password:<br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" name="submit" value="Submit">
</form>

</body>
</html>
