<h1>Please enter your details.<h1>

<form action="/home" method="post">
  <input type="text" name="name" placeholder="Peeping name"/>
  <input type="email" name="email" placeholder="Email address"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Submit"/>
</form>
