<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>
<h1>Welcome to Chitter</h1>
<form action="/user/new" method="post">
  <p>
  <input type="text" name="firstname" placeholder="enter your first name" /></p>
</p>
<p>
<input type="text" name="lastname" placeholder="enter your last name" /></p>
</p>
<p>
<input type="text" name="username" placeholder="enter your desired username" /></p>
</p>
<p>
<input type="text" name="password" placeholder="enter your password" /></p>
</p>
<p>
<input type="text" name="email" placeholder="enter your email address" /></p>
</p>
<p>

  <button type="submit" class="peep_only_btn" value="Register"><span class="icon"></span>Register</button>
</p>
  </form>

  </body>
</html>
