<form method="post" action="/new_user">
  <label for="email">Email address:</label>
  <input type="email" name="email"/>
  <br/>
  <label for="real_name">Full name:</label>
  <input type="text" name="real_name"/>
  <br/>
  <label for="username">Username:</label>
  <input type="text" name="username"/>
  <br/>
  <label for="password">Password:</label>
  <input type="text" name="password"/>
  <br/>
  <input type="submit" value="Register"/>
</form>
