<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form class="register" action="/register" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" value=""><br>
      <label for="name">Name: </label>
      <input type="text" name="name" value=""><br>
      <label for="email">Email: </label>
      <input type="text" name="email" value=""><br>
      <label for="password">Password: </label>
      <input type="text" name="password" value=""><br>
      <label for="pass2">Confirm password: </label>
      <input type="text" name="pass2" value=""><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
