<html>
  <head></head>
  <body>
  <div class='nav-bar'>
    <h2>Chitter Bot logo</h2>
    <h1>Posts</h1>
    <h1>Links</h1>
  </div>
  <div>
    <form action="/create_user" method="post">
     <input type="text" name="name" placeholder="name">
     <input type="text" name="username" placeholder="username">
     <input type="text" name="email" placeholder="email">
     <input type="text" name="password" placeholder="password">
     <input type="submit" value="Sign up">
    </form>
  </div>
  </body>
</html>
