<form action="/peep" method="post">

  E-mail:<br>
  <input type="email" name="e-mail"><br><br>

  Password:<br>
  <input type="password" name="password"><br><br>

  Name:<br>
  <input type="text" name="name"><br><br>

  User name:<br>
  <input type="text" name="username"><br>

  <input type="submit" value="Submit">

</form>
