<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body >
    <header class="header-bar">
      <h1 class="header">Chitter</h1>
    </header>
    <div class="content-wrapper">
      <h2 class="content-title">Create your account</h2>
    </div>
      <form class="registration-form" action="/new_user" method="post">
        <input class="form-field" type="text" name="first_name" placeholder="First Name">
        <input class="form-field" type="text" name="last_name" placeholder="Last Name">
        <input class="form-field" type="email" name="email" placeholder="Email">
        <input class="form-field" type="password" name="password" placeholder="Password">
        <input class="form-field" type="text" name="user_name" placeholder="User Name">
        <input class="submit-button" type="submit" name="add_user" value="Sign Up">
      </form>
  </body>
</html>
