<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

  <h1>Registration denied: @<%= @failure_reason %></h1>
  <p>
    <a href='/register'>Retry registration</a>
  </p>
  <body>
</html>



