
<head>
  <link rel="stylesheet" type="text/css" href="/index.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Josefin+Slab" rel="stylesheet">
</head>

<body>

<h1>Register</h1>

<form action="/users" method="post">
  <p><input type="text", name="name", placeholder="Enter your name" size="100"></p>
  <p><input type="text", name="username", placeholder="Set a username" size="100"></p>
  <p><input type="text", name="email", placeholder="Enter your email address" size="100"></p>
  <p><input type="text", name="password", placeholder="Set a password" size="100"></p>
  <p><input type ="submit" value="Register"></p>
</form>

</body>
