<style>
  h1 {
background-color: #5a6b8a;
color: #F4FAFF;
padding: 20px;
text-align: left;
-webkit-border-radius: 5px;
border-radius: 5px;
font: 30px arial, sans-serif;
margin-top: 0px;
margin-bottom: 0px;
}

input[type=submit] {
    padding:12px 12px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}

#home {

  background-color: #7aa19d;
  color: #F4FAFF;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: 30px arial, sans-serif;
}

</style>

<h1>Registration successful</h1>
<form id="home" action="/" method="get">
  <input type="submit" value="Home" />
</form>
