<form class="" action="Register" method="post">
  <label for="Username">Username</label>
  <input type="text" name="Username" value="">

  <label for="email">email</label>
  <input type="text" name="email" value="">

  <label for="fname">First Name</label>
  <input type="text" name="fname" value="">

  <label for="sname">Surname</label>
  <input type="text" name="sname" value="">

  <label for="Password">Password</label>
  <input type="text" name="password" value="">

  <input type="submit" name="" value="Register">

</form>
