<h1>Complete the Chitter signup form and start PEEPIN</h1>
<form action="/users" method="post">
<input type="username" name="username" placeholder="Username">
<input type="submit" value="Start Peeping">
</form>