<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

  <h1>Incorrect log in details</h1>

  <form id="home" action="/sessions/new" method="get">
    <input type="submit" value="Try again" />
  </form>

</body>
</html>
