<h1>Not a member? Good for you</h1>
<br>
<form action='/register' method='POST'>
  <input type='text' placeholder='username' name='username' required>
  <br>
  <input type='text' placeholder='name and surname' name='real_name' required>
  <br>
  <input type='text' placeholder='e-mail address' name='email' required>
  <br>
  <input type='password' placeholder='password' name='password' minlength= 8 required>
  <% if flash[:error] %>
    <p style='color:red'><%= flash[:error] %></p>
  <% end %>
  <br>
  <input type='submit' value='register'>
</form>
<a href='/'>Take me back</a>