Welcome to Chitter, for a limited time, registration is free!

<div class="register_user">
  <form class="registration" action="/user/create" method="post">

    <label for="email">Please enter your email address:</label>
    <input type="email" name="email" placeholder="Please enter your email"><br>
    <label for="username">Please enter a username you'd like be known by:</label>
    <input type="text" name="username" placeholder="This will need to be unique"><br>
    <label for="password">Please choose a password:</label>
    <input type="password" name="password" placeholder="Please choose a password"><br>
    <label for="submit">I agree to the Chitter terms and conditions.</label>
    <input type="submit" name="submit" value="Submit">
  </form>

</div>
