<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Chitter App</title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <h2>Please enter your details to register</h2>
    <form method="POST" action="/register">
    <div>
      <label>name: </label>
      <input type="text" name="name" />
      <label>username: </label>
      <input type="text" name="username" />
      <label>email: </label>
      <input type="text" name="email" />
      <label>password: </label>
      <input type="password" name="password" />
      <input type="submit" value="Register"/>
    </div>
    </form>
  </body>
</html>