<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ｃｈｉｔｔｅｒ　（なゅ温）</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="./styles/register.css">
  </head>
  <body>
    <header>
      <h1 class="logo">Chitter</h1>
    </header>
    <div class="registration-form">
    <form method='POST' action='/create-account'>
    <div class="field-row">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    </div>
    <div class="field-row">
    <label for="email">E-mail</label>
    <input id="email" name="email" type="text" />
    </div>
    <div class="field-row">
    <label for="password">Password</label>
    <input id="password" name="password" type="text" />
    </div>
    <button type="submit">Submit</button>
    </form>
    </div>
  </body>
</html>
