<html>
  <link rel="stylesheet" type="text/css" href="/style.css">
<head>

</head>

<body>

  <div name="sign_in_box">
    <form style="margin: 0 auto; width:25%;" action="/registered" method="post">
      <li><input type="text" name="Name" placeholder="Name"></li>
      <li><input type="email" name="Email" placeholder="Email"></li>
      <li><input type="text" name="Username" placeholder="Username"></li>
      <li><input type="password" name="Password" placeholder="Password"></li>
      <li><input type="password" name="Confirm_Password" placeholder="Confirm Password"></li>
      <li><input type="submit" value="Submit"></li>
    </form>
    <%= flash[:message] %>
  </div>


</body>
