<form action="/register" method="post">
  <input type="username" name="username" placeholder="Username"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Register" />
</form>