<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

  <body>
    <br>
    <a class="buttons" href='/peeps'>Home</a>
    <br>
    <h1>Sign up to Chitter</h1>
    <br>
    <div class='form_container'>
      <form action='/register/new' method="post">

        <label for='username'>Username</label>
        <input type='text' name='username'>

        <label for='email'>Email</label>
        <input type='text' name='email'>

        <label for='password'>Password</label>
        <input type='text' name='password'>

        <button type="submit">Register</button>
      </form>
    </div>

  </body>
</html>
