<html>
  <head><style>
.nav-bar {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

}
.nav-item {
  padding: 10px;
}
.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
  </head>
  <body>
  <div class="nav-bar">
    <nav-item>CHITTER-BOT</nav-item>
    <nav-item><h1><a href="/" style="
      text-decoration: none;
      color: black;
    ">Posts</a></h1></nav-item>
    <nav-item><a href="/login">Log in</a> <a href="/register">Register</a></nav-item>

  </div>
  <div>
    <form class="register" action="/create_user" method="post">
     <input type="text" name="name" placeholder="name">
     <input type="text" name="username" placeholder="username">
     <input type="text" name="email" placeholder="email">
     <input type="password" name="password" placeholder="password">
     <input type="submit" value="Sign up">
    </form>
  </div>
  </body>
</html>
