<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form method="post" action="/register">
      <input type="text" name='name' placeholder='Name'>
      <input type="Email" name='email' placeholder='Email'>
      <input type="Password" name='password' placeholder='Password'>
      <input type="Password" name='password_confirmation' placeholder='Confirm Password'>
      <input type="text" name='username' placeholder='Username'>
      <input type="submit" value='register'>
    </form>
  </body>
</html>
