Please enter your username and password
<form action="/register_new" method="post">
  <p>First Name:</p>
  <input type="text" placeholder="John" name="first_name"><br>
  <p>Surname:</p>
  <input type="text" placeholder="Smith" name="surname"><br>
  <p>Username:</p>
  <input type="text" placeholder="Username" name="username"><br>
  <p>Password:</p>
  <input type="text" placeholder="**********" name="password"><br>
  <input type="submit" value="Submit">
</form>
</div>
