Thanks for signing up <%=@user.name%>!
<br>
Please sign in with your new username and password to get started!
<form action="/sign_in" method="post"><br>
Username:    <input type="text" name="username"><br>
Password: <input type="text" name="password"><br>
<input type="submit" value="Sign In"><br>
</form>
