<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h3><%= @message.message %></h3>
    <h3>
      Posted by <a href="#"><%= @message.owner %></a>
    </h3>

  <form action="/<%= @message.id %>/reply/add" method="post">
    <input type="text" name="reply">
    <input type="submit" value="Reply">
  </form>

  </div>

  <% if @replies %>
    <% @replies.each do |reply| %>
      <p><%= reply %></p>
    <% end %>
  <% end%>
  
</body>
</html>