<h1> "WELCOME TO CHITTER" </h1>
<h2> 'Please Send a Peep' </h2>
<form method="post" action="/sendpeep">
  <!-- <input type="textbox" name="peep" placeholder="PEEP" /> -->
  <textarea rows="4" cols="50" name="peepcontent"></textarea>
  <p id="date"  </p>

  <input type="submit" value="Send Peep" />
</form>
<script> datesent = document.write(new Date().toLocaleDateString()); </script>
