<form action="/show_peeps" method="post">

  What've you got to say for yourself? 
  <br><br>
  <input type="text" name="peep_content" placeholder="Enter your peep">
  <br><br>
  <input type="submit" value="Tell the world">

</form>