<html>
<head>
  <title>Chitter!</title>
</head>
<body>

  <%= styled_flash %>
  <h1>Sign in</h1>

  <form action="/sessions" method="POST">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <input type="submit" value="Sign in">
  </form>

</body>
</html>
