<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="enter email">
  <input type="password" name="password" placeholder="enter password">
  <input type="submit" value="Sign In">
</form>
