<% flash.keys.each do |type| %>
 <div data-alert class="flash <%= type %> alert-box radius" style="color: red">
   <%= flash[type] %>
   <a href="/" class="close">&times;</a>
 </div>
<% end %>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="enter email">
  <input type="password" name="password" placeholder="enter password">
  <input type="submit" value="Sign In">
</form>
