<p> <%= flash[:notice] %> </p>

<form action="/sessions" method="post">
  <input type="email" name="email" />
  <br>
  <input type="password" name="password" />
  <br>
  <input type="submit" value="Sign in" />
</form>