<form action ="/sessions" method ="post">
  Please log in here with your username and password
  <label>
    Your User Name
    <input type = "text" name = "user_name"/>
  </label>
  <label>
    Password
    <input type = "text" name = "password"/>
  </label>
  <label>
  Submit
  <input type = "submit" value = "submit"/>
  </label>
</form>
