<html>
  <head></head>
  <body>
  <h1>Peeps:</h1>
  
    <% @sorted_peeps.each do |peep| %>
      <% @users.each do |user|%>
      <% if peep.user_id == user.id %>
        <p>
          <%= peep.contents %>
          <%= peep.time.to_s %>
          @<%= user.username %>
        <% end %>
        </p>
      <% end %>
    <% end %>
  </body>
</html>