<h2>$result['username']</h2>
<h1>List of all the peeps:</h1>
<ul>
  <% @peeps.each do |peep| %>
  <li class='peep' id='peep-<%= peep.id %>'>
  <%= peep.peep%>
  at
  <%= peep.time.strftime("%H:%M")%>
  </li>
  <% end%>
</ul>
