<center>
  <h3> Please sign in </h3>
  <form action='/' method=post>
    USERNAME: <input type="text" name="username">
    PASSWORD: <input type="password" name="password">
    <input type=submit value="Submit">
  </form>
</center>
