<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
    <style>
      body {font-family: 'Finger Paint', cursive; ;font-size: 30px; ;color: #FFFF}
    </style>
    <body style="background-color: #0B1057;">
    <div align="center">
  <h3>Sign up for Chitter</h3>
    <form action="/sign_up" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name">
      <label for="username">Username: </label>
      <input type="text" name="username">
      <label for="email">Email: </label>
      <input type="text" name="email">
      <label for="password">Password: </label>
      <input type="text" name="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
