<center>
<h1> Sign up to Chitter!</h1>

<form action="/peeps/signup" method="post">

<input type="text" name="name" placeholder="name">
<input type="text" name="username" placeholder="username">
<input type="text" name="password" placeholder="password">
<input type="submit" value="Submit">
</form>

</center>
