<h2> sign up! </h2>
<form action="/signed_up" method="post">
  <ul>
    <li>email  <input type="text" name="email"></li>
    <li>name  <input type="text" name="name"></li>
    <li>handle  <input type="text" name="handle"></li>
    <li>password  <input type="text" name="password"></li>
  </ul>
  <button type="submit" value="submit!">Sign up</button>
</form>
