<form action="/sign_up" method="post">
  <input type="text" name="email" value="email here">
  <input type="text" name="password" value="password here">
  <input type="submit" value="Sign Up">
</form>