<html>
    <head></head>
    <body>
      <h1>Sign up to Chitter!</h1>
        <form method="POST" action="/new_user">
        <div>
          <label>NAME</label>
          <input type="text" name="name" />
        </div>

        <div>
          <label>EMAIL</label>
          <input type="text" name="email" />
        </div>
        <div>
          <label>USERNAME</label>
          <input type="text" name="username" />
        </div>
        <div>
          <label>PASSWORD</label>
          <input type="password" name="password" />
        </div>
        <div>
          <input type="Submit" />
        </div>

        <div>
          <a href= "/"> Go back to Home Page </a>
        </div>

    </body>
</html>