<h1> Sign up here... </h1>
<form method='post' action='/signup'>

  <label for='name'>Name:</label>
  <input type='text' name='name' placeholder='Mr Nobody' required/>
  <br>
  <label for='username'>Username:</label>
  <input type='text' name='username' placeholder='404notfound' required/>
  <br>
  <label for='email'>Email:</label>
  <input type='email' name='email' placeholder='superfake@hotmail.com' required/>
  <br>
  <label for='password'>Password:</label>
  <input type='password' name='password' placeholder='password' required/>
  <br>
  <br>
  <input type='submit' name='submit' value='submit' />

</form>
