<link href='/css/application.css' rel='stylesheet' type='text/css'>
<h1 class='logo'>Chitter</h1>
<div class='login-form'>
<form action='/confirm' method='post'>
  Name:
  <input class="form-inputs" type='text' name='name'><br><br>
  Username:
  <input class="form-inputs" type='text' name='username'><br><br>
  Email:
  <input class="form-inputs" type='text' name='email'><br><br>
  Password:
  <input class="form-inputs" type='text' name='password'><br><br>
  <input class="form-inputs" type='submit' class='peep_button' value='Sign Up'><br><br>
</form>
</div>
