<h1> Please make a new account: </h1>
<br>
<form action = "/sign_up" method = "post">
  <label for="user_name">Enter your name:</label><br>
  <input type="text" name="user_name" ><br>
  <label for="password">Enter your password:</label><br>
  <input type="text" name="password"><br>
  <input type="submit" value="Create Account">
</form> 