<form action="/sign-up" method="post">
  <label for="email">Enter Email</label>
  <input name="email" id="email">
  <label for="username">Username</label>
  <input name="username" id="username">
  <label for="password">Password</label>
  <input name="password" id="password">
  <input type="submit" value="Submit">
</form>