<h1> <%= @error %> </h1>

<div>
  <form action="/signup" method="post">
    <label for="Name">Name:</label>
    <input type="text" name ="Name">
    <br>
    <label for="Username">Username:</label>
    <input type="text" name="Username">
    <br>
    <label for="Email">Email:</label>
    <input type="email" name="Email">
    <br>
    <label for="Password">Password:</label>
    <input type="password" name="Password">
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>
