<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<form action='/signup' method='post'>
  <label for='name'>
  <p> Name: <input type='text' name='name' /></p>
 </label>
 <label for='username'>
   <p>Username: <input type='text' name='username' /></p>
 </label>
 <label for='email'>
  <p> Email: <input type='text' name='email' /></p>
 </label>
 <label for='password'>
  <p> Password: <input type='password' name='password' /></p>
 </label>
 <label for='password_confirmation'>
  <p>Password: <input name='password_confirmation' type='password'></p>
</label>
 <input type="submit" value="Sign up!" style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
</form>
