<form id="signup_form" action="/signup" method="POST">
  <div class="form_row">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </div>
  <div class="form_row">
    <label for="email">Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div class="form_row">
    <label for="email">Username:</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form_row">
    <label for="email">Password:</label>
    <input type="text" id="password" name="password">
  </div>
  <input id="signup_submit" type="submit" name = "submit" value = "Submit" />
</form>