<form action="users/new" method="get">
  <input type="text" name="name">
  <input type="text" name="username">
  <input type="text" name="email">
  <input type="text" name="password">
  <input type="submit" value="Sign up">
</form>