<!DOCTYPE html>
<html>
<head>
<style> 

html {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  background-color: #6BCAF6;
  background-size: 50%;
  text-align: center;
  border-radius: 40px;
}

</style>
</head>
<body>
<br>
<h3> Ready to join the Chitter Family? </h3>
<br>
<form action="/add_user" method="post">
Enter your details:<br><br>
  <input type="username" name="username" placeholder= "Pick a Username" />
  <input type="name" name="name" placeholder= "Add full name" /> <br><br>
  <input type="email" name="email" placeholder= "Your email please" />
  <input type="password" name="password" placeholder= "Add a secure password"/><br><br>
  <input type="submit" value="Join Chitter" />
</form>

</body>

</html>