<h1>Welcome to Chitter</h1>
Sign Up:<br>
<form action="/new-user" method="post" >
  Email Address:
  <input type="text" name="email_address" ><br>
  User Name:
  <input type="text" name="user_name" ><br>
  Password:
  <input type="password" name="password" ><br>
  Name:
  <input type="text" name="real_name" ><br>
  <input type="submit" value="Sign Up" ><br>
</form>
