<head>
  <link rel="stylesheet" href="style.css">
  </head>
<body style="background-color:powderblue;">

<center>
<div class="home">
<h1 style="color:blue;">Happening now!</h1>
<h1 style="color:blue;">Join Chitter today</h1>
<br></br>
<img src="https://image.flaticon.com/icons/png/512/1409/1409937.png" alt="chick" width="200" height="200">
<br></br>
<br></br>

<form action="/users/new" method="get">
     <input type="submit" value="Sign Up" class = "button">
</form>
</div>


</center>