<head>
  <title>HTML Elements Reference</title>
</head>
<body>
<h1>Sign Up Page</h1>

<form action="/home" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Sign Up">
</form>