<style>
body {
  font-family: Helvetica Neue;
  background-color: #003459;
  color: #fff;
  overflow-x:hidden ;
}

header {
  width: 100%;

  padding: 8px 20px 8px 20px;
  background-color: #007EA7;
}

header h1 {
  padding-left: 20px;
  font-weight: 800px;
  font-size: 68px;
  color: #fff;
}

.buttons { 
  float: right;
}

section { 
  width: 80%;

  color: #fff;
  padding: 40px;
}

input[type=text] {
  padding: 8px;
  width:  360px;
}

input[type=submit] {
  padding: 8px;
}

a {
  display: block;
}

</style>


<header>
<h1> Chitter </h1>
</header>

<h2> Sign Up </h2>
<form action='/sign-up' method='post'>
  <label for='username'>Username</label>
  <input name='username' type='text' placeholder='choose a username'>
  <label for='firstname'>Firstname</label>
  <input name='firstname' type='text' placeholder='Firstname'>
  <label for='secondname'>Secondname</label>
  <input name='secondname' type='text' placeholder='Secondname'>
  <label for='email'>Email</label>
  <input name='email' type='text' placeholder='Email'>
  <input type='submit' value='Join'>
</form>
