<form class="" action="/user" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value="">
  <label for="password">Password</label>
  <input type="text" name="password" value="">
  <input type="submit" name="signup" value="Sign up!">
</form>
