<!doctype html>

<html lang='en'>
  <head>
     <link rel = "stylesheet" href = "/style.css" />
     <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
  </head>
  <body>
    <br>
    <br>
    <br>
    <h1>Chitter Sign Up</h1>
    <br>
    <form action="/users" method='post'>
      <label for="email">email:</label>
      <input type='text' name='email' placeholder="peeper@chitter.com" />
      <br>
      <label for="password">password:</label>
      <input type='password' name='password' placeholder="password123" />
      <br>
      <label for="name">name:</label>
      <input type='text' name='name' placeholder="Chit Peeper" />
      <br>
      <label for="username">username:</label>
      <input type='text' name='username' placeholder="ChitPeep4eva" />
      <br>
      <input type="submit" value='Join' class='join-submit-btn' />
    </form>
  </body>
</html>
