<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter</h1>
    <p>
      New users please sign up!
    </p>

    <form method="POST" action="/users">
    
    <div>
        <label> Username </label>
        <input type="text" name="username" />
    </div>

    <div>
        <label> Email </label>
        <input type="text" name="email" />
    </div>

    <input type="submit" />
</form>
  </body>
</html>