<html>
    <head></head>
    <body>
      <h1>Thank you for joining Chitter!</h1>
      <div>
        <a href="/<%= @user.username%>">You are now ready to submit your first peep!</a>
      </div>
    </body>
</html>