<head>
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>

<body>
  <div id='feed-border'>

    <div id='left-column'>
      <div id='links-s'>sign <a href='out'>out</a> <%= User.username %></div>
      <form id='peep-form' action='post_peep' method='post'></form>
      <textarea form='peep-form' name='content' rows='5' cols='30 ' maxlength='140' placeholder='what do you have to say?'></textarea>
      <button form='peep-form' type='submit' value='submit'>peep</button>
    </div>

    <div id='right-column'>
      <% @peeps.each do |peep| %>
        <div id='username'><%= peep.username %></div>
        <div id='content'><%= peep.content %></div>
        <div id='since'><%= peep.since %></div>
      <% end %>
    </div>

  </div>
</body>
