<html>
  <head> </head>
  <body>
    <h1>Chitter</h1>
    <form method="POST" action="/users">
    <label>Enter Name: </label>
    <input type="text" name="name" autocomplete="off"/><br />
    <label>Enter Email: </label>
    <input type="text" email="email" autocomplete="off"/><br />
    <label>Enter Username: </label>
    <input type="text" username="username" autocomplete="off"/><br />
    <label>Enter Password: </label>
    <input type="text" password="password" autocomplete="off"/><br />
    <br >
    <input type="submit" />
    </form>
  </body>
</html>