<form method="post" action="/signup">
  Name:
  <input type="text" name="name" placeholder="What's your name?" />
  <br>
  User name:
  <input type="text" name="username" placeholder="User name here please" />
  <br>
  Email:
  <input type="text" name="email" placeholder="Email!" />
  Password:
  <input type="text" name="password" placeholder="Super secret password?" />
  <br>
  <input type="submit" value="Submit" />
</form>
