<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  </head>
  <body>
    <header>
      <h1>cheeter</h1>
    </header>
    <h2> sign in:</h2>
  </body>
</html>
