<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/signin" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email">

      <label for="password">Password:</label>
      <input type="password" name="password">

      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
