<form action='/sign_up' method='post'>
  <label for='email' type='text'><p>Enter your email:</p></label>
  <input type='text' name='email' placeholder='example@gmail.com'>
  <label for='password' type='text'><p>Enter a password:</p></label>
  <input type='text' name='password' placeholder='password'>
  <label for='name' type='text'><p>Enter your name:</p></label>
  <input type='text' name='name' placeholder='Your name'>
  <label for='username' type='text'><p>Enter a username:</p></label>
  <input type='text' name='username' placeholder='Your username'>
  <p><input type='submit' value="Submit">
</form>
