<center><h1>Welcome to Chitters Signup Page!</h1></center>


<h4>Please Fill in Your Details</h4>
<form action='/check_info' method='post'>
  <div class='form-group'>
      <label for='Full Name'>Full Name</label>
        <input type='text' name='Full Name'>
      <br>
      <label for='Email'>Email</label>
        <input type='text' name='Email'>
      <br>
      <label for='Username'>Username</label>
        <input type='text' name='Username'>
      <br>
      <label for='Password'>Password</label>
        <input type='password' name='Password'>
      <br>
      <br>
      <input type='submit' value="Submit">
  </div>
</form>

    