<h2>Sign Up to Chitter</h2>
<form action='/sign_up/welcome' method='post'>
<input type='text' name='email' placeholder='email'>
<input type='text' name='password' placeholder='password'>
<input type='text' name='name' placeholder='name'>
<input type='text' name='username' placeholder='username'>
<input type='submit' value='Submit'>
</form>