<html>
    <head></head>
    <body>
      <h1>Join Chitter!</h1>
        <form method="POST" action="/signup">
        <div>
          <label>Name</label><br>
          <input type="text" id='name' name="name" /><br>
        </div>
        <div>
          <label>Username</label><br>
          <input type="text" id='username' name="username" /><br>
        </div>
        <div>
          <label>Email Address</label><br>
          <input type="email" id='email' name="email" /><br>
        </div>
        <div>
          <label>Password</label><br>
          <input type="password" id='password' name="password" /><br>
        </div>
        <div>
          <input type="submit" value="Submit" /><br>
    </body>
</html>