<div class = 'container text-center'>
  <img class="mb-4" src="\images\logo.png" alt="" width="144" height="144">
  <h1 class="h3 mb-3 font-weight-normal">Until next time, <%= @user.name %></h1>
  <p>You have signed out.</p>
  <a href = '/' class = 'btn btn-link' role = 'button'>Okay</a>
</div>
