<form action="/signup" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="password_confirmation" placeholder="Confirm password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Sign up</button>
</form>