<form action='/chitter' method='POST'>
<label for="name">Name:</label>
<input type="text" id="name" name="name" placeholder="John Doe"><br>

<label for="username">Userame:</label>
<input type="text" id="username" name="username" placeholder="John.D1"><br>

<label for="email">Email:</label>
<input type="text" id="email" name="email" placeholder="johndoe@anonymous.com"><br>

<label for="password">Password:</label>
<input type="password" id="password" name="password" placeholder="Johndoe"><br>

<button type="submit" id="signup" name="sign_up2" >Sign Up</button>
</form>