<!DOCTYPE html>
<html>
  <head>
    <h1>Sign in</h1>
  </head>

  <body>
    <form action="/signin/account" method="POST">
      <div>
        <label>Username</label><br />
        <input type="string" name="username"><br />
      </div>

      <div>
        <label>Password</label><br />
        <input type="string" name="password">
      </div>

      <div>
        <input type="submit" value="Sign in">
      </div>
    </form>
  </body>
</html>