<h1>c h i t t e r</h1>


<h2>l o g  i n</h2>
<form action='/log_in' method='post'>
  <input type='text' id='username' name='username' placeholder='username' />
  <input type='text' id='password' name='password' placeholder='password' />
  <input type='submit' id ='submit_1' value='Submit' />
</form>

<h2>s i g n  u p</h2>
<form action='/sign_up' method='post'>
  <input type='text' id='new_username' name='new_username' placeholder='choose username' />
  <input type='text' id='new_password' name='new_password' placeholder='choose password' />
  <input type='submit' id ='submit_2' value='Submit' />
</form>

<h2>v i e w  p e e p s</h2>
<form action='/chitter' method='get'>
  <input type='submit' id ='submit_3' value='Go' />
</form>
