<!DOCTYPE html>
<html>
<title>chitter: sign in</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
<h1>chitter: sign up</h1>
<div class="hot-container">
<form action="/sign_up" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="verify_password" placeholder="verify password">
  <p>
  <input class="btn" type="submit" value="submit">
</form>
</div>
</body>
</html>
