<html>
    <head></head>
    <body>
        <p>You have signed up to Chitter!</p>
        <p><%=@new_user.id%></p>
        <a href="/home/<%=@user_repo.all.last.id%>">Click this to go to submit some peeps!</a>
    </body>
</html>