<form action='/signup' method='post'>
  <input type='text' name='firstname'>
  <input type='text' name='surname'>
  <input type='email' name='email'>
  <input type='password' name='password'>
  <input type='submit' value='Sign up'>
</form>