<html>
  <body>
    <div class='log_in'>
      <form action='/users' method='post'>
      <br/>
        <label for='username'>User name:   
        <br/>
        <input type='text' name='username' />
        <br/>
        <label for='email'>Email adress:
        <br/>
        <input type='text' name='email' />
        <br/>
        <label for='password'>Password:    
        <br/>
        <input type='text' name='password' />
        <br/>
        <input type='submit' value='Sign up'>
      </form>
    </div>
  </body>
</html>