<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
    <link href='css/sign_in_style.css' type="text/css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div>
        <img src='http://www.clker.com/cliparts/j/g/h/H/3/M/cartoon-bird.svg'>
        <h1>Chitter</h1>
      </div>
    </header>

    <div class='content'>
      <div class='narrow-content'>
        <h1>Sign in to your account</h1>
        <h3><%=flash[:user_does_not_exist]%></h3>
        <h3><%=flash[:wrong_password]%></h3>

        <form action='/sign_in' method='post'>
          <div>
            <label for='username'>Username</label>
            <input type='text' name='username'>
          </div>
          <div>
            <label for='password'>Password</label>
            <input type='text' name='password'>
          </div>
          <div class='button'>
            <input type='submit' value='Sign in'>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
