<html>
  <head>
    <style>
      input {
        display: block;
        
      }

      div {
        margin: 10px;
      }

      header {
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Sign Up</h1>
      <div><%= @message unless @message.nil? %></div>
    </header>
    <div>
      <form method="POST" action="/signup">
        <div>
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Enter a name" required/>
        </div>

        <div>
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="Enter a username" required/>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Enter an email" required/>
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Enter a password" required/>
        </div>

        <div>
          <input type="submit">
        </div>
      
      </form>
      <a href="/"><button type="button" style="margin:10px;">Go back</button></a>
    </div>
  </body>
</html>