<html>

<head>
<style>
body {font-family: Verdana, sans-serif;}
body {background-color: lightsteelblue;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
</style>
</head>
 <center>

<body>
    <h1>Sign up successful! Please click here to write a new peep:</h1>
    <img src = "https://pbs.twimg.com/media/EqgxV5sU0AAfC7X.jpg" width = 250 length = 200><br><br>
        <form action="/peeps/new">
            <input type="submit" value="NEW PEEP" />
        </form>

            <h2>Or here to return to the homepage</h2>
        <form action="/">
            <input type="submit" value="HOME" />
        </form>

          <h2>Or here to see all Peeps</h2>
        <form action="/peeps">
            <input type="submit" value="PEEPS" />
        </form>



<form name="form1" method="post" action="/logout">
  <input name="submit2" type="submit" id="submit2" value="LOG OUT">
  </label>
</form>

</body>
 </center>

</html>