<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <p style="color:#E97979; font-size:30px;">
      Sorry, you are already signned in
    </p>
  </body>
</html>