<% if session[:signupfail] == false %>
     <p>Username or email currently in use, please try again:</p>
<% end %>

<form action="/signingup" method="post">
<h1> Change your life and sign up for Chitter </h1>
  <label>Username:</label>
  <input type="text" name="username"><br>
  <label>Name:</label>
  <input type="text" name="name"><br>
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Let's Go!">
</form>