<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <li>
    <h1>Chitter</h1>
    <div class='links'>
      <a href="/">Back to home</a>
    </div>
    <h2>Sign up complete for <%= @username %></h2>
  </body>
</html>