<html>
<head></head>
<body>
<h1> Sign up to Chitter </h1>

<form action="/sign_up" method="POST">
    <div>
    <label>Email: </label>
      <input type="text" name="email">
    </div>
    <div>
    <label>Password: </label>
      <input type="password" name="pass_word">
    </div>
    <div>
      <label>Username: </label>
      <input type="text" name="username">
    </div>
    <div>
      <label>Full Name: </label>
      <input type="text" name="full_name">
    </div>
      <form>
      <input type="submit" value="Submit the form">
    </form>
</body>
</html>