<h1> Chitter </h1>

<p> To sign up for Chitter simply enter your details below: </p>

<form action="/signup" method="post">
  <div class="form_input">
    <p>Email: <input type="text" name="email" placeholder="email" required> </p>
    <p>Name: <input type="text" name="name" placeholder="name" required> </p>
    <p>Username: <input type="text" name="username" placeholder="username" required> </p>
    <p>password: <input type="text" name="password" placeholder="password" minlength=8 required> </p>
    <input type="submit" name="Sign Up" value="Sign Up">
  </div>
</form>
