<title>sign in</title>
<h1>sign in to chitter</h1>

<form action="/sign-in" method="post">
  <input type="text" name="username" placeholder="username"></input>
  <input type="password" name="password" placeholder="password"></input>
  <input type="submit" value="sign in">
</form>
