<form action="/signup" method="POST">
    <div>
      <label>Email</label><br />
      <input type="text" name="email" />
    </div>

    <div>
      <label>Password:</label><br />
      <input type="text" name="password" />
    </div>

    <div>
      <label>Name:</label><br />
      <input type="text" name="name" />
    </div>

    <div>
      <label>Username:</label><br />
      <input type="text" name="username" />
    </div>

    <input type="submit">
</form>