<h2><center>Sign up below</center></h2>
<br>
<form action='/sign_up/new' method='post'>
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="realname" placeholder="first name" />
  <input type="text" name="lastname" placeholder="last name"/>
  <button type='submit' value='Submit'>Submit</button>
</form>