<h1>Sign up</h1>

<%= flash[:error] %>

<form action="/signup" method="post">
    <input class="signup"  type="text" name="username" placeholder="username" /> <br />
    <input class="signup" type="text" name="name" placeholder="name" /> <br />
    <input class="signup" type="email" name="email" placeholder="email" /> <br />
    <input class="signup" type="password" name="password" placeholder="password"/> <br />
    <input class="button" type="submit" value="Submit">
</form>
