<center><h2>Sign Up!</h2>

<form action="/sign_up" method="post">
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="username" placeholder="username"/>
  <input type="text" name="email" placeholder="email"/>
  <input type="text" name="password" placeholder="password"/><br><br>
  <input type="submit" value="Sign Up"/>
</form>

<style>
  input[type=submit] {
   box-sizing: border-box; width: 15%;
   font-family: 'Athiti';
   font-size: 25px;
   border: 0.3rem outset white;
   border-radius: 10px;
   background: #FFFFCC;
   outline-offset: 0.5rem;
 }
 input[type=text] {
  font-family: 'Athiti';
  font-size: 15px;
  border: 0.2rem outset white;
  border-radius: 5px;
  background: #FFFFCC;
  outline-offset: 0.5rem;
}
 </style>
</center>
