<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <form action="/sign-up" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="Email Address" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>