<p>Sign up for Chitter below</p>

<form action="/new_user" "method="get">
  <label for='name'>
    Your name:
    <input name='name' id='name' type='text'>
  </label>
  <label for='email'>
    Email:
    <input name='email' id='email' type='email'>
  </label>
  <label for='handle'>
    User name (handle):
    <input name='handle' id='handle' type='text'>
  </label>
  <label for='password'>
    Password:
    <input name='password' id='password' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
