<html>

  <head>
  </head>

  <body>
    <center>
        <h1>Enter your username:</h1>
        <form action="/sign-up" method="post">
          <input type="text" name="username">
          <input type="submit" value="Sign-up">
        </form>
        <p>
          <a href="/">Back to homepage</a>
        </p>
    </center>
  </body>

</html>
