<form action="/users/new" method="post">
  <input type="text" name="username" />
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Sign up" />
</form>
