<!DOCTYPE html>
<h1> Sign up to chitter!</h1>
<br>
  <form action="/sign_in" method="post">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="text" name="password" placeholder="Enter your password" minlength="5" required>
    <input type="submit" value="Sign in">
  </form>

</html>
