<header>
  <h1>Chitter</h1>
</header>

<h2> Are you sure you want to sign out? </h2>
<form action='/sign-out' method='post'>
  <input type='submit' value='Confirm'>
</form>
<form action='/'>
  <input type='submit' value='No stay signed in'>
</form> 