<html>
    <head>
    <link rel="stylesheet" type="text/css" href="style.css?version=1" />
    <link rel="shortcut icon" type="image/x-icon" href="lo.png?version=1">
    <title>Login</title>
    </head>
    <body>
      <h1>Thank you for joining Twitter!</h1>
      <div>
        <a href="/login"><%= @user.username%>, you can now login!</a>
      </div>
    </body>
</html>