<form action="/create_user">
  <h3>Name</h3>
  <input type="text" name="name">
  <h3>Username</h3>
  <input type="text" name="user">
  <h3>Email</h3>
  <input type="text" name="email">
  <h3>Password</h3>
  <input type="text" name="password">
  <input type="submit" value="Sign up">
</form>