<form action='/signup' method='post'>
  <input type='text' name='email' placeholder='Email'>
  <input type='text' name='username' placeholder='Username'>
  <input type='text' name='password' placeholder='Password'>
  <input type='text' name='name' placeholder='Full name'>
  <input type='submit' value='Create account'>
</form>