<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="signup">
      <h1 style="color:#2C3E50">Sign in</h1>
      <form action="/signin" method="POST">
        <label>Email: </label>
        <input type="email" name="email" placeholder="example@email.com">
        <br >
        <br >
        <label>Password: </label>
        <input type="password" name="password">
        <br >
        <br >
        <input type="submit" value="Sign in">
      </form>
    </div>
  </body>
</html>