<html>
  <head></head>
  <body>
    <h1>Sign up to Chitter</h1>
    <form method="POST" action="/signup">
    <p><label>Name: </label> <input type="text" name="name" required placeholder="Enter your full name"></p>
    <p><label>Username: </label> <input type="text" name="username" required placeholder="Enter a unique username"></p>
    <p><label>Email: </label> <input type="email" name="email" required placeholder="Enter a valid email address"></p>
    <p><label>Password: </label><input type="password" name="password" required placeholder="Enter a secure password"></p>
    <p><input type="submit" value="Sign up"/></p>
  </body>
</html>