<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter - Sign Up</title>
  </head>
  <body>
    <form action="/users" method="POST">
      <input type="email" name="email" placeholder="Enter your email">
      <input type="text" name="name" placeholder="Enter your name">
      <input type="text" name="handle" value="Enter your desired Chitter handle">
      <input type="password" name="password" value="Enter a password">
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
