<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">

  <h1>CHITTER</h1>

  <p>Sign up failed, you cannot leave any fields empty.</p>
  <p>Please <a href="/sign_up">try again</a>.</p>

</div>
