<div class="login-container">
    <h2>Sign up</h2>
    <form action="/signup" method="POST">
        <label for="/email">Email</label>
        <input class="input-text" type="text" name="email">
        <label for="/email">Password</label>
        <input class="input-text" type="password" name="password">
        <input class="input-submit" type="submit" value="Sign up">
    </form>
    <a class="link-login" href="/login">Already have an account? Log in here</a>
</div>