<form action = '/sign-up-complete' method = 'post'>
  <label for = 'author_name'>Enter your name (leave out any apostrophes!):</label>
  <input type = 'text' name = 'author_name'>
  <br>
  <label for = 'author_handle'>Choose a Chitter handle:</label>
  <input type = 'text' name = 'author_handle'>
  <br>
  <label for = 'email'>Enter your email:</label>
  <input type = 'text' name = 'email'>
  <br>
  <label for = 'password'>Choose a password:</label>
  <input type = 'text' name = 'password'>
  <br>
  <br>
  <input type = 'submit' value = 'Sign up!'>
</form>
