<header>
<h1> Chitter </h1>
</header>

<h2> Sign Up </h2>
<form action='/sign-up' method='post'>
  <label for='username'>Username</label>
  <input name='username' type='text' placeholder='choose a username'>
  <label for='firstname'>Firstname</label>
  <input name='firstname' type='text' placeholder='Firstname'>
  <label for='secondname'>Secondname</label>
  <input name='secondname' type='text' placeholder='Secondname'>
  <label for='email'>Email</label>
  <input name='email' type='text' placeholder='Email'>
  <input type='submit' value='Join'>
</form>
