<h3>Log in to Chitter</h3>
<form action='/signin' method='post'>
  <input type='text' name='username' placeholder='Username'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Sign in'>
</form>