<html>
  <head></head>
  <body>
    <h1>Sign up to Chitter</h1>
      <form action="/signup" method="POST">
        <div>
          <label>Name:</label><br />
          <input type="text" name="name" maxlength="30"><br /><br />
        </div>

        <div>
          <label>Email:</label><br />
          <input type="text" name="email" maxlength="30"><br /><br />
        </div>

        <div>
          <label>Password:</label><br />
          <input type="text" name="password" maxlength="8"><br /><br />
        </div>

        <div>
          <label>Username:</label><br />
          <input type="text" name="username" maxlength="12"><br /><br />
        </div>

        <input type="submit">
      </form>
  </body>
</html>