<form action="/user/new" method="POST" >
  <input name="name" minlength=3 type="text" >
  <input type=email name="email">
  <input minlength=6 type=password name="password">
  <input type=submit value="Create Account">
</form>