<form action='/confirm' method='post'>
  Name:
  <input type='text' name='name'><br><br>
  Username:
  <input type='text' name='username'><br><br>
  Email:
  <input type='text' name='email'><br><br>
  Password:
  <input type='text' name='password'><br><br>
  <input type='submit' value='Sign Up'><br><br>
</form>
