<!DOCTYPE html>
<html>
<head>
  <link href='/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <h2>Please enter the following details to complete registration</h2>
  <form action='/peep/register' method='POST'>
    <p>
      <label>Full Name</label>
      <input type='text' name='name'>
    </p>
    <p> 
      <label>User Name</label>
      <input type='text' name='user_name'>
    </p>
    <p> 
      <label>Email address</label>
      <input type='text' name='email'>
    </p>
    <p> 
      <label>Password</label>
      <input type='password' name='password'>
    </p>
    <p>
      <input type='submit' value='Submit'>
    </p>
  </form>
</body>
</html>

