<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">

  <h1>CHITTER</h1>

  <p>You have successfully signed up!</p>

  <a href="/login">Log In</a>
  <a href="/posts">Peep Board</a>

</div>
