<form action="/signup" method="post">
    display name:<input type="text" name="display_name">
    username: <input type="text" name="username">
    email:<input type="email" name="email">
    password:<input type="password" name="password">
    confirm password:<input type="password" name="confirm_password">
    <input type="submit" value="submit">
</form>