<html>
  <head>
    <title>Welcome to Chitter</title>

    <!-- Load the CSS file at path /style.css -->
    <link ref="stylesheet" href="/style.css" />
  </head>
  
  <body>
    <h3>Welcome to Chitter, please enter your details as described below:</h3>
    <form action="/signup" method="POST"><br>
      <label>Username:</label><br>
      <label class="signupdetails">(Please only use letters and numbers)</label><br>
      <input type="text" name="username" pattern="[A-Za-z0-9]+" maxlength="15" autocomplete='off' require><br><br>

      <label>Your first and last name:</label><br>
      <input type="text" name="name" pattern="[A-Za-z0-9\ ]+" maxlength="20" autocomplete='off' require><br><br>

      <label>Email address</label><br>
      <input type="email" name="email" maxlength="20" autocomplete='off' require><br><br>

      <label>Password </label><br>
      <label class="signupdetails">(minimum 8 characters, please include at least one special character from _!£$%)</label><br>
      <input type="password" name="password" maxlength="15" minlength="8" pattern="[A-Za-z0-9_!£$%]+" autocomplete='off' require><br><br>

      <input type="submit" value="Sign up!">
    </form>
  </body>


</html>