<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username">
  <p>
  <label for="email">Email:</label>
  <input type="email" name="email">
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </p>
  <input type="submit" value="Submit">
</form>
<br>

<form action="/" method="get">
  <input type="submit" value="Homepage">
</form>
