<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter Signup</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <h4>Sign up to Chitter</h4>
      <form action="/signup" method="POST">
        <label>Email address: </label>
        <input type="text" name="email_address" required>&nbsp
        <label>Password: </label>
        <input type="password" name="password" required>&nbsp
        <label>Full name: </label>
        <input type="text" name="name" required>&nbsp
        <label>Username: </label>
        <input type="text" name="username" required>&nbsp
        <input type="submit" value="Sign up">
      </form>
    </header>

    <p><a href="/">Return to homepage</a></p>
    <p><a href="/login">Log in</a></p>

    <footer>Chitter © 2022</footer>
  </body>
</html>