<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
  <form action="/user/new" method="post">
  <input type="text" name="username" placeholder="Username" required="required" class="signup_name">
  <input type="email" name="email" placeholder="Email" required="required" class="signup_email">
  <input type="password" name="password" placeholder="Password" required="required" class="signup_password">
  <input type="submit" value="Submit" class="signup_submmit">
  </form>
</body>
</html>