<form action="/sign_up" method="post">
  <input type="text" name="name" placeholder="Name" />
  <br>
  <input type="text" name="email" placeholder="E-Mail" />
  <br>
  <input type="text" name="username" placeholder="Username" />
  <br>
  <input type="text" name="password" placeholder="Password" />
  <br>
  <input type="submit" value="Sign Up To Chitter">
</form>
