<form action='/signup' method='post'>
  <input type='text' name='firstname' placeholder='First Name'>
  <input type='text' name='surname' placeholder='Last Name'>
  <input type='email' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Sign up'>
</form>