<h1> Welcome to Chitter! </h1>
<hr />
<h2> Please enter your details below to sign up: </h2>
<hr />
<br>
<form method="post" action="/chitter">
  Enter your username:
  <input type="text" name="username" placeholder="Username" />
  <br>
  <br>
  Enter your email address:
  <input type="text" name="email" placeholder="Email" />
  <br>
  <br>
  Finally, enter your password and hit sign up:
  <input type="text" name="password" placeholder="Password" />
  <br>
  <br>
  <input type="submit" value="Sign up!" />
</form>