<h1> Welcome to an original content website!!</h1>

<h3> Sign up to join our thriving community:</h3>
<form action="/" method="post">
  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Submit" />
</form>
