
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chitter</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <section>
    <h1>Sign in to enter Chitter</h1>
  </section>
  

    <form class="form" action="/posts" method="post"> 
      <input class="span" type="text" name="username" placeholder = "Enter Name"  required>
      <input class="span" type="password" name="password" placeholder = "Enter Password"  required>
      <input class="button" type="submit" value="Sign in">
      <input class="button" type="submit" value="New account" formaction="/" >
    </form>
  
  <footer>
 
  
</footer>
 
 
</body>
</html>