<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
      <h3>Sign up</h3>
      <form action="/signup/success" method="POST">
        <div>
          <label>Your name</label>
          <input type="text" name="name">
        </div>

        <div>
          <label>Your username</label>
          <input type="text" name="username">
        </div>

        <div>
          <label>Your email</label>
          <input type="text" name="email">
        </div>

        <div>
          <label>Your password</label>
          <input type="text" name="password">
        </div>
        

        <input type="submit" value="Submit">
      </form>


  </body>
</html>