<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<h1>Sign up in order to peep!</h1>

<form action ="/sign_up" method = "post">
  <br> First name:
  <br><input type ="text" name="first name">
  <br> Second name:
  <br><input type ="text" name="surname">
  <br> Email:
  <br><input type ="text" name="email">
  <br> Username:
  <br><input type ="text" name="username">
  <br> Password:
  <br><input type ="text" name="password">
  <br>
  <br><input type ="submit" name="sign me up!" value="sign me up!">
</form>
