<h1>Sign Up to Chitter</h1>
<form action='/newusers' method='post'>
Name: <input type='text' name='name'>
Email: <input type='text' name='email'>
Username: <input type='text' name='username'>
Password: <input type='text' name='password'>
<input type='submit' value= "Sign Up">
</form> 