<form action='/create_account' method='post'>
  <input type='Text' name='email' placeholder='email'>
  <input type='Text' name='password' placeholder='password'>
  <input type='Text' name='name' placeholder='name'>
  <input type='Text' name='username' placeholder='username'>
  <input type='submit' name='OK'>
</form>

