<!DOCTYPE html>
<html>
<title>chitter: sign in</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="../style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
<h1>chitter: sign in</h1>
<div class="peepbox">
<form action="/sign_in" method="post">
  <p><input type="text" name="email" placeholder="email" size="70"> <p>
  <input type="password" name="password" placeholder="password" size="70">
  <p>
  <input class="btn" type="submit" value="submit">
</form>
</div>
<%= flash[:notice] %>
</body>
</html>
