<html>
  <head><title>Chitter</title>
  <link href="/style.css" rel="stylesheet" /></head>
  <body>
    <h1>Create a new account</h1>
    <% if @alert %>
    <h2><%= @alert %></h2>
    <%end%>
      <div>
        <form action="/signup" method="POST">
          <div>
          <label>Username</label>
          <input type="text" name="username">
          </div>
          <div>
          <label>Password</label>
          <input type="text" name="password">
          </div>
          <div>
          <label>Name</label>
          <input type="text" name="name">
          </div>
          <div>
          <label>Email</label>
          <input type="text" name="email">
          </div>
          <input type="submit" value="Signup">
      </form>
    </div>
    </body>
</html>