<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter4.css">
</head>


<body>

<div class="bi-column-one">
</div>

<div class="bi-column-two">
  <div class="signup-login-container">
    <h1>You're all signed up!</h1>
      <form method="get" action="/post_chit">
        <input type="submit" name="go_to_post_chit" value="get chitting!"/>
      </form>
  </div>
</div>
</body>
