<h1> Please enter a username and password </h1>
</div>
  <form action="/signup" method="post">
    <label for="username">
      Username:
      <input type="text" name="username">
    </label>
    <label for="password">
      Password:
      <input type="text" name="password">
    </label>
    <input type="submit" value="Submit Details">
  </form>
