<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <div>Please register your details below</div>
    <div><form action="/signup" method="POST">
    <div>Username</div>
    <input type="text" name="username">
    <div>Password</div>
    <input type="text" name="password">
    <div>Email</div>
    <input type="text" name="email">
    <input type="submit" value="Signup">
  </body>
</html>
