<h1>Welcome to Chitter</h1>
Sign Up:<br>
<form action="/new-user" method="post" >
  Name:
  <input type="text" name="real_name" value=<%=@real_name%> ><br>
  User Name:
  <input type="text" name="user_name" value=<%=@user_name%> ><br>
  Email Address:
  <input type="text" name="email_address" value=<%=@email_address%> ><br>
  Password:
  <input type="password" name="password" ><br>
  Confirm Password:
  <input type="password" name="password_confirmation" ><br>
  <input type="submit" value="Sign Up" ><br>
</form>
<%= @flash_message %>
