<html>
  <body>
    <div>
      <h2>Sign up</h2>
    </div>
    <form action="/signup" method="POST">
      <label>Name</label>
      <input type="text" name="name">
      <label>Username</label>
      <input type="text" name="username">
      <label>Email</label>
      <input type="text" name="email">
      <label>Password</label>
      <input type="text" name="password">
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>