<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
<body>
  <h1>Welcome to Chitter! Please, create an account to peep</h1>

  <h2>Sign up</h2>
  <form method="POST" action="/login">
    Name: <input type="text" name="name" />
    Username: <input type="text" name="username" />
    Email: <input type="email" name="email" />
    Password: <input type="password" name="password" />
    

    <input type="submit" value="Submit" />
  </form>

</body>
</html>