<h4>Welcome to Chitter! Please enter the relevant information below:</h4>
<form method="POST" action="/accounts">
  <div>
    <label>Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label>Password</label>
    <input type="text" name="password">
  </div>

  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>

  <div>
    <label>Username</label>
    <input type="text" name="username">
  </div>

  <div>
    <label>Bio</label>
    <input type="text" name="bio">
  </div>

  <input type="submit" />
</form>

<h4>Still thinking about it? Please feel free to <a href='/home'>return home</a> for now</h4>