<h1> Sign Up for Chitter! </h1>

<% if flash[:notice] %>
  <div id='notice'><%= flash[:notice] %></div>
<% end %>

<form action="/register_user" method="post">
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  Password Confirmation: <input type='password' name='password_confirmation'>
  <input type="submit" value="Sign Up" id="">
</form>
