<form action="/registrations" method = "post">
  <input type="text" name="email" placeholder="enter your e-mail" />
  <input type="text" name="fullname" placeholder="enter your real name">
  <input type="text" name="password" placeholder="enter a password">
  <input type="submit" value="Sign Up" />
</form>