<!DOCTYpe html>
<html>
<head>
<title>Chitter</title>
</head>
<body>
    <form action="/sign_in" method="POST">
        <div class="sing_in">
            <label>Name : </label>
            <input type="text" name="name" /> 
            <label>Email : </label>
            <input type="email" name="email" /> 
            <label>Password : </label>
            <input type="password" name="password" />
        </div>
        <input type="submit" value="Sign Up !" />
    </form>

</body>
</html>