<html>
  <body>
    <form action='/users' method='post'>
      <label for='username'>User name:<input type='username' name='username' />
      <label for='email'>email adress:<input type='email' name='email' />
      <label for='password'>Password:<input type='password' name='password' />
      <input type='submit' value='Sign up'>
    </form>
  </body>
</html>