<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/chitter_style.css">
  </head>
  <form action="/signupresult" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    Forename: <input type="text" name="forename"><br>
    Surname: <input type="text" name="surname"><br>
    Email: <input type="text" name="email"><br>
    <input type="submit" value="Submit">
  </form>
</html>
