<form action="/create" method="post">
  <label for="username">
    Desired username (up to 20 characters):
    <input type="text" name="username">
  </label>
<br>
  <label for="password">
    Desired password (up to 20 characters):
    <input type="text" name="password">
  </label>
    <input type="submit" value="Submit">
  </form>
<br>
