<form action="/signup" method="post" id="signup_form">
  <div>
    <label for="Name">Name:</label>
    <input type="text" name="user[name]" id="Name" required>
    </div>
    <div>
    <label for="Username">Username:</label>
    <input type="text" name="user[user_name]" id="Username" required>
    </div>
    <div>
      <label for="Password">Password:</label>
    <input type="text" name="user[password]" id="Password" required>
    </div>
    <div>
      <label for="Email">Email:</label>
    <input type="text" name="user[email]" id="Email" required>
    </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>


  ...
