<html>

<head></head>

<body>
    <h1>Welcome to Chitter!</h1>
    <h2>Please Sign-up below</h2>

    <form action="/signup" method="POST">
        <input type="text" name="email" placeholder="Email Address">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="name" placeholder="Full Name">
        <input type="text" name="username" placeholder="Username">
        <input type="submit" value="Create Account">
    </form>

</body>

</html>