<form action="/sign_up_post" method="post">
  <fieldset>
    <legend> Please enter your details </legend>
    Enter your name
    <input type="text" name="name">
    Enter your username
    <input type="text" name="username">
    Enter your email address
    <input type="text" name="email">
    Enter your password
    <input type="password" name="password">
    <input type="submit" value="Sign Up" >
  </fieldset>
</form>
