<form>
<label for="username">username</label>
<input type='text' name='username'>
<label for="password">password</label>
<input type='text' name='password'>
<input type="submit" value="log in">
</form>