<form action="/add-user" method="post">
  name <input type="text" name="name" /> </br>
  email <input type="email" name="email" /></br>
  username <input type="text" name="username" /></br>
  password <input type="password" name="password" /></br>
  <input type="submit" value="Submit" />
</form>
