<link rel="stylesheet" href="/css/style_sheet.css" type="text/css" />
<html>
<head>
  <style>
    body {
      background-color: #202e3e;
    }
    </style>
    </head>
    <body>
    <div class="login_bg">
      <img src="/images/signup_bg.png">
    <div class="loginform">
      <form action="/signup/success" method="get">
        <label for ="first_name">
          First Name
          <div class="textbox">
        <input type="text" name="firstname">
        </div>
        <label for ="username">
          Username
          <div class="textbox">
        <input type="text" name="username">
        </div>
        </label>
        <label for ="password">
          Password
          <div class="textbox">
        <input type="password" name="password">
        </div>
        <label for ="Display Picture">
          Display Picture
          <div class="textbox">
        <input type="text" name="display_pic">
        </div>
        <label for ="Display Picture">
          Email Address
          <div class="textbox">
        <input type="text" name="email">
        </div>
        </label><br><br>
        <input type="submit" value="Submit">
      </form>
      </div>
      </div>
    </body>
    </html>
