<html>
   <head>
      <title>You're signed up to Chitter!</title>
      <meta http-equiv = "refresh" content = "3; url = /" />
   </head>
   <body>
      <p>You're signed up to Chitter!</p>
   </body>
</html>