<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Sign in!</h1>
    <form action="/signup" method="post">
      <input type="text" name="username">
      <input type="email" name="email">
      <input type="password" name="password">
      <input type="submit" name="signup" value="Sign me up!">
    </form>
  <h2> <%= flash[:error_signup] %></h2>
  </body>
</html>
