<h1>Sign Up!</h1>

:username, :name, :email

<form action="/" method="post">
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="username" placeholder="username"/>
  <input type="text" name="email" placeholder="email"/>
  <input type="text" name="password" placeholder="password"/>
  <input type="submit" value="Sign Up"/>
</form>
