<% if error_message %>
  <p><%= error_message %></p>
<% end %>
<form class="signup-form" action="/signup" method="POST">
    <h2>Sign up</h2>
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign up</button>
</form>
