<h1> Please Register your details below </h1>

<form action="/sign_up_confirmation" method="post">
  Name:           <input type="text" name="name">
  Username:       <input type="text" name="username">
  Email Address:  <input type="email" name="email">
  Password:       <input type="password" name="password">
                  <input type="submit" value="Register">
</form>
