<html>
  <head></head>
  <body>
    <h1>Sign-Up</h1>

  <form action="/sign_up" method="POST">
    <p><label>Name:</label>
    <input type="text" name="name" />

    <p><label>Username:</label>
    <input type="text" name="username" />

    <p><label>E-mail:</label>
    <input type="text" name="email" />

    <p><label>Password:</label>
    <input type="text" name="password" />

    <p><input type="submit" value="Enter">
  </form>

  </body>
</html>
