<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/signup.css">
  </head>
  <body class="login-page-bg">
    <div class="login-form-container">
      <a href="/">
        <img src="images/logo.png" height="60px" width="60px" alt="User Icon" style="margin-bottom: 1rem">
      </a>
      <h1 style="margin-bottom: 2rem">Register an account</h1>
      <form action="/signup" method="post" class="form-wrapper">
        <input type="email" name="email" id="email" placeholder="Email" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password" />
        <input type="text" name="name" id="name" placeholder="Full name" />
        <input type="text" name="username" id="username" placeholder="Username" />
        <% if flash.has?(:message) %>
          <div class="message-container error-msg">
            <%= flash[:message].gsub(/\n/, '<br>') %>
          </div>
          <br>
        <% end %>
        <div class="btn-wrapper">
          <button class="blue-button btn-adjusted btn" type="submit">Register</button>
          <a href="/login">
            <div class="blue-outline-button btn">Cancel</div>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
