<h1> "WELCOME TO CHITTER" </h1>
<h2> 'Please Sign Up to Begin!' </h2>
<form method="post" action="/">
  <input type="text" name="username" placeholder="USERNAME" />
  <input type="password" name="password" placeholder="PASSWORD" />
  <input type="submit" value="Submit" />
</form>
