<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id = 'signup'>
<form action='/confirm' method='post'>
  Name:
  <input type='text' name='name'><br><br>
  Username:
  <input type='text' name='username'><br><br>
  Email:
  <input type='text' name='email'><br><br>
  Password:
  <input type='text' name='password'><br><br>
  <input type='submit' class='peep_button' value='Sign Up'><br><br>
</form>
</div>
