<body style="background-color:honeydew;">
  
  <header>
  <h3 style="
  font-family:verdana"> Sign Up and write your own peep below and see it on the feed. </h3>
  <h4 style="
  font-family:verdana"> There is a 100 character limit however :) </h4>
  </header>

  <form action="/user" method="post">
  
    Enter your name
    <input type="text" name="user_name">
  
 
    Enter your first peep
    <input type="text" name="peep">
  
   <input type=submit value="Submit">
  </form>


  <p>
    <form action="/">
      <input type=submit value="Return to Homepage">
    </form>
  <p>
</body>
