<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Sign Up</title>
  
</head>
<nav>
  <div class="nav-wrapper navigation">
    <a href="/" class="brand-logo">Chitter</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/sign-up">Sign Up</a></li>
      <li><a href="/log-in">Log In</a></li>
    </ul>
  </div>
</nav>

<body >
  <h1 style="text-align:center;"> Sign Up</h1>
  <div class="container">
    <form class="col s12" style="text-align:center;">
    <div class="input-field col s12">
          <i class="material-icons prefix">fingerprint</i>
          <input id="username" type="text" required class="validate">
          <label for="username">Username</label>
        </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="text" required class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" required class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" required class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" required class="validate">
          <label for="password">Password</label>
        </div>
        <input type="submit" value="Sign Up" class="waves-effect waves-light btn">
        </form>
  </div>
</body>
</html>