<html>
    <head></head>
    <body>
        <form method="POST" action="/new_user">

        <label>NAME</label>
        <input type="text" name="name" />

        <label>EMAIL</label>
        <input type="text" name="email" />

        <label>USERNAME</label>
        <input type="text" name="username" />

        <label>PASSWORD</label>
        <input type="text" name="password" />

        <input type="Submit" />
    </body>
</html>