<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Sign in to Chitter</h1>
  <form action="/new-user" method="post">
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="Email" placeholder="me@example.com">
    <input type="text" name="Password" placeholder="Password">
    <input type="submit" value="log in">
  </form>
</body>
</html>