<h2>Create a Chitter Account</h2>

<form action="/signup" method="POST">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Name" required>

  <label>Email Address:</label>
  <input type="email" name="email" placeholder="Email Address" required>

  <label>Username:</label>
  <input type="text" name="username" placeholder="username" title="this will be displayed when you post a peep" required>

  <label>Password:</label>
  <input type="password" name="password" placeholder="Password" required> 

  <button type="submit">Sign Up</button>
</form>