<!DOCTYPE html>
<html>
<title>chitter: sign up</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> -->
<link rel="stylesheet" href="../style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
<h1>chitter: sign up</h1>
<div class="peepbox">
<form action="/sign_up" method="post">
  <p><input type="text" name="name" placeholder="name" size="34">
  <input type="text" name="handle" placeholder="handle/username" size="34"><p>
  <input type="text" name="email" placeholder="email" size="71"><p>
  <input type="password" name="password" placeholder="password" size="34">
  <input type="password" name="verify_password" placeholder="verify password" size="34"><p>
    choose your look:<p>
  <input type="radio" id="av1" class="input-hidden" name="avatar" value="egg.png" checked/>
    <label for="av1">
    <img src="egg.png" height="70", width="70"></label>
  <input type="radio" id="av2" class="input-hidden" name="avatar" value="8biticon(2).jpg"/>
    <label for="av2">
    <img src="8biticon(2).jpg" height="70"></label>
  <input type="radio" id="av3" class="input-hidden" name="avatar" value="8biticon(3).jpg"/>
    <label for="av3">
    <img src="8biticon(3).jpg" height="70"></label>
  <input type="radio" id="av4" class="input-hidden" name="avatar" value="8biticon(4).jpg"/>
    <label for="av4">
    <img src="8biticon(4).jpg" height="70"></label>
  <input type="radio" id="av5" class="input-hidden" name="avatar" value="8biticon(5).jpg"/>
    <label for="av5">
    <img src="8biticon(5).jpg" height="70"></label><br>
  <input type="radio" id="av6" class="input-hidden" name="avatar" value="8biticon(6).jpg"/>
    <label for="av6">
    <img src="8biticon(6).jpg" height="70"></label>
  <input type="radio" id="av7" class="input-hidden" name="avatar" value="8biticon(7).jpg"/>
    <label for="av7">
    <img src="8biticon(7).jpg" height="70"></label>
    <input type="radio" id="av8" class="input-hidden" name="avatar" value="8biticon(8).jpg"/>
    <label for="av8">
    <img src="8biticon(8).jpg" height="70"></label>
  <input type="radio" id="av9" class="input-hidden" name="avatar" value="8biticon(9).jpg"/>
    <label for="av9">
    <img src="8biticon(9).jpg" height="70"></label>
  <input type="radio" id="av10" class="input-hidden" name="avatar" value="8biticon(10).jpg"/>
    <label for="av10">
    <img src="8biticon(10).jpg" height="70"></label><br>
  <input type="radio" id="av11" class="input-hidden" name="avatar" value="8biticon(11).jpg"/>
    <label for="av11">
    <img src="8biticon(11).jpg" height="70"></label>
  <input type="radio" id="av12" class="input-hidden" name="avatar" value="8biticon(12).jpg"/>
    <label for="av12">
    <img src="8biticon(12).jpg" height="70"></label>
  <input type="radio" id="av13" class="input-hidden" name="avatar" value="8biticon(13).jpg"/>
    <label for="av13">
    <img src="8biticon(13).jpg" height="70"></label>
  <input type="radio" id="av14" class="input-hidden" name="avatar" value="8biticon(14).jpg"/>
    <label for="av14">
    <img src="8biticon(14).jpg" height="70"></label>
  <input type="radio" id="av15" class="input-hidden" name="avatar" value="8biticon(15).jpg"/>
    <label for="av15">
    <img src="8biticon(15).jpg" height="70"></label><br>
  <input type="radio" id="av16" class="input-hidden" name="avatar" value="8biticon(16).jpg"/>
    <label for="av16">
    <img src="8biticon(16).jpg" height="70"></label>
  <input type="radio" id="av17" class="input-hidden" name="avatar" value="8biticon(17).jpg"/>
    <label for="av17">
    <img src="8biticon(17).jpg" height="70"></label>
  <input type="radio" id="av18" class="input-hidden" name="avatar" value="8biticon(18).jpg"/>
    <label for="av18">
    <img src="8biticon(18).jpg" height="70"></label>
  <input type="radio" id="av19" class="input-hidden" name="avatar" value="8biticon(19).jpg"/>
    <label for="av19">
    <img src="8biticon(19).jpg" height="70"></label>
  <input type="radio" id="av20" class="input-hidden" name="avatar" value="8biticon(20).jpg"/>
    <label for="av20">
    <img src="8biticon(20).jpg" height="70"></label>
  <p>
  <input class="btn" type="submit" value="submit">
      </form>
</div>
<%= flash[:notice] %>
</body>
</html>
