<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Chitter</title>
      <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="row">
      <h1> Chitter </h1>
    </div>
    <div class="container">
      <div class="sign-up-box">
        <form action="/user/new" method="post">
          <input type="input" name="username" placeholder="type username here"><br>
          <input type="submit" value="Sign up">
        </form>
      </div>
    </div>
  </body>

</html>
