

<form action='/users/new' method='post'>
  <label for="email">
  <input type='text' name='email' placeholder="email">
  </label>
  <label for="username">
  <input type='text' name='username' placeholder="username">
  </label>
  <label for="name">
  <input type='text' name='name' placeholder="name">
  </label>
  <label for="password">
  <input type='password' name='password' placeholder="password">
  </label>
  <!-- <label for="peep">
  <input type='text' name='peep' placeholder="my first peep">
  </label> -->
  <input type='submit' value='Sign Up'>
</form>
