<html>
  <head></head>

  <body>
    <h1>Sign up to Chitter</h1>

    <form action="/signup" method="POST">
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
      </div>

      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>

      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
      </div>

      <div>
        <input type="submit" name="Submit" />
      </div>
    </form>

    <div>
      <a href="/peeps">Return to peeps</a>
    <div>
  </body>
</html>