<form action='/peeps/user' method='post'>
  <label for="email">
  <input type='text' name='email' placeholder="email">
  </label>
  <label for="username">
  <input type='text' name='username' placeholder="username">
  </label>
  <label for="name">
  <input type='text' name='name' placeholder="name">
  </label>
  <label for="password">
  <input type='text' name='password' placeholder="password">
  </label>
  <input type='submit' value='Sign Up'>
</form>
