<html>
  <head>
    <title>Welcome to Chitter</title>

    <!-- Load the CSS file at path /style.css -->
    <link ref="stylesheet" href="/style.css" />
  </head>
  <p>Congratulations on your successful account creation, welcome to Chitter!</p>
  <p>Please return to the <a href='/'>login page</a> to log in and access our stream of peeps.</p>
</html>