<h1> Congratulations <%= @user.name %>, you have signed up. </h1>

<form action="/user/:id" method="get">
  <input type="submit" value="Sign in">
</form>

<form action="/cheets" method="get">
  <input type="submit" value="Return to homepage">
</form>
