<h1> Sign up for chitter! </h1>
<form method='post' action='/signup'>

  <label for='name'>Name:</label>
  <input type='text' name='name' placeholder='Name' required/>
  <br>
  <label for='username'>Username:</label>
  <input type='text' name='username' placeholder='Username' required/>
  <br>
  <label for='email'>Email:</label>
  <input type='email' name='email' placeholder='Email' required/>
  <br>
  <label for='password'>Password:</label>
  <input type='password' name='password' placeholder='Password' required/>
  <br>
  <br>
  <input type='submit' name='submit' value='submit' />

</form>