<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Sign up</title>
    </head>
    <body>
        <h1>Sign up</h1>
        <form action="/signup" method="POST">
            <label>Full name:</label>
            <input type="text" name="name">
            <label>Username:</label>
            <input type="text" name="username">
            <label>Email address:</label>
            <input type="text" name="email">
            <label>Password:</label>
            <input type="text" name="password">

            <input type="submit" value="Submit the form">
        </form>
    </body>
</html>
