<h1> Welcome to Chitter! </h1>
<h2> Please sign up below </h1>

  <form action="/welcome" method="post">
    <label for="name">Insert Name</label>
    <input type="text" name="name">
    <label for="username">Insert Username</label>
    <input type="text" name="username">
    <label for="email">Insert Email</label>
    <input type="text" name="email">
    <label for="password">Insert Password</label>
    <input type="text" name="password">
    <input type="submit" name="signup" value="Signup">
  </form>


  <form action="/login" method="post">
    <input type="submit" name="login" value="Login">
  </form>
