<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chitter - Sign Up</title>

  <!-- Change these Google fonts with your own choice -->
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<!-- Sign up section -->

  <div class="container">
    <h2>Sign up to Chitter!</h2>
    <div class="form">
    <form action="/signup" method="POST">
        <div>
        <label>enter your name:</label>
        <input type="text" name="name">
        </div>
        <div>
        <label>enter your email address:</label>
        <input type="text" name="email">
        </div>
        <div>
        <label>choose a username:</label>
        <input type="text" name="username">
        </div>
        <div>
        <label>enter a password:</label>
        <input type="text" name="password">
        </div>

        <input type="submit" value="sign me up!">
    </form>
    </div>

  </div>
 

  <!-- Footer section -->

  <div class="footer">
  <div>
    <a href='/'>Homepage</a>
  </div>
    <p>Website made by Jack Skates</p>
  </div>


</body>

</html>