<style>
  body {
    color: purple
  }
</style>

<h1 style='font-family:Trebuchet MS;font-size:72'> Chitter™ <h1>
<h2 style='font-family:Trebuchet MS;font-size:48'>Sign up!</h2>
<% if flash[:errors] %>
  <tag> Couldn't sign up! - What went wrong; </tag> <br>
  <ul>
    <% flash[:errors].each { |error| %>
      <li style='color:red'> <%= error %> <br> </li>
    <% } %>
  </ul>
<% end %>
<form action='signed_up' method="post">
  <p>Username</p>
  <input type='text' name='user_name' placeholder='e.g Falco'>
  <p>Email</p>
  <input type='text' name='email' placeholder='e.g falco@hotmail.com'>
  <p>Password <tag style='color:grey'> (contain at least 8 characters) </tag> </p>
  <input type='password' name='password' placeholder="e.g Ir0nT0rR">
  <p>Confirm Password</p>
  <input type='password' name='confirm_password' placeholder="Ir0nT0rR">
  <br> <br>
  <input type='submit' value='Sign up!'>
</form>
