<h1>Welcome to Chitter!</h1>
<h3>Please sign in below to be able to view current Peeps and to post your own.</h3>

<form method="post" action="/check-details">
  User Name: <input type="text" name="txt_user_name"/><br>
  Password: <input type='password' name='txt_password'/><br><br>
  <input type="submit" value="Sign In"/>
</form>