<form method="post" action="/chitter">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="email" placeholder="Email Address" />
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
