<html>
    <head></head>
    <body>
    <h1>Join Chitter!</h1>
      <div>
        <h3>The email or username you have entered already exists</h3>
         <a href="/signup">Try a different email or username</a><br>
        <a href="/login">Or please try logging in!</a>
      </div>
    </body>
</html>