<h1> WELCOME TO CHITTER <h1>

<form action='/bookmarks' method='post'>
  <input type='text' name='username' value='Please enter your username:'/>
  <input type='text' name='password' value='Please enter your password:'/>
  <input type='submit' value='Submit' />

</form>
