<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <h1>Sign Up</h1>
        <form action="/sign-up" method="POST">
            <label>Email: </label>
            <input type="text" name="email">
            <label>Password: </label>
            <input type="text" name="password">
            <label>Name: </label>
            <input type="text" name="name">
            <label>Username: </label>
            <input type="text" name="username">
            <input type="submit">
        </form>
    </body>
</html>