<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up to Chitter!</title>
</head>
<body>
<h1>Sign Up Here!</h1>
<br>
<form action="/users" method="post">
Username: <br>
<input type="text" name="username"" required><br>
Email: <br>
<input type="email" name="email" required><br>
Password: <br>
<input type="password" name="password" required><br>
<input type="submit" value="Submit">
</form>
  
</body>
</html>