<h1>Signup and get started!!</h1>

<form action='/signup' method='post'>
  <label for="email">Email</label>
  <input id="email" type='email' placeholder='email' name='email' required>
  <label for="password">Password</label>
  <input id="password" type='password' placeholder='password' name='password' required>
  <label for="username">Username</label>
  <input id="username" type='text' placeholder='username' name='username' required>
  <label for="name">Name</label>
  <input id="name" type='text' placeholder='name' name='name'>
  <input type='submit' value='signup'>
</form>