<form action="/sign_up/new_user" method="post">
  <label for="user">Username:</label>
  <input type="text" name="user">
  <label for="email">Email:</label>
  <input type="text" name="email">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit" name="register" value="Register">
</form>
