<form action="/signup" method = "post">
  Email: <input type="text" name="email">
  Name: <input type="text" name="name">
  Password: <input type="text" name="pass">
  <input type="submit" value="Submit Details">
</form>
