<html>
  <body>
    <h2> Sign up for Chitter here! </h2>
    <p></p>
    <form method="POST" action="/signup">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Email:</label>
    <input type="text" name="email">
    <label>Password:</label>
    <input type="text" name="password">
    <input type="submit" value="Sign me up!">
  </body>
</html>    