
<!DOCTYPE html>
<html>
<head>
<title>Creative Colorlib SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<head>
#   <%#link href="/styles.css" rel="stylesheet" type="text/css">
#   <%link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
# </head>  %>

</head>

<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Chitter SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/user/add" method="post">
					<input class="text" type="text" name="username" placeholder="Username" required="">
          <input class="text" type="text" name="name" placeholder="Name" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
					<div class="wthree-text">
						<label class="anim">
						
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
			</div>
		</div>
		<!-- copyright -->
	
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>