<html>
  <head></head>
  <body>
    <h1>Chitter: Signup success!</h1>
    <p>User: <%= @email %> created</p>
    <div>
      <a href="/">Click here to return to home screen</a>
    </div>
  </body>
</html>
