<html>
  <head>
    <title>
      Sign In
    </title>
  </head>

  <body>
    <p>Enter your personal information, we won't sell it, promise.</p>
    <form action="/setuser" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name">
      <label for="username">Username:</label>
      <input type="text" name="username">
      <label for="password">Password:</label>
      <input type="text" name="password">
      <input type="submit" value="Start Peeping">
    </form>
  </body>
</html>
