<h1>Sign Up here!</h1>
<form action="/signup" method="post">
  Email
  <input type="text" name="email">
  Password
  <input type="text" name="password">
  Username
  <input type="text" name="username">
  Name
  <input type="text" name="name">
  <input type="submit" value ="Submit">
</form>
<ul>