<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">

  <h1>CHITTER</h1>

  <p>Sign up failed, this username has already been used.</p>
  <p>Please <a href="/sign_up">try again</a> with a different username.</p>
  <p>Or <a href="/login">log in</a>.</p>

</div>
