<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Chitter</h1>
    <form method="POST" action="/users">
    <label>Enter Name: </label>
    <input type="text" name="name" /><br />
    <label>Enter Email: </label>
    <input type="text" name="email" /><br />
    <label>Enter Username: </label>
    <input type="text" name="username" /><br />
    <label>Enter Password: </label>
    <input type="text" name="password" /><br />
    <br >
    <input type="submit" />
    </form>
    <a href="/">Return to homepage</a>
  </body>
</html>