<html>
<head>
  <title>Chitter. - Sign up.</title>
  <link rel="icon" href="https://png2.kisspng.com/sh/bb1ad61a87af7b6e62ed85b7e6798d74/L0KzQYm3U8E4N6RsfZH0aYP2gLBuTfZzbZYyett7ZD3pgrbsTfNwdqVqhuY2Y3zsgH7okwQubqNqfZ98dneweb7ohBV0NWZmedY7M0O3RYG6g8gyNmg9SasCMUe3QYa5UcI6PmI9SKU7OEexgLBu/kisspng-free-bird-free-content-clip-art-free-svg-images-5aad2334503c81.7819717415212961803287.png">

	<script type="text/javascript" src="scripts.js">
	</script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <h1 class="center">Chitter.</h1>  
</head>
<body>
  <hr>
  <form class="center" action="/sign_up" method="post">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="password" name="password" placeholder="Enter your password" minlength="8" required>
    <input type="submit" value="Sign up">
    <br>
  </form>
  <hr>
</body>
</html>
