You have already signed up. Please sign in or choose another email.
<br>
<br>
<form action = '/sign-up' method = 'post'>
  <input type = 'submit' value = 'Sign up again'>
</form>
<form action = '/' method = 'post'>
  <input type = 'submit' value = 'Log in'>
</form>
