<h1> Sign Up for Chitter! </h1>

<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/register_user" method="post">
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  Password Confirmation: <input type='password' name='password_confirmation'>
  <input type="submit" value="Sign Up" id="">
</form>
