
<h1>Sign in your account</h1>
<form action="/signin" method="post">
  <label for="user_name">
    User name
    <input type="text" name="user_name" placeholder="email">
  </label>
  <label for="password">
  User password
    <input type="password" name="psw" placeholder="password">
  </label>
  <input type="submit" value="Sign In">
</form>
