<%= erb :'partials/header' %>
<section id='home_title'>
  <h1 id='home_title'>chitter.</h1>
</section>
<br>
<form action='/sign_up' method='post'>
  <label class='sign_up_labels' for='email' type='text'><p>Email</p></label>
  <input class='sign_up_info' type='text' name='email' placeholder='albob@gmail.com'><br><br>
  <label class='sign_up_labels' for='password' type='text'><p>Password</p></label>
  <input class='sign_up_info' type='text' name='password' placeholder='password'><br><br>
  <label class='sign_up_labels' for='name' type='text'><p>Name</p></label>
  <input class='sign_up_info' type='text' name='name' placeholder='Alice Bobson'><br><br>
  <label class='sign_up_labels' for='username' type='text'><p>Username</p></label>
  <input class='sign_up_info' type='text' name='username' placeholder='albob123'><br><br>
  <button id='sign_up_submit' class='button' type='submit'>Submit</button>
</form>
<br><br>
<article id='sign_up_warning' class='flash_message'>
  <%= flash[:warning] %>
</article>
