<title>sign up</title>
<h1>sign up to chitter</h1>

<form action="/sign-up" method="post">
  <input type="text" name="name" placeholder="name"></input>
  <input type="text" name="email" placeholder="email"></input>
  <input type="password" name="password" placeholder="password"></input>
  <input type="text" name="username" placeholder="username"></input>
  <input type="submit" value="sign up">
</form>
