<div class="login-container">
    <p>Sign up</p>
    <form action="/signup" method="POST">
        <label for="/email">Email</label>
        <input type="text" name="email">
        <label for="/email">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Sign up">
    </form>
    <a href="/login">Already have an account? Log in here</a>
</div>