<html>
  <head> 
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <form action="/login" class="button">
      <input type="submit" value="Login"/>
    </form>
    <h1>Chitter</h1>
    <form action="/success" method="POST" class="sign_up_form">
      <label> First Name: </label>
      <input type="text" name="first_name"/><br>
      <label> Last Name: </label> 
      <input type="text" name="last_name"/><br> 
      <label> Email: </label>
      <input type="email" name="email"/><br>
      <label> Username: </label> 
      <input type="text" name="username"/><br>
      <label> Password: </label> 
      <input type="password" name="password"/><br> 
      <input type="submit" class="submit_button" value="Sign up!"/>
    </form>
    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>