<div>
  <form action='/signup/process/' method='post'>
    <input type='text' name='email'>
    <input type='password' name='password'>
    <input type='password' name='password_confirmation'>
    <input type='submit' value='Sign Up'>
  </form>
</div>
