<h1>Sign Up</h1>

<form method="POST" action="/signup">
<label for="username">username:</label>
  <input type="username" id="username" name="username" required>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Sign Up</button>
</form>