<h2> Join the Chitter Community! </h2>

<form action='/user/signup' method='post'>
  First Name: <input type='text' name='first_name' required>
  Last Name: <input type='text' name='last_name' required>
  <br>
  <br>
  Username: <input type='text' name='username' required>
  <br>
  <br>
  Email: <input type='text' name='email' required>
  Password: <input type='text' name='password' required>
  <input type='submit' value='Sign Up'>
</form>