<form action="/sign-up" method="post">
      
      <label for="username">User name:</label>
      <div><input type="text" name="username"></div>


      <label for="email">Email:</label>
      <div><input type="text" name="email"></div>

      <label for="password">Password:</label>
      <div><input type="password" name="password"></div>
      <br>
	<input type = 'submit' id='sign-up' value = 'Sign up'>
</form>