<html>
    <head>
      <link href="<%= url('/style.css') %>"rel="stylesheet" type="text/css" />
    </head>
    <body>
        <p>The email you want to signup with already has a registered account.</p>
        <a href="/">Click here to go back to the homepage and login / signup!</a>
    </body>
</html>