<h1> Fill out the below form! </h1>
<form action="/signed_up" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="username" placeholder="username">
  <input type="submit" value="submit">
</form>
