<div class="container">
	<h4>Please enter data to signup to Chitter</h4>
	<form action="/add_person" method="post">
		<input type="text" name="real_name" placeholder="Enter real name">
		<br>
		<br>
		<input type="text" name="user_name" placeholder="Enter user name">
		<br>
		<br>
		<input type="text" name="email" placeholder="Enter email">
		<br>
		<br>
		<input type="text" name="password" placeholder="Enter password">
		<br>
		<br>
		<input type="submit" name="submit" value="Submit">
	</form>
</div>
