<!DOCTYPE html>
<html>
<head>
<style> 

html {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  background-color: #6BCAF6;
  background-size: 50%;
  text-align: center;
  border-radius: 40px;
}

</style>
</head>
<body>
<br>
<h3>Sorry, some of your choices are already in use by other Chitter family members.</h3>
<br>
<form action='/sign_up' method='get'>
  <input type='submit' value='Try again?'>
</form>

</body>

</html>