<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  </head>

  <body>

    <form action="new-user" method="post">
      <h1>Enter your details</h1>
      <label for="name">Name:</label>
      <input type="text" name="name"></input>
      <br><br>
      <label for="handle">Handle:</label>
      <input type="text" name="handle"</input>
      <br><br>
      <label for="email">Email address:</label>
      <input type="text" name="email"</input>
      <br><br>
      <label for="password">Password:</label>
      <input type="password" name="password"</input>
      <br><br><br>
      <input class="button" type="submit" value="Create my account"</input>
    </form>

  </body
</html>
