<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter:Sign-up</title>
</head>
<body>
  <h1>Sign up to Chitter!</h1>
  <form action="/sign-up" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="name" placeholder="Full Name">
    <input type="text" name="username" placeholder="User Name (handle)">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>