<h1>join our chittering community:</h1>
<form method='POST' action='/new_user'>
  <div>
    <label>your name:</label>
    <input type='text' name='name'/>
  </div>  

  <div>
    <label>your username:</label>
    <input type='text' name='username'/>
  </div>    
  
  <div>  
    <label>your email:</label>
    <input type='text' name='email'/>  
  </div>   

  <div>  
    <label>your password:</label>
    <input type='text' name='password'/>  
  </div>   
  <div>  
  <input type='submit' name="join us today"/>
  </div>  
</form>

<div>  
  <a href= "/">keep on reading us</a>
  </div>  