<div class="container">
	<nav><h4>Please enter username and password</h4></nav>
	<form action="/get_person" method="post">
		<input type="text" name="user_name" placeholder="Enter user name">
		<br>
		<br>
		<input type="text" name="password" placeholder="Enter password">
		<br>
		<br>
		<input class="myButton" type="submit" name="submit" value="Submit">
	</form>
</div>
