<head>
  <title>sign in</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
</head>

<a class="site_header" href="/">chitter</a>

<div class="nav_bar">
</div>

<h1>sign in to chitter</h1>

<form action="/sign-in" method="post">
  <input type="text" name="username" placeholder="username"></input>
  <input type="password" name="password" placeholder="password"></input>
  <input type="submit" value="sign in">
</form>
