<center>
  <%if @error == false %>
  <%= 'Welcome on board! Sign in to start chatting!'%>
  <% end %>

<form action ='/chitter' method = 'POST'>
  <input type = "text" name = "name" placeholder = "Name"/>
  <br>
  <input type = "email" name = "email" placeholder = "Email"/>
  <br>
  <input type = "password" name= "password" placeholder = "Password"/>
  <br>
  <input type = "submit" name = "action" value = "Sign in"/>
</form>

</center>
