<h1> Sign in to Chitter </h1>

<form action="/sign-in" method="post">
  <label for="email">Email</label>
    <div>
    <input type="text" name="email">
    </div>
<br>
  <label for="password">Password</label>
   <div><input type="text" name="password">
<br>
</div>
<br>
<br>
	<input type = 'submit' id='sign-in-page' value = 'Sign in'>
</form>
</div>