<% if @unique_user == false %>
    <p>Both username and email must be unique.</p>
    <p>Please try signing up again</p>
<% end %>

<div>
<form method="post" action="/sign_up">
  <div><input type="text" placeholder="first name" name="first_name"></div>
  <div><input type="text" placeholder="last name" name="last_name"></div>
  <div><input type="text" placeholder="email" name="email"></div>
  <div><input type="text" placeholder="password" name="password"></div>
  <div><input type="text" placeholder="username" name="username"></div>
  <div><input type="submit" name="Save" value="Submit"></div>
</form>
</div>
