<style>
body {
  background-color: black;
  color: green;
}
</style>

<body>
<form action='/sign_up' method='post'>
Username: <input type='text' name='username'>
Password: <input type='text' name='password'>
Email: <input type='text' name='email'>
<input type=submit value='Submit'>
</form>

</body>