<h1> Sign in to Chitter </h1>


<form action="/sign-in" method="post" id="sign-in">
   
<span style="white-space:nowrap">   <label for="name">Email:</label>
    <input type="text" name="email">
</span>  
<br>
<br> 
<span style="white-space:nowrap">   <label for="password">Password:</label>
   <input type="text" name="password">
</span>
<br>
<br>
<br>

	<input type = 'submit' id='sign-in' value = 'Sign in'>
</form>