<form action='/' method='post'>
  Email:
  <input type=email name='email'>
  Password:
  <input type=password name='password'>
  Name:
  First Name:
  <input type=text name='first_name'>
  Last Name:
  <input type=text name='last_name'>
  Username:
  <input type=text name='username'>
  <input type=submit value='Submit'>
</form>
