<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8"/>
        <meta name="description" content="Chitter sign up form">
        <meta name="author" content="Adrian Raisin">
        <meta name="keywords" content="Chitter Sign Up">

        <title> Chitter| Sign Up </title>

        <link href="/sign_upstyles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

    <body>
        <form class="input_name" action="/signed_up" method="post">
        <section class="user_details">
            <input class="input_box" type="text" name="name" placeholder="Name">
            <input class="input_box" type="text" name="email" placeholder="Email">
            <input class="input_box" type="text" name="username" placeholder="Username">
            <input class="input_box" type="text" name="password" placeholder="Password">
        </section>
        <section class="submit">
            <input class="submit_button" type="submit" value="Sign Up!">
        </section>
        </form>
    </body>
</html>