<center><h1>Please sign in.</h1></center>
<center><form action="/check" method="post">
  <input type="text" name="name" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <h1></h1>
  <input type="submit" value="Sign in">
</form></center>
<center><h3>Don't have an account?</h3></center>
<center><a href="http://localhost:2345/create_account">
  Create account
</a></center>
