<html>
    <head> </head>
    <body>
    
    <h1>You have successfully signed up with Chitter</h1>
    <a href="/shoutybox">Shouty Box<br>- see what people are peeping</a><br>
    <a href="/peep/new">new peep</a>
    <a href="/">back to homepage</a>

    </body>
</html>