<form method="post" action="/sign_up">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="password" name="password">
  <input type="text" placeholder="username" name="username">
  <input type="submit" name="Save" value="Submit">
</form>
