<h1>Sign in here!</h1>
<form action="/signin" method="post">
  Email
  <input type="text" name="email">
  Password
  <input type="text" name="password">
  <input type="submit" value ="Log In">
</form>
<ul>