<html>
    <head></head>
    <body>
      <h1>Join Chitter!</h1>
        <form method="POST" action="/signup">
        <div>
          <label>Name</label>
          <input type="text" id='name' name="name" />
        </div>
        <div>
          <label>Username</label>
          <input type="text" id='username' name="username" />
        </div>
        <div>
          <label>Email Address</label>
          <input type="email" id='email' name="email" />
        </div>
        <div>
          <label>Passowrd</label>
          <input type="password" id='password' name="password" />
        </div>
        <div>
          <input type="submit" value="Submit" />
        </div>
    </body>
</html>