<div align='right'>
    <a href='/login'>Log In</a>
</div>
<h4>Sign Up</h4>
<form action='/signup' method='post'>
  Username: <input type=text name=username>  Email: <input type=text name=mail>  Password: <input type=password name=password>  <input type='submit' value='Submit'>
</form>
<br><br>
