<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
</head>
<body>
	<form action="/sign_up" method="post">
		<input type="tex" name="username" placeholder="Username" required>
		<input type="text" name="first_name" placeholder="First Name" required>
		<input type="text" name="last_name" placeholder="Last Name" required>
	  <input type="email" name="email" placeholder="email address" required>
	  <input type="password" name="password" placeholder="password" required>
	  <input type="submit" value="Submit">
	</form>
</body>
</html>