<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Create an account</h1>
    <form method="POST" action="/makers/new">
    <div>
      <label>Full Name:</label>
      <input type="text" name="name"/>
    </div>
    <div>
      <label>Username:</label>
      <input type="text" name="username"/>
    </div>
    <div>
      <label>Email Address:</label>
      <input type="text" name="email_address"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="text" name="password"/>
    </div>
      <input type="submit"/>
    </form>
  </body>
</html>