<h3>Sign up to Chitter</h3>
<form action="/signed_up" method='post'>
<input type="text" name="email" placeholder="add email">
<br>
<input type="password" name="password" placeholder="add password">
<br>
<input type="name" name="name" placeholder="add name">
<br>
<input type="username" name="username" placeholder="username">
<br>
<input type="submit" value="Confirm sign up">
</form>