<form action ="/signup" method="post">
  <label for="username">
    username:
    <input type="text" name="username">
  </label>
  <label for="email">
    email address:
    <input type="text" name="email">
  </label>
  <input type="submit" value="Submit">
</form>

<% @username %>
