<h1>Chitter</h1><br>
<p>Sign up or log in</p>
<form action="/signup" method="post">
  <input type="text" name="name" value="Name">
  <input type="text" name="email" value="Email">
  <input type="text" name="password" value="Password">
  <input type="text" name="username" value="Username">
  <input type="submit" value="Sign up">
</form>
