<!DOCTYPE html>
<head>
</head>
<body>
<h3>Sign up!</h3>
  <form action="/sign_in_details" method='post'>
    <ul>
      <li><p>name:</p><input type='text' name='name' /></li>
      <li><p>handle:</p><input type='text' name='handle'/></li>
      <li><p>email:</p><input type='text' name='email' /></li>
      <li><p>password:</p><input type='text' name='password'/></li>
    </ul>
    <button type="submit" name="Submit">Submit Peep</button>
  </form>
</body>
</html>
