<form action="/sign-in" method="post">
      
  	  <label for="name">Email:</label>
      <input type="text" name="email">

      <label for="username">Password:</label>
      <input type="text" name="password">
      <br>
	<input type = 'submit' id='sign-in' value = 'Sign in'>
</form>