<h2>Please enter your username, email and password:</h2>
<form action='/signup' method='post'>
  <input type='text' value='username'>
  <input type='email' value='email'>
  <input type='text' value='password'>
  <input type='submit' value='Sign up'>
</form>
