<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter.css">
</head>

<h1>You're all signed up!</h1>

<form method="get" action="/post_chit">
<input type="submit" name="go_to_post_chit" value="get chitting!"/>
</form>
