<form action="/user/sign_up" method="POST" >
  <input name="name" minlength=3 type="text" placeholder="Name" >
  <input type=email name="email" placeholder="email" >
  <input minlength=6 type=password name="password" placeholder="Password">
  <input type=submit value="Create Account">
</form>