<!DOCTYPE html>
<html>
<head>
  <title>Chitter Posts on QP insights</title>
   <style>
   h1 {
      text-align: center;
      color: #0B234F;
      font-size: 40px;
     }
    h2 {
       text-align: center;
       color: #0B222F;
       font-size: 25px;
      }

      h3 {
         text-align: center;
         color: #0B222F;
         font-size: 25px;
        }
        h4 {
           text-align: center;
           color: #0B222F;
           font-size: 15px;
          }
   label {
    width: 250px;
    float: left;
    margin: 0 30px 0 30px;
  }
  span {
      display: block;
    }

    input[type=submit] {
      padding: 10px 20px;
      margin: auto;
      background:#0B2;
      border:3
      -webkit-border-radius: 12px;
      border-radius: 5px;
      font-size: 20px;
      font-family:  Georgia;
      display: block;
    }

  </style>
</head>
<body>

  <h1> Sign Up To Chitter </h1>
  <h2>Quickly now, everyone is dieing to know your opinion </h2>
  <h4>Seriously....No one is here to talk about themselves, just to listen to you .. </h4>


</body>
</html>
