<form action ="/sign_up" method = "post">
  <input type ="text" name="first name">
  <input type ="text" name="surname">
  <input type ="text" name="email">
  <input type ="text" name="username">
  <input type ="text" name="password">
  <input type ="submit" name="sign me up!" value="sign me up!">
</form>
