<!DOCTYPE html>
<html>

  <head>

    <link rel='stylesheet' type='text/css' href='normalize.css'/>
    <link rel='stylesheet' type='text/css' href='/style.css'/>

  </head>


<body>

<h1>sign up</h1>

<form id="sign_up" action='/users' method=POST>
  <label for="name">name
    <input type="text" name="name" placeholder='your name here' required>
  </label>
  <br>
  <label for="username">username
    <input type="text" name="username" placeholder="your username here" required>
  </label>
  <br>
  <label for="email">email
    <input type="email" name="email" placeholder="your email here" required>
  </label>
  <br>
  <label for="password">password
    <input type="password" name="password" placeholder="your password here" required>
  </label>
  <br>
  <label for="password_confirmation">confirm your password
    <input type="password" name="password_confirmation" placeholder="your password again" required>
  </label>
  <br>
  <input class="button" type="submit" value="sign up">
</form>

</body>

</html>
