You are signed in as: <%=@user.username%>
<form action='/:user_id/post' method='post'>
  <label>Compose a new Peep</label><br>
  <textarea cols="50" rows="5" type='text' name='content'></textarea><br>
  <input type='submit' value='Post'>
</form>

<ul style="list-style-type: none">
  <% @peeps.each do |peep| %>
    <li id = "peep-<%= peep.id %>">
      <div style='background-color:#ecf2f9'>
        <%= peep.content %>
        <p style='background-color:#fff2e6'>Posted at: <%= peep.timestamp %>
        </p>
      </div>
    </li>
    <br>
  <% end %>
</ul>
