<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h1> Welcome to Chitter, <%=@name%>! </h1>
      <div>
      <a href="/login"> Click here to log in </a>
      </div>
  </body>
</html>