<link rel="stylesheet" href="/style.css"/>

<h1>Sign up to Chitter</h1>

<div id="sign_up">
  <p>Enter your details to start peeping:</p>
  <form action="/user" method="post">
      <div class="field"><div class="label">Name</div><div class="box"><input type="text" name="name"></div></div>
      <div class="field"><div class="label">Username</div><div class="box"><input type="text" name="username"></div></div>
      <div class="field"><div class="label">Email</div><div class="box"><input type="text" name="email"></div></div>
      <div class="field"><div class="label">Password</div><div class="box"><input type="password" name="password"></div></div>
    <input type="submit" value="Sign up">
  </form>
</div>
