<form action="/newuser"  method ="post">
  <label for="email">
    E-mail
    <input type="text" required name="email" />
  </label>
  <label for="password">
    Password
    <input type="password" required name="password" />
  </label>
  <label for="name">
    Name
    <input type="text" name="name" />
  </label>
  <label for="username">
    Username
    <input type="text" required name="username" />
  </label>
  <input type="submit" value="Sign up" />
</form>
