<h1>signup page</h1>

<form action="/signup" method="post">
  <input type="text" name="handle" placeholder="Handle">
  <input type="text" name="display_name" placeholder="Display name">
  <input type="email" name="email" placeholder="Email address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>
