
<h1> Fill in the form to sign up... </h1>

<form method='post' action='/signup'>

  <label for='email'>Email:</label>
  <input type='email' name='email' placeholder='e.g: imascrub@gmail.com' required/>
  <br>
  <label for='username'>Username:</label>
  <input type='text' name='username' placeholder='e.g: Bad360Scopes' required/>
  <br>
  <label for='password'>Password:</label>
  <input type='password' name='password' placeholder='e.g: IAmTheWorstAtGaming1234' required/>
  <br>
  <br>
  <input type='submit' name='submit' value='submit' />

</form>
