<h1 align='center'> Chitter </h1>

<form action="/user_data" method="post">
  <input type="text" name="email"     placeholder="Insert email" />
  <input type="text" name="password"  placeholder="Insert password" />
  <input type="text" name="name"      placeholder="Insert name" />
  <input type="text" name="user_name" placeholder="Insert user_name" />
  <input type='submit' value="submit" />
</form>