<h2>
  <%= flash[:notice] %>
</h2>
<form action="/sessions" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>