<form action="/register" method="post">
<input type="text" name="username" placeholder="username upto 15 characters" maxlength="15">
<input type="Password" name="password" placeholder="password over 5 characters" minlength="5">
<input type="submit" value="register">
</form>