<%= flash[:notice] %>

<center>
  <form action="/user/new" method="post">
    <table>
      <tr><td><input type="text" name="Email" placeholder="Enter your email"><br>
      <tr><td><input type="text" name="Password" placeholder="Enter your password"><br>
      <tr><td><input type="text" name="Name" placeholder="Enter your name"><br>
      <tr><td><input type="text" name="Username" placeholder="Enter your username"><br>
    </table>
    <input type="submit" value="Sign up!"><br>
  </form>
</center>
