<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header id="header">
      <div class="icon">
        <img id="icon" src="icon.png">
      </div>
      <div class="text">Chitter</div>
    </header>
    <h1>Welcome to Chitter!</h1>
    <div>Please register your details below</div>
    <div><form action="/signup" method="POST">
    <div>Name</div>
    <input type="text" name="name">
    <div>Username</div>
    <input type="text" name="username">
    <div>Password</div>
    <input type="password" name="password">
    <div>Email</div>
    <input type="text" name="email">
    <input type="submit" value="Signup">
  </body>
</html>
