<html>
  <head></head>
  <body>
    <div>
      <a href="/login">Login</a>
      <a href="/">Home</a>
    </div>
    <h1>Chitter: Failed to create user</h1>
    <p>User form incomplete</p>
  </body>
</html>