<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= erb(:'partials/navigation') %>

    <h2>Sign Up</h2>

    <div>
      <%= flash[:error] %>
    </div>

    <form action="/signup" method="post">
      Email: <input type="text" name="email"><br>
      Password: <input type="password" name="password"><br>
      Name: <input type="text" name="name"><br>
      Username: <input type="text" name="username"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
