<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link href='css/sign_up_style.css' type="text/css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div>
        <img src='http://www.clker.com/cliparts/j/g/h/H/3/M/cartoon-bird.svg'>
        <h1>Chitter</h1>
      </div>
    </header>

    <div class='content'>
      <div class='narrow-content'>
        <h1>Create user</h1>

      <h3><%=flash[:username_error]%></h3>
      <h3><%=flash[:email_error]%></h3>

        <form action='/sign_up' method='post'>
          <div>
            <label for='email'>Email</label>
            <input type='text' name='email'>
          </div>
          <div>
            <label for='name'>Name</label>
            <input type='text' name='name'>
          </div>
          <div>
            <label for='username'>Username</label>
            <input type='text' name='username'>
          </div>
          <div>
            <label for='password'>Password</label>
            <input type='text' name='password'>
          </div>
          <div class='button'>
            <input type='submit' value='Create user'>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
