<form action="/signed_up" method="POST">
  Name: <input type="text" name="name">
  Username:<input type="text" name="username">
  email: <input type="text" name="email">
  Password: <input type="text" name="password">
  Repeat Password: <input type="text" name="rep_password">
  <input type="submit" value="Submit the form">
</form>