<h1>Signup</h1>
  <form action="/signup" method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" required minlength="4" maxlength="25">
    </p>
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" required minlength="4" maxlength="15">
    </p>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" required minlength="10" maxlength="25">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" required minlength="5" maxlength="15">
    </p>
      <input type="submit" value="Sign up">
    </form>

