<h1>sign up</h1>

<form action='/users' method=POST>
  <label for="email">email
  <input type="text" name="email" placeholder="your email here">
  </label>
  <br>
  <label for="password">password
  <input type="password" name="password" placeholder="your password here">
  </label>
  <br>
  <label for="password_confirmation">confirm your password
  <input type="password" name="password_confirmation" placeholder="your password again">
  </label>
  <br>
  <input type="submit" value="sign up">
</form>
