<form action="/new/user" method="post">
  <input type="text" name="username" placeholder="Username" required>
  <br>
  <input type="email" name="email" placeholder="email" required>
  <br>
  <input type="password" name="password" placeholder="password" required>
  <br>
  <input type="submit" value="Submit">
</form>