<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3><a href="/signup">Sign up</a> or <a href="/login">log in</a> if you want to post a peep or click <a href="/peeps">here</a> to see all the peeps</h3>
    <form action="user_new" method="post" >
      <input type="text" name="email" placeholder="email"><br>
      <input type="text" name="name" placeholder="name"><br>
      <input type="text" name="username" placeholder="username"><br>
      <input type="text" name="password" placeholder="password"><br>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
