<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
<body style="background-image: url('https://i.imgur.com/axiZlbT.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 1000px;">
<form method="GET" action="/login">
  <input type="submit" value="Login!" style="float: right;">
</form>
<br><br><br><br><br><hr>
<form method='POST' action='/signup'>
  Username:<input type='text' name='username'><br>
  Name:<input type='text' name='name'><br>
  Email:<input type='text' name='email'><br>
  Password:<input type='text' name='password'><br>
  <input type='submit' value='Signup'>
</form>
</body>