Welcome!
<form action='/create_user' method='post'>
  Name: <input type='text' name='name'>
  Username: <input type='text' name='username'>
  Email: <input type='email' name='email'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Create my Account'>
</form>
