<html>
  <head></head>
  <body>
    <h1>Chitter Signup</h1>
    <form action="/signup" method="POST">
      <div>
        <label>Email address: </label>
        <input type="text" name="email">
      </div>
      <div>
        <label>Password: </label>
        <input type="text" name="password">
      </div>
      <div>
        <label>Name: </label>
        <input type="text" name="name">
      </div>
      <div>
        <label>Username: </label>
        <input type="text" name="username">
      </div>
      <input type="submit" value="submit">
    </form>
  </body>
</html>