<h1>Sign Up</h1>
<form>
	<input type="text" name="name" />
	<input type="text" name="surname" />
	<input type="text" name="email" />
	<input type="text" name="password" />
	<input type="button" value="Sign up" />
</form>