<h1>Chitter</h1>
<h2>Sign up</h2>

<form method="post" action="/login">
  <input type="text" name="first name" placeholder="First name" /><br>
  <input type="text" name="last name" placeholder="Last name" /><br>
  <input type="date" name="date of birth" placeholder="Date of birth" /><br>
  <input type="email" name="email" placeholder="Email" /><br>
  <input type="text" name="username" placeholder="Username" /><br>
  <input type="password" name="password" placeholder="Password" /><br>
  <input type="submit" value="Submit" /><br>
</form>