<form action='/sign_up' method='post'>
  <div><input type='email' name='email' placeholder='Enter email'></div>
  <br>
  <div><input type='password' name='password' placeholder='Enter password'></div>
  <br>
  <div><input type='text' name='username' placeholder='Enter username'></div>
  <br>
  <div><input type='submit' name='submit'></div>
</form>