<h1>Sign up to Cheeter</h1>

<form action="/user/new" method="post">
  <input type="text" name="name", placeholder="Name">
  <input type="text" name="username", placeholder="User Name">
  <input type="email" name="email", placeholder="Email">
  <input type="password" name="password", placeholder="Password">
  <input type="submit" value="Sign up">
</form>
