<form action='/confirm' method='post'>
  Username:
  <input type='text' name='username'>
  Email:
  <input type='text' name='email'>
  Password:
  <input type='text' name='password'>
  <input type='submit' value='Sign Up'>
</form>
