<h1>Sign up</h1>

<h2>Email in use</h2>

<form action='/users/signup' method='post'>
  <input type='text' name='email' placeholder='Email'/>
  <br>
  <input type='password' name='password' placeholder='Password'/>
  <br>
  <input type='text' name='name' placeholder='Name'/>
  <br>
  <input type='text' name='username' placeholder='Username'/>
  <br>
  <input type='submit' value='Submit'/>
</form>
