<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chitter.css">
</head>

<style>
  /* div {
    margin: 10 auto;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    width: 30%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
} */

    /* h1 {
      margin: 10 auto;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    } */

</style>

<h1>Sign up to Chitter</h1>
<form action='sign_up' method="post">
  <input type="text" name="name" placeholder="type name"/><br>
  <input type="email" name="email" placeholder="enter your email"/><br>
  <input type="text" name="handle" placeholder="choose a handle"/><br>
  <input type ="password" name="password" placeholder="choose a password"/><br>
  <input type ="submit" name="submit" />
</form>
