<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

<header>
  <h1><a href="/">Chitter</a></h1>
</header>

<main>

  <form action="/signup" method="POST">
    <input class="box" name="email" placeholder="Email" required/>
    <input class="box" name="password" type="password" placeholder="Password" required/>
    <input class="box" name="name" placeholder="Name" required/>
    <input class="box" name="username" placeholder="Username" required/>
    <button class="button" type="submit">Create account</button>
  </form>

  <p class="content">
    <span>Have an account already?</span>
    <a class="link" href="/login">Log in</a>
  </p>

  <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>

</main>

</body>
</html>




