<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <%= erb :header_partial %>
    <% flash.keys.each do |type| %>
      <div class="w3-panel w3-pale-red w3-display-container">
        <h4><%= flash[type] %></h4>
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-pale-red w3-pale-red w3-large w3-display-right">X</span>
      </div>
    <% end %>

    <div class="w3-row">
      <div class="w3-col" style="width:35%"><br></div>
        <div class="w3-col" style="width:30%">
          <form class="w3-container" action="/sign_up" method="post">
            <br>
            <label><b>Name</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text" name="name">

            <label><b>Username</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text" name="username">

            <label><b>Email</b></label>
            <input class="w3-input w3-border w3-light-grey" type="email" name="email">

            <label><b>Password</b></label>
            <input class="w3-input w3-border w3-light-grey" type="password" name="password">
            <br>
            <button type="submit" class="w3-btn w3-round-large w3-2019-soybean">Create Account!</button>
          </form>

        </div>
      <div class="w3-col" style="width:35%"><br></div>
  </body>
</html>
