<head>
  <link rel="stylesheet" href="/style.css">
</head>
<br>
<br>
<form class="" action="/user/new" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value="">
  <label for="password">Password</label>
  <input type="text" name="password" value="">
  <br>
  <br>
  <input type="submit" name="signup" value="Sign up!">
</form>
<br>
<br>
<br>
<br>

<form class="" action="/user/login" method="get">
  <p>Already have an account?</p>
  <input type="submit" name="login" value="Log In">
</form>
