
<form action="/chittter" method="get">
  Name: <br><input type="text" name="name"><br>
  Username:<br> <input type="text" name="username"><br>
  Email: <br><input type="text" name="email"><br>
  Password: <br> <input type="text" name="password"><br>
  <br>
  <input type="submit" name="submit" value="Sign Up">
</form>
