<form method="post" action="/confirm">
  Your Name: <input type="text" name="txt_chit_name"/><br>
  Please create a user name: <input type="text" name="txt_chit_user_name"/><br>
  E-mail: <input type="text" name="txt_chit_email"/><br>
  Password: <input type="password" name="txt_password"/><br><br>
  <input type="submit" value="Sign Up!"/>
</form>