<form action="/sign-up" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="name" value="">
  <label for="username">Username:</label><br>
  <input type="text" name="username" value="">
  <label for="email">Email:</label><br>
  <input type="text" name="email" value="">
  <label for="password">Name:</label><br>
  <input type="password" name="password" value="">
  <input type="submit" name="sign up" value="Sign up!">
</form>
