<form action="/sign-up" method="POST">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name">

    <label for="surname">Surname:</label>
  <input type="text" name="surname">

    <label for="email">Email address:</label>
  <input type="text" name="email">

    <label for="username">Username:</label>
  <input type="text" name="username">

      <label for="password">Password:</label>
  <input type="text" name="password">

  <input type="submit" value="Submit the form">
</form>