<form action='/add_user' method='post'>
    <input type='text' name='user_name' placeholder='Enter your name here'>
    <input type='text' name='user_email' placeholder='Enter your email address here'>
    <input type='text' name='user_password' placeholder='Enter your password here'>
    <input type='submit' value='Sign Up'>
</form>