<body style=background-color:lightyellow;>
<div style="font-family: Tahoma">
<h2>
  <%= flash[:notice] %>
</h2>
<h2>Sign in here to Chitter</h2>
<form action="/sessions" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>