
  <div class="container text-center">
    <form class="form-signin" action = '/signup' method = 'post'>
      <img class="mb-4" src="\images\logo.png" alt="" width="144" height="144">
      <h1 class="h3 mb-3 font-weight-normal">Sign up for Chitter</h1>
      <input type="text" name = "name" class="form-control" placeholder="Name" required autofocus>
      <input type="email" name = "email" class="form-control" placeholder="Email address" required autofocus>
      <input type="text" name = "username" class="form-control" placeholder="Desired Username" required autofocus>
      <input type="password" name = 'password' class="form-control" placeholder="Desired Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>
