<form action = "/chitter/signup" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type = "text" name = "name"/>
  </p>
  <p>
    <label for="user_name">User Name:</label>
    <input type = "text" name = "user_name"/>
  </p>
  <p>
    <label for="email">EmailId:</label>
    <input type = "text" name = "email"/>
  </p>
  <p>
    <button type = "submit">Submit</button>
  </p>
</form>
