<h1>Hello <%=@name %></h1>
<div>
  <form method=post action=/new_peep>
    <input type="text" name="peep">
    <input type="submit" value="Peep">
  </form>
</div>

<div>
  <ul>
    <% @peeps.map do |peep| %>
      <li>
          <p><h2><%= peep.peep %></h2></p>
          <p>User: <%= peep.username %>  Posted: <%= peep.time %></p>
      </li>
    <% end %>
  </ul>
</div>
