<html>
    <head> </head>
    <body>
    <h1>Signup</h1>
    <p>Error - please try again</p>
        <form action="/signup" method="POST">
            <label>name</label>
            <input type="text" name="name">
            <label>username</label>
            <input type="text" name="username">
            <label>email</label>
            <input type="text" name="email">
            <label>password</label>
            <input type="text" name="password">
            
            <input type="submit" value="Signup">
        </form>

        <br><a href="/">back to homepage</a>
    </body>

</html>