<h1> Sign Up for Chitter! </h1>

<form action="/register_user" method="post">
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  <input type="submit" value="Sign Up" id="">
</form>
