<form action='sign_up' method='post'>
  Name:
  <input type='text' name='name' placeholder='name'>
  <br>
  Email:
  <input type='text' name='email' placeholder='email'>
  <br>
  Username:
  <input type='text' name='username' placeholder='username'>
  <br>
  Password:
  <input type='password' name='password' placeholder='password'>
  <br>
  <input type='submit' value = 'Submit'>
</form>