<br>
<form action="/sign-up" method="post">
      
  	  <label for="name">Name</label>
      <div><input placeholder="Your full name" type="text" name="name"></div>
      <br>

      <label for="username">User name</label>
      <div><input placeholder="This will become your chitter handle" type="text" name="username"></div>
      <br>

      <label for="email">Email</label>
      <div><input placeholder="example@example.com" type="text" name="email"></div>
      <br>

      <label for="password">Password</label>
      <div><input type="password" name="password"></div>
      <br>
      <br>
      <br>
	<input type ='submit' id='sign-up-sign-in' value = 'Sign up'>
</form>