<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
   <div class="row">
      <div class="neons col-12">
         <h1><em>&#128037; WELCOME TO CHITTER!!! &#128037;</em></h1>
      </div>
   </div>
</div>

<form action="/sign_up" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Sign Up" id="Sign Up">
</form>

<br>
<br>
<form action="/">
  <input type="submit" value="Homepage" id="Homepage">
</form>
<form action="/view">
  <input type="submit" value="View Peeps" id="View Peeps">
</form>
<form action="/new">
  <input type="submit" value="Post a Peep" id="Post a Peep">
</form>
<form action="/reverse">
  <input type="submit" value="New Peeps First" id="New Peeps First">
</form>

</body>
</html>