<center>
<head>
 <style>
 body {background-color: lightblue;}
 p {border: outset 2px; border-radius: 3px;}
 </style>
 </head>

<h2> Thanks for looking to sign up to Chitter </h2>
<h3> <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> Just need a few details before you are set up <img src="https://i.imgur.com/eTLyhBq.jpg" title="chitter_image" style="width:50px;height:50px;"/> </h3>
<form action="/confirm_sign_up" method='post'>
<input type="text" name="email" placeholder='Email'>
<input type="text" name="password" placeholder='Password'>
<input type="text" name="user_name" placeholder='Name'>
<input type="text" name="handle" placeholder='Chitter handle'>
<input type="submit" value="Submit">
</form>


