<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>

  <body>
    <h1>Sign in to your account</h1>
    <form action='/sign_in' method='post'>
      <label for='username'>Username</label>
      <input type='text' name='username'>
      <label for='password'>Password</label>
      <input type='text' name='password'>
      <input type='submit' value='Sign in'>
    </form>
  </body>
</html>
