<!DOCTYPE html>
<html>
  <head>
    <title>Chitter - Sign up success!</title>
  </head>
  <body>
    <div class="sign_up_success">
      <h2>You've signed up successfully to Chitter... Welcome!</h2>
      <form action="/" method="get">
        <input type="submit" value="Go back to the Chitter feed">
      </form>
    </div>
  </body>
</html>
