<h2>Please fill in your personal data:</h2>
<form action='/signup' method='post'>
  <label>Email:</label><br>
  <input type='text' name='email'><br>
  <label>Password:</label><br>
  <input type='text' name='password'><br>
  <label>Name:</label><br>
  <input type='text' name='name'><br>
  <label>Username: </label><br>
  <input type='text' name='username'><br><br>
  <input type='submit' value='Sign up'>
</form>
