<h2>Signup</h2>
<% if error_message %>
  <p><%= error_message %></p>
<% end %>
<form action="/signup" method="POST">
  <input type="username" name="username" placeholder="Username" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Signup</button>
</form>