<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Sign In </h1>

    <form action='/sign_in' method="post">
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
