<h1>Chitter!</h1>
<h2>Sign up to chitter:</h2>
<form action="/sign_up_process" method="post">

<label for="username">
Username:<br>
<input type="text" name="username">
</label>
<br>

<label for="name">
Name:<br>
<input type="text" name="name">
</label>
<br>

<label for="email">
Email:<br>
<input type="text" name="email">
</label>
<br>

<label for="password">
Password:<br>
<input type="text" name="password">
</label>
<br>

<br>
<br>
<input type="submit" value="Submit">

</form>
