<center>
<body style='background-color:powderblue;'>
<h1 style='color:white;' align='center'> CHITTER </h1>

  <form action='/users/new' method='POST'>
    <label for="email">
      <input type='text' name='email' placeholder='email'>
    </label>
    <label for="username">
      <input type='text' name='username' placeholder='username'>
    </label>
    <label for="name">
      <input type='text' name='name' placeholder='name'>
    </label>
    <label for="password">
      <input type='text' name='password' placeholder='password'>
    </label>
    <input type='submit' value='Sign up'>
  </form>
</body>
</center>
