<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1> Welcome to Chitter, <%=@name%>! </h1>

      <div>
      <a href="/user/page"> Click here to access your personal page </a>
    </div>
  </body>
</html>