<div id = 'welcome_forms' >
    <form action="/signin" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        </hr>
        <input type="submit" value="Sign in" class='submit'>
    </form>
</div>

