<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>cheeter</h1>
    </header>
    <h2> Sign in:</h2>
    <form action="/add_peep" method="post">
      <input type="text" name="name" placeholder="Enter your name" value='jenny'>
      <input type="text" name="password" placeholder="Enter your password" value=****>
      <input type= "submit" value="submit">
    </form>
  </body>
</html>
