<form action="/signup" method="post">
  <label for="">Please enter name</label>
    <input type="text" name="name">
  <label for="">Please enter username</label>
    <input type="text" name="username">
  <label for="">Please enter email</label>
    <input type="text" name="email">
  <label for="">Please enter password</label>
    <input type="text" name="password">
  <input type="submit" value="complete signup">
</form>
