<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/sign_up.css">

<div class="container">
  <h2>Sign up</h2>
  <form action='/sign-up' method='post'>
    <div>
      Username:<input type='text' name='username' required>
    </div>
    <div>
      Email: <input type='text' name='email' required>
    </div>
    <div>
      Password: <input type='password' name='password' required>
    </div>
    <div>
      <input type='submit' name='submit' value='Sign Up'>
    </div>
  </form>
</div>
