<form action="<%=action%>" method="post">
  <label for="fullname">Full name:</label><br>
  <input type="text" name="fullname">
  <br>

  <label for="username">Username:</label><br>
  <input type="text" name="username">
  <br>

  <label for="email">Email:</label><br>
  <input type="text" name="email">
  <br>

  <label for="password">Password:</label><br>
  <input type="password" name="password">
  <br><br>

  <input class="button" type="submit" value="<%=name%>">
  </form>
