<h3>Sign up below</h3>
<form action='/sign_up/new' method='post'>
  <label for='username'>Username:</label>
  <input type='text' name='username'>
  <label for='password'>Password:</label>
  <input type='password' name='password'>
  <input type='submit' value='Submit'>
</form>
