<html>

<head></head>

<body>
    <h1>User created successfully! Please click here to login:</h1>

        <form action="/login">
            <input type="submit" value="Login" />
        </form>

    <h2>Or here to return to the homepage</h2>
        <form action="/peeps">
            <input type="submit" value="Home" />
        </form>

</body>

</html>