<form action ="/sign_up" method ="post">
  <label>
    Your Email
    <input type = "text" name = "email"/>
  </label>
  <label>
    Your Name
    <input type = "text" name = "name"/>
  </label>
  <label>
    Your User Name
    <input type = "text" name = "user_name"/>
  </label>
  <label>
    Password
    <input type = "text" name = "password"/>
  </label>
  <label>
  Submit
  <input type = "submit" value = "submit"/>
  </label>
</form>
