<h1>
  CHITTER
</h1>

<div id='signup'>
  <h2>Sign up!</h2>
  <form method='post' action="/sign-up">
    <label for='name'>Name: </label>
    <input id='block' type='text' name='name'><br/>
    <label for='email'>E-mail: </label>
    <input id='block' type='text' name='email'><br/>
    <label for='username'>username: </label>
    <input id='block' type='text' name='username'><br/>
    <label for='password'>password: </label>
    <input id='block' type='text' name='password'><br/>
    <input id='button' type='submit' value='Sign up'>
  </form>
</div>
