<h1>Help us with the downfall of society - sign up today!</h1>

<form action="/post-sign-up" method="post">

  <label for="username">Username:</label>
  <input type="text" name="username" required>

  <label for="email">Email:</label>
  <input type="email" name="email" required>

  <label for="password">Passowrd:</label>
  <input type="password" name="password" required>

  <button>Sign up</button>
  
</form>