<form method="POST" action ="/signup">
  <html>
  <head> <h1>Sign up!</h1></head>
  <body>
    <div><label>Enter your chosen username </label>
    <input type="hidden" id = "id" value=<%session[:id]%>>
      <input type="text" name="username" />
    </div>
    <div><label>Enter a password </label>
      <input type="text" name="password" />
    </div>
    <div><label>Submit! </label>
      <input type="submit" />
    </div>
  </body>
  </html>
  </form>