<html>
    <head>
      <link href="<%= url('/style.css') %>"rel="stylesheet" type="text/css" />
    </head>
    <body>
        <p>You have signed up to Chitter!</p>
        <p><%=@new_user.id%></p>
        <a href="/">Click here to go back to the homepage and login!</a>
    </body>
</html>