<form action='/add-database' method='post'>
<h2> Username </h2>
  <input type="text" name ="username">
<h2> Email </h2>
  <input type="text" name ="email">
<h2> Password </h2>
  <input type="text" name ="password">
<br>
<br>
<br>
<input type="submit" value ="Log In">

</form>