<form action="/sign_up" method="post">
  <p>Email:</p>
  <input type="text" name="email">
  <p>Password:</p>
  <input type="text" name="password">
  <p>Name:</p>
  <input type="text" name="name">
  <p>Username:</p>
  <input type="text" name="username">
  <input type="submit" value="Sign Up">
</form>

<%= flash[:signup_error] %>
