<html>
   <body style="background-color:rgb(66, 190, 194)">
    <h1><center>Enter your details:</center></h1><br><br>
    <form action="/save-sign-up" method="post">
      <label for="sign-up-details"><br><br>
      Username
      <input type="text" name="username"><br><br>
      email
      <input type="text" name="email"><br><br>
      Password
      <input type="password" name="password"><br><br>
      <input type="submit" value="Sign up!">
    </form></center> 
  </body> 
</html>