<h2>Sign up to start using Chitter</h2>
<form class="sign-up" action="/sign_up" method="post">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <label for="username">
    Username
    <input type="text" name="username">
  </label>
  <label for="email-address">
    Email Address
    <input type="text" name="email-address">
  </label>
  <label for="password">
    Password
    <input type="text" name="password">
  </label>
  <button class="sign-up-button" type="submit" name="Sign Up">Sign Me Up</button>
</form>
