
<form action="/chittter" method="get">
  Name: <input type="text" name="Name">
  Username: <input type="text" name="Username">
  Email: <input type="text" name="email">
  Password: <input type="text" name="Password">
</form>
