<form action="/sign-up" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="name" value=""><br>
  <label for="username">Username:</label><br>
  <input type="text" name="username" value=""><br>
  <label for="email">Email:</label><br>
  <input type="text" name="email" value=""><br>
  <label for="password">Name:</label><br>
  <input type="password" name="password" value=""><br>
  <input type="submit" name="sign up" value="Sign up!"><br>
</form>
