<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="/" class="close">&times;</a>
  </div>
<% end %>

<h1>Sign up with your email and password!</h1>

<form action="/sign-up" method="post">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username">

  <label for="email">Email: </label>
  <input id="email" type="email" name="email">

  <label for="userPassword">Password: </label>
  <input id="userPassword" type="password" name="password">

  <input type="submit" value="Sign up">
</form>
