<link rel="stylesheet" type="text/css" href="/style.css" />

<h1> Sign in to Chitter </h1>

<form action= "/users/signin" method= "post">
  Email: <input type= "text" name= "email"><br>
  Password: <input type= "password" name= "password"><br>
  <input type= "submit" value= "Sign in">
</form>
