<html>
  <head>
    <title>Welcome to Chitter</title>
    <link rel="stylesheet" type="text/css" href="style.css?version=1" />
  </head>

  <header>
    <div class="header">
      <div class="navbar">
        <a href="/">Chitter</a>
        <a href="/signup" class="right">Sign Up</a>
      </div>
      <h1>Chitter</h1>
      <p>Welcome to Chitter!</p>
    </div>
  </header>

  <p>Congratulations on your successful account creation, welcome to Chitter!</p>
  <p>Please return to the <a href='/'>login page</a> to log in and access our stream of peeps.</p>
</html>