<h1>Sign up to Chitter</h1>

<form action="/signup" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <input type="submit" value="Sign Up" />
</form>
