Thank you <%= @new_user.author_name %>!
<br>
<br>
You can now use Chitter with the username <%= @new_user.author_handle %>
<br>
<br>
Check <%= @new_user.email %> for a confirmation
<br>
<br>
<form action = '/' method = 'get'>
  <input type = 'submit' value = 'Click here to return to Chitter'>
</form>
