<title>Chitter</title>
  <link rel="stylesheet" href="<%= url('./stylesheets/login.css')%>">
</head>
<body>

<div id="header">
  <h1><a href='/'>Chitter</a></h1>
  
</div>

  <div class='page'>
    <form action='/signup' method='post'>
      <label id='label' for='fname'>First name</label>
      <input type='text' id='fname' name='first_name'>
      <label for='lname'>Last name</label>
      <input type='text' id='lname' name='last_name'>
      <label for='email'>Email address</label>
      <input type='text' id='email' name='email'>
      <label for='confirm_email'>Confirm email</label>
      <input type='text' id='confirm_email' name='confirm_email'>
      <label for='pwd'>Password</label>
      <input type='password' id='pwd' name='password'>
      <label for='confirm_pwd'>Confirm password</label>
      <input type='password' id='confirm_pwd' name='confirm_password'>
      
    	<div id='signup'><input type='submit' name='submit' value='signup'></div>
    </form>
  </div>
</body>
