<form action="/sign-up" method="post">
  Name:<input label="Name" type="text" name="name"><br>
  Username:<input label="Username" type="text" name="username"><br>
  Email:<input label="Email" type="text" name="email"><br>
  Password:<input label="Password" type="text" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
