<!DOCTYPE html>
<html>

<form action='/sign_up' method='post'>
  <div>
  <input type='text' name='name' placeholder='Enter name....'/>
  </div>
  <div>
  <input type='text' name='username' placeholder='Enter username....'/>
  </div>
  <div>
  <input type='email' name='email' placeholder='Enter email....'/>
  </div>
  <div>
  <input type='password' name='password' min='6' placeholder='Enter password....'/>
  </div>
  <input type='submit' value='Sign up'/>
  </form>

  </html>
