<h3>Enter Your Details</h3>

<form action="new-account" method="post">
  email<br><input type="text" name="email"><br>
  name<br><input type="text" name="name"><br>
  username<br><input type="text" name="username"><br>
  password<br><input type="password" name="password"><br>
  <input type="submit" name="Submit">
</form>