<h3>Sign up to Chitter</h3>
<form action='/signup' method='post'>
  <p>
    <input type='text' name='firstname' placeholder='First Name'>
  </p>
  <p>
   <input type='text' name='surname' placeholder='Last Name'>
  </p>
  <p>
    <input type='text' name='username' placeholder='Username'>
  </p>
  <p>
    <input type='email' name='email' placeholder='Email'>
  </p>
  <p>
    <input type='password' name='password' placeholder='Password'>
  </p>
  <p>
    <input type='submit' value='Sign up'>
  </p>
</form>