<form action="/create_user" style="text-align:center; font-family:verdana">
  <h3>Name</h3>
  <input type="text" name="name">
  <h3>Username</h3>
  <input type="text" name="user">
  <h3>Email</h3>
  <input type="text" name="email">
  <h3>Password</h3>
  <input type="text" name="password">
  <br><br><br>
  <input type="submit" value="Sign up" style="text-align:center; font-family:verdana">
</form>