<form action='/register' method='post'>
<input type='text' name='name' placeholder='Please type your name'>
<input type='text' name='username' placeholder='Please type your username'>
<input type='email' name='email' placeholder='Please type your email'>
<input type='password' name='password' placeholder='Please type your password'>
<input type='submit' value='Register'>
</form>
