<!DOCTYPE html>

<html>
  <head>
    <title>Signup</title>
    <a href='/'>Home</a><br>
    <br>
    <a href='/login'>Log in</a><br>
    <h1>Fill in this form to create an account</h1><br>
  </head>
  <body>
    <form action="/signup" method="POST">

      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>

      <label for="email">Email Address:</label><br>
      <input type="text" id="email" name="email"><br>

      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password"><br>

      <input type="submit" value="Submit">
    </form>
  </body>


</html>