<h1> Please Register your details below </h1>


<form action="/sign_up_confirmation" method="post">
  Name:           <input type="text" name="name" required>
  Username:       <input type="text" name="username" required>
  Email Address:  <input type="email" name="email" required>
  Password:       <input type="password" name="password" required>
                  <input type="submit" value="Register">
</form>

<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
