<html>
  <head></head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/signup">Signup here</a>
      </nav>
    </header>
    <h1>CHITTER</h1>
    <h2>Sign up failed</h2>
    <p>Email already in use. Please login instead!</p>
    <h3>Login</h3>
    <form action="/loginattempt" method="POST">
      <label for="user_name">User name:<label><input type="text" name="user_name">
      <label for="password">Password:<label><input type="text" name="password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>