<h1>Sign up</h1>

<form action="/signup" method="post">
    Username: <input type="text" name="username" placeholder="username" /> <br />
    Name: <input type="text" name="name" placeholder="name" /> <br />
    Email: <input type="text" name="email" placeholder="email" /> <br />
    Password: <input type="password" name="password" placeholder="password"/> <br />
    <input class="button" type="submit" value="Submit">
</form>
