Sign up to Chitter
<form action='sign_up' method="post">
  <input type="text" name="name" />
  <input type="email" name="email" />
  <input type="text" name="handle" />
  <input type ="password" name="password" />
</form>
