<h3>** Want to join the Chitter gang? **</h3>
<form action="/add_peeper" method="post">
  <label for="name">
  <input type="text" name="name" placeholder="Your full name">
  </label>
  <br>
  <label for="username">
  <input type="text" name="username" placeholder="Username">
  </label>
  <br>
  <label for="email">
  <input type="text" name="email" placeholder="Email">
  </label>
  <br>
  <label for="password">
  <input type="text" name="password" placeholder="Password">
  </label>
  <br>
  <input type="submit" value='Submit'>
  </form>
