<!doctype html>
<html>
<form action="/signup" method="post">
  <label for="email">Email:</label>
  <div><input type="text" name="email"></div>

  <label for="password">Password:</label>
  <div><input type="password" name="password"></div>

  <label for="name">Name:</label>
  <div><input type="text" name="name"></div>

  <label for="username">Username:</label>
  <div><input type="text" name="username"></div>

  <input style = "margin-top: 1em" class = "btn btn-dark" type="submit" value="Sign up">
</form>
</html>
