<h1>Sign in here!</h1>
<h2>
  <% if @login_error != nil %>
    <%= @login_error %>
  <% end %>
</h2>
<form action="/signin" method="post">
  Email
  <input type="text" name="email">
  Password
  <input type="text" name="password">
  <input type="submit" value ="Log In">
</form>
<ul>