<link rel="stylesheet" type='text/css' href="../style.css">

<div class="container">

  <h1>CHITTER</h1>

  <p>Sign up failed, invalid email address.</p>
  <p>Please <a href="/sign_up">try again</a> with a different email address.</p>

</div>
