<h1>Welcome to Chitter</h1>
<h2>Sign in to Chitter</h2>

<form action="/sign_in" method="post">
  <input type="email" name="email" placeholder="Enter email">
  <input type="password" name="password" placeholder="Enter password">
  <input type="submit" value="Submit">
</form>
