<head>
<title>Page Title</title>
</head>
<body>
<h1>Sign up by providing a valid email address</h1>
</body>
  <form method="post" action="/signed_up?">
    <input type="text" name="email"/>
    <input type="submit" value="Sign up"/>
  </form>
</html>