<!-- ./views/signup.erb-->

<div class="signup">
<form action='/signup' method='post'>
  <label for="new_user">Become a peeper! Sign up:</label><br>
  <input type="text" name="new_user" id="new_user" /><br>
  <input type="submit" value="Sign up!">
</form>
</div>
