<form action='/sign_up' method='post'>
  <input type='email' name='email'>
  <input type='password' name='password'>
  <input type='text' name='username'>
  <input type='submit' name='submit'>
</form>