<h1> CHITTER </h1>

<p> Fill this form to sign-up! </p> 
<p> Already have an account? <a href="/log-in"> log-in </a> </p>
<p> <form action="/users" method="POST"> <p>
<p> Name: <input type="text" name="name"> </p>
<p> Username: <input type="text" name="username"> </p>
<p> Email: <input type="text" name="email"> </p>
<p> Password: <input type="password" name="password"> </p>
<p> <input type="submit" value="sign-up"> </p>