<div>
  <h1 class="largeHeader">Sign up</h1>

  <form action="/chitter/sign-up" method="POST">

    <label for="name">Full name</label><br>
    <input id="name" name="name" type="text"><br>

    <label for="username">Username</label><br>
    <input id="username" name="username" type="text"><br>

    <label for="email">Email</label><br>
    <input id="email" name="email" type="text"><br>

    <label for="password">Password</label><br>
    <input id="password" name="password" type="text"><br><br>

    <input type="submit" value="Create account">
  </form>
</div>

<!-- CREATE TABLE users(id SERIAL PRIMARY KEY, name TEXT NOT NULL, username TEXT NOT NULL, email TEXT NOT NULL, password TEXT NOT NULL); -->
