<h1> Give us your data </h1>

<form action='/newsignup' method='post'>
  <label for='email'>Email</label>
  <input type='text' name='email' placeholder='Email'>
  <br>
  <label for='password'>Password</label>
  <input type='text' name='password' placeholder='Password'>
  <br>
  <label for='name'>Name</label>
  <input type='text' name='name' placeholder='Name'>
  <br>
  <label for='handle'>Unique Username</label>
  <input type='text' name='handle' placeholder='Unique Username'>
  <br>
  <button type='submit' name='Sign Up'>Sign Up</button>
</form>

<h3>
  <%= flash[:notice] %>
</h3>
