<h2>Create your account</h2>

<div class="">
  <form class="" action="/signup" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="last_name" placeholder=" Last Name">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Choose password">
    <input type="submit" value="Submit">
  </form>
</div>
