<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  <title>Register</title>
  <style>

  </style>
  </head>
  <body id="background" style="background-color: #00aced">
    <br>
    <section class="col-md-4 mx-auto card">
      <br>
      <form action="/storage_users" method="post" >
        <div class="form-group">
          <h2>See what’s happening in the world right now</h2>
            <br>
          <input type="text" name="your_email" class="form-control" placeholder="Your email">
        </div>
        <div class="form-group">
          <input type="password" name="your_password" class="form-control" placeholder="Your password">
        </div>
          <p><b>Join Chitter today</b></p>
          <input type="submit" value="Sign up" class="btn btn-outline-primary btn-lg btn-block">
        <br>
      </form>
    </section>
  </body>
</html>
