<h1>Hello <%=@name %></h1>
<div>
  <form method=post action=/new_peep>
    <input type="text" name="peep">
    <input type="submit" value="Post">
  </form>
</div>

<div>
<p>This is my first ever peep!<p>
</div>
