<h1> Create an account: </h1>

<form action="/homepage" method="post">
  <input type="text" name="name" placeholder="Full Name"/><br>
  <input type="text" name="username" placeholder="User Name"/><br>
  <input type="text" name="email" placeholder="Email"/><br>
  <input type="text" name="password" placeholder="Password"/><br>
  <input type="submit" name="submit" value="Submit"/>
</form>
