<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <li>
    <h1>Chitter</h1>
      <div class='links'>
        <a href="/">Back to home</a>
      </div>
    <h2>Sign up</h2>
        <form action="/signup" method="POST">
          <div class='peeps'>
            <b><label>Name:</label></b>
            <input type="text" name="name" maxlength="30" required><br /><br />
             <b><label>Email:</label></b>
            <input type="text" name="email" maxlength="30" required><br /><br />
             <b><label>Password:</label></b>
            <input type="password" name="password" maxlength="8" required><br /><br />
             <b><label>Username:</label></b>
            <input type="text" name="username" maxlength="12" required><br /><br />
            <input type="submit" class='button'>
          </div>  
        <p><%= @signup_error_message%></p> 
      </form>
  </body>
</html>