<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chitter</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link rel="icon" href="img/favicon-32x32.png">
</head>
<body>

  <h1>Chitter</h1>

  <section id="signup-form">
    <p>Name, Username, Email, Password</p>
  </section>
</body>
</html>
