<h1> Sign up to Chitter </h1>

<form action='/peeps' method= 'post'>
  <input type='text' name='name' placeholder='Name'>
  <br>
  <input type='text' name='username' placeholder='Username'>
  <br>
  <input type='text' name='email' placeholder='Email'>
  <br>
  <input type='text' name='password' placeholder='Password'>
  <br>
  <input type='submit' name='sign_up' value='Sign Up'>
</form>
