
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    .red{ color: rgb(255,0,0) }
  </style>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-2 fa fa-comments red"></h1>
          <h2 class="display-4">ChitterBox</h2>
          <p class="lead">Responsive chat app using using bootstrap, sinatra and Postgres for DB.</p>
        </div>
      </div>

      <h1 class="h3 mb-3 font-weight-normal text-center">Sign up to chat</h1>
      <form class="peep-box text" action="/signup" method="post">
        <div class="row">
          <div class="form-group col-6">
          <input type="text" class="form-control" name="txt_first_name" id='txt_first_name' placeholder="First Name" required>
          </div>

          <div class="form-group col-6">
          <input type="text" class="form-control" name="txt_last_name" id='txt_last_name' placeholder="Last Name" required>
          </div>
        </div>


        <div class="row form-group col-12">
        <input type="email" class="form-control" name="txt_email" id='txt_email' placeholder="email@example.com" required>
        </div>
        <div class="row">
          <div class="form-group col-6">
          <input type="text" class="form-control" name="txt_username" id='txt_username' placeholder="Username" required>
          </div>

          <div class="form-group col-6">
          <input type="password" class="form-control" name="txt_pwd" id='txt_pwd' placeholder="Password" required>
          </div>
        </div>

        <b style = "color: rgb(100,24,17)"><%= styled_flash %></b>

        <div class="form-group">
          <button class=" btn btn-primary float-right" type="submit" id="btn_signup" value='btn_signup'>Sign up</button>
          <span class= "float-left"><small>Already signed up? <a href="/"><strong>Log in</strong></a></small></span>

        </div>

      </form>


    </div> <!-- container -->

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
