<html>
    <head>
    <link rel="stylesheet" type="text/css" href="style.css?version=1" />
    <link rel="shortcut icon" type="image/x-icon" href="lo.png?version=1">
    <title>Signup</title>
    </head>
    <body>
      <h1><a href='/'>Twitter: </a></h1><br>
        <form method="POST" action="/signup">
        <div>
          <label>Name</label><br>
          <input type="text" id='name' name="name" maxlength="10" placeholder='harith' /><br>
        </div>
        <br>
        <div>
          <label>Username</label><br>
          <input type="text" id='username' name="username" maxlength="10" placeholder='drake'/><br>
        </div>
        <br>
        <div>
          <label>Email Address</label><br>
          <input type="email" id='email' name="email" maxlength="20" placeholder='harith@gmail.com' /><br>
        </div>
        <br>
        <div>
          <label>Password</label><br>
          <input type="password" id='password' name="password"  maxlength="10" placeholder='pass123'/><br>
        </div>
        <div>
        <br>
          <input type="submit" value="Signup" /><br>
    </body>
</html>