Please enter your username and password
<form action="/sign_in" method="post">
  <p>Username:</p>
  <input type="text" placeholder="Username" name="username"><br>
  <p>Password:</p>
  <input type="password" placeholder="**********" name="password"><br>
  <input type="submit" value="Submit">
</form>
</div>
