<h2>Create your account</h2>
<form method="post" action="signup">
  <label for="name">Enter your name:</label>
  <br>
  <input type="name" name="name">
  <br>
  <label for="name">Enter your email:</label>
  <br>
  <input type="email" name="email">
  <br>
  <label for="password">Enter your password:</label>
  <br>
  <input type="password" name="password">
  <br>
  <label for="dob">Enter your date of birth:</label>
  <br>
  <input type="date" name="dob">
  <br>
  <input type="submit" value="Sign Up" style="margin: 10px;">
</form>
