<form action="/signup" method="post">
  <h3>Sign up to use Chitter</h3>
  <label for="username">
    <h4>User name: </h4>
  </label>
  <input type="text" name="username">
  <label for="password">
    <h4>Password: </h4>
  </label>
  <input type="text" name="password">
  <input type="submit" value="Sign up">
</form>
