<form action='/users/' method='post'>
<label for="username">username</label>
<input type='text' name='username'>
<label for="password">password</label>
<input type='text' name='password'>
<label for="email address">email address</label>
<input type='text' name='email address'>
<label for="name">full name</label>
<input type='text' name='name'>
<input type="submit" value="submit">
</form>