<link rel="stylesheet" href="/style.css">
<!DOCTYPE html>
<html>
<head>
  <title>CHITTER :: New User</title>
</head>
<body>
    <div id = "new_user_heading"
      <h3>
        Sign up to post a Peep!
      </h3>
    </div>
  <div id = "new_user">
    <form action='/users' method='post'>
      <label for='name'>Name:</label>
      <input type='text' name='name'>
      <label for='email'>Email:</label>
      <input type='text' name='email'>
      <label for='password'>Password:</label>
      <input type='text' name='password'>
      <input type='submit' value='Go' name='go'>
    </form>
  </div>
</body>
