<form method="POST" action="/users/create">

<h1>Welcome to Chitter</h1>
  <h2>Sign up to post and view peeps</h2>

    <div>
      <label>Email addess:</label>
      <input type="text" name="message" />
    </div>

    <div>
      <label>Password:</label>
      <input type="text" name="password" />
    <div>

      <input type="submit" />

</form>