<form action='/peep/sign_up' method='post'>
  <input type='text' placeholder='username' name='username'/>
  <input type='text' placeholder='name' name='name'/>
  <input type='password' placeholder='password' name='password'/>
  <input type='text' placeholder='email' name='email'/>
  <input type='submit' name='sign_up' value='Sign Up'/>
</form>
