<body>
  <h1>- Chitter -</h1>
  <h2>Sign up</h2>
  <form class="add_form" action="/sign-up" method="post">
  <div>
    <input type="text" name="name" placeholder="Name" value="<%if @user%><%=@user.first_name%><%end%>" >
  </div>
  <div>
    <input type="text" name="user_name" placeholder="User Name" value="<%if @user%><%=@user.last_name%><%end%>">
  </div>
  <div>

    <input type="email" name="email" placeholder="Email" value="<%if @user%><%=@user.email%><%end%>">

  </div>
    <div>
    <input type="password" name="password" placeholder="Password">
  </div>
    <div>
    <input type="password" name="password_confirmation" placeholder="Write Password Again">
  </div>

  <div>
    <input type="submit" value="Sign up">
  </div>

  </form>
</body>