<div>
  <form action='/login/process/' method=post>
    <input type='text' name='email'>
    <input type='password' name='password'>
    <input type='submit' value='Log In'>
  </form>
  <form action='/signup/'>
    <input type='submit' value='Sign Up'>
  </form>
</div>
