<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter - Sign Up</title>
  </head>
  <body>
    <h1><%= styled_flash %></h1>
    <form action="/users" method="POST">
      <input type="email" name="email" placeholder="Enter your email" required>
      <input type="text" name="name" placeholder="Enter your name" required>
      <input type="text" name="handle" placeholder="Choose a Chitter handle" required>
      <input type="password" name="password" placeholder="Enter a password" required>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
