<!DOCTYPE html>
<html>
  <head>
    <title>Chitter - Sign up</title>
  </head>
  <body>
    <div class="sign_up_form">
      <form action="/store_sign_up" method="post">
        <input type="text" name="firstname" placeholder="Please enter your first name">
        <input type="text" name="surname" placeholder="Please enter your surname">
        <input type="text" name="email" placeholder="Please enter your email address">
        <input type="text" name="password" placeholder="Please choose a secure password">
        <input type="submit" name="confirm" value="Confirm">
      </form>
    </div>
  </body>
</html>
