<div>
  <% if session[:correct_log_in_details] == false %>
    <p>Incorrect log in details</p>
    <% session[:correct_log_in_details] == nil %>
  <% end %>
  <form action='/login/process/' method=post>
    <input type='text' name='email'>
    <input type='password' name='password'>
    <input type='submit' value='Log In'>
  </form>
  <form action='/signup/'>
    <input type='submit' value='Sign Up'>
  </form>
</div>
