<div class="nav_bar">
</div>

<h1>sign in to chitter</h1>

<form action="/sign-in" method="post">
  <input type="text" name="username" placeholder="username"></input>
  <input type="password" name="password" placeholder="password"></input>
  <input type="submit" value="Sign In">
</form>