<body style="background-color:honeydew;">
  
  <header>
  <h4 style="font-family:verdana"> Sign up and write your own peep below and see it on the feed. </h4>
  <h4 style="font-family:verdana"> There is a 100 character limit however :) </h4>
  </header>

  <form action="/user" method="post">
    <p>
      <label style="font-family:verdana" for="username">Enter your name </label>
      <input type="text" name="username">
    </p>
    <p>
      <label style="font-family:verdana" for="peep">Enter your first peep</label>
      <input type="text" size="60" name="peep">
      <input type=submit style="font-family:verdana" value="Submit">
    </p>
  </form>

  <p>
    <form action="/">
      <input style="font-family:verdana" type=submit value="Return to Homepage">
    </form>
  <p>

</body>
