<ul style="list-style-type:none">
  <form action="/peeps" method="post">
    <li for="first_name">
      first name
      <input type="text" name="first_name">
    </li>
    <li for="last_name">
      last name
      <input type="text" name="last_name">
    </li>
    <li for="email">
      email
      <input type="text" name="email">
    <li for="user_password">
      passsword
      <input type="password" name="user_password" maxlength ="20" Minlength ="8">
    </li>
      <input type="submit" value="get chitting">
  </form>
</ul>
