<form action="/home/:id" method="post">
  <input type="text" name="enter_name" placeholder="Name" required>
  <input type="text" name="enter_email" placeholder="Email" required>
  <input type="submit" name="sign_up" value="Sign up">
</form>