<!DOCTYPE html>
<html>
    <head>
        <title>CHITTER</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class='signup_done'>
          <p>SIGNUP SUCCESSFULLY COMPLETE!</p>
          <p>Please Login</p>
        </div>
        <div class='login_link'>
          <a class='button' href="/login"> LOGIN </a>
        </div>
    </body>
</html>