
<style> body {
  background-image : url("https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg");
  background-position : center;
  background-repeat : no - repeat;
  background-size : cover;
  font-family : Helvetica;
  color: white;
  text-align : center;
}
h2 {
  margin - top : 80 px;
  font - size : 50;
}
</style>
<body>
<h2>Please sing up to Chitter here: <h2>
<form action='/users' method='post'>
<input type='text' name='email' placeholder="your email here">
<input type='password' name="password" placeholder='password'>
<input type='submit' value='Sign up'>
</form>
</body>