<html>

  <head>
  </head>

  <body>
    <center>
        <h1>Sorry, that username already exists!</h1>
        <p>
          <a href="/sign-up">Back to sign-up</a>
        </p>
        <p>
          <a href="/">Back to homepage</a>
        </p>
    </center>
  </body>

</html>
