<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sorry, your details were not recognised</h1>
    <h1>Please sign up to Chitter</h1>
    <form action="new-user" method="post">
      <h2>Name: </h2><input type="text" name="name"/>
      <h2>Username: </h2><input type="text" name="username"/>
      <h2>Email: </h2><input type="text" name="email"/>
      <h2>Password: </h2><input type="text" name="password"/>
      <input type="submit", value="Sign Up!"/>
    </form>
  </body>
</html>
