<h1>What's on your mind?</h1>
<form action='/status' method='post'>
  <textarea rows="4" cols="50" placeholder='Enter your thoughts here!!' name='status'></textarea>
  <label for="author">Author:</label>
  <input id="author" type='text' placeholder='author' name='author' required>
  <input type='submit' value='submit'>
</form>