  #myHeader {
  background-color: #0E4742;
  color: #F4FAFF;
  padding: 20px;
  text-align: center;
  }
  #peep {
    background-color: #25A2E2;
    color: #F4FAFF;
    padding: 30px;
    text-align: center;
    margin: auto
  }

  #time {
    background-color: #1C81A8;
    color: #F4FAFF;
    padding: 10px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  #newPeep {
    background-color: #BA2D0B;
    color: #F4FAFF;
    padding: 10px;
    text-align: center;
  }
