<html>
<div><head>Succesfully signed up!</head></div>
<div>
<body>  <h1>You are signed in as <%=@user.username%> </h1>
        <h1><br>Your unique user ID is <%=@ID%>, use this when making a post! </h1>
  <a href="/">Return home</a>
</body>
</div>
</html>