<html>
  <head> 
     <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <h1>Chitter</h1>
    <h2>Thanks for creating an account with Chitter <%= @user.username %>!</h2>
    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>