<html>
  <head></head>
  <body>
    <h1> Chitter </h1>
      <h2><p>Welcome back <%= @name %> !</p></h2>
      <h4><a href="/<%= @username %>">return to homepage</a></h4>
      <button onclick="location.href='/'"> Sign out </button>
  </body>
</html>