<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="/stylesheets/site.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<header class="nav">
  <div class="navHome"><a href="/"><img src="" />Home</a></div>
  <div class="navHome"><a href="/peep-form">Add</a></div>
  <div class="navSignUp"><a href="/sign-up">Sign up</a></div>
</header>
<body>
  <div class="innerBody">
    <h2>Peep Board</h2>

    <div class="blockContainer">
      <div class="blockHeader">
        <h3>Peeps</h3>
      </div>
        <h1>Welcome aboard!</h1>
        <h3>Hi <%= @users_name%>, you're now a member of Chitter!</h3>
    </div>
  </div>
</body>
<footer>
  <p>© 2019 Megan Goode</p>
</footer>
