<!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/success.css') %>" rel="stylesheet" type="text/css" />
    <title>Welcome to Chitter!</title>
  </head>

  <body>
     <div id='form-container'>
      <div id='image_logo'>
      </div>

      <h2>You have signed up successfully</h2>
      <form action='/' method='get'>
        <input type='submit' value='Sign in'class='button'>
      </form>
    </div>
  </body>
</html>