<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<h1> You've successfully created your account - please now log in! </h1>
<form action="/chitter/homepage" method="get">
  <input type="submit" value="Back to home" />
</form>