<h2><center><%= @user.realname %> <%= @user.lastname %> signed up as <%= @user.username %></center></h2>
<br>
<div><center>
<form action='/messages'>
  <button>Back to Chitter</button>
</form>
</center>
</div>
