<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Chitter</title>
  </head>
  <body>
    <form action="/" method="get">
      <button type="submit">Go Back</button>
    </form>
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
      <div class="container">
        <label for="name">Name</label>
        <input type="text" placeholder="Enter Fullname" name="name" required>
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Create Account</button>
        <p>Details Taken</p>
      </div>
    </form>
  </body>
</html>