<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <!-- Custom styles -->
  <link rel="stylesheet" href="css/style.css">
  <title>Chitterbox</title>
</head>
<body>
  <div class="container">
    <%= @page %>
  </div>
</body>
</html>
