<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SHOUTER</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya:700|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="/css/main_other.css">
    <!-- <link rel="stylesheet" href="css/application.css"> -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/application.js"></script> -->

  </head>

  <body class="container">

    <header>
    </header>

    <main>

    </main>

    <footer>
    </footer>
  </body>
</html>
