<html>

  <link href="<%= url('/styles2.css') %>" rel="stylesheet" type="text/css" />
    
    <div class="container mb80">
      
      <div class="page-timeline">
      
            <div class="vtimeline-point">
                <div class="vtimeline-icon">
                    <i class="fa fa-image"></i>
                </div>
                <div class="vtimeline-block">
                    <span class="vtimeline-date">June 25, 2020</span><div class="vtimeline-content">
                        
                        <a href="#"><h3>Standard post title</h3></a>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">John Doe</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">25 June 2020</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                            </li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                        </p><br>
                        <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>