<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <% # bootstrap %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <header>
        <div class="bg-dark" id="navbarHeader"> 
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 py-4 d-flex justify-content-between">
                        <h4 class="text-white">Chitter</h4>
                        <div class="mr">
                            <p><a href="login">Login</a> | <a href="/">Home</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main" class="site-main main">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="container container--xs">
                        <div class="woocommerce">
                            <div id="signup_div_wrapper">
                                <h1 class="mb-1 text-center">Sign up</h1>
                                <form method="post" class="register">
                                    <p class="woocommerce-FormRow woocommerce-FormRow--first form-row form-row-first">
                                        <label for="reg_sr_firstname">First Name <span class="required">*</span></label>
                                        <input type="text"
                                            class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                            name="sr_firstname" id="reg_sr_firstname" value="" required="">
                                    <div class="invalid-feedback">This field is required</div>
                                    </p>

                                    <p class="woocommerce-FormRow woocommerce-FormRow--last form-row form-row-last">
                                        <label for="reg_sr_lastname">Last Name <span class="required">*</span></label>
                                        <input type="text"
                                            class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                            name="sr_lastname" id="reg_sr_lastname" value="" required="">
                                    <div class="invalid-feedback">This field is required</div>
                                    </p>


                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label for="reg_email">Email address <span class="required">*</span></label>
                                        <input type="email"
                                            class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                            name="email" id="reg_email" value="" required="">
                                    <div class="invalid-feedback">This field is required</div>
                                    </p>


                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label for="reg_password">Password <span class="required">*</span></label>
                                        <input type="password"
                                            class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                            name="password" id="reg_password" required="">
                                    <div class="invalid-feedback">This field is required</div>
                                    </p>


                                    <!-- Spam Trap -->
                                    <div style="left: -999em; position: absolute;"><label
                                            for="trap">Anti-spam</label><input type="text" name="email_2" id="trap"
                                            tabindex="-1" autocomplete="off"></div>




                                    <p class="form-row form-row-wide mailchimp-newsletter"><input
                                            class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox"
                                            id="mailchimp_woocommerce_newsletter" type="checkbox"
                                            name="mailchimp_woocommerce_newsletter" value="1" checked="checked"> <label
                                            for="mailchimp_woocommerce_newsletter"
                                            class="woocommerce-form__label woocommerce-form__label-for-checkbox inline"><span>Subscribe
                                                for Sales &amp; New Themes</span></label>
                                    <div class="invalid-feedback">This field is required</div>
                                    </p>
                                    <div class="clear"></div>
                                    <div class="woocommerce-privacy-policy-text"></div>
                                    <p class="woocomerce-FormRow form-row">
                                        <input type="hidden" id="woocommerce-register-nonce"
                                            name="woocommerce-register-nonce" value="df86d1439e"><input type="hidden"
                                            name="_wp_http_referer" value="/my-account/"> <input type="submit"
                                            class="btn btn-brand btn-block btn-lg mb-4 mt-3" style="margin:0;"
                                            name="register" value="Sign Up">
                                    <div class="invalid-feedback">This field is required</div>
                                    </p>


                                </form>

                                <p class="text-gray-soft text-center small mb-2">By clicking "Sign up" you agree to our
                                    <a href="https://themes.getbootstrap.com/terms">Terms of Service</a>.</p>
                                <p class="text-gray-soft text-center small mb-2">Already have an account? <a
                                        href="https://themes.getbootstrap.com/signin/">Sign in</a></p>
                                <p class="text-gray-soft text-center small">Trying to sign up to sell themes? <a
                                        href="https://themes.getbootstrap.com/sell/">Apply to be a seller.</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>