  <nav>
    <div>
      <% if settings.logged == true %>
        <p><a href="/peeps/new">Add Peep</a></p>
      <% end %>
      <p><a href="/register/new">Register</a></p>
      <p><a href="/login/form">Log in</a></p>
      <p>Log out</p>
    </div>
  </nav>

  <h3><%= settings.message %></h3>

    <nav class="navbar">
      <div class="container">

        <div class="logo">Flexbox</div>
        
        <ul class="nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>

      </div>
    </nav>