<style>
  body {
    color: purple
  }
</style>

<h1 style='font-family:Trebuchet MS'> Chitter™ <h1>
<h2 style='font-family:Trebuchet MS'> Timeline </h2>
<ul id='peeps'>
  <% @peeps.reverse.each { |peep| %>
    <li> <%= "#{peep.content}" %> <p style='color:grey'> <%="#{peep.date_created}"%> </p> </li>
  <% } %>
</ul>
<form action='addpeep' method='post'>
  <p> What's on your mind? </p>
  <input style='height:72px;width:300px;padding-bottom:52px;color:purple' text='text' name='peep' placeholder="Today I...">
  <br>
  <input type='submit' value='peep' style='background-color:purple;color:white'>
</form>
