<style>
  body {
    background-color: rgba(0, 0, 255, 0.3);
  }
  h2 {
    text-align: center;
  }
</style>

<h2> Your Chitter Timeline </h2>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
