<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter Timeline</title>
</head>
<body>
  <h1>Chitter Timeline</h1>
  <p>Welcome Back <%= session[:user].username %></p>
  <ul>
    <% @peeps.each do |peep| %>
      <li>
         <p><% @user = User.find(peep.user_id) %>
         <%= @user.username %><br>
        <p><%= peep.text %><br>
        Chitted at: <%= peep.created_at %></p>
      </li>
    <% end %>
  </ul>
</form>
<form action="/timeline/new" method="post">
  <input type="text" name="text" placeholder="Peep Here!" />
  <input type="submit" value="Submit" />
</form>
</body>
</html>