<html>
  <head></head>

  <%# If logged in %>
  </form>
      <% if session[:user_id] %>
      <form action="/logout" method="post">
      <p>Log-out here:
        <button type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
      </p>
    </form>
      <% end %>

      </form>
      <% if session[:user_id] %>
      <form action="/peep/new" method="get">
      <p>Post a Peep:
        <button type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> New Peep
        </button>
      </p>
    </form>
      <% end %>

  <%# If not logged in  %>

  <body>
    <h1>_Chitter Timeline_</h1>

    <% @timeline.each do |message| %>
       <div style="padding-top: 20px;"> 
        <%= "Peep from: #{@user_repo.find_by_id(message.id).username}" %>  
       <p> <%= "Time: #{message.time_posted}" %> </p>
       <p> <%= "#{message.content}" %></p>
      </div>
    <% end %>

  
</html>