<style>
  body {
    color: purple
  }
</style>

<h1 style='font-family:Trebuchet MS'> Chitter™ <h1>
<h2 style='font-family:Trebuchet MS'> Timeline </h2>
<% if !@user.nil? %>
<h4> Hello <%="#{@user.username}"%> </h4>
<% end %>
<ul id='peeps'>
  <% @peeps.reverse.each { |peep| %>
    <li> <b> <%= "#{(User.first(id: peep.user_id)).username}" %> </b> <br> <%= "#{peep.content}" %> <br> <tag style='color:grey'> <%="#{peep.date_created}"%> </tag> <br><br> </li>
  <% } %>
</ul>
<% if !@user.nil? %>
<form action='addpeep' method='post'>
  <p> What's on your mind? </p>
  <textarea style='color:purple' cols="50" rows="4" value="peep" name="peep"></textarea>
  <br>
  <input type='submit' value='peep' style='background-color:purple;color:white'>
</form>
<form action='logged_out' method='post'>
  <input type='submit' value='Logout' style='background-color:purple;color:white'>
</form>
<% end %>
