<h1 id="title">
  <img class="kitter" src="<%=url("/images/kitter.png")%>" style="width:100px;height:120px;">
    Welcome to Chitter!
  <img class="kitter" src="<%=url("/images/kitter.png")%>" style="width:100px;height:120px;">
  </h1>
  <h2><center><font face="monospace">
    Let your fellow makers know what's up!
    </font></center></h2>
  <hr>
  <div>
