<h1 id="title">
  <img src="<%=url("https://cdn1.vectorstock.com/i/1000x1000/30/00/gray-cat-kitten-cute-cartoon-kitty-character-vector-18803000.jpg")%>">
    Welcome to Chitter!
    <img  src="<%=url("https://cdn1.vectorstock.com/i/1000x1000/30/00/gray-cat-kitten-cute-cartoon-kitty-character-vector-18803000.jpg")%>">
  </h1>
  <h2><center><font face="monospace">
    Let your fellow makers know what's up!
    </font></center></h2>
  <hr>
  <div>
