<div style='padding: 2em'>
  <h2>Your Tweets</h2>
    <form action="/reverse" action="get">
      <input type="submit" value="Sort By Oldest"></input>
    </form>
    <form action="/tweets" action="get">
      <input type="submit" value="Sort By Newest"></input>
    </form>
  <div class=tweet-collection>
  <ul>
    <% @tweets.each do |entry| %>
        <li class="tweet-content"> <%= entry.tweet%></li>
    <% end %>
  </ul>
  </div>
  <a href="/">
    <input type="button" value="Go back"></input>
  </a>
</div>
