<html>
  <body>
    <ul>
      <li>
        <% $goliath.map do |tweet| %>
          <%= "#{tweet}" %> 
        <% end %>
      </li>
    </ul>

    <form action='/home' method='get'>
      <input type='submit' value='Add tweet'>
    </form>
  </body>
</html>
    