<html>
  <body>
    <ul>
      <% if @user %>
      <h2> What is on your mind <%= @user.name %>?</h2>
      <% end %>
      <form action='/new_tweet' method='post'>
        <input type='text' name='new_tweet'>
        <input type='submit' value='Tweet'>
      </form>
      
          <% @goliath.map do |input| %>
            <li class='tweet' >
              <a> 
                <%= input.created_at %>
                <%= input.tweet %> 
              </a>
                <form action="/tweet/<%= input.id %>/delete" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type='submit' value='delete'>
                </form>
            </li>
          <% end %>
    </ul>

  </body>
</html>
    