<html>
  <head></head>

  <body>
    <h1>Post a new peep</h1>

    <div>You must be logged in to post a peep</div>
    <div><a href="/login">Log in here</a></div>
    <div><a href="/peeps">Return to home page</a></div>
  </body>
</html>