<html>
  <head></head>
  <body>
    <h1>Sorry!</h1>
    <div>This user (<%= @username %>) does not exist...</div>
    <div>Please sign up first</div>
    <div>Or return to the home page</div>
  </body>
</html>