<html>
  <head></head>
  <body>
    <h1>Sorry!</h1>
    <div>This user (<%= @username %>) does not exist...</div>
    <div>Please <a href="/new_user">sign up</a> first</div>
    <div>Or return to the <a href="/">home page</a></div>
  </body>
</html>