<h1>Login failed - please try again and log in below</h1>
<form action="/chitter/validation" method="post">
  <input type="text" name="username" />
  <input type="text" name="password" />
  <input type="submit" value="Submit" />
</form>

<h1> Or create an account: </h1>
<form action="/chitter/create_account" method="get">
  <input type="submit" value="Submit" />
</form>