<html>
  <head>
    <title>Update account</title>
  </head>
  <body>
    <h1>Update your account details</h1>
    <form method="POST" action="/update_details">
    <div>
      <label>New Name:</label>
      <input type="text" name="name" autocomplete="off"/>
    </div>
      <input type="submit"/>
    </form>
  </body>
</html>