<html>
  <head>
    <title>Update Successful</title>
  </head>
  <body>
    <h1>Name successfully updated</h1>
    <div>
      <p>You have updated your name to <%= @new_name %></p>
    </div>
    <div>
      <a href="/userpage">Your account</a>
    </div>
  </body>
</html>