<html>
  <head>
    <title>Update</title>
  </head>
  <body>
    <h1>Unable to update your details</h1>
    <div>
      <p>To update your account details you must be logged in</p>
    </div>
    <div>
      <a href="/loginpage">Login page</a>
    </div>
  </body>
</html>