<html>
  <head></head>
  <body>
    <h1>Sign up complete!</h1>
    <div>Now you're all ready to start sharing fascinating peeps</div>
    <div>Now <a href="/login">login here</a> to make your first peep</div>
    <div>Or return to the <a href="/">home page</a></div>
  </body>
</html>