<center>
<form action="/users" method="post"><br><br>
  <input type="email" name="email" placeholder="Email" /><br><br>
  <input type="password" name="password" placeholder="Password"/><br><br>
  <input type="submit" value="Sign up" />
</form>
</center>