<body style="background-color:honeydew;">

<h2> Welcome  <%=@username %></h2>

Below is your feed, if you have just signed up it may be empty. 

If you feel like you have something to say. 

<input type="text">

</body>