<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/beets">Bitter!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/beets">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

        <% if session[:logged_in] %>
          <li class="nav-item float-left">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        <% end %>

        </ul>
      </div>
    </nav> 

  <div class="text-center bg-light justify-content-center">
    <div class="login-form">
        <form class= "col-6" action="/users/new" method="post">
        <h2 class="text-center" >Sign Up!</h2>

          <div class="form-group">
            <label for="first_name" class="">First Name: </label>
            <input type="text" class="float-right" name="first_name" placeholder="Enter First Name">
          </div>

          <div class="form-group">
            <label for="last_name" class="">Last Name: </label>
            <input type="text" class="float-right" name="last_name" placeholder="Enter Last Name">
          </div>

          <div class="form-group">
            <label for="bitter_handle" class="">First Name: </label>
            <input type="text" class="float-right" name="bitter_handle" placeholder="Enter First Name">
          </div>

          <div class="form-group">
            <label for="email" class="">Email: </label>
            <input type="email" class="float-right" class="form-control-md" name="email" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="password" class="">Password</label>
            <input type="password" class="float-right" name="password" placeholder="Enter password">
          </div>

          <div class="form-group">
            <button class ="btn btn-warning" type="submit" value="submit">Submit</button>
          </div>

        </form> 
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>