<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("./user.css")%>">
  <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
</head>

<body>
<% require './lib/user_posts' %>
<% require './lib/New_user' %>

# fixed  header
<div class="navbar">
  <a href="#home">Chitter</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <form id = "sign-out-form" action="/sessions/destroy" method="post">
    <input id = "logoffbtn"type="submit" value="Sign out" />
  </form>
</div>

#Grid split
<div class = "container">
<div id="div1">1
  <button>new post</button>
    <form action="/user" method="post" >
      <textarea name ="new_post">
      </textarea>
      <br>
      <input type="submit" value="POST">
    </form>
</div>

# Grid split
<div id="div2">
  <% if @user %>
    <h1>Welcome, <%= @user.username %></h1>
  <% end %>
    <% @all_posts.each { |post| %>
      <div id = "grid-container">
        <div id = "grid-text-container">
      <p> <%=post%> </p>
        </div>
    </div>
    <% }%>
</div>


# Grid split
<div id="div3">
</div>
</div>



</body>
