<div class='right menu'>
  <% if @user == nil %>
    <div class='item'>
      <div class='ui action left icon input'>
        <form action='/user/login' method='post'>
          <input type='text' name='login_email' id='login_email' placeholder='Email' required>
          <input type='submit' class='ui button' value='Login'>
        </form>
      </div>
    </div>

    <a href='/user/new' id='sign_up_link'><button class='large teal ui button'>Sign-up</button></a>
  <% end %>

  <% if @user != nil %>
    <a href='peep/new' id='add_peep_link'><button class='large blue ui button'>Add peep</button></a>
  <% end %>
</div>
