<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  </head>

  <body>

    <h1><%= @new_user %> has been added</h1>

    <p>View <a href="/users">here</a></p>
 
  </body>
</html>