<h1> Chitter </h1>
<h1> </h1>

  <p> Welcome Ray </p>
  <form action="/peep" method="post">
    What's on your mind?: <input type="text" name="name">
    <input type="submit" value="Peep" name="submit">
  </form>
