<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>make this dynamic</title>
    
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>Chitter</h1>

 <div>
    <form action="/peeps" method="POST">
      <input type="text" required
            minlength="0" maxlength="140" size="200">
      </form>
        <div><button type="button" onclick="alert('Hello world!')">Submit</button>
        </div>
 </div>

  </body>
</html>