<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />

<div class="outer_div">
  <h1>Account created</h1>
  <a class="a_btn" style="max-width: 12%; margin: 0 auto;" href="/">Ok</a>
</div>