<html>
  <head>
    <title>Unable to view your peeps</title>
  </head>
  <body>
    <h1>Login required</h1>
    <div>
      <p>To view all of your existing peeps please login or create an account to start peeping</p>
    </div>
    <div>
      <a href="/signup">Sign up page</a>
    </div>
    <div>
      <a href="/loginpage">Login page</a>
    </div>
  </body>
</html>