<body style=background-color:lightyellow;>
<div style="font-family: Tahoma">
<h2>Sign up here to join Chitter</h2>
<form action='/users' method='post' >
  <input type="email" placeholder="Enter email" name="email" />
  <input type="password" placeholder="Enter password" name="password" />
  <input type="text" placeholder="Enter username" name="username" />
  <input type="submit" value="Sign me up" />
</form>
</body>