<html>
  <head>
    <title><%= @maker.name %></title>
  </head>
  <body>
    <h1><%= @maker.name %></h1>
    <div>
      <a href="/">Homepage</a>
    </div>
    <div>
      <a href="/peep/new">Post a new peep</a>
    </div>
    <div>
      <a href="/peep/delete">Delete a peep</a>
    </div>
    <div>
      <a href="/peeps/:id">View your previous peeps</a>
    </div>
    <div>
      <a href="/update">Update/change your details</a>
    </div>
    <div>
      <a href="/logout">Log out</a>
    </div>
  </body>
</html>
