<html>
  <head></head>
  <body>
    <h1> Chitter </h1>
    <h2><p>Thank you for signing up to Chitter!</p></h2>
    <h4><a href="/<%= @new_user.username %>">return to homepage</a></h4>
  </body>
</html>
