<link href='/css/application.css' rel='stylesheet' type='text/css'>
<div id = 'errors'>
<h1>Sorry, that username is not registered</h1>
<form action='/' method='get'>
  <input type='submit' class='peep_button' value='Home'>
</form>
</div>
