<html>
  <head></head>
  <body>
    <% @user.each do |user| %>
      <h1><%= user.name %></h1>
      <h3><%= user.username %></h3>
      <div>
        <%= peep.content%>
      </div>
    <% end%>
  </body>
</html>