<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css"
</head>
<body>
      <h1> Chitter </h1><br>


<form action="/users" method="post">
  <input type="text" name="fullname" id="fullname" placeholder="Name"/>
  <input type="text" name="username" id="username" placeholder="Username"/>
  <input type="email" name="email" id="email" placeholder="Email"/>
  <input type="password" name="password" id="password" placeholder="Password"/>
  <input type="submit" value="Submit"/>
</form>

</body>
