<form action="/users/new" method="post">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="submit">
</form> 