<html>
  <head></head>
  <body>
    <title>User List</title>
      <h1>
          <div>
            <a href="/user/<%= @user.name %>"<%= @user.username %>
          </div>
      </h1>
  </body>
</html>