<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>
  <body>
    <h1><%= @user.username %></h1>
    <% @user.peeps.each do |peep| %>
      <div>
        <p><%= peep.time %></p>
        <%# implement here name of OP %>
        <p><%= peep.content %></p>
        <p><time datetime="<%= peep.time %>"></time></p>
      </div>
    <% end %>
  </body>
</html>