<html>
  <head></head>
    <body>
      <h1>Chitter</h1>
      <h3>Sorry you cannot post a peep without being logged in</h3>
      <h4>Please login or sign up below, or return to the homepage</h4>
      <button onclick="location.href='/register'"> Sign up </button>  <button onclick="location.href='/login'"> Login </button>  <button onclick="location.href='/'"> Homepage </button>
  </body>
</html>

