<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="chitter.css">
</head>
<body>
<header>
<h1>User Registration</h1>
</header>
<div class="registration">
<form align=center action="/add_user" method="post">
  <input type="text" name="add_username" placeholder="Enter Username"> <br>
  <input type="text" name="add_email" placeholder="Enter Email"> <br>
  <input type="text" name="add_password" placeholder="Enter Password"> <br>
  <input class="register" type="submit" value="Register">
  <form action ="/">
      <input class="cancel" type="submit" value="Cancel">
  </form>
  </form>
  </div>
