<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1> Welcome to Chitter, <%=@name%>! </h1>
      <div>
      <a href="/user/compose_peep"> Compose Peep </a>
      </div>
  </body>
</html>