<form action='/users' method='post' >
  <input type="email" placeholder="Enter email" name="email" />
  <input type="passoword" placeholder="Enter password" name="password" />
  <input type="text" placeholder="Enter username" name="username" />
  <input type="submit" value="Sign me up" />
</form>