<center><form action="/users" method="post">
  <input type="email" name=email placeholder="test@test.com" required/>
  <input type="password" name=password placeholder="------------" required />
  <input type="submit" value="Create User!" />
</form></center>