<h1> Chitter </h1>
<h1> </h1>

  <p> <%= @user.name %> </p>
  <form action="/peep" method="post">
    What's on your mind? <input type="text" name="peep">
    <input type="submit" value="Peep" name="Peep">
  </form>
