<html>
  <head><title>Chitter</title>
  <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Your account is ready!</h1>
      <div>
      <a href="/login">Log in</a>
    </div>
    </body>
</html>