<h1> <%= @user.name %>'s Profile</h1>

<form action="/peeps" method="post">
  <label for="message">Insert Peep Message</label>
  <input type="text" name="message">
  <input type="submit" name="New Peep" value="newpeep">
</form>
