<h1> Welcome, <%= @name %> to Chitter! </h1>
<br>
<h2> Post your peep below! </h2>

<form action='/peep' method='post'>
  <input type='text' name='add_peep' placeholder='What do you wish to say to the world?'>
  <input type='submit' value='Post'>
</form>
