<h2>Welcome to Chitter!</h2>

<h3> Log back in! </h3>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Login">
</form>

<h3> Create an account! </h3>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="text" name="email" placeholder="email">
  <input type="submit" value="Register">
</form>
