<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css?version=1" />
      <link rel="shortcut icon" type="image/x-icon" href="lo.png?version=1">
      <title>Signup</title>
    </head>
    <body>
    <h1>Join Twitter!</h1>
      <div>
        <h3>The username you have entered already exists</h3>
          <a href="/signup">Try a different username</a><br>
        <a href="/login">Or try logging in!</a>
      </div>
    </body>
</html>