<form action="/users/new" method="post">
  <label for="name">Enter your name: </label>
  <input type="text" id="name" name="name" required>
  <label for="username">Enter your username: </label>
  <input type="text" id="username" name="username" required>
  <label for="email">Enter your email: </label>
  <input type="text" id="email" name="email" required>
  <label for="password">Now choose a password: </label>
  <input type="text" id="password" name="password" required>
  <input type="submit" value="Submit">
</form>
