<form action="/users" method="post">
  <input type="email" placeholder="email" name="email" />
  <input type="password" placeholder="password"name="password" />
  <input type="submit" value="Submit" />
</form>
