<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <form action='/users' method='post'>
    <input type='text' name='email'>
    <input type='text' name='password'>
    <input type='submit' value='Submit'>
  </form>
</body>
</html>
