<html>
  <head></head>
  <body>
    <h1>Sign up complete!</h1>
    <div>Now you're all ready to start sharing fascinating peeps</div>
    <div>Return to the <a href="/">home page</a> to make your first peep</div>
  </body>
</html>