<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User added</title>
    <link href='css/user_added_style.css' type="text/css" rel="stylesheet">
  </head>
  <body>
    User has been created.
  </body>

  <a href='/sign_in'>Sign in</a>
</html>
