<h1>Sign-up to Chitter</h1>

<form action='/user/new' method='post'>
  <label for='email'>Email: </label><br/>
  <input type='text' name='email' id='email_field' required>
  <br><br>
  <input type='submit' value='Create account'>
</form>
