<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1><%= @selected.name %> </h1>
    <div>
      <a href="/peep/new">Post a peep</a>
    </div>
    <div>
      <a href="/peep/delete">Delete a peep</a>
    </div>
    <div>
      <a href="/peeps/:id">View your previous peeps</a>
    </div>
    <div>
      <a href="/">Log out</a>
    </div>
  </body>
</html>
