  <font size="7">Thank you for registering <%= @name %>!<br><br></font>
  <font size="5">Please see your details below:<br><br></font>
  <br>
  <font size="5">User name: <%= @user_name %><br><br></font>
  <font size="5">Email Address: <%= @email_address %><br><br></font>
  <br><br>

<form action="/chitter" method="get">
  <font size="5">Please continue below to enter Chitter and starting creating peeps!<br><br></font>
  <button type="submit">Chitter</button>
</form>