<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@<%= @user.username %>'s Profile | Chitter</title>
</head>
<body>
  <div>
    <h1><%= @user.name %></h1>
    <p>@<%= @user.username %></p>
  </div>

  <div>
    <h2>Cheeps</h2>
  </div>

  <div>
    
  </div>
  
  
</body>
</html>