<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <form action='/users' method='post'>
    <input type='text' name='email' placeholder='email' required>
    <input type='password' name='password' placeholder='password' required>
    <input type='text' name='name' placeholder='name' required>
    <input type='text' name='username' placeholder='username' required>
    <input type='submit' value='Submit'>
  </form>
</body>
</html>
