<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User details</title>
  </head>
  <body>
    <h1>User details</h1>
    <%= @user.name %>
    <br>
    <%= @user.username %>
    <br>
    <%= @user.email %>
    <br>
    <form action="/" method="get">
      <input type="submit" value="Home page">
    </form>
  </body>
</html>
