<h1> See all peeps below! </h1>
<br>
<ul>
<% @allpeeps.each do |single_peep| %>
<li> User <%= single_peep[0] %>  peeped <br>
"<%= single_peep[1]%>" <br>
At <%= single_peep[2]%>
<br><br>
</a></li>
<% end %>
</ul>