<h2>Recent Peeps</h2>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <p>Name: <%= peep.name %>, Username: <%= peep.username %></p>
      <p><%= peep.content %></p>
    </li>
  <% end %>
</ul>
<a href="/">Back to homepage</a>
