<% @peeps.each do |peep| %>
  <div class="peep">
    <div class="peep_content">
      <%= peep.content %>
    </div>
    <div class="datestamp">
      <%= peep.created_at.strftime('%F %H:%M%P') %>
    </div>
  </div>
<% end %>
<form action="/peep" method="post">
  <input type="text" name="peep_content" value="">
  <input type="submit" value="Peep">
</form>
