

<h1> Peeps </h1>

<ul id='peeps'>
    <% @peeps.reverse.each do |entry| %>
      <li>
        Peep: <%= entry.peep %>
        Submitted: <%= entry.timestamp %>
      </li>
    <% end %>
</ul>

What else do you want to do today?

<form align='center' action='/peep'>
  <input type='submit' value='Peep'>
</form>

<form align='center' action='/logout'>
  <input type='submit' value='Log out'>
</form>
