<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Chitter</h1>
    <form action='peep' method='POST'>
      <textarea name='new_peep' cols='50' rows='4' maxlength='150' placeholder='New Peep! Max charicter limit 150'></textarea><br>
      <input type='submit' value='Peep'>
    </form>
    <div>
      <%@peeps.each do |peep|%>
        <p><%=peep.context%></p>
      <%end%>
    </div>
  </body>
</html>
