<!--<h2>Here are the latest Peeps!</h2>-->

<!--<div>-->
<!--  Peeps are viewable with the newest at the top:-->
<!--</div>-->
<!--<br><br><br>-->
<!--<div>-->

<!--this is a test, should be Ginny as user-->
<!--</div>-->
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>