<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
}

.active {
    background-color: red;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/add_new_peep">Add New Peep</a></li>
  <li><a class="active" href="/view_peeps_descending">View Most Recent Peeps First</a></li>
</ul>

<ul> <% count = 1 %>
  <br><br>
  <% @peeps.each do |peep| %>
  <font size="2" face="verdana" color="blue">@<%= peep.username %>   </font>
  <font size="2" face="verdana" color="darkgrey"><%= peep.created_at %></font>
  <br>
    <textarea name="<%= count %>" disabled rows="3" cols="50">
      <%= peep.content %>
    </textarea>
    <br><br>
    <% count += 1 %>
  <% end %>
  <br>
  <br>
</ul>

</body>
</html>
