<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<h1>Here are the past chitts:</h1>
<ul>
  <h1> <% @chitts.each do |chitt| %>
    <li><%= chitt %></li>
  <% end %>
</ul>
<form action="/chitter/homepage" method="get">
  <input type="submit" value="Return to Homepage" />
</form>
