<form action='/peeps' method='post'>
<label for="peep text">type your message here (280 char limit)</label>
<input type='text' name='peep text'> <br>
<label for='username'>how would you like to sign off your message?</label>
<input type='text' name='username'> <br>
<input type="submit" value="Submit Peep to Chitter">
</form> <br>

<ul>
  <% @posts.each do |post| %>
    <li>
        <%= post.message %>
        <%= post.time %>
        <%= post.user %>
      </a>
    </li>
  <% end %>
</ul>
