<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
  <head>
    <title>Chitter</title>
    <link href="<%= url('') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <%# <img src="" /> %>

    <h1>My peeps</h1>

    <br />
    <br />
    <br />

    <h1>My bla bla bla text</h1>

    <form action="/message">
      <div class="action_btn1">
        <button name="add message" class="action_btn" type="submit" value="Add message">Add message</button>
      </div>
    </form>

    <br />
    <br />

    <form action="/login">
      <div class="action_btn1">
        <button name="log out" class="action_btn" type="submit" value="Log out">Log out</button>
      </div>
    </form>

  </body>

  <br />

  <%# <footer id="footer" class="contacts">
    <a class="icons" href="https://www.linkedin.com/in/yaroslava-yates-629517221/" target="_blank">
        <img class="icons" src="https://i.postimg.cc/CKhnxt4D/link.png" alt="Linkedin">
    </a>
  </footer> %>

</html>