<form action="/peep">
  <div class="action_btn1">
    <button name="add message" class="action_btn" type="submit" value="Add message">Add message</button>
  </div>
</form>

<form action="/login">
  <div class="action_btn1">
    <button name="log out" class="action_btn" type="submit" value="Log out">Log out</button>
  </div>
</form>

<html>
  <head>
    <title>Chitter</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <form action="/peep" method="post">

      <div class='bold-line'></div>
        <div class='container'>
          <div class='window4'>
            <div class='overlay4'></div>
            <div class='content'>
              <div class='welcome'>Chitter</div>
              <br />
              <div class='subtitle'>Slava's blog</div>
              <div class='input-fields'></div>
              
              <ul>
                <% @peeps.each do |peep| %>
                  <li><%= peep %></li>
                <% end %>
              </ul>

        </div>
      </div>

    </form>

    <div id="footer" class="contacts">
      <a class="icons" href="https://www.linkedin.com/in/yaroslava-yates-629517221/" target="_blank">
          <img class="icons" src="https://i.postimg.cc/CKhnxt4D/link.png" alt="Linkedin">
      </a>
    </div>

  </body>

  
</html>

