<style> 
body
{
  background-image : url("https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg");
  background-position : center;
  background-repeat : no - repeat;
  background-size : cover;
  font-family : Helvetica;
  color: white;
	text-align: center;
}
h1 {
	margin-top: 80px;
	font-size: 50;
}
</style>
<body>
<h1>Welcome to chitter!<h1>
</body>
