<header>
<div id="logo">Chitter&nbsp;</div>
  <% if current_user %>
  <span id ="welcome-message">
    logged in as: <%= current_user.user_name %>
  </span>

  </header>
    <form  method="post" action="/user-signout" >
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out" class="button">
    </form>
  <%  else %>
   <a href="/users/sign-in" id="sign-in" class="button">Sign in</a>
   <a href="/users/new" id="sign-up" class="button">join</a>
  <% end %>
</header>