<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <div>To see the stream of our users' peeps, please login. If you haven't yet created an account, click "Sign Up" below.</div>
    <a href="/signup" class="signup">Sign Up</a>
  </body>
</html>
