<h1> Welcome to CHITTER - Please sign up below to start the chatter: </h1>

<form action='/create_user' method='POST'>
  <label for='name'> Name: </label>
  <input type='text' name='name'>
  <label for='email'> Email: </label>
  <input type='text' name='email'>
  <input type='submit' value='submit'>
</form>
