<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome to Chitter, <%=@username%></h2>
    <a href="/peeps">View and create peeps</a>
  </body>
</html>
