  <% if current_user %>
    logged in as: <%= current_user.user_name %>
  <%  else %>
  <h1>sign in</h1>
  <form action="/users/sign-in" method="get">
    <input type="submit" value="Sign in">
  </form>
  <% end %>