<!DOCTYPE html>
<html>
<head>
<style media="screen">
  body {
    background-image: url("/images/chitter-04.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DKLemonYellowSun', Helvetica;
    font-size: 48px;
    text-align: center;
    vertical_align: center;
    }
  input {
    background-color: #ffffe6;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    font-family: 'DKLemonYellowSun', Helvetica;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    }
  input[type=submit] {
    background-color: #FCBCB8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-family: 'DKLemonYellowSun', Helvetica;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    }
  @font-face {
    font-family: 'DKLemonYellowSun';
    src: url('/fonts/DK_Lemon_Yellow_Sun.otf');
    }
  @font-face {
    font_family: 'Matchinger-regular';
    src: url('/fonts/Matchinger.otf')
    }
</style>
</head>
<body>

  <h2>You're all set to peep!</h2>
  <form action=/new method="get">
    <input type="submit" name="new_peep" value="Make a Peep">
  </form>
</body>
</html>
