<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

  <body>
    <br>

    <br>
    <h1>Welcome to Chitter, <%= @user.username %>! </h1>
    <h2>Check out who's posted or post your first peep!</h2>
    <br>
    <div class='form_container'>
      <a class="edit_button" href='/post_peep'>Start Peeping!</a>
      <a class="buttons" href='/peeps'>Home</a>
    </div>
      <br>
      <br>
  </body>
</html>
