<!-- <form action="/sign_in" method="get">
  <input type="submit" name="sign_in" value="SIGN IN" />
</form> -->
<form action="/sign_up" method="get">
  <input type="submit" value="SIGN UP" />
</form>
<!-- <form action="/peep_feed" method="get">
  <input type="submit" name="view_peeps" value="VIEW PEEP FEED" />
</form> -->
