<div style="font-style: italic;">
ok so here's what's going on with this page
<br><br>
I thought I could build a twitter clone but it was not possible in the timeframe
<br>
I decided to try and learn some new things along the way
<br>
but I ran out of time, so no fancy app
<br><br>
I didn't make anything useful, but at least I learned how to setup 
ActiveRecord (this alone took me 9 hours) <br>and how to deploy a database project on heroku

<br><h4>success</h4>

</div>
<br><hr><br>
<h4><a href="/peeps">go back</a> &nbsp; &nbsp; <a href="/">go home</a></h4>
