<html>
  <head></head>
  <body>
    <h1>Write a peep</h1>
    <form action="/" method="POST">
    <div>
      <label>Username:</label>
      <input type="text" name="username" required pattern="^[\w\-\s]+$">
    </div>

    <div>
      <label>Your peep:</label>
      <input type="text" name="content" required pattern="^[\.a-zA-Z0-9,!? ]*$">
    </div>

      <input type="submit" value="Submit the form">
      </form>
  </body>
</html>
