<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div>
      Username not found, please sign-up to Chitter if you want to post a Peep!
    </div>
    <p><a href='/'>Go back to the main page</a></p>
    <p><a href='/login'>Log-in</a></p>
    <p><a href='/signin/maker'>Sign-in</a></p>
  </body>
</html>