<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Chitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/peep/new">Post a Peep</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      <% if session[:user].nil? %>
      <li class="nav-item ">
        <a class="nav-link" href="/user/new">Register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/session/new">Login</a>
      </li>

      <% else %>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user.name %> (<%= @user.username %>)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Log out">
          </form>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Write your peep here!</h1>

  <form action="/peep" method="post">
    <input class="form-control" type="text" name="peep">
    <br>
    <input type="submit"value="Peep!">
  </form>
</div>
