<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div>
      'You are not logged-in! Please, log-in if you would like to write a Peep.'
    </div>
    <p><a href='/'>Go back to the main page</a></p>
    <p><a href='/login'>Log-in</a></p>
  </body>
</html>