<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div>
      Thank you, your Peep has been successfully created!    
      </div>
    <p><a href='/'>Go back to the main page</a></p>
    <p><a href='/logout'>Log-out</a> </p>
  </body>
</html>