<head>
  <h1>Chitter!</h1>
  <link rel="stylesheet" type="text/css" href="../styling.css">
</head>

<h2>New peep:</h2>

<form action="/peeps" method="post" id="userform">
  <textarea name="content" form="userform" cols="50" rows="4">Enter text here...</textarea>
  <input type="submit" value="Post" />
</form>
