<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div>
      Please, log-in to Chitter if you want to post a Peep!
    </div>
    <p>
      <a href='/'>Go back to the main page</a> 
      <a href='/login'>Log-in</a> 
    </p>
  </body>
</html>