<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Wrong password.</title>
    </head>
    <body>
        <h1>Wrong password.</h1>
        <p>
            <a href="/login">Try logging in again.</a>
        </p>
    </body>
</html>
