
* {
  box-sizing: border-box;
}

/* left column */

.leftcolumn {   
  float: left;
  width: 60%;
  background-color: #0000006e;
  color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* right column */
.rightcolumn {
  float: left;
  width: 37%;
  padding-left: 20px;
  background-color: #0000006e;
  color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-left: 20px;
}

/* clear floats after columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* put peeps on an individual area */

/* ul {
  background: #373d423a;
  padding: 20px;
}

ul li {
  background-color: #00c9d473;
  padding: 5px;
  margin-top: 20px;
} */

.peep {
  background-color: #00c9d448;
  padding: 5px;
}

.wrap {
  background-color: #00c9d448;
  border-top: 1px solid black;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* alignment */

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

main input[type="submit"] {
  justify-content: center;
  align-items: center;
  display: inline;
  background-color: #94fddb;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px;
  height: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main input[type="text"], main input[type="password"], main input[type="email"] {
  padding: 0 0.5rem;
  height: 32px;
  border-radius: 4px;
  border: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* colours */

html {
  height: 100%;
  background: linear-gradient(180deg, #152d85, #004fa4, #006fbb, #008dc9, #00abd1, #00c8d4, #56e4d7, #99ffdb);
}

body {
  background-color: #ffffff00;
  padding: 10px;
}

main {
  background-color: #ffffff00;
  color: #fff;
}

/* @supports (-webkit-text-stroke: 1px black) {
  b {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

@supports (-webkit-text-stroke: 2px black) {
  a {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
  }
} */

/* fonts */ 

html { font-family: 'Titillium Web', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
}

/* screen reduction for viewports under 800px */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 10px;
    margin: 0px;
  }
}