<style class="cp-pen-styles">
body {
  background-color: #f7f7f7;
}

/* telugu */
@font-face {
  font-family: 'Timmana';
  font-style: normal;
  font-weight: 400;
  src: local('Timmana'), url(http://fonts.gstatic.com/s/timmana/v1/t8f_V4Odp1KPF_RUFcyF1wLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Timmana';
  font-style: normal;
  font-weight: 400;
  src: local('Timmana'), url(http://fonts.gstatic.com/s/timmana/v1/EEHM8vunf2nPJbhpIdXwNQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#navbar {
  width: auto;
  background-color: #05B9DF;
  margin-bottom: 30px;
}
#navbar #brand {
  text-align: center;
  font-family: "Timmana";
  color: white;
  padding-top: 26px;
  font-size: 22px;
  color: white;
  background-color: #F5766E;
  padding-bottom: 10px;
}
#navbar .items {
  padding-right: 15px;
  list-style-type: none;
  padding-top: 26px;
  text-align: right;
}
#navbar .items .item {
  font-family: "Timmana";
  font-size: 22px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  color: white;
}
#navbar .items .link {
  font-family: "Timmana";
  font-size: 22px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  color: white;
  border:none;
  background:none;
}


.hidden-lg {
  text-align: right;
  padding: 20px;
}
.hidden-lg .toggle-nav {
  padding-right: 15px;
  color: white;
}

#page-content {
  text-align: left;
}
#page-content h3 {
  font-family: "Timmana";
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-nav #site-canvas {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

#site-menu {
  width: 200px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: -200px;
  background: #F5766E;
  padding-top: 28px;
  color: white;
  text-align: center;
}
#site-menu ul {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  font-family: "Timmana";
  font-size: 20px;
}
#site-menu ul li {
  padding: 5px;
}

.red {
  color: #F5766E;
}

.blue {
  color: #05B9DF;
}

hr {
width: 60%;
margin-left: 0px;
}

input[type="submit"]{
  font-family: "Timmana";
  background: #05B9DF;
  border: solid 0px;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 0px 20px;
}

#awesomebutton:hover {
  background-color: #F5766E;
}


footer {
  background-color: #F5766E;
  width: 100%;
  padding: 35px 0;
  height: 20px;
}

textarea {
   resize: none;
   padding: 10px;
}

.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;

    }

.rotate:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

</style>