@font-face {
    font-family: 'widolte_bold_demoregular';
    src: url('widolte_bold_demo-webfont.woff2') format('woff2'),
         url('widolte_bold_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'widolte_light_demoregular';
    src: url('widolte_light_demo-webfont.woff2') format('woff2'),
         url('widolte_light_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'widolte_thin_demoregular';
    src: url('widolte_thin_demo-webfont.woff2') format('woff2'),
         url('widolte_thin_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.header  {
    width: 90%;
    float:left;
    height: 40%;
    margin-left: 5%;
}

.welcome  {
    width: 90%;
    float:left;
    height: 40%;
    margin-left: 6%;
}

.header h1 {
    font-family: 'widolte_bold_demoregular';
    font-size: 80px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 50px;
    float: left;
}

.welcome h2 {
    font-family: 'widolte_light_demoregular';
    font-size: 30px;
    margin-top: 0px;
    margin-left: 10px;
    float: left;
}

.header input[type="submit"] {
  font-family: 'widolte_bold_demoregular';
  float:right;
  height: 35px;
  width: 120px;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  margin-top: 50px;
}

.peep  {
  width: 90%;
  float:left;
  height: 100px;
  margin-left: 6%;
  background-color: #009999;
  border-radius: 20px;
}

.peep h2 {
  font-family: 'widolte_light_demoregular';
  font-size: 30px;
  margin-top: 2%;
  margin-left: 1%;
  float: left;
}

.peep input[type="text"] {
  width: 80%;
  float:left;
  height: 60px;
  margin-left: 2%;
  margin-top: 1%;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 20px;
}

.peep input[type="submit"] {
  font-family: 'widolte_bold_demoregular';
  float:right;
  height: 35px;
  width: 120px;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  margin-top: 3%;
  margin-right: 2%;
}

.pheader  {
    width: 90%;
    float:left;
    margin-left: 7%;
}


.user h2 {
  font-family: 'widolte_light_demoregular';
  float: left;
}

.user h3 {
  font-family: 'widolte_light_demoregular';
  float: left;
  color: grey;
  margin-left: 20px;
  margin-top: 23px;
}

.time h3 {
  font-family: 'widolte_light_demoregular';
  float: right;
  margin-right: 2%;
}

.ptext  {
    width: 90%;
    float:left;
    margin-left: 10%;
    font-family: sans-serif;
    font-size: 20px;
}
