body {
  background: #EDF5E1;
  color: #05386B;
  font-family: helvetica;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#shouts_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#individual_shout {
  background-color: white;
  width: 400px;
  border: 1px dashed black;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#the_shout {
  background-color: white;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  margin: 15px 0 0 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#author_time_div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#author_text {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#time_text {
  margin: 0 0 0 5px;
  padding: 0;
  font-style: italic;
  font-size: 1em;
}

#shout_content_div {
  margin: 5px 0 0 0;
  padding: 0;
}

#shout_content {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#reply_div {
  margin: 0;
  padding: 0;
}

#reply_text {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.8em;
  color: #000000;
}

#sign_up_div {
  margin: 20px 0;
  padding: 20px 0;
}

a {
  color: black;
}

#sign_up_header {
  margin: 0 0;
  padding: 0;
}

#sign_up_subheader {
  margin: 0;
  padding: 0;
}

#sign_up_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 0 0;
}

#login_button {
  margin: 0 5px 0 0;
}

#signup_button {
  margin: 0 0 0 5px;
}

#signup_form_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}

.signup_form {
  margin: 5px 0 0 0;
}
