/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3CC47C;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #1E392A;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.peeps {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.header {
  margin-left: 160px;
  text-align: left;
  background: #3CC47C;
  color: #1E392A;
  font-size: 30px;
}

body {
  background-color: white;
  font-family: Verdana, Geneva, sans-serif;
}

li {
  padding: 5px;
  margin-left: 20px;
  border: 4px solid #3CC47C;
  width: 50%;
  list-style-type: none;
}
