h1 {
  color: #54b8f6;
}

h3 {
  color: #464646;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  text-align: center;
  background-color: lightskyblue;
  color: #464141;
  margin: 0;
  font-family: sans-serif;
}
nav a:hover {
  background-color: #54b8f6;
  color: #ffffff;
}

.peep {
  color: #777777;
  margin: 20px 50px;
  padding: 2px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: aliceblue;
}

.peep-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.peep-footer {
  padding-top: 5px;
  border-top: 1px solid #fff;
}

.peep-content {
  padding: 0 20px;
}

.peep-header, .peep-footer {
  font-weight: bold;
}