.header {
  display: flex;
  margin-bottom: 20px;
}

.layout {
  display: grid;
  grid-template-columns: 1000px auto;
  margin: 0 auto;
}

.sidebar-menu {
  position: fixed;
}

.sidebar-menu__item {
  display: flex;
  align-items: center;
  padding: 5px 50px;
}

.sidebar-menu__button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.sidebar-menu__button:hover {
  background-color: darkred;
}

.new-peep {
  margin-bottom: 2px;
  padding: 30px 30px;
}

.peep {
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.peep:hover {
  background: rgba(0, 0, 0, 0.01);
}

.peep__author-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.peep__header {
  display: flex;
}

.peep__author-name {
  font-size: 15px;
  font-weight: 700;
  margin-right: 5px;
}

.peep__author-username {
  font-size: 15px;
  color: grey
}

.peep__text {
  font-size: 15px;
  overflow-wrap: anywhere;
}

.peep__time-since {
  margin-left: 5px;
  color: grey
}

.peep-form {
  outline: none;
  font-size: 15px;
  width: 900px;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.peep-form:hover {
  border-color: lightgray;
}

.peep-button {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.peep-button:hover {
  background-color: darkred;
}

.signup-form__container {
  display: flex;
}

.signup-form__border {
  width: 450px;
  margin: auto;
  border-radius: 5px;
  border-color: red;
}

.signup-form {
  font-size: 15px;
  margin: 5px 1px;
  padding: 5px 5px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  width: 400px;
}

.signup-form:hover {
  border-color: black;
  border-width: 1px;
}

.signup-button {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}
