html, body
{
  height: 100%;
}

body
{
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#header
{
  position: relative;
  width: 100%;
  background: #fff
}

#logo
{
  position: relative;
  text-align: left;
  margin-top: 40px;
  float: left;
  background: url(/images/chitter2.png);
}

#logo span
{
  letter-spacing: : 0.10em;
  text-transform: uppercase;
  font-size: 0.90em;
  color: #000
}

#menu
{
  margin-top: 50px;
  float: right;
  padding: 20px;
}

#menu li
{
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
  border-right: 1px sold #000;
  padding-left: 20px;
  font-size: 14px;
  float: left;
}