body {
  text-align: center;
  position: relative;
}


h1 {
  font-family: sans-serif;
  color: blue;
  font-size: 40px;
}

h2 {
  font-family: sans-serif;
  color: magenta;
  font-size: 30px;
}

p {
  font-family: sans-serif;
  color: black;

}

a {
  font-family: sans-serif;
  color: black;
}
