.login{
  position: absolute;
  top: 10px;
  left: 800px;
}

.button {
  position: absolute;
  bottom: 5px;
  right: 12px;
}



.newchitcontainer{
  position: absolute;
  top: 220px;
  left: 50%;
  height: 240px;
  transform: translate(-50%);
  border: 2px solid rgb(53,78,105);
  border-radius: 5px;
  background-color: rgb(53,78,105);
  width: 500px;
}

input[type=text], select {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 170px;
  transform: translate(-50%);
  vertical-align: text-top;
  padding: 10px 10px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
  vertical-align: text-top;
  height: 75px;
  padding: 10px 10px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.newchittitle{
  position: absolute;
  top: 30px;
    font-family: "Arial";
    color: white;
    font-size: 25px;
    left: 10px;
}

.newchitsubtitle{
  position: absolute;
  top: 150px;
    font-family: "Arial";
    color: white;
    font-size: 15px;
    left: 10px;
}

.chitcontainer{
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translate(-50%);
}

.chits{
  font-family: "Arial";
  word-wrap: break-word;
  color: white;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
 border: 2px solid rgb(53,78,105);
 border-radius: 5px;
 background-color: rgb(53,78,105);
 width: 500px;
 height: auto;
}

.chit_username {
    font-size: 15px;

}

.chit_message {
  font-size: 12px;
}

.chit_image {
}

.delete_button {
position: absolute;
top: 5px;
right: 5px;
}

.chit_date {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 10px;
}

.minilogo {
  left: 50%;
  transform: translate(+50%);
background-image: url(/images/minilogo.png);
background-size: 80px 60px;
width: 80px;
height: 60px;
}

.logo{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}

.login_bg{
  position: relative;
  text-align: center;
  top: 50px;
}

.loginform{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
}

.textbox{
  opacity:0.5;
}

body, .bgImage {
  margin: 0;
  height: 100%;
  width: 100%;
}

.bgImage {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-0.3.5&s=e20bc3d490c974d9ea190e05c47962f5&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: top;
  -webkit-filter: grayscale(70%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  z-index: -1;
}

.blobCont {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.floatRight{float:right;margin-left:20px}

.header {
  background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-0.3.5&s=e20bc3d490c974d9ea190e05c47962f5&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: bottom;
  -webkit-filter: grayscale(70%);
  font-family: "Arial";
  background-color: rgb(54,79,104);
  color: white;
padding: 30px;
height: 90px;
}

.pagetitle {
font-size: 30px;
}

#navbar {
overflow: hidden;
background-color: #333;
}

#navbar a {
font-family: "Arial";
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

#navbar a:hover {
font-family: "Arial";
background-color: #ddd;
color: black;
}

#navbar a.active {
font-family: "Arial";
background-color: rgb(54,79,104);
color: white;
}

#navbar .logout {
font-family: "Arial";
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 0px 0px;
text-decoration: none;
font-size: 17px;
}

#navbar .logout:hover {
font-family: "Arial";
background-color: #ddd;
color: black;
}

#navbar .logout.active {
font-family: "Arial";
background-color: rgb(54,79,104);
color: white;
}

.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}
body {
  background-color: #202e3e;
}
img {
max-width: 500px;
 border-radius: 5px;
height: auto;
}
.profile_image{
  position: absolute;
   border-radius: 5px;
  max-width: 100px;
  height: auto;
}


.blob:nth-child(1) {
  animation: move1 20s infinite linear;
}

@keyframes move1 {
  from {
    transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
  }
  to {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
}
.blob:nth-child(2) {
  animation: move2 20s infinite linear;
}

@keyframes move2 {
  from {
    transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
.blob:nth-child(3) {
  animation: move3 20s infinite linear;
}

@keyframes move3 {
  from {
    transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
.blob:nth-child(4) {
  animation: move4 20s infinite linear;
}

@keyframes move4 {
  from {
    transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
.blob:nth-child(5) {
  animation: move5 20s infinite linear;
}

@keyframes move5 {
  from {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
  to {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
}
.blob:nth-child(6) {
  animation: move6 20s infinite linear;
}

@keyframes move6 {
  from {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
  to {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
}
.blob:nth-child(7) {
  animation: move7 20s infinite linear;
}

@keyframes move7 {
  from {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
.blob:nth-child(8) {
  animation: move8 20s infinite linear;
}

@keyframes move8 {
  from {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
.blob:nth-child(9) {
  animation: move9 20s infinite linear;
}

@keyframes move9 {
  from {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
.blob:nth-child(10) {
  animation: move10 20s infinite linear;
}

@keyframes move10 {
  from {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
.blob:nth-child(11) {
  animation: move11 20s infinite linear;
}

@keyframes move11 {
  from {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
.blob:nth-child(12) {
  animation: move12 20s infinite linear;
}

@keyframes move12 {
  from {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
.blob:nth-child(13) {
  animation: move13 20s infinite linear;
}

@keyframes move13 {
  from {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
.blob:nth-child(14) {
  animation: move14 20s infinite linear;
}

@keyframes move14 {
  from {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
.blob:nth-child(15) {
  animation: move15 20s infinite linear;
}

@keyframes move15 {
  from {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
.blob:nth-child(16) {
  animation: move16 20s infinite linear;
}

@keyframes move16 {
  from {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
.blob:nth-child(17) {
  animation: move17 20s infinite linear;
}

@keyframes move17 {
  from {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
.blob:nth-child(18) {
  animation: move18 20s infinite linear;
}

@keyframes move18 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
