<!DOCTYPE html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <title>Add peep</title>
</head>
<body>

  <h1>Chitter</h1>
  <nav>
      <a href="/">Peep Central</a>
      <a href="/add">Do a Peep</a>
      <form action="/logout" method="post">
        <input class="button" type="submit" name="logout" value="Log Out">
      </form>
  </nav>

  <section>
    <form action="/add" method="post">
      <input class="text" name="message">
      <input class="button" type="submit" value="Peep" name="peep">
    </form>
  </section>
</body>
</html>