<!DOCTYPE html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <title>Add peep</title>
</head>
<body>
  <h1>Add your Peep</h1>
  <form action="/add" method="post">
    <input class="text" name="message">
    <input class="button" type="submit" value="Peep" name="peep">
  </form>
</body>
</html>