<center>
  <h1>Welcome to the Chitter feed</h1>
  <form id = "feed_form" class="feed_form" action="/chitter/feed" method="post">
    <label id= "feed_label">Newest first</label>
    <input id="newest" type="radio" name="sort_by" value="descending" checked="checked">
    <label id= "feed_label">Oldest first</label>
    <input id="oldest" type="radio" name="sort_by" value="ascending">
    <input id="sort" class="btn btn-primary btn" type="submit" value="Sort">
  </form>
    <% @peep.each do |message| %>
  <div class="peeps">
    <%= message.message %>
  <br>
  <hr>
    Peeped at: <%= message.message_created%>
  </div>
  <% end %>
</center>
