<center>
  <h1>Welcome to the Chitter feed</h1>
  <%# <form id = "feed_form" class="feed_form" action="/chitter/feed" method="post">
    <label id= "feed_label">Newest first</label>
    <input id="newest" type="radio" name="sort_by" value="descending" >
    <label id= "feed_label">Oldest first</label>
    <input id="oldest" type="radio" name="sort_by" value="ascending" checked="checked">
    <input id="sort" class="btn btn-primary btn" type="submit" value="Sort">
  </form> %>
  <% @peep.each do |message| %>
    <div class="peeps">
      <div id="peep-header">
        <i class="fab fa-teamspeak"></i> User: <%= message.username%>
      </div>

        <hr>
      <div id="peep-middle">
        <%= message.message %>
      </div>
        <hr>
        <%# <span id="time">Peeped at: <%= message.message_created%>
      <div id="peep-footer">
        <span id="time">Peeped at: <%= message.message_created%></span>
      </div>
    </div>
  <% end %>
</center>
