<h1>Welcome to chitter</h1>

<form action='/chitter' method='get'>
  <input type='submit' value='View peeps' >
</form>

<form action='/chitter/new' method='get'>
  <input type='submit' value='New peep' >
</form>