<!DOCTYPE html>
<head>
  <title>Chitter</title>
</head>
<body>
  <h1>Peep Central</h1>
  <% if @peeper != nil %>
    <p> Peeper: <%= @peeper %></p>
  <% else%>  
    <form action="/MainLogin" method="post">
      <input class="button" type="submit" name="Login" value="Login">
    </form>
  <% end%>
  <form action="/create" method="post">
    <input class="button" type="submit" name="add" value="Do a Peep">
  </form>
  <ul>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.peep %>
        <%= peep.date %>
      </li>
    <% end %>
  </ul>
</body>
</html>