<h1>Chitter</h1>
<h2><%="Welcome, #{@user.first_name}!" if @user%></h2>
<% @peeps.each do |peep| %>
  <%= "@#{User.find(id: peep.user_id).handle}: #{peep.time_created}" %></br>
  <%= peep.content %></br>
<% end %>
<%if @user%>
  <form action="/chitter" method="post">
    <label for="content">New peep:
      <input type="text" name="content" maxlength="240">
    </label>
    <input type="submit" value="Peep!">
  </form>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out">
  </form>
<%else%>
  <%= flash[:notice] %>
  You must sign in to peep
  <form action="chitter/user" method="get">
    <input type="submit" value="Sign up">
  </form>
  <form action="sessions/new" method="get">
    <input type="submit" value="Sign in">
  </form>

<%end%>