<% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<div>
  <% @peeps.reverse.each do |peep| %>
        <p>
          <%= peep.text %>
        </p>
  <% end %>
</div>

<p>
<h2>

<h2>
  <%= flash[:notice] %>
</h2>