<h1>Chitter</h1>
<% if @user %>
<p> Here's what your friends have been saying, <%= @user.name %></p>
<% end %>

<form action='/chitter/peep/new' method='get'>
  <input type='submit' value='New Peep'>
</form>

<div class='peep'>
<% @peeps.reverse_each do |peep| %>
  <p><%= peep.user_handle%> <%= peep.time %>
  <p><%= peep.content %><p>
<% end %>
</div>