<form action="/chitter/create" method="post">
  Enter your peep here: <input type="text" name="text"><br/>
  <input type="submit" value="Post Peep!">
</form>

<div>
<% @messages.each do |message| %>
<div class=message>
  <%=DateTime.parse(message.date).strftime("%A %d/%m/%Y %R")%> Message: <%=message.text%> <br/><br/>
</div>
<% end %>
</div>
