<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <div>
      <form action='/chitter/log', method='post'>
        <input type="text" name="peep" placeholder="What's on your mind?"/>
        <input type="submit" value="Peep!"/>
      </form>
    </div>
  </body>
</html>
