<h1>Chitter Home</h1>

<form action='/chitter-post' method='post' >
  <input placeholder='peep' type='text' name='peep' >
  <input value='Post Peep' type='submit' >
</form>

<div>
  <ul>
    <% @peeps.each do |peep| %>
      <li>
        <p><%= peep['peep'] %></p>
        <form action='/chitter-delete/<%= peep['id'] %>' method='post' >
          <input value='Delete Peep' type='submit' >
        </form>
      </li>
    <% end %>
  </ul>
</div>
