<h1> Chitter </h1>

<% if @user %>
  <h2>Welcome, <%= @user.name %></h2>
  <div>
  <p> What's happening? </p>
    <form action="/chitter" method="POST">
      <input name="text" type="text" maxlength="255">
      <input value="Submit" type="submit" />
    </form>
  </div>
<% end %>

<form action="/users/new" method="get">
  <input type="submit" value="Sign up" />
</form>

<form action="/sessions" method="post">
  <input type="submit" value="Sign in" />
</form>

<form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
</form>

<div>
  <% @peeps.reverse.each do |peep| %>
        <p>
          <%= peep.text %>
          <br>
          <%= peep.created_at %>
        </p>
  <% end %>
</div>

<p>
<h2>

<h2>
  <%= flash[:notice] %>
</h2>