<html>
<head>
  <link href="<%= url('css/peep_style.css') %>" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chitter</title>
  </head>

  <div class="hero-image">
    <div class="hero-text">
    <form action="chitter/peeps" class="container" method="post">
<h1>Welcome to Chitter</h1>
<h2>Write your Peep!</h2>
    <label for="Chitter_Member">

<input type="text" placeholder="Whats on your mind?" name="ChitterMember">
</label>
<button type="submit" value="Submit" class="btn">Peep your heart out</button>
</form>
</div>
