
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>Welcome to Chitter</h1>
  <ul>
    <% @peeps.each do |peep| %>
      <li><%= peep.content %></li>
      <li>Created: <%= peep.time %></li>
      <li>name: <%= peep.name %></li>
      <li>user: <%= peep.handle %></li>
    <% end %>
  </ul>
  <form action="/chitter/new">
    <input type="submit" value="New peep">
  </form>
  <form action="/chitter/signup">
    <input type="submit" value="Sign up">
  </form>
  </body>
</html>
