<% if @user %>
<h1>Welcome, <%= @user.email %></h1>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
<% end %>
<div class="container">
  <h1>Welcome to Chitter</h1>
  <ul>
    <% @peeps.reverse_each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">

      <input type="submit" value="delete" />
    </li>
        <li><%= peep.message %></li>
        <li>Posted date:  <%= peep.created_at %></li>
    <% end %>
  </ul>
</div>
