<form action="/chitter/create" method="post">
  Enter your peep here: <input type="text" name="text"><br/>
  <input type="submit" value="Post Peep!">
</form>

<div>
<% @messages.each do |message| %>
<div class=message>
  Date of Peep: <%=message.date%> Message: <%=message.text%> <br/><br/>
</div>
<% end %>
</div>
