<br><center> <h1> <strong><font face="verdana" color="#5476C4">Chitter</font></strong> </h1>
<body>
<form action="/chitter" method="get">
  <input type="submit" value="Start" />
</form>
<style>
#Ex1 {
  padding: 310;
  background: url(https://the-peak.ca/wp-content/uploads/2016/02/Chitter-web-big.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
</style></body>
<div id="Ex1">
</div>
</center>
