Chitter <p></p>
<a href='/chitter/compose'>Compose a peep</a> <p></p>
<a href='/chitter/join'>Join Chitter</a> <p></p>
<% if !@peeps.nil? %>
  <% @peeps.each do |peep| %> <p> </p>
    <%= peep[0] %><br>
    <%= peep[1] %>
  <% end %>
<% end %>
