
<% @peeps.each do |peep| %>
  <%= peep.time_created %>
  <%= peep.content %></br>
<% end %>
<form action="/chitter" method="post">
  <label for="content">New peep:
    <input type="text" name="content" maxlength="240">
  </label>
  <input type="submit" value="Peep!">
</form>
