<h1> Tell the world!! </h1>

  <h1> Type your message and press peep to post </h1>
  <form action='/chitter/peep' method='post'>
    <label for='message'>
      Message:
      <input type='test' width="60" maxlength="120" name="message" >
    </label>
     <input type='submit' value='Submit peep'>
  </form>
