<h1>Welcome to Chitter</h>
<h1>  </h1>

  <p> Sign Up </p>
  <form action="/users" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="Password" />
    <input type="submit" value="Sign Up" name="submit">
  </form>

  <ul>
    <% @peeps.reverse_each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">

      <input type="submit" value="delete" />
    </li>
        <li><%= peep.message %></li>
        <br>
        Posted date:
        <li><%= peep.created_at %></li>
    <% end %>
  </ul>
