Enter your peep:
<form action='/chitter' method="post">
  <input type="text" name="peep">
  <input type="submit" value="Submit">
</form>

<ul>
<% @peeps.each do |peep| %>
<li><%= peep.peep %></li>
<%= peep.timestamp%>
<% end %>
</ul> 

<a href='/chitter/signup' name="Signup">Signup</a>
