<h1>Chitter</h1>

<form action='/chitter/peep/new' method='get'>
  <input type='submit' value='New Peep'>
</form>

<ul>
<% @peeps.reverse_each do |peep| %>
  <li><%=peep.content%></li>
<% end %>
</ul>