<h1> Chitter </h1>

<% if @user %>
  <h2>Welcome, <%= @user.name %></h2>
<% end %>

<form action="/chitter" method="POST">
  <input name="text" type="text" maxlength="255">
  <input value="Submit" type="submit" />
</form>

<div>
  <% @peeps.reverse.each do |peep| %>
        <p>
          <%= peep.text %>
          <br>
          <%= peep.created_at %>
        </p>
  <% end %>
</div>

<p>
<h2>

<h2>
  <%= flash[:notice] %>
</h2>