<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>Welcome to Chitter</h1>
  <ul>
    <% @peeps.each do |peep| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
  </body>
</html>
