<h1>Chitter!</h1>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out">
</form>

<h3>
  <%= flash[:notice] %>
</h3>

<% if @user %>
  <h1>Welcome, <%= @user.name %>!</h1>
<% end %>

<form action="/chitter/new-peep" method="post">
  <label for="peep">Peep:</label>
  <input type="text" name="peep">
  <input type="submit" value="Post">
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep %> <%= peep.time %></li>
  <% end %>
</ul>
