<form action="/chitter/join" method="post">
  <input type="text" name="Name" placeholder="Ms Chit"/>
  <input type="text" name="Email" placeholder="chit@chitland.co.uk"/>
  <input type="text" name="username" placeholder="chitty"/>
  <input type="text" name="password" placeholder="*******"/>
  <input type="submit" value="Submit"/>
</form>
Welcome to Chitter, penelopeheartsyou
<a href='/chitter/compose'>Compose a peep</a> <p></p>
