Enter your login details:
<form action='/chitter/welcome' method="get">
Email Address:
  <input type="text" name="email">
Password
  <input type="text" name="password">
  <input type="submit" value="Log in">
</form>