<!DOCTYPE html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <title>Chitter - Login</title>
</head>
<body>
  <h1>Login to your Peeps</h1>
  <form action='/login' method="post">
    <label>Log in to Chitter</label>
    <input type="text" name="username" placeholder="Enter your Username">
    <input type="text" name="password" placeholder="Enter your Password">
    <input class="button" type="submit" name="log_in" value="Get Peeping">
</body>
</html>