<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Enter you message and then click Post</h1>
    <form class="" action="/messaging" method="post">
      <input type="text" name="message">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
