<center>
  <h1 id="messaging_header">Enter you message and then click Submit</h1>
  <form class="" action="/messaging" method="post">
    <input id="post" class="form-control" type="text" name="message">
    <br>
    <input id="post_message_button" class="btn btn-primary" type="submit" value="Submit">
  </form>
</center>
