<!doctype html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type='text/css' href="style.css">
    </style>
  </head>
  <body>
    <div class="chitter">
      <form action="/chitter" method="post">
        <input type="text" name="New_Peep">
        <input type="submit" value="Share Peep">
      </form>
    </div>
  </body>
</html>
