<form action='/chitter' method='post'>
  <input type='text' name='text' placeholder='peep'>
  <input type='text' name='user_name' placeholder='user name'>
  <input type='submit' value='Submit' >
</form>