<h1>Post a Peep!</h1>
<form action="/chitter/new" method="post">
  <input type="text" name="message" placeholder="Your Peep!" />
  <input type="text" name="username" placeholder="Who's peeping?" />
  <input type="submit" value="Submit">
</form>
