<!doctype html>
<html>
  <head>
    <title>Chitter</title>
    <%# <link rel="stylesheet" type='text/css' href="style.css"> %>
    </style>
  </head>
  <body>
    <div class="create">
      <form action="/chitter" method="post">
        <input type="text" name="peep">
        <input type="submit" value="Share Peep">
      </form>
    </div>
  </body>
</html>