<div class='container container-wrapper'>
    <div class='col-8' id='form-container'>
      <form method='post' action='/chitter/username'>
        <input class='form-control form-control-lg' type='text' placeholder='What is happening?' id='peep' name='peep' required>
        <input class='btn btn-primary  btn-block mt-1'type='submit' id='submit' value='Peep'>
      </form>
    </div>
<div>