<h1>Create a new message</h1>
<h4>Please enter your message below:</h4>
<form action='/chitter' method='post'>
  <input type='text' name='text' placeholder='peep'>
  <input type='submit' value='Submit' >
</form>