<html style="background-color:DodgerBlue;">

<head>
    <title>Post a Peep!</title>
</head>

<center>
    <form action="/new" method="post">
        <input type="text" name="message" />
        <br>
        <br>
        <input type="submit" value="Post!" />
    </form>
</center>

</html>