<form action='/chitter/new' method='post'>
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="message" placeholder="Peep it" />
  <input type="submit" value="Submit" />
</form>
