<html style="background-color:DodgerBlue;">

<head>
    <title>Post a Peep!</title>
</head>

<center>
    <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:50px; color:white;">
        <b>WHAT'S ON YOUR MIND?</b>
    </p>
</center>

<center>
    <form action="/new" method="post">
        <input type="text" name="message" style="width:300px; height:100px;" />
        <br>
        <br>
        <input type="submit" value="Post!"
            style="width:50px; height:25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:20px;" />
    </form>
</center>

</html>