<h2>Do a new peep</h2>
<form action = "/bookmarks/new" method = "post">
    Enter your peep: <input type = "text" name="post_peep" placeholder="Peep away..." /><br><br> 
    <input type="submit" value="Submit">
</form>