<h1>Welcome back! Log in below</h1>

<form action="/chitter/sessions/new" method="post">
  Peep name (username): <input type="text" name="username"/><br/>
  Password: <input type="password" name="password"/><br/>
  <input type="submit" value="Log In"/>
</form>
