<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign up</h1>
    <div>
      <form action='/chitter/user', method='post'>
        <ul><input type="text" name="name" placeholder="What's your name?"/></ul>
        <ul><input type="text" name="username" placeholder="Pick a username"/></ul>
        <!-- <ul><input type="text" name="email" placeholder="Email address"/></ul>
        <ul><input type="text" name="password" placeholder="Password"/></ul> -->
        <ul><input type="submit" value="Confirm"/></ul>
      </form>
    </div>
  </body>
</html>
