<h2> Please enter your details to signup </h2>

<form action='/chitter/welcome' method="get">
Name:
  <input type="text" name="name">
Username:
  <input type="text" name="username">
Email:
  <input type="text" name="email">
Password:
  <input type="text" name="password">
  <input type="submit" value="Submit">
</form>
