<!DOCTYPE hmtl>
<html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter Sign Up Page</title>
  </head>
  <body>
    <form action='/chitter/apply_sign_up' method='post'>
      <label for='fullname'>
        Please enter your full name:
        <input type='text' name='fullname' required>
      </label><br>
      <label for='username'>
        Please choose a user name:
        <input type='text' name='username' required>
      </label><br>
      <label for='email'>
        Please enter your email:
        <input type='text' name='email' required>
      </label><br>
      <label for='password'>
        Please choose a password:
        <input type='text' name='password' required>
      </label><br>
      <button type='submit'>Register New User</button>
    </form>
  </body>
</html>
