<!DOCTYPE html>
<head>
  <title>Chitter - Signup</title>
</head>
<body>
  <h1>Become a Peeper</h1>
  <form action='/signup' method="post">
    <label>Enter your details</label>
    <input type="text" name="name" placeholder="Enter your Name">
    <input type="text" name="email" placeholder="Enter your Email">
    <input type="text" name="username" placeholder="Enter a Username">
    <input type="text" name="password" placeholder="Enter a Password">
    <input class="button" type="submit" name="sign_up" value="Become a Peeper">
</body>
</html>