<!DOCTYPE hmtl>
<html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter Sign In Page</title>
  </head>
  <body>
    <form action='/chitter/apply_sign_in' method='post'>
      <label for='email'>
        Please enter your full email address:
        <input type='text' name='email' required>
      </label><br>
      <label for='password'>
        Please enter your password:
        <input type='text' name='password' required>
      </label><
      <button type='submit'>Sign In</button>
    </form>
  </body>
</html>
