<center>
  <h1 id = "sign_up_heading">Enter your details below then click Submit</h1>
    <div class="container">
      <form class="" action="/chitter/sign_up" method="post">
        <label id="sign_up_labels">Username: </label><input class="form-control" type="text" name="username">
        <br>
        <label id="sign_up_labels">Password: </label><input class="form-control" type="text" name="password">
        <br>
        <label id="sign_up_labels">E-mail: </label><input class="form-control" type="text" name="email">
        <br>
        <label id="sign_up_labels">First Name: </label><input class="form-control" type="text" name="forename">
        <br>
        <label id="sign_up_labels">Surname: </label><input class="form-control" type="text" name="surname">
        <br>
        <input id="post_button" class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
</center>
