<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Chitter</title>
  </head>
<body>
<p> Hi <%= "#{@email}" %>, you have been signed up to Chitter! </p>
<form class="center2">
<button type="submit" formmethod="get" formaction="/chitter/index">Return to login</button>
</form>
</body>
</html>
