<h1>Welcome to Chitter Sign-Up!</h1>

<form action="/chitter/sign_up" method="post">
  Email address: <input type="text" name="email"/><br/>
  Password: <input type="password" name="password"/><br/>
  First name: <input type="text" name="first_name"/><br/>
  Surname: <input type="text" name="surname"/><br/>
  Peep name: <input type="text" name="username"/><br/>
  <input type="submit" value="Sign Up"/>
</form>
