<h2> New here? Welcome to Chitter </h2>
<form action='/chitter/sign_up' method='post'>
  <p> Name: <input type='text' name='name'> </p>
  <p> Userame: <input type='text' name='username'> </p>
  <p> Email: <input type='text' name='email'> </p>
  <p> Password: <input type='text' name='password'> </p>
  <input type='submit' name='submit' label='Submit'>
