<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <form action="/chitter" method="post">
      <input type="text" name="name" placeholder"name">
      <input type="text" name="handle" placeholder"handle">
      <input type="text" name="email" placeholder"email">
      <input type="text" name="password" placeholder"password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
