<h1>Welcome to Chitter Sign-Up!</h1>

<form action="/chitter/sign_up" method="post">
  Please enter your email address: <input type="text" name="email"/><br/>
  Please enter a password: <input type="password" name="password"/><br/>
  Please enter your first name: <input type="text" name="first_name"/><br/>
  Please enter your surname: <input type="text" name="surname"/><br/>
  Please enter the name you would like to appear next to peeps: <input type="text" name="username"/><br/>
  <input type="submit" value="Sign Up"/>
</form>
