<h2 class="centered-container">Register for Chitter</h2>
<div class="user-info-box">
  <form action="/chitter/user" method="post">
    <label for="first_name">First name</br>
      <input type="text" name="first_name" maxlength="60" required>
    </label></br>
    <label for="last_name">Last name</br>
      <input type="text" name="last_name" maxlength="60" required>
    </label></br>
    <label for="email">Email</br>
      <input type="email" name="email" maxlength="60" required>
    </label></br>
    <label for="handle">Handle</br>
      <input type="text" name="handle" maxlength="30"required>
    </label></br>
    <label for="password">Password</br>
      <input type="password" name="password" required>
    </label></br>

    <input type="submit" value="Register">
  </form>
</div>