<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <h3>Click on messaging to post a message or click feed to view the peeps </h3>
    <form class="" action="/chitter/messaging" method="get">
      <input type="submit" name="" value="Messaging">
    </form>
    <form class="" action="/chitter/feed" method="get">
      <input type="submit" name="" value="Feed">
    </form>
  </body>
</html>
