<h3>Join Chitter today.</h3>

<form id="signup" action='/registration' method='post'>
  <label>Enter your email:
    <input type="email" name="email" value="<%=@email%>" required>
  </label>
  <label>Create a password:
    <input type="text" name="password">
  </label>
  <!-- <label>Confirm password:
    <input type="text" name="confirm_password">
  </label>
  <input type="submit" value="Submit"> -->
</form>
