<h1> Create new user <h1>

<form action='/user/store' method = post>
    <input type='text' name='name' placeholder="insert user name here"/>
    <input type='text' name='email' placeholder="insert user email here"/>
    <input type='submit' name='Submit'>
</form>
