<h2> Log in</h2>

<form action='/user/login' class="signup-form__container" method='post'>
  <fieldset class="signup-form__border">
    <label for="email">email:</label><br>
    <input type="text" class="signup-form" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="password" class="signup-form" name="password" required><br><br>
    <input type="submit" class="signup-button" value="Log in">
  </fieldset>
</form>
