<h1> Sign </h1>

<form action='/user/login' method='post'>
  <fieldset>
    <label for="email">email:</label><br>
    <input type="text" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" required><br><br>
    <input type="submit" value="Log in">
  </fieldset>
</form>
