
<h2>Sign Up Page</h2>
<br>

<form action="/user" method="post">
  <ul>
    <input type="text" name="name" placeholder="enter name"> 
    <input type="email" name="email" placeholder="enter email address">
    <input type="password" name="password" placeholder="enter password">
    <input type="submit" value="Submit">
  </ul>  
</form>