<%= erb :'page_elements/header' %>

<h2>Sign-up to Chitter</h2>

<form action='/user/new' method='post' class='ui form'>
  <div class='field'>
    <label for='email'>Email: </label>
    <input type='text' name='email' id='email_field' required>
  </div>

  <div class='field'>
    <label for='user_name'>Username: </label>
    <input type='text' name='user_name' id='user_name_field' required>
  </div>

  <div class='field'>
    <label for='password'>Password: </label>
    <input type='password' name='password' id='password_field' required>
  </div>

  <input type='submit' value='Create account' class='ui button'>
</form>

<%= erb :'page_elements/footer' %>
