
<h1>Please sign up</h1>

  <form action = '/users' method='post'>

  Name: <input name='name' type='text' placeholder='name'>
  Email: <input name='email' type='text' placeholder='name'>
  <input type='submit' value='Sign up'>

</form>
