<h1> Sign up for Chitter </h1>

<form action='/user' method='post'>
  <fieldset>
    <legend>Enter your details below:</legend>
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="email">email:</label><br>
    <input type="text" name="email"><br>
    <label for="first_name">First name:</label><br>
    <input type="text" name="first_name"><br>
    <label for="last_name">Last name:</label><br>
    <input type="text" name="last_name"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Create account">
  </fieldset>
</form>
