
<form action = '/user/new' method = 'post'>
  First Name: <input type = 'text' name = 'first_name'><br/ ><br/ >
  Second Name: <input type = 'text' name = 'second_name'><br/ ><br/ >
  Username: <input type = 'text' name = 'username'><br/ ><br/ >
  Email: <input type = 'email' name = 'email'><br/ ><br/ >
  Password: <input type = 'password' name = 'password'><br/ ><br/ >
  Re-enter password: <input type = 'password' name = 'password_confirmation'><br/><br/>
  <input type = 'submit' value = 'submit'><br/ ><br/ >
</form>
