<form action='/user/sign_up' method='POST'>
  Enter your details delow...
  <div>
    Name:
    <input type='text' name='name'/>
    Email:
    <input type='text' name='email'/>
    Username:
    <input type='text' name='username'/>
    Password:
    <input type='password' name='password'/>
    <input type='submit' value='Submit'/>
  </div>
</form>
