<h3>Make a Peep!</h3>

<form action="/new-peep" method="post">
  <textarea name="message" cols="50" rows="5">
  Enter some text...
  </textarea>
  <br />
  <input type="submit" value="Peep!">
</form>
