<h1>Please log in</h1>

<form action="/login-details" method="post">
  <label for="username">Username:</label>
    <input type="text" name="username">
  <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>
