<!DOCTYPE html>
</html>
  <head>
    <!-- <link type="text/css" rel="stylesheet" href="stylesheet.css"/> -->
      <title>CHITTAH</title>
  </head>
  <body>
    Your details below!
    <div>
      <form action='/register' method=post>
        <p><label for="name">Name:</label></p>
          <input type=text name="name">
        <p><label for="username">Username:</label></p>
          <input type=text name="username">
        <p><label for="email"></label>Email:</p>
          <input type=email name="email">
        <p><label for="password"></label>Password:</p>
          <input type=password name="password">
        <p><label for="password_confirmation"></label>Confirm Password:</p>
          <input type=password name="password_confirmation">

        <p><input type=submit value='Register'></p>
      </form>
    </div>
  </body>
</html>
