<!DOCTYPE html>
<html>
  <body>
    <div class='entry'>
      Your details below!
      <form action='/register' method=post>
        <p><label for="name">Name:</label></p>
          <input type=text name="name">
        <p><label for="username">Username:</label></p>
          <input type=text name="username">
        <p><label for="email"></label>Email:</p>
          <input type=email name="email">
        <p><label for="password"></label>Password:</p>
          <input type=password name="password">
        <p><label for="password_confirmation"></label>Confirm Password:</p>
          <input type=password name="password_confirmation">

        <p><button>Register</button></p>
      </form>
      <form action='/session/new'>
        <button>I want to log in!</button>
      <form>
    </div>
  </body>
</html>
