#  note signed in
<div class="text-end">
  <button type="button" class="btn btn-outline-light me-2">Login</button>
  <button type="button" class="btn btn-warning">Sign-up</button>
</div>

#   signed in
<div class="text-end">
  <button type="button" class="btn btn-outline-light me-2">log out</button>
</div>