<h1>Please sign in!</h1>

<form method="post" action="/sessions">
	Email: <input type="text" name="email">
	Password: <input type="text" name="password">
	<input type="submit" value="Sign In">
</form>