<h1>Please sign in!</h1>

<form action="/sessions" method="post">
	Email: <input type="text" name="email">
	Password: <input type="text" name="password">
	<input type="submit" value="Sign In">
</form>