<center>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<br>
<h1 class="title">Please sign in</h1>

<br><br>
  <form method="post" action="/sessions">
    Email: <input type="text" name='email'>
    <br><br>
    Password: <input type="password" name='password'>
    <br><br>
    <input type="submit" value="Sign in">
  </form>

</center>

