<header>Sign in below</header>
<style>
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
<form method="post" action="/sessions">
  <label for="email">Email</label>
  <input type="email" name="email" required></input><br>
  <label for="password">Password</label>
  <input type="password" name="password" required></input>
  <input type="submit" value="submit"></input>
</form>
