<div>

<h2>Chitter: Sign in to Chitter</h2>
  <form method="POST" action="/sessions">
    Email address: <input type="text" name="email"><br>
    Password: <input type="password"  name="password"><br>
    <input type="submit" value="Sign in">
  </form>

</div>