<p>Please sign in:</p>
<form method="post" action="/sessions">
  Email: <input type="text" name='email'>
  Username: <input type="text" name='username'>
  Password: <input type="password" name='password'>
  <input type="submit" value="Sign in">
</form>
<p>Don't have an account? Sign up <a href="/users/new">here.</a></p>
