<h2>
  <%= flash[:notice] %>
</h2>

<form action="/sessions" method="post">
  <label for="email">email</label>
  <input type="email" name="email" id="email"/>
  <label for="password">password</label>
  <input type="password" name="password" id="password"/>
  <input type="submit" value="Submit" />
</form>
