<h1>Please sign in to Chitter!</h1>

<form method='post' action='/sessions'>
  Username: <input type='text' name='username'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>

<!-- <a href="/sessions/recover_password">Forgot password?</a> -->