<h1>Sign in below</h1>
  <form action='/sessions' method='post' autocomplete="on">
    Username
    <br><input type="text" name="username"><br>
    Password
    <br><input type="password" name="password" autocomplete="off"><br>
    <br><input type='submit' value='Sign in'>
  </form>
<form>
