<h1>Sign in</h1>

<p>Please sign back in to use all the awesome functionality that Chitter has to offer.<p>

    <form action='/sessions' method='post'>
      <input name="username" placeholder="username" type="text">
      <input name="password" placeholder="password" type="password">
      <input type="submit" value="Sign up">
