<section class="signupbox">
	<section class="signup">
		<p class="signupline">Log into Chitter</p>
		<form action='/sessions' method='post'>
			<input name='email' placeholder="Email" size="40" style="font-size: 14px" type='text'><br>
			<input name='password' placeholder="Password" size="40" style="font-size: 14px" type='password'><br>
			<input type='submit' value='Sign in'>
		</form>
	</section>
</section>