<h3>Please log in</h3>

<form action="/login-details" method="post">
  <label for="username">Username:</label>
    <input type="text" name="username">
  <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>

<h3>Already have an account?</h3>

<form action="/signup">
  <button type="submit">Sign Up</button>
</form>
