<h3>Hi stranger! Please sign in to chitter</h3>

<form action="/sessions" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Sign in">
</form>

</br>

<form action='/users/new' method="get">
  <button type="submit">Or sign up if you're new</button>
</form>
