<form method="post" action="/sessions">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" class="btn btn-primary" value="Log in">
  <a href="users/new" class="btn btn-primary" role="button">I'm a new user</a>
</form>
