<h2>Please sign in!</h2>

<form action="/sessions" method="post" id="submit-forms">
	Username: <input type="text" name="username" id="entry-box"><br>
	Email: <input type="text" name="email" id="entry-box"><br>
	Password: <input type="password" name="password" id="entry-box"><br>
	<input type="submit" value="Sign In" id='submit-buttons'>
</form>