<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Change your password</h1>
    <p><%= @message unless @message.nil? %></p>
    <form action="/<%= @username %>/new_password" method="post">
      <div>
        <label for="current_password"></label>
        <input type="text" id="current_password" name="current_password" placeholder="current password" required><span> *</span>
      </div>
      <div>
        <label for="new_password"></label>
        <input type="text" id="new_password" name="new_password" placeholder="New password" required><span> *</span>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
      <div>
        <a href="/">Back to Home Page</a>
      </div>
  </body>
</html>