<h1> Welcome to Chitter Chatter </h1>
<h3> <%= @current_user %> </h3>
<form method="post" action"/show_message">
<label for='message'>
  Message:
  <input type ="textarea" name="message"/>
</label>
<input type="submit" value="Submit message" >
</form>
