<h1> Peeps </h1>




<ul id="timeline">
<% @message.sort_by! { |message| message.timestamp }.reverse.each do |message| %>
  <li>
    <%= message.message %>
    <%= message.user.email%>
    <%= message.timestamp.strftime("%A %d %B %Y, %H:%M") %>
  </li>
<% end %>
</ul>
