<h1> Peeps </h1>
Hi
<form>
  <label for='title'>
    Title:
    <input type='text' name='title' />
  </label>
  <label for='url'>
    URL:
    <input type='text' name='url' />
  </label>
  <input type='submit' value='Create link'>

</form>
