<h2> enter credentials to continue </h2>
<form action = '/session' method = 'POST'>

  <label for="email"> email: </label>
  <input type = "email" name = "email"/>
  <br>

  <label for="password"> password: </label>
  <input type = "password" name = "password"/>
  <br>

  <input type = "submit" value = "log in"/>
</form>
