<% if flash[:error] %>
  <%= flash[:error] %><br><br>
<% end %>

Please log in<br><br>
<form action='/session/new' method='post'>
  Username: <input type='text' name='username'><br><br>
  Password: <input type='password' name='password'><br><br>
  <input type='submit' value='Log in'>
</form>
