<h1> Add Tweet </h1>

<form action='/tweets' method='POST'>
    <textarea name= 'Tweet' rows='3' cols = '50' required='required' maxlength='144'>
    </textarea>
  <br>
  <input type='submit' value='Tweet'>
</form>
