<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <form action="/messages/new" method="get" >
    <input type="submit" value="post message"/>
  </form>

  <ul>
    <% @messages.reverse.each do |message| %>
    <li class="messges">
      <%= message.text %>
       <p class="timestamp">posted at <%= message.post_time %> </p>
    </li>
    <% end %>
  </ul>

</body>

</html>
