<body style = ' background: url("https://previews.dropbox.com/p/thumb/AAi8ppMpqIKifACuUkQVotn4b9n0krPFWbjRFzfJ81LJ6tSzt2QVTwizC9d6ih8NoM52tHBPpJevr6wsSA0PAjEFANf8RZVdGYNsfKt3eg4ZM5d4JFCo4bx0R5sCvZn9e7JGZYxCChjGDWoYkWZYpvBjUnQEibBCCr2cI_YSeNInNg70isW0D3uwuKYwol-gGv4xT-8MZkXCLkqG9S7FwLDG8fVGPCeuaejzlt0Azm47DEpuQHGXFDCyRhi3W0MHi7RRKvVwsc6SwkBGnuQIbIuYGGI8f5r2w7cI6tb0VPjUAzMgTiN-6BRoeNqUhZsH0SjVWD1ikmNqzqHpSHVIk5ui/p.jpeg?fv_content=true&size_mode=5")no-repeat  center center fixed;background-color: #cccccc; text-align:right'>

<ul style='list-style:none; margin-right: 300px'>
  <% @messages.each do |message| %>
  <p>Posted at: <%= message.created_at %></p>
    <li><%= message.text %></li>

  <% end %>
</ul>
</body>