<% if @user %>
  <h1>Welcome, <%= @user.email %>!</h1>
<% end %>

<% @messages.each do |message|%>
  <ul>
    <li>
      <%= message.content %>
      <%= message.timestamp %>
    </li>
  </ul>
<% end %>

<form action='/messages/post' method='post'>
  <input type='text' name='content' placeholder='Type in your peep' />
  <input type='submit' value='Post' />
</form>

<form action='/sessions/destroy' method='post'>
  <input type='submit' value='Log out' />
</form>

<h3>
  <%= flash[:notice] %>
</h3>