<form action="/messages/new" method="POST">
        <label for="name">Penny for your thoughts?</label>
        <input type="text" name="msg">
        <input type="submit" value="Post">
        
</form>