<h1>Chitter</h1>

<form action="/peeps" method="post">
  <label for="peep">Send out a peep!</label>
  <input type="text" name="peep" placeholder="Peep"/>
  <input type="submit" value="Submit peep" />
</form>

<%= @peep %>