<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

  <form action="/messages/new" method="post">
    <input class='field' type="text" name="message">
    <input class="submit" type="submit" value="post message">
  </form>

</body>

</html>
