<form action = '/tweets' method = 'post'>
  <input type = 'text', name = 'text' placeholder='Tweet'><br>
  <input type = 'text', name = 'tags' placeholder='Tags'><br>
  <input type = 'submit', value = 'Submit'>
</form>
