<form action'/tweets' method='POST'>
  <label for='subject'>
  <p> Subject: </p>
  <input type='text' name='subject'/>
</label>
<label for='text'>
  <p> Text: </p>
  <input type='text' name='text'/>
</label>
<input type='submit' value='Tweet'>
</form>
