<h1 align "centre">Tweets</h1>

<form action="/tweets/new">
  <input type='submit' value= 'New tweet'>
</form>

<ul id='tweets'>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.message%>
      <%=tweet.time_posted%>
    </li>
  <% end %>
</ul>
