<div class='center'>
<form action='/session/new' method='post'>
  <label for='username_or_email'>
   Username or email: <input type='text'  placeholder="Username or email"  name='username_or_email'>
  </label>
  <br>

  <label for='password'>
    Password: <input type='password'  placeholder="Password" name='password'>
  </label>
  <br><br>
  <button type='submit'>Sign in</button>
</form>
</div>
