<h1> Sign Up! </h1>

<form>
  Email: <input type="email", name="email"><br>
  Password: <input type="password", name="password"><br>
  Name: <input type="text", name="name"><br>
  Username: <input type="text", name="username"><br>
</form>
