<p>Please log in here</p>
<form action="/session/new" method="post">
  User name: <input type="text" name="user_name">
  Email: <input type="email" name="email">
  Password: <input type="password" name="password">
</form>
