<!DOCTYPE html>

<html>
<form action='/session' method='post'>
  <label>
    Email: <input type='email' name='email' required/>
  </label>
  <label>
    Password: <input type='password' name='password' required/>
  </label>
  <input type='submit' value='Sign In'/>
</html>
