<img src='https://d21buns5ku92am.cloudfront.net/46038/images/151145-chitter_logo-fd27ff-medium-1418117906.png'>
<html>
<head>
  <meta charset="utf-8">
  <title> Chitter </title>
</head><h1> Please log in </h1>
<%= flash[:password] %>
<form action='/session' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' value='<%=flash[:email]%>'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Log in'>
</form>
