<form method='post' action='/sessions'>

  <label for='email'>
    Email:
    <input type='email' name='email' required>
  </label>

  <label for='password'>
    Password:
    <input type='password' name="password" required>
  </label>

  <button type='submit'>Sign in</button>

</form>
