<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>

  <body>
    <div class="header">
      <h1> Sign In! </h1>
    </div>

    <form action='/session' method="post">
      <label>Email:</label>
      <input type="email" name="email">
      <br>
      <label>Password:</label>
      <input type="password" name="password"><br>
      <br>
      <input type="submit" value="Sign In">
    </form>
  </body>

</html>
