<div class="welcome-box container">
    <h1>Login</h1>
<form action='/session/new' method='post' class='form-group'>
        <label for='email'>Email</label>        
        <input type='email' name='email'  class='form-control'/>
        <label for='password'>Password</label>
        <input type='password' name='password' class='form-control'/>
        <input type='submit' value='Log in' class='btn btn-default pull-right'>
</form>
</div>

