<h1> Sign in below </h1>

<form action='/session' method='post'>
  <label for='username'>
    Username: <input name='username' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
