<form method='post' action='/session'>
  Username: <input type='text' name='username' required>
  Password: <input type='password' name='password' required>
  <button type='submit'>Sign in!</button>
</form>

<div>
  Not got an account?
  <a href='/user/new'><button>Sign Up</button></a>
</div>
