 <div>
  <p>Enter the following to sign in.</p>
  <div>
  <form action='/session' method='post'>
    <p>User Name</p>
    <input type="text" name="user_name">
    <p>Password</p>
    <input type="password" name="password">
    <input type="submit" value="Sign In">
  </form> 
</div>
</div>