<h1> Log In </h1>

  <% if flash[:error_1] %>
    <div id='notice'><%= flash[:error_1] %></div>
  <% end %>

  <% if flash[:error_3] %>
    <div id='notice'><%= flash[:error_3] %></div>
  <% end %>

<div id="sign_in">
<form action='/existing_user' method="post">
  <lable for="user_name"> User Name: </lable>
    <input type="user_name" name="user_name" placeholder="Please enter your user name" required>
    <input type="password" name="password" placeholder="Please enter you password" required>
    <input type="submit"  value="Log In">
</form>

<form action='/user/new' method='get'>
  <input type="submit" value="Sign Up">
</form>
</div>
