<p>Please log in here</p>
<form action="/session/new" method="post">
  User name: <input type="text" name="user_name">
  Password: <input type="password" name="password">
  <button type="submit">Log in</button>
</form>

<a href='/user/new' value='Sign up'>Sign up</a>
