Log in to get chittering!
<form action='/session' method='post'>
  <p><label for="username">Username:</label></p>
    <input type=text name="username">
  <p><label for="password"></label>Password:</p>
    <input type=password name="password">

  <input type=submit value='Log in!'>
</form>
