<div class='container message'>
        <h4>Reply to, <%= @peep.user.name %></h4>
        <br>
        <%= @peep.body %>
</div>

<form action='reply/new' method='post' class='form-group'>
        <textarea name='reply' placeholder='Write a response' class='form-control'></textarea> 
        <input type='submit' value='Reply' class='btn btn-default' />
</form>

