<div>
  <form action="/peeps/:id/reply" method="post">
  <textarea name="reply" rows=5 cols=20 placeholder="Reply here">
  </textarea>
  <input type="submit" value="Create Reply">
  </form>
</div>

<%= @peep %>
