<h1> Post a new peep for all to see! </h1>

<form action="/users/peeps" method="post">
  <input type="text" name="peep" placeholder="write your peep here"/>
  <input type="submit" value="Post Peep!"/>
<form/>
