<% if current_user %>
<form action="/user/login" method="post">
  <input type="hidden"     name="_method" value="delete">
  <input type="submit"     value="Sign out">
</form>

<h1> Welcome, <%= current_user.name %> </h1>

<form action="/peeps"    method="post">
  <input type="text"     name="peep">
  <input type="submit"   value="Peep">
</form>

<% else %>

<h1>Welcome to Chitter </h1>

<%= partial :'partials/home_page' %>

<% end %>
