<div class='container'>
  <a class="navbar-brand" href="/">Chitter</a>

  <% if current_user %>
    <form class='navbar-form navbar-right' action='/sessions' method='POST'>
      <input type='hidden' name='_method' value='DELETE'>
      <input class='btn btn-default' type='submit' value='Sign out'>
    </form>
    <p class='navbar-text navbar-right'>Welcome <%= current_user.name %>.</p>
    <p class='notice'> <%= flash[:success]%> </p>
  <% else %>
    <div class='navbar-right'>
      <p class='navbar-text'>Sign in to post a Peep </p>
      <a role='button' class="btn btn-primary navbar-btn" href='/sessions/new'>Sign in</a>
      <a role='button' class="btn navbar-btn" href='/users/new'>Sign up</a>
    </div>
  <% end %>
</div>
