<h4 style="color:black; font-weight: bold;"><%= @user.name %></h4>
<h6>@<%= @user.username %></h6>
<h5 style="margin-top:25px;"><%= @user.peeps.count %> <small>PEEPS</small> | <%= @user.replies.count %> <small>REPLIES</small></h5>
