<nav class="navbar navbar-expand-lg navbar-light bg-blue">
<a class="navbar-brand" href="/peeps">Chitter</a>
  <div class="nav">
    <a class="nav-item nav-link" href="/peeps">Peeps</a>
    <a class="nav-item nav-link" href="/filter_by_tag">Search</a>
    <a class="nav-item nav-link" href="/sessions/new">Sign In</a>
    <a class="nav-item nav-link" href="/sign_up">Sign Up</a>
  </div>
</nav>
