<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Chitter</a>
  <div class="nav">
    <a class="nav-item nav-link" href="/peeps">Peeps <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/sessions/new">Sign In</a>
    <a class="nav-item nav-link" href="/sign_up">Sign Up</a>
  </div>
</nav>
