<link rel="stylesheet" type="text/css" href="../../../public/peeps_style.css" />

<table class="users">
  <thead>
    <tr>
      <th class="row-1 date">Date</th>
      <th class="row-2 user">User</th>
      <th class="row-3 body">User Peep</th>
    </tr>
  </thead>
  <tbody>
  <% @peeps.reverse_each do |peep| %>
    <tr>
      <td><%= peep.timestamp.strftime("Posted: %m/%d/%Y, at %I:%M%p")   %></td>
      <td><%= peep.peeper %></td>
      <td><%= peep.body %> </td>
    </tr>
  </tbody>
  <% end %>
</table>