body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.peepslist {
    border: 1px solid black;
    margin: auto;
    padding: 15px;
    width: 40%;
    box-shadow: 10px 10px grey;
    font-size: inherit;
    border-radius: 10px;
    background-color: white;
    background: rgba(100%,100%,100%,.7);
    text-align: center;
}

.container{
        max-width: 500px;
    }
