* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(5, 123, 170);
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}

input {
  width: 100%;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 30px;
  z-index: 3;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  height: 300px;
  width: 300px;
  bottom: 5%;
  left: 10%;
}

.notice {
  background: rgba(255, 255, 255, 0.4);
  height: 100px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.inside-glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.peep {
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}

.peep-text {
  font-size: 20px;
}

.peep-user,
.peep-time {
  font-size: 12px;
  text-align: right;
}

.homepage-link {
  margin-top: 20px;
}

.bottom-nav {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: collumn;
}

.form-child {
  margin: 20px 7% 0px 7%;
}

.form-submit {
  margin: 20px 7% 0px 60%;
  width: 20%;
}