@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:wght@300&family=Dongle:wght@300;400;700&family=IBM+Plex+Serif:wght@100;300&family=Julius+Sans+One&family=Prata&family=Russo+One&family=Varela+Round&display=swap');

body {
  display: flex;
  flex-direction: row;
  background-color: cornsilk;
  height: 100vh;
}

.tri-column-one {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-left: 1px lightgrey solid;
  /* /* width: 30%; */
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

}

.tri-column-two {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-left: 1px lightgrey solid;
  /* width: 30%;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px; */
}

.signup-login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
  /* background-color: green; */
}

/* .tri-column-three {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: white;
} */



form {
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

input {
  width: 200px;
  margin: 10 auto;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  margin: 10 auto;
  text-align: center; 
  font-family: 'Bangers', arial; margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  text-align: center; 
  font-family: 'Bangers', arial;
}

h3 {
  text-align: center; 
  font-family: 'Bangers', arial;
}

form:hover {
  opacity: 0.7;
}

.text-input {
  border-radius: 7px;
}

button {
  margin-top: 10px;
  border-radius: 7px;
  padding: 5px 10px;
}






