@import url('https://fonts.googleapis.com/css2?family=Damion&family=Lora&family=Reenie+Beanie&family=Rock+Salt&family=Rubik+Mono+One&family=Sansita&family=Shrikhand&display=swap');

/* general */

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: auto;
  justify-content: center;
  background-color: grey;
  background-image: url(/images/forest.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-column {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: flex-end;
  min-width: 1000px;
  max-width: 1300px;
}

html {
  overflow: hidden;
  height: 100%;
}

.divider {
  min-height: 0px;
  max-height: 0px;
  max-width: 100%;
  border-bottom: 1px lightgrey solid;
}

.bi-column-one {
  background-image: url(/images/forest.jpg);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-left: 1px lightgrey solid;
  padding-bottom: 5px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: 50%; 
  background-position-y: 60%;
  background-size: cover;
}

.bi-column-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-left: 1px lightgrey solid;
}

form {
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.input-post-chit {
  width: 30%;
  margin: 10 auto;
  margin-bottom: 30px;
  border-radius: 9999px;
  min-height: 40px;
  border: 1px lightgrey solid;
  text-align: center;
}

input {
  width: 200px;
  margin: 10 auto;
  margin-bottom: 30px;
  border-radius: 9999px;
  min-height: 40px;
  border: 1px lightgrey solid;
  text-align: center;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  margin: 10 auto;
  text-align: center; 
  font-family: 'Lora', arial; margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  text-align: center; 
  font-family: 'Lora', arial;
}

h3 {
  text-align: center; 
  font-family: 'Lora', arial;
}

h6 {
  text-align: right; 
  font-family: 'Lora', arial;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 100;
}

form:hover {
  opacity: 0.7;
}

.text-input {
  border-radius: 7px;
}

button {
  margin-top: 10px;
  border-radius: 7px;
  padding: 5px 10px;
}

/* sign-up/login */

.signup-heading {
  margin-bottom: 20px;
  margin-top: 30px;
}

.signup-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.signup-box {
  display: flex;
  flex-direction: column;
}

.input-box {
  width: 100%;
}

.login-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px lightgrey solid;
}

textarea {
  padding: 20px;
  resize: none;
  font-family: arial;
  font-size: 20px;
  border: 0px;
}

/* post_chit.erb */

.post-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: auto;
  justify-content: center;
  background-image: url(/images/forest.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.post-chit-main-container {
  /* redundant? */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.post-chit-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bi-column-one-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  background-color: white;
  text-align: center;
  border-left: 1px lightgrey solid;
  /* padding-bottom: 5px; */
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: 50%; 
  background-position-y: 60%; */
  /* background-size: cover; */
  overflow-x: scroll;
}

.bi-column-two-post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: white;
  text-align: center;
  border-left: 1px lightgrey solid;
  /* padding: 10px; */
  
}

.inner-column-three-posts {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: white;
  border-left: 1px lightgrey solid;
  /* margin: auto; */
  /* padding: 10px; */
}

.links {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 30%;
  font-family: 'Lora';
  text-align: left;
}

.home-button {

}

.notifications-button {
  
}

.messages-button {
  
}

.bookmarks-button {
  
}

.profile-button {
  
}

.dead-div-links {
  /* meant to keep the boxes on left and right columns at same height */
  /* but only works if boxes are to stay the same height */
  width: 90%;
  height: 40%
}

/* chits */

.chit-container {
  display: flex;
  flex-direction: column;
  border-top: 1px lightgrey solid;
  padding: 5px;
}

.chit-container:hover {
  background-color: rgba(220, 220, 220, 0.1);
}

.handle {
  font-family: arial;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}

.content {
  font-family: arial;
  text-align: left;
}

.timestamp {
  font-family: arial;
  text-align: right;
}

.post-form {
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  width: 100%;
}

.post-input {
  width: 100%;
  height: 200px;
  border-radius: 0px;
}

.handle-and-submit-container {
  display: flex;
  flex-direction: row;
}

.handle-input {
  width: 40%;
  margin: 10 auto;
  margin-bottom: 30px;
  border-radius: 9999px;
  min-height: 40px;
  border: 1px lightgrey solid;
  text-align: center;
}

.page-title {
  font-family: arial;
  font-size: 20px;
  min-height: 20px;
  text-align: left;
  padding: 20px;
  background-color: lightgray;
}

.what-is-happening {
  display: flex;
  flex-direction: column;
  min-height: 30%;
  max-height: 30%;
  width: 90%;
  background-color: rgba(196, 192, 192, 0.8);
  border-radius: 15px;
}

.what-is-happening-header {
  display: flex;
  flex-direction: column;
  /* min-height: 15%;
  max-height: 15%; */
  height: 30px;
  padding: 10px;
  max-width: 100%;
  background-color: rgba(196, 192, 192, 0.8);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: arial;
  text-align: left;
}

.people-you-know {
  display: flex;
  flex-direction: column;
  min-height: 40%;
  max-height: 40%;
  width: 90%;
  background-color: rgba(196, 192, 192, 0.8);
  border-radius: 15px;
}

.people-you-know-header {
  display: flex;
  flex-direction: column;
  height: 30px;
  /* min-height: 15%;
  max-height: 15%; */
  padding: 10px;
  max-width: 100%;
  background-color: rgba(196, 192, 192, 0.8);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: arial;
  text-align: left;
}





