.messagesSection {
  padding: 40px 10px 10px 10px;
}

.messageBlock {
  padding: 10px;
  height: auto;
  width: auto;
  background-color: #fff;
  border: 1px solid #1da1f2;
  border-radius: 20px;
  margin: 10px 0 10px 0;
}

.messageBlock p {
  font-size: 14px;
}

.messageBlock .timestamp {
  text-align: right;
  margin-top: -5px;
  font-size: 10px;
  color: #657786;
}
