.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background-color: rgb(29, 161, 242);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
  
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.card {
  box-shadow: 2px 2px 0 grey;
  border: 2px solid;
  border-color: black;
  transition: 0.3s;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 50px;
  border-radius: 8px;
  opacity: .9;
}

.input-box {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
}

.login-btn {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
}

.register-btn {
  width: 100%;
  padding: 12px 12px;
  margin-top: 40px;
  margin-bottom: 8px;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
}

.heading2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(78, 78, 77);
  font-size: 30px;
  line-height: 2;
}

.flash-notice {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
}
