body, html{
  margin:0;
  padding: 0%;
}

*{
  margin:0;
}

#header {
  text-align: center;
  display: flex;
  font-size: 50px;
  margin:0;
  padding: 0;
  width:100%;
  border-bottom: 10px solid black;
  line-height: 150%;
}
#header h1{
  align-items: flex-start;
  margin: 0;
  width:100%;
}

#login_signup_container {
  float: right;
  padding: 20px;
  font-size: 40px;
  line-height: 100%;
  text-decoration: none;
  z-index: 100;
  position: absolute;
  right:0;
  top:0;
  color:black;
}

#login_signup_container:hover {
  border-radius: 0px;
  border-left: 10px solid black;
}

.page {
  width:50%;
  padding: 0%;
  align-items: center;
  margin: 0 auto;
}

input[type=text],input[type=password],input[type=email]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 40px;
  width:40%;
}

.page input[type=submit] {
  font-size: 40px;
  width:40%;
  background-color: black;
  color: white;
  padding: 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
}

.page input[type=submit]:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

ul {
list-style-type: none;
padding: 5px;
width:99%;
border-bottom: 4px solid black;
margin: 0%;
border-radius: 4px;
cursor: pointer;
}

#peep{
width:100%;
}

#peep_container{
background-color: white;
}

#peep_container:hover {
  background-color: rgb(255, 255, 215);
}

li {
  width:100%;
  padding-bottom: 30px;
  font-size:20px;
}

#description{
  font-size:30px;
}

#peep_button {
  text-align: right;
}


#logout_box{
  float: right;
  padding: 15px;
  font-size: 40px;
  line-height: 113%;
  width:20%;
  text-decoration: none;
  z-index: 100;
  position: absolute;
  right:0;
  top:0;
  background-color: white;
  color:black;
 border:none;
}

#logout_box:hover {
  border-radius: 0px;
  border-left: 10px solid black;
  cursor: pointer;
}

#logout{
  margin:0;
  padding: 0;
}
