.addMsgForm {
  padding: 10px;
  text-align: right;
  margin-top: 20px;
}

.msgFormContainer {
  width: 50%;
  height: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3f3;
  border-radius: 20px;
}

.msgFormHeader {
  background-color: #1d94e0;
  padding: 10px 0 10px 0;
  border-radius: 20px 20px 0 0;
}

.msgFormHeader h3 {
  margin: 0;
  color: #fff;
}

.formInput * {
  padding: 10px;
  vertical-align: middle;
  margin: 5px;
}

.formInput input {
  line-height: 20px;
  width: 85%;
  border: none;
}

.formInput label {
  font-weight: bold;
  font-size: 14px;
  display: contents;
}

.formInput textarea {
  width: 85%;
  border: none;
}

textarea {
  resize: none;
}

.formInput.submitForm {
  text-align: center;
  margin-top: 40px;
}

.formInput.submitForm input {
  font-size: 14px;
  font-weight: bold;
  width: 30%;
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  border-radius: 100px;
}

.formInput.submitForm input:hover {
  background-color: #fff;
  color: #1da1f2;
  cursor: pointer;
}
