body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: hidden;
}

header {
  width: 100%;
  background-color: #fff;
  padding: 0 10px 0 10px;
  text-align: left;
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: fixed;
}

footer {
  padding: 10px;
}

h1, h3 {
  padding-left: 10px;
}

.navHome a {
  text-decoration: none;
  color: #000;

}

.navHome {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
}

.navHome:hover {
  color: #fff;
  cursor: pointer;
  border-bottom: 3px solid #1da1f2
}
