/* .background {

  background-image: url(/images/forest.svg);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-clip: border-box;
} */

.flash {
  margin: 20px;
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
}

.sign-in-box {
  margin: 20px;
  max-width: 600px;
  background-color: rgba(235, 245, 255, 1);
  padding: 20px;
  border-radius: 10px;
}

.sign-out {
  width:100%;
  padding:20px;
  background-color:rgba(203, 223, 238, 1) ;
}

.squiggle-post {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  background-color: rgba(235, 245, 255, 1);
  padding: 10px;
  border-radius: 10px;
}

.squiggle-form {
  margin-top: 10px;
  margin-bottom: -10px;
}

.squiggle-box {

  border: solid 1px;
  border-radius: 10px;
  border-color: #cccccc;
  width: 70%;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(203, 223, 238, 1);

}

.squiggle-title {
  border-bottom: solid 1px;
  border-color: #cccccc;
}

.squiggle-content {
  padding-top: 10px;
}
