.peep {
  background-color: #ffe9a6;
  margin: 10px 200px 0px 200px;
  border: solid 1px;
  padding: 10px;
}

.username {
}

.name {
}

.date {
}

.message {
  padding: 10px;
}

.peep-form {
  margin: 40px 200px 30px 200px;
}