body {
  background-color: rgb(102, 153, 255);
  font-family: arial;
  margin: 5%;
}

h1{
  color: #fff;
  font-size: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  background-color: #fff;
}

td, th {
  border: 1px solid #99ccff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #99ccff;
}

button {
  outline:none;
  height: 30px;
  text-align: center;
  width: 100px;
  border-radius:30px;
  background: #0066ff;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing:1px;
  text-shadow:0;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 4px;
  font:{
    size:10px;
    weight:bold;
  }
}

form {
    display: inline;
}
.message-box {
padding: 10px;
line-height: 30px;
background-color: #fff;
border-radius: 20px 0px 20px 0px;
box-shadow: 0px 2px 10px rgba(000, 000, 000, 0.5), inset 1px 2px 0px rgba(255, 255, 255, 0.4);
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
margin-left: 10px;
width: 70%;
}

/* body,html {
  position: relative;
  height: 100%;
}
.container {
  background: #222;
  height: 100%;
 /* max-width: 800px;*/
  /* margin: 0 auto;
  overflow: hidden;
  perspective: 1200px;
}
.container:after {
  box-shadow: inset 5px 5px 80px rgba(0,0,0,.8);
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.wrap {
  position: absolute;
  top: -60%;
  left: -10%;
  height: 300%;
  width: 200%;
  transform: rotateX(20deg) rotateY(40deg) rotateZ(-20deg);
  z-index: 5;
}
.pattern {
  background-size: 500px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400%;

  animation: scroll linear 20s infinite;
}


.pattern {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/27530/r7Z09Ht.png');
}

@keyframes scroll {
  from   {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-4000px, 0, 0);
  }
}

.credit {
  color: #fff;
  font: 12px/12px sans-serif;
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);

  a {
    color: #eee;
    text-decoration: none;
  }
} */ 
