/* background colour */
body {
    background-color: rgb(176, 239, 250);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 14.5%;
    text-align: center;
  }
  
  /* Change the color of links on hover */
  .topnav a.hover:hover {
    background-color: rgb(40, 144, 241);
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(53, 211, 250);
    color: white;
  }

  .topnav input[type=text] {
    float: none;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }