<% unless @peeps.all.empty? %>
  Current peeps
  <ul>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.body %>
      </li>
    <% end %>
  </ul>

<% else %>
  There are no peeps yet
<% end %>

<div>
  <a href='/peep/new'><button>New Peep</button></a>
</div>
