<ul>
  <% @peeps.each do |peep| %>
    <li >
      <%= peep.message %> 
        <ul>
          <li>
            Author: <%= peep.user.username%>
          </li>
          <li>
            <%= peep.created_at%>
          </li>
        </ul>  
    </li>
  <% end %>
</ul>