<div>
  <% if current_user %>
    <%= "Welcome #{current_user.username}" %>
  <% else %>
    <a href='/session/new'><button>Sign in</button></a>
    or
    <a href='/user/new'><button>Sign Up</button></a>
  <% end %>
</div>

<% unless @peeps.all.empty? %>
  Current peeps
  <ul>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.body %>
      </li>
    <% end %>
  </ul>

<% else %>
  There are no peeps yet
<% end %>

<div>
  <a href='/peep/new'><button>New Peep</button></a>
</div>
