<ul id="timeline">
<% @peeps.sort_by! { |peep| peep.timestamp }.reverse.each do |peep| %>
  <li>
    <span class="peep"><%= peep.text %></span>
    <a href="http://twitter.com/<%= peep.user.username %>" class="name"><%= peep.user.name %></a>
    <span class="time">on <%= peep.timestamp.strftime("%A %d %B %Y, %H:%M") %></span>
  </li>
<% end %>
</ul>
