
<h1>This is your Chitter!</h1>

<ul id='peep'>
	<% @peeps.reverse.each do |peep| %>
	<li>
		<%= peep.user %><%= peep.time.strftime("on %a at %I:%M%p") %>
    <br>
		<%= peep.post %>
	</li>
	<% end %>
</ul>

<% if current_user %>
<form action='/peep' method='POST' >
	<label for='peep'>
		Enter your post here:
		<input type='text' name='peep' />
	</label>
	<input type='submit' value='Send peep' >
</form>
<% else %>
<a href='/user/new'>Please sign in or register to post a peep!</a>
<% end %>
