<head>
  <title>New Peep</title>
</head>
<body>
  <form action="/peep/add" method="post">
    <label for="username">Username:</label>
      <input id="username" type="text" name="username" required>
    <label for="body">Peep:</label>
      <textarea id="body" name="body" rows="3" cols="35" required></textarea>
    <input type="submit" value="Post">
  </form>
</body>
