<% if current_user %>
<form method="post" action="/peeps/new">
  <input type="text" name="text" value="<%= @text if @text %>" placeholder="What's happening?" autocomplete="off" autofocus>
  <input type="submit" value="Peep">
</form>
<% end %>
