<h1>Peep Box</h1>

<form action='/peep' method='post'>
	<label for='text'>What's on your mind?</label>
	<textarea name='text' type='text' placeholder="Peep to your peeps here" rows="1" cols="70"></textarea>
	<input type='submit' value='Post Peep'>
</form>
