<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter</title>
  </head>

  <body>
    <form action="/peep" method="post">
      <label for='peep'>
        Peep: <input name='peep' type='text'>
      </label>
    <input type='submit' value='post it'>
    </form>
  </body>
</html>
