<form action="/peep" method="post" id="peep_input">
  <textarea rows="4" cols="40" form="peep_input" name="content"><%=@peep.content%></textarea>
  <button type="submit" name="peep">peep</button>
</form>
