<% if current_user %>
<form method="post" action="/peeps">
  <textarea name="text" placeholder="What's happening?" autocomplete="off" autofocus><%= @text if @text %></textarea>
  <input type="submit" value="Peep">
</form>
<% end %>
