<h1>New peep</h1>

<form action='/peep' method='post'>
	<label for='text'>Peep text:</label>
	<textarea name='text' type='text' placeholder="OMG! Chittlr is so awesome - way better that boring old twitter..." rows="1" cols="70"></textarea>
	<input type='submit' value='Send Peep'>
</form>
<p>
	<i>
		What is a peep? You may ask, well a peep is like a tweet but better! No character limits or stupid #tags or favorites or retweets (if they excisted they might be called repeeps). <strong>So post with freedom!</strong> Post a silly message, a complaints, what you had for lunch or just binary code.
 	</i>
</p>