
header {    
      display: flex;
      justify-content: center;
      margin-top: 1%;
			background-color: #ec5d0ade;
			margin-top: 0%;
			padding-top: 1%;
      border-radius: 25px;
      text-align: center;
}

body { 
    text-align: center;
    background-color: #dcdcdc;
    font-family: 'Delius Unicase', cursive; 
}

h1 {
  font-family: 'Autour One', cursive;
  font-size: 4vw;
}

input[type=submit] {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #ec5d0ade;
  border: none;
  border-color: white;
  color: white;
  padding: 16px 16px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 15px;
  margin: 0.5em 1em;
  cursor: pointer;
}

input[type=text] {
  width: 30%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  display: flex;
      justify-content: center;
      margin-top: 1%;
      text-align: center;
      padding: 16px 16px;
      margin: 0.5em 1em;
}

.peeper {
  width: 13%;
  height: 13%;
}

.hover-form {
  transition-duration: 0.4s;
}

.hover-form:hover {
  background-color: white;
  color: #ec5d0ade;
  border: solid #ec5d0ade;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.signing {
      display: flex;
      justify-content: center;
      margin-top: 1%;
      text-align: center;
      padding: 16px 16px;
      margin: 0.5em 1em;
}



