html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: fantasy;, serif;
    color: purple;
    background: lightblue;
    margin-top: 1cm;
}

.centered-wrapper {
    position: relative;
    text-align: center;
}

.centered-content {
    display: inline-block;
    vertical-align: middle;
}

dt {
    font-size: 150%
}

.button {
  font-family: fantasy;, serif;
    background-color: purple;
    border-radius: 18px;
    border: blue;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}

textarea {
    resize: none
}
