.title {
  background-color: #0084b4;
  margin-bottom: 0.5em;
  display: flex;
}

.actions {
  display: inline-flex;
  margin-left: 5%;
}

.main_page_input {
  margin-right: 1em;
  font-family: Work Sans;
  font-size: 0.8em;
  height: 2.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form_nav {
  margin-top: 0.8em;
}

.enter_form {
  font-style: Work Sans;
  background-color: #2eb471;
}

.enter_form_peep {
  background-color: #1dcaff;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.5em;
}

.form {
  margin-left: 1em;
}

.single_peep {
  background-color: #c0deed;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.5em;
  font-family: Work Sans;
}

.flash_container {
  height: 1.5em;
}

.flash_area {
  background-color: #e58d90;
  font-family: Work Sans;
  text-align: center;
}

h1 {
  font-family: Work Sans;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  width: 3em;
  margin-left: 2.7%;
  color: white;
  margin-top: 1.1em;
}

h3 {
  color: #0084b4;
  font-size: 0.7em;
}
