.body { 
    background-image: linear-gradient(to bottom right, purple, silver);
    color: antiquewhite;
}

.peeps {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-top: 40px;
    width: 65%;
    margin-left: 170px;
   
}

.time {
    font-size: 14px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.head {
    text-align: center;
    color: black;
}