html { 
  background-color: white; 
}

body {
  text-align: center;
  color: #333;
  font-family: arial;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  background-color: dodgerblue;
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 120%;
  font-family: futura;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}