body {
  background-color: #007acc;
  margin: 0;
  color: white;
}
#container {
  background-color: #004d80;
  position: fixed;
  top: 4.2rem;
  bottom: 4.2rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  width: 100%;
  text-align: center;
  padding: 1rem 0 5rem 0;
  border-radius: 0.80rem;
}
#image_logo {
  background-image: url('https://us.123rf.com/450wm/yupiramos/yupiramos1301/yupiramos130100804/17427774-blue-bird-isolated-over-white-background-vector-illustration.jpg?ver=6');
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 3rem;
}
#form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.1rem;
}
#username {
  background-color: #005c99;
  width: 18rem;
  height: 3.3rem;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.6rem;
  padding-left: 0.7rem;
  border: 1px solid #b3e0ff;
  border-radius: 5px;
  font-size: 1rem;
}
input [type=text]:focus {
  border: 2px solid #33adff;
}
.button {
  background-color: white;
  border-radius: 3rem;
  width: 19rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
}
a {
  color: #33adff;
  text-decoration: none;
}
#sign_up {
  margin-top: 3rem;
  color: #c8ddea;
}