body{
   background-color: #F7717D;
 }

 h1{
   font-family: 'Reem Kufi', sans-serif;
   font-size: 200px;
   color: white;
 }

 #logo, #button{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0,auto;
 }

 #inner_button{
   width: 180px;
   height: 50px;
   padding: 10px;
   margin: 20px;
   color: white;
   font-size: 20px;
   outline: none;
   border-style: solid;
   border-width: medium;
   border-spacing: inherit;
   border-color: white;
   background-color: transparent;
 }

 #inner_button:hover{
   background-color: white;
   color: #F7717D;
   border-color: #F7717D;
 }

 a{
  margin-top: -250px !important;
 }
