body {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
}

h2 {
  font-family: futura;
}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.cancel {
  font-size: 80%;
  text-align: right;
}

