.notice {
  margin: auto;
  padding-top: 10px;
  color: #04AA6D;
  text-align: center;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.user-profile-img {
  width: 90px;
  margin-top: -50px;
}

.body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.login-form {
  width: 300px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  background: #ffff;
  padding: 20px; 
  margin: 4% auto 0;
  text-align: center;
}

.login-form h1 {
  color: #04AA6D;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

hr {
  margin-top: 30px;
  width: 80%;
}
.or {
  background: white;
  width: 30px;
  margin: -19px auto 10px;
  font-family: "Poppins", sans-serif;
}

.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0; 
  width: 80%;
  border: 1px solid #999;
  outline: none; 
  font-family: "Poppins", sans-serif;
}

button {
 color: #ffff;
 width: 70%;
 padding: 10px;
 border-radius: 20px;
 font-size: 15px;
 margin: 10px 0;
 border: none;
 outline: none;
 cursor: pointer;
 font-family: "Poppins", sans-serif;
}

.login-btn {
  background-color: #04AA6D;
  font-family: "Poppins", sans-serif;
}
.login-btn:hover {
  box-shadow: 1px 1px 10px #1c8adb;
}
