.buffer {
  padding: 1em
}
.buffer-lg {
  padding: 2em
}

.card {
  border-radius: 0px;
  border-top: 0px;
}

.card-body {
  padding-bottom: 0.7em;
}

.created-at {
  text-align: right;
  padding: 0.3em;
  padding-right: 1em;
  background: 0%;
}

div.chitter-content {
  max-width: 1500px;
  margin: auto;
}

.new_user {
  background-color:lightgreen;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.peep-btn {
  width: 5em;
  border-radius: 20px;
}

.peep-form {
  border: 0px;
}

.right-align {
  text-align: right;
}