.buffer {
  padding: 1em
}

.buffer-lg {
  padding: 2em
}

.buffer-sm {
  padding: 0.7em
}

.buffer-xsm {
  padding: 0.5em
}

.card {
  border-radius: 0px;
  border-top: 0px;
}

.child-peep {
  border-radius: 0px;
  border: 0px;
  border-top: 1px;
  border-top-style: solid;
  border-left: 1px;
  border-left-style: solid;
  border-color: lightgray;
}

.card-body {
  padding-bottom: 0.7em;
}

.created-at {
  text-align: right;
  padding: 0.3em;
  padding-right: 1em;
  background: 0%;
}

div.chitter-content {
  max-width: 1500px;
  margin: auto;
}

.flash {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
}

.flash-new_user {
  background-color: #8cc152;

}

.flash-login {
  background-color: #8cc152;

}

.flash-fail_login {
  background-color: #e9673f;
}

.header-icon {
  height: 50px;
}

.index-left {
  width: 100%;
  height: 100vh;
  background-image: url('Chitter.jpeg');
  background-size: 120vh;
  background-position: 0%;
  color: white;
}
.index-login {
  border-radius: 0px;
}

.index-login-main-btn {
  width: 100%;
}

.index-login-btn {
  font-size: 80%;
  border-color: #4A89DC;
  border-radius: 20px;
}
.index-login-btn:hover {
  background-color: rgb(184, 212, 248);
}

.ir-form {
  max-width: 800px;
}

.lbuf {
  /* padding-left: 0.5em; */
}

.ls-btn {
  width: 20%;
  border-radius: 20px;
}

.ls-form {
  padding: 10%;
  height: 60vh;
  border-radius: 20px;
}

.ls-header-row {
  height: 2.3em;
}

.ls-header {
  color: darkslategrey;
  font-size: 90%;
}

.ls-header:hover {
  border-bottom: #4A89DC;
  border-bottom-style: solid;
}

.login-signup-page {
  background-color: lightgray;
  height: 100vmax;
}

.logout {
  padding: 0%;
  background: 0%;
}

.logout-btn {
  border-radius: 0px;
  text-align: left;
  width: 100%;
}

.logout-btn:hover {
  text-decoration: none;
  background-color: rgb(233, 231, 231);
}

.mpad {
  padding: 0.7em;
}

.nav {
  padding-top: 10%;
  text-align: left !important;
}

.peep-btn {
  width: 5em;
  border-radius: 20px;
}

.peep-form {
  border: 0px;
}

.peep-footer {
  background: 0;
  border: 0px;
  text-align: right;
}

.peep-name {
  padding-top: 0.5em;
  padding-left: 2em;
}

.replies {
  /* width: 100%;
  border-top: 1px;
  border-top-style: solid;
  border-color; lightgrey; */
  padding-left: 1em;
  color: #4A89DC;
}

.right-align {
  text-align: right;
}

.sidebar {
  padding-top: 10vh;
}

.sq-gray {
  padding: 1.8em;
  background-color: rgb(236, 236, 236);
  border-radius: 0px;
  border: 0px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
}

.lv-mid {
  padding-top: 40vh;
}

.rv-mid {
  padding-top: 30vh;
}

.ls-mid {
  padding-top: 15vh;
}