body {
  background-color: lightblue;
}

h1 {
  color: navy;
  text-align: center;
}

h2 {
  color: navy;
  text-align: center;
}

h3 {
  color: navy;
  text-align: center;
}

form {
  text-align: center;
}