.header {
  padding: 2.5rem 0 1rem 0;
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  resize: none;
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  border: none;
}

.btn-adjusted {
  width: 100%;
  max-width: 300px;
  border: none;
  cursor: pointer;
}

.form-wrapper {
  padding: 3rem 4rem;
  border-radius: 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
