
/*style.css*/

  body {
    background-color: #53a548
  }

  .button {
    background-color: #A1C6EA;
    border: none;
    color: white;
    padding: 64px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .button1 {width: 250px;}

  .button1 {border-radius: 8px;}

  .button1 {
    color: #495867;
    border: 2px solid #495867;
  }

  .button1:hover {
    color: #BBD1EA;
  }

  h1 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #ffffff;
  }

  h2 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #ffffff;
  }

  h3 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #ffffff;
    font-style: oblique;
  }
