#body {
  background-image: url("https://newevolutiondesigns.com/images/freebies/abstract-background-60.jpg");
  /* <%# background-image: url("/lighting.jpg"); %> */
  font-family: helvetica;
  margin: 0 0;
}
/* #body .sort-menu{
  display: none;
} */
nav {
  background-color: black;
  height: 45px;
}

#index_heading{
  color: black;
  font-family: 'Yellowtail', cursive;
}

#jumbotron-override {
  background-color: rgba(224, 228, 229, 0.5);
  color: black;
}

#login{
  width: 101px;
  margin-right: 3px;
}

span {
  display: inline-block;
}

ul {
list-style-type: none;
margin: 0;
margin-bottom: 0;
padding: 0;
overflow: hidden;
background-color: black;
color: white;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: rgba(121, 167, 242, 0.3);
cursor: pointer;
}

.active {
background-color: #4CAF50;
}

#nav-li {
float: right;
font-size: 21px;
}

#user {
float: right;
font-size: 18px;
}

#home {
  float: left;
  font-size: 18px;
}

#site-title{
font-family: 'Yellowtail', cursive;
font-size: 30px;
}

#flash-notice{
  margin-bottom: 0;
}


/* <%# Login styling %> */

.login-form{
  margin-top: 80px;
}


/* <%# index styling %> */
#login_btn{
  padding: 14px 33px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

#sign_up_btn{
  padding: 11px 40px;
  font-size: 18px;
}

/* <%# sign up erb styling %> */
input {
  margin: 10px;
}

#sign_up_heading{
  color: white;
  margin-top: 30px;
  padding-bottom: 50px;;
}

#post_button {
  margin-top: 20px;
}

#sign_up_labels {
  color: white;
  float: left;
}
.container {
  width: 500px;
  clear: both;
  /* <%# margin-top: 80px; %> */
}

.container input {
  width: 100%;
  clear: both;
}


/* <%# messaging styling %> */
#messaging_header{
  color: white;
  padding-bottom: 10%;
}
#post {
  width: 600px;
  height: 400px
  padding-bottom: 10px;
}
#post_message_button {
  margin-top: 20px;
  width: 20%;
}


/* <%# feed styling %> */
.peeps {
  /* <%# background-color: rgb(66, 188, 244, 0.6); %> */
  background-color: rgba(10, 10, 10, 0.4);
  border-radius: 15px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25px;
  /* <%# padding: 5px; %> */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  color: white;
}

#peep-header{
  /* <%# background-color: rgb(93, 127, 239); %> */
  background-color: rgb(239, 67, 67, 0.7);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#peep-footer{
  /* <%# background-color: rgb(93, 127, 239); %> */
  background-color: rgb(239, 67, 67, 0.7);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#peep-middle{
  /* <%# background-color: rgb(186, 18, 26, 0.3); %> */
}

h1 {
  color: white;
  margin-top: 15px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.feed_form {
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
}

label {
  color: white;
}

#feed_label {
  padding-right: 5px;
  color: white;
}

#sort {
  margin-left: 7px;
  width: 70px;
}
#newest {
  margin-right: 10px;
}
#oldest {
  margin-right: 10px;
}
#time{
  text-align: right;
  margin-right: 10px;
}
#username{
  float: left;
  margin-left: 10px;
}


/* <%# nav %> */
#cross{
  float: right;
}

body.index .sort-menu {
  display: none;
}

.fas fa-bars{
  color: white;
}

#panel {
  padding: 5px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  display: none;
  position: absolute;
  left: 80%;
  border-radius: 4px;
}
#panel2 {
  padding: 5px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  display: none;
  position: absolute;
  left: 75%;
  border-radius: 4px;
}
.menu{
  width: 300px;
  list-style-type: none;
}
.menu-item{
  padding: 10px;
}
.sort-menu{
}

#sign-up-link {
  text-align: center;
  color: white;
}

.hidden{
  border: none;
  background-color: rgba(10, 10, 10, 0);
  color: white;
}

.hidden:hover:not(.active){
  cursor: pointer;
}

.sort-buttons:hover:not(.active){
  background-color: rgba(121, 167, 242, 0.3);
}

.sort-buttons{
  padding: 10px;
  width: 300px;
}
