body {
  background-color: #f5eee4;
}

.honk-entry {
  position: relative;
  left: 40%;
  padding: 20px;
  margin: 15px;
  width: 100%;   
}

.honk-container {
  position: relative;
  left: 30%;
  right: 30%;
  padding: 20px;
  margin: 15px;
  width: 33%;   
  border-style: solid;
  border-radius: 20px;
  border-color: orange;
  background-color: #fefefe;
}

.honk-content {
  font-family: 'Lucida Sans';
}

.honk-datetime {
  position: relative;
  bottom: 0px;
  text-align: right;
  font-family: 'Lucida Sans';
  font-size: 10px;
}

#goose-icon {
  width: 10%; 
  position: fixed;
  right: 20px;
  bottom: 20px;
}
