* {
  font-family: Arial;
}

body {
    background-color: #EBF2F6;
}

.flash_header {
  padding: 5px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -30px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
  background-color: orange;
}

.welcome_header {
  margin-left: 20px;
}

.top_nav {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -30px;
  font-size: 15px;
  padding-left: 10px;
  width: 100%;
  height: 60px;
  background-color: #c6e2ff;
}

.tn_buttons {
  display: inline-block;
  margin-left: 150px;
  margin-top: 30px;
}

.main_body {
  margin-left: 20px;
  margin-right: 40px;
}

.peeps_table {
  table-layout: auto;
  border: 1px solid black;
  width: 60%;
}

#chitter {
  position: absolute;
  margin-left: 15px;
}

