.timestamp {
  color: #a02e01;
}

img.img-logo {
  width: 50px;
  height: 50px;
}

h1 {
  color: #e0707c
}

h2 {
  color: #e0707bc0
}
p {
  color: black;
}

.sign-up-form {
  text-align : center !important;
  width: 10% !important;
}

button.btn {
  background-color: #e0707bc0 !important;
  border-color: lightpink;
}

li.list-group-item {
  background-image: linear-gradient(to bottom right, #ffdfdf, #ffc0c0);
  border-radius: 10px !important;
  box-shadow: 4px 4px 5px rgb(155, 150, 150);
}

.navbar {
  margin-bottom: 10px;
  /* background-color: #B5F3F0 !important; */
}

.nav-item {
  border-radius: 100px !important;
}