body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Tahoma", Geneva, sans-serif;
}

h1 {
    color: white;
    text-align: left;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

form {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
  overflow: hidden;
  background-color: #66e0ff;
  text-align: right
}

.header h1 {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 50px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
}

.header_button {
    width: 200px;
    height: 25px;
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
  margin: auto;
  width: 40%;
	margin-bottom: 10px;
	border-radius: 2px;
	border: solid 6px rgb(58, 161, 199);
}

.notice {
  color: red;
  font-size: 16px;
  text-align: center;
}
