body {
  background-color: #004d80;
  background-image: url('https://shannonclaussen.files.wordpress.com/2013/04/blue-bird-wallpaper-free.jpg');
  width: 850px;
  height: 850px;
  margin: 0;
  color: white;
}
#form-container {
  background-color: #004d80;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 200px;
  border-radius: 0.80rem;
  padding: 1.5rem auto 0.5rem;
}
#image_logo {
  background-image: url('https://us.123rf.com/450wm/yupiramos/yupiramos1301/yupiramos130100804/17427774-blue-bird-isolated-over-white-background-vector-illustration.jpg?ver=6');
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 3rem;
  margin-top: 0.8rem;
}
.details {
  background-color: #005c99;
  width: 18rem;
  height: 3.3rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
  border: 1px solid #b3e0ff;
  border-radius: 5px;
  font-size: 1rem;
}
.button {
  background-color: white;
  border-radius: 3rem;
  width: 19rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}