body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #B10F2E;
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: 0px;
    height: 10%;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#sign-out-form{
  float: right;
}

#logoffbtn{
  float: right;
}

.container{
  margin-top: 70px;
}

/* Change background on mouse-over */
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


#div1{
    float:left;
    background:#B10F2E;
    width:25%;
}

#div2{
    overflow:hidden;
    background:#B10F2E;
    width:50%;
}

#div3{
    float:right;
    background:#B10F2E;
    width:25%;
}

p{
  font-family: 'Montserrat', sans-serif;
}

#grid-container {
  display: grid;
  margin: 40px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chitter{
  color: #B10F2E;
}
