#div1{
    float:left;
    background:red;
    width:20%;
}
#div3{
    float:right;
    background:green;
    width:20%;
}
#div2{
    overflow:hidden;
    background:blue;
    width:60%;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
}
