<h1>You are following:</h1>
<ul id='following'>
  <% @following.each do |person| %>
    <li>User known as <%= "<a href='/users/profiles/#{person.username}'>#{person.username}</a>" %></li>
  <% end %>
</ul>
