<div class="col-md-5 col-md-offset-4">
  <h1>Password Reset Form</h1>

  <form action="/users/send-token" method="post">
    <div class="form-group">
      <label for="email">Email address</label>
      <input class="form-control" id="email" type="email" name="email" placeholder="email" required>
    </div>
    <button type="submit" class="btn btn-default">Send Email</button>
  </form>
</div>
