<html>

<head>
<style>
body  {background-color: #000000; color: white;}
a     {color: white; font-size: 150%;}
ul    {list-style-type: none;}
li {
  background-color: grey;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left:   5px;
  margin-bottom: 20px;
}

#time {font-size: 60%;}

#peeps {font-size: 150%; color: white;}

</style>
</head>

<body>

<h1> SIGN UP TO CHITTER </h1>
<br>
<!-- <div>

  <form action="/user" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="email">Email:</label>
    <input type="text" name="email">
  <input type="submit" value="Register">
  </form>

</div> -->

</body>
