<h1> Chitter </h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      Peep: <%= peep.title %>
        <% end %>
    </li>
</ul>
<!--
<form action='/links/new' method='get'>
  <input type='submit' value='Add links'/>
</form> -->
