<%= "Welcome Someone!" %>

  <form action="/users/new" method="get">
    <input type="submit"
      name="Register" value="Register"/>
  </form>

  <form action="/users/log-in" method="get">
    <input type="submit"
      name="Log in" value="Log in"/>
  </form>
