<h1> List of Chitter users </h1>

<ul id='users'>
  <% @users.each do |user| %>
    <li>
      Name: <%= user.name %>
      Username: <%= user.username %>
      Email: <%= user.email %>
    </li>
  <% end %>
</ul>
