<h1>Log In:</h1>
<form action='/users/chitter-sign-in' method='post'>
  <input type='text' name='username' value='username'>Please enter your username:</input>
  <input type='password' name='password' value='password'>Please enter your password:</input>
  <input type='submit' value='Log-In'>
</form>
