<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Chitter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/peeps">Peeps <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/sessions/new">Sign In</a>
        <a class="nav-item nav-link" href="/sign_up">Sign Up</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav>

    <div class="container">
    <% if flash[:errors] %>
  <div id='errors'><%= flash[:errors] %></div>
<% end %>

<form action="/sessions" method="post">
  <label for="email">Email<label/>
  <input type="text" name="email"/>
  <label for="password">Password<label/>
  <input type="password" name="password"/>
  <input type="submit" value="Log in"/>
</form>
</div>
