<h1> Log in </h1>
<form action="/" method="get">
<input type="email" name="email"  placeholder="Email Address">
<input type="password" name="password" placeholder="Password"/>
<input type="submit" value="Log in"/>
</form>
