<h1> Please login to Chitter to start Peeping! </h1>
<form action='/users/login' method='post'>
  <label for='username'>
    Username: <input type='text' name='username'>
  </label>
  <input type='submit' value='Login'>
</form>
