<div align="center" class="container well">

  <form class="log-in-form" action='/users/login' method='post'>

    <div class="form-group">
      <label for='email'>Email</label>
      <input type='email' name='email' class="form-control" placeholder="Email">
    </div>

    <div class="form-group">
      <label for='username'>Password</label>
      <input type='password' name='password' class="form-control" placeholder="Password">
    </div>

    <input type='submit' value='Log in' class="btn-primary">

  </form>

</div>
