  <h1> Login </h1>
  <form action="/users/login" method="post">
    <div class="form-group">
      <label for="email">Email address</label>
      <input class="form-control" id="email" type="email" name="email" placeholder="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" placeholder="password" required>
    </div>
    <a href="/users/forgot-password">Forgot Password?</a><br>
    <button type="submit" class="btn btn-default" id="login">Login</button>
  </form>
