<h1> <%= current_user.email %> logged in</h1>


<ul id='peeps' >
<% Peep.all(:user => current_user,order: [:created_at.desc]).each do |peep| %>
  <li>
    Peep: <%= peep.peep %>
  </li>
<% end %>
</ul>
