<head>
  <link rel="stylesheet" type="text/css" href="../index.css">
</head>

<h1>Want to sign up to Chitter? Good choice!</h1>
<h2>Deets below plz...</h2>

<form action='/users' method='post'>
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="email" name="email" value = "<%= @user.email %>" required>
  Password: <input type="text" name="password">
  Confirm Password: <input type="text" name="password_confirmation">
  <input type="submit" value='Sign up'>
</form>
