<div class="headings">
  <h1> Welcome to Chitter </h1>

  <h3> Enter your details below to sign up or click the button below </h3>
</div>

<div class="sign_in_button">

  <form action='/sessions/new' method='get'>
    <input type="submit" value="Sign In">
  </form>
  <p></p>
   <form action="/peeps" method="get">

    <input type="submit" value="View Peeps">

  </form>

</div>

<div class="home_container">

  <div class="sign_up">

  <form action="/users" method="post">
    <label for="email">
      email:
      <div class="sign_up_input">
        <input type="email" name="email" required>
      </div>

    </label>

    <p><label for="password">
      password:
      <div class="sign_up_input">
        <input type="password" name="password" required>
      </div>

    </label></p>

    <p><label for="password confirmation">
      password confirmation:
      <div class="sign_up_input">
        <input type="password" name="password_confirmation" required>
      </div>

    </label></p>

    <p><label for="name">
      name:
      <div class="sign_up_input">
        <input type="text" name="name" required>
      </div>

    </label></p>

    <p><label for="username">
      username:
      <div class="sign_up_input">

        <input type="text" name="username" required>
      </div>

      </label><p>
      <div class="sign_up_input">
        <input type="submit" value="Submit" required>
      </div>

  </form>
  </div>
</div>
