<h1>Sign up for Chitter</h1>

<form class="" action="new" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirm Password">
  <button type="submit" name="sign_up">Sign Up</button>
</form>
