<form action="/users" method="post">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" id="password"  required>
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password Confirmation:</label>
    <input type="password" name="password_confirmation" class="form-control" id="password_confirmation"  required>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-default" id="sign_up" value="Sign Up">
  </div>
</form>
