<h1> Please sign up </h1>

<form action='/users' method='post'>
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign up">
</form>
