<h3> Sign up for Chitter</h3>

<form action='/users' method='post'>
  <input type='text' name='email' placeholder='email'>
  <input type='password' name='password' placeholder='password'>
  <input type='text' name='name' placeholder='name'>
  <input type='text' name='username' placeholder='username'>
  <input type='submit' value='Sign up'>
</form>
