<form action='/users' method='post'>
  <label for='name'>Name:
    <input type='text' name='name' required>
  </label>
  <label for='email'>Email:
    <input type='email' name='email' required>
  </label>
  <label for='handle'>Handle:
    <input type='text' name='handle' required>
  </label>
  <label for='pwd'>Password:
    <input type='password' name='pwd' required>
  </label>
  <label for='pwd_confirm'>Confirm Password:
    <input type='password' name='pwd_confirm' required>
  </label>
  <input type='submit' value='Sign Up' />
</form>