<h3> Sign up to be an awesome chitterer </h3>

<form action='/users' method='POST'>
  Email <input type='text' name='email'>
  Password <input type='password' name='password'>
  Username <input type='text' name='username'>
  Name <input type='text' name='name'>
  <input type='submit' value='Sign Up'>
</form>
