
<form action="/users" method="post">
  <label for="user_name">
    Username: <input name="user_name" type="text" value="<%= @user.user_name %>">
  </label><br>
  <label for="email">
    Email: <input name="email" type="email" value="<%= @user.email %>" required>
  </label><br>
  <label for="password">
    Password: <input  name="password" type="password" required>
  </label><br>
  <label for="password_confirmation">
    Password_confirmation: <input name="password_confirmation" type="password" required>
  </label>
  <input type="submit" value="Sign up!" >
</form>