<h1>
  Sign up to Chitter Chatter
</h1>

<form action='/users' method='post'>
  <label for='name'>
    Name:<input name='name' type='text'>
  </label>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
