<form id="signup" name="signup" method="post" action="/users/new">
  Email: <input type="text" name="email" id="email"required><br>
  Password: <input type="password" name="password" id="password"><br>
  Password Confirmation: <input type="password" name="password_confirmation" id="password_confirmation"><br>
  Name: <input type="text" name="name" id="name" required><br>
  Username: <input type="text" name="username" id="username" required><br>
  <input type="submit" name="Submit" id="Submit" value="Submit">
</form>
