<h2>Sign up here:</h2>
<form action = '/users' method = 'post'>
  Your name:
  <input type = 'text' id = 'name' name = 'name'> <br>
  Your email:
  <input type = 'text' id = 'email 'name = 'email'> <br>
  Your password:
  <input type = 'password' id = 'password' name = 'password'> <br>
  Please choose a username:
  <input type = 'text' id = 'username' name = 'username'> <br>
  <button type="submit">Create Account</button>
</form>
