<h1>Please sign up</h1>

<form action='/users' method='post' id = 'sign_up_form'>
  <label for='email'>
    Email: <input name='email' type='text' <% if !!@user %> value='<%= @user.email %>'<% end %>>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password'>
    Confirm Password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
