<form action='/users' method='post'>
  Email: <input name='email' type='text' value='<%= @user.email %>'>
  Name:<input type='text' name='name'>
  Username:<input type='text' name='username'>
  Password:<input type='password' name='password'>
  Confirm Password: <input type='password' name='password_confirmation'>
  <input type='submit' value='Enter'>
</form>
