<h1>Please sign up</h1>

<form action='/users/new' method='post'>
  Please enter your details:
  Email:    <input name='email'    type='text'>
  Password: <input name='password' type='password'>
  Password Confirmation: <input name='password_confirmation' type='password_confirmation'>
  Name:     <input name='name'     type='name'>
  Username: <input name='username' type='username'>
  <input type='submit' value='Register'>
</form>
