<h1> Please Register </h1>

<form action="/users" method="post">
  <label for="email">
    Email: <input type="text" name="email">
  </label>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <input type="submit" value="Register">
</form>
