<h1>Sign up for Chitter:</h1>

<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action='/users' method='post'>
  <label for='email'>
    <p>Email: <input name='email' type='email' value='<%= @user.email %>' required></p>
  </label>
  <label for='password'>
    <p>Password: <input name='password' type='password'></p>
  </label>
  <label for='password_confirmation'>
    <p>Confirm password: <input name='password_confirmation' type='password'></p>
  </label>
  <p><input type='submit' value='Sign up'></p>
  </form>
</form>
