
<body>
<h1> Signing up</h1>
<h2> To join the online community , please fill in the fields below: </h2>

<form action='/users/new' method='post'>
  <label for='name'>
    Name: <input name='name' type='text' value='<%= @user.name %>' required>
  </label>
  <label for='username'>
    Username: <input name='username' type='text' value='<%= @user.username %>' required>
  </label>
  <label for='email'>
    Email: <input name='email' type='email' value='<%= @user.email %>' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password' required>
  </label>
  <label for='password_confirmation'>
    Please confirm your password: <input name='password_confirmation' type='password' required>
  </label>
  <input type='submit' value='Sign up'>
</form>

<h4> Already have an account? <a href='/sessions/new'> Log in! </a> <h4>
</body>
