<form action="/users" method="post">
  Please enter your email:<input type="email" name="email" />
  Please enter your password:<input type="password" name="password" />
  Please enter your name:<input type="name" name="name" />
  Please enter a username:<input type="username" name="username" />
  <input type="submit" value="Submit" />
</form>
