<h3> Sign up for Chitter </h3>

<form action='/users' method='POST'>
  Email <input type='text' name='email'>
  Password <input type='password' name='password'>
  <input type='submit' value='Sign Up'>
</form>
