<h1>Sign up</h1>
<form action='/users/new' method='post'>
  <input type='text' name='name'>
  <input type='text' name='email'>
  <input type='text' name='username'>
  <input type='password' name='password'>
  <input type='password' name='password_confirmation'>
  <input type='submit' value='Sign up'>
</form>