<center><h1> Sign up to Chitter below: </h1>

<form action '/users' method='post'>
  <p><b>Username: </b><input type='text' name='username'></p>
  <p><b>Email:    </b><input type='text' name='email'></p>
  <p><b>Password: </b><input type='password' name='password'></p>
  <p><b><input type='submit' value='Sign up'></b></p>
</form>
</center>