<h1> Enter your details below to sign up </h1>

<form action="/users" method="post">
  <label for="email">
    email:
    <input type="email" name="email" required>
  </label>

  <label for="password">
    password:
    <input type="password" name="password" required>
  </label>

  <label for="password confirmation">
    password confirmation:
    <input type="password" name="password_confirmation" required>
  </label>

  <label for="name">
    name:
    <input type="text" name="name" required>
  </label>

  <label for="username">
    username:
    <input type="text" name="username" required>
  </label>

  <input type="submit" value="Submit" required>
</form>
