<div>
  <form action='/users' method='post'>
    Email: <input type="text" name="email" required><br>
    Name: <input type="text" name="name" required><br>
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    Password Confirmation: <input type="password" name="password_confirmation">
    <input type="submit" value="Sign up">
  </form>
</div>