<h1>Sign up for Chitter!</h1>

<form action='/users' method='post'>
  <label for='email'>E-Mail:
    <input type='email' name='email' value='<%= @user.email %>'>
  </label>
  <label for='password'>Password:
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>Confirm Password:
    <input type='password' name='password_confirmation'>
  </label>
  <input class="btn btn-primary" type='submit' value='Sign Up'>
</form>
