<h1> Enter your details: </h1>
<form action='/users' method='post'>
  <div>
    <label for='name'>Name:
    <input type='text' name='name'>
  </label>
  <label for='handle'>Username:
    <input type='text' name='handle'>
  </label>
  <label for='name'>Email:
    <input type='email' name='email'>
  </label>
</div>
<div>

  <label for='name'>Password:
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>
  Re-enter Password: <input name='password_confirmation' type='password'>
</label>
</div>
  <input type='submit' value='Register'>

</form>
