<h1>Sign Up for Chitter</h1>

<form action='/users' method='post'>
  <input type='text' name='name' value='<%= @user.name %>' placeholder='Your Name'>
  <input type='text' name='username' value='<%= @user.username %>' placeholder='Desired Username'>
  <input type='email' name='email' value='<%= @user.email %>' placeholder='Your Email'>
  <input type='password' name='password' placeholder='Your Password'>
  <input type='password' name='password_confirmation' placeholder='Password Confirmation'>
  <input type='submit' value='Sign up'>
</form>
<br>
Already have an account? Go right ahead and <a href='sessions/new'>sign in</a>.

