<h1>Please sign up</h1>

<form action='/users' method='post'>
  <p>
    Email: <input name='email' type='text' value='<%= @user.email %>'>
  </p>
  <p>
    Real Full Name: <input name='user_name' type='text' value='<%= @user.user_name %>'>
  </p>
  <p>
    Chitter Name: <input name='user_handle' type='text' value='<%= @user.user_handle %>'>
  </p>
  <p>
    Password: <input name='password' type='password'>
  </p>
  <p>
    Password Confirmation: <input name='password_confirmation' type='password'>
  </p>
  <p>
    <input type='submit' value='Sign up'>
  </p>
</form>
