<h2>Please Sign up</h2>

<form action='/users' method='post'>
  Name:             <input name='name' type='text' value='<%= @user.name %>'>
  Email:            <input name='email' type='text' value='<%= @user.email %>'>
  Username:         <input name='username' type='text' value='<%= @user.username %>'>
  Password:         <input name='password' type='password'>
  Confirm Password: <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>