<form action="/users/new" method="post">
  <label>
    Email:
  <input type="text" name="email"/>
</label>
<label>
  Password:
  <input type="password" name="password"/>
  </label>
  <label>
  Username:
  <input type="text" name="username"/>
  </label>
  <label>
  Name:
  <input type="text" name="name"/>
  </label>
  <input type="submit" value="Sign up"/>
