<h1 style="font-family: 'Futura'; color:#d4e788; font-size: 60px;">knitter</h1>
<h1 style="font-family: 'New Caledonia'; color:#60f0ff; font-size: 22px;">twitter for knitters</h1>

<h1>create your knitter account</h1>

<form action='/users' method='post'>

  <label>
    Email
    <input type='text' name='email' required>
  </label>

  <label>
    Username
    <input type='text' name='username' required>
  </label>

  <label>
    Password
    <input type='password' name='password'>
  </label>

  <label>
    Confirm Password
    <input type='password' name='password_confirmation'>
  </label>

  <button type='submit' value='submit'>
    Submit
  </button>
</form>
