<form action='/users/new' method='post'>
  <p> Name:
    <input id='name' type='text' name='name'/>
  </p>
  <p> User name:
    <input id='username' type='text' name='username'/>
  </p>
  <p> Email:
    <input id='email' type='text' name='email'/>
  </p>
  <p> Password:
    <input id='password' type='password' name='password'/>
  </p>
  <p>
    <input id='submit' type='submit' value='Register'/>
  </p>
</form>
