<h1>Please create an account:</h1>

<form action='/users' method='post'>
  <label for='email'>
    <input type='text' name='email' placeholder='email'>
  </label>
  <label for='password'>
    <input type='password' name='password' placeholder='Password'>
  </label>
  <input type='submit' value='Sign up!'>
</form>

<form action="/links">
  <input type="submit" value="Back">
</form>
