<form action='/users' method='post'>
  <div>
    <input type='email' name='email' placeholder='email'required>
  </div>
  <div>
    <input type='password' name='password' placeholder='password' required>
  </div>
  <div>
    <input type='name' name='name' placeholder='name' required>
  </div>
  <div>
    <input type='username' name='username' placeholder='username' required>
  </div>
  <div>
    <button type='Submit'>Submit</button>
  </div>
</form>
      
