<% if flash.now[:notice] %>
<%= flash.now[:notice] %>
<% end %>

<form action="/users" method="post">
<label for="name">name
  <input type="text" name="name" id="name"/>
</label>
<label for="handle">handle
  <input type="text" name="handle" id="handle"/>
</label>
<label for="email">email
  <input type="text" name="email" id="email"/>
</label>
<label for="password">password
  <input type="text" name="password" id="password"/>
</label>
  <button type="submit" name="register">Register</button>
</form>