<html>
  <head></head>

  <body>
    <h1>Please sign up to use Chitter:</h1>
    <form action="/users" method="post">
      <label for="username">Email: </label><input type="email" value="email" name="email" placeholder="Please enter email">
      <label for="username">Password: </label><input type="password" value="password" name="password" placeholder="Please enter a password">
      <label for="username">Confirm Password: </label><input type="password" value="password_confirmation" name="password_confirmation" placeholder="Please confirm password">
      <button type="submit" value="Sign up">Sign up</button>
    </form>




  </body>

</html>
