<h1> Signing up</h1>
<h2> To join the online community , please fill in the fields below: </h2>

<form action='/users' method='post'>
  <label for='name'>
    Name: <input name='name' type='text'>
  </label>
  <label for='username'>
    Username: <input name='username' type='text'>
  </label>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Please confirm your password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
