<h1> Sign up form <h1>
  <form  method = 'post' action ='/users/new'>
    <label>Name: <input type='text' name='name'>
    <label>Email:<input type='text' name='email'>
 <!--    <label>Password: <input name='password' type='password'> -->
    <input type="submit" value='Create Account'>
  </form> 