<!DOCTYPE html>
<html>
  <head>
    <link href='../styles.css' rel='stylesheet' />
  </head>
  <body>
    <a href='/'>
    <header>
      <div id='page_title'>
        <h1>Chitter</h1>
      </div>
      <img src='../bird.svg' />
    </header>
    </a>
    <div id='main'>
      <div id='login_bar'>
        <form action='/login' method='post'>
          <label for='username'>
            Username: <input name='username' type='text'>
          </label>
          <label for='password'>
            Password: <input name='password' type='password'>
          </label>
          <input id='btn' type='submit' value='Sign in'>
        </form>
      </div>
      <h2>Enter your details below to sign up:</h2>
      <form id='new_user' action='/users/new' method='post'>
        <label for='name'>
          Name: <input name='name' type='text'>
        </label><p>
        <label for='username'>
          Username: <input name='username' type='text'>
        </label><p>
        <label for='email'>
          Email address: <input name='email' type='email'>
        </label><p>
        <label for='password'>
          Password: <input name='password' type='password'>
        </label><p>
        <label for='password_confirmation'>
          Confirm password: <input name='password_confirmation' type='password'>
        </label><p>
        <input id='btn' type='submit' value='Create account'>
      </form>
      <% if flash[:errors] && !flash[:errors].empty? %>
        Oops! Something went wrong:
        <ul>
          <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        </ul>
        <% end %>
      <% end %>
    </div>
</body>
</html>
