<h1> Sign up for Chitter</h1>

<form action='/users' method='post'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  Name: <input type='text' name='name'>
  Username: <input type='text' name='username'>
  <input type='submit' value='Sign up'>
</form>
