<form action='/users' method='post' >
To sign up to Chitter please complete all fields below:<br><br>

  <label for="full_name">Full Name:
    <input type="text" name="full_name" required/>
  </label><br><br>
  <label for="username">Username:
    <input type="text" name="username" required/>
  </label><br><br>
  <label for="email">Email:
    <input type='email'  name='email' required/>
  </label><br><br>
  <label for="password">Password:
    <input type='password'  name='password' />
  </label><br><br>
  <label for="password_confirmation">Password:
    <input type='password'  name='password_confirmation' />
  </label><br><br>
    <input type='submit' class='button' value='Sign Up'>
