<section id="form_wrapper">
  <form action="/users" method="post" id="form">
    <ul>
      <li>
        <input type="text" name="name" id="name" placeholder="Full Name"/>
      </li>
      <li>
        <input type="text" name="handle" id="handle" placeholder="Handle"/>
      </li>
      <li>
        <input type="text" name="email" id="email"  placeholder="Email"/>
      </li>
      <li>
        <input type="text" name="password" id="password"  placeholder="Password"/>
      </li>
      <li>
        <button type="submit" name="register">Sign Up!</button>
      </li>
    </ul>
  </form>
</section>


<% if flash.now[:errors] %>
<%= flash.now[:errors] %>
<% end %>