<h1> Sign up below </h1>

<form action="/users" method="post">
  Email: <input type="text" name="email">
  Username: <input type="text" name="username">
  Name: <input type="text" name="name">
  Password: <input type="text" name="password">
  <input type="submit" value="Submit">
</form>
