<html>
  <body>
    <div class="title">
      <img src="/logo.png">
      <h1>Sign up to Chitter</h1>
    </div>

    <div class="row">
      <div class="container s-form">
        <form action="/users" method="post">

          <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" value="<%= @user.email %>" placeholder="Enter new email" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="pwd" placeholder="Enter new password" required>
          </div>

          <div class="form-group">
            <label for="password_confirmation">Confirm password:</label>
            <input class="form-control" type="password" name="password_confirmation" placeholder="Confirm new password" required>
          </div>

          <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="username" name="username" placeholder="Set your user name" required>
          </div>

          <button type="submit" class="btn peep-button">Sign up</button>
        </form>
   </body>
</html>

