<h1>Please sign up</h1>

<div>
<form action='/users' method='post'>
<label for='name'>
Name: <input type='text' name='name'  required />
</label>
<label for='username'>
Username: <input type='text' name='username'  required />
</label>
<label for='email'>
Email: <input type='email' name='email'  required />
</label>
<label for='password'>
Password: <input type='password' name='password' />
</label>
<label for='password_confirmation'>
Password Confirmation: <input type='password' name='password_confirmation' />
</label>
<input type='submit' value='Sign up' />
<form>
</div>