<form action="/users" method="post" accept-charset="utf-8">
  <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" name="password_confirmation" id="password_confirmation" />
    <label for="name">Name</label>
    <input type="name" name="name" id="name" />
    <label for="username">Username</label>
    <input type="username" name="username" id="username" />
    <input type="submit" value="Sign Up">
  </form>

  
