<h3>Please Sign Up</h3>

<form method="post" action="/users">
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  Password Confirmation: <input type="password" name="password_confirmation">
  <input type="submit" value="Sign Up">
</form>
