<form action='/users' method='post'>
  <label for='name'>Enter your name:
    <input type='text' name='name'>
  </label>
  <label for='name'>Enter your email:
    <input type='email' name='email'>
  </label>
  <label for='name'>Enter your password:
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>
  Password: <input name='password_confirmation' type='password'>
</label>
  <input type='submit' value='Register'>

</form>
