<h1>GO ON THEN, SIGN UP IF YOU HAVE TO</h1>

<form action='/users' method='post'>
  Username: <input name='username' type='text'>
  Name: <input name='name' type='text'>
  Email: <input name='email' type='text'>
  Password: <input name='password' type='password'>
  <input type='submit' value='Sign up'>
</form>