<body style="background: #E0EAFC;
background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3);
background: linear-gradient(to left, #E0EAFC , #CFDEF3);
font-family: Verdana, Geneva, sans-serif;">
  <h1> Please Sign-up </h1>

  <form action='/users' method='POST'>
    <label for='name'>
      Name:
      <input type='text' name='name'><br />
    </label>
    <label for='email'>
      Email:
      <input type='email' name='email' value='<%= @user.email %>' required><br />
    </label>
    <label for='username'>
      Username:
      <input type='text' name='username'><br />
    </label>
    <label for='password'>
      Password:
      <input type='password' name='password'><br />
    </label>
    <label for='password_confirmation'>
      Password Confirmation:
      <input type='password' name='password_confirmation'><br />
    </label>
    <br />
    <input type='submit' value='Sign up'>
  </form>
</body>
