<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body  background=https://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png/revision/latest?cb=20100722020455>
  <form action='/users' method='POST'>
  <h1>Please sign up</h1>
  <label for='email'>
  Email<br><input name='email' type='text'>
  </label><br>
  <label for='password'>
    Password<br><input name='password' type='text'>
  </label><br>
  <label for='password_confirmation'>
    Password Confirmation<br><input name='password_confirmation' type='text'>
  </label><br>
  <label for='name'>
    Name<br><input name='name' type='text'>
  </label><br>
  <label for='surname '>
    Surname<br><input name='surname' type='text'>
  </label><br>
  <label for='username'>
    Username<br><input name='username' type='text'>
  </label><br>
  <input type='submit' value='Sign up'>
</form>
  </body>
</html>
