
<h1>Welcome to Chitter, please sign up</h1>

<form action="/users" method="post">
  <p>
  <label for="email">
    Email: <input name="email" type="email" value=" <%= @user.email %> " required>
  </label>
  <p>
  <label for="password">
    Password: <input name="password" type="password" required>
  </label>
  <p>
  <label for="name">
    Name: <input name="name" type="text">
  </label>
  <p>
  <label for="user_name">
    User Name: <input name="user_name" type="text" required>
  </label>
  <p>
  <input type="submit" value="Sign Up">
</form>
