<form action="/users" method="post">
  Name:<input type="name" name="name" />
  Email:<input type="email" name="email" />
  Username:<input type="username" name="username" />
  Password:<input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>