<h1>Sign up!</h1>

<form action='/users/new' method='POST'>
  <fieldset>
    <legend>
      Your Details:
    </legend>
    <label>Email:<br/>
    <input name='email' type='text' /></label><br/>
    </label>Name:<br/>
    <input type='text' name='name' /></label><br/>
    <label>Username:<br/>
    <input type='text' name='username' /></label><br/>
    <label>Password:<br/>
    <input type='password' name='password' /></label><br/>
  </fieldset><br/>
  <input type='submit' value='Sign up' />
</form>