<h3>Enter your name and email address to create an account:</h3>
<form action="/users" method="post">
  <label for="name">
    name:
    <input type="text" name="name" id="name">
  </label>
  <label for="username">
    username:
    <input type="text" name="username" id="username">
  </label>
  <label for="email">
    email address:
    <input type="email" name="email" id="email">
  </label>
  <label for="password">
    password:
    <input type="text" name="password" id="password">
  </label>
  <input type="submit" value="Create account">
</form>
