<h1>Sign up</h1>

<form action="/users" method="post">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="username">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  <button type="submit" name="Sign up">Sign up</button>
</form>
