<h1>Please sign up</h1>
<form action="/users" method="post">
  <fieldset>
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <label for="password_confirmation">Password confirmation:</label>
    <input type="password" name="password_confirmation">
    <input type="submit" name="" value="Sign up">
  </fieldset>
</form>
