<h1>Join Chitter today</h1>

<form action='/users' method='post'>
  <input type='text' name='username' value='<%= @user.username %>' placeholder='username'>
  <br>
  <input type='text' name='email' placeholder='email'>
  <br>
  <input name='password' type='password' placeholder='password' >
  <br>
  <input name='password_confirmation' type='password' placeholder='password confirmation' >
  <input type='submit' value='Sign up'>
</form>