Please sign up.

<form method='post' action='/sessions/sign_up'>
  Username: <input type='text' name='username'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  Password Confirmation: <input type='password' name='password_confirmation'>
  <input type='submit' value='Sign up'>
</form>

