<!DOCTYPE html>
<html>
  <head>
    <title> Chitter sign in </title>
  </head>

<h1> Would you like to sign up for Chitter?</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email:
    <input name='email' type='text'>
  </label>
  <label for='password'>
    Password:
    <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>

</html>
