<h1>Please sign up</h1>
<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action='/users' method='post'>
  Email: <input name='email' type='text' value='<%= @user.email %>'>
  Chitter Handle: <input name='handle' type='text' value='<%= @user.handle %>'>
  Password: <input name='password' type='password'>
  Password Confirmation: <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>
