<h1> New Peeper? Sign up here! </h1>

<form action='/users' method='POST'>
  <label for='username'>
    Username:
    <input type='text' name='username'/>
  </label>
  <label for='email'>
    E-mail:
    <input type='email' name='email' value='<%= @user.email %>' required/>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password'/>
  </label>
  <label for='password_confirmation'>
    Confirm password:
    <input type='password' name='password_confirmation'>
  </label>
  <input type='submit' value='Sign up'>
</form>
