<section id="sign_up">
  <form action="/users" method="post">
    <label for="full_name">
      <input type="text" name="full_name" placeholder="Full name" required>
    </label>
    <label for="username">
      <input type="text" name="username" placeholder="Username" required>
    </label>
    <label for="email">
      <input type="email" name="email" placeholder="Email" required>
    </label>
    <label for="password" >
      <input type="password" name="password" placeholder="Password" required>
    </label>
    <label for="password_confirmation">
      <input type="password" name="password_confirmation" placeholder="Confirm password" required>
    </label>
    <input type="submit" value="Sign up">
  </form>
</section>
