<form action='/users' method='post'>
  
  <p>Name: <input type='text' name='name' placeholder='Enter your name'></p>
  <p>Email: <input type='text' name='email' placeholder='Enter your email'></p>
  <p>Username: <input type='text' name='username' placeholder='Choose a username'></p>
  <p>Password: <input type='password' name='password' placeholder='Enter a password'></p>
  <button>Create Account</button>
</form>