<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Please sign up</h1>

    <form action="/users" method="post">
      <div class="form-group">
        <label for="input_email">Email</label>
        <input type="email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="input_password">Password</label>
        <input type="password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="input_password_confirmation">Password Confirmation</label>
        <input type="password" name="password_confirmation" class="form-control">
      </div>
      <div class="form-group">
        <label for="input_name">Full Name</label>
        <input type="text" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="input_user_name">Username</label>
        <input type="text" name="user_name" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Sign up</button>
    </form>


  </body>
</html>
