<!DOCTYPE html>
<html>
<body>
  <center><h1>Sign Up for Chitter</h1>
  <form style="bodyform" action="/users" method="post">
    <label for="username">
      Username:<br>
    </label>
    <input name="username" type="text" required/><br><br>
    <label for="Email">
      Email:<br>
    </label>
    <input name="email" type="email" required/><br><br>
    <label for="password">
      Password:<br>
    </label>
    <input name="password" type="password" required/><br><br>
    <label for="password_confirmation">
      Confirm Password:<br>
    </label>
    <input name="password_confirmation" type="password" required/><br><br>
    <button type="submit">Sign up</button>
  </form>
  </center>
</body>
</html>
