<form action='/users/' method='post'>
  <label for='email'>Enter your email address:</label>
  <input type='text' name='email'>

  <label for='password'>Enter your password:</label>
  <input type='password' name='password'>

  <input type='submit' value='Submit'>
</form>