<div class="container">
  <div class="row">
    <form action="/users" method="post" class="col-xs-12 col-md-6 offset-md-3 py-3">
      <div class="form-group row">
        <label class="col-4" for="name">Name</label>
        <input class="form-control col-8" type="text" name="name" value="" required>
      </div>
      <div class="form-group row">
        <label class="col-4" for="email">Email</label>
        <input class="form-control col-8" type="email" name="email" value="" required>
      </div>
      <div class="form-group row">
        <label class="col-4" for="user_name">User Name</label>
        <div class="input-group col-8">
          <div class="input-group-addon">@</div>
          <input class="form-control" type="text" name="user_name" value="" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4" for="password">Password</label>
        <input class="form-control col-8" type="password" name="password" value="" required>
      </div>
      <div class="form-group row">
        <label class="col-4" for="password_confirmation">Password Confirmation</label>
        <input class="form-control col-8" type="password" name="password_confirmation" value="" required>
      </div>
      <div class="form-group d-flex justify-content-center">
          <button class="btn btn-lg" type="submit" name="submit_sign_up" id="submit_sign_up">Sign Up</button>
      </div>
    </form>
  </div>
</div>
