<h1>Welcome to Chitter!</h1>
<h2>Please sign up</h2>

<form action='/users' method='post'>
  Email: <input name='email' type='text' value= '<%= @user.email %>'>
  Name: <input name='name' type='text' value= '<%= @user.name %>'>
  Username: <input name='username' type='text' value= '<%= @user.username %>'>
  Password: <input name='password' type='password'>
  Password confirmation: <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>
