<div id="wrapper">
  <div id="content">
    <h1>Sign up</h1>

    <form action='/users' method='post'>
      <label for='name'>Name:</label>
      <input name='name' type='text'>
      <label for='username'>Username:</label>
      <input name='username' type='text'>
      <label for='email'>Email:</label>
      <input name='email' type='text'>
      <label for='password'>Password:</label>
      <input name='password' type='password'>
      <label for='password confirmation'>Password confirmation:</label>
      <input name='password_confirmation' type='password'>
      <input type='submit' value='Sign up'>
    </form>


  </div>
</div>
