<h1>Sign up for Chitter</h1>
<div>
  <form action='/users' method='post'>
    <ul>
      <li>
        <label for='name'> Name:</label>
        <input type='text' name='name'>
        <% if form.failed_on?(:name, :present) %>
          <p>Please enter your username.</p>
        <% end %>
      </li>
      <li>
        <label for='mail'> Email:</label>
        <input type='text' name='mail'>
        <% if form.failed_on?(:mail, :present) %>
          <p>Please enter your email address.</p>
        <% elsif form.failed_on?(:mail, :email) %>
          <p>Please enter a valid email address.</p>
        <% end %>
      </li>
      <li>
        <label for='password'> Password:</label>
        <input type='password' name='password'>
        <% if form.failed_on?(:password, :present) %>
          <p>Please enter a password.</p>
        <% end %>
      </li>
      <input type='submit' value='Submit'>
    </ul>
  </form>
</div>
