<form action="/users" method="POST">
  <input required type="text" name="name" placeholder="Name">
  <input required type="text" name="username" placeholder="Username">
  <input required type="text" name="email" placeholder="Email">
  <input required type="text" name="password" placeholder="Password">
  <input type="submit" value="Get Peeping">
</form>
