<h1>Sign up to Chitter</h1>
<form action="/users" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" required  />
  <label for="email">Email:</label>
  <input type="text" name="email" required  />
  <label for="name">Name:</label>
  <input type="text" name="name" required  />
  <label for="password">Password:</label>
  <input type="password" name="password" required  />
  <label for="pwd_conf">Please confirm your password:</label>
  <input type="password" name="pwd_conf" required  />
  <input type="submit" name="submit" value="Submit" />
</form>
