<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>

<h1>Please enter your details below to get started!</h1>

<form action="/users" method="post">
  <ul>
    <label for="name">Name:</label>
    <input type="text" name="name"/>
  </ul>
  <ul>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </ul>
  <ul>
    <label for="email">Email:</label>
    <input type="email" name="email"/>
  </ul>
  <ul>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
  </ul>
  <input type="submit" value="Submit">
</form>
</html>