<h1>Create your account</h1>
<form action="/users" method="post">
  Email: <input type="email" name="email">
  Name: <input type="text" name="name">
  Nickname: <input type="text" name="nickname">
  Password: <input type="password" name="password">
  Password confirmation: <input type="password" name="password_confirmation">
  <input type="submit" value="Sign up">
</form>
