<html>

<head>
<style>
body  {background-color: #000000; color: white;}
a     {color: white; font-size: 150%;}
</style>
</head>

<body>
<div>

  <form action="/users" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="text" name="password">
  <input type="submit" value="Register">
  </form>

</div>
</body>
