<h1>Please sign up for Sh*tter!</h1>

<form action="/users" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" value='<%= @user.email %>' required>
  <label for="username">Username:</label>
  <input type="text" name="username" value='<%= @user.username %>' required>
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  <label for="password_confirmation">Confirm Password:</label>
  <input type="password" name="password_confirmation" required>
  <input type="submit" value="Start Pooping">
</form>
