<h2>Please sign up</h2>

<form action="/users" method="post">
  Email: <input type="email" name="email" required><br>
  Password: <input type="password" name="password" required>
  Password confirmation: <input type="password" name="password_confirmation" required><br>
  Name: <input type="text" name="name" required><br>
  Username: <input type="text" name="username" required><br>
  <input type="submit" value="Sign Up">
</form>
