<!DOCTYPE html>
<html>
<head>

  <style>
    #sign_up {
      margin: 0px;
      padding: 0px;
      font-size: 15px;
      font-weight: normal;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0px;
      color: #fff;
      clear: both;
      padding-bottom: 6px; }

  body { background-color: Black; }

</style>
</head>


<body>
<DIV id='sign_up'>


<h1>Welcome to Chitter</h1>
<h2>Please sign up</h2>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' value'<%= @user.email %>' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='name'>
    Name: <input name='name' type='text'>
  </label>
  <label for='user_name'>
    User name: <input name='user_name' type='text'>
  </label>
  <label for='password_confirmation'>
    Confirm password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
</DIV>
