<form action = '/users' method = 'post'>
  <label for='email'>
    <input type = 'text', name = 'Email' >
  </label>
  <label for='password'>
    <input type = 'password', name = 'Password'>
  </label>
  <label for ='Confirm_Password'>
    <input type = 'password', name = 'Confirm_Password'><br>
  </label>
  <label for='Submit'>
    <input type = 'submit', value = 'Submit'>
  </label>
</form>

<% if flash[:wrong_password] %>
  <%= flash[:wrong_password] %>
<% end %>
