<h1>Register with the details below:</h1>

<form action="/users" method="post">
  Email:<input type="email" name="email" />
  Password:<input type="password" name="password" />
  Password confirmation:<input type="password" name="password_confirmation" />
  Name:<input type="text" name="name" />
  User Name:<input type="text" name="user_name" />
  <input type="submit" value="Sign up" />
</form>