<form class="w3-container w3-card-4 w3-light-grey w3-text-green" action='/users' method='post'>
        <span onclick="document.getElementById('newUser').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
  <h2 class="w3-center">New Peep</h2>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input id="email" class="w3-input w3-border" name="email" type="email" placeholder="Email" value='<%= @user.email %>' required>
    </div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
    <div class="w3-rest">
      <input id="password" class="w3-input w3-border" name="password" type="password" placeholder="Password">
    </div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
    <div class="w3-rest">
      <input id="password_confirmation" class="w3-input w3-border"
             name="password_confirmation" type="password" placeholder="Password confirmation">
    </div>
  </div>

  <button class="w3-button w3-block w3-section w3-green w3-ripple w3-padding">Sign Up</button>

</form>
