<h1>Join Chitter today.</h1>

<form action='/users' method='post'>
  <label for='name'>
    Full name: <input name='name' type='text'>
  </label>
  <label for='email'>
    Email address: <input name='email' type='text'>
  </label>
  <label for='handle'>
    Handle: <input name='handle' type='text' value='e.g. @example'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
