<h1>Please sign up</h1>

<form action='/users' method='post'>
  Email: <input name='email' type='text'>
  Real Full Name: <input name='user_name' type='text'>
  Chitter Name: <input name='user_handle' type='text'>
  Password: <input name='password' type='password'>
  Password Confirmation: <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>
