<form action="/users" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="full_name">Full Name:</label><br>
  <input type="text" id="full_name" name="full_name"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type='submit' name='submit' value='Submit'>
</form>