<form action='/users' method='post'>
  Email:<input type='text' name='email'>
  Name:<input type='text' name='name'>
  Username:<input type='text' name='username'>
  <input type='submit' value='Sign Up'>
</form>
