<h1>Please Sign up to Chitter</h1>
<form action="/users" method="post">
  Enter Name: <input type="text" name="name" required/>
  Enter Username: <input type="text" name="username" required/>
  Enter Email: <input type="text" name="email" required/>
  Enter Password: <input type="password" name="password"/>
  Re-Enter Password: <input type="password" name="password_confirmation"/>
  <input type="submit" value="Sign Up"/>
</form>

<br><br>
<h3>Already a member? Please log in</h3>
<br>
<form action="/sessions/new">
 <input type="submit" value="Log In"/>
</form>
