<h1> Sign up! </h1>

<form action='/users/new' method='post'>
  <label for='email'>
    Email:
    <input type='email' name='email' value='<%= @current_email %>' required>
  </label>
  <label for='name'>
    Name:
    <input type='text' name='name' required>
  </label>
  <label for='username'>
    Username:
    <input type='text' name='username' required>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password' required>
  </label>
  <label for='password_confirmation'>
    Password Confirmation:
    <input type='password' name='password_confirmation' required>
  </label>
  <input type='submit' value='Submit'>
</form>
