<h1>Sign Up Form</h1>

<form action='/users' method='post'>

  <label>
    Email
    <input type='text' name='email' required>
  </label>

  <label>
    Password
    <input type='password' name='password'>
  </label>

  <button type='submit' value="submit">
    Sign Up
  </button>
</form>
