<h1>Signup</h1>
<form action='/users' method='POST'>
  <label for='email'>Email:</label>
  <input type='email' name='email'/>
  <label for='username'>Username:</label>
  <input type='text' name='username'/>
  <label for='url'>Password:</label>
  <input type='password' name='password' />
  <button type="submit">Signup</button>
</form>
