<form action="/users" method="post">

  Email Address:
  <input type="text" name="email"><br>

  Password:
  <input type="text" name="password"><br>

  Confirm Password:
  <input type="text" name="password_confirmation"><br>

  Name
  <input type="text" name="name"><br>

  Username
  <input type="text" name="user_name"><br>

  <label for="Sign Up">
  <input type="submit" name="Sign Up" value="Sign Up">
  </label>

</form>
