<div id='sign-up'>
  <form action='/users' method='post'>
  NAME: <input type='text' name='name'>
  USERNAME (HANDLE):<input type='text' name='username'>
  EMAIL: <input type='text' name='email'>
  PASSWORD: <input type='text' name='password_digest'>
  <input type='submit' value='Sign up'>
</div>