<html>
<body>
  <form action="/users" method="post">
    <label for="username">
      Username:<br>
    </label>
    <input name="username" type="text" required/><br>
    <label for="Email">
      Email:<br>
    </label>
    <input name="email" type="email" required/><br>
    <label for="password">
      Password:<br>
    </label>
    <input name="password" type="password" required/><br>
    <label for="password_confirmation">
      Confirm Password:<br>
    </label>
    <input name="password_confirmation" type="password" required/><br>
    <input type="submit" value="Sign up">
  </form>
</body>
</html>
