<h2>
  <%= flash[:notice] %>
</h2>

<h2>Sign Up!</h2>
<form action="/users/create" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" placeholder="Name" id="name" name="name" autofocus></td>
    <tr>
      <td>Username:</td>
      <td><input type="text" placeholder="Username" id="username" name="username"></td>
    <tr>
      <td>Email:</td>
      <td><input type="email" placeholder="Email" id="email" name="email"></td>
    <tr>
      <td>Password:</td>
      <td><input type="password" placeholder="Password" id="password" name="password"></td>
  </table>
  <div class="button">
    <button type="submit" value="submit">Submit</button>
  </div>
</form>