<h1> Please sign up </h1>

<form action='/users' method='post'>
  <lable for='email'>
    Email:<input name='email' type='text'>
  </label>
  <lable for='password'>
    Password:<input name='password' type='password'>
  </lable>
  <input type='submit' value='Sign up'>
</form>
