<h1>Sign up to Chitter</h1>

<form action="/users" method="post">
  <div>
    <label for="email">
      Email:
      <input type="email" name="email">
    </label>
  </div>
  <div>
    <label for="password">
      Password:
    <input type="password" name="password">
    </label>
  </div>
  <div>
    <label for="password_confirmation">
      Confirm password:
      <input type="password" name="password_confirmation">
    </label>

  <div>
    <input type="submit" value="Sign up">
  </div>
</form>

