<h1>Please sign up</h1>

<form action="/users" method="post">
  <label>Name:</label>
  <input name="name" type="text">
  <label>User name:</label>
  <input name="uname" type="text">
  <label>Email:</label>
  <input name="email" type="text" value='<%= @user.email %>'>
  <label>Password:</label>
  <input name="password" type="password">
  <label>Confirm Password:</label>
  <input name="password_confirmation" type="password">
  <input type="submit" value="Sign up">
</form>
