<form action="/users/new" method="post" id="signup-form">
  <fieldset>
    <legend>Please sign up to use chitter</legend>
    <p>
      <label>Name</label>
      <input type="text" name="name">
    </p>
    <p>
      <label>email</label>
      <input type="email" name="email">
    </p>
    <p>
      <label>username</label>
      <input type="text" name="username">
    </p>
    <p>
      <label>password</label>
      <input type="password" name="password">
    </p>
    <p>
      <label>confirm your password, please</label>
      <input type="password" name="password_confirmation">
    </p>
    <input type="submit" name="signup" value="signup">
  </fieldset> 
</form>