<h1>Sign up for feline friendly social media</h1>
<p>Where all the cool cats hang out</p>

<form action="/users" method="post">
  <label for="email">
    <p>Email:</p>
    <input type="text" name="email" value="" required>
  </label>
  <label for="password">
    <p>Password:</p>
    <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    <p>Confirm Password:</p>
    <input type="password" name='password_confirmation'>
  </label>
  <input type="submit" value='Sign up'>
</form>
