I want a CHITTY account!<br>
Sign up here:

<form action="/users" method = "post">
  <label for = "name">
    Enter name:
  <input type = "text" name = "name" value="name"/>
  </label>
  <label for = "username">
    Enter username:
  <input type = "text" name = "username" value="username"/>
  </label>
  <label for = "email">
    Enter email:
  <input type = "text" name = "email" value="email" required/>
  </label>
  <label for = "password">
    Enter password:
  <input type = "password" name = "password"/>
  </label>
  <label for = "password_confirmation">
    Re-enter password:
  <input type = "password" name = "password_confirmation"/>
  </label>
  <input type="submit" value="Sign me up!"/>
</form>

<a href="/">Chitty Home</a>
