<h1>Sign up for Chitter</h1>
<div>
  <form action='/users' method='post'>
    <ul>
      <li>
        <label for='name'> Name:</label>
        <input type='text' name='name'>
      </li>
      <li>
        <label for='email'> Email:</label>
        <input type='text' name='email'>
      </li>
      <li>
        <label for='password'> Password:</label>
        <input type='text' name='password'>
      </li>
      <input type='submit' value='Submit'>
    </ul>
  </form>
</div>