<h1>Sign up for Parliament</h1>

<form action="/users" method="post">
  Name: <input name="name" type="text" value="<% @user.name %>">
  Username: <input name="username" type="text" value="<% @user.username %>">
  Email: <input name="email" type="text" value="<% @user.email %>">
  Password: <input name="password" type="password">
  Password Confirmation: <input name="password_confirmation" type="password">
  <input type="submit" value="Join Parliament!">
</form>
