<h5>Welcome to Chitter! Please sign up</h5>

<form action='/users' method='post'>
<div class="form-group">
  <label for='email' class="control-label">
    Email <input class="form-control" name='email' type='email' value='<%= @user.email %>'>
  </label></br>
  <label for='handle' class="control-label">
    Handle <input class="form-control" name='handle' type='text' value='<%= @user.handle %>'>
  </label></br>
  <label for='password' class="control-label">
    Password <input class="form-control" name='password' type='password'>
  </label></br>
    <label for='password_confirmation' class="control-label">
    Password confirmation: <input class="form-control" name='password_confirmation' type='password'>
  </label></br>
  <input class="btn btn-success" type='submit' value='&nbsp;Sign Up&nbsp;'>
</div>
</form>
<a class="btn btn-primary" href="/sessions/new">&nbsp;Sign In&nbsp;&nbsp;</a>
