<h1>Sign up!</h1>

<form action="/users" method="post">
  <label for="email">
    Email: <input type="text" name="email" value="email" >
  </label>
  <label for"username">
    Username: <input type="text" name="username" value="username" >
  </label>
  <label for="password">
    Password: <input type="text" name="password" type="password" >
  </label>
  <label for="password_confirmation">
    Password: <input type="text" name="password_confirmation" type="password">
  </label>
  <input type="submit" name="submit" value="sign up" >
</form>
