<form id='form_sign_up' action='/users' method='post'>
  <input type='text' name='name' value='<%= @user.name %>' placeholder='Name'/><br>
  <input type='text' name='username' value='<%= @user.username %>' placeholder='Username'/><br>
  <input type='email' name='email' value='<%= @user.email %>'  placeholder='Email'/><br>
  <input type='password' name='password' placeholder='Password'/><br>
  <input type='password' name='password_confirmation' placeholder='Confirm password'/><br>
  <button class="button-submit" type="submit">Sign up!</button>
</form>
