<h1>New user? Register below</h1>
<form action='/users' method='POST'>
  <label for='username'>
    Username:<input type='text' name='username'/>
  </label>
  <label for='email'>
    Email:<input type='email' name='email'/>
  </label><br>
  <label for='password'>
    Password:<input type='password' name='password'/>
  </label>
<label for='password_confirmation'>
  Confirm your password:<input type='password' name='password_confirmation'/>
</label>
  <input type='submit' value='Sign up'/>
</form>
