<form action='/users' method ='post'>

Email: <input type='text' name='email' id='email' required>
Nom Name: <input type='text' name='nom_name' id='nom_name' required>

<input type='submit' value='Sign up'>

</form>
