<h1> Welcome to Chitter <%= @user.name %></h1>

PUT WALK THROUGH OF APP IN HERE

<p>Ready to send your first Peep?</p>
<form action='/users' method='GET'>
  <input type='submit' value="Send my first Peep" />
</form>
