<form action="/users" method="post">
  <ul>
    <label for="name">Name:</label>
    <input type="text" name="name"/>
  </ul>
  <ul>
    <label for="email">Email:</label>
    <input type="email" name="email"/>
  </ul>
  <ul>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
  </ul>
  <ul>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </ul>
  <input type="submit" value="Submit">
</form>