<h1> Please fill in your information to sign up </h1>

<form action="/users" method="post">
  Username <input type="text" name="username">
  Email <input type="text"  name="email">
  Password <input type="password"  name="password">
  Password_confirmation <input type="password" name= "password_confirmation">
  <input type="submit" value="Sign up">
</form>
