<h3 class="form-text"> User re-Chitter-ation page </h3>

<form action='/users' method='POST' >

  <fieldset class="form-group">
    <div class="form-group">
  <label for='email'>
    <input placeholder="Email address" class="form-control" type='text' name='email' />
  </label>
</div>
<div class="form-group">
<label for='first_name'>
<input placeholder="First name" class="form-control" type='text' name='first_name' />
</label>
</div>
<div class="form-group">
<label for='last_name'>
<input placeholder="Last name" class="form-control" type='text' name='last_name' />
</label>
</div>

<div class="form-group">
<label for='password'>
<input placeholder="Password" class="form-control" type='password' name='password' />
</label>
</div>

    <div class="form-group ">
  <input  class="btn btn-primary" type='submit' value='Go Chitter!' >
  </div>
</fieldset>
</form>
