<!DOCTYPE html>
<html>
  <head>
    <title>Fill in the fields below and click "Sign me up!" button</title>
  </head>
  <body>
    <form action="/users/new" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name" value="" required>
      <label for="username">Username: </label>
      <input type="text" name="username" value="" required>
      <label for="email">Email: </label>
      <input type="email" name="email" value="" required>
      <label for="password">Password: </label>
      <input type="password" name="password" value="" required>
      <button type="submit" name="Sign me up!">Sign me up!</button>
    </form>
  </body>
</html>
