<h1>Sign up</h1>

<form action='/users' method='post'>
  <label for='name'>Name: </label>
    <input name='name' type='text' value='<%= @user.name %>' required>
  <label for="username">Username: </label>
    <input name='username' type='text' value='<%= @user.username %>' required>
  <label for="email">Email: </label>
    <input name='email' type='email' value='<%= @user.email %>' required>
  <label for="password">Password: </label>
    <input name='password' type='password'>
  <label for="password_confirmation">Confirm Password: </label>
    <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>
