<form action="/users" method="post">
  <input placeholder ="Name" type="text" name="name" required/>
  <br>
  <input placeholder ="Username" type="text" name="username" required/>
  <br>
  <input placeholder ="Email" type="email" name="email" required/>
  <br>
  <input placeholder ="Password" type="password" name="password" required/>
  <br>
  <input type="submit" value="Sign up"/>
</form>
