<h1> Welcome </h1>
<h2> Sign up here </h2>

<form action='/users' method='post'>
  <label for='user_name'>
    User Namer : <input name='user_name' type='text'> <br>
  </label>
  <label for='email'>
    Email: <input name='email' type='text'> <br>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'> <br>
  </label>
  <label for='confirm_password'>
    Password: <input name='password_confirmation' type='password'> <br>
  </label>
  <input type='submit' value='Create account'> <br>
</form>

<h6>   <%= @status %> </h6>
