Complete the following to get started on Chitter:
<br><br>
<form action='/users/new' method='post'>
  <input type='text' name='username' placeholder="<%= @user.username ||='username' %>">

  <input type='email' name='email' placeholder="<%= @user.email ||='email address' %>" required>

  <input type='text' name='realname' placeholder="<%= @user.realname ||='real name' %>">

  <input type='password' name='password' placeholder='password'>

  <input type='password' name='pw_confirm' placeholder='confirm password'>
  <br><br>
  <input type='submit' value='Register'>
</form>
<br><br>
<form action='/'>
  <input type='submit' value='Go back'>
</form>
