<h1> New user </h1>
<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action='/users/new' method='POST'>
  <label for='name'>
   Name:
  <input type ='text' name='name'/>
  </label><br>
  <label for='user_name'>
   Username:
  <input type ='text' name='user_name'/>
  </label><br>
  <label for='email'>
  Email:
  <input type ='email' name='email' required value='<%= @email %>'/>
  </label><br>
  <label for='password'>
  Password:
  <input type ='password' name='password' />
  </label><br>
  <label for='password_confirmation'>
  Password confirmation:
  <input type ='password' name='password_confirmation' />
  </label><br>
  <input type='submit' value='Sign up' />
</form>
