<html>

<h2> Signup </h2>

<form action="/users" method="post">
  <label for="name">
    Name
  <input type="text" name="name" autofocus>
  </label>
  <label for="username">
    Username
    <input type="text" name="username" >
  </label><label for="email">
    Email address
    <input type="email" name="email" >
  </label>
  <label for="password">
    Password
    <input type="password" name="password">
  </label>
  <input type="submit" value="Sign up">
</form>
