<h1>Please create an account</h1>

<form action='/users' method='post'>
  
  <label for='name'>
  	Name: <input type="text" name="name">
  </label>

  <br><br>

  <label for='handle'>
  	Handle: <input type="text" name="handle">
  </label>

  <br><br>

  <label for='email'>
  	Email: <input type="text" name="email">
  </label>

  <br><br>

  <label for='password'>
  	Password: <input type="password" name="password">
  </label>

  <br><br>

  <label for='password_confirmation'>
  	Password: <input type="password" name="password_confirmation">
  </label>

  <br><br>

  <input type="submit" name="Sign up">

</form>