<form action='/users' method='POST'>
  <label for='email'>Email:</label>
  <input type='text' name='email' id='email' value='<%= flash[:email] %>' required>

  <label for='username'>Username:</label>
  <input type='text' name='username' id='username' required>

  <label for='name'>Name:</label>
  <input type='text' name='name' id='name' required>

  <label for='password'>Password:</label>
  <input type='password' name='password' id='password' required>

  <label for='password_confirmation'>Email:</label>
  <input type='password' name='password_confirmation' id='password_confirmation' required>

  <input type='submit' value='Create Account!'>
</form>
