<h1>Sign Up!</h1>
<form action='/users' method='post'>
  Name: <input type='text' name='name'>
  Username: <input type='text' name='username'>
  Email: <input type='text' name='email'>
  Password: <input type='text' name='password'>
  Password Confirmation: <input type='text' name='confirm_password'>
  <button type='submit'>Submit Details</button>
</form>
