<form action="/users" method="post">
  Email:<input type="text" name="email" />
  Password:<input type="password" name="password" />
  Retype Password:<input type="password" name="password_confirmation" />
  Name:<input type="text" name="name" />
  User Name:<input type="text" name="user_name" />
  <input type="submit" value="Register" />
</form>
