<!-- <h1> Sign up </h1>

<form action='/users' method='post'>
 <label for='name'> Enter your name </label>
 <input type='text' name='name' required>
 <label for='email'> Enter your email address </label>
 <input type='email' name='email' required>
 <label for='password'> Enter a password </label>
 <input type='password' name='password' required>
 <label for='password_confirmation'> Re-enter your password </label>
 <input type='password' name='password_confirmation' required>
 <input class='button' type='submit' value='Sign up'>
</form> -->
