<h1> Sign up </h1>

<form action='/users' method='post'>
  <label for='name'>Name:<br>
    <input type='text' name='name'>
  </label>
  <label for='username'>Username:<br>
    <input type='text' name='username'>
  </label>
  <label for='email'>Email:<br>
    <input type='email' name='email'>
  </label>
  <label for='password'>Password:<br>
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>Confirm password:<br>
    <input type='password' name='password_confirmation'>
  </label>
    <input type='submit' value='Sign up'>
</form>
