<form action="/users" method="post">
  <input type="text" name="name" id="name"/>
  <input type="text" name="username" id="username"/>
  <input type="text" name="email" id="email"/>
  <input type="text" name="password" id="password"/>
  <button type="submit" name="register">Register</button>
</form>