<h1> Please sign up </h1>
<form action="/users" method="post">
  <label for="email">
    Email:<br><br>
    <input type="text" name="email" value="<%= @user.email %>" pattern="^.+@.+\..+$" required>
  </label>
  <br><br>
  <label for='password'>
    Password:<br><br>
    <input type='password' name='password' required>
  </label>
  <br><br>
  <label for='password_confirmation'>
    Confirm Password:<br><br>
    <input name='password_confirmation' type='password'>
  </label>
  <br><br>
  <input type="submit" value="Sign up">
</form>
