<h1>Welcome to Chitter!</h1>
<h2>Please sign up or sign in to Chit!</h2>
<h2>To sign up easily please fill below fields</h2>
<form action='/users' method="post">
  <label for='username'>
    Username:
      <input type="text" name="username" required>
  </label>
  <label for='email'>
    Email:
      <input type="email" name="email" value="<% @current_email %>" required>
  </label>
  <label for='name'>
    Name:
      <input type="text" name="name" required>
  </label>
  <label for='password'>
    Password:
      <input type="text" name="password" required>
  </label>
  <label for='password_confirmation'>
    Confirm your password:
      <input type="text" name="confirm password" required>
  </label>

  <input type="submit" value="Sign up">
</form>
<br>
<br>
<h2>Are you already a member? <a href="users/signin">Sign in to Chit!</a></h2>


<%= @error_msg%>
