<form action='/users' method ='post'>

Email: <input type='email' name='email' id='email' value='<%= @user.email %>' required>
Nom Name: <input type='text' name='nom_name' id='nom_name' value='<%= @user.nom_name %>' required>
Password: <input type='password' name='password'>
Password Confirmation: <input type='password' name='password_confirmation'>

<input type='submit' value='Sign up'>

</form>
