<p class="heading"> Sign up </p>

<form action='/users' method='post'>
  <label for='name'>Name:<br>
    <input type='text' name='name' required>
  </label>
  <br>
  <br>
  <label for='username'>Username:<br>
    <input type='text' name='username' required>
  </label>
  <br>
  <br>
  <label for='email'>Email:<br>
    <input type='email' name='email' required>
  </label>
  <br>
  <br>
  <label for='password'>Password:<br>
    <input type='password' name='password' required>
  </label>
  <br>
  <br>
  <label for='password_confirmation'>Confirm password:<br>
    <input type='password' name='password_confirmation' required>
  </label>
  <br>
  <br>
    <input type='submit' value='Submit'>
</form>
