<h1>Please enter your account details to get started!</h1>

<form action='/signup' method='post'>
   <label for='name'>
    Name: <input name='name' type='text'>
  </label>
   <label for='username'>
    Username: <input name='username' type='text'>
  </label>
  <label for='email'>
    Email: <input name='email' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password'>
    Confirm Password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign Up'>
</form>