<h1>Join Chitter today.</h1><br>
<form action='/users' method='post'>
  <input type='text' name='name' placeholder='Full name'><br>
  <input type='email' name='email' placeholder='Email'><br>
  <input type='text' name='username' placeholder='Username'><br>
  <input type='password' name='password' placeholder='Password'><br>
  <input type='submit' value='Sign up for Chitter'>
</form>
