<!DOCTYPE html>
<html>
  <body>

    <h1> Sign Up </h1>

    <form action='/users' method='POST'>
      <div>
        <label for='user_name'>User name:</label>
        <input type='text' name='user_name'required>
      </div>
      <div>
        <label for='email'>Email:</label>
        <input type='email' name='email' required>
      </div>
      <div>
        <label for='password'>Password:</label>
        <input type='password' name='password' required>
      </div>
      <div>
        <label for='password_confirmation'>Confirmation:</label>
        <input type='password' name='password_confirmation' required>
      </div>
        <input type='submit' value='Submit'>
    </form>

  </body>
</html>
