<h3> Sign up to be an awesome chitterer </h3>

<form action='/users' method='POST'>
  Name <input type='text' name='name'>
  Username <input type='text' name='username'> <br>
  Email <input type='text' name='email'>
  Password <input type='password' name='password'>
  Re-type Password <input type='password' name='password_confirmation'>
  <input type='submit' value='Sign Up'>
</form>
