<h1> Sign up to Chitter! </h1>

<form action='/users' method='POST'>
  <label for='name'>
    Name: <input type='text' name ='name'>
  </label>
  <label for='username'>
    Username: <input type='text' name ='username'>
  </label>
  <label for='email'>
    Email: <input type='text' name ='email'>
  </label>
  <label for='password'>
    Password: <input type='text' name ='password'>
  </label>
  <label for='confirm_password'>
    Confirm Password: <input type='text' name ='confirm_password'>
  </label>
  <input type='submit' value='Sign Up!'>
</form>
