<p>Please enter your details to sign up</p>
<form action="/users" method="post">
  <input placeholder ="Name" type="text" name="name" required/>
  <div class="tiny_space"></div>
  <input placeholder ="Username" type="text" name="username" required/>
  <div class="tiny_space"></div>
  <input placeholder ="Email" type="email" name="email" required/>
  <div class="tiny_space"></div>
  <input placeholder ="Password" type="password" name="password" required/>
  <div class="tiny_space"></div>
  <input placeholder ="Confirm password" type="password" name="password_confirmation" required/>
  <div class="mini_space"></div>
  <input class="button" type="submit" value="Sign up"/>
</form>
