<h1>Sign Up</h1>

<form action='/messages' method='get'>

  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="username">Username:</label>
  <input type="text" name="username">

  <label for="password">Password:</label>
  <input type="text" name="password">

  <label for="password_confirmation">Password Confirmation:</label>
  <input type="text" name="password_confirmation">

  <input type='submit' value='Sign Up'>

</form>
