<form method='post' action='/users'>

  <label for="name">
    Name:
    <input type='text' name='name' required>
  </label>

  <label for='username'>
    Username/Nickname:
    <input type='text' name='username' required>
  </label>

  <label for='email'>
    Email:
    <input type='email' name='email' value='<%= @user.email %>' required>
  </label>

  <label for='password'>
    Password:
    <input type='password' name="password" required>
  </label>

  <button type='submit'>Sign up</button>

</form>
