<form action='/users' method='post' >
Please fill in all fields below<br><p>
  <label for="full_name">Enter Full Name:
    <input type="text" name="full_name" required/>
  </label><br><p>
  <label for="username">Choose a Username:
    <input type="text" name="username" required/>
  </label><br><p>
  <label for="email">Enter Email:
    <input type='email'  name='email' required/>
  </label><br><p>
  <label for="password">Choose Password:
    <input type='password'  name='password' />
  </label><br><p>
  <label for="password_confirmation">Confirm Password:
    <input type='password'  name='password_confirmation' />
  </label><br><br><p>
    <input type='submit' class='button' value='Sign Up'>
