<div>
  <form action='/users' method='post'>
    <input name='email' type='email' placeholder='email' required>
    <input name='password' type='text' placeholder='password' required>
    <input name='name' type='text' placeholder='name' required>
    <input name='username' type='text' placeholder='username' required>
    <button name='create account' type='submit'>Create account</button>
  </form>
</div>

