<h1>Sign up</h1>

<form action="/users" method="post">
  <label for="username">
    Username: <input type="text" name="username">
  </label>
  <br/>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Confirm password: <input type="password" name="password_confirmation">
  </label>
  <br/>
  <label for="firstname">
    First name: <input type="text" name="firstname">
  </label>
  <label for="surname">
    Surname: <input type="text" name="surname">
  </label>
  <br/>
  <label for="email">
    Email: <input type="email" name="email">
  </label>
  <br/>
  <br/>
  <label for="submit_button">
    <input type="submit" value="sign up">
  </label>
</form>
