<div align="center" class="container">

  <form action = '/users' method='post'>

    <div class="form-group">
      <label for='email'>Email</label>
      <input type='email' name='email' class="form-control" placeholder="Email">
    </div>

    <div class="form-group">
      <label for='username'>Username</label>
      <input type='username' name='username' class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
      <label for='full_name'>Full name</label>
      <input type='full_name' name='full_name' class="form-control" placeholder="Full Name">
    </div>

    <div class="form-group">
      <label for='password'>Password</label>
      <input type ='password' name='password' class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <label for='password_confirmation'>Password Confirmation</label>
      <input type='password_confirmation' name='password_confirmation' class="form-control" placeholder="Confirm Password">
    </div>

    <input type='submit' value='Log in' class="btn-primary">

  </form>

</div>
