<div class='signup signup-sep'>
  <h1>New to Chitter? Sign up</h1>
  <p>
  <form action='/users' method='post'>
    <div class="form-group">
      <input name="name" class="form-control" type="text" placeholder="Full name"
      value="<%= @user.name if current_user %>" >
    </div>

    <div class="form-group">
      <input name="username" type="text" class="form-control" placeholder="Username"
      value="<%= @user.username if current_user %>" >
    </div>

    <div class="form-group">
      <input name="email" type="email" class="form-control" placeholder="Email Address" required pattern="^[a-zA-Z][a-zA-Z0-9\._-]+@[a-zA-Z0-9][a-zA-Z0-9_.-]+\.[a-zA-Z]+$"
      value="<%= @user.email  if current_user %>" >
    </div>

    <div class="form-group">
      <input name="password" type="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <input name="password_confirmation" type="password" class="form-control" placeholder="Re-type password">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" >Sign up for Chitter</button>
    </div>
  </form>
</div>

<% if flash[:errors] %>
  <div class='signup flash_error'>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
