<form action='/users' method='post'>
  <div>
    <label for='name'>name: </label>
    <input type='text' name='name' value='<%= "#{flash[:name]}" %>' required >
  </div>
  <div>
    <label for='email'>email: </label>
    <input type='email' name='email' value='<%= "#{flash[:email]}" %>'required >
  </div>
  <div>
    <label for='username'>username: </label>
    <input type='text' name='username' value='<%= "#{flash[:username]}" %>'required >
  </div>
  <div>
    <label for='password'>password: </label>
    <input type='password' name='password' required >
  </div>
  <div>
    <label for='password_confirmation'>confirm password: </label>
    <input type='password' name='password_confirmation' required >
  </div>
  <br>
  <div class='button'>
    <button type='submit'>sign me up</button>
</form>
