<h1>Please enter your name and your e-mail address</h1>

<form action='/users' method='post'>
  <label for='name'> Your name:
    <input type='text' name='name'>
  </label>
  <label for='email'> Your e-mail address:
    <input name='email' type='text' value='<%= @user.email %>'>
  </label>
  <h1>Please enter your password:</h1>
  <label for='password'> Your password:
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'> Confirm your password:
    <input type='password' name='password_confirmation'>
  </label>
  <input type='submit' value='Sign up'>
</form>
