<h1>Please sign up</h1>

<form action="/users" method="post">
  Email: <input name="email" type="text">
  Password: <input name="password" type="password">
  <input type="submit" value="Sign up">
</form>