<h1>Please Sign up</h1>

<form action='/users' method='post'>
  Name:     <input name='name' type='text'>
  Email:    <input name='email' type='text'>
  Username: <input name='username' type='text'>
  Password: <input name='password' type='text'>
  <input type='submit' value='Sign up'>
</form>