<h1>New user sign up</h1>
<form action="/users" method="post">

  <label for="name">
    Full name: <input type="text" name="name" value='<%= @user.name %>'>
  </label>

  <label for="user_name">
    User name: <input type="text" name="user_name" value='<%= @user.user_name %>'>
  </label>

  <label for="email">
    Email: <input type="email" name="email" value='<%= @user.email %>'>
  </label>

  <label for="password">
    Password: <input type="password" name="password">
  </label>

  <label for="password_confirmation">
    Password confirmation: <input type="password" name="password_confirmation">
  </label>

  <input type="submit" value="sign up">
</form>
