<div>
  <h1> Welcome to Chitter, please sign up to create your account </h1>

  <form action='/users' method='post'>
    Email: <input type='text' name='email' value='<%= @user.email %>'>
    User Name: <input type='text' name='user_name'>
    Password: <input type='password' name='password'>
    Password Confirmation: <input type='password' name="password_confirmation">
    <input type='submit' value='Sign Up'>
  </form>
</div>