
</body>
  <div class="content">
    <form action='/users' method='post'>
      Email: <input type="text" name="email"><br>
      Name: <input type="text" name="name"><br>
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      Password Confirmation: <input type="password" name="password_confirmation">
      <input type="submit" value="Sign up">
    </form>
  </div>
</body>
