<h1> Please enter your details below. </h1>

<form action='/users' method='POST'>

  <label for='username'>
    Username:
    <input type='text' name='username'/>
  </label>
  <label for='email'>
    Email address:
    <input type='text' name='email'/>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password'/>
  </label>
  <input type='submit' value='Submit'>

</form>


