<p> Welcome, <%= @user %> </p>


<form action='/users' method='post'>
	Email: <input name='email'>
	Password: <input name='password'>
	Name: <input name='name'>
	UserName: <input name='username'>
	<input type='submit' value='Sign Up'>
</form>
	
	