<!-- Page for signing up new users -->
<h1> Create a Chitter account </h1>

<form action='/users' method='POST'>
<label for='username'>
  Username:
  <input type='text' name='username' />
</label>
<label for='name'>
  Full name:
  <input type='text' name='name' />
</label>
<label for='email_address'>
  Email Address:
  <input type='text' name='email_address' />
</label>
<label for='password'>
  Password:
  <input type='password' name='password' />
</label>
<input type='submit' value='Create Account'>
