<h1>create your knitter account</h1>
<div class="container">
<form action='/users' method='post'>

  <label>
    Email
    <input type='text' name='email' required>
  </label>

  <label>
    Username
    <input type='text' name='username' required>
  </label>

  <label>
    Password
    <input type='password' name='password'>
  </label>

  <label>
    Confirm Password
    <input type='password' name='password_confirmation'>
  </label>

  <button type='submit' value='submit'>
    Submit
  </button>
</div>
</form>
