<h1>Enter your details below to sign up:</h1>
<form action='/users/new' method='post'>
  <label for='name'>
    Name: <input name='name' type='text'>
  </label>
  <label for='username'>
    Username: <input name='username' type='text'>
  </label>
  <label for='email'>
    Email address: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Confirm password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Submit'>
</form>

<% if flash[:errors] && !flash[:errors].empty? %>
  Oops! Something went wrong:
  <ul>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  </ul>
  <% end %>
<% end %>
