<h1>Chitter</h1>
<h2>Sign up here</h2>

<form action="/users" method="POST">
  <input class="sign-up-form" required type="text" name="name" placeholder="Name" maxlength="50"><br>
  <input class="sign-up-form" required type="text" name="username" placeholder="Username" maxlength="50"><br>
  <input class="sign-up-form" required type="email" name="email" placeholder="Email" maxlength="60"><br>
  <input class="sign-up-form" required type="password" name="password" placeholder="Password" maxlength="50"><br>
  <input class="submit" type="submit" value="Get posting">
</form>
