<!DOCTYPE=html>
<html lang="en">

  <style>
  input[type=text], input[type=password], input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  </style>

  <head>
    <title>Sign up to Chitter</title>
  </head>

  <body>
    <h1>Sign up to Chitter!</h1>
    <form action="/users/new" method="post">
      Username<br>
      <input type="text" name="username" value='<%= @user.username %>'required><br>
      Email<br>
      <input type="email" name="email" value='<%= @user.email %>'required><br>
      Password<br>
      <input type="password" name="password" required><br>
      Confirm password<br>
      <input type="password" name="password_confirm" required><br>
      <br>
      <input type='submit' value='Sign me up!'>
    </form>
  </body>

</html>
