<% if flash[:notice] %>
  <div id='notice'><%= flash[:notice] %></div>
<% end %>

<h1>Please sign up to peep to the world!</h1>
<br>
<form action='/users' method='post'>
  <label for='name'>
    Name: <input name='name' type='text' value='<%= @user.name %>'>
  </label>
  <label for='user_name'>
    User name: <input name='user_name' type='text'>
  </label>
  <label for='email'>
    Email: <input name='email' type='text' value='<%= @user.email %>' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign me up!'>
</form>
