

<form action="/users" method="post">
    email: <input type="email" class="field" name="email" required/>
    password: <input type="password" class="field" name="password">
    confirm password: <input type='password' name='password_confirmation' />
  <p>
    name: <input type="text" class="field" name="name">
    user name:<input type="text" class="field" name="user_name">
  <input type='submit' value='Sign up' class="btn" />
</form>
