<h1>Sign up as a new user</h1>

<form action="/users" method="post">
  <input type="text" name="name" placeholder="Name" required><br/>
  <input type="text" name="username" placeholder="username" required><br/>
  <input type="email" name="email" placeholder="email" required><br/>
  <input type="password" name="password" placeholder="password" required><br/>
  <input type="password" name="password_confirmation" placeholder="password confirmation" required><br/><br/>
  <input type="submit" value="Submit">
</form>
