
<h3>Please Sign Up Below:</h3>
<form action='/users' method='post'>
  <input type='text' name='name' placeholder="Name" required><br><br>
  <input type='text' name='user_name' placeholder="User Name" required><br><br>
  <input type='email' name='email' placeholder="Email" required><br><br>
  <input type='password' name='password' placeholder="Password" required><br><br>
  <input type='password' name='password_confirmation' placeholder="Password Confirmation" required><br><br>
  <input type='submit' value='Sign Up'>
</form><br>

<form action='/' method='get'>
  <input type='submit' value='Go Back'>
</form>