<h1 align='center'>Chitter</h1>
<h2 align='center'>Sign Up</h2>

<form align='center' action='/sign-up' method='POST'>
  <label for='name'>Name:
    <input type='text' name='name'><br>
  </label>
  <label for='email'>Email:
    <input type='text' name='email'><br>
  </label>
  <label for='username'>Username:
    <input type='text' name='username'><br>
  </label>
  <label for='Password'>Password:
    <input type='text' name='password'><br>
  </label>
  <input type='submit' value='Create Account'>
</form>
