<font face="Futura">
  <div>
    <h2>Create a Chitter account</h2>
  </div>

  <form action='/users' method='post'>
    <input type='text' name='user_name' placeholder='user name'>
    <input type='text' name='email' placeholder='email address'>
    <input type='text' name='password' placeholder='password'>
    <input type='submit' value='Sign up'>
  </form>
