<%= erb :header %>

<h2>Sign Up</h2>

<div id='sign_up'>
  <form action='/users' method='post'>
      <input type='text' name='name' placeholder='Name'><br><br>
      <input type='text' name='user_name' placeholder='Username'><br><br>
      <input type='text' name='email' placeholder='Email'><br><br>
      <input type='text' name='password' placeholder='Password'><br><br>
      <input type='text' name='password_confirmation' placeholder='Confirm Password'><br><br>
      <input type='submit' value='Sign Up' class='button'>
  </form>
</div>
