<h1> Welcome to Chitter, please sign up to create your account</h1>

<form action='/users' method='post'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <input type='Submit' value='Sign Up'>
</form>