<h1>Please sign up</h1>

<form action="/users" method="post">
  Email: <input name="email" type="text" value="<%= @user.email %>">
  Password: <input name="password" type="password">  
  And again: <input name="password_confirmation" type="password">  
  <input type="submit" value="Sign up">
</form>