Please sign up

<form action='/users' method='post'>
  <input name='email' type='text' placeholder='email'>
  <input name='password' type='password' placeholder='password'>
  <input name='name' type='text' placeholder='name'>
  <input name='user_name' type='text' placeholder='user name'>
  <input type='submit' value='Sign up'>
</form>