<h1>Create your account</h1>
<form action="/users" method="post">
  Email: <input type="email" name="email"><br>
  Name: <input type="text" name="name"><br>
  Nickname: <input type="text" name="nickname"><br>
  Password: <input type="password" name="password"><br>
  Password confirmation: <input type="password" name="password_confirmation">
  <br>
  <input type="submit" value="Sign up">
</form>
