<h1> Welcome to Chitter! Sign up here! </h1>

<form action='/users/new' method='post'>
  <input type='email' name='email' value='Email' required>
  <input type='text' name='name' value='Name' required>
  <input type='text' name='username' value='Username' required>
  <input type='password' name='password' value='Password' required>
  <input type='password' name='password_confirmation' value='Password' required>
  <input type='submit' name='Sign Up' value='Sign Up!'>
</form>
