<form action="/user" method="POST" >
Name:
<input type="text" name="name">
User Name:
<input type="text" name="user_name">
Email:
<input type="text" name="email">
Password:
<input type="text" name="password">
<input type="submit" value="Create Account">
</form>
