<form class="form-signup" action="/users" method="post">
  <h2 class="form-signup-heading">Join Chitter today.</h2>
  <label for="inputName" class="sr-only">Full Name</label>
  <input type="text" id="inputName" class="form-control" placeholder="Full Name" name="name" required autofocus>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
