<!DOCTYPE html>
<html>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #1a8cff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #80bfff;
}

div {
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
<body>

<h3>Join Chitter</h3>

<div>
  <form action='/users' method='post'>
    <label for="e-mail">E-mail</label>
    <input type="text" name="email" placeholder="Your e-mail..">

    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Your password..">

    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name..">

    <label for="user_name">User Name</label>
    <input type="text" name="user_name" placeholder="Your user name..">

    <input type="submit" value="Sign up">
  </form>
</div>

</body>
</html>
