<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>

  <body>
    <div class="header">
      <h1> Sign Up! </h1>
    </div>

    <form class="form" action='/users' method="post">
      <label>Email:</label>
      <input type="email" name="email">

      <label>Password:</label>
      <input type="password" name="password"><br>

      <label>Name:</label>
      <input type="text" name="name"><br>

      <label>Username:</label>
      <input type="text" name="username"><br>

      <input class="button" type="submit" value="Sign Up">
    </form>
  </body>

</html>
