

<form action='/users' method='post'>
  <input type='text' name='name' placeholder='Name'/>
  <input type='text' name='username' placeholder='Username'/>
  <input type='email' name='email' placeholder='Email'/>
  <input type='password' name='password' placeholder='Password'/>
  <input type='password' name='password_confirmation' placeholder='Confirm password'/>
  <input type='submit' value='Sign up'/>
</form>
