<h1>Please sign up</h1>
<form action='/users' method='post'>
  <label>
    Email: <input type='email' name='email' required/>
  </label>
  <label>
    Password: <input type='password' name='password' required/>
  </label>
  <label>
    Name: <input type='text' name='name' required/>
  </label>
  <label>
    Username: <input type='text' name='username' required/>
  </label>
  <input type='submit' value='Sign Up!'/>
</form>
