<form action='/users/new' method='POST'>
  <label for='email_address'>
    Email Address:
    <input type='email' name='email_address' value='<%= @user.email_address %>' required>
  </label>
  <label for='password'>
    Password
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>
    Password Confirmation
    <input type='password' name='password_confirmation'>
  </label>
  <input type='submit' value='sign up'>
</form>
