

<form action="/users" method="post">
  <label for="email">
    email:
    <input type="email" class="field" name="email">
  </label>
  <label for="password">
    password:
    <input type="text" class="field" name="password">
  </label>
  <p>
  <label for="name">
    name:
    <input type="text" class="field" name="name">
  </label>
  <label for="user_name">
    user name:
    <input type="text" class="field" name="user_name">
  </label>
  <input type='submit' value='Sign up' class="btn" />
</form>
