<h1>Create a Shitter account!</h1>
<div>
  <form action='/users' method='post'>
    <input name='email' type='email' placeholder='email' required>
    <input name='password' type='text' placeholder='password' required>
    <input name='name' type='text' placeholder='name' required>
    <input name='username' type='text' placeholder='username' required>
    <button name='Sign up' type='submit'>Sign up</button>
  </form>
</div>

