<h1>Please Sign up to Chitter</h1>
<form action="/users" method="post">
  Enter Email: <input type="text" name="email" required/>
  Enter Password: <input type="password" name="password"/>
  Re-Enter Password: <input type="password" name="password_confirmation"/>
  <input type="submit" value="Sign Up"/>
</form>
