<h1> Sign up </h1>

<form action = '/users' method = post>
  <input type="text" name="name" placeholder="name" required>
  <input type="text" name="email" placeholder="email" required>
  <input type="password" name="password" placeholder="password" required>
  <input type="password" name="password_confirmation" placeholder="password confirmation" required>
  <input type="submit" value="Sign up">
</form>


</form >
