<h1>Create you Chitter account:</h1>

<form class="sign_up" action="/users" method="post">
  <label>Email:
    <input type="text" name="email" required>
  </label><br>
  <label>Password:
    <input type="password" name="password" required>
  </label><br>
  <label>Full name:
    <input type="text" name="full_name" required>
  </label><br>
  <label>Username:
    <input type="text" name="username" required>
  </label><br>
  <input type="submit" value="Sign up">
</form>
