<html>
  <body style="background-color:#F5DBF7">
    <h1>Sign up to Chitter</h1>
    <h2>Please enter your details below</h2>
    <form action='/users' method='post'>
      <input type='text' name='email' placeholder="email" value='<%= @user.email %>'>
      <input type='text' name='name' placeholder="name">
      <input type='text' name='username' placeholder="username">
      <input type='password' name='password' placeholder="password">
      <input type='password' name='password_confirmation' placeholder="password confirmation">
      <input type='submit' value='Create account'>
    </form>
  </body>
</html>
