<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Chitter</title>
    <!-- <link rel='stylesheet' href='styles.css'/> -->
  </head>
  <body>
    <h2>Sign up for an account!</h2>
    <form method='post' action='/users'>
      Email: <input type='email' name='email' required>
      Password: <input type='password' name='password' required>
      Confirm password: <input type='password' name='password_confirmation' required>
      Username: <input type='text' name='username' required>
      Your name: <input type='text' name='name' required>
      <button type='submit'>Submit</button>
  </body>
</html>
