<div class="container-fluid">
  <form class="form-signup" action="/users" method="post">
    <h2>Sign Up</h2>
    <input class="form-control" type="text" name="username"
            placeholder="Username">
    <input type="text" name="name" class="form-control"
            placeholder="Full name">
    <input type="email" name="email" class="form-control"
            placeholder="Email address">
    <input type="password" name="password" class="form-control"
            placeholder="Password">
    <input type="password" name="password_confirmation" class="form-control"
            placeholder="Confirm password">
    <br>
    <button type="submit" class="btn btn-lg btn-primary btn-block">
      Sign Up
    </button>
  </form>
</div>
