<h1> New user </h1>
<form action='/users/new' method='POST'>
  <input type ='text' name='name'/>
  <input type ='text' name='user_name'/>
  <input type ='email' name='email'/>
  <input type ='password' name='password' />
  <input type='submit' value='Sign up' />
</form>
