<h1> Sign up to Chitter </h1>

<form action='/users' method='post'>
  <label for='name'>
    Name:
    <input type='text' name='name' />
  </label>
  <label for='username'>
    Username:
    <input type='text' name='username' />
  </label>
  <label for='email'>
    Email:
    <input name='email' type='email' >
  </label>
  <label for='password'>
    Password:
    <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Confirm password:
    <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
