


<style>
body {          background-color: skyblue;}

div {           border: solid 1px black;
                border-radius: 20px;
                font-weight: bold;
                position: relative;
                margin-left: 600px;
                margin-top: 50px;
                padding: 5px;
                width: 200px;
                background-color: white;
                font-family: helvetica;
                font-weight: lighter;
                color:       black;}


.title {        font-family: helvetica;
                color:       white;
                font-weight: bolder;
                position: relative;
                margin-left: 590px;
                margin-top: -10px;
                font-size: 50px;}

#logo {         position: relative;
                margin-left: 635px;
                margin-top:  0px;
                height: 250px;}

#form {      border: solid 1px black;
                border-radius: 20px;
                font-weight: bold;
                position: relative;
                margin-left: 70px;
                margin-top: 20px;
                padding: 5px;
                width: 350px;
                background-color: lightgrey;
                text-align: center;}

h2 {            font-family: helvetica;
                font-weight: lighter;
                color:       black;}

#welcome{       font-family: helvetica;
                font-weight: bold;
                color:       yellow;}
</style>

<center><h2 id='welcome'>SIGN UP AND START BLABBING!</h2></center>


<img id="logo" src="https://www.shareicon.net/data/2016/07/19/798503_chat_512x512.png">
<h1 class = 'title'>BLaBBeR</h1>


<body>
    <div id='newpost'>
    <center><h2> SIGN UP! </h2><form action='/users' method='post'>

      <label for='email'>
        EMAIL: <input name='email' type='text'>
      </label>

      <label for='name'>
        USERNAME: <input name='name' type='text'>
      </label>

      <label for='password'>
        PASSWORD: <input name='password' type='password'>
      </label>

      <label for='password_confirmation'>
        CONFIRM PASSWORD: <input name='password_confirmation' type='password'>
      </label>

      <input type='submit' value='SIGN UP'>
      </form></center>
    </div>
</body>
