<h1> Welcome to Chitter </h1>

<h2> Sign Up! </h2>

<form action='/users' method='post'>
  
  <label for='name'>
    Full Name: <input name='name' type='text' value='<%= @user.name %>'>
  </label>

  <label for='email'>
    Email: <input name='email' type='email' value='<%= @user.email %>' required>
  </label>

  <label for='user_name'>
    User Name: <input name='user_name' type='text' value='<%= @user.user_name %>'>
  </label>

  <label for='password'>
    Password: <input name='password' type='password'>
  </label>

  <label for='password_confirmation'>
    Password Confirmation: <input name='password_confirmation' type='password'>
  </label>

  <input type='submit' value='Sign Up!'>

</form>