<h1>Please sign up</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' value='<% @user.email %>' required>
  </label>
  <label for='firstname'>
    First name: <input name='firstname' type='text' value='<% @user.firstname %>' required>
  </label>
  <label for='lastname'>
    Last name: <input name='lastname' type='text' value='<% @user.lastname %>' required>
  </label>
  <label for='username'>
    Username: <input name='username' type='text' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Confirm password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
