<h1> Please sign up </h1>

<form action='/users' method='post'>
  <lable for='email'>
    Email:<input name='email' type='text' required>
  </label>
  <lable for='password'>
    Password:<input name='password' type='password'>
  </lable>
  <label for='password_confirmation'>
    Password: <input name='password_confirmation' type='password'>
  </label>
  <lable for='name'>
    Name:<input name='name' type='text'>
  </label>
  <lable for='user_name'>
    User Name:<input name='user_name' type='text'>
  </lable>
  <input type='submit' value='Sign up'>
</form>
