<form action="/users/new" method="post">
  Please enter your email address: <input type="text" name="email"><br>
  Please enter your full name: <input type="text" name="name"><br>
  Please enter your preferred username: <input type="text" name="username"><br>
  Please enter a password for your new account: <input type="password" name="password"><br>
  Please confirm your password: <input type="password" name="password_confirmation"><br>
  <input type="submit" value="Sign me up!">
</form>
