<html>
<head>
  <meta charset="utf-8">
  <title> Chitter </title>
</head>
<div style='text-align: center; font-family: Helvetica'>
<img src='https://d21buns5ku92am.cloudfront.net/46038/images/151145-chitter_logo-fd27ff-medium-1418117906.png'>
<head>
<h1>Welcome to Chitter!</h1>
<h2>Please sign up</h2>
</head>
<%= flash[:error] %>
<body>
  <div style='vertical-align: middle'>
<form action='/users' method='post'>
  <label for='name'>
   Name: <input name='name' type='text' value='<%=flash[:name]%>'>
  </label>
  <label for='username'>
   Username: <input name='username' type='text' value='<%=flash[:username]%>'>
  </label>
  <label for='email'>
    Email: <input name='email' type='email' value='<%=flash[:email]%>'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Confirm password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
<br>
</head><h2> Already a member of Chitter? </h2>
<h3> Click below to log in: <form action="/session/new" method="get">
<input type="submit" value="Log in">
</form>  </h3>

</body>
</html>
