<!--<link rel="stylesheet" href="css.css" type="text/css" /> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
      <header>
        <h2> 
            Sign up, to peep freely... or <a href="/sessions/new"> Sign in </a>
        </h2>
      </header>
    <form action='/users' method='POST'>
        <label for='email'>
            Email:
            <input type='email' name='email' value='<%= @user.email %>' required />
        </label>
        <label for='name'>
            Name:
            <input type='text' name='name' />
        </label>
        <label for='user_name'>
            User-name:
            <input type='text' name='user_name' />
        </label>
        <br>
        <br>
        <label for='password'>
            Password:
            <input type='password' name='password' />
        </label>
        <label for='password_confirmation'>
            Confirm password:
            <input type='password' name='password_confirmation' />
        </label>
        <input type='submit' value='Sign up'>
    </form>
  </body>
</html>