<h1 align='center'> Sign Up </h1>

<form action='/users' method='POST'>
  <label for='email'>
    Email:
    <input type='text' name='email' />
  </label>

  <label for='username'>
    Username:
    <input type='text' name='username' />
  </label>

  <label for='password'>
    Password:
    <input type='text' name='password' />
  </label>

  <label for='password_confirmation'>
    Re-enter password:
    <input type='text' name='password_confirmation' />
  </label>

  <input type='submit' value='Sign Up'>
</form>
