<h1> Please sign up to Chitter to start Peeping! </h1>
<form action='/users' method='post'>
  <label for='username'>
    Username: <input type='text' name='username'>
  </label>
  <label for='email'>
    Email: <input type='email' name='email' value='<%= @user.email %>' required>
  </label>
  <label for='password'>
    Password: <input type='text' name='password'>
  </label>
  <label for='password_confirmation'>
    Password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
