<h1>Please sign up</h1>
<form action="/users" method="post">
  <fieldset>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <label for="password_confirmation">Password confirmation:</label>
    <input type="password" name="password_confirmation" required>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="@" required>
    <input type="submit" name="" value="Sign up">
  </fieldset>
</form>
