+<h2>Create Your Profile</h2>
 +
 +<form action='/users/new' method='post'>
 +  User Name:</br>
 +  <input type='text' name='user_name' value='<%= @user.user_name %>'></br>
 +  Email: 
 +  <input type='text' name='user_email' value='<%= @user.user_email %>'></br>
 +  <input type ='submit' value='Sign Up'>
 +</form>
