<form action='/users' method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="password" name="password"> Please enter your new password </input>
  <input type="password" name="password_confirmation"> Confirm password </input>
  <input type="submit" value="Submit">
</form>
