<!DOCTYPE html>
<html>
  <h1> Sign up form </h1>

  <form action='/users/new' method='post'>
    <label>
      Email: <input type='text' name='email'>
    </label>
    <label>
      Password: <input type='password' name='password'>
    </label>
    <label>
      Password confirmation: <input type='password' name='password_confirmation'>
    </label>
    <input type="submit" value="Sign up">
  </form>
</html>
