<h1>Enter your new password</h1>
<form action="/users/new_password" method="post" class="pure-form">
  <input type="hidden" name="token" value="<%= @token %>">
  <input type="password" name="password" placeholder="Password"><br/>
  <input type="password" name="password_confirmation" placeholder="Confirm Password"><br/>
  <input type="submit" value="Reset Password" class="pure-button pure-button-primary">
</form>