<form action="/password_reset" method="post">
  <p> New password: <input type="password" name="password"></p>
  <p> Confirm password: <input type="password" name="password_confirmation"></p>
  <input type="submit" value="Save">
</form>