<div class="row">
  <div class="col-md-12">
    <h2>Sign Up</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form action="/users" method="POST">
      <div class="form-group">
        <label for="name">Name </label>
        <input type="text" class="form-control" name="name" placeholder="Name" />
      </div>
      <div class="form-group">
        <label for="user_name">User name </label>
        <input type="text" class="form-control" name="user_name" placeholder="Username" />
      </div>
      <div class="form-group">
        <label for="email">Email address </label>
        <input type="email" class="form-control" name="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input type="password" class="form-control" name="password" placeholder="Password" />
      </div>
      <input type="submit" class="btn btn-default" value="Create account" />
    </form>
  </div>
</div>
