<form action="/users" method="post">
  Name
  <input type="text" name="name">
  Username
  <input type="text" name="username">
  Email:
  <input type="email" name="email" value="<%= @user.email %>" required>
  Password:
  <input type="password" name="password">
  Confirm Password:
  <input type="password" name="password_confirmation">
  <input type="submit" value="Sign Up">
</form>
