<form action="/users/password_reset" method="post">
  <p>Email: <input type="email" name="email" required></p>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Reset Password">
</form>