Please enter your new password
<form action="/users?token=<%=params[:token]%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input placeholder="New Password" type="password" name="password" required>
  <input placeholder="Confirm Password" type="password" name="password_confirmation" required>
  <input class="button" type="submit" value="Update">
</form>
