<link rel="stylesheet" type="text/css" href="../../../public/style.css" />
<body>
Enter your email address to receive a password reset link.
<form method='post' action='/password_reset'>
  Email:
  <input type='text' name='email'>
  Password: 
  <input type='submit' value='Reset password'>
</form>
</body>