<link rel="stylesheet" href="../style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


<% if token? %>
  <p>Almost there. Please enter a new password</p>
  <form action="/users/password_reset" method="post">
    New Password<input type="password" name="password" id="" />
    Retype Password<input type="password" name="password_confirmation" id="" />
    <input type="submit" value="Update Password" />
  </form>
<% end %>