<link rel="stylesheet" href="../style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


 <h2>Forgot password?</h2>
    <form method='post' action='/users/password_reset'>  
       <input type="email" name="email" placeholder="Email address">     
      <button type='submit' value="submit">Request New Password</button>
    </form>