<!DOCTYPE html>

<body>
  <form action='/users/password-recovery' method="post">
    <input type="email" name="email" value="email">Enter Email</input>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
