<h1>Chitter</h1>

<form action="/peeps">
  <input type="submit" value="Back to Feed">
</form>

<h2>Your Peeps</h2>
<% @peeps.reverse.each do |peep| %>
  <article class="peep">
    <textarea cols="25" rows="3" class="content"><%= peep.content %></textarea>
    <p class="time"><%= peep.time %></p>

    <form action="/peeps/<%= peep.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="delete" type="submit" value="Delete">
    </form>

    <form action="/peeps/<%= peep.id %>/edit">
      <input class="edit" type="submit" value="Edit">
    </form><br>
  </article>
<% end %>
