<h1><%= @profile.username %></h1>
<% if @user && @user != @profile %>
  <form action="/users/profiles/follow" method="post" >
    <button name='profile' value="<%= @profile.username %>">Follow</button>
  </form>
<% end %>
<%= erb :cheeps %>