<h1><%= @profile.username %></h1>
<% if @user && @user != @profile %>
  <% if @user.followed_people.include?(@profile) %>
    <p>Following</p>
  <% else %>
    <form action="/users/profiles/follow" method="post" >
      <button name='profile' value="<%= @profile.username %>">Follow</button>
    </form>
  <% end %>
<% end %>
<%= erb :cheeps %>