<h1>Recovery Page</h1>

Please enter your email address:

<form action='/users/recover' method='post'>
  <label for='email'> E-Mail:
    <input type='text' name='email' required>
    <input type='submit' value='Submit'>
  </label>
</form>
