<form action='/users/recover' method='post'>
  <label for='email'> Please enter your email address
    Email: <input name='email' type='email' required>
  </label>
  <input type='submit' value='Submit'>
</form>