<form id="sign_in" action="/users/recover" method="post">
   <label for="email"> Please enter your email address
   </label>
     <input type="email" name="email" required>
     <input class="submit" type="submit" value="Submit">
</form>
