<div class="container">
  <div class="col-md-8 offset-md-2">
    <div class="form-group">
      <form action="/users/recover" method="post">
        <label id="id" for="email">Please enter your email address
          <input type="email" name="email" required>
        </label>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary-secondary" type="submit" value="Submit">Submit</button>
    </div>
  </form>
  </div>
</div>
