<h3><%= flash[:notice] %></h3>

<form class="sessions-form" action='/users' method="post">

  <h2>Sign up to Chitter</h2>

  <input type="text" id="username" name="username" placeholder="Username">
  <input type="text" id="email" name="email" placeholder="Email">
  <input type="password" id="password" name="password" placeholder="Password">

  <input type="submit" value="Register">

</form>

<div class="bottom-nav">

  <form action="/sessions/login">
    <input type="submit" value="Login" />
  </form>

  <form action="/">
    <input type="submit" value="Go Back" />
  </form>

</div>
