<body>
  <h1>Please enter your details</h1>
  <form action="/users/new_user_authenticate" method="post">
    <label for="first_name">
      First name: <input type="text" name="first_name">
    </label>
    <label for="last_name">
      Last name: <input type="text" name="last_name">
    </label>
    <label for="username">
      Enter a unique username: <input  name="username" type="text" >
    </label>
    <label for="email">
      Email: <input  name="email" type="email" required>
    </label>
    <label for="password">
      Password: <input type="password" name="password">
    </label>
    <label for="password_confirmation">
      Confirm password: <input type="password" name="password_confirmation">
    </label>
    <input type="submit" value="Register">
  </form>
</body>
