<header>Please register</header>
<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</ul>

<form action='/users/register' method='post'>
  <label for='email'>Email</label>
    <input type='email' name='email' required>
  <label for='name'>Name</label>
    <input type='text' name='name'  required>
  <label for='username'>Username</label>
    <input type='text' name='username' required>
  <label for='password'>Password</label>
    <input type='password' name='password' required>
  <label for='password_confirmation'>Password Confirmation</label>
    <input type='password' name='password_confirmation' required>
  <input type='submit' value='Submit'>
</form>
