<body>
  <h1>Register for Chitter</h1>
  <form action="/user/register" method="post">
    <label for="name">
      name: <input type="text" name="name" value='<%= @user.name %>'>
    </label>

    <label for="email">
      Email: <input type="email" name="email" value='<%= @user.email %>' required>
    </label>

    <label for="username">
      Username: <input type="text" name="username" value='<%= @user.username %>' required>
    </label>

    <label for="password">
      Password: <input type="password" name="password" required>
    </label>

    <label for="password_confirmation">
      Confirm password: <input type="password" name="password_confirmation" required>
    </label>

    <input type="submit" value="Sign up">
  </form>
</body>
