<h1>Please enter your new password</h1>

<form action="/users" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Password confirmation: <input type="password" name="password_confirmation">
  </label>
  <input type="submit" value="Submit">
</form>

<%= flash[:errors] %>
