<h2>Please enter your new password</h2>

<form action='/users' method='post'>
 <input type="hidden" name="_method" value="patch">
 <label for='password'>
   Password: <input name='password' type='password'>
 </label>
 <label for='password_confirmation'>
   Password Confirmation: <input name='password_confirmation' type='password'>
 </label>
 <input type='submit' value='Submit'>
</form>
