<link rel="stylesheet" type="text/css" href="../../../public/style.css" />
Enter a new password
<form action='/password_reset_success' method='post'>
  Password: <input name='new_password' type='password'>
  Confirm Password: <input name='password_confirmation' type='password'>
  <input type='submit' value='Reset password'>
</form>
  <%= erb :'/partials/home_button' %>