<h2>Enter your email address and we'll send you a reset link</h2>
<form action="/users/reset_password" method="post" class="pure-form">
  <input type="text" name="email" placeholder="Email Address"><br/>
  <input type="submit" value="Send Reset Link" class="pure-button pure-button-primary">
</form>