<h1> No need to fear, password recovery is here!</h1>


<form action='/users/new_password' method='post'>
  <input type='hidden' name='token' value="<%=@token%>">
  New Password: <input name='password' type='password'>
  New Password Confirmation: <input name='password_confirmation' type='password'>
  <input type='submit' value='Reset password'>
</form>