<h1>Please enter your new password</h1>

<div>
  <form action='/users' method='post'>
   <input type="hidden" name="_method" value="patch">
   <label>
     Password: <input name='password' type='password' class="form">
   </label>
   <label>
     Password Confirmation: <input name='password_confirmation' type='password' class="form">
   </label>
   <input type='submit' value='Submit' class="btn">
  </form>
</div>
