<% if flash[:loginerror] %>
  <%= flash[:loginerror] %>
<% end %>

Please Sign In

<form action="/users/sign_in" method="post">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign In">
</form>

<p>Don't have an account yet?</p> <a href="/users/sign_up">Sign up here</a>