  <form action='/users/signin' method='post' class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input type='email' name='log_in_email' placeholder = 'Email' required>
    </div>
    <div class="form-group">
      <input type='password' name='log_in_password' placeholder = 'Password' required>
    </div>
    <input type='submit' value='Sign In'>
  </form>
