<form id="signup" action="/users" method="POST" class="welcome">
  <p><label>Email</label>
    <input type="email" name="email" value="<%= @user.email %>" placeholder="example@eg.com" required/></p>
  <p><label>Password</label>
    <input type="password" name="password" required/></p>
  <p><label>Confirm Password</label>
    <input type="password" name="password_confirmation" required/></p>
  <p><label>Name</label>
    <input type="text" name="name" value="<%= @user.name %>" placeholder="Emma Watson"/></p>
  <p><label>Username</label>
    <input type="text" name="username" value="<%= @user.username %>" placeholder="ewatson" required/></p>
  <p><input type="submit" value="Sign Up"/></p>
</form>
