<h1>Sign up to Chitter:</h1>

<form action='/users' method='post'>
  <label for='username'>
    Username: <input type='text' name='username' required>
  </label>

  <label for='email'>
    Email: <input type='email' name='email' required>
  </label>

  <label for='password'>
    Password: <input type='password' name='password'>
  </label>

  <label for='password_confirmation'>
    Confirm password: <input type='password' name='password_confirmation'>
  </label>

</form>
