<form action='/users/sign_in' method='post'>
  <label for='email'>Email</label>
    <input type='email' name='email'>
  <label for='password'>Password</label>
    <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>