<form action='/sessions/new' method='post'>
  <p> Username:
    <input id='username' type='text' name='username'/>
  </p>
  <p> Password:
    <input id='password' type='password' name='password'/>
  </p>
  <p>
    <input id='submit' type='submit' value='Register'/>
  </p>
</form>
