<div class="center panel panel-default">
  <h1> Please Log In </h1>
  <form action='/users/signin' method='post'>
    <input type='email' name='email' placeholder = 'Email' required>
    <input type='password' name='password' placeholder = 'Password' required>
    <input type='submit' value='Sign In'>
  </form>
</div>
