<div style="color:black;padding:150px;" align="center">

  <form id="signup" action="/session" method="POST" class="welcome">
    <table>
      <tr>
        <td width="40%"><label>Email</label></td>
        <td width="60%"><input type="email" name="email" placeholder="example@eg.com" required/></td>
     </tr>
      <tr>
        <td width="40%"><label>Password</label></td>
        <td width="60%"><input type="password" name="password" required/></td>
    </tr>
      <tr>
        <td width="100%" colspan=2 align="center"><input type="submit" value="Sign In"/></td>
      </tr>
    </table>
  </form>

</div>
