<h1>Please sign in</h1>

<form action='/users/sign_in' method='post'>
  Email: <input name='email' type='email'>
  Password: <input name='password' type='password'>
  <input type='submit' value='Sign in'>
</form>

<form action='/peeps'>
  <input type='submit' value='Back'>
</form>
