<form name ='sign_up' action='/sessions' method='post'>
  <label for='email'>
  Email<br />
<input type="text" name="email" required> <br />
  <label for='password'>
  Password <br />
<input type="password" name="password" required> <br />
<button type="submit">Sign in</button>
