Enter your details to create an account.

<form action="/users/sign_up" method="post">
Name: <input type="text" name="name"><br/>
Email: <input type="text" name="email"><br/>
Password: <input type="password" name="password"><br/>
<input type="submit" value="Create Account">
</form>