<h1>Please sign up</h1>

<form action="/sign_up" method="post">
  <label for="email">
    Email:
    <input type="email" name="email"/>
  </label>
  <label for="password">
      Password:
      <input type="password" name="password"/>
  </label>
  <label for="password confirmation">
      Password confirmation:
      <input type="password" name="password_confirmation"/>
  </label>
  <button type="submit">Sign Up</button>
<form/>
