<form id='sign_up' action='/users/new' method='POST'>
  <input type='text' name='username' />
  <input type='text' name='name' />
  <input type='text' name='email' />
  <input type='text' name='password' />
  <input type='submit' value='Sign up' />
</form>

<p> Already a Peep?</p>

<form id='sign_in' action='/users' method='POST'>
  <input type='text' name='username' />
  <input type='text' name='password' />
  <input type='submit' value='Sign in' />
</form>
