<body>
<h1>Please enter your details</h1>
<form action='/users/existing_user_authenticate' method='get'>
	<label for='email'>
		Email: <input name='email' type='email' required>
	</label>
	<label for='password'>
		Password: <input type='password' name='password'>
	</label>
	<input type='submit' value='Sign in'>
</form>
</body>
