<!-- <section class="loginform cf">
<form name="login" action="index_submit" method="post" accept-charset="utf-8">
    <ul>
        <li><label for="usermail">Email</label>
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
        <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required></li>
        <li><label for="name">Name</label>
        <input type="name" name="password" placeholder="name" required></li>
        <li><label for="username">Username</label>
        <input type="username" name="password" placeholder="username" required></li>
        <li>

          <input type="submit" value="Login"></li>
    </ul>
</form>
</section> -->


 <form action='/user/sign_up' method='post'>
   <label for='user_name'>
     Username: <input type='text' name='user_name'>
   </label>
   <label for='email'>
     Email: <input type='text' name='email'>
   </label>
   <label for='password'>
     Password: <input type='password' name='password'>
   </label>
   <label for='password_confirmation'>
     Confirm Password: <input type='password' name='password_confirmation'>
  </label>
  <input type='submit' value='Register'>
 </form>
