<h1> Signup </h1>
<form action="/signup" method="post">
  <label for="first_name">
    First name
    <input type="text" name="first_name" autofocus>
  </label>
  <label for="surname">
    Surname
    <input type="text" name="surname" autofocus>
  </label>
  <label for="username">
    Username
    <input type="text" name="username" autofocus>
  </label>
  <label for="email">
    Email address
    <input type="text" name="email" autofocus>
  </label>
  <label for="password">
    Password
    <input type="password" name="password">
  </label>
  <input type="submit" value="Sign up">
</form>
