<h1>Sign up to Chitter:</h1>

<form action='/sessions/new'>
  <label for='Sign in' id='secondary-header'>
    Already have an account? <input type='submit' value='Sign in'>
  </label>
</form>
<form action='/peeps'>
  <label for='Continue as guest' id='secondary-header'>
    See Chitter feed as guest: <input type='submit' value='Continue as guest'>
  </label>
</form><br><br>

<form action='/users' method='post'>
  <div class='signin-boxes'>
    <label for='username'>
      <input type='text' name='username' placeholder='Username' required>
    </label>
  </div>

  <div class='signin-boxes'>
    <label for='email'>
      <input type='email' name='email' placeholder='Email' required>
    </label>
  </div>

  <div class='signin-boxes'>
    <label for='password'>
      <input type='password' name='password' placeholder='Password'>
    </label>
  </div>

  <div class='signin-boxes'>
    <label for='password_confirmation'>
      <input type='password' name='password_confirmation' placeholder='Confirm password'>
    </label>
  </div>

  <div class='signin-boxes'>
    <label for='sign up'>
      <input type='submit' value='Sign up'>
    </label>
  </div>




</form>
