<h1>Please sign up</h1>

<% if @user %>
  Welcome, <%= user.email %>
<% end %>


<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>

  <label for='name'>
    Name: <input name='name' type='text' >
  </label>

  <label for='nickname'>
    Nickname: <input name='nickname' type='text' >
  </label>

  <label for='password'>
    Password: <input name='password' type='password' >
  </label>

  <label for='password_confirmation'>
    Password confirmation: <input name='password_confirmation' type='password' >
  </label>



  <input type='submit' value='Sign up'>
</form>
