<html>
<form action="/welcome" method="POST">
  <h1>Sign up to Chitter!</h1>
  <label for="email">
    email:
  </label>
  <input type="text" name="email"/>
  <label for="password">
    Password:
  </label>
  <input type="text" name="password"/>
  <input type="submit" value="Sign up!"/>
</form>
</html>
