<form id="signup" action="/session" method="POST" class="welcome">
    <p><label>Email</label>
    <input type="email" name="email" placeholder="example@eg.com" required/></p>
    <p><label>Password</label>
    <input type="password" name="password" required/></p>
    <p><input type="submit" value="Sign In"/></p>
</form>
