<h1>Create new user account</h1>

<form action="/signup_create" method="post">

  <label for="username">
    Username:<input type="text" name="username" required>
  </label>

  <label for="email">
    Email:<input type="email" name="email" required>
  </label>

  <label for="password">
    Password:<input type="password" name="password">
  </label>

  <label for="password_confirmation">
    Confirm Password:<input type="password" name="password_confirmation">
  </label>

  <button type="submit">Submit</button>

</form>

<!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" -->
