<h1> Sign Up </h1>

<form action="/users/signup" method="post">
   <input type="text" name="name" placeholder="Name" required><br>
   <input type="email" name="email" placeholder="Email" required><br>
   <input type="text" name="username" placeholder="Username" required><br>
   <input type="password" name="password" placeholder="Password" required><br>
   <input type="password" name="password_confirmation" placeholder="Confirm Password" required><br>
   <input type="submit" value="Sign Up">
</form>
