<div>
  <p>Welcome to Chitter, please sign in</p>
  <form action="/users/sign_in" method="post">
    Username <input type="text" name="username">
    Password <input type="password"  name="password">
    <input type="submit" value="Sign in">
  </form>
</div>
