<h1>Please sign in</h1>

<form action="/signin_create" method="post">

  <label for="username">
    Username:<input type="text" name="username" required>
  </label>

  <label for="password">
    Password:<input type="password" name="password">
  </label>

  <button type="submit">Submit</button>

</form>
