<h1>Please sign up</h1>

<form action='/users' method='post'>
  Name:<input type='text' name='name'>
  Username:<input type='text' name='username'>
  Email:<input type='text' name='email' value='<%= @user.email %>' required>
  Password:<input type ='password' name ='password'>
  Password:<input type ='password' name ='password_confirmation'>
  <input type='submit' value='Sign up'>
</form>
