<h1>Sign up to Chitter:</h1>

<form action='/sessions/new'>
  <h4>Already have an account?</h4>
  <input type='submit' value='Sign in'>
</form><br><br>

<form action='/users' method='post'>
  <label for='username'>
    Username: <input type='text' name='username' required>
  </label>

  <label for='email'>
    Email: <input type='email' name='email' required>
  </label>

  <label for='password'>
    Password: <input type='password' name='password'>
  </label>

  <label for='password_confirmation'>
    Confirm password: <input type='password' name='password_confirmation'>
  </label>

  <label for='sign up'>
    <input type='submit' value='Sign up'>
  </label>

</form>
