
<h1>Please sign up for a CHITTER account</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' value ='<%= @user.email %>'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Password_confirmation: <input name='password_confirmation'
    type='password_confirmation'>
  </label>
  <input type='submit' value='Sign up'>
</form>
