<h1>Sign up for Chitter!</h1>

<form action='/users/sign_up' method="POST">
  <label for="username">
    Username: <input type="text" name="username" />
  </label>
  <label for="email">
    Email: <input type="email" name="email" value="<%= @user.email %>" />
  </label>
  <label for="password">
    Password: <input type="password" name="password" />
  </label>
  <label for="password_confirmation">
    Password confirmation: <input type="password" name="password_confirmation" />
  </label>
  <input type="submit" value="Sign up">
</form>
