<h1>Create new user account</h1>

<form action="/signup" method="post">

  <label for="email">
    Email:<input type="email" name="email" value='<%= @user.email %>' required>
  </label>

  <label for="password">
    Password:<input type="password" name="password">
  </label>

  <label for="password_confirmation">
    Confirm Password:<input type="password" name="password_confirmation">
  </label>

  <button type="submit">Create account</button>

</form>

<!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" -->
