<div>
  <form action="/users/new" method="post">
    Email: <input type="text" name="email" />
    Name: <input type="text" name="name" />
    Username: <input type="text" name="username" />
    Password: <input type="text" name="password" />
    Password Confirmation: <input type="text" name="password_confirmation" />
    <input type="submit" value="Register" />
  </form>
</div>