<div class="col-md-4 col-md-offset-4">
  <h1> Token Verification </h1>

  <form action="/users/token-verification" method="post">
    <div class="form-group">
      <label for="token">Email address</label>
      <input type="text" class="form-control" id="token" name="token" placeholder="Enter token" required>
    </div>
    <button type="submit" class="btn btn-default">Verify</button>
  </form>
</div>
