<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <div class="well clear">
      <%= partial :'partials/show_user' %>
    </div>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-6 col-lg-6">
    <%= partial :'partials/show_peeps' %>
  </div>
</div>
