<h1> Sign up for chitter </h1>


  <form action='/usercreate' method='POST'>
    <label for='name'>
      Name: <input name='name' type='text'/>
    </label>
    <label for='username'>
      Username: <input name='username' type='text'/>
    </label>
    <label for='email'>
      Email: <input name='email'type='text'/>
    </label>
   <!--  <label for ='password'>
      Password: <input type='password' name='password'/>
    </label> -->
    <input type='submit' value='Sign up'>

  </form>

