<h2>Chits</h2>
<ul id="chits">
  <% @chits.each do |chit| %>
    <li><a href="<%=chit.href %>"><%=chit.title %></a></li>
  <% end %>
</ul>

<form action='/chits/add' method="get">
  <div class="form-group">
    <input type="submit" class="btn btn-default" id="add" value="Add">
  </div>
</form>

<p><a href="/users/new">Sign Up</a></p>
<p><a href="/sessions/new">Sign In</a></p>
