<h1> Chits </h1>

<ul id="chits">
  <% @chits.each do |chit| %>
    <li>
      post: <%= chit.post  %>
      Tags: <%= chit.tags.map(&:name) if chit.tags.empty? == false %>
    </li>
  <% end %>
</ul>
