<html>

<head><meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script></head>

<body>
<% if current_user %>
<div class="container">
  <div class="center">
    <form id="AddChits" action="/chits" method="post">
      <textarea class="entryField" type="text" name="text" rows="4" cols="30" ></textarea>
      <div class="center">
        <br><input type="submit" value="Post Chit!">
      </div>
    </form>
  </div>
<div>
<%else%>
<div class="container">
  <div class="col-md-2 col-md-offset-9">
    <form action="/">
      <input type="submit" value="Sign in to post">
    </form>
  </div>
</div>
<% end %>
<div class="container">
  <div class="jumbotron vertical-center">
    <div class="container">

      <% @chits.reverse.each do |chit| %>
      <div class="panel panel-default">
        <div class="panel-body">

          <center><%= chit.text %></center>

          <%= chit.created_at.strftime("%T - %F")  %>

          by:  <strong> <%= User.get(chit.user_id).username %> </strong>

         </div>
       </div>
           <% end %>
    </ul>
</div>
 </div>
</div>
</body>
</html>
