<div class="row" id="chits">
<% @chits.each do |chit| %>
  <div class="panel panel-default">
    
    <div class="panel-body">
      <%= chit.message %>
    </div>

    <div class="panel-footer">
      <%= chit.time.ago_in_words %>
    </div>

  </div>
<% end %>
</div>
