<h1> Post new Chit </h1>

<form action="/chits" method="post">
    Post:
    <input type="text" name="post" autofocus>
    Tags:
    <input type="text" name="tags" autofocus>
    <input type="submit" value="Post chit">
</form>
