
<h1> Post Your Chit </h1>

<form action='/chits' method='POST'>
  <label for='user'>
    User:
    <input type='text' name='user' />
  </label>
  <label for='chitter_post'>
    Chit:
    <input type='text' name='chitter_post' />
  </label>
  <input type='submit' value='Post Chit'>

</form>