<h2> New Chit</h2>
<form action="/chits" method="post">
  <p>
    <textarea rows="4" cols="50" name="message" placeholder="What's on your mind?" maxlength="140"></textarea>
  </p>
  <p>
    <input type="submit" value="Chit">
  </p>
</form>
