
  <div id='main-holder'>
    <div id='chit'>
      <form action='/new' method='post'>
        <input style='height:50px;width:200px' type='text' placeholder='Chit here' name='post'/>
        <input type='text' placeholder='Insert tag here' name='tags'/>
        <input type='submit' value='Chit'/>
      </form>
    </div>
  </div>
