<div class="row row-cols-1">
  <div class="container gy-3 text-left">
    <div class="col">
      <div class="card" style="width: auto;">
        <span class="card-header">Date</span>
        <div class="card-body">
          <h5 class="card-title">@peep_id Name</h5>
          <p class="card-text">Peep Content</p>
          <p><a href="#" class="card-link">@peep_id Name</a></p>
          <div>Tags section</div>
        </div>
        <div class="container">
          <button type="button" class="btn btn-primary">Reply</button>
        </div>
        <div>replies Section</div>

      </div>

    </div>

  </div>


  </main>