<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
<% if @user %>
  <h3> Welcome, <%= @user.user_name %> </h3>
<% end %>
<% @peeps.each do |peep| %>
  <p>
  <em><%= format_peep_date(date: peep.date )%> </em>
  <br>
    <%= peep.content %>
  <hr>
  </p>
<% end %>
