<h1>to Chitter-Challenge</h1>

<a href="/sessions/new">Create a new Peep</a>




    <ul id="peeps">
      <% @peeps.each do |peep| %>
      <li>
        Message: <%= peep.message%>
        User: <%= peep.user %>
        <!-- User: <%= "Posted by #{User.get(peep.user_id).username}" %> -->
      </li>
      <% end %>
    </ul>
