<h3>Add a new peep:</h3>
<form action="/peeps/new" method="post">
  <input type="hidden" name="user_id" value="1">
  <textarea name="peep_content" style="width:300px; height:80px">
  </textarea>
  <br>
  <input type="submit">
</form>
