<% if @user %>
  <h1>Welcome, <%= @user.email %>!</h1>
<% else %>
  <%= flash[:notice] %>
<% end %>


<form action="/peeps/new" method="post">
  <div>
    <label for="peep">Peep:</label>
    <input type="text" name="peep">
  </div>
  <div>
    <button type="submit">Peep!</button>
  </div>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.peep %>
      <%= peep.time %>
      <br>
    </li>
  <% end %>
</ul>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
