<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/../styles.css">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Sign Up</h1> 
    <form action='/users' method='post'>
      <input type='text', name='name', placeholder='Name'>
      <input type='text', name='username', placeholder='Handle'>
      <input type='text', name='email', placeholder='Email'>
      <input type='password', name='password', placeholder='password'>
      <input type='submit' value='Sign Up'>
    </form>
  </body>
</html>