<% if !current_user %>
  <form action='/sessions/new' method='get'>
    <input type='Submit' name='Sign In'>
  </form>
<% end %>

<form action = '/users' method = 'post'>
  <label for='email'>
    Email: <input type = 'text', name = 'Email' >
  </label>
  <br>
  <label for='username'>
    Username: <input type = 'text', name = 'Username' >
  </label>
  <br>
  <label for='name'>
    Name: <input type = 'text', name = 'Name' >
  </label>
  <br>
  <label for='password'>
    Password: <input type = 'password', name = 'Password' >
  </label>
  <br>
  <label for ='Confirm_Password'>
    Confirm password: <input type = 'password', name = 'Password_confirmation' >
  </label>
  <br>
  <label for='Submit'>
    <input type = 'submit', value = 'Submit'>
  </label>
</form>

<% if flash[:errors] && !flash[:errors].empty? %>
Please refer to the following errors below:
<ul id='errors'>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
