<h1> Welcome to the signup page </h1>

<form action='/users' method='POST'>
  <label for="name">Name:</label><br>
  <input type=text name ='name' id='name'> <br>
  <label for="username">Username:</label><br>
  <input type=text name ='username' id='username'><br>
  <label for="email">Email:</label><br>
  <input type=text name ='email' id='email'><br>
  <label for="password">Password:</label><br>
  <input type=password name ='password' id='password'><br><br>
  <input type="submit" value='Signup'>
</form>