
<form action="/users" method="post">
  <input type="email" name="email" value="email"/>
  <input type="password" name="password" value="password"/>
  <input type="text" name="name" value="name"/>
  <input type="text" name="username" value="username"/>
  <input type="submit" value="Sign up" />
</form>