<center>
  <form action="/users" method="post">
    <table>
    <tr><td><label for='name'> Name: </label>
        <td><input type="text" name="name" value="<%= @user.name %>"><br>
    <tr><td><label for='user_name'>User name:</label>
        <td><input type="text" name="user_name" value="<%= @user.user_name %>"><br>
    <tr><td><label for='email'>Email:</label>
        <td><input type="email" name="email" minlength="3" value="<%= @user.email %>"><br>
    <tr><td><label for='password'>Password:</label>
        <td><input type="password" name="password"><br>
    <tr><td><label for='password_confirmation'>Confirm Password:</label>
        <td><input type="password" name="password_confirmation"><br>
    </table>
    <input type="submit" value="Sign up">
  </form>
</center>
