<section class="input-group mb-3">
  <textarea class="form-control form-control-lg border-dark rounded-0 text-dark bg-transparent" type="text" name="body" maxlength="240" placeholder="What's up?" aria-describedby="button-addon" required><%= body %></textarea>
  <div class="input-group-append">
    <input class="btn btn-lg btn-outline-dark" type="submit" id="button-addon" value="Post">
  </div>
</section>