<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.text%>
      <%= peep.time%>
      Peeped by:
      <%= User.find(id: peep.user_id).username%>
    </li>
  <% end %>
</ul>
<br><br>
<form action="/peeps/new" method="get">
  <input type="submit" name="Create Peep" value="Create Peep">
</form>
<form action="/user/new" method="get">
  <input type="submit" name="Register" value="Register">
</form>
