<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.text%>
      <%= peep.time%>
    </li>
  <% end %>
</ul>
<br><br>
<form class="peep" action="/peeps/new" method="get">
  <input type="submit" name="Create Peep" value="Create Peep">
</form>
