<h1>Chitter Timeline</h1>
<h1>Peeps</h1>

  <ul>
    <% @peeps.reverse.each do |peep| %>
      <li>
        <p> <%= peep.message %> </p>
        <p> <%= User.get(peep.user_id).username %> </p>
        <p> <%= User.get(peep.user_id).name %> </p>
        <p> <%= peep.time.strftime("%c") %> </p>
      </li>
    <% end %>
  </ul>