<div id='peeps-container'>
  <ul id="peeps">
    <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.content %>
      <% peep.users.each do |user| %>
        <%= user.username %>
        <%= user.name %>
      <% end %>
    </li>
    <% end %>
   </ul>
</div>
