<div style='width: 100%; text-align:center; margin:0 auto; '>
  <div><img src="http://2.bp.blogspot.com/-2iQ_E_vuDDw/Vc-dFquq2mI/AAAAAAAARFw/xRtwERRTU1I/s1600/chitter.png"></div>
  <div style="font-family: Arial Black; font-size: 22px; color: black; ">Let the peeps know what you're up to with a Peep!</div>
  <form action='/peeps' method='POST'>
    <div style='width: 400px; height: 60; border: 3px solid #28aae1; padding: 20px; background:#DEDEDE; text-align:left; margin:0 auto; '>
    <div style="font-size: 20px; ">Enter peep: <input type='text' name='text' style="width: 300px;"></div>
    <div>&nbsp;</div>  
    <div style="float: right"><input type='submit' value='Submit peep'></div>
    </div>
  </form>
</div> 