<head>
  <title>Edit Peep</title>
</head>
<body>
  <form action="/peeps" method="post">
    <label for="body">Edit your Peep:</label>
      <textarea id="body" name="body" rows="3" cols="35" maxlength="140" required><%= @peep.body %></textarea>
    <input type="hidden" name="peep_id" value="<%= @peep.id %>">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Submit Changes">
  </form>
</body>
