<form action="/peeps" method="post">
  <p>
    Enter Name: <br>
    <input type="text" name="name" >
  </p>
  <p>
    Enter Message:<br>
    <input type="text" name="message" >
  </p>
    <input type="submit" value="Create peep">
</form>
