<body>
<h1> 
  Welcome, <%= @user %> 
</h1>
  <p>
    <a href='/home/new'>Post a peep</a>
  </p>
  <ul>
    <% @peeps.each do |peep| %>
      <div style="width: 20%; float:left">
        <%= peep.timestamp %>
      </div>

      <div style="width: 80%; float:right">
        <%= peep.body %>
      </div>
    <% end %>
  </ul>
</body>