<h1> Peeps </h1>

<ol reversed id='peeps'>
  <% @peeps.each do |peep| %>
    <%= peep.message %>
    <br></br>
    <%= (Time.parse + 1.0 / 24).strftime("%H:%M") %>
    <br></br>
    <br></br>
  <% end %>
</ol>
