<h1> Chitter </h1>

<body>
  <ol reversed id='peeps'>
    <% @peeps.reverse.each do |peep| %>
      <%= peep.message %>
      <br></br>
      <%= peep.created_at %>
      <br></br>
      <br></br>
    <% end %>
  </ol>
</body>
