<h1>Chitter</h1>
<% if current_user %>
     Welcome, <%= current_user.nickname %>
   <% end %>
<h2> Here are all of the peeps </h2>
<ul id='peeps'>
  <% @peeps.each do |peep| %>
  <li>
    Peep: <%= peep.message %> on <%= peep.time %>
  </li>
  <% end %>
</ul>
