<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheet.css"  type="text/css" />
</head>
<body>

  <h1> Peeps </h1>

  <form action="peeps/new">
    <input class = 'button' type='submit' value='New Peep'>
  </form>
  <form action="sessions/new" >
    <input class = 'button' type='submit' value='Sign in'>
  </form>
  </body>
  </html>

  <ul>
    <% @peeps.reverse.each do |peep| %>
      <li id = "peeps">
        Peep: <%= peep.body %>
        <br>
        <br>
        Name: <%= peep.name %>
        Username: <%= peep.username %>
        Time: <%= peep.time %>
      </li>
      <br>
  <% end %>
</ul>
