

<h1>Welcome to Chitter!!</h1>
<br/><br/>

<form action='/users/new'>
 <input type='submit' value='Register'>
</form>

<br/><br/><br/><br/>
<form action='/peeps' method='post'>
  <h5>What is going around?</h5>
  <textarea name="message" placeholder="Type herein your peep message"></textarea>
  <br/><br/>
  <input type='submit' value='Add peep'>
</form>

<br/>
<h2>     Latest Peeps </h2>
<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
  <div>
  <li>
    <strong>Peep_ID: <%= peep.id %>
    on <%= peep.time.strftime(TIME_FORMAT) %></strong>
    <br/>
    <%= peep.message %>
    <br/>
  </li>
</div><br/>
  <% end %>
</ul>
