<h1>Peeps</h1>
<ul id='messages'>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.time_created.strftime("%e %b %k:%M") %>  <%= peep.user.username %>  : "<%= peep.message  %>"
    </li>
  <% end %>
</ul>
