<form action="/peeps" method="post">
  <label for="create peep">
    <input type="text" id="peep" name="peep" placeholder="What's happening?" />
    <input type="submit" value="Peep" />
  </label>
</form>

<label for="display all peeps">
  <% @peeps.each do |peep| %>
  <p>
    <span class="author"><%="#{peep.user.name} "%></span>
    <span class="username"><%= peep.user.username %></span>
    <br>
    <%= peep.message %>
  </p>
  <% end %>
</label>
