<h1>
  Chitter
</h1>

<ul id='peeps' >
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.username %>
      <br>
      <%= peep.name %>
      <br>
      <%= peep.content %>
      <br>
      <%= peep.time.strftime('%H:%M %d/%m/%Y') %>
    </li>
  <% end %>
</ul>
