<h1 style="font-family: 'Futura'; color:#d4e788; font-size: 60px;">knitter</h1>
<h1 style="font-family: 'New Caledonia'; color:#60f0ff; font-size: 22px;">twitter for knitters</h1>

<h1>Tips</h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.text %>
    </li>
  <% end %>
</ul>

<form action='/peeps/new' method='get'>
  <button type='submit'>
    Write new tip
  </button>
</form>
