<h1>Peeps</h1>


<% @peeps.each do |peep| %>
  <p><%=peep.user.name%>(@<%=peep.user.username%>)</p>
  <br>
  <p>"<%=peep.message%>"</p>
  <br>
  <p>at <%=peep.created_at.strftime("%Y-%m-%d %H:%M")%></p>
  <br>
<%end%>
