<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
  <li>
  By: <%= peep.author %>:  Peep: <%= peep.comment %>  Created: <%= peep.created.strftime("%d-%m-%y %H:%M") %>
  </li>
  <% end %>
</ul>
