<h1>Recent Peeps</h1>
<table>
  <tr>
    <th>Peep</th>
    <th>User</th>
    <th>Sent at</th>
  </tr>
<% @peeps.each do |peep| %>
<tr>
  <td><%= peep.content %></td>
  <td><%= User.get(peep.user_id).username %></td>
  <td><%= peep.created_at.strftime('%l:%M%P ') %> on <%= peep.created_at.strftime('%e %b %Y') %></td>
</tr>
<% end %>
</table>
