<div class='new_peep'>
  <form action='/peeps/new' method='get'>
    <div><input id='peep_button' type='submit' value='new peep'></div>
  </form>
</div>

<ul style='list-style-type: none' id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.content %>
      <br>
      <%= peep.user.username %>
      <br>
      <%= peep.time.strftime("peeped on %e %h %Y at %H:%M") %>
    </li>
  <% end %>
</ul>
