<h3> Welcome to Chitter, <%= @name %>!</h3>

<div>
  <form action='/peeps/new' method='post'>
    What's on your mind?</br>
    <input type='text' name='peep body'>
    </input>
    <input type='submit' value='Post Peep'></input>
  </form>
</div>

<div id='peep_history'>
  <ul>
  <% @peeps.reverse_each do |peep| %>
  <li>
    <%= PeepPresenter.run(peep) %>
  </li>
  <% end %>
  </ul>
</div>