<h1>Peeps</h1>
<ul id="peeps">
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.content %>
      <%= peep.created_at %>
      <!-- <%= current_user.name if current_user%>
      <%= current_user.nickname if current_user%> -->
    </li>
  <% end %>
</ul>
<a href="/peeps/new">Create new peep</a>
