<style>
  h1 {
    text-align:center;
    margin:30px auto 0 auto;
    font-size: 40px;
    font-weight:bold;
  }

  .box {
    width:600px;
    border-radius:5px;
    padding: 10px;
    box-shadow: -5px 5px 5px rgba(8,116,171,0.7);
    margin:20px auto auto auto;
    display:block;
    background-color:LightGray;
  }
</style>

<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <div class="box">
      <b><%= peep.user.name %></b>&nbsp;@<%= peep.user.user_name %>&nbsp;&nbsp;
      (<%= peep.format_time %>)
      <br>
      <%= peep.peep_text %>
    </div>
  <% end %>
</ul>
