<html>

  <body>

    <div class="logo">

    </div>


    <% if !current_user %>
    <h1>Please sign in </h1>


      <form action='/sessions' method='post'>

        Username: <input type='text' name='username'>
        Password: <input type='password' name='password'>
        <input type='submit' value="Sign in">

      </form>
    <% end %>

    <% if current_user %>
    <form action='/peeps' method='post'>
      <input type='text' name='peep'>
      <input type='submit' value='Submit message'>
    </form>
    <% end %>

    <h1> Messages: </h1>

    <% @peeps.reverse.each do |peep| %>

    <li>
      <%= peep.user %>: <%= peep.peep %>
      <% end %>
    </li>

  </body>

</html>
