<h1>peeps</h1>
<ul id='peeps'>
  <% @peeps.sort_by {|peep| peep.time}.reverse.each do |peep| %>
    <li>
      <%= peep.user.username %>
      Peeped: <%= peep.message %>
      At: <%= peep.time %>
    </li>
    </div>
  <% end %>
</ul>
