<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1> Peeps </h1>

    <form action="peeps/new">
      <input type="submit" value="Create new peep">
    </form>

    <ul id='peeps'>
      <% @peeps.each do |peep| %>
      <li>
        Message: <%= peep.message %>
      </li>
      <li>
        Posted on <%= peep.timestamp.strftime("%d/%m/%y at %I:%M%p") %>
      </li></br>
      <% end %>
    </ul>
  </body>
</html>
