<h1>Peeps</h1>

<ul id='peeps'>

  <% @peeps.reverse.each do |peep| %>
    <li>
      Peeper: <%= User.get(peep.user_id).name %>
              <%= User.get(peep.user_id).username %>
              <%= peep.time.strftime("%R") %>
      Peep: <%= peep.peep %>
    </li>
  <% end %>

</ul>

<form action="/peeps/new">
  <button>Peep</button>
</form>
