<div id='peepscontent'>

<div id='newpeep'>
  <% if current_user %>
    New peep:<br>
    <form action='/postpeep' method='post'>
      <input type='text' name='new_peep'><br>
      <input type='submit' value='Submit'>
    </form>
  <% end %>
</div>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <article id='peep'>
        <article id='peepheader'>
          <strong id='peeptitle'><%= peep.user.name %> (<%= peep.user.username %>)
          </strong>
          <span id='time'>@ <%= peep.time_string %></span>
        </article>
        <div id='peepbody'>
          <%= peep.text %>
        </div>


      </article>
    </li>
  <% end %>
</ul>



</div>
