<center>
<div id='peeps'>
  <% @peeps.each do |peep| %>
    <p><h3><%= peep.content %></h3></p>
    <p><h6><%= User.get(peep.user_id).username %> peeped @
      <%= peep.time.strftime('%b %e, %l:%M %p') %></h6></p>
  <% end %>
</div>

<% if current_user %>
  <form action='/peeps' method='post'>
    <textarea id='peep' rows="4" cols="50" name='content' required maxlength="140">
    </textarea>
    <div style="vertical-align: middle">
      <button>Peep!</button>
    </div>
  </form>
<% end %>
</center>
