<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.name %>
      <%= peep.user_name %>
      <%= peep.peep   %>
      <%= peep.time %>
    </li>
  <% end %>
</ul>
