
<body>
<% if !current_user %>
  It looks like you're not logged in. To post a peep, please <a href='/sessions/new'>log in</a> or <a href='/users/new'> sign up </a>.
<% end %>

<h1> Peeps </h1>

<% if current_user %>
  <a href='/peeps/new'> Post a peep </a>
<% end %>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      Peep: <%= peep.message %>
      <br>
      Posted by: <%= User.get(peep.user_id).username %> at <%= peep.created_at.strftime('%H:%M')%>,<%= peep.created_at.strftime('%e %B %Y')%>
    </li>
  <% end %>
</ul>
</body>
