<h4>Peeps</h4>

<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      <%= "#{peep.user.name} (#{peep.user.username})" %> <br>
      <%= "#{peep.message}" %>
      <h5>Inside peeps</h5>
    </li>
  <% end %>
</ul>
