<h1> Welcome, Whats on your mind? </h1>

<form action='/peeps' method='POST'>
  <!-- <label for='username'>
    Username:
    <input type='text' name='username' />
  </label> -->
  <label for='content'>
    Content:
    <input type='text' name='content' />
  </label>
  <input type='submit' value='Send Peep' />
</form>


<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      Username: <%= "#{@current_user}" %>
      Content: <%= peep.content   %>
    </li>
  <% end %>
</ul>
