<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      Content: <%= peep.content %>
      Written on: <%= "#{peep.time_created}"%>
    </li>
  <% end %>
</ul>

<form action="/peeps/new">
  <input type="submit" value="New Peep">
</form>
