<h1>Peeps</h1>
<form action='/peeps/new'>
  <input type='submit' value='Peep!'>
</form>

<div id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <div class='peep'>
      <%= peep.content %>
      <ul class='peep_info'>
        <li>Created by: <%= peep.user.name %></li>
        <li>Logged in as: <%= peep.user.username %></li>
        <li>Written on: <%= "#{peep.time_created.day}-#{peep.time_created.month}-#{peep.time_created.year} at #{peep.time_created.hour}:#{peep.time_created.min}" %></li>
      </ul>
    </div>
  <% end %>
</div>