<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class='peeps'>
  <p>Peeps</p>
  <ul id='peeps'>
    <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %>
      <br>
      <%= User.get(peep.user_id).username %>
      <%= peep.time %>
      <br>
    </li>
    <% end %>
  </ul>
</div>
</body>
