<h1>Peep Feed</h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      Peep: <%= peep.text %>
      Posted on:   <%= peep.time.strftime('%m/%d/%y at %I:%M%p')%>
    </li>
  <% end %>
</ul>
