<form action="/peeps/new" method="post">
  <input type="text" name="content" placeholder="Enter your peep here">
  <input type="submit" value="Peep">
</form>



<ul>
  <% @peeps.each do |peep| %>
  <li> <%= peep.content %> <%= peep.created_at.strftime("%H:%M %a %d %b %y") %> </li>
  <% end %>
</ul>
