<h1> Peeps </h1>

<ul id='peeps'>
  <% @peep.each do |peep| %>
    <li>
      Name: <%= peep.user.name %>
      Username: <%= peep.user.username %>
      Content: <%= peep.content %>
    </li>
  <% end %>
</ul>
