<div class="row">
  <div class="message-wrap col-lg-12" id="new_peep">
    <h3>Peep</h3>
    <div class="new_peep">
      <form action="/peeps" method="post">
        <div class="send=wrap">
          <textarea name="peepbox" class="form-control send-message" rows="3" placeholder="Peep here..." maxlength="140"></textarea>
        </div>
        <div class="btn-panel">
          <button type="submit" style="color:blue; text-align:center" role="button"><i class="fa fa-plus"></i>Peep</button>
        </div>
      </form>
    </div>
  </div>
  <div class="message-wrap col-lg-12" id="peeps">
    <div class="msg-wrap">
      <% if @peeps != nil %>
        <% @peeps.each do |peep| %>
          <div class="media msg ">
            <div class="media-body">
              <small class="pull-right time"><i class="fa fa-clock-o"></i>
                <%= format_date_time(peep.created_at) %>
              </small>
              <h5 class="media-heading"><%= peep.user.username %></h5>
              <small class="col-lg-10"><%= peep.peeptext %>
              </small>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
