<html>

  <body>

    <div class="logo">

    </div>

    <!-- <% if !current_user %>
    <form action='/user/new' method='get'>
      <button type='submit' class='btn btn-default'>Sign up</button>
    </form>
    <% end %> -->

    <% if current_user %>
    <form action='/peeps' method='post'>
      <input type='text' name='peep'>
      <input type='submit' value='Submit message'>
    </form>
    <% end %>

    <h1> Peeps: </h1>

    <% @peeps.reverse.each do |peep| %>

    <li>
      <%= peep.user %>: <%= peep.peep %>
      <% end %>
    </li>

  </body>

</html>
