<h2>All Peeps</h2>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      Message: <%= peep.message %>
      Handle: <%= peep.user.user_name %>
      Name:   <%= peep.user.name %>
    </li>
  <% end %>
</ul>

<% if current_user %>
<div>
  <form action='/peeps/new' method="get">
    <button type='submit' class="btn">
      Create Peep!
    </button>
  </form>
</div>
<% end %>
