<% if !current_user %>
  <form action='/user/new' method='get'>
    <input type="submit" value="Sign up">
  </form>
<% end %>

<form action='/peeps' method='post'>
  <input type='text' name='peep'>
  <input type='submit' value='Submit message'>
</form>

<h1> Messages: </h1>

  <% @peeps.each do |peep| %>

  <li>
    <%= peep.user %>: <%= peep.peep %>
    <% end %>
  </li>
