<html>
  <ul id="peeps">
    <% @peeps.reverse.each do |peep| %>
      <li> <%= peep.message %><br/>
           <%= peep.user.name %> | @<%= peep.user.username %><br/>
           <%= peep.time.strftime("%d/%m/%y at %H:%M") %>
      </li>
    <% end %>
  </ul>
</html>
