<div class="container peep-list">

<h1> Peeps </h1>

<ul id='Peeps'>
  <% Peep.all_in_chronological_order.each do |peep| %>
  <li>
    <div class="well peep">
    <p>Posted by <%= User.get(peep.user_id) %></p>
    <div class="well peep-content"><p><%= peep.content %></p></div>
    <p>Created at: <%= peep.created_at %><p>
    <p>Tags: <%= peep.tags.map(&:name).join(", ") %></p>
    </div>
  </li>
  <% end %>
</ul>

<a href="peeps/new">New Peep</a>

</div>
