<h1>Chitter</h1>

<form method="GET" action-"/users/new">
	<input type="submit" value="Sign up">
</form>
<br>

<a href="/users/new">Sign up</a>

<form method='GET' action='/peeps/new'>
	<input type="submit" value="Add Peep">
</form>



<form method='GET' action='/sessions/new'>
	<input type="submit" value="Existing User? Sign in">
</form>

<ul id="peeps">
	<% @peeps.each do |peep| %>
	<li>
		Title: <%= peep.title   %>
		Peep:  <%= peep.message %>
	</li>
<% end %>
</ul>