<h1> Peeps </h1>
<body>
  <form method='get' action='/peeps/new'>
    Post a peep:
    <input type='submit' value='here'>
  </form>

  <ul id='peeps'>
    <% @peeps.reverse_each do |peep| %>
    <li>
      <p>
        <%= peep.message %>
      </p>
      <p>
        Opinion brought to you by: <%= User.get(peep.user_id).name %> (<%= User.get(peep.user_id).username %>)
      </p>
      <p>
        <%= peep.created_at.to_time %>
      </p>
    </li>
    <% end %>
  </ul>
</body>
