
<h1>
  Here are all the peeps. What do you want to peep about today?
</h1>


  <form action="/peep/new" method="post" >

    <h2>Tell me everything. Now, pigdog!</h2>
      <input type="text" name="peep_body" placeholder = "Today I ate a breakfast and did a toilet" style="width:225px">

    <input type="submit" value="Peep">

  </form>


  <ol id='peeps_list'>
    <% @peeps.each do |peep| %>
      <li>
        Peep: <%= peep.body %> <%= peep.time_stamp %>
      </li>
    <% end %>
  </ol>
