<% if current_user %>
<form action='/peeps' method='post'>
  <label for='experience'>Travel experience
    <input type='text' name='experience' id='experience'/>
  </label>
    <input type='submit' value='Share'  />
</form>
<% end %>

<% @peeps.each do |peep| %>
  <div class='peep'>
    <%= peep.experience %>
    <%= peep.created_at.strftime("Posted on %d %B %Y") %>
    <%= peep.created_at.strftime("%l:%M %p") %>
  </div>
<% end %>
