<h1> Peeps </h1>
<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.user.username %>
      <br>
      Peep:<%= peep.comment %>
      <br>
      Time:<%= peep.created_at %>
      <br>
    </li>
  <% end %>
</ul>
