<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.name %><br>
      <%= peep.username %><br>
      <%= peep.peep %><br>
      <br>
    </li>
  <% end %>
</ul>
