<h3> Peeps </h3>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
  <li>
    <blockquote>
      <p>Message: <%= peep.message %></p>
      <small>
        Author: <%= peep.user.username %>
        Time: <%= peep.time.strftime "%H:%M %d-%m-%Y" %>
      </small>
    </blockquote>
  </li>
  <% end %>
</ul>
