<h4>Peeps</h4>

<ul id="peeps">
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= "#{peep.user.name} (#{peep.user.username})" %> <br>
      <%= "#{peep.message}" %> <br>
      <%= "#{peep.created_at.strftime("%d%m%Y at %H:%M")}" %>
    </li>
  <% end %>
</ul>
