<head>
  <title>Chitter. It's what's happening</title>
  <style>
    .button {
      width: 100px;
    }
  </style>
</head>

<% if current_user %>
  <form action='/peeps' method='post'>
    <input type='text' name='peep_text' placeholder="What's happening?" width='350' height='100'>
    <input class='button' type='submit' value='Peep' />
  </form>
<% else %>
  <form action='/users/new' method='get'>
    <input class='top_right_buttons' type='submit' value='Sign Up' />
  </form>
  <br><br>
  <form action='/sessions/new' method='get'>
    <input class='top_right_buttons' type='submit' value='Sign In' />
  </form>
<% end %>

<div class='outer_container'>
  <div class='middle_container'>
    <div class='content'>
      <h1>What's happening?</h1>
      <% @peeps.each  do |peep| %>
        <p><%= peep.user.name%> <%= peep.user.username%>: <%= peep.text%></p>
      <% end %>
    </div>
  </div>
</div>
