
<% @peeps.each do |peep| %>
<div class = "peep" style = "margin-bottom: 2em">
  <div>
    <%= link_to peep.title, peep %>
  </div>
  <div>
    Created <%= peep.created_at.strftime("at %I:%M%p on %d/%m/%Y") %>
  </div>
</div>
<% end %>
