<html>
  <body>
      <% unless current_user %>
      <header align = "right">
      <form action='/users/sign_up'>
        <input type='submit' value='Sign up' style="font-family:'Amatic SC'; font-size: 25px; height: 60; width: 150px; background-color: #b3ffe2">
      </form>
      <form action='/users/sign_in'>
        <input type='submit' value='Sign in' style="font-family:'Amatic SC'; font-size: 25px; height: 60; width: 150px; background-color: #b3ffe2">
      </form>
    </header>
      <% end %>

  <h1><big>Peeps</big></h1>
  <% unless @peeps.empty? %>
      <% @peeps.reverse.each do |peep| %>
        <p><li class='peep'>
          <%= User.first(id: peep.user_id).username %> peeped<big><b>"<%= peep.body %>"</big></b>on <%= peep.time_posted.strftime('%c') %> </span>
        </li></p>
        <% end %>
    <% else %>
      No peeps here!
    <% end%>

  <% if current_user %>
    <form action='/peeps/post'>
      <input type='submit' value='fancy a peep?' style="font-family:'Amatic SC'; font-size: 25px; height: 75; width: 330px; background-color: #b3ffe2">
    </form>
  <% end %>

  </body>
</html>
