<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
  <li>
    Peep: <%= peep.peep_text %>
    Time: <%= peep.time %>
    user: <%= peep.user.email %>
  </li>
  <% end %>
</ul>
<form action='/peeps' method='POST'>

  <label for='peep_text'>
    Peep:
    <input type='text' name='peep_text'>
  </label>

  <input type='submit' value='peep'>
</form>
