<h1> Chitter </h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
    <h3><%= peep.user.name  %> @ <%= peep.user.username %>: <%= peep.peep   %></h3>
      <h4><%= peep.created_at.strftime("%H:%M %d/%m/%Y" )%></h4>


    </li>
  <% end %>
</ul>
