

<h1>The posting board</h1>

<ul id='peeps' class='feed'>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.author %> says: <%= peep.comment %>
      <div class="comment_stamp">
        Posted at <%= peep.created_at %>
      </div>
    <% end %>
</ul>
