<!-- in views/peeps/index.erb -->
<h1>Chitter Peeps </h1>

<ul id='peeps'>
  <% @peeps.sort.reverse.each do |peep| %>
    <li>
      Title: <%= peep.title %> |
      Message:   <%= peep.message   %> |
      Peep_created_at:   <%= peep.created_at   %> |
    </li>
  <% end %>
</ul>
