<h1>Welcome to Chitter!</h1>
<br>
<form action="/peeps" method="post">
  <label for="peep">Please enter new peep</label>
  <input type="text" value="New Peep" name="peep">
  <input type="submit" value="Submit">
</form>
<br>
<%= @new_peep %>