<h1> Homepage </h1> <br>

<h2> Peeps </h2>

<ul id='peeps'>
     <% @peeps.each do |peep| %>
     <li>
      msg: <%= peep.msg %>
      time: <%=peep.time_stamp.strftime("%A, %d %b %Y %l:%M %p")%>
    </li>
    <%end%>
</ul>
