<h1> Your peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
  <li>
    Peep: <%= peep.message %>
    <br>
    Peeped at: <%= peep.created_at.strftime("%R") %> on <%= peep.created_at.strftime("%D") %>
  </li>
  <br></br>
  <% end %>
</ul>

<!-- <a href="/users/new">Sign up</a> <a href="/sessions/new">Log in</a> -->
<br></br>
<form action="/peeps/new" method="get">
  <input type="submit" value="Write a Peep">
</form>
