<h1> Press peep to get peeping! </h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <table width=100% border=1>
        <tr>
          <th>

      <%= peep.user.username %>'s Message: <%= peep.message %>
      at <%= peep.time %>
    </th>
  </tr>
    </table>
  <% end %>

  <% if current_user %>
  <form action='/peeps/new' method='get'>
  <button class="buttons">Peep!</button>
  </form>
 <% end %>


</ul>
