<main id='peeps'>
  <% @peeps.reverse_each do |peep| %>
    <article>
      <%= peep.message %>
      Peeped By: <%= peep.user.name %> @<%= peep.user.username %>
      on <%= peep.time.strftime("%a at %H:%M") %>
    </article>
  <% end %>
</main>
