<%= flash[:sign_out] %>

<h3>Latest peeps</h3>

<% @peeps.each do |peep| %>
  <article class="peep">
    <div class="message">
      <%= peep.message %>
    </div>
    <div class="peeptime">
      <%= peep.datetime.strftime("%a %b %e %Y %r") %>
    </div>
  </article>
<% end %>
