<h1> Latest peeps... </h1>

  <ol reversed id='peeps'>
    <% @peeps.reverse.each do |peep| %>
      <%= peep.message %>
      <br></br>
      <%= peep.time_stamp %>
      <br></br>
      <br></br>
    <% end %>
  </ol>
