<form action='/peeps/new' method='get'>
  <div>
    <input type='submit' value='New peep'>
  </div>
</form>

<ul style='list-style-type: none' id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li> <%= peep.content %> <%= peep.time.strftime("peeped on %m/%d/%Y, at %I:%M%p") %></li>
  <% end %>
</ul>

<% if current_user %>
  <div class='buttons'>
    <form action='/sessions' method='post'>
        <input type='submit' value='Log out'>
        <input type='hidden' name='_method' value='delete'>
    </form>
  </div>
<% end %>
