<div class="container peep-list">

<div align="center">
<h1> Peeps </h1>
<form action='/peeps/new' method="get">
  <input type='submit' value='New peep' class="btn-primary">
</form>
<br>
</div>

<ul id='Peeps' style="list-style: none;">
  <% Peep.all_in_chronological_order.each do |peep| %>
  <li>
    <div class="well peep">
    <p>@<%= User.get(peep.user_id).username %> - <%= peep.created_at.strftime("%c") %></p>
    <div class="well peep-content"><p><%= peep.content %></div>
    Tags: <%= peep.tags.map(&:name).join(", ") %>
    </div>
  </li>
  <% end %>
</ul>

</div>
