<header>
  <% if current_user %>
    <form action="/peeps/new">
      <button type="submit">Post a new peep</button>
    </form>
  <% else %>
    <form action="/sessions/new">
      <button type="submit">Log in</button>
    </form>
    <form action="/users/new">
      <button type="submit">Sign up</button>
    </form>
  <% end %>
</header>

<article id="peeps">
  <h1>Chitter</h1>
  <h1>Current Peeps</h1>
    <% @peeps.each do |peep| %>
      <li>
        <div class="user" id="name">
          <%= peep.user.name %>
        </div>
        <div class="user" id="username_time">
          @<%= peep.user.username %> <%= peep.time %>
        </div>
        <p id="content">"<%= peep.content %>"</p>
      </li>
    <% end %>
</article>
