<!-- PEEPS/INDEX -->

<h1> Peeps! </h1>

<% if current_user %>
<div>
  <form action='/peeps' method='post'>
    <p>Enter Peep</p>
    <input type="text" name="text">
    <input type="submit" value="Create peep">
  </form>
</div>
<%end%>

<ol id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      <p>Peep by <%= peep.user_name %>, or better known as <%= peep.user_username %> (<%= peep.timestamp %>)</p>
      <p></p>
      <h1><%= peep.text %></h1>
    </li>
  <% end %>
</ol>