<h2> peeps </h2>

<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.username %>&nbsp;&nbsp;
      <%= peep.name%>&nbsp;&nbsp;
      <%= peep.message %>&nbsp;&nbsp;
      <%= peep.time_date %>&nbsp;&nbsp;
    </li>
  <% end %>
</ul>
