<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep %>
        <%= peep.timestamp[11..15] %>
    </li>
  <% end %>
</ul>
<br><br>
<form action='/peeps/new' method='get'>
  <input type="submit" value="New Peep"/>
</form>
