<h1> Peeps </h1>

<% if current_user %>
  <p>Welcome <%= current_user.full_name %></p>
<% end %>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
    Peep:  <%= peep.message %>
    </li>
  <% end %>
</ul>
