<ul>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <div class="message">
        <%= peep.message %>
      </div>
      <div class="time_posted">

        <%= peep.time_posted.strftime("%Y-%m-%d %R") %>
      </div>
    </li>
  <% end %>
</ul>
