<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      Peep: <%= peep.message %>
      <br>
      Posted by: <%= User.get(peep.user_id).username %> at <%= peep.created_at.strftime('%H:%M')%>,<%= peep.created_at.strftime('%e %B %Y')%>
    </li>
  <% end %>
</ul>
