<h1>Peeps</h1>
<ul id="peeps">
  <%@peeps.reverse.each do |peep| %>
  <li>
  <span style="font-size:0.8em"><%= (peep.time).strftime("%b %e, %l:%M %p")%></span>
  <p><%= peep.message %></p>
  </li>
  <% end %>
</ul>
