<h2> Peeps </h2>

<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      Username:   <%= peep.username %>
      Name:       <%= peep.name%>
      Message:    <%= peep.message %>
      Date/time:  <%= peep.time_date %>
    </li>
  <% end %>
</ul>
