<div class='peeps-container'>
  <ul>
    <% @peeps.each do |peep| %>
      <li class='message'>
        <div class='peep'><%= peep.user.username %>  : <%= peep.message  %></div>
        <div class='peep-time'>Posted at <%= peep.time_created.strftime("%k:%M %e %b") %></div>
      </li>
    <% end %>
  </ul>
</div>
