<center>
<div id='peeps'>
  <% @peeps.each do |peep| %>
    <p><h3><%= peep.content %></h3></p>
    <p><h6><%= User.get(peep.user_id).username %> peeped @
      <%= peep.time.strftime('%b %e, %l:%M %p') %></h6></p>
  <% end %>
</div>

<% if current_user %>
  <form action='/peeps' method='post'>
    <textarea name='content' required maxlength="140">
    </textarea>
    <button>Peep!</button>
  </form>
  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <button>Sign out<button>
  </form>
<% end %>
</center>
