<div class='new_peep'>
  <form action='/peeps/new' method='get'>
    <div><input id='new_peep' type='submit' value='new peep'></div>
  </form>
</div>

<div id='peeps'>
  <ul>
    <% @peeps.reverse.each do |peep| %>
      <li>
        <div id='peep_content'><%= peep.content %></div>
        <br>
        <div id='peep_user'>@<%= peep.user.username %></div>
        <br>
        <div id='peep_time'><%= peep.time.strftime("peeped on %e %h %Y at %H:%M") %><div>
      </li>
    <% end %>
  </ul>
</div>
