<div>
	<center>
		<img height="500 px" src='http://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png/revision/latest?cb=20100722020455'>
		<h1> Peeps </h1>

		<ul id='peeps'>
			<% @peeps.each do |peep| %>
			<li>
				User: <%= peep.user.username %>
				Name:   <%= peep.user.name  %>
				Peep:   <%= peep.peep   %>
			</li>
			<% end %>
		</ul>
	</center>
</div>
