<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="style.css">
</head>
<div class='container'>
  <p>Peeps</p>
  <ul id='peeps'>
    <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %>
      <br>
      <%= User.get(peep.user_id).username %>
      <%= peep.time %>
    </li>
    <% end %>
  </ul>

</div>
