<% if current_user %>
<h3>Compose peep<h3>
  <div id="new-peep">
    <form method='POST' action='/peeps' >
      <input type='text' name='message'> <br>
      <input type='submit' value='Peep'>
    </form>
  </div>
  <br>
<%end%>

<div class='container'>
  <div id="new-peep">
    <h3>Peeps<h3><br>
    <% Peep.all(order: [:time.desc]).each do |peep| %>
      <ul id='peep'>
      <li>
        <%= peep.handle %>
        Time:      <%= peep.time %><br>
        Content:   <%= peep.message %>
      </li>
      </ul>
      <br>
    <% end %>
  </div>
</div>
