<div id="peep_post">
    <%if !!@user %>
    <h1>Post your peep</h1>
      <form method="post" action="/peeps">
        <textarea rows="4" cols="50" id="new_peep" class="text_area" name="new_peep" required> </textarea>
        <br><input type="submit" class="pbtn" value="Peep!">
      </form>
    <% end %>
</div>
<h1>Latest Peeps</h1>
<div id="peep_display_wrapper">
  <% @peeps.each do |peep| %>
  <a href="<%="/peeps/reply:#{peep.id}"%>">
    <div class="peep">
   
      <div class="peep_text">
        <%= peep.peep_text %>
      </div>
      <div class="peep_user">
        <%= User.get(peep.user_id).username %>
      </div>
      <div class="peep_time">
        <%= peep.date_time.strftime("%d/%m/%Y at %H:%M") %>
      </div>
       <div class="click_to_reply">reply</div>
    </div>
    </a>
  <% end %>
</div>
