<header> Chitter :) </header>

<ul id='peeps'>
  <% @peeps.each do |elem| %>
    <li>
      <%= elem.mess %>   peeped at <%=elem.created_at %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <form action='/peeps/new' method='get'>
  <button type="submit"> Peep now! </button>
  </form>
<% end %>
