<ul id='peeps'>
  <% @peeps.reverse.each do |peep|  %>
  <% @user = User.first(id: peep.user_id) %>
    <br>  Content: <%= peep.content %><br>
    <br>  Time: <%= peep.created_at.strftime("%H:%M %d %B %Y") %><br>
    <br> User: <%= @user.username %><br>
      </li>
  <% end %>
</ul>
