<h2>Newsfeed</h2>

<ul id="peeps">
  <% peeps.each do |peep| %>
    <li>
      <div>
        <p><%= peep.content %></p>
        <p>posted by <%= "#{peep.user.name}, @#{peep.user.username}"%></p> 
        <p class="timestamp"><%= peep.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
      </div>
    </li>
  <% end %>
</ul>
