<% if current_maker %>
hi <%=current_maker.username%>

<form action='/sign_out' method='post'>
  <input type='submit' value='sign out'>
</form>

<form action='/peeps/new_peep' method='post'>
  <input type='text' name='peep'>
  <input type='submit' value='peep!'>
</form>

<% end %>

<% @peeps.each do |peep| %>
<div>
<%=peep.maker.username%>
</div>
peeped:
<div>
<div>
<%=peep.text%>
</div>
<div>
on:
<%=peep.time%>
</div>
<% end %>
