
<h1> Peeps </h1>


<ul id='peeps'>

  <% @peeps.reverse.each do |peep| %>
    <li>
      Peep: <%= peep.peep %>
    </li>
  <% end %>
</ul>
<br>
<br>
<form action='/peeps/new'>
<input type="submit" value="Write Peep" class="button">
</form>
