<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      Peep: <%= peep.message %> written by <%= peep.user.username %>
    </li>
  <% end %>
</ul>

<form action="/peeps/new">
  <button>Send a new Peep</button>
</form>
