<h1> Welcome to Chitter </h1>

<form action = '/tags' method = 'GET'>

  <label for="name"> Search for a peep by tag: </label>
  <input type = "text" name = "name"/>

  <input type = "submit" value = "Search!">

</form>

<form action = '/peeps/new' method = 'GET'>

  <label for="name"> Write a new peep: </label>
  <input type = "submit" value = "Get Peeping!">

</form>



<ol id = "peeps" style = "list-style-type:none">
  <% @peeps.reverse.each do |peep| %>
  	<li style = "margin-bottom:10px">
  		<%= peep.content %> <br>   		
  		<% peep.tags.each do |tag| %>
  			#<%= tag.name %>
  		<% end %> <br>
  		<%= peep.time.strftime("%H:%M:%S, %d %B %Y")%>
  	</li>
  <% end %>
</ol>