<h1> What's on your mind ? </h1>

<% if current_user %>
<form action="/peeps" method='post'>
  <textarea id='peep' name='content' maxlength="140" placeholder="Write your peep here..." cols='50' rows='3'></textarea><br>
  <input type='submit' value='Post'>
</form>
<% end %>

<div id='peeps'>
  <% @peeps.each do |p| %>
    <h3> @<%= p.user.username %></h3>
    <p id="peep_content"> <%= p.content %> </p>
    <p id="peep_time"> <%= p.time_format %> </p>
  <% end %>
</div>