<h1>Peeps</h1>

<ul id='peeps'>

  <% @peeps.each do |post| %>
    <li>
      Peeper: <%= User.get(post.user_id).name %>
              <%= User.get(post.user_id).username %>
              <%= post.time.strftime("%I:%M %P %d-%m-%Y") %>
      Peep: <%= post.peep %>
    </li>
  <% end %>

</ul>

<form action="/peeps/new">
  <button>Peep</button>
</form>
