<h1> Peeps </h1>

<ol id = 'peeps'>

<% @peeps.reverse.each do |peep| %>
<li>
  <%= peep.message %>
  <br></br>
  by <%= peep.user.email %>
</li>
  <br></br>
<% end %>
</ol>

<form action= "/peeps/new" method= "get">
    <input type= "submit" value= "New peep">
  </form>
