<div class="row peeps">
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <% if current_user %>
    <div class="well clear">
      <% @user = current_user %>
      <%= partial :'partials/show_user' %>
    </div>
    <% else %>
    <div class="well">
    <%= partial :'partials/new_session_form' %>
    </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-6 col-lg-6">
    <%= partial :'partials/show_peeps' %>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <% if current_user %>
    <div class="well">
      <%= partial :'partials/new_peep_form' %>
    </div>
    <% end %>
  </div>
</div>
