<form action="/users/new">
  <input type="submit" value="Sign up">
</form>
<h1> Peeps </h1>

<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      Peep:   <%= peep.peep   %>
    </li>
  <% end %>
</ul>

<form action="/peeps/new">
  <input type="submit" value="Peep">
</form>
