<div class='peeps-container'>
    <% @peeps.each do |peep| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%=peep.user.username %> :</h3>
          </div>
          <div class="panel-body">
            <div class="container">
              <%= peep.message  %>
            </div>
          </div>
          <div class='panel-footer'>Posted at <%= peep.time_created.strftime("%k:%M %e %b") %></div>
        </div>
    <% end %>
</div>
