<html>

<head>
<style>
body  {background-color: #000000; color: white;}
a     {color: white; font-size: 150%;}
</style>
</head>

<body>
<h1> WELCOME TO CHITTER </h1>

<a href="/peeps/new">Post Peep</a>
<br>
<h1> Timeline </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
    <%= peep.message %>
    </li>
  <% end %>
</ul>
