<h1> Chitter </h1>

<h2>
  <% if current_user %>
    Hello, <%= current_user.username %>
  <% end %>
</h2>

<ol reversed id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <%= peep.message %>
    <br></br>
    <%= peep.created_at %>
    <br></br>
    <br></br>
  <% end %>
</ol>
