<h2> Latest Peeps </h2>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %>
      <br><br>
      <%= peep.user.username %> (<i><%= peep.user.name %></i>)
      <br>
      <%= peep.time_stamp %>
    </li>
    <br><br>
  <% end %>
</ul>
