<h1> Peeps </h1>

<a href= '/peeps/new'> Post new peep </a>
<ul id="peeps">
  <%if @peeps%>
    <% @peeps.reverse.each do |peep| %>
      <li>
        <%= peep.user %>: <%= peep.post  %>
        #<%= peep.tags.map(&:name).join(' #') if peep.tags.empty? == false %>
        <%= peep.time %>
      </li>
    <% end %>
  <% end %>
</ul>
