<h1>
  Here's the peeps!
</h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
  <li>
    <%= peep.name %>
    (<%= peep.username %>) wrote '<%= peep.message %>' at
    <%= peep.time %>
  </li>
  <% end %>
</ul>

<center><form action='/peeps/new' method='get'>
  <input type='submit' value='Write a Peep' class="button">
</form>
</>
<form action='/Maker/new' method='get'>
  <input type='submit' value='Sign up' class="button">
</form>
</>
<form action='/sessions/new' method='get'>
  <input type='submit' value='Sign in' class="button">
</form></center>
