<h1>Chitter</h1>
<% if @user %>
  <h2>Hello <%= @user.username %>!</h2>
<% end %>

<form action="/peeps/new">
  <input type="submit" value="Peep">
</form>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li class="peep">
      <%= peep.content %><br>
      <%= peep.time %>
    </li>
  <% end %>
</ul>
