<% if current_user %>
Welcome, <%=  @current_user.name %>
<% end %>
<ul>
<% @peeps.reverse.each do |peep|  %>

  <li><%= peep.text %>
      <%= peep.posted_on.strftime("%d/%m/%Y %H:%M") %>
  </li>

<% end %>
</ul>