<h1> Peeps! </h1>

<ul id='peeps'>
  <% @peeps.reverse_each do |peep| %>
    <li>
      Peep: <%= peep.message %>
      <% peep.hashtags.each do |tag| %>
        #<%= tag.name %>
      <% end %>
    </li>
  <% end %>
</ul>
