<h1> Peeps </h1>

<ul id='peeps'>
<% @peeps.reverse_each do |peep| %>
  <li>
  <%= Time.now%>
    Post: Makers Academy Rocks Jamonn! <% %>
    <br>
    User: Michael Jackson <% peep.user%>
  </li>
<%end%>
</ul>
