Latest peeps:

<body>
<ul id="peeps">
  <% @peeps.reverse.each do |peep| %>
  <li>
    Peeped by: <%= peep.user_handle %>
    <br>
    <%= peep.created_at.strftime("Created on %A")%>
    <%= peep.created_at.strftime("at %I:%M%p")%>
    <br>
    <%= peep.body   %>
  </li>
  <% end %>
</body>
