
<ul id="peeps">
  <% @peeps.each do |peep|  %>
    <li><%= peep.user.username + "   " %><%= peep.created_at.strftime("%a %b %d  %H:%M:%S") %><br>
      <%= peep.content %></li>
  <% end  %>
</ul>

<% if current_user == @user %>
  <form action="/peeps/new" method="get">
    <input type="submit" value="New Peep">
  </form>
<% end  %>
