<div>
	<center>
		<img height="500 px" src='http://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png/revision/latest?cb=20100722020455'>
		<h1> New Peep </h1>

		<form action='/peeps' method='POST'>
			<label for='peep'>
				Peep:
				<input type='text' name='peep' />
				<input type='submit' value='Peep!' />

			</form>
		</center>
	</div>