<h1>New Peep</h1>

<form action="/peeps" method="post">
  <label for="peep" >
    Peep title:
    <input type="text" name="peep">
  </label>

  <label for="body">
    Body:
    <input type="text" name="body">
  </label>


  <button type="submit" value="Add peep">Add peep</button>
</form>
