<title> Chitter | New peep </title>
<div class='container'>
  <form action='/peeps' method='post'>
    <label for='message'>
      Message
      <input type='text' autocomplete="off" name='message' />
    </label>
    <input type='submit' value='Post' />
  </form>
</div>
