<h1>Welcome to Chitterz</h1>

<h2> New Peep </h2>

<form action='/peeps' method='POST'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>
  <label for='tags'>
    Tags (separate with a space):
    <input type='text' name='tags' />
  </label>
  <input type='submit', value='Post'>
</form>
