<h3 class="form-text"> New Message </h3>

<form action='message' method='POST' >

  <fieldset class="form-group">
    <div class="form-group">
  <label for='message'>
    <input class="form-control" type='text' name='message_input' />
  </label>
</div>
    <div class="form-group ">
  <input  class="btn btn-primary" type='submit' value='Go Chitter!' >
  </div>
</fieldset>
</form>
