<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>

  <body>
    <div class="header">
      <h1> Create a new peep </h1>
    </div>

    <form class="button" action='/peeps' method="post">
      <label> What do you want to say? </label>
      <input type="text" name="message">
      <input type="submit" value="Add Peep">
    </form>

  </body>
</html>
