<form id="postpeep" action="/peeps/new" method="POST">
  <p><label>Let the world know</label></p>
    <textarea type="text" name="text" placeholder="Hello people" maxlength="140" rows="10" cols="20" autofocus></textarea>
  <p><input type="submit" value="Submit"/></p>
</form>
