<div class="container">
  <h1> New Peep</h1>

  <form action='/peeps' method='POST'>
    <label for='title'>
      Content:
    </label>
    <input type='text' name='peep' />
    <br>
    <input type='submit' value='Peep!' class="btn btn-medium btn-primary">
  </form>
</div>