<% if @user %>
<h1>Post a peep: </h1>
<form action="/peeps/<%= @user.id %>" method="post">
<input type="text" name="text" placeholder="What's happening?" />
<input type="submit" value="Peep" />
</form>

<% else %>
  <h1> Choose an option: </h1>
    <ul> 
      <li>
        <form action="/sessions/new" method="get">
        Existing user sign in:
        <input type="submit" value="Sign in" />
        </form>
      </li>
    </ul>
    <ul> 
      <li>
        <form action="/users/new" method="get">
        New user sign up:
        <input type="submit" value="Sign up" />
        </form>
      </li>
    </ul>
<% end %>