<h1> Write a Peep! </h1>

<form action='/peeps' method='POST'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>

  <input type='submit' value='Send Peep'>
</form>
