<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Create peep'>

</form>
