<h1> Post a new peep</h1>

<form action='/peeps' method='post'>
  <label for='peep'> Peep!</label> <input type='text' name='peep'>
  <label for='user'> User</label> <input type='text' name='user'>
  <input class='button' type='submit' value='Post peep'>
</form>
