<h1> Create a new Peep </h1>

<form action="/peeps" method="POST">
  <label for='peep'>
    Message:
  <textarea type='text' name='peep'></textarea>
  </label>
  <br>
  <input type='submit' value="Send peep">
</form>