<head>
  <link rel="stylesheet" href="/css/main.css"/>
</head>

<h1>New Peep</h1>

<form action='/peeps' method='post'>
    Body: <input name='body' type='text'>
    <input type='submit' value='Submit'>
</form>
