<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>

<h1>Create a peep</h1>

<% if current_user %>
<form action='/peeps' method="post">
  <label for='title'>
    Content:
    <input type='text' name='content'>
  </label>
    <input type='submit' value='Submit'>
</form>
<%else%>
You must log in to peep!
<%end%>
