<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='message'>
    New peep:
    <input type='text' name='message'/>
  </label>
    <input type='submit' value='Post new Peep'/>
</form>
