
<h1> Enter your peep below </h1>

<form action="/peeps" method="post">
  <label for="name">
    Name:
    <input type="text" name="name">
  </label>

  <label for="Username">
    Username:
    <input type="text" name="username">
  </label>

  <label for="Content">
    Content:
    <input type="text" name="content">
  </label>

  <input type="submit" value="Post">
</form>
