<% if current_user %>
<div id="new-peep">
  <h3>Compose peep<h3>
  
  <form method='POST' action='/peeps' >
      <input type='text' name='message'> <br>
      <input type='submit' value='Peep'>
  </form>
</div>
<%end%>
<div id='peeps-container'>
  <div id="new-peep">
    <ul>
    <% Peep.all(order: [:time.desc]).each do |peep| %>
      <li>
        User:      <%= peep.handle %>
        Content:   <%= peep.message %>
        Time:      <%= peep.time %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
