  <h3>Please write your message</h3>

  <form action='/peeps' method='post'>
    Message: <input type='text' name='message'>
    <input class="btn btn-primary" type='submit' name='submit' value='Post'>
  </form>
