<link rel="stylesheet" type="text/css" href="/css/style.css">

<body>
  <h1>PEEP MESSAGE</h1>
  <form action="/peeps" method="post">
    <label for="title">
      Peep: <input type="text" name="title">
    </label>
  </form>
</body>
