<div class="container" align="center">

  <form action = '/peeps' method='post'>
    <div class="form-group">
      <label for="peep_content">New Peep</label>
      <textarea class="form-control" rows="5" name="peep_content" placeholder="Peep message"></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <textarea class="form-control" name="tags" placeholder="Tags"></textarea>
    </div>
    <input type = 'submit' value='Post' class="btn-default">
  </form>

</div>
