<h1> Post new Peep </h1>

<form action="/peeps" method="post">
    Post:
    <input type="text" name="post" autofocus>
    Tags:
    <input type="text" name="tags" autofocus>
    <input type="submit" value="Post peep">
</form>
