<h1>Add a Peep!</h1>
<form action="/peeps" method="post">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <label for="username">
    Chitter Username
    <input type="text" name="username">
  </label>
  <label for="message">
    Peep Message
    <input type="text" name="message">
  </label>
  <input type="submit" value="Add">
</form>
