<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Send a Peep!</title>
  </head>
  <body>
    <form action='/peeps' method='POST'>
      New Peep:
      <label for='message'>
      <input type='text' name='message' id='message'>
      </label>
      <input type='submit' value='Send Peep!'>
    </form>
  </body>
</html>
