<h1> New Peep </h1>

<form action="/peeps" method="post">
      <label for="msg">
        Message:
        <input type="text" name="msg">
      </label>
      <input type="submit" value="Create peep">
    </form>
