<!DOCTYPE html>
<html>
<center>
<head>

<<<<<<< HEAD
<h1> Compose new Peep </h1></head>
<body>
<form action='/chitter' method='POST'>
=======
<h1> Compose new Peep </h1>
<br />
<form action='/peeps' method='POST'>
>>>>>>> f887031fbc25594e2a5e39700139d67614b29dcd
  <label for='name'>
    Name:
    <input type='text' name='name' />
  </label>
  <label for='handle'>
    Handle:
    <input type='text' name='handle' />
  </label>
  <label for='post'>
    Post:
    <input type='text' name='post' />
  </label>
  <input type='submit' value='Peep'>

</form></center>
</body>
</html
