<div class="row">
  <div class="col-md-12">

<h1> New Peep </h1>
<form action='/peeps/new' method='POST'>
  <div class="form-group">
  </div>
  <div class="form-group">
    <p><b> Message: </b></p>
    <label for='message'></label>
    <textarea name="message" rows="8" cols="80"></textarea>
  </div>
</label>
<button type="submit" class="btn btn-info" name="Send peep">Submit</button>
</form>

</div>
</div>
