<body class="container">
  <h1> Add Peep </h1>

    <form action="/peeps/new" method="post">
      <textarea rows="4" cols="50" name="message"> Enter text here...</textarea>
      <input type="submit" value="Peep">
    </form>

</body>
