
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<body>
<div>
  <form action='/peeps' method='post'>
    <input type="text" name="peep">
    <input type="submit" value="submit">
  </form>
</div>
</body>