<body style="background: #E0EAFC;
background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3);
background: linear-gradient(to left, #E0EAFC , #CFDEF3);
font-family: Verdana, Geneva, sans-serif;">
  <h1>New peep!</h1>

  <form action='/peeps' method='POST'>
    <label for='message'>
      Message:
      <input type='text' name='message' />
    </label>
    <label for='hashtags'>
      Hashtags:
      <input type='text' name='hashtags' />
    </label>
    <input type='submit' value='Post Peep!'>
  </form>
</body>
