<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="bg-img">
    <div class="container">
      <div class='peep'>
        <form action='' method=POST>
          <label = 'peep'>
            <input name='body' type='text'>
          </label>
          <input type='submit' value='Peep it!'>
        </form>
      </div>
    </div>
  </div>
</body>
