<form class='col-md-6 col-md-offset-3 well' action='/peeps' method='POST'>
  <h2 class='text-center'>Peep Peep Peep</h2>

  <div class="form-group">
    <label for='message'>Message:</label>
    <textarea class="form-control" rows="3" name='message' id='message'></textarea>
  </div>

  <input class='btn btn-primary' type='submit' value='Peep It!'>
</form>
