<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='title'>
    Write a new Peep:
    <input type='text' name='new_peep'>
  </label>

  <input type='submit' value='Peep it!'>

</form>
