
<%if current_user%>
  <form action='/peeps' method='post'>
    <label for='peep'>Peep:<br>
      <input type='text' autocomplete="off" name='message'><br>
    </label>
      <input type='submit' value='Post'>
  </form>
<%else%>
  <%flash.now[:errors] = ['You must be logged in to post a peep']%>
<%end%>
