<div class="container">
  <div class="row">
    <form action="/peeps" method="post" class="col-xs-12 col-md-6 offset-md-3 py-3">
      <div class="form-group row">
        <label class="col-4" for="peep_text">Peep</label>
        <input class="form-control col-8" type="text" name="peep_text" value="" required>
      </div>
      <div class="form-group d-flex justify-content-center">
          <button class="btn btn-lg" type="submit" name="submit_peep" id="submit_peep">Post Peep</button>
      </div>
    </form>
  </div>
</div>
