<form action="/peeps/new" method="post">
        <label for="content">Write your peep here</label>
        <textarea name="content" rows="3"></textarea>
        <input type="submit" value="Peep">
</form>
