<form action='/peeps' method="post">
  Please enter your peep below:<br>
  <input type="text" name="peep">
  <!-- <textarea name="peep" cols="40" rows="5"></textarea> -->
  <input type="submit" value="Save">
</form>
