<!DOCTYPE html>
<html>
<center>
<head>

<h1> Compose new Peep </h1></head>
<body>
<form action='/chitter' method='POST'>
  <label for='name'>
    Name:
    <input type='text' name='name' />
  </label>
  <label for='handle'>
    Handle:
    <input type='text' name='handle' />
  </label>
  <label for='post'>
    Post:
    <input type='text' name='post' />
  </label>
  <input type='submit' value='Peep'>

</form></center>
</body>
</html
