<h1>Write a new peep</h1>

<form action='/peep' method='POST'>
  <!-- <label for='title'>
    Title:
    <input type='text' name='bookmark_name'>
  </label> -->
  <label for='peep'>
    Peep:
    <input type='text' name='url'>
  </label>
  <!-- <label for='tag'>
    Tags:
    <input type="text", name="tag">
  </label> -->
  <input type='submit' value='create link'>
</form>
