<h1> New Peep </h1>
  <form action='/peeps/new' method='POST'>
    <label for='name'>
     Name:
     <input type ='text' name='name' />
   </label>
   <label for='message'>
     Message:
     <input type='text' name='message' />
   </label>
 </label>
 <input type='submit' value='Send peep!' />
</form>
