<form action="/peeps" method="post">
  <label for="peep_content">
    Whats happening?
    <input type="text" name="peep_content" id="peep_content">
  </label>
  <input type="submit" value="Send">
</form>
