<!DOCTYPE html>

<html>
<body>

	<h1>Get Peepin'</h1>

	<form action="/peeps/add" method="post">
		<label for='text'>What's on your bird brain?</label>
			<input type="text" name="text" placeholder="Peep peep" required>
		<br>
			<input type="submit" value="Peep!">
	</form>

</body>
</html>