<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/index.css">

<style>
body {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  
  margin: auto;
  width: 50%;
  padding: 30px;
}

.peep {
  background: white;
  color: #56CCF2;
  border-radius: 25px;
}

</style>

<% if @user %>
<h1>Post a peep: </h1>
<div class="container">

<form action="/peeps/<%= @user.id %>" method="post">
<input type="text" name="text" placeholder="What's happening?" />
<input type="submit" value="Peep" />
</form>

</div>

<% else %>
  <h1> Choose an option: </h1>
    <ul> 
      <li>
        <form action="/sessions/new" method="get">
        Existing user sign in:
        <input type="submit" value="Sign in" />
        </form>
      </li>
    </ul>
    <ul> 
      <li>
        <form action="/users/new" method="get">
        New user sign up:
        <input type="submit" value="Sign up" />
        </form>
      </li>
    </ul>
<% end %>