<h1>  Write a new peep! </h1>

<form action='/peeps/submitted' method = 'post'>
  <label for='peep'>
    Want to fill the internet with your concise profundity?
  </label>
    <textarea name = 'peep' cols="20" rows="4"> Write your peep here: </textarea>
    <input type = 'submit' value = 'Post peep'
</form>
