<div style="color:black;padding:70px;" align="center">

  <form id="postpeep" action="/peeps/new" method="POST">
    <p><label>Let the world know</label></p>
      <textarea rows="7" cols="40" style="font-family:courier;font-size:14px;background-color:#ebfafa" type="text" name="text" placeholder="Hello people" maxlength="140" autofocus></textarea>
    <p><input type="submit" id="Submit" value="Peep it!" style="border-radius:4px;background-color:#d6f5f5;"/></p>
  </form>

</div>
