<title> Chitter | New peep </title>
<div class='container'>
  <form action='/peeps' method='post'>
    <label for='message'>
      Message
      <input type='text' name='message' />
    </label>
    <input type='submit' value='Post Peep' />
  </form>
</div>
