<h1> Enter New Peep </h1>
<form action="/links" method="post">
  <label for="title">
    Title:
    <input type="text" name="title" >
  </label>
  <label for="url">
    Message:
    <input type="text" name="message" >
  </label>
  <input type="submit" value="Submit" >
</form>
