<% if current_user %>
  <div id="new_peep_wrapper" class="add_margin">
    <form action="/peeps" method="post">
      <textarea rows="5" type="text" name="peep" id="peep" placeholder="Message.." required></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
<% else %>
  <p>You must be logged in to post a new peep</p>>
<% end %>