<h1> New peep! </h1>

<form action='/peeps' method='POST'>
  <label for='peep_text'>
    Text:
    <input type='text' name='peep_text'>
  </label>
  <label for='time'>
    TIME:
    <input type="text" name="time">
  </label>
  <input type='submit' value='peep'>
</form>
