<h1>Peep to the world</h1>

<form action='/peeps' method='POST'>
  <label for='peep'>
    Peep: <input type='text' name='peep' />
  </label>
  <div class="button">
    <button type="submit">Send your Peep</button>
  </div>
</form>
