<style>
  h1 {
    text-align:center;
    margin:30px auto 0 auto;
    font-size: 40px;
    font-weight:bold;
  }

  .box {
    width:600px;
    border-radius:5px;
    padding: 10px;
    box-shadow: -5px 5px 5px rgba(8,116,171,0.7);
    margin:20px auto auto auto;
    display:block;
    background-color:LightGray;
  }
</style>

<h1> New Peep </h1>

<div class="box">
  <form action='/peeps' method='POST'>
    <label for='peep_text'>
      Write a new Peep:
      <input type='text' name='peep_text'>
    </label>
    <br>
    <input type='submit' value='Peep it!'>
  </form>
</div>
