<link rel="stylesheet" type="text/css" href="/css/style.css">
<h1> New Peep </h1>

<form action = '/peeps' method = "post">
  <p><label for='name'>
    Name:
    <input type='text' name='name' readonly>
  </label></p>
  <label for='message'>
    Message:
    <textarea rows="4" cols="50" placeholder = 'Peep here!' name='message'></textarea>
  </label>
  <p><input type='submit' value='Peep this!'></p>
</form>



<!-- Name will default to logged_in user name. It won't be editable. -->
