<hr>
<form action='/peeps' method='POST'>
  <label for='message'>
    Please enter your Peep:
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Submit'>
</form>
<br>
<form action='/list'>
  See your old peeps!<br>
  <input type='submit' value='Peeps'><br>
</form>
