
<!DOCTYPE html>
<html>
<body>


<h1> Add your peep </h1>
<form action="/peep" method="post" id="peep">
  <label for="peep">
    Add your peep
  </label>
    <input type="submit" value="Create peep">
</form>
<br>
<textarea rows="4" cols="50" name="peeptext"
form="peep">
</textarea>

</body>
</html>
