<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style_peeps.css">
  </head>

  <h1>
    Tell the world - Post a Peep
  </h1>

  <form action='/peeps' method='POST'>
    <label for='name'>
      Name:
      <input type='text' name='name'/>
    </label>
    <label for='username'>
      Username:
      <input type='text' name='username'/>
      <label for='message'>
        Write your Peep here:
        <input type='text' name='message'/>
      </label>
      <input type='submit' value='Post my Peep!' class="button">
    </form>
