<head>
  <title> Chitter | New peep </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class='posting'>
  <form action='/peeps' method='post'>
    <label for='message'>
      Message
      <input type='text' autocomplete="off" name='message' />
    </label>
    <input type='submit' value='Post' />
  </form>
</div>
</body>
