<!DOCTYPE html>

<html>
<body>
  <form action='/peeps/index' method='post'>
    <label>
      Peep: <input type='text' name='peep'/>
    </label>
    <input type='submit' value='Post'/>
  </form> 
</body>
</html>
