<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="styles.css">

<div class="container">



  <h1>Write new peep</h1>

  <form action="/peeps" method="post">
    peep_content: <input type="text" name="peep_content">
    <input class="button" type="submit" value="Post Peep">
  </form>

</div>
