<h1>Post a Peep!</h1>

<form method='POST' action='/peeps'>
	<input type="text" name="Title" placeholder='Title'>
	<input type="test" name="Message" placeholder="Write your peep" required>
	<input type="submit" value="Peep!">
</form>
