<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<form method='post' action='/peeps'>
  Content: <input type='text' name='content'>
  <input type='submit' value='Peep'>
</form>