<h1> New Peep </h1>

<form action = '/peeps'method = "post">
  <p><label for='name'>
    Name:
    <input type='text' name='name'/>
  </label></p>
  <label for='message'>
    Message:
    <textarea rows="4" cols="50" placeholder = 'Peep here!' name='message'></textarea>
  </label>
  <p><input type='submit' value='Peep this!'></p>
</form>
