<h1>Welcome to Chitter</h1>

<h2> New Peep </h2>

<form action='/peeps' method='POST'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>
  <input type='submit', value='Post'>
</form>
