<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Chitter - new peep</title>
    <!-- <link rel='stylesheet' href='styles.css'/> -->
  </head>
  <body>
    <h2>Chitter - compose your peep</h2>
    <form method='post' action='/peeps'>
      Enter peep here: <input type='text' name='content'>
      <button type='submit'>Submit</button>
  </body>
</html>
