<h1> New Peep </h1>

<form action='/peeps' method='post'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>
  <button class="submit" type='submit'>peep</button>
</form>