<h2 class="hotpink peep_title"> Compose Peep </h2>

<div class="compose_form">
  <form action="/peeps" method="post">
    <textarea name="content" placeholder="What's happening?" rows="5" required></textarea>
    <button action="submit">Add Peep</button>
  </form>
</div>
