<link rel="stylesheet" type="text/css" href="../../../public/style.css" />
<body>
<h1> New peep </h1>
<br> A peep is a message you can leave in the main feed, for other all the other peepers to see.
<br>
<form method="post" action="/peeps">
<input type="text" value="Peeps are born here..." name="body">
<input type="submit" value="peeps away!">
</form>
</body>