<h1 class='center'>Post a Peep</h1>

<form action='/peeps' method='post'>
  <label for='content'>
    Peep: <input name='content' type='text'>
  </label>
  <input type='submit' value='Post peep'>
</form>
