<link rel="stylesheet" type="text/css" href="../../../public/style.css" />
<body>
<h1> New peep </h1>
A peep is a message you can leave in the main feed, for everybody else to see.
<br><br>
<form method="post" action="/peeps">
<input type="text" name="body">
<input type="submit" value="peeps away!">
</form>
</body>