<h1>Gimme your Peep!</h1>

<form action='/peeps' method='post'>
  <label for='username'>
    Enter your peep: <input name='peep' type='text'>
  </label>
  <input type='submit' value='Submit your Peep!'>
</form>
