<h1> Signup </h1>
<form action="/peep" method="post">
  <label for="peep">
    Add peep
    <br>
    <input type="text" name="peep" autofocus>
  </label>
  <input type="submit" value="Sign up">
</form>
