<h1>Add your peep</h1>
<form action="/peeps/add" method="post">
  <label for="message">
    ADD:
    <input type="text" name="message">
  </label>
  <input type="submit" name="submit" value="Peep">
</form>
