<h1> What's happening? </h1>

<form action='/peeps' method='POST'>
  <label for='message'>
    New peep:
    <input type='text' name='message'/>
  </label>
  <label for='tags'>
    Tags:
    <input type='text' name='tags'/>
  </label>
    <input type='submit' value='Post new Peep'/>
</form>
