<div id="compose">
<h2> Peep what you will...</h2>
  <form action="/peeps" method="post">
    <input id="main_message"  autofocus="autofocus" type="text" name="peep">
    <br>
    <input class="submit" type="submit" value="Peep!">
  </form>
</div>
