<form action="/peeps" method="post">
  <input type="text" name="peep" id="peep"/>
  <input type="text" name="handle" id="handle"/>
  <input type="text" name="name" id="name"/>
  <button type="submit">Post</button>
</form>