<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='name'>
    Name:
    <input type='text' name='name' />
  </label>
  <label for='username'>
    Username:
    <input type='text' name='username' />
  </label>
  <label for='peep'>
    Peep:
    <input type='text' name='peep' />
  </label>
  <input type='submit' value='Create peep'>
</form>
