<h1>Please enter your peep below</h1>
<form action="/peeps" method="post">
  Peep:
  <input type="text" name="peep">
  <input type="submit" value="Submit">
</form>
<form action='/peeps/index'>
  <input type='submit' value='Back'>
</form>
