<div>
  <form action='/peeps' method="POST">
    <label for='peep'>
      What's happening:
      <input type='text' name='peep' />
    </label>
    <input type="submit" value="peep">
  </form>
</div>
