<form action="/peeps" method="post">
<label for="peep">Peep
  <input type="text" name="peep" id="peep"/>
</label>
<label for="handle">Handle
  <input type="text" name="handle" id="handle"/>
</label>
<label for="name">Name
  <input type="text" name="name" id="name"/>
</label>
  <button type="submit">Post</button>
</form>