<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='name'>
    Name:
    <input type='text' name='name' />
  </label>
  <label for='username'>
    Username:
    <input type='text' name='username' />
  </label>
  <label for='text'>
    Text:
    <input type='text' name='text' />
  </label>
  <input type='submit' value='Post Peep'>

</form>
