<div class='flashmsg'>
  <%= flash[:nouser] %>
</div>

<% if current_user %>
  <h3>Post your peep!</h3>

  <form action="/peeps/new" method="post">
    <div>
      <label for="message">Message:</label>
      <textarea name="message"></textarea>
    </div>
    <div class="button">
        <button type="submit">Post</button>
    </div>
  </form>
<% end %>
