<h3>Insert your peep here:</h3>
<div>
  <form id="input_peep" action="/peeps" method="post">
    Peep: <input type="text" name="peep" value="<%= @reply_to %>" />
    <input type="submit" value="Submit" />
  </form>
</div>