<form action="/peeps" method='post'>
      <p>Chitter username: </p>
      <input name="user" type="text">
      <p>Peep content:</p>
      <input name="content" type="text">
      <input type="submit" value="Peep">
</form>
