<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <!-- <label for='username'>
    Username:
    <input type='text' name='username' />
  </label> -->
  <label for='content'>
    Content:
    <input type='text' name='content' />
  </label>
  <input type='submit' value='Send Peep' />
</form>
