<html>
<body>
<form action="/peeps" method="post">
  <textarea name="peep" maxlength="140" required>
  </textarea><br>
  <label for="tags">
    Users to tag:<br>
  </label>
  <input name="tags" type="text" placeholder="Usernames must be space separated">
  <input type="submit" value="Peep!"/>
</form>
</body>
</html>
