<html>
  <style>
  </style>

  <body>
    <h1>New peep</h1>
    <form action="/peeps" method="POST">
      <textarea name="peep_content"></textarea><br>
      <input type="submit" value="Peep">
    </form>
  </body>
</html>
