<body>
  <div class="bg-img">
    <div class="container">
      <div class='peep'>
        <form action='' method=POST>
          <label = 'peep'>
            <textarea rows="4" cols='30' input name='body' type='textarea'></textarea>
          </label>
          <br>
          <label ='submit'>
            <input type='submit' value='Peep it!'>
          </label>
        </form>
      </div>
    </div>
  </div>
</body>
