<h1>Time to peep!</h1>

<form action='/peeps' method='post'>
  <label for='email'>
    User name:<input name='username', type='text' required>
  </label>
  <label for='email'>
    Peep:<input name='peep', type='text' required>
  </label>
 <input type='submit' value='Create peep'>
</form>
