<html>

<head>
<style>
body  {background-color: #000000; color: white;}
a     {color: white; font-size: 150%;}
</style>
</head>

<body>
<div>

  <form action="/peeps" method="post">
    <label for="msg">Message:</label>
    <input type="text" name="msg" size="140" maxlength="300">
  <input type="submit" value="Post">
  </form>

</div>
</body>
