<h3> Let everyone know what you're thinking! </h3> <br>



<form action="/peeps" id="new_peep_form" method="post">
  <textarea name="content" id="content" required> </textarea>
  <button type="submit" id="post_peep" name="post_peep">Peep!</button>
</form>
