<%if current_user %>
  <form action="/peeps" method="post">
    <textarea placeholder ="Write your peep..." name="message"></textarea>
    <input type="submit" value="Share"/>
  </form>
<%else%>
  <p>Please login to peep</p>
<%end%>
