<form class="form-newpeep" action="/peeps" method="post">
  <h2 class="form-newpeep-heading">Peep now.</h2>
  <label for="inputContent" class="sr-only">What's happening?</label>
  <input type="text" maxlength="140" id="inputContent" class="form-control" placeholder="What's happening?" name="content" value="<%= @peep.content %>" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Peep</button>
</form>
