<h2>Create your Peep</h2>

<div>
  <textarea rows="4" cols="50" name="message" form="peep" class="peep_field">Enter message here...
  </textarea>
  <p>
  <form action='/peeps' method='post' id="peep">
    <button type='submit' value="Add peep" class="btn">
      Post Peep!
    </button>
  </form>
</div>
