<h1> Peep here! </h1>

<form action="/peeps" method="post">
  <label for="name">
    Your name:
    <input type="text" name="name">
  </label>
  <label for="copy">
    Text of your peep:
    <input type="text" name="copy">
  </label>
  <input type="submit" value="Peep">
</form>
