<h1> Welcome to Chitter </h1>

<h2> Get Peeping! </h2>


<h4>Tell everyone what you're thinking:</h4>
<textarea name="content" form="peepform"></textarea>
<form id= 'peepform' action = '/peeps' method = 'POST'>
  <input type = "submit" value = "Peep!">
</form>