<h1>Add a new peep</h1>

<div id='peeps-container'>

  <div id='new-peep' class='peep_form'>
    <form method='post' action='/peeps' class='peep_form'>
      <label>
        Peep (50 characters max): <input type='text' name='text' maxlength='50' size='100'/>
      </label>
      <input type='submit' value='Peep!' class='button'>
    </form>
  </div>

</div>