<% if current_user == nil %>
  <h1>Please sign in or sign up first:</h1>
  <form action="/users/new">
    <input type="submit" value="Sign up">
  </form>
  <form action="/sessions/new">
    <input type="submit" value="Sign in">
  </form>
<% else %>
    <form action='/peeps' method="post">
    <br>
    What's happening?
    <input type="text" name="peep" required>
    <br>
    <input type="submit" name="peep" value="Peep">
  </form>
<% end %>
