    </div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form action="/peeps" method="post" role="form">
        <div class="form-group">
          <label for="message">
            Enter Message:
          </label>
          <textarea name="message" class="form-control" cols="40" rows="4" >
          </textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Send Peep" />
      </form>
    </div>
  <div class="col-sm-3"></div>
</div>
