<h2>Add your new peep below:</h2>

  <form action="/peeps" method="post">
    <label for="content">
      <input type="text" name="content" placeholder='Write your Peep here'>
    </label>
    <br>
    <br>
      <input type="submit" value="Add Peep">
  </form>

  <form action="/links">
    <input type="submit" value="Back">
  </form>
