<h1> Add peep </h1>

<form action='/peeps' method='post'>
  <p>
    <label for='content'>What's up? </label>
    <input type='text' name='content' />'
  </p>
  <p>
    <input type='submit' value='Post peep'>
  </p>
</form>
