<h1> Welcome to Chitter </h1>

<h2> Get Peeping! </h2>

<% if current_user %>

<h4>Tell everyone what you're thinking:</h4>
<textarea name="content" form="peepform"></textarea>
<form id= 'peepform' action = '/peeps' method = 'POST'>

  <label for="tags"> tags: </label>
  <input type = "text" name = "tags"/>

  <input type = "submit" value = "Peep!">

</form>

<% else %>
	Sign up fool!
<%end %>