<form action="/peeps" method="post">
    <div>
        <label for="message">Message:</label>
        <input type="text" name="message" required />
    </div>
    <div class="button">
        <button type="submit">Peep</button>
    </div>
</form>
