<form action="/peeps/new" method="POST">
  <div class="form-group">
    <label>New peep:</label>
    <textarea class="form-control" name="message" rows="3" placeholder="Write your message here"></textarea>
  </div>
  <input class="btn btn-default" type="submit" value="Peep">
</form>
