<!--
<form action="/sessions/peep" method="post">
  <div>
  <textarea name='content' placeholder="Peep here..." required ></textarea>
  </div>
  <input type="submit" value="Post peep!">
</form> -->

<form action = '/peeps/new' method='post'>
  <input type='text' name='content' placeholder='peep'>
  <input type='submit' value='Post peep!'>
</form>
