<body class="container">
  <h1> Add Peep </h1>
    <% if current_user %>
        <form action="/peeps/new" method="post">
          <textarea rows="4" cols="50" name="message"> Enter text here...</textarea>
          <input type="submit" value="Peep">
        </form>
    <% else %>
        <h1> Please login in order to create a Peep </h1>
    <% end %>

</body>
