<div id='peeps_container'>
    <form class= "peep" action="/peeps" method="post"> 
    </p> 
      <textarea class='new' wrap="physical" maxlength = "220"  name="content" placeholder="Peep here..." required ></textarea>
      <p>
    <input  type="submit" value="Submit" class='button'> (Peep length is restricted to the size of the input area)
      </p>    
    </form>
</div>


