<h3>what's on your mind?</h3>

<form action='/peeps/new' method='post'>
  <label for='content'>
    <input type='text' name='content'>
  </label>
  <input id='form_button' type='submit' value='peep!'>
</form>
