<h1> New peep: </h1>

<form action='/peeps' method='post' id='content'>
  <label for='message'>
    <textarea rows="4" cols="50" name="message" form="content">Write your peep here...</textarea>
  </label>
    <br>
  <input type='submit' value='Post peep'>
</form>
