<h1> New peep </h1>
<body>
<form action = '/peeps' method = post>
  <input type='text' name='peep' placeholder="What's going on?" required>
  <input type="submit" value='Post your peep!'>
</form>
</body>
