<h1>add your knit tip</h1>

<form action='/peeps' method='post'>
  <textarea rows='4' cols='50' name='text'>
    Enter your tip here
  </textarea>

  <button type='submit' value='Add Tip'>
    Add Tip
  </button>
</form>
