<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New peep</title>
  </head>
  <body>
    <form action="/peeps" method="post">
      <div class="form-group">
        <label for="input_peep">Peep here!</label>
        <input type="text" name="content" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Create peep</button>
    </form>
  </body>
</html>
