<div class="row">
  <div class="col-md-12">

    <h1>Post a Peep</h1>
    
    <form class="" action="new" method="post">
      <div class="form-group">
        <textarea name="message" rows="8" cols="80"></textarea>
      </div>

      <button type="submit" class="btn btn-info" name="submit">Submit</button>
    </form>
  </div>
</div>
