<form action='/add_peep' method='post'>
  <input type='text' name='content' maxlength="141"
  	required='required' placeholder='Write your peep here'><br>
  <input type='submit' value="Peep it">
</form>
<form action='/' method='get'>
  <input type='submit' value="Cancel"><br>
</form>
