<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='peep_text'>
    Write a new Peep:
    <input type='text' name='peep_text'>
  </label>

  <input type='submit' value='Peep it!'>

</form>
