<h2>Peep</h2>
<form action="/peeps" method="post">
  <div>
    <input type="text" name="message" placeholder="peep" required>
  </div>
  <div>
    <input type="submit" value="Peep">
  </div>
</form>
<%=partial :peeps%>
