Hi <%= current_user.username %>
<br><br>
What's new today?
<br><br>
<form action='/peeps/new' method='post'>
  <input type='text' name='peep' placeholder='Share your thoughts'>
  <input type='submit' value='Post peep'/>
</form>

<br>
Chitter feed:
<br><br>

<% @peeps.reverse.each do |peep| %>
<article>
  <%=peep.username%>:
  <%=peep.peep%>
  (at: <%=peep.time%>)
  <br><br>
</article>

<% end %>
