
<h1>Submit a new peep</h1>
<div id="new-peep">
<form action="/peeps" method="post">    
  <p>
    <input type="text" name="content" placeholder="Peep away">
  </p>
  <p>
    <input type="submit" value="Submit peep" class='button'>  
  </p>    
</form>
</div>