<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='title'>
    <h2>Title:</h2>
    <input type='text' name='title'>
  </label>
  <label for='body'><br>
    <h2>Body:</h2>
    <br><textarea name="body" style="width:400px;height:250px;"></textarea>
  </label>
  <input type='submit' value='Peep!'>
</form>
