<h1> New Message </h1>

<form action='message' method='POST' >
  <label for='message'>
    Message
    <input type='text' name='message_input' />
  </label>

  <input type='submit' value='message_submit' >

</form>
