<h1>We want to hear a peep out of you!</h1>

<form action='/peeps' method='post' id='peep_box'>
  <input type='submit' value='Peep'>
</form>

<textarea name='content' form='peep_box'>Enter your Peep here...</textarea>
