<h1> New Peep </h1>

<form action='/peeps' method='POST'>

  <label for='content'>
    Content:
    <input type='text' name='content'/>
  </label>

  <label for='tags'>
    Tags:
    <input type='text' name='tags'/>
  </label>

  <input type='submit' value='Post peep'>

</form>
