<h1> Add New Peep </h1>
<article class='add-peep'>
<form action='/peeps' method='POST'>
  <label for='title'>
    Title:
    <input id='title' type='text' name='title' />
  </label>
  <label for='message'>
    Message:
    <input id='message' type='text' name='message' required />
  </label>
  <button type='submit'>Create Peep</button>
</form>
</article>
