<!DOCTYPE html>
<html>
  <head>
    <title>Peep to the World!</title>
  </head>
  <body>
    <form action="/peeps" method="post">
      Peep message: <input type="text" name="message" value="message">
      <button type="submit" name="Peep it!">Peep it!</button>
    </form>
  </body>
</html>
