<h2>Create your Peep</h2>

<div>
  <form action='/peeps' method='post'>
    <label>
      message: <input type='text' name='message' class="peep_field">
    </label>
    <button type='submit' value="Add peep" class="btn">
      Post Peep!
    </button>
  </form>
</div>
