<h1> Compose Peep </h1>

<form action='/peeps' method='POST'>
  <label for='user_name'>
    Username:
    <input type='text' name='user_name' />
  </label>
  <label for='user_peep'>
    Peep:
    <input type='text' name='user_peep' />
  </label>
  <input type='submit' value='Send Peep!'>

</form>
