<form action='/peeps' method='post'>
  <label for='message_content'>Speak Your Mind</label>
  <input type='text' name='content' id='message_content' />
  <input type='submit' value='Post Peep' />
</form>
