<h1> New Peep </h1>

<form action='/peeps' method='POST'>
  <label for='user'>
    user:
    <input type='text' name='user' />
  </label>
  <label for='message'>
    message:
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Create Peep'>
  <br>
  <a href="/users/recover">I forgot my password</a>
</form>
