<h1> New peep: </h1>

<form action='/peeps' method='post'>
  <label for='message'>
    Write your peep below:
    <input type='text' name='message'/>
  </label>
  <input type='submit' value='Post peep'>
</form>
