<html>
<body>
<center>
  <h1>Peep your feelings!</h1>
  <form style="bodyform" action="/peeps" method="post">
  <textarea name="peep" rows="10" cols="50" maxlength="140" required>
  </textarea><br>
  <label for="tags">
    <p>Users to tag:</p>
  </label>
  <input name="tags" type="text"><br><br>
  <button type="submit">Peep!</button>
</form></center>
</body>
</html>
