<html>
<body>
<form action="/peeps" method="/post">
  <textarea name="peep" maxlength="140" placeholder="Peep your feelings!" required>
  </textarea><br>
  <input type="submit" value="Peep!"/>
</form>
</body>
</html>
