<!-- Page for creating new peeps -->
<h1> Post a peep </h1>

<form action='/peeps' method='POST'>
<label for='peep'>
  Peep:
  <input  name='peep' type='text' />
</label>
<input type='submit' value='post peep'>
</form>
