<h1> New Peep </h1>
<% if current_user %>
  <form action='/peeps' method='POST'>
    <label for='text'>
    Text:
    <textarea type='text' name='text'>Enter Text</textarea>
    </label>
    <input type='submit' value='Post Peep'>
  </form>
<% else %>
  Please sign in
<% end %>
