<h1>Post a Peep</h1>

<form class="" action="new" method="post">
  <label for="message">Message
    <textarea name="message" rows="8" cols="80"></textarea>
  </label>

  <button type="submit" name="submit">Submit</button>
</form>
