<div class="container" align="center">
  <h4>New Peep</h4>

  <form action = '/users' method='post'>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea class="form-control" rows="5" name="message" placeholder="Peep message"></textarea>
    </div>
    <input type = 'submit' value='Post' class="btn-default">
  </form>

</div>
