<% if current_user %>
<div style='padding-left: 25px; height: 170px; width: 325px; border: 3px solid red'>
  <br>
  <form action='/' method="post">
    <br>
    What would you like to peep?
    <input type="text" name="message" required>
    <br>
    <input type="text" name="tag">
    <br>
    <input type="submit" name="Post peep" value="Post peep" width="150" height="70">
  </form>
  <form action="/">
    <input type="submit" value="Back">
  </form>
</div>

<% else %>

You must sign up or sign in first to post peeps!

<% end %>
