<div>
  <form action='/peeps' method='POST'>
  peep message: <input type='text' name='text'>
  <input type='hidden' name='user_id' value="<%= session[:user_id] %>">
  <input type='submit' value='Submit peep'>
  </form>
</div>
