<!DOCTYPE html>
<html>

  <h1> Add a new peep below! </h1>

  <form action="/feed" method="post">
    <label for="peep" placeholder='Peep...'>
      Peep: <input type="text" name="peep">
    </label>
    <input type="submit" value="Submit">
  </form>
</html>
