
<h1>Create your peep now!</h1>
<p></p>
<p></p>
<p></p>


<form action ='/peeps' method='post'>
  What's happening now?
  <input type='text' name='activity'>
  <input type='submit' value="Peep it!">
</form>