<html>
  <h1>Chitter</h1>

  <form action="/peeps" method="post">
    Message
    <label for="message">
      <input type="text" name="message" placeholder="Message" required/>
    </label>
    <button type="submit">Post peep</button>
  </form>
</html>
