<div class="row">
  <div class="col-md-12">
    <h2>New Peep</h2>
  </div>
</div>
<form action="/peeps" method="POST">
  <div class="form-group">
    <textarea class="form-control" name="message" rows="3" placeholder="Write your message here"></textarea>
  </div>
  <input class="btn btn-default" type="submit" value="Peep">
</form>
