<form action="/peeps/write" method="post" class="pure-form">
  <textarea type="text" name="message" cols=50 rows=4 id="peep_area"></textarea><br/>
  <input type="submit" value="Post" class="pure-button pure-button-primary">
</form>
