<h1> New Peep </h1>


  <% if current_user %>
    <form action='/peeps' method='POST'>
      <label for='title'>
        Title:
        <input type='text' name='title' />
      </label>
      <label for='message'>
        Message:
        <input type='text' name='message' />
      </label>
        <input type='submit' value='Peep!'>
    </form>
  <% else %>
    Sorry, you need to be signed in to make a new peep.
    <form action='/'>
      <input type='submit' value='Take me home!'>
    /form>
  <% end %>
