<div>
  <form action='/peeps' method='post'>
    <label> Enter your peep!! </label>
    <p> User: <p>
    <input type='text' name='user'>
    <p> Peep message: <p>
    <textarea name='peeps' rows="4" cols="30"> </textarea>
    <input type='submit' value='Peep message'>
  </form>
</div>