<!DOCTYPE html>
<html>
  <body>
    <h1> Peepy Peepy Poo Poo </h1>

    <ul> Peeps:
      <% @peeps.reverse.each do |peep| %>
        <li>
          <%= peep.message %>
          <br>
          <i>Written by <%= peep.name %> (<%= peep.username %>) on <%= peep.created_at.strftime("%FT%R") %></i>
        </li>
      <% end %>
    </ul>

    <form action='/peeps/new'>
      <input type="submit" value="Add Peep">
    </form>

  </body>
</html>
