<h1>Peeps</h1>
<div id='peep'>
  <% @peeps.reverse.each do |peep| %>
    <table>
      <tr>
        <td colspan="3"><%= peep.peep %></td>
      </tr>
      <tr>
        <td colspan="2"><%= peep.username %></td>
        <td><%= peep.created_at.strftime("%d/%m/%Y %H:%M") %><td>
      </tr>
      <tr>
        <td colspan="3">
          <a href="/peeps/<%= peep.id %>/reply">reply</a>
        </td>
      </tr>
    </table>
  <% end %>
</div>
<% if current_user %>
<form action='/peeps/new'>
  <input type='submit' value='New Peep'>
</form>
<% end %>
<br>
