<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.peep_text %>
      <div></div>
      Peeped at: <%= peep.created_at %>
      <div></div>
      <%= user = User.get(id: peep.user_id)  %>
      Peeped by:<%= puts User %>
    </li>
  <% end %>
</ul>

<form action='/peeps/peepdeck' method=post>
  <label for='peep'>
    Peep away <input name='peep' type='text'>
    	<input type='submit' value='PEEP'>
  </label>
