<head>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<div id='background'>
<div id='center'>
  <ul id='peeps'>
    <% @peeps.reverse.each do |peep| %>
    <%= peep.peeper + ' peeped ' + peep.content + ' on ' + peep.time %><br>
    <%= '  Replies: ' + peep.replies.map {|reply| "#{reply.replier}: #{reply.text}" }.join("<br>") %>
    <form action='/reply'>
      <input type="hidden" name='peep_id' value='<%=peep.id%>'>
      <input value='reply' type='submit'>
    </form>
    <% end %>
  </ul>

  <form action='/add_peep'>
    <input type='submit' value='Make a peep'>
  </form>


</div>

</div>
