<% unless current_user %>

  <form method='get' action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>

  <form method='get' action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>

<% end %>

<h2> Peeps </h2>

<ul id="peeps">

  <% @peeps.each do |peep| %>
    <article> class='peep'>
      <%= peep.user.name %> <%= peep.user.username %> <br>
      <%= peep.content %><br>
      <%= peep.created_at.strftime('%c') %>
    </article>
  <% end %>

</ul>
