<ul id='peeps'>
  <% array = [] %>
  <% @peeps.each do |peep| %>
    <% string = '' %>
    <% string += peep.peeper + ' peeped ' + peep.content + ' on ' + peep.time %>
    <% array << string + ' ' %>
  <% end %>
  <% array.reverse.each do |x| %>
    <%= x %>
    <br>
  <% end %>
</ul>

<form action='/add_peep'>
  <input type='submit' value='Make a peep'>
</form>
