<body>
  <h1>Post a peep</h1>

  <form action='/peeps' method='post'>
    <input type='text' name='body'/>
    <input type='submit' value='Peep me!' style="font-family:'Amatic SC'; font-size: 25px; height: 75; width: 150px; background-color: #b3ffe2">
  </form>
</body>
