<h1> New Link </h1>

<form action='/peeps' method='post'>
  <label for='message'>
    Message:
    <input id="message" type='text' name='message' />
  </label>
  <input type='submit' value='Post'>

</form>