<h1>Search</h1>

<form action="/peeps" method="get">
  <label for="user">User </label>
  <input name="user" type="text">

  <label for="tag">Hashtag </label>
  <input name="tag" type="text">

  <input type="submit" value="Submit">
</form>
