<h2>Sign Up!</h2>

<form action='/users' method='post'>
    <label for='email'>
     Your email: <input type='email' name='email' placeholder='email@email.com'>
    </label>
    <label for="password">
     Password:  <input type="password" name='password'>
    </label>
    <input type="submit" value='Sign Up'>
</form>
