<div class="body-elements">

  <% if @user %>
    <% if @user.id %>
      <article class="status">
        <div class="welcome">
        <p>Welcome, <%= @user.name %></p>
        </div>
      </article>
    <% end %>
  <% end %>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-1 sidenav">
      </div>

      <div class="col-sm-10">
        <% @peeps.reverse.each do |peep| %>
          <article class = "comment">
            <div class="panel panel-default">
              <div class="panel-heading"><%= peep.created_at.strftime("%H:%M") %> <%= peep.created_at.strftime("%g %h") %></div>
              <div class="panel-body">
              <%= peep.message %></br>
              </div>
            </div>
          </article>
        <% end %>
      </div>

      <div class="col-sm-1 sidenav">
      </div>
    </div>
  </div>
</div>
