

<div style="color:black;padding:70px;" align="center"><h1>Welcome to Ashwini's Chitter</h1></div>

<div style="color:black;padding:20px;">
  <table border="0" width="100%" height="70px">
    <tr>
      <td align="center" height="100%">
        <form method='get' action='/peeps'>
        <input type='submit' value='View Peeps' align="right" style="display:table-cell; width:30%; height:70px;background-color:#3F9776;color:white;border-radius:15px">
        </form>
      </td>

      <td align="center" height="100%">
        <form method='get' action='/session/new'>
        <input type='submit' value='Sign In' align="right" style="display:table-cell; width:40%; height:70px;background-color:#3F9776;color:white;border-radius:15px">
       </form>
     </td>

      <td align="center" height="100%">
        <form method='get' action='/users/new'>
        <input type='submit' value='Sign Up' align="right" style="display:table-cell; width:40%; height:70px;background-color:#3F9776;color:white;border-radius:15px">
       </form>
     </td>
  </tr>
  </table>
</div>
