<h2> main page </h2>


<% unless all_twits.empty? %>
  <div id="all_twits">
    <% all_twits.each do |twit| %>
      <article class="twit">
        <div class="twit_content"><%= twit.content %></div>
        <div class="user info">
          <div class="twit_user_name">@<%= twit.user.user_name %></div>
          <div class="twit_real_name"><%= twit.user.full_name %></div>
          <div class="twit_time_stamp"><%= twit.time_stamp.strftime("%c") %></div>
        </div>
      </article>
    <% end %>
  </div>
<% end %>
