<h1> post a new twit </h1>
<form action = '/twit' method = 'POST'>
  <label for="content"> content: </label>
  <input type = "password" name = "content"/>
  <br>
  <input type = "submit" value = "sign up"/>
</form>
