<h2> post a new twit </h2>
<form action = '/twit' method = 'POST'>
  <label for="content"> content: </label>
  <input type = "text" name = "content"/>
  <br>
  <input type = "submit" value = "twit"/>
</form>
