<style>
  * {
    font-family: "Courier new", times, serif;
  }
  div { width: 60% }
</style>

<center>
<h1>Chitter</h1>
<form action="/users/new">
  <input type="submit" value="Sign up" />
</form>
</center> 
