  * {
   box-sizing: border-box;
  }

  html {
    background-color: #7FCFD2;
  }

  body{
    text-align: center;
    margin: auto;
    letter-spacing: 3px;
    color: #1D345C;
  }

  h1{
    font-size: 250%;
    margin: 20px;
  }

  h2{
    font-size: 170%;
    margin: 20px;
  }

  a{
    text-decoration: none;
  }

  form {
    margin: 10px;
    display: inline-block;
  }

  input{
    border: solid 2px;
    display: block;
    text-align: center;
    font-size: 100%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font: inherit;
    letter-spacing: 3px;
  }

  input[type=submit]{
    display: inline-block;
    color: #fff;
    background-color: #708090;
    padding: 10px;
    width: 120px
  }

  input:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
  }

  ul{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

  .posts ul {
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    border: solid 2px;
    border-radius: 5px;
    background-color: #fff;
  }

  .posts #peep {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
  }

  .posts #comments {
    width: 90%;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
  }

  .nav a.button {
    font-size: 100%;
    color: #fff;
    background-color: #708090;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px;
    width: 120px;
    margin: 10px;
    text-align: center;
  }

  .nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
  }

  #comment_button {
    width: 160px;
    text-align: center;
  }

  .posted_by, .created_at {
    color:  #708090;
  }
