body {
  background-color: gray;
}

header {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 5px;
}


header #logo {
  margin: auto 0;
  display: flex;
  font-family: Helvetica, Arial, Sans-serif;
 }