body {
  background-image:url('/img/foggy_birds.png');
  background-color: #ffb3b3;
  font-family: 'Muli', sans-serif;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
}

h3 {
  font-family: 'Muli', sans-serif;
}

.jumbotron {
  background: white;
  text-align: center;
}
