/* ----------------------

  LANES grid framework
  ====================

  Default usage
  =============
  <div class="container">
    <div class="row">
      <div class="six columns">
      </div>
      <div class="six columns">
      </div>
    </div>
  </div>

-----------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
* Grid scaffolding
*/
.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px; }

.row {
  list-style: none;
  margin-left: -20px; }
  .row:before, .row:after {
    content: '';
    display: table;
    line-height: 0; }
  .row:after {
    clear: both; }

.column, .columns {
  float: left;
  padding-left: 1.96078%; }
  .column.centered, .columns.centered {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto; }

/**
* Columns generator
*/
.column.one, .columns.one {
  width: 8.33333%; }

.column.two, .columns.two {
  width: 16.66667%; }

.column.three, .columns.three {
  width: 25%; }

.column.four, .columns.four {
  width: 33.33333%; }

.column.five, .columns.five {
  width: 41.66667%; }

.column.six, .columns.six {
  width: 50%; }

.column.seven, .columns.seven {
  width: 58.33333%; }

.column.eight, .columns.eight {
  width: 66.66667%; }

.column.nine, .columns.nine {
  width: 75%; }

.column.ten, .columns.ten {
  width: 83.33333%; }

.column.eleven, .columns.eleven {
  width: 91.66667%; }

.column.twelve, .columns.twelve {
  width: 100%; }

.column.offset-by-one, .columns.offset-by-one {
  margin-left: 8.33333%; }

.column.offset-by-two, .columns.offset-by-two {
  margin-left: 16.66667%; }

.column.offset-by-three, .columns.offset-by-three {
  margin-left: 25%; }

.column.offset-by-four, .columns.offset-by-four {
  margin-left: 33.33333%; }

.column.offset-by-five, .columns.offset-by-five {
  margin-left: 41.66667%; }

.column.offset-by-six, .columns.offset-by-six {
  margin-left: 50%; }

.column.offset-by-seven, .columns.offset-by-seven {
  margin-left: 58.33333%; }

.column.offset-by-eight, .columns.offset-by-eight {
  margin-left: 66.66667%; }

.column.offset-by-nine, .columns.offset-by-nine {
  margin-left: 75%; }

.column.offset-by-ten, .columns.offset-by-ten {
  margin-left: 83.33333%; }

.column.offset-by-eleven, .columns.offset-by-eleven {
  margin-left: 91.66667%; }

.column.offset-by-twelve, .columns.offset-by-twelve {
  margin-left: 100%; }

@media screen and (max-width: 680px) {
  .column.one, .columns.one {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-one, .columns.offset-by-one {
    margin-left: 0; }
  .column.two, .columns.two {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-two, .columns.offset-by-two {
    margin-left: 0; }
  .column.three, .columns.three {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-three, .columns.offset-by-three {
    margin-left: 0; }
  .column.four, .columns.four {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-four, .columns.offset-by-four {
    margin-left: 0; }
  .column.five, .columns.five {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-five, .columns.offset-by-five {
    margin-left: 0; }
  .column.six, .columns.six {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-six, .columns.offset-by-six {
    margin-left: 0; }
  .column.seven, .columns.seven {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-seven, .columns.offset-by-seven {
    margin-left: 0; }
  .column.eight, .columns.eight {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-eight, .columns.offset-by-eight {
    margin-left: 0; }
  .column.nine, .columns.nine {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-nine, .columns.offset-by-nine {
    margin-left: 0; }
  .column.ten, .columns.ten {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-ten, .columns.offset-by-ten {
    margin-left: 0; }
  .column.eleven, .columns.eleven {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-eleven, .columns.offset-by-eleven {
    margin-left: 0; }
  .column.twelve, .columns.twelve {
    width: 100%;
    margin-left: 0; }
  .column.offset-by-twelve, .columns.offset-by-twelve {
    margin-left: 0; } }
