main {
  flex:1;
  background-color: #FA807F;
  background-image: url(../images/london-night.jpg);
  background-size: cover;
  background-blend-mode: darken;
  }

footer {
  height: 28px;
  background-color: #FFFAFA !important;
  margin-top: 14px;
  text-align: center;
  color: red;
  font-size: 12px;
}

footer > a:link {
  color: red;
}

footer > a:visited {
  color: red;
}

.container-fluid {
  background-color: #FFFAFA !important;
}

.container {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-left: 679px !important;
  margin-top: 51px !important;
}

.navbar-brand, .navbar-text {
  color: red !important;
}

.wrapper {
  height:100vh;
  display:flex;
  flex-direction: column;
}

.form-group {
    margin-bottom: 6px !important;
}
