html {
    background-color: #F5F8FA;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: black;
}

a {
    color: black;
}

#top_bar {
    padding: 15px;
    border-bottom: black solid 1px;
    display: inline-block;
    width: 100vw;
}

.list_item {
    display: inline;
}

#chitter_feed {
    padding: 15px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.username {
    color: dimgrey;
}

.hashtag {
    color: mediumvioletred;
    text-decoration: none;
}