body {
  background-color: rgba(189, 224, 231, 0.4);
}

h1, h2, h3, h4, h5, em {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #584D4D;
}

input[type="text"] {
  margin: 0;
}

.post-peep input[type="text"],
.comment-container input[type="text"] {
  width: 70%;
}

select {
  margin: 0;
}

textarea {
  margin: 20px 0;
  width: 75%;
}

ul {
  margin-left: 0;
}

em {
  font-weight: 700;
  font-style: normal;
}

#errors{
  color: firebrick;
}


.btn-follow {
  border: 0px;
}

.btn-unfollow {
  border: 0px;
}

.main {
  background-color: transparent;
  text-align:center;
  border-radius: 5px;
}

.general-container {
  background-color: #fff;
}

.breadcrumb {
  box-shadow: 3px 3px 5px #888888;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.post-peep {
  background-color: #76C2DE;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px 0;
  box-shadow: 3px 3px 5px #888888;
}

.peep-container {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888888;
  overflow:hidden;
}

.list-none {
  list-style-type: none;
}

.peep-follow {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
}

.peep-content {
  padding: 0 10px;
  display: inline-block;
  max-width: 75%;
}

.comment-container {
  background-color: #E1E8ED;
  border-top: 1px solid #A5A8B5;
  margin: 20px 0 -20px;
  padding: 15px;
  height: 0px;
  display: none;
}

.comment {
  border-top: 1px solid #A5A8B5;
  border-bottom: 1px solid #A5A8B5;
  padding: 20px 0;
  word-wrap:break-word
}

.peep-box {
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #E1E8ED;
  border-bottom: 1px solid #E1E8ED;
  text-align: initial;
  cursor: pointer;
}

.peep-box:hover {
  background-color: #F5F8FA;;
}

.mail-form {
  padding: 20px;
}

.log-forms {
  background-color:#fff; 
  padding-top:20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
