/*html, body {
  text-align: center;
  font-family: Helvetica;
  margin:0;
  padding:0;
  display: block;
}

h1 {
  color: #061EBF;
  font-size: 45px;
  padding: 15px;
}

h2 {
  color: #061EBF;
  font-size: 25px;
  padding: 15px;
}

/*Header*/

#header {
  position: fixed;
  margin: auto;
  width: 100vw;
  height: 20vh;
  z-index: 1;
  padding: 15px;
  background-color: #f7f7eb;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#header form {
  display: inline-block;
}

/*Sign In/Up*/

#sign_in {
  background-color: #f2f2dc ;
  padding-top: 40px;
  border-radius: 10px;
  padding-left: 0;
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 30vh;
  overflow:auto;
}

label {
  color: #061EBF;
  margin: 10px;
}

input {
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

.submit {
  color: black;
  border-radius: 40px;
  }


/*Peeps*/
#peeps, #recover {
  background-color: #f2f2dc ;
  border-radius: 10px;
  padding-left: 0;
  padding-top: 40px;
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 30vh;
  overflow:auto;
}

#peep {
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
  background-color: #f2f299;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  width: 80%;
  list-style: none;
  color: blue;
}

#user {
  font-size: 14px;
  color: red;
}

#username {
  font-size: 12px;
  color: black;
}


#message {
  font-size: 25px;
  color: red;
}

/*Flash messages*/

.flash {
  list-style: none;
  z-index: 1000 ;
  top: 50vh;
}

/*compose peep*/

#compose {
 position: fixed;
 top: 50vh;
 left: 50vw;
 transform: translate(-50%, -50%);
}

#main_message {
  height: 200px;
  width: 400px;
}*/
