<h1> Hello, welcome to chitter </h1>

  <form action='/users/new'>
    <label> Click here to register </label>
    <input type='submit' value='Register'>
  </form>

  <form action='/sessions/new'>
    <label> Click here to sign in </label>
    <input type='submit' value='Sign In'>
  </form>

  <form action='/peeps'>
    <label> Click here to view the timeline </label>
    <input type='submit' value='Peeps'>
  </form>