<div class='ProfileCard'>
  <div class='ProfileCard-userfields'>
    <div class='ProfileCard-name'>
      <h2><%= current_user.name %></h2>
      <span class='ProfileCard-username'><%= current_user.username %></span>
    </div>
  </div>
</div>
