<!DOCTYPE html>
<html>
<head>
  <title>CyberTwitter - Log In</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/login_style.css">
</head>
<body>
  <div class="overlay">
    <div class="container">
      <div class="login-form">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Log In">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
