<!DOCTYPE html>
<html>
<head>
  <title>CyberTwitter - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="signup-container">
    <div class="signup-form">
      <h2>Create an Account</h2>
      <form action="/signup" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
