<html>
<head>

  </head>
  <body>
    <h1>Create your account:</h1>
    <form action="/signup" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="text" name="password">
        <input type="submit" value="Submit">
    </form>

    </body>
</html>
