<form action="/login" method="post">
  <label for="email">email:</label>
  <input type="email" name="email" /><br />
  <label for="password">password:</label>
  <input type="password" name="password" /><br /> 
  <input type="submit" value="Log in" />
</form>
