<form action="/login/new" method="POST">
  <input type="text" name="email" placeholder="you email address">
  <input type="text" name="password" placeholder="you password">
  <input type="submit" name="Leggo!">
</form>
