<% if flash[:error] %>
  <div style="width:100%;background-color:red;color:white;">
    <%= flash[:error] %>
  </div>
<% end %>
<form action="/accounts/login" method="post">
  
  <label for="email">E-mail:</label>
  <input type="email" name="email" placeholder="user@example.com" required>

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password" required>

  <input type="submit" value="Log-in!">

</form>