<h1>Create a Chitter Account</h1>

<form action="/accounts/create" method="post">
  
  <label for="email">E-mail:</label>
  <input type="email" name="email" placeholder="user@example.com" required>

  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="Test User" required>

  <label for="username">User Name:</label>
  <input type="text" name="username" placeholder="testuser" required>

  <label for="email">Password:</label>
  <input type="password" name="password" required>

  <label for="email">Password (confirm):</label>
  <input type="password" name="password_confirm" required>

  <input type="submit" value="Sign-up!">

</form>