<h1>Create a Chitter Account</h1>

<form action="/accounts/create" method="post">
  
  <label for="email">E-mail:</label>
  <input type="email" name="email" required>

  <label for="email">Password:</label>
  <input type="password" name="password" required>

  <label for="email">Password (confirm):</label>
  <input type="password" name="password_confirm" required>

  <input type="submit" value="Sign-up!">

</form>