<form action='/chitter/account' method='POST'>
<label for="full_name">Full Name:</label>
<input type="text" id="full_name" name="full_name" placeholder="John Doe"><br>

<label for="username">Userame:</label>
<input type="text" id="username" name="username" placeholder="John.D1"><br>

<label for="email">Email:</label>
<input type="text" id="email" name="email" placeholder="johndoe@anonymous.com"><br>

<label for="password">Password:</label>
<input type="password" id="password" name="password" placeholder="Johndoe"><br>

<button type="submit" class="submit" name="sign_up">Sign Up</button>
</form>