<h1> Welcome to Chitter! </h1>

<body>

"If you're already a user, please sign in below"

<form class="login" action="/login" method="post">
  Username:<br>
  <input type="text" name="username" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" name="login" value="Login">
</form>

If you're new to Chitter, hello! Please click sign up to create an account:

<form action="/users/new" method="get">
<input type="redirect" name="sign up" value="Sign Up">
</form>

</body>