<% if !current_user %>
<form action = "sessions/new" method = "get">
  <input type = "submit" value = "Sign In">
</form>
<form action = "users/new" method = "get">
  <input type = "submit" value = "Register">
</form>
<% end %>

<h1> Peeps </h1>
<ul id='peeps'>
  <% @posts.each do |post| %>
    <li>
      Peep:    <%= post.peep %>
      Time:    <%= post.created_at.strftime("%H:%M, %d/%m/%y") %>
      User:    <%= post.username %>
    </li>
  <% end %>
</ul>


<% if current_user %>
  <form action="/chitter" method="post">
    <label> Peep </label>
    <input type="text" name="message">
    <input type="submit" value="Peep!">
  </form>
<% end %>
