<h1> Peeps </h1>
<ul id='peeps'>
  <% @posts.each do |post| %>
    <li>
      Peep:    <%= post.peep %>
      Time:    <%= post.created_at %>
      User:    <%= post.username %>
    </li>
  <% end %>
  <form action = "chitter/new" method = "get"> <input type = "submit" value = "Post a peep"> </form>
</ul>
