<h1>Type your message below then click Peep</h1>
<form action="/chitter/post" method="post">
  <label for="message">
    Message:
    <input type="text" width="60" maxlength="120" name="message" /><br />
  </label>
  <input type="submit" value="Submit Peep" />
</form>
