<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>

<body>
<h1> Welcome to CHITTER! </h1>

<form action="/users/login" >
  <input type="submit" value="Login"/>
</form>

<form action="/peeps" >
  <input type="submit" value="See Peeps"/>
</form>

<form action="/users" >
  <input type="submit" value="Show Users"/>
</form>

</body>
</html>
