<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>

<body>
  <h1> Welcome to CHITTER! </h1>

  <form action="/users/new" >
    <button type="submit">SIGN UP</button>
  </form>

  <form action="/users/login" >
    <button type="submit">LOGIN</button>
  </form>

  <form action="/peeps" >
    <button type="submit">PEEPS</button>
  </form>

  <form action="/users" >
    <button type="submit">USERS</button>
  </form>

  <!-- <section class="container">
  <div class="wrap">
    <div class="pattern"></div>
  </div>

  <div class="credit">
    Background courtesy of
    <a href="http://thepatternlibrary.com/#alchemy">The Pattern Library</a>
   </div>
</section> -->

</body>
</html>
