<% @peeps.each do |peep| %>
  <div class='peep' id='peep-<%= peep.id %>'>
    <div class='card'>
      <div class=card-body>
        <%= peep.content %>
      </div>
      <div class='created-at text-muted'>
        <small>
          posted  <%= TimeConverter.time_since(peep.created_at) %>
        </small>
      </div>
    </div>
  </div>
<% end %>