<html>
  <body style="background-colour:tomato;">
    <H3> Welcome <%= $accounts.name %> </H3>

    <form action="/home" method="post">
      <textarea rows="7" cols="35" <input type="text" name="enter_peep" placeholder="What's on your mind?" required></textarea>
      <input type="submit" name="peep" value="Peep">
    </form>

  </body>

</html>