<h1>Please sign in.</h1>

<form method='post' action='/chit'>
  <p><input type='text' name='email' placeholder='Email'></p>
  <p><input type='password' name='password' placeholder='Password'></p>
  <input type='submit' value='Sign in'>
</form>