<div class="signup">
  <form action="/signup" method="post">
    <div class="form_input">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="username" required>
    </div>
    <div class="form_input">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="email" required>
    </div>
    <div class="form_input">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password" required>
    </div>
  <div class="form_input">
    <input type="submit" name="Sign Up" value="Sign Up">
  </div>
  </form>
</div>
