<h1>This is the signup form.</h1>

<form action="/signup" method="post">
    Name: <input type="text" name="name">
    Username: <input type="text" name="username">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Signup">
</form>