<h1>Log-In</h1>

<form action="/log_in" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <br>
  <input type="submit" value="Log in">
</form>
