<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<div id='background'>
<img src='https://d21buns5ku92am.cloudfront.net/46038/images/151145-chitter_logo-fd27ff-medium-1418117906.png'>
<html>
<head>
  <meta charset="utf-8">
  <title> Chitter </title>
</head>
<h1>What's on your mind?</h1>
  <form action ='/chat' method="post">
    <label for="message">
      <input type='text' name='message'/>
    </label>
    <input type='submit' value='Peep!'>
  </form>
