<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<div id='background'>
<img src='https://d21buns5ku92am.cloudfront.net/46038/images/151145-chitter_logo-fd27ff-medium-1418117906.png'>
<html>
<head>
  <meta charset="utf-8">
  <title> Chitter </title>
</head>
<body>
  <% if user_name %>
  <h2> Welcome, <%= user_name.username %>! </h2>
  <% end %>

  <form action="/chat/add" method="get">
  <input type="submit" value="Peep a new message">
  </form>

  <h3> Latest Peeps </h3>
  <ol id='peeps' reversed>
    <% @peeps.reverse_each do |peeps| %>
    <li>
    <%= peeps.time %>: @<%= peeps.peeper %> peeped "<%= peeps.message %>"
    </li>
    <% end %>
</ol>


<form action='/session' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Log out'>
</form>

<footer>
     © 2015 Chitter by Andrew Htun, while at <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> | <a href="https://github.com/Htunny" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/andrew-htun-38349b37" target="_blank">LinkedIn</a> | <a href="https://htunnycodes.wordpress.com/" target="_blank">Blog</a> |
</footer>
</body>
