<img src='https://d21buns5ku92am.cloudfront.net/46038/images/151145-chitter_logo-fd27ff-medium-1418117906.png'>
<html>
<head>
  <meta charset="utf-8">
  <title> Chitter </title>
</head>
<body>
  <% if user_name %>
  <h2> Welcome, <%= user_name.username %>! </h2>
  <% end %>

</body>
<form action='/session' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Log out'>
</form>
