<link href="./../style.css" rel="stylesheet">
<h1>Welcome
  <%=current_user.username%>!</h1>

<form action="/home/save_peeps" method="post">
  <input name="peep" placeholder="peep" type="text">
  <input type="submit" value="Peep">
</form>

<div id="log">
  <form action="/sessions" method="post">
    <input name='_method' type='hidden' value='delete'>
    <input type="submit" value="Log-out">
  </form>
</div>
<div id="peep">
  <form action="/home/peeps" method="get">
    <input type="submit" value="peeps">
  </form>
</div>
