<h1> Links </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      Content: <%= peep.content %>
      Username: <%= peep.user_handle %>
      Name: <%= peep.name %> 
      Time: <%= peep.created_at %>

    </li>
  <% end %>
</ul>

<form action="/peep/new" method='get'>
  <input type="submit" value="Write peep">
</form>