
<h2>Links</h2>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title:  <%= link.title %>
    URL:    <%= link.url %>
    Tags: <%link.tags.each do |tag| %> <%= tag.name %> <% end %>
  </li>
  <% end %>
</ul>
<form action='/links/new' method='get'>
  <label for='Add Link'>
    <input type='submit', value='Add Link'>
  </label>
</form>
<form action='/tags/:name' method='get'>
  <label for='name'>
    Tag:
    <input type='text' name='name'>
  </label>
  <input type='submit' value='Filter by tag'>
</form>
