<h1> It's peeping! </h1>

<form action = "/all" method = "gets">
  <input type = "submit" value = "Latest peeps">
</form>

<%= $peeps %>

<!-- <ul id = "user">
  <% $peeps.each do |peep| %>
  <li>
    Peep: <%= peep.text %>
  </li>
  <% end %>
</ul> !-->
