<form action="/authentication" method="post">
  <input type="text" name="username" placeholder="Useraname">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirm_password" placeholder="Confirm Password">
  <input type="submit" value="Join">
</form>
