<link href="./../style.css" rel="stylesheet">
<h1>Join or Log-in</h1>
<div id="navigation">
  <form action="/join" method="get"><br>
    <input type="submit" value="Join"><br>
  </form>
  <form action="/session/new" method="get"><br>
    <input type="submit" value="Log-in"><br>
  </form>
  <form action="/home/peeps" method="get"><br>
    <input type="submit" value="peeps"><br>
  </form>
</div>
