<form action="/home" method="post">
  <input type="text" name="Username" placeholder="Useraname">
  <input type="password" name="Password" placeholder="Password">
  <input type="password" name="Confirm_password" placeholder="Confirm Password">
  <input type="submit" value="Join">
</form>
