<html>
<body bgcolor="#81DAF5">
The email or password is incorrect.. Please try again.

<form action='/sessions' method='post'>
	<label for='mail'>
		Mail: 
	<input name='mail' type='mail'>
	</label>
	<label for='password'>
		Password: 
	<input name='password' type='password'>
	</label>
	<input type='submit' value='Sign in'>
</form>
</body>
</html>