<html>
<head>
<style>
body {
    font-family: ".fa", sans-serif;
    background: #1F1F1F;
}
h4 {
    padding-top:10px;
}
#page-wrapper {
    padding: 30px 15px;
    padding-left: 300px;
    min-height: 10px;
    background: #E8E8E8;
    color: #ff9900;
}
.boxed {

  border: 4px solid white ;
  height: 40px;
  padding: 30px 125px;
  padding-left: 300px;
  border-radius: 25px;
  width: 300px;
  text-align: center;
}
</style>
</head>

<body>
<div id="page-wrapper">
<body bgcolor="#81DAF5">

<html>

The email or password is incorrect.. Please try again.

<form action='/sessions' method='post'>
	<label for='mail'>
		Mail: 
	<input name='mail' type='mail'>
	</label>
	<label for='password'>
		Password: 
	<input name='password' type='password'>
	</label>
	<input type='submit' value='Sign in'>
</form>
</body>
</html>