<form action="/home" method="get">
  <input type="text" name="Username" placeholder="Username">
  <input type="text" name="Password" placeholder="Password">
  <input type="submit" value="Log-in">
</form>
