<link href="./../style.css" rel="stylesheet">
<form action="/sessions" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log-in">
</form>
