<form action="/home" method="post">
  <input type="text" name="user" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log-in">
</form>
