<h2>Submit a new blabb!</h2>
<div id='new-blabb'>
  <form action='/blabbs' method='post'>
    <input type='text' name='message' placeholder='blabbs'>
    <input type='submit' value='Add blabb' class='button highlighted'>
  </form>
</div>