<body>
  <h1>Add Links</h1>
  <form action="/links" method="post">
    <label for="title">
      Title: <input type="text" name="title">
    </label>
    <label for="url">
      URL: <input type="url" name="url">
    </label>
    <label for="tags">
      Tags: <input type="text" name="tags">
    </label>
    <input type="submit" value="Add Link">
  </form>
</body>
