<form action='/links' method='post'>
  <label for='title'>Website Title</label>
    <input type='text' name='message'>
  <!-- <label for='url'>Website URL</label>
    <input type='text' name='url'>
  <label for='name'>Tag</label>
    <input type='text' name='name'> -->
  <input type='submit' value='Submit'>
</form>
