<h2> New Link </h2>
<form action="/links" method="post">
  <label for='title'>
    Title:
    <input type="text" name="title">
  </label>
  <label for='url'>
    URL:
    <input type="text" name="url">
  </label>
  <label for='tags'>
    Tags:
    <input type="text" name="tags">
  </label>
  <input type="submit" value="Add Link">
</form>
