<html>

<h2> Peep </h2>

<form id='peep' action="/peep" method="post">
  <label for="name">
    Name
  <input type="text" name="name" autofocus>
  </label>
  <label for="message">
    Enter message
    <input type="text" name="message" >
  </label>
  <input type="submit" value="Peep">
</form>
