<form action="/post_peeps" method="post">
  <input type="submit" value="Post peeps">
</form>

<ul id='links'>
  <% @peeps.each do |peep| %>
  <li>
    Peep:
    <%= peep.text %><br>
    Time:
    <%= (peep.time)%>
    User:
    <%= User.first(id: peep.user_id).username%>
  </li>
  <% end %>
</ul>
