<html>

<h2> Peep </h2>

<form id='peep' action="/peep" method="post">
  <label for="message">
    Enter message
    <input type="text" name="message" maxlength="13">
  </label>
  <input type="submit" value="Peep">
</form>
