<h1>Welcome <%=current_user.username%>!</h1>
<form action="/sessions" method="post">
  <input type='hidden' name='_method' value='delete'>
  <input type="submit" value="Log-out">
</form>
<ul id='links'>
  <% @peeps.each do |peep| %>
  <li>
    Peep:
    <%= peep.text %><br>
    Time:
    <%= peep.created_at%>
  </li>
  <% end %>
</ul>
