<h1>Enter your peep here!</h1>

<form action='/peeps' method='post'>
  Content: <input type='text' name='my_peep'>
  Username: <input type='text' name='username'>
  Name: <input type='text' name='name'>
  <input type='submit' value='Peep'>
</form>