#flash welcome message on sign up!/sign in!

<h1>Chitters of the day!</h1><br><br>

<% if current_user %>
<h2>New Post</h2>
<form action='/new_post' method='post'>
  <input type='text' name='chit' placeholder="What's up?">#text box for chitter post
  <input type='submit' value='Post!'>
</form><br><br>
<% else %>
<h3>You must be signed in to post</h3><br><br>
<% end %>

<h2>Recent Posts</h2>

<% @posts.reverse.each do |post| %>
  <li>
   #link to a specific user?
    By: <%= post.user.username%><br>
    <%= post.chit %><br>
    Posted: <%= post.time %><br><br>
  </li>
<% end %>
