<h1>Register Now!</h1>
<form action="/welcome" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" value="<%= @user.email %>" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up!">
</form>


<!-- <input type="password" name="password_confirmation" placeholder="Password Confirmation"> -->
