<html>

<h2> Signup </h2>

<form action="/sign_up" method="post">
  <label for="email">
    Email address
    <input type="text" name="email" autofocus>
  </label>
  <label for="password">
    Password
    <input type="password" name="password">
  </label>
  <label for="confirm_password">
    Comfirm Password
    <input type="password" name="confirm_password">
  </label>
  <input type="submit" value="Sign up">
</form>
