
<h1>Please sign up to Chitter so post a peep!</h1>

<form action='/signup_complete' method='post'>
  Name: <input type='text' name='name'>
  Email: <input type='text' name='email'>
  Username: <input type='text' name='username'>
  Password: <input type='text' name='password'>
  <input type='submit' value='Complete Signup'>
</form>