<form method='post' action='/log-out'>
<input type='hidden' name='_method' value='delete'>
<input type='submit' value='Sign out'>
</form>
<html>

<html>
<head>
<style>
body {
    font-family: ".fa", sans-serif;
    background: #1F1F1F;
}
h4 {
    padding-top:10px;
}
#page-wrapper {
    padding: 30px 15px;
    padding-left: 300px;
    min-height: 10px;
    background: #E8E8E8;
    color: #ff9900;
}
.boxed {

  border: 4px solid white ;
  height: 40px;
  padding: 30px 125px;
  padding-left: 300px;
  border-radius: 25px;
  width: 300px;
  text-align: center;
}
</style>
</head>

<body>
<div id="page-wrapper">
<body bgcolor="#81DAF5">



</form>
<form method='post' action='/wall'>
Post a Peep:
<input name='peep' type='text'>
<input type='submit' value='Post'>
</form>
</div>
</body>


    
<% @peep.reverse.each do |peep| %>
<li>
<div class='boxed'>  
<%= peep.name %>:
<%= peep.peep %><br>
(<%= peep.time %>)
 </div>
 <style type="text/css">
  body {
    color: #ff9900;
    text-align: 

   }
  

  </style>
<li>
<% end %>

</body>
</html>