<h1>Whatchu cheeping about Willis?</h1>
<form action="/cheeps" method="post">
  <label for="body">
    Cheep: <input type="text" name="body"/>
  </label>
  <input type="submit" name="submit" value="cheep">

</form>
