<form action="/cheeps/new" method="post" class="pure-form">
  <textarea type="text" name="content" maxlength="140" id="new_cheep_box"></textarea><br/>
  <input type="submit" value="Post" class="pure-button pure-button-primary">
</form>