<nav>
   <div id='icon-container'>
     <a href='/'><i class="fab fa-cuttlefish"></i></a>
   </div>
  <ul>
    <li><a href='/'>Home → </a></li>
  </ul>
</nav>
<div class='container erro-mgs-container'>
  <h1>Sorry, that page doesn’t exist!</h1>
</div>