<style>
 .fancy {
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  border-width: 5px;
  border-color: #7E3742;
  border-radius: 15px;
  font-family: "Futura", "Helvetica";
  font-size: 22px;
    }
</style>
<body>

<h1>add your reply</h1>

<form action='/replys' method='post'>
   <textarea class='fancy' rows='3' cols='50' name='text'>
    </textarea>
    <div>
      <button  type='submit' value='Post Reply'>
        Post Reply
      </button>
    </div>
</form>

</body>
