<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1>Chitter</h1>
    <form action="/sign_up" method="GET">
      Join the Chitter community by signing up today.<br>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
