<!DOCTYPE html>
<html>
  <head>
    <title>Sign up toady!</title>
  </head>

  <body>
    <h1>Sign up</h>
    <form action="/new_user" method="POST">
      <input type="text"   name="Username" placeholder="Username" required>
      <input type="text"   name="E-mail"   placeholder="E-mail"   required>
      <input type="password"   name="Password" placeholder="Password" required>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
