<%= erb :'partials/header' %>
<%= erb :'partials/navbar' %>

<form class="filter" action="/filtered" method="post">
  <label for="searchtag">What tag do you want to search for?<label/>
  <input type="text" name="searchtag"/>
  <input type='submit' value='Submit'/>
</form>
