<%= erb :'partials/header' %>
<%= erb :'partials/navbar' %>

<div class='peepslist'>
<form class="center_div" action="/filtered" method="post">
  <label for="searchtag">What tag do you want to search for?<label/>
  <input type="text" name="searchtag"/>
  <input class = "submit" type='submit' value='Submit'/>
</form>
</div>
