<h1>Try it now </h1>

<h2>Sign up for Chitter</h2>

<div>
  <form action="/peeps" method="get">
    <input class="button" type="submit" value="View Peeps">
  </form>

  <br>
  
  <form action="/user/new" method="get">
    <input class="button" type="submit" value="Sign Up">
  </form>
</div>
