<head>
  <style>
    body {
    background-color: linen;
  }

  form {
    text-align: center;
  }

  </style>

</head>

<h1>Welcome to chitter</h1>
<div>Please sign up below</div><br>
<form action="/users" method="post">
  <input type="email" name="email", placeholder="Enter email" />
  <input type="password" name="password" placeholder= "Enter password"/>
  <input type="username" name="username" placeholder= "Enter username" />
  <input type="submit" value="Submit" />
</form>
