<h1> Sign up below </h1>
<form  action="/homepage/logged_in" method="post">
  <input type="text" name="name" placeholder="Your name">
  <input type="text" name="email" placeholder="your@email.com">
  <input type="text" name="username" placeholder="Chitter username">
  <input type="text" name="password" placeholder="password">
  <input type="submit" name="Sign Up" >
</form>
