<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Sign in</title>
  </head>
  <body>
    <h1> Sign in below: </h1>

    <form action='/homepage/sign_in' method="post">
      <label for="username">Username:</label>
        <br>
        <input type="text" name="username" placeholder="Chitter username">
        <br>
      <label for="password">Password:</label>
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
      <input type="submit" name="Sign In" >
    </form>
  </body>
</html>
