<h1> Sign in below: </h1>

<form action='/homepage/sign_in' method="post">
  <label for="username">Username:</label>
    <br>
    <input type="text" name="username" placeholder="Chitter username">
    <br>
  <label for="password">Password:</label>
    <br>
    <input type="text" name="password" placeholder="password">
    <br>
  <input type="submit" name="Sign In" >
</form>
