<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Sign Up</title>
  </head>
  <body>
    <h1> Sign up below </h1>
    <form  action="/homepage/sign_up" method="post">
      <label for="name">Name:</label>
        <br>
        <input type="text" name="name" placeholder="Your name">
        <br>
      <label for="email">Email:</label>
        <br>
        <input type="text" name="email" placeholder="your@email.com">
        <br>
      <label for="username">Username:</label>
        <br>
        <input type="text" name="username" placeholder="Chitter username">
        <br>
      <label for="password">Password:</label>
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
      <input type="submit" name="Sign Up" >
    </form>
  </body>
</html>
