<h1> Congratulations you are all signed up! </h1>
<h1> Welcome to Chitter </h1>
<form action="/homepage/sign_in" method="get">
  <!-- <input type="submit" name="Sign in" value="Sign in"> -->
  <button type="submit" name="Sign In">Sign in</button>
</form>
