Congratulations you are all signed up!
Welcome to Chitter
<form action="/homepage" method="get">
  <!-- <input type="submit" name="Sign in" value="Sign in"> -->
  <button type="button" name="Sign In">Sign in</button>
</form>
