<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Signed up</title>
  </head>
  <body>
    <h1> Congratulations you are all signed up! </h1>
    <h1> Welcome to Chitter </h1>
    <form action="/homepage/sign_in" method="get">
      <button type="submit" name="Sign In">Sign in</button>
    </form>
  </body>
</html>
