<form action="/chits/join" method="post">
  <input type="text" name="email" placeholder="Enter your email" />
  <input type="text" name="name" placeholder="Enter your name" />
  <input type="text" name="username" placeholder="Enter your username" />
  <input type="text" name="password" placeholder="Enter your password" />
  <input type="submit" value="Become a Chitter" />
</form>