<h2>Please fill in your details to sign up</h2>
<form action="/welcome" method="post">
  <label for="name">
    A name
    <input type="text" name="name" >
  </label>
  <br>
  <br>
  <label for="email">
    An email adrees
    <input type="text" name="email" >
  </label>
  <br>
  <br>
  <label for="password">
    A password
    <input type="password" name="password" >
  </label>
  <br>
  <br>
  <label for="username">
    A Username
    <input type="text" name="username" >
  </label>
  <br>
  <br>
  <input type="submit" value="Sign Up">
  </body>
</form>
  </html>