<%= erb(:HTML) %>
<center>
  <h1>Chitter App!</h1>
  <br>
  <br>
  <form action=/sign_up method=get>
    <button type=submit name=sign_up class="btn btn-warning">Sign Up</button>
  </form>
    <br>
    <br>

  <form action=/log_in method=get>
    <button type=submit class="btn btn-warning">&nbsp;Log In&nbsp;</button>
  </form>
</center>
