<!DOCTYPE html>
<html>
  <head>
  <title>Chitter</title>
  </head>
  <body>
  <h1> Welcome to Chitter! </h1> <br>

  <a href ='peeps'> Chitter Feed </a> <br><br>

  <a href ='/users/new'> Signup </a>



</body>
</html>