<div class="container">
  <div class="columns is-centered">

    <div class="column is-one-fifth">
        <% if @user %>
        <form action="/peeps/new" method="post">
          <input class="input is-large" type="text" name="message">
          <input class="input is-info has-background-info has-text-white mt-1 pl-2 pr-2 pt-1 pb-1" type="submit" value="Chitter">
        </form>
      <%end%>
    </div>

    <div class="column is-one-fifth"> </div>

    <div class="column">
      <ul>
        <% @chitters.each do |chitter| %>
          <li> <%= chitter.message %> <br> 
          <%= User.find(id: chitter.user_id).name %> - @<%= User.find(id: chitter.user_id).username %> <br>
          <%= chitter.timestamp %> </li>
          <br>
        <% end %>
      </ul>
    </div>
  
  </div>
</div>

