<form action="/messages" method='post' id='message_new'>
<br>
  <textarea name="message" form="message_new" rows="4" cols="50" placeholder="Enter Peep here..."></textarea>
  <br><br>
  <input class="btn primary" type="submit" value="Peep!"></input>
</form>