<h1> Sign Up </h1>

<p>Please enter your name, username, email address and password </p>
<br>

<form action="/sign_up" method="POST">
  Name <input type=text name=name required>
  Username <input type=text name=username required>
  Email <input type=email name=email required>
  Password <input type=password name=password>
  Password Confirmation <input type=password name=password_confirmation>
  <input type="submit" value='Submit'>
</form>

<% if flash[:errors] && !flash[:errors].empty? %>
  <div class=error>
    <ul>
      <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
