<div class="peeps">
	<h3>My Peeps</h3>
	<% current_user.messages.each do |message|%>
	<article class="peep">
		<p><%= message.text %></p>
		<p><%= message.date_time.strftime("%v - %H:%M") %></p>
		<p></p>
	</article>
	<% end %>
</div>