<form action="/sign-up_action" method="post">
  <input type="text" name="fullname" placeholder="Enter full name here">
  <input type="text" name="username" placeholder="Enter username here">
  <input type="text" name="password" placeholder="Enter password here">
  <input type="text" name="email" placeholder="Enter email here">
  <input type="submit" value="Enter details">
</form>