<div class='sign_in'>
  <h5> Leave? Surely not... </h5>

  <form action='/goodbye' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value="This is weird. You're all weird">
  </form>
</div>
