<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Chitter </title>
    <!-- <link rel="stylesheet" href='sign_up.css' type='text/css'> -->
  </head>

<body>
  <div class="wrapper">
    <div class="title">
      <h1> Chitter </h1>
      <h4> Cultivating Banal Chit Chat since 2016 </h4>
    </div>

    <div class='sign_up'>
      <h4> Join the Cult </h4>
      <form action="/sign_up" method="post">
        <label for="user_name">
          User Name:
          <input type="text" name="user_name">
        </label>

        <label for="email">
          Email:
          <input type="text" name="email">
        </label>

        <label for="password">
          Password:
          <input type="password" name="password">
        </label>

        <label for="password_confirmation">
          Confirm Password:
          <input type="password" name="password_confirmation">
        </label>

        <label for="submit" class="submitform">
          <input type="submit" value='Bizarre Initiation Ceremony This Way'>
        </label>
      </form>
    </div>

    </div>
  </body>
</html>
