<header>
<% if user %>
  <h3><%= user.name %></h3>
  <%= user.username %>
<% else %>
  <h3>User not found</h3>
  <%= params[:username] %>
<% end %>
</header>

<ul class="timeline">
  <%= peep_formatted_list %>
</ul>
