<form id='log_in' action='/sessions' method='post'>
  <input type='text' name='email' value='email'>
  <input type='text' name='password' value='password'>
  <input type='submit' value='Log in'>
</form>