<h1>Login</h1>

<form action="/user/login" method="post">
	<label for="email">Email:</label>
	<input type="email" name="email" placeholder="example@email.co.uk">
	<label for="password">Password:</label>
	<input type="password" name="password" placeholder="Enter Password">
	<input type="submit" value="Login">
</form>
