<h1>Login</h1>

<form action="/user/login" method="post">
	<label for="email">Email:</label>
	<input type="email" name="email" placeholder="example@email.com">
	<label for="password">Password:</label>
	<input type="password" name="password" placeholder="SuperSecret">
	<input type="submit" value="Login">
</form>

<p>
	<i>
		Can't login? Well that's too bad - if you really want to post something register again (but you will need a new email and username) or go cry yourself to sleep because we don't do password resets, if you really cared about Chittlr you would have bothered to atleast remember your email/password.
 	</i>
</p>