<div class='sign_in'>
  <h4> Leave? Surely not... </h4>

  <form action='/goodbye' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value="This is weird. You're all weird">
  </form>
</div>
