<form action="/user" method = "post">
  <label for = "name">
    Enter name:
  <input type = "text" name = "name" placeholder ="name" value="<%= @user.name %>"/>
  </label>
  <br>
  <label for = "username">
    Choose a username:
  <input type = "text" name = "username" placeholder ="username" value="<%= @user.username %>"/>
    </label>
    <br>
  <label for = "email">
    Enter email:
  <input type = "text" name = "email" placeholder ="email" value="<%= @user.email %>"/>
  </label>
  <br>
  <label for = "password">
    Enter password:
  <input type = "password" placeholder ="password" name = "password"/>
  </label>
  <br>
  <label for = "password_confirmation">
    Re-enter password:
  <input type = "password" name = "password_confirmation" placeholder ="confirm password"/>
  </label>
  <br>
  <input type="submit" value="Sign me up!"/>
</form>

<% if flash[:bad] %>
  <div id='notice'><%= flash[:bad] %></div>
<% end %>
