<center>
<h1> Welcome </h1>

<head> Please fill in the registeration form </head>

<form method="post" action="/">

  <input type="text"      name="name"                  placeholder="Name"><br>

  <input type="text"      name="user_name"             placeholder="User name"><br>

  <input type="email"     name="email"                 placeholder="Email"><br>

  <input type="password"  name="password"              placeholder="Password"><br>

  <input type="password"  name="password_confirmation" placeholder="Confirm password"><br>

  <button type="submit"   name="Sign up">
    Sign up
  </button>

  </form>

</center>
