<div class="wrapper">
  <form action='/user/create' method='post' class="user-form">
    <label for='name' class="emphasise-black" class="emphasise-black">Name:</label>
    <input type="text" name="name" required>
    <p>
    <label for='email' class="emphasise-black">Email:</label>
    <input type="email" name="email" required>
    <p>
    <label for='username' class="emphasise-black">Username:</label>
    <input type="text" name="username" required>
    <p>
    <label for='password' class="emphasise-black">Password:</label>
    <input type="password" name="password" required>
    <p>
    <label for='password-confirmation' class="emphasise-black">Password confirmation:</label>
    <input type="password" name="password_confirmation" required>
    <p>
    <input type="submit" value="Submit" class="button">
  </form>
</div>
