<h1>Welcome to Chitter!</h1>

<form action='/user' method='post'>
  Email: <input name='email' type='text'>
  Username: <input name='username' type='text'>
  Password: <input name='password' type='password'>
  Password Confirmation: <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>