<form action='/user' method='post'>

<div>
  Prefered username: <input type='text' name='username'>
</div>

<div>
  Name: <input type='text' name='name'>
</div>

<div>
  Email: <input type='text' name='email'>
</div>

<div>
  Password: <input type='password' name='password'>
</div>

<div>
  Confirm Password: <input type='password' name='password_confirmation'>
</div>

  <input type='submit' value="Sign up">

</form>
