<form method="post" action="/user">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="name" placeholder="First Name">
  <input type="email" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Register">
</form>
