<form action="/user/new" method="post">
  Name: <input type="text" name="name" value="">
  User name: <input type="text" name="user_name" value="">
  Email: <input type="email" name="email" value="">
  Password: <input type="password" name="password" value="">
  <button type="submit" name="Sign up">Sign up</button>
</form>
