<h1>Sign up</h1>
<form action="/user/new" method="post">
	<label for="email">Email</label>
	<input type="email" name="email" placeholder="example@email.com">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="MadPeepz">
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="SuperSecret">
	<label for="password_confirmation">Password Confirmation</label>
	<input type="password" name="password_confirmation" placeholder="SuperSecret (again)"> 
	<input type="submit" value="Sign up">
</form>
<p>
	<i>
		By clicking register you agree to the terms &amp; conditions. You also promise that you will not take anything posted on this fake twitter seriously and transfer ownership of your soul to Elena. <strong>Disclaimer:</strong> You can not become Chittlr famous - so don't even try it!
 	</i>
</p>