<div id="signup">
<h1> User signup </h1>
<form action='/user/signing_up' method='POST' >
  Email:   <input type="text" type='email' name="email" required><br /><br />
  Password:   <input type="text" name="password" /><br /><br />
  Confirm password:   <input type="text" name="password_confirmation" /><br /><br />
  Name:   <input type="text" name="name" /><br /><br />
  Username:   <input type="text" name="username" /><br /><br />
  <input type="submit" value="Sign up" />
</form>
</div>
