<h1>Sign up</h1>

<form method='post' action='/user'>
  Name: <input type='text' name='name'>
  Username: <input type='text' name='username'>
  email: <input type='email' name='email'>
  Password: <input type='pasword' name='password'>
  <button type='submit'>Start Peeping!</button>
</form>
