<div align="center">
  <h2>Please sign-up below</h2>

  <form action="/user/new" method="post">

    <label for='name'>
      Name:       <input name="name" type="text" value="" id="name">
    </label>

    <label for='user name'>
      User name:  <input name="user_name" type="text" value="" id="user name">
    </label>

    <label for='email'>
      Email:      <input name="email" type="email" value="" id="email">
    </label>

    <label for='password'>
      Password:   <input name="password" type="password" value="" id="password">
    </label>

    <input type='submit' value='Sign up' id="Sign up">

  </form>

  <form action="/">
    <button>Home</button>
  </form>

</div>
