<h1>Sign Up!</h1>

<form action='/user' method = 'POST'>
  Name:<input type='text' name='name'>
  Username:<input type='text' name ='username'>
  Email:<input type='text' name ='email'>
  <!-- Password:<input type='text' name ='password'>
  Password:<input type='text' name ='password_confirmation'> -->
  <input type ='submit' value ='Sign Up!'>
</form>
