<form method="post" action="/users">
  <input type="text" name="username" placeholder="Username" autocomplete="off" autofocus required>
  <input type="text" name="name" placeholder="Name" autocomplete="off" required>
  <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="password" name="password_confirm" placeholder="Confirm Password" required>
  <input type="submit" value="Register">
</form>
