<h1> Chitter </h1>

<form action='/' method ='POST'>
  <label for='Username'>
  Username:
    <input type='text' name='username' />
  </label><br>
  <label for='Password'>
    Password:
    <input type='text' name='password' />
  </label><br>
  <input type='submit' value='Sign Up'>
</form>
