
<form action = '/user' method = 'post'>
  <label for='first_name'>
    First Name: <input name = 'first_name' type = 'text'><br/ ><br/ >
  </label>
  <label for='second_name'>
    Second Name: <input name = 'second_name' type = 'text'><br/ ><br/ >
  </label>
  <label for='username'>
    Username: <input name = 'username' type = 'text'><br/ ><br/ >
  </label>
  <label for='email'>
    Email: <input name = 'email' type = 'email'><br/ ><br/ >
  </label>
  <label for='password'>
    Password: <input name = 'password' type = 'password'><br/ ><br/ >
  </label>
  <label for='password_confirmation'>
    Re-enter password: <input name = 'password_confirmation' type = 'password'><br/><br/>
  <input type = 'submit' value = 'register'><br/ ><br/ >
</form>
