<form action='/user/signup' method=post>
  Name: <input type='text' name='name' value="#{@user.name}">
  E-Mail: <input type='email' name='email' value="#{@user.email}" required>
  Password: <input type='password' name='password' required>
  Confirm Password <input type='password' name='password_confirm' required>
  <input type='submit' value='Sign up'>
</form> 