<form action="/user/new" method="post">
	<input type="email" name="email" placeholder="Email">
	<input type="username" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="password_confirmation" placeholder="Password Confirmation">
	<input type="submit" value="Register">
</form>