<div>
  <h1>Enter the following to sign up.</h1>
  <div>
  <form action='/user' method='post'>
    <p>Name</p>
    <input type="text" name="name">
    <p>User Name</p>
    <input type="text" name="user_name">
    <p>Email</p>
    <input type="text" name="email">
    <p>Password</p>
    <input type="password" name="password">
    <p>Confirm Password</p>
    <input type="password" name="password_confirmation">
    <input type="submit" value="Sign up">
  </form> 
</div>
</div>