<form action='/user/create' method='post'>
  Name:
  <input type="text" name="name" required>
  <br>
  Email:
  <input type="email" name="email" required>
  <br>
  Username:
  <input type="text" name="username" required>
  <br>
  Password:
  <input type="password" name="password" required>
  <br>
  Password confirmation:
  <input type="password" name="password_confirmation" required>
  <br>
  <input type="submit" value="Sign up">
</form>
