<form action='/user/new' method='post'>
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Add Me" />
</form>