<form action='/user' method='post'>

<div>
<label for='username'>
  Username: <input type='text' name='username'>
</label>
</div>

<div>
<label for='email'>
  Email: <input type='text' name='email'>
</label>
</div>

<div>
<label for='password'>
  Password: <input type='password' name='password'>
</label>
</div>

<div>
<label for='password_confirmation'>
  Confirm Password: <input type='password' name='password_confirmation'>
</label>
</div>

  <input type='submit' value="Sign up">

</form>
