<!DOCTYPE html>
<html>
<head> <%= erb :'head' %> </head>
<div style="margin:auto;width:70%;padding: 50px;text-align: center;">
<form action="/users/new" method="post" >
  <input type="text" name="username" placeholder="Username" value="<%= @user.username %>">
  <br />
  <br />
  <input type="text" name="email" placeholder="Email" value="<%= @user.email %>" required>
  <br />
  <br />
  <input type="text" name="password" placeholder="Password">
  <br />
  <br />
  <input type="text" name="password_confirmation" placeholder="Confirm password">
  <br />
  <br />
  <div class="form-actions">
   <input type="submit" value="Sign up!">
 </div>
 </form>
</div>
</html>
