<h1>New User</h1>

<form action='/user/new' method='POST'>
  <label for='email'>Email:
    <input type='text' required name='email' />
  </label>
  <label for='username'>Username:
    <input type='text' required name='username' />
  </label>
  <label for='password'>Password:
    <input type='text' required name='password' />
  </label>
  <label for='password_confirmation'>Confirm password:
    <input type='text' required name='password_confirmation' />
  </label>
  <input type='submit' value='Sign up'>
</form>
