<h1> Welcome to Chitter! </h1>

<form action='/user' method='post' >

  <label for='full_name' >
    Name: <input type='text' name='full_name' >
  </label> <br>

  <label for='user_name' >
    User name: <input type='text' name='user_name' >
  </label> <br>

  <label for='email' >
    Email: <input type='email' name='email' >
  </label> <br>

  <label for='password' >
    Password: <input type='password' name='password' >
  </label> <br>

  <label for='password_confirmation' >
    Password confirmation: <input type='password' name='password_confirmation' >
  </label> <br>

  <input type='submit' value='Sign up' >

</form>
