<h1>Sign up</h1>

<form method='post' action='/user'>
  Name: <input type='text' name='name' value='<%= @user.name %>'>
  Username: <input type='text' name='username' value='<%= @user.username %>'>
  email: <input type='email' name='email' value='<%= @user.email %>'>
  Password: <input type='pasword' name='password'>
  <button type='submit'>Start Peeping!</button>
</form>
