<div class="wrapper">
  <form action='/user/create' method='post' class="user-form">
    Name:
    <input type="text" name="name" required>
    <p>
    Email:
    <input type="email" name="email" required>
    <p>
    Username:
    <input type="text" name="username" required>
    <p>
    Password:
    <input type="password" name="password" required>
    <p>
    Password confirmation:
    <input type="password" name="password_confirmation" required>
    <p>
    <input type="submit" value="Submit" class="button">
  </form>
</div>
