<h1>Please sign up</h1>

<form action='/user' method='post'>
  <label for='name'>
    Name: <input name='name' type='text'>
  </label>
  <label for='email'>
    Email: <input name='email' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
   Password: <input name='password_confirmation' type='password'>
 </label>
  <input type='submit' value='Sign up'>
</form>
