<form action="/user" method="post">
  <input type="text" name="name" value="name">
  <input type="text" name="username" value="username">
  <input type="text" name="email" value="email">
  <input type="text" name="password" value="password">
  <input type="submit" name="sign up" value="Sign Up">
</form>
