<form action='/user/add' method='post'>
  <input type='email' name='email' placeholder="Email:">
  <br>
  <br>
  <input type='password' name='password' placeholder="Password:">
  <br>
  <br>
  <input type='password' name='password_confirmation' placeholder="Confirm password:">
  <br>
  <br>
  <input type='text' name='name' placeholder="Name:">
  <br>
  <br>
  <input type='text' name='user_name' placeholder="User name:">
  <br>
  <br>
  <input type='submit' value='Sign up'>
</form>

<br>
<br>
<br>
<br>
<form action='/home' method='get'>
  <input type='submit' value="Home">
</form>
