<h1>Sign up</h1>
<form action="/user/new" method="post">
	<label for="email">Email</label>
	<input type="email" name="email" placeholder="example@email.co.uk">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="Username">
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Enter Password">
	<label for="password_confirmation">Password Confirmation</label>
	<input type="password" name="password_confirmation" placeholder="Enter Password (again)">
	<input type="submit" value="Sign up">
</form>
