<h1>Sign up</h1>

<form method='post' action='/user'>
  Name: <input type='text' name='name' value='<%= @user.name %>' required>
  Username: <input type='text' name='username' value='<%= @user.username %>' required>
  email: <input type='email' name='email' value='<%= @user.email %>' required>
  Password: <input type='password' name='password' required>
  <button type='submit'>Start Peeping!</button>
</form>
