<form id='register' action='/users' method='post'>
  <input type='text' name='email' value='email'>
  <input type='text' name= 'username' value='username'>
  <input type='password' name='password'>
  <!-- <input type='text' name='password_confirmation' value='confirm password'> -->
  <input type='submit' value='Sign up for Chitter'>
</form>