<div id="register">
<form action="/register" method="post">
  Please enter your details here:
  <label for="name">
    Name: <input type="text" name="name">
  </label><br>
  <label for="username">
    Username: <input type="text" name="username">
  </label><br>
  <label for="email">
    Email: <input type="email" name="email" <%= "value=\"#{@user.email}\"" if @user %>>
  </label><br>
  <label for="password">
    Password: <input type="password" name="password">
  </label><br>
  <label for="password_confirmation">
    Confirm password: <input type="password" name="password_confirmation">
  </label><br>
  <input type="submit" value="register">
</form>