<form action='/users' method='POST'>
  <label for='email'>
    Email:
    <input type='email' name='email' required>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password' required>
  </label>
  <label for='name'>
    Your name:
    <input type='text' name='name' required>
  </label>
  <label for='nickname'>
    Your handle:
    <input type='text' name='nickname' required>
  </label>
  <input type='submit' value='Sign Up'>
</form>
