<form method='post' action='/user'>
  Username: <input type='text' name='username' value='<%= @user.username %>' required>
  Password: <input type='pasword' name='password' required>
  <button type='submit'>Sign in!</button>
</form>

<div>
  Not got an account?
    <a href='/user/new'><button>Sign Up</button></a>
</div>
