<h1> Sign up to Chitter</h1>

  <form action="/user/sign_up" method="post">
    <ul>
      <li>Name<input type="text" name="name" placeholder="Greg Greenwald" required></li>
      <li>Chitter handle<input type="text" name="user_name" placeholder="greengreg" required></li>
      <li>Email<input type="email" name="email" placeholder="greg@greenwald.com" required></li>
      <li>Password<input type="password" name="password" placeholder="2$8(dr1[" required></li>
      <li><input type="submit" value="Sign Up"></li>
    </ul>
  </form>
