<form action='/user/sign_up' method='post'>
  <label for='user_name'>
    Username: <input type='text' name='user_name'>
  </label>
  <label for='email'>
    Email: <input type='text' name='email'>
  </label>
  <label for='password'>
    Password: <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>
    Confirm Password: <input type='password' name='password_confirmation'>
  </label>
  <input type='submit' value='Register'>
</form>
