<form action='/user/signin' method='post'>
  Email: <input type='text' name='email' id='email' required pattern='[A-Z|a-z|1-9]+@[A-Z|a-z|1-9]+\.[A-Z|a-z|1-9]+' >
  Password: <input type='password' name='password' id='password'>
  <input type='submit' value='Signin'>
</form>
