<form action='/register_user' method='post'>
  <input type='text' name='name' placeholder="Name" value='<%= @name %>'>
  <br>
  <input type='text' name='username' placeholder="Username" value='<%= @user_name %>'>
  <br>
  <input type='text' name='email' placeholder="email address" value='<%= @email %>'>
  <br>
  <input type='text' name='password' placeholder='password'>
  <br>
  <input type='text' name='password_confirmation' placeholder='confirm password'>
  <br>
  <input type='submit' value='Submit'>
</form>
<form action='/' method='get'>
  <input type='submit' value="Cancel"><br>
</form>

<% session[:errors] && session[:errors].each do |error| %>
  <%= error %><br>
<% end %>
