<h1> We're glad you've joined us, <%= current_user.full_name %>. </h1>

<p> Kinda like Twitter, but a bit sh*tter. Chitter is the newest way to keep up to date with the most important news and media. </p>

<form action='/messages' method='get' >
  <input type='submit' value="Let's get started">
</form>
