<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Welcome <%= @user %> </title>
    <!-- <link rel="stylesheet" href='sign_up.css' type='text/css'> -->
  </head>

  <body>
    <h1> Welcome to Chitter <%= @user %> Brother </h1>

    <form action="/chitter" method="get">
      <input type="submit" value="Take Me To My Brethrin">
    </form>

  </body>
</html>
