<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Welcome <%= @user %> </title>
    <!-- <link rel="stylesheet" href='sign_up.css' type='text/css'> -->
  </head>

  <body>
    <h1> Welcome to Chitter <%= @user %> </h1>
  </body>
</html>
