<h1> Welcome to the Chitter! </h1>

 Are you an existing user? Please sign in:

 <form action='/user' method='post'>
 	  <label for='email'>
 		Email address:
 	  <input type='email' name='email'>
 	  </label>
 	  <label for='password'>
 	    Password:
 	    <input type='password' name='password'>
 	  </label>
 	  <input type='submit' value='Sign in'>
 </form>

 Register:
 <form action='/new_user'>
      <input type='submit' value='Register'>
 </form>
