<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    <h1>Please Login</h1>
    <form action='/sessions' method='post'>
      <input type='text'     name='email'    placeholder='E-mail'   required>
      <input type='password' name='password' placeholder='Password' required>
      <input type='submit'   value='Login'>
    </form>
  </body>
</html>
