<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/../styles.css">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Post a New Peep</h1>
    <form action='/chitter' method='post'>
      <input type='text' name='peep' class='post_peep'>
      <input type='submit' value='Post Peep'>
    </form>
  </body>
</html>