<h1> Message in a Bottle </h1>

<form action="/message" method="post" id="messageform">

  <input type="submit" value="Cork the bottle">
</form>

<textarea name='message' form='messageform' rows="4" cols="50"></textarea>
