<html>

  <body>
    <h1>PEEPS</h1>

    <form action='/peeps/new-peep'>
      <input type='submit' value='add new peep'/>
    </form>

    <ul>
      <% @peeps.each do |peep| %>
      <li class ='peeps'><%= peep.message %> <%= peep.created_at %></li>
      <% end %>
    </ul>

  </body>

</html>
