@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tinos&display=swap');

body {
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333399,
    #ff00cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333399,
    #ff00cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: greenyellow;
}