@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tinos&display=swap');

body {
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333399,
    #ff00cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333399,
    #ff00cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.notice {
    font-family: 'Tinos', serif;
    font-size: x-large;
    color: white;
    text-align: center;
    margin: auto;
    letter-spacing: 20px;
  }

.logo {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: greenyellow;
}

.registration-form {
    background-color: lightgray;
    border: thin dashed black;
    width: 50%;
    padding: 15px;
    margin: auto;
}

.registration-form input {
    margin: 5px;
    width: 200px;
}

.registration-form button {
    margin: 5px;
}

.registration-form h4 {
    letter-spacing: 10px;
    text-shadow: 2px 2px #ff00cc;
}