@media all and (max-width: 700px) {

#welcome_message {
  display: none;
}

}


@media all and (max-width: 845px) {

#title {
  display: none;
}

}


@media all and (max-width: 1250px) {

header img {
  margin-left: 5%;
}

header #sign_in_links {
  margin-right: 5%;
}

#timeline_title {
  font-size: 25px;
}

}