@media all and (max-width: 1000px) {

#welcome_message {
  display: none;
}

}

@media all and (max-width: 700px) {

header img {
  margin-left: 5%;
}

header #sign_in_links {
  margin-right: 5%;
}

h1 {
  font-size: 25px;
}

}

