<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sayonara!</h1>
    <form action='/'>
        <input type='submit' value='Home'>
    </form>
  </body>
</html>
