<form action="/sessions" method="post">
  <input type="username" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="sign in">
</form>
