<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>

<h1>Log in to Chitter</h1>

<form action="/sessions" method="post">

  Username <input type="text" name="username" placeholder="username">
  Password <input type="text" name="password" placeholder="password">

  <input type="submit" value="Log In">
</form>
<br>
<a href="/">Back</a>