"LOGIN"
<form action="/sessions" method="post">
  <label for="email" >
    email:
    <input type="text" name="email" >
  </label>
  <label for="user_password" >
    password:
    <input type="password" name="user_password" >
  </label>
    <input type="submit" value="Get Chitting" >
</form>