<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="/">Chitter</a></h1>
    </br>
    <h2 style="background: #E3FF47;">LOGIN SUCCESS</h2>
    </br>   
    <h2><a href="/peeps">See your Peep!</a></h2>
    <h2><a href="/peeps/new">Post another Peep!</a></h2>
    <h2><a href="/users/signup">Sign up!</a></h2>
  </body>
  <footer>
    &copy; <a href="/">Chitter</a> <%= @current_year %>
  </footer>
</html>