<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="Type in your email"/>
  <input type="password" name="password" placeholder="Type in your password"/>
  <input type="submit" value="Log in"/>
</form>
<a href="/users/new">Don't have an account? Sign up</a>
