
<head>
  <link rel="stylesheet" type="text/css" href="./new.css">
</head>

<body>
  <div class = "form-div">
    <form action="/sessions" method="post">
      <label>Username</label>
      <input id= "username" type="text" name="username" />
      <label>Password</label>
      <input id= "password" type="password" name="password" />
      <input type="submit" value="Sign in" />
    </form>
  </div>
</body>
