<div class="center-block">
   <h1> Please log in to your account </h1> 

<div class="form"> 
   <div class="form-group-wrap">
      <form action="/sessions" method="post">
        <div class="form-group">
          <input type="email" name="email" placeholder="email" required />  
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="password" required />
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Log In" />
        </div>
      </form>
    <div>
    <p class="message">Not registered? <a href="/users/new">Create an account</a></p>
    </div>
</div>


