

<form action="/sessions/new" method="post">
  <input type="email" name="email" />
  <br>
  <input type="password" name="password" />
  <br></br>
  <input type="submit" value="Sign in" />
</form>
<h2>
<%= flash[:notice] %>
</h2>
