<h2>
  <%= flash[:notice] %>
</h2>

<form action="/sessions" method="post">
  Email: <br>
  <input type="email" name="email" /><br><br>
  Password: <br>
  <input type="password" name="password" /><br><br>
  <input type="submit" value="Log on" />
</form>
<br>

<form action="/users/new" method="get">
  <input type="submit" value="Sign Up" />
</form>
