<h1>Sign in</h1>

<form action='/sessions' method='post'>
	<label for='email'>
    <p>Email address: </p>
    <input type='email' name='email' required>
  </label>
  <label for='password'>
  	<p>Password:</p>
  	<input type='password' name='password' required>
  </label>
  <input type='submit' value='Sign in'>
</form>