<form action="/sessions" method="post">
  <label for="username">User Name
    <input type="text" name="username"><br>
  </label>
  <label for="password">Password
    <input type="password" name="password"><br>
  </label>
  <input type="submit" value="Submit>
</form>
