<form action='/sessions' method='post'>
  <div class="sign_in_wrapper">
    Email&nbsp;: <input name='email' type='email' required><br>
    Password&nbsp;: <input name='password' type='password' required><br><br>
  </div>
  <input type='submit' value='Sign In'>
</form>
