<!DOCTYPE HTML>
<html>
  <head>
    <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
    <link href="/css/buttons.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 7]> 
      <style type="text/css" media="all"> 
      @import url("cssbuttons/ieBrowserHacks.css");
      </style>
    <![endif]--> 
  </head>
  <body>
    <div class="wrapper">
      <header class="header">Welcome to Chitter. Let's log you in!</header>
      <menu class="menu">
        <div class="form">
          <form action="/sessions" method="post">
            <label for="email">email: </label>
            <input type="email" id="email" name="email"/>
            <label for="password">password: </label>
            <input type="password" id="password" name="password"/>
          </div>
            <div class="cssbutton colors blue">
              <input type="submit" value="Log in"/>
            </div>
          </form>
        </div>
      </menu>

      <main>
        
      </main>
      <footer class="footer"></footer>

    </div>
  </body>
</html>
