<h2>
 <%= flash[:notice] %>
</h2>
<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Sign in"/>
</form>