<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/sessions" method="post">
      <label for="email">Email:</label><br>
      <input type="text" name="email"><br>
      <label for="title">Password:</label><br>
      <input type="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
