<h1>Chitter</h1>
<form class="login" action="/sessions" method="post">
  Email<br>
  <input type="text" name="email" value=""><br>
  Password<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" name="login" value="Login">
</form>
<% if @msg != '' %>
<h3><%= @msg %></h3>
<% end %>
