<h3>Please enter your login details below.</h3>

<form action = '/sessions' method = 'post'>

  <label for='username'>Username</label>
  <input type="text" maxlength="20" name="username" required>

  <label for='password'>Password</label>
  <input type="password" maxlength="20" name="password" required>

  <div>
    <%= flash[:notice] %>
  </div>

  <input type="submit" value="Submit">
</form>
