<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>
<body>

<h2> Please enter login details</h2>

<br>
<br>
<h2>
  <%= flash[:notice] %>
</h2>
<form action='/sessions' method='post'>
  <input type='email' name='email' placeholder='Email'/>
<br>
<br>
  <input type='password' name='password' placeholder='Password'/>
<br>
<br>
  <input type='submit' value='Sign in'/>
</form>

</ul>
</div>
</body>
</html>