+ <h2>
+   <%= flash[:notice] %>
+ </h2>

<form action = '/sessions' method = 'post'>
  <label for 'email'> Email: </label>
  <input type = 'text' name = 'email' placeholder = "Email"/>
  <br>
  <label for 'password'> Password: </label>
  <input type = 'text' name = 'password' placeholder = "Password"/>
  <br>
  <input type= 'submit' value = 'Sign in'/>
</form>
