<h2>Welcome, please sign in here</h2>
<form action="/sessions" method="post">
  <label>Email</label>
  <input type="email" name="email" value="" required placeholder="Enter email address to sign in">
  <label for="">Password</label>
  <input type="password" name="password" value="">
  <br>
  <input type="reset" value="Clear">
  <input type="submit" value="Log In!">
</form>
