<!-- User sign in page -->

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="Enter email:">
  <input type="password" name="password" placeholder="Enter password">
  <input type="submit" value="Sign in">
</form>
