<h1>Sign in</h1>
<form action="/sessions" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>

<h2><%= flash[:notice] %></h2>
