<h1>Please log in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label></br>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label></br>
  <input class='button2' type='submit' value='Log in'>
</form>
