<link rel="stylesheet" href="/style.css"/>

<div id=body>

  <div id="header">
    <div id="title">
      chitter
    </div>
    <div id="tagline">
      Where too many chits make a chat
    </div>
  </div>

  <p><%= flash[:invalid_credentials] %></p>

  <div id="log_in">
    <p>Please enter your details:</p>
    <form action="/sessions" method="post">
        <div class="field"><div class="label">Email</div><div class="box"><input type="text" name="email"></div></div>
        <div class="field"><div class="label">Password</div><div class="box"><input type="password" name="password"></div></div>
      <input type="submit" value="Log In">
    </form>
  </div>

  <p>Don't have an account yet? Click <a href="/users/new ">here</a> to sign up</p>

</div>
