<p>
  Sign in to Chitter
</p>
<%= flash[:notice] %>
<form action='/sessions' method='post'>
  Username:
  <input type='text' name='username'>
  Password:
  <input type='text' name='password'>
  <input type='submit' name='Sign In'>
</form>
