<!DOCTYPE html>
<html>

<head>

  <link rel='stylesheet' type='text/css' href='normalize.css'/>
  <link rel='stylesheet' type='text/css' href='/style.css'/>

</head>

<body>

<h1>sign in</h1>

<form id="sign_in" action='/sessions' method='post'>
  <label for='email'>
    email <input name='email' type='email'>
  </label>
  <label for='password'>
    password <input name='password' type='password'>
  </label>
  <input class="button" type='submit' value='sign in'>
</form>

</body>

</html>
