<h1>sign in</h1>

<form action='/sessions' method='post'
  <label for='email'>
    email <input name='email' type='email'>
  </label>
  <label for='password'>
    password <input name='password' type='password'>
  </label>
  <input type='submit' value='sign in'>
</form>
