<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

log in

<form action='/sessions' method='post'>
  Email:    <input type='text' name='email'>
  password: <input type='password' name='password'>
            <input type='submit' value='log in'>
            <input type='submit' value='forgoten password'>
</form>
