<head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
   </head>

<html>
   <%= flash[:notice] %>
   <body style="background-color:rgb(66, 190, 194)">
    <h1><center>Sign in:</center></h1><br><br>
    <form action="/sessions" method="post">
      <label for="sign-up-details"><br><br>
      email
      <input type="text" name="email" required><br><br>
      Password
      <input type="password" name="password" required><br><br>
      <input type="submit" value="Sign in">
    </form></center> 
  </body> 
</html>

<%= flash[:notice] %>
