Please sign in.

<form method='post' action='/sessions'>
  Username: <input type='text' name='username'>
  Password: <input type='text' name='password'>
  <input type='submit' value='Sign in'>
</form>
