<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Chitter</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
  .navbar-nav {
    display: inline-block;
  }
  .navbar-nav ul li {
    padding-right: 15px;
  }
  .navbar-nav a {
    font-size: 1.5em;
  }
  </style>
</head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li class="navbar-nav"><a class="navbar-nav" href="/peeps">Home</a></li>
          <li class="navbar-nav"><a class="navbar-nav" href="/users/new">Sign up</a></li>
          <li class="navbar-nav"><a class="navbar-nav" href="/sessions/new">Log in</a></li>
        </ul>
    </nav>
  <div class="container">
    <h3>Sign in</h3>
    <h3>Enter email and password to sing in</h3>

      <h3>
      <%= flash.now[:notice] %>
      </h3>

        <br>
    <form action="/sessions" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Sign in">
    </form>
    </div>
  </body>
</html>
