<%require 'sinatra/flash'%>

<head>
  <link rel="stylesheet" type="text/css" href="<%= url("./new.css")%>">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
</head>

<body>
  <div id = "form-div">
    <form id="form" action="/sessions" method="post">
      <label id ="login">Log in</label>
      </br>
      </br>
      <label>Username</label>
      <input id= "form-input" type="text" name="username" />
      <label>Password</label>
      <input id= "form-input" type="password" name="password" />
      <input id= "form-input" class="submit" type="submit" value="Sign in" />
    </form>
  </div>
</body>
