Please log in
<br>
<br>
<form method="post" action="/sessions">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Log in">
</form>