<h2>
  <%= flash[:notice] %>
</h2>
<h2>
<form action="/sessions" method="post">
  <input type='email' name="email"> Email
  <input type='password' name='password'> Password
  <button type='submit' name= "Submit"> Sign In </button>
</form>
</h2>
