<h1>User sign in</h1>
<h2>
  <%= flash[:notice] %>
</h2>
<form action="/sessions" method="post">
<table id="sign_up_border">
<tr><td style="text-align:left">Email:</td><td style="text-align:left"><input type="email" name="email" placeholder="Email" /></td></tr>
<tr><td style="text-align:left">Password:</td><td style="text-align:left"><input type="password" name="password" placeholder="Password" /></td></tr> 
</table>
<br>
<input class="button" type="submit" value="Sign in">
</form>

</div>


