<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <title>Chitter: sign in</title>
  </head>
  <body>
    <div class="main">
      <h3>Chitter</h3>
      <h4>Sign in</h4>

      <h2>
        <%= flash[:notice] %>
      </h2>

      <form action="/sessions" method="post">
        <p>Email address</p>
        <input type="email" name="email" placeholder="Email" />
        <br>
        <p>Password</p>
        <input type="password" name="password" placeholder="Password" />
        <br>
        <br>
        <input class="button" type="submit" value="Sign in" />
      </form>
    </div>
    
  </body>
</html>

