<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Chitter | Login </title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">
				  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
					Chitter
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/peeps">All Peeps</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign up</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/sessions/new">Log in</a>
						</li>
            <li class="nav-item">
							<a class="nav-link" href="/peeps/new">Add a new Peep</a>
						</li>
					</ul>
				</div>
		  </nav>
      
      <div class="jumbotron">
		    <div class="container">
          <h1>Join Chitter today.</h1>
          <a>See what’s happening in the world right now.</a>
          <br>
						<div class="container">
							<div class="row">
								<div class="col-lg-10 col-xl-9 mx-auto">
									<div class="card card-signin flex-row my-5">
										<div class="card-img-left d-none d-md-flex">

										</div>
										<div class="card-body">
											<h5 class="card-title text-center">Login</h5>
											<form class="form-signin" action="/peeps" >

												<div class="form-label-group">
													<input type="text" id="inputHandle" name="handle" class="form-control" placeholder="Chitter Handle" required autofocus>
													<label for="inputHandle">@Chitter_handle</label>
												</div>
												
												<div class="form-label-group">
													<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
													<label for="inputPassword">Password</label>
												</div>

												<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>

												<hr>
												<a class="d-block text-center mt-2 small" href="/signup">New user? Register with Chitter here</a>
												<hr class="my-4">
		
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
  			</div>
		</div>
	</body>
</html>