<center>
<h2> Sign in using your email </h2>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Log in" />
</form>

<%= styled_flash %>
</center>
