<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      body {
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Chitter!</title>
  </head>
  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Welcome to Chitter!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="users/new">Sign in!</a>
            </li> -->
           <!--  <li class="nav-item active">
              <a class="nav-link" href="/bookmarks/new">Create</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body style="background-color: black">
<div class="row" style="margin-top: 4em; align-items: center; justify-content: center;">
  <div class="col-sm-4" style="margin-top: 1.5%">
    <div class="card">
      <div class="card-body">
        <form action="/sessions" method="post" class="container" >
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
            <small class="form-text text-muted">Your Email?</small>
            <label>Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputEmail1" placeholder="Enter Password">
            <small class="form-text text-muted">Your Password?</small>
          </div>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        <h2><%= flash[:notice] %></h2>
      </div>
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>