<!-- Sign in to Chitter -->
<center>
  Log in to Chitter
  <form action="/sessions" method="post">
    Email: <input type="email" name="sign_in_email"><br>
    Password: <input type="password" name="sign_in_password">
    <input type="submit" value="Sign In">
  </form>
</center>
