<form action='/sessions/new' method='post'>
  <h4>Please enter details below...</h4>
  <p><label>Username:</label> <input type='text' name='username' value='<%= @username %>'>
  <p><label>Password:</label> <input type='password' name='password'>
  <input type='submit' value='Enter'>
</form>