<form method="post" action="/sessions/new">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
</form>
<form>
  <input type="submit" value="Register">
</form>