<form action="/sessions" method="post">
  <label for="email">email: </label>
  <input type="email" id="email" name="email"/>
  <label for="password">password: </label>
  <input type="password" id="password" name="password"/>
  <input type="submit" value="Log in"/>
</form>
