<form method="post" action="/sessions">
  <label for="email">Email address:</label>
  <input type="email" name="email"/>

  <label for="password">Password:</label>
  <input type="text" name="password"/>

  <input type="submit" value="Sign in"/>
</form>