<div class="enter_form">
<form action="/sessions/new" method="POST" class="form">
  <input type="text" name="username" placeholder="Enter your username" class="main_page_input">
  <input type="password" name="password" placeholder="Enter your password" class="main_page_input">
  <input type="submit" value="Submit" class="main_page_input">
</form>
</div>
