<form action='/session' method='post'>
<input type='email' name='email' placeholder='Please type your email'>
<input type='password' name='password' placeholder='Please type your password'>
<input type='submit' value='Log in'>
</form>