<h3>Enter your details to login with an existing account.</h3>
<form action="/sessions" method='post'>  
  <input type='text' name='username' maxlength="20" placeholder='Username' required>
  <input type='password' name='password' maxlength="20" placeholder='Password' required>
  <input type='submit' value='Sign in'>
</form>
<h3><%= flash[:notice] %></h3>
<br>
<h3>If you don't have an account, create one below!</h3>
<form action='/users/new' method='get'>
  <input type='submit' value='Create account'>
</form>
