<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/chitter.png" />
  <title>Chitter</title>
</head>
<body>
  <header>
    <a href="/">Home</a>
  </header>
  <form action="/sessions" method="post">
    <div class="user-form">
      <h2>Sign in</h2>
      <div class="error-msg">
        <h5><%= flash[:error] %></h5>
      </div>
      <label for="email">Email</label>
      <input type="email" name="email" maxlength="60">
      <label for="password">Password</label>
      <input type="password" name="password" maxlength="140">
      <input type="submit" value="Sign in">
    </div>
  </form>
  <h2>
    <%= flash[:error] %>
  </h2>
</body>
</html>