<style>

  #signUpHeader {
    background-color: #5a6b8a;
    color: #F4FAFF;
    padding: 20px;
    text-align: left;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: 30px arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

  #signUp {

    background-color: #7aa19d;
    color: #F4FAFF;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: 30px arial, sans-serif;
  }

  #textField {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=submit] {
      padding:12px 12px;
      background:#ccc;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: 18px;
  }

</style>

<h1 id="signUpHeader">Log in to Chitter</h1>
<form id="signUp" action="/sessions" method="post">
  <input id="textField" type="text" name="email" placeholder="email address"/>
  <input id="textField" type="password" name="password" placeholder="password"/>
  <input type="submit" value="Log in" />
</form>
