<%= styled_flash %>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="log in">
</form>
