<h2>Sign in</h2>
<br>
<form action="/sessions" method="post">
  <input type="username" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Sign in" />
</form>
</br>
