<%= styled_flash %>

<div>
  <p>Sign in</p>
  <form action="/sessions" method="post">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Sign in" />
  </form>
</div>

<div>
  <p>Or create an account</p>
  <form action="/users" method="post">
    <input type="email" name="email" />
    <input type="name" name="name" />
    <input type="password" name="password" />
    <input type="submit" value="Create account" />
  </form>
</div>
