<div style="font-family:Verdana">
  <h1>Sign in</h1>
  <h2 style="color:red">
    <%= flash[:notice] %>
  </h2>
  <br>
    <form action="/sessions" method="post">
      <input type="username" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="submit" value="Sign in"/>
    </form>
  </br>
</div>