<%# <form action="/sessions" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form> %>

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href="<%= url("/login.css")%>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
  </head>
  <body>
    <div class="login-form">
      <h1>Login</h1>
      <form action="/sessions" method="post">
        <input type="email" name="email" class="input-box" placeholder="Enter email"/>
        <input type="password" name="password" class="input-box" placeholder="Enter password"/>

        <button type="submit" class="login-btn" value="Login">Login</button>
      
      <hr>
        <p class="or">OR</p>

        <p>Don't have an account? <a href="/users/new">Sign up</p>
      
      </form>
    </div>
  </body>
  <html>