 <h2>
  <%= flash[:notice] %>
  </h2>
  
 
 <form action="/sign_in" method="post">
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Sign in">
  </form>