<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h3>
      <%= flash[:notice] %>
    </h3>

    <div class="form">
      <form action="/sessions" method="post">
        <label for="email">Email:</label><br>
        <input type="email" name="email" required><br>
        <label for="title">Password:</label><br>
        <input type="password" name="password" required><br><br>
        <input class="form-submit"type="submit" value="Submit">
      </form>
      </div>
    </body>
</html>
