<h2>Please sign in below:</h2>

<form action='/sessions' method='post'>
<p>  <label for='email'>
     <input name='email' type='email'>
     E-Mail </label> </p>
<p>  <label for='password'>
     <input name='password' type='password'>
     Password</label> </p>
  <input type='submit' value='Submit'>
</form>
