<%= styled_flash %>

<p>Log into BlahBlah</p>
<form action="/sessions" method="post">
  <input id="email" type="email" name="email" placeholder="Email">
  <input id="password" type="password" name="password" placeholder="Password">

  <button type="submit">Log in</button>
</form>
