<h2>
  <%= flash[:notice] %>
</h2>

<form class="new-user" action="/sessions" method="post">
  <input type="text" name="email" placeholder="Email" required>
  <input type="text" name="password" placeholder="Password" required>
  <button type="submit" name='submit'>Log In</button>
</form>
