<h2>
  <%= flash[:notice] %>
</h2>
<form action="/sessions" method="post">
  <input type="username" name="username" placeholder="Username"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Login"/>
</form>