
<form action="/sessions/new" method="POST">
  <input type="text" name="username" placeholder="Enter your username">
  <input type="password" name="password" placeholder="Enter your password">
  <input type="submit" value="Submit" class="main_page_input">
</form>
