<form action="/sessions" method="POST">
  <input type="email" name="email" placeholder="Enter your email" required>
  <input type="password" name="password" placeholder="Enter your password" required>
  <input type="submit" value="Submit">
</form>