<form action="/sessions" method="post">
  <label for="email ">email:</label>
  <input type="email" name="email" />
  <label for="password ">password:</label>
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>
