<form action="/sessions" method="post">
  <input type="email" name="email" placeholder='EMAIL' />
  <input type="password" name="password" placeholder="PASSWORD" />
  <input type="submit" value="Sign in" />
</form>
