<style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>
<center>
<h1> Enter Login Details </h1>
<form action="/sessions" method="post">
  <input style="height:30px;font-size:14pt;" type="email" name="email" placeholder="Email"/>
  <input style="height:30px;font-size:14pt;" type="password" name="password" placeholder="Password"/>
  <input style="height:30px;font-size:14pt;" type="submit" value="Sign in" />
</form>
</center>