<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><br>
    <center>
    <h2><font face="courier new"> <%= flash[:notice] %> </font></h2>
    <font face="courier new">
      Please enter your details: <br><br>
    <form action="/sessions" method="post">
      <input type="email" name="email" placeholder="Email"/><br><br>
      <input type="password" name="password" placeholder="Password"/><br><br>
      <input type="submit" value="Sign in"/>
    </form>
    </font>
    </center>
  </body>
</html>
