<form action='/signin' method='post'>
  <input type='text' name='username' placeholder='username'>
  <input type='text' name='password' placeholder='password'>
  <input type='submit' value='log in'>
</form>
