<h1>Create your Chitter account</h1>

<form action="/users/create" method="post" id="signup">

  Name: <input type="text" name="name">
  <br>
  Username: <input type="text" name="username">
  <br>
  Email: <input type="text" name="email">
  <br>
  Password: <input type="text" name="password">
  <br>
  <input type="submit" value="Submit">

</form>
<br>
<br>
<a href="/">Back</a>