<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <h1>What are Makers saying:</h1>
    <ul><% @peers.each do |peer| %>
      <div class="peers-list">
        <%= peer.content %>
      </div>
      <div class="peers-date">
        Created on: <%= peer.date_published %>

      </div>
    <% end %></ul>
  </body>
</html>
