<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
<html>
<body>

<title>New Peep</title>

<form action='/peeps' method='post'>
  <label for="peep">Peep:</label> <br>
  <input type="peep" id="peep" name="peep" ><br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>
