<ul>
<a href ='/peeps/new'>Peep</a>
</ul>
<link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">



<ul>
  <% @peeps.reverse_each do |peep| %>
        <%= peep.username %> <br>
        <%= peep.peep %> <br>
        <%= peep.lastmodified %> <br>
        <br>
  <% end %>
</ul>


