<ul>
<a href ='/peeps/new'>Peep</a>
</ul>



<ul>
  <% @peeps.reverse_each do |peep| %>
        <%= peep.username %> <br>
        <%= peep.peep %> <br>
        <%= peep.lastmodified %> <br>
        <br>
  <% end %>
</ul>


