<h2>
  <%= flash[:notice] %>
</h2>
<br>
<h1>New user sign up</h1><br>

<div>
<form action="/users/new" method="post">
<table id="sign_up_border">
<tr><td style="text-align:left">Name:</td><td style="text-align:left"><input type="text" name="name" placeholder="Name" maxlength="60"/></td></tr>
<tr><td style="text-align:left">User Name:</td><td style="text-align:left"><input type="text" name="username" placeholder="Username" maxlength="30"/></td></tr>
<tr><td style="text-align:left">Email:</td><td style="text-align:left"><input type="email" name="email" placeholder="Email" maxlength="60" /></td></tr>
<tr><td style="text-align:left">Password:</td><td style="text-align:left"><input type="password" name="password" placeholder="Password" maxlength="140" /></td></tr> 
</table>
<br>
<input class="button" type="submit" value="Submit">
</form>
</div>
<br>
<h1>User sign in</h1>

<form action="/sessions" method="post">
<table id="sign_up_border">
<tr><td style="text-align:left">Email:</td><td style="text-align:left"><input type="email" name="email" placeholder="Email" /></td></tr>
<tr><td style="text-align:left">Password:</td><td style="text-align:left"><input type="password" name="password" placeholder="Password" /></td></tr> 
</table>
<br>
<input class="button" type="submit" value="Sign in">
</form>

</div>

