<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><font face="verdana" color="green">Welcome <%= @user.username %>!</font></h1>
  </body>
</html>
