<h1>Chitter</h1>

<h2>Your details</h2>

<p>Name:</p>
  <p><%= @user.name %></p>
<p>Username:</p>
  <p><%= @user.username %></p>
<p>Email:</p>
  <p><%= @user.email %></p>

<form action="/users/<%= @user.id %>/edit">
  <input type="submit" value="Edit">
</form>
