<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>CHITTER</h1>
    </div>
    <div id="content">
      <% if @user %>
        <h1>Welcome <%= @user.email %></h1>
      <% end %>
        <br>
        <form action="/user/peep" method="post">
          <input type="text" name="peep" size="35" placeholder="peep">
          <input type="submit" value="post">
        </form>
        <br>
        <a href='/peeps_reverse'> view latest peeps </a>
        <br>
        <br>
        <% @peeps.each do |chit| %>
          <font size="4"><%= chit.peep %></font>  <font size="1"> by <%= @user.email %> at <%= chit.time %></font>
          <br><br>
        <% end %>
    </div>
  </div>
</body>
