<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>

  <form action="/" >
      <button type="submit">HOME</button>
  </form>

  <form action="/peeps" >
      <button type="submit">PEEPS</button>
  </form>

  <form action="/peeps/new" >
      <button type="submit">NEW PEEP</button>
  </form>

  <form action="/users/new" >
    <button type="submit">SIGN UP</button>
  </form>
<br>
<br>
<table>
  <tr>
    <th>User ID</th>
    <th>Username</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    </tr>
  <% end %>
</table>
</body>
</html>
