<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  font-size: 12px;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<!-- <link rel="stylesheet" type="text/css" href="/styles.css"/> -->
</head>
<body>

<table>
  <tr>
    <th>User ID</th>
    <th>Username</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    </tr>
  <% end %>
</table>
</body>
</html>
