<h1>Chitter Log In Page</h1>

<form action='/chitter/log-in' method='get' >
  <input placeholder='Name' type='text' name='login_user_name' >
  <input placeholder='Password' type='text' name='login_password' >
  <input value='Log In' type='submit' >
<form>