<div class="sign-up-form">
<%= flash[:notice] %>
  <form action="/users/log_in" method="post">
    <input class="input-box" type="email" name="email" placeholder="email">
    <input class="input-box" type="password" name="password" placeholder="password">
    <input class="submit-button" type="submit" value="log-in">
  </form>
</div>
