<%= flash[:n] %>
<form action="/users/log_in" method="POST">
  <input type="text" name="username" placeholder="Enter your username">
  <input type="text" name="password" placeholder="Enter your password">
  <input type="submit" value="Log in">
</form>
