<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title">Sign In</h1>
    
    <form action="/users/login" method="post">
      
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control has-icons-left">
          <input class="input" type="email" name="email" id="email" placeholder="email@example.com" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <p class="control has-icons-left">
          <input class="input" type="password" name="password" id="password" placeholder="password" required>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-success">Sign in</button>
        </div>
      </div>
    
    </form>
  
  </div>
</div>