<h1>Please Login</h1>

<form action="/users/login" method="post">
  <input type="text" name="email">
  <input type="text" name="password">
  <input type="submit" name="Login" >
</form>

Don't have an account? <a href="http://localhost:9292/users/new">Sign up</a>
