<div class='row'>
  <div class='col'></div>
  <div class='col-5'>
    <header class='ls-header-row'>
      <div class='container'>
        <a style="text-decoration:none" class='btn btn-link ls-header' href='/home'>
          <strong>Home</strong>
        </a>
      </div>
    </header>
  </div>
  <div class='col'></div>
</div>
<div class='login-signup-page'>
<div class='row'>
  <div class='col'></div>
  <div class='col-4'>
    <div class='ls-mid'></div>
      <div class='card ls-form'>
        <%= erb @form %>
      </div>
  </div>
  <div class='col'></div>
</div>