<h1> Please Log In to your account </h1>

<form action="/users/login" method="post">
  
  <label for="email">Email</label>
  <input type="email" name="email" required />  

  <label for="password">Password</label>
  <input type="password" name="password" required />
  
  <input type="submit" class="button" value="Login" />
</form>