<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" >
  </head>

  <h1>Chitter</h1>

  <div class="notice">
    <%= flash[:notice] %>
  </div>

  <h2>Log in</h2>

  <form action="/users-login" method="post">
    <input class="input-box" name="email" type="email" placeholder="Enter email">
    <br>
    <input class="input-box" name="password" type="password" placeholder="Enter password">
    <button class="login-btn" type="submit" value="Log in"> Log in </button>
  </form>

</html> 