<form  action='login' method='post'>
  <input style="display: block" type='text' name='email'>
  <input style="display: block" type='password' name='password'>
  <input style="display: block" type='submit' value='Log in'>
</form>
<% if flash[:err_message] %>
  <div style='font-weight: bold; color: red'><%= flash[:err_message] %></div>
<% end %>
