<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>

<body>
<h1> Login to peep! </h1>

<form action="/users/login" method="post">
<input type="text" name="username" placeholder="username"/>
<input type="text" name="password" placeholder="password"/>
<br>
  <button type="submit">LOGIN</button>
</form>

<br><br>
<form action="/" >
  <button type="submit">HOME</button>
</form>

</body>
</html>
