<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">


<head>
  <div class="row">
    <div>
      <a href="/users/signup"><div class="btn btn-primary">Sign Up</div></a>
    </div>
        <div>
        <a href="/users/login"><div class="btn btn-primary">Login</div></a>
    </div>
      </div>
        <div>
        <a href="/chitter"><div class="btn btn-primary">Logout</div></a>
    </div>
  </div>
  </head>

<h1> Login to Chitter </h1>

<h1> </h1>

<form action='/chitter' method='post'>
  <input id='username' type='text' name='username' placeholder='Username' required>
  <br>
  <input type='text' name='password' placeholder='Password' required>
 <br>
  <input type='submit' value='Login'>
</form>  
