<h1> Login to peep! </h1>

<form action="/users/login" method="post">
<input type="text" name="username" placeholder="username"/>
<br>
<input type="text" name="password" placeholder="password"/>
<br>
<input type="submit" value="Login"/>
</form>
