Please login:

<form action='/users/login' method='POST'>

  <label for="username">Username</label>
  <input type="text" name="username" required>

  <label for="password">Password</label>
  <input type="password" name="password" required>

  <input type="submit" value="Sign in">

</form>