<h2>Log into Chitter</h2>
<div class='form-container'>
  <form action='/users/login' method='post'>
    <div class='form-child'>
      <input type='text' name='username' placeholder='username' />
    </div>
    <div class='form-child'>
      <input type='password' name='password' placeholder='password' />
    </div>
    <div class='form-submit'>
      <input type='submit' value='Submit' />
    </div>
  </form>
</div>
<div class='bottom-nav'>
  <a href="/">Chitter homepage</a>
</div>
