<form action='/users' method='post'>
  <input type='text' name='email'>
  <input type='text' name='password'>
  <input type='text' name='password_confirmation'>
  <input type='text' name='name'>
  <input type='text' name='username'>
  <input type='submit' value='Sign up'>
</form>
