<div class='registration-form'>
  <h2 class='alert'>
    <%= flash[:notice] %>
  </h2>
  <form class='new-user' action='/users' method='POST'>
    <label>Name:<br>
      <input type='text' name='name' required></label>
    <br>
    <label>Username:<br>
      <input type='text' name='username' required></label>
    <br>
    <label>Email:<br>
      <input type='text' id='email' name='email' required></label>
    <br>
    <label>Password:<br>
      <input type='text' name='password' minlength='6' required></label>
    <br>
    <input type='submit' value='Register'>
  </form>
</div>
