<h2> Register below: </h2><br>

<form action="/users" method="post">
  Email:
  <input type="email" name="email" />
  Password:
  <input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>
