<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter. It's whats happening</title>
  </head>
  <body>

    <h2>Enter your details:</h2>

      <form action="/users" method="post">
        <label for="email">Email:</label><br>
        <input type="text" name="email" ><br>
        <label for="name">Name:</label ><br>
        <input type="text" name="name" ><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" ><br>
        <label for="username">Username:</label><br>
        <input type="text" name="username" ><br><br>
        <input type="submit" value="Sign up">
      </form>

  </body>
</html>
