<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter. It's whats happening</title>
  </head>
  <body>
    <div class="form">


    <h2>Create your account</h2>

      <form action="/users" method="post">
        <label for="email">Email:</label><br>
        <input type="email" name="email" required><br>
        <label for="name">Name:</label ><br>
        <input type="text" name="name" required><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" required><br>
        <label for="username">Username:</label><br>
        <input type="text" name="username" required><br><br>
        <input class="form-submit" type="submit" value="Sign up">
      </form>
    </div>
  </body>
</html>
