<!-- Create new user -->
<center>
<form action="/users" method="post">
  Username: <input type="text" name="username"><br>
  Name: <input type="text" name="name"><br>
  Email: <input type="email" name="email"><br>
  Password: <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
</center>
