<h1> Please enter your details </h1>

<form action="/users" method="post">
  
  <label for="username">Username</label>
  <input type="text" name="username" required />  

  <label for="email">Email</label>
  <input type="email" name="email" required />
  
  <label for="password">Password</label>
  <input type="password" name="password" required />
  
  <input type="submit" class="button" value="Sign Up" />
  
</form>