<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    </style>
    <title>Document</title>
  </head>
  <body>

    <form action="/users/new" method="post">
      <div><label for="first-name">First Name </label><input type="text" name="first-name" id="first-name"></div>
      <div><label for="surname">Surname </label><input type="text" name="surname" id="surname"></div>
      <div><label for="new-email">Email </label><input type="email" name="new-email" id="new-email"></div>
      <div><label for="new-grip">Grip </label> <input type="text" name="new-grip" id="new-grip"></div>
      <div><label for="new-password">Password </label><input type="password" name="new-password" id="new-password"></div>
      <div><label for="new-password-confirm">Confirm Password </label><input type="password" name="new-password-confirm" id="new-password-confirm"></div>
      <div><button type="submit" name='create-account'>Create Account</button></div>
    </form>

    <p><%= flash[:notice] %></p>
    
  </body>
</html>