<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/general_chitter_style.css">
  </head>
  <body>
    <div class="flash_area"><%= flash[:n] %></div>
    <form action="/users/new" method="POST">
      <input type="text" name="name" placeholder="Enter your name">
      <input type="text" name="username" placeholder="Enter your username">
      <input type="text" name="email" placeholder="Enter your email">
      <input type="text" name="password" placeholder="Enter your password">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
