<!DOCTYPE html>
<html>
  <head>
    <title>New user</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>New user</h1>
    <h2>Please enter your details:</h2>
    <form action="/users" method="post">
      <label for="name">Name:</label></br>
      <input type="text" name="name" /></br></br>
      <label for="username">Username:</label></br>
      <input type="text" name="username" /></br></br>
      <label for="email">Email:</label></br>
      <input type="email" name="email" /></br></br>
      <label for="password">Password:</label></br>
      <input type="password" name="password" /></br> </br>
      <input type="submit" value="Submit" /></br>
    </form>
  </br>
    <a href="/"><button>Homepage</button></a>
  </body>
</html>
