<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/styles.css">
<h3> Welcome, please sign up to Chitter </h1>
</head>
<body>
<form action="/users" method="post">
  <label for="email">
    <p>Email:</p>
    <input type="email" name="email" />
  </label>
  <label for="password">
    <p>Password:</p>
    <input type="password" name="password" />
  </label>
  </br>
  </br>
  <input type="submit" value="Submit" />
</form>
</body>