<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  
  <form action="/users" method="post">
    <label for="firstname">First name:</label>
    <input type="text" name="firstname">
    <label for="lastname">Last name:</label>
    <input type="text" name="lastname">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="username">User name:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="text" name="password">
    <input type="submit" value="Submit">
  </form>

</body>
</html>