<%= flash[:notice] %>
<p>
  Register to use Chitter <br>
<form action="/users/new" method="post">
  <input type="text" name="user_name" placeholder="user_name">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Sign up">
</form>
</p>
