<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up!</title>
  <link rel='stylesheet' href='/css/stylesheet.css' />
</head>

<body>
  <div class='page'>
  <h1>Sign up as a new Chitter user</h1>
  <p>
  <form action="/users" method="post" autocomplete="off">
    Email: <input type="email" name="email" /><br>
    Password: <input type="password" name="password" /><br>
    Name: <input type="name" name="name" /><br>
    Username: <input type="username" name="username" /><br>
    <input type="submit" value="Submit" /><br>
  </form>
  </p>
  </div>
</body>

</html>
