<h1>Please sign up</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
