<head>
  <link rel="stylesheet" href="/css/style.css"/>
</head>

<h1>Sign Up</h1>

<form class="left" action="/users" method="post">
  <input type="email" name="email" placeholder="Email address">
  <input type="password" name="password" placeholder="Password">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Submit">
</form>