<div class="wrapper">
  <header class="header">Welcome to Chitter. Let's get you signed up!</header>
  <menu class="menu">
    <div class="form">
      <form action="/users" method="post">
      <div>
        <label for="username">Username: </label>
        <input type="username" id="username" name="username">
        <label for="name">Name: </label>
        <input type="name" id="name" name="name">
      </div>
      <div>
        <label for="email">email: </label>
        <input type="email" id="email" name="email">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">
      </div>
        <div class="cssbutton colors blue">
          <input type="submit" value="Sign-up">
        </div>
      </form>
    </div>
  </menu>

  <main>
    
  </main>
  <footer class="footer">Footer</footer>

</div>
