<form action="/users" method="post">
  <input type="email" name="email" placeholder="Enter email here"/>
  <input type="password" name="password" placeholder="Enter password here"/>
  <input type="submit" value="Submit" />
</form>