<h2>Please fill in the fields below</h2>
<form action="/users" method="post">
  <label>Email</label>
  <input type="email" name="email" value="" required placeholder="Enter a valid email address" class="form-control">
  <label for="">Password</label>
  <input type="password" name="password" value="" class="form-control">
  <label for="">Confirm Password</label>
  <input type="password" name="checkpassword" value="" class="form-control">
  <br>
  <input type="reset" value="Clear" class="btn btn-danger">
  <input type="submit" value="Sign Up!" class="btn btn-primary">
</form>
