<h3>Enter your details below to create an account, you'll be peeping in no time!</h3>
<form action='/new_user' method='post'>
  <input type='text' name='username' placeholder='Enter a username' required>
  <input type='email' name='email' placeholder='Enter your email address' required>
  <input type='password' name='password' placeholder='Enter a password' required>
  <input type='submit' value='Submit'>
</form>
