<h1> Sign up for Chitter </h1>

<form action='/users' method='post'>
  <input type='text' name='username'/>
  <input type='text' name='handle'/>
  <input type='text' name='password'/>
  <input type='submit' value='Complete registration'/>
</form>