<form action='/users' method='POST' style='list-style-type:none'>
  <li><input type='email' name='email' placeholder='Enter your email'></li>
  <br>
  <li><input type='password' name='password' placeholder='Enter a password'></li>
  <br>
  <li><input type='text' name='name' placeholder='Enter your name'></li>
  <br>
  <li><input type='text' name='username' placeholder='Enter a username'></li>
  <br>
  <li><input type='submit' value='Register'></li>
</form>