<h1>Create account</h1>

<form action='/users' method='post'>
  <label for='name'>Full Name</label>
  <input type='text' name='name' placeholder='John Doe' required>
  <br>
  <label for='username'>Username</label>
  <input type='text' name='username' placeholder='JDoe123' required>
  <br>
  <label for='email'>Email</label>
  <input type='text' name='email' placeholder='example@email.co.uk' required>
  <br>
  <label for='password'>Password (must be 8-20 characters long)</label>
  <input type='password' name='password' required>
  <br>
  <input type='submit' value='Create account'>
</form>