<form action="/users" method="POST">
  <input required type="text" name="name" placeholder="Name" maxlength="50">
  <input required type="text" name="username" placeholder="Username" maxlength="50">
  <input required type="email" name="email" placeholder="Email" maxlength="60">
  <input required type="password" name="password" placeholder="Password" maxlength="50">
  <input type="submit" value="Get Peeping">
</form>
