<form action="/users" method="post" >
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="name" name="name"/>
  <input type="username" name="username" />
  <input type="submit" value="Submit" />
</form>

<%= flash[:notice] %>