<h1>Sign up</h1>
<form action='/users' method='post'>
  Email: <input type='text' name='email' value="<%=@user.email %>">
  Password: <input type='password' name='password'>
  Confirm Password: <input type='password' name='password_confirmation'>
  Name: <input type='text' name='name' value="<%= @user.name %>">
  Username: <input type='text' name='username' value="<%= @user.username %>">
  <input type='submit' value='Sign up'>
</form>
