Sign up here
<form action='/users' method='post'>
  <input type='text' name='email'>
  <br>
  <input type='text' name='password'>
  <br>
  <input type='text' name='name'>
  <br>
  <input type='text' name='username'>
  <br>
  <input type='submit' value='Sign up'>
</form>