<div class="center-block">
  <h1> Please create an account </h1>
  <div class="form"> 
    <div class="form-group-wrap">
      <form action="/users" method="post">
        <div class="form-group">
          <input type="text" name="username" placeholder="username" required />  
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="email" required />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="password" required />
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Sign Up" />
        </div>
      </form>
      <div>
        <p class="message">Already registered? <a href="/sessions/new">Login</a></p>
      </div> 
    </div>
  </div>
</div>