<!DOCTYPE html>

<html>

  <head>
    <title>Create User</title>
    <link href="<%= url('/styles_sign_up.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="sign-up-box"> 
      <h2>Sign up here</h2>     
      <form class="sign-up-form" action="/feed" method="post">
        <label for="username">
          <p>
            Username:
          <p>
          <input type="text" name="username" placeholder="Enter Username" />
        </label>
        <label for="password">
          <p>
            Password:
          <p>
          <input type="text" name="password" placeholder="Enter Username" /> <br/>
        </label>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
