<h2>
  <%= flash[:notice] %>
</h2>
<form action="/users" method="post">
  <h1>Sign in to Chitter</h1>
  <input type="text" name="name" placeholder="name">
  <input type="email" name="email" placeholder="email">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Submit">
</form>
