<h2>Sign up to Chitter</h2>
<div class='form-container'>
  <form action='/users' method='post'>
    <div class='form-child'>
      <input type='text' name='name' placeholder='Name' />
    </div>
    <div class='form-child'>
      <input type='text' name='username' placeholder='Username' />
    </div>
    <div class='form-child'>
      <input type='text' name='email' placeholder='Email' />
    </div>
    <div class='form-child'>
      <input type='password' name='password' placeholder='Password' />
    </div>
    <div class='form-submit'>
      <input type='submit' value='Submit' />
    </div>
  </form>
</div>
<div class='bottom-nav'>
  <a href="/">Chitter homepage</a>
</div>
