<h1>User Sign-Up</h1>

<form action='/users' method="POST">
  Full Name:<input type='text' name='name'>
  Email:<input type='text' name='email' value='<%= @user.email %>'>
  Username:<input type='text' name='username'>
  Password:<input type='text' name='password'>
  Password Confirmation:<input type='text' name='password_confirmation'>
  <input type='submit' value="Sign up">
</form>