<head>
  <link rel="stylesheet" href="style.css">
  </head>
<body style="background-color:powderblue;">

<style>
div {
  margin: 70px;
  border: 1px solid #4CAF50;
}
</style>
</head>
<body>

<center>
<h2 style="color:blue;">Chitter</h2>
<div></div>

<br></br>
<center>
<img src="https://image.flaticon.com/icons/png/512/1409/1409937.png" alt="chick" width="50" height="50">
<br></br>



<center>
<h2 style="color:blue;">Please log in:</h2>


<form action="/users" method="post">
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>

