<h1>Please sign up</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <em class="flashnotice"><%= error %></em>
  <% end %>
<% end %>
<form action='/users' method='post'>
  Email:                 <input type='text'     name='email'>
  Password:              <input type='password' name='password'>
  Password Confirmation: <input type='password' name='password_confirmation'>
  Username:              <input type='text'     name='name'>
  Name:                  <input type='text'     name='username'>
                         <input type='submit'   value='Sign up'>
</form>