<h1>Register an account</h1>

<form action="/users" method="POST">
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <input type="name" name="name" placeholder="Name" required><br>
  <input type="username" name="username" placeholder="Username" required><br>
  <input type="submit" value="Sign Up">
</form>
