<h2>Please fill in the fields below</h2>
<form action="/users" method="post">
  <label>Email</label>
  <input type="email" name="email" value="" required placeholder="Enter a valid email address">
  <label for="">Password</label>
  <input type="password" name="password" value="">
  <label for="">Confirm Password</label>
  <input type="password" name="checkpassword" value="">
  <br>
  <input type="reset" value="Clear">
  <input type="submit" value="Sign Up!">
</form>
