<form action="/users" method="post">
  <label for="name">Name
    <input type="text" name="name"><br>
  </label>
  <label for="email">Email
    <input type="email" name="email"><br>
  </label>
  <label for="username">User Name
    <input type="text" name="username"><br>
  </label>
  <label for="password">Password
    <input type="password" name="password"><br>
  </label>
  <input type="submit" value="Submit">
</form>
