<div >
  <h1>Chitter registration form</h1>
  <form action="/users/new" method="post">
    <label for="name">Full name</label>
    <input type="text" name="name" placeholder="Name">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email">
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="" value="Create account">
  </form>
</div>
