<form action="/users" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="name" name="name" placeholder="Name">
  <input type="username" name="username" placeholder="Username">
  <input type="submit" value="Sign Up">
</form>
