<form action='/users/new' method='post'>
  <h4>Please enter details below...</h4>
  Name:             <input type='text' name='name'><br>
  Username:         <input type='text' name='username'><br>
  Email:            <input type='text' name='email'><br>
  Password:         <input type='password' name='password'><br>
  Confirm password: <input type='password' name='password_confirmation'><br>
  <input type='submit' value='Register'>
</form>