<br>
<form action='/users' method='post'>
  <div class="w3-container w3-text-theme">
    <input type='email' name='email' placeholder='Email'>
    <input type='password' name='password' placeholder='Password'>
    <input type='text' name='name' placeholder='Name'>
    <input type='text' name='user_name' placeholder='User Name'>
    <input type='submit' value='Submit'class="w3-container w3-theme w3-large">
  </div>
  <br>
</form>
<br>
