<center>
<h1>
  Sign up to Chitter!
</h1>

  <form action="/users" method="post">
    <input type="name" name="name" placeholder="Enter name"/> </br>
    <input type="username" name="username" placeholder="Enter username" /> </br>
    <input type="email" name="email" placeholder="Enter email address" /> </br>
    <input type="password" name="password" placeholder="Create a password" /> </br>
    <input type="submit" value="Sign Up" />
  </form>
</center>
