<form method="post" action="/users">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>

<h2>Already registered?</h2>
<form action="/sessions/new" method="get">
  <input type="submit" value="Sign in" />
</form>

<form action="/feed" method="get">
  <input type="submit" value="Home" />
</form>
