<h1>Please in the following to create your chitter account!</h1>
<form action="/users" method="post">
  <label>Email</label>
  <input type="email" name="email" />
  <label>Password</label>
  <input type="password" name="password" />
  <label>Name</label>
  <input type="name" name="name" />
  <label>Username</label>
  <input type="username" name="username" />
  <input type="submit" value="Submit" />
</form>
