<form action="/" method="post">
  <input type="username" name="username" placeholder="Username" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <input type="submit" value="Submit" />
</form>

<form action='/peeps'>
  <input type="submit" value="View all peeps" />
</form>
