<link rel="stylesheet" href="/stylesheets/chitter.css">
<%= flash[:notice] %>
<p>
  Please provide the following information and click Sign Up
</p>
<form action='/save_user' method='post'>
  Name:
  <input type='text' name='user[name]'>
  Email:
  <input type='text' name='user[email]'>
  Username:
  <input type='text' name='user[username]'>
  Password:
  <input type='text' name='user[password]'>
  <input type='submit' value='Sign Up'>
</form>
