<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Create account</title>
    <base href="/">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h1>Create your Chitter account </h1>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Enter your name"/><br>
      <input type="text" name="username" placeholder="Enter your username"/><br>
      <input type="email" name="email" placeholder="Enter your email"/><br>
      <input type="password" name="password" placeholder="Enter your password"/><br>
      <input type="submit" value="Create account" />
    </form>
  </body>
</html>
