<h1>Sign up</h1>

<form action='/users' method='post'>
  <label for='email'>
    <p>Email address:</p>
    <input type='email' name='email' required>
  </label>
  <label for='username'>
    <p>Username:</p>
    <input type='text' name='username' required>
  </label>
  <label for='name'>
    <p>Name:</p>
    <input type='text' name='name' required>
  </label>
  <label for='password'>
  	<p>Password:</p>
  	<input type='password' name='password' required>
  </label>
  <label for='password_confirmation'>
    <p>Confirm password:</p>
    <input type='password' name='password_confirmation' required>
  </label>
  <input type='submit' value='Sign up'>
</form>