<form action="/users/new" method="post">
  <input type="text" name="email" placeholder="Enter email address">
  <input type="password" name="password" placeholder="Enter password">
  <input type="text" name="name" placeholder="Enter name">
  <input type="text" name="username" placeholder="Enter username">
  <input type="submit" value="Sign Up">
</form>
