<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <form style='text-align:center' action='/users' method=post>
      Sign Up:<br>
      <input type=text name='name'>
      <input type=text name='username'>
      <input type=text name='email'>
      <input type=text name='password'>
      <input type=submit value='Sign Up'/>
    </form>
  </body>
</html>