<!DOCTYPE html>
<html>
<body>

<form action="/users" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" /><br>

  <label for="password">Password</label>
  <input type="password" name="password" /><br>

  <label for="name">Name</label>
  <input type="text" name="name" /><br>

  <label for="username">Username</label>
  <input type="text" name="username" /><br>

  <input type="submit" value="Submit" />
</form>

</body>
</html>
