<form action="/users/new" method="post">
  Your name: <input type="text" name="name">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  Chitter handle: <input type="text" name="username" placeholder="must be unique">
  <input type="submit" value="Sign-up">
</form>