<h1>Sign up for Chitter!</h1>
<form action="/users" method="post">
  <label for "email">Email:</label>
  <input type="text" id="email" name="email" maxlength="40"/>
  <label for "password">Password:</label>
  <input type="password" id="password" name="password" maxlength="20"/>
  <label for "name">Name:</label>
  <input type="text" id="name" name="name" maxlength="50"/>
  <label for "username">Username:</label>
  <input type="text" id="username" name="username" maxlength="20"/>
  <input type="submit" value="Submit"/>
</form>
