<h1>Sign up</h1>

<form action='/users' method='post'>
	<label for='email'>
	Email:
	<input type='text' name='email' value='<%= @user.email %>' required>
	</label>
	<label for='name'>
	Name:
	<input type='text' name='name' value='<%= @user.name %>' required>
	</label>
	<label for='username'>
	Username:
	<input type='text' name='username' value='<%= @user.username %>' required>
	</label>
	<label for='password'>
	Password:
	<input type='password' name='password' required>
	</label>
	<label for='password_confirmation' required>
	Password confirmation:
	<input type='password' name='password_confirmation'>
	</label>
	<button type='submit' name='signup' value='Sign up'>Sign up</button>
</form>