<link rel="stylesheet" href="../../stylesheets/application.css">
<div class="form-container">
<h2> Enter your details below:</h2>
  <form action='/users' method='POST'>
      <div>
        <input type="text" name="name" class="input" placeholder='Name'/>
      <div>
      <div>
        <input type="text" name="username" class="input" placeholder="Username"/>
      </div>
      <div>
        <input type="text" name="email" class="input" placeholder="Email"/>
      </div>
      <div>
      <input type="text" name="password" class="input" placeholder="Password"/>
      </div>
      <div>
        <input class="button" type="submit" value="Sign up"/>
      </div>
  </form>
</div>