<h1>Create your account</h1>
  <br>
  <form action="/users" method="post">
    <label for="username">Enter a username:</label><br>
      <input type="text" name="username" maxlength="60" /><br><br>
    <label for="email">Enter your email:</label><br>
      <input type="email" name="email" maxlength="60" /><br><br>
    <label for ="password">Enter a password:</label><br>
      <input type="password" name="password" maxlength="60" /><br><br>
    <input type="submit" class="button" value="Sign Up"/>
  </form>
