<div class="new_user_div">
  <form class="new_user_form" action="/users" method="post">
    <input type="email" name="email" placeholder="Enter your email" maxlength="30">
    <input type="text" name="username" placeholder="Enter a unique username">
    <input type="password" name="password" placeholder="Enter a password" maxlength="64">
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
