<form class="new_user" action="/users/new" method="post">
  <input type="text" name="email" placeholder="Email" required>
  <input type="text" name="password" placeholder="Password" required>
  <button type="Submit">Submit</button>
</form>
