<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <form style='text-align:center' action='/users' method=post>
      Sign Up:<br>
      Name: <input type=text name='name'><br>
      Username: <input type=text name='username'><br>
      Email: <input type=text name='email'><br>
      Password: <input type=text name='password'><br>
      <input type=submit value='Sign Up'/>
    </form>
  </body>
</html>