<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <form action="/users" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="name" name="name" placeholder="Name"/>
  <input type="username" name="username" placeholder="Username"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Submit" />
</form>
</body>
