Sign up here
<form action='/users/new' method='post'>
  <input type='email' name='email'>
  <br>
  <input type='password' name='password'>
  <br>
  <input type='text' name='name'>
  <br>
  <input type='text' name='username'>
  <br>
  <input type='submit' value='Sign up'>
</form>