<h1>Please enter your details below.</h1>

<form action = '/users' method = 'post'>
  <input type="text" maxlength="20" name="username" required>
  <input type="password" maxlength="20" name="password" required>
  <input type="text" maxlength="30" name="name" required>
  <input type="email" maxlength="50" name="email" required>

  <input type="submit" value="Submit">
</form>
