<h1> Create user account </h1>

<form action = "/user/new" method = "POST">
  <input type = "text" name = "user_name" placeholder = "enter user name">
  <input type = "text" name = "name" placeholder = "enter name">
  <input type = "text" name = "email" placeholder = "enter email address">
  <input type = "text" name = "password" placeholder = "enter password">
  <input type = "submit" value = "Create">
</form>
