<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method = post action= '/users'>
      <input type = "text" name = "name" placeholder = "Your name" ></input>
      <input type = "text" name = "email" placeholder = "Email Address" ></input>
      <input type = "text" name = "password" placeholder = "Something memorable" ></input>
      <input type = "submit" value = "Login" ></input>
    </form>
  </body>
</html>
