<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Create New Account</h2>
    <form action="/users" method="post">
      <h5>Name:</h5>
      <input type="text" name="name" placeholder="name">
      <h5>Username:</h5>
      <input type="text" name="username" placeholder="username">
      <h5>Email Address:</h5>
      <input type="text" name="email" placeholder="email">
      <h5>Password:</h5>
      <input type="text" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
