<h4>Register/ Sign-up</h4>

<form class="" action="/users" method="post">

  <label for="">
    Email address:
    <br>
    <input type="email" name="email" value="">
  </label>
  <br>
  <label for="">
    Password:
    <br>
    <input type="password" name="password" value="">
  </label>

  <input type="submit" name="" value="Submit">
</form>
