<form action="/users" method="post">
  Email:</br>
  <input type="email" name="email" /></br>
  Password:</br>
  <input type="password" name="password" /></br>
  Username:</br>
  <input type = "username" name = "username"></br>
  Name:</br>
  <input type = "name" name = "name"></br>
  <input type="submit" value="Submit" />
</form>
