<h1> Sign up for Chitter </h1>
or <a href='/sessions/new'>login here</a> if you are already registered

<form action='/' method='post'>
  <input type='text' name='username' placeholder='username'/>
  <input type='text' name='handle' placeholder='handle'/>
  <input type='text' name='password' placeholder='password'/>
  <input type='submit' value='Complete registration'/>
</form>