<form action="/users" method="post">
  <label for="name">Name:</label>
  <input type="name" name="name"/>
  <label for="username">Username:</label>
  <input type="username" name="username"/>
  <label for="email">Email:</label>
  <input type="email" name="email"/>
  <label for="password">Password:</label>
  <input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>