
<!DOCTYPE html>
<html>
  <head>
    <style>
    * {
      font-family: sans-serif;
      color: green;
    }
</style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="username">Username</label>
      <input type="text" name="username"><br />
      <label for="email">Email</label>
      <input type="email" name="email" /><br />
      <label for="password">Password</label>
      <input type="password" name="password" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
