<form action='/users/new' method='post'>
  <h4>Please enter details below...</h4>
  Name: <input type='text' name='name'>
  Username: <input type='text' name='username'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  Confirm password: <input type='password' name='password_confirmation'>
  <input type='submit' value='Register'>
</form>