<h1>Please sign up</h1>

<form action='/new_user' method='post'>
  Email:                 <input type='text'     name='email'>
  Password:              <input type='password' name='password'>
  Password Confirmation: <input type='password' name='password_confirmation'>
  Name:                  <input type='text'     name='name'>
  Username:              <input type='text'     name='username'>
                         <input type='submit'   value='Sign up'>
</form>