<br>
<form action='/users' method='post'>
  <div class="w3-container w3-text-theme">
  <input type='text' name='user_name' placeholder='Enter you user name...'>
  <input type='submit' value='Submit'
        class="w3-container w3-theme w3-large">
  <br>
</form>
<br>
