<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>CHITTER</h1>
    </div>
    <div id="content">
      <form action="/users" method="post">
        <input type="email" name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
      </form>
    </div>
  </div>
</body>
