<form action="/users" method="post">
  <input type="email" name="email" placeholder="Type in your email">
  <input type="password" name="password" placeholder="Type in your password">
  <input type="submit" value="Sign up">
</form>
