<form action="/users" method="post">
  <label for="email ">email:</label>
  <input type="email" name="email" />
  <label for="password ">password:</label>
  <input type="password" name="password" />
  <label for="username ">username:</label>
  <input type="text" name="username" />
  <input type="submit" value="Submit" />
</form>
