<% if @current_user %>
  Hello <%= current_user.name %>,
<% else %>
  That username or email is already taken, click <a href='/'>here</a> to try again.
<% end %>

<br>
There is a list of all our users <a href='/users/all'>here</a>