<form action="/users" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="example@domain.com" />
  <input type="password" name="password" placeholder="Password"/>
  <input type="password" name="confirm_password" placeholder="Confirm password"/>
  <input type="submit" name="sign_up" value="Sign Up"/>
</form>