<div class="trwh-list-group">
  <h4>Please sign up</h4>
  <form  action='/users' method="post">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username">
      <input type="password" class="form-control" placeholder="Password" name="password">
      <input type="password" class="form-control" placeholder="Password Confirmation" name="password_confirmation">
    </div>
    <button type="submit" class="btn btn-default">Sign up</button>
  </form>
</div>
