<form action='/users' method='post'>
  <label for="email">Email</label>
  <br>
  <input type="email" name="email" />
  <br>
  <label for="password">Password</label>
  <br>
  <input type="password" name="password" />
  <br>
  <label for="name">Name</label>
  <br>
  <input type="text" name="name" />
  <br>
  <label for="username">Username</label>
  <br>
  <input type="text" name="username" />
  <br>
  <input type='submit' value='Sign up'>
</form>
