<form action="/users/new" method="post">
  <label for="name">name:</label>
  <input type="text" name="name" /><br />
  <label for="username">username:</label>
  <input type="text" name="username" /><br />
  <label for="email">email:</label>
  <input type="email" name="email" /><br />
  <label for="password">password:</label>
  <input type="password" name="password" /><br /> 
  <input type="submit" value="Submit" />
</form>
