<p>Join BlahBlah today.</p>
<form action="/users" method="post">
  <input id="name" type="text" name="name" placeholder="Name">
  <input id="username" type="text" name="username" placeholder="Username">
  <input id="email" type="email" name="email" placeholder="Email">
  <input id="password" type="password" name="password" placeholder="Password">

  <button type="submit">Sign up</button>
</form>
