<div>
<<<<<<< HEAD
  <form action="/users/new" method="post">
=======
  <form>
>>>>>>> 7c44869758a14850f24c57ad74dae9c37bb6ef31
    <div>
      <label for="username">User name:</label>
      <input type="text" name="username">  
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name">  
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  <form>
</div>