<h1> Chitter Chatter </h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<form method='post' action='/add'>
  <label for='email'>
    Email ID :
    <input type ="email" name="email"/>
  </label>
  <label for='password'>
    PASSWORD :
    <input type ="password" name="password"/>
  </label>
  <label for='password_confirmation'>
    PASSWORD CONFIRMATION:
    <input type ="password" name="password_confirmation"/>
  </label>
  <input type="submit" value="Sign up" >
</form>
