<form action="/users" method="post">
<label for="email">Enter your email address:</label><br>
  <input type="email" name="email" /><br>
  <label for="password">Enter your password:</label><br>
  <input type="password" name="password" /><br>
  <label for="name">Enter your name:</label><br>
  <input type="name" name="name" /><br>
  <label for="username">Enter your username:</label><br>
  <input type="username" name="username" /><br>
  <input type="submit" value="Submit">
</form>