<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”/style.css” />
<style>
.text {
  text-align: center;
}
</style>
</head>

<body>
<div class="text">
<h1> Sign up so you can 'peep' the Chitter chatter </h1>
<form action="/users" method="post">
  <input type="text" maxlength="15" name="username" placeholder="Username" />
  <input type="email" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Submit" />
</form>
</div>
</body>
</html>
