<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Sign up </h1>

    <form action='/users' method="post">
      <input type="text" placeholder="Name" name="username" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
