<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  body { font-family: "Arial"; font-size: 16px;}
  .btn {
    background-color: #99CCFF;
    font-size: 16px;
    cursor:pointer;
  }
</style>
</head>

<form action="/users" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="name" name="name" placeholder="Name"/>
  <input type="username" name="username" placeholder="Username"/>
  
  <input type="submit" value="Sign in"/>
</form>
</html>