<div class="enter_form">
<form action="/users/new" method="POST" class="form">
  <input type="text" name="name" placeholder="Enter your name" class="main_page_input">
  <input type="text" name="username" placeholder="Enter your username" class="main_page_input">
  <input type="text" name="email" placeholder="Enter your email" class="main_page_input">
  <input type="password" name="password" placeholder="Enter your password" class="main_page_input">
  <input type="submit" value="Submit" class="main_page_input">
</form>
</div>
