<!DOCTYPE html>
<html>
  <head>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>New user sign-up</h1>
    <form name='new-user' action='/users' method='POST'>
      Email: <input type='text' name='email' maxlength='60' value=''><br>
      Password: <input type='password' name='password' value=''>
      <input type='submit' value='Sign up'>
    </form>
  </body>
</html>
