<link rel="stylesheet" href="../css.css" type="text/css" />

<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body class="centered-wrapper">
    <header>
      <h2>
      <h1> Please create a Chitter account </h1>
      </h2>
    </header>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' value='<%= @user.email %>' required>
  </label>
  <br>
  <br>
  <label for='name'>
    Name: <input name='name' type='text'>
  </label><br><br>
  <label for='user_name' >
    User name: <input name='user_name' type='text'>
  </label><br><br>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label><br><br>
  <label for='password_confirmation'>
    Password: <input name='password_confirmation' type='password'>
  </label><br><br>
  <input class='button' type='submit' value='Sign up'>
</form>
<h2>  just look at the <a href="/peep"> Peeps! </a>
</h2>
</center>
</body>
</html>
