<div class="container" style="padding-top: 100px">
  <div class="columns">
    <div class="column col-4 centered">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title h3">
            Join BlahBlah today.
          </div>
        </div>
        <div class="panel-body">
          <form action="/users" method="post">
            <div class="form-group">
              <label class="form-label" for="name">Name</label>
              <input class="form-input" type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input class="form-input" type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="form-label" for="email">Email</label>
              <input class="form-input" type="text" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class="form-input" type="text" id="password" name="password" placeholder="Password">
            </div>
            <button class="btn btn-primary btn-block" type="submit">Sign up</button>
          </form>
        </div>
        <div class="panel-footer">
          <div class="divider"></div>
          <form action="/sessions/new" method="get">
            <button class="btn btn-link">Log in</button>
          </form>
          <form action="/blahs" method="get">
            <button class="btn btn-link">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
