<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Signup</title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="name">Please Enter Your Name</label>
      <input type="text" name="name" placeholder="Name">
      <br>
      <label for="username">Please Enter A Username</label>
      <input type="text" name="username" placeholder="Username">
      <br>
      <label for="email">Please Enter Your Email</label>
      <input type="email" name="email" placeholder="Email">
      <br>
      <label for="password">Please Enter A Password</label>
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
