<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<form action="/users" method="post">
  <div>
    Name: <input type="text" name="name" id="name-input">
  </div>
  <div>
    Grip: <input type="text" name="grip" id="grip-input">
  </div>
  <div>
    Email: <input type="text" name="email" id="email-input">
  </div>
  <div>
    Password: <input type="password" name="password" id="password-input">
  </div>
  
  <button type="submit" name='submit'>Login</button>
</form>
  
</body>
</html>