<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Check this errors:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
      <h1>Please sign up</h1><br>
      <form action = '/users/new' method = 'post'>
        <label for='name'>
          Name: <input type = 'text' name = 'name' value = '<%= @user.name %>'>
        </label>
        <label for='email'>
          Email: <input type = 'email' name = 'email' value = '<%= @user.email %>' required>
        </label>
        <label for='username'>
          Username: <input type = 'text' name = 'username' value = '<%= @user.username %>'>
        </label>
        <label for='password'>
          Password: <input type = 'text' name = 'password'>
        </label>
        <label for='password_confirmation'>
          Password: <input type = 'password' name = 'password_confirmation'>
        </label>
        <input type = 'submit' value = 'Sign up!'>
      </form>
      <form action='/'>
          <input type='submit' value='Home'>
      </form>
  </body>
</html>
