<%= flash[:notice] %>
<br>
<br>
<form action='/users' method='post'>
  <input type='text' name='name' placeholder='Name' />
  <input type='text' name='username' placeholder='Username' />
  <input type='text' name='email' placeholder='Email' />
  <input type='password' name='password' placeholder='Password' />
  <input type='submit' value='Submit' />
</form>

