
<a href="/peeps" style="color: black; padding-left:30%; padding-right:30%;">Back to Peeps</a>

<div style="margin: 5px; background-color:white; color:blue; padding:10px; padding-left:30%; padding-right:30%;">
<h1 style="padding-left:30%; padding-right:30%;">Register for Chitter</h1>
  <form action="/users" method="post">
    <input type="text" name="registration_email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Register">
  </form>
</div>