<form action='/users' method='post'>
  <div>
    <p>
      <label for='username'>Username: </label>
      <input type='text' name='username'>
    </p>
    <p>
      <label for='name'>Full name: </label>
      <input type='text' name='name'>
    </p>
    <p>
      <label for='email'>Email: </label>
      <input type='text' name='email'>
    </p>
    <p>
      <label for='password'>Password: </label>
      <input type='password' name='password'>
    </p>
      <input type='submit' value='register'>
  </div>
</form>

<div>
  <p>
    Already have an account?
  </p>
  <a href='/login'>Log in</a>
</div>
