<form action="" method="post">
  <input type="text" name="username">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="button" name="submit" value="sign up">
</form>
