<h1> Sign up for Chitter </h1>

<form action='/users' method='post'>
  <input type='text' name='username' placeholder='username'/>
  <input type='text' name='handle' placeholder='handle'/>
  <input type='text' name='password' placeholder='password'/>
  <input type='submit' value='Complete registration'/>
</form>