<form action="/users/users-names" method="post">
    <input type="text" name="name" id="name" placeholder="name" />
    <input type="text" name="username" id="username" placeholder="username" />
    <input type="text" name="email" id="email" placeholder="email" />
    <input type="text" name="password" id="namepassword" placeholder="namepassword" />
    
    <input type="submit" value="Create Account" />
</form>