<%= flash[:notice] %>

<form action = '/users' method = 'post'>
  <label for 'email'> Email: </label>
  <input type = 'text' name = 'email' placeholder = "Email"/>
  <br>
  <label for 'password'> Password: </label>
  <input type = 'text' name = 'password' placeholder = "Password"/>
  <br>
  <label for 'name'> Name: </label>
  <input type = 'text' name = 'name' placeholder = "Name"/>
  <br>
  <label for 'username'> Username: </label>
  <input type = 'text' name = 'username' placeholder = "Username"/>
  <br>
  <input type= 'submit' value = 'Submit'/>
</form>
