

<div style="margin: 5px; background-color:white; color:blue; padding:10px; padding-left:30%; padding-right:30%;">
<h1 style="padding-left:10%; padding-right:10%;">Register for Chitter</h1>
  <div style="padding-left:30%; padding-right:30%;">
    <form action="/users" method="post">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <br>
      <input type="submit" style="font-size:30px" value="Register">
    </form>
  </div>
  <a href="/peeps" style="color: black; padding-left:30%; padding-right:30%; font-size:30px">Back to Peeps</a>
</div>