<h2>Chitter</h2>
<br>

<form action="/users" method="post">
  <input type="text" name="name" placeholder="enter name"> 
  <input type="email" name="email" placeholder="enter email address">
  <input type="password" name="password" placeholder="enter password">
  <input type="submit" value="Submit">
</form>