<form action="/users" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email" />
  <label for="password">Password:</label>
  <input type="text" name="password" />
  <label for="username">Username:</label>
  <input type="text" name="username" />
  <input type="submit" value="Sign up now" />
</form>