<html>
<head>
<style>

body {
  background-color: #F3F1F1
}

.list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 20px;
  width: 800px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38A1F3;
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: black;
  background-color: #F3F1F1;
}

.active {
  background-color: #0000FF;
  color:white;
}
</style>
</head>

<body><center>

<ol>
  <li><a style="float: left;" href="/">Home</a></li>
  <li><a style="float: left" href="/peeps">Timeline</a></li>
  <% if @user %>
  <li><form action="/sessions/destroy" method="post">
    <button style="float:right; color:white; background-color: #0000FF" type="submit" value="Sign Out">Sign Out</button>
  </form></li>
  <% else %>
  <li><a style="float: left" class="active" href="/users/new?">Sign Up</a></li>
  <li><a style="float: left" href="/sessions/new?">Sign In</a></li>
  <% end %>
</ol>

<h1 style="font-size:80px;">
Sign up for an account
</h1>
<h1>
  <%= flash[:notice] %>
</h1>


<h2>
<form action="/users" method="post">
  <input type="name" name="name" required="required" placeholder="name" style="font-size:40px; width:500px; height:50px; text-align:center"/>
  <input type="username" name="username" required="required" placeholder="username" style="font-size:40px; width:500px; height:50px; text-align:center"/>
  <input type="email" name="email" required="required" placeholder="email" style="font-size:40px; width:500px; height:50px; text-align:center"/>
  <input type="password" name="password" required="required" placeholder="password" style="font-size:40px; width:500px; height:50px; text-align:center"/>
<h2>
  <button name="signup" type="submit" value="Sign up" style="text-align:center; width:500px; font-size:50px;">Sign up</button>
</h2>
</form>
</h2>
</center></body></html>
