<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <h2>User Sign Up</h2>
    <form action="/users" method="post">
      <label for="name">Name:
        <input type="text" name="name">
      </label>
      <label for="email">Email:
        <input type="email" name="email">
      </label>Password:
      <label for="password">
        <input type="password" name="password">
      </label>Username:
      <label for="username">
        <input type="text" name="username">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
