<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>

<body>

<h1> Please sign up if you are not a chitter yet </h1>
  <form action="/users" method="post">
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="email" placeholder="e-mail"/>
  <input type="text" name="username" placeholder="username"/>
  <input type="text" name="password" placeholder="password"/>
    <button type="submit">Submit</button>
</form>

<br><br><br>
<form action="/" >
  <button type="submit">HOME</button>
</form>
</body>
</html>
