<h1 style="text-align:center;">CHITTER</h1>

<h3>Sign up to Chitter:</h3>

<form action="/users" method="post">
  <input type="email" name="email" placeholder="Email" />
  <input type="text" name="user_name" placeholder="User_name" />
  <input type="text" name="name" placeholder="Name" />
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Submit" />
</form>
