<h1>Please sign up</h1>

<form action="/users" method="post">
  <div class="form-group">
    <label for="first_name">First name:</label>
    <input class="form-control" type="text" name="first_name">
  </div>

  <div class="form-group">
    <label for="last_name">Last name:</label>
    <input class="form-control" type="text" name="last_name">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="user_name">User name:</label>
    <input class="form-control" type="text" name="user_name">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="text" name="password">
  </div>


  <input input class="btn btn-primary" type="submit" value="Submit">
</form>