<div style="font-family:Verdana">
  <h1>Sign up</h1>
  <br>
  <form method="post" action="/users">
    <input type="name" name="name" placeholder="Name">
    <input type="username" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign up">
  </form>
</div>
