<form action="/users" method="post">
  <input type="text" name="name" placeholder="Your name">
  <input type="text" name="username" placeholder="Your preferred username">
  <input type="email" name="email" placeholder="Your email address">
  <input type="password" name="password" placeholder="Your chosen password">
  <input type="submit" value="Sign up">
</form>