<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel = "stylesheet" href="../styles.css"/>
  </head>
<body>
  <div class = "mainbody">
    <nav>
      <div class = "logo"> CHITTER</div>
      <div class = "nav-items">
        <a href="/sessions/new">LOGIN</a>
        <a href="/peeps">PEEPBAR</a>
      </div>
  </nav>
  <section class = "center-form">
    <div class="log-prompt">
      <h2 >Already a chitterer? <a href="/sessions/new"> Login here!</a><h2>
    </div>
    <form method="post" action="/users">
      <h2 class ="flash"><%= flash[:notice] %><h2>
      <h1><input class ="format-input" type="name" name="username" placeholder="Name" required></h1>
      <h1><input class ="format-input" type="email" name="email" placeholder="Email" minlength='2' required></h1>
      <h1><input class ="format-input" type="password" name="password" placeholder="Password" minlength='8' required ></h1>
      <h1><button class ="format-input buttoncolour" type="submit" value="Submit">Sign up</button></h1>
    </form>
  </section>
  </div>
</body>
</html>