<h1>Sign up for Chitter below!</h1>
<br>
<br>
<form action="/users" method="post">
<label for="email">Enter your email address:</label><br>
  <input type="email" name="email" /><br><br>
  <label for="password">Enter your password:</label><br>
  <input type="password" name="password" /><br><br>
  <label for="name">Enter your name:</label><br><br>
  <input type="name" name="name" /><br><br>
  <label for="username">Enter your username:</label><br>
  <input type="username" name="username" /><br><br>
  <input type="submit" value="Sign up">
</form>

<body>
<style>
body  {
  background-image: url("https://about.twitter.com/content/dam/about-twitter/en/brand-toolkit/brand-hero-desktop.jpg.twimg.1920.jpg");
  width:1590px; 
  height:900px; 
  background-position:center;">
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>

<style type="text/css">
ul{
  display:flex;
  flex-direction: column-reverse;
}
</style>