<form action="/users" method="post">
  <input type="username" name="username" placeholder="Enter your username" />
  <input type="password" name="password" placeholder="Enter your password"/>
  <input type="submit" value="Submit" />
</form>