<form action="/users" method="post">
  <label for="username">Username: </label>
  <input type="username" id="username" name="username">
  
  <label for="name">Name: </label>
  
  <input type="name" id="name" name="name">

  <label for="email">email: </label>
  <input type="email" id="email" name="email">
  
  <label for="password">Password: </label>
  
  <input type="password" id="password" name="password">
  
  <input type="submit" value="Sign-up">
</form>
