<form action="/users" method="post">
  <label for='names'>
    <input type="names" name="names" />
  </label>
  <br>
  <br>
  <label for='username'>
    <input type="username" name="username" />
  </label>
  <br>
  <br>
  <label for='email'>
    <input type="email" name="email" />
  </label>
  <br>
  <br>
  <label for='password'>
    <input type="password" name="password" />
  </label>
  <br>
  <br>
  <input type="submit" value="Submit" />
</form>
