<form action="/users" method="post">
  Email:
  <input type="email" name="email" />
  Password:
  <input type="password" name="password" />
  Name:
  <input type="name" name="name" />
  Username:
  <input type="username" name="username" />
  <input type="submit" value="Submit" />
</form>