<style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>
<form action="/users" method="post">
  <input type="text" name="user_name" placeholder="User Name" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
