<form class="" action="/user-add" method="post">
  Fill in your username:
  <input type="text" name="username">
  Fill in your email address:
  <input type="text" name="email">
  Fill in your password:
  <input type="text" name="password">
  <input type="submit" value="Submit">
</form>
