<style>
 a { display: inline; }
 form { display: inline; }
 body {
    background-color: #D6AD6B; 
    color: #FEF5E8; 
}
</style>
<center>
<h1> Create your Chitter account </h1>
<br>
<form action="/users" method="post">
  <input style="height:30px;font-size:14pt;" type="text" name="user_name" placeholder="User Name" />
  <input style="height:30px;font-size:14pt;" type="password" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
<br><br>
 <input type="button" value="Never mind" onclick="history.back()">
 <br><br>
<img src="https://cdn3.iconfinder.com/data/icons/autumn-21/32/squirrel-animal-autumn-512.png" width="200" height="200" alt= "Squirrel!">
<img src="https://cdn3.iconfinder.com/data/icons/autumn-21/32/squirrel-animal-autumn-512.png" width="200" height="200" alt= "Squirrel!">
<img src="https://cdn3.iconfinder.com/data/icons/autumn-21/32/squirrel-animal-autumn-512.png" width="200" height="200" alt= "Squirrel!">
   <br><br>
</center>