<form action="/users" method="post">
  <label for="email">
    Email
    <input type="email" name="email" />
  </label>
  <label for="user_name">
    Username
    <input type="user_name" name="user_name" />
  </label>
  <label for="name">
    Name
    <input type="name" name="name" />
  </label>
  <label for="password">
    Password
    <input type="password" name="password" />
  </label>
    <input type="submit" value="Submit" />
</form>
