<form action="/new_user" method="post">
  <input type="text" name="name" placeholder="Your name"/>
  <input type="email" name="email" placeholder="Your email"/>
  <input type="password" name="password" placeholder="Your password"/>
  <input type="submit" value="Sign Up" />
</form>
