
<h1>Chitter</h1>

<h2>Register</h2>

<h3>Please fill out the below form with the required information</h3>

<form action="/users" method="post">
  <input class="input-box" name="first_name" type="first_name" placeholder="Enter first name">
  <br>
  <input class="input-box" name="surname" type="surname" placeholder="Enter surname">
  <br>
  <input class="input-box" name="email_address" type="email_address" placeholder="Enter email address">
  <br>
  <input class="input-box" name="password" type="password" placeholder="Enter password">
  <br>

  <button class="signup-btn" type="submit" value="Create account"> Create account </button>

</form>
