
<h1>Chitter</h1>

<h2>Register</h2>

<h3>Please fill out the below form with the required information</h3>

<form action="/register_details" method="post">
  <label for="first_name">
    First name
    <input type="text" name="first_name">
  </label>
  <label for="surname">
    Surname
    <input type="text" name="surname">
  </label>
  <label for="email_address">
    Email address
    <input type="text" name="email_address">
  </label>
  <label for="username">
    Username
    <input type="text" name="username">
  </label>
  <label for="password">
    Password
    <input type="text" name="password">
  </label>
  <input type="submit" value="Create account">
</form>
