<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" >
  </head>

  <body class="background-image-register">
    
    <div class="heading1">
      Chitter
    </div>

    <div class="card">
      <div class="container">

        <div class="heading2">
          <p>Register</p>
        </div>

        <div class="body-text">
          <p>Please fill out the below form with the required information</p>
        </div>

        <form action="/users-register" method="post">
          <input class="input-box" name="first_name" type="first_name" placeholder="Enter first name">
          <br>
          <input class="input-box" name="surname" type="surname" placeholder="Enter surname">
          <br>
          <input class="input-box" name="email" type="email" placeholder="Enter email address">
          <br>
          <input class="input-box" name="password" type="password" placeholder="Enter password">
          <br>
          <button class="signup-btn" type="submit" value="Create account"> Create account </button>
        </form>
      </div>
    </div>

  </body>

</html> 

