
<ul class="w3-ul w3-border-top">
  <li class="user" id="1">
    <h3> <%= "Hi, #{$user}! Write your first Peep." %></h3>
  </li>
</ul>

<form action='peeps/new'>
  <input type="submit" value="First Peep" class="w3-button w3-xlarge w3-theme-action"
  style="position:fixed;top:48px;right:24px;"></input>
</form>
