<html>
<div class="auth">
<form action="/users" method="post">
    <div>
      <input class="button" type="text" value="firstname" placeholder="your firstname here" />
    </div>
    <div>
      <input class="button" type="text" value="lastname" placeholder="your lastname here" />
    </div>
    <div>
      <input class="button" type="text" value="username" placeholder="your username here" />
    </div>
    <div>
      <input class="button" type="text" value="email" placeholder="your email here" />
    </div>
    <div>
      <input class="button" type="text" value="password" placeholder="your password here" />
    </div>
  </div>
</form>
</html>
