<h2>
  <%= flash[:notice] %>
</h2>

<div class="row justify-content-center">
<div class="col-4"></div>
<div class="col">
<div class="container m-5">
  <form action="/sessions" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="username" name="username" class="form-control" id="username" aria-describedby="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
  </form>
</div>
</div>
<div class="col-4"></div>
</div>
