<form action="/users" method="post">
  <input type='text' name="email"> Email
  <input type='text' name='username'> Username
  <input type='text' name='name'> Name
  <input type='text' name='password'> Password
  <input type='submit' name= "Submit">
  </form>
