<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">


<h1> Sign up to Chitter! </h1>

<div class="container">
  <div class="row">
    <form action='/users/new' method='post'>
      <input id='username' type='text' name='username' placeholder='Username'required>
      <br>
      <input id='email' type='text' name='email' placeholder="Email address" required>
      <br>
      <input type='text' name='password' placeholder="Password" required>
      <br>
      <input type='text' name='password_confirmation' placeholder="Reconfirm password" required>
      <br>
      <div class="row">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </div>
    </form>  
  </div>
</div>  
