<form action="/users/sign_up" method="POST">
 <h1>Sign Up</h1>
  <p>Please fill in this form to create an account.</p>
  <hr>

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="email" required>

  <label for="password_digest"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <label for="psw-repeat"><b>Repeat Password</b></label>
  <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

  <input type="submit" value="Submit">
</form>

<!-- Reference for sign-up form: https://www.w3schools.com/howto/howto_css_signup_form.asp -->



