<h1> Sign up to Chitter! </h1>

<h1> </h1>
<form action='/users/new' method='post'>
  <label for='username'>Username:</label>
  <input id='username' type='text' name='username' required>
  <br>
  <label for='email'>Email:</label>
  <input id='email' type='text' name='email' required>
  <br>
  <label id='password' for='password'>Password:</label>
  <input type='text' name='password' required>
  <br>
  <label id='password_confirmation' for='password'>Reconfirm password:</label>
  <input type='text' name='password_confirmation' required>
  <br>
  <input type='submit' value='Sign up'>
</form>  
