<h1>Signup</h1>
<form class="sign-up" action="/users" method="post">
  Name<br>
  <input type="text" name="name" id="name" value=""><br>
  Username<br>
  <input type="text" name="username" id="username" value=""><br>
  Email<br>
  <input type="email" name="email" id="email" value=""><br>
  Password<br>
  <input type="password" name="password" id="password" value=""><br><br>
  <input type="submit" name="submit" value="Submit" id="Submit">
</form>
