<h1>Chitter Sign Up Page</h1>

<form action='/user/sign-up/new' method='post' >
  <input placeholder='Nme' type='text' name='user_name' >
  <input placeholder='email' type='text' name='user_email' >
  <input placeholder='Password' type='text' name='user_password' >
  <input value='Sign Up' type='submit' >
</form>