<div class="row justify-content-center">
  <div class="col-4"></div>
  <div class="col">
    <div class="container m-5">
      <form action="/users" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">Name</label>
        <input type="name" name="name" class="form-control" id="exampleInputEmail3"
          aria-describedby="emailHelp">
      </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="username" name="username" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail2" class="form-label">Email Address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail2"
            aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-4"></div>
</div>
