<%= flash[:notice] %>
<form action='/users/<%= @user.id %>/update' method='post'>
  <label for='user_name'> User Name
    <input type='text' name='user_name' value='<%= @user.user_name %>'/>
  </label>
  <label for='email'> E-mail
    <input type='email' name='email' value='<%= @user.email %>'/>
  </label>
  <input type='submit' value='Submit' />
</form>
