<form class="" action="/sessions" method="post">
  Fill in your username
  <input type="text" name="username" value="">
  Fill in your password
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Sign in">
</form>
