<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <br><br>
    <center>
    <font face="courier new">
      Please enter your details: <br><br>
    <form method="post" action="/users">
      <input type="email" name="email" placeholder="Email"><br><br>
      <input type="password" name="password" placeholder="Password"><br><br>
      <input type="text" name="name" placeholder="Name"><br><br>
      <input type="text" name="username" placeholder="Username"><br><br>
      <input type="submit" value="Register">
    </form>
    <br><br>
    <font face="courier new">
    <a href="/home"> Homepage </a>
    </font>
    </font>
    </center>
  </body>
</html>
