<%= flash[:notice] %>
<p>Insert your email and password:
<form action="/users/user" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" value="Sign in">
</form>
</p>
