<p>
  Welcome, <%= @user.name %>! You have registered with the following details:
</p>
<ul>
  <li>Name = <%= @user.name %> </li>
  <li>Email = <%= @user.email %> </li>
  <li>Username = <%= @user.username %> </li>
</ul>
<form action='/peeps' method='get'>
  <input type='submit' name='Return to Peeps'>
</form>
