<style>
ul {
  list-style-type: none;
  background: #ccffff;
  padding: 20px;
  border-style: dotted;
  line-height: 200%;
}

h1 {
  text-align: center;
  color: #ff0000;
  font-family: 'Verdana';
}

h2 {
  text-align: center;
  color: white;
  font-family: "Arial";
  font-size: 24px;
}

body {
  font-family: "Arial";
}

div.header {
  background color: "grey";
  float: left;
  clear: right;
  width: 400px;
  margin-left: 90px;
}

div.greeting {
  margin-left: 50px;
  float: right;
  width: 300px;
  background-color: #ff0000;
  margin-right: 150px;
}

div.peeps {
  float: right;
  margin-right: 150px;
  width: 300px;
}

img {
  float: left;
  width: 420px;
}

</style>
