body {
  background: linear-gradient(#009999, #00ffff)
}

h1 {
  font-family: 'Helvetica';
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}

h2 {
  font-family: 'Helvetica';
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}

h3 {
  font-family: 'Helvetica';
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}

ul {
  font-family: 'Helvetica';
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: left;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}
