#main {
  margin: 10px auto 0px auto;
  font-size: 20px;
  font-family: sans-serif;
  width: 600px;
  height: auto;
  border:2px solid black;
  padding: 20px;
}
h1 {
  font-style: italic;
}
ul {
  list-style: none;
}
li {
  margin: 10px 0px;
}
.fname {
  display: inline-block;
  padding-right: 10px;
  width: 50px;
  height: 50px;
}

.fvalue {
  display: inline-block;
  font-weight: bold;
  width: 150px;
  height: 50px;
}

/*
h1 {
  font-style: italic;
}

input[name=submit] {
  height:50px;
  width:100px;
}
input[name=player1_choice] {
  height: 60px;
  width: 180px;
  margin: 5px;
  padding-top: 10px;
}
td, th {
  height: 40px;
  width: 100px;
  text-align: left;
  font-weight: 36px;
  text-transform: uppercase;
}
th {
  font-weight: bold;
}*/
