input {
  display: block;
}

.wrapper {
  max-width: 600px;
  margin: 2rem auto;
}

#timeline {
  display: block;
  list-style: none;
  padding: 0;
}

#timeline li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: solid 1px #333;
  border-radius: 5px;
  text-align: right;
}

#timeline p {
  margin: 0;
}

#timeline .peep {
  text-align: left;
}

#timeline .peep-meta {
  font-size: 0.8rem;
  text-align: right;
}
