li {
  list-style-type: none;
}

.jumbotron {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 3%;
}

h1 {
  color: #417ABF;
}

.bg-info {
    background-color: #cce7f0!important;
}

.btn-primary {
  color: #ffffff;
  background-color: #4BA9DB;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #148AD9;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #4BA9DB;
  border-color: #130269;
}

.btn-primary .badge {
  color: #4BA9DB;
  background-color: #ffffff;
}
