#main-page {
  margin-top: 80px;
}

.banner {
  width: 100%;
  background-color: #F45D22;
  padding: 10%;
  text-align: center;
  color: #FFFFFF;
}

.navbar-btn {
  margin: 5px;
}

.navbar-brand {
  font-family: 'Frijole', cursive;
  font-size: 36px;
  padding: 20px;
}
