p, ul, {
  font-size: 25px;
  font-family: Baloo Bhaina, cursive;
  line-height: 30px;
}

h1, h2, h3 {
  font-family: Baloo Bhaina, cursive;
}

.field {
  line-height: 20px;
  font-size: 20px;
}

.button {
  border: 2px outset white;
  font-size: 20px;
  background-color: dodgerblue;
  text-decoration: none;
  padding: 3px;
  font-family: Baloo Bhaina, cursive;
  color: white;
}

.textbox{
  height: 30px;
  border: 3px inset;
  color: white;
  background-color: dodgerblue;
  padding: 3px;
}

.peepcontent{
  border: 3px inset;
  color: white;
  background-color: dodgerblue;
  padding: 3px;
}

.page {
  background-color: dodgerblue;
  color: white;
}
