h1 {
    color: navy;
    text-align: center;
}

h2 {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

body {
  color: navy;
  background-color: lightblue;
}

#logo {
  display: block;
  margin: auto;
}

#login_form {
  position: fixed;
  text-align: right;
  right: 40px;
}

#register_link {
  font-style: italic;
  font-size: 12px;
}

.login_text {
  width: 180px;
  height: 20px;
  margin: 3px;
  text-align: right;
}

.peep_block {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  width: 350px;
  background-color: #99ccff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.peep_info {
  font-style: italic;
  font-size: 15px;
  text-align: right;
  padding: 5px;
}

[name=peep_list] {
  text-align: center;
  font-size: 45px;
  margin: auto;
  padding: 10px;
  width: 500px;
  background-color: #99bbff;
}
