body {
    font-family: "Montserrat Alternates";
    color: #cccccc;
    text-align: center;
    background-color: #2b2b2b;
}

.navbar {
    color: darkgoldenrod;
}

.peep-form textarea {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    overflow-y: hidden;
    padding: 1.5rem 0;
    resize: none;
}