body {
  background-color: white ;
}

.nav {
  background-color: black;
  color: white;
}

.header {
  background-color: black;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Courier;
  color: white;
}

.header h1 {
  font-size: 3em
}

.header p {
  font-size: 1em
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar li {
  float: right;
  padding: 10px;
}

.post {
  width:100%;
}

.post form {
  margin: 0 auto;
  width: 200px;
}

.flash {
  text-align: center;
  padding: 20px;
  font-family: Courier;
  font-size: 1.5em
}

.peeps-container {
  background-color: white;
  color: black;
  margin: 0 auto;
  float: none;
  width: 70%
}

.peeps-container li {
  list-style-type: none;
  padding: 20px;
  border: 2px solid black ;
  border-radius: 15px ;
  margin: 5px;
}


.peep {

}

.peep-time {
  float: right;
  font-size: 0.7em;
}
