.added-info {
  font-style: italic;
  font-size: 12px;
}

.each-peep {
  background-color: rgb(231, 231, 231);
  margin: 5px 0 5px 0;
  padding: 5px 7px 5px 7px;
  border-radius: 4px;
  border: solid 0.5px rgb(201, 201, 201);
  transition: background-color 0.2s ease;
}

.each-peep:hover {
  background-color: white;
}

textarea {
  width: 100%;
  height: 70px;
  resize: none;
}

#peep-button {
  margin-top: 15px;
}

.greeting {
  font-family: 'Roboto', sans-serif;
}
