
$colour_one: #444444;
$colour_two: #FF847C;
$colour_three: #E0E4CC;
$colour_four: #FCF9F0;

body {
  background: $colour_four;
}

@mixin button {
  display: inline-block;
  border: 1px solid $colour_two;
  border-radius: 5px !important;
  background: $colour_four;
  color: $colour_two;
  font-size: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background: $colour_two;
    color: $colour_four;
  }
  &:focus {
    outline: none;
  }
}

input[type=submit] {
  @include button;
}

header#masthead {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6em;
  background: $colour_four;
  text-align: left;
  padding: 1em 0;
  z-index: 100;
  border-bottom: 3px solid $colour_two;
  h1 {
    display: inline-block;
    font-family: "estilo-regular", sans-serif;
    margin-top: 0;
    a {
      color: $colour_two;
    }
  }
  .user-details, .sign-up {
    float: right;
  }
  .user-details {
    margin-top: 1em;
    p, form {
      display: inline;
      float: left;
    }
    .icon {
      float: left;
      margin-right: 0.3em;
      font-size: 2em;
      line-height: 0.9;
      color: $colour_two;
    }
    p {
      font-size: 1.2em;
      color: $colour_two;
      margin-right: 2em;
      margin-top: 0;
      vertical-align: top;
      line-height: 1.2em;
    }
  }
  .sign-up a{
    @include button;
    margin-top: 1em;
    padding: 0 0.4em;
  }
}




main {
  margin-top: 2em;
  padding-bottom: 6em;
  padding-top: 4em;
}

main#index {
  position: relative;
  display: block;
  width: 100%;
  background-color: transparentize($colour_four, 0.95);
    div#welcome {
      z-index: 10;
      width: 100%;
      display: block;
      text-align: center;
      padding: 1.5em 0;
      background: $colour_one;
      border-bottom: 3px solid $colour_two;
      h1 {
        font-family: "estilo-regular", sans-serif;
        color: $colour_four;
        font-size: 4em;
        text-transform: uppercase;
      }
    }
    &::after {
    content: "";
    background:  url(images/clouds.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

#peeps {
  padding-top: 2em;
  .peep-container {
  z-index: 10;
  .peep {
    background: $colour_four;
    border-bottom: 2px $colour_three solid;
    border-radius: 5px;
    margin-top: 2em;
    .name {
      display: block;
      width: 100%;
      background: $colour_two;
      color: $colour_four;
      margin-bottom: 1em;
      padding: 1em;
      line-height: 1.5;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .icon {
        margin-right: 0.5em;
        font-size: 1.4em;
        line-height: 0;
        vertical-align: baseline;
      }
    }
    .text {
      padding: 1em;
    }
    .meta {
      color: #999;
      margin: 1em 0;
      padding: 0 1em;
      display: block;
      width: 100%;
      position: relative;
      overflow: hidden;
      .likes, .reply-toggle, .time, .delete {
        display: inline-block;
        float: left;
        width: auto;
        position: relative;
        margin-right: 1.5em;
      }
      .likes {
        p, form {
          display: inline;
          float: left;
        }
        form {
          margin-right: 0.5em;
          .like-this {
            &:before {
              content: "\ea19";
            }
          }
        }
        p {
          margin: 0 0 0 0;
          color: $colour_two;
        }
      }  
      .reply-toggle {
        cursor: pointer;
      }
    }
  }

  .replies {
    display: none;
    bottom: -1em;
    background-color: $colour_four;
    color: $colour_two;
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
    padding: 1em;
    border: 2px solid $colour_two;
    border-top: 1px solid $colour_four;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    textarea {
      resize: none;
      border-radius: 5px;
      border-color: $colour_three;
    }
    .reply {
      border-bottom: 1px solid $colour_two;
      padding: 1em 0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
}

aside.user-actions {
  margin-top: 2em;
  background: $colour_four;
  padding: 1em;
  border-radius: 5px;
  color: $colour_two;
  display: block;
  overflow: visible;
  position: relative;
  p {

  }
  h2 {
    font-family: "estilo-regular", sans-serif;
    color: $colour_two;
  }
  textarea {
    background: #fff;
    border-radius: 5px;
    border-color: $colour_three;
    resize: none;
  }
  form {

  }
  form#sign-in {
    label {
      color: $colour_two;
      font-size: 1.2em;
    }
    input[type=email], input[type=password]  {
      background: $colour_four;
      color: $colour_one;
      &:hover {
        background: $colour_four;
        color: $colour_one;
      }
    }
  }
}

main#sign-up {
  padding-top: 8em;
  label {
    color: $colour_two;
    font-size: 1.2em;
  }
}

#notice, ul#errors {
  position: relative;
  top: 0;
  background: $colour_two;
  color: $colour_four;
  width: 100%;
  padding: 1em 3em;
  margin: 0 0 0 0;
  text-align: center;
  list-style: none;
}


footer#colophon {
  padding: 3em 0 1em;
  background: $colour_one;
  text-align: center;
  .site-info {
    border-top: 3px solid $colour_two;
    padding-top: 1em;
    p {
      color: $colour_two;
      margin-bottom: 0.5em;
      a {
        color: $colour_four;
      }
    }
  }

}
