<form method="post" action="/login">
  <label for="Username">
    <input type="text" name="username" placeholder="Username" required>
  </label>
  <label for="Password">
    <input type="password" name="password" placeholder="Password" required>
  </label>
  <input type="submit" value="Sign in">
</form>
