<h1> Your Peeps</h1>

<form action="/hub/new" method="get">
  <input type="submit" value="Post new peep">
</form>

<ul id="hub">
  <% @peeps.reverse_each do |peep| %>
      <h3><%= peep.pweep %></h3>
      <h3>Time posted: <%= peep.time %></h3>
    <% end %>

</ul>

