<html>

  <body>

<h1> Your Peeps</h1>

<form action="/hub/new" method="get">
  <input type="submit" value="Post new peep">
</form>

<ul id="hub">
  <% @peeps.reverse_each do |peep| %>
      <h4><%= peep.pweep %></h4>
      <p>Time posted: <%= peep.time%></p>
    <% end %>
</ul>

  </body>
</html>

