<html>
  <body>

    <div class="title-new-peep">
      <img src="/blabla.png">
      <h3> New Peep </h3>
    </div>

    <div class="row">
    <div class="container s-form-two">
      <form action="/hub" method="post">
        <div class="form-group">
          <label for="pweep">Compose new peep:</label>
          <input class="form-control" type="text" name="pweep" placeholder="What do you want to share?">
        </div>

        <button type="submit" class="btn peep-button">Post peep</button>
        </form>
      </div>

  </body>
</html>
