@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  animation: change 15s ease-in-out infinite;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 10rem;
}

.container {
  margin: 50px auto;
  width: 600px;
}
