

<%= erb :'/partials/_error' %>

<form action="/user" method="post">
  <input type="text" name="name" placeholder="name here">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="email" placeholder="email here">
  <input type="text" name="password" placeholder="password here">
  <input type="text" name="password_confirmation" placeholder="pass confirm here">
  <input type="submit" value="Create Account">
</form>
