<h1>Welcome to Chitter</h1>

Are you an existing user? Please sign in below:

<form action="/registereduser" method="post">
	<label for="email">
		Please enter your email address:
	<input type="email" name="email">
	</label>
	<label for="password">
	Please enter your password:
	<input type="password" name="password">
	</label>
	<input type="submit" value="Sign in!">
</form>

<p>Click here to register:
<form action="/newuser">
<input type="submit" value="Register">
</form></p>

<p>See the peeps
	<form action='/peeps'>
		<input type="submit" value="Go!">
	</form></p>
