<div class='pageheading' id='pleasesignin'>
  <h3>Enter your sign in information:</h3>
</div>

<div id='signinform'>

<form action='/signin' method='post'>
  <% if flash[:notice] %>
    <div class='noticebox' id='signinnotice'>
      <div id='notice'><%= flash[:notice] %></div>
      Username:<br>
      <input type='text' name='username'/><br>
      Password:<br>
      <input type='text' name='password'/><br>
    </div>
  <% else %>
    Username:<br>
    <input type='text' name='username'/><br>
    Password:<br>
    <input type='text' name='password'/><br>
  <% end %>
  <input class='signbutton' type='submit' value='Sign In'/>

</form>


</div>
