<h1>Welcome to Chitter!</h1>
<div class="sign-up">
  <h2>If you don't have an account, please sign up:</h2>
  <form action="/signup" method="post">
    <label>Email</label>
      <input type="text" name="email">
    <label>Password</label>
      <input type="password" name="password">
    <label>Name</label>
      <input type="text" name="name">
    <label>Username</label>
      <input type="text" name="username">
    <input type="submit" value="Sign up">
  </form>
</div>

<p>
<p>

<div class="log-in">
  <h2>If you already have an account, please sign in:</h2>
  <form action="/login" method="post">
    <label>Email</label>
      <input type="text" name="email">
    <label>Password</label>
      <input type="password" name="password">
    <input type="submit" value="Log in">
  </form>
</div>
