<!DOCTYPE html>
<html>
  <style>
    body.serif {
      font-family: Tahoma, Geneva, sans-serif;
    }

    div {
      border-radius: 5px;
      background-color: #0F99C3;
      padding: 20px;
    }

    h1 {
      color: white;
    }

  </style>
  <body class="serif">

    <div>

      <h1>
        Welcome to Chitter
      </h1>


    </div>

  </body>
</html>
