<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.posted_at.strftime("%d %b %Y %H:%M") %> - <%= peep.content %>
    </li>
  <% end %>
</ul>

<form action='/posts/new'>
<input type="submit" value="New Peep">
</form>
