<div class='feed'>
<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <div class="peep_body">
      <%= peep.content %>
      </div>
      <div class="peep_footer">
        <%= User.get(peep.user_id).username %>   (<%= peep.posted_at.strftime("%d %b %Y %H:%M") %>)
      </div>
    </li>
  <% end %>
</ul>
</div>

<style>
  li {
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    padding-bottom: 1px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  ul#peeps {
    list-style-type: none;
    width: 750px;
  }

  .feed {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .peep_body {
    padding: 10px;
  }

  .peep_footer {
    position: relative;
    background-color: antiquewhite;
    text-align: right;
    padding: 5px 20px 5px 0px;
  }

</style>
