<% if current_user %>
  Welcome, <%= current_user.name %>!<br>
  <form action='/posts/new'>
  <input type="submit" value="New Peep">
  </form>
<% end %>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.posted_at.strftime("%d %b %Y %H:%M") %> - <%= peep.content %> - <%= User.get(peep.user_id).username %>
    </li>
  <% end %>
</ul>
