<style>
body {          background-color: skyblue;}

#mainposts {           border: solid 1px black;
                border-radius: 20px;
                font-weight: bold;
                position: relative;
                margin-left: 450px;
                margin-top: 50px;
                padding: 5px;
                width: 500px;
                background-color: white;}

li {            padding: 12px 45px;
                margin-bottom: 6px;
                font-family: helvetica;
                font-weight: lighter;
                color:       black;
                border-bottom: 1px solid gray;}

li span {       color: skyblue;}

.title {        font-family: helvetica;
                color:       white;
                font-weight: bolder;
                position: relative;
                margin-left: 590px;
                margin-top: -10px;
                font-size: 50px;}

#logo {         position: relative;
                margin-left: 635px;
                margin-top:  -20px;
                height: 250px;}

#newpost {      border: solid 1px black;
                border-radius: 20px;
                font-weight: bold;
                position: relative;
                margin-left: 70px;
                margin-top: 20px;
                padding: 5px;
                width: 350px;
                background-color: lightgrey;
                text-align: center;}

h2 {
                font-family: helvetica;
                font-weight: lighter;
                color:       black;}
</style>


<img id="logo" src="https://www.shareicon.net/data/2016/07/19/798503_chat_512x512.png">
<h1 class = 'title'>BLaBBeR</h1>


<body>
  <div id='mainposts'>

    <div id='newpost'><h2> POST NEW BLAB </h2> <form action='/posts' method='POST'>
        <label for='body'>
          <input type='text' name='body' />
        </label>
        <input type='submit' value='SEND!'>

      </form>
    </div>

<ul id='posts' style= "list-style:none" class = 'blabs';>
  <% @posts.reverse.each do |post| %>
  <li>
    <%= post.body.capitalize %>
    <span>added on <%= post.created_at %></span>
  </li>
 <% end %>
</ul></div>
</body>
