<!DOCTYPE html>
<html>
<head></head>
<body>
<% @posts.each do |post| %>
<% @user = User.first(id: post.user_id) %>
  <div class='peep'>
      <img width='20px' height='20px' src="<%= @user.image_url %>">
      <p><%=@user.name%>:
      <%= post.created_at %></p>
      <p><%=post.content %></p>
    </div>
    <br><br>
<% end %>

<% if current_user %>
<form class='fixed' action="/posts/new" method="get">
  <input class='fixed' type="submit" value="Peep!">
</form>
<% end %>
</body>
</html>
