<%= erb :header %>

<div id='posts'>
  <ul id='posts'>
    <% @posts.reverse.each do |post| %>
      <li id="tips">
        <%= post.user.name %> posted the tip:<br>
        <%= post.tip %><br>
        <sub><%= post.time_to_string %></sub>
      </li>
    <% end %>
  </ul>
</div>

<% if current_user %>
  <div id='new_link'>
    <form action='/posts/new'>
      <input type="submit" value="Add New Tip" class="button">
    </form>
  </div>
<% end %>
