<ul id = 'posts'>

<% @posts.each do |post| %>
<li>
  Content: <%=post.content %>
  Name: <%=(User.first(id: post.user_id)).name%>
  Username: <%=(User.first(id: post.user_id)).username%>
  Time: <%= post.created_at %>
</li>
<% end %>
</ul>


<form action="/posts/new" method="get">
  <input type="submit" value="Peep!">
</form>
