<h2> Peeps </h2>
<div class="posts" id="posts">
  <% @posts.reverse.each do |post| %>
  <ul>
    <li>Peep: <%= post.message %></li>
    <li>User: <%= post.user.username %></li>
    <li>Date: <%= (post.created_at).strftime("%d/%m/%y: %H:%M:%S") %></li>
  </ul>
  <% end %>
</div>
