<!DOCTYPE html>
<html>
<head></head>
<body>
<% @posts.each do |post| %>
  <div class='peep'>
      <%=(User.first(id: post.user_id)).name%>:
      <%= post.created_at %>
      <br><br>
      <%=post.content %>
    </div>
    <br><br>
<% end %>


<form action="/posts/new" method="get">
  <input type="submit" value="Peep!">
</form>
</body>
</html>
