<h1> Posts </h1>

<ul id='posts'>
  <% @posts.reverse_each do |post| %>
    <li>
      <%= User.get(post.user_id).username %>
      <%= post.postedTime %> - <%= post.post %>
    </li>
  <% end %>
</ul>
