<%= erb :header %>

<% if !current_user %>
  <div id='sign_up'>
    <form action='/users/new'>
      <input type='submit' value='Sign Up' class="button">
    </form>
  </div>
  <div id='sign_in'>
        <form action='/sessions/new'>
          <input type="submit" value="Sign In" class="button">
        </form>
  </div>
<% end %>
<div id='posts'>
  <ul id='posts'>
    <% @posts.reverse.each do |post| %>
      <div id='tips'>
        <li id='tips'>
          <span class='username'><%= post.user.user_name %></span> posted the tip:<br>
          <%= post.tip %><br>
          <sub><span class='time'><%= post.time_to_string %></span></sub>
        </li>
      </br><br>
      </div>
    <% end %>
  </ul>
</div>
