<%= erb :header %>

<div id='posts'>
  <ul id='posts'>
    <% @posts.reverse.each do |post| %>
      <li class="dumbbell">
        Tip: <%= post.tip %>
      </li>
    <% end %>
  </ul>
</div>

<% if @user %>
  <div id='new_link'>
    <form action='/posts/new'>
      <input type="submit" value="Add New Tip" class="button">
    </form>
  </div>
<% end %>
