<%= erb :head %>

<div id='new'>
  <form action='/posts' method='post'>
    <input type='text' name='tip' placeholder='enter your tip here...'>
    <input type='submit' value='Submit' class="button">
  </form>
</div>
