<div id="wrapper">
  <div id="content">
    <h1>Create post</h1>
    <form action='/' method='post'>
      <label for='message'>Message:</label>
      <input name='message' type='text'>
      <input type='submit' value='Post'>
    </form>
  </div>
</div>
