<h1>Chitter</h1>
<form class="" action="/posts" method="post">
  <fieldset>
    <legend>New Chitter Post</legend>
    <p>
      <label for="text">Post:</label>
      <input id="content" type="text" id="text" name="text">
    </p>
    <p>
      <input type='submit' id="submit" value='Submit'>
    </p>
  </fieldset>
</form>
