<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<form action='/posts/new' method='post'>
  What's on your mind? <input type='text' name='new_peep'><br>
  <input type='submit' value='PEEP'>
</form>
