<!DOCTYPE html>
<html>
<head>
</head>
<body>

<%if current_user%>
<textarea form='peep' rows="4" cols="50" name='content'>
  Compose your peep!
</textarea>
<br><br>
<form action='/posts' method='post' id='peep'>
  <input class='button' type='submit' value='Peep!'>
</form>
<%else%>
<p>You must be logged in to peep</p>
<%end%>
</body>
</html>
