<form class="peeping" action="/posts" method="post">
  <p>
    <input class="peep_form" id="content" type="text" id="text" name="text" placeholder="What are you up to?">
  </p>
  <p>
    <input class="peep_button" type='submit' id="submit" value='Submit'>
  </p>
</form>
