<form action='/posts/new' method='post'>
  <label for='title'>Title:
    <input type='text' name='title'/>
  </label>
  <label for='messsage'>Message:
    <input type='text' name='message'/>
  </label>
  <input type='submit' value='Post'/>
</form>

<h1> Posts </h1>
  <ul id='posts'>
    <% @peeps.each do |peep| %>
      <li>
      Time: <%= Time.new.strftime "%H:%M" %>
      Title: <%= peep.title %>
      Message: <%= peep.message %>
    </li>
    <%end %>
  </ul>
