<h1> Add a new post </h1>

<form action="/posts" method="post">
  <label for='title'>
    Title:
    <input type='text' name='title' />
  </label>
  <label for='post'>
    Post:
    <input type='text' name='post' />
  </label>
  <input type='submit' value='Publish post'>
</form>
