<html>
<body>

<h2>Add new peep here </h2>

<form action="/chitter/peeps/new/add" method = 'post' >
  <label for="peeps">New peeps:</label><br>
  <input type="text"  name="peeps" placeholder="Peeps" ><br>
  <input type="submit" value="Submit">
</form> 