<!DOCTYPE html>
<html>
  <head>
    <title>Zwitscher</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/' method='get'>
        <%# <input type='text' id='post_peep' placeholder='Text' name='peep'><br> %>
        <input type='submit' name='post_peep' value='Peep'>
    
        <br><% @users.each do |user| %>
          <li><%= user.username %></li>
        <% end %>
      </form>
    </section>
  </body>
</html>