<!DOCTYPE html>
<html>
  <head>
    <title>Zwitscher</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/zwitscher/read' method='get'>
        <%= @peeps %>
      </form>
    </section>
  </body>
</html>