<form action="/registration" method="post">
Fullname:
  <input type="text" name="fullname" />
Username:
  <input type="text" name="username" />
Email:
  <input type="email" name="email" />
Password:
  <input type="password" name="password" />
  <input type="submit" value="Sign Up!" />
</form>