<h1>Welcome to Chitter!</h1>

<form method="post" action="/cheets">
  <input name="message" type="text" placeholder="What's up?">
  <button type="submit" value="Post Cheet">Post Cheet</button>
</form>