<h2>Register for Chitter</h2>
<form action="/chitter/user/new" method="post">
  <label for="firstname">First name:
    <input type="text" name="firstname" maxlength="60">
  </label>
  <label for="lastname">Last name:
    <input type="text" name="lastname" maxlength="60">
  </label>
  <label for="email">Email:
    <input type="text" name="email" maxlength="60">
  </label>
  <label for="handle">Handle:
    <input type="text" name="handle" maxlength="30">
  </label>
  <label for="password">Password:
    <input type="text" name="password">
  </label>

  <input type="submit" value="Register">
</form>