<h1>Post a new Rick Roll</h1>

<form action='/rolls' method='post'>

  <label>
    Your Roll:<input type='text' name='new_roll'>
  </label>

  <!-- <textarea name="Text1" cols="40" rows="5"></textarea> -->
  <input type="submit" value="Roll">
</form>
