<form action="/makers" method="post">
  <input type="text" name="email" placeholder="EMAIL">
  <input type="text" name="password" placeholder="PASSWORD">
  <input type="text" name="name" placeholder="NAME">
  <input type="text" name="username" placeholder="USERNAME">
  <input type="submit" value="Submit">
</form>