<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sign-up</title>
  </head>
  <body>

    <form action="/register/signup" method="post">
      <input type="text" name="username" value="username">
      <input type="text" name="email" value="email">
      <input type="password" name="password" value="password">
      <button type="submit" name="button">sign-up</button>
    </form>


  </body>
</html>
