<form action="/register/signup" method="post">
  <input type="text" name="email" value="email">
  <input type="password" name="password" value="password">
  <button type="submit" name="button">sign-up</button>
</form>
