<center>

<br>
<h1>Please sign up</h1>
<br>

<form action="/makers" method="post">
  Name: <input name="name" type="text" value="<%= @maker.name %>" required><br><br>
  Username: <input name="username" type="text" value="<%= @maker.username %>" required><br><br>
  Email: <input name="email" type="text" value="<%= @maker.email %>" required><br><br>
  Password: <input name="password" type="password" required><br><br>
  Confirm Password: <input name="password_confirmation" type="password" required>
  <input type="submit" value="Sign up">
</form>

</center>

