<form action='/makers/new_maker' method='post'>
  username
  <input type='text' name='username'>
  email
  <input type='text' name='email'>
  password
  <input type='password' name='password'>
  confirm password
  <input type='password' name='confirm_password'>
  <input type='submit' value='sign up'>
</form>


<%=flash[:error]%>
    
