<% if current_user %>

<form action="/peeps" method="post">
  <label for="create peep">
    <input type="text" id="peep" name="peep" placeholder="What's happening?" />
    <input type="submit" value="Peep" />
  </label>
</form>

<% else %>

Sign in to post a Peep

<% end %>
