<% if flash[:errors] && !flash[:errors].empty? %>
  <h4>Please refer to the following errors below:</h4>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
