<%if flash[:errors]%>
  <% flash[:errors].each do |error|%>
  <h4> <%=error%></h4>
  <%end%>
<%end%>

<%if flash[:password]%>
  <% flash[:password].each do |password|%>
    <h4><%=password%></h4>
  <%end%>
<%end%>
