<%if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <p><%=error%></p>
  <%end%>
<%end%>

<%if flash[:password]%>
  <% flash[:password].each do |password|%>
    <p><%=password%></p>
  <%end%>
<%end%>
