<% if flash[:errors] %>
Please correct the following errors:
<ul id='errors'>
  <% flash[:errors].each do |error| %>
  <li><%= error %> </li>
  <% end %>
</ul>
<% end %>
<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
