<% if flash[:notice] %>
<br>
  <%= flash[:notice] %>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  <br>
  Please address these errors:
  <br>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
