<% if flash[:errors] %>
  <div id='errors'>
    <% flash[:errors].each do |error| %>
      <% if error.is_a? Array %>
        <p> <%= error.first %> </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>