<% if flash[:errors] && !flash[:errors].empty? %>
  <div id="errors">Sign up failed. Please refer to following error(s) and try again:
    <% flash[:errors].each do |error| %>
      <ul><%= error %></ul>
    <% end %>
  </div>
<% end %>
