<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<% if flash[:notice] %>
  <div id='notice'>
    <h2><%= flash[:notice] %></h2>
  </div>
<% end %>
