<% if flash[:errors] && !flash[:errors].empty? %>
  <ul id='error'>
    <% flash[:errors].each do |error| %>
      <li>  <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
