<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  <div id="errors">
    <% flash[:errors].each do |error| %>
      <ul><%= error %></ul>
    <% end %>
    Please try again! :)
  </div>
<% end %>
