<% if flash[:error] %>
  <% flash[:error].each do |e| %>
    <p><%= e + "." %></p>
  <% end %>
<% end %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e + "." %></p>
  <% end %>
<% end %>
<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
