<% if flash[:errors] && !flash[:errors].empty? %>
<div class="warnings">
  <h6>Please correct the following errors</h6>
  <ul id='errors'>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  </div>
<% end %>
  
<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>