<% if flash[:notice] %>
  <div id='notice' class="text-center"><%= flash[:notice] %></div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
  <div class="alert alert-danger" role="alert">
    <b>Please refer to the following errors below:</b>
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
