<% if flash[:error] %>
  <ul  class="error">
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:notice] %>
  <ul  class="notice">
      <li><%= flash[:notice] %></li>
  </ul>
<% end %>
