<% if flash.now[:errors] %>
Please check the following errors
<% flash.now[:errors].each do |error| %>
 <ul><li><%= error %></li></ul>
<% end %>
<% end %>
<% if flash.now[:login_error] %>
<%= flash.now[:login_error] %>
<% end %>
<% if flash.now[:logged_out] %>
<%= flash.now[:logged_out] %>
<% end %>
