<div class="wrapper">
  <% if flash[:errors] && !flash[:errors].empty? %>
  <div class="errors">
    Errors:
      <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
  <% end %>
  <% if flash[:password_error] %>
    Error:
    <br>
    <ul>
      <li><%= flash[:password_error] %></li>
    </ul>
  </div>
  <% end %>
</div>
