<% flash[:notice] && flash[:notice].each do |notice| %>
      <div class="alert alert-success alert-dismissible" id="myAlert">
        <p><%= notice %></p> <a href="#" class="close">&times;</a>
      </div>
    <% end %>


<% if !!flash[:success] || !!flash[:alert] %>
<% flash.keys.each do |type| %>
  <div class="alert alert-success alert-dismissible" id="myAlert">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% end %>
