<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:login] %>
  <div id='login'>
    <%= flash[:login] %>
  </div>
<% end %>

<% if (flash[:errors] && !flash[:errors].empty?) %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
<% end %>
