<footer id="colophon">

  <div class="row">
    <div class="site-info small-12 columns">
      <p>Made by <a target="_blank" href="http://sean.hawkridge.co">Sean Hawkridge</a> as part of <a target="_blank" href="http://makersacademy.com">Makers Academy</a> January '15 cohort</p>
      <p>Built with Ruby, Sinatra, PostgreSQL, SCSS, HTML and a tiny bit of js/jQuery</p>
    </div>
  </div>

</footer>
