<footer>
<p>Copyright &copy; 2016 Murilo Dal Ri</p>
<% if current_user %>
  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <button id='signout'>Sign out<button>
  </form>
<% end %>
</footer>
