<% if @user %>

  <h1>Welcome to Chitter, <%= @user.username %>!</h1>

  <form action="/sessions/logout">
    <input type="submit" value="Log Out" />
  </form>

<% else %>

  <h1>Welcome to Chitter!</h1>

  <form action="/users/register">
    <input type="submit" value="Sign Up" />
  </form>

  <form action="/sessions/login">
    <input type="submit" value="Login" />
  </form>

<% end %>
