<% if @user %>

  <div class="header">
    <h1>Welcome to Chitter, <%= @user.username %>!</h1>

    <form action="/sessions/logout">
      <input type="submit" value="Log Out" />
    </form>
  </div>

<% else %>

  <div class="header">
    <h1>Welcome to Chitter!</h1>

    <div class="nav-buttons">
      <form action="/users/register">
        <input type="submit" value="Sign Up" />
      </form>

      <form action="/sessions/login">
        <input type="submit" value="Login" />
      </form>
    </div>

  </div>

<% end %>
