<h2>Chitter</h2>
<% if current_user%>
<%= "<a href = '/users/signout'>Sign Out</a>" %>
<% else %>
<%= "<a href = '/users/signup'>Sign Up</a>" %>
<%= "<a href = '/users/signin'>Sign In</a>" %>
<% end %>
