<form class="" action="users/new" method="get">
  <input type="submit" name="Sign up" value="Sign up">
</form>
<form action="users/new" method="get">
  <input type="submit" name="Sign in" value="Sign in">
</form>
