<form class="sign_up" action="users/new" method="get">
  <input type="submit" name="Sign up" value="Sign up">
</form>
<form action="users/new" method="get">
  <input type="submit" name="Sign in" value="Sign in">
</form>
<form class="peeps" action="/peeps" method="get">
  <input type="submit" value='View all Peeps'>
</form>
