<div id='login_bar'>
  <form action='/login' method='post'>
    <label for='username'>
      Username: <input name='username' type='text' required>
    </label>
    <label for='password'>
      Password: <input name='password' type='password' required>
    </label>
    <input id='btn' type='submit' value='Sign in'>
  </form>
</div>
