  <form action='/sessions' method='post'>
    <div class="form-group">
      <input name="email" class="form-control" type="email" placeholder="Email">
    </div>

    <div class="form-group" >
      <input name="password" class='form-control form-inline' type="password" placeholder="Password">
    </div>

    <div class="form-group" >
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </form>
  <p text-align='right'><a href='/users/recover'>I forgot my password</a></p>
