<% if current_user %>
  <h5> <%= current_user.name %>, you are logged in. </h5>
  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log out'>
  </form>
<% end %>
