<a class="navbar-brand" href="/">
  Chitter
</a>
<ul class="nav navbar-nav navbar-right">
  <li>
    <% if current_user %>
      <form action="/sessions" method="post" class="navbar-form">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btn btn-success">Sign Out</button>
      </form>
    <% end %>
  </li>
  <li>
    <% if current_user == nil %>
      <form action="/sessions/new" class="navbar-form">
        <button type="submit" class="btn btn-success">Sign In</button>
      </form>
    <% end %>
  </li>
  <li>
    <% if current_user == nil %>
      <form action="/users/new" class="navbar-form">
        <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
    <% end %>
  </li>
</ul>
