<div class="nav">
  <ul>
<% if current_user %>
  <li><form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign Out'>
  </form></li>
  <li><form action='/posts'>
    <input type='submit' value='View Peeps'>
  </form></li>
  <li><form action='/posts/new'>
    <input type='submit' value='New Peep'>
  </form></li>
<% end %>
<% if current_user == nil %>
  <li><form action='/sessions/new'>
    <input type='submit' value='Sign In'>
  </form></li>
  <li><form action='/users/new'>
    <input type='submit' value='Sign Up'>
  </form></li>
<% end %>
</ul>
</div>
