<div class="header clearfix">
  <nav style="padding-bottom: 20px">
    <ul class="nav nav-pills pull-xs-right">
      <% if session[:user_name] %>
      <li class="nav-item">
        <form action="/user/log_out" method="post">
          <a class="nav-link" style="padding: 0"><input type="submit" class="btn btn-warning" value="Log out"></a>
        </form>
      </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link active" href="/user/sign_up">Sign Up<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/sign_in">Sign In</a>
        </li>
      <% end %>
    </ul>
  <h3 class="text-muted"><a href="/feed" style="color: darkslategray">Chitter</a></h3>
  </nav>

</div>
