<nav class="navigation">
  <div class="wrapper">
    <h1><a href="/">Chitter</a></h1>
    <ul id="menu">
    <% if current_user %>
      <li><a href="/peeps/new">New Peep</a></li>
      <li><%= partial(:"session/end") %></li>
    <% else %>
      <li><a href="/users/new">Register</a></li>
      <li><a href="/sessions/new">Log In</a></li>
    <% end %>
    </ul>
  </div>
</nav>
