<!-- <nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Chitter</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <form action="/user/log_out" method="post">
        <% if @user_name %>
          <li><input class="btn btn-default navbar-btn" type="submit" value="Log out"></li>
        </form>
        <% else %>
         <li><a href='/user/sign_in'>Sign in</a></li>
        <% end  %>
      </ul> -->
    <!-- </div><!-- /.navbar-collapse -->
<!-- </nav> -->
