<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Chitter</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/new" id="sign_up">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sessions/new" id="sign_in">Sign In</a>
      </li>
    </ul>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="sign_out" id="sign_out">Sign Out</button>
    </form>
  </div>
</nav>
