<% if @user %>

  <div class="new-peep-form">

    <h3>What's your peep?</h3>

    <form action='/peeps' method="post">
      <textarea id="message" name="message"></textarea>
      <br>
      <input type="submit" value="Peep">
    </form>

  </div>

<% end %>
