<% unless current_user %>
  <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li class="right"><a href="/users/new">Sign up</a></li>
    <li class="right"><a href="/sessions/new">Sign in</a></li>
  </ul>
<% end %>
<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
