<% if current_user %>

<div class='new-peep-container'>
  <div class='new-peep'>

    <form action='/message' method='post'>

      <div class="form-group new-peep">
        <input type='text' class="form-control" type="text" name="message"
        placeholder="Ruminate to your heart's content (140 chars max)" maxlength="140">
      </div>

      <div class="form-group new-peep">
        <button type="submit" class="btn btn-primary" >New peep</button>
      </div>

    </form>

  </div>
</div>

<% end %>

