<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="sidebar_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>Chitter</b></h3>
  </div>
  <% if current_user %>
      <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <a onclick="expandPeepMenu()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="expandPeepMnu">
          Peeps <i class="fa fa-caret-down"></i>
        </a>
        <div id="peepSort" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="#" class="w3-bar-item w3-button">Recent</a>
        </div>
        <form method='post' action='/sessions'>
          <input type='hidden' name='_method' value='delete'>
          <input type="submit" class="w3-bar-item w3-button" value="Sign Out">
        </form>
        <!--<a data-method="delete" data-token="{{csrf_token()}}" data-confirm="Are you sure?" href="/sessions" class="w3-bar-item w3-button">Sign Out</a>-->
      </div>
  <% else %>
      <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <a href="/users/new" class="w3-bar-item w3-button">Sign up</a>
        <a href="/sessions/new" class="w3-bar-item w3-button">Sign In</a>
      </div>
  <% end %>
</nav>