<ul class='nav-bar'>
  <% if current_user %>
    <li><form action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'/>
          <button class="button-navbar" type="submit">Sign out</button>
        </form></li>
    <li class='user-navbar'> Signed in as <%= current_user.username %> </li>
  <% else %>
      <li><form action='/sessions/new'>
        <button class="button-navbar" type="submit">Sign in</button>
      </form></li>
  <% end %>
</ul>
