	<% if current_user %>
	  <div class='bar'>
       	<p class='in_bar'> Signed in as - <%= current_user.username %>! </p> 
    	<form action='/sessions' method='post'>
    		<input type='hidden' name="_method" value='delete'>
    		<input class='button' type='submit' value='Sign Out'>
    	</form>
	  </div><hr />
	<% else %>
	  
	    <div class='bar'> <%= flash[:notice] %> <a href='/sessions/new'>Sign In</a> <hr /> <a href='/stream'>Conversation</a> </div>
	<% end %>
 