<div class="small-12 medium-4 columns">
  <aside class="user-info">
  <% if current_user %>
   <p class="history">You're signed in as <%= current_user.username %>. So far you've posted <%= current_user.peeps.count %> peeps and <%= current_user.responses.count %> replies</p>
    <form id="new-peep" action="/peeps" method="post">
      <textarea placeholder="Peep Peep!" name="peep" cols="30" rows="5"></textarea>
      <input class="new-peep" type="submit" value="Post Peep">
    </form>
  <% else %>
    <form id="sign-in" action='/sessions' method='post'>
      <label for='email'>
        Email: <input name='email' type='email'>
      </label>
      <label for='password'>
        Password: <input name='password' type='password'>
      </label>
      <input type='submit' value='Sign in'>
    </form>
  <% end %>
  </aside>
</div>
