
<div class='post'>
  <% if current_user %>
    <form action='/peeps' method='post' class='peep'>
      <input type='text' name='message'/>
      <input type='submit' value='Peep!'/>
    </form>
  <% end %>
</div>
