<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class='navbar'>
    <div class="container">

      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          <a href="/">
            <img src="/images/chitter_bird.png" height="90" alt="Chitter" />
          </a>
        </div>

        <% if current_user %>
        <div class="col-md-1">
          <h3> Welcome <%= current_user.username %> </h3>
        </div>

        <div class="col-md-1 col-md-offset-6">
          <form action='/peeps/new' method=GET>
            <input type ='submit' value='Peep!'>
          </form>
        </div>
        <div class="col-md-1">
          <form action='/sessions' method=POST>
            <input type='hidden' name='_method' value='delete'>
            <input type ='submit' value='Sign out'>
          </form>
        </div>
      </div>


      <% else %>

      <div class="row">
        <div class="col-md-1 col-md-offset-7">
          <form action='/users/new' method=GET>
            <input type ='submit' value='Sign up'>
          </form>
        </div>
        <div class="col-md-1">
          <form action='/users/login' method=GET>
            <input type ='submit' value='Log in'>
          </form>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</body>
