<% if current_user %>
  <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/peeps/me">My peeps</a></li>
  </ul>

  <center><div style="padding:0 16px;">
    <h1>Chitter</h1>
    <h2>Welcome to Chitter, <%= current_user.name %>!</h2>
  </div></center>
<% end %>
