<% if current_user %>
  Welcome <%= current_user.email %>.
  <%= flash[:success] %>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <label for="Sign out">
      <input type="submit" value="Sign out">
    </label>
  </form>
<% else %>
    <form action="/users/new">
      <input type="submit" value="Sign up">
    </form>
    <form action="/sessions/new">
      <input type="submit" value="Sign in">
    </form>
<% end %>
