<div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px; text-align: center">
  <h2 class="display-3">Hello @<%= @user_name %>!</h2>
  <p class="lead">Welcome back! Here are all your awesome tweets. Ready to post? </p>
  <p><a class="btn btn-lg btn-success" href="/peep/new" role="button">New Peep</a></p>
</div>
