<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>

    <div id="success-header">
      <% if current_user %>
      Successfully logged in as: <%= current_user.username %>
        <form action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Sign out'>
        </form>
      <% end %>
    </div>

  </body>

</html>
