<% if current_user %>
  <h2>Welcome <%= current_user.username %>!<h2>

<form action='/logout' method='post' >
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Log out' class="button1">
</form>
<% end %>
