<% if current_user %>
  Welcome <%= current_user.name %>
  <form action='/session/end' method='post'>
    <input type='hidden' name='_method' value='delete' />
    <input type='submit' value='Log Out' />
  </form>
<% else %>
  <a href="/session/new">Log In</a>
  or 
  <a href="/user/new">Sign Up</a>
<% end %>
