<% if current_user %>
  <p>Welcome, <%= current_user.name %></p>
  <form action='/sessions' method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-default" id="sign_out">
        <span class="glyphicon glyphicon-log-out"></span> Sign Out</button>
    </div>
  </form>
<% else %>
  <form method="get">
    <div class="button-group">
      <button type="submit" class="btn btn-default" formaction='/sessions/new'>
        <span class="glyphicon glyphicon-log-in"></span> Sign In</button>
      <button type="submit" class="btn btn-default" formaction='/users/new'>
        <span class="glyphicon glyphicon-user"></span> Create Account</button>
    </div>
  </form>
<% end %>
