<% if current_user %>
  <h2>Welcome, <%= current_user.username %></h2>

  <form action='/sessions' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input class="button right" type='submit' value='sign out'>
  </form>
<% else %>
  <form action='/sessions/new'>
    <input class="button right" type='submit' value='sign in' />
  </form>

  <form action='/users/new'>
    <input class="button right" type='submit' value='sign up' />
  </form>
<% end %>