<% if current_user %>
  Welcome, <%= current_user.username %>
  <form action='/sessions' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' name='Sign Out' value='Sign Out'>
  </form>
<% end %>
