<% if current_user %>
  Welcome to Chitter, <%= current_user.name %>!
  <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <button>Sign out</button>
  </form>
  <form action="/peeps/new">
    <button>New peep</button>
  </form>
  <form action="/peeps/me">
    <button>My peeps</button>
  </form>
<% end %>
