<% if current_user %>
  <h3 class="text-center">Welcome, <%= current_user.name %></h3>
  <!-- <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form> -->
<% end %>
