<% if current_user %>
  Welcome, <%= current_user.email %>
  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>
<% end %>
