<% if current_user %>
  <h1>Welcome, <%= current_user.username %>!<h1>

<form action='/logout' method='post' >
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Log out'style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
</form>
<% end %>
