<% if current_user %>
  <div>
    <h1>Welcome, <%= current_user.user_name %></h1>
    <form action='/sessions' method='post'>
      <input type='hidden' name="_method" value="delete">
      <input type="submit" value="Log out" class="btn_sign">
    </form>
  </div>

<% else %>
  <div>
    <h1>Welcome to Chitter</h1>
    <form action='/sessions/new' method='get'>
      <input type="submit" value="Log in" name="Log in" class="btn_sign">
    </form>
    <form action='/users/new' method='get'>
      <input type="submit" value="Join" class="btn_sign">
    </form>
  </div>
<% end %>
<br>
