<% if !current_user %>
  <div class="jumbotron">
  <h1>What’s happening?</h1>
  <p>Don't miss the news, the action and gossip around you!</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Signup</a>
  </p>
</div>
<% end %>