<%if current_user %>
  <h3>Hello <%= current_user.name%>!</h3>
  <a class="button" href="/sessions/logout" value="Logout">Logout</a>
<%else%>
  <form action="/sessions/login" method="post">
    <input placeholder ="Email" type="email" name="emailLogin" value="<%=flash[:email]%>" required/>
    <input placeholder ="Password" type="password" name="passwordLogin" required/>
    <input class="button" type="submit" value="Login"/>
  </form>
  <br>
  <a class="link" href="/users/password_recovery">Reset Password</a>
<%end%>
