<%if current_user%>
  Welcome, <%=@current_user.username%>
  <form action='/sessions' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log out'>
  </form>
  <a href="/peeps/new">Post a new Peep!</a>
<%else%>
  <a href='/sessions/new'>Log In</a>
  <br>
  <a href='/users/new'>Sign up</a>
<%end%>
