!!!
%html
  %head
    %meta{ charset: "utf-8"}
    %title Chitter
    %link{ href: "./reset.css", rel: "stylesheet", type: "text/css"}
    %link{ href: "./index_stylesheet.css", rel: "stylesheet", type: "text/css"}
    %link{ href: "https://fonts.googleapis.com/css?family=Abril+Fatface", rel: "stylesheet"}
    %link{ href: "https://fonts.googleapis.com/css?family=Poiret+One", rel: "stylesheet"}
    %link{ href: "https://fonts.googleapis.com/css?family=Roboto:300,400", rel: "stylesheet"}

    %body
      %div{ class: "large_container" }
        %h1{ class: "off_left" } What is this Chit?
        %div{ class: "about_content" }
          %p Chitter is a social networking site that combines all the fun of a similarly named social networking site and another social networking site that rhymes with nik-nak (RIP). To use, all you need to do is sign up and start peeping. Just to be clear, by 'peeping' we mean creating messages and sharing them with your friends, not any illicit activity from a bush.
          %br
          %div{ class: "have_fun" }
            %p Have fun!
        %div{ class: "about_button_container" }
          %form{ action: '/' }
            %button{ type: 'submit', value: 'back', id: 'lastbutton' }back
