<div style="border-right:2px solid black;position:absolute;background-color:white;width:300px;height:100%">
  <div style="padding:20px">
  <h1> Add peep </h1>

<form action='/peeps' method='post'>
  <label for='peep_content'>
    Peep:
    <input style="height:120px;" type='text' name='peep_content' />
  </label>
  <label for='hashtags'>
    Tags:
    <input type='text' name='hashtags' />
  </label>

  <input type='submit' value='Add peep'>

</form>
</div>
</div>
