<!DOCTYPE html>
<html>
  <head>
    <title> Add your chit </title>
    <link rel="stylesheet" type="text/css" href="<%= url('/add.css') %>">
  </head>

<h1>Add your chit here:</h1>

<form action="/" method="post">
  <label for="chit">
    Chit:
    <input type="text" name="chit">
  </label>
  <input type="submit" value="Submit">
</form>

</html>
