<h1>Chitter</h1>
<h2>Write a peep...</h2>
<form action="/peeps" method="post">
  <div>
    <label for="body">Write your peep:
      <input type="text" name="body">
    </label>
  </div>
  <div>
     <input type="submit" value="Submit">
  </div>
</form>
