<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Add comment</title>
  </head>
  <body>
<div class="hero-bkg-animated text">

<h2>Add comment</h2>

<form action="/add_comment" method="post">
  <input type="hidden" name="peep_id" value="<%=@peep.id%>">
  <input type="hidden" name="user_id" value="<%=@user.id%>">
  <input type="text" name="comment" placeholder="insert comment">
  <input type="submit" value="Comment on peep" class="button">
</form>
