<form action="/peeps" method="post" id='add_peep'>
    Content of peep:
    <input type="text" name="message">
  <br>
  <br>
    Enter username:
    <input type="text" name="name">
  <br>
  <br>
  <input type="submit" value="Create peep">
</form>
