<h1>What do you want tell the world?</h1>
<form action="/beeps" method="post">
  <label for="body"> Your message (max 2^7 chars)
    <input type="text" name="body">
  </label>
  <input type="submit" name="submit" value="Submit">
</form>
