<h1>Chitter</h1>
<h2>Get Peepin'</h2>
<div>
  <%@msgs.each { |msg|%> <%=msg.content%> <%}%>
</div>
<form action='/chat' method='POST'>
  <input type='text' name='message'>
  <input type='submit' value='PeepIt'>
</form>
