<h1>Chitter</h1>
<h2>Get Peepin'</h2>
<body>
  <%@msgs.each { |msg|%> <%=msg.content%>
    [<%=msg.user.username%>(<%=msg.user.name%>) -<%=msg.time_string%>] <br> <%}%>
</body>
<form action='/chat' method='POST'>
  <input type='text' name='message'>
  <input type='submit' value='PeepIt'>
</form>
