<h1> Cheets </h1>
<ul id='cheets'>
  <% @cheets.each do |cheet| %>
    <li>
      <%= cheet.message %>
      created on: <%= cheet.message_created   %>
      by: <%= cheet.cheet_user %>
    </li>
  <% end %>
</ul>
