<h1> Add a Cheet </h1>
<form action='/new_cheet' method='post'>
  <label for='cheet_user'>
    User: <input name='cheet_user' type='text'>
  </label>
  <label for='message'>
    Message: <input name='message' type='text'>
  </label>
  <input type='submit' value='Add'>
</form>
