<h1>Welcome to Chitter!</h1>

<form action="/chitters/new" method='get'>
  <input type="submit" name="" value="Create a peep">
</form>

<form action="/peeps" method='get'>
  <input type="submit" name="" value="Show peeps!">
</form>
