<h1>Sign up</h1>
<form action='/chitter/users' method='post'>
<label>Name:
  <input type='text' name='name'></label>
<label>Username:
  <input type='text' name='username'></label>
<label>Email:
  <input type='text' name='email'></label>
<label>Password:
  <input type='text' name='password'></label>
  <input type='submit' value='Register'>
</form>
