<%if current_user%>
Welcome <%=current_user.user_name%>
<%end%>

<form action='/logout' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='logout'>
</form>
