<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
<h1> Welcome <% if current_user %> <%= current_user.username %><% end%>!</h1>
  <h1>- Chitter -</h1>
  <h2> Welcome to the chitter feed! </h2>

  <form action='/chitter_feed/new' method="get">
    <input type="submit" value="Add peep">
  </form>

  <div class="peep-box">
    <ul id="peeps">
      <% @peeps.each do |peep| %>
        <div>
          <li>
            Author:<%=peep.user.username%><br>
            Time:<%=peep.time%><br>
            <%=peep.message %><br>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div>
    <form action='/sessions' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type="submit" value="Log out">
    </form>
  </div>
</body>
