<h1> Peeps </h1>
<%if current_user%>
Welcome <%=current_user.user_name%>
<%else%>
<h2>Sign up to peep<h2>
<%end%>

<%User.all.each do |user|%>
<%user.peeps.each do |peep|%>

<li><%=user.name%>: <%=peep.time%> <li>
<li><%=peep.post%><li>
<%end%>
<%end%>

<%if current_user%>
<form action='/logout' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='logout'>
</form>
<form action='/peep' method='post'>
  <input type='text' name='peep_content'>
  <input type='submit' value='peep'>
</form>
<%else%>
<form action='/' method='get'>
  <input type='submit' value='back_to_signup'>
</form>
<%end%>
