<h1>Welcome to Chitter</h1>
<a href="/chitter/new">Compose new peep</a>
<div>
  <h2>Peeps:</h2>
</div>
<div>
  <ul>
    <% @peeps.each do |peep| %>
      <li><%= peep.content %></li>
    <% end %>
  </ul>
</div>
