<h3>Compose new peep</h3>
<form action="/chitter" method="post">
  <textarea name="content" style="resize:none" rows="3" cols="50" maxlength="140" placeholder="What would you like to peep?"></textarea><br>
  <input type="submit" value="Peep!">
</form>
