<div style="font-family: Arial; background-color:white;border-bottom:2px solid black">
  <div style="padding:20px; 30px 60px 30px">

  <h3 style="margin:0;padding:0">Welcome to Chitter! <span style="font-weight:300">A confirmation email has been sent to <span style="color:orange"><%= session[:user_email] %> </span></span></h3>

    <p>You are now logged in</p>

    <button style="margin: 10px 0 18px;padding:5px 15px;font-size:20px;background-color:#cce"><a style="text-decoration:none;color:black" href="/peeps">Get peepin'</a></button>
</div>
</div>
