<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>TinyBlogger | Confirm Email</title>
  <link href="/css/day_stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>

<body>

<form action='/confirm' method='post' id="confirmation_form">
  <label for='username'>
    <input type='hidden' name='username' value="<%= @user_to_confirm.username %>">
  </label>
  <p id="confirmation_greeting">Hi <%= @user_to_confirm.first_name %>,<br>please enter your password to confirm your email address.</p>
  <br>
  <label for='password'>
    <input class="text_input" type='password' name='password' placeholder='password'>
  </label>
  <input type="submit" value="Confirm" class="submit_button">
</form>
</body>

</html>