<head>
  <style type="text/css">
  body {
    background-color: #a2c8e8
  }
  </style>
</head>
<% if !current_user %>
<form action='/users/new' method= 'get'>
  <input type='submit' value = 'Create new account'>
</form>
<% end %>
