<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <style>
      body{background-color:#f6fafd;}
      form{background-color:white;}
      .logo{font-family:"Caveat"}
      a.button{display:inline-block;padding:0.25rem 0.5rem; border:solid 1px rgba(0, 0, 0, .3); border-radius: .25rem; text-decoration: none; position:relative; transition: all 200ms; background-color:white; color:#222426;}
      a.button:hover, input[type="submit"]:hover{box-shadow:inset 0 0 0 10rem rgba(0, 0, 0, .1) !important;}
      .blue{background-color:#007bff; color:white !important; border:none !important;}
      .green{background-color:#6c757d; color:white !important; border:none !important;}
      .round{border-radius:5rem !important;padding-left:1.5rem !important;padding-right:1.5rem !important;}
      .left{float:left;}
      .right{float:right;}
      .keep-center{text-align:center;}
      .keep-right{text-align:right;}
      hr{opacity:0; border-top:rgba(0, 0, 0, 0.1); margin-bottom:2rem; margin-left:3.33rem;}
      .form_create_account{display:block; padding:1.5rem 1.5rem 0.5rem 1.5rem; border:solid 1px rgba(0, 0, 0, .2); border-radius: .5rem;width:33%;margin-left:33.5%;}
      .form_create_account:hover:invalid{animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;}
      .form_create_account input:not([type="submit"]){width:100%; margin-top:1.5rem;text-indent:0.5rem;position:relative; background-color:transparent; color:#222426; z-index:1}
      .form_create_account input[type="submit"]{margin-top:1.5rem; padding:0.25rem 1rem !important;background-color:#007bff; color:white; box-shadow:none;}
      input{font-size:100% !important;border:none; box-shadow:rgba(0, 0, 0 , .3) 0 0 0 1px; border-radius: .125rem;}
      .form_create_account > div{text-align:left;position:relative;}
      .form_create_account > div div{display:none;}
      .form_create_account > div > input + label{position:absolute;top:54%;left:0.5rem; transition:all 300ms ease; background-color:transparent; color:#222426; z-index:0; }
      .form_create_account > div:focus-within > label{top:.25rem !important;left:0 !important; color:#626466;}
      .form_create_account > div > input:not(:placeholder-shown) ~ label{top:.25rem !important;left:0 !important; color:#626466;}
      .form_create_account > div > input:invalid:focus ~ div{position:absolute; display:inline-block; left:50%; margin-top:.125rem; transform:translate(-50%,0%); width:100%; text-align:right;}
      .form_create_account > div > input:invalid:focus ~ div::after{content:attr(data-pattern)}
      section[name="form"]{color:#424446;text-align:center}
      @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }
        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
      }
      @media screen and (max-width: 600px) {
        .form_create_account {
          width: 100%;
        }
      }
      a[href="/"]::after{content:"#without_hate_and_glitter"; display:block; width:400%; position:absolute; top:2.33rem; left:0%; background-color:rgba(255, 255, 255, .8); color:#222426; padding:.25rem .5rem; border-radius:.75rem; box-shadow:inset 0 .125rem .125rem 0 rgba(0, 0, 0, .2); font-family: Times; text-align:center;}
      section[name="form"]::before{content:attr(data-error); width:100%; text-align:center; padding-left:1.5rem;}
      .background{position:fixed; top:0; left:0; height:calc(100%); width:calc(100%); background-color:transparent; z-index:-1}
      .bg{position:absolute; transform:rotate(-45deg); transform-origin:50% 50%; background-color:white;border-radius: 10rem 10rem 10rem 0; opacity:.8; box-shadow: 0 0 .33rem 0 white;}
      .bg1{height:3rem; width:3rem; top:17%; left:22%; background-color:#17a2b8;}
      .bg2{height:1rem; width:1rem; top:38%; right:18%; background-color:#6c757d;}
      .bg3{height:2rem; width:2rem; top:55%; left:11%; background-color:#fd7e14;}
      .bg4{height:4rem; width:4rem; top:2.6rem; left:0.275rem; background-color:#28a745;}
      .bg5{height:3rem; width:3rem; top:17%; left:22%; display:none}
    </style>
  </head>
  <body>
    <div class="background">
      <div class="bg bg1"></div>
      <div class="bg bg2"></div>
      <div class="bg bg3"></div>
      <div class="bg bg4"></div>
      <div class="bg bg5"></div>
    </div>
    <section class="keep-left" name="Login">
      <a class="button logo" href="/">Chitter</a>
      <a href="/signin" class="button right">Back to Sign in</a>
    </section>
    <hr>
    <section name="form" tab-index="0" data-error="<%= params[:error] %>">
      <form class="form_create_account keep-center" action="/create_exec" method="post">
       <div><input type="text" pattern="[a-zA-Z_\-]+(@)[a-zA-Z]+[\.]([a-z]{2}[\.])?[a-z]{2,3}" name="email" placeholder=" " required/><label>Email</label><div data-pattern="invalid email address"></div></div>
       <div><input type="text" pattern="[a-zA-Z']{2,20} [a-zA-Z']{2,20}" name="name" placeholder=" " required/><label>Name</label><div data-pattern="include first and last name"></div></div>
       <div><input type="text" pattern="[a-zA-Z]{3,16}" name="username" placeholder=" " required/><label>User/visible name</label><div data-pattern="only letters 3 to 16 long"></div></div>
       <div><input type="password" pattern="[a-zA-Z0-9]{8,16}" name="password" placeholder=" " required/><label>Password</label><div data-pattern="letters and numbers 8 to 16 long"></div></div>
       <input type="submit" name="submit" value="Create account"/>
      </form>
    </section>

    <section name="footer">

    </section
    
  </body>
</html>