<head>

</head>

<body>
  <h1>your account details</h1>

  <form action='/feed' method='post'>
    <div id='fields'>
      <h3>your details</h3>
      <label for='name'>name</label>
        <input type='text' name='name'>
      <br>
      <label for='email'> email</label>
        <input type='text' name='email'>
      <br>
      <label for='handle'>handle</label>
        <input type='text' name='handle'>
      <br>
      <label for='password'>password</label>
        <input type='text' name='password'>
    </div>
    <div id='submit'>
      <input type='submit' value='create your chittr account'>
    </div>
  </form>

</body>
