<html>

<body>
  <form action="/create_reply/<%=@peep_id%>" method="POST">
    <input name="content" placeholder="Write your reply here:" />
    <input type="submit" value="Reply" />
  </form>
</body>

</html>