<h3>Create a new Peep!</h3>

<form action='/peeps' method='post'>
<label for='message'>
  Please type your message:
  <br>
  <textarea name='message' cols='40' rows='5' required></textarea>
</label>
<br>
  <input type='submit' value='Post peep'>
</form>
