* {
	background-color: #d6b5aa
}
h2 {
	color: #3b6f61;
	font-family: fantasy, 'sans-serif'
   }

h3 {
    text-align: center;
    font-family: fantasy, 'sans-serif';
    color: blanchedalmond;
}
p {
	font-family: 'Playfair Display', sans-serif;
    color: #542d2d;
    background-color: #fefffa
}