<h3>Your dashboard:</h3>

<form action="/messages/new" method="get">
  <input type="submit" value="Chirp!" />
</form>

<form action="/messages/view" method="post">
  <input type="submit" value="See your chirps!" />
</form>

<form action="/messages/all" method="get">
  <input type="submit" value="See all chirps!" />
</form>
