
<section class="row-alt">
  <div class="lead container">

    <h1>Password Reset</h1>

  <p>please enter your new password</p>

  </div>
</section>

<section class="row">
  <div class="grid">

    <form class="col-1-3" action='/users' method='post'>
      <fieldset class="register-group">

        <input type='hidden' name='_method' value='patch'>
        <label>
          enter your new password
          <input type='password' name='password'>
        </label>
        <label>
          confirm your new password
          <input type='password' name='password_confirmation'>
        </label>

      </fieldset>
      <input class="btn btn-default" type='submit' value='submit'>
    </form>

  </div>
</section>



  <footer class="primary-footer container group">
    <small>&copy; Chitter</small>

    <nav class="nav">
      <ul>
        <li><a href="/sessions/new">Sign in</a></li><!--
        --><li><a href="">Sign out</a></li><!--
        --><li><a href="/users/new">Sign up</a></li>
      </ul>
    </nav>

  </footer>
