<h1> Welcome to Chitter! </h1>

<div>
  <form action='/users/new'>
    <label> Sign Up: </label>
    <input type="submit" value="Sign Up">
  </form>
</div>

<div>
  <form action='/session/new'>
    <label> Sign In: </label>
    <input type="submit" value="Sign In">
  </form>
</div>
