<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Already Exist</title>
  </head>
  <body>
    <h1>Sorry this email already exist.</h1>
    <a href="http://localhost:4567/signin">TRY AGAIN</a>
  </body>
</html>
