<% unless current_user %>
<form action="sessions/new">
  <input type="submit" value="Sign in">
</form>
<form action="sessions/sign_up">
  <input type="submit" value="Sign up">
</form> 
<% end %>

<h1> Peep feed: </h1>

<ul id="peeps">
  <% @peeps.reverse_each do |peep| %>
    <li>
      Peeper: <%= peep.peeper %>
      Date/Time:   <%= peep.timestamp  %>
      Peep:  <%= peep.body %>
    </li>
  <% end %>
</ul>

<form action="peeps/new">
<input type="submit" value="fresh peep">
</form>