<h1> Chitter Feed </h1>

  <ul id='peeps'>
    <% @peeps.each do |peep| %>
      <li>
        **********
        @<%= peep.user.user_name %>
        <%= peep.content %>
        posted:<%= peep.created_at %>
        **********
      </li>

      <% end %>
  </ul>
