<h1> Chitter feed </h1>

<li>
  <% if current_user %>
  <%= current_user.username %>
  <% end %>
</li>
<ul id='peeps'>
 <% @peeps.each do |peep| %>
  <li>
    Peep: <%= peep.comment %>
  </li>
  <% end %>
</ul>

<div>
<form action="/sessions/end" method="post">
  <input type="submit" value="Sign out"/>
</form>
</div>

<div>
<form action="/feed/post" method="post">
  <input type="submit" value="Post a peep!"/>
</form>
</div>
