<!DOCTYPE html>
<html>

  <ul id='peeps'>
    <% @peeps.each do |peep| %>
    <h3>
      <li>
        Peep: <%= peep.contents %>, <%= peep.time %><br>
      </li>
    </h3>
    <% end %>
  </ul>
</html>
