<link rel="stylesheet" type="text/css" href="public/style.css" />

<% unless current_user %>
<div class="top_nav">
<form class="tn_buttons" action="sessions/new">
  <input style="font-size: 40px" type="submit" value="Sign in">
</form>
<form class="tn_buttons" action="sessions/sign_up">
  <input style="font-size: 40px" type="submit" value="Sign up">
</form>
<% end %>

<div class="main_body">
<h1> Recent peeps: </h1>

<form action="peeps/new">
<input type="submit" value="fresh peep">
</form>
<%= erb :'/partials/peeps' %>
</div>
</div>