<%= @welcome_message %>
<form action="/feed" method="post">
  <input type="text" name="message">
  <br />
  <input type="submit" value="Send">
</form>
<br /><br />
<ul id="peeps">
  <% @peeps.each_with_index do |peep, i| %>
    <li>
      <%= peep.user.email %>
      <br />
      <%= peep.time_created %>
      <br />
      <%= peep.message %>
    </li>
    <br />
  <% end %>
</ul>
