<h1> Chitter feed </h1>

<div>
<form action="/sessions/end" method="post">
  <input type="submit" value="Sign out"/>
</form>
</div>

<div>
<form action="/feed/post" method="post">
  <input type="submit" value="Post a peep!"/>
</form>
</div>
