<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
    <link async href="https://fonts.googleapis.com/css?family=Coda" data-generated="https://enjoycss.com" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id='first-page'>
      <a href="/sign_up" class="download">Sign Up</a>
      <a href="/log_in/new" class="download">Login</a>
      <a href='/all_peeps' class='download'>Show all peeps</a>
    </div>
    <div id='image'>
      <img id='first-image' src="https://ketnoidamme.vn/truyenhinh/bg.png" >
    </div>
  </body>
</html>
