<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div>
      <a href="/sign_up" class="button">Sign Up</a>
      <a href="/log_in/new" class="button">Login</a>
      <a href='/all_peeps' class='button'>Show all peeps</a>
    </div>
  </body>
</html>
