<% if flash[:notice] %>
  <div class='flash notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>  
  <ul>
    <% flash[:errors].each do |error| %>
      <li class='flash error'><%= error %></li>
    <% end %>
  </ul>
<% end %>