<% if flash[:notice] %>
  <div class="flash notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form.
  <ul id="errors">
    <% flash[:errors].each do |error| %>
      <li class="flash errors"><%= error %></li>
    <% end %>
  </ul>
<% end %>
