<body>
<% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
<ul id="errors">
<% if flash[:errors] %>
 <%flash[:errors].each do |error|%>
<li> <%=error %> </li>
  <%end %>
<% end %>
</ul>
</body>
