<footer>
  <div id="makersacademy-logo">
    <a href="http://www.makersacademy.com/">
    <img src="http://www.makersacademy.com/images/logo.png">
    </a>
  </div>
  <div id="technologies">
    <p>
      I built this page at 
      <a href="http://www.makersacademy.com">Makers Academy, a highly selective 12 week coding course in London</a>.
    </p>
    <p>
      This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
    </p>
  </div>
</footer>