<div class='center'>
<h1> Add your peep here </h1>
</div>
<div class='center'>
  <form action="/peeps" method="post" >
  <h2> Peep's title</h2>
  <input type="text" name="title">

</div>
<div class='center'>
  <h2> Peep </h2>
  <input type="text" name="text">

<div class='center'>
  <h2> About </h2>
  <input type="text" name="context">

</div>
<div class='center'>
  <input type="submit" value="add to peeps">

</form>
</div>
