<h1> add your peep here </h1>

<form action="/peeps" method="post" >
  <h2> add your title</h2>
  <input type="text" name="title">
  <br>
  <h2> add your text</h2>
  <input type="text" name="text">
  <br>
  <h2> add your context</h2>
  <input type="text" name="context">
  <br>
  <input type="submit" value="add to peeps">
  <br>
</form>
