<header>
  <div id="logo">
    <a href="/">Chitter</a>
  </div>
  <a href="/peeps/new" class="button highlighted">Peep! What's up?</a>
  <div id="user-peeps">    
    <% if current_user %>
      <span id="welcome-message">
        Welcome, <%= current_user.username %>  
      </span>
    
      <form id="sign-out" method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out" class='button'>
      </form>
    <% else %>
      <a href='/users/new' id='sign-up' class='button'>Sign up</a>
      <a href='/sessions/new' id='sign-in' class='button'>Sign in</a>      
    <% end %>

  </div>
</header>