<header>

  <div id="logo"><a href='/' id='logo'>Chitter</a></div>

  <div id="user-links">

  <span id="welcome-message">
  <% if current_maker %>
    Welcome, <%= current_maker.name %>
  </span>

    <form id="sign-out" method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>

  <% else %>
    <a href='/makers/new' id='sign-up' class='button'>Sign up</a>
    <a href='/sessions/new' id='sign-in' class='button'>Sign in</a>
  <% end %>

  </div>

</header>


