<div>

	<h1>Welcome to Chitter</h1>

		<p>New to Chitter? <a href="/sign_up" class="button">Sign up</a></p>

		<p>Have an account? <a href="/log_in" class="button">Log in</a></p>

		<p>Just visiting? <a href="/peeps" class="button">View all peeps</a></p>

</div>