<h2>Welcome to Chitter</h2>

<form action='posts/new' method 'get'>
  <input type="submit" value="Make a Cheep">
</form>
<br><br><br>

<h4>Recent Cheeps:</h4>

<div id='cheeps'>
  <% @cheeps.each do |cheep| %>
      <%= cheep.message %>
      <br><br>
  <% end %>
</div