<div class="w3-display-middle" style="white-space:nowrap;">
  <span class="w3-center w3-padding-large w3-black w3-xxlarge w3-wide w3-animate-opacity">CHITTER</span><br>
</div>
<br>
<br>
<div class="w3-display-middle">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="w3-center w3-padding-large w3-large w3-wide w3-animate-opacity">
    <a href="/users/new" class="w3-button w3-large w3-padding-large w3-light-grey">Sign Up</a>
    <a href="/sessions/new" class="w3-button w3-large w3-padding-large w3-light-grey">Sign In</a>
  </div>
</div>
