<h2> Chitter </h2>


<!-- all.each{|message|
  puts "#{message.displayname}: #{message.text}"
  message.comments.each{|comment|
    puts "    " + "#{comment.displayname}: #{comment.text}"
  } print out what comment it related to-->
