<h2>Peep Timeline</h2>

<ul id="peeps">

  <% @show_peeps.each do |show_peep| %>
    <li>
      Peep: <%= show_peep.peep %>
      Posted at: <%= show_peep.created_at %>
      By: <%= show_peep.user.username %>
    </li>
  <% end %>
</ul>
