<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chitter Homepage</title>
  <link rel="stylesheet" href="master.css" type"text/css"/>
</head>
<body>
  <div class="welcome">
    <h1>Welcome to Chitter</h1>
  </div>
</body>
</html>
