<h1>Welcome to Chitter</h1>

<form action='/sign_up' method='get'>
  <input type='submit' value="Sign Up"><br>
</form>

<form action='/sign_in' method='get'>
  <input type='submit' value="Sign In"><br>
</form>
