<center>
<h1>Welcome to Chitter!</h1>

<form action='/post' method='post'>
<label for="content">v v Your post here v v </label><br>
<input id="content" type="text" name="content">
<button type='submit'>Post</button>
</form>
</center>
