
<%if !(session[:user_id]) %>
  <form id='log_in_button' action='/sessions/new' method='get'>
    <input type='submit' value='Log In'>
  </form>

  <form id='sign_up_button' action='/sign_up' method='get'>
    <input type='submit' value='Sign Up'>
  </form>
<% end %>

<form id='compose_cheep' action='cheep/new' method='get'>
    <input type='submit' value='Compose Cheep'>
</form>

<hi> Cheeps:</h1>

<ul id='links'>
  <% @cheeps_by_time.each do |cheep| %>
    <li>
      <%= cheep.user.name %>
      <%= cheep.user.username %>
      <%= (cheep.created_at).strftime("at %H:%M") %>
      <%= cheep.content %>
    </li>
  <% end %>
</ul>
