<head>
  <link rel='stylesheet' type='text/css' href='style.css' />
</head>

Welcome <% if @new_user == true %>
to Chitter, <%= @user.name %>
<% else %>
back, <%= @user.name %>
<% end %>

<form action='/peeps/new' method='post'>
  <input type='text' name='peep_field' placeholder='Write your peep here...' style='height:120px; width:180px;'>
  <input type='submit' value='Peep'>
</form>


<form action='/users' method='get'>
  <input type='submit' value='Log out'>
</form>
