<h1>Welcome to Chitter!</h1>
<h2>Please create an account</h2>
<form action="/names" method="post">
     	<li>Email Address<input type="text" name="email"></li>
      	<li>Password<input type="password" name="password"></li>
      	<li>Name<input type="text" name="name"></li>
      	<li>Username<input type="text" name="user_name"></li>
        <input type="submit" value="create user">

<div>
	<img src= 'http://ecx.images-amazon.com/images/I/41s%2BxDjoghL._SX300_.jpg' >
</div>
