
<body>
  <h1>
  <form action="/user/new">
    <input class='button' type="submit" value="Sign up now">
  </form>

  <form action="/sessions/new">
    <input class='button' type="submit" value="Sign In">
  </form>
 </h1>


<!-- <form action="/user/new">
  <input type="submit" value="Sign in">
</form> -->
<ol>
  <% @convos.reverse_each do |convo| %>
    <li class="comment"><a><div class="time"><%= convo.time %></div><%= convo.message %><br>
     <div class="tags"> Tags: <%= convo.tags.map{|i| i.text}.join(", ") %></div></li>
  <% end %>
</ol>

<div id="new-message">
  <form action="/message" method="post">
    Message: <input type="text" name="message">
    Tags: <input type="text" name="tags">
    <input class='button' type="submit" value="Post Message">
  </form>
</div>
</body>