<form>
  <textarea rows="4" cols="90" name="comment"
            style="overflow:auto;resize:none"
            placeholder='Enter text here...'>
  </textarea>
  <input type=submit value=post>
</form>

<%=@post%>