<h1>Messages</h1>

<form action='/new' method='post'>
  Message: <input type="text" name="message">
  <input type="submit" value='Submit'>
</form>

<ul id='messages'>
  <% @messages.each { |message| %>
    <li>
      <%= message.message %><br/>
      <% @date = message.created_at %>
      <%= @date.strftime('%v')%>
      <%= @date.strftime('%R')%>
    </li>
  <% } %>
</ul>
