<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body><main>

  <%= erb :logged_in_as %>

  <% @peeps.reverse_each do |peep| %>
  "<%= peep.peep_content %>"<br>
  <%= User.get(peep.user_id).username %> - <%= peep.time_peeped.to_s[0..15].sub! "T", " " %>
  <br><br>
  <%end %>

  <a href="/post-peep">Post a new peep</a>

</main></body>
</html>
