<h1>LET'S CHITT!<h1><br>
<% if !current_user %>
  <form action="/sessions/new">
  <input type="submit" value="Sign in">
  </form>
  <form action="/users/new">
  <input type="submit" value="Sign up">
  </form>
<% end %>

<h2>Peeps</h2>

<form method='post' action='/peep'>
  <input type='text' name='peep' placeholder='my peep...'>
  <input type='submit' value='Post-a-peep'>
</form>
