<!DOCTYPE html>
<html>
  <head>
    <title>CHITTAH</title>
  </head>

  <body>
      <div class='entry'>
          <h3>Welcome to Chitter!</h3>

        <form action='/maker/new'>
        <button style='float:left;'>Sign Up</button>
      </form>

      <form action='/session/new'>
        <button style='float: right;'>Log in</button>
      </form>

      <form action='/peeps/read'>
        <button> Read peeps as Guest </button>
      </form>
    </div>
  </body>
</html>
