<% if current_user %>
  Welcome, <%= current_user.name %>!
<% end %>

LET'S CHITT!

<body>
<form action="/users/new">
  <input type="submit" value="Sign up">
</form>

<form action="/sessions/new">
  <input type="submit" value="Sign in">
</form>
</body>
