<link rel="stylesheet" type="text/css" href="/css/style.css">

<br>

<h1>Welcome to Chitter</h1>
<h3> "Striving to make your World Chitter"</h3>

<br>
<br>

<form action="/register" method="GET">
  <input type="submit" value="Register">
</form>

<br>
<br>

<form action="/sessions/new" method="GET">
  <input type="submit" value="Sign In">
</form>
