<center>
  <br>
  <img src='http://megaicons.net/static/img/icons_sizes/8/178/256/pets-bird-icon.png' width="80" height="80" >
  <font face="Futura">
  <% if current_user == nil %>
    <h2>Welcome to Chitter!</h2>
  <% else %>
    <h2>Welcome to Chitter, <%= @current_user.username %>!</h2>
  <% end %>
</center>
