<h1> Welcome to Chitter! </h1>

  <form action= "/user/new" method= "get">
    <input type= "submit" value= "Sign up" id="main_button">
  </form>

  <form action= "/user/signin" method= "get">
    <input type= "submit" value= "Sign in" id="main_button">
  </form>
