<h1>Welcome to Chitter!</h1>


<ul id='posts'>
<% @posts.reverse.each do |post| %>
<li>
  <%= post.user_id %>
  <%= post.contents %>
  <%= post.timestamp.strftime("%H:%M %d-%m-%Y") %>
</li>
<% end %>
</ul>
