<h1>Peeps</h1>

<% if the_user == nil %>
  <form action="/sign_up" method="get">
    <button>Sign Up Here</button>
  </form>
<% end %>
<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.user.user_name %>said: <%= peep.content %>
      <%= peep.time %>
      Signed <%= peep.user.name %>
    </li>
  <% end %>
</ul>
