<h> Welcome to Chitter! </h>
<h3> Please sign in or sign up! </h3>
<form action = '/sign_in'> <input type = 'submit' value = 'Sign In'> </form>
<form action = '/sign_up'> <input type = 'submit' value = 'Sign Up'> </form>
