<div class='creds'>
  <h3>Welcome to Chitter!</h3>
  Sign up or log in to post a peep!

  <p><form action='/maker/new'>
    <button>Sign Up</button>
  </form></p>

  <p><form action='/session/new'>
    <button>Log in</button>
  </form></p>

  <p><form action='/peeps/read'>
    <button > Read peeps as Guest </button>
  </form></p>
</div>
