<h1> This is the homepage </h1>

<form action ='/peeps' method='POST'>
  <label for='message'>
    Write something (140 character limit):
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Submit peep'>
</form>
