<!DOCTYPE html>
<html>

<head>
<title>G9A2HvK9 - Chitter Challenge at Maker's Academy, April 2017 Cohort - May 2017</title>
</head>

<body>
  <h1 style="text-align:center"> Welcome to Chitter! </h1>

  <form style="text-align:center" action="/set_session" method="post" id="sign_in_form">
    Username <input type="text" name="username"><br>
    Password <input type="password" name="password"><br>
    <input type="submit" value="Sign In"><br>
  </form>

  <p>
  <form style="text-align:center" action="/sign_up" method="get">
    Don't have an account yet? Don't worry!<br>
    Chitter is free for anyone to use!<br>
    <input type="submit" value="Sign Up">
  </form>

</body>
