<h1>Chitter</h1>
<% if current_user == nil %>
  Welcome to Chitter,
  <form method='get' action='/user/new'>
    <form method='get' action='/users/new'>
          <input type='submit' value='Sign up'>
        </form>
        <form method='get' action='/sessions/new'>
          <input type='submit' value='Sign in'>
        </form>
<% end %>
