<h1> Welcome to Chitter! </h1>
<% if current_user == nil %>
<h2> To get started, click on one of the links below: </h2>
<%end%>
<ul id='menu'>
  <li><a href="/peeps">View Peeps</a></li>
  <% if !current_user%>
  <li><a href="/sessions/new">Log in</a></li>
  <li><a href="/users/new">Sign up</a></li>
  <% end %>
</ul>
