<h1>Welcome to Chitter</h1>

<form action='/sign_up' method='get'>
  <div class='button'>
    <button type='submit'>Sign Up</button>
  </div>
</form>

<form action='/sign_in' method='get'>
  <div class='button'>
    <button type='submit'>Sign In</button>
  </div>
</form>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% User.count > 0 && User.all do |user| %>
  <div id='user_link'>
    <a href="/user/#{user.username}"><%= user.username %></a>
  </div>
<% end %>
