<h1> Welcome to chitter, for god's sake don't sue us </h1>
<h2> Make a tweep </h2>

<form action= '/' method=post>
    <label for="Tweet"> Share your tweet with the world </label>
    <input type='text' name='message'>
    <button type ='submit'> Tweet </button>
  </form>

  <% @tweets.each do |tweet| %>
  <br>
  <br>
 <%= tweet.message %>
 <br>
 <%= tweet.created_at %>
 <% end %>
