<div class='entry'>
  <h3>Welcome to Chitter!</h3>

  <form action='/maker/new'>
    <button id='first'>Sign Up</button>
  </form>

  <form action='/session/new'>
    <button id='second'>Log in</button>
  </form>

  <form action='/peeps/read'>
    <button> Read peeps as Guest </button>
  </form>
</div>
