<head>
  <style type="text/css">
  <!--
  .tab { margin-left: 200px; }
  -->
  <li> </li>
</style>
</head>

<body style="background-color:powderblue;">
<center>
<h1>Welcome to Chitter!</h1>

  <a href="/sign_up/home">Sign Up</a><br><br>

<form action='/post' method='post'>
<label for="content">v v Your post here v v </label><br><br>
<textarea id="content" name="content" rows="8" cols="80" style="width: 182px; height: 50px;"></textarea>
<br><br>
<button class="tab" type='submit' style="width: 45px; height: 26px;">Post</button>
</form>
</center>
</body>
