<!DOCTYPE html>
<html>
  <head>
    <!-- <link type="text/css" rel="stylesheet" href="stylesheet.css"/> -->
    <title>CHITTAH</title>
  </head>

  <body>
    <div>
      <form action='/maker/new'>
        <input type=submit value='Sign Up'>
      </form>

      <form action='/session/new'>
        <input type=submit value='Log in'>
      </form>
    </div>
  </body>
</html>
