<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheet.css"  type="text/css" />
    <title>Chitter</title>
  </head>

<body>

<form action = '/sessions/new'>
  <input class = 'button' type='submit' value='Sign in'>
</form>

<form action = '/peeps/new'>
  <input class = 'button' type='submit' value='Post a peep!'>
</form>

<form action = '/users/new'>
  <input class = 'button' type='submit' value='Create a new account'>
</form>

<form action = '/peeps'>
  <input class = 'button' type='submit' value='Look at your peeps!'>
</form>

</body>
</html>
