<div>
	<h1>Welcome to Chitter!<img src= 'http://ecx.images-amazon.com/images/I/41s%2BxDjoghL._SX300_.jpg' width = "120" height = "90"  ></h1>
</div>

<div>

<h2>Sign in</h2>
<form action="/new" method="post">
     	<li style="list-style-type: none;">Email Address<input type="text" name="existing_email"></li>
      	<li style="list-style-type: none;">Password<input type="password" name="existing_password"></li>
        <input type="submit" value="Sign in">
</div>

<div>
<h2>If you don't have an account already, please create one here:</h2>
<form action="/new" method="post">
     	<li style="list-style-type: none;">Email Address<input type="text" name="email"></li>
      	<li style="list-style-type: none;">Password<input type="password" name="password"></li>
      	<li style="list-style-type: none;">Name<input type="text" name="name"></li>
      	<li style="list-style-type: none;">Username<input type="text" name="user_name"></li>
        <input type="submit" value="Sign up">
</div>
