<h1>Welcome to Chitter</h1>
<h3>Sign in or sign up to post a peep...</h3>

<form action='/users/sign_up'>
  <input type='submit' value='Sign up'>
</form>

<form action='/sessions/new'>
  <input type='submit' value='Sign in'>
</form>

<form action='/peeps'>
  <input type='submit' value='Continue as guest'>
</form>
