<p> Welcome to Chitter</p>

  <form action= '/signin' method='get'>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="name" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" id="password" />
    </div>

    <div class="button">
      <button type= 'submit'>Sign in</button>
    </div>
  </form>

  
