<html class='page'>
  <head>
    <link rel="stylesheet" href="<%= url('/style.css') %>" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
  </head>
  <body>
    <h1> Welcome <%=@user.name%> </h1>
    <a href='/log_in' class='button'>Log out</a>
  </body>
</html
