<html>
  <head>
    <style>
      @font-face { font-family: 'MR ROBOT'; src: url('MR ROBOT.TTF'); }
      h1 {
      font-family: 'futura'
    }
  </style>
</head>
<body>
    <% if current_user == nil %>
      Hmmm, haven't seen you around these parts before.
      <form method='get' action='/users/new'>
        <input type='submit' value='Sign up'>
      </form>
      <form method='get' action='/sessions/new'>
        <input type='submit' value='Sign in'>
      </form>
    <% end %>
</body>
</html>

<a href='/poops/index'>View poops</a>
