<html>
  <head>
    <style>
      @font-face { font-family: 'MR ROBOT'; src: url('MR ROBOT.TTF'); }
      h1 {
      font-family: 'futura'
    }
  </style>
</head>
<body>
  <h1>Shitter</h1>
</body>
</html>

<a href='/poops/index'>View poops</a>
