<h1> Welcome to Chitter <%= @current_user %> </h1>

<form action='/sign_up' method='get'>
  <input type='submit' value='Sign up'>
</form>

<form action='/log_in' method='get'>
  <input type='submit' value='Log in'>
</form>

<form action='/log_out' method='get'>
  <input type='submit' value='Log out'>
</form>
