<h1>Welcome to Chitter</h1>

<form action='/sign_up' method='get'>
  <div class='button'>
    <button type='submit'>Sign Up</button>
  </div>
</form>

<form action='/sign_in' method='get'>
  <div class='button'>
    <button type='submit'>Sign In</button>
  </div>
</form>

<% if flash[:sign_out] %>
  <%= flash[:sign_out] %>
<% end %>
