<h1> Tweets </h1>

<body>
  <% if current_user %>
  Welcome, <%= current_user.email %>
  <% end %>

    <h3>Latest tweets</h3>
    <% @tweet.reverse.each do |tweet| %>
    <li>
      Tweet: <%=tweet.message %>
    </li>
    <%end%>


  <form method='post' action='/login'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='log out'>
  </form>

</body>
