  <h2>This is Chitter!</h2>

<!-- if not signed in, put sign in and sign up buttons -->
<% unless current_user %>
  <form action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>

  <form action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>
<% end %>



<% if current_user %>
  <div id='post'>
    <form action='/chitter/new' method='post'>
      Peep something
      <input style='width: 250px' type='text' name='message' required>
      <input type='submit' value='Peep'>
  </div>
<% end %>

<article id='peeps'>
  <% unless Peep.all.empty? %>
    <% Peep.all.reverse.each do |one_post| %>
      <%= one_post.message %>
      <%= one_post.user.username %> peeped
    <% end %>
  <% end %>
</article>
