<form action='/users/new'>
  <input type='submit' value='Sign up'>
</form>

<div>
  Chitter
</div>

<div> Sign in </div>

<form action='/' method="post">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign in">
</form>
