<div class="row">
  <% if current_user %>
    <div class="col-md-10 col-md-offset-1">
      <form class="form" method = "post" action="/peeps">
        <div class="form-group">
          <label for="exampleInputFile">Write your peep here (140 chars max):</label>
          <textarea class="form-control" rows="3" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn pull-right">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Peep!</button>
      </form>
    </div>
  <% end %>
</div>
<br>
    Current peeps:
      <ul>
        <% Peep.all(order: [:time.desc]).each do |peep| %>
        <li><h4><%= peep.message %></h4> 
        (Peeped by "<%= peep.user.name %>" - <%= peep.time %>)
        </a></li>
        <% end %>
      </ul>




