<h1> Welcome, <%= @username %> your id is <%= @user_id %> </h1>

<h2>Peeps</h2>

<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
      Peep: <%= peep.content %>
      Username: <%= @username %>
    </li>
  <% end %>
</ul>

<form action='/post' method='get'>
    <input type="submit" value="peep">
</form>
