<h1> Welcome to Chitter! </h1>
<h4> Please sign in... </h4>
<form action='/users/existing' method='POST'>
  <label for='email'>
    Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type='text' name='email' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$' value='<%=@email_res%>' required />
  </label><br>
  <label for='password'>
    Password:
    <input type='password' name='password' />
  </label><br>
  <input type='submit' value='Sign In'>
</form>

<form action='/users/new' method='GET'>
  <input type='submit' value='Sign Up'>
</form>
