<link rel="stylesheet" href="style.css">

<div id="peeps">
  <% Peeps.all.each do |peep|%>
    <li>
      <%= peep[:msg] %>
      <%= "Created at #{peep[:created_at]}"%>
    </li>
  <% end %>
</div>

<form action="/" method="post">
  <input type="text" required placeholder="What's happening?" name="compose_tweet">
  <input type="submit" value="Peep">
</form>