<header>
  <h2>Welcome<%= ", #{@name}" if @logged_in %>!</h2>
  <form method="GET">
    <% if @logged_in %>
      <input type="hidden" name="_method" value="delete">
      <button type="submit" formaction="/sessions" formmethod="POST">Log out</button>
    <% else %>
      <button type="submit" formaction="/login">Log in</button>
      <button type="submit" formaction="/signup">Sign up</button>
    <% end %>
  </form>
</header>