<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>
        Chitter
      </h1>
    </header>
    <main>
      <div class="chitter-logo">
        <img src="https://media3.giphy.com/media/YNzdIFyBmqvc0vhuVY/giphy.gif" height="250px" width="auto" alt="Chitter logo">
      </div>
      <section class="user-login">
        <form action="/user/login" method="post">
          <input type="text" id="login" name="login" placeholder="Username">
          <input type="submit" value="Log In">
        </form>
      </section>
    </main>
  </body>
</html>
