<h1>Welcome to TwitTwoo</h1>

<div id="enter">
Existing users, please enter your details here:
<form action="/enter" method="post">
  <label for="username">
    Username: <input type="text" name="username" autofocus>
  </label>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <input type="submit" value="enter">
</form>

<div id="register">
<form action="/register" method="post">
  New  users, please enter your details here:
  <label for="name">
    Name: <input type="text" name="name">
  </labe>
  <label for="username">
    Username: <input type="text" name="username">
  </label>
  <label for="email">
    Email: <input type="email" name="emil">
  </label>    
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <input type="submit" value="register">
</form>