<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h2>Post a new peep:</h2><br>
    <form action='/create-peep' method='post'>
      <textarea type="text" cols="40" rows ="5" name="content"></textarea><br>
      <input type='submit' value='Submit your peep'>
    </form>
  </body>
</html>
