<!DOCTYPE html>
<html>
<head>
<link href='//fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet'>
<style>
body {
    font-family: 'Josefin Slab';font-size: 22px;
    background-color: lightblue;
}
</style>
</head>
  <body>
    <h1 style="color:purple;" align="center">Chitter</h1>
  </body>
</html>
