<h1> Chitter </h1>
<h3> Log in below: </h3>
<form action='/login' method='post'>
  <label for='username'>
    Enter your username: <input name='username' type='text'>
  </label>
  <label for='password'>
    Enter your password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Submit'>
</form>

<% if flash[:login_fail] && !flash[:login_fail].empty? %>
  Oops! Something went wrong:
  <ul>
    <% flash[:login_fail].each do |error| %>
    <li><%= error %></li>
  </ul>
  <% end %>
<% end %>
