<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% if current_user %>
<form action='/peep' method='get'>
  <button>Peep!</button>
</form>
<% end %>

<% @all_peeps.each do |peep| %>
  <%= peep.time %><br>
  <%= peep.message %><br>
<% end %>
