<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="container">
    <div id="content" align="center">
      <h1><span>Chitter</span></h1>
      <div id="prevdetails" class="clear">
        <h5>Sign up</h5>
        <table>
        <form action="/peeps" method="POST">
          <tr>
            <td>Email:</td>
            <td><input type="email" name="email" autofocus/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
          </tr>
          <tr>
          <td colspan="2" align="center"><input type="submit" value="Sign up"></td>
        </tr>
        </form>
      </table>
      </div>
      <div id="footer">
        Designed and Developed by <a href="https://github.com/keomony" target="_blank">@keomony</a>
      </div>
    </div>
  </div>
  </body>
</html>
