<div id="posting">
<form method='post' action='/'>
  <input type='text' name='msg' placeholder='Enter your Peep here'>
  <input type='submit' value='Peep'>
</form>
</div>
<ul id= 'peeps'>
  <% if @peeps.nil? %>
    <li class='empty peep'>No Peeps</li>
  <% else %>
    <% @peeps.each do |peep| %>
      <li class='peep'>
        <div class='content'><%= "#{peep.content}" %>
        <span class='peepmeta'><%= "#{peep.user.handle} at #{peep.created_at.strftime("%H:%M %F")}" %></span>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>