<h2>Welcome to Chitter!</h2>
<body>
  Please <a href='/users/new'>sign-up</a> or <a href='/sessions/new'>login</a> to enjoy our excellent Peep functionality to keep up to date with all your fave celebs and orgs! #2k16 IPO
</body>
