<div id='splash'>
  <form action="/peeps" method="get">
    <input type="submit" value="peeps"/>
  </form>
  <form action="/users" method="get">
    <input type="submit" value="login"/>
  </form>
  <form action="/users/new" method="get">
    <input type="submit" value="sign up"/>
  </form>
</div>
