<h2 style="color:#fff;font-family: fantasy;">List of Peeps</h2>
<div class="post-form">
  <% if current_user %>
  <form method = "post" action="/peeps">
    <div class="form">
        <label for="peep">Post your PEEP here:</label><br><br>
        <textarea class="form" rows="4" name="peep"></textarea><br><br>
        <button type="submit" class="btn btn-primary">Peep me!</button>
      </div>
      </form>
    </div>
  <% end %>
</div>
<br>
<div class="message">
  <% Peep.all(order: [:time.desc]).each do |peep| %>
      <div class="panel">
        <h2 class="panel-title"> <%= peep.user.username %> </h2>
      </div>
      <div class="peep">
        " <%= peep.peep %> "
      </div>
      <div class="time">
        <% if peep.time %>
          <%= peep.time.strftime("%d/%m/%Y") + peep.time.strftime(" at %I:%M %p")  %>
        <% else %>
          Unknown Date
        <% end %>
      </div>
  <% end %>
</div>
