
  <div class="row">
    <% if current_user %>
      <div class="col-md-6 col-md-offset-3">
        <form class="form" method = "post" action="/messages">
          <div class="form-group">
            <label for="exampleInputFile">Write your peep here (140 chars max):</label>
            <textarea class="form-control" rows="3" name="message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn pull-right">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Peep!</button>
        </form>
      </div>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @messages.each do |message| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-6">
                <h3 class="panel-title"><%= message.user.username %></h3>
              </div>
              <div class="col-md-6"><span class="pull-right">
                  <% if message.created_at %>
                    <%= message.created_at.strftime("%m/%d/%Y") + message.created_at.strftime(" at %I:%M %p")  %></span>
                <% else %>
                  Date unknown #fail
                  <% end %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <%= message.message %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
