<head>
  <title>C0D35L4Y3R'S AWESOME SITE</title>
    <style>
      h1 {
        text-align: center;
        font-family: "Comic Sans MS", cursive, sans-serif;
      }

      img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto
      }
  </style>
</head>

<body>

<h1>Welcome to C0D35L4Y3R's shitty Chitter</h1>

<a href="/users/new">
  <img class="displayed"src="http://www.kidsrun.com.sg/sites/default/files/SIGN-UP-BUTTON.jpg" alt="Click here to sign up!">
</a>
</body>
