<!DOCTYPE html>
<html>

  <h1> Welcome to Chitter! </h1><br>

  <h3><form action='/login' method='post'>
    <label>
      Email: <input type='text' name='user'>
    </label>
    <label>
      Password: <input type='password' name='password'>
    </label>
    <input type="submit" value="Submit">
  </form></h3>

  <h3><a href='/users/new'> Sign up </a></h3><br>

</html>
