<center>
<h1> CHITTER </h1>
</center>

<ul id='messages'>
  <% @messages.each do |message| %>
  <li>
     <strong><%= message.username %></strong>    <%= message.time %>
     <ul>
     <%= message.text %>
    </ul>
  </li>
  <% end %>
</ul>
