<div id='peeps'>
  <% if @peeps %>
    <% @peeps.reverse.each do |peep| %>
      <li> <%=peep.message%> </li>
      <li> <%=peep.user.name%> </li>
      <li> <%=peep.user.username%> </li>
      <li> <%=peep.created_at.strftime('%F %H:%M:%S')%> </li>
    <%end%>
  <%end%>
</div>