<h1> Messages </h1>

<ul id='messages'>
    <% @messages.each do |message| %>
    <li>
      <%= message.content %> <%= message.time.strftime("Sent on %m/%d/%Y at %I:%M %p")%> 
    </li>
    <% end %>
  </ul>
