<h1> Welcome to Chitter! </h1>

<body>

"If you're already a user, please sign in below"

<form class="login" action="/login" method="post">
  Username:<br>
  <input type="text" name="username" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" name="login" value="Login">
</form>

If you're new to Chitter, hello! Please sign up below:

<form class="sign-up" action="/users" method="post">
  Name:<br>
  <input type="text" name="name" id="name" value=""><br>
  Email:<br>
  <input type="email" name="email" id="email" value=""><br>
  Desired Username:<br>
  <input type="text" name="username" id="username" value=""><br>
  Desired Password:<br>
  <input type="password" name="password" id="password" value=""><br><br>
  <input type="submit" name="submit" value="Submit" id="Submit">
</form>

</body>