<!DOCTYPE html>
<html>
<body>
  <center>
    <h1>Welcome to Chitter!</h1>
    <form action="/users/new">
      <button type="submit">Sign up for Chitter</button>
    </form>
  </center>
</body>
</html>
