<form action = 'login' method = 'post'>
  <label for 'email'>
    your email address:
    <input type = 'email' name = 'email' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$' required>
  </label>
  <label for 'password'>
    your password:
    <input type = 'password' name = 'password' required>
  </label>
  <button type = 'submit'>log in</button>
</form>

<p>If you are not registered to Chitter yet, you should sign up!</p>
<form action = 'tosignup' method = 'post'>
  <button type = 'submit'>sign up</button>
</form>
