<a href='/register'><p style='font-size:10px;'> Desperate to Peep? Register here </a> </p> 
<a href='/login'> <p style='font-size:10px;'> Already a Peeper? Login Here </p></a>

<h1> Welcome to Chitter! <h1>

<ul id='Peeps'>
<% @peeps.reverse.each do |peep|%>
  <p style='font-size:12px;'>
  	<%= peep.created_at.strftime("%m/%d/%Y") %>
  	<%= peep.time %> </p> 
   <p style='font-size:20px;'><%= peep.content %></p>
    

 
  </div>

  <%end%>
</ul>





