<div id='new-peep'>
  <form action='/peeps' method='post'>
    Your Peep: <input type='text' name='message'>
    <input type='submit' value='Peep!'>
  </form>
</div>

<ul>
  <% @peeps.reverse_each do |peep| %>
    <li><%= peep.message %><%= @user.user_name %><%= @user.user_handle %></li>
  <% end %>
</ul>
