<html>
  <h1> Welcome to Chitter </h1>

  <h3> Post a peep:</h3>
  <form method='post' action='/peep/new'>
    <input type='text' name='peep' placeholder= 'Post a peep'  />
    <input type='submit' value='Post'  />

  </form>
</html>
