<% if current_user %>
  <div id="new-link">
    <form action="/peeps" method="post">
      <h3>Write your peep here...</h3>   
      <input type="text" name="content">
      <input type="submit" value="Peep!">
    </form>
  </div>
<% end %>  

<h2>Peep feed!</h2>

<ul>
    <% if @peeps %>
      <% @peeps.each do |peep| %>
        <li><%= peep.content %></li>
        <li>Posted by: @<%= peep.user.uname %></li>
      <% end %>
    <% end %>  
</ul>