<div class="col-md-8 col-md-offset-2 panel panel-primary">
  <ul class="list-group">
    <% @peeps.each do |peep| %>
    <li class="list-group-item">
      <%= peep.user.name%> @<%=peep.user.username%> <%= peep.time %>
    </br>
      <%= peep.message %>
    </li>
    <% end %>
  </ul>
</div>
