<% if current_user.username %>
  Welcome <%= current_user.username %>! Chit away!
<% else %>
  <form action="/users/new">
    <input type="submit" value="Sign up">
  </form>

  <form action="/sessions/new">
    <input type="submit" value="Log in">
  </form>
<% end %>
