<body>
<h1> Chitter </h1>

  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>

  <% if current_user.nil? %>
    <form action='/login' method='post'>
    <label for='username'>
      Username: <input type='text' name='username' required></br>
    </label>
    <label for='password'>
      Password: <input type='text' name='password' required></br>
    </label>
      <input type='submit' value='Login'>
    </form>
    Or <a href='/signup'>Signup</a>
  <% end %>

  <% unless @posts.nil? %>
    <div id='posts'>
      <% sorted_posts = @posts.sort_by(&:created_at).reverse!
      sorted_posts.each do |post| %>
          <%= post.post + ' ' +
          post.created_at.strftime('%d/%m/%Y %I:%M%p').to_s + ' @' +
          User.get(post.user_id).username + ' ' +
          User.get(post.user_id).name%>
        </br>
      <% end %>
    </div>
  <% end %>

</body>
