<div id='new-peep'>
  <form action='/peeps' method='post'>
    Your Peep: <input type='text' name='message'>
    <input type='submit' value='Peep!'>
  </form>
</div>

<ul>
  <% @peeps.reverse_each do |peep| %>
    <li><%= peep.message %> by @<%= peep.user_handle %> (<%= peep.user_name %>)</li>
  <% end %>
</ul>
