<h1>
  Peeps
</h1>

<ul id="peeps">
  <% peeps = @peeps.sort_by{|peep| -peep.id} %>
  <% peeps.each do |peep| %>
    <li>
      Posted on <%= peep.posted %> by <%= %>:
      <%= peep.message %>
    </li>
  <% end %>
</ul>

<form action="/peep/new">
  <input type="submit" value="Peep">
</form>
