<html>
<% if current_user %>
<h1>Welcome to  Makers Chitter, <%= current_user.email %></h1>
<% else %>
<h1>Welcome to  Makers Chitter</h1>
<h4>To post peeps, please <a href="/sign-up">sign up</a> or <a href="/log-in">log in</a></h4>
<% end %>
</html>
