Post Your Peep!<br>

<form method='post' action='/peep'>
Peep: <input type='text' name='post' placeholder= 'Write your peep here'>
Tags: <input type='text' name='tags' placeholder= 'Add tags here'>
<input type='submit' id='save' value='Post Peep'>
</form>
