<h1>Chitter - Speak your mind!</h1>

<% unless @signed_in %>
  <a href='/users/new'>Sign Up</a>
<% end %>

<% unless @new_peep %>
<a href='/compose_peep'>Compose Peep</a>
<% end %>

<% if @new_peep %>

<form action='/update_peeps' method='post'>
  <input type='text' name='message'>
  <input type='submit' value='Peep'>
</form>

<% end %>

<% if @posts %>
  <% @posts.reverse!.each do |post| %>
    <p><%= post.message %><br><%= post.time %></p>
  <% end %>
<% end %>
