<ul>
  <% @peeps.each do |peep| %>
    <li>
      <p><%= peep.content %></p>
      <p><small><%= peep.user %> <%= peep.created_at %></small></p>
    </li>
  <% end %>
</ul>

<div id="new-peep">
  <form action="/peeps" method="post">
    Peep: <input type="text" name="content">
    User: <input type="text" name="user">
    <input type="submit" value="Post Peep">
  </form>
</div>