<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlyPhans</title>
  </head>
  <body>
    <form action="/peep" method="post">
      <input type="text" name="username" placeholder="Enter a username" />
      <input type="text" name="status" placeholder="Make a peep" />
      <input type="submit" value="Peep" />
    </form>
    <ul>
      <% @peeps.each do |peep| %> <%= peep.username %> posted: <%= peep.status
      %> <% end %>
    </ul>
  </body>
</html>
