<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <div class="nav">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.clipartbest.com%2Fcliparts%2FncB%2FK8g%2FncBK8gGAi.png&f=1&nofb=1"
        alt="chitter logo"
        class="bird"
      />
    </div>

    <div class="page">
      <div class="login-window">
        <h1 class="heading">Welcome To Chitter</h1>

        <form action="/users/signup">
          <input type="submit" value="Sign Up" />
        </form>
        <form action="/users/signin">
          <input type="submit" value="Sign In" />
        </form>
      </div>
    </div>
  </body>
</html>
