<div class="col-md-5 col-md-offset-3">
  <% if current_user %>
    <h2>Welcome <%= current_user.name %></h2>
    <br>
    <form action="/peeps/new" method="post" id="peepform">
      <label for="peeparea"><strong>Peep here</strong></label><br>
      <textarea class="form-control" rows="3" name="peep" id="peeparea" placeholder="Start peeping now..."></textarea><br>
      <button type="submit" class="btn btn-default">Peep</button>
    </form>

  <% end %>

  <h1> Peeps </h1>
  <% if @peeps %>
    <% @peeps.each do |p| %>
    <ul class="list-unstyled">
      <li>
        <h3><strong><%= @user.get(p.user_id).name %></strong> <small>peeped:</small></h3>
        <blockquote><%= p.peep %></blockquote>
        <strong>Time posted:</strong> <%= p.time_stamp %><br>
      </li>
      <hr>
    </ul>
    <% end %>
  <% end %>
</div>
