<div class="jumbotron">
  <div class="container">
    <h3>welcome to</h3>
    <h1>Chitter</h1>
    <p>Post stuff, follow people, connect with friends.</p>
    <a class="btn btn-danger btn-lg" href="/signup" role="button">Join</a>
    <a class="btn btn-danger btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
