<h1> Welcome to Critter! </h1>

<div>
Messages:
<% @messages.reverse.each do |message| %>
	<%= message.text %></br>
<% end %>
</div>

<div>
Want to critter your own message?
<form action='/messages', method='post'>
	Message: <input type='text', name='message'>
	<input type='submit', value='Submit'>
</form>
</div>
