<center>
<h1> CHITTER </h1>
</center>

<form method='post' action='/post_message'>
  <label> Username
  <input type='text' name='username'></label>
  <label> Message
  <input type='text' name='message'></label>
  <input type='submit' value='Post'>
</form>

<ul id='messages'>
  <% @messages.each do |message| %>
  <li>
     <strong><%= message.username %></strong>    <%= message.time %>
     <ul>
     <%= message.text %>
    </ul>
  </li>
  <% end %>
</ul>
