<div class='centre'>
<h1> Hello and welcome to Chitter</h1>
<form action='/users/new'>
<input type='submit' value='sign up'>
</form>
<form action='/sessions/new'>
<input type='submit' value='sign in'>
</form>
<form action='/peeps'>
<input type='submit' value='view peeps as a guest'>
</form>
</div>
