<div>
	<div id = "glitter">
		<h1>Chitter</h1>
	</div>
</div>

<% if current_user %>
	<p>
		What do you want to say to the world that is so urgent?
	</p>
	<form action='/new_peep' method='post' id = 'new_peep'>
		<label for='title'>
			Title: <input name='title' type='text'>
		</label>
		<label for='content'>
			All this * by you: <input name='content' type='text'>
		</label>
		<button>Create a new Peep</button>
	</form>
<% else %>
	<p>
		Log in to post peeps
	</p>
<% end %>

<% if !!@peeps %>
	<div>
		<ul id="peeps">
			<% @peeps.reverse.each do |peep| %>
				<li>
					<h3><%= peep.title %></h3>
					<p><%= peep.content%></p></li>
					<p>By <%= peep.user.email %> at <%= peep.created_at.strftime("%d/%m/%Y %H:%M")%></p>
			<% end %>
		</ul>
	</div>
<% end %>
