<h1> Welcome to Critter! </h1>

<div>
Creets:
<% @messages.reverse.each do |message| %>
	Creet: <%= message.text %> (posted at <%= message.time %>)</br>
<% end %>
</div>

<div>
Want to critter your own message?
<form action='/messages', method='post'>
	Message: <input type='text', name='message'>
	<input type='submit', value='Submit'>
</form>
</div>
