<!-- <form action="/create_user" method="post">
  <label>Enter your thoughts!
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="text" name="name">
    <input type="text" name="username">
    <input type="submit" name="Submit">
  </label>
</form> -->



<h1>Welcome to Chitter!</h1>
<h2>Sign in to post</h2>
<form action="/create_user" method="post">
  <label for="email_1">
    enter user email
    <input type="text" name="email">
  </label>
  <label for="password_1">
    enter user password
    <input type="text" name="password">
  </label>
  <label for="name_1">
    enter name
    <input type="text" name="name">
  </label>
  <label for="user_1">
    enter username
    <input type="text" name="username">
  </label>
  <input type="submit" value="Submit">
</form>
