<html>
<h1>Welcome to Chitter!</h1>
<form action="/signup" method="GET">
  <input type="submit" value="Sign up">
</form>
<form action="/signin" method="GET">
  <input type="submit" value="sign in">
</html>
