<h1>* Chitter *</h1><img src="https://lh3.googleusercontent.com/_u2nrOLtEVLjoeNrGQf0-6_dmrt2N1-x2d_1dFr_bLlFS0rv45xk80SK1Vd_YRM2g0A=w300" alt="https://lh3.googleusercontent.com/_u2nrOLtEVLjoeNrGQf0-6_dmrt2N1-x2d_1dFr_bLlFS0rv45xk80SK1Vd_YRM2g0A=w300" style="width:200px;height:150px;">
<br>
<strong>Sign up</strong> or <strong>Log in</strong> to start posting your peeps!<br>
<br>
<form action="/user_sign_up" method="get">
  <input type="submit" value="Sign Up">
</form>

<form action="/sessions/new" method="get">
  <input type="submit" value="Log In">
</form>
