<h1>Welcome to Parliament</h1>

Current hoots:
<ul>
  <% @hoots.each do |hoot| %>
    <li><%= hoot.username %>
    <%= hoot.message %></li>
  <% end %>
</ul>

<div id="new-hoot">
  <form action="/hoots" method="post">
    Username: <input type="text" name="username">
    Message: <input type="text" name="message">
    <input type="submit" value="Hoot to your Parliament">
  </form>
</div>

