<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Home</title>
  </head>
  <body>
<div class="hero-bkg-animated text">
<%= flash[:notice] %>

<h1>chitter</h1>
<form action="/session" method="post">
  <h3>Sign in to Chitter</h3>
  <label for="username">
    <h4>Username:</h4>
  </label>
  <input type="text" name="username">
  <label for="password">
    <h4>Password:</h4>
  </label>
  <input type="text" name="password">
  <input type="submit" value="Sign in">
</form>
<p>
<form action="/register_new" method="get">
  <input type="submit" value="Register">
</form>
<p>
<form action="/guest" method="get">
  <input type="submit" value="Continue as guest">
</form>
</body>
