<section class="card bg-white border-0 rounded-0 mx-auto mt-5 p-3" style="max-width: 45rem">
  <div class="card-body mb-2 p-4">
    <h2 class="card-title">Hear what your fellow Makers are up to</h2>
    <h4>Join Chitter today.</h4>
    <div class="btn-group mt-5 mb-3" role="group">
      <form action="/users/new">
        <button class="btn btn-lg btn-dark mr-2 rounded-0" id="join">Sign Up</button>
      </form>
      <form action="/users/login">
        <button class="btn btn-lg btn-dark mr-2 rounded-0" id="new-session">Log In</button>
      </form>
    </div>
  </div>
</section>
<section class="container mx-auto mt-5 p-0" style="max-width: 45rem">
  <a href="/peeps" class="btn btn-lg btn-block btn-outline-dark rounded-0 py-3">View Peeps</a>
</section>