<form action = 'peeps' method = 'post'>
  <label for 'name'>
    please enter your name:
    <input type = 'text' name = 'name'>
  </label>
  <label for 'email'>
    your email address:
    <input type = 'email' name = 'email'>
  </label>
  <label for 'password'>
    your password:
    <input type = 'password' name = 'password'>
  </label>
  <label>
    and please confirm your password:
    <input type = 'passpord_confirmation' name = 'passpord_confirmation'>
  </label>
  <button type = 'submit'>sign up</button>
</form>
