<center> <h1> Welcome to Critter! </h1>
	<h3> - because everyone needs to creep around sometimes - </h3>
	
	<form action='/signup', method='post'>
		Name: <input type='text', name='name'>
		User Name: <input type='text', name='username'>
		Email: <input type='text', name='email'>
		Password: <input type='password', name='password'>
		<input type='submit', value='Sign up'>
</center>
