Welcome to Chitter
<form action = "/new_peep" method = "GET">
  <input type = "submit" value = "Make a Peep">
</form>
<form action = "/register_user" method = "GET">
  <input type = "submit" value = "Register New User">
</form>
