<h2> Current messages </h2>
<ul>
<% @peeps.reverse.each do |peep| %>
   <li>"<%= peep.message%>"      <%=peep.user.name%>  @<%=peep.user.username %>  <%=peep.created_at.strftime('%F %H:%M')%></li>
 <% end %>
</ul>
<% if current_user %>
   <a href="/peeps/new" id="new_peeps">Click to add new peep</a><br>
<% end %>