<h1>Welcome to Chitter!</h1>

<form method='get' action='/sessions/new'>
  <input type='submit' value='Login'>
</form>
</br>
<form method='get' action='/users/new'>
  <input type='submit' value='Sign Up'>
</form>