<div id='splash'>
  <form action="/peeps" method="get">
    <input type="submit" value="peeps"/>
  </form>
  <form action="/peeps/new" method="get">
    <input type="submit" value="new"/>
  </form>
</div>
