<div class="wrapper" align="center" />
  <div class="well" style="background-color: white;">
    <header>
      <h3>Welcome to Shitter!</h3>
    </header>

    <p>
      Twitter for the shitter
    </p>

    <img src="img/shitter_logo.jpg" align="center" />

  </div>

</div>
