<head>
  <title>Chitter</title>
</head>
<body>
  <form action="/peep/new">
    <input type="submit" value="New Peep">
  </form>  
  <form action="/user/new">
    <input type="submit" value="Sign Up">
  </form>
  <ul>
    <% @sorted_peeps.each do |peep| %>
      <li>@<%= peep.username %>: <%= peep.body %> (<%= peep.posted_on %>)</li>
    <% end %>
  </ul>
</body>