<p> Welcome to Chitter! </p>

<form action='/tweets' method='POST'>
  <label for='username'>
    <p> Username: <p>
      <input type='text' name='username'/>
    </label>
  <label for='email'>
    <p> Email: </p>
    <input type='text' name='email'/>
  </label>
  <label for='password'>
    <p> Password </p>
    <input type='text' name='password'/>
  </label>
  <input type='submit' value='Sign In'>
</form>
