<div id="new-peep">
  <form action="/peeps" method="post">
    Content: <input type="text" name="content">
    <input type="submit" value="Chit">
  </form>
</div>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.content %></li>
  <% end %>
</ul>
