<h1>Welcome to Chitter</h1>
<p>Sign up or sign in using the buttons below</p>
<div>
<form action= '/user/new' method= 'get'>
  <input type= 'submit' value= 'Sign up'>
</form>

<form action= '/user' method= 'get'>
  <input type= 'submit' value= 'Sign in'>
</form>
</div>
