<% unless @current_user.nil? %>
  Welcome <%= @current_user.name %>!<br>
  <form action = "/new_peep" method = "GET">
    <input type = "submit" value = "Make a Peep"><br>
  </form>
<% else %>
  <form action = "/register_user" method = "GET">
    <input type = "submit" value = "Register New User"><br>
  </form>
<% end %>

<% @all_peeps.each do |peep| %>
  Message: <%= peep.message %><br>
  Peeped at: <%= peep.created_at.strftime('%d %b, %Y at %H:%M') %><br>
<% end %>
