<% if current_user %>
 Welcome <%= current_user.name %>!
<% end %>

<h1>Hello Tweety bird!</h1>

 <form action="/user/new">
   <input type="submit" value="Sign up">
 </form>

 <form action="/sessions/new">
   <input type="submit" value="Sign in">
 </form>
