<section class="jumbatron bg-light p-5 align-middle">
  <h2>Hear what your fellow Makers are up to</h2>
  <h4>Join Chitter today.</h4>
  <div class="btn-group" role="group">
    <form action="/users/new">
      <input type="submit" class="btn btn-lg btn-light m-2" id="join" value="Sign Up">
    </form>
    <form action="/users/login">
      <input type=submit class="btn btn-lg btn-light m-2" id="new-session" value="Log In">
    </form>
  </div>
</section>