<h1>Chitter</h1>
<strong>Sign up</strong> or <strong>Log in</strong> to start posting your peeps!<br>
<br>
<form action="/user_sign_up" method="get">
  <input type="submit" value="Sign Up">
</form>

<form action="/log_in" method="get">
  <input type="submit" value="Log In">
</form>
