<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>

    <form action="/" method="post">
      <label for="user_name_label"> User name:</label>
      <input type="text" name="user_name">
      <label for="password_label"> Password:</label>
      <input type="password" name="password">
      <input type="submit" value="Sign in">
    </form>

    <form action='/user/new'>
      <p> If you don't have an account, please sign up </p>
      <input type="submit" value="Sign up">
    </form>

  </body>

</html>
