<% if @user!=nil %>

  Welcome <%= @user.user_name %>!

  <form  action='/sessions' method='post'>
       <input type='hidden' name='_method' value='delete'>
       <input type='submit' value='sign out'>
     </form>

     <form  action='/new' method='post'>
       <input type='text' name='text'>
       <input type='submit' value='Post a peep'>
     </form>



<% else %>

  Welcome, stranger!


  <form action="/users/new" method="get">
  <input type="submit" value="sign up">
</form>
<%end%>


<ul id='peeps'>

 <% @peeps.each do |peep| %>
   <li>
      <!-- <%= @user.name %> <br>
      <%= @user.user_name %> <br> -->
      <%= peep.text %>
   </li>
 <% end %>
</ul>
