<h1>Welcome to Chitter!</h1>
<h2> Sign in </h2>
<h2>
  <form action="/signin" method="post">
      <input type="submit" value="Sign in"></input>
  </form>
</h2>
<h2> Sign up to be part of the Chitterati </h2>
<h2>
  <form action="/signup">
      <input type="submit" value="Sign up"></input>
  </form>
</h2>
