<html>
  <body>
    <h2>Chitter</h2>
    <h1>Hello, <%= @username %></h1>
    <form method="get" action="/new_peep">
      <input type="submit" value="New Peep" />
    </form>
    <form method="get" action="/peeps" >
      <input type="submit" value="View Peeps" />
    </form>

  </body>
</html>
