<h1>Posts</h1>

<ul id="posts">
  <% @posts.each do |post| %>
  <li>
    <!-- who posted it goes here  - user -->
    Post:  <%= post.message %>
    <!-- Posted:   <%= post.created_at %> -->
  </li>
  <% end %>
</ul>
