<center>
<h1> Welcome to Chitter </h1><br>
<form action="/signup" method="get">
  <input type="submit" value="Sign up">
</form><br><br>
<form action="/signin" method="get">
  <input type="submit" value="Sign in">
</form><br><br>
<form action="/main" method="get">
  <input type="submit" value="Chitter Main">
</form>
</center>
