  <% if flash[:notice] %>
    <div class='container' id='notice'><%= flash[:notice] %></div>
  <% end %>

  <% if current_user.nil? %>
    <div class='container'>
      <h1>Log into Chitter</h1>
      <form action='/login' method='post'>
      <label for='username'>
        Username: <input type='text' name='username' required></br>
      </label>
      <label for='password'>
        Password: <input type='password' name='password' required></br>
      </label>
        <input type='submit' value='Login'>
        Or <a href='/signup'>Signup</a>
      </form>
    </div>
  <% end %>

  <% unless @posts.nil? %>
    <div class='container' id='posts'>
      <% sorted_posts = @posts.sort_by(&:created_at).reverse!
      sorted_posts.each do |post| %>
          <%= post.post + ' ' +
          post.created_at.strftime('%d/%m/%Y %I:%M%p').to_s + ' @' +
          User.get(post.user_id).username + ' ' +
          User.get(post.user_id).name%>
        </br>
      <% end %>
    </div>
  <% end %>
