<h1>Welcome to Chitter!</h1>

<form action="/sign_up" method='get'>
  <input type="submit" name="" value="Sign-up">
</form>

<form action="/log_in" method='get'>
  <input type="submit" name="" value="Log-in">
</form>
