<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title> Chitter </title>
  </head>

  <body>

    <%if get_current_user%>

    <form action="/sessions" method="post">
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='log out' id='log-out'>
    </form>

    <form action="/peep" method='post'>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
          <input type='submit' id='peep'>
    </form>

    <%end%>


    Peeps:
    <ul id='peeps'>
      <%@peeps.reverse.each do |peep| %>
        <dt><%= peep.created_at.strftime("printed  on %m/%d/%Y at %I:%M%p") %></dt>
        <dd><%=User.get(peep.user_id).username %>: <%= peep.message  %></dd>
        <dd> </dd>

      <%end%>
    </ul>
  </body>
</html>
