
<% if !(session[:user_id]) %>
<head> Join Chitter </head>
<form action="/user/new">
  <button type="submit" name="Sign up">
    Sign up
  </button>
</form>


<form action="/sessions/new">
  <button type="submit" name="Sign ip">
    Sign in
  </button>
</form>
<% end %>
