<ul>
  <% @tweets.each do |tweet| %>
    <li><a href="<%= tweet.user %>"><%= tweet.post %></a></li>
  <% end %>
</ul>

<div id="new-tweet">
  <form action="/tweets" method="post">
    User: <input type="text" name="user">
    Post: <input type="text" name="post">
    <input type="submit" value="Add tweet">
  </form>
</div>