<html>
  <body>
    <form action="/links" method="get">
      <div>
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="username" placeholder="enter username" required="true"><br><br>
      </div>
      <div>
        <label for="p_word">Password:</label>
        <input type="password" id="p_word" name="password" placeholder="enter password" required="true"><br><br>
      </div>
      <div class="button">
        <input type="submit" value="Sign in"><br>
      </div>
    </form>
    <form action="/users/new" method="get">
      <div class="button">
        <input type="submit" value="Sign up"><br>
      </div>
    </form>
  </body>
</html>
