<!DOCTYPE html>
<html>
  <body>
    <h1> Welcome to Chitter! <h1/>
      <h2> Recent peeps </h2>
        <form action='/login'>
          <input type='submit' value="Log in" />
        </form>
        <form action='/signup'>
          <input type='submit' value="Sign up" />
        </form>
  </body>
</html>
