<h1> Welcome to Chitter </h1>
<h2> New to Chitter? </h2>
<h3> Sign up <a href="/users/new">here</a> to send messages </h3>
<h2> Messages </h2>

<ul id='messages'>
    <% @messages.each do |message| %>
    <li>
      <%= message.content %> <%= message.time.strftime("Sent on %m/%d/%Y at %I:%M %p")%>
    </li>
    <% end %>
  </ul>
