<h1>Chitter!</h1>
<form method='get' action='/sessions/new'>
  <input type='submit' value='Sign in'>
</form>
<form method='get' action='/users/new'>
  <input type='submit' value='Sign up'>
</form>
<form method='get' action='/peeps/new'>
  <input type='submit' value='Peep!'>
</form>
<form method='get' action='/peeps_list'>
  <input type='submit' value='View Peeps'>
</form>
