<h1> Welcome to Chitter! </h1>


<form action='/sessions/new' method= 'get'>
  <input type='submit' value= 'Sign in'>
</form>
<br><br>
<form action='/users/new' method= 'get'>
  <input type='submit' value = 'Create new account'>
</form>
