<form action='/sign_up' method="get">
  <input type="submit" value="Sign Up">
</form>

<form action='/logging_in' method="post">
  Username:<input type="text" name="username" required>
  Password:<input type="text" name="password" required>
  <input type="submit" value="Login">
</form>

PEEPS GO HERE TOO
