<h1> Welcome to Chitter! </h1>
  <div>
    <img src="https://www.dropbox.com/pri/get/Web/animalsoutline.jpg?_subject_uid=63541668&w=AAB0TNlwz6Y2lSKobBGp5cISRwGNvsrYyqgXpdsDyiSXtw">
  </div>

<a href="/users/new">Sign up</a>
