<form action="/signup" method="get">
  <label for="Sign up"><input type="submit" value="Sign up"></label>
</form>

<form action="/signin" method="get">
  <label for="Sign in"><input type="submit" value="Sign in"></label>
</form>
