<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Chitter!</h1>
    <a href='/sessions/new'>Please click here to log in</a>
    Or click here to <a href='/users/new'>create a new account</a>
  </body>
</html>
