<h1>Chitter</h1>

<form action="/sign_up" method="get">
	<button type="submit" value="sign_up">Sign up</button>
</form>

<form action="/sign_in" method="get">
	<button type="submit" value="sign_in">Sign in</button>
</form>