<!DOCTYPE html>
<html>

  <h1> Welcome to Chitter! </h1><br>

  <h3><form action='/login' method='post'>
    <label for='email'>
      Email:
      <input type='email' name='email'>
    </label>
    <label for='password'>
      Password:
      <input type='password' name='password'>
    </label>
    <input type="submit" value="Log in">
  </form></h3>

  <h3><a href='/users/new'> Sign up </a></h3><br>

</html>
