<h1> Welcome to Chitter! </h1>

<% if @user == nil %>
<form action="/signup">
  <input type="submit" value="Sign up">
</form>

<form action="/login">
  <input type="submit" value="Log in">
</form>
<% end %>

<ul>
<% @peeps.reverse.each do |peep| %>
<li>
  <%= peep.content %> <br>
  By: <%= peep.username %> <br>
  Posted at: <%= peep.time.strftime("%H:%M:%S") %>
</li>
<% end %>
</ul>
