<% unless current_user %>
  <form action="sessions/new">
    <button type="submit">Log in</button>
  </form>
  <form action="users/new">
    <button type="submit">Sign up</button>
  </form>
<% end %>
