<html>
<h1> Welcome to Chitter! </h1>
<h2> Click here to sign up. </h2>
<form action="/sign_up" method="get">
  <div>
    <button type="submit" value="Submit">Sign up for Chitter</button>
  </div>
  </form>
  <h2> Click here to log in. </h2>
  <form action="/log_in" method="get">
  <div>
    <button type="submit" value="Submit">Log in to Chitter</button>
  </div>
</form>
</html>
