<div class="container well welcome" align="center">
  <h1>Welcome to Chitter</h1>
  <h2>Post peeps to share with others!</h2>
  <div class="row" align="center">
    <div class="col-xs-4">
      <form action='/peeps' method="get">
        <input stlye="float: center;" type='submit' value='Peeps' class="btn-primary btn-lg">
      </form>
    </div>
    <div class="col-xs-4">
      <form action='/sessions/new' method="get">
        <input stlye="float: center;" type='submit' value='Log in' class="btn-primary btn-lg">
      </form>
    </div>
    <div class="col-xs-4">
      <form action='/users/new' method="get">
        <input stlye="float: center;" type='submit' value='Sign up' class="btn-primary btn-lg">
      </form>
    </div>
  </div>
</div>
