Welcome To Chitter!

Join In?

<form action='/users' method='post'>
  <input type='text' name='name'>
  <input type='text' name='username'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input type='submit' value='Join In!'>
</form>