<h1>Chitter</h1>


<form action="/users/new" method="get">
    <button type="submit" value="Submit" style="height:50px; width:500px">I want to register!</button>
</form>

<form action='/sessions/new' method="get">
    <button type="submit" value="Submit" style="height:50px; width:500px">I want to log on!</button>
</form>

<form action="/peeps" method="get">
    <button type="submit" value="Submit" style="height:50px; width:500px">I want to see the peeps!</button>
</form>
