<div id='links-container'>
<ul id='links'>
<% @peeps.each do |peep| %>
  <p><span><%= peep.post%><%= current_user%></span></p>
 <% end %>
 </ul>
 <div id="new-link">
  <form action="/peeps" method="post">
    <p>Add peep: <input type="text" size="50" name="post"></p>
    <p><input type="submit" value="Add peep"></p>
  </form>
</div>