<h1>
  Chitter
</h>

<form action='/user' method="post">
  <h3>Email:</h3>
    <input type="text" name="email">
  <h3>Password:</h3>
    <input type="password" name="password">
    <input type="submit" value="Sign in">
</form>

<p>
  <a href='/user/new'>Create a New User</a>
</p>



