<h1>Welcome to Chitter!</h1>
<% if !signed_in %>
<form>
  Sign up:<br />
  Username:<input type="text" />
  Display name:<input type="text" />
</form>
<% end %>


<p>
<textarea rows="4" cols="50" name="new_peep" form="usrform" placeholder="Post a peep:"></textarea>
<form action='/index' method='post' id="usrform">
  <input type='submit' value="Post" />
</form>
</p>

-->! Perhaps I should look up the rest of the weekly
challenge before going further - it might show how
to do popups etc

<p>
Peepstream:
</p>
<div>
<% peeps.all.reverse.each do |peep| %>
<p>
  <%= peep.maker_id %>:
</p>
<p style="em">
  <%= peep.peeptext %>
</p>
<p>
  Posted at <%= peep.timestamp.to_time.strftime('%H:%M(:%S) on %b%e') %>
</p><br />
<% end %>
</div>
