Welcome To Chitter!

<% unless session[:name] %>
  Join In?

  <form action='/users' method='post'>
    <input type='text' name='name'>
    <input type='text' name='username'>
    <input type='text' name='email'>
    <input type='password' name='password'>
    <input type='submit' value='Join In!'>
  </form>

Log In?
<form action='/sessions/new' method='post'>
  <input type='text' name='returning_email'>
  <input type='password' name='returning_password'>
  <input type='submit' value='Log In!'>
</form>

<% else %>
Welcome <%= session[:name] %>!
<% end %>