<head>
  <title> Chitter </title>
  <h1> Chitter Timeline </h1>
</head>
<body>
  <div align='center'>
    <ul>
      <li>
        <form action='/post/new' method='post' id='post_form'>
          <input type='text' name='post' id='post'  placeholder='Whats on your mind?'>
          <input type='submit' value='Peep?!'>
        </form>
      </li>
    </ul>
  </div>
</body>