<body>
<h1> Chitter </h1>

  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>

  <% if current_user.nil? %>
    <form action='/login' method='post'>
    <label for='username'>
      Username: <input type='text' name='username' required></br>
    </label>
    <label for='password'>
      Password: <input type='text' name='password' required></br>
    </label>
      <input type='submit' value='Login'>
    </form>
    Or <a href='/signup'>Signup</a>
  <% end %>

  <% unless @posts.nil? %>
    <ul id='posts'>
      <% @posts.each do |item| %>
      <li>
          item.post
      </li>
      <% end %>
    </ul>
  <% end %>

</body>
