<h1>Welcome to Chitter!</h1>
<h3>Please sign up so you can send peeps to all your friends!</h3>

<form action="/" method="post">
  <div>
    <label for="email">Email</label>
    <br>
    <input type="email" id="email" name="email">
  </div>
  <br>
  <div>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password">
  </div>
  <br>
  <div>
    <label for="name">Name</label>
    <br>
    <input type="name" id="name" name="name">
  </div>
  <br>
  <div>
    <label for="user">Username</label>
    <br>
    <input type="user" id="user" name="user">
  </div>
  <br>
  <div class="button">
    <button type="submit" value="submit">Sign up</button>
  </div>
</form>