<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h2>Welcome</h2>
  <form action="/sign-up" method="get">
    <input type="submit" value="Sign up">
  </form>
  <form action="/log-in" method="get">
    <input type="submit" value="Log in">
  </form>
</body>
