<!doctype html>
<html>
    <head>
        <title>Chitter Project</title>
    </head>

        <div align="center">

            <h1> Welcome to Chitter</h1>
                <strong>The Place to share what matters to you</strong>
            <br> <br> <br> <br>
            
        <form action='/sign_in'>
          <input class='button' type='submit' value='Sign in'>
        </form>
        <br>
        <form action='/sign_up'>
          <input class='button' type='submit' value='Sign Up'>
        </form>
        <br>
        <form action='/read_peep'>
          <input class='button' type='submit' value='Read peeps'>
        </form>
      </div>
    <br>
    <br>
    <br>
    </body>

</html>
