<% require 'sinatra/flash' %>

<h2>
  <%= flash[:notice] %>
</h2>

<% if @user %>
  <form action="/users/log_out" method="post">
    <input type="submit" value="Log Out" />
  </form>
<% else %>
  <a href="/users/log_in">Log In</a> or <a href="/users/new">Sign Up</a>
<% end %>

<% if @user %>
  <h1>
    Hi <%= @user.username %>, welcome to Chitter!
  </h1>
<% else %>
  <h1>
    Chitter
  </h1>
<% end %>

<% if @user %>
  <form action="/add" method="post">
    <div>
      <label for="">
      <input type="text" placeholder="Say Something" id="text" name="text">
    </div>
    <div class="button">
      <button type="submit" value="Peep!">Peep!</button>
    </div>
  </form>
<% end %>

<h2>
  Peeps:
</h2>

<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<% peep.id %>">
      <%= peep.text %>
      <ul>
        <li>
          Posted at: <%= peep.time %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
