<a href=/sign_up>Sign up</a>

<a href=/login>Login</a>

<h3>Peeps</h3>
<ul id='peeps'>
  <% @peeps.each do |peep| %>
  <li>
    <%= peep.user.name%> @<%=peep.user.username%> : <%= peep.message %> at <%= peep.time %>
  </li>
  <% end %>
</ul>
