<h1>Posts</h1>

<ul id="posts">
  <% @posts.each do |post| %>
  <li>
    Post:  <%= post.message %>
    <!-- Posted:   <%= post.created_at %> -->
  </li>
  <% end %>
</ul>

<% if current_user %>
<div>
  <p>Welcome, <%= current_user.name %></p>
  <form method='POST' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out' class="button">
  </form>
</div>
<div id="post-message">
  <h1>Create post</h1>
  <form action='/posts' method='post'>
    <label for='message'>Message:</label>
    <input name='message' type='text'><br />
    <input type='submit' value='Post'>
  </form>
</div>
<% end %>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
