<form action='/signup' method="get">
  <input type="submit" value="Sign Up">
</form>

<form action='/session' method="post">
  Login here:<br>
  Username:<input type="text" name="username" value="password" required>
  Password:<input type="text" name="password" value="password" required>
  <input type="submit" value="Login">
</form>

PEEPS GO HERE TOO
