
<main id="index">

<div class="background-image"></div>

<div id="welcome">
  <% if current_user %>
   <h1>Hello, <%= current_user.name %>!</h1>
  <% else %>
   <h1>Hello, Stranger!</h1>
  <% end %>
</div>

<%= partial :flash %>

<div id='peeps'>

  <div class="row">

    <%= partial :peeps %>
    
    <%= partial :user_actions %>

  </div><!-- .row -->

</div>
</main>
