<div id='splash'>
  <form action="/chits" method="get">
    <input type="submit" value="chits"/>
  </form>
  <form action="/newchit" method="get">
    <input type="submit" value="new"/>
  </form>
</div>
