<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body background=https://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png/revision/latest?cb=20100722020455>
      <div>
      <center>
      <h1>Welcome to Chitter!</h1>
      <p>We are NOT copying Twitter ;)</p>
      <h3>Let your friends know what's on your mind,</h3>
      <h3>click below to post a peep!</h3>
      <form action='/peeps' method='GET'>
      	<input type='submit' value='Post Peep'>
        </form>
  </center>
</div>
  </body>
</html>
