<!DOCTYPE html>
<html>
<head>
  <title>chitter</title>
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <script src="https://use.fontawesome.com/5d80a0eb69.js"></script>
  <!-- <script src="jquery-3.2.1.min.js"></script> -->

</head>
<body>
  <h1><i class="fa fa-hashtag" aria-hidden="true"></i>CHITTER</h1>

  <!-- <div id="page-wrap">
    <form method="POST" action="/name">
      <label for="player"> Enter your name:
        <input type="text" name="player" placeholder="your name">
        <input class="button" type="submit" value="Submit">
      </label>
    </form>
  </div> -->

</body>
</html>
