<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td { border: 1px solid black }
    th { background-color: #33CEFF; color: white; font-family: Trebuchet MS, sans-serif}
    button {
    margin-left: 0;
    font-size: 20px;
    border-radius: 0 0.6em 0.6em 0;
    background-color: #aef;
    font-family: Trebuchet MS, sans-serif;
    }
  </style>
</head>
<body>
  <form action="/sign_up">
    <button name="sign-up"> Sign-up </button>
  </form>
  <br />
  <% if current_user %>
  <form action="/new_peep">
    <button name="new_peep"> New Peep </button>
  </form>
  <% end %>
  <br />
  <table style='width:100%' >
    <tr>
      <th> Message </th>
      <th> Date </th>
      <th> User </th>
    </tr>
    <% @peeps.each do |peep| %>
    <tr>
      <td> <%= peep.message %> </td>
      <td> <%= peep.created_at.strftime("Peeped on %m/%d/%Y at %I:%M%p") %> </td>
      <td> <%= User.get(peep.user_id).name %> </td>
    </tr>
    <% end %>
  </table>
</body>
</html>
