<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Chitter</title>
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>

  <body>
  <div id="top_bar">
  <% if current_user %>
    <ul>
      <li class="list_item">Hi, <%= current_user.first_name %></li>
      <li class="list_item"><a href="/logout">Logout</a></li>
      <li class="list_item"><a href="/peep">Peep!</a></li>
    </ul>
  <% else %>
      <form action='/login' method='post'>
            <label for='username'>
              Username: <input type='text' name='username' placeholder='Username'>
            </label>
            <label for='password'>
              Password: <input type='password' name='password' placeholder='Password'>
            </label>
          <input type="submit" value="Login">
      </form>
        <br><a href="/sign_up">Sign up for Chitter</a>
  <% end %>
  </div>


  <div id="chitter_feed">
    <h3>Chitter Feed...</h3>
    <ul id='links'>
      <% @peeps.reverse.each do |peep| %>
        <% user = User.get(peep.user_id) %>
        <li class="peep">
          <p class="peep_header"><%= "#{user.first_name} #{user.last_name} (@#{user.username}) - #{peep_datetime(peep.time)}" %></p>
          "<%= peep.body %>"
        </li><br>
      <% end %>
    </ul>
  </div>

  </body>

</html>
