<ul>
  <% if current_user %>
  <li><form action="new_peep" method="post">
    <label for="message"><h1>Post a Peep!</h1><h2></h2></label>
    <textarea name="message" cols="20" rows="3" placeholder="Write your peep!"></textarea>
    <h6><input type="submit" value="Post"></h6>
  </form></li>
<% end %>

  <% @peeps.each do |peep| %>
  <li><h1><%= peep.user %></h1>
    <h2><%= peep.username %></h2>
    <p><%= peep.message %></p>
    <h6><%= peep.time.asctime %></h6></li>
  <% end %>
</ul>
