<h1>Chitter - Speak your mind!</h1>

<% unless @current_user %>
  <a href='/users/new'>Sign Up</a>
  <a href='/sessions/new'>Sign In</a>
<% end %>

<% if @current_user%>

<form action='/update_peeps' method='post'>
  <input type='text' name='message'>
  <input type='submit' value='Peep'>
</form>

<% end %>

<% if @posts %>
  <% @posts.reverse!.each do |post| %>
    <p><%= post.message %><br><%= post.time %><br><%= post.user.email.split('@').first%></p>
  <% end %>
<% end %>
