<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <div class="nav">Chitter</div>

    <div class="page"></div>
  </body>
</html>
