<div class="jumbotron">
  <h1>Welcome to Chitter</h1>
  <h2>The Second Best Microblogging Website</h2>

  <div class="row">

    <div class="col-md-3 col-md-offset-3">
      <a href="/sessions/new" class="btn btn-info">Sign In</a>
    </div>

    <div class="col-md-3">
      <a href="/users/new" class="btn btn-info">Sign Up</a>
    </div>
  </div>
</div>
