<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
<% else %>
<form action='/sessions/new' method="get">
  <input type="submit" value="Log in" />
</form>
<form action="/users/new" method="get">
  <input type="submit" value="Sign up" />
</form>
<% end %>

<% if @user %>
  <form action="/peeps/new" method="get">
    <input type="submit" value="Post new Peep" />
  </form>
<% end %>


<%= flash[:notice] %>

<h2>Here's the latest Peeps</h2>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep %></li>
    <li><%= peep.created %></li>
  <% end %>
</ul>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
