
<div class="jumbotron jumbotron-fluid">
    <div class="centerme text-center">
      <h1>Chitter</h1>
      <p><small>Where conversations happen</small></p>
      <form method="get" action='/users/new'>
      <input type='submit' class="btn btn-default" value="Register">
      </form>
      <div class="container">
    </div>
  </div>
</div>
