<header class="landing">
  <div class='hero-wrapper'>
    <h1>Chitter</h1>
    <h3>Find lunacy, mindlessness, and drivel.</h3>
  </div>
</header>

<article class='wrappers'>
  <div class='Signup-callout wrapper'>
    <h2>Don't have an account?</h2>
    <a href='/signup' class="btn">Sign up</a>
  </div>

  <div class='guest-wrapper wrapper'>
    <h2>See what's happening.</h2>
    <a href='/home' class='btn'>See Peeps</a>
  </div>

  <div class='Login-wrapper wrapper'>
    <h2>Log in to Chitter.</h2>
    <%= partial :flash %>
    <form action='/sessions' method='POST' class='pure pure-form-stacked'>
      <input type='text' class='text-input' name='username' placeholder='Username'>
      <input type='password' class='text-input' name='password' placeholder='password'>
      <input type='submit' class='submit' value='Log in' class='btn'>
    </form>
  </div>
</article>
