<head>
  <title> Chitter </title>
  <h1> Chitter Timeline </h1>
</head>
<body>
  <div align='center'>
    <dl>
      <dt>
        <form action='/post/new' method='post' id='post_form'>
          <input type='text' name='post' id='post'  placeholder='Whats on your mind?'>
          <input type='submit' value='Peep?!'>
        </form>
      </dt>
      <% @timeline.each do |peep| %>
      <br>
      <br>
      <dt>
        <%= peep.body %>
      </dt>
      <dd>
        - <%= peep.user_id %> 
      </dd>
      <dd>
        <%= peep.timestamp %>
      </dd>
      <% end %>
    </dl>
  </div>
</body>

