<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="<%= url("/css/custom.css")%>" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Muli" rel="stylesheet">
  <title>Chitter</title>
</head>
<body>
  <h1>Chitter</h1>

  <h2>Welcome</h2>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>
</html>
