<form action="/sessions/new">
<input type="submit" value="Log in">
</form>
<form action="/user/new">
<input type="submit" value="Sign up">
</form>
<form action="/peeps">
<input type="submit" value="View peeps">
</form>
