<html>
  <h1>These are your peeps</h1>

  <ul id = 'peeps'>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.message %><br>
        Sent at: <%= peep.created_at.strftime(" %d/%m/%y %H:%M:%S ") %>
      </li>
    <% end %>
  </ul>
  <h3><a href ="/new_message" class = "button">Create new message</a><h3>

</html>
