<h1>Chitter!</h1>

<div><a href="/users/new">Sign up</a><br>
<a href="/sessions/new">Sign in</a><br>
<a href="/peeps/new_peep">Peep new message</a><br>
<a href="/peeps">View peeps</a>
<br>
<br>

</div>
