<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter</title>
  </head>

  <body>
    <form action="/user/new" method="get">
      <input type="submit" value="sing up">
    </form>
    <form action="/user/login" method="get">
      <input type="submit" value="log in">
    </form>
  </body>
</html>
