<form action="/users/new" >
    <div class="button">
        <button type="submit">Sign up</button>
    </div>
</form>

<form action="/sessions/new" >
    <div class="button">
        <button type="submit">Sign in</button>
    </div>
</form>
