<% if current_user %>
  You're signed in, <%= current_user.name %>!
  <a href="/users/sign_out">Sign Out</a>
<% end %>

<% if !current_user %>
  <a href="/users/sign_up">Sign Up</a>
  <a href="">Sign In</a>
<% end %>