<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Chitter</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <% @posts.each do |post| %>
        <div class="thumbnail">
          <div class="caption">
            <h4><%= post.user.name %> <small>@<%= post.user.user_name %></small></h4>
            <p class="lead"><%= post.message %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
