
<div class='button'>
  <form action='/users/new'>
    <input class='button' type='submit' value='Sign up'>
  </form>
</div>
<div class='button'>
  <form action='/sessions/new'>
    <input class='button' type='submit' value='Sign in'>
  </form>
</div>