<h1>Chitter<h1>
<div>
 <form action='/post' method='post'>
    <label for='title'> Enter your peep here:</label>
    <input type='text' name='new_peep'>
    <input type='submit' value='Submit'>
  </form>
  <ul>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.formatted_time %>
        <%= peep.message %> 
      </li>
    <% end %>
  </ul>
</div>

