<div align="center">

  <header>
    <h3>Welcome to Spitter! </h3>
  </header>

  <p>
    Spit dem rhymes wit dis bare sick app (git)init bruv!
  </p>

  <form action="/spits">
    <button>View latest spits!</button>
  </form>

  <form action="/sessions/new">
    <button>Sign in</button>
  </form>
  <form action="/users/new">
    <button>Sign up</button>
  </form>

</div>
