<h1>Welcome to Chitter</h1>

Current tweets:
<ul>
  <% @tweets.each do |tweet| %>
    <li><p><%= tweet.user %>: <%= tweet.message %></p></li>
  <% end %>
</ul>

<div id='new-tweet'>
  <form action='/tweets' method='post'>
    Name: <input type='text' name='user'>
    Message: <input type='text' name='message'>
    <input type='submit' value='Send tweet'>
  </form>
</div>
