<h1>
  Chitter
</h>



<p>
  <a href='/sessions/new'><button type="button">Sign In</button></a>
  <a href='/user/new'><button type="button">Create a New User</button></a>
  <a href='/peeps'><button type="button">View the Peeps</button></a>
</p>
