<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter!</title>
  </head>
  <body>
    <form action="/users/new" method='get'>
        <button type="submit" name="New Account">New Account</button>
    </form>
  </body>
</html>
