Welcome to Chitter

<form action='/sessions/new' method='get'>
  <input type='submit' value='Log in'>
</form>
<form action='/user/register' method='get'>
  <input type='submit' value='Register'>
</form>
