<!DOCTYPE html>
<html>
<head></head>
<h1>Welcome to Chitter!</h1>

<h4>
  <a href="/write_message" id="write_message">Write a Peep!</a></h4>
</h4>

<h4>
  <a href="/view_all" id="view_all">View Peeps!</a></h4>
</h4>
