<h1> Welcome to Twi... CHITTER! </h1>

<form action="/login">
    <input class='btn btn-success' type='submit' value='Login'/>
</form>

<form action="/signup">
    <input class='btn btn-primary' type='submit' value='Signup' />
</form>
