<div id = "heading"><h2>Peeps</h2></div>
<div id = "peeps-container">
  <ul id = "peeps">
    <% @peeps.reverse_each do |peep| %>
      <li class = "peep">
      <p class = "user"><%= User.get(peep.user_id).username %> (<%= User.get(peep.user_id).name %>) <%= peep.timestamp %>:</p>
      <p class = "content"><%= peep.content %></p></li>
    <% end %>
  </ul>
</div>
