<h1> Chitter </h1>
<h3> Log in below: </h3>
<form action='/login' method='post'>
  <label for='username'>
    Enter your username: <input name='username' type='text'>
  </label>
  <label for='password'>
    Enter your password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Submit'>
</form>
