<head>
 <link rel="stylesheet" type="text/css" href="/style.css"/>
 <link rel="stylesheet" type="text/css" href="/normalize.css"/>
 <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
 <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<html>
<h1 style="text-align:center"><font color="white"><b> Welcome to Chitter! </b></font></h1>

<h2 style="text-align:center">
    <form action="/signup" method="get">
  <font color="white">Sign Up:</font>
  <input class="button button-primary" type="submit" value="Sign Up" formaction="/signup">
  <font color="white">Log In:</font>
  <input class="button button-primary" type="submit" value="Log In" formaction="/sessions/new">
<h2>
  <body style="background-image:url(images/smartphone-4236924_1920.jpg);">
