<! DOCTYPE html>
<html>
<center>
<h1> CHITTER </h1>
</center>

<body>
  <% if current_user %>
    Welcome, <%= current_user.username %>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
    <br >
    <br >
    <form method='post' action='/post_message'>
      <label> Message
      <input type='text' name='message'></label>
      <input type='submit' value='Post'>
    </form>
<% else %>
 <a href="users/new">Sign Up</a>
 <br >
 or
 <br >
 <a href='/sessions/new'>Sign In</a>
  <% end %>
<% if @messages != nil %>
<ul id='messages'>
  <% @messages.each do |message| %>
  <li>
   <%= message.time %>
     <ul>
     <%= message.text %>
    </ul>
  </li>
  <% end %>
</ul>
<% end %>
</body>
</html>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
