<link href="styles.css" type="text/css" rel="stylesheet">

<html>
<body>
<% if !current_user %>
<form method='get' action='/sessions/new'>
  <input type='submit' value='Sign in'>
</form>
<form action='/users/new' method='get'>
  <input type='submit' value='Sign Up'>
</form>
<% end %>

<% if current_user %>
<form action='/peeps/new' method='get'>
  <input type='submit' value='Peep!'>
</form>
<% end %>

<h1>Home Page</h1>


<ul id='tweets'>
  <% @peeps.each do |peep| %>
    <li>
     <%= peep.username %>: <%= peep.peep   %>
     <%= peep.time %>
    </li>
  <% end %>
</ul>
</body>
</html>
