<div align="center">

  <header>
    <h1>Welcome to Spitter! </h1>
  </header>

  <p>
    Spit dem rhymes wit dis bare sick app (git)init bruv!
  </p>

  <form action="/users/new">
    <button>Get spitting!</button>
  </form>

</div>
