<ul>
  <% @tweets.each do |tweet| %>
    <p><span class="red">@<%= tweet.user%>:</span><br><%= tweet.message%></p>
    <hr>
  <% end %>
</ul>
<br><br>
<% if current_user %>
<div id="new-tweet">
  <form action="/tweets" method="post">
    Message: <input type="text" name="message" maxlength="50" required><br><br>
    <input id="awesomebutton" type="submit" value="Send tweet!">
  </form>
</div>
<% end %>