<% if @user %>
  <a href="/users/log_out">Log Out</a>
<% else %>
  <a href="/users/log_in">Log In</a>/<a href="/users/new">Sign Up</a>
<% end %>
<% if @user %>
  <h1>Hi <%= @user.username %>!</h1>
<% end %>
<h1>
  Welcome to Chatter!
</h1>

<form action="/add" method="post">
  <div>
    <label for="">
    <input type="text" id="text" name="text">
  </div>
  <div class="button">
    <button type="submit" value="Say Something">Say Something</button>
  </div>
</form>

<h2>
  Chats:
</h2>

<ul>
  <% @chats.each do |chat| %>
    <li class="chat" id="chat-<% chat.id %>">
      <%= chat.text %>
      <ul>
        <li>
          Posted at: <%= chat.time %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
