<% if @user %>
  <div id='send-cheep'>
    <form action='/cheeps/new' method='post'>
      <input name='cheep' placeholder="What's chappening?">
      <button>Cheep</button>
    </form>
  </div>
<% end %>
<h1>All Cheeps / <a href='/following-cheeps'>Following Cheeps</a></h1>
<%= erb :cheeps %>