<form action = 'peeps' method = 'post'>
  <input type = 'text' name = 'name'>
  <input type = 'email' name = 'email'>
  <input type = 'password' name = 'password'>
  <input type = 'passpord_confirmation' name = 'passpord_confirmation'>
  <button type = 'submit'>sign up</button>
</form>
