<div id='message_holder'>
  <% @messages.each do |message| %>
    <p>
      <%= message %>
    </p>
  <% end %>
</div>
<div id='dynamic_form_holder'>
  <%= erb(@form) unless @form.nil? %>
</div>
<br />
<div id='post_holder'>
  <%= erb(:posts) %>
</div>
