<div>
  <form action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>
</div>
<div>
  <form action='/users/new'>
    <input type='submit' value='Sign up' name='Sign up'>
  </form>
</div>
