<a class="btn btn-default" href="/users/new" role="button">Sign up</a>
<div class="row">
  <div class="col-sm-3">
    <% @peeps.each do |peep| %>
      <div class="thumbnail">
        <div class="caption">
          <h4><%= peep.user.name %> <small>@<%= peep.user.user_name %> | <%= peep.created_at.strftime("%b %d %k:%M") %></small></h4>
          <p class="lead"><%= peep.message %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
