<h1>Welcome to Parliament</h1>
<h2>A Social Network</h2>

<form action="/users/new" method="get">
    <input type="submit" value="Whoooo's New?">
  </form>

  <form action="/sessions/new" method="get">
    <input type="submit" value="Whoooo's There?">
  </form>

  <%= partial :hoots %>

<h3>Current hoots:</h3>

<ul>
  <% @hoots.each do |hoot| %>
    <p>
    <%= hoot.name %>
    <%= hoot.username %>
    <%= hoot.message %>
    </p>
  <% end %>
</ul>

