<a href="/users/new">Sign Up</a>

<a href="/sessions/new">Sign in</a>
<div id="peeps">
    <% Peep.all(order: [:id.desc]).each do |peep| %>

    @<%= peep.username %><br>
    <%= peep.message %><br>
    by <%= peep.full_name %> at <%= peep.created_at.strftime("%H:%M%p (%A %d %b %Y)") %><br>
    <br><br>

  <% end %>
</div>

<!-- strftime("%B %d, %Y at %I:%M %p") -->
