<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Chitter</title>
</head>
<body>
  <div class="main__container">
    <h1>Chitter</h1>

    <form id="myForm" action="/bookmarks-process" method="post">
      <textarea class="peep__textarea" name="peep" >
      At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
      </textarea>
    </form>
    
  </div>
  
</body>
</html>