<h1>Welcome to Chitter!</h1>
<h3>Please choose one of the options below to proceed</h3>

<form action='/users/new' method 'get'>
  <input type="submit" value="Sign Up">
</form>

<form action='/sessions/new' method 'get'>
  <input type="submit" value="Sign In">
</form>

<form action='/posts/view' method 'get'>
  <input type="submit" value="See what people are saying!">
</form>


<!-- # <% if current_user %>
#   <form action='home' method 'get'>
#     <input type="submit" value="Go to Homepage">
#   </form>
# <% end %> -->