<head>

</head>

<body>
  <h1>chittr</h1>

  <form action='/feed' method='post'>
    <div id='fields'>
      <h3>log in</h3>
      <label for='email'> email</label>
        <input type='text' name='email'>
      <br>
      <label for='password'>password</label>
        <input type='text' name='password'>
    </div>
    <div id='submit'>
      <input type='submit' value='log in'>
    </div>
  </form>


  <form action='/create_account' method='get'>
      <input type='submit' value='join chittr'>
  </form>
</body>
