<h1 align='center'> Chitter </h1>

<form action='/users/new' align='center'>
  <input type='submit' value='Sign Up'>
</form>
<br>
<form action='/peep' method='post' align='center'>
  <input type='text' name="peep">
  <input type='submit' value='Post'>
</form>
<br>
<center>
<div id='peeps'>
  <% @peeps.reverse_each do |peep| %>
    <li>
      <%= "#{peep.content}" %>
    </li>
  <% end %>
</div>
</center>
