<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Chitter</title>
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>

  <body>
  <% if current_user %>
      <p>Hi, <%= current_user.first_name %></p>
      <a href="/logout">Logout</a>
      <br>
      <a href="/peep">Peep!</a>
  <% else %>
    <div id="login">

      <form action='/login' method='post'>
        <fieldset>
          <legend>Login</legend>
          <p>
            <label for='username'>
              Username: <input type='text' name='username' placeholder='Username'>
            </label>
          </p>
          <p>
            <label for='password'>
              Password: <input type='password' name='password' placeholder='Password'>
            </label>
          </p>
          <input type="submit" value="Login">
        </fieldset>
      </form>

      <a href="/sign_up">Sign up for Chitter</a>
    </div>
  <% end %>

  <div id="chitter_feed">
    <h3>Chitter Feed...</h3>
    <ul id='links'>
      <% @peeps.reverse.each do |peep| %>
        <% user = User.get(peep.user_id) %>
        <li>
          <%= "#{user.first_name} #{user.last_name} (@#{user.username}) - " %>
          "<%= peep.body %>"
          <%= peep.time.strftime('%I:%M%p - %d/%m/%y') %>
        </li><br>
      <% end %>
    </ul>
  </div>

  </body>

</html>
