<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
   <li id="peeps">
    Title: <%= peep.title %>
    Text:  <%= peep.text %>
    created_at: <%= peep.created_at %>
  </li>
  <% end %>
</ul>
