<h1> Welcome to Chitter! </h1>

<form action='/signup' method= 'get'>
  <input type='submit' value = 'Create new account'>
</form>

<form action='/sessions/new' method= 'get'>
  <input type='submit' value= 'Sign in'>
</form>
