<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1>Chitter</h1>

    <form action='/users/new' method='get'>
      <input type='submit' value='New User'>
    </form>

    <form action='/sessions/new' method='get'>
      <input type='submit' value='Log In'>
    </form>
    </form>
  </body>
</html>
