<% if current_user %>
<div class="col-md-6 col-md-offset-3">
  <form class="form" method = "post" action="/messages">
    <div class="form-group">
      <label for="exampleInputFile">Write your peep here (140 chars max):</label>
      <textarea class="form-control" rows="3" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn pull-right">Peep!</button>
  </form>
</div>
<% end %>
