<!-- <h1> Peeps </h1>

<ul id='link'>

  <% @link.each do |link| %>
    <li>
      Title: <%= link.bookmark_name %>
      URL:  <%= link.url %>
      Tag: <%= link.tag.map{|tag| tag.tag}.join(' : ') %>
    </li>
  <%end%>
  </ul> -->
