<html>
<head>
	 <link href='/homepage.css', type='text/css', rel='stylesheet'>
	  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:100,500,600,800" rel="stylesheet">
</head>

<div class="background">
   <h1>Critter</h1>	
   <h3> - because everyone needs to creep around sometimes - </h3>
 	
   <div class='headonebox'>
	<h4> Do you want to sign in, or is it your first time?</h4>
	
	<form action='/signup'>
		<input type='submit', value='Sign me up!'>
	</form>
	<form action='/signin'>
		<input type='submit', value='Sign me in!'>
	</form>
   </div>
</div>
</html>
