<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td { border: 1px solid black }
    th { background-color: #33CEFF; color: white}
  </style>
</head>
  <% @peeps.each do |peep| %>
    <table style='width:100%' >
    <tr>
      <th> Message </th>
    </tr>
      <td> <%= peep.message %> </td>
    </table>
  <% end %>
</html>
