<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
    <% else %>
      <a href="/users/new">Sign up</a>
      <a href="/sessions/new">Login</a>
    <% end %>
  </body>
</html>