<!DOCTYPE html>
<html>
<head>
  <title>
    Chitter - nothing like twitter.
  </title>
</head>
<body>
  <% if @user == nil %>
    <form action='/signup' >
      <input type='submit' value='Create Account'> <br>
    </form>
  <% elsif @user != nil %>
    <h1>Logged in as: <%= @user.username %></h1>
  <% end %>
</body>
</html>
