<div>
  <br>
  <a href="/messages">Messages list</a><br>
  <br>
  <a href="/messages/new">New message</a><br>
  <br>
  <a href="/users/new">Sign up</a><br>
  <br>
  <a href="/sessions/new">Sign in</a><br>
  <br>
<div>
