<h2>Peeps</h2>
<% if !current_user %>
  <form action = '/sessions/new'>
    <input type = "submit" value = "Log in">
  </form>
  <form action = '/users/new'>
    <input type = "submit" value = "Sign up">
  </form>
<% else %>
  <form action = '/peeps/new'>
    <input type = "submit" value = "New Peep">
  </form>
<% end %>
<ul id = "peeps">
  <% @peeps.reverse_each do |peep| %>
    <li><%= User.get(peep.user_id).username %> (<%= User.get(peep.user_id).name %>) <%= peep.timestamp %>:<br /> <%= peep.content %></li>
  <% end %>
</ul>
