<% if current_user %>
  Welcome, <%= current_user.name %>
<% else %>
  <form action='/users/register' method='get'>
    <input type='submit' value='Register'>
  </form>

  <form action='/users/sign_in' method='get'>
    <input type='submit' value='Sign in'>
  </form>
<% end %>