<% if current_user %>
Welcome, <%= current_user.username %>!
<% end %>
<form action='/sign-up' method='get'>
  <button>Sign up</button>
</form>

<form action='/log-in' method='get'>
  <button>Log in</button>
</form>
