<!-- <form action='/sign_up' method='GET'>
  <input type='submit' value='Sign up'>
</form>

<form action='/log_in' method='GET'>
  <input type='submit' value='Log in'>
</form>

<form action='new_peep' method='GET'>
  <input type='submit' value='Post new Peep'>
</form> -->

<ul id='messages'>
  <% @messages.reverse.each do |message| %>
    <li>
      <p>
        <span style='border:1px black solid'>
          <%= message.posted_at.strftime("%d/%b/%Y %H:%M") %> - <%= message.body %>
        </span>
      </p>
    </li>
  <% end %>
</ul>

<form action='new_peep' method='GET'>
  <input type='submit' value='Post new Peep'>
</form>
