<% @peeps.each do |peep| %>
  <p><span><%= peep.post%><%= current_user%></p></span>
 <% end %>

 <div id="new-peep">
  <form action="/peeps" method="post">
    <p>Add peep: <input type="text" size="50" name="post"></p>
    <p><input type="submit" value="Add peep"></p>
  </form>
</div>