Welcome to Critter!

Messages:
<% @messages.each do |message| %>
	<%= message.text %>
<% end %>

Want to critter your own message?
<form action='/messages', method='post'>
	Message: <input type='text', name='message'>
	<input type='submit', value='Submit'>
</form>
