<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1>Create a peep</h1>
    <form action='/create-peep' method='post'>
      <label for='content'>
        Peep:
        <textarea type="text" cols="86" rows ="20" name="content"></textarea>
      </label>
      <input type='submit' value='Submit your peep'>
    </form>
  </body>
</html>
