<div class="row">
  <div class="col-sm-6">
    <div class="container-fluid col-sm-8 col-sm-offset-3">
      <h1 id='title'>Welcome to Chitter.</h1>
    </div>
    <div class="container-fluid col-sm-10 col-sm-offset-3">
      <p class='text'>Connect with your friends —
        and other fascinating people.
        Get in-the-moment updates on the
        things that interest you.
        And watch events unfold, in real time,
        from every angle.
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <% unless current_user %>
    <section id='sign_in_home' class="container-fluid col-sm-7 col-sm-offset-1">
      <div style='margin: 10px'>
        <h4 class='col-sm-offset-2'>Log in to Chitter</h4>
        <form action='/sessions/new' method='post'>
          <input class='input_box col-sm-6 col-sm-offset-2' type='text' name='email' value placeholder="Email">
          <br>
          <input class='input_box col-sm-6 col-sm-offset-2' type='password' name='password' value placeholder="Password">
          <br>
          <input id='sign_in_button' class='btn btn-primary col-sm-4 col-sm-offset-3' type='submit' value='Sign in'>
        </form>
      </div>
      <div id="log_in_new" class="container-fluid col-sm-12">
        <p class='col-sm-offset-2'>New to Chitter? <a href='/users/new'>Sign Up Now »</a><p>
      </div>
    </section>
    <% end %>
  </div>
</div>
