!!!
%html
  %head
    %meta{ charset: "utf-8"}
    %title "Chitter"
    %link{ href: "./reset.css", rel: "stylesheet", type: "text/css"}
    %link{ href: "./index_stylesheet.css", rel: "stylesheet", type: "text/css"}
    %link{ href: "https://fonts.googleapis.com/css?family=Abril+Fatface", rel: "stylesheet"}
    %link{ href: "https://fonts.googleapis.com/css?family=Poiret+One", rel: "stylesheet"}
    %link{ href: "https://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet"}

    %body
      %div{ class: "container" }
        %h1 Chitter.
        %span{ class: "tagline" } a place for people
        %div{ class: "button_container" }
          %form{ action: '/user/new' }
            %button{ type: 'submit', value: 'Sign up'}sign up
          %form{ action: '/sessions/sign_in' }
            %button{ type: 'submit', value: 'Sign in'}sign in
        %form{ action: '/about' }
          %button{ type: 'submit', value: 'More', id: 'lastbutton'}more
