<link rel="stylesheet" type="text/css" href="css/app.css" />

<div id='title_holder' class='box' >
  <center>
    <h1 id="main_title" class="heading">Chitter</h1>
  </center>
</div>
<br />

<center>
  <%= erb(:log_out) unless @username.nil? %>
</center>

<div id='message_holder' class='box'>
  <% @messages.each do |message| %>
  <center>
    <p id="message">
      <%= message %>
    </p>
  </center>
  <% end %>
</div>

<div id='form_holder' class='box' >
  <%= erb(@form) unless @form.nil? %>
</div>

<br />

<div id='post_holder' class='box' >
  <%= erb(:posts) %>
</div>
