<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div align="right">
      <% if current_user %>
        <h4>Hello <%= current_user.username %>!</h4>
      <% end %>
    </div>
    <div align="center">
      <h1> Welcome to Chitter... </h1>
      <h4> A shittier version of Twitter </h4>
    </div>
    <h2> Peeps </h2>
      <ul id='peeps'>
        <% @peeps.reverse.each do |peep| %>
          <li>
            <%= peep.body %>
            <br></br>
            <%= peep.time_stamp %>
            <br></br>
          </li>
        <% end %>
  </body>
</html>
