<form method='get' action='/session/new'>
  <button type='submit'>Log in</button>
</form>

<form method='get' action='/sign-up'>
  <button type='submit'>Sign up</button>
</form>

<form method='get' action='/chitter-feed/peeps'>
  <button type='submit'>See peeps as guest</button>
</form>
