<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_maker %>
      <h1>WELCOME <br /><%= current_maker.email %></h1>
    <% else %>
      Please Sign up or Sign in
    <% end %>
  </body>

  
</html>
