<form action="/peep" method='post'>
  <div>
    <label for="msg">Message:</label>
    <textarea id="msg" name="user_message"></textarea>
  </div>
  <div>
      <input type='submit' id='peep'>
  </div>
</form>

Peeps:
<ul id='peeps'>
  <%@posts.each do |post| %>
    <li><%= post.message %></li>
  <%end%>
</ul>
