<% if @all_cheeps.empty? %>
  <p>Nobody's Cheeped yet... You could be the first!</p>

<% else %>

<h1>Here's what people have been saying.</h1>

  <ul>
    <% @all_cheeps.each do |cheep| %>
    
      <li>
        <author><p><%= cheep.user.name %> <span id="username">(<%= cheep.user.username %>)</span></p></author>
        <content><p><%= cheep.content %></p></content>
        <date><p>Posted at: <%= date_format(cheep.created_at) %></p></date>
      </li>
    
    <% end %>
  </ul>

<% end %>