<h1>Chitter</h1>
<% if current_user %>
<a href="/peeps/new"><button>Post a peep</button></a>
<% else %>
<a href="/signup"><button>Sign up</button></a>
<a href="/sessions/new"><button>Log in</button></a>
<% end %>
