
<p>Working!</p>

<form action='/peeps' method='post'>
  User:<br>
  <input type='text' name='user'><br>
  Peep:<br>
  <input type='text' name='peep'><br>
  <br>
  <input type='submit' value='Peep!'>
</form>
