<% if !current_user %>
<nav>
  <ul>
  <form action='/signup' method="get">
    <input type="submit" value="Sign Up">
  </form>

<form action='/session' method="post">
  Login here:<br>
  Username:<input type="text" name="username" required>
  Password:<input type="password" name="password" required>
  <input type="submit" value="Login">
</form>
</ul>
</nav>
<% end %>

<ul id="peeps">
<% @peeps.each do |peep| %>
  <li>
    <%= peep[:content] %><br>
        Posted at: <%= peep[:created] %><br>
        By: <%= peep.user.name %><br>
  </li>
  <% end %>
</ul>
