<html>

<head>
<style>
body  {background-color: #000000; color: white;}
a     {color: white; font-size: 150%;}
</style>
</head>

<body>
<h1> WELCOME TO CHITTER </h1>
<br>
<a href="/send">Send Message</a>
<br>
<a href="/timeline">View Timeline</a>
</body>
