<h1>Welcome to Chitter</h1>

<p>
  <h1>Please sign in</h1>
  <form action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>
</p>

<p>
  <h1>Please sign up</h1>
  <form action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>
</p>
