<% if register_user %>
  Registration confirmed
  <% session[:id] = nil %>
<% end %>

Welcome to Chitter
<br>
<body>
  Please login here
  <form method='post' action='/login'>
    <input type='text' name='username' placeholder='Enter your username'>
    <input type='password' name='password' placeholder='Enter your password'>
    <input type='submit' name='Login' value='Login'>
  </form>
  <a href='/signup'><button>Sign up</button></a>

Past peeps:
<br>
<% if @all_peeps %>
  <% @all_peeps.each do |peep| %>
    <% @user = @all_users.get(peep.user_id) %>
    <%= @user.username %> said: <%= peep.message %> at <%= peep.time.strftime('%r') %>
    <br>
  <% end %>
<% end %>
</body