<form method='post' action='/'>
  <input type='text' name='msg' placeholder:'Enter your Peep here'>
  <input type='submit' value='Peep'>
</form>

<ul id= 'peeps'>
  <% if @peeps.nil? %>
    <li class='empty peep'>No Peeps</li>
  <% else %>
    <% @peeps.each do |peep| %>
      <li class='peep'>
        <div class='content'><%= "#{peep.content}" %></div>
        <span class='peep meta'><%= "#{peep.user.name} at #{peep.created_at}" %></span>
      </li>
    <% end %>
  <% end %>
</ul>