<html>
  <head>
    <title> Welcome to Chitter - Login or Sign up </title>
  </head>

  <body>
    <%= partial :'partials/home_page' %>
    <form action="/peeps/new">
      <input type="submit" value="New Peep">
    </form>
    <%= partial :'partials/peeps_display' %>
  </body>

</html>
