<doctype html="html">
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <style>
      body {
        font-family: "Raleway", "Helvetica", "Arial", sans-serif;
        text-align: center;
        margin: 50px;
        color: #130101c4;
      }
    </style>

    <h2>Welcome to Chitter</h2>
    <div>
      <form action='/users/new'>
        <button class='button' type='submit' value='Sign up'>Sign up</button>
      </form>
    </div>
    <h4>
      or
    </h4>
    <div>
      <form action='/sessions/new'>
        <button class='button' type='submit' value='Sign in'>Sign in</button>
      </form>
    </div>

  </body>
</html>
