<section class="jumbatron bg-white p-5 align-middle mb-5">
  <h2>Hear what your fellow Makers are up to</h2>
  <h4>Join Chitter today.</h4>
  <div class="btn-group" role="group">
    <form action="/users/new">
      <button class="btn btn-lg btn-light mr-2 rounded-0" id="join">Sign Up</button>
    </form>
    <form action="/users/login">
      <button class="btn btn-lg btn-light mr-2 rounded-0" id="new-session">Log In</button>
    </form>
  </div>
</section>
<a href="/peeps" class="btn btn-lg btn-outline-dark rounded-0">View Peeps</a>