
<div class='home'>
  <form action='/users/new'>
    <input class='big_button button' type='submit' value='Sign up'>
  </form>
  <form action='/sessions/new'>
<!--     <input class='nav button--big' type='submit' value='Sign in'>
 -->
    <input class='big_button button' type='submit' value='Sign in'>
  </form>
</div>