<div>
  Welcome to ChitterChatter!<br>
  <a href="/peeps/new">New peep</a>


<ul>
  <% @peeps.each do |peep| %>
    <%=peep.text %><br>
    Posted by: <%=(User.first(id: peep.user_id)).username%>,<br>
    <%=(User.first(id: peep.user_id)).name%>
    at <%=peep.timestamp%><br>
  <% end %>
</ul>