<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  <body>
    <h1> Chitter Feed </h1>

    <h3> Welcome </h3>


    <form action = '/new' method = 'post'>
      Message: <input type = 'text' name = 'body'>
      Username: <input type = 'text' name = 'name'>
      <input type = 'submit' value = 'Post!'>
    </form>


    <ul id='messages'>
      <% Message.all.reverse.each do |message| %>
      <li>
        Chitter: <%= message.body %>
        Username: <%= message.name %>
        TimeStamp: <%= message.created_at %>
      </li>
      <% end %>
    </ul>
  </body>
</html>
