<h1>Welcome to Chitter!</h1>
<h3><em>It's sweet to peep.</em></h3>
<a href="/users/sign_up" id="sign_up"><input type="button" value="Sign up"/></a>
<a href="/users/sessions/new" id="sign_in"><input type="button" value="Sign in"/></a>
