<!DOCTYPE html>
<html >
  <head>

  </head>
  <body>


    <form action="/peeps" method="post">
      <input type="text" name="peep_entry" placeholder="Enter peep here." >
      <input type="submit" value="Post" >
    </form>

    <h2> Feed: </h2>

    <p>
      <%  @peeps.each do |peep| %>
      <%= peep                  %> <br> <br>
      <%  end                   %>
    </p>

  </body>
</html>
