<h1>Welcome to Chitter!

Supposedly the most engaging social portal in the world!

One does not simply register on Chitter and lead a normal life!




                  Register by clicking the button below and

                  say goodbye to your partner, your dog and......

                  c'mon we know you don't have a partner.

                  Loooooser!


                  Anyway, register! Now!</h1>


                  <form action="/users/new" method="get">
                  <button type="submit" value="Submit" style="height:50px; width:500px">I want to register!</button>
                  </form>
