<% if @user %>
  <div id='send-cheep'>
    <form action='/cheeps/new' method='post'>
      <input name='cheep' placeholder="What's chappening?">
      <button>Cheep</button>
    </form>
  </div>
<% end %>
<%= erb :cheeps %>