<% if current_user %>
  You're signed in, <%= current_user.name %>!
  <a href="/users/sign_out">Sign Out</a>
  <a href="/cheeps/new">Post a new Cheep</a>
  
  <ul>
    <% @all_cheeps.each do |cheep| %>
      <li><%= cheep.content %></li>
    <% end %>
  </ul>
<% end %>

<% if !current_user %>
  <a href="/users/sign_up">Sign Up</a>
  <a href="/users/sign_in">Sign In</a>
<% end %>