<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Chitter</title>
</head>
<body>
  <div class="main__container">
    <h1>Chitter</h1>
    
      
    <div class="main__login">
      <% if @user %>
        <p>
          Welcome, <%= @user.email %>
        </p>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Logout" class="peep_button"/>
        </form>
      <% else %>
        <form action="/users/new" method="get">
          <input type="submit" value="sign up" class="peep_button" />
        </form>
        <form action="/sessions/new" method="get">
          <input type="submit" value="Login" class="peep_button" />
        </form>       
      <% end %>
    </div>
    
    <form id="myForm" action="/process-peep" method="post">
      <textarea class="peep__textarea" name="peep" placeholder="What's happening?" ></textarea>
      <input type="submit" value="Post">
    </form>

    <div class="main__container_peeps">
      <ul>
        <% @peeps.each { |peep|  %>
          <li class="peep" id="peep-<%= peep.id %>">
            <%= peep.peep %>
            <div class="peep__time">Posted at: <%= peep.time %></div>
          </li>
        <% } %>
      </ul>
    </div>
    
  </div>
  
</body>
</html>