<div class='welcome-box container'>
        <h1>Welcome to Chitter!</h1>
        <h4>Please continue below</h4>
        <div class='buttons'>
                <a href='/sign-up' class='large btn btn-default large'>Sign-up</a>
                <br/>
                <a href='/log_in' class='btn btn-default large '>Log in</a>
                <a href='/home' class='home-link pull-right'>Continue to main site...</a>
        </div>
</div>
