<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to Chitter - Login or Sign up </title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <%= partial :'partials/current_user' %>
    <%= partial :'partials/flash_notice' %>

    <%= partial :'partials/peeps_display' %>
  </body>

</html>
