<%if get_user_id%>

<form action="/sessions" method="post">
  <div>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='log out' id='log-out'>
  </div>
</form>

<form action="/peep" method='post'>
  <div>
    <label for="msg">Message:</label>
    <textarea id="msg" name="user_message"></textarea>
  </div>
  <div>
      <input type='submit' id='peep'>
  </div>
</form>

<%end%>


Peeps:
<ul id='peeps'>
  <%@posts.reverse.each do |post| %>
    <dt><%= post.created_at.strftime("printed  on %m/%d/%Y at %I:%M%p") %></dt>
    <dd><%=User.get(post.user_id).username %>: <%= post.message  %></dd>
    <dd> </dd>

  <%end%>
</ul>
