<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="content">
      <h1><span>Chitter</span></h1>
      <div id="prevdetails" class="clear">
        <h5>Sign up</h5>
        <form action="/peeps" method="POST">
          Email:  <input type="email" name="email" /><br />
          Password:  <input type="password" name="password" /><br />
          <input type="submit" value="Sign up">
        </form>
      </div>
    </div>
  </body>
</html>
