<h1>Welcome to Chitter</h1>

<form action='users/sign_up'>
  <button type="submit"> Sign up </button>
</form>

<form action='sessions/new'>
  <button type="submit"> Sign in </button>
</form>

<form action='/'>
  <button type="submit"> Sign out </button>
</form>
