Howdy

<form action="/chitter_post" method="post">
  <label>Enter your thoughts!
    <input type="text" name="post">
    <input type="submit" name="Submit">
  </label>
</form>

<form action="/chitter_post" method="post">
  <label>Enter the time!
    <input type="text" name="time">
    <input type="submit" name="Submit">
  </label>
</form>
