<% if flash[:notice] %>
  <h1><%= flash[:notice] %></h1>
<% end %>
<% if current_user %>
<form action='/peep' method='get'>
  <button>Peep!</button>
</form>
<% end %>

<% @all_peeps.each do |peep| %>
  <%= peep.time %><br>
  <%= peep.message %><br>
  by <%= peep.users[0].username %><br>
  <br>
<% end %>
