
<% if current_user %>
  <div id="new-peep" class="clearfix">
    <form class="clearfix" action="/peeps" method="post">
      <label>Write your peep here...</label>   
      <input type="text" name="content">
      <input class="inline-button" type="submit" value="Peep!">
    </form>
  </div>
<% end %>

<h2>Peep feed!</h2>

<ul>
    <% if @peeps %>
      <% @peeps.reverse.each do |peep| %>
        <li><%= peep.content %></li>
        <li>Posted by: @<%= peep.user.uname %></li>
      <% end %>
    <% end %>  
</ul>