<center> <h1> Welcome to Critter! </h1>
	<h3> - because everyone needs to creep around sometimes - </h3>
	
	Do you want to sign in, or is it your first time?
	
	<form action='/signup'>
		<input type='submit', value='Sign me up!'>
	</form>
	<form action='/signin'>
		<input type='submit', value='Sign me in!'>
	</form>
