<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>

    <div class="index_container">
      <h1>Welcome to Chitter-Chatter</h1>

    <form action="/sessions/new">
      <input type="submit" value="Sign in" id="button">
    </form><br><br>

    <form action='/user/new'>
      <p> If you don't have an account, please sign up </p>
      <input type="submit" value="Sign up" id="button">
    </form>
  </div>

  </body>

</html>
