<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
<h1>Welcome to chitter</h1>
  </body>
</html>

<form action="/users/new" method="get">
  <button type="submit">Sign up</button>
</form>
