<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/view_peeps" method="get">
      <input type="submit" value="view peeps">
    </form>
    <form action="/sign_up" method="get">
      <input type="submit" value="sign up">
    </form>
  </body>
</html>
