<html>
  <head>
    <title> Welcome to Chitter - Login or Sign up </title>
  </head>

  <body>
    <h1>Welcome to Chitter </h1>
    <form action="/sing-up"  method="post">
      <input type="text"     name="email">Email<br />
      <input type="password" name="password">Password<br />
      <input type="text"     name="name">Name<br />
      <input type="text"     name="username">Username<br />
      <input type="submit"   value="Sign up">
    </form>
  </body>

</html>
