<div class="wrapper" align="center" />
  <div class="well" style="background-color: black;">
    <header>
      <h3>Welcome to Shitter!</h3>
    </header>

    <p>
      Twitter for the shitter
    </p>

  </div>

</div>
