<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body background=https://vignette1.wikia.nocookie.net/clubpenguinfanon/images/1/17/Chitter_logo.png/revision/latest?cb=20100722020455>
      <div>
      <center>
      <h1>Welcome to Chitter!</h1>
      <p>We are NOT copying Twitter ;)</p>
      <form action='/peeps' method='GET'>
      <h3>Wanna see what your friends are saying? Of course you do! <input type='submit' value='View Peep'></h3>
        </form>
      <form action='/users/new' method='GET'>
         <h3>Sign up <input type='submit' value='Sign Up'></h3>
        </form>
  </center>
</div>
  </body>
</html>
