<h1>Welcome to Chitter!</h1>
<% unless @signed_in %>
<form>
  Sign up:<br />
  Username:<input type="text" />
  Display name:<input type="text" />
</form>
<% end %>

<p>
<a href="postapeep">Post a peep</a>
</p>

-->! Perhaps I should look up the rest of the weekly
challenge before going further - it might show how
to do popups etc

<p>
Peepstream:
</p>
<div>
<% @peeps.each do |peep| %>
<%= peep %>
<% end %>
</div>
