<body class = 'container' >

<h1>Welcome to Chitter</h1>

  <% if current_user == nil%>
    <form action='/users/new'>
      <button> Sign up </button>
    </form>
  <% end %>

  <% if current_user == nil%>
    <form action='/sessions/new'>
      <button> Sign in </button>
    </form>
  <% end %>

<ul id='posts'>
  <% @posts.reverse.each do |post| %>
    <li>
      Post: <%= post.message %> Written by: <%= post.user.handle %> at: <%= post.created_at %>
    </li>
  <% end %>
</ul>

  <% if current_user != nil %>
    <form action='posts/new'>
      <input type="submit" name="submit" value="Post a new message">
    </form>
  <% end %>

      <input type="submit" value="Play" class="btn btn-info btn-lg">


</body>