Welcome to Chitter what would you like to do?
<br>
<form action = '/users/new' method='get'>
    <input type='submit' value='SIGN UP'>
</form>
<br>
<form action = '/sessions/new' method='get'>
    <input type='submit' value='LOG IN'>
</form>
<br>
