<h1>Welcome to Chitter!</h1>

<body>
  <p>
    <form method='get' action='/users/new'>
      Sign up:
      <input type='submit' value='here'>
    </form>
  </p>
  <p>
    <form method='get' action='/peeps'>
      View peeps:
      <input type='submit' value='here'>
    </form>
  </p>
</body>
