<!DOCTYPE html>
<html>
<head>
  <title>chitter</title>
  <link rel="stylesheet" type="text/css" href="./app/public/chitter.css">
  <script src="https://use.fontawesome.com/5d80a0eb69.js"></script>
  <!-- <script src="jquery-3.2.1.min.js"></script> -->

</head>
<body>
  <h1><i class="fa fa-hashtag" aria-hidden="true"></i>CHITTER</h1>
  <h2>POSTS</h2>
  <br>
  <ul id="posts">
  <% @peep.each do |post| %>
    <li>
      <i class="fa fa-quote-left" aria-hidden="true"></i> <%= post.body_post %> <i class="fa fa-quote-right" aria-hidden="true"></i>
    <p id="date">
        <em>created at: <%= post.created_at %></em></p>
    </li>
  <% end %>
</ul>


</body>
</html>
