<% if register_user %>
  Registration confirmed
  <% session[:id] = nil %>
<% end %>

Welcome to Chitter
<br>
<body>
  Please login here
  <form method='post' action='/login'>
    <input type='text' name='username' placeholder='Enter your username'>
    <input type='password' name='password' placeholder='Enter your password'>
    <input type='submit' name='Login' value='Login'>
  </form>
  <a href='/signup'><button>Sign up</button></a>
</body