<form action="/create_user" method="post">
  <label>Enter your thoughts!
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="text" name="name">
    <input type="text" name="username">
    <input type="submit" name="Submit">
  </label>
</form>
