<center>

<h1>Welcome to Chitter</h1>

<br>

  <% if current_maker %>
    <form action="/peeps" method="post" class="new-peep">
      What's Peepin'?: <input type="text" name="message">
      <input type="submit" value="Peep!">
    </form>
  <% end %>

  <br>

  <ul>
  <% @peeps.reverse.each do |peep| %>
    <li>
    <%= get_peep_user(peep, peep.maker_id) %> peeps: <%= peep.message %>
  <% end %>
    </li>

  </ul>


</center>