<h1>Welcome to Chitter!</h1>

<p>
<a href="postapeep">Post a peep</a>
</p>

-->! Perhaps I should look up the rest of the weekly
challenge before going further - it might show how
to do popups etc

<p>
Peepstream:
</p>
<form>
  Sign up:<br />
  Username:<input type="text" />
  Display name:<input type="text" />

</form>
