<h1>Welcome to Chitter!</h1>
<form action='/users/new'>
  <input type='submit' name='signup' value='Sign Up'>
</form>

<form action='/sessions/new'>
  <input type='submit' name='signin' value='Sign In'>
</form>


<form action='/peeps'>
  <input type='submit' name='gust' value='Guest'>
</form>

