This is a boring homepage currently.

<form action="/user/new" method="post">
  <label for="username">Your Username:
  <input type="text" name="username"></label>
  <label for="email">Email:
  <input type="text" name="email"></label>
  <label for="password">Password:
  <input type="text" name="password"></label>
  <input type="submit" value="Sign up!">
</form>
