This is a boring homepage currently.



<form action="/user/new" method="get">
  <input type="submit" value="Sign up!">
</form>

<form action="/peeps" method="get">
  <input type="submit" value="View peeps!">
</form>
