
<% if @peeps %>
  <section class="list_peeps">
    <ul id='peeps'>
      <% @peeps.each do |peep| %>
        <li>
          <strong><%= peep.user.id %></strong>
           <%= peep.message %><br>

        </li>
      <% end %>
    </ul>
  </section>
<% end %>
