<div class="jumbotron">
  <div class="container">
    <a href='/'>
      <h1> Welcome To Chitter! </h1>
      <h4> The Social Network Solely For Charming Cheeky Chit Chat </h4>
    </a>
  </div>
</div>