<h1> Welcome to Chitter </h1>
<form action="/users/register" method="get">
<input type="submit" value="Register">
</form>

<form action="/sessions/sign_in" method="get">
<input type="submit" value="Sign in">
</form>
