<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user && !flash[:errors] %>
      <h2>Welcome <%= current_user.user_name%></h2>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <h5><%= error %></h5>
      <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>