<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>

<!--       <link rel="stylesheet" type="text/css" href="/css/reset.css">
      <link rel="stylesheet" type="text/css" href="/css/application.css"> -->
  </head>

  <body>

    <% if current_maker %>
      Welcome, <%= current_maker.name %>.
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      <br><br>Sorry, there were the following problems with the form:
      <ul = id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>

  </body>

</html>