<!DOCTYPE html>
<html>
  <style>
  * {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    }
  body {
    height:100%;
    width:100%;
    position:fixed;
    background-image: url("http://www.saga.co.uk/contentlibrary/saga/publishing/verticals/home-and-garden/crafts-and-hobbies/sewing-and-knitting-for-charity.jpg");
    background-color: #93B874;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e1bfe4;
    text-align: center;
    }
  button{
    height:20px; 
    width:100px; 
    margin: 0 auto;
    float: center;
    top:50%; 
    left:50%;
    text-transform: lowercase;
    color: #666;
    }
  </style>

  <head>
    <title>knitter</title>
  </head>

  <h1 style="font-family: 'Futura'; color:#d4e788; font-size: 60px;">knitter</h1>
  <h1 style="font-family: 'New Caledonia'; color:#60f0ff; font-size: 22px;">twitter for knitters</h1>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
