<!DOCTYPE html>
<html>
  <head>
    <link href="layout.css" rel="stylesheet" type="text/css" >
  </head>

  <body>
     <title>Chiteroo</title>
    <div class = "fill" >
    <% if current_user %>
      <font> Hey <%= current_user.username %>! </font>
    <% end %>
  </div>

  <div class = "fill" >
    <% if flash[:notice] %>
      <div class = "alert" id='notice'><%= flash[:notice] %></div>
    <% end %>
  </div>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
