<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  <!-- <link href="/css/application.cs s" rel="stylesheet" type="text/css"> -->

  </head>
  <body>
    <%= partial :nav %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>