<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
