<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chitter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
   <link rel="icon" href="/images/favicon.ico">
</head>

<body>

  <%= yield %>
</body>

</html>