<!DOCTYPE html>
<html>
<head>
  <title> Chitter </title>
</head>

<body>
  <% if current_user %>
  Welcome, <%= current_user.name %>!
  <form action='/sessions' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' name='Sign out' value='Sign out'>
  </form>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
  Please see the error(s) below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  </ul>
  <% end %>
  <% if flash[:notice] %>
  <div id='notice'> <%= flash[:notice] %> </div>
  <% end %>
  <%= yield %>
</body>

</html>
