<!DOCTYPE html>
<html>
<head>
  <title>Awesome Twitter</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <% if flash[:errors] && !flash[:errors].empty? %>
    Sorry, there were the following problems with the form.
    <ul id="errors">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
<% end %>

    <% if current_user %>
      Welcome, <%= current_user.name %>
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign out">
  </form>
     <% else %>
    <a href="/sessions/new">Sign in</a>
    <a href="/users/new">Sign up</a>

  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
 <% end %>

  <%= yield %>

</body>
</html>