<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
    <body>

      <% if flash %>
        <% flash.each do |notice, messages| %>
          <% messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>
    </body>
</html>
