<!-- <!DOCTYPE html> -->
<html>

  <head>
    <title>Chitter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script type='text/javascript' src='/interface.js'></script>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/musett/titto-the-dodo/512/The-Extinct-Flightless-Pidgin-Bird-icon.png">
  </head>

  <body>
    <%= partial :welcome %>
    <%= yield %>
    <%= partial :flash %>
  </body>

</html>
