<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1 id="Title">Chitter</h1>
    <% if current_user %>
      Welcome, <%= current_user.name %>!<br>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
      </form>
      <form action='/posts/new'>
        <input type="submit" value="New Peep">
      </form>
  <% else %>
    <form method='get' action='/sessions/new'>
      <input type='submit' value='Login'>
    </form>
    <form method='get' action='/users/new'>
      <input type='submit' value='Sign up'>
    </form>
  <% end %>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:errors] %>
      <div id='notice'><%= flash[:errors] %></div>
    <% end %>
    <%= yield %>
  </body>

  <style>

    body {
      background-color: rgb(255, 204, 0);
    }

    #Title{
      font-size: 60px;
      margin-bottom: 0px;
      text-align: center;
    }

    form {
      padding-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>

</html>
