<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      <p>Welcome, <%= current_user.username %>!
        <p>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
        <form action="/peeps/new">
          <input type="submit" value="Peep">
        </form>
    <% end %>

    <% if !current_user %>
      <p>
      <form action="/sessions/new">
        <input type="submit" value="Login">
      </form>
    <% end %>

    <%if flash[:error]%>
      <div id='error'><%= flash[:error] %></div>
    <%end%>

    <% if flash[:notice]%>
      <div id='notice'><%= flash[:notice] %></div>
    <%end%>

    <%=yield%>
  </body>
</html>
