<head>

</head>

<header>
  <div> <a href='/users/new'>Sign Up</a> </div>

  <div> <a href='/sessions/new'>Log In</a> </div>

  <%if session["user_id"] %>
    <div>
    <form action='/sessions' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
    </div>
    <div id='peep_button'> <a href='/peeps/new'>Peep!</a> </div>
  <%end%>

</header>
<body>
    <div id='errors'>
        <%if flash[:errors] && !flash[:errors].empty? %>
          Sorry, you have the following errors to address:
           <ul>
              <%flash[:errors].each do |error| %>
                <li> <%=error%> </li>
              <%end%>
           </ul>
        <%end%>
    </div>
    <div>
    <% if flash[:notice] %>
      <%=flash[:notice]%>
    <%end%>
    </div>

  <%=yield%>

</body>