<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
