<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <%= flash[:notice] %>
    <% if current_user %>
      <form action='/sessions/end' method='post' >
        <input type='submit' value='Log Out' >
      </form>
    <% end %>
  <%= yield %>
  </body>
</html>
