<html>
  <center><head>
    <title><Chitter</title>
  </head>
    <body background="" bgcolor="#1dcaff">
      <div id='headline'>
        <h1 style="color:white;"> Welcome to Chitter</h1>
      </div>
      <div id='main'>
        <%= yield %>
      </div>
    </body></center>
</html>
