<!DOCTYPE html>
<html>
  <head>
    <title>CHITTER</title>
  </head>
  <style>
  input:invalid {
    border: 1px solid red;
  }

  input:valid {
    border: 1px solid green;
  }
  </style>
  <body>
    <h1> Chitter </h1>
    <% if current_user %>
      Welcome <%= current_user.name %>!
      <form action='/session' method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% end %>

    <% if flash[:notice] %>
     <div id='notice'>
       <%= flash[:notice] %>
     </div>
     <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      Please correct the following:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
