<!DOCTYPE html>

<html>
<head>
  <title>Parliament</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <%= partial :welcome_message %>
 <%= partial :flash %>
  <%= yield %>
  
</body>
</html>