<!DOCTYPE html>
<html>
  <head>
  <style>
    body {
      color: white;
      background-color: lightblue;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
  </head>
  <body>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <% if current_user %> Welcome, <%= current_user.user_email %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->

  </body>
</html>
