<% if flash[:errors] %>
  <ul id="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h1><% if current_user %>
  Welcome <%= current_user.name %>
  <% end %>
  <%= yield %>
</h1>
