<!DOCTYPE html>
<html>
  <head>
    <link type='text/css' rel="stylesheet" href="/stylesheet.css"/>
    <title>CHITTAH</title>
  </head>

  <body>
    <% if flash[:message] %>
      <%= flash[:message] %>
    <% end %>

    <% if flash[:error] %>
    <ul>
      <% flash[:error].each do |error| %>
       <li><%= error %></li>
       
      <% end %>
    </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
