<html>
  <head>
    <title>Chitter!</title>
  </head>

  <body>

    <%if flash[:errors]%>
    <ul>
      <%flash[:errors].each do |error|%>
        <li><%=error%></li>
      <%end%>
    </ul>
    <%end%>

    <%= yield%>
  </body>
</html>
