<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <% if current_user %>
      <h2>Welcome, <%= current_user.username %></h2>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %><br>  <!-- this then yields to the view which has been called by your controller -->
  </body>
  <footer>
    <form method='post' action='/sessions' style='text-align: center'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
</footer>
</html>
