<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>

  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Chitter</a></li>
      <li> <a href='#'>View comments/posts</a></li>
      <li> <a href="#">Add comment/post</a></li>
      <li> <a href="/sign_up"> Sign up </a></li>
      <li> <a href="#"> Sign in </a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
