
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/foundation.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="https://use.typekit.net/eil6xmw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/app.js"></script>
    <title>C H I T T E R</title>
  </head>

  <body>
    <%= partial :header %>
    <%= partial :flash %>
    <%= yield %>
    <%= partial :footer %>
  </body>

</html>
