<!DOCTYPE html>
<html lang="en">

<head>
  <title>CH-Chitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>Welcome to Chitter<%= !current_user.nil? ? ", #{current_user.user_name}" : "" %> </h1>
    <% if current_user %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <form method='get' action='/messages/new'>
        <input type='submit' value='Peep something!'>
      </form>
    <% else %>
      <form method='get' action='/sessions/new'>
        <input type='submit' value='Sign in'>
      </form>
    <% end %>
    <% if flash[:log_out_notice] %>
      <div id='log_out_notice'>
        <%= flash[:log_out_notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div
</body>

</html>
