<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Chitter</title>

  </head>

  <body>


    <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with the form.
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:notice] %>
      <div id="notice">
      <%= flash[:notice] %>
      </div>
    <% end %>

    <nav id="navigation-menu">
      <% if current_user %>
        Signed in as <%= current_user.username %>
        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      <% else %>
        <ul>
          <li><a href="/users/new">Sign up</a></li>
          <li><a href="/sessions/new">Sign in</a></li>
        </ul>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>