<!DOCTYPE html>
<html>
  <body>
    <% if current_user %>
      <p>Logged in as <%= current_user.email %> </p>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <form method='get' action='/peeps/new'>
        <input type='submit' value='Post new peep'>
      </form>
    <% else %>
    <form method='get' action='/users/new'>
        <input type='submit' value='Sign up'>
    </form>
    <% end %>
    <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
