<!DOCTYPE html>
<html>
  <head>
    <body align = 'center'>
      <a href="http://imgur.com/DU5Vd1y"><img src="http://i.imgur.com/DU5Vd1y.png" title="source: imgur.com" /></a>
      <div>
        <img src="http://i.imgur.com/Bh7ILbk.png?1" title="source: imgur.com" /></a>
    </div>
    <div>
      <img src="http://i.imgur.com/cN3J6G5.png?1" title="source: imgur.com" /></a>
  </div>
  <div>
  </head>


  <% if current_user %>
    Welcome <%= current_user.username %>
  </div>
  <form method='get' action='/poops/new'>
    <button style="color: transparent; background-color: transparent; border-color: transparent" type='submit' name='Do a poop'><img src="http://i.imgur.com/1GBirxr.png" title="source: imgur.com" /></button>
  </form>
  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <button style="color: transparent; background-color: transparent; border-color: transparent;" type='submit' value='Sign out'><img src="http://i.imgur.com/kKjU2LS.png?1" title="source: imgur.com" /></button>
  </form>
<% else %>
  <form method='get' action='/users/new'>
    <button style="color: transparent; background-color: transparent; border-color: transparent;" type='submit' name='Sign up'><img src="http://i.imgur.com/ZjslkEL.png?1" title="source: imgur.com" /></button>
  </form>
  <form method='get' action='/sessions/new'>
    <button style="color: transparent; background-color: transparent; border-color: transparent;" type='submit' name='Sign in'><img src="http://i.imgur.com/YsWqIEy.png?1" title="source: imgur.com" /></button>
  </form>

<% end %>
<form method='get' action='/poops/index'>
  <button style="color: transparent; background-color: transparent; border-color: transparent" type='submit' name='Do a poop'><img src="http://i.imgur.com/nbj30tO.png?1" title="source: imgur.com" /></button>
</form>


<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<%= yield %>
  </body>
</html>

