<!DOCTYPE html>
  <html>
    <head>
      <title> Chitter | Stay Up To Date </title>
    </head>

    <body>
      <%= partial :welcome %>
      <%= partial :flash %>
      <%= yield %>
    </body>
  </html>
