<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type='text/css' href="css/style_peeps.css">
  </head>

  <body>
    <% if current_maker %>
      Welcome, <%= current_maker.username %>
    <% end %>
    <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
