<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chitter</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <a href="../sessions/new"><button>Log in</button></a>
      <a href="../users/new"><button>Sign up</button></a>
    </header>
    <%= yield %>
  </body>
</html>
