<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
          <div id='notice'><%= error %></div>
      <% end %>
    <% end %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
