<!DOCTYPE html>
<html>
  <head>
    <title>
      Chitter
    </title>
  </head>
  <body>
    <% if current_user %>
      <h1> <%= current_user.user_name%>'s Chitter!</h1>
    <% end %>
    <%= yield %>
  </body>
</html>
