<html>
  <head>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <header>
    <div id="logo">CHITTER</div>
    <div id="user-links">
      <% if current_user %>
        <span id="welcome-message">
          Welcome, <%= current_user.name %>
        </span>
      <form id="sign-out" method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out" id="signout_button">
      </form>
    </div>
      <% else %>
        <a href='/sessions/new'><button type="button" id="login_button">Log In</button></a>
        <a href='/users/new'><button type="button" id="signup_button">Sign Up</button></a>
      <% end %>
  </header>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with the form.
      <ul id="errors">
        <% flash[:errors].each do |error| %>
      <li><%= error %></li>
        <% end %>
      </ul>
  <% end %>
  <%= yield %>


