<!DOCTYPE html>
<html>
  <head>
    <title>Chitter!</title>
  </head>


<form action="/peeps/new" method="get">
  <input type="submit" value="Peep now!">
</form>

  <body>
    <% if current_user %>
      Welcome to Chitter, <%= current_user.email %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
