<div id='background'>

<% if flash[:notice] %>
  <div id='notice'><%= flash[:notice] %></div>
<% end %>
<% if current_user %>
  Welcome <%= current_user.name %>
  <form method='post' action='/logout'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log out'>
  </form>
<% end %>
<%= yield %>

</div>
