<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter!</title>
  </head>
  <body>
    <% if current_user %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      Welcome, <%= current_user.name %>.
    <% else %>
      <% if request.path_info != '/users/new' %>
        <form action='/users/new' method='GET'>
          <input type='submit' value='Sign up'>
        </form>
      <% end %>
      <% if request.path_info != '/sessions/new' %>
        <form action='/sessions/new' method='GET'>
          <input type='submit' value='Sign in'>
        </form>
      <% end %>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
