<!DOCTYPE html>
<html>

<head>
        <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
  <%= partial :header %>
  <%= partial :flash %>
  <%= yield %>
</body>

</html>