<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chittr</title>
  </head>
  <body>
    <% unless current_user %>
      <nav>
        <ul>
          <li><a href="/users/new">Sign up</a></li>
          <li><a href="/sessions/new">Sign in</a></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul>
          <li>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" name="sign_out" value="Sign out">
            </form>
          </li>
        </ul>
      </nav>
      <head>
        <h1>Welcome, <%= current_user.username %></h1>
      </head>
    <% end %>

    <%= yield %>
  </body>
</html>
