<h1>Chitter</h1>
<%= yield %>
<% if flash[:errors] && !flash[:errors].empty? %>
  Errors:
    <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>
<% if flash[:password_error] %>
  Error:
  <br>
  <ul>
  <li><%= flash[:password_error] %></li>
</ul>
<% end %>
