<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <title>Chitter</title>
  </head>

  <body>
    <div id="logout">
      <% if current_user %>
        Welcome, <%= current_user.name %>
        <form class="button" action='/session' method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log Out">
        </form>
      <% end %>

      <% if flash[:errors] && !flash[:errors].empty? %>
        <ul>
          <% flash[:errors].each do |error| %>
            <li> <%= error %> </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= yield %>

  </body>

</html>
