<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <% if current_user %>
      Welcome, <%= current_user.name %>
    <% end %>
    <%= yield %>

  </body>
</html>
