<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <title>Chitter</title>
  </head>

  <body>
    <%= partial :nav %>
    <h1>Chitter</h1>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
