<!DOCTYPE html>
<html>
  <head>
  <body align = 'center'>
    <a href="http://imgur.com/DU5Vd1y"><img src="http://i.imgur.com/DU5Vd1y.png" title="source: imgur.com" /></a>
    <div>
      <img src="http://i.imgur.com/Bh7ILbk.png?1" title="source: imgur.com" /></a>
    </div>
    <div>
      <img src="http://i.imgur.com/cN3J6G5.png?1" title="source: imgur.com" /></a>
    </div>
    <div>
    </head>


    <% if current_user %>
      Welcome <%= current_user.username %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <form method='get' action='/poops/new'>
        <input type='submit' value='Do a poop'>
      </form>
    <% end %>
  </div>
   

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
  </body>
</html>
      
