<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if current_user %>
      Welcome, <%= current_user.username %>
      <% else %>
        Welcome to Chitter
      <% end %>
      <%= yield %> <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
