<html>
  <head>
    <title>Chitter | simple Twitter clone</title>
  </head>

  <body>
    <% if current_user %>
      <h4>Welcome, <%= current_user.email %></h4>
    <% end %>

    <%= yield %>
  </body>

</html>
