<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>

  <footer>
    © Junyuan Xue
    <a href="https://github.com/junyuanxue">github</a>
    <a href="https://spinningcodes.wordpress.com/">blog</a>
  </footer>
</html>
