<!DOCTYPE html>
<html>

  <body>
    <% if current_user %>
      <header align = "right">
      <h4>Signed in as: <%= current_user.username %></h4>
      </header>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
