<head>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <h3> Chitter, an open messaging board!</h3>
  <%= partial :welcome_message %> 
  <%= partial :flash %> 
  <%= yield %>
</body>


