<!DOCTYPE html>
<head>
</head>

<body>
  <% if flash[:error_messages] %>
    <h2>Please refer to the following errors:</h2>
    <p>
      <ul>
        <% flash[:error_messages].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <div>
    <%= yield %>
  </div>
</body>
