<html>
<head>
	<title>Chitter</title>
</head>
<body>
  <div class="menu">
				<h1>Hello
					<% if current_user %>
						<%= current_user.username %>.
					<% end %>
          Welcome to CHITTER - What would you like to do?
				</h1>
			<% if current_user %>
				<li><a href="/peep/new"><strong>Send a peep</strong></a></li>
				<li><a href="/user/logout"><strong>Sign out</strong></a></li>
				<% else %>
				<li><a href="/user/login"><strong>Login</strong></a></li>
				<li><a href="/user/new"><strong>Sign up</strong></a></li>
			<% end %>
		</ul>
	</div>

	<%= yield %>

	<% if flash[:errors] && !flash[:errors].empty? %>
		<ul id="error">
			<% flash[:errors].each do |error| %>
				<li>
          <%= error %>
        </li>
      <% end %>
    </ul>
  <% end %>
</body>
</html>
