<!DOCTYPE html>
<head>
</head>

<body>
  <% if flash[:error_messages] %>
    <h2>Please refer to the following errors:</h2>
    <p>
      <ul>
        <% flash[:error_messages].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <div>
    <%= yield %>
  </div>

  <div>
    <% if current_user %>
      <%= "Welcome #{current_user.username}" %>
    <% else %>
      <a href='/user/sign_in'><button>Sign in</button></a>
      or
      <a href='/user/new'><button>Sign Up</button></a>
    <% end %>
  </div>
</body>
