<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
   <form method='post' action='/sessions'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Sign out'>
   </form>
   Welcome, <%= current_user.name %>.
<% else %>
 <form action='/sessions/new' method='GET'>
   <input type='submit' value='Sign in'>
 </form>
 <% end %>


    <% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:notice] %>
   <div id='notice'>
     <%= flash[:notice] %>
   </div>
 <% end %>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
