<!DOCTYPE html>
<html>
  <head>
    <title>Chitter. Peep at the World</title>
    <link rel="stylesheet" href="/css/pure-min.css">
  </head>
  <% if current_user %>
    <div id='top-bar'>
      Welcome, <%= current_user.name %>! 
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    </div>
  <% end %>
  <body>
    <%= yield %>
  </body>

</html>
