<!DOCTYPE html>

<html>
  <head>
    <title> Chitter</title>
  </head>

  <body>
    <% if current_user %>
    Logged in as: <%= current_user.username %>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>

    <%= yield %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      Woopsidaisy, something went wrong:
      <ul id='errors'>
        <%flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <%end%>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

  </body>
</html>
