<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if current_user %>
      <ul id='welcome'>
        <li>Welcome, <%= current_user.username %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
