<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<div class="container-fluid">
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <% if current_user %>
      Welcome <%= current_user.name %>
      <form action="/sessions" method="post">
        <input type="submit" value="Sign out">
        <input type="hidden" name="_method" value="delete">
      </form>
      <form action="/" method="get">
        <input type="submit" value="Home">
      </form>
      <form action="/peeps/new" method="get">
        <input type="submit" value="Write peep!">
      </form>
    <% else %>
    <form action="/users/new" method="get">
      <input type="submit" value="Join Chitter">
    </form>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Sign in">
    </form>
    <form action="/" method="get">
      <input type="submit" value="Home">
    </form>
    <% end %>
    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</div>
</html>
