<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.name %>
      <form action='/log_out' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Log Out'>
        </form>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:notice] %>
        <div id='notice'>
          <%= flash[:notice] %>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
