<! DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <form action='/users/new' style="float:right">
      <input type='submit' value='Sign Up'>
    </form>
    <form action='/sessions/new' style="float:right">
      <input type='submit' value='Sign In'>
    </form>
    <br>

    <h1 align='center'>Chitter</h1>
    <% if current_user %>
      <h3 align='center'>Welcome, <%= current_user.name %></h3>
      <form method="POST" action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign Out'>
      </form>
    <% end %>
    <%= yield %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul align= 'center' id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
      <% end %>
  </body>

</html>
