<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" type="style/css" rel="stylesheet" >
    <title>Chitter</title>
  </head>
  <body>
    <%=partial :welcome %>
    <%=partial :flash %>
    <%= yield %>
  </body>
</html>
