<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Chitter</title>
  </head>

<center>
  <body>
    <%= partial :nav %>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</center>
</html>
