<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" href="/favicon.png" type"png/image">
</head>
<body>
  <%= partial(:navigation) %>
  <div class="wrapper">
    <%= partial(:notices) %>
    <%= yield %>
  </div>
  <%= partial(:footer) %>
</body>
</html>
