<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>

    <%= partial :'partials/signout' %>

    <%= partial :'partials/flash_errors' %>

    <%= yield %>

  </body>
</html>
