<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

    <% if current_user %>
      Succesful login, <%= current_user.user_name %>
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      Please address the following problems:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <p> <%= error %> </p>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->

  </body>
</html>
