<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <%= partial :welcome_new_user %>
    <%= partial :welcome_user %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
