<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li>Sorry. <%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if current_user %>
      Welcome to Chitter, <%= current_user.username %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
