<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chitter</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/main">Feed</a>
        <a class="navbar-brand" href="/about">About</a>
        <a class="nav navbar-nav navbar-right">
          <form method="post" action="/session">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-primary btn-lg" name='Logout'>Logout</button>
          </form>
        </a>
      </div>
    </nav>
    <center>
      <% if flash[:error] %>
        <div id='notice'>
          <h3><div class="alert alert-warning" role="alert"><%= flash[:error] %></div></h3>
        </div>
        <% elsif flash[:notice] %>
        <div id='notice'>
          <h3><div class="alert alert-success" role="alert"><%= flash[:notice] %></div></h3>
        </div>
        </div>
      <% end %>
    </center>
  </header>
  <body>
    <center>
      <%= yield %>
    </center>
  </body>
</html>