<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter!</title>
  </head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.name %>!
      <form action="/sessions" method="post">
        <input name="_method" type="hidden" value="delete" >
        <input type='submit' value='Log out'>
      </form>
      <% end %>

    <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

    <% if flash.now[:errors] %>
          <ul id="errors">
            <% flash.now[:errors].each do |message| %>
            <li><%= message %></li>
          </ul>
          <% end %>
      <% end %>

  <%= yield %>


  </body>
</html>
