<html>
  <head>
    <title>Chitter</title>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
