<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitty Chitter</title>
  </head>
  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
