<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>Chitter</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">Chitter</a></h1>
      </div>
      <%= partial :welcome %>
      <%= partial :flash %>
      <%= yield %>
    </div>
  </body>
</html>
