<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chittr</title>
  </head>
  <body>
    <% unless current_user %>
      <nav>
        <a href="/users/new">Sign up</a>
      </nav>
    <% else %>
      <head>
        <h1>Welcome, <%= current_user.username %></h1>
      </head>
    <% end %>

    <%= yield %>
  </body>
</html>
