<!DOCTYPE html>
<html>
  <head>
    <title>Chitter Home</title>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.username %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <button type='submit'>Sign out</button>
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>
