<% if current_user %>
  <p>Welcome, <%= @current_user.user_name %>!</p>
<% end %>

<form action="/sessions" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Log out" />
</form>

<%= yield %>
