<!DOCTYPE html>
<html>
  <body>
    <head>
      <title>Chitter</title>
    </head>
    <h2>
    <% if current_user %>
      Hello, <%= current_user.username %>
    <% end %>

    <% if flash[:notice] %>
    <div id='notice'><%=flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </h2>
  </body>
</html>
