<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chitter</title>
   <link rel="stylesheet" href="css/style.css">
   <link rel="icon" href="/images/favicon.ico">
</head>

<body>

  <!--<% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>-->

  <%= yield %>
</body>

</html>