<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href='/peeps'>View Peeps</a></li>
      <li> <a href="/peeps/new">Add Peep</a></li>
      <li> <a href="/sign_up"> Sign Up </a></li>
      <li> <a href="/sign_in"> Sign In </a></li>
    </ul>
  </nav>

  <body>
  <% if current_user %>
    <h1>Welcome, <%= current_user.email %></h1>
  <% end %>
  <%= yield %>
</body>
</html>
