<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="header">
      <nav class="topnav">
        <% if current_user %>
          <a>Welcome, <%= current_user.name %></a>
        <% end %>
        <a class="toplink" href="/peeps">Home</a>
        <% if current_user %>
          <a class="toplink" href="/session/delete">Logout</a>
        <% else %>
          <a class="toplink" href="/session/new">Login</a>
        <% end %>
      </nav>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
