<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chitter</title>
  </head>

  <body>
    <% if current_user %>
      <p>Welcome to Chitter <%= current_user.email %>!</p>
      <a href="/peeps/new">Post a new peep</a>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
