<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body align='center'>
    <div>
    <img src='https://media.licdn.com/media/p/8/005/091/3dd/2541eaf.png'>
    </div>
    <%= yield%>
  </body>
</html>
