<html>
<head>
	<title>Chitter</title>
</head>
<body>
	<ul>
		<strong>Menu:</strong>
		<% if current_user %>
			<li><a href="/user/logout">Sign out</a></li>
			<% else %>
			<li><a href="/user/new">Sign up</a></li>
			<li><a href="/user/login">Login</a></li>
			<% end %>
	</ul>
	<h3><% if current_user %>Welcome <%= current_user.username %><% end %></h3>
	<% if flash[:errors] && !flash[:errors].empty? %>
		<ul id="error">
			<% flash[:errors].each do |error| %>
				<li>
          <%= error %>
        </li>
      <% end %>
    </ul>
  <% end %>

	<%= yield %>
</body>
</html>
