<html>
  <head>
    <title><Chitter</title>
  </head>
    <body background="" bgcolor="#1dcaff">
      <div id='headline'>
        <h1>Welcome to Chitter</h1>
      </div>
      <div id='main'>
        <%= yield %>
      </div>
    </body>
</html>
