<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Chitter</a></li>
      <li> <a href='view_peeps'>View peeps</a></li>
      <li> <a href="/add_peep">Add peep</a></li>
      <li> <a href="/sign_up"> Sign up </a></li>
      <li> <a href="/sign_in"> Sign in </a></li>
    </ul>
  </nav>

  <body>
  <% if current_user %>
    Welcome, <%= current_user.email %>
  <% end %>
  <%= yield %>
</body>
</html>
