<!DOCTYPE html>
<html>
  <head>
    <title>Chitter v 0.1</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <img id="logo" src="/images/chitter_logo.png" />
    <h1>Welcome to Chitter</h1>
    <h2>A bad clone of a social site that is going down the drain!</h2>
    <%= yield %>
  </body
</html>
