<!DOCTYPE html>
<html>
  <head>
    <title>Ricker</title>

    <link rel="stylesheet" href="/stylesheets/basic_style.css">

  </head>

  <body>

    <%= partial :welcome%>
    <%= partial :start_session%>
    <%= partial :flash%>
    <%= yield %>

  </body>
</html>
