<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if @user %>
      <h2>Welcome, <%= @user.name %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
