<!DOCTYPE html>
<html>
  <head>
    <title> Twitter </title>
  </head>

  <body>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice]%></div>
    <% end %>
    <%= yield %>

  </body>

</html>
