<!DOCTYPE html>
<html>
  <head>
    <title>Message In A Bottle</title>
  </head>

  <body>
    <% if current_user %>
      Welcome to Message in a Bottle, <%= current_user.username %>
  <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
    <% end %>
    <%= yield %>
  </body>
</html>

