<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="header">
      <nav class="topnav">
        <% if current_user %>
          <a>Welcome, <%= current_user.name %></a>
        <% else %>
          <a>Welcome to Chitter</a>
        <% end %>
        <a>
          <form method="get" action="/peeps">
            <input class="toplink" type="submit" value="Home">
          </form>
        </a>
        <% if current_user %>
        <a>
          <form method="post" action="/sessions">
            <input type="hidden" name="_method" value="delete">
            <input class="toplink" type='submit' value="Logout">
          </form>
        </a>
        <% else %>
        <a>
          <form method="get" action="/sessions/new">
            <input class="toplink" type='submit' value="Login">
          </form>
        </a>
        <% end %>
      </nav>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
