<!DOCTYPE HTML>

<html>
  <head> 
  	<link rel='stylesheet' type='text/css' href="/style.css">
  	<title> Chitter Chatter </title>
  </head>
  

  <body> 
	  <div class='bar'>
		   <% if flash[:warning] %>
		     <div id='warning'><%= flash[:warning] %></div><hr />
	  	   <% end %>
	<% if current_user %>
	  <p> Welcome, <%= current_user.username %> </p>
	<% else %>
	  
	  <div class='bar'> User not found, please <a href='/users/new'>Sign Up</a></div>
	<% end %>
  	  </div>
	  
    <%= yield %> 
   
  </body>
</html>