<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

      <h1>Chitter</h1>
      <br>
      Hello Simon
      <br>
      <br>
      <br>
    <%= yield %>
  </body>
</html>
