<header>
  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>
</header>
<body>
  <br>
  <% if current_user %>
    Welcome <%= @current_user.email %>
  <% end %>
  <%= yield %>
</body>