<!DOCTYPE html>
<html>
  <head>
    <title>Chitter - Let the world know</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.username %>
      <form method='post' action='/session'>
        <input type='hidden' name='_method' value='delete'> <!-- to use _method we need to enable method_override or 'use Rack::MethodOverride' -->
        <input type='submit' value='Sign Out'>
      </form>
      <form method='get' action='/peeps/new'>
        <input type='submit' value='Post Peep'>
      </form>
    <% end %>
    <% if flash[:message] %>
      <div id='error'><%= flash[:message] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
