<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      <form method="post" action="/log_out">
        <input type="hidden" name="_method", value="delete">
        <input type="submit" value="Log Out">
      </form>
      <h4><%= current_user.name %></h4>
      <h6><%= current_user.username %></h6>
    <% else %>
     <a href="/log_in"><button>Log In</button></a>
     <a href="/sign_up"><button>Sign Up!</button></a>
    <% end %>
    <%= yield %>
  </body>
</html>