<!DOCTYPE html>
<html>
  <head>
    <title> Twitter </title>
  </head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.email %>!
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Here is what is wrong:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li> <%= error %> </li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </body>

</html>
