<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Zilla+Slab&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar bg-light">

      <div>
        <a class="navbar-brand text-dark" href="/">
          Chitter
        </a>
      </div>

      <div>
        <ul class="nav nav-pills justify-content-end">
          <% if @user %>
            <li class="nav-item">
              <span class="nav-link disabled" href="#"><%= @user.username %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/sessions/destroy">Log Out</a>
            </li>
            
          <% else %>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/users/new">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/sessions/new">Log In</a>
            </li>
          <% end %>
        </ul>
      </div>

    </nav>
    <article class="container-fluid m-0">
      <%= yield %>
    </article>
  </body>
</html>