<!DOCTYPE html>
<html>

  <head>

    <title>Chitter</title>

    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <style>

    body {
      background-color: #07889B;
    }

    h1 {
      font-family: 'Fredoka One', cursive;
      font-size: 60px;
      color: white;
    }

    h2 {
      font-family: 'Fredoka One', cursive;
      font-size: 50px;
      color: white;
    }

    .container-fluid {
      max-width: 800px;
      margin-top: 50px;
      border-radius: 5px;
    }

    .orange-bg {
      background-color: #E37222;
      border-radius: 5px;
    }

  </style>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-offset-8 col-sm-4 text-center orange-bg">
          <h1>Chitter</h1>
          <% if current_user %>
            <h5>Logged in as <%=current_user.username%></h5>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
