<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
