<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
    <body>

      <% if flash %>
        <% flash.each do |notice, message| %>
        <%= message %>
        <% end %>
      <% end %>

      <%= yield %>
    </body>
</html>
