<html>
  <head>
    <title>Chitter</title>
    <!-- Bootstrap complete CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
    </style>
  </head>

  <body>
    <% if current_user %>
      <%= "Welcome, #{current_user.name}"%>
      <form action="/sessions/log_out" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Log out</button>
      </form>
    <% end %>
    <% if flash[:errors] %>
      <ul id="errors">
        <% flash[:errors].each do |error| %>
        <li>
          <%= error %>
        </li>
        <% end %>
      </ul>
    <% end %>
    <%= "#{flash[:notice]}" if flash[:notice] %>
    <%= yield %>
  </body>
</html>
