<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if flash[:errors] && !flash[:errors].empty?%>
      Look's like something went wrong...
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <% if current_user%>
      Welcome, <%= current_user.full_name %>
    <% end %>
    <%= yield %>
  </body>
</html>
