<!DOCTYPE html>
<html>
  <head>
    <title>Chitter: where the world peeps</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.name %>!
    <% end %>
    <%= yield %>
  </body>
</html>
