<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>

    <% if current_user %>
    Welcome, <%=current_user.user_name %>
    <a href="/sessions/sign_out">sign out</a>
    <% end %>


        <% if flash[:notice] %>
          <div id="notice"><%= flash[:notice]  %></div>
        <% end %>

    <%= yield %>


    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul id="errors">
        <%  flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </div>
    <% end %>

  </body>
</html>
