<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
      <link rel="stylesheet" type="text/css" href="./styles/styles.css">
  </head>
  <body>
    <% if current_user  %>
      Welcome, <%= current_user.username %>
      <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out">
      </form>
    <% end  %>
    <%= yield %>
  </body>
</html>
