<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<<<<<<< HEAD
=======
<body style="background-color:#a3bbe2;font-family:helvetica;">
>>>>>>> f887031fbc25594e2a5e39700139d67614b29dcd
<center>
<body style="background-color:#a3bbe2;font-family:helvetica;">
  <head>
<<<<<<< HEAD
    <h1>Chitter</h1>
  </head>
=======
    <title>Chitter</title>
    <h1 align="center">Chitter</h1>
  </head>

>>>>>>> f887031fbc25594e2a5e39700139d67614b29dcd
    <% if current_user %>
      Welcome, <%= current_user.handle %>
    <% end %>
    <br>
    <% if flash[:errors] && !flash[:errors].empty?  %>
     Sorry, the following issues have occured when you tried to sign up:
     <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
    <%= yield %>
  </body>
</center>
</html>
