<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

    <% if current_user %>

      <form id='sign_out' method='POST' action='/sessions/end'>
        <input type='submit' value='Sign out'>
      </form>

  <% end %>

  <%= yield %>

  </body>
</html>
