<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chittr</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% unless current_user %>
      <nav>
        <form action="/users/new">
          <button type="submit" name="sign_up">Sign up</button>
        </form>
        <form action="/sessions/new">
          <button type="submit" name="sign_up">Sign in</button>
        </form>        
      </nav>
    <% else %>
      <nav>
        <ul>
          <li>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" name="sign_out" value="Sign out">
            </form>
          </li>
        </ul>
      </nav>
      <head>
        <h1>Welcome, <%= current_user.username %></h1>
      </head>
    <% end %>

    <%= yield %>
  </body>
</html>
