<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% elsif current_user %>
      Welcome, <%= current_user.user_name %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>