<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"
</head>

<body>
    <% if current_user %>
    <h1>Welcome, <%= current_user.name %></h1>
    <% end %>
    <div id="container">
      <%= yield %>
    </div>

</body>
</html>
