<!DOCTYPE html>
<html>
  <head>
    <title>Chitter Home</title>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.username %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
