<!DOCTYPE html>
<html>
<head>
	<title>Chitter!</title>
</head>

<body>
	<% if !current_user %>
		<form action='/sessions/new' method='get'>
			<input type='submit' value='Sign In'>
		</form>
		<form action='/users/new' method='get'>
			<input type='submit' value='Sign Up'>
		</form>

	<% else %>
		Welcome, <%= current_user.firstname %>!
		<form action='/peeps/new' method='get'>
			<input type='submit' value='New Peep!'>
		</form>
		<form action='/sessions' method='post'>
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Sign Out'>
		</form>
	<% end %>

	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
	Error!
		<ul id='errors'>
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
		<% end %>

	<%= yield %>
</body>
</html>