<!DOCTYPE html>
<html>
  <head>
    <title>Chitter: where the world peeps</title>
  </head>

  <body>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <div id='flash'>
        <% flash[:errors].each do |error| %>
        <div class="flash warning"><%= error %></div>
      </div>
      <% end %>
    <% end %>
    <% if current_user %>
      Welcome, <%= current_user.name %>!
    <% end %>
    <%= yield %>
  </body>
</html>
