<!DOCTYPE html>
<html>
  <head>
    <title>Chitter, the Heavy Hitter!!!</title>
  </head>

  <body>
    <a href="http://imgur.com/4VrzWQQ"><img src="http://i.imgur.com/4VrzWQQ.jpg" title="source: imgur.com" /></a>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
