<head>

</head>

<header>
  <div> <a href='/users/new'>Sign Up</a> </div>

  <div> <a href='/sessions/new'>Log In</a> </div>

  <div> <a href='/peeps/new'>Peep!</a> </div>

</header>
<body>
    <div id='errors'>
        <%if flash[:errors] && !flash[:errors].empty? %>
          Sorry, you have the following errors to address:
           <ul>
              <%flash[:errors].each do |error| %>
                <li> <%=error%> </li>
              <%end%>
           </ul>
        <%end%>
    </div>
    <div>
    <% if flash[:notice] %>
      Welcome, <%=flash[:notice]%>
    <%end%>
    </div>

  <%=yield%>

</body>