<!DOCTYPE html>
<html>
  <head>
    <title>Chitter, your daily dose of anger</title>
  </head>

  <body>
  <h1>Chitter, this week in stupid</h1>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
