<!DOCTYPE html>
<html>
  <head>
    <title> Bookmark Manager </title>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.name %>!
    <% end %>
    <% if flash[:error] %>
      <div id='error'><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
