<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <% if current_user %>
      Welcome, <%= current_user.user_name %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% else %>
      Sign in to post peeps
      <form method='get' action='/sessions/new'>
        <input type='submit' value='Login'>
      </form>
      Sign up to post peeps
      <form method='get' action='/users/new'>
        <input type='submit' value='Sign Up'>
      </form>
    <% end %>
    <form method='get' action='/peeps'>
      <input type='submit' value='Home'>
    </form>
    <% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
