<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Road Tripper</title>
    <link rel="stylesheet" type='text/css' href='/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
    <div class='grid'>
      <div id='user_logout'>
        <% if current_user %>
          <p>Logged in as <%=current_user.username%></p>
          <form action='/sessions' method='post'>
            <input type='hidden' name='_method' value='delete'/>
            <input type='submit' value='Log out' />
          </form>
      </div>
      <div id='user_share'>
          <form action='/peeps' method='post'>
            <label for='experience'>Travel experience
              <input type='text' name='experience' id='experience'/>
            </label>
              <input type='submit' value='Share'  />
          </form>
        <% end %>
      </div>

      <% if flash[:errors] && !flash[:errors].empty? %>
        <ul>
          <% flash[:errors].each do |error| %>
          <li> <%= error %> </li>
          <% end %>
        </ul>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
