<!DOCTYPE html>
<html>
  <head>
    <title> Chitter </title>
  </head>

  <body>
    <% if current_user %>
     Welcome, <%= current_user.email %>
     <form method='post' action='/sessions'>
       <input type='hidden' name='_method' value='delete'>
       <input type='submit' value='Sign out'>
     </form>
    <% else %>
      <form action='/sessions/new' method='get'>
      <button type="submit"> Signing in </button>
      </form>

      <form action='/users/new' method='get'>
          <button type='submit'> Signing up </button>
      </div>
      </form>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
