<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>

    <style>
      #error {color: red;}
    </style>

  </head>

  <body>
      <%= partial :welcome %>
      <%= partial :flash %>
      <%= yield %>
  </body>
</html>
