<link rel="stylesheet" type="text/css" href="public/style.css" />
<html>
  <head>
    <title>Welcome to Chitter</title>
  </head>

    <div class="flash_header">
    <%= erb :'/partials/flash_messages' %>
    </div>

    <% if current_user %>
<div class="top_nav">
    Welcome, <%= current_user.username %>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input style="font-size: 40px" type='submit' value='Sign out'>
    </form>  
    <% end %>
</html>
</div>
<%= yield %>