<% if current_user %>
  <h3>Signed in as: <%= @current_user.username %></h3>
<% else %>
  <h3>Not Signed In</h3>
<% end %>


<%= yield %>

<% if current_user %>
  <form action='/log_out' method='post'>
    <input type='submit' value='Log Out'>
  </form>
<% end %>
