<!DOCTYPE html>
<html>
  <head>
    <title>Chitter, your daily dose of anger</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
