<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
      <% if flash[:errors] && !flash[:errors].empty? %>
        Your account was not created for the following reasons:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= puts error %></li>
          <% end %>
        </ul>
      <% end %>

      <% if get_user_id %>
        Welcome <%= get_user_id.email %> !
      <% end %>

      <% if flash[:notice] %>
        <div id='notice'><%= flash[:notice] %></div>
      <% end %>


    <%= yield %>
  </body>
</html>
