<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Chitter</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="RubyLearning.org" />
  <meta name="keywords" content="rubylearning,ruby,ruby programming,ruby course,sinatra course" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="icon" type="image/ico" href="/images/favicon.ico" />
</head>
<body>
<%= yield %>
</body>
</html>
Raw
