<!DOCTYPE html>
<html>
<head>
  <title>Fridgedoor</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
  <%= erb :header %>

  <%= yield %>
</body>

</html>