<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="center1">
  <div>
    Chitter
  </div>
    <%= partial :welcome %>
    <%= partial :flash %>
  </div>
    <%= yield %>
</body>
</html>
