<html>
  <head>
    <title>Chitter</title>
    <!-- Bootstrap complete CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="bootsnip.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-3">Chitter Online</h1>
        <nav class="col-sm-4 text-center">
          <% if flash[:errors] %>
            <ul id="errors">
              <% flash[:errors].each do |error| %>
              <p><%= error %></p>
              <% end %>
            </ul>
          <% end %>
          <%= "#{flash[:notice]}" if flash[:notice] %>
        </nav>
        <nav class="col-sm-5 text-right">
          <% if current_user %>
            <%= "Logged in: #{current_user.username}"%> |
            <a href="/peeps">All peeps</a> | <a href="/peeps/my">My peeps</a>
            <form action="/sessions/log_out" method="post">
              <input type="hidden" name="_method" value="delete">
              <button type="submit">Log out</button>
            </form>
          <% else %>
            <a href="/users/new">Sign up</a> | <a href="/sessions/new">Log in</a>
          <% end %>
        </nav>
      </div>
    </header>
    <section class="container">
      <div class="col-sm-2"></div>
      <div class="col-sm-8"><%= yield %></div>
      <div class="col-sm-2"></div>
    </section>
  </body>
</html>
