<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Road Tripper</title>
    <link rel="stylesheet" type='text/css' href='/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
    <div class='grid'>
      <% if current_user %>
        <h1>Logged in as <%=current_user.username%></h1>
      <% end %>

      <% if flash[:errors] && !flash[:errors].empty? %>
        <ul>
          <% flash[:errors].each do |error| %>
          <li> <%= error %> </li>
          <% end %>
        </ul>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
