<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"
  type='text/css'>
  <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
  <title> Chitter </title>
</head>

<body>
<%= partial :exit %>
<%= partial :flash %>
<%= yield %>
</body>
