<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/css/style.css'>
	<title>Chitter!</title>
</head>

<body>

	<nav>
		<% if !current_user %>
			<form action='/sessions/new' method='get'>
				<input class='button1' type='submit' value='Log In'>
			</form>
			<form action='/users/new' method='get'>
				<input class='button2' type='submit' value='Sign Up'>
			</form>

		<% else %>
			<form action='/peeps/new' method='get'>
				<input class='button1' type='submit' value='Peep'>
			</form>
			<form action='/sessions' method='post'>
				<input type='hidden' name='_method' value='delete'>
				<input class='button2' type='submit' value='Log Out'>
			</form>
		<% end %>

		<div class="greeting">
			<% if !current_user %>
				What's up, peepers?
			<% else %>
				Welcome, <%= current_user.firstname %>!
			<% end %>

		</div>
	</nav>

	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
	Error!
		<ul id='errors'>
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
		<% end %>

	<%= yield %>
</body>
</html>