<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Hello <%= current_user.username %>!
    <% end %>
    <%= yield %>
  </body>
</html>
