<!DOCTYPE html>
<html>
<head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css"
  <body>
    <h1> Chitter </h1>
    <%= partial :welcome %>
    <%= partial :flash %>

    <%= yield %>
  </body>
</html>
