<html>
  <head>
    <title>Chitter App</title>
  </head>
  <body>
    <div id='title'><h1>Chitter</h1></div>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%if current_user%>
      <div id='welcome'>
        <h2>Welcome  <%=current_user.username%></h2>
        <form method='post' action='/sessions'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Log out'>
      </div>
      <%else%>
      <a href="/users/new">
        <button>Sign Up!</button>
      </a><br />
      <a href="/sessions/new">
        <button>Sign In!</button>
      </a>
    <%end%>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
