<!DOCTYPE html>

<html>

<head>
  <title>Chitter</title>
</head>

<body>
  <h1>Chitter</h1>
  <%= erb :welcome_message %>
  <%= yield %>
  <%= erb :flash %>
  <%= erb :log_out_button %>
</body>


</html>
