<!DOCTYPE html>
<html>
  <head>
    <title> Chitter </title>
  </head>
  <body>
	<button> <a href = <%= current_user ? "'/sign_out' > Sign out" : "'/sign_in' > Sign in" %> </a> </button>
	
	<%= "<button><a href = '/sign_up'> Sign up </a> </button><br> Sign in or Sign up!" unless  current_user  %>
	<br>
    <%= flash[:error] %>
    <%= yield %>
  </body>
</html>
