<!DOCTYPE html>
<html>
  <head>
    <title>Chitter Me Timbers</title>
  </head>

  <body>
    <% if !current_user %>
        <form method='get' action='/sessions/new'>
        <input type='submit' value='Sign in'>
        </form>
        <form method='get' action='/users/new'>
        <input type='submit' value='Sign up'>
        </form>
      <% else %>
        <form method='get' action='/peeps/new'>
        <input type='submit' value='Add a peep'>
        </form>
      <% end %>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
