<!DOCTYPE html>
<html>
<head>
  <title>Chitter: an innovative and completely orginial social media platform</title>
</head>

<body>
  <% if flash[:errors] && !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id = 'errors'>
      <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
  <% end %>
  </ul>
  <% end %>
  <% if current_user %>
    <h1> Welcome, <%= current_user.first_name %> </h1>
    <form method='post' action='/sign_out'?
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
  <% end %>
  <% if flash[:notice]  %>
    <div id='notice'>
    <%= flash[:notice] %>
    </div>
  t functio<% end %>



<%= yield %>
</body>
<div></div>
</html>
