<!DOCTYPE html>
<html>
  <head>
    <link type='text/css' rel="stylesheet" href="/stylesheet.css"/>
    <title>CHITTAH</title>
  </head>

  <body>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
