<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Chitter.</title>
	</head>

	<body>
		<% if current_user %>
			Welcome, <%= current_user.full_name %>!
		<% end %>
		<% if flash[:notice] %>
 			<div id='notice'><%= flash[:notice] %></div>
		<% end %>
		<%= yield %>
	</body>
</html>