<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>

  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Chitter </a></li>
      <li> <a href='/peeps'>View peeps</a></li>
      <li> <a href="/peeps/new">New peep</a></li>
      <li> <a href="/users/new"> Sign up</a></li>
      <li> <% if current_user %>
          <a href="/sessions/delete"> Sign out</a></li>
         <% else %>
          <a href="/sessions/new"> Sign in </a>
          <%end%>
       </li>
    </ul>
  </nav>

<% if current_user %>
<h1> Welcome <%=first_name current_user.name%> </h1>
<% end %>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
