<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
    <body>
      <% if flash %>
        <% flash.each do |notice, messages| %>
          <% messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
      <% end %>

      <% if current_user %>
        Welcome <%= current_user.user_name %>
        <form method='post' action='/sessions'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Log out'>
        </form>
      <% end %>

      <%= yield %>

      <a href="/peeps">Peeps</a>
      <% if current_user %>
      <a href="/users/<%= current_user.id %>">Profile</a>
      <% end %>
    </body>
</html>
