<html>
<link rel="icon" href="public/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="public/style.css" />
  <head>
    <title>Welcome to Chitter</title>
  </head>
<body>
    <div class="flash_header">
      <%= erb :'/partials/flash_messages' %>
    </div>

</body>
</html>
<%= yield %>