<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
     <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
    <% if current_user %>
      <h1> Welcome <%= current_user.name.capitalize %> <h1>
      <form action="/" method="get">
        <input type="submit" value="Home Page" >
      </form>
      <form action='/session' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type="submit" value="Log Out">
      </form>
    <% end %>
    <%= yield %>
  </header>
  </body>
</html>
