<!doctype html>
<html class="no-js" lang="">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="" href="">
    <!-- Place favicon.ico in the root directory -->
    <script src="//use.typekit.net/bum4umx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>
  <body class="clearfix container">
    
    <header class="clearfix">
      <div class="row">  
        <h1 class="col-sm-12"><a href="/">ChitterBug!</a></h1>
      </div>
      <div class="row">
        <nav class="col-sm-12">
          <% if !current_user %>
            <a href="/sessions/new">Sign in</a>
            <a href="/users/new">Sign up</a>
          <% else current_user %>
            <h2>Welcome, <%= current_user.uname %></h2>
            <form id="sign-out" method="post" action="/sessions">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Sign out">
            </form>
          <% end %>
          <% if flash[:errors] && !flash[:errors].empty? %>
            <p>Sorry, there were the following problems with the form.</p>
            <ul id="errors">
              <% flash[:errors].each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>

          <% if flash[:notice] %>
            <div id="notice">
              <%= flash[:notice] %>
            </div>
          <% end %>
        </nav>
      </div>  
    </header>

    <section class="row">
      
      <main class="col-sm-12 col-md-6">
        <%= yield %>
      </main> 
      
      <aside class="col-sm-12 col-md-6">
        <img class="float-right" src="/images/bug.png"/>
      </aside>
       
    </section>  
  </body>
</html>