<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='header'>
    <div id='logo'>
    <a href="/chitter" />@Chitter.</a>
  </div>
  <div id='user'>
    <% if current_user %>
    Hi, <%= current_user.name %>!
    <div id='buttons'><form action="/sessions" method="post" accept-charset="utf-8">
      <input name="_method" type="hidden" value="delete" /><input type="submit" value="Log out"></div>
    </form>
    <% else %>
    <div id='buttons'>
    <form action="/users/new" method="get">
      <input type="submit" value="Sign up">
    </form>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Log in">
    </form>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>
  </div>
  <%= yield %>
  </div>
  </body>
</html>