<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chittr</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <%= partial :navbar %>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
