<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="chitter.css">
  </head>

  <body>
    <style>
      body {font-family:Tahoma;}
      .title {color:blue; border:solid 1px darkblue; border-radius:5px;
            padding:15px; background-color:lightblue}
    </style>
    <h1 class="title"> Chitter </h1>


    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li>Sorry. <%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if current_user %>
      Welcome to Chitter, <%= current_user.username %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
      </form>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
