<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <%= partial :welcome_message %>
  <%= partial :flash %>
  <%= yield %>
</body>
</html>
