<!DOCTYPE html>
<html>
  <head>
    <title>Chitter </title>
  </head>

  <body>

    Welcome Friend ! 

  <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
</body>
</html>
