<!DOCTYPE html>
<html>
  <head>
    <title>Chitter v 0.1</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <img src="images/chitter_logo.png" />
    <h1>Chitter, a bad clone of a social site that is going down the drain!</h1>
    <%= yield %>
  </body
</html>
