<!DOCTYPE html>
<html>

  <head>
    <title>chitter</title>
  </head>

  <body>
    <form action = '/sessions' method = 'post'>
      <label for 'sign out'>
        <input type = 'submit' value = 'sign me out'>
    </form>

    <%=yield%>
  </body>
</html>
