<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
