<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
</head>
<body>
  <%= partial :'partials/welcome' %>
  <%= partial :'partials/flash' %>
  <%= yield %>
</body>
</html>
