<!DOCTYPE html>
<html>
  <head>
    <title>Chitter v 0.1</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <img id="logo" src="/images/chitter_logo.png" />
    <h1>Welcome to Chitter</h1>
    <h2>This is more 4chan than Twitter.</h2>
    <img id="sidebar" src="/images/sidebar.gif" />
    <%= yield %>
  </body
</html>
