<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1>CHITTER</h1>
      <% flash.each_key do |key| %>
        <%= flash[key] %>
      <% end %>
    <%= yield %>
  </body>
</html>
