<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="/">Chitter</a></div>
        <nav>
          <ul>
            <li class="nav-link login-user"><span>Logged in as</span> David Matter</li>
            <li class="nav-link"><a href="/users/new">Sign up</a></li>
            <li class="nav-link"><a href="login.html">Log in</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="col-3 center">
        <p>
          <% if current_user %>
            Welcome, <%= current_user.name %>
            <form method='post' action='/sessions'>
              <input type='hidden' name='_method' value='delete'>
              <input type='submit' value='Log out'>
            </form>
          <% end %>
          <% if flash[:notice] %>
            <div id='notice'>
              <%= flash[:notice] %>
            </div>
          <% end %>
        </p>

        <% if flash[:errors] && !flash[:errors].empty? %>
          Please refer to the following errors below:
          <ul id='errors'>
            <% flash[:errors].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
          <%= yield %>
    </main>
  </body>

</html>

