<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Chitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
  </head>

  <body>

    <div class="row">
      <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <%= partial :welcome %>
          <%= partial :flash %>
          <%= yield %>

  </body>
</html>
