<!DOCTYPE html>
<html>
<style>
* {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
height:100%;
width:100%;
position:fixed;
background-image: url("http://www.saga.co.uk/contentlibrary/saga/publishing/verticals/home-and-garden/crafts-and-hobbies/sewing-and-knitting-for-charity.jpg");
background-color: #93B874;
background-repeat: no-repeat;
background-size: cover;
}
</style>

  <head>
    <title>Knitter</title>
  </head>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
