<!DOCTYPE html>
<html>
<head>
  <title>Chitter Catter</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="wrapper">
    <h1>Chitter</h1>
    <%= partial(:notices) %>
    <%= yield %>
  </div>
</body>
</html>
