<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_maker %>
      Welcome, <%= current_maker.username %>
    <% end %>
    <%= yield %>
  </body>
</html>
