<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      <h2>Welcome, <%= current_user.name %>!</h2>
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      <p>Please refer to the following errors below:</p>
      <div id='errors'>
        <ul>
          <% flash[:errors].each do |error| %>
            <li> <%= error %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
