<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <% if current_user %>
      Hello <%= current_user.user_name %>!
      <form action='/user/sign_out' method='post'>
        <input type=submit value='Sign out'>
      </form>
    <% end %>
    <% if flash[:errors] %>
      Please refer to the following errors below:
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
