<!DOCTYPE html>
<html>
  <head>
    <title>Chitter!</title>
  </head>

  <body>
    <% if current_user %>
    <h1>  Welcome, <b><%= current_user.email %></b> </h1>
    <% end %>
    <%= yield %>
  </body>
</html>
