<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kitter! Send Meows to your fellow kitties!</title>
  </head>
  <body>

    <h1>KITTER</h1>

    <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
    <% end %>

    <% if current_user %>
        <form method='post' action="/sessions">
          <input type='hidden' name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      <% end %>

    <%= yield %>
  </body>
</html>
