<body>
  <% if @name != nil %>
    Welcome, <%=@name%>
  <%end%>

  <% if flash[:errors] %>
    <ul id='errors'>
       <%flash[:errors].each do |error|%>
        <li><%= error %></li>
    <% end %>
    </ul>
    <% end %>
  <%=yield%>
</body>