<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <link rel="shortcut icon" href="/images/favicon.ico">

  </head>
  <body>

    <%= partial :'partials/navbar' %>

    <%= partial :'partials/flash_errors' %>

    <%= yield %>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="/src/app.js"></script>
    <script src="/src/logout.js"></script>
    <script src="/src/peep.js"></script>
  </body>
</html>
