<!DOCTYPE html>
<html>
  <head>
    <title> Chitter </title>
  </head>

  <body>
    <h2> Chitter - Connecting Peeps </h2>
    <%if current_user %>
      <p> Welcome <%= current_user.name %> </p>
    <% end %>
    <%= yield %>
  </body>

</html>
