<html>
  <head>
    <title>Welcome to Chitter</title>
  </head>

    <% if current_user %>
    Welcome, <%= current_user.username %>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
    <% elsif @signing_up %>
    <form action="sessions/new">
      <input type="submit" value="Sign in">
    </form>
    <% elsif @signing_in %>
    <form action="sessions/sign_up">
      <input type="submit" value="Sign up">
    </form>  
    <% else %>
    <form action="sessions/new">
      <input type="submit" value="Sign in">
    </form>
    <form action="sessions/sign_up">
      <input type="submit" value="Sign up">
    </form>   
    <% end %>
  <%= yield %>

  <body>

  </body>
</html>