<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME!</title>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <% if current_user %>
      Welcome, <%= current_user.user_full_name %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
