<!DOCTYPE html>
<html>

  <head>
    <title>Chitter</title>
    <link rel='stylesheet' href='/bootstrap-3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheet.css'>
</head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          	<span class="sr-only">Toggle navigation</span>
          	<span class="glyphicon glyphicon-th-list icon-ok"></span>
          </button>
          <a class="navbar-brand" href="#">Chitter</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">
              Logged in as <%= @user.name %>
              <span class="sr-only">(current)</span></a>
            </li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container" id="main-page">
      <%= yield %>
    </div>
  </body>

</html>
