<!-- <!DOCTYPE html> -->
<html>

  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/musett/titto-the-dodo/512/The-Extinct-Flightless-Pidgin-Bird-icon.png">
  </head>

  <body>
    <%= partial :welcome %>
    <%= yield %>
    <%= partial :flash %>
  </body>

</html>
