<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter-Chatter</title>
  </head>
  <body>
    <% if current_user %>
    <header>
      Signed in as: <%= @user.user_name %>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
    </header>
    <% else %>
    <a href='/session/new'>Log in or sign up</a>
    <% end %>



    <% if flash[:errors] %>
      <div id='errors'> <%=flash[:errors]%> </div>
    <% end %>


    <%= yield %>
  </body>
</html>
