<!DOCTYPE html>
<html>
  <head>
    <title>Chitter, your daily dose of anger</title>
  </head>

  <body>
  <h1>Chitter, this week in stupid</h1>
    <% if current_user %>
      Welcome, <%= current_user.name %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
      </form>
    <% end %>

    <% if flash[:errors] %>
      <div id='errors'>
        <% flash[:errors].each do |error| %>
          <p> <%= error %> </p>]
        <% end %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
