<!DOCTYPE html>
<html>

  <head>
    <title>Chitter</title>
    <link rel='stylesheet' href='/bootstrap-3.3.7/css/bootstrap.min.css'>
  </head>

  <body>
    <h1>Chitter!</h1>
    <%= yield %>
  </body>

</html>
