<!DOCTYPE html>
<html>
<head>
  <title> Welcome to Chitter </title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%= partial :'partials/current_user' %>

<%= partial :'partials/flash_notice' %>

<%= yield %>
</body>
</html>
