<!DOCTYPE html>
<html>
  <title>Chitter</title>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/styles.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    </head>
  <body>
    <% if current_user %>
      <div class="s-out">
        <h4>Welcome, <%= current_user.email %>!</h4>
        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn peep-button-signout">Sign out</button>
        </form>
      </div>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>

<!--         <p>Please refer to the following errors below:</p> -->
      <div id='errors'>
        <% flash[:errors].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    <% end %>
    <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>

