<% if current_user %>
  Welcome, <%= current_user.email %>
<% end %>

<% if current_user %>
  <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='image' value='Sign out' name="Sign Out" align="middle">
  </form>
  <% else %>
    <form action='/users/new'>
        <input type='image' value='Sign up' name="Sign Up" align="middle">
    </form>
  <% end %>

<% if (flash[:errors] && !flash[:errors].empty?) || flash[:notice] %>
    <div id='errors'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="20" align="center" valign="middle" bgcolor="#FF0000">
            <% if flash[:notice] %>
                <%= flash[:notice] %>
            <% end %>
            <% if flash[:errors] && !flash[:errors].empty? %>
                <ul id='errors'>
                    <% flash[:errors].each do |error| %>
                        <%= error %>
                    <% end %>
                </ul>
            <% end %>
            </td>
          </tr>
        </table>
    </div>
<% end %>

<%= yield %>
