<!DOCTYPE html>
<html>

  <head>
    <title>Chitter</title>
    <description>Discover the world</description>
    <script src="https://use.fontawesome.com/677dbff421.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>


</html>
