<!DOCTYPE html>
<html>
  <head>
    <title>CHITTER</title>
  </head>
  <style>
  input:invalid {
    border: 1px solid red;
  }

  input:valid {
    border: 1px solid green;
  }
  </style>
  <body>
    <% if current_user %>
      Welcome <%= current_user.username %>!
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
