<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom-style.css">
  </head>

  <body>
    <div class="background">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chitter</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/users/new">Sign up</a></li>
            <li><a href="/peeps">Peeps <span class="sr-only">(current)</span></a></li>
          </ul>
          <form method"get" action="/peeps" class="navbar-form navbar-left">
            <div class="form-group">
              <input name="search" type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><a href="/users/profile">
              Welcome, <%= current_user.username %></a></li>
            <% end %>
            <% if current_user %>
            <li><a href="/sessions/end">Log out</a></li>
            <% else %>
            <li><a href="/sessions/new">Log in</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if flash[:notice] %>
      <div align="center" class="well container" id='notice'><h4><%= flash[:notice] %><h4></div>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
