<!DOCTYPE html>
<html>
  <head>
    <title>chitter: where the world peeps</title>
  </head>

  <body>
    <% if flash[:errors] && !flash[:errors].empty? %>
    <p>Sorry, sign-up could not complete for the following reason(s):</p>
      <ul id='flash'>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if current_user %>
      Welcome, <%= current_user.name %>!
    <% end %>
    <%= yield %>
  </body>
</html>
