<!DOCTYPE html>
<html>
  <head>
    <title>BLABBER</title>
  </head>
<style>

#signedin{font-family: helvetica;
  font-weight: bolder;
  color: white;
  margin-left: 90px;}

#signout{font-family: helvetica;
    font-weight: bolder;
    color: white;
    margin-top: -970px;
    margin-left: 90px;
    position: absolute;
    z-index: 999;}

  #notice{font-family: helvetica;
    font-weight: bold;
    color: red;
    position: absolute;
    margin-top: 400px;
    z-index: 999;}

span{color: black;}

</style>

<% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
<% end %>
  <body>

    <% if current_user %>

    <!-- <h4><center>  welcome, <%= current_user.email %></center></h4> -->
    <h3 id="signedin">ONLINE: <span><%= current_user.name %></span></h3>

    <% end %>



    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
    <h3 id="signout">SIGN OUT</h3>

  </body>
</html>
