<body>
  <header>
    <% if @user %>
      <%= "Happy Chitting, #{@user.username}" %>
      <form action='/users/sign-out' method='post'>
        <button>Sign out</button>
      </form>
    <% else %>
      <form action='/users/new' method='get'>
        <button>Register</button>
      </form>
      <form action='/sessions/new' method='get'>
        <button>Login</button>
      </form>
    <% end %>
  </header>
  <% if flash[:notice]%>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
</body>