<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <% if current_user %>
    Welcome, <%= current_user.username %>
    <form action='/post' method='post'>
      <input type='text' name='post'>
      <input type='submit' value='Submit'>
    </form>
  <% end %>
  <%= yield %>

  <footer>
      <form action='/logout' method='post'>
      <input type='submit' value='Logout'>
    </form>
  </footer>
</html>
