<!-- <!DOCTYPE html> -->
<html>

  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>

  <body>
    <%= partial :welcome %>
    <%= yield %>
    <%= partial :flash %>
  </body>

</html>
