<!DOCTYPE html>
<html class="">
<meta charset="UTF-8"><meta name="robots" content="noindex">
<head>
  <title>Awesome Twitter</title>
  <link rel="stylesheet prefetch" href="/css/base.css" type="text/css">
  <link rel="stylesheet prefetch" href="/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Timmana' rel='stylesheet' type='text/css'>


 </head>

<body>

<div id="site-wrapper">
   <div id="site-canvas">

     <div id="site-menu">
       <ul class="menu-items">
         <li>Home</li>
         <li>About</li>
         <li>Contact</li>
       </ul>
     </div>

        <div class="row" id="navbar">
          <div class="col-xs-12">

            <div  class="col-xs-2 col-md-2" id="brand">Awesome twitter
            </div>

              <div class="col-md-10">
              <% if current_user %>
                <ul class="items">
                  <form method="post" action="/sessions">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" name="form1" value="Sign out" class="item link">
                  </form>
                </ul>
             <% else %>
              <ul class="items">
                <a href="/" class="item">Home</a>
                <a href="/sessions/new" class="item">Sign-in</a>
                <a href="/users/new" class="item">Sign-up</a>
              </ul>

              <% end %>

</div>
          </div>
       </div>

     <div class="container" id="page-content">
       <div class="row">

           <h3> <span class="red">
           <% if current_user %>
            Welcome back <span class="blue"><%= current_user.name %>,</span> very nice to see you!
            <% else %>
            Welcome <span class="blue">stranger!</span> Why not sign-in to post tweets?
            <% end %>
      </span> </h3>
      <h3>
      <br>
<img align="right" width="300" src="/img/robot.png">
      <%= yield %>

     <div>

     </div>
  </div>

  <% if flash[:errors] && !flash[:errors].empty? %>
    Sorry, there were the following problems with the form.
    <ul id="errors">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
<% end %>

<br>
<br>
<br>
<br>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
</body>

</html>