<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <form action="/peeps/new" >
        <input type="submit" value="New Peep"</input>
      </form>
    <% end %>
    <% unless current_user %>
      <form action="/users/new" >
        <input type="submit" value='Sign up'</input>
      </form>
      <form action="/sessions/new" >
        <input type="submit" value="Sign in"</input>
      </form>
    <% end %>
    <form action="/peeps" >
      <input type="submit" value='Peeps'</input>
    </form>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
