<!DOCTYPE html>
<html>

  <head>
    <title>Chitter</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" >
  </head>

  <body>
    <div id="logo">
      <span>like twitter, but shitter</span>
    </div>
    <%= partial :welcome_message %>
    <%= partial :flash %>
    <%= yield %>
  </body>

</html>