<! DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1 align='center'>Chitter</h1>
    <form action='/sign-up'>
      <input type='submit' value='Sign Up' style="float:right">
    </form>
  </body>

</html>
