<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body class=serif>
<div class="center1">
  <div>
    <h1>Chitter</h1>
  </div>
    <%= partial :welcome %>
    <%= partial :flash %>
</div>
    <%= yield %>
</body>
</html>
