<!DOCTYPE HTML>
<html>
  <head><title>Chitter</title></head>
  <body>
    <div id='header'>
      <form action='/'>
        <input type='submit' value='Home'>
      </form>
      <h1>Chitter</h1>
    </div>
    <%= erb :'/partials/welcome' %>
    <%= erb :'/partials/sign_out' %>
    <%= erb :'/partials/flash_errors' %>
    <%= yield %>
  </body>
</html>
