<!DOCTYPE html>
<html>
<head>
  <title>Layout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/chitter_style.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img height="150" class="img-rounded" src="/chitter.jpg"/> </a>
        <a class="navbar-brand" href="#">Chitter</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/peeps/index">Home</a></li>
        <li><a href="/users/new">Sign up</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
