<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Chitter.</title>
	</head>

	<body>
		<% if current_user %>
      		Welcome, <%= current_user.full_name %>!
    	<% end %>
    	<ul id='errors'>
      		<% if flash[:errors] && !flash[:errors].empty? %>
        		<% flash[:errors].each do |error| %>
          			<li><%=error%></li>
        		<% end %>
     		<% end %>
    	</ul>
    	<%= yield %>
  	</body>
</html>
