
<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
    Welcome, <%= current_user.username %>
  <% end %>

  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>
  
    <%= yield %>
  </body>
</html>
