<!DOCTYPE html>
<html>

<head>
  <title>Chitter - A Twitter Clone</title>
  <link href="/styles/normalize.css" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link href="/styles/main.css" rel='stylesheet' type='text/css'>
  <link href="/styles/responsive.css" rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1">
</head>

<body>

  <header>

      <a href="/"><img src="/images/chitter_logo.png" height="60px" alt="chitter logo"></a>
      
      <div id="sign_in_links">
        <% if current_user %>
          <span id="welcome_message">You're signed in, <%= current_user.name %>!</span>
          <a class="buttons" href="/users/sign_out">Sign Out</a>
          <a class="buttons" href="/cheeps/new">Post a new Cheep</a>
        <% end %>

        <% if !current_user %>
          <a class="buttons" href="/users/sign_up">Sign Up</a>
          <a class="buttons" href="/users/sign_in">Sign In</a>
        <% end %>
      </div>

  </header>

  <section>
    <%= yield %>
  </section>

  <footer>
    <p><a href="https://github.com/tomcoakes/chitter-challenge">Check out the source code on my GitHub page</a></p>
  </footer>

</body>
</html>