<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chitter</title>
</head>
<body>
  <% if current_user %>
      Welcome to Chitter <%= current_user.email %>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
  <% end %>
  <% if flash[:errors] && !flash[:errors].empty? %>
    Oops, a number of errors occurred:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
