<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
  <%= partial :header %>
  <%= partial :flash %>
  <%= yield %>
  <%= partial :footer %>
</body>
</html>