<!DOCTYPE html>
<html>

  <head>
    <title>Chitter</title>
    <script src="https://use.fontawesome.com/677dbff421.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body style="background:url('http://michaelamusto.com/wp-content/uploads/2014/07/instagram-photos.jpg') center center fixed;background-size: contain;">
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>


</html>
