<!DOCTYPE html>
<html>

  <head>
    <title>Nom Diaries</title>
  </head>

  <body>
    <%if current_user %>
      Welcome, <%= current_user.nom_name%>
    <%end%>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>

</html>
