<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if current_user %>
    <form action='/login'>
      <input type='submit' value="Log out" />
    </form>
    <% else %>
    <form action='/sessions/new'>
      <input type='submit' value="Log in" />
    </form>
    <form action='/signup/new'>
      <input type='submit' value="Sign up" />
    </form>
    <% end %>
  <%= yield %>
  </body>
</html>
