<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link href="<%= url("/styles.css")%>" rel='stylesheet' />
</head>
<body>
  <a href='/'>
    <header>
      <div id='title_bar'>
        <h1>Chitter</h1>
      </div>
      <img src="<%= url("bird.svg")%>" />
    </header>
  </a>

  <%= yield %>

</body>
</html>
