<!DOCTYPE html>
<html>
  <head>
  <link href="style.css" rel="stylesheet" type="text/css" />
    <title>CHITTER</title>
  </head>

  <body>
    -- <%= time_now %> --
    <% if current_user %>
      Welcome <%= current_user.username %>
    <% end %>
    <%= yield %>
  </body>
</html>
