<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

      <h1>Chitter</h1>
      <br>
      <% if @current_user %>
      Hello <%= @current_user.first_name %>
      <% end %>
      <br>
      <br>
      <br>
    <%= yield %>
  </body>
</html>
