<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME!</title>
  <style>
    body {
      color: white;
      background-color: lightblue;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
  </head>
  <body>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <% if current_user %>
      Welcome, <%= current_user.user_full_name %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
