<!DOCTYPE HTML>

<html>
  <head> 
  	<link rel='stylesheet' type='text/css' href="/style.css">
  	<title> Chitter Chatter </title>
  </head>
  

  <body> 
	     
	<%= partial :flash %>
	
	<%= partial :signed %>
	  
    <%= yield %> 
   
  </body>
</html>