<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
</head>
<body>
<% if current_user %>
<%= "Welcome #{current_user.name}!" %>

<form action="/users/log-out" method="get">
  <input type="submit"
    name="Log out" value="Log out"/>
</form>

<% else %>
<form action="/users/new" method="get">
  <input type="submit"
    name="Register" value="Register"/>
</form>

<form action="/users/log-in" method="get">
  <input type="submit"
    name="Log in" value="Log in"/>
</form>

<% end %>
<%= flash[:notice] %>
<%= yield %>
</body>
</html>
