<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Chitter</title>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

	<% if flash[:errors] && !flash[:errors].empty? %>
		Error:
		<ul id="errors">
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>

	<% if current_user %>
		<p>You are signed in as <%= current_user.name %></p>
		<form action="/sessions/end" method="post">
			<input type="submit" value="Sign Out">
		</form>
	<% end %>
  <%= yield %>
</body>
</html>