<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <a href='/peeps'>Latest Peeps</a>
    <%= yield %>  
  </body>
</html>
