<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <form action='/sign-up'>
      <input type='submit' value='Sign Up' style="float:right">
    </form>
    <br>
    <h1 align='center'>Chitter</h1>
    <% if current_user %>
      <h3 align='center'> Welcome, <%= current_user.name %></h3>
    <% end %>
    <%= yield %>
  </body>
