<!DOCTYPE html>
<html>
  <head>
  <title>Chitter Challenge</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>

  </head>

  <body >
    <%= partial :welcome %>
    <%= partial :flash %>
    <br><br>
    <%=yield%>
  </body>
</html>
