<!DOCTYPE html>
<html>
<head>
  <title>Awesome Twitter</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <% if current_user %>
    Welcome, <%= current_user.name %>
  <% end %>
    <%= yield %>
</body>
</html>