<!DOCTYPE html>
<html>
  <head>
    <title> ChitterChatter </title>
  </head>
  <body>
    <% if current_user %>
    Welcome, <%= @current_user.email %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <% end %>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:errors] %>
        <%= flash[:errors] %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
