<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <% if current_user%>
    Welcome to Chitter, <%= current_user.username%>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
