<head>
<link href="<%= url('/app.css') %>" rel="stylesheet" type"text/css" />
</head>

  <body>

    <nav>
      <ul>
        <li> <a href='/'>See Peeps</a> </li>
        <li> <a href='/sign-up/new'>Sign Up</a> </li>
        <li> <a href='/log-in/new'>Log In</a> </li>
        <li> <a href='/peep/new'>Peep Now</a> </li>
      </ul>
    </nav>


    <header>
      <img src= "http://drive.google.com/uc?export=view&id=0By1LQmtPc5fnRlpNQkthSW5VODA" alt="logo" />
      <h1> Welcome to Chitter! </br> Hatch A PEEP Now</h1>
    </div>
    </header>
