<!DOCTYPE html>
<html>
        <head>
                <title>Chitter</title>
                <link rel="stylesheet" href="style.css">
        </head>
        <body>
                <div id="header">
                        <nav>
                        <ul>
                                <% if current_user %>
                                        <li>Welcome, <%= current_user.name %></li>
                                <% end %>
                                <li>Home</li>
                                <li>User</li>
                                <li>Logout</li>
                        </ul>
                        </nav>
                </div>
                <div id="main">
                        <%= yield %>
                </div>
        </body>
</html>
