<!DOCTYPE html>

<html>
  <body>
    <header>
      <% if @current_user != nil %>
        <p>
          Signed in as <%= @current_user.username %>
          <a href="/logout">Logout</a>
        </p>
      <% else %>
        <p>Who are you? <a href="/signinorup">Login or sign up</a> to peep</p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>               