<form action="/sessions" method="post">

  <div>
     <label for="email">Please enter your email!</label>
    <input type='email' name='email' required>
  </div>

  <div>
    <label for="password">Please enter your password!</label>
    <input type='password' name='password'>
  </div>

  <div>
    <input type='submit' id='log-in'>
  </div>

</form>
