<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action='/sessions' method='post'>
<label for='email'>
 Email:
 <input type='email' name='email' placeholder="enter email here">
</label>
 <label for='password'>
   Password:
   <input type='password' name='password' placeholder="enter password here" >
 </label>
 <input type='submit' value='Log-in'>
</form>
