<div class="details">
  <form class="access" action="/sessions/new" method="post">
    <label for="user_name">Username:</label>
    <input type="text" name="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <input type="submit" value="Log in" required>
  </form>
  <a href="/users/reset-password">Forgotten password?</a>
</div>
