<head>
  <title>Log in</title>
</head>

<form action='/log_in' method='post'>

  <label for='username'> Username </label>
  <input type='text' name='username'>

  <br>

  <label for='password'> Password </label>
  <input type='text' name='password'>

  <br>

  <input type='submit' value='submit'>
</form>

<form action='/' method='get'>
<input type='submit' value='home page'>
</form>
