<% if flash[:notice] %>
  <div class="errors">-<%= flash[:notice] %></div>
<% end %>

<form action='/log-in-info' method='post'>

  <table>

    <tr align=left>
      <th>E-MAIL:</th>
      <th><input type='text' name='email'></th>
    </tr>

    <tr align=left>
      <th>PASSWORD:</th>
      <th><input type='password' name='password'></th>
    </tr>

    <tr height=20px>
      <th colspan=2></th>
    </tr>

    <tr align=left>
      <th colspan=2><input id="submit_button" type='submit' value='SUBMIT'></th>
    </tr>

  <table>

</form>
