<form action="/log_in" method="post">
	<label for='email'>
		Email:
		<input type="text" name="email">
	</label>
	<br />
	<label for='password'>
		Password:
		<input type="password" name="password">
	</label>
  <br />
	<input type="submit" value="Log In">
</form>
