<div id='log-in'>
  <form action='/log-in' method='post'>
    <p>Please enter your handle and password:<p>
    <p>Handle: <input name='handle' maxlength='15' style='font-family:monospace'></p>
    <p>Password: <input name='password' type='password' style='font-family:monospace'></p>
    <button type='submit'>Log in</button></p>
  </form>
  <hr>
</div>
