<form action="log-in" method="post">
    <label for="user_name">User name:</label>
  <input type="text" name="user_name" required>
    <label for="password">Password:</label>
  <input type="password" name="password" required>
  <input type="submit" value="Log in" required>
</form>
