<h2>Please log in</h2>

<form action='/login' method='post'>
  <table>
          <tbody>
  <tr><td><label for='email'>
    <h4>  Email: </label> </td><td> <input name='email' placeholder="e.g: hermione_granger@hogwarts.co.uk" type='email' class='email'></h4></td></tr>
  <br>
  <tr><td><label for='password'>
    <h4>  Password: </label> </td><td> <input name='password' type='password' class='field'></h4></td></tr>
  </tbody>
</table>
  <br>
  <input type='submit' value='Log in' class="button">
</form>
