<h1>Log in to Chitter!</h1>

<form action='/log-in/new' method='POST'>
  <div>
    <label>
    EMAIL:
    <input type='text' name='email'/>
    </label>
  </div>

  <div>
    <label>
    PASSWORD:
    <input type='text' name='password'/>
    </label>
  </div>

  <input type='submit' value='Sign in'/>
</form>
