<div>
	<h1>Log in</h1>
	<form action="/log_in" method="post">
		<label>Email</label>
		<input type="email" name="email" required>
		<label>Password</label>
		<input type="password" name="password" required>
		<input type="submit" name="log_in" value="Log In" class="Button">
	</form>
</div>