<h2>Please log in</h2>

<form action='/login' method='post'>
  <label for='email'>
    <h4>  Email: <input name='email' type='email' class='email'></h4>
  </label>
  <br>
  <label for='password'>
    <h4>  Password: <input name='password' type='password' class='field'></h4>
  </label>
  <br>
  <input type='submit' value='Log in' class="button">
</form>
