<!DOCTYPE html>
<html>
<head></head>
<h1>Welcome back!</h1>
<h3>Log in successful!</h3>

<h4>
  <a href="/write_message" id="write_message">Write a Peep</a></h4>
</h4>

<h4>
  <a href="/view_all" id="view_all">View Peeps</a></h4>
</h4>
