<span id='logged_in'>
  <form action='/sessions/<%= session[:user] %>' method='post'>
    <b>You're Logged In As: <%= session[:name] %>!</b>
    <br>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out!' class="btn">
  </form>
</span>


