<!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/style.css">
  </head>
<body><main>

  <h1>Welcome to Chitter</h1>
  <% if current_user %>
    Logged in as: <%=current_user.username%> <%= erb :'sessions/sign_out' %>
  <% else %>
    <a href="./users/sign_up">Sign Up</a> or <a href="./sessions/sign_in">Sign In</a> to peep.
  <% end %>
  <hr>

</main></body>
</html>
