
Join In?
  <form action='/users' method='post'>
    Name: <input type='text' name='name'><br>
    Username: <input type='text' name='username'><br>
    Email: <input type='text' name='email'><br>
    Password: <input type='password' name='password'><br>
    <input type='submit' value='Join In!'>
  </form>

  Log In?
  <form action='/sessions/new' method='post'>
    Email: <input type='text' name='returning_email'><br>
    Password: <input type='password' name='returning_password'><br>
    <input type='submit' value='Log In!'>
  </form>
