Howdy

<%= @email_1 %>
<%= @password_1 %>
<%= @name_1 %>
<%= @user_1 %>

<form action="/chitter_post" method="post">
  <label>Enter your thoughts!
    <input type="text" name="post">
    <!-- <input type="text" name="time"> -->
    <input type="submit" name="Submit">
  </label>
</form>
