<html>
<head>
</head>
<body>
  <h1>Chitter</h1>
  <h3>Log in below:</h3>
  <form  action='/login' method='post'>
    <label for='user_name'>
      Username:
      <input type='text' name='user_name' />
    </label>
    <label for='user_password'>
      Password:
      <input type='text' name='user_password' />
    </label>
      <input type='submit' value='Log in' />
  </form>
</body>
</html>
