<h2>Log in into your Chitter account:</h2>
<form action = '/home' method = 'post'>
  Email:
  <input type = 'text' id = 'loginemail' name = 'email'>
  <input type = 'password' id = 'loginpass' name = 'password'>
  <button type = 'submit'>Log In</button>
</form>
