<h1> Login to Chitter</h1>
<section class='signup'>
<form action='/session/new' method='post'>
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder="password" required>
  <input type="submit" value="Login" class='in_out'>
</form>
</section>
