
<div id="login_form" class="form">
  <center>
    <h3 id="login_title" class="heading">Log In</h3>
    <form action="/login" method="post">
      <label for="username" class="form_label">username</label>
      <input type="text" name="username">
      <br />
      <label for="password" class="form_label">password</label>
      <input type="password" name="password">
      <br />
      <br />
      <input type="submit" value="Submit">
      <br />
      <br />
      <a href="/register">register new account</a>
    </form>
  </center>
</div>
