<% if flash[:notice] %>
  <div id = 'notice'><%= flash[:notice] %></div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
  Please use the suggestions below to proceed:
  <ul id='errors'>
    <%flash[:errors].each do |error|%>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h1> Login to Chitter </h1>

<form action="/login" method="post" id="sign_in_form">

  User Name
  <input name='username' type='text'>
  Password
  <input name='password' type='password'>
</form>

<button type="submit" form="sign_in_form" value="Login"> Login </button>

<h2> No account? Sign Up for Chiter here</h2>
<form class="form-inline my-2 my-sm-0" method='get' action='/sign_up'>
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sign Up</button>
</form>
