<div>
  <h4>Please login</h4>
  <form id='login_form' action="/users" method="post">
    Email:<input type="email" name="email" placeholder="Enter email" required>
    Password:<input type="password" name="password" placeholder="Enter password" required>
    <input type="submit" value="submit">
  </form>
</div>
