<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p>*<%= error %></p>
  <% end %>
<% end %>

<form action="/login" method="post">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <input type="submit" value="Login">
</form>
