<head>
  <link href="login.css" rel="stylesheet" type="text/css" >
</head>

<body>

<h1>Sign In to get Chittering</h1>

<div style="position: absolute; left: 33%; top: 35%; width:420px;height:300px;background: #1E8ECA;"> </div>
<form action='/login' method='post'>
    <font> Email: </font> <input name='email' class = 'email' type='email'>
    <p> Password: </p> <input name='password' class = 'password' type='password'>
    <input type='submit' class= "button" value='Sign in'>
</form>


</body>
