<h4>You're browsing as an anonymous user..please sign up!</h4>

<form action='/login' method='post'>
    <input type='text' name='username' placeholder="Username">
    <input type='text' name='password' placeholder="Password">
    <button type ='submit' value='register'>Log In</button>
</form>
<p><a href="/signup">Not registered yet? Sign up, it's free</a></p>
