
<h3>Log In</h3>
<form action="/login" method="post">
  <label for="username">username</label>
  <input type="text" name="username">
  <br />
  <label for="password">password</label>
  <input type="password" name="password">
  <br />
  <br />
  <input type="submit" value="Submit">
  <br />
  <br />
  <a href="/register">register new account</a>
</form>
