<form action = "/checkuser" method = "POST">
  <label for= "email"> Email:</label>
  <input type = "text" name = "email">
  <label for= "password"> Password:</label>
  <input type = "text" name = "password">
  <input type = "submit" value = "login">
</form>

<br>

<form action = "/signup" >
  <input type = "submit" value = "signup">
</form>
