<h1> Please login </h1>

<form action="/logincheck"  method ="post">
  <label for="email">
    E-mail
    <input type="text" required name="email" />
  </label>
  <label for="password">
    Password
    <input type="password" required name="password" />
  </label>
  <input type="submit" value="Login" />
</form>
