<h1> Sign in </h1>

<form action='/login' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='log in'>
</form>
