<h1> Login</h1>

<form action='/session/new' method='post'>
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder="password" required>
  <input type="submit" value="Login">
</form>
