<form action="/authenticate" method='post'>
  Username:<br>
  <input type="text" name="username">
  Password:<br>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
