<h1>Login</h1>

<form action='/login' method='post'>
  <label for='email'>Email&nbsp;&nbsp;</label>
  <input name='email' type='email'><br /><br />
  <label for='password'>Password&nbsp;&nbsp;</label>
  <input name='password' type='password'><br /><br />
  <input type='submit' value='Login'>
</form>
<br />
<hr />
<p>If you are not registered you will need to sign up first.</p>
<form action='/signup'>
  <input type='submit' value='Sign Up' />
</form>
