<h1>Please sign in</h1>

<form action='/login/success' method='post'>
  <label for='username'>
    User name: <input type='text' name='username' required>
  <label for='password'>
    Password: <input type='password' name='password' required>
  </label>
  <input type='submit' value='Submit'>
</form>
