
<form action="/users/login_successful" method="post">
  Username: <input type="text" name="username">
  <br>
  Password: <input type="password" name="password">
  <br>
  <input type="submit" name="submit" value="Submit">
  <br>
</form>
