<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
		<style>
			body {background-color: powderblue;}
      h1   {color: blue;}
		</style>
</head>

<body>
	<div>
		<h1>Chitter</h3>
	</div>
  <div>
	<form action="/login" method="post">
		<label for="username">Username:</label>
		<input type="text" name="username">
    <label for="email">Email:</label>
		<input type="text" name="email">
		<input type="submit" value="Login" />
	</form>
  </div>


</body>
</html>