</h1>Please log in</h1>

<form action='/login' method='post'>
  <label for='email'> Enter your email here:</label>
  <input type='text' name='email'>
  <label for='password'> Enter your password here:</label>
  <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>