<div class="hero-wrapper">
  <h1>Chitter</h1>
  <h2>Thanks for peeping.</h2>
  <h3>Now get out there and live a bit.</h3>
</div>

<div class="Login-wrapper">
  <h1>Log in to Chitter again.</h1>
  <form action='/sessions' method='POST'>
    <input type='text' class='text-input' name='username' placeholder='Username'>
    <input type='password' class='text-input' name='password' placeholder='password'>
    <input type='submit' class='submit' value='Log in'>
  </form>
</div>
