<div id='peep_post'>
  <%if current_user %>
    <form action='/peep/new' method='post'>
    <input type='text' name='peep_content' placeholder='Please input your peep'> <br />
    <input type="submit" value='Post'>
  <%else%>
      <h3>Please sign up or sign in to start peeping</h3>
  <%end%>
</div>

<div id='peeps'>
    <ul id='links'>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.user.username %>: </br>
        <%= peep.peep_content %> </br>
        <%= peep.created_at %> </br>
        <br />
      </li>
    <% end %>
  </ul>
</div>
