<center><h1> PEEPS </h1><br>
  <% if current_user %>
    <form action="/peep" method="post">
      <label for="peep">
        Your peep: <input type="text" name="peep_content">
      </label><br><br>
      <input type="submit" name="submit" value="Peep">
    </form>
  <% end %>
  <% if @peep %>
    <%= "#{current_user.user_name}: #{@peep}" %>
  <% end %>
</center>
