<center><h1> PEEPS </h1><br>
<form action="/peep" method="post">
  <label for="peep">
    Your peep: <input type="text" name="peep">
  </label><br><br>
  <input type="submit" name="peep" value="Peep">
</form></center>
