<h1 class='main'> Welcome to Chitter! </h1>

<section class='message'>
  <form action='/stream' method='post' id='message'>
	 <textarea class='message' name='body' form='message'>Enter message...</textarea></br>
     <input class='button' type='submit' value='Send'>
  </form>
  
</section>