<h1 align='center'>Welcome to Chitter!</h1>
<br>
<h2 align='center'>What do you want to do?</h2>
<hr>
<br>
<form align='center' action='/users/new'>
    Sign up here:<br>
    <br>
    <input type='submit' value='Sign up!' /><br>
</form>
<br>
<br>
<form align='center' action='/users/new'>
    Log in here:<br>
    <br>
    <input type='submit' value='Log in!' /><br>
</form>
<br>
<br>
<form align='center' action='/list'>
    See the wall:<br>
    <br>
    <input type='submit' value='Peeps!' /><br>
</form>
