Welcome back <%= @name %>
  <form method="post" action="/session">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
Post a peep here
  <form method="post" action="/main">
    <input type="text" name="message" placeholder="What's on your mind...?">
    <input type="submit" value="Peep">
  </form>

Past peeps:
<br>
<% if @all_peeps %>
  <% @all_peeps.each do |peep| %>
    <%= peep.message %> at <%= peep.time %>
    <br>
  <% end %>
<% end %>