<form action = "/post_peep" method = "POST">
  <label for "Peep"> Write your Peep below: </label><br>
  <textarea cols="30" rows="3" name="peep"></textarea><br>
  <input type = "submit" value = "Release the Peep">
</form>
