<h1> Make a Cheet </h1>


<form action="/make_cheet" method="post">
  <label for='title'>
  Title: <br><input type="text" name="title">
</label>
<br>
<label for='body'>
  Cheet away!: <br>
  <textarea rows='4' name="body" style="width: 400px; height: 150px" rows="10"placeholder='write cheet here...'></textarea>
</label>
<br>
  <input type="submit" value="Submit">
</form>