<html>
  <h1> Chitter </h1>


  <h3> Peeps:</h3>
  <ul>

    <li>
      <p><% @peeps.each do |peep|%>
      <li><%= peep.message %> <br />
        <%= peep.created_at %>

      </li>  <% end %>

      </p>
    </li>
  </ul>

  <h3> Post a new peep:</h3>
  <form method='post' action='/peeps/new'>
    <input type='text' name='message' placeholder= 'Post a peep'  />
    <input type='submit' value='Post'  />

  </form>
</html>
