<form action="/message_create" method="post">
  <label>
    Nickname:
    <input type="text" name="nickname">
    Message:
    <input type="text" name="message">
  </label>
  <input type="submit" value="Submit">
</form>
