<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <h1>Messages</h1>

    <div id="message_board">
      <% @messages.each do |message| %>
        <div>
          <%= message.title %>
          <%= message.content %>
          <%= message.user.user_name %>
          <%= message.created_at.strftime("%H:%M / %d-%m-%Y") %>
        </div>
      <% end %>

    </div>

    <form action='/messages/new'>
      <input type='submit' value='Post a Message'>
    </form>


  </body>

</html>
