<head>
 <link rel="stylesheet" type="text/css" href="/style.css"/>
 <link rel="stylesheet" type="text/css" href="/normalize.css"/>
 <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
 <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<font color="white">
  <style="text-align:center">
<html>

<h2 style="text-align:center"><b>Create your Peep!</b></h2>
<form style="color:#000000;text-align:center;" action="/message_create" method="post">
    <font color="white">Nickname:</font>
    <input type="text" placeholder="Nickname" name="nickname" required>
    <font color="white">Message:</font>
    <input type="text" placeholder="Message" name="message" required>
  <input class="button button-primary" type="submit" value="Submit">
</form>
<form style="text-align:center" method='get' action='/message/index'>
  <input class="button button-primary" type='submit' value='Go Back'>
</form>


<body style="background-image:url(../images/smartphone-4236924_1920.jpg);">
