<html>
  <h1> Chitter </h1>


  <h3> Peeps:</h3>
  <ul>

    <li>
      <p><% @peeps.each do |peep|%>
      <li><%= peep.message %>
        <%= peep.created_at %>

      </li>  <% end %>

      </p>
    </li>
  </ul>
</html>
