<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div class="container">
    <div class="message_board">
      <h1>Messages</h1>

      <% @messages.each do |message| %>
      <div class="user_time">
        <b><%= message.user.user_name %></b> &nbsp;&nbsp;&nbsp;
        <%= message.created_at.strftime("%H:%M / %d-%m-%Y") %>
      </div>
      <div class="message_content">
        <h5><%= message.title %></h5>
        <p><%= message.content %></p>
      </div><br>
      <% end %>


    <form action='/messages/new'>
      <input type='submit' value='Post a Message' id="button">
    </form>

  </div>
  </div>
</body>

</html>
