<form action="/messages" method='post' id='message_new'><bt>
  <textarea name="message" form="message_new" rows="4" cols="50" >Enter Peep here...</textarea><br><br>
  <input type="submit" value="Peep!">
</form>