<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <div class="nav">Chitter</div>

    <div class="page">
      <div class="grid-container">
        <div class="grid-item input-container">
          <form action="/add-message" method="post">
            <textarea
              type="input"
              name="post-message"
              placeholder="spread some positivity.."
              class="message-input"
              value=""
            ></textarea>
            <input type="submit" value="Post" />
          </form>
        </div>
        <% @messages.each { |message| %>
        <div class="message-container">
          <h1 class="message"><%= message.message %></h1>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
