<h2>Write a new peep</h2>

<form action='/peeps' method='post'>
  <textarea type="text" name="peep_content" value="peep_content" rows="6" cols = "30"></textarea>
  <input type="submit" name="Submit" value="Submit">
</form>
