<h1>Welcome to Chitter!</h1>

<form action='/users' method='post'>
  <label for='email'>
    <input name='email' type='email' required>
  </label>
  <label for='name'>
    <input name='name' type='string'>
  </label>
  <label for='user_name'>
    <input name='user_name' type='text' required>
  </label>
  <label for='password'>
    <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    <input name='password_confirmation' type='password'>
  </label>

  <input type='submit'  value='REGISTER'>
</form>
