<div class="wrapper">
  <div id="peep-form">
    <h1>New Peep</h1>

    <form action="/peeps" method="post">
     Message: <br>
     <textarea id='peep' name='message' maxlength="140" placeholder="Peep here..." cols='50' rows='3'></textarea><br>
     <input type="submit" value="Submit">
   </form>
 </div>
</div>
