<!DOCTYPE html>
<html>
  <head>
    <title> New peep </title>
  </head>
  <body>
    <form action='/new' method='post'>
      <input type='text' name='peep' placeholder="Type here..." maxlength="140" <br>
      <input type='submit' value="peep!">
  </body>
</html>
