<h1>Welcome to Chitter!</h1>

<form action='/users' method='post'>
  <label for='email'>
    <input name='email' type='email' required>
  </label>
  <label for='password'>
    <input name='password' type='password' required>
  </label>
  <label for='password_confirmation'>
    <input name='password_confirmation' type='password' required>
  </label>

  <input type='submit'  value='REGISTER'>
</form>
