<h2>What have you got in your mind today Peep?</h2>
<form action='/peeps' method='POST'>
  <textarea type='text' name='message' placeholder='Peeping?'></textarea>
  <input type='submit' value='Post' />
</form>