<h1>Sign up</h1>

<form action="/users" method="post">
  <input type="text" name="username" value="username" placeholder="Username"/>
  <input type="email" name="email" value="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password"/>
  <input type="password" name="password_confirmation" placeholder="Confirm password"/>
  <input type="submit" value="Sign up"/>
<form/>
