<h1>New Peep</h1>

<form action="/links" method="post">
	Title: <br>
	<input type="text" name="title"><br>
	URL: <br>
	<input type="text" name="url"><br>
<!-- 	Tag: <br>
  <input type="text" name="tags"><br>
  <br> -->
	<input type="submit" value="Submit">
</form>