<form action='/users/new' method='post'>
  <input type='email' name='email' >
  <input type='password' name='password'>
  <input type="password" name="password_confirmation">
  <input type="submit" value='Sign Up' >
</form>



Welcome
