<!DOCTYPE html>
  <head>
  </head>

  <h1>Please sign up</h1>

  <body>
    <form action='/user/new' method='post'>

      <label for="email">
        Email address: <input type="email" name="email" value="<%=@user.email%>" required><br>
      </label>

      <label for='name'>
        Name:<input type='text' name='name'><br>
      </label>

      <label for='username'>
        Username:<input type='text' name='username'><br>
      </label>

      <label for="password">
        Password:<input type="password" name="password"><br>
      </label>

      <label for="password_confirmation">
        Confirm password:<input type="password" name="password_confirmation"><br>
      </label>

      <input type="submit" name="submit" value="Sign up">
    </form>
  </body>

  <% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

</html>
