<div class='peep'>
  <h2>Post a Peep</h2  >
  <form method = 'post' action = '/peep'>
    <label for="peep">Peep:</label>
    <input id='peep' type='text' name='peep'/></br></br>
    <input id='submit' class='button' type='submit' value='Peep'/>
  </form>
</div>
