<!DOCTYPE html>
<html>
<head>
  </<head>
  <body>
    <h1>Add bookmarks</h1>
    <form action="/new" method="post">
      <input type="text" name="content" placeholder="Peep goes here"/>
      <time stamp thing>
      <input type="submit" value="Submit"/>
      </form>
    </body>
  </html>
