  <h1>Sign up to Chitter!</h1>
  <FORM ACTION='/users' METHOD='post'>
      Name:<INPUT TYPE='text' NAME='name'><BR>
      Username:<INPUT TYPE='text' NAME='username'><BR>
      Email Address:<INPUT TYPE='email' NAME='email_address'><BR>
      Password:<INPUT TYPE='password' NAME='password'><BR>
      Password Confirmation:<INPUT NAME='password' NAME='password_confirmation'><BR>
    <INPUT TYPE='submit' VALUE='Sign Up!'>
  </FORM>
