<h1>Please sign up to use Chitter</h1>

<form action='/users' method='post'>
  <label for='name'>
    Your Name: <input name='name' type='text'>
  </label>
  <label for='username'>
    Your chosen username: <input name='username' type='text'>
  </label>
  <label for='email'>
    Email: <input name='email' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='text'>
  </label>
  <input type='submit' value='Sign up'>
</form>
