<h1>Post a peep</h1>
<%= flash[:error] %>
<form action='/peeps' method='POST'>
  <label for='message'>Message:
    <input type='text' name='message' required>
  </label>
  <input type='submit' value= 'Post'>
</form>
