<form action="/user/new" method="post">
  User Name:<input type = "text" name="user_name" value="<%= @user.user_name %>">
  Email:<input type="text" name="email" value="<%= @user.email %>">
  Name:<input type="text" name="name">
  Password:<input type="password" name="password">
  Password Confirmation:<input type="password" name="password_confirmation">
    <input type="submit" value="Sign up">
</form>

