<p>Use the form below if you want to enter a new peep</p>
<form action='/add_peep' method="post">
  <input type='text' name='peep_text'>
  <input type='text' name='tags'>
  <button type ='submit' value='peep'>Peep!</button>
</form>
