<form action="/user/new" method="post">
  Email:<input type="text" name="email" value="<%= @user.email %>">
  Password:<input type="password" name="password">
  Password Confirmation:<input type="password" name="password_confirmation">
    <input type="submit" value="Sign up">
</form>

