<html>
  <body>
    <h2>Create a new peep</h2>
    <form method="post" action="/peeps">
      <input type="text" name="peep" />
      <input type="submit" name="submit_peep" value="Submit Peep" />
    </form>
  </body>
</html>
