<h1>Create a new post!</h1>
<form class="" action="/posts" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="body" placeholder="Post">
  <input type="submit" name="Post" value="Post">
</form>
