<!DOCTYPE html>
  <head>
  </head>

<form action="/peeps/new" method="post">
  <label for="message">
    Peep:<input type="text" name="message">
  </label>
  <input type="submit" name="peep" value="Peep" />
</form>

</html>
