<form action='/' method="post">
  Username: <input name='username' type='text' value='<%= @user.username %>'>
  Email: Email: <input name='email' type='text' value='<%= @user.email %>'>
  Password: <input type="text" name="password">
  Confirm Password: <input type="text" name="confirm_password">
  <input type="submit" value="Register">
</form>
