  <h1>Sign up to Chitter!</h1>
  <form action='/users' method='post'>
      Name:<input type='text' name='name'><br>
      Username:<input type='text' name='username'><br>
      Email Address:<input type='email' name='email_address'><br>
      Password:<input type='password' name='password'><br>
      Password Confirmation:<input type='password' name='password_confirmation'><br>
    <input type='submit' value='Sign Up!'>
  </form>
