<h3> Please write your message </h3>

<div id="post_peep">
<form action='/peeps' method='post'>
  <label for="peep"> Message: </label>
  <input type="text" name="peep" placeholder="Write your message here">
  <input type="submit" value="Post">
</form>
</div>
