<h1>Please sign up</h1>

<div id="user-signup">
  <form action="/users/welcome" method="post">
    User Name: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign up">
  </form>
</div>