<form action="/peeps" method="post">
  <input type="text" name="peep" id="text"/>
  <input type="text" name="username" id="username"/>
  <input type="text" name="name" id="name"/>
  <button type="submit">Post</button>
 </form>
