 <form action="/peeps" method="post">
   Message <input type="text" name="text" id="text"/>
   Username <input type="text" name="username" id="username"/>
   Name <input type="text" name="name" id="name"/>
   <button type="submit">Post</button>
  </form>
