<div class="container-fluid text-center">
  <h2>Create a new peep!</h2>
  <% if current_user %>
    <form class="" action="/posts" method="post">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="body" placeholder="Post">
      <input type="submit" name="Post" value="Post">
    </form>
  <% else %>
    <p>You haven't logged in - <a href="/sessions/new">go to sign in page</a></p>
  <% end %>
</div>
