<h2>Add new peep</h2>

<form action="/submit_peep" method=post>
  <input type="text" name="content" value="Enter your peep" required>
  <input type="submit" value="Submit">
</form>

<form action="/peeps">
  <input type="submit" value="Peeps">
</form>

<form action="/">
  <input type="submit" value="Homepage">
</form>
