<body class = "container">
<h1>Chitter - Please sign up for your FREE account</h1>

<form action='/users' method='post'>
  Email: <input name='email' type='text' placeholder='email'>
  Name: <input name ='name'  type='text' placeholder='name'>
  Username <input name='username' type='text' placeholder='username'>
  Password: <input name='password' type='password' placeholder='password'>
  <input type='submit' value='Sign up'>
</form>

</body>
