<form action="/" methdod="post">
  <h2>"Email"</h2>
    <input type="text" name="email" value="Enter you eamil">
  <h2>"Password"</h2>
    <input type="password" name="password">
  <h2>"Password Confrimation"</h2>
    <input type="password" name="password_confirmation">
</form>