<!DOCTYPE hmtl>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
  <div class='container'>
    <div class='inputs'>
      <form id='signup' class='form' action='/peeps' method='post'>

        <input id="type-peep" type='text' name='peep' placeholder="Type your peep">
        <input id="submit-peep" class="download" type='submit' value="Peep">
        
      </form>
    </div>
  </div>
</body>
</html>
