<!DOCTYPE=html>
<html lang="en">
  <title>Post new Peep</title>
  <h1>New Peep</h1>
  <form action="/peeps/new" method="post">
    <textarea name='message' placeholder="Write your Peep here..." rows="4" cols="50"></textarea>
    <input type='submit' value='Peep!'>
  </form>
</html>
