<h1> Compose a tweet </h1>

<form action='/twitter' method='POST'>
  <label for='message'>
    Message:
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Post tweet'>
</form>
