<h1>Sign up</h1>

<form action="/submit_registration" method=post>
  E-mail address:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br>
  Confirm password:<br>
  <input type="password" name="confirm_password"><br>
  Name:<br>
  <input type="text" name="name"><br>
  Username:<br>
  <input type="username" name="username"<br>
  <input type="submit" value="Submit"><br>
</form>
