<form action="/cheeps/new"  method = "POST">
 <input type = "text" name = "cheep">
 <input type = "submit" value ="send cheep!">
</form>

<form action= "/cheeps" method = "GET">
 <input type = "submit" value = "visit feed">
</form>
