<h1>Create New Peep</h1>

<form action="/peeps" method="POST">
  <input type="text" name="body" placeholder="Peep">
  <input type="text" name="user" placeholder="User">
  <input type="submit" value="Peep this">
</form>