<img src="/images/chitter.png" height=100 />
<h1> Welcome back Jamie Lem! </h1>

<form action = '/peep_post' method = 'post'>
  <label for='Subject'>
    Subject
  <input type = 'text' name = 'Subject'>
  <label for='peep_message'>
    Peep Peep!
  <input type = 'text' name = 'peep_message'>
  <label for='Peep away!'>
  Ready to Peep??
  <input type = 'submit' value = 'Peep away!'>
</form>
