<h1>Write a new peep</h1>
<h4>Express yourself in 120 characters or less</h4>

<form action="/new_peep" method='post'>
  <textarea name="new_peep" cols="40" rows="5" maxlength="120">
  </textarea>
  <input type="submit" value='Post'>
</form>
