<% if current_user %>
  <form action='/messages/new' method='post'>
    Message: </br>
    <textarea name='message' rows='4' cols='36'></textarea> </br>
    <input type ='submit' value='Peep'>
  </form></br>
  <form method='get' action='/messages'>
    <input type='submit' value='cancel'>
  </form>
<% else %>
    <p> Please sign in </p>
<% end %>
