<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <form action='/messages' method="post">
      <label for='title'> Title: <input type='text' name='title'></label>
      <label for='content'> Message: <input type="text" name='content'></label>
      <input type='submit' value='Submit'>
    </form>

  </body>

</html>
