<html>
  <h1>Chitter</h1>

  <form action="/peeps" method="post">
    <label>Enter your message</label>
    <input type="text" name="message" placeholder="Message"/>
    <input type="submit" value="Post peep"/>
  </form>
</html>
