<body style="background: url(https://i.ytimg.com/vi/YrddaP6ml1M/maxresdefault.jpg); background-size: 100%;">
<form action='/peeps' method='post'>
  <label for="peep" >Please write your peep:
    <input type="text" name="peeps"/>
  </label>
    <input type='submit' value="Send"/>
</form>
</body>
