<h2> New Post </h2>
<%= flash[:errors] %>
<form action="/posts" method="post">
  <div class="form-group">
    <input type="text" name="message">
    <input class="btn btn-primary" type="submit" value="Post">
  </div>
</form>
