<body>
  <h1>Sign up to Chitter!</h1>
  <form action='/user/registered' method='post'>
      Name:<input type='text' name='first_name'><br>
      Username:<input type='text' name='username'><br>
      Email Address:<input type='email' name='email_address'><br>
      Password:<input type='password' name='password'><br>
    <input type='submit' value='Sign Up!'>
  </form>
</body>