<h1>Sign up</h1>

<form action="/user" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirm Password">
  <input type="submit" value="Sign up">
</form>