<form action='/add_peep' method="post" id="peep_form">
  <div>Peep a new peep</div>
  <% if flash[:peep_too_long] %>
    <div class="form_error">A peep can be no more than 200char</div>
  <% end %>
  <div><textarea name='peep_text' placeholder="Peep Text"></textarea></div>
  <div><input type='text' name='tags' placeholder="Tags"></div>
  <button type ='submit' value='peep'>Peep!</button>
  <div id="logout_link">you're signed in as <%= @user %>,<a href="/logout">click here to log out</a></div>
</form>
