<DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>New peep</title>
  </head>
  <body>
  <style>
    body {
      background: #1ac59a
      }
    h3, p {
      font-family: "Raleway", sans-serif
    }

  </style>

  <form action="/peeps" method="post">
    <h3> Post a peep </h3>
      <textarea type="text" name="message" rows="10" cols="50" >
      </textarea>
    </label>
    <input type="submit" value="Post">
  </form>

</body>
</html>
