<h1>Please sign up</h1>

<form action='/users' method='post'>
  Name: <input type='text' name='name'>
  Email: <input type='text' name='email'>
  Username: <input type='text' name='username'>
  Password: <input type='password'name= 'password'>
  <input type='submit' value='Sign up'>
</form>