<form action= "/users/new" method= "post">
  <input type= "text" name= "full_name">
  <input type= "text" name= "username">
  <input type= "text" name= "email">
  <input type= "password" name= "password">
  <input type= "submit" value= "Sign up">
</form>
