<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Peep</title>
  </head>
  <body>
    <h1>Write a cool message to take a lot of Likes!</h1>
    <form action="/peep" method="post" >
      <input type="text" name="message">
      <input type="submit" value="Post">
    </form>
  </body>
</html>
