<form action="/new" method="post">
  <h1>Submit your peep</h1>

 <!--  <div>
    <label for="user">User</label>
    <br>
    <input type="text" id="user" name="user">
  </div>
  <br> -->
  <div>
    <label for="peep">Peep</label>
    <br>
    <textarea id="peep" name="text"></textarea>
  </div>
  <br>
  <div class="button">
    <button type="submit" value="submit">Peep!</button>
  </div>
</form>