<h1>New Peep</h1>
<form action='/peeps' method='post'>
  <label for='words'>Peep &nbsp;&nbsp;</label>
    <input type='text' name='words' />
    <input type='hidden' name='email' value='<%= current_user.email %>'/>
  <input type='submit' value='Peep'>
</form>
