<div>
  <form action='/users' method='post'>
    Email: <input type="text" name="email"><br>
    Name: <input type="text" name="name"><br>
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Sign up">
  </form>
</div>