<form action='/users' method='post'>
  Username: <input type="text" name="username">
  E-mail: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
