
  <section class="row-alt">
    <div class="lead container">
      <h1>Password Reset</h1>
    </div>
  </section>

  <section class="row">
    <div class="grid">

      <form class="col-1-3" action='/users/token_sent' method='post'>
        <fieldset class="register-group">

          <label>
            Enter your email
            <input type='email' name='email'>
          </label>

        </fieldset>

        <input class="btn btn-default" type='submit' value='reset password'>

      </form>

    </div>
  </section>

  <footer class="primary-footer container group">
    <small>&copy; Chitter</small>

    <nav class="nav">
      <ul>
        <li><a href="/sessions/new">Sign in</a></li><!--
        --><li><a href="">Sign out</a></li><!--
        --><li><a href="/users/new">Sign up</a></li>
      </ul>
    </nav>

  </footer>
