<form action="/recover-password" method="post">
   <label for="email"> Please enter your email address:
     <input type="email" name="email" required>
   </label>
    <input type="submit" value="Submit">
</form>
