Please enter your email

<form action='/users/token_sent' method='post'>
  <label for='email'> Enter your email</label>
  <input type='email' name='email'>
  <input type='submit' value='reset password'>

</form>
