<div>
<h1>Chitter</h1>
</div>
<div>
  <form action='/peeps' method='post'>
    <input type='text' name='content' placeholder="What's happening today?"> 
    <input type='submit' value='Peep'>
  </form>
</div>
