<h1>Peep your message!</h1>
  <form action='/peep' method='POST'>
    <div>
      <label>
      peep
      <input type='text' name='peep'/>
    </label>
    </div>

    <div>
      <input type='submit' value='Submit'/>
    </div>

  </form>
