<h1> Add a peep </h1>
<form action='/new_peep' method='post'>
  <label for='peep_user'>
    User: <input name='peep_user' type='text'>
  </label>
  <label for='message'>
    Message: <input name='message' type='text'>
  </label>
  <input type='submit' value='Add'>
</form>
