<html>
  <head>
    <title> What's on your mind?</title>
  </head>

  <body>
    <div>
    <ul>
      <%@peeps.each do |peep|%>
      <li><%=peep%></li>
      <%end%>
    </ul>
    </div>
  </body>
</html>
