<% if current_user %>


  <form action="/peeps" method="post">
    Enter Peep: <input type="text" name="peep">
    <input type="submit" value="Add peep">
  </form>
<%else%>
  <p><a href='/'>Return Home</a></p>
<% end %>

<main>
  <ul>
    <% @peep.each do |peep| %>
      <li>
        <a class="peep"><%= peep.peep %>
          <br>
          <div class="user_entry">
            By: <%= peep.user.name%>
            User Id: <%= peep.user.user_name %>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</main>
