<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>TinyBlogger | New Post</title>
  <link href="/css/stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <script src="js/jquery-3.2.0.js"></script>
  <script type="text/javascript" src="js/tweet_char_counter.js"></script>
</head>

<body>
<form action='/' method='post'>
  <fieldset>
    <legend>Post a Peep!</legend>
    <p>
      <label for='body'>
        <textarea id="text" name='body' rows="6" cols="40" placeholder="Your peep here..."></textarea>
        <div id="chars" class="chars">140</div>
      </label>
    </p>
    <input type='submit' value='Peep!'>
  </fieldset>
</form>
</body>

</html>