<li class='peep'> 
    <b> 
    <span class='date'>
      At <%= peep.timestamp.strftime("%d %b %l:%M %p")if peep.timestamp != nil%>
    </span>
    <span class='author'>
      <%= peep.user.username.capitalize%> said:
    </span>
    </b>
    </p>
    <br>
    <p>
    <span class='text'>
      <%= peep.text%> 
    </span>
    </p>
  
</li>