<h1>Peeps Page </h1>

<% if @username %>
Welcome back <%= @username %>
<form method='post' action='/logout'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Sign out'>
</form>

<form method='post' action='/peeps'>
  <input type='text' name='message'>
  <input type='submit' value='Peep!'>
</form>
<% else %>
You're not logged in
<% end %>

<div id='peeps'>
</div>
