<li class='link'>
  <a class='title' href="<%= peep.name %>"><%= current_user %></a>
  <div class='description'>

  </div>
  <span class='source'>
    added yesterday by
    <a href="#">kev</a>
  </span>
</li>