<div>
	<h1>Write a peep</h1>
		<form action="/peep" method="post">	
			<label>Your peep</label>
			<p><p>
			<textarea id="peep_content" name="peep_content" placeholder="Share your thought...." required></textarea>
			<Br>
			<input type="submit" name="post" class="button" value="Post">
			<a href="/peeps" name="cancel" class="button">Cancel</a>
		</form>
</form>
</div>