<html>
  <head>
    <title>Welcome to Chitter!</title>
  </head>
  <body>
    <h2>Welcome to Chitter!</h2>
    <form action="/peeps/post" method="POST">
      Peep:
      <br>
      <textarea name="message" maxlength="140" placeholder="Type your peep here..." required></textarea>
      <br>
      <input type="submit" value="Post">
    </form>
  </body>
</html>
