<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Thought Stream | New Post</title>
  <link href="/css/stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>

<body>
<form action='/' method='post'>
  <fieldset>
    <legend>Post a Peep!</legend>
    <p>
      <label for='body'>
        <textarea name='body' placeholder="Your peep here..."></textarea>
      </label>
    </p>
    <input type='submit' value='Peep!'>
  </fieldset>
</form>
</body>

</html>