<% if @user %>
  <form method='get' action='/sign_out'>
    <input type='submit' value='Sign out'>
  </form>
  <h1>Welcome, <%= @user.name %>!</h1>
  <h2>Username: <%= @user.username %></h2>
  <h2>E-mail: <%= @user.e_mail %></h2>
  <h1> Add a new peep </h1>
  <form method='post' action='/peep'>
    <input tupe='text' name='new_peep'>
    <input type='submit' value='Add'>
  </form>
<% else %>
  <h1>Welcome to Chitter!</h1>
  <h3>Please, sign in to peep.</h3>
  <a href='/sign_up'>Sign up</a>
  <a href='/sign_in'>Sign in</a>
<% end %>

<h1>What's happening now:</h1>
<ul>
  <% @peeps.each do |peep| %>
  <li><%= peep.name %></li>
  <% end %>
</ul>
