<h1>My peeps:</h1>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      <h2> <%= peep.content %> </h2>
          <h4>...peeped at <%= peep.created_at.strftime("%H:%M, %d %B") %></h4>
    </li>
  <% end %>
</ul>
