<!DOCTYPE=html>
<html lang="en">

  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h1>Welcome to Chitter<%= ", #{@user.username}!" if @user %> </h1>
    <form action="/peeps/new" method="get">
      <input type='submit' value='New Peep!'>
    </form>
    <h2>Peeps</h2>
    <ul id='peeps'>
      <% @peeps.sort_by(&:created_at).reverse.each do |peep| %>
      <li>
        <%=peep.user.username %> peeped on <%= peep.created_at.strftime(Chitter::TIME_STAMP_FORMAT) %>: <br>
        <%= peep.message %>
      </li>
      <br>
      <% end %>
    </ul>
  </body>

</html>
