<h1> Recent peeps... </h1>

    <% @peep.reverse.each do |peep| %>
      <li>
        <%= peep.peep %>
        <em><%= Time.now %></em>
      </li>
    <%end%>

  <form action='/peeps/new'>
    <input type='submit' value='Compose new peep!'>
  </form>
