<h1> Recent peeps... </h1>

    <% @peep.each do |peep| %>
      <li>
        <%= peep.peep %>
      </li>
    <%end%>

  <form action='/peeps/new'>
    <input type='submit' value='Compose new peep!'>
  </form>
