<div id="peeps">
  <% @peeps.sort_by(&:created_at).reverse.each do |peep| %>
    <p><%= peep.message %></p>
    <p><i><%= peep.created_at.strftime('%F %T') %></i></p>
  <% end %>
  <% if @peeps.empty? %>
    <p><i>not a peep to be heard</i></p>
  <% end %>
</div>
