<% if @user %>
  <h1>Welcome,<%= @user.name %> (<%= @user.email %>)</h1>
<% end %>
<h1>Peeps feed</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peep_text %> <sub>Updated at: <%= peep.time%></sub></li>
  <% end %>
</ul>
