<form id="peep_form" action="/" method="POST">
<label for:"name">Name: </label>
<input type="text" name="name"></input>
<h3><label for:"peep">What do you want to say?</label></h3>
<p><textarea rows="4" name="peep" form="peep_form" placeholder="Chirp away, little Chitterbug...">
</textarea></p>
<input type="submit" value="Submit">
</form>
