<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>
        <%= @username.capitalize %>'s Dashboard
      </h1>
    </header>
    <main>
      <section class="navbar">
        <nav>
          <a href="/">Timeline</a> |
          <a href="/peeps/new">New Peep</a>
        </nav>
      </section>
    </main>
  </body>
</html>