<%= @all_peeps %>

<% if @user_logged_in %>

<form action='/users/homepage' type='get'>
  <input type='submit' value='Homepage'>
</form>

<% else %>

<form action='/users' type='get'>
  <input type='submit' value='Sign In to Peep'>
</form>

<% end %>
