<h1>Welcome to Chitter, <%= current_user.first_name %>!</h1>

<form action= "peeps/new" method= "get">
  <input type= "submit" value= "Compose New Peep">
</form>

<ul id = peeps>
  <% Peep.all.each do |peep| %>
    <li>
      <%= peep.message %>
    </li>
  <% end %>
</ul>
