<h2>Newsfeed</h2>

<ul>
    <% @peeps.each do |peep| %>
    <li>
      <%= peep.peep %> (<%=peep.time%>)
      </li>
    <% end %>
  </ul>

<form action="/add_peep" method="post">
  <label for="peep">
    <h4>New peep:</h4>
  </label>
  <input type="text" name="peep">
  <input type="submit" value="Post">
</form>
