<div>
  <form id='new_peep_form' action="/peeps" method="post">
    <textarea name="peepbody" form="new_peep_form" maxlength="140" required rows="4" cols="50"></textarea>
    <input type="submit" value="submit">
  </form>
</div>
