<form aciton='/peep' method='post'>

  <div>
    <textarea name="message" cols=50 rows=20>Peep! Peep! Peep!
    </textarea>
  </div>
  <br>
  <input id="submit_button" type="submit" value="SUBMIT">

</form>
