<div id='peepform'>
  <form action='/' method='post'>
    <p>Enter your peep (max 140 characters):</p>
    <p><textarea name='message' rows='2' cols='70' maxlength='140'
        style='resize:none; font-family:monospace'></textarea></p>
    <p><button type='submit'>Peep</button></p>
  </form>
</div>
