<h1> Peeps </h1>

<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <p>Peep: <%= peep.message%></p>
      <p>Posted at: <%= peep.created_at %></p>
      <p>Posted by: <%= User.first(peep.user_id).name %> (<%= User.first(peep.user_id).username %>)</p>
    </li>
  <% end %>
</ul>
