<h2>Welcome <%= @user.username %> </h2>
<h3>Newsfeed</h3>
<ul>
  <% @peeps.each do |peep| %>
    <li>
    <% @users.each do |user| %>
    <% if user.id == peep.user_id %>
     <%= user.name %> says: <%= peep.peep %> (<%=peep.time%>)
    </li>
    <% end %>
    <% end %>
  <% end %>
</ul>

<form action="/add_peep" method="post">
  <label for="peep">
    <h4>New peep:</h4>
  </label>
  <input type="text" name="peep">
  <input type="submit" value="Post">
</form>

<form action="/logout" method="post">
<input type="submit" value="Logout">
</form>
