<% @peeps.reverse.each do |peep| %>
  <article class = "comment">
    <div class="panel panel-default">
      <div class="panel-body">
      <%= peep.message %></br><%= peep.created_at.strftime("%H:%M") %>
      <%= peep.created_at.strftime("%g %h") %>
      </div>
    </div>
  </article>
<% end %>
