<html>
  <h2>PEEPS</h2>

  <form method="get" action="/new_peep">
    <input type="submit" value="Create a peep" />
  </form>

  <ul>
    <% @peeps.reverse.each do |x| %>
    <li>
      <%= x.time %>
      <%= x.peep %>
    </li>
    <% end %>
  </ul>

</html>
