<center><h1>Peeps</h1>

<ul id="peeps" style="list-style-type:none">
  <% @peeps.sort{|x,y| x.time <=> y.time}.reverse.each do |peep|%>

      <li><b>User:</b> <%= peep.name %></li>
      <li><b>Time:</b> <%= peep.time %></li>
      <li><%= peep.content %></li>
  <% end %>
</ul>



<% if current_user %>
  Fancy posting a peep of your own, <%= current_user.username %>?

  <div name="Post peep">
    <form action="/postpeep" method="post">
      <input type="text", name="peep">
      <input type="submit", value="Post Peep">
    </form>
  </div>
<% end %>
</center>
