<html>
  <head>
  </head>
  <body>
    <h1>Peeper</h1>
    <form action='/profile/peep' method='post'>
      <input type='text' name='peep' />
      <input type='submit' value='Peep!' />
    </form>

    <a href='/profile'>Back to profile</a>
  </body>
</html>
