<html>
  <head>
    <title>Welcome to Chitter!</title>
  </head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <form action="/peeps" method="POST">
      Message:<br>
      <textarea name="message" maxlength="140" placeholder="Type your message here..."></textarea><br>
      <input type="submit" value="Post">
    </form>
  </body>
</html>
