
<h1 style="margin-bottom: 0;">Chitr chatter:</h1>
<h3 style="margin-top: 0;"><em>It's sweet to peep</em></h3>
<br>

<% if current_user %>
  <form action="/peeps/new" method="post">
    <input type="text" name="message"
    placeholder="Your message here" required/>
    <input type="submit" value="Peep!"/>
  </form>
  <br>
<%end%>

<% unless Peep.all.empty? %>
  <% Peep.all.reverse.each do |peep| %>
    <div class="peep-div">
      <em style="font-size: 10pt;"><%= peep.handle %></em><br>
      <b style="font-size: 10pt;"><%= peep.author %></b> peeps:
      <hr style="border-color:grey; margin: 5px 0 5px 0; width:70%">
      <p style="font-size: 14pt; margin-bottom:0;">"<%= peep.message %>"</p>
      <hr style="border-color:grey; margin: 5px 0 5px 0; width:70%">
      <p style="font-size: 10pt;margin-bottom:20px;"><%= peep.format_time %></p>
    </div>
  <% end %>
<% end %>
