<html>
  <head>
    <title> What's on your mind?</title>
  </head>

  <body>
   <%# <p> "You can see me, right? Add a peep!"</p> %>
    <article>
    <ul>
      <%@peeps.each do |peep|%>
      <li><%=peep%></li>
      <%end%>
    </ul>
    </article>
  </body>
</html>
