See Peeps by tag:
<form method='post' action='/tags'>
Sort by Tag: <input type='text' name='chosen_tag' placeholder= 'choosen tag'>
<input type='submit' id='save' value='Show Peeps'>
</form>

<html>
  <ul>
    <% @peeps.each do |peep| %>
    <li> <%= peep.name %> <%=peep.tags.map { |tag| tag.name }%> </li>
    <% end %>
  </ul>
</html>
