<% if Peep.count > 0 %>
  <% peeps = Peep.all(order: [:id.desc]) %>
    <% peeps.each do |peep| %>
      <div class='peep'>
        <%= peep.peep %><br>
        <div class='peeped_by'> <em> Posted by User: <a href='/users/<%= peep.user.id %>'><%= peep.user.username %></a> Real name: <%= peep.user.name %> </a></em> </div>
      </div><br>
  <% end %>
<% end %>