<%= "Welcome, #{current_user.real_name}!" %>

<h1>Chitter chatter:</h1>
<h3><em>The wall of peeps</em></h3>
<br>

<form action="#" method="post">
  <input type="text" name="peep_message" placeholder="Your message here" required/>
  <input type="submit" value="Peep!"/>
</form>
