<h1> Welcome, <%= @user_name %>,  <%= @user_handle %></h1>
<h2>Your peeps: </h2>
<div class="peep">
  <ul>
    <% @peeps.reverse.each{|peep|%>
      <li><div><span class="peep-text"><%= peep.peep_text %></span>
        - <%= peep.created_at.strftime("%A at  %H:%M") %></div></li>
    <% } %>
  </ul>
</div>
<div class="links">
  <a href="/peeps/new">Add another peep! </a>

  <a href="/users/new">Register for Chitter </a>
</div>
