<% @peeps.reverse.each do |peep| %>
</p><b>Maker: <%= peep.maker %> </b></p>
</p> sent on: <%= peep.created_at.strftime('%c') %></p>
</p> Peep: <%= peep.body %></p>
<% end %>
<p></p>
<p></p>
<p></p>

<form action='/links/new'>
<button type="submit" value='Add new link'>Add new link</button>
