
<% if current_user %>
<h1>Welcome to Chitter, <%= current_user.first_name%>!</h1>

<form action= "/peeps/new" method= "get">
  <input type= "submit" value= "Compose New Peep">
</form>

<form action= "/sessions" method= "post">
  <input type="hidden" name="_method" value="delete">
  <input type= "submit" value= "Sign out">
</form>
<% end %>

<ul id = peeps>
  <% @peeps.each do |peep| %>
    <li>
       <%= peep.message %>
       <%= peep.user.username %> posted on <%= peep.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
    </li>
  <% end %>
</ul>
