<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Chitter</h1>
        <% if current_user %>
          <h2>Welcome, <%= @current_user.email %></h2>
        <% end %>
      </div>
        <div id="centerColumn">
          #will be the list of peeps in reverse chronological order
        </div>
        <div id="footer">
          Developed by <a href="https://github.com/keomony" target="_blank">@keomony</a>
        </div>
    </div>
  </body>
</html>
