<h2> welcome to peeper </h2>

<form action="/new-peep" method="get">
  <button type="submit" value="new_peep">Post a peep</button><br>
</form>

<ul id="peeps">
  <% @peeps.reverse.each do |peep| %>
    <li>
      <%= peep.body %> <br>
      by: <%= peep.author %> <br>
      at: <%= peep.created_at %> <br>
    </li>
  <% end %>
</ul>
