<% if current_user %>
<div id="new-peep">
  <form action="/peeps" method="post">
    Peep: <input type="text" name="peep">
    <input type="submit" value="Add peep">
  </form>
</div>
<%=else%>
  <p><a href='/sessions/new'>Return Home</a></p>
<% end %>

<main>
  <ul>
    <% @peep.each do |peep| %>
      <li>
        <a class="peep"><%= peep.peep %>
          <br>
          <%t = peep.entry_time%>
          <div class="user_entry">
            By: <%= peep.user.email%>
            At: <%= t.strftime "%Y-%m-%d %H:%M:%S" %>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</main>
