<html>
  <head>
    <title> What's on your mind?</title>
  </head>

  <body>
    <% if @user %>
    <h3>Welcome, <%= @user.name%>!</h3>
    <% end %>
    <article>
    <ul>
      <%@peeps.each do |peep|%>
      <li><%="@#{@user.username}: #{peep.content} (#{peep.time})"%></li>
      <%end%>
    </ul>
    </article>
    <article>
     <form action='/peeps/new'>
      <input type='submit' value='Create a peep!'/>
     </form>
   </article>
  </body>
</html>
