<h1>Peeps</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.body %> <br>
      <%= peep.created_at.strftime("peeped %d/%m/%Y %H:%M") %>
    </li>
  <% end %>
</ul>


<form action="/peeps/new">
  <input type="submit" name="add_peep" value="Add peep">
</form>
