<h1> Post a peep</h1>
<section class='post'>
<form action='/session/peep' method='post'>
  <textarea cols='50' rows='3' name="content"placeholder="Write your peep here - 140 characters" required></textarea>
  <input type="submit" class='peep' value="Post peep">
</form>
</section>
