<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Post a peep</h1>
    <form action="/post_peep" method="post">
      <label for="message">Message: </label>
      <input type="text" name="message">
      <label for="username">Username: </label>
      <input type="text" name="username">
      <label for="email">Email: </label>
      <input type="text" name="email">
      <input type="submit" value="submit">
    </form>
    <a href="/sign_up">Sign up!</a>
  </body>
</html>
