<h1> Messages </h1>

<form action = "/messages" method = "POST">
  <label for= "message content"> Message content:</label>
  <input type="text" name="content" >
  <input type = "submit" value = "Send message">
  </form>
