<h1>Chitter</h1>
<h2>Hello: <%=current_user%></h2>
<% @posts.each do |post| %>
<h3><%=post.title%></h3>
<p><%=post.body%></p>
<p><%=post.inception.strftime("Posted at %H:%M:%S on %d-%m-%Y")%></p>
<% end %>
<form action="/signup/new">
  <input type="submit" value="Sign Up">
</form>
