<h1>Chitter posts</h1>

<!-- <ul id='users'>
	<% @users.reverse_each do |user| %>
	<div class="post_container">
		<div class="user_container"><li>User: <%=%></li></div>
	</div>
	<%end%>
</ul> -->
<ul id='peeps'>
	<% @peeps.reverse_each do |peep| %>
	<div class="post_container">
		<div class="user_container"><li>User: <%=peep.users.map(&:name).to_s.gsub('[','').gsub(']','').gsub('"','')%></li></div>
		<div class="peep_container"><li>Peep: <%=peep.text%></li></div>
		<div class="time_container"><li>Posted at: <%=peep.created_at.to_s.gsub(/[T]/,' ')[10, 6]%></li></div>
	</div>
	<br>
	<%end%>
</ul>