<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
		<% @peeps.each do |peep| %>
			<li><%= peep.message %></li>
			<br/>
			<br/>
		<% end %>
	<br/>
	<br/>
	<br/>
    <form action="/" method="post">
			<label for="peep_message">Enter your peep:</label>
      <input type="text" name="peep_message">
			<input type="submit" value="Post" />
    </form>

</body>
</html>