<h1>What would you like to say?</h1>

<form action='/post-peep' method='post'>
  <label for='contents'>
  <input name='contents' type='text'>
  </label>
  <input type='submit' value='Peep-peep!'>
</form>
