  <div class="col-md-9">
    <div id='post_peep'>
      <form action='/peep/new' method='post'>
        <h3> Post a peep! </h3>
        <textarea name='post_peep' placeholder='What are you thinking?'></textarea>
        <input type='submit' value='Peep!' class="btn">
        </form>
    </div>
  </div>