<form action="/peep" method="post">
  <label for="message"> Welcome <%= self.current_user.name %> Please enter your peep</label>
  <input type="text" name="message">
  <input type="submit" value="Submit">
</form>
