
<div class="container-fluid">
<% @posts.each do |post| %>
  <h3><%=post.title%></h3>
  <h4>Posted by <%= post.user %></h4>
  <p><%=post.body%></p>
  <p><%=post.inception.strftime("Posted at %H:%M:%S on %d-%m-%Y")%></p>
<% end %>
<form action="/signup/new">
  <input type="submit" value="Sign Up">
</form>
<% if current_user %>
<form  action="/posts/new">
  <input type="submit" value="New Peep!">
</form>
<% end %>
</div>
