<h1>Chitter</h1>
<% if !current_user %>
  <h2>You are not logged in</h2>
<% else %>
  <h2>Logged in as <%=current_user.username%></h2>
<% end %>
<% @posts.each do |post| %>
  <h3><%=post.title%></h3>
  <p><%=post.body%></p>
  <p><%=post.inception.strftime("Posted at %H:%M:%S on %d-%m-%Y")%></p>
<% end %>
<form action="/signup/new">
  <input type="submit" value="Sign Up">
</form>
