<h1>Post message<h1>

  <form action='post_tweet' method='post'>
    <!-- <label for='message'> -->
   <textarea name='message' cols="25" rows="7"></textarea>
    <!-- </label> -->
    <input type='submit' value='submit'>
  </form>
