<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChitterChatter</title>
    <meta name="description" content="ChitterChatter" />
    <meta name="author" content="Codrops" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/set1.css" />
  </head>
  <body>
    <div class="container">
      <!-- Top Navigation -->
      </header>
      <div class="content">
        <div class="grid">
          <figure class="effect-honey">
            <img src="images/sea.jpg">
            <figcaption>
              <h2><span>Chitter</span> <i>Chatter</i></h2>
              <a href="#">View more</a>
            </figcaption>
        </div>
      </div>
</body>
</html>