<h1>Please register for an account</h1>

<form action='/register' method='post'>
  <label for="name"> Name:
    <input type="text" name="name" required>
  </label><br>
  <label for="username"> Username:
    <input type="text" name="username" required>
  </label><br>
  <label for="email"> Email:
    <input type="email" name="email" required>
  </label><br>
  <label for="password"> Password:
    <input type="password" name="password" required>
  </label><br>
  <label for="password_confirmation"> Confirm password:
    <input type="password" name="password_confirmation" required>
  </label><br>
  <input type="submit" value="Register">
</form>
