<h2> Register </h2>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p>*<%= error %></p>
  <% end %>
<% end %>

<form action="/users" method="post">
  <div class="form-group">
    Name: <input type="text" name="name"><br>
    Username: <input type="text" name="username"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    Confirm password: <input type="password" name="confirm"><br>
    <input class="btn btn-primary" type="submit" value="Create Account"><br>
  </div>
</form>
