
<form action = "/register_user" method = "POST">
  <label for "New User"> Please enter user details: </label><br>
  Name:<br>
  <input type = "text" name = "name"><br>
  Email: <br>
  <input type = "text" name = "email"><br>
  <input type = "submit" value = "register">
</form>
