<!DOCTYPE html>
<html>
<head>
  </<head>
  <body>
    <h1>Login or create a new account</h1>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="Enter your email"/>
      <input type="text" name="name" placeholder="Enter your name"/>
      <input type="text" name="password" placeholder="Create a password"/>
      <input type="text" name="username" placeholder="Create a username"/>
      <input type="submit" value="Submit"/>
      </form>
    </body>
    </html>
