<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Chitter!</title>
</head>
<body>
  <h1>Register here</h1>
  <form action = '/registration' method = 'post'>
    <input type='text' name='username' value='username'/>
    <input type='text' name='email'  value='email'/>
    <input type="text" name="password" value="password"/>
    <input type='submit' value='Submit'/>
  </form>
</body>
</html>
