<html>
<body bgcolor="#81DAF5">
<p>New User <br>
  <form action="/users" method="POST">
    </label>
  <p><label for='name'>
    Name:
    <input type='text' name='name'/><br>
  </label>
  <label for='mail'>
    <p>Mail:
    <input type='text' name='mail'/><br>
  </label>
  <label for='password'>
    <p>Password:
    <input type='password' name='password' /><br>
  </label>
  <p>Password confirmation:
    <input type='password' name='password_confirmation' /><br>
  </label>
  <input type='submit' value='Sign up'>
</form>
</body>
</html>
