<head>
  <title>Register</title>
</head>

<strong><%= @message %></strong> <br />

<form action='/new_user' method='post'>
  <label for='input'> Name </label>
  <input type='text' name='name'>
  <br>
  <label for='input'> Email </label>
  <input type='text' name='email'>
  <br>
  <label for='input'> Password </label>
  <input type='password' name='password'>
  <br>
  <label for='input'> Handle </label>
  <input type='text' name='handle'>
  <br>
  <input type='submit' value='register'>
</form>