
<form action = "/register_user" method = "POST">
  <label for "New User"> Please enter user details: </label>
  <input type = "text" name = "name">
  <input type = "text" name = "email">
  <input type = "submit" value = "register">
</form>
