
<div id="login_form" class="form">
  <center>
    <h3 id="register_title" class="heading">Register New Account</h3>
    <form action="/register" method="post">
      <label for="name" class="form_label">name</label>
      <input type="text" name="name">
      <br />
      <label for="email" class="form_label">email</label>
      <input type="text" name="email">
      <br />
      <label for="username" class="form_label">username</label>
      <input type="text" name="username">
      <br />
      <label for="password" class="form_label">password</label>
      <input type="password" name="password">
      <br />
      <br />
      <input type="submit" value="Submit">
      <br />
      <br />
      <a href="/login">login to existing account</a>
    </form>
  </center>
</div>
