<form action="/account">
  Name:<br>
  <input type="text" name="name"><br>
  Email:<br>
  <input type="text" name="email">
  Username:<br>
  <input type="text" name="username">
  Password:<br>
  <input type="text" name="password">
  <input type="submit" value="Submit">
</form>