<!DOCTYPE html>
<html>
<head>
  </<head>
  <body>
    <h1>Login</h1>
    <form action="/" method="post">
      <input type="text" name="email" placeholder="Enter your email"/>
      <input type="text" name="name" placeholder="Enter your name"
      <input type="submit" value="Submit"/>
      </form>
    </body>
    </html>
