<head>
  <title>
    Sign Up
  </title>
  <div align='center'>
    <h1> Welcome to the cool club </h1>
  </div>
</head>

<body>
  <div align='center'>
    <form action="/registration/new" method='post'>
    Name:<br>
    <input type="text" name="name">
    <br>
    Email:<br>
    <input type="text" name="email">
    <br>
    Username:<br>
    <input type="text" name="username">
    <br>
    Password:<br>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="sign up">
  </form>
</div>
</body>