<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Register</title>
  </head>
  <body>
<div class="hero-bkg-animated text">
  <%= flash[:warning] %>

<form action="/register" method="post">
  <h3>Register to create a Chitter account</h3>
  <label for="name">
    <h4>Name:</h4>
  </label>
  <input type="text" name="name">
  <label for="username">
  <label for="email">
    <h4>Email:</h4>
  </label>
  <input type="text" name="email">
    <h4>Username:</h4>
  </label>
  <input type="text" name="username">
  <label for="password">
    <h4>Password:</h4>
  </label>
  <input type="text" name="password">
  <p>
  <input type="submit" value="Register" class="button">
</form>

<p>
<form action="/" method="get">
  <input type="submit" value="Sign in" class="button">
</form>
