<h3>Register New Account</h3>
<form action="/register" method="post">
  <label for="name">name</label>
  <input type="text" name="name">
  <br />
  <label for="email">email</label>
  <input type="text" name="email">
  <br />
  <label for="username">username</label>
  <input type="text" name="username">
  <br />
  <label for="password">password</label>
  <input type="password" name="password">
  <br />
  <br />
  <input type="submit" value="Submit">
  <br />
  <br />
  <a href="/login">login to existing account</a>
</form>
