<div class="wrapper">
  <div id="peep-form">
    <form action="/peeps" method="post">
      <input type="text" name="message" value='@<%=@username%>'>
      <input type="submit" value="Peep" class="button">
    </form>
  </div>
</div>
