<div class="jumbotron">
  <div class="col-xs-12" style="height:100px;"></div>
  <div class="transparent-grey">
    <br>
    <h1> Welcome to Pronto </h1>
    <% if !current_user %>
      <p> A cheap imitation of twitter </p>
      <p><a class="btn btn-primary btn-lg" href='/users/signup' role="button">Sign Up</a></p>
      <p><br></p>
    <% end %>
  </div>
</div>
