<div class="jumbotron">
  <div class="col-xs-12" style="height:100px;"></div>
  <div class="transparent-grey">
    <br>
    <h1> Welcome to PrestoPronto </h1>
    <h3> a cheap imitation of twitter </h3>
    <% if !current_user %>
      <p><a class="btn btn-primary btn-lg" href='/users/signup' role="button">Sign Up</a></p>
      <p><br></p>
    <% else %>
    <div class="col-xs-12" style="height:100px;"></div>
    <% end %>
  </div>
</div>
