<h1>Please sign in</h1>

<form action='/log_in' method='post'>
    Email: <input name='email' type='email'>
    Password: <input name='password' type='password'>
  <input type='submit' value='Sign in'>
</form>
