<div align="center">

<h1> Sign in </h1>

<form action="/sessions/new" method="post">
  <input type="username" name="username" id="username" />
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>

</div>