<h1> Peeps </h1>


<ul id="links">
  <% @peeps.each do |peep| %>
  <li>
    <%= peep.user.username %>: <%= peep.content %>
    -posted @:<%= (peep.time).strftime("%d-%m-%Y -- %H:%M:%S")%>
  </li>
  <% end %>
</ul>
