<h1 align= 'center'>
  Please sign in
</h1>

<form action='/log_in' method='post' align= 'center'>
  <div>
    Email: <input name='email' type='email'>
  </div>
  <div>
    Password: <input name='password' type='password'>
  </div>
  <input type='submit' value='Sign in'>
</form>
