<html>
  <head>
    <link href="<%= url("signin.css")%>" rel="stylesheet">
  </head>

  <h1>

  </h1>
  <div class= 'space'>
  </div>
  <body>
    <form action='/log_in' method='post'>
      <div class='topform'>
        Sign in.
      </div>
      <div>
        <input name='email' type='email' placeholder="email">
      </div>
      <div>
        <input name='password' type='password' placeholder="password">
      </div>
      <input class= 'submit' type='submit' value='Sign in'>
    </form>
  </body>
</html>
