<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
    <link rel='stylesheet' type='text/css' href='./css/style.css'>
  </head>
  <body>
    <div class='container'>
      <div id='button'>
        <a class='download' href='/peeps/new' class='button'>New Peep</a>
      </div>
      <ul id='peeps'>
        <% Peep.all.reverse.each do |peep| %>
          <li id='peep-item'>
            <h2><%= peep.body %></h2>
            <p>Created at: <%= peep.created_at.strftime("%I:%M %p")%>;
            By: <%= peep.name %>;
            User handle: <%= peep.username %></p>
          </li><hr>
        <% end %>
      </ul>
    </div>
  </body>
</html>
