<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
  </head>
  <body>
    <div class='container' id='show-peep' >
      <h1><%= @peep.last.body %></h1>
      <h2><%= @peep.last.created_at.strftime("%I:%M %p") %></h2>
      </br>
      <a class='download' href='/peeps/new' >New Peep</a>
      <a class='download' href='/all_peeps'>Show all peeps</a>
    </div>
  </body>
</html>
