<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>
  <body>
    <ul>
      <% Peep.all.reverse.each do |peep| %>
        <li>
          Peep: <%= peep.body %>;
          Created at: <%= peep.created_at.strftime("%I:%M %p")%>;
          By: <%= peep.name %>;
          User handle: <%= peep.username %>
        </li></br>
      <% end %>
    </ul>
    <a href='/peeps/new' class='button'>New Peep</a>
  </body>
</html>
