<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <ul>
      <% Peep.all.reverse.each do |peep| %>
        <li>
          <%= peep.body %>;
          <%= peep.created_at.strftime("%I:%M %p")%>
        </li></br>
      <% end %>
    </ul>
  </body>
</html>
