<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <ul>
      <% Peep.all.each do |peep| %>
        <li><%= peep.body %></li>
      <% end %>
    </ul>
  </body>
</html>
