<h1>Sign up</h1>

<form action="/submit_signup" method=post>
  <input type="text" name="email" value="E-mail address"><br>
  <input type="text" name="password" value="Password"><br>
  <input type="text" name="name" value="Name"><br>
  <input type="username" name="username" value="Username"><br>
  <input type="submit" value="Submit">
</form>
