<form action="/chitter/account" method="post">
  <div class="container">
    <h1>Sign up to Chitter</h1>
    <p>Please fill in this form to sign up</p>
    <hr>

    <label for="first_name"><b>First name</b></label><br>
    <input type="text" name="first_name" placeholder="Enter first name" required><br><br>

    <label for="last_name"><b>Last name</b></label><br>
    <input type="text" name="last_name" placeholder="Enter last name" required><br><br>

    <label for="username"><b>Username</b></label><br>
    <input type="text" name="username" placeholder="Enter username" required><br><br>

    <label for="email"><b>Email</b></label><br>
    <input type="text" name="email" placeholder="Enter email" required><br><br>

    <label for="email"><b>Password</b></label><br>
    <input type="text" name="password" placeholder="Enter password" required><br><br>

    <label for="email"><b>Confirm password</b></label><br>
    <input type="text" name="confirm_password" placeholder="Enter password again" required><br><br>

    <input type="submit" value="Submit">
  </div>
</form>
