<form action="/signupinfo" method="post">
  <label for="title">Email:</label>
  <input type="text" name="Email" />

  <label for="password">Password:</label>
  <input type="password" name="Password" />

  <label for="name">Name:</label>
  <input type="text" name="Name" />

  <label for="name">Username:</label>
  <input type="text" name="Username" />

  <input type="submit" name="submit" value="Submit" />
</form>
