<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h3>Create a new account now:</h3>
    <form  action='/' method='post'>
      <label for='user_name'>
        Username:
        <input type='text' name='user_name' />
      </label>
      <label for='user_email'>
        E-mail:
        <input type 'text' name='user_email' />
      </label>
      <label for='password'>
        Password:
        <input type='text' name='password' />
      </label>
        <input type='submit' value='Create user' />
    </form>
  </body>
</html>
