<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        color: white;
        background-color: lightblue;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
      <body>
      <h1><center>Sign Up</center></h1>

      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors below:
          <ul id='errors'>
            <% flash[:errors].each do |error| %>
              <li><%= error %></li>
              <% end %>
          </ul>
      <% end %>

      <form action='/users' method=POST>
        <center>
          <label for="user_email">
            Email:
          <input type="email" name="user_email" value="you@domain.com" required>
          </label><p>

          <label for="password">
            Password:
          <input type="password" required name="password" value="password">
          </label><p>

              <label for="password_confirmation">
                Password again :)
              <input type="password" required name="password_confirmation" value="password1">
              </label><p>

          <label for="user_full_name">
            Name:
          <input type="text" name="user_full_name" value="Firstname Surname">
          </label><p>

          <label for="user_name">
            Username:
          <input type="text" name="user_name" value="Needs to be unique" required>
          </label><p>

          <button type="submit" id="sign_up" name="sign_up">Sign Up
          </button>
        </center>
      </form>
    </body>
</html>
