<form action="/new_user" method="post">
  Username <input type="text" name="username"><br>
  Email <input type="text" name="email"><br>
  Password: <input type="password" name="password"><br>
  <button type="submit">Sign up</button><br>
</form>
