<h1>Sign-Up page</h1>

<form action='/chitters' method='post'>
<label for='email'>
  Name:
<input type='text' name='name' placeholder="enter name here">
 Email:
 <input type='text' name='email' placeholder="enter email here">
</label>
 <label for='password'>
   Password:
   <input type='text' name='password' placeholder="enter password here" >
 </label>
   <label for='password_confirmation'>
     Password confirmation:
     <input type='text' name='password_confirmation' placeholder="confirm password">
 </label>
 <input type='submit' value='submit'>
</form>
