<form action='/signup' method='post'>
  Email Address: <input type="text" name="email" value="email">
  Full Name: <input type="text" name="name" value="name">
  User Handle: <input type="text" name="username" value="username">
  Password: <input type="password" name="password" value="password">
  <input type="submit" name="Sign Up" value="Sign Up">
</form>
