<html>
  <form action="/user" method="post">
    <label>Enter email</label>
    <input type="text" name="email" placeholder="Email"/>
    <label>Enter name</label>
    <input type="text" name="name" placeholder="Name"/>
    <label>Enter username</label>
    <input type="text" name="username" placeholder="Username"/>
    <label>Enter password</label>
    <input type="text" name="password" placeholder="Password"/>
    <input type="submit" value="Sign up"/>
  </form>
</html>
