<div class="error"> <%= @error %>

<form id="sign-in" method="post" action="/sign-in">
Username:<br>
<input type="text" name="username"><br>
Password:<br>
<input type="text" name="password"><br>
<button type="submit" value="submit">Sign in</button>
</form>
