<head>
  <label>Sign Up to Chitter</label>
</head>
<body>
  <form action="/" method="POST">
    <label for="name">Name:</label>
      <input id="name" type="text" name="name" required>
    <label for="email">E-mail:</label>
      <input id="email" type="text" name="email" required>
    <label for="username">Username:</label>
      <input id="username" type="text" name="username" required>
    <label for="password">Password:</label>
      <input id="password" type="password" name="password" required>
    <input type="submit" value="Sign Up">
  </form>
</body>