<% if flash[:errors] && !flash[:errors].empty? %>
  Please use the suggestions below to proceed:
  <ul id='errors'>
    <%flash[:errors].each do |error|%>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action="/create_user" method="post" id="sign_up_form">
      Name
    <input name='name' type='text'>
      Email
     <input name='email' type='email'>
      User Name
    <input name='username' type='text'>
      Password
    <input name='password' type='password'>
    Password Confirmation
    <input name='password_confirmation' type='password'>
</form>

<button type="submit" form="sign_up_form" value="Create Account"> Create Account </button>
