<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/sign_up" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name">
      <label for="username">Username: </label>
      <input type="text" name="username">
      <label for="email">Email: </label>
      <input type="text" name="email">
      <label for="password">Password: </label>
      <input type="text" name="password">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
