<form action="/signup" method="post">
Email:  <input type="email" name="email" value='email' required>
Password:  <input type="password" name="password" value="password">
Re-Enter Password:  <input type="password" name="password_confirmation" value="password">

<input type="submit" value="Sign up">

</form>
