<form action="/signup" method="POST">
  <label for="username">
    <strong>Username</strong>
    <input type="text" name="username">
  </label>
  <br />
  <label for="password">
    <strong>Password</strong>
    <input type="text" name="password">
  </label>
  <br />
  <input type="submit" value="Sign up!">
</form>