<%= flash[:error] %>
<br><a href="/session/new">Sign in</a><br>

<form action="/users" method='post'>
  Name:<br>
  <input name="name" required aria-required=”true”><br>
  Email:<br>
  <input type="email" name="email" required><br>
  Username:<br>
  <input name="username" required aria-required=”true” pattern="[A-Za-z-0-9]+"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
