<form action="/signupinfo" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <label for="name">Name:</label>
  <input type="text" name="name" />

  <label for="username">Username:</label>
  <input type="text" name="username" />

  <input type="submit" name="submit" value="Submit" />
</form>
