<h1> Sign Up </h1>

<form action='/sign_up_complete' method='post'>
  <label for="name">
    Name:
    <input type="text" name="name" value="name">
  </label>
  <label for="email">
    Email:
    <input type="text" name="email" value="email">
  </label>
  <label for="username">
    Username:
    <input type="text" name="username" value="username">
  </label>
  <label for="password">
    Password:
    <input type="text" name="password" value="password">
  </label>
  <label for="password_confirm">
    Confirm Password:
    <input type="text" name="password_confirm" value="password_confirm">
  </label>
</form>
