<h2>Sign up<h2/>

  <form action='/new_user' method='post'>
    Name:<input type='text' name='name'><br>
    User name: <input type='text' name='user_name'><br>
    E-mail:<input type='text' name='email'><br>
    Password:<input type='password' name='password'><br>
    <input type='submit' value='submit'>
  </form>
