<form action='/user/signin' method='post'>
  <label for='username'>Username<br>
    <input type="text" name="username"><br>
  </label>
  <label for='password'>Password<br>
    <input type="text" name="password"><br>
  </label>

  <button type='submit'>Sign In</button>
</form>
