<center>
  <h1>Sign Up</h1>

  <form action="/sign_up" method="post">
      Name:
      <input type="text" name="name" required>
    <br>
      Username:
      <input type="text" name="username" required>
    <br>
      Email:
      <input type="email" name="email" required>
    <br>
      Password:
      <input type="password" name="password" required>
    <br>
      Confirm Password:
      <input type="password" name="password_confirmation" required>
    <br>
    <button type="submit">Sign up</button>
    <form/>
  </center>
