<form action="/sign_up" method="POST">
  handle:
  <input type = "text" name='handle'>
  Name:
  <input type = "text" name='name'>
  Email:
  <input type = "text" name='email'>
  Password:
  <input type = "text" name='password'>
  <input type="submit" value="signup">
</form>
