<form action='/user/signup' method='post'>
  <label for='username'>Name<br>
    <input type="text" name="name"><br>
  </label>
  <label for='username'>Surname<br>
    <input type="text" name="surname"><br>
  </label>
  <label for='username'>Email<br>
    <input type="text" name="email"><br>
  </label>
  <label for='username'>Username<br>
    <input type="text" name="username"><br>
  </label>
  <label for='username'>Password<br>
    <input type="text" name="password"><br>
  </label>

  <button type='submit'>Sign Up</button>
</form>
