
  <div class='sign_up'>
    <h2>Sign Up to Chitter</h2  >
    <form method = 'post' action = '/sign_up'>
      <label for="email">Email:</label>
      <input id='email' type='text' name='email'/></br></br>
      <label for="handle">Handle:</label>
      <input id='handle' type='text' name='handle'/></br></br>
      <label for="password">Password:</label>
      <input id='password' type='password' name='password'/></br></br>
      <label for="password_again">Password again:</label>
      <input id='password_again' type='password' name='password_again'/></br></br>
      <input id='submit' class='button' type='submit' value='Sign Up'/>
    </form>
  </div>
