<h1>Welcome to the registration page. please enter your info</h1>

<form action='/welcome' method='post'>
    <input type='text' name='username' placeholder="Username">
    <input type='text' name='email' placeholder="Email">
    <input type='text' name='password' placeholder="Password">
    <input type='text' name='confirm' placeholder="Password">
    <button type ='submit' value='register'>Register on this Awesome Site</button>
</form>
