<form action="/home" method="post">
  <label for="user_name">
  Enter username 
  <input type="text" name="user_name" maxlength="20">
  </label>
  <label for="name">
  Enter name
  <input type="text" name="name" maxlength="60">
  </label>
  <label for="email_address">
  Enter email
  <input type="text" name="email_address" maxlength="40">
  </label>
  <label for="password">
  Enter password
  <input type="text" name="email_address" maxlength="40">
  </label>
  <input type="submit" name="submit">
</form>