<center><h1> Sign in to Chitter </h1><br>
<form action="/user" method="post">
  <label for="user_name">
    User name <input type="text" name="user_name">
  </label><br><br>
  <label for="password">
    Password <input type="password" name="password">
  </label><br><br>
  <input type="submit" name="submit" value="Sign in">
</form></center>
