<center>

<h1> Create Your Chitter Account </h2>

<h2>
  <form action ="/account_creation" method="post">
    Username:
    <input type="text" name="username"> <br><br>
    Password:
    <input type="text" name="password"> <br><br>
    Age:
    <input type="text" name="age"> <br><br>
    Gender:
    <input type="radio" name="gender" value="m" checked> Male
    <input type="radio" name="gender" value="f"> Female <br><br>
    <input type="submit" value="Submit">
  </form>
</h2>

</center>
