<form action="/users" method="post">
  Username<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="email" name="email" value="<% %>" required><br>
  Password:<br>
  <input type="password" name="password"><br>
  Confirm Password:<br>
  <input type="password" name="password_confirmation"><br>
  <input type="submit" value="Sign up">
</form>
