<form action="/users/sign_up" method="post">
  <input name="username" placeholder="Username" type="text" required/>
  <input name="real_name" placeholder="Real name" type="text" required/>
  <input name="email" placeholder="Email" type="email" required/>
  <input name="password" placeholder="Password" type="password" required/>
  <input name="password_confirmation" placeholder="Confirm password" type="password" required/>
  <input type="submit" value="Sign up"/>
</form>
