<form action="/signup" method="post">
  <input type="email" name="email" value="email">
  <input type="password" name="password" value="password">
  <input type="password" name="password_confirmation" value="password_confirmation">
  <input type="submit" value="Sign Up">
</form>
