<h1> Please sign up </h1>
<form action = '/sign_up' method = 'post'>
  Email:<input name = 'email' type = 'text'>
  Password: <input name = 'password' type = 'text'>
  <input type ='submit' value = 'submit'>
</form>
