<form action="/add_user" method="POST">
  <input type="text" name="full_name" placeholder="Full Name"/>
  <input type="text" name="username" placeholder="Username"/>
  <input type="text" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" id="submit" value="Sign Up"/>
</form>