<% if flash[:error] && !flash[:error].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h1>Sign-Up page</h1>

<form action='/chitters' method='post'>
<label for='email'>
  Name:
<input type='text' name='name' placeholder="enter name here">
 Email:
 <input type='email' name='email' placeholder="enter email here" required>
</label>
 <label for='password'>
   Password:
   <input type='password' name='password' placeholder="enter password here" >
 </label>
   <label for='password_confirmation'>
     Password confirmation:
     <input type='password' name='password_confirmation' placeholder="confirm password">
 </label>
 <input type='submit' value='submit'>
</form>
