<form method = post>
  <input type = 'test' name = 'email'>
  <input type = 'test' name = 'password'>
  <input type = 'test' name = 'password_confirm'>
  <input type = 'test' name = 'username'>
  <input type = 'test' name = 'first_name'>
  <input type = 'test' name = 'last_name'>
  <input type = 'submit' value = 'Sign up!'>
</form>
