Sign up to Chitter:

<h2>Email:</h2>

<form action='/peeps/signed_in' method="post">
  <input type=“text” name="email" />

  <h2>Password:</h2>

  <input type=“text” name="password" />

  <h2>Name:</h2>

  <input type=“text” name="name" />

  <h2>Chitter handle:</h2>

  <input type=“text” name="handle" />
  <input type="submit" value="Sign up" />
</form>
