<form action="/sign_up" method="post">
  <label for="name"> Please enter your name</label>
  <input type="text" name="name">
  <label for="username"> Please enter your username</label>
  <input type="text" name="username">
  <label for="email"> Please enter your email address</label>
  <input type="email" name="email" required>
  <label for="password"> Please enter your password</label>
  <input type="text" name="password">
  <label for="password_confirmation"> Please re-enter your password</label>
  <input type="text" name="password_confirmation">
  <input type="submit" value="Submit">
</form>
