<form action="/register_user" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="name">Username</label>
  <input type="text" name="username">

  <label for="name">Email</label>
  <input type="text" name="email">

  <label for="name">Password</label>
  <input type="password" name="password">

  <input type="submit" value="Sign up">
</form>
