<h3>Sign up</h3>
<form id='sign_up' action='/sign_up' method='post'>
  <input type='text' name='name' placeholder='name'>
  <input type='text' name='username' placeholder='username'>
  <input type='email' name='email' placeholder="email address" value='<%= @user_email %>' required>
  <input type='password' name='password' placeholder='password'>
  <input type='password' name='confirmation_password' placeholder='confirm password'>
  <input type='submit' value='Submit'>
</form>

<% if flash[:wrong_password] %>
  <%= flash[:wrong_password] %>
<% end %>

<% if flash[:repeat_email] %>
  <%= flash[:repeat_email] %>
<% end %>
