<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
  </head>
  <body>
    <form action='/signup' method="post">
      <input type='text' name='email' placeholder='Email'>
      <input type='password' name='password' placeholder='Password'>
      <input type='text' name='username' placeholder='Username'>
      <input type='submit' value="Start Peeping!">
    </form>
  </body>
</html>
