<h1>User Sign Up</h1>
<br>
<form action="/users" method="post">
  <label>Name: <br><input type="text" name="name"><br>
  <label>Username: <br><input type="text" name="username"><br>
  <label>Email Address: <br><input type="text" name="email"><br>
  <label>Password: <br><input type="password" name="password"><br>
  <input type="submit" name="Submit" value="Submit">
</form>
