<center>
  <h1>Sign In</h1>

  <form action="/sign_in" method="post">
      Email:
      <input type="email" name="email" required>
    <br>
      Password:
      <input type="password" name="password" required>
    <button type="submit">Sign in</button>
    <form/>
  </center>
