<form action='/users' method='post'>
  <input type='text' name='name' placeholder='Full Name' required>
  <input type='text' name='username' placeholder='Username' required>
  <input type='email' name='email' placeholder='Email Address' required>
  <input type='password' name='password' placeholder='Password' requred>
  <input type='password' name='password_confirmation' placeholder='Confirm Password' required>
  <input type='submit' value='Sign Up'>
</form>
