<h1> Please complete the form to sign up </h1>

<form action='/user' method='post'>
  <lable for='first_name'>
    First name: <input name='first_name' type='text'>
  </lable>
  <lable for='surname'>
    Surname: <input name='surname' type='text'>
  </label>
  <lable for='username'>
    Username: <input name='username' tpye='text'>
  </label>
  <lable for='email'>
    Email: <input name='email' type='email' required>
  </lable>
  <lable for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
