<form action='/' method="post">
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="email" name="email">
  Password: <input type="text" name="password" value="password">
  Confirm Password: <input type="text" name="confirm_password" value=password>
  <input type="submit" value="Register">
</form>
