<h1> Sign up for Chitter!</h1>
  <form action='/sign-up' method='POST'>
    <label>
      EMAIL
    <input type='text' name='email'/></br>
    </label>
    <label>
      NAME
    <input type='text' name='name'/></br>
    </label>
    <label>
      USERNAME
    <input type='text' name='username'/></br>
    </label>
    <label>
      PASSWORD
    <input type='text' name='password'/></br>
    </label>
    <input type='submit' value='Sign Up'/>
  </form>
