<h1> Create your Chitter Account</h1>

<form action='/sign_up' method='post'>
  <input type='email' name='email' placeholder='Enter your email' required/>
  <input type='username' name='username' placeholder='Please choose a username' required/>
  <input type='password' name='password' placeholder='Please enter a password' required/>
  <input type='submit' value='Sign Up'/>
</form>
