<form action="/home/sign-up" method="post">
  <ol>
    <label for="email">
      Email: <input type="text" name="email">
    </label>
    <label for="password">
      Password: <input type="password" name="password">
    </label>
    <label for="confirm_password">
      Password confirmation: <input type="password" name="confirm_password">
    </label>
    <input type="submit" value="Submit details">
  </ol>
</form>
