<h1>Sign Up</h1>
<form action="/signup" method="post">

  <label for="email">Email&nbsp;&nbsp;</label>
  <input type="text" name="email"><br /><br />

  <label for="password">Password&nbsp;&nbsp;</label>
  <input type="text" name="password"><br /><br />

  <label for="password_confirmation">Password Confirmation&nbsp;&nbsp;</label>
  <input type="text" name="password_confirmation"><br /><br />

  <input type="submit" value="Sign Up">
</form>
