<form action='/create_user' method='POST'>
  <label for='username'>
    Choose a username:
    <input type='text' name='username'>
  </label>
  <label for='password'>
    Choose a password:
    <input type='password' name='password'>
  </label>
  <input type='submit' value='Submit'>
</form>
