<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: lightblue;
        font-family: Arial, Helvetica, sans-serif;
      }

    </style>
  </head>
    <body>
      <h1><center>Sign Up</center></h1>
      <form action='/users' method=POST>
        <center>
          <label for="user_email">
            Email
          <input type="email" name="user_email" value="user_email" required>
          </label><p>

          <label for="password">
            Password
          <input type="password" required name="password" value="password">
          </label><p>

          <label for="user_full_name">
            Name
          <input type="text" name="user_full_name" value="user_full_name">
          </label><p>

          <label for="user_name">
            Username
          <input type="text" name="user_name" value="user_name" required>
          </label><p>

          <button type="submit" id="sign_up" name="sign_up">Sign Up
          </button>
        </center>
      </form>
    </body>
</html>
