<body>
  Please enter your details

  <form method='post' action='/signup'>
    <input type='email' name='email' placeholder='Enter your email' value ='<%= @user.email %>' >
    <input type='text' name='name' placeholder='Enter your name'>
    <input type='text' name='username' placeholder='Enter your username'>
    <input type='password' name='password' placeholder='Enter your password'>
    <input type='password' name='password_confirmation' placeholder='Enter your password'>
    <input type='submit' name='submit' value='Submit'>
  </form>
  </body