<form>
  NAME: <input type='text' name='name'><br>
  USERNAME: <input type='text' name='username'><br>
  E-MAIL: <input type='text' name='email'><br>
  PASSWORD: <input type='text' name='password'><br>
  <input type='submit' value='Submit'>
</form>
