<h1>Welcome back to Chitter! Please log in</h1>

<form action="/signin" method="post">
  <label for="email">
    Email: <input type="text" name="email">
  </label>
  <label for="password">
    Password: <input type="text" name="password">
  </label>
    <input type="submit" value="Sign in">
</form>
