<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h3>Create a new account now:</h3>
    <form  action='/' method='post'>
      <label for='newuser_name'>
        Username:
        <input type='text' name='newuser_name' />
      </label>
      <label for='newuser_email'>
        E-mail:
        <input type 'text' name='newuser_email' />
      </label>
      <label for='newuser_password'>
        Password:
        <input type='text' name='newuser_password' />
      </label>
        <input type='submit' value='Create user' />
    </form>

    <h3>If you already have an account, log in <a href='/login'>here</a>.</h3>
  </body>
</html>
