<h1>Sign Up!</h1>
<form action='/welcome' method='post'>
  Name: <input type='text' name='Name'>
  Username: <input type='text' name='Username'>
  Email: <input type='text' name='Email'>
  Password: <input type='text' name='Password'>
  <button type='submit'>Submit Details</button>
</form>
