<h1> Please fill in the form to sign up!</h1>

<form action='/signup' method='post'>
  <label for='name'>
  <p> Name: <input type='text' name='name' required /></p>
 </label>
 <label for='username'>
   <p>Username: <input type='text' name='username' required /></p>
 </label>
 <label for='email'>
 Email:<input name='email' type='text' value='<%= @user.email %>' required>
 </label>
 <label for='password'>
  <p> Password: <input type='password' name='password' required /></p>
 </label>
 <label for='password_confirmation'>
  <p>Password: <input name='password_confirmation' type='password' required ></p>
</label>
 <input type="submit" value="Sign up!" style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
</form>
