<% if flash[:signup_error] %>
  <%= flash[:signup_error] %>
<% end %>

<% if flash[:taken] %>
  <%= flash[:taken] %>
<% end %>

<form action="/user/new" method="post">
  <ul>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <p>Confirm password: <input type="text" name="password_confirmation"></p>
    <p>Name: <input type="text" name="name"></p>
    <p>Username: <input type="text" name="username"></p>
    <p><input type="submit" value="Submit"></p>
  </ul>
</form>
