<form action='/sign-up' method = 'post'>
  <label for='name'>
    Name: <input type='text' name='name'>
  </label>
  <label for='email'>
    Email: <input type='email' name='email'>
  </label>
  <label for='password'>
    Password: <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>
    Confirm password: <input type='password' name='password_confirmation'>
  </label>
  <button type='submit'>Sign up</button>
</form>
