<h1>Sign up</h1>
<form method='post' action='peep'>
  <label for='e_mail'>E-mail:</label>
  <input type='text' name='e_mail'>
  <label for='name'>Your name:</label>
  <input type='text' name='name'>
  <label for='username'>Username:</label>
  <input type='text' name='username'>
  <label for='password'>Password</label>
  <input type='text' name='password'>
  <input type='submit' value='Sign up'>
</form>
