Sign up

<form action='/signup' method='post' >
  username: <input type='text' name='username'><br>
  password: <input type='password' name='password'>
  re-type password: <input type='password' name='password_check'><br>
  <input type='submit' value='Submit'>
</form>
