<div id='new_user_form'>
  <form action="/users/new" method="post">
    <input type="text" name="name" placeholder="Enter name"><br>
    <input type="email" name="email" placeholder="Enter email"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    PLEASE DO NOT USE A REAL PASSWORD, PASSWORDS ARE NOT ENCRYPTED<br>
    <input type="submit" name="submit" value="submit">
  </form>
</div>
