<form action="/home" method="post">
  <ol>
    <label for="email">
      Email: <input type="text" name="email">
    </label>
    <label for="password">
      Password: <input type="text" name="password">
    </label>
    <input type="submit" value="Submit details">
  </ol>
</form>
