<form>
  <table>
    <tr align=left>
      <th>NAME:</th>
      <th><input type='text' name='name'></th>
    </tr>
    <tr align=left>
      <th>USERNAME:</th>
      <th><input type='text' name='username'></th>
    </tr>
    <tr align=left>
      <th>E-MAIL:</th>
      <th><input type='text' name='email'></th>
    </tr>
    <tr align=left>
      <th>PASSWORD:</th>
      <th><input type='text' name='password'></th>
    </tr>
    <tr align=right>
      <th colspan=2><input type='submit' value='Submit'></th>
    </tr>
  <table>
</form>
