<h3> Sign Up </h3>

<form action="/new_user" method="post">
  <label for="name"> Name: </label>
    <input type="text" name="name" placeholder="Please enter name" required>
  <label for="user_name"> User Name: </label>
    <input type="text" name="user_name" placeholder="Please enter user name" required>
  <label for="email"> Email Address: </label>
    <input type="email" name="email" placeholder="Please enter your email" required>
  <label for="password"> Password: </label>
    <input type="password" name="password" placeholder="Please enter a password" required>
  <label for="confirm_password"> Confirm Password: </label>
    <input type="password" name="confirm_password" placeholder="Please confirm your password" required>
    <input type="submit" value="Sign Up">
</form>

<form action="/log_in" method="get">
  <input type="submit" value="Log In" >
</form>
