<form action="/sign_up" method="post">

  <div>
     <label for="email">Please enter your email!</label>
    <input type='email' name='email' required>
  </div>

  <div>
    <label for="email">Please enter your name!</label>
    <input type='text' name='name' required>
  </div>

  <div>
    <label for="email">Please enter your username!</label>
    <input type='text' name='username' required>
  </div>

  <div>
    <label for="email">Please enter your password!</label>
    <input type='password' name='password' required>
  </div>

  <div>
    <label for="email">Please confirm your password!</label>
    <input type='password' name='confirm_password' required>
  </div>

  <div>
    <input type='submit' id='sign-up'>
  </div>

</form>
