<h3>Join Chitter today.</h3>

<form action='/registration' method='POST'>

  <label for='name'>
    Enter your name:
    <input type="text" name='name' />
  </label>
  <label for='username'>
    Create a username:
    <input type="text" name="username" />
  </label>
  <label for='email'>
    Enter your email:
    <input type="email" name="email" />
  </label>
  <label for='password'>
    Create a password:
    <input type="text" name="password" />
  </label>

  <!-- <label>Confirm password:
    <input type="text" name="confirm_password">
  </label>
  <input type="submit" value="Submit"> -->

  <input type="submit" value="Submit">


</form>
