<h1>or sign in</h1>
  <form method='post' action='/sign_in'>
      <ul>
        <li>
          <label for='username'>Username:</label>
          <input type='text' name='username'>
        </li>
        <li>
          <label for='password'>Password</label>
          <input type='pasword' name='password'>
        </li>
        <li>
          <input type='submit' value='Sign in'>
        </li>
      </ul>
  </form>
