<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/add_user_data" method="POST">
      <label for="username">Username</label>
      <input name="username" type="text"/>
      <label for="password">Password</label>
      <input name="password" type="text"/>
      <input class="button" type="submit" value="Sign Up"/>
    </form>
  </body>
</html>
