<h1>Sign up</h1>
<form method='post' action='/sign_up'>
  <ul>
    <li>
      <label for='e_mail'>E-mail:</label>
      <input type='text' name='e_mail'>
    </li>
    <li>
      <label for='name'>Your name:</label>
      <input type='text' name='name'>
    </li>
    <li>
      <label for='username'>Username:</label>
      <input type='text' name='username'>
    </li>
    <li>
      <label for='password'>Password</label>
      <input type='pasword' name='password'>
    </li>
    <li>
      <input type='submit' value='Sign up'>
    </li>
  </ul>
</form>
