<h1>Sign Up</h1>

<form action='/new_user_sign_up' method='post'>

  <input type='text' name='email'>
  <input type='text' name='username'>
  <input type='text' name='password'>
  <input type='text' name='name'>
  <input type='submit' value='Sign Up'

</form>
