<form method = post>

  <input type = 'text' name = 'email' placeholder = 'email address' >*
  <input type = 'password' name = 'password' placeholder = 'password'>*
  <input type = 'password' name = 'password_confirm' placeholder = 'confirm password'>*
  <input type = 'text' name = 'username' placeholder = 'username'>*
  <input type = 'text' name = 'first_name' placeholder = 'first name'>
  <input type = 'text' name = 'last_name' placeholder = 'last name'>
  <input type = 'submit' value = 'Sign up!'>
  <p> (* indicates required field) </p>
</form>
