<div>
	<h1>Sign up</h1>
	<div class= "form">
	<form action="/sign_up" method="post">
		<label>Username</label>
		<input type="text" name="username" required>
		<br>
			<label>Email</label>
			<input type="email" name="email" required>
			<br>
				<label>Password</label>
				<input type="password" name="password" required>
				<br>
					<label>Password confirmation</label>
					<input type="password" name="password_confirmation" required>
					<br>
						<label>Full Name(eg. Samuel Jackson)</label>
						<input type="text" name="name" required>
						<br>
							<input type="submit" name="sign_up" value="Sign Up" class="button">
							<a href="/peeps" class="button" style="float:right">Cancel</a>
	</form>
	</div>
</div>