<h1> Sign Up </h1>

<form action="/sign_up" method="post">
<input type='text' name='name'>
<input type='text' name='email'>
<input type='text' name='password'>
<input type='text' name='password_confirmation'>
<input type='submit' value='Submit'>
</form>