<h2> Please fill in the form to sign up!</h2>

<form action='/signup' method='post'>
  <table>
          <tbody>
  <tr><td><label for='name'>
  <h4> Name: </label> </td><td><input type='text' name='name' required placeholder="e.g: Harry Potter"class='field'/></h4></td></tr>

<tr><td><label for='username' >
   <h4>Username: </label></td><td><input type='text' name='username' placeholder="e.g:HarryP"required class='field'/></h4></td></tr>

 <tr><td><label for='email'>
 <h4>Email:</label></td><td><input name='email' type='text' placeholder="e.g:harry_potter@hogwarts.co.uk" value='<%= @user.email %>'class='email' required></h4></td></tr>

 <tr><td><label for='password'>
  <h4> Password: </label></td><td><input type='password' name='password' required class='field' /></h4></td></tr>

 <tr><td><label for='password_confirmation'>
  <h4>Password:  </label></td><td> <input name='password_confirmation' type='password' required class='field'></h4></td></tr>
   </tbody>
 </table>
 <input type="submit" value="Sign up!" class="button">
</form>
