<div>
  <h1> Sign up to Chitter! </h1> </br>

  <form method = 'post' action = '/sign_up'>
      <label for="email">Email:</label>
      <input id='email' type='text' name='email'/></br></br>
      <label for="password">Password:</label>
      <input id='password' type='password' name='password'/></br></br>
      <label for="password_confirm">Confirm password:</label>
      <input id='password_confirm' type='password' name='password_confirm'/></br></br>
      <label for="name">Name:</label>
      <input id='name' type='name' name='name'/></br></br>
      <label for="handle">Handle:</label>
      <input id='handle' type='text' name='handle'/></br></br>
      <input id='submit' class='button' type='submit' value='Sign Up'/>
    </form>

</div>
