Please sign up to Peeper
<form action ="/sign_up" method="post">
  Add Peep
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  <input type="submit" value="Submit">
</form>

<form action ="/session" method="post">
  <input type="submit" value="Loggin">
</form>

<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
