<h3 id="alert" style="color: red">
  <%= @alert %>
</h3>
<form action="/signup" method="POST">
  <ul style="list-style-type: none">
    <li>  
      <label for="name">
        <strong>Name</strong>
        <input type="text" name="name">
      </label>
    </li>
    <li>  
      <label for="email">
        <strong>Email</strong>
        <input type="email" name="email">
      </label>
    </li>
    <li>  
      <label for="username">
        <strong>Username</strong>
        <input type="text" name="username">
      </label>
    </li>
    <li>
      <label for="password">
        <strong>Password</strong>
        <input type="text" name="password">
      </label>
    </li>
    <li>
      <input type="submit" value="Sign up">
    </li>
  </ul>
</form>