<h1> Sign up to Chitter </h1>
<h2> Please enter your details </h2>
<form action= '/sign_up' method=post>
  <label for=


<form action= '/' method=post>
    <label for="email"> Email </label>
    <input type='text' name='email' placeholder="Email">
    <label for="Password"> Password </label>
    <input type='text' name='password' placeholder="Password">
    <label for="confirm Password">  Confirm Password </label>
    <input type='text' name='confirmpassword' placeholder="Confirm Password">
    <button type ='submit'> Sign up </button>
  </form>
