<h1>
  <% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</h1>

<h2>
  <form action="/signin" method="post">
    Username<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="Sign in">
  </form>
</h2>
