<center>
  <h1> Sign into Chitter! </h1>
  <form action ="/sign_in" method="post">
      <input type="text" name="username">
      <br>
      <br>
      <input type="submit" value="Sign In">
  </form>

  <h2> Don't Have an Account? Create one now. </h2>
    <form action ="/create_account" method="get">
        <input type="submit" value="Create Account">
    </form>

</center>
