<html>
<body>
  <form action="/users" method="post">
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="enter email address" required="true"><br><br>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="enter your name" required="true"><br><br>
    </div>
    <div>
      <label for="user_name">Username:</label>
      <input type="text" name="username" placeholder="enter username" required="true"><br><br>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="enter password" required="true"><br><br>
    </div>
    <div class="button">
      <input type="submit" value="Confirm">
    </div>
  </form>
</body>
</html>
