<h1>Sign up for Chitter!</h1>

<form action='/users' method='post'>
  <label for='email'>E-Mail:
    <input type='text' name='email'>
  </label><br>
  <label for='password'>Password:
    <input type='text' name='password'>
  </label><br>
  <input type='submit' value='Submit'>
</form>
