<h2>Sign up for Chitter</h2>
<form action="/users" method="POST">
	<label for:"username">
		Username: <input type="text" name="username">
	</label>
	<label for:"email">
		Email: <input type="text" name="email">
	</label>	
	<label for:"password">
		Password: <input type="password" name="password">
	</label>	
	<input type="submit" value="Sign Up">	
</form>

