<form action='/signup' method='post'>
  <%= flash[:signup_error] %> <br />
  Name: <input type='text' name='name' value='<%= @user.name %>' /> <br />
  Username: <input type='text' name='username' value='<%= @user.username %>' /> <br />
  Email: <input type='email' name='email' value='<%= @user.email %>' /> <br />
  Password: <input type='text' name='password' /> <br />
  Confirm Password: <input type='text' name='confirm_password' /> <br />
  <input type='submit' value='Submit' />
</form>
