<form action="/sign_up/complete" method="post">
  <label for='name'>
    Name:
    <input type="text" name="name">
  <label for='user_name'>
    User name:
    <input type="text" name="user_name">
  <label for='email'>
    Email address:
    <input type="text" name="email">
  <label for='password'>
    Password:
    <input type="text" name="password">
  </label>
    <input type = "submit" value = "Submit">
</form>
