<h1>Sign Up</h1>

<form action='/new_user_sign_up' method='post'>
  <label>
    Email: <input type='text' name='email'><br>
  </label>

  <label>
    Username: <input type='text' name='username'><br>
  </label>

  <label>
    Password: <input type='text' name='password'><br>
  </label>

  <label>
    Confirm Password: <input type='text' name='confirm password'><br>
  </label>

  <label>
    Name: <input type='text' name='name'><br>
  </label>

  <label>
    <input type='submit' value='Sign Up'><br>
  </label>

</form>
