<html>
  <h2>Please insert your details</h2>

  <form action = "sign_up" method = "post">
    Email <input type = 'text' name = 'email'>
    Password <input type = 'text' name = 'password'><br>
    Name <input type = 'text' name = 'name'>
    Username <input type = 'text' name = 'username'><br><br>
    <input type = "submit" value = "Submit">
  </form>
</html>
