<form action='/sign_up' method='post'>
<label for="email">Email</label>
<textarea id="email" name="email" rows="1" cols="15"></textarea>
<label for="password">Password</label>
<textarea id="password" name="password" rows="1" cols="15"></textarea>
<label for="name">Name</label>
<textarea id="name" name="name" rows="1" cols="15"></textarea>
<label for="username">Username</label>
<textarea id="username" name="username" rows="1" cols="15"></textarea>
<button class="tab" type='submit' style="width: 45px; height: 26px;">Sign Up</button>
</form>
