<!DOCTYPE html>

<html>
    <form method='post' action='/sign_up_confirmation'>
    Name : <input type='text' name='name' placeholder= 'name'>
    Username : <input type='text' name='username' placeholder= 'username'>
    Email : <input type='email' name='user_name' placeholder= 'email address'>
    Password : <input type='password' name='password' placeholder= 'password'>
    <input type='submit' id='sign-up' value='Sign-up'>
    </form>
</html>
