<form action="/users" method="post">
  <ul style="list-style-type:none">
    <label for="name">
      <li>Name: <input type="text" name="name" required /></li>
    </label>
    <label for="email">
      <li>Email: <input type="email" name="email" required /></li>
    </label>
    <label for="username">
      <li>Username: <input type="text" name="username" required /></li>
    </label>
    <label for="password">
      <li>Password: <input type="password" name="password" required /></li>
    </label>
    <label for="password_confirmation">
      <li>Confirm password: <input type="password" name="password_confirmation" required /></li>
    </label>
    <li><input type="submit" value="Sign up" /></li>
  </ul>
</form>
