<head>
 <link rel="stylesheet" type="text/css" href="/style.css"/>
 <link rel="stylesheet" type="text/css" href="/normalize.css"/>
 <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
 <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<font color="white">
<html>
<h2 style="text-align:center">Please enter details below to sign up</h2>

  <form style="color:#000000; text-align:center;" method="post" action="/users">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input class="button button-primary" type="submit" value="Submit">
  </form>

  <form style="text-align:center" method='get' action='/'>
    <input class="button button-primary" type='submit' value='Go Back'>
  </form>
    <body style="background-image:url(images/smartphone-4236924_1920.jpg);">
  </font>
