<% if flash[:pass_error] %>
  <div id='pass_error'><%= flash[:pass_error] %></div>
<% end %>

<form action="/create_user" method="post" id="sign_up_form">
      Name
    <input type="text" name="name">
      Email
     <input name='email' type='text'>
      User Name
    <input type="text" name="username">
      Password
    <input type="text" name="password">
    Password Confirmation
    <input type="text" name="password_confirmation">
</form>

<button type="submit" form="sign_up_form" value="Create Account"> Create Account </button>
