<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
</head>
<body>
  <div class="sign_up_form">
    <form action="/home" method="post">
      <ul>
        <li>
          <input type="text" name="name" value="name">
        </li>
        <li>
          <input type="text" name="username" value="username">
        </li>
        <li>
          <input type="text" name="email" value="email">
        </li>
        <li>
          <input type="password" name="password">
        </li>
        <li>
          <input type="submit" value="Submit">
        </li>
      </ul>
    </form>
  </div>
</body>
</html>
