<!DOCTYPE html>
<html>

<head>
<title>G9A2HvK9 - Chitter Challenge at Maker's Academy, April 2017 Cohort - May 2017</title>
</head>

<body>
  <h2 style="text-align: center">Signing up for Chitter is an excellent decision</h2><br>
  <p style="text-align: center">Please enter your account details below</p>
</body>

<form style="text-align: center" action="/new_user" method="post">
  Create Username: <input type="text" name="new_username"><br>
  Create Password: <input type="password" name="new_password"><br>
  Confirm Password: <input type="password" name="new_password_confirm"><br>
  <input type="submit" value="Create Account"
</form>
</html>
