<h1>Sign up</h1>
  <form action='/sign_up' method='post'>
    <input type='text' name='name' placeholder="Full name"required>
    </br>
    <input type='text' name='username' placeholder="Username" required>
    </br>
    <input type='email' name='email' placeholder="Email"required>
    </br>
    <input type='password' name='password'placeholder="Password" required>
    </br>
    <input type='password' name='password_confirmation'placeholder="Confirm password"required>
    </br>
    <input type='submit' value='Sign up'>
  </form>
