

<form action='/sign_up' method='post'>
  Email:
  <input type='text' name='Email'/> <br/>
  Username:
  <input type='text' name='Username'/><br/>
  Name:
  <input type='text' name='Name'/><br/>
  Password:
  <input type='password' name='Password'/><br/>
  Confirm Password:
  <input type='password' name='Confirm Password'/><br/>
  <input type='submit' value='Submit'/>
</form>
