<form action='/signup' method='post'>
  Name: <input type='text' name='name' /> <br />
  Username: <input type='text' name='username' /> <br />
  Email: <input type='email' name='email' /> <br />
  <input type='submit' value='Submit' />
</form>
