<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>
  <body>
    <h1>Sign in</h1>
    <form action="/newuser" method="post" >
      <input type="text" name="email">
      <input type="text" name="password">
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
