<h1> Sign up to chitter</h1>
<section class='signup'>
<form action='/users/new' method='post'>
  <input type="text" name="name" placeholder="name" value='<%= @user.name %>' required>
  <input type="text" name="username" placeholder="username" value='<%= @user.username %>' required>
  <input type="email" name="email" placeholder="email" value='<%= @user.email %>'required>
  <input type="password" name="password" placeholder="password" required>
  <input type="password" name="password_confirmation" placeholder="confirm password" required>
  <input type="submit" class='in_out' value="Register">
</form>
</section>
