<form action="/new_user" method="post">
  <label for="name"> Name: </label>
    <input type="text" name="name" required>
  <label for="user_name"> User Name: </label>
    <input type="text" name="user_name" required>
  <label for="email"> Email Address: </label>
    <input type="email" name="email" required>
  <label for="password"> Password: </label>
    <input type="password" name="password" required>
  <label for="confirm_password"> Confirm Password: </label>
    <input type="password" name="confirm_password" required>
    <input type="submit" value="Sign Up">
</form>
