<div class="signup-page">
  <div class="signup-left">
  <div class="signup-left-content">
  <i class="fas fa-crow white-icon"></i>
  <h3>Enter your personal details and start chatting with the world</h3>
  </div>
  </div>
  
  <div class="signup-right">
    <h2>Create Account</h2>

    <form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username" class="signup" required>
    <input type="password" name="password" placeholder="Password" class="signup" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" class="signup" required>
    <input type="text" name="name" placeholder="Name" class="signup" required>
    <input type="text" name="email" placeholder="Email" class="signup" required>
    <input type="submit" value="Sign Up" class="button" id="signup-button">
    </form>
  </div>
</div>