<body>
<h1> Create a Chitter Profile </h1>

  <form action='/signup' method='post'>
  <label for='name'>
    Name: <input type='text' name='name'></br>
  </label>
  <label for='username'>
    Username: <input type='text' name='username'></br>
  </label>
  <label for='email'>
    Email: <input type='text' name='email'></br>
  </label>
  <label for='password'>
    Password: <input type='text' name='password'></br>
  </label>
    <input type='submit' value='Sign up'>
  </form>

</body>
