<!DOCTYPE hmtl>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class='container'>
    <form id='signup' action='/users' method='post'>
      <div class="header">
        <h3>Sign Up<h3>
          <p>You want to fill out this form</p>
      </div>
        <div class="sep">
        </div>
        <div class="inputs">

          <input type='text' name='name' placeholder='Name'>
          <input type='email' name='email' placeholder='e-mail' required>
          <input type='text' name='username' placeholder='Username'>
          <input type='password' name='password' placeholder="Password"required='true'>
          <input id="submit" type='submit' value="Sign up">
      </div>
    </form>
  </div>
</body>
</html>
