<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <div class="nav">Chitter</div>

    <div class="page">
      <div class="login-window">
        <form action="/users/signup" method="post">
          <input type="input" name="username" placeholder="username" />
          <input type="input" name="email" placeholder="email@gmail.com" />
          <input type="password" name="password" placeholder="super secret password" />
          <input type="submit" value="Sign up" />
        </form>
      </div>
    </div>
  </body>
</html>
