<h1>Sign Up!</h1>
<form name ='sign_up' action='/sign_up' method='post'>
  <label for='name'>
  Name <br />
<input type="text" name="name"><br />
<label for='username'>
  Username<br />
  <input type='text' name='username'><br />
  <label for='email'>
  Email<br />
<input type="text" name="email"> <br />
  <label for='password'>
  Password <br />
<input type="password" name="password"> <br />
<button type="submit">Sign up</button>
