<html>
  <h3>Sign up</h3>
  <form method="post" action="/peep_home" >
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email_address" placeholder="Email" />
    <input type="text" name="password" placeholder="Password" />
    <input type="text" name="password_confirmation" placeholder="Confirm Password" />
    <input type="submit" value="Sign up" />
  </form>
</html>
