<form action='/' method="post">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  Confirm Password: <input type="text" name="confirm_password">
  <input type="submit" value="Register">
</form>
