<div align='center'>

  <h3>Sign in -- <a href="/read_peep">Read Peeps</a></h3>

<form action='/login' method='post'>
 <table>
   <tr>
     <td align="right">Email:</td>
     <td align="left"><input type="email" name="email" /></td>
   </tr>
   <tr>
     <td align="right">Password:</td>
     <td align="left"><input type="password" name="password" /></td>
   </tr>
 </table>
 <input type='submit' value='Sign in'>
 </form>
</div>
