<h1>Sign up for your Chitter account</h1>
<h2>Please enter your details below and you'll be Peepin' in no time.</h2>
<div id="signup">
<form action="/signup" method="post">
Username:<br>
<input type:"text" name="username"><br>
Email:<br>
<input type="text" name="email"><br>
Password:<br>
<input type="text" name="password"><br>
<button type="submit" value="submit">Sign Me Up</button>
</form>
</div>
