<head>
  <title>Sign up</title>
</head>

<form action='/sign_up' method='post'>
  <label for='name'> Name </label>
  <input type='text' name='name'>

    <br>

  <label for='username'> Username </label>
  <input type='text' name='username'>

    <br>

  <label for='email'> Email </label>
  <input type='text' name='email'>

    <br>

  <label for='password'> Password </label>
  <input type='text' name='password'>

    <br>

  <input type='submit' value='submit'>
</form>
