Please sign up to Peeper
<form action ="/sign_up" method="post">
  Add Peep
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="text" name="password">
  <input type="text" name="password_confirmation">
  <input type="submit" value="Submit">
</form>
<%= flash[:password] %>
