<head>
  <style>
    #email:invalid {border: 2px solid red;}
    #email:valid {border: 2px solid green;}
  </style>
</head>

<body>
  <form action="/users/create" method="post">
    E-mail:   <input id="email" type='text' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
    <br>
    Password: <input type="password" name="password">
    <br>
    Password Confirmation: <input type="password" name="password_confirmation">
    <br>
    Name:     <input type="text" name="name">
    <br>
    Username: <input type="text" name="username">
    <br>
    <input type="submit" name="submit" value="Submit">
    <br>
  </form>
</body>
