<%= styled_flash %>

<form action='/user/signin' method='post'>

  <label for='username'>Username<br>
    <input type="text" name="username" required><br>
  </label>

  <label for='password'>Password<br>
    <input type="text" name="password" required><br>
  </label>

  <button type='submit'>Sign In</button>

</form>
