<h1> Sign up for Chitter </h1>
<form action="/signup" method="post">
  <label for="name">
    Name
    <input type="text" name="name" autofocus>
  <label for="username">
    Username
    <input type="text" name="username">
  </label>
  <label for="email">
    Email
    <input type="email" name="email">
  </label>
  <label for="password">
    Password
    <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Password Confirmation
    <input type="password" name="password_confirmation">
  </label>
  <input type="submit" value="submit">
</form>
