<form action="/sign-up/complete" method="post">
  <label for='name'>
    Name:
    <input type="text" name="name">
  <label for='username'>
    User name:
    <input type="text" name="username">
  <label for='email'>
    Email address:
    <input type="email" name="email">
  <label for='password'>
    Password:
    <input type="password" name="password">
  </label>
    <input type = "submit" value = "Submit">
</form>
