Please sign up to Peeper
<form action ="/sign_up" method="post">
  Add Peep
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="text" name="password">
  <input type="text" name="password_confirmation">
  <input type="submit" value="Submit">
</form>
<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
