<html>
<h1> Welcome to Chitter! </h1>
<form action="/user" method="post">
  <div>
    <label for="title">E-mail:</label>
    <input type="text" name="email"/>
  </div>
  <div>
    <label for="url">Password:</label>
    <input type="text" name="password"/>
  </div>
  <div>
    <button type="submit" value="Submit">Submit</button>
  </div>
</form>
</html>
