<form action="/users" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="email" name="email" placeholder="email">
  <input type="text" name="name" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_confrimation" placeholder="confirm password">
  <input type="submit" value="Sign up!">
</form>
