<form action='/signup/new' method='post'>
  Username: <input type='text' name='username'><br>
  Email: <input type='text' name='email'><br>
  Password: <input type='password' name='password'><br>
  Confirm password: <input type='password' name='password_confirmation'><br>
  <input type='submit' value='Submit'>
</form>
