<DOCTYPE html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
  <style>
    body {
      font-family: "Raleway", "Helvetica", "Arial", sans-serif;
      text-align: center;
      margin: 50px;
      color: #130101c4;
      }
  </style>
    <h1>Please sign up</h1>

    <form action='/users' method='post'>
      <label for='email'>
        Email: <input name='email' type='email' value='<%= @user.email%>' required>
      </label>
      <label for='name'>
        Name: <input name='name' type='text'>
      </label>
      <label for='username'>
        Username: <input name='username' type='text'>
      </label>
      <label for='password'>
        Password: <input name='password' type='password'>
      </label>
      <label for='password_confirmation'>
        Password again?
      <input type="password" name="password_confirmation">
      </label>
      <input type='submit' value='Sign up'>
    </form>

  </body>
</html>
