<form action="/users" method="post">

  <div>
     <label for="email">Please enter your email!</label>
    <input type='email' name='email' value='email' required>
  </div>

  <div>
    <label for="name">Please enter your name!</label>
    <input type='text' name='name' required>
  </div>

  <div>
    <label for="username">Please enter your username!</label>
    <input type='text' name='username' required>
  </div>

  <div>
    <label for="password">Please enter your password!</label>
    <input type='password' name='password'>
  </div>

  <div>
    <label for="confirm_password">Please confirm your password!</label>
    <input type='password' name='confirm_password'>
  </div>

  <div>
    <input type='submit' id='sign-up'>
  </div>

</form>
