<h1>Sign up</h1>

<form action="/users" method="post">
	Email: <br>
	<input type="text" name="email" value="<%= @user_email %>" required><br>
	Password: <br>
	<input type="password" name="password"><br>
	Re-enter Password: <br>
	<input type="password" name="password_confirmation"><br>
	<br>
	<input type="submit" value="Sign up">
</form>