<h2> Please sign in </h2>

<form id='sign_in' action='/sessions' method='post'>
  <label>
    Username:
  <input type='text' name='username'>
  </label>
  <label>
    Password:
    <input type='text' name='password'>
  </label>
  <input type='submit' value='Submit'>
</form>
