<head>
  <title>C0D35L4Y3R'S AWESOME SITE</title>
    <style>
      label {
        font-family: "Comic Sans MS", cursive, sans-serif;
      }

      button {
        font-weight: bold;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 150%;
        text-transform: uppercase;
      }
  </style>
</head>

<body>

<form action="/sign_up" method="post">
  <label for="username">
    Username:<br>
    <input type="text" name="username">
  </label><br><br>
  <label for="name">
    Name:<br>
    <input type="text" name="name">
  </label><br><br>
  <label for="email_address">
    Email Address:<br>
    <input type="text" name="email_address">
  </label><br><br>
  <label for="password">
    Password:<br>
    <input type="text" name="password">
  </label><br><br>
  <label for="password_confirmation">
    Password Confirmation:<br>
    <input type="text" name="password_confirmation">
  </label><br><br>
  <button type="submit" value="Save">Save</button>
</form>

</body>
