<html>
  <form action="/user" method="post">
    <ul>
      <li>
        Enter email
        <label for="email">
          <input type="email" name="email" value="<%= @user.email %>" placeholder="Email" required/>
        </label>
      </li>
      <li>
        Enter name
        <label for="name">
          <input type="text" name="name" value="<%= @user.name %>" placeholder="Name" required/>
        </label>
      </li>
      <li>
        Enter username
        <label for="username">
          <input type="text" name="username" value="<%= @user.username %>" placeholder="Username" required/>
        </label>
      </li>
      <li>
        Enter password
        <label for="password">
          <input type="password" name="password" placeholder="Password" required/>
        </label>
      </li>
      <li>
        Confirm password
        <label for="password_confirmation">
          <input type="password" name="password_confirmation" placeholder="Confirm password" required/>
        </label>
      </li>
      <button type="submit">Sign up</button>
    </ul>
  </form>
</html>
