<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title> Chitter </title>
  </head>

  <body>

    <form action="/users" method="post">

        <label for="email">Please enter your email!</label>
        <input type='email' name='email' value='<%= @user.email %>' required>

        <label for="name">Please enter your name!</label>
        <input type='text' name='name' value='<%= @user.name %>'required>

        <label for="username">Please enter your username!</label>
        <input type='text' name='username' value='<%=@user.username%>' required>

        <label for="password">Please enter your password!</label>
        <input type='password' name='password'>

        <label for="confirm_password">Please confirm your password!</label>
        <input type='password' name='confirm_password'>

        <input type='submit' id='sign-up'>

    </form>

  </body>

</html>
