<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <form action='/users' method='post'>

      <label for='name'>Name</label>
      <input type='text' name='name'>

      <label for='email'>Email</label>
      <input type='email' name='email' required>

      <label for='username'>Username</label>
      <input type='text' name='username'>

      <label for='password'>Password</label>
      <input type='password' name='password' required='true'>

      <input type='submit' value="Sign up">

    </form>
  </body>
</html>
