<html>
  <form action="/user" method="post">
    <ul>
      <li>
        <label>Enter email</label>
        <input type="text" name="email" placeholder="Email"/>
      </li>
      <li>
        <label>Enter name</label>
        <input type="text" name="name" placeholder="Name"/>
      </li>
      <li>
        <label>Enter username</label>
        <input type="text" name="username" placeholder="Username"/>
      </li>
      <li>
        <label>Enter password</label>
        <input type="text" name="password" placeholder="Password"/>
      </li>
      <input type="submit" value="Sign up"/>
    </ul>
  </form>
</html>
