<form action="/sign_up" method="post">
  <label for="email"> Please enter your email address</label>
 <input type="text" name="email">
 <label for="password"> Please enter your password</label>
 <input type="text" name="password">
 <label for="password_confirmation"> Please re-enter your password</label>
 <input type="text" name="password_confirmation">
 <input type="submit" value="Submit">
</form>
