<head>
  <link href="https://fonts.googleapis.com/" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<div style="border-right:2px solid black;position:absolute;background-color:white;width:300px;height:100%">
  <div style="padding:20px">

<h1 class="intro"> Create an account </h1>

<form action="/create_user" method="post">
  <div style="font-size:14px;margin:20px 0"><label for="name">Name:</label><input type="text" name="name" required value='<%= @user.name %>' ></div>
  <div style="font-size:14px;margin:20px 0"><label for="username">Username:</label><input type="text" name="username" required value='<%= @user.username %>' ></div>
  <div style="font-size:14px;margin:20px 0"><label for="email">Email:</label><input type="text" name="email" required value='<%= @user.email %>' ></div>
  <div style="clear:both;font-size:14px;margin:20px 0"><label for="password">Password:</label><input type="password" name="password" required/></div>
  <div style="clear:both;font-size:14px;margin:20px 0"><label for="password_confirmation">Confirm Password:</label><input type="password" name="password_confirmation" required/></div>
  <input style="background-color:#ddd;border-radius:5%;margin-top:20px; padding:3px 20px;font-size:24px;" type="submit" value="Create account">
</form>
</div>
</div>
