<html>
<h1> Welcome to Chitter! </h1>
<h2> Sign up here. </h2>
<form action="/homepage" method="get">
  <div>
    <label for="email">E-mail:</label>
    <input type="text" name="email"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" name="password"/>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </div>
  <div>
    <button type="submit" value="Submit">Submit</button>
  </div>
</form>
</html>
