<form method="post" action="/users/new">
  <label for="username">Username: </label>
  <input name="username" type="text" required>
  <label for="password">Username: </label>
  <input name="password" type="text" required>
  <input type="submit" value="Complete">
</form>
