<h1>User Sign Up</h1>
<br>
<form action="/users" method="post">
  <label>Name: <input type="text" name="name">
  <label>Username: <input type="text" name="username">
  <label>Email Address: <input type="text" name="email">
  <label>Password: <input type="text" name="password">
  <input type="submit" name="Submit" value="Submit">
</form>
