<div style='width: 100%; text-align:center; margin:0 auto; '>
  <div><img src="http://2.bp.blogspot.com/-2iQ_E_vuDDw/Vc-dFquq2mI/AAAAAAAARFw/xRtwERRTU1I/s1600/chitter.png"></div>
  <div><a href="/peeps">View all Peeps</a></div>
</div>