<h2>Welcome to Chitter!</h2>

<form action='/users/new'>
  <input type='submit' value='Sign up'>
</form>

<form action='/sessions/new'>
  <input type='submit' value='Sign in'>
</form>

<form action='/home'>
  <input type='submit' value='Continue as guest'>
</form>
