<div style='width: 100%; background:#fffed1; text-align:center; margin:0 auto; '>
  <div><img src="http://3.bp.blogspot.com/-a9aGpuTZP-c/Vc-z9aEzBTI/AAAAAAAARGE/kIwqOkCVqPU/s320/chitter%2B2.png"></div>
  <div style="font-family: Arial Black; font-size: 32px; color: black; ">Where my Peeps at?</div>  
  <div style="font-family: Arial Black; font-size: 26px; color: black; "><a href="/peeps/new">Post new Peep</a></div>
  <div style="font-family: Arial Black; font-size: 26px; color: black; "><a href="/peeps">View all Peeps</a></div>
</div>