/* Variables */
$grey: #E1E1E1;
$white: #FFFFFF;
$black: #000000;
$blue: #00b7fe;
$pink: #FF69B4;
$red: #D60539;

/* 1. Main */
body {
    background: $white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $black;
    margin: 0;
}

ul {
  -webkit-padding-start: 0px
}

/* 2. Nav */

.bar {
  background: $blue;
  display: flex;
  width: 100%;
  padding: 1em;

  .title {
    font-size: 2em;
    color: $white;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .sign_out {
    margin-left: auto;
    padding-right: 1em;

    input {
      background-color: $white;
      border: none;
      border-radius: 10px;
      color: $black;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }

  .post {
    margin-right: 2em;
  }
}

/* 3. Buttons */

button {
  background-color: $white;
  border: none;
  border-radius: 10px;
  color: $black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  a {
    color: $black;
    text-decoration: none;
  }
}

/* 4. Body */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box {
        padding: 1em;
        width: 55%;
        align-self: center;
        align-content: center;
        text-align: right;
    }

    .flash {
      color: $red;
      align-self: center;
      align-content:center;
      text-align:center;

      p {
        text-align: center;
      }
    }

    h2 {
      text-align: left;
    }

    .welcome {
      text-align: center;
    }

    .new_post {
        background: #ededed;
        border-radius: 5px;
        padding: 1em 4em;
        box-shadow: 2px 2px 2px $grey;
        margin-bottom: 2em;

        li {
          list-style-type: none;
        }

        .text {
          font-size: 1.4em;
          text-align: left;
        }

        .meta {
          font-size: 1em;
          font-style: italic;
          text-align: left;
        }

        .username {
          color: $blue;
        }
    }
}

/* 5. Peep Buttons */

.peeping {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .peep_form {
    width: 100%;
    height: 75px;
    font-size: 1.6em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .peep_button {
    background-color: $blue;
    border: none;
    border-radius: 10px;
    color: $white;
    padding: 10px 28px;
    text-decoration: none;
    font-size: 16px;
    margin-left: auto;
  }
}

/* 6. Forms */

.signin_form {
  align-self: center;
  margin: auto;
  align-content:center;
  text-align:center;

  input {
    font-size: 1em;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .button {
    background-color: $blue;
    border: none;
    width: 20%;
    border-radius: 10px;
    color: $white;
    padding: 10px 28px;
    margin-left: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
