h1 {
  color: #903;
  font: 32px/1 Helvetica, Arial, sans-serif;
}
header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  padding-left: 84px;
}
p {
  font: 13px/1.4 Helvetica, Arial, sans-serif;
}
