<p>Test user!</p>

value="<%= @user.username %>"
value="<%= @user.email %>">

<form action="/users/new">
  <input type="submit" value="Sign up">
</form>
<form action="/users/sign_in">
  <input type="submit" value="Sign in">
</form>
