<ul id=peeps>
  <% if current_user %>
  <form action='/timeline/new' method='get'>
    <input type="submit" value="Post Peep">
  </form>
  <% end %>

  <% @peeps.reverse.each do |peep| %>
    <%= peep.message %> - <%= peep.time %><br>
  <% end %>
</ul>
