<% if current_user %>
  Welcome, <%= current_user.username %>!
<% end %>

<h1> Tweets: </h1>

<% @tweets.each do |tweet| %>
  <h3> Subject: <%= tweet.subject %> </h3>
  <p> Text: <%= tweet.text %> </p>
  <p> Time: <%= tweet.created_at %> </p>
<% end %>
