<html>
  <h1> Welcome to Chitter</h1>

  <h2> New users please sign up</h3>

  <h3> Sign up:</h3>
  <form method='post' action='/users/new'>
    <input type='text' name='email' placeholder= 'Email'  />
    <input type='text' name='password' placeholder= 'Password'   />
    <input type='submit' value='Register'  />

  </form>
</html>
