<h1>Welcome to Chitter! Please sign up</h1>

<form action="/users" method="post">
  <label for="email">
    Email: <input type="text" name="email" value='<%= @user.email %>'>
  </label>
  <label for="password">
    Password: <input type="text" name="password">
  </label>
  <label for="password_confirmation">
    Password Confirmation: <input type="text" name="password_confirmation">
  </label>
  <label for="name">
    Name: <input type="text" name="name">
  </label>
  <label for="user name">
    User Name:<input type="text" name="user_name">
  </label>
  <input type="submit" value="Sign up">
</form>
