<!DOCTYPE hmtl>
<html>
  <head>
    <title>Chitter</title>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>
  <body>
    <!-- <% if current_user %>
      <h1>Welcome <%= current_user.username %></h1>
      <form action='/users' method='post' >
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
      </form>
      <a href='/peeps/new' class="button">Post peep</a>
    <% end %> -->
  </body>
</html>
