<body>
    <form class="" action='/users/new' method="get">
      <input type="submit" value="Sign up">
    </form>
    <form class="" action='/sessions/new' method="get">
      <input type="submit" value="Sign in">
    </form>
</body>
