<html>
  <head>
    <title>Sign up now!</title>
  </head>
  <body>
    <h1>Sign up now!</h1>
    <form action="/users" method="POST">
      Name:
      <input type="text" name="name" value="<%=@user.name%>" required>
      <br>
      Username:
      <input type="text" name="username" value="<%=@user.username%>" required>
      <br>
      Email:
      <input type="text" name="email" value="<%=@user.email%>" required>
      <br>
      Password:
      <input type="password" name="password" required>
      <br>
      Confirm password:
      <input type="password" name="password_confirmation" required>
      <br>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
