<h1>Welcome to Chitter!</h1>
<img src="https://pixabay.com/static/uploads/photo/2015/10/27/16/06/cup-1009225_640.jpg"></img>
<h2>Please sign up:</h2>
<form action="/signup" method="post">
  <label>Email</label>
    <input type="text" name="email">
  <label>Password</label>
    <input type="text" name="password">
  <label>Name</label>
    <input type="text" name="name">
  <label>Username</label>
    <input type="text" name="username">
  <input type="submit" value="Sign up">
</form>
