<div>
  <form action="/messages" method="post">
    <input type="text" name="content">
    <input type="submit" value="submit message">
  </form>
</div>

<% if @messages %>
	<%= @messages %>
<% end %>