<div id='user_log_in'>
  <% if flash[:errors] %>
    <p><%= pretty_errors(flash[:errors]) %></p>
  <% else %>
    <p>Please enter your handle and password.<p>
  <% end %>
  <form action='/log-in' method='post'>
    <p>Handle:&nbsp;&nbsp; <input name='handle' maxlength='15' style='font-family:monospace'></p>
    <p>Password: <input name='password' type='password' style='font-family:monospace'></p>
    <button type='submit'>Log in</button>
    <button type='submit' formaction='/' formmethod='get'>Cancel</button>
  </form>
  <hr>
</div>
