<% if flash.now[:errors] && !flash.now[:errors].empty? %>
  Please see the following errors:
  <ul id="errors">
    <% flash.now[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h1>Welcome to Chitter sign up page</h1>
<h2>Sign up, and start peeping!</h2>

<form action="/create_user" method="post">
  <label for="username">
    Pick a username:<br><input type="text" name="username" value="<%= @user.username %>"><br>
  </label>
  <label for="email">
    Enter your email:<br><input type="text" name="email" value="<%= @user.email %>"><br>
  </label>
  <label for="password">
    Enter a password:<br><input type="password" name="password"><br>
    </label>
  <label for="password_confirmation">
    Confirm your password:<br><input name="password_confirmation" type="password">
  </label>
  <br>
  <br>
  <input type="submit" value="Sign Up!">
</form>
