<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
<title>G9A2HvK9 - Chitter Challenge at Maker's Academy, April 2017 Cohort - May 2017</title>
</head>

<body>
  You are logged in as <%= @current_user.first_name %> <%= @current_user.last_name %>
</body>

</html>
