<h1>Welcome to Chitter log in page</h1>
<h2>Log in, and start peeping!</h2>

<form action="/welcome" method="post">
  <label for="session[username]">
    Enter your username or email:<br><input type="text" name="session[username]"><br>
  </label>
  <label for="session[password]">
    Enter your password:<br><input type="text" name="session[password]"><br>
  </label>
  <br>
    <input type="submit" value="Log In">
</form>
