<div id='welcome'>
  <p>Welcome to Chitter. Log in or sign up to start peeping.</p>
  <form action='/log-in' method='get'>
    <button type='submit'>Log in</button>
    <button type='submit' formaction='/sign-up'>Sign up</button>
  </form>
  <hr>
</div>
