<% if current_user %>
  <p>Welcome, <%= current_user.email %></p>
  <form method='post' action='/sessions'>
     <input type='hidden' name='_method' value='delete'>
     <button type='submit'>Sign out</button>
   </form>
<% end %>
