<!DOCTYPE html>
<html>
  <header>
    <div> <a id="logo" href='/'> Chitter </a></div>
      <% if current_user %>
        <span id="welcome-message">
          Welcome, <%= current_user.username %>
        </span>
        <form method="post" class="button" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      <%else%>
        <a href='/users/new' id='sign-up' class='button'>Sign up</a>
        <a href='/sessions/new' id='sign-in' class='button'>Sign in</a> 
      <% end %>
 </header>
</html>