<header>
  <div id="logo">Chitter</div>
  <div id="user-peeps">
    <% if current_user %>
      <span id="welcome-message">
        Welcome, <%= current_user.handle %>
      </span>
      <form id="sign-up" class='button' method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
    <% else %>
      <a href='/users/new' id='sign-up' class='button'>Sign up</a>
      <a href='/sessions/new' id='sign-in' class='button'>Sign in</a>
    <% end %>
  </div>
</header>
