<% if current_user %>
  Welcome, <%= current_user.user_name %>
  <form method="post" action="/">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign out">
  </form>
<% end %>
