<div id='welcome'>
  <p>Welcome to PeepShow. Log in or sign up to start peeping.</p>
  <form style='display:inline-block' action='/log-in' method='get'>
    <button type='submit'>Log in</button>
  </form>
  <form style='display:inline-block' action='/sign-up' method='get'>
    <button type='submit'>Sign up</button>
  </form>
  <hr>
</div>
