<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <p> Welcome to Chitter!</p>
  <form action= '/registration' method='get'>
    <input type= 'submit' value='Register' />
  </form>
  <form action= '/sign_in' method='get'>
    <input type= 'submit' value='Sign in' />
  </form>
</body>
</html>
