<% if current_user %>
  Welcome <%= current_user.name %>!
  <form method="post" action="/">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>
<% else %>
  <a href="/log_in/new">Log in</a>
  <a href="/sign_up/new">Sign up</a>
<% end %>