<body>
  <h1>Welcome to Chitter</h1>
  <h3>Please either log in OR create a new account</h3>
  
  <form action="/aign_in">
    <input type="submit" value="Log In">
  </form>

  <form action="/create_user">
    <input type="submit" value="Create Account">
  </form>
</body>
