<div align="center">

<h3>Enter your peep below -- <a href="/read_peep"> Read peeps</a></h3>
  <form id="peep-form" action="/peeps" method="post">
    <textarea rows="4" cols="50" maxlength="140" form="peep-form" name="peep_content" id="peep_content">

    </textarea> <br>
    <input type="submit" name="submit" value="Post your peep">
  </form>
</div>
