<!DOCTYPE html>
<html>
<head></head>
<h1>Write a new Peep</h1>
<form action="/add" method="post">
  <label for="name">
    Enter your name:
    <br>
    <input type="text" name="name">
  </label>
  <br>
  <br>
  <label for="handle">
    Enter your username (handle):
    <br>
    <input type="text" name="handle">
  </label>
  <br>
  <br>
  <label for="message">
    Peep:
    <br>
    <textarea name="message" rows="3"></textarea>
  </label>
  <p><input type="submit" value="Save"></p>
</form>
