<body>
  <center>
<h1> Welcome <% if current_user %> <%= current_user.username %><% end%>!</h1>
  <h2> Welcome to the chitter feed! </h2>

  <form action='/chitter_feed/new' method="get">
    <input type="submit" value="Add peep">
  </form>

<div class="peep-box">
  <ul id="peeps">
    <% @peeps.reverse.each do |peep| %>
      <div>
        <li>
          <%=peep.user.username%><br>
          <% t = peep.time %>
          <%=peep.message %><br>
          <%=t.strftime("Posted on %m/%d/%Y at %I:%M%p")%><br>
        </li>
      </div>
    <% end %>
  </ul>
</div>

  <div>
    <form action='/sessions' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type="submit" value="Log out">
    </form>
  </div>
</body>
