<div class="center">
  What's on your mind?
<form method='post' action='/chitter-feed/new'>
  <label for='peep'>
      <input id='peep' type='text' name='message' placeholder="Enter Peep Here"></label>
  <button type='submit'>Peep!</button>
</form>
</div>
