<body>
  <h2>Add</h2>
  <form class="add_form" action="/chitter_feed/new" method="post">
  <div>
    <input type="text" name="message" placeholder="Enter Peep Here">
  </div>
  <div>
    <input type="submit" value="Peep Away!">
  </div>

  </form>
</body>
