<% if current_user %>Welcome, <%= current_user.name %><% end %>

<% if current_user %>
<form method='get' action='/chitter-feed/new'>
  <button type='submit'>Add peep</button>
</form>
<form method='post' action='/session/end'>
  <input type='hidden' name='_method' value='delete'>
  <button type='submit'>Log out</button>
</form>
<% end %>

Working?

<% @peeps.each do |peep| %>
<ul><%= peep.content %> @ <%= peep.time_created.strftime("%c") %></ul>
<% end %>
