<h1>Submit a new blabb!</h1>

<div id='new-blabb'>
  <form action='/blabbs' method='post'>
    <p>
    <input type='text' name='message' placeholder='blabbs'>
    </p>
    <p>
    <input type='submit' value='Add blabb' class='button highlighted'>
    </p>
  </form>
</div>