<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User sign up</h1>
    <form class="" action="/user_authentication/sign_up" method="post">
      <label for="">
        Username:
        <input type="text" name="user_name" value="">
      </label>
      <label for="">
        Password:
        <input type="text" name="password" value="">
      </label>
      <input type="submit" name="" value="Submit">
    </form>

  </body>
</html>
