<center><h1> Chitter </h1></center>
<center><h2> What's on your mind? </h2></center>

<center>
<form action='/peep' method='post' id='publish-form'>
  <input type='text' name='message' placeholder='Write it here!' id='publish-field' required/>
  <input type='submit' value='Publish' name='publish' id='publish-button'/>
</form>
</center>
