
<body style ="background-image:url(https://pixabay.com/get/52e3d6424251a914f6d1867dda6d49214b6ac3e45657724c772878d09f/ocean-4331835_1920.jpg)">


<form action="/peep" method="post">
  <input type="text" name="url" />
  <input type="submit" value="Submit" />
</form>
