<form action="/users" method="post">
  <input type="text" name="name" />
  <input type="email" name="email" />
  <input type="text" name="user_name" />
  <input type="password" name="password" />
  <input type="submit" name="submit"  value="Submit" />
</form>
