<h1>Sign up</h1>

<form action="/signup" method="post">
  <label>Name</label>
    <input type="text" name="name">
  <label>Username</label>
    <input type="text" name="username">
  <label>Email address</label>
    <input type="text" name="email">
  <label>Password</label>
    <input type="text" name="password">
  <label>Password Confirmation</label>
    <input type='password' name='password_confirmation'>
  <input type="submit" value="Sign up">
</form>
