<h1>Please sign up</h1>

<form action="/users" method="post">
	Email:<input type="text" name="email">
	Password:<input type="text" name="password">
	Confirm Password:<input type="text" name="password_confirmation">
	<input type="submit" value="Sign Up">
</form>