
<br><br>
<form method="post" action='/users' align=center>
  Name:  <input type="text" name='name'><p>
  User_name: <input type="text" name='user_name'><p>
  Email: <input name="email" type="text" value="<%= @user.email %>"><p>
  Password: <input type="password" name='password'><p>
  Password Confirmation: <input name="password_confirmation" type="password">
  <p><p>
  <input type="submit" value="Sign up">
</form>




