<form action='/users/new' method='post'>
  Name:
  <input type='text' name='user_name' placeholder='Your name'><br>
  Email:
  <input type='text' name='user_email' placeholder='Your email'><br>
  <input type='submit' value='Sign up'>
</form>
