<h3>Hi stranger! Please sign up to chitter!</h3>

<form action="/users" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" value="<%= @user.email %>" required>
  <label for="name">Name:</label>
  <input type="text" name="name" required>
  <label for="username">Username:</label>
  <input type="text" name="username" required>
  <label for="password">Password:</label>
  <input type="text" name="password" required>
  <label for="password_confirmation">Confirm password:</label>
  <input type="text" name="password_confirmation" required>
  <input type="submit" value="Sign up">
</form>
