<section class="signupbox">
	<section class="signup">
		<p class="signupline">Sign up to Chitter!</p>
		<form action='/users' method='post'>
			<input name='email' placeholder="Email" size="40" style="font-size: 14px" type='text' value='<%= @user.email%>'><br>
			<input name='password' placeholder="Password" size="40" style="font-size: 14px" type='password'><br>
			<input name='password_confirmation' placeholder="Password Confirmation" size="40" style="font-size: 14px" type='password'><br>
			<input name= 'name' placeholder="Full Name" size="40" style="font-size: 14px" type='text' value='<%= @user.name%>'><br>
			<input name='username' placeholder="Username" size="40" style="font-size: 14px" type='text' value='<%= @user.username%>'><br>
			<input type='submit' value='Sign up' class="subsignin">
		</form>
	</section>
</section>