<h1>Please sign up</h1>

<form action='/users' method='post'>
	Email:<input name='email' type='text' value='<%= @user.email%>'>
	Password:<input name='password' type='password'>
	Password Confirmation:<input name='password_confirmation' type='password'>
	Name:<input name= 'name' type='text'>
	Username:<input name='username' type='text'>
	<input type='submit' value='Sign up'>
</form>