<div id="sign-up-form">
  <form action="/users/new" method="post">
    Name: <input type="text" name="name">
    Username: <input type="text" name="username">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <button>Sign Up</button>
  </form>
</div>