<h1>Please sign up to Chitter!</h1>

<form action='/users' method='post'>
  Email: <input name='email' type='text' value='<% @user.email %>'><br><br>
  Username: <input name='username' type='text'><br><br>
  Name: <input name='name' type='text'><br><br>
  Password: <input name='password' type='password'><br><br>
  Password confirmation: <input name='password_confirmation' type='password'><br><br>
  <input type='submit' value='Sign up'>
</form>