<h2> Sign up below </h2>

<form method="post" action="/users">
  <label for="email">Email</label>
  <input type="email" name="email" value='<%= @user.email %>' required></input><br>
  <label for="name">Full name</label>
  <input type="text" name="name" required></input><br>
  <label for="username">Username</label>
  <input type="text" name="username" required></input><br>
  <label for="password">Password</label>
  <input type="password" name="password" required></input>
  <label for="password_confirmation">Confirm Password</label>
  <input type="password" name="password_confirmation" required></input>
  <input type="submit" value="submit"></input>
</form>
