<h1> Hi new user. We'd love you to sign up </h1>
<form action = '/users/new' method = 'post'>
  <input type='text' name="email" placeholder="email">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign up">

</form>
