<h1>Please sign up</h1>

<% if flash[:errors] && !flash[:errors].empty? %>
  <div id='errors'><% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
<% end %>

<form action="/users" method="post">
	Name: <input type="text" name="name">
	Username: <input type="text" name="username">
	Email: <input type="text" name="email" value="<% @user.email %>">
	Password: <input type="password" name="password">
	Confirm Password: <input type="password" name="password_confirmation">
	<input type="submit" value="Sign Up">
</form>