<form action="/users" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name"/>
  <label for="email">email</label>
  <input type="text" name="email" id="email"/>
  <label for="password">password</label>
  <input type="password" name="password" id="password"/>
  <input type="submit" value="Submit" />
</form>
