<form action="/users" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" />
  <label for="email">Email</label>
  <input id="email" type="email" name="email" />
  <label for="user_name">Username</label>
  <input id="user_name" type="text" name="user_name" />
  <label for="password">Password</label>
  <input id="password" type="password" name="password" />
  <input type="submit" name="submit"  value="Submit" />
</form>
