<div>

<h2>Sign up for Chitter</h2>
<form method="POST" action="/users">
  Email address: <input type="text" name="email"><br>
  Password: <input type="password"  name="password"><br>
  <input type="submit" value="Sign up">
</form>

</div>
