<form id='new_account' class="sign up" action="/accounts" method="post">
  <div id='new_username'>
    <label>
      Username:
    </label>
    <input id='entry' type="text" name="username" required>
  </div>
  <div id='new_email'>
    <label>
      Email Address:
    </label>
    <input id='entry' type="email" name="email" required>
  </div>
  <div id='new_password'>
    <label>
      Password:
    </label>
    <input id='entry' type="password" name="password" required>
  </div>
  <div id='new_password_confirmation'>
    <label>
      Password Confirmation:
    </label>
    <input id='entry' type="password" name="password_confirmation" required>
    <input id='register_button' type="submit" value="sign up">
  </div>
</form>
